@import '/styles/public.css';
@import '/templates/topstep/topstep.css';
page{
    height: 100%
}
.p-container{
    min-height: 100%;
    background: #41349E
}
.p-container .bg-one {
    width:100%;
    margin:0px;
    padding: 0px;
    position: absolute;
    z-index: 1;
}
.wenan{
    text-align: center;
    color: #fff;
    font-size: 30rpx;
    padding:40rpx 0px;
}
.wenan text{
    color: #0FEBFF;
    font-size: 46rpx;
}
.wenan-bottom{
    padding-top:420rpx;
    color: #fff;
    text-align: center
}
.input-box{
    width:80%;
    margin:20rpx auto;
    position: relative;
}
.input-box image{
    width:100%
}
.input-box input{
    width:85%;
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    margin:auto;
    color:#fff !important;
    font-family: '微软雅黑'
}
.end-mask{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 5;
    display: table;
}
.end-box{
    display: table-cell;
    vertical-align: middle;
}
.end-content{
    width:80%;
    margin:0px auto;
    position: relative
}
.end-box image{
    width:100%;
}
.close-icon{
    position: absolute;
    right: 0px;
    z-index:999;
    top:-10px;
}
.wenan-text{
    color:#fff;
    text-align: center;
    position:absolute;
    width:100%;
    height: 100%;
    top:0px;
    left: 0px;
}
.ok-btn{
    display: inline-block;
    border:1px solid #0FEBFF;
    padding:15rpx 80rpx;
    color:#FFF100;
    margin-top: 20rpx;
}