
/*公共样式*/
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before,
*:after{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{-webkit-text-size-adjust: none}
html{font-size: 100px;}
body{font-size: 0.3rem}
body{display: none; visibility:visible;}
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){html{font-size: 112.5px;}}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){html{font-size: 117.1875px;}}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){html{font-size: 129.375px;}}
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){html{font-size: 128.75px;}}
:-moz-placeholder{color: #a9a9a9;}
::-moz-placeholder{color: #a9a9a9;}
input:-ms-input-placeholder{color: #a9a9a9;}
input::-webkit-input-placeholder{color: #a9a9a9;}
.m-wrap{max-width: 640px; min-width: 320px; width: 100%; margin: auto; overflow:hidden;}
header{height:50px; line-height:50px; background:#fff; /*position:relative;*/ z-index:2}
header .m-header-left,header .m-header-right{position:absolute; top:0;width:50px; text-align:center; font-size:24px; color:#666}
header .m-header-tit{text-align:center; margin-left: 1em;font-size: 0.3rem;}
header .m-header-left{display:block; margin-left:0.6rem;height:50px; background:url(../img/logo-r.png) no-repeat; width:30%; background-size: auto 0.5rem; background-position-y: center;}
header .m-header-right{right:0; height:50px}
header .m-header-city{position:absolute; font-size:0.8em; top:0; left:32%; margin-left: 0.85rem}
header .m-header-city i.fa:before{font-size:0.8em; margin-left:5px; vertical-align: 4px;}
article{overflow:hidden}
/*头部导航公共*/
header .new-kefu-erji{width: 60px; height: 50px; position: absolute; right: 35px; top:0;}
header .new-kefu-erji .new-kefu-icon{width: 20px; height: 26px; margin-left: 10px; margin-top: 13px; float: left; background: url(../img/common-icon.png); background-size: 100%;}
header .new-kefu-erji .new-app-icon{width: 28px; height: 28px; margin-top: 10px; float: left; background-size: 100%;}
#nav-close-cha{display: none;}
.close-cha-icon{width: 26px; height: 26px; display: block; margin-left: 12px; margin-top: 12px; background: url(../img/header-close.png) no-repeat; background-size: 100%;}
.nav-fixed-box{width: 100%; height: 100%; background: rgba(0,0,0,.3); position: fixed; left: 0; top: 0; z-index: 3; display: none; transition: all .5s ease;}
.new-nav-m li .nav-home-icon{background-position: 0px -23px;}
.new-nav-m li .nav-huxing-icon{background-position: 0px -45px;}
.new-nav-m li .nav-baojia-icon{background-position: 0px -67px;}
.new-nav-m li .nav-company-icon{background-position: 0px -268px;}
.new-nav-m li .nav-gonglue-icon{background-position: 0px -288px;}
.new-nav-m li .nav-xiaoguo-icon{background-position: 0px -90px;}
.new-nav-m li .nav-anli-icon{background-position: 0px -113px;}
.new-nav-m{width: 45%; position: absolute; right: -50%; top: 44px; border-radius: 4px; background: #fff; z-index: 4; display: none; line-height: 44px; /*transition: all .5s ease;*/}
.new-nav-m:before{content: ''; width: 0; height: 0; display: block; border-right: 7px solid transparent; border-bottom: 7px solid #fff; border-left: 7px solid transparent; position: absolute; right: 11px; top: -7px; z-index: 4;}
.new-nav-m li{margin-left: 10px; margin-right: 10px;}
.new-nav-m li a{width: 100%; height: 100%; display: block; font-size: 15px; height: 44px; border-bottom: 1px solid #e0e0e0; box-sizing: border-box;}
.new-nav-m li:last-child a{border-bottom: 0;}
.home-nav-icon{width: 16px; height: 21px; display: block; float: left; background: url(../img/common-icon.png) no-repeat; background-size: 100%; margin-top: 12px; margin-right: 10px; margin-left: 5px;}
/*新客服弹框*/
.new-kefu{width: 80%;height: 180px; background: #fff; border-radius: 5px; margin: auto; position: fixed; left: 0;top: 0; right: 0;bottom: 0; z-index: 4; display: none;}
.new-kefu-main{width: 210px; overflow: hidden; margin: 0 auto; margin-top:44px;}
.new-kefu-fl{float: left; width: 80px;}
.contact-btn{width: 60px; height: 60px; margin-left: 10px; background: url(../img/contact-icon.png) no-repeat; background-size: 100%;}
.contact-text{text-align: center; font-size: 15px; color: #333;}
.new-huo-text{float: left; width: 50px; text-align: center;}
.new-huo-text .huo-text{font-size: 14px; line-height: 66px; color: #999;}
.new-kefu-fl .phone-contact{background-position: 0 -60px;}
.new-kefu-close{width: 30px; height: 30px; font-size: 18px; text-align: center; line-height: 30px; position: absolute; top: 0;right: 0; color: #999;}
.new-kefu-close i{text-stroke:2px #fff; -webkit-text-stroke:2px #fff;}
.m-header-his{position:absolute; z-index:9999; top:0;width:0.6rem; text-align:center; font-size:1.5em; color:#666; height:50px;}
footer{text-align:center; width:100%; padding:0.48rem 0; font-size:0.24rem;}
footer .hot{color:#FF5255}
footer .links{font-size:1.8em}
/*底部公共*/
footer .footer-tel{font-size: 16px;}
footer .footer-title{font-size: 14px; margin-top: 10px;}
footer .footer-webadress{font-size: 10px; line-height: 0.4rem}
.foot-discliamer{line-height: 0.4rem}
footer .footer-app-download > p{margin:0.10rem 0; width: 40%;height: 0.86rem;line-height: 0.86rem;border-radius: 0.43rem;background-position:0.34rem center;background-size: 0.48rem auto;padding: 0 0.15rem 0 0.70rem;}



.clearfix::before,
.clearfix::after{
  display: none !important;
}
.com-bigbox{
    overflow: hidden;
}
.m-bread {
    width: 100%;
    height: 0.80rem;
    overflow: hidden;
    padding-left: 0.20rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    box-sizing: border-box;
    line-height: 0.80rem;
    font-size: 0.22rem;
    border-top: 0.10rem solid #eee;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.m-bread h1{
    display: inline-block;
    line-height: 0.80rem;
    font-size: 0.22rem;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.introduce{
    width:94%;
    margin:0 auto;
    box-sizing: border-box;
    min-height:1.16rem;
    overflow: hidden;
    padding:0.16rem 0.24rem;
    background:rgba(244,244,244,1);
    font-size:0.24rem;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:0.44rem;
    margin-bottom: 0.20rem;
}
/*公司*/
.c-main{
    width: 94%;
    margin:0.20rem auto;
    margin-bottom: 0;
    overflow: hidden;
}
.c-main .c-title{
    overflow: hidden;
}
.c-main .c-title .com-big{
    display: flex;
    align-items: center;
    height: 0.52rem;
    font-size:0.32rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.com-big .com-icon{
    width:0.04rem;
    height:0.30rem;
    margin-right: 0.12rem;
    background:rgba(255,83,83,1);
}
.com-big .com-name{
    font-size:0.32rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
    width: 88%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.c-main .c-title .com-small{
    font-size:0.24rem;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:0.44rem;
}
.swiper-pagination{
    margin-top:0.20rem;
}
.swiper-wrapper{
    width: 100%;
    min-height: 2.60rem;
    padding-bottom: 0.20rem;
}
.com-goods{
    width:48%;
    height:2.44rem;
    margin-bottom: 0.26rem;
    background:rgba(255,255,255,1);
    box-shadow:0 0 0.10rem 0 rgba(0, 0, 0, 0.1);
}
.swiper-slide{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding:0.20rem 0.10rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.swiper-pagination-bullet-active{
    background: #FF5353 !important;
}

.com-goods{
    display: flex;;
    flex-direction: column;
    align-items: center;
}
.com-goods .goods-box{
    display: block;
    width: 2.06rem;
    height: 1.00rem;
    border-radius:0.08rem;
    margin:0.28rem;
    margin-bottom: 0.20rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.com-goods .goods-box img{

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width: 100%;
    min-height: 100%;
    display: block;
}
.com-goods .g-tip{
    display: block;
    width: 90%;
    text-align: center;
    font-size:0.28rem;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.com-goods .g-con{
    width: 90%;
    text-align: center;
    font-size:0.24rem;
    font-weight:500;
    color:rgba(102,102,102,1);
    margin-top:0.06rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/*案例*/
.case{
    margin-top:0;
}
.case-goods{
    width:48%;
    height:4.1rem;
    overflow: hidden;
    margin-bottom: 0.26rem;
    background:rgba(255,255,255,1);
    box-shadow:0 0 0.10rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.case-goods img{
    width: 100%;;
    height: 2.56rem;
    display: block;
    background: #0bd1b3;
}
.case-goods .c-tip{
    text-align: left;
    font-size:0.28rem;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:0.56rem;
    width: 90%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.case-goods .c-con{
    text-align: left;
    font-size:0.24rem;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:0.44rem;
    width: 90%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.case-goods .c-class{
    text-align: left;
    font-size:0.24rem;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:0.44rem;
    width: 90%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.case-goods .c-time{
    text-align: left;
    font-size:0.24rem;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:0.44rem;
    width: 90%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.c-pic{
    display: block;
    width: 100%;
    height: 2.60rem;
    overflow: hidden;
}
.c-pic img{
    display: block;
    width: 100%;
    height: 100%;
    background: #0bd1b3;
}
.learning .c-con .learn-item{
    height: 1.60rem;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    overflow: hidden;
    margin:0.10rem 0;
    margin-bottom: 0.20rem;
}
.learn-item .item-img{
    display: block;
    width: 2.20rem;
    height: 100%;
    background: #0bd1b3;
    overflow: hidden;
}
.learn-item .item-img img{
    display: block;
    width: 100%;
    height: 100%;
}
.learn-item .lea-con{
    height: 100%;
    display: flex;
    width: 66%;
    flex-direction: column;
    justify-content: space-between;
}
.lea-title{
    margin-top:0.16rem;
    width: 100%;
    font-size:0.32rem;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:0.48rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.lea-time{
    font-size:0.24rem;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:0.48rem;
}
.tips .c-con{
    overflow: hidden;
    padding:0.20rem 0;
}
.tips-item{
    height:0.40rem;
    background:rgba(228,228,228,1);
    font-size:0.24rem;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:0.40rem;
    overflow: hidden;
    float: left;
    margin-right: 0.20rem;
    padding:0 0.12rem;
    margin-bottom:0.20rem;
}
/*1059 页面头部和底部兼容*/
header .new-kefu-erji .new-daohang-icon{
    width: 0.5rem;
    height: 0.5rem;
    right: -0.28rem;
    margin-top: 11px;
}
footer .footer-tel .phone-box img{
    width: 0.28rem;
    height: 0.31rem;
}
footer .footer-app-download > p{
    width: 3.7rem;
    height: 0.64rem;
    line-height: 0.64rem;
    padding-left: 0.64rem;
    border-radius: 0.32rem;
    margin: 0 auto;
}
.footer-app-download p img {
    width: 0.44rem;
    height: 0.44rem;
    left: 0.25rem;
}
.daohang-mask .daohang-box {
    height: 7.63rem;
}
.daohang-mask .daohang-box ul li img {
    width: 1.06rem;
    height: 1.06rem;
}
.daohang-mask .daohang-box ul li img.dia-img {
    width: 0.58rem;
    height: 0.28rem;
}
.daohang-box .close-daohang {
    width: 0.9rem;
    height: 0.9rem;
}
.daohang-mask .daohang-box ul li p {
    font-size: 0.24rem !important;
}
.daohang-mask .daohang-box ul li{
    margin-bottom: 0.3rem;
}