@charset "utf-8";
.flex{
    display:flex;
  }
  .jus-bet{
    justify-content: space-between;
  }
  .jus-aro{
    justify-content: space-around;
  }
  .ali-ite{
    align-items: center;
  }
  .mt14{
    margin-top: 14px;
  }
  .mt20{
    margin-top: 20px;
  }
  .mt24{
    margin-top: 24px;
  }
  .mt28{
    margin-top: 28px;
  }
  .mt30{
    margin-top: 30px;
  }
  .mt40{
    margin-top: 40px;
  }
  .mt42{
    margin-top: 42px;
  }
  .mt32{
    margin-top: 32px;
  }
  .mt45{
    margin-top: 45px;
  }
  .mt50{
    margin-top: 50px;
  }
  .mt60{
    margin-top: 60px;
  }
  .mt67{
    margin-top: 67px;
  }
  .mt126{
    margin-top: 126px;
  }
  .login{
    width: 100%;
    height: 100%;
    background-image: url('http://staticqn.qizuang.com/custom/20201010/FsjCMucBEuy3lSP7CebBfkAdzI4H');
    background-repeat:no-repeat;
    background-size:100% 100%;
    padding:8% 0 0 0;
  }
  .login-card {
    width: 960px;
    height: 520px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 20px 5px #c8c8c8 ;
    border-radius: 6px;
  }
  .logo{
    width: 179px;
    height: 65px;
  }
  .qrcode-div{
    width:385px;
    height: 520px;
    text-align: center;
    background-color:#585E69;
    border-radius: 6px 0 0 6px;
  }
  .qrcode{
    width: 210px;
    height: 210px;
  }
  .guide{
    width: 210px;
    height: 210px;
    position: relative;
    margin: 45px auto 0 auto;
  }
  .guide:hover>.guide-div{
    width: 302px;
    height: 469px;
    position: absolute;
    left: 200px;
    top: -150px;
    background-image: url('http://staticqn.qizuang.com/custom/20201010/FqxV3gEyI7PRCL7m0f71whfiuddt');
    background-repeat:no-repeat;
    background-size:100% 100%;
    z-index: 1;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
    z-index: 2;
  }
  .guide-div{
    left: 180px;
    opacity: 1;
    z-index: 2;
  }
  .form{
    width:615px;
    height: 520px;
    border-radius: 0 6px 6px 0;
  }
  .loginmsg{
    width: 400px;
    margin: 0 auto;
  }
  .tabs-login{
    width: 400px;
    height: 50px;
    line-height: 50px;
  }
  .item{
    margin-right:20px;
    padding:0 10px;
  }
  .on{
    border-bottom:2px solid;
    color:#D92B2B;
  }
  .point{
    cursor: pointer;
  }
  .depuser{
    width: 100%;
    height: 45px;
    line-height: 45px;
  }
  .colFF4F64{
    color: #FF4F64;
  }
  .col0091FF{
    color: #0091FF;
  }
  .majoritybtn{
    width: 100%;
    height: 45px;
    line-height: 45px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
  }
  .canNotPoint{
      background-color: #E46A6A;
  }
  .canPoint{
      background-color: #D92B2B;
  }
  .bold{
    font-weight: bold;
  }
  .setpass{
    margin-left: 5px;
  }
  .font17{
    font-size: 17px;
  }
  .font16{
    font-size: 16px;
  }
  .font18{
    font-size: 18px;
  }
  .font13{
    font-size: 13px;
  }
  .font14{
    font-size: 14px;
  }
  .font21{
    font-size: 21px;
  }
  .font24{
    font-size: 24px;
  }
  .w280{
    width: 280px;
  }
  .sendcode{
    width: 110px;
    margin-left: 6px;
    text-align: center;
    border: 1px solid #F699A4;
    background-color: #FFFBFC;
    color: #FF4F64;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }
  .sendcodedisable{
    width: 110px;
    margin-left: 6px;
    text-align: center;
    border: 1px solid #DCDFE6;
    background-color: #FFFBFC;
    color: #999;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }
  .colfff{
    color: #fff;
  }

  .cencontent{
    width: 1100px;
    margin: 0 auto;
  }
  .h130{
    height: 130px;
  }
  .hl72{
      height: 72px;
      line-height: 72px;
  }
  .h600{
      height: 600px;
  }
  .register{
      width: 100%;
      height: 100%;
      background-color: #F6F6F6;
  }
  .registertitle{
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid;
  }
  .navlogotitle{
    height: 40px;
    line-height: 40px;
  }
  .tabstep{
      width: 700px;
      text-align: center;
      margin: 0 auto;
  }
  .fg{
      flex-grow: 1;
  }
  .bor-b{
      border-bottom: 2px solid #D92B2B;
      color: #333;
  }
  .dividingline{
      border-bottom: 1px solid #E2E2E2;
  }
  .stepcontent1{
      width: 380px;
      margin: 43px auto;
  }
  .stepcontent2{
      width: 400px;
      margin: 30px auto;
  }
  .steppassword2{
      width: 500px;
      margin: 61px auto;
  }
  .stepcontent3{
    width: 400px;
    margin: 92px auto;
    text-align: center;
  }
  .fill{
      width: 100%;
  }
  .inputcheckbox{
      vertical-align: middle;
  }
  .backbtn{
    text-align: center;
    width: 138px;
    height: 45px;
    line-height: 45px;
    outline: none;
    border: 1px solid #E1E1E1;
    color: #797979;
    background-color: #fff;
    border-radius: 4px;
  }
  .p-backbtn{
    width: 160px;
    height: 40px;
    outline: none;
    border: 1px solid #E1E1E1;
    color: #797979;
    background-color: #fff;
    border-radius: 4px;
  }
  .nextstepbtn{
      width: 138px;
      height: 45px;
      outline: none;
      border: none;
      color: #fff;
      border-radius: 4px;
  }
  .p-nextstepbtn{
    width: 160px;
    height: 40px;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
  }
  .bgfff{
      background-color: #fff;
  }
  .col666{
    color: #666;
  }
  .icon-div{
    width: 48px;
    margin-right: -2px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    background: #FCFCFC;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #DADADA;
    border-right: none;
  }
  .pub-sty input{
    border-radius: 0 2px 2px 0;
    height: 42px;
  }
  .front-icon{
    width: 38px;
    height: 38px;
    margin-right: -40px;
    z-index: 1;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    color: #C7C7C7;
    border-right: 1px solid #C7C7C7;
  }
  .pl52 input{
    padding-left: 52px;
  }
  .suc-img-div{
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .suc-img{
    width: 100%;
    height: 100%;
  }
  .colE46A6A{
    color: #E46A6A;
  }
  .tologin-btn{
    width: 380px;
    height: 40px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2px;
  }
  .agreement{
    height: 20px;
    line-height: 20px;
  }
  .col999{
    color: #999;
  }
  .opc{
    opacity: 1.5;
    background-color: #fff;
  }
  .beoverdue{
    width: 210px;
    height: 210px;
    background-color: rgba(225,225,225,0.9);
    position: absolute;
    top: 0;
    left: 0;
  }
  .refreshbtn{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 65px;
  }