<extend name="Main:baseTemplate" />
<block name="style">
    <link rel="stylesheet" href="/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <style>
        .cid{ color: #169BD5; }
        .cid:hover{ color: #169BD5; cursor: pointer; text-decoration: underline;}
    </style>
</block>
<block name="content">
    <section class="content-header">
        <h1>公司评论统计</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li><a href="/comments/statistics/">公司评论统计</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <form id="search_form" class="form-horizontal" method="get">
                                <div class="col-xs-12">
                                    <div class="col-xs-2">
                                        <div>城市：</div>
                                        <select id="city" name="city" class="form-control">
                                            <option value="">请选择</option>
                                            <volist name="citys" id="vo">
                                            <option value="{$vo.cid}" {$_GET['city']==$vo['cid']?'selected':''}>{$vo.char_name}</option>
                                            </volist>
                                        </select>
                                    </div>
                                    <div class="col-xs-10 set-mt16">
                                        <br>
                                        <button type="submit" id="search" class="btn btn-success col-xs-1">查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-hover" id="tablelist">
                            <thead>
                            <tr>
                                <th>城市</th>
                                <th>公司ID</th>
                                <th>公司</th>
                                <th>状态</th>
                                <th>今日评论数</th>
                                <th>本月评论数</th>
                                <th>总评论数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.cname}</td>
                                <td><a href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.comid}/" target="_blank" class="cid">{$vo.comid}</a></td>
                                <td><notempty name="vo.jc"><a href="http://{$vo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.comid}/" target="_blank" class="cid">{$vo.jc}</a></notempty></td>
                                <td>{:($vo['on']==2||$vo['on']==-4)?'VIP':($vo['on']==-1?'过期会员':'注册公司')}</td>
                                <td>{$vo.day_count}</td>
                                <td>{$vo.month_count}</td>
                                <td>{$vo.all_count}</td>
                            </tr>
                            </volist>
                            <tr>
                                <td>评论总数</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{$totals.all_day_count}</td>
                                <td>{$totals.all_month_count}</td>
                                <td>{$totals.all_all_count}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="/assets/common/js/plugins/select2/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(function() {
            $('#city').select2();
        })
    </script>
</block>
