<extend name="Common:basic"/>
<block name="title"><title>{$basic.head.title}</title></block>
<block name="keywords">
    <meta name="keywords" content="{$basic.head.keywords}"/>
</block>
<block name="description">
    <meta name="description" content="{$basic.head.description}"/>
</block>
<block name="link">
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/special/zhaoshang/css/zs.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <if condition="$header EQ ''">
        <a href="/{$cityInfo.bm}/" class="m-header-left gl-logo"></a>
        <div class="m-header-city"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>
        <else/>
        <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}"></a>
        <div class="m-header-city">·{$header}</div>
    </if>
</block>
<block name="content">
    <div class="slogan">
        <p class="one">服务1500万业主的互联网家装平台</p>
        <p class="two">诚邀您的加入~</p>
        <div class="three">
            <div id="order-form"></div>
            <p class="three-first">现在入驻</p>
            <p>免费送家装行业全网营销方案</p>
        </div>
    </div>
    <div class="order-form">
      <div class="name">
        <input class="m-row-int1 m-bj-edit-list" type="text" name="name" maxlength="20" placeholder="公司名称">
        <div class="b-warn name-warn">请输入正确的名字，仅支持中文和英文</div>
      </div>
        <div class="user">
            <input class="m-row-int1 m-bj-edit-list" type="text" name="user" maxlength="20" placeholder="您的姓名">
            <div class="b-warn user-warn">请输入正确的名字，仅支持中文和英文</div>
        </div>
        <div class="phone">
            <input class="m-row-int1 m-bj-edit-list" type="tel" name="tel" maxlength="11" placeholder="您的手机号">
            <input type="hidden" name="fb_type" value="sheji">
            <div class="b-warn tel-warn">请输入11位有效手机号</div>
        </div>
        <div class="city-select">
            <img src="/assets/mobile/special/zhaoshang/img/arrow-d.png" class="arrow-d">
            <button id="showCityPicker2" class="c-zb-city" type="button">
                <i class="fa fa-map-marker"></i>
                <empty name="info.cityarea">
                    <span style="color: #999999">请选择</span>
                <else />
                    {:getFirstChar($mapUseInfo['provincefull'])} {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                </empty>
            </button>
            <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
            <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
            <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
            <input type="hidden" name="area" data-id="{$info.cityarea.id}">
            <div class="b-warn city-warn">请选择</div>
        </div>
        <div class="disclaimer" style="height: auto;margin-bottom: 0.05rem;">
            <input type="checkbox" checked="checked" id="mianze">
            <label for="mianze" id="check" class="fa fa-check" style="border: none"></label>
            <span>我已阅读并同意齐装网的</span>
            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
        </div>
        <div class="submit">立即入驻</div>
    </div>
    <div class="change-box" style="margin-bottom: 0.05rem">
        <p class="caption">家装行业正在变化</p>
        <div class="main clearfix">
            <div class="left">
                <p class="ctn">
                    传统家装公司<span class="bl"></span>
                    <img src="/assets/mobile/special/zhaoshang/img/arrow-left.png" class="arrow-left">
                </p>
                <p class="sln">
                    营销技巧老旧
                    <img src="/assets/mobile/special/zhaoshang/img/arrow-left.png" class="arrow-left">
                </p>
                <p class="sln">
                    接单成本越来越高
                    <img src="/assets/mobile/special/zhaoshang/img/arrow-left.png" class="arrow-left">
                </p>
                <p class="sln">
                    运营成本越来越高
                    <img src="/assets/mobile/special/zhaoshang/img/arrow-left.png" class="arrow-left">
                </p>
                <div class="slni">
                    <div style="padding-right: 0.21rem"><img src="/assets/mobile/special/zhaoshang/img/ctjz.png" class="img-responsive"></div>
                    <img src="/assets/mobile/special/zhaoshang/img/arrow-left.png" class="arrow-left">
                </div>
            </div>
            <div class="right">
                <p class="ctn">现在的业主<span class="bl"></span></p>
                <p class="sln">需求复杂、多样化<span class="arrow"></span></p>
                <p class="sln">追求便捷、移动<span class="arrow"></span></p>
                <p class="sln">习惯互联网生活方式<span class="arrow"></span></p>
                <div class="slni">
                    <img src="/assets/mobile/special/zhaoshang/img/xdyz.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center; line-height: 3">投资有风险，加盟需谨慎</p>
    <div class="join-box">
        <div class="caption">
            <div class="text">
                <p class="bfs">成功的核心定律：</p>
                <p>营销方向和服务要紧跟业主的需求！</p>
            </div>
        </div>
        <div class="arrow-down">
            <img src="/assets/mobile/special/zhaoshang/img/arrow-down.png" alt="">
            <img src="/assets/mobile/special/zhaoshang/img/arrow-down.png" alt="">
        </div>
        <div class="cic">改变迫在眉睫</div>
        <div class="arrow-down" style="padding-top: 0">
            <img src="/assets/mobile/special/zhaoshang/img/arrow-down.png" alt="">
            <img src="/assets/mobile/special/zhaoshang/img/arrow-down.png" alt="">
        </div>
        <div class="join-text">
            <p class="t">加入齐装网 </p>
            <p class="b">众多服务让您共享互联网家装盛宴</p>
        </div>
        <div class="advantage advantage-left clearfix">
            <div class="cover"></div>
            <div class="img"><img src="/assets/mobile/special/zhaoshang/img/a1.png" class="img-responsive"></div>
            <div class="text">
                <p class="t">全网营销方案</p>
                <p>10年+家装行业营销专家为你</p>
                <p>量身打造2019全网营销方案！</p>
            </div>
        </div>
        <div class="advantage advantage-right clearfix">
            <div class="cover"></div>
            <div class="img"><img src="/assets/mobile/special/zhaoshang/img/a2.jpg" class="img-responsive"></div>
            <div class="text">
                <p class="t">稳定的订单量</p>
                <p>每月持续提供足量</p>
                <p>优质装修订单（家装+公装）</p>
            </div>
        </div>
        <div class="advantage advantage-left clearfix">
            <div class="cover"></div>
            <div class="img"><img src="/assets/mobile/special/zhaoshang/img/a3.png" class="img-responsive"></div>
            <div class="text">
                <p class="t">独立企业网店</p>
                <p>360°展示您的优势</p>
                <p>公开展示详细企业信息</p>
            </div>
        </div>
        <div class="advantage advantage-right clearfix">
            <div class="cover"></div>
            <div class="img"><img src="/assets/mobile/special/zhaoshang/img/a4.png" class="img-responsive"></div>
            <div class="text">
                <p class="t">免费装企培训课程</p>
                <p>《总裁课程》</p>
                <p>《员工课程》</p>
            </div>
        </div>
        <div class="advantage advantage-left clearfix">
            <div class="cover"></div>
            <div class="img"><img src="/assets/mobile/special/zhaoshang/img/a5.png" class="img-responsive"></div>
            <div class="text">
                <p class="t">精准营销推广</p>
                <p>365 X 24小时 同城不间断推广</p>
                <p>大数据算法，精准匹配用户</p>
            </div>
        </div>
        <div class="advantage advantage-right clearfix">
            <div class="cover"></div>
            <div class="img"><img src="/assets/mobile/special/zhaoshang/img/a6.png" class="img-responsive"></div>
            <div class="text">
                <p class="t">完善售后服务</p>
                <p>免费培训快速签单法</p>
                <p>一对一协助跟单</p>
            </div>
        </div>
        <p class="advantage-more">还有超多超值服务等您来享受！</p>
        <div class="qzstrength-box">
            <p class="caption">齐装网的实力</p>
            <ul class="main clearfix">
                <li>
                    <div class="img"><img src="/assets/mobile/special/zhaoshang/img/yezhu.png" alt=""></div>
                    <p class="t">1500万</p>
                    <p>服务业主</p>
                </li>
                <li>
                    <div class="img"><img src="/assets/mobile/special/zhaoshang/img/gs.png" alt=""></div>
                    <p class="t">6万+</p>
                    <p>合作装修公司</p>
                </li>
                <li>
                    <div class="img"><img src="/assets/mobile/special/zhaoshang/img/cs.png" alt=""></div>
                    <p class="t">500+</p>
                    <p>城市分站</p>
                </li>
                <li>
                    <div class="img"><img src="/assets/mobile/special/zhaoshang/img/fk.png" alt=""></div>
                    <p class="t">百万</p>
                    <p>日均独立访客</p>
                </li>
            </ul>
        </div>
        <div class="shop-in-box" style="margin-bottom: 0.05rem">
            <p class="caption">商家入驻流程</p>
            <div class="main clearfix">
                <div class="cross-line"></div>
                <div class="si-item">
                    <div class="img"><img src="/assets/mobile/special/zhaoshang/img/p1.png" alt=""></div>
                    <p class="t">提交申请</p>
                    <p>填写联系方式及</p>
                    <p>入驻的公司信息</p>
                </div>
                <div class="si-item">
                    <div class="img"><img src="/assets/mobile/special/zhaoshang/img/p2.png" alt=""></div>
                    <p class="t">极速审核</p>
                    <p>客服人员会尽快</p>
                    <p>电话联系并审核</p>
                </div>
                <div class="si-item">
                    <div class="img"><img src="/assets/mobile/special/zhaoshang/img/p3.png" alt=""></div>
                    <p class="t">开始合作</p>
                    <p>审核通过即可</p>
                    <p>立即接单盈利</p>
                </div>
            </div>
        </div>
        <p style="text-align: center; line-height: 3">投资有风险，加盟需谨慎</p>
    </div>
    <div class="fixed-in-now"><a href="#order-form">我要入驻</a></div>
    <div class="order-success-mask"></div>
    <div class="success-box">
        <div class="main">
            <img src="/assets/mobile/special/zhaoshang/img/right.png" alt="">
            <div class="title">申请入驻成功</div>
            <div class="c">
                <p>亲爱的合作伙伴：我们的齐装网专业服务团队</p>
                <p>稍后会与您取得联系，请保持电话畅通~</p>
            </div>
        </div>
        <div class="close-success-box"><span class="line"></span></div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(function () {
            var Global_Order_Url = "/fb_order_company/";
            // 城市选择插件
            selectQz.init({
                province:$("input[name=province]").attr("data-id"),
                city:$("input[name=city]").attr("data-id"),
                area:$("input[name=area]").attr("data-id")
            });

            $('.submit').on('click',function() {
                var checked2 = $("#mianze").is(':checked');
                $('.city-warn').hide();
                $('.name-warn').hide();
                $('.tel-warn').hide();
                $('.user-warn').hide();
                 
                
                window.order({
                    url: Global_Order_Url,
                    extra:{
                        cs:$('input[name=city]').attr('data-id'),
                        qx:$('input[name=area]').attr('data-id'),
                        name:$('input[name="name"]').val(),
                        user: $('input[name="user"]').val(),
                        tel:$('input[name="tel"]').val(),
                        source: '19030601',
                        src:"{$Think.get.src}"
                    },
                    submitBtn:{
                        className:$(this),
                        type:'btn'
                    },
                    error:function(){
                        alert("发生了未知的错误,请稍后再试！");
                         
                    },
                    success:function(data, status, xhr){
                         
                        if(data.error_code == 0) {
                            $(".order-success-mask").fadeIn(0)
                            $(".success-box").fadeIn(0)
                        }else{
                            alert(data.error_msg);
                        }
                    },
                    validate:function(item, value, method, info){
                      
                        if ('name' == item && 'notempty' == method) {
                            $('.name-warn').show().html("为了更好的服务，请输入您的公司名称");
                            return false;
                        };
                        if ('name' == item && 'isword' == method) {
                            $('.name-warn').show().html("公司名称输入有误，只支持中文、英文哦");
                            return false;
                        };
                        if ('user' == item) {
                          if(!$('input[name="user"]').val()) {
                            $('.user-warn').show().html("为方便给您服务，请输入姓名");
                            return false;
                          }
                        };
                        if ('user' == item) {
                          var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                          if(!reg.test($('input[name="user"]').val())) {
                            $('.user-warn').show().html("姓名输入有误，只支持中文、英文哦");
                            return false;
                          }
                        };
                        if ('tel' == item && 'notempty' == method) {
                            $('.tel-warn').show().html("手机号千万别忘了哦");
                            return false;
                        };
                        if ('tel' == item && 'ismobile' == method) {
                            $('.tel-warn').show().html("您的手机号输入有误，请检查一下哦");
                            return false;
                        };
                        if ('tel' == item && '' != method) {
                            $("input[name=tel]").focus();
                            return false;
                        };
                        if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                            $('.city-warn').show().html("请选择您所在的城市、区域");
                            return false;
                        };
                        if(!checked2){
                            alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                            return false;
                        }
                         
                        return true;
                    }
                });
            });
        })
        $(function () {
            //切换免责对勾
            $("#check").click(function(){
                $(this).toggleClass('fa-check');
            });
        })
        $(function () {
            // 关闭报价成功提示弹窗
            $(".close-success-box").on("click", function () {
                $(".order-success-mask").fadeOut(0)
                $(".success-box").fadeOut(0)
                location.reload()
            })
        })
        $(function () {
            // 悬浮滚屏显示
            var h = $(window).height()
            $(window).scroll(function(){
                var scrollTop = $(document).scrollTop();
                if(scrollTop > h){
                    $('.fixed-in-now').show();
                }else{
                    $('.fixed-in-now').hide();
                }
            });
            if($(document).scrollTop() > h) {
                $('.fixed-in-now').show();
            }
        })

    </script>
</block>
