<!-- type 说明： 1代表需要多少钱，2代表找公司 -->

<div class="bottom-fadan-box">
  <div class="bottom-fadan-mask"></div>
  <div class="bottom-mice-bottom"></div>
  <div class="bottom-fadan-body">
    <div class="bottom-main-raidus">
      <div class="bottom-main-header">
        <div class="bottom-header-content">
            <img src="/assets/common/img/mice-sbg.png" class="bottom-mice-bg">
          <img src="/assets/common/img/mice-sh.png" class="bottom-main-arrow" data-dir='false'>
        </div>
      </div>
      <div class="bottom-main-content clearfix">
          <div class="zxbj-box" id="step2-box1">
              <div class="znbj-con">
                <div class="bon-middle-line"></div>
                  <div class="znbj-con-box">
                      <div class="info-input znbj-con-l">
                          <div class="l-top">
                              <span class="s1">算一算</span>
                              <span class="s2">我家装修多少钱？</span>
                              <div class="lines"></div>
                          </div>
                          <div class="znbj-form validate">
                               <div id="select_box" class="form-line">
                                   <p class="mice-title">所在城市:</p>
                                  <div class="element">
                                      <select id="bon-cs" name="bon-cs"></select>
                                      <select id="bon-qy" name="bon-qy"></select>
                                  </div>
                                  <p class="error-info text-red"></p>
                              </div>
                              <div class="form-line">
                                  <p class="mice-title">房屋面积:</p>
                                  <input class="bon-mianjixz" type="number" name="bon-mianji"  maxlength="5" placeholder="输入您的房屋面积">
                                  <i class="mianji-icon">㎡</i>
                                  <p class="error-info text-red"></p>
                              </div>
                              <div class="form-line">
                                  <p class="mice-title">手机号码:</p>
                                  <input type="text" name="bon-tel" placeholder="输入手机号获取报价" maxlength="11">
                                  <input type="hidden" name="fb_type" value="baojia">
                                  <p class="error-info text-red"></p>
                              </div>
                                  <include file="Common@Order/disclamer"/>
                          </div>
                      </div>
                  </div>
                  <div class="znbj-con-m">
                      <div class="con-m-bgt">
                          <div class="clickbtn" style="width: 138px; height: 138px;" ></div>
                          <div class="cxjisuan" style="display: none;">
                             <div class="resend"></div>
                             <div class="apperweima"></div>
                             <p class="mt5">{:C('APP_OPEN_TITLE')}</p>
                             <p class="mb10">靠谱装修一齐搞定</p>
                             <div class="erweima"></div>
                             <div class="shaoma">扫一扫，获取更多免费惊喜</div>
                          </div>
                      </div>
                  </div>
                  <div class="znbj-mice-r">
                      <div class="r-top">
                          <span class="rs1">装修预算报价为：</span>
                          <span class="rs2 total-moneys">94500</span>
                          <span class="rs3">元</span>
                      </div>
                      <div class="r-box">
                          <div class="line1"></div>
                          <div class="line2"></div>
                          <div class="line3"></div>
                          <div class="line4"></div>
                          <div class="line5"></div>
                          <div class="line6"></div>
                          <div class="m-wsj">
                              <span class="m-sp">卫生间：</span>
                              <span class="money moneys1">15120</span>
                              <span>元</span>
                          </div>
                          <div class="m-cf">
                              <span class="m-sp">厨房：</span>
                              <span class="money moneys2">7560</span>
                              <span>元</span>
                          </div>
                          <div class="m-kt">
                              <span class="m-sp">客厅：</span>
                              <span class="money moneys3">23625</span>
                              <span>元</span>
                          </div>
                          <div class="m-sd">
                              <span class="m-sp">水电：</span>
                              <span class="money moneys4">23625</span>
                              <span>元</span>
                          </div>
                          <div class="m-ws">
                              <span class="m-sp">卧室：</span>
                              <span class="money moneys5">17010</span>
                              <span>元</span>
                          </div>
                          <div class="m-qt">
                              <span class="m-sp">其他：</span>
                              <span class="money moneys6">7562</span>
                              <span>元</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="zxbj-box" style="display:none;" id="step2-box2">
              <div class="znbj-con">
                  <div class="left">
                      <div class="r-top">
                          <span class="rs1">装修预算报价为：</span>
                          <span class="rs2 g-money pricess"></span>
                          <span class="rs3">元</span>
                      </div>
                      <div class="r-box">
                          <div class="line1"></div>
                          <div class="line2"></div>
                          <div class="line3"></div>
                          <div class="line4"></div>
                          <div class="line5"></div>
                          <div class="line6"></div>
                          <div class="m-wsj">
                              <span class="m-sp">卫生间：</span>
                              <span class="money g-wsj wsj-price"></span>
                              <span>元</span>
                          </div>
                          <div class="m-cf">
                              <span class="m-sp">厨房：</span>
                              <span class="money g-cf cf-price" ></span>
                              <span>元</span>
                          </div>
                          <div class="m-kt">
                              <span class="m-sp">客厅：</span>
                              <span class="money g-kt kt-price"></span>
                              <span>元</span>
                          </div>
                          <div class="m-sd">
                              <span class="m-sp">水电：</span>
                              <span class="money g-sd sd-price" ></span>
                              <span>元</span>
                          </div>
                          <div class="m-ws">
                              <span class="m-sp">卧室：</span>
                              <span class="money g-ws zw-price"></span>
                              <span>元</span>
                          </div>
                          <div class="m-qt">
                              <span class="m-sp g-qt">其他：</span>
                              <span class="money other-price"></span>
                              <span>元</span>
                          </div>
                      </div>
                      <p class="mice-info">*该报价为半包估价，实际以上门量房为准</p>
                  </div>
                  <div class="right">
                      <div class="znbj-tck" id="znbj-tcks"></div>
                      <div style="width:385px;margin:0 auto;">
                          <p class="message"><span class="znbj-s1">完善以下信息</span>&nbsp;让我们更了解您的需求,<span class="znbj-s2">优先</span>为您服务</p>
                          <div class="choose fullname">
                              <div class="znbj-right">1. 您的姓名</div>
                              <input type="text" class="mess" placeholder="">
                              <div class="znbj-jrxsex">
                                  <input type="radio" name="bon-sex" id="nan" value="先生"><label for="nan">先生</label>
                              </div>
                              <div class="znbj-jrxsex">
                                  <input type="radio" name="bon-sex" id="nv" value="女士"><label for="nv">女士</label>
                              </div>
                          </div>
                          <div class="choose zxtime">
                              <div class="znbj-right">2. 您家准备什么时候开始装修：</div>
                              <div>
                                  <div class="znbj-jrx" style="margin-left:17px;">
                                      <input type="radio" name="start" id="z1" value="1个月内开工"><label for="z1">1个月内</label>
                                  </div>
                                  <div class="znbj-jrx">
                                      <input type="radio" name="start" id="z2" value="2个月内开工"><label for="z2">2个月内</label>
                                  </div>
                                  <div class="znbj-jrx">
                                      <input type="radio" name="start" id="z3" value="3个月内开工"><label for="z3">3个月内</label>
                                  </div>
                                  <div class="znbj-jrx">
                                      <input type="radio" name="start" id="z4" value="面议"><label for="z4">面议</label>
                                  </div>
                              </div>
                          </div>
                          <div class="choose znbj-lftime">
                              <div class="znbj-right">3. 装修公司何时可以为您量房：</div>
                              <div>
                                  <div style="width:385px;height:35px;">
                                      <div class="znbj-jrx" id="znbj-jrxlf1" style="margin-left:17px;">
                                          <input type="radio" value="随时" name="lftime" id="l1" ><label for="l1" class="l1">随时</label>
                                      </div>
                                      <div class="znbj-jrx">
                                          <input type="radio" value="下班后" name="lftime" id="l2" ><label for="l2" class="l2">下班后</label>
                                      </div>
                                      <div class="znbj-jrx">
                                          <input type="radio" value="3天内" name="lftime" id="l3" ><label for="l3" class="l3">3天内</label>
                                      </div>
                                  </div>
                                  <div>
                                      <div class="znbj-jrx" id="znbj-jrxlf2" style="margin-left:17px;">
                                          <input type="radio" value="周末" name="lftime" id="l4" ><label for="l4" class="l4">周末</label>
                                      </div>
                                      <div class="znbj-jrx">
                                          <input type="radio" value="1周内" name="lftime" id="l5" ><label for="l5" class="l5">一周内</label>
                                      </div>
                                      <div class="znbj-jrx">
                                          <input type="radio" value="其他" name="lftime" id="l6" ><label for="l6" class="l6">其他</label>
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <p class="prompt"><span>量房小贴士：</span>通过量房可以了解到您房屋的户型结构、采光等信息，为您量身定制精确的设计方案和报价。</p>
                          <button id="step2-btn" class="btn">提交</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="zxbj-box"  style="display:none;" id="step2-box3">
              <div class="znbj-con">
                  <p class="line"></p>
                  <div class="left-third">
                      <div class="imgs">
                          <img src="/assets/common/img/mice-dui.png" />
                      </div>
                      <p class="shen">申请成功！</p>
                      <p class="mice-later">*稍后装修管家将致电您，为您提供免费装修资讯服务</p>
                  </div>
                  <div class="right-third">
                      <div style="width:385px; margin:0 auto;">
                          <p class="xie">感谢选择齐装网的你</p>
                          <p>您一共获得<span>4项装修礼包</span>，扫码立即获取</p>
                          <div class="choose-third">
                              <div class="step4-jrx">
                                  <img src="/assets/common/img/2_06.jpg" /><label>4份户型设计方案</label>
                              </div>
                              <div class="step4-jrx">
                                  <img src="/assets/common/img/2_06.jpg" /><label>10000套装修效果图</label><br>
                              </div>
                              <div class="step4-jrx">
                                  <img src="/assets/common/img/2_06.jpg" /><label>免费装修报价</label>
                              </div>
                              <div class="step4-jrx">
                                  <img src="/assets/common/img/2_06.jpg" /><label>更全装修攻略</label>
                              </div>
                          </div>
                          <div class="wx">
                              <div class="mice-xiaz">
                                  <div class="mice-k"><img src="/assets/common/img/pc-6a.png" /></div>
                                  <p>{:C('APP_OPEN_TITLE')}<br>靠谱装修一齐搞定</p>
                              </div>
                              <div class="mice-xiaz">
                                  <div class="mice-k"><img src="/assets/common/img/weixin_fdrk.jpg" /></div>
                                  <p>关注齐装网公众号<br>获取更多免费惊喜
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="bottom-mice-zdl"></div>
      <div class="bottom-mice-ydl"></div>
    </div>
    </div>
</div>
<script>
   var agl = document.createElement('script');
   agl.type='text/javascript';
   agl.async = true;
   agl.src = '/assets/common/js/bottom-company-new.js?v={:C("STATIC_VERSION")}';
   document.body.appendChild(agl);

   $(function() {
      var shen = null, shi = null, areaId = null;
      var cityId = '{$theCityId}';

      //光标自动定位
      $(".znbj-form input[name=bon-mianji]").focus();
      shen = citys["shen"];
      shi = citys["shi"];


      initCity(cityId);
      function initCity(cityId,areaId){
          App.citys.init("#bon-cs", "#bon-qy", shen, shi,cityId,areaId);
      }

      $('.clickbtn').click(function () {
          var geshu = $('.num-up');
          var mianjival = parseInt($('.bon-mianjixz').val());

          var container = $(".znbj-form");
          $(".focus", container).removeClass('focus');
          $(".error-info", container).html("");
          if (!App.validate.run($("select[name=bon-cs]", container).val())) {
              $("select[name=bon-cs]", container).addClass('focus').focus();
              $(".element", container).siblings('.error-info').html("<i class=\"icon-warn\"></i><span>请选择城市</span>");
              return false;
          }
          if (!App.validate.run($("input[name=bon-mianji]", container).val())) {
              $("input[name=bon-mianji]", container).addClass('focus').focus();
              $("input[name=bon-mianji]", container).siblings('.error-info').html("<i class=\"icon-warn\"></i><span>请填写房屋面积</span>");
              return false;
          }
          if (isNaN(mianjival)) {
              $("input[name=bon-mianji]", container).addClass('focus').focus();
              $("input[name=bon-mianji]", container).val('');
              $("input[name=bon-mianji]", container).siblings('.error-info').html("<i class=\"icon-warn\"></i><span>面积只能是纯数字</span>");
              return false;
          }
          if (mianjival < 1 || mianjival > 10000) {
              $("input[name=bon-mianji]", container).siblings('.error-info').html("<i class=\"icon-warn\"></i><span>房屋面积请输入1-10000之间的数字^_^!</span>");
              return false;
          }
          //检查手机号
          if (!App.validate.run($("input[name=bon-tel]", container).val())) {
              $("input[name=bon-tel]", container).addClass('focus').focus();
              $("input[name=bon-tel]", container).siblings('.error-info').html("<i class=\"icon-warn\"></i><span>请填写手机号码 ^_^!</span>");
              return false;
          } else {
              var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
              if (!reg.test($("input[name=bon-tel]", container).val())) {
                  $("input[name=bon-tel]", container).addClass('focus').focus();
                  $("input[name=bon-tel]", container).siblings('.error-info').html("<i class=\"icon-warn\"></i><span>请填写正确的手机号码 ^_^!</span>");
                  return false;
              }
          }

          if (!checkDisclamer(".znbj-form")) {
              return false;
          }

          var data = {
              mianji: $("input[name=bon-mianji]", container).val(),
              cs: $("select[name=bon-cs]", container).val(),
              qx: $("select[name=bon-qy]", container).val(),
              name: $("input[name=name]", container).val(),
              tel: $("input[name=bon-tel]", container).val(),
              fb_type: $("input[name=fb_type]", container).val(),
              source: '19030559'
          };

          window.order({
              extra: data,
              error: function () {
                  alert('获取报价失败,请刷新页面');
              },
              success: function (data, status, xhr) {
                  if (data.status == 1) {
                      $.ajax({
                          url: '/getdetailsbyajax/',
                          type: 'GET',
                          dataType: 'JSON'
                      }).done(function (data) {
                          if (data.status == 1) {
                              $("#step2-box1").hide();
                              $("#step2-box2").show();
                              $('.pricess').text(data.data.total);
                              $(".kt-price").text(data.data.kt);
                              $(".cf-price").text(data.data.cf);
                              $(".zw-price").text(data.data.zw);
                              $(".wsj-price").text(data.data.wsj);
                              $(".sd-price").text(data.data.sd);
                              $(".other-price").text(data.data.other);
                          } else {
                              alert(data.info);
                          }
                      }).fail(function (xhr) {
                          alert('获取报价失败,请刷新页面');
                      });
                  } else {
                      alert(data.info);
                  }
              },
              validate: function (item, value, method, info) {
                  return true;
              }
          });

      });

      //智能报价第二屏验证
      $("#step2-btn").click(function () {
          var reg_rename = /^[\u4e00-\u9fa5a-zA-Z]{1,10}$/;
          var sex = $("input[name='bon-sex']:checked").val();
          var start = $("input[name='start']:checked").val();
          var lftime = $("input[name='lftime']:checked").val();
          var data1 = {
              name: $(".mess").val()
          };
          if (data1.name == '') {
              $("#znbj-tcks").show();
              $("#znbj-tcks").html("请填写您的姓名")
              setTimeout(function(){
                  $("#znbj-tcks").hide()
              },1000)
              return false;
          }
          if (!reg_rename.test(data1.name)) {
              $("#znbj-tcks").show();
              $("#znbj-tcks").html("请填写真实的姓名")
              setTimeout(function(){
                  $("#znbj-tcks").hide()
              },1000)
              return false;
          }
          if (sex == undefined || sex == '') {
              $("#znbj-tcks").show();
              $("#znbj-tcks").html("请选择您的性别")
              setTimeout(function(){
                  $("#znbj-tcks").hide()
              },1000)
              return false;
          }
          if (start == undefined || start=="") {
              $("#znbj-tcks").show();
              $("#znbj-tcks").html("请选择开始装修时间")
              setTimeout(function(){
                  $("#znbj-tcks").hide()
              },1000)
              return false;
          }
          if (lftime == undefined || lftime == '') {
              $("#znbj-tcks").show();
              $("#znbj-tcks").html("请选择量房时间")
              setTimeout(function(){
                  $("#znbj-tcks").hide()
              },1000)
              return false;
          }

          data1.sex = sex;
          data1.start = start;
          data1.lftime = lftime;
          data1.step = 2;

          $.ajax({
              url: '/getdetailsbyajax/',
              type: 'POST',
              data: data1,
              dataType: 'JSON'
          }).done(function (data) {
              if (data.status == 1) {
                  // 显示异业合作广告
                  $.ajax({
                      url: "/getPartnerad",
                      type: 'POST',
                      dataType: 'JSON',
                      data: {
                          source: 4,
                      }
                  }).done(function (res) {
                      if(res.error_code == 0) {
                          $(".cooperation_box").find(".ad-area").html('<img src="'+res.data.pc_img+'">')
                          $(".cooperation_box").find("#ad-link").attr('href', res.data.pc_url)
                          $(".cooperation_box").find("#ad-link").on('click', function () {
                              countAdPv(res.data.id)
                          })
                          $(".cooperation_ad_mask").fadeIn(0)
                          $(".cooperation_box").fadeIn(0)
                      }
                  })

                  $("#step2-box2").hide();
                  $("#step2-box3").show();
                  //calculate(data.data);
              } else {
                  alert(data.info);
              }
          }).fail(function (xhr) {
              alert('提交报价失败,请刷新页面');
          });
      });

      $('.cxjisuan .resend').click(function(){
          var geshu=$('.num-up');
              $(".znbj-form input").val('');
              $('.cxjisuan').hide();
              $('.clickbtn').show();

          $($(geshu)[1]).html("?");
          $($(geshu)[2]).html("?");
          $($(geshu)[3]).html("?");
          $($(geshu)[4]).html("?");
          $($(geshu)[5]).html("?");
          $($(geshu)[6]).html("?");
      });
      if( navigator.userAgent.indexOf("MSIE 8.0") > -1 ){
          $("input[name=bon-mianji]").on("keyup",function () {
              $(this).val($(this).val().replace(/\s+/g,""));
          });
      }else{
          $("input[name=bon-mianji]").on("input",function () {
              $(this).val( $(this).val().replace(/\s+/,"") );
          });
      }

      function calculate(data) {
          $('#kt-price').text(data.kt);
          $('#zw-price').text(data.zw);
          $('#wsj-price').text(data.wsj);
          $('#cf-price').text(data.cf);
          $('#sd-price').text(data.sd);
          $('#other-price').text(data.other);
          $('#total-price').text(data.total);
          $(".num-up").countTo({
              lastSymbol:"", //显示在最后的字符
              firstSymbol:"￥", //显示在最后的字符
              from: 0,  // 开始时的数字
              speed: 500,  // 总时间
              refreshInterval: 10,  // 刷新一次的时间
              beforeSize:0, //小数点前最小显示位数，不足的话用0代替
              decimals: 2  // 小数点后的位数，小数做四舍五入
          });
      }
   })
</script>
