<!-- type 说明： 1代表需要多少钱，2代表找公司, 此type == 1 -->
<link rel="stylesheet" href="/assets/common/css/bottom-fadan.css?v={:C('STATIC_VERSION')}">
<div class="bottom-fadan-box">
  <div class="bottom-fadan-mask"></div>
  <div class="bottom-fadan-body">
    <div class="bottom-fadan-sideradius"></div>
    <div class="bottom-main-raidus">
      <div class="bottom-main-header">
        <div class="bottom-header-content">
          <img src="/assets/common/img/bottom-fadan-logo.png" class="bottom-fadan-logo">
          <img src="/assets/common/img/bottom-fadan-mice1.png?v={:C('STATIC_VERSION')}" class="bottom-main-title" id="bottom-main-title"/>
          <img src="/assets/common/img/bt-fd-arrow-up.png" class="bottom-main-arrow" data-dir='false'>
        </div>
      </div>
      <div class="bottom-main-content">
        <div class="main-content-left">
          <div class="fadan-title-text">
              申请提供<span>4份</span>装修方案对比，装修省<span>30%</span>！
              <p class="fadan-small-title"></p>
          </div>
          <div class="fadan-form">
            <ul>
              <li>
                <div class="fadan-input-box">
                  <div class="fadan-form-title pull-left"><span class="fadan-bit">*</span>所在城市：</div>
                  <div class="fadan-input-item pull-left">
                    <select class="bottom-fadan-city">
                    </select>
                    <select class="bottom-fadan-area" style="margin-left:8px;">
                    </select>
                  </div>
                </div>
                <div class="fadan-tips-box">
                </div>
              </li>
              <li>
                <div class="fadan-input-box">
                  <div class="fadan-form-title pull-left"><span class="fadan-bit">*</span>房屋面积：</div>
                  <div class="fadan-input-item pull-left">
                    <input type="text" placeholder="请输入房屋面积" class="bottom-fadan-mianji">
                    <span class="bottom-fadan-danwei">㎡</span>
                  </div>
                </div>
                <div class="fadan-tips-box">
                </div>
              </li>
              <li>
                <div class="fadan-input-box">
                  <div class="fadan-form-title pull-left"><span class="fadan-bit">*</span>联系方式：</div>
                  <div class="fadan-input-item pull-left">
                    <input type="text" placeholder="请输入手机号码" maxlength="11" class="bottom-fadan-tel">
                  </div>
                </div>
                <div class="fadan-tips-box">
                </div>
              </li>
              <li>
                <div class="fadan-input-box">
                  <div class="fadan-form-title pull-left"><span class="fadan-bit">&nbsp;&nbsp;</span>小区名称：</div>
                  <div class="fadan-input-item pull-left">
                    <input type="text" placeholder="快速为您匹配优质装修公司" class="bottom-fadan-xiaoqu" maxlength="20">
                  </div>
                </div>
                <div class="fadan-tips-box">
                </div>
              </li>
              <li>
                <div class="fadan-input-box">
                  <div class="fadan-form-title pull-left" style="height:5px;width:80px;">&nbsp;</div>
                  <div class="fadan-input-item pull-left" style="height:20px;">
                    <!--S-免责声明-->
                    <include file="Common@Order/disclamer"/>
                    <!--E-免责声明-->
                  </div>
                </div>
                <div class="fadan-tips-box no-disclaimer">
                </div>
              </li>
              <li>
                <div class="fadan-input-box">
                  <div class="fadan-form-title pull-left" style="height:5px; width:80px;">&nbsp;</div>
                  <div class="fadan-input-item pull-left">
                    <button type="button" class="fadan-btn" data-cityId='{$theCityId}' >免费申请</button>
                  </div>
                  <input type="hidden" name="source" value="19030507">
                </div>
                <div class="fadan-tips-box">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-content-right">
          <img src="/assets/common/img/bottom-right-img.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="bottom-main-result">
      <div class="bottom-result-content">
        <img src="/assets/common/img/bottom-close.png" class="bottom-fadan-close">
        <div class="bottom-result-title">
          <img src="/assets/common/img/bottom-success-title.png" alt="">
        </div>
        <div class="bottom-result-body">
          <div class="bottom-result-left pull-left">
            <h4>您将免费获得：</h4>
            <ul>
              <li>
                <i class="fa fa-check-circle"></i>
                <p>4家优质装修公司任您选择</p>
              </li>
              <li>
                <i class="fa fa-check-circle"></i>
                <p>专业设计师上门量房服务</p>
              </li>
              <li>
                <i class="fa fa-check-circle"></i>
                <p>4份装修报价与设计方案</p>
              </li>
              <li>
                <i class="fa fa-check-circle"></i>
                <p>专业客服，一对一服务</p>
              </li>
            </ul>
          </div>
          <div class="bottom-result-right pull-right">
            <div class="right-result-title">
              24小时内装修客服将会致电您，提供装修公司免费上门服务详情。
            </div>
            <h5>期望客服与您联系的时间段：</h5>
            <ul class="select-radio">
              <li class="fdtime-active">
                <i class="fa fa-dot-circle-o"></i>
                <p>随时</p>
              </li>
              <li>
                <i class="fa fa-dot-circle-o"></i>
                <p>上午</p>
              </li>
              <li>
                <i class="fa fa-dot-circle-o"></i>
                <p>中午</p>
              </li>
              <li>
                <i class="fa fa-dot-circle-o"></i>
                <p>下午</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-dibu-radius"></div>
  </div>
</div>
<script>
  var agl = document.createElement('script');
  agl.type='text/javascript';
  agl.async = true;
  agl.src = '/assets/common/js/bottom-fadan.js?v={:C("STATIC_VERSION")}';
  document.body.appendChild(agl);
</script>