<link rel="stylesheet" href="{$static_host}/assets/home/popup/css/findsj.css?v={:C('STATIC_VERSION')}">
<div class="zxmoney">
    <div class="zxmoney-box">
        <i class="fa fa-close"></i>
        <div class="left-modal">
            <div class="zxmoney-img">
                 <empty name="info.src" ><img id="zxmoneyPic" src="{$static_host}/assets/home/meitu/img/jz-img-top.jpg" alt=""><else/><img id="zxmoneyPic" src="{$info.src}" alt="{$info.title}"></empty>
            </div>
            <p class="zxmoney-info">{$info.title}</p>
        </div>
        <div class="right-modal bj-box">
            <p class="big-title">装修成这样花多少钱？</p>
            <p class="big-title1">你的装修预算为<span class="red-color"  id="totalPrice">？</span><span>元</span></p>
            <div class="disclaimer">*该报价为半包估算价，实际费用以上门量房实测为准。</div>
            <div class="zxmoney-result">
                <ul>
                    <li>客厅：<span id="ktPrice" class="priceold">？</span><span>元</span></li>
                    <li>厨房：<span id="cfPrice" class="priceold">？</span><span>元</span></li>
                    <li>卧室：<span id="zwPrice" class="priceold">？</span><span>元</span></li>
                    <li>卫生间：<span id="wsjPrice" class="priceold">？</span><span>元</span></li>
                    <li>水电：<span id="sdPrice" class="priceold">？</span><span>元</span></li>
                    <li>其他：<span id="otherPrice" class="priceold">？</span><span>元</span></li>
                </ul>
            </div>
            <div class="form-box">
                <div class="zxmoney-sel">
                    <select class="money_cs" name="cs"></select>
                    <select class="money_qy" name="qy" style="float: right;"></select>
                    <div class="valdate-info"></div>
                </div>
                <div class="zxmoney-input">
                    <input type="number" placeholder="输入您的房屋面积" name="mianji">
                    <span class="pingfang">m²</span>
                    <div class="valdate-info"></div>
                </div>
                <div class="zxmoney-input">
                    <input type="text" placeholder="怎么称呼您" name="money_name">
                    <div class="valdate-info"></div>
                </div>
                <div class="zxmoney-input">
                    <input type="text" placeholder="输入手机号获取计算结果" maxlength="11" name="money_tel">
                    <div class="valdate-info"></div>
                </div>
                <!--S-免责声明-->
                    <include file="Common@Order/disclamer"/>
                <!--E-免责声明-->
                <div class="zxmoney-button zxmoney-btn" data-source="19121142">查看报价</div>
                <input type="hidden" name="fb_type" value="baojia">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var shen = null,
        shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
    initCity('{$theCityId}');

    function initCity(cityId) {
        App.citys.init(".money_cs", ".money_qy", shen, shi, cityId);
    }
</script>
<script src="{$static_host}/assets/home/popup/js/findsj.js?v={:C('STATIC_VERSION')}"></script>