<div class="mask"></div>
<div class="first-order">
    <div class="fd-lei">
        <div data-id="1" class="active">免费报价</div>
        <div data-id="2">免费设计</div>
    </div>
    <div class="m-close"><img src="/assets/home/index/pic/close.png" alt=""></div>
    <div class="o-img">
        <img src="/assets/home/index/pic/order-bg.png" alt="">
    </div>
    <div class="baojia">
        <div class="m-box">
            <div class="left">
                <div class="l-top">
                    <span class="s1">算一算</span>
                    <span class="s2">我家装修多少钱？</span>
                    <div class="line"></div>
                </div>
                <div class="l-form">
                    <form class="order-group order-group1">
                        <div class="group">
                            <span>所在城市:</span>
                            <select name="m-city" id="m-city"></select>
                            <select name="m-area" id="m-area"></select>
                            <div class="m-warn"><i class="icon-warn"></i><span></span></div>
                        </div>
                        <div class="group">
                            <span>房屋面积:</span>
                            <input type="text" placeholder="请输入房屋面积" class="m-mianji">
                            <i class="mianji-icon">㎡</i>
                            <div class="m-warn"><i class="icon-warn"></i><span></span></div>
                        </div>
                        <div class="group">
                            <span>手机号码:</span>
                            <input type="text" placeholder="请输入手机号获取报价" class="m-tel" maxlength="11">
                            <div class="m-warn"><i class="icon-warn"></i><span></span></div>
                        </div>
                        <div class="disclamer-line">
                            <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
                            <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/disclamer"
                               class="pull-left"><span>《免责声明》</span></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clickbtn" data-source="20010406"></div>
            <div class="right">
                <div class="r-top">
                    <span class="rs1">装修预算报价为：</span>
                    <span class="rs2 total-money">?</span>
                    <span class="rs3">元</span>
                </div>
                <div class="r-box">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    <div class="line4"></div>
                    <div class="line5"></div>
                    <div class="line6"></div>
                    <div class="m-wsj">
                        <span class="m-sp">卫生间：</span>
                        <span class="money money1">?</span>
                        <span>元</span>
                    </div>
                    <div class="m-cf">
                        <span class="m-sp">厨房：</span>
                        <span class="money money2">?</span>
                        <span>元</span>
                    </div>
                    <div class="m-kt">
                        <span class="m-sp">客厅：</span>
                        <span class="money money3">?</span>
                        <span>元</span>
                    </div>
                    <div class="m-sd">
                        <span class="m-sp">水电：</span>
                        <span class="money money4">?</span>
                        <span>元</span>
                    </div>
                    <div class="m-ws">
                        <span class="m-sp">卧室：</span>
                        <span class="money money5">?</span>
                        <span>元</span>
                    </div>
                    <div class="m-qt">
                        <span class="m-sp">其他：</span>
                        <span class="money money6">?</span>
                        <span>元</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="g-box">
            <div class="left">
                <div class="r-top">
                    <span class="rs1">装修预算报价为：</span>
                    <span class="rs2 g-money"></span>
                    <span class="rs3">元</span>
                </div>
                <div class="r-box">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    <div class="line4"></div>
                    <div class="line5"></div>
                    <div class="line6"></div>
                    <div class="m-wsj">
                        <span class="m-sp">卫生间：</span>
                        <span class="money g-wsj"></span>
                        <span>元</span>
                    </div>
                    <div class="m-cf">
                        <span class="m-sp">厨房：</span>
                        <span class="money g-cf"></span>
                        <span>元</span>
                    </div>
                    <div class="m-kt">
                        <span class="m-sp">客厅：</span>
                        <span class="money g-kt"></span>
                        <span>元</span>
                    </div>
                    <div class="m-sd">
                        <span class="m-sp">水电：</span>
                        <span class="money g-sd"></span>
                        <span>元</span>
                    </div>
                    <div class="m-ws">
                        <span class="m-sp">卧室：</span>
                        <span class="money g-ws"></span>
                        <span>元</span>
                    </div>
                    <div class="m-qt">
                        <span class="m-sp">其他：</span>
                        <span class="money g-qt"></span>
                        <span>元</span>
                    </div>
                </div>
                <p>*该报价为半包估价，实际以上门量房为准</p>
            </div>
            <div class="right">
                <div class="znbj-tck" id="znbj-tck"></div>
                <p class="message"><span class="znbj-s1">完善以下信息</span>&nbsp;让我们更了解您的需求，<span class="znbj-s2">优先</span>为您服务
                </p>
                <div class="choose fullname">
                    <div class="znbj-right">1. 您的姓名</div>
                    <input type="text" class="mess1" placeholder="">
                    <div class="znbj-jrxsex">
                        <input type="radio" name="msex" id="mnan" value="先生"><label for="mnan">先生</label>
                    </div>
                    <div class="znbj-jrxsex">
                        <input type="radio" name="msex" id="mnv" value="女士"><label for="mnv">女士</label>
                    </div>
                </div>
                <div class="choose zxtime">
                    <div class="znbj-right">2. 您家准备什么时候开始装修：</div>
                    <div>
                        <div class="znbj-jrx" style="margin-left:17px;">
                            <input type="radio" name="mstart" id="mz1" value="1个月内开工"><label for="mz1">1个月内</label>
                        </div>
                        <div class="znbj-jrx">
                            <input type="radio" name="mstart" id="mz2" value="2个月内开工"><label for="mz2">2个月内</label>
                        </div>
                        <div class="znbj-jrx">
                            <input type="radio" name="mstart" id="mz3" value="3个月内开工"><label for="mz3">3个月内</label>
                        </div>
                        <div class="znbj-jrx">
                            <input type="radio" name="mstart" id="mz4" value="面议"><label for="mz4">面议</label>
                        </div>
                    </div>
                </div>
                <div class="choose znbj-lftime">
                    <div class="znbj-right">3. 装修公司何时可以为您量房：</div>
                    <div>
                        <div style="width:385px;height:35px;">
                            <div class="znbj-jrx" id="znbj-jrxlf1" style="margin-left:17px;">
                                <input type="radio" value="随时" name="mtime" id="ml1"><label for="ml1" class="l1">随时</label>
                            </div>
                            <div class="znbj-jrx">
                                <input type="radio" value="下班后" name="mtime" id="ml2"><label for="ml2"
                                                                                             class="l2">下班后</label>
                            </div>
                            <div class="znbj-jrx">
                                <input type="radio" value="3天内" name="mtime" id="ml3"><label for="ml3" class="l3">三天内</label>
                            </div>
                        </div>
                        <div>
                            <div class="znbj-jrx" id="znbj-jrxlf2" style="margin-left:17px;">
                                <input type="radio" value="周末" name="mtime" id="ml4"><label for="ml4" class="l4">周末</label>
                            </div>
                            <div class="znbj-jrx">
                                <input type="radio" value="1周内" name="mtime" id="ml5"><label for="ml5"
                                                                                             class="l5">一周内</label>
                            </div>
                            <div class="znbj-jrx">
                                <input type="radio" value="其他" name="mtime" id="ml6"><label for="ml6" class="l6">其他</label>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="prompt"><span>量房小贴士：</span>通过量房可以了解到您房屋的户型结构、采光等信息，为您量身定制精确的设计方案和报价。</p>
                <button id="btn-step2" class="btn">提交</button>
            </div>
        </div>
    </div>
    <div class="s-box">
        <div class="left">
            <div class="s-img"><img src="/assets/home/index/img/success-icon.png" alt=""></div>
            <div class="text">申请成功！</div>
            <p>*稍后装修管家将致电您，为您提供免费装修资讯服务</p>
        </div>
        <div class="right">
            <p class="baojia-h1">感谢选择齐装网的你</p>
            <p class="p">您一共获得<span>4项装修礼包</span>，扫码立即获取</p>
            <div class="choose-third">
                <div class="step4-jrx">
                    <img src="/assets/common/img/2_06.jpg"><label>4份户型设计方案</label>
                </div>
                <div class="step4-jrx">
                    <img src="/assets/common/img/2_06.jpg"><label>10000套装修效果图</label><br>
                </div>
                <div class="step4-jrx">
                    <img src="/assets/common/img/2_06.jpg"><label>免费装修报价</label>
                </div>
                <div class="step4-jrx">
                    <img src="/assets/common/img/2_06.jpg"><label>更全装修攻略</label>
                </div>
            </div>
            <div class="qzapp">
                <img src="/assets/common/image/qrcode/app-qz-yyb.png">
                <p><span>{:C('APP_OPEN_TITLE')}</span><span>{:C('APP_OPEN_DESCRIPTION')}</span></p>
            </div>
            <div class="wx">
                <img src="/assets/common/img/weixin_fdrk.jpg">
                <p><span>关注齐装网公众号</span><span>获取更多免费惊喜</span></p>
            </div>
        </div>
    </div>
    <div class="sheji">
        <div class="m-box">
            <div class="left">
                <div class="l-top">
                    <span class="s2" style="margin-left: 0;">免费申领</span>
                    <span class="s1">&nbsp;4套</span>
                    <span class="s2">优质设计方案 !</span>
                    <div class="line"></div>
                </div>
                <div class="l-form">
                    <form class="order-group order-group2">
                        <div class="group">
                            <span>所在城市:</span>
                            <select name="m-city1" id="m-city1"></select>
                            <select name="m-area1" id="m-area1"></select>
                            <div class="m-warn"><i class="icon-warn"></i><span></span></div>
                        </div>
                        <div class="group">
                            <span>您的称呼:</span>
                            <input type="text" placeholder="怎么称呼您" class="m-name">
                            <div class="m-warn"><i class="icon-warn"></i><span></span></div>
                        </div>
                        <div class="group">
                            <span>手机号码:</span>
                            <input type="text" placeholder="请输入手机号获取报价" class="m-tel1" maxlength="11">
                            <div class="m-warn"><i class="icon-warn"></i><span></span></div>
                        </div>
                        <div class="disclamer-line">
                            <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
                            <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/disclamer" class="pull-left"><span>《免责声明》</span></a>
                        </div>
                        <button type="button" class="sheji-btn" data-source="20081330">立即申请</button>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="sheji-r-top">只需4步，享受专属定制</div>
                <div class="sheji-r-box">
                    <ul>
                        <li>
                            <img src="/assets/home/index/img/lftime.png" />
                            <p>电话安排量房时间</p>
                        </li>
                        <img class="jiantou" src="/assets/home/index/img/jt-right.png" />
                        <li>
                            <img src="/assets/home/index/img/lfsheji.png" />
                            <p>专业设计上门量房 </p>
                        </li>
                        <img class="jiantou-bottom" src="/assets/home/index/img/jt-bottom.png" />
                        <li>
                            <img src="/assets/home/index/img/lfguihua.png" />
                            <p>帮您制定预算规划 </p>
                        </li>
                        <img class="jiantou" style="top:160px;" src="/assets/home/index/img/jt-left.png" />
                        <li>
                            <img src="/assets/home/index/img/lffangan.png" />
                            <p>和设计师沟通方案 </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  var shen = null,
        shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
    initCity('{$theCityId}');
    function initCity(cityId) {
        App.citys.init("#m-city", "#m-area", shen, shi, cityId);
        App.citys.init("#m-city1", "#m-area1", shen, shi, cityId);
    }
</script>
<script src="{$static_host}/assets/home/popup/js/getmoney.js?v={:C('STATIC_VERSION')}"></script>
