<link rel="stylesheet" href="{$static_host}/assets/home/popup/css/yuyue.css?v={:C('STATIC_VERSION')}">
<!-- 预约弹窗 -->
<div class="beijingyiny"></div>
<div class="appointment">
    <div class="guanbiniu"></div>
    <div class="yuyue_top">
        <img src="/assets/common/image/gongsi.png" />
        <p class="p1">预约优质装修公司</p>
        <p class="p2">万家合作装企</p>
    </div>
    <div class="yuyue_title">严选优质装修公司，你装修我保障</div>
    <div class="waikuangz">
        <select id="c_cs" class="freesj_cs" name="cs"></select>
        <select id="c_qy" class="freesj_qy" name="qy"></select>
        <div class="warn"></div>
    </div>
    <div class="waikuangz">
        <input class="chenghushuru" type="text" name="c_name" placeholder="怎么称呼您？">
        <div class="warn"></div>
    </div>
    <div class="waikuangz">
        <input class="shoujihaoma" type="text" name="c_tel" placeholder="请输入您的手机号" maxlength="11">
        <div class="warn"></div>
    </div>
    <div class="mzyz">
        <!--S-免责声明-->
        <include file="Common@Order/disclamer"/>
        <!--E-免责声明-->
    </div>
    <div class="lijiyuyue">立即预约</div>
    <div class="zixun">
        <p>搞装修？ 先要找家靠谱的装修公司</p>
        <span><a href="#" onclick="open_pic_chat()">在线客服<img src="/assets/common/image/kefu.png" /></a></span>
    </div>
</div>
<!-- 预约弹窗 -->
<script type="text/javascript">
    var shen = null,
        shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
    initCity('{$theCityId}');

    function initCity(cityId) {
        App.citys.init("#c_cs", "#c_qy", shen, shi, cityId);
    }
</script>
<script src="{$static_host}/assets/home/popup/js/yuyuebox.js?v={:C('STATIC_VERSION')}"></script>
