<link rel="stylesheet" type="text/css" href="/assets/common/css/yysuccess.css?v={:C('STATIC_VERSION')}" class="yy-success">
<div class="yy-bgwindow">
    <div class="yy-box">
        <div class="yy-success-tit">预约成功</div>
        <p>稍后齐装管家将会致电您</p>
        <p>请注意查收！</p>
        <div class="yy-close">
            <img src="/assets/home/decoration/img/close-btn.png" />
        </div>
    </div>
</div>
<script class="yy-success">
    $(function () {
        $("body").on("click",".yy-box .yy-close",function () {
            $(".yy-bgwindow").remove();
            $(".yy-success").remove();
            $("input").val("");
        })
    })
</script>
