.worksite-tit{
    font-size:0.11rem;
    text-align: center;
}
.worksite-banner{
    position: relative;
}
.worksite-banner img{
    width:100%;
}
.banner-content{
    position: absolute;
    top:0.4rem;
    color: #fff;
    width:95%;
    padding:0.1rem;
}
.banner-content p{
    font-size: 0.188rem;
    font-weight: bold;
    margin-bottom: 0.11rem;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.banner-detail{
    overflow: hidden;
}
.banner-detail dl{
    width:23%;
    float: left;
    text-align: left;
}
.banner-detail dl dt{
    font-size: 0.094rem;
}
.banner-detail dl dd{
    font-size: 0.125rem;
    font-weight: bold;
}
.worksite-detail{
    padding:0.15rem;
    background:rgba(255,255,255,1);
    border-radius:11px 11px 0px 0px;
    position: relative;
    top:-11px;
    border-bottom: 1px solid #F5F5F5;
}
.detail-top{
    margin-bottom: 0.14rem;
    position: relative;
}
.detail-top span:first-child{
    display: inline-block;
    width:56px;
    text-align: left;
    color: #999999;
    font-size: 0.141rem;
}
.detail-top span:nth-child(2){
    font-size: 0.141rem;
    font-weight: bold;
}
.detail-top .detail-fensi{
    display: inline-block;
}
.detail-top .detail-fensi img{
    width:0.172rem;
    height: 0.172rem;
    border-radius: 50%;
}
.detail-top .detail-fensi img:first-child{
    position: relative;
    z-index: 10;
}
.detail-top .detail-fensi img:nth-child(2){
     position: relative;
     z-index: 9;
     left: -0.05rem;
 }
.detail-top .detail-fensi img:nth-child(3){
    position: relative;
    z-index: 8;
    left: -0.1rem;
}
.detail-top .detail-fensi img:nth-child(4){
    position: relative;
    z-index: 7;
    left: -0.15rem;
}
.detail-top .detail-fensi img:nth-child(5){
    position: relative;
    z-index: 6;
    left: -0.2rem;
}
.detail-top .detail-fensi img:nth-child(6){
    position: relative;
    z-index: 5;
    left: -0.25rem;
}
.detail-top .detail-fensi img:nth-child(7){
    position: relative;
    z-index: 4;
    left: -0.3rem;
}
.detail-top .detail-fensi img:nth-child(8){
    position: relative;
    z-index: 3;
    left: -0.35rem;
}
.detail-top .detail-fensi img:nth-child(9){
    position: relative;
    z-index: 2;
    left: -0.4rem;
}
.detail-top .detail-fensi img:nth-child(10){
    position: relative;
    z-index: 1;
    left: -0.45rem;
}
.detail-top span.toright{
    position: absolute;
    right:0;
    font-size: 0.11rem;
    color: #999999;
}
.worksite-box .detai-dynamic{
    padding:0.11rem;
    background: #fff;
    border-bottom: 0.1rem solid #F5F5F5;
}
.dynamic-tit span:first-child{
    font-size: 0.156rem;
    font-weight: bold;
    margin-right: 0.1rem;
}
.dynamic-tit span:nth-child(2){
    font-size:0.095rem ;
    color: #999999;
}
.detail-process{
    height: 0.314rem;
    overflow-y: hidden;
    overflow-x:auto;
    white-space: nowrap;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
    margin-top: 0.2rem;
}
.process-box{
    width: 1175px;
}
.process-list{
    width: 0.56rem;
    float: left;
    display: inline;
}
.process-list:last-child span:nth-child(2){
    display: none;
}
.process-list span:first-child{
    display: inline-block;
    width: 0.07rem;
    height: 0.07rem;
    border-radius: 50%;
    background: #F5F5F5;
}
.process-list span:nth-child(2){
    display: inline-block;
    width:0.47rem;
    height: 0;
    border:2px solid #F5F5F5;
    position: relative;
    top: -2px;
    left: -5px;
}
.process-list.active span:first-child{
    background: #FF5353;
}
.process-list.active span:nth-child(2){
    border:2px solid #FF5353;
}
.process-list div{
    font-size: 0.094rem;
    color: #000;
    position: relative;
    left: -0.27rem;
    text-align: center;
}
.detail-process::-webkit-scrollbar {
    display:none
}
.content-top{
    position: relative;
}
.content-top .c-logo{
    width:0.345rem;
    height: 0.172rem;
    display: inline-block;
    margin-right: 0.1rem;
}
.content-top .c-name{
    font-size: 0.124rem;
    font-weight: bold;
    color: #000;
}
.content-top .myd{
    font-size: 0.11rem;
    position: absolute;
    right: 0;
    color: #333333;
    line-height: 0.172rem;
}
.content-top .myd img{
    width:0.172rem;
    height: 0.172rem;
    margin-right: 0.03rem;
}
.dynamic-process{
    font-size: 0.11rem;
    font-weight: bold;
    color: #333333;
    margin:0.1rem 0;
}
.dynamic-des{
    font-size: 0.12rem;
    color: #333333;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0.1rem;
}
.dynamic-imgs{
    display: flex;
    margin-bottom: 0.1rem;
    justify-content: space-between;
    position: relative;
}
.dynamic-content .dynamic-imgs .imgs-3{
    width:0.815rem;
    height: 0.815rem;
    overflow: hidden;
}
.dynamic-content .dynamic-imgs .imgs-3 img{
    width:100%;
    height: 100%;
}
.imgs-num{
    display: block;
    position: absolute;
    padding:0 8px;
    background: rgba(0,0,0,0.5);
    color: #FFFFFF;
    right:0.14rem;
    bottom: 0.1rem;
    border-radius: 8px;
}
.dynamic-content .dynamic-imgs .imgs-2{
    width:1.24rem;
    height: 0.98rem;
    overflow: hidden;
}
.dynamic-content .dynamic-imgs .imgs-2 img{
    width:100%;
    height: 100%;
}
.dynamic-time{
    position: relative;
    margin: 0.05rem 0;
}
.dynamic-time span{
    color: #999999;
}
.dynamic-time span:first-child{
    font-size: 0.11rem;
}
.dynamic-time span:nth-child(2){
    position: absolute;
    right: 0;
}
.dynamic-time img{
    width:15px;
    height: 15px;
    position: relative;
    top: -2px;
    margin-right: 0.04rem;
}
.dynamic-yx span{
    font-weight: bold;
    color: #333;
    font-size: 0.11rem;
}
.dynamic-yx ul{
    display: inline;
}
.dynamic-yx ul li{
    padding:0.04rem 0.1rem;
    color: #FFAB3F;
    display: inline-block;
    background: #FFF8E2;
    border-radius: 11px;
    font-size: 0.11rem;
    margin-right: 0.03rem;
    margin-bottom: 0.03rem;
}
.dynamic-reply{
    background: #F5F5F5;
    border-radius:2px;
    padding:0.1rem;
    font-size: 0.11rem;
    margin-top:0.11rem;
    margin-bottom: 0.196rem;
}
.dynamic-reply p span:first-child{
    color: #576B95;
}
.worksite-yuyue{
    margin-bottom: 0.11rem;
}
.worksite-yuyue img{
    width:100%;
}
.more-dynamic{
    text-align: center;
    color: #999999;
    font-size: 0.094rem;
}
.more-dynamic i{
    margin-left: 0.05rem;
}
.worksite-bottom{
    width:100%;
    height: 0.324rem;
    padding:0.05rem 0;
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 99;
}
.bottom-left{
    width:30%;
    float: left;
    margin-left: 3%;
}
.bottom-left>div{
    width:50%;
    float: left;
    text-align: center;
}
.bottom-left img{
    width:0.172rem;
    height: 0.172rem;
}
.bottom-left>div p{
    font-size: 0.094rem;
}
.bottom-right{
    width:65%;
    float: right;
}
.bottom-right div{
    width:0.75rem;
    height: 0.314rem;
    line-height: 0.314rem;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 0.117rem;
    padding-left: 0.2rem;
    position: relative;
}
.bottom-right div img{
    width:0.117rem;
    height: 0.117rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.15rem;
    margin: auto;
}
.bottom-right div.weiguan img{
    left: 0.3rem;
}
.bottom-right div.weiguan{
    background:linear-gradient(-90deg,rgba(255,221,103,1) 0%,rgba(255,196,103,1) 100%);
    border-radius:4px;
    margin-right: 0.05rem;
}
.bottom-right div.baojia{
    background:linear-gradient(-90deg,rgba(255,83,83,1) 0%,rgba(255,138,92,1) 100%);
    border-radius:4px;
}

/*更多装修现场*/
.more-worksite{
    position: relative;
    padding:0.11rem;
}
.more-worksite span:first-child{
    font-weight: bold;
    color: #000;
    font-size: 0.149rem;
}
.more-worksite a{
    font-size: 0.094rem;
    color: #A0A0A0;
    position: absolute;
    right: 0.11rem;
    top: 0.14rem;
}

/*更多装修现场*/
.worksite-list{
    border-bottom: 0.086rem solid #F5F5F5;
    background: #fff;
    padding:0.14rem 0.11rem
}
.worksite-list:last-child{
    border-bottom:none;
}
.worksite-list .list-tit{
    position: relative;
    margin-bottom: 4px;
}
.worksite-list .list-tit .list-dir{
    font-size: 0.141rem;
    color: #000;
    font-weight: bold;
}
.worksite-list .list-tit .list-pro{
    position: absolute;
    right:0;
    padding:4px 8px;
    background:#FFEDED;
    color: #FF5353;
    font-size: 0.11rem;
    border-radius: 3px;
}
.worksite-list .list-detail{
    margin:0.05rem 0;
}
.worksite-list .list-detail span{
    font-size: 0.11rem;
    color: #999999;
    margin-right: 10px;
}
.worksite-list .list-com{
    margin:0.07rem 0;
}
.worksite-list .list-com img{
    display: inline-block;
    width:0.346rem;
    height: 0.173rem;
    border-radius: 2px;
    margin-right: 0.1rem;
}
.worksite-list .list-com span{
    color: #333333;
    font-size:0.11rem
}
.worksite-list .list-des{
    font-size:0.11rem;
    color: #333333;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0.05rem;
}
.worksite-list .list-imgs{
    display: flex;
    margin-bottom: 0.1rem;
    justify-content: space-between;
    position: relative;
}
.list-imgs .imgs-url{
    display: none;
}
.list-imgs .imgs-3{
    width:0.98rem;
    height: 0.98rem;
    overflow: hidden;
}
.list-imgs .imgs-3 img{
    width:100%;
    height: 100%;
}
.imgs-num{
    display: block;
    position: absolute;
    padding:0 8px;
    background: rgba(0,0,0,0.5);
    color: #FFFFFF;
    right:0.14rem;
    bottom: 0.1rem;
    border-radius: 8px;
}
.list-imgs .imgs-2{
    width:1.48rem;
    height: 0.98rem;
    overflow: hidden;
}
.list-imgs .imgs-2 img{
    width:100%;
    height: 100%;
}
.list-imgs .imgs-1{
    width:100%;
    overflow: hidden;
    position: relative;
}
.list-imgs .imgs-1 img{
    width:100%;
    height: 100%;
}
.list-imgs .imgs-1 img.playbtn{
    display: block;
    width:0.39rem;
    height: 0.39rem;
    position: absolute;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    margin:auto;
}
.weiguan-img{
    display: inline-block;
}
.weiguan-img img{
    width:22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
}
.weiguan-img img:first-child{
    z-index: 10;
}
.weiguan-img img:nth-child(2){
    left: -0.05rem;
    z-index: 8;
}
.weiguan-img img:nth-child(3){
    left: -0.1rem;
    z-index: 6;
}
.weiguan-img img:nth-child(4){
    left: -0.15rem;
    z-index: 4;
}
.weiguan-img img:nth-child(5){
    left: -0.2rem;
    z-index: 2;
}
.weiguan-img img:nth-child(6){
    left: -0.25rem;
    z-index: 1;
}
.list-weiguan span{
    font-size:0.11rem;
}
.worksite-gift{
    width:0.518rem;
    height: 0.518rem;
    position: fixed;
    bottom: 0.9rem;
    right: 0.1rem;
}
.worksite-gift img{
    width:100%;
}
.worksite-zixun{
    width:0.518rem;
    height: 0.518rem;
    position: fixed;
    bottom: 0.9rem;
    left: 0.1rem;
    z-index: 99;
}
.worksite-zixun img{
    width:100%;
}
/*分享*/
.share-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}
.worksite-share{
    width:100%;
    height: 1.037rem;
    background: #fff;
    position: fixed;
    z-index:99;
    bottom: 0;
}
.worksite-share>div{
    width:50%;
    float: left;
    text-align: center;
}
.worksite-share>div img{
    width:0.392rem;
    height: 0.392rem;
    margin-top:0.235rem;
    margin-bottom: 0.1rem;
}
.worksite-share>div p{
    color: #666;
    font-size: 0.094rem;
}
/*海报内容*/
.share-content{
    width: 2.58rem;
    height: 3.64rem;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    background: #fff;
    border-radius: 4px;
    display: none;
}
.share-banner{
    width:100%;
}
.share-banner img{
    width:100%;
    vertical-align: middle;
}
.share-detail-content{
    padding:0.125rem;
}
.share-detail-content p.share-add{
    font-weight: bold;
    color: #000;
    font-size: 0.149rem;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.share-detail-content p.share-loc{
    color: #999999;
    font-size: 0.11rem;
    margin-top:0.04rem;
    margin-bottom: 0.11rem;
}
.share-mx{
    width:100%;
    height:0.432rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 6px 0px rgba(189,189,189,0.2);
    border-radius:4px;
}
.share-mx ul li:first-child{
    width:25%;
}
.share-mx ul li{
    width:23%;
    display: inline-block;
    text-align: center;
    margin-top: 0.094rem;
}
.share-mx ul li p:first-child{
    font-size: 0.094rem;
    color: #333333;
}
.share-mx ul li p:nth-child(2){
    font-size: 0.11rem;
    color: #FF5353;
    font-weight: bold;
}
.share-ewm{
    margin-top:0.118rem;
    overflow: hidden;
}
.share-ewm .erm-img{
    width:0.345rem;
    height: 0.345rem;
    float: left;
    margin-right: 0.098rem;
}
.share-ewm .erm-img img{
    width:100%;
    height: 100%;
}
.share-ewm .erm-des{
    width:60%;
    float: left;
}
.share-ewm .erm-des p{
    font-size: 0.11rem;
    margin: 0.02rem 0;
}
.share-ewm .erm-des p:first-child(1){
    color: #666666;
}
.share-ewm .erm-des p:nth-child(2){
    color: #000000;
}
.share-des{
    padding:0.1rem 0;
    background: #F5F5F5;
    margin-top:0.094rem;
}
.share-des p{
    font-size: 0.094rem;
    color: #999999;
    text-align: center;
}

/*立即预约弹窗*/
.worksite-yywindow{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}
.yywindow-content{
    width:75%;
    height: 3rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
    margin:auto;
    background: #fff;
    border-radius: 4px;
}
.closebtn{
    position: absolute;
    top: 3.3rem;
    right: 0;
    left: 0;
    margin:auto;
    width:0.259rem;
    height: 0.259rem;
}
#haibao-closebtn{
    top: 3.9rem;
}
.yywindow-img{
    width:100%;
}
.yywindow-img img{
    width:100%;
    vertical-align: middle;
}
.yywindow-order{
    padding:0.133rem;
}
.yywindow-order .order-tit{
    font-weight: bold;
    font-size: 0.141rem;
    font-size: 0.141rem;
    text-align: center;
    color: #000;
    margin-bottom: 0.05rem;
}
.yywindow-order .order-des{
    font-size: 0.118rem;
    color: #666666;
    text-align: center;
}
.yywindow-order .telephone{
    width:95%;
    padding-left: 0.1rem;
    margin:0.11rem 0;
    height: 0.345rem;
    background: #F5F5F5;
    font-size:0.11rem;
    color: #999;
    border-radius: 4px;
    border:none;
    outline: none;
}
.yy-btn,.gift-yybtn{
    width:100%;
    height: 0.345rem;
    background: #FF5353;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 0.125rem;
    border:none;
    outline: none;
    border-radius: 4px;
    margin-top:0.05rem;
}
/*进店有礼弹窗*/
.gift-window{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}
.gift-content{
    width:2.43rem;
    height: 3.55rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    background: #DD283B;
    border-radius: 9px;
}
.gift-top{
    width:100%;
}
.gift-top img{
    width:100%;
    vertical-align: middle;
}
.gift-bottom{
    margin:0 0.1rem;
    padding:0.1rem;
    background: #fff;
    border-radius: 11px;
}
.gift-bottom .gift-tit{
    font-size: 0.141rem;
    font-weight: bold;
    text-align: center;
    margin-top:0.03rem;
    margin-bottom: 0.2rem;
}
.gift-bottom .gift-list{
    overflow: hidden;
}
.gift-bottom .list-fenlei{
    width:50%;
    float: left;
    text-align: left;
    margin-bottom: 0.08rem;
}
.gift-bottom .list-fenlei img{
    width:0.102rem;
    height: 0.102rem;
    margin-right: 0.01rem;
    vertical-align: middle;
}
.gift-bottom .list-fenlei span{
    font-size: 0.11rem;
    color: #666666;
}
.gift-bottom input{
    width:95%;
    padding-left: 0.1rem;
    margin:0.11rem 0;
    height: 0.345rem;
    background: #F5F5F5;
    font-size:0.11rem;
    color: #999;
    border-radius: 4px;
    border:none;
    outline: none;
}
#closebtn{
    top:3.85rem
}
/*围观&微信弹窗*/
.weiguan-window{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}
.weixin-window{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}
.weiguan-content,.weixin-content{
    width:2.388rem;
    height: 2.86rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 4px;
}
.weiguan-top,.weixin-top{
    width:100%;
    height: 1.178rem;
    background: url("/assets/mobile/worksite/images/weiguan-bg.png");
    background-size: 100% 100%;
}
.weiguan-top p:first-child,.weixin-top p:first-child{
    font-size: 0.22rem;
    font-weight: bold;
    text-align: center;
    padding-top:0.2rem;
    margin-bottom: 0.1rem;
    color: #fff;
}
.weiguan-top p:nth-child(2),.weixin-top p:nth-child(2){
    font-size: 0.141rem;
    color: #FFFFFF;
    text-align: center;
}
.weiguan-bottom img,.weixin-bottom img{
    display: block;
    width: 0.864rem;
    height: 0.864rem;
    margin:0.141rem auto;
}
.weiguan-bottom p,.weixin-bottom p{
    text-align: center;
    color: #999999;
    font-size:0.117rem;
}
.weixin-top{
    background: url("/assets/mobile/worksite/images/weixin-bg.png");
    background-size: 100% 100%;
}
/*点击放大图片*/
.bigimg-mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    background: rgb(0,0,0);
    display: none;
    z-index: 99;
}
.swiper-container{
    width:100%;
    height: 100%;
}
.swiper-container .swiper-slide img{
    display: block;
    max-width:80%;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
}
/*视频弹窗*/
.video-mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    background: rgb(0,0,0);
    display: none;
    z-index: 99;
}
#video1{
    width:80%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.dropload-down{
    text-align: center;
    line-height: 50px;
    font-size: 0.11rem;
}
/*发单成功弹窗*/
.success-modal-mask{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0);
    position: fixed;
    top:0;
    display: none;
}
.success-content{
    width:60%;
    height: 0.36rem;
    line-height: 0.36rem;
    text-align: center;
    background: rgba(0,0,0,0.6);
    font-size: 0.117rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
}






footer{
    padding-bottom: 0.5rem !important;
}

