<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>建行装修贷</title>
    <meta name="keywords" content="家装行业峰会，2019装企峰会" />
    <meta name="description" content="" />
    <include file="Index:resource" />
    <link rel="stylesheet" type="text/css" href="/assets/home/fadan/css/zxd.css?v={:C('STATIC_VERSION')}">
</head>

<body>
    <include file="Home@Index:header" />
    <div class="zxd_banner" id="zxd_banner">
        <div class="wrap">
            <div class="banner_form" id="banner_form">
                <h3 class="form_title"><span class="line line-l"></span> 快速申请齐装贷 <span class="line line-r"></span></h3>
                <div class="input">
                    <input type="text" id="top_name" placeholder="请输入您的姓名">
                    <p class="info" id="top-error-name"></p>
                </div>
                <div class="input">
                    <input type="text" id="top_tel" placeholder="请输入您的联系方式" maxlength="11">
                    <p class="info" id="top-error-tel"></p>
                </div>
                <!--S-免责声明-->
                <include file="Common@Order/disclamer" />
                <!--E-免责声明-->
                <div class="banner_form_btn" id='btn'>我要申请</div>
                <p class="bom_text">我们承诺：齐装网提供该项免费服务，不产生任何费用，您的隐私将会被严格保密。</p>
            </div>
        </div>
    </div>
    <div class="broadcast">
        <div class="wrap">
            <div class="broadcast_list">
                <ul>
                    <li>苏州的姜女士刚刚申请了55万装修分期！</li>
                    <li>常州的孟先生1分钟前申请了35万装修分期！</li>
                    <li>深圳的谭先生3分钟前申请了41万装修分期！</li>
                    <li>中山的龚先生5分钟前申请了39万装修分期！</li>
                    <li>常州的韩女士刚刚申请了42万装修分期！</li>
                    <li>成都的曹女士刚刚申请了45万装修分期！</li>
                    <li>绵阳的朱女士15分钟前申请了27万装修分期！</li>
                    <li>南宁的王先生刚刚申请了48万装修分期！</li>
                    <li>镇江的何女士20分钟前申请了37万装修分期！</li>
                    <li>长沙的周先生16分钟前申请了36万装修分期！</li>
                    <li>成都的水女士23分钟前申请了21万装修分期！</li>
                    <li>苏州的卢女士28分钟前申请了33万装修分期！</li>
                    <li>南京的吴先生刚刚申请了32万装修分期！</li>
                    <li>徐州的柳女士刚刚申请了47万装修分期！</li>
                    <li>昆明的侯先生30分钟前申请了12万装修分期！</li>
                    <li>南通的贺先生8分钟前申请了34万装修分期！</li>
                    <li>东莞的程女士12分钟前申请了38万装修分期！</li>
                    <li>石家庄的金先生22分钟前申请了31万装修分期！</li>
                    <li>郑州的段女士刚刚申请了47万装修分期！</li>
                    <li>佛山的寇先生36分钟前申请了35万装修分期！</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="zxd_service">
        <div class="wrap">
            <div class="zxd_title">
                <h3 class="top_title">缺钱不烦恼，齐装一直为您提供贴心的装修服务！
                    <span class="icon icon-l"></span>
                    <span class="icon icon-r"></span>
                </h3>
                <p>缺钱不用愁，<span>有钱更要贷</span>，齐装贷，您身边的装修贷款专家。</p>
            </div>
            <div class="service_gl">
                <div class="gl_title">
                    您是否会有以下顾虑？
                </div>
                <div class="gl_text gl_text1">小型装修公司没保障，<br> 想要申请靠谱的装修贷款简直难上加难！</div>
                <div class="gl_text gl_text2">个人资质不够！征信要求过严！<br> 需要资产抵押！银行无法批款！</div>
                <div class="gl_text gl_text3">专项用专款，自己的钱留在自己手里！ </div>
                <div class="gl_text gl_text4">资金用来买房，<br> 想要住新家，没钱装修怎么办？ </div>
                <div class="gl_text gl_text5">过程繁琐，审核周期长，<br> 还款周期短，放款金额压根不够！</div>
            </div>
            <div class="service_jy">
                <div class="jy_title">
                    齐装为您解忧!
                </div>
                <div class="jy_text jy_text1">无担保，无抵押，门槛低</div>
                <div class="jy_text jy_text2">费率最低至0.25%，家装类均可使用！</div>
                <div class="jy_text jy_text3">建行背书，最长可贷60个月，<br> 最高可提供100万装修贷款，超高金额供您使用！</div>
                <div class="jy_text jy_text4">专享绿色通道，全程一对一贴心服务，<br> 服务专业，安全可靠！！</div>
                <div class="jy_text jy_text5">专项用专款，提前消费，无需您自掏腰包！<br> 您的钱可以有更多的用途，更大的价值！</div>
            </div>
        </div>
    </div>
    <div class="zxd_icon_list back-e">
        <div class="wrap">
            <div class="zxd_title">
                <h3 class="top_title">源于热忱 齐装上阵
                    <span class="icon icon-l"></span>
                    <span class="icon icon-r"></span>
                </h3>
                <p>最长贷款60个月，最高贷款100万，最快次日通过 <br> 毛坯、精装、家私、家电等均可使用 </p>
            </div>
            <div class="icon_list_conent">
                <ul class="clearfix">
                    <li>
                        <img src="/assets/home/fadan/img/icon/bj.png" alt="">
                        <h5>申请便捷</h5>
                        <span>无抵押无担保</span>
                    </li>
                    <li>
                        <img src="/assets/home/fadan/img/icon/shh.png" alt="">
                        <h5>快速审批</h5>
                        <span>专享绿色通道</span>
                    </li>
                    <li>
                        <img src="/assets/home/fadan/img/icon/fd.png" alt="">
                        <h5>快速放款</h5>
                        <span>最高至100万</span>
                    </li>
                    <li>
                        <img src="/assets/home/fadan/img/icon/fl.png" alt="">
                        <h5>费率低慧</h5>
                        <span>最低至0.25%</span>
                    </li>
                    <li>
                        <img src="/assets/home/fadan/img/icon/zhq.png" alt="">
                        <h5>周期超长</h5>
                        <span>还款无压力</span>
                    </li>
                    <li class="last">
                        <img src="/assets/home/fadan/img/icon/lh.png" alt="">
                        <h5>用途灵活</h5>
                        <span>家装类均可</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="zxd_liuch">
        <div class="wrap">
            <div class="zxd_title">
                <h3 class="top_title">简化流程，<span>3</span>步获贷
                    <span class="icon icon-l"></span>
                    <span class="icon icon-r"></span>
                </h3>
                <p>专享绿色通道，全程一对一贴心服务，便捷高效</p>
            </div>
            <div class="step_main clearfix">
                <div class="step fl">
                    <img src="/assets/home/fadan/img/step1.png" alt="">
                    <p>1.提交贷款申请</p>
                </div>
                <div class="arrow fl">
                    <span>最快次日生效</span>
                </div>
                <div class="step fl">
                    <img src="/assets/home/fadan/img/step2.png" alt="">
                    <p>2.快速审批通过</p>
                </div>
                <div class="arrow fl">
                    立即
                </div>
                <div class="step fl">
                    <img src="/assets/home/fadan/img/step3.png" alt="">
                    <p>3.专享灵活消费</p>
                </div>
            </div>
            <div class="open_btn" id="to_top">
                即刻申请齐装贷，开启我的装修之旅
            </div>
        </div>
    </div>
    <div class="zxd_question back-e">
        <div class="wrap">
            <div class="zxd_title">
                <h3 class="top_title">常见问题
                    <span class="icon icon-l"></span>
                    <span class="icon icon-r"></span>
                </h3>
                <p>常见问题专业解读 放心贷款 装修无忧</p>
            </div>
            <div class="question_main clearfix">
                <div class="qa_main fl">
                    <h3>Q：齐装网“装修贷款”是款怎样的产品？</h3>
                    <p>A：齐装网与中国建设银行联合推出装修贷款服务，无抵押、无担保、纯信用，手续简单放款快，一站贷齐让家装全程无忧</p>
                </div>
                <div class="qa_main fr">
                    <h3>Q：我如何申请齐装网“装修贷款”呢？</h3>
                    <p>A：您可以在齐装网装修贷款专题页面预约或拨打400服务热线预约， 我们的装贷顾问会尽快联系您，并为您全程跟进。</p>
                </div>
                <div class="qa_main fl">
                    <h3>Q：申请齐装网“装修贷款”需要什么条件？</h3>
                    <p>A：本人名下或配偶单独所有或本人父母在苏州的自由商品住房，有装修房屋权属证明即可。</p>
                </div>
                <div class="qa_main fr">
                    <h3>Q：哪些地区可以申请齐装网“装修贷款”？</h3>
                    <p>A：目前仅适用于苏州及苏州周边地区，后期会陆续推至全国范围。</p>
                </div>
                <div class="qa_main fl">
                    <h3>Q：齐装网“装修贷款”的优势？</h3>
                    <p>A：齐装网“装修贷款”服务，申请便捷、快速审批、快速放款、费率低慧、周期超长、用途灵活，作为装修行业的领先者，与中国建设银行强强联手，服务专业，安全可靠。</p>
                </div>
                <div class="qa_main fr">
                    <h3>Q：申请的资金来源是齐装网还是银行？</h3>
                    <p>A：齐装网“装修贷款”资金由银行提供，银行服务完成面签过程。</p>
                </div>
                <div class="qa_main fl">
                    <h3>Q：我为什么不自己向银行申请办理“装修贷款”呢？ </h3>
                    <p>A：齐装网“装修贷款”是齐装网与中国建设银行合作的绿色通道产品，通过齐装网平台申办，能享受到得天独厚的优势：审核快、放款快、费率低、周期长等等，您自己通过银行申办，无法享受同等优惠力度。</p>
                </div>
                <div class="qa_main fr">
                    <h3>Q：还有哪些性质的房产可以申请齐装网“装修贷款”？</h3>
                    <p>A：毛坯、精装房、二手房改造、自建房、拆迁安置房均可申请。</p>
                </div>
            </div>

        </div>
    </div>
    <div class="zxd_partner">
        <div class="wrap">
            <div class="zxd_title">
                <h3 class="top_title">合作伙伴 诚信可靠
                    <span class="icon icon-l"></span>
                    <span class="icon icon-r"></span>
                </h3>
                <p>建行背书 运用范围广 模式多样</p>
            </div>
            <div class="partner_content">
                <img src="/assets/home/fadan/img/ccb-logo.png" alt="">
                <img src="/assets/home/fadan/img/head-logo.png" alt="" class='middle'>
                <img src="/assets/home/fadan/img/qizuang-logo.png" alt="">
            </div>
        </div>
    </div>

    <include file="Index:footer" />

    <div class="zxd_bottom clearfix" id="bom">
        <div class="wrap">
            <div class="zxd_bottom_img">
                <img src="/assets/home/fadan/img/bottom_icon.png" alt="" width="115" height="116">
            </div>
            <div class="text">
                <h3>齐装贷</h3>
                <p>开启您的装修之旅</p>
            </div>
            <div class="form" id="bom_form">
                <div class="close">
                    <img src="/assets/home/fadan/img/close.png" alt="" width="22" height="22" id="close">
                </div>
                <div class="form_input">
                    <input type="text" id="bom_name" placeholder="请输入您的姓名">
                    <input type="tel" id="bom_tel" placeholder="请输入您的联系方式" maxlength="11">
                    <span class="btn" id="bom_btn">立即申请</span>
                </div>

                <div class="disclamer clearfix">
                    <span class="error-info" id="bom-error-name"></span>
                    <span class="error-info error-info2" id="bom-error-tel"></span>
                    <!--S-免责声明-->
                    <include file="Common@Order/disclamer" />
                    <!--E-免责声明-->
                </div>
            </div>

        </div>
    </div>
    <div class="bottom_img" id="bom_img">
        <img src="/assets/home/fadan/img/bottom_icon.png" alt="" width="115" height="116">
    </div>
    <div class="zxd_popup" id="zxd_popup">
        <div class="popup_main">
            <img src="/assets/home/fadan/img/close.png" alt="" width="22" height="22" id="popup_close">
            <img src="/assets/home/fadan/img/popup.png" alt="" class="top_img">
            <h4>已申请成功</h4>
            <p>齐装网分期顾问会在24小时与你 <br> 电话沟通，请注意接听~</p>
        </div>
    </div>
</body>


</html>
<script>
    $(function () {
        var isTop = true;
        $("#btn").click(function () {
            isTop = true;
            ordre();
        })
        $("#bom_btn").click(function () {
            isTop = false;
            ordre();
        })
        $("#to_top").click(function () {
            $('html,body').animate({ scrollTop: '0px' }, 800)
        })
        $("#close").click(function () {
            $('#bom').slideUp(300, function () {
                $("#bom_img").show(300)
            })
        })
        $("#bom_img").click(function () {
            $("#bom_img").hide(500, function () {
                $('#bom').slideDown(300)
            })
        })
        $("#popup_close").click(function () {
            $("#zxd_popup").fadeOut()
        })

        setInterval("noticeUp('.broadcast_list ul','-40px',500)", 3000);


        function ordre() {

            var isOk = false

            if (isTop) {
                isOk = formVerification($("#top_tel"), $("#top_name"), $("#top-error-tel"), $("#top-error-name"))
            } else {
                isOk = formVerification($("#bom_tel"), $("#bom_name"), $("#bom-error-tel"), $("#bom-error-name"))
            }

            if (!isOk) {
                return false
            }

            if (isTop) {
                if (!checkDisclamer(".banner_form")) {
                    return false;
                }
                var data = {
                    name: $("#top_name").val(),
                    tel: $("#top_tel").val(),
                    source: 19121858,
                    source_in: 6
                }
            } else {
                if (!checkDisclamer(".disclamer")) {
                    return false;
                }
                var data = {
                    name: $("#bom_name").val(),
                    tel: $("#bom_tel").val(),
                    source: 19121858,
                    source_in: 6
                }
            }

            window.order({
                extra: data,
                error: function () {
                    alert('申请失败,请刷新页面');
                },
                success: function (data, status, xhr) {
                    console.log(data)
                    if (data.status == 1) {
                        $("#zxd_popup").show()
                        setTimeout(function () { $("#zxd_popup").fadeOut(); }, 3000);
                        if (isTop) {
                            $("#top_tel").val('')
                            $("#top_name").val('')
                        } else {
                            $("#bom_tel").val('')
                            $("#bom_name").val('')
                        }
                        Placeholders.enable()
                    } else {
                        alert(data.info);
                    }
                },
                validate: function (item, value, method, info) {
                    return true;
                }
            });
        }
    })

    // 表单验证
    function formVerification(tel, name, errorTel, errorName) {
        //检查手机号
        if (!App.validate.run(tel.val())) {
            tel.addClass('focus').focus();
            errorTel.html("请填写正确的手机号码 ^_^!");
            return false;
        } else {
            var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
            if (!reg.test(tel.val())) {
                tel.addClass('focus').focus();
                errorTel.html("请填写正确的手机号码 ^_^!");
                return false;
            } else {
                errorTel.html("")
            }
            if (App.validate.run(name.val())) {
                var reg2 = new RegExp("^[\u4e00-\u9fa5_a-zA-Z]+$");
                if (!reg2.test(name.val())) {
                    name.focus();
                    errorName.html("只允许输入中英文");
                    return false;
                } else {
                    errorName.html("")
                }
            }
        }
        return true
    }




    function noticeUp(obj, top, time) {
        $(obj).animate({
            marginTop: top
        }, time, function () {
            $(this).css({ marginTop: "0" }).find(":first").appendTo(this);
        })
    };

</script>