<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>齐装网文化-{$title}</title>
    <meta name="keywords" content="齐装网文化,企业文化" />
    <meta name="description" content="齐装网企业文化" />
    <include file="Index:resource" />
    <link href="{$static_host}/assets/home/about/css/default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <style>
        p{
            color: #999;
            font-size: 16px;
            line-height: 28px;
            /* padding:5px 0px; */
        }
        strong{
            color:#DE4348;
            font-size: 19px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
     <include file="Index:header" />
     <div class="wrap oflow">
        <div class="bread">
          <a href="/">首页</a>>企业文化
        </div>
        <include file="About:nav" />
        <div class="aboutmain" style="position: relative">
            <div class="abouttit">企业文化
              <span>Corporate Culture</span>
            </div>
            <div class="culture-box">
                <div class="culture">齐装文化</div>
                <div class="culture-line"></div>
                <div class="culture-word">Corporate Culture</div>
                <div class="culture">齐装理念</div>
                <div class="culture-line" style="height:255px;"></div>
                <div class="culture-word-id">Enterprise Idea</div>
            </div>
            <div style="margin-left: 102px;margin-top:169px;">
                <p><strong>使命：让家装简单透明一体化,打造品质生活，提升幸福体验</strong></p>
                <br>
                <P>作为有社会责任心的企业，齐装网一直坚持“让家装简单透明一体化,打造品质生活，提升幸福体验”的伟大使命，致力于为用户提供最优质便利的家装服务，以实际行动践行使命，成为行业发展的标杆之一。</P>
                <br>
                <P><strong>愿景：互联网家装行业领跑者</strong></P>
                <br>
                <P>齐装网的最终目的是成为互联网家装行业领跑者，一个成功的企业不仅要实现自身的价值，更要承担更多的社会责任和使命，这意味着帮用户解决问题、引导行业日益发展、对社会产生价值将成为齐装网的责任。</P>
                <br>
                <P><strong>价值观：客户第一、创新、高效、团队、诚信、激情</strong></P>
                <br>
                <P>客户第一：客户至上，用心服务</P>
                <P>创新：不断改进，勇于创新</P>
                <P>高效：事半功倍、精益求精</P>
                <P>团队：以人为本、互信合作</P>
                <P>诚信：诚实正直，勇于担当</P>
                <P>激情：乐观向上，永不言弃</P>
                <p style="margin-top:180px;margin-bottom: 5px;"><strong>对用户：</strong>坚持用户利益至上，不断倾听并深刻理解用户需求，不断给用户惊喜，不断提供超预期的体验和服务，持续创造新的用户价值；</p>
                <p style="margin-bottom: 5px;"><strong>对合作伙伴：</strong>真诚合作，一起共建共生共赢的生态环境；</p>
                <p style="margin-bottom: 5px;"><strong>对员工：</strong>员工是公司最大的资产，要敢于试错、及时纠错、勇于创新,不断激发员工潜能，使员工与企业共赢、共成长；</p>
                <p style="margin-bottom: 65px;"><strong>对社会：</strong>怀感恩的心，注重社会责任，尽企业的力量，回报社会，施帮助于需要帮助的人，塑造健康企业形象。</p>
            </div>
        </div>
    </div>
    <include file="Index:footer" />
</body>
<script type="text/javascript">
    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
</script>
</html>
