<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>公司历程 -{$title}</title>
    <meta name="keywords" content="齐装网简介,齐装网介绍" />
    <meta name="description" content="齐装网,中国装修门户网站,成立于2012年，致力于为业主提供透明的装修保障服务,并免费为业主提供四大服务、六大保障,让您轻松装修乐无忧！" />
    <include file="Index:resource" />
    <link href="{$static_host}/assets/home/about/css/new_default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/about/css/gslc.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</head>
<body>
    <include file="Index:header" />
    <div class="wrap oflow">
        <div class="bread">
            <a href="/">首页</a>>发展历程
        </div>
        <include file="About:nav" />
        <div class="aboutmain">
            <div class="abouttit">发展历程<span>Company Hsitory</span></div>
            <div class="history-content">
                <ul id="LoutiNav">
                    <li class="active"><i>2020</i><span>2020</span></li>
                    <li><i>2019</i><span>2019</span></li>
                    <li><i>2018</i><span>2018</span></li>
                    <li><i>2017</i><span>2017</span></li>
                    <li><i>2016</i><span>2016</span></li>
                    <li><i>2015</i><span>2015</span></li>
                    <li><i>2014</i><span>2014</span></li>
                    <li><i>2013</i><span>2013</span></li>
                    <li style="border-bottom: none;"><i>2012</i><span>2012</span></li>
                </ul>
                <div id="xheader">齐装•大事记 <i></i></div>
                <div id="main">
                    <div class="louceng">
                        <div class="tit">2020</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74">成立齐装网重庆分公司、成都分公司、安徽分公司</p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">开创齐装网2.0装企合作模式</p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2019</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74">荣获苏州市“川渝商会会员单位”</p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">成立“齐装商学院”</p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2018</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74">开启家装VR路线，赋能装企</p>
                                <p class="m52">开发“齐装云管家”ERP、“齐装”APP上线</p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">开通全国分站554个</p>
                                <p class="m52">开展首届“装企未来分享峰会”</p>
                                <p class="m48">荣获江苏省家居业“诚信电商示范品牌”</p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2017</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74">年交易额超6亿，日均UV突破150万</p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">汇聚6万家装修公司，积累服务1500万业主 </p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2016</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74">荣获江苏省“电子商务创新型企业”</p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">摘得百度苏州“风雨同舟奖”</p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2015</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74"> 爱奇艺装修栏目“齐装网装修讲堂”开播</p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">开通分站300个</p>
                                <p class="m48">摘得腾讯家居行业“最佳营销创新奖”</p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2014</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74">荣获建筑装饰行业"互联网装修知名品牌"</p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">360°网络整合营销传播</p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2013</div>
                        <div class="con">
                            <div class="left">
                                <p class="m74">成立全国呼叫中心， 启用全国客服统一热线  </p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">开通分站80个</p>
                            </div>
                        </div>
                    </div>
                    <div class="louceng">
                        <div class="tit">2012</div>
                        <div class="con">
                            <div class="left">
                                <p class="m34">    </p>
                            </div>
                            <div class="center">
                                <img src="{$static_host}/assets/home/about/img/kd1.png" alt="">
                                <img src="{$static_host}/assets/home/about/img/kd2.png" alt="">
                            </div>
                            <div class="right">
                                <p class="m34">齐装网正式成立</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <script type="text/javascript">
      var oNav = $('#LoutiNav');//导航壳
      var aNav = oNav.find('li');//导航
      var aDiv = $('#main .louceng');//楼层
      $(window).scroll(function(){
        var winH = $(window).height();//可视窗口高度
        var iTop = $(window).scrollTop();//鼠标滚动的距离

        if(iTop>=$('#xheader').height() + 80){
          oNav.fadeIn();
          //鼠标滑动式改变
          aDiv.each(function(){
            if(winH+iTop - $(this).offset().top>winH/2 + 200){
              aNav.removeClass('active');
              aNav.eq($(this).index()).addClass('active');
            }
          })
        }else{
          oNav.fadeOut();
        }
      })
      //点击回到当前楼层
      aNav.click(function(){
        var t = aDiv.eq($(this).index()).offset().top - 100;
        $('body,html').animate({"scrollTop":t},500);
        // $(this).addClass('active').siblings().removeClass('active');
      });
      $(function () {
        if($(window).width()<=1440){
          $('#LoutiNav').css({"right":"100px"})
        }else {
          $('#LoutiNav').css({"right":"346px"})
        }
      })
    </script>
    <include file="Index:footer" />
</body>
</html>
