<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>资质荣誉-齐装网</title>
    <meta name="keywords" content="齐装网简介,齐装网介绍" />
    <meta name="description" content="齐装网,中国装修门户网站,成立于2012年，致力于为业主提供透明的装修保障服务,并免费为业主提供四大服务、六大保障,让您轻松装修乐无忧！" />
    <include file="Index:resource" />
    <link href="{$static_host}/assets/home/about/css/new_default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/about/css/koubei.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/common/plugin/bxslider/bxslider.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="/assets/common/plugin/viewer/css/viewer.css?v={:C('STATIC_VERSION')}">
</head>
<body>
<include file="Index:header" />
<div class="wrap oflow">
  <div class="bread">
    <a href="/">首页</a>>资质荣誉
  </div>
  <include file="About:nav" />
  <div class="aboutmain">
    <div class="abouttit">资质荣誉<span> QUALIFICATION HONOR</span></div>
    <div class="koubei-item kb-ry">
      <div class="a-name">荣誉证书<i></i></div>
      <ul class="about_honorlist clearfix">
        <li>
          <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191114/FkzTS1j7C4l70hxh5gSiOI99_ACM">
          <p>中国消费者可信赖品牌</p>
        </li>
        <li>
          <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191114/FgzJAIFvVpcjBQPeBKAYw9lbFmAD">
          <p>中国家居行业最具影响力品牌</p>
        </li>
        <li>
          <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191114/Fqva0RjNAPg634YFMsR-L6O8AFsd">
          <p>中国百佳改革创新示范企业</p>
        </li>
        <li>
          <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191114/FqHquldUD_qDzett0Tafpqcg0nsC">
          <p>全国互联网家居行业十大品牌</p>
        </li>
        <li>
          <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191114/FufkFLwgNNDat7Idg7xZ_Nupjeq6">
          <p>中国百强优秀企业</p>
        </li>
        <li>
          <img src="//{:C('QINIU_DOMAIN')}/webstatic/img/about/koubei/rongyu-1.jpg">
          <p>苏州川渝商会会员</p>
        </li>
        <li>
          <img src="//{:C('QINIU_DOMAIN')}/webstatic/img/about/koubei/rongyu-2.jpg">
          <p>三维家战略合作伙伴</p>
        </li>
        <li>
          <img src="//{:C('QINIU_DOMAIN')}/webstatic/img/about/koubei/rongyu-3.jpg">
          <p>知乎认定知名装修平台</p>
        </li>
      </ul>
      <div class="a-name">媒体报道<i></i></div>
      <ul>
        <volist name="list" id="vo">
          <li class="media-list clearfix">
            <div class="meida-list-img">
              <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/{$vo.image}" onerror="javascript:this.src='/assets/home/about/img/meida.png'"/>
            </div>
            <div class="media-list-content">
              <p>
                <a target="_blank" href="{$vo.url}" class="media-tit">{$vo.title}</a>
                <span class="meida-time">{$vo.publish_time}</span>
              </p>
              <p class="media-content">{$vo.description}</p>
            </div>
          </li>
        </volist>
      </ul>
      <div class="content pageContent mt40">
        {$page}
      </div>
    </div>
  </div>
</div>
<include file="Index:footer" />
</body>
<script src="/assets/common/plugin/bxslider/bxslider.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/common/plugin/viewer/js/viewer.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/common/plugin/viewer/js/jquery-viewer.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
  $(function(){
    $(".fa-play").click(function(){
      var idName = $(this).data("id");
      var video = document.getElementById(idName)
      var brothers = $(this).parent("div").find("img,p,i")
      // $(this).next("p").css("background","rgba(0,0,0,1)")
      video.play()
      video.setAttribute("data-status",1)
      brothers.fadeOut()
    })
    $("video").click(function(){
      if(!this.paused){
        this.pause()
      }else{
        this.play()
      }
    })
    var $images = $('.about_certlist');
    $images.viewer();
    $('.about_certlist').bxSlider({
      slideWidth: 286,
      minSlides: 3,
      maxSlides: 3,
      moveSlides: 1,   //此参数只滑动一张图片
      slideMargin: 0,
      auto: false,
      stopAutoOnClick: true,
      autoHover: true,
      autoStart: false,
      speed: 800,
      pause: 5000,
      infiniteLoop: true,
      pager: false,
      // infiniteLoop: false, // 禁用无限循环
      // hideControlOnEnd: true // 必须和infiniteLoop一起使用且infiniteLoop必须设为false才行
    });
    $('.about_honorlist').bxSlider({
      slideWidth: 276,
      minSlides: 3,
      maxSlides: 3,
      moveSlides: 1,   //此参数只滑动一张图片
      slideMargin: 10,
      auto: false,
      stopAutoOnClick: true,
      autoHover: true,
      autoStart: false,
      speed: 800,
      pause: 5000,
      infiniteLoop: true,
      pager: false,
      // infiniteLoop: false, // 禁用无限循环
      // hideControlOnEnd: true // 必须和infiniteLoop一起使用且infiniteLoop必须设为false才行
    });

  })
</script>
</html>