<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>删帖等权益保护处理-{$title}</title>
    <include file="Index:resource" />
    <link href="{$static_host}/assets/home/about/css/new_default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</head>

<body>
    <include file="Index:header" />
    <div class="wrap oflow">
        <div class="bread">
          <a href="/">首页</a>>权益保护
        </div>
        <include file="About:nav" />
        <div class="aboutmain">
            <div class="abouttits">
                <a href="/about/legal" class="item">法律声明</a>
                <a href="/about/disclamer" class="item">免责声明</a>
                <a href="/about/quanyi" class="item active">权益保护</a>
            </div>
            <p style="text-indent: 2em">根据国家《信息网络传播权保护条例》，参考最高法2014年10月最新解释，本网建立了处理侵权纠纷的“修改与删除”简便程序。相关企业/权利人如发现本网站页面内容涉及内容不实等侵权行为，可根据本网站提供的处理流程与我们联系处理。</p>
            <p style="text-indent: 2em;font-weight:700;">一、申请处理流程</p>
            <p style="text-indent: 2em">1、请详细填写下列相关内容：</p>
            <p style="text-indent: 2em">（1）需要处理的页面链接，侵权行为的详细描述；</p>
            <p style="text-indent: 2em">（2）申请处理的方式：a.删除页面；b.删除及或修改页面中的部分内容（需明确列出需要修改或删除的图片或文字等内容）；</p>
            <p style="text-indent: 2em">（3）请提供资质证明，证明为相关权利人或者委托人的相关证明（A、若涉及企业请提供企业营业执照复印件及法人身份证复印件；B、若涉及个人的请提供身份证复印件；C、若为委托人，一并提供委托书面证明）；</p>
            <p style="text-indent: 2em">（4）请附上相关证据或资料，以证明页面内容涉及侵权。</p>
            <p>以上资料填写后请与相关资料的电子档（扫描件）一并发至网站申诉邮箱：<span style="font-weight:700;">1013200473@qq.com</span></p>
            <p style="text-indent: 2em">2、具体处理办法</p>
            <p style="text-indent: 2em">（1）编辑：如果页面中含有侮辱性、侵犯隐私、不实描述等涉嫌侵害权利人权益的图片或文字等内容，可以要求编辑对对应内容进行编辑修改。如需整站范围内编辑特定的商家信息，可酌情受理，申请需要出具完整的侵权行为描述并提供可靠的证据资料。</p>
            <p style="text-indent: 2em">（2）删除：涉及侵犯知识产权、诽谤、恶意诋毁等内容的页面，权利人申请将页面进行删除处理的，应当根据上述要求提供完整的信息资料，否则不予受理。</p>
            <p style="text-indent: 2em">3、双方确认最终处理结果</p>
            <p style="text-indent: 2em">本网站收到权利人的完整材料、相关证据（或者证明）以及要求后，将依据法律法规条款，积极履行法律义务，对侵权内容采取相关措施。</p>
            <p style="text-indent: 2em">按照“谁主张谁举证”的法律原则，请权利人针对涉事内容进行举证，提供相应证据（图片、视频、文件、音频等）。如权利人未能提供或者提供的证据不足，本网站将不予处理。</p>
            <p style="text-indent: 2em;font-weight:700;">二、权利人自己生产内容的页面处理</p>
            <p style="text-indent: 2em">权利人自己在本网站的问答、日记等相关栏目发布内容的，可自己在后台进行内容编辑和删除等操作，若后台无权限自行处理的，参照正常申请流程处理。</p>
        </div>
    </div>
   <include file="Index:footer" />
</body>

</html>
