<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>员工风采 - {$title}</title>
    <meta name="keywords" content="齐装网文化,企业文化" />
    <meta name="description" content="齐装网企业文化" />
    <include file="Index:resource" />
    <link href="{$static_host}/assets/home/about/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/about/css/default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="{$static_host}/assets/home/about/css/aboutus.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</head>
<body>
     <include file="Index:header" />
     <div class="wrap oflow">
        <div class="bread">
          <a href="/">首页</a>>关于我们
        </div>
        <include file="About:nav" />
        <div class="aboutmain">
            <div class="abouttit">员工风采<span>Staff style</span></div>
            <div class="futureus">未来的我们</div>

            <div class="head-line"></div>
            <!--S-2020新增单元-->
            <div class="time-item">
                <div class="year-box">
                    2020
                </div>
                <!-- 右侧桥图片 -->
                <div class="year-frame-right" style="top:135px;">
                    <img src="/assets/home/about/img/2020rightnew.png" alt="">
                </div>
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="left-line">
                        回顾2019，总结过去，展望2020，扬帆启航。齐装的发展离不开员工的汗水，感谢一年来付出的员工，你们的付出齐装都会铭记予以表彰
                    </div>

                    <div class="left-content">
                        <div class="content-title">2020年度盛典</div>
                        <div class="content-icon">
                            <img src="/assets/home/about/img/2020.jpg" alt=""/>
                        </div>
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FpG87hOdz-fjYstrccvhdjbCYTOu.JPG,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FnIwQ7lkkZCIiSldP2tzWz0ePdCJ.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fix3oEYPjNhy9-yna_DQBAW9ecEN.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fnij3ljGmEuHzZyxqkWVjGOLAO0d.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FjPEA1jKtfbSrIi6Pt5UWivehVF7.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FlqVD-98eOr9IieKWqHHXjLFa340.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fh6saMIq_WMo940otsUVdnJpgJV0.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fmr08dyx2cIyyvvYi-EHhlSO-kFo.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fst9ll1oj9a1S6T3HCiVsAHXs0zj.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FjheHhVn-FaJrNik9gVmpesoBSci.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fj0F-_90kRhdmaTbuobbfqdmqCOH.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FnwFQcnEa4p15wijd_vs4CuVUvbQ.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fk49cUgCFtTKCXMriXqTX2lxJDT4.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FmIWZ4loZD7wILT29QhL0GcipIqh.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FhajsVR9NQZyh34P2h0uJEci9A7o.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/FqXzUpb8tgWoU9SDl98Df7YpTrbg.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200111/Fp5mPSGF4wxFO2oYcAGRGrs24ZeK.jpg
                        </div>
                    </div>
                </div>
                <div class="year-line"></div>
            </div>
            <!--E-2020新增单元-->

            <!--S-2019新增单元-->
            <div class="time-item">
                <div class="year-box">
                    2019
                </div>
                <!-- 右侧桥图片 -->
                <div class="year-frame-left" style="margin-top: -100px;">
                    <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FsgCqrJwIFT4qrDDZs6lVMDARfm8" alt="">
                </div>
                <!-- 一根线, 一个圆 右侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="right-line">
                        新春佳节元宵夜，万家灯火暖新春；<br>
                        看花灯品元宵猜灯谜，今宵齐装与你共团圆
                    </div>
                    <div class="right-content" style="width: 240px;">
                        <div class="content-title">与你一“齐”庆元宵猜灯谜</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/webstatic/img/about/team/2019/yuanxiao.jpg" alt="">
                        </div>
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/Fpg4gopOV88vsAe2ZKtHoYO1Jau2,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FsiVWQmB8aM9p5Gw1X-RI2pIrAzx,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FjEtas6K0YvaQ9OAP5JUHaqHRuZW,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FnDk3C1EYmkeS5HPH8pokGp-NxRu,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FsBGQWidGlL76d1P9IzBN8VUo-F6,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FneMJ-dSg1wxkFmUfFuPflCCGgxc,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FjTy_EIRwQ7osnoAduVMcfSCrFFh,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FvTLmUq5Wmn1HDRvEZE_4mr5hmem,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FlcjphiylXRxMY0ZZcOl34YLdeGL,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/Fta4k6P-4FWbBl2_SHlmh8If5N0P,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FgvqTxbgV93hXoEw8sXuTvdwU9Kq
                        </div>
                    </div>
                </div>
                <!-- 一根线, 一个圆 左侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="left-line">
                        总结是为了更好的迈步向前，感恩一年来为齐装付出的员工，为大家呈上精彩的节目，精致的美食。
                    </div>

                    <div class="left-content">
                        <div class="content-title">年终总结，颁奖盛典</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FrfYoc94M5NQ4K87VY0ItOx3qiAt" alt="">
                        </div>
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/Fk6eH3cHfxYmOf9HFOzmvONPV_MV,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FldIl7vEE0e3M_rraBp5khgdeiPE,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/Ft3feI3cBngjwMfXZm5NHOj0c-l3,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FtZV5G6IShDDXsXW6Jr7m9N_qf7v,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FkgNv3WiKTOg1eU8BWc65vvGxj_M,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FkFD8oryykUi-QDuSThjXDtknbf8,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FlPnrYDs5DC11BHV8_pqGhSWbH35,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/Fsj5kQ2jr133Zu78_AYlveLPfCND,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/FoYbjkDUbbU2PzHNMFqSfTU79-Lz,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20190307/Fl_HcMYfpn1wDrA5shkP51DaXtDe
                        </div>
                    </div>
                </div>
            </div>
            <!--E-2019新增单元-->

            <div class="head-line" style="height: 136px;"></div>
            <!--S-2018新增单元-->
            <div class="time-item">
                <div class="year-box">
                    2018
                </div>
                <!-- 右侧桥图片 -->
                <div class="year-frame-right">
                    <img src="/assets/home/about/img/2018right.png" alt="">
                </div>
                <!-- 一根线, 一个圆 右侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="right-line">
                        陶冶情操，激发潜能，超越自我，促进协作
                    </div>
                    <div class="right-content">
                        <div class="content-title">素质拓展，交流分享</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FrEKSrsiDEeVSQ9-3aB4DshfuV6N" alt="">
                        </div>
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/Fi0PYjF9pKWEdLOFPTeYUWPsPz0X,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/Fm7B8u9Qj0gFGL0CaMcc34TiPhLA,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FguBFgjYAzizsxaTnWMhQwCideb1,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FtopN7kXva3jty2A-ftyBTRpkJwp,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FgXQjJ5oYgiMbZI0E3uxvltuE6Gp,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FpHIOFvM3yKeVTr_UvRALflRPZXj,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FuWWtIcyw71tS2esM3qEm93i1G2x,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FmYjvKWvJ8G6jeGNApqhV4uShg1T,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/Fuq_Hw4XNw6pCZtlkMd4qFZD98NF,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/Fu27jTRtpJBXAys_BYu2PnCSy_SH,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FvxOQxHw8U2NOTHvBiCU_Qob_5wA,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FkeyG-7cfIsi_o867adDLyIc7tJv,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/Fl_ojJK48H4cq_e2BYuTlTNFiIuR,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FkZg0gRS64N0N_JZ_q0iE4xX_2My,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FqgjFDMeVCBpr_dgT08a3mUciJSE,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FnXdqK73sQzryCluiyW4JEsIa55p,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20181224/FqSZh4HXlbkzBgDVFqQB8xwnqmDz
                        </div>
                    </div>
                </div>
                <!-- 一根线, 一个圆 左侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="left-line">
                        齐装网棋王争霸赛圆满结束，人生如棋，棋悟人生。
                    </div>
                    <div class="left-content">
                        <div class="content-title">2018齐装网棋王争霸赛</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FsQDhkvzG3glhLanS1EJG0iBdh51.jpg" alt="">
                        </div>
                        <!-- 轮播图内容 -->
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FgJ-NO2cpPIHlh68_gcQ3k7dnAaC.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FphlUeAAgi9nqz3qHBa2nNY1n_KO.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FsN2Dpu0Q2LDFwj-A4eM_VMwg-3_.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fhsw3hqVxfxGG3xDr8Fh4JV1y2pO.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FktbYdf2hegNxeLby9Oz52ASO-aK.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FhIpZbhqICfUHttp6QFCRGWxurAc.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fqw4upoDB7Sg_wfradElLHptAObh.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FvF5Ja2k-G-4Q2jGi2M3xxhRzygV.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FgiMyb-DIQww7uo4Rf2JHlodYPvy.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FqGyZg7SrLo57lfMIUcUfx504JC8.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FnBntRjQgs6x24ffXc01rRxAUvMO.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FgSRKa0HTUur0DDzCrmt2d8Gh_UF.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FnRcIkjc7PvDwwe_uQPphkiSYKZr.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FpRWH6zA5kqyVoVyyFmHSpovK-8a.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fr3o8vzwHnJfYjH1Q4dwthHK__4N.jpg
                        </div>
                    </div>
                </div>
                <!-- 一根线, 一个圆 右侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="right-line">
                        上下级深入交流，为齐装网更好地发展指明道路。
                    </div>
                    <div class="right-content">
                        <div class="content-title">员工大会凝聚企业内核</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fk0soACahWMkosBmGuokfkz-A-RT.png" alt="">
                        </div>
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FgTsVuy3jiQ8EsGqWDWtPa72fDcb.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fr90LJmJYQt5TL2pF1rpOBHBlENj.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FoGS0oQBN2ED4ndVW2JtLsmGRiU3.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FrTdBCLHYFYLRSZuilwpYvYPMIm9.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FqIvVCpZScgIBkR2FcAxM_btikI_.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FgFC-ceHCjpQnjsFjX9Zpi0s7cAH.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fv2mkFb0uS-13_O9GeQQmo2yhnjj.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fg3dnWyA93tkcT68-CGLAzruUOik.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FmxrJe7CJFW8os6OpOBfrCsrGQuo.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FrfvvpaDfRFlpxjd8CnybgoImTNK.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FuFSxdyqKFQh6lhKVFWttthCzHMm.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fl8i_-jL0EVDi_zx8Fb9Twa4DBAm.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FkSOzk6hYR_WLecz-etgmivtuhhY.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FqhwFHr8K73ppYg4LaB3FDDSCekZ.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FlSDrR8rQC6W32hs3SryStRupzen.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fo6v7befTBE7HV4uKlgy9G1ttOQb.jpg
                        </div>
                    </div>
                </div>
                <!-- 一根线, 一个圆 左侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="left-line">
                        回顾2017傲迎2018，放下工作激情狂欢，短暂的休息是为了走更远的路。
                    </div>

                    <div class="left-content">
                        <div class="content-title">旧年总结新年起航</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FjzDKptTVm3msBrAqAIv4mYltD2p.jpg" alt="">
                        </div>
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FhfTja8mBZPtZCMJOBb4BeXZj0qt.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fl5_fshSc2Uyhm0fKCUftQiyzJaF.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fv1TvWS3b02giBuRfVvlLQA7lLfP.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FhXr6fpFJTnjiNGxOQ_frHgeSDeB.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FiVsdTKN5yy9PXFwUGbSm7FPQZd-.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FqTD4NvKmmZ5YmoqpdrS3FBBCGAc.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fp020YQQUNsscSc58wsDgl5QOYbI.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FmcHKxNXOLMtkYNcdGkSoWjjtT4H.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FojbQFhwPzlYam-DYGArdrZIglOS.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FksqGgsVFDpAZAzkWEvBb92gYFm3.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FvMLs4Zadc21c7ieCD9-FQI8x6UK.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fmvc8Qujb34oOVxaofqPX64Qmy3r.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FrXokAY-7eEQ4FTLJsIfCQ5X7CUc.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/FtmR7Vtnu3lDFVHmWZBdrLuJ3zus.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fi_yAt_HmA1UIyHE5qrzWH3ZCp4D.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20180929/Fg-bU52gSKmwVFzIxgpize-tFlGd.jpg
                        </div>
                    </div>
                </div>
            </div>
            <!--E-2018新增单元-->


            <div class="time-item">
                <div class="year-line"></div>
                <div class="year-box">
                    2017
                </div>
                <!-- 左侧桥图片 -->
                <div class="year-frame-left">
                    <img src="/assets/home/about/img/feijibj.jpg" alt="">
                </div>
                <!-- 一根线, 一个圆 右侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="right-line">
                        前往无锡欢乐庄园参加团队拓展训练，促进团队凝聚力。
                    </div>
                    <div class="right-content">
                        <div class="content-title">拓展训练磨合团队</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FkhizTeYKsy4ZdTvPp_51TavDPV3.png" alt="">
                        </div>
                        <div class="swp-list">
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FiYs2C_y57nQcr7N23sRFPJdHru5.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fq0BWkvh0yv_YvcLgbrVRtAensMe.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fmf9oh2Rn01qPME3Jkm0dPn-Sml0.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FgbcKCynH0qbwBwyOu8ZpzCBzQF3.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fh9-uweos2GU_BhpePSDKICsxXp8.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FqSscvNydYIaC7qcEKacmb1zTHTg.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Ftpp7bya9DlRqQM315bTEKqK-Mhg.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FuWHW5bXzMp7encDmIRQLaf8MgY8.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fhiq9emeLVx22znh7xXso2Rc5iTP.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FtGsfPs-xP5j3_5_poKjrYBQkwal.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FrMliGlPkfYjiN0KQzDjDGtVcRVu.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Flxv6vICl5piaSSCwyRATesuImWR.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FlEChA8mkIy7KodH6CFP0Ep7pvyY.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FogE1FS4sPQZabE144Ufhjn3DJal.jpg,
                          {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FjDi84mK-8WgYDCkzVK2emt4RAzn.jpg
                        </div>
                    </div>
                </div>
                <!-- 一根线, 一个圆 左侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="left-line">
                        齐装网第一届乒乓球赛圆满结束。
                    </div>
                    <div class="left-content">
                        <div class="content-title">工作之余多彩生活</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FrzGRtJHCvJBnd9za5b1WQKUjT-8.png" alt="">
                        </div>
                        <div class="swp-list">
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FvbHj8-HD61CitksC9cQVNgEUabg.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/Ftimi1tEzvbjRdmxMC90e-2H5out.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FtHFPmn6UThnvGG2B0BBmTXOUPuQ.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/Fm3Wceryv_SL8KoJamPJLZqzjCZE.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FiEyOc1zYI7whlKA30pS6gVB2yKX.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FpfADpYS4wcnyZZfikUzjckmUswC.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fvml_pWWJut_WeXJSNJL1xW1E9_W.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fsa4r9ftyGngN9ZWPbYV-tp7dXf0.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fhejg8IJENdtV3NxyxfPJCNS1q8y.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FtLQX5P-uMN6iz9BLJD-nCGRzFwJ.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fmf3ICedXotQr_zj0phcj6YROB6C.jpg
                        </div>
                    </div>
                </div>

                 <!-- 一根线, 一个圆 右侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="right-line">
                        六一儿童节我们大龄儿童也蹭蹭气氛。寻找童心，欢度六一。
                    </div>
                    <div class="right-content">
                        <div class="content-title">六一儿童找回童心</div>
                        <div class="content-icon" data-type="video" style="height: 180px">
                            <video id="video1" preload="auto" controls="" width="240" height="180" name="media" onclick="ccc()" ondblclick="rrr(this)"><source src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/video/qizuang/ertongjie-1.mp4" type="video/mp4"></video>
                        </div>
                    </div>
                </div>

                <!-- 一根线, 一个圆 左侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="left-line">
                        齐装网欢聚年会，各部门花样表演，现场一片欢声笑语。
                    </div>
                    <div class="left-content">
                        <div class="content-title">欢聚年会其乐融融</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FsX8XsEkT6tpxC9eMAmzC3ozFLaw.png" alt="">
                        </div>
                        <div class="swp-list">
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fn4WAw75H_OFzGlORb-uPIgH4xd9.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fh4VjnyAsGXxojWEgqqR7UM6rq5V.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FhvVnGaNtmc-fOu0yyfSRzTfxaL4.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FuBS2ZgaoWAbe7vnj1W_L8J4B8d3.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FpGOpc7OG8qyHdIn8FgFAG9EMwUx.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FhLC7575Avg5_iMS88v28P8-dKBe.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Ft6ODyJ7DQ8tzIT1Xb2i2_N78QCb.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FleSz31LeBWTjWFb_JzeJQYKzRaq.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FmleV41kpJYEQXcGrSkfUl8UGb1_.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fm3e95UnWSgvr13ActsmPznkepVa.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fns8j2SXOQtcIoRLBKfpxV-AZ6-g.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FrwUgQ7sl6sY-k09PIc5aNqlUvcN.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FjvuewkgSvER8PpxrObRmDGjwvJj.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fjh8ZdUpX7_y_33rk7UIdGw23-H_.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fhg5e2n129oJ7et4QJz_X5RXGnZa.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FumbELxZxhKeLLbMbQSsHS_DqTpT.jpg
                        </div>
                    </div>
                </div>
            </div>

            <div class="time-item">
                <div class="year-line"></div>
                <div class="year-box">
                    2016
                </div>
                <!-- 右侧桥图片 -->
                <div class="year-frame-right">
                    <img src="/assets/home/about/img/ygfc_bjq.jpg" alt="">
                </div>
                <!-- 一根线, 一个圆 左侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="left-line">
                        跟随秋天的脚步，放空自己的身心，融入大自然中。
                    </div>
                    <div class="left-content">
                        <div class="content-title">秋游团建放松身心</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FgJZl3S0UnQ6ywotZx7zuvvIrdvb.png" alt="">
                        </div>
                        <div class="swp-list">
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FnXIcIZxmvvE9N0he82zXL71BzFl.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FqVlEqNySwbtDlUL8NI_qMpqFfQq.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fjingew-yqNQUP6fVYM9loPAmUpn.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FtmAvnxbXGQcLPwlpc4NYnFA8DGJ.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fu2LC7LHTmpDgU3Cj95KNT91j-ZV.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FjXgTgkRF9uaf7MAVNaqF0VMhne7.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FtZOSGp9C_Clo8YWx3JEre4ESgVn.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fr3vDz4uVmJp5UxmYF-xv3HOl9wo.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FsrO2p_Wrm5BzTpRmcc8VxyAHscX.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FpTWa3Q2GB7p_dnIzoZsujR84Unw.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FoeMkn6w6aK8CRCTK_WR5yXvOgi4.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fkp5f5ycIix8LKTaiFduzAOBhmL3.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FnnASsLR5WAc6YKKaUtcN4ACzPIT.jpg,
                             {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FrdytDGhdOfvjATgvvVhe62yPs-l.jpg

                        </div>
                    </div>
                </div>

                <!-- 一根线, 一个圆 右侧内容-->
                <div class="year-line"></div>
                <div class="radius-point">
                    <div class="right-line">
                        公司定期为员工庆生，寿星们的专有福利。
                    </div>
                    <div class="right-content">
                        <div class="content-title">定期派对员工庆生</div>
                        <div class="content-icon">
                            <img src=" {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171011/FsjuLSSpP1N0lWkkVal_Qmq2hXaD.png" alt="">
                        </div>
                        <div class="swp-list">
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FpK1QFjMNgArczcXReRRI3atkkyp.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fhv_oey3T1HIGl891_nu85timUp-.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FrdEQ0huK9sdg6vfZHjLFLa3-01l.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/FkoWTves9KWWmyeMU640HS5EuDkq.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171009/Fn83HcyllckAt7mAnGOz2yCPiB4m.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FrihOLZ5l1VgF1tWqn9v77qdUqaY.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FnMN2eWd3cDZoCbhYt7H2qKZ2uej.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FgXirhaYxrYpFMjMhPugbCVMjexg.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FlLKwndrOViPQzHvjQ_gDSldArl8.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FlSKmFAnz10Ds3LtSA009Q7xOA13.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FnYip9D7mO99gtQb_cLh8x-aAbCH.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/FlGx_T5mGGQB4bdPhTZoaclkzsY_.jpg,
                            {$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171025/Fmz2jxiq_PJU9Q18YBK615iCXVJJ.jpg
                        </div>
                    </div>
                </div>
                <div class="year-line"></div>


            </div>
            <div class="futureus">待追忆</div>
            <br>
            <br>
        </div>

        <div class="contain-bg">
            <div class="slider-box gl-slide">
                <span class="guanbi"></span>
                <div class="swiper-container">
                    <ul class="swiper-wrapper" id="swiper-box">
                    </ul>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <include file="Index:footer"/>
    <script type="text/javascript" src="{$static_host}/assets/home/about/js/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
    var shen = null,shi = null;
        shen = citys["shen"];
        shi = citys["shi"];
    $(".content-icon").on("click",function(){
        $("#swiper-box").html("");
        var type=$(this).attr("data-type");
        if(type=="video"){
            return;
        }
        var title=$(this).prev(".content-title").text();
        var images =$(this).next().html().trim().split(",");
        $.each(images,function(index, el) {
            var xuhao = index+1;
            var li="<li class='swiper-slide'><img src='"+el.trim()+"'/><div class='ygfc_gdjs'><span>"+xuhao+"</span>/<span>"+images.length+"</span><span>"+title+"</span></div></li>";
            $("#swiper-box").append(li);
        });
        $(".contain-bg").fadeIn();
        $("#swiper-title").text(title);
        var mySwiper = new Swiper('.swiper-container', {
            pagination : '.swiper-pagination',
            autoplayDisableOnInteraction : false,
            loop:true,
            effect: 'fade',
            sliderPerview: 'auto',
            initialSlide :0,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true,//修改swiper的父元素时，自动初始化swiper
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev'
        });
    });


//视频播放
  var aa=true;
  var myVideo=document.getElementById("video1");
  function ccc(){
    if(aa){
        playVid();
    }else{
        pauseVid();
    }
    aa=!aa;
  }
  var bb=true;
  var myVideo=document.getElementById("video1");
  function rrr(element){
    if(bb){
         if(element.requestFullscreen) {
        element.requestFullscreen();
      } else if(element.mozRequestFullScreen) {
        element.mozRequestFullScreen();
      } else if(element.msRequestFullscreen){
        element.msRequestFullscreen();
      } else if(element.webkitRequestFullscreen) {
        element.webkitRequestFullScreen();
      }
    }else{
         if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.msExitFullscreen) {
          document.msExitFullscreen();
        } else if (document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
          document.webkitExitFullscreen();
        }
    }
    bb=!bb;
  }


    function playVid(){
        myVideo.play();
    }

    function pauseVid(){
     myVideo.pause();
    }

    //关闭按钮
    $('.guanbi').click(function(){
        $(".contain-bg").fadeOut();
    })


</script>
</body>

</html>
