[Unit]
Description=admin-api.service app
After=network.target
Requires=network.target

[Service]
Type=simple
User=www
Restart=always
RestartSec=5s
TimeoutStartSec=0

WorkingDirectory=/data/app/admin-api/
ExecStart=/data/app/admin-api/admin-api.service


[Install]
WantedBy=multi-user.target