<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="applicable-device" content="pc">
    <title>登录-齐装网</title>
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/common/css/base.css?v={:config('static_version')}">
    <link rel="stylesheet" href="/static/private/css/login.css?v={:config('static_version')}">
    <script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="top">
            <div class="t-left">
                <ul>
                    <li><a href="{$QZ_HOST}" target="_blank">首页</a></li>
                    <li><a href="{$QZ_HOST}/zhaobiao/" target="_blank">设计与报价</a></li>
                    <li><a href="{$QZ_HOST}/tu/" target="_blank">效果图</a></li>
                    <li><a href="{$QZ_HOST}/gonglue/" target="_blank">装修攻略</a></li>
                    <li><a href="{$QZ_HOST}/wenda/" target="_blank">装修问答</a></li>
                </ul>
            </div>
            <div class="t-right">
                <ul>
                    <li><a href="/login">业主登录&nbsp;&nbsp;|&nbsp;&nbsp;</a></li>
                    <li><a href="{$U_HOST}" target="_blank">企业登录&nbsp;&nbsp;|&nbsp;&nbsp;</a></li>
                    <li><a href="{$QZ_HOST}/zhaobiao/" target="_blank">免费招标&nbsp;&nbsp;|&nbsp;&nbsp;</a></li>
                    <li><a href="{$QZ_HOST}/xgt/" target="_blank">装修案例&nbsp;&nbsp;|&nbsp;&nbsp;</a></li>
                    <li><a href="javascript:;" target="_blank">服务热线：<span>400-6969-336</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="bg">
            <img src="{$QINIU_HOST}/custom/20191028/FrTUGeZ86zkfRkBZtB_gXjUCyzTJ" alt="">
        </div>
        <div class="wrap">
            <div class="logo">
                <a href="">
                    <img src="/static/common/img/logo.png" alt="">
                </a>
            </div>
            <div class="form">
                <div class="change-login-way">
                    <div class="imgs computer-icon"></div>
                </div>
                <div class="user-login-box">
                    <form action="">
                        <div class="tabs clearfix">
                            <div class="user-login active">账号登录</div>
                            <div class="line">|</div>
                            <div class="code-login">验证码登录</div>
                        </div>
                        <div class="user-box">
                            <div class="form-input">
                                <input type="text" placeholder="请输入手机号" maxlength="11" id="username" onkeyup="this.value=this.value.replace(/\s+/g,'')">
                                <div class="warn"></div>
                            </div> 
                            <div class="form-input">
                                <input type="password" id="userpwd" placeholder="请输入密码" maxlength="16">
                                <div class="warn"></div>
                            </div>
                        </div>
                        <div class="code-box">
                            <div class="form-input">
                                <input type="text" placeholder="请输入手机号" maxlength="11" class="tel" onkeyup="this.value=this.value.replace(/\s+/g,'')">
                                <div class="warn"></div>
                            </div> 
                            <div class="form-input clearfix">
                            <input type="text" class="code-input" id="msg-code" placeholder="请输入验证码" onkeyup = "value=value.replace(/[^\d]/g,'')" maxlength="6">
                                <button type="button" class="get-code" id="sendCode">获取短信验证码</button>
                                <div class="warn"></div>
                            </div>
                            <div class="form-input clearfix">
                                <div id="embed-captcha"></div>
                            </div>
                        </div>
                        <div class="login-btn" id="user-login">登 录</div>
                        <div class="login-btn" id="code-login">登 录</div>
                    </form>
                    <div class="others-login">
                        <div class="others-way clearfix">
                            <div class="wechat">
                            <a href="{:config('OAUTHTMP_HOST')}/loginfromwechat">
                                <img src="/static/common/img/wechat.png" alt="">
                                <span>微信登录</span>
                            </a>
                            </div>
                            <div class="qq">
                            <a href="{:config('OAUTHTMP_HOST')}/loginfromqq">
                                <img src="/static/common/img/qq.png" alt="">
                                <span>QQ登录</span>
                            </a>
                            </div>
                            <!-- <div class="weibo">
                                <a href="{:config('OAUTHTMP_HOST')}/loginfromsina"><img src="/static/common/img/weibo.png" alt=""></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="tips">
                        还没有齐装账号？
                        <a href="/register">立即注册</a>
                        <a href="/resetpwd" class="forget">忘记密码？</a>
                    </div>
                </div>
                <div class="code-login-box">
                <div class="code-title">手机扫码，扫码登录</div>
                    <div class="not-sweep-status">
                        <div class="login-code" id="codeLogin">
                            <div class="qiz"></div>
                            <div class="reflash">
                                <div class="img-div">
                                    <img src="/static/common/img/reflash.png" alt="">
                                    <p>点击刷新</p>
                                    <div class="text">二维码已失效</div>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="img"></div>
                            <p>打开<span>齐装APP</span>扫码登录</br>或下载APP</p>
                        </div>
                        <div class="relog">
                            <span class="zh">帐号登录</span>
                            <a class="zhuce" href="/register">立即注册</a>
                        </div>
                    </div>
                    <div class="sweep-in-status">
                        <div class="phone-imgs">
                            <img src="/static/common/img/sweep-success.png" alt="">
                        </div>
                        <p class="success-sweep">扫码成功！</p>
                        <p class="phone-sure">请在手机上确认登录</p>
                        <div class="go-sweep-status">返回二维码登录</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mask" id="">
        <div class="dialog">
            <div class="d-head">
                <div class="close"><img src="/static/private/img/close.png" alt=""></div>
                请输入验证码
            </div>
            <div class="d-main">
                <div class="form-input clearfix">
                    <input type="text" class="code-input fl" id="img-code" placeholder="请输入右侧验证码">
                    <div class="verifyImg fl">
                        <img src="" id="captcha-verify" alt=""/>
                        <span class="change-verify">看不清，换一张</span>
                    </div>
                    <div class="warn"></div>
                </div>
                <div class="sure-code">确 定</div>
            </div>
        </div>
    </div>

    {include file="common:footer" /}
    <script type="text/javascript" src="/static/common/js/QRCode.js?v={:config('static_version')}"></script>    
    <script type="text/javascript" src="/static/common/js/jquery.cookie.js?v={:config('static_version')}"></script>  
    <script>
        var baseUrl = '{$API_HOST}';
        var spaceUrl = '{$SPACE_HOST}';
    </script>  
    <script type="text/javascript" src="/static/private/js/login.js?v={:config('static_version')}"></script>
    <script type="text/javascript" src="/static/private/js/gt.js?v={:config('static_version')}"></script>
</body>
</html>

