<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="applicable-device" content="pc">
    <title>三方登陆-齐装网</title>
    <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/common/css/base.css?v={:config('static_version')}">
    <link rel="stylesheet" href="/static/private/css/three.css?v={:config('static_version')}">
    <script type="text/javascript" src="/static/common/js/jquery.min.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="top">
            <a class="logo"><img src="/static/common/img/logo.png" alt=""></a>
        </div>
    </div>
    <div class="wrap">
        <div class="main">
            <div class="main-title">快速绑定帐号，省去您的登录烦恼！</div>
            <div class="clearfix">
                <div class="bind-box">
                    <div class="account-way">
                        {if $user.type == 1}
                        <i class="icon icon-weixin"></i>您要绑定的微信账号
                        {elseif ($user.type == 2)/}
                        <i class="icon icon-weibo"></i>您要绑定的微博账号
                        {else /}
                        <i class="icon icon-qq"></i>您要绑定的qq账号
                        {/if}
                    </div>
                    <div class="avator">
                        <img src="{$user.logo}" alt="">
                        <div class="user-name">{$user.nickname}</div>
                        <input type="hidden" name="unionid" value="{$user.unionid}">
                        <input type="hidden" name="type" value="{$user.type}">
                    </div>
                </div>
                <div class="arrow">
                    <img src="/static/common/img/arrow-way.png" alt="">
                </div>
                <div class="login-box">
                    <div class="l-title">齐装帐号登录</div>
                    <form action="">
                        <div class="form-input">
                            <input type="text" maxlength="11" placeholder="请输入手机号" class="phone">  
                            <div class="warn"></div>
                        </div>
                        <div class="form-input clearfix">
                            <input type="text" class="code-input verify_code" placeholder="输入6位短信验证码" onkeyup = "value=value.replace(/[^\d]/g,'')" maxlength="6">
                            <div class="get-code" id="sendCode">获取短信验证码</div>
                            <div class="warn"></div>
                        </div>
                        <div class="form-input clearfix">
                            <div id="embed-captcha"></div>
                        </div>
                        <div class="bind-account">绑 定 账 号 </div>
                    </form>
                </div>
            </div>
            <div class="login-icon">
                    {if $user.type == 1}
                        <div class="wechat">
                            <a href=""><img src="/static/common/img/icon-weixin.png" alt=""></a>
                        </div>
                    {else /}
                        <div class="qq">
                            <a href=""><img src="/static/common/img/icon-qq.png" alt=""></a>
                        </div>
                    {/if}
                <!-- <div class="weibo">
                    <a href=""><img src="/static/common/img/icon-weibo.png" alt=""></a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="mask" id="">
        <div class="dialog">
            <div class="d-head">
                <div class="close"><img src="/static/private/img/close.png" alt=""></div>
                请输入验证码
            </div>
            <div class="d-main">
                <div class="form-input clearfix">
                    <input type="text" class="code-input fl" id="img-code" placeholder="请输入右侧验证码">
                    <div class="verifyImg fl">
                        <img src="" id="captcha-verify" alt=""/>
                        <span class="change-verify">看不清，换一张</span>
                    </div>
                    <div class="warn"></div>
                </div>
                <div class="sure-code">确 定</div>
            </div>
        </div>
    </div>
    <script>
        var baseUrl = '{$API_HOST}';
        var spaceUrl = '{$SPACE_HOST}';
        var nickname = '{$user.nickname}';
        var uid = "{$user.unionid}";
        var third_type = "{$user.type}";
        var AppEnv = 'platform=WEB&user-agent='+ navigator.userAgent;
    </script>
    <script type="text/javascript" src="/static/common/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/private/js/three.js?v={:config('static_version')}"></script>
    <script type="text/javascript" src="/static/private/js/gt.js?v={:config('static_version')}"></script>

</body>
</html>

