<div class="zx-gonglue pb3" id="zx-gonglue">
    <div class="tab recommend-tab">
        <ul>
            <li class="recommend-tab-list active"><span>装修公司</span></li>
            <li class="recommend-tab-list"><span>效果图</span></li>
            <li class="recommend-tab-list"><span>装修案例</span></li>
        </ul>
    </div>
    <div class="zxgl block">
        <ul class="liebiaoul">
        <volist name="recommend.company_list" id="item">
            <li>
                <a href="{$SCHEME_HOST.scheme_host}/{$item.bm}/company_home/{$item.id}/" class="one-pan-link-mark">
                    <div class="gsheader">
                        <img src="{$item.logo}"
                            alt="{$item.qc}">
                        <div class="h-con">
                            <div class="title">
                                <span>{$item.jc}</span>
                            </div>
                            <div class="stars">
                                <div class="s-num">
                                    <for start="0" end="$item.star"><img src="/assets/mobile/company/img/stars.png" alt=""></for>
                                </div>
                                <div> {$item.haoping_rate}% 好评率</div>
                            </div>
                            <div class="nums">
                                <div class="num-item">
                                    案例数 <span>{$item.case_count|default=0}</span> &nbsp;|
                                </div>
                                <div class="num-item">
                                    设计师 <span>{$item.team_count|default=0}</span> &nbsp;|
                                </div>
                                <div class="num-item">
                                    在建工地 <span>{$item.case_des_count|default=0}</span>
                                </div>
                            </div>
                            <if condition="$item['activity']">
                                <div class="hui">
                                    <span class="son">惠</span><span class="con">{$item['activity']['title']}</span>
                                </div>
                            </if>
                            <if condition="$item['card_info']">
                                <div class="quan">
                                    <span class="son">券</span><span class="con">{$item['card_info']['name']}</span>
                                </div>
                            </if>
                        </div>
                    </div>
                </a>
            </li>
        </volist>
        </ul>
    </div>
    <div class="zxgl guide-xgt">
        <ul class="clearfix">
            <volist name="recommend.tu_list" id="item">
                <li class="tu-item">
                    <div class="tu-item-pic">
                        <a href="{$SCHEME_HOST.scheme_host}/tu/{$item.detail_flag}{$item.id}.html" class="one-pan-link-mark">
                            <img src="{$item.image_src}-w300.jpg" alt="">
                        </a>
                    </div>
                    <p class="tu-item-text">
                        <span>{$item.space_name}</span>
                        <span>{$item.style_name}</span>
                        <span>{$item.part_name}</span>
                    </p>
                </li>
            </volist>
        </ul>
    </div>
    <div class="zxgl guide-xgt">
        <ul class="clearfix">
            <volist name="recommend.case_list" id="item">
                <li class="tu-item">
                    <div class="tu-item-pic">
                        <a href="{$SCHEME_HOST.scheme_host}/{$item.bm}/caseinfo/{$item.id}.shtml" class="one-pan-link-mark">
                            <img src="{$item.image}-w400.jpg" alt="">
                        </a>
                    </div>
                    <p class="tu-item-text">{$item.title}</p>
                </li>
            </volist>
        </ul>
    </div>
</div>