<volist name="list" id="item">
    <li>
        <a href="{$SCHEME_HOST.scheme_host}/{$item.bm}/company_home/{$item.id}/" class="one-pan-link-mark">
            <div class="gsheader">
                <img src="{$item.logo}"
                    alt="{$item.qc}">
                <div class="h-con">
                    <div class="title">
                        <span>{$item.jc}</span>
                    </div>
                    <div class="stars">
                        <div class="s-num">
                            <for start="0" end="$item.star"><img src="/assets/mobile/company/img/stars.png" alt=""></for>
                        </div>
                        <gt name="item.haoping_rate" value="0">
                            <div> {$item.haoping_rate}% 好评率</div>
                        </gt>
                    </div>
                    <div class="nums">
                        <div class="num-item">
                            案例数 <span>{$item.case_count|default=0}</span> &nbsp;|
                        </div>
                        <div class="num-item">
                            设计师 <span>{$item.team_count|default=0}</span> &nbsp;|
                        </div>
                        <div class="num-item">
                            在建工地 <span>{$item.case_des_count|default=0}</span>
                        </div>
                    </div>
                    <if condition="$item['activity']">
                        <div class="hui">
                            <span class="son">惠</span><span class="con">{$item['activity']['title']}</span>
                        </div>
                    </if>
                    <if condition="$item['card_info']">
                        <div class="quan">
                            <span class="son">券</span><span class="con">{$item['card_info']['name']}</span>
                        </div>
                    </if>
                </div>
            </div>
        </a>
    </li>
</volist>