
<div class="qcc-bootom">
    <div class="wrap clearfix">
        <ul>
            <li>
                <div class="img qcc_fl">
                    <img src="/assets/home/qcc/images/bom-icon1.png" alt="">
                </div>
                <div class="bom-item-r">
                    <h4>企业云数据</h4>
                    <p>覆盖超全海量信息</p>
                </div>
            </li>
            <li>
                <div class="img qcc_fl">
                    <img src="/assets/home/qcc/images/bom-icon2.png" alt="">
                </div>
                <div class="bom-item-r">
                    <h4>多维度信息</h4>
                    <p>多类信息齐全精准快速</p>
                </div>
            </li>
            <li>
                <div class="img qcc_fl">
                    <img src="/assets/home/qcc/images/bom-icon3.png" alt="">
                </div>
                <div class="bom-item-r">
                    <h4>毫秒级搜索</h4>
                    <p>无需等待，极速响应</p>
                </div>
            </li>
            <li class="last">
                <div class="img qcc_fl">
                    <img src="/assets/home/qcc/images/bom-icon4.png" alt="">
                </div>
                <div class="bom-item-r">
                    <h4>权威来源</h4>
                    <p>与官网同步更新信息</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="qcc-footer">
    <div class="wrap">
        <h5>数据来源</h5>
        <div class="qcc-footer-link clearfix">
            <ul>
                <li>国家企业信用信息公示系统</li>
                <li>国家裁判文书网</li>
                <li>中国执行信息公开网</li>
                <li>中国知识产权局</li>
                <li>商标局</li>
                <li>版权局</li>
            </ul>
        </div>
    </div>
</div>

<include file="Index:footer_509"/>

<script type="text/javascript">
    var is_login = '{$is_login|default="false"}';
    var is_search = '{$is_search|default="false"}';
    $(function () {
        if (localStorage.getItem("qcc_keyword") != null && is_login == true) {
            $("#nameval").val(localStorage.getItem("qcc_keyword"))  // 赋值
        };
        $(".qcc-search-btn").on('click', function () {
            var keyword = $("input[name='keyword']").val().trim();
            if (!keyword) {
                alert("您还没有输入关键字！")
                return false
            } else {
                if (is_login == true) {
                    localStorage.removeItem("qcc_keyword"); //清除
                    if (is_search == true) {
                        window.location.href = '/qcc?keyword=' + keyword;
                    } else {
                        alert('抱歉，您今天的查询次数已经用完咯，明天再来试试吧！');
                    }
                } else {
                    $("#qcc-login").fadeIn();
                    localStorage.setItem("qcc_keyword", keyword);  //储存
                }
            }
        });
        if (is_login == true) {
            $(window).bind('beforeunload', function () {
                localStorage.removeItem("qcc_keyword"); //清除
            });
        }
    });

</script>