<!doctype html>
<html lang="en">
<head>
    <title>{$keys.title}-{$title}</title>
    <meta name="keywords" content="{$keys.keywords}"/>
    <meta name="description" content="{$keys.description}"/>
    <meta property="og:image" content="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$articleInfo.article.now.face}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/xfzx/"/>
    <notempty name="articleInfo.canonical">
    <link rel="canonical" href="{$articleInfo.canonical}"/>
    </notempty>
    <include file="Index:resource_509"/>
    <link rel="stylesheet" href="{$static_host}/assets/home/qcc/css/index.css?v={:C('STATIC_VERSION')}" type="text/css"/>
    <link rel="stylesheet" href="{$static_host}/assets/home/qcc/css/common.css?v={:C('STATIC_VERSION')}" type="text/css"/>
    <script src="{$static_host}/assets/common/js/placeholders.js"></script>

</head>
<body>
<include file="Index:header_509"/>
    <div class="qcc-banner">
        <div class="wrap">
            <div class="qcc-banner-form clearfix">
                <div class="qcc_fl">
                    <input type="text" name="keyword" placeholder="请输入您想要查询的企业名、注册号或社会统一信用代码等关键字"  value="{$_GET['search']|default=''}" maxlength="50" id="nameval"  autocomplete="off">
                </div>
                <div class="qcc_fr form-right qcc-search-btn" <if condition="$is_login eq false">id="pop-login"</if>>
                    查一下
                </div>
            </div>
            <if condition="count($info['recommend']) gt 123456789">
            <div class="hot-company">
                <ul class="clearfix">
                    <li>推荐装修公司:</li>
                    <volist name="info.recommend" id="vo">
                        <li> <a href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.id}/" target="_blank">{$vo.jc|default=''}</a></li>
                    </volist>
                </ul>
            </div>
            </if>
        </div>
    </div>
    <div class="qcc-icon-list">
        <div class="wrap clearfix">
            <div class="icon-item icon-item-first">
                <div class="img">
                    <img src="/assets/home/qcc/images/icon1.png" alt="">
                </div>
                <span>高效助力</span>
                <span class="line"></span>
            </div>
            <div class="icon-item">
                <div class="img">
                    <img src="/assets/home/qcc/images/icon2.png" alt="">
                </div>
                <span>企业认证</span>
                <span class="line"></span>
            </div>
            <div class="icon-item">
                <div class="img">
                    <img src="/assets/home/qcc/images/icon3.png" alt="">
                </div>
                <span>数据丰富</span>
                <span class="line"></span>
            </div>
            <div class="icon-item">
                <div class="img">
                    <img src="/assets/home/qcc/images/icon4.png" alt="">
                </div>
                <span>实时云搜</span>
                <span class="line"></span>
            </div>
            <div class="icon-item icon-item-list">
                <div class="img">
                    <img src="/assets/home/qcc/images/icon5.png" alt="">
                </div>
                <span>风险监控</span>
            </div>
        </div>
    </div>

    <div class="qcc-banner-8s">
        <div class="wrap">
            <ul class="qcc-slider">
                <volist name="info.bigbanner_b" id="vo">
                    <li>
                        <if condition="$vo['url'] NEQ ''">
                            <a rel="nofollow" href="{$vo.url}" target="_blank">
                                <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20200709/FjDVzbqUwhR2yM8SSaeOK4KqDUf1" width="1210"
                                     height="110" alt="{$vo.company_name|default='装修公司'}" />
                            </a>
                            <else />
                            <if condition="$vo['company_id'] NEQ 0">
                                <a rel="nofollow"
                                   href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.company_id}/"
                                   target="_blank">
                                    <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vo.img_url|addImgExt}" width="1210"
                                         height="110" alt="{$vo.company_name|default='装修公司'}" />
                                </a>
                                <else />
                                <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vo.img_url|addImgExt}" width="1210"
                                     height="110" alt="{$vo.company_name|default='装修公司'}" />
                            </if>
                        </if>
                    </li>
                </volist>

            </ul>
        </div>
    </div>

    <div class="qcc-company-list">
        <div class="wrap">
            <div class="qcc-company-list-top">
                <h3>
                    <span class="icon icon-l"></span>
                    <span>齐装优质装修公司</span>
                    <span class="icon icon-r"></span></h3>
                <p>
                    你的关心我的关注，找优质装企，让装修更安心，<a href="/ruzhu" target="_blank">入驻齐装</a>
                </p>
            </div>
            <div class="qcc-company-list-main clearfix">
                <ul>
                    <volist name="info.koubei" id="v">
                    <li class="list-item">
                        <a href="{$SCHEME_HOST.scheme_full}{$v.bm}.{$SCHEME_HOST.domain}/company_home/{$v.id}/" target="_blank" rel="nofollow">
                        <div class="company-logo">

                                <if condition="$v['logo'] NEQ ''">
                                    <img alt="{$v.qc}" src="{$v.logo}">
                                <else/>
                                    <img alt="{$v.qc}" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{:OP('DEFAULT_COMPANY_LOGO')}" >
                                </if>

                        </div>
                        <h5 title="{$v.qc}">{$v.qc}</h5>
                        <div class="bom-num clearfix">
                            <div class="qcc_fl bom-num-box">
                                <span class="good">好评率</span>
                                <span class="num">{$v.comment_score|commentPercent}%</span>
                            </div>
                            <div class="qcc_fr">
                                <span class="cases">案例数</span>
                                <span class="cases-num">{$v.case_count}</span>
                            </div>
                        </div>
                    </a>
                    </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <include file="Qcc:footer_qcc"/>
    <include file="Common@Login/qcc-login"/>
</body>
<script src="/assets/common/plugin/bxslider/bxslider.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.qcc-slider').bxSlider({
        mode:'vertical', //垂直滚动
        slideWidth: 1210,
        minSlides: 1,
        maxSlides: 1,
        auto: false,
        controls: false,
        pager:false
      });
    });
</script>
</html>

