<!doctype html>
<html lang="en">

<head>
    <title>{$keys.title}-{$title}</title>
    <meta name="keywords" content="{$keys.keywords}" />
    <meta name="description" content="{$keys.description}" />
    <meta property="og:image" content="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/{$articleInfo.article.now.face}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/xfzx/" />
    <notempty name="articleInfo.canonical">
        <link rel="canonical" href="{$articleInfo.canonical}" />
    </notempty>
    <include file="Index:resource_509" />
    <link rel="stylesheet" href="{$static_host}/assets/home/qcc/css/list.css?v={:C('STATIC_VERSION')}"
        type="text/css" />
    <link rel="stylesheet" href="{$static_host}/assets/home/qcc/css/common.css?v={:C('STATIC_VERSION')}"
        type="text/css" />
    <script src="{$static_host}/assets/common/js/placeholders.js"></script>
</head>

<body>
    <include file="Index:header_509" />
    <div class="qcc-info-banner">
        <img src="/assets/home/qcc/images/info-banner.png" alt="">
    </div>

    <div class="qcc-search">
        <div class="wrap clearfix">
            <div class="qcc-search-left qcc_fl clearfix">
                <div class="qcc_fl">
                    <input type="text" name="keyword" placeholder="请输入您想要查询的企业名、注册号或社会统一信用代码等关键字" maxlength="50" value="{$_GET['keyword']|default=''}" id="nameval"  autocomplete="off">
                </div>
                <div class="qcc_fl form-right qcc-search-btn"  <if condition="$is_login eq false">id="pop-login"</if>></div>
            </div>
            <div class="qcc_fr qcc-search-right">
                <a href="/zxbj" target="_blank"> <img src="/assets/home/qcc/images/inquiry.png" alt="找靠谱公司寻报价"></a>
            </div>
        </div>
    </div>
    <div class="qcc_main">
        <div class="wrap clearfix">
            <div class="warp-item-l qcc_fl">
                <if condition="$info['total'] eq 0 || $info['total'] eq null">
                        <div class="none">
                            抱歉，没有找到符合条件的企业
                        </div>
                    <else/>
                        <div class="item-top">
                            <span>齐小鹿为您找到 <span class="item-top-num">{$info.total|default=0}</span> 家符合条件的企业</span>
                        </div>
                </if>

                <div class="warp-item-l-list">
                    <ul>
                        <volist name="info.list" id="vo" key="k">
                            <li <if condition="$k eq 10"> class="qcc_h210"</if>>
                            <h4> <a href="/qcc/{$vo.KeyNo}/" target="_blank" >{$vo.Name}</a> <span class="top-right">{$vo.Status}</span></h4>
                            <div class="mid">
                                <span>法定代表人：</span><span class="name qcc_mr40">{$vo.OperName}</span>
                                <span>成立时间：</span><span class="qcc_col333 qcc_mr40">{$vo.StartDate|qccFormatTime}</span>
                                <span>注册号：</span><span class="qcc_col333">{$vo.No|default='-'}</span>
                                <a href="/qcc/{$vo.KeyNo}/" target="_blank" class="qcc_fr look-btn">查看详情</a>
                            </div>
                            <div class="bom">
                                社会统一信用代码：<span class="qcc_col333">{$vo.CreditCode}</span>
                            </div>
                        </li>
                        </volist>
                    </ul>
                    <!-- 小于十条显示 显示本段↓-->
                    <if condition="$info['total'] lt 10">
                        <div class="qcc-down-appcode ">
                            <div class="l-img qcc_fl">
                                <img src="/assets/home/qcc/images/qz_app.png" alt="">
                            </div>
                            <div class="r-text qcc_fr">
                                <h5>装修公司靠谱吗？<br>打开齐装APP<span>便捷查询</span></h5>
                                <p>更多资讯一手掌握</p>
                            </div>
                        </div>
                    </if>
                </div>

                <if condition="$info['total'] gt 9">
                    <div class="warp-item-openapp">
                        <div class="l-img qcc_fl">
                            <img src="/assets/home/qcc/images/qz_app.png" alt="">
                        </div>
                        <div class="r-text qcc_fr">
                            <h5>打开齐装APP<br>查看剩余<span>企业信息</span></h5>
                            <p>更多资讯一手掌握</p>
                        </div>
                    </div>
                </if>
            </div>
            <div class="wrap-item-r qcc_fr">
                <div class="qzewm-img qcc_mb20">
                    <img src="/assets/home/qcc/images/qzewma.png" alt="">
                </div>
                <div class="company-list">
                    <div class="company-list-top clearfix">
                        <div class="img">
                            <img src="/assets/home/qcc/images/cup-icon.png" alt="">
                        </div>
                        <span class="qcc_fl">齐装优质装修公司</span>
                        <a class="qcc_fr" target="_blank" href="/ruzhu">我要加入></a>
                    </div>
                    <div class="company-list-item">
                        <ul>
                            <volist name="info.koubei" id="v" key="k">
                                <li >
                                    <a href="{$SCHEME_HOST.scheme_full}{$v.bm}.{$SCHEME_HOST.domain}/company_home/{$v.id}/" target="_blank" rel="nofollow">
                                        <div class="img">
                                            <if condition="$v['logo'] NEQ ''">
                                                <img alt="{$v.qc}" src="{$v.logo}" width="126" height="63">
                                                <else/>
                                                <img alt="{$v.qc}" src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/{:OP('DEFAULT_COMPANY_LOGO')}"  width="126" height="63">
                                            </if>
                                            <switch name="k">
                                                <case  value="1"><img class="jb" src="/assets/home/qcc/images/jb1.png" alt=""></case>
                                                <case  value="2"><img class="jb" src="/assets/home/qcc/images/jb2.png" alt=""></case>
                                                <case  value="3"><img class="jb" src="/assets/home/qcc/images/jb3.png" alt=""></case>
                                            </switch>
                                        </div>
                                        <div class="info">
                                            <h5 title="{$v.qc}">{$v.jc}</h5>
                                            <div class="info-p clearfix">
                                                <div class="info-bom qcc_fl">
                                                    <span class="ping">评</span>
                                                    <span>{$v.comment_score|commentPercent}%</span>
                                                </div>
                                                <div class="info-bom qcc_fr">
                                                    <span class="an">案</span>
                                                    <span>{$v.case_count}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Qcc:footer_qcc"/>
    <include file="Common@Login/qcc-login" />
</body>
</html>

