header{z-index: 3;}
footer {
  border-top:1px solid #eee;
  padding-bottom:10px;
  /*background:#fff;*/
}
.m-bj-edit{
  margin: 0 22px;/*修改*/
  margin-top: .8em;
}
.m-img-box-a{
  text-align: center;
}
.m-img-box-a .one-banner{
  position: relative;
}
.m-img-box-a .one-banner .free-slogan{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-style: italic;
  padding: 0 0.03rem;
  font-size: 0.128rem;
}
.m-img-box-a .one-banner .free-slogan::before{
  content: '';
  position: absolute;
  border: 0.04rem solid rgba(0, 0, 0, 0.8);
  transform:translateY(-50%) rotate(45deg);
  -ms-transform:translateY(-50%) rotate(45deg); 	/* IE 9 */
  -moz-transform:translateY(-50%) rotate(45deg); 	/* Firefox */
  -webkit-transform:translateY(-50%) rotate(45deg); /* Safari 和 Chrome */
  -o-transform:translateY(-50%) rotate(45deg); 	/* Opera */
  left: -0.035rem;
  top: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
}
.m-img-box-a .one-banner .fs-one::before{
  left: auto;
  right: -0.035rem;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.m-img-box-a .one-banner .fs-three::before{
  left: auto;
  right: -0.035rem;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.m-img-box-a .channel-qz-logo{
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 0.61rem;
}
.m-img-box-a .channel-slogan{
  color: #FF0000;
  font-size: 0.39rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0.4rem;
  font-weight: bold;
  text-shadow: 0 0 0.2em white,-0 -0 0.2em white;
  margin-top: 0.1rem;
}
.m-img-box-a .one-banner .fs-one{
  left: 0.1rem;
  top: 1.2rem;
}
.m-img-box-a .one-banner .fs-two{
  right: 0.2rem;
  top: 1.2rem;
  padding: 0 0.1rem;
}
.m-img-box-a .one-banner .fs-three{
  left: 0.2rem;
  top: 1.85rem;
  text-align: left;
}
.m-img-box-a .one-banner .fs-four{
  right: 0.1rem;
  top: 1.8rem;
  text-align: right;
}
.m-img-box-a .one-banner .free-slogan span{
  color: #FFFF00;
}
.m-img-box-a img{
  display: block;
  margin: 0 auto;
}
.m-img-box-a .four-free{
  font-size: 0;
  background-color: #312C28;
  color: white;
  padding: 0.1rem 0;
}
.m-img-box-a .four-free>div{
  width: 25%;
  display: inline-block;
  font-size: 0.09386rem;
}
.m-img-box-a .four-free>div img{
  width: 0.384rem;
}
.m-bj-items {
  border:1px solid #e2e2e2;
  background:#efefef;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  padding:10px 10px;
  margin:0 10px 60px 10px;
  margin-top: 50%;
  position: relative;
}
.dw{color: #ff5659;}
.model-box{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  position: fixed;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 10;
}
.close-btn{
  width: 1.8em;
  height: 1.8em;
  background: url(/assets/mobile/images/close.png) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  right: -.3em;top: -2em;
}
.items-all-money {
  text-align:center;
  padding-bottom:10px;
}
.items-all-money p{
  font-size: 1.1em;
}
.items-all-money p>i{
  color: #ff5659;
}
.items-all-details .tel-box{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.items-all-details .tel-input{
  width: 90%;
  height: 2.5em;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #fff;
}
.items-all-details .tel-box input{
  width: 100%;
  height: 2em;
  padding: 0.5em;
  margin-top: .65em;
  border: 0;
  outline: none;
  line-height: 2em;
  font-size: .8em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.tel-box a.items-check-more{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  margin-top: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background: #ff5659;
  color: #fff;
}
.items-all-details p.tel-danger{
  font-size: .9em;
  color: #ff5659;
  margin-left: 6%;
  margin-top: .5em;
}
.items-all-details p.tel-count{
  font-size: .9em;
  text-align: center;
  margin-top: 0.6em;
}
.items-all-details p.tel-count i{
  color: #ff5659;
}
.items-check-more {
  margin-top:10px;
  color:#929292;
  display:block;
}
.kefu-back-info {
  font-size:13px;
  margin:10px 10px;
}
.kefu-back-info p {
  margin-top:5px;
}
.model {
  width: 96%;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -ms-border-radius:6px;
  background:#fff;
  position:fixed;
  left:0;
  top:0;
  z-index:9999;
  margin:0 2%;
  margin-top:50%;
  box-sizing: border-box;
}
.model-btn {
  width: 80%;
  margin: 0 auto;
  color:#fff;
  margin:0 auto;
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  overflow: hidden;
}
.model-btn div{
  width: 40%;
  height: 2.2em;
  float: left;
  line-height: 2.2em;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}
.leave-btn{margin-right: 18%;border: 1px solid #ff5659;color: #ff5659;}
.get-btn{border: 1px solid #ff5659;background: #ff5659;}
.model-info {
  font-size:1.1em;
  line-height:1.5em;
  text-align: center;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.hide {
  display:none;
}
.save-submit{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}
.kefu-box{
  border-top: 0.5em solid #f5f5f5;
  border-bottom: 0.5em solid #f5f5f5;
  padding: 1em 0;
  overflow: hidden;
}
.kefu-tit{margin: 0 auto;
  font-size: 1.1em;
  text-align: center;
}
.kefu-info{
  width: 96%;
  margin-top: 1em;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 1em;
}
.fa-angle-right{
  font-size: 2em;
  font-weight: normal;
}
.kefu-img, .kefu-btn{
  width:32%;
  float: left;
  text-align: center;
}

.kefu-img, .kefu-btn p{
  font-size: .8em;
  margin-top: .4em;
  color: #4d4d4d;
}
.kefu-img{
  margin-left: 8%;
  position: relative;
}
.kefu-img:before{
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 3%;
  color: #fff;
  font-size: .9em;
  line-height: 0.9em;
  text-align: center;
}
.kefu-arrow{width: 20%;line-height: 6em;text-align: center;float: left;}
.kefu-arrow i:first-child{color: #eee;}
.kefu-arrow i:nth-child(2){color: #ccc;}
.kefu-arrow i:last-child{color: #999;}
.kefu-btn a{
  width: 90%;
  height: 2.2em;
  display: block;
  border: 1px solid #f79c33;
  color: #f79c33;
  margin-top: 1.6em;
  margin-left: 5%;
  text-align: center;
  line-height: 2em;
  line-height: 2.2em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}
.kefu-img img{width: 100%;}
.kefu-shows .slogan{
  width: 95%;
  height: 0.37rem;
  margin: 10px auto;
  background: url('img/channel-slogan.png') no-repeat;
  background-size: 100% 100%;
  text-align: center;
  line-height: 1.7;
}
.kefu-shows .slogan > a{display: block; width: 100%; height: 100%; }
.kefu-shows .slogan > a > span{display: inline-block}
.kefu-shows .slogan > a > span.one{font-size: 0.174rem; font-weight: bold; color: white; }
.kefu-shows .slogan > a > span.two{width: 0.17rem; height: 0.17rem; line-height: 0.17rem; color: white; text-align: center; font-weight: bold; background-color: white; color: #3ACCC0; border-radius: 50%; vertical-align: text-bottom; }
.kefu-shows .slogan > a > span.three{color: #FFFF00; font-size: 0.149rem; }
.kefu-shows img{width: 100%;}
.channel-get{
  color: white;
  text-align: center;
  height: 1.6128rem;
  background: url('img/channel-get.png') no-repeat;
  background-size: 100% 100%;
}
.channel-get .slogan{
  padding-top: 0.1rem;
}
.channel-get .top{
  font-weight: bold;
  font-size: 0.32rem;
}
.channel-get .red{
  color: red;
}
.channel-get .imidita-get{
  width: 2.72rem;
  height: 0.349rem;
  line-height: 0.349rem;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.2432rem;
  background-color: #FF2B2B;
  border-radius: 0.5rem;
  margin: 0.2rem auto 0;
}
.channel-get .imidita-get a{
  display: block;
  width: 100%;
  height: 100%;
  color: white;
}


/*城市*/
.chengshi-box{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0,0,0,.6);
}
#box{
  width: 80%;
  height: 100%;
  background: #fff;
  float: right;
  position: relative;
}
.baojia-list ul li.baojia-item.active{height: auto; border-bottom: 0;}
.baojia-list ul li.baojia-item .baojia-money span{color: #ff5353;font-weight: bold;}

.baojia-item table{width: 100%; border:0; border-top:1px solid #ccc; display: none;}
.baojia-item table tr td{border:0; border-bottom: 1px solid #ccc; border-right:1px solid #ccc; text-align: center; vertical-align: middle;}
.baojia-item table tr td:last-child{border-left: 0;}


.caption-box{
  text-align: center;
  font-size: 0.1408rem;
  color: #312C28;
  padding: 0.06rem 0;
}
.caption-box .top{
  font-weight: bold;
  font-size: 0.32rem;
}
.caption-box .red{
  color: red;
}


/*新改版*/

.m-bj-edit button,.m-bj-edit input{
  border-radius: 0.5rem !important;
  outline: none;
  background:rgba(240,240,240,1);
  color: #464646;
  font-size: 0.106rem;
  padding-left: 0.1rem;
}
.m-bj-edit button,.m-bj-edit i{
  color: #333 !important;
  margin-right: 0.05rem;
}
.m-b-btn{
  margin-left:22px !important;
  margin-right:22px !important;
  border-radius: 0;
  background-color: #FF2B2B;
  font-size: 0.213rem;
  border-radius: 0.5rem;
}

.dw{color: #999 !important;}
.form-again-img{width: 100%;overflow: hidden;margin: 25px auto;}
.form-again-img img{width: 100%;height: auto;}
.success-ok-img{
  width: 100%;
  height: auto;
}
.success-ok-img img{
  width: 100%;
  height: auto;
}
.accordion{
  margin: 0 12.5px;
  background: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.success-footer{
  margin: 0 12.5px;
  background: #f8f8f8;
  overflow: hidden;
  margin-bottom: 17.5px;
  padding-top: 17.5px;
  padding-bottom: 12.5px;
}
.success-tip{
  font-size: 13px;
  margin: 0 3%;
  color: #666;
  text-align: justify;
  margin-bottom: 25px;
}
.success-footer-img{width: 100%;position: relative}
.detail-text{
  position: absolute;
  font-size: 0.1rem;
  left: 1.8rem;
  top: 0;
  width:0.9rem;
  height: 100%;
}
.detail-text .deatil-text-first{
  margin-top:8px;
}
.detail-text img{
  display: inline-block;
  position: absolute;
  top:0px;
  bottom:0px;
  margin:auto;
}

.success-footer-img img{width: 100%;height: auto;}
.gongzhonghao-text{
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  margin: 17px auto;
}
.guanzhu-text{
  font-size: 13px;
  line-height: 15px;
  color: #666;
  margin: 0 3%;
  text-align: justify;
}
.copy-text{font-weight: bold;}
.red-color{color: #ff5353;}
.recount{margin: 0 12.5px;margin-bottom: 20px;}
.m-bj-edit li .m-bj-edit-list{
  color: #333 !important;
  border: 1px solid #D4D4D4 !important;
  border-radius: 0.5rem !important;
  background:rgba(240,240,240,1);
  color: #464646;
  font-size: 0.106rem;
  line-height: initial;
  padding: 9px 0 9px 0.1rem;
}
.m-bj-edit li{
  margin-bottom: 0;
}
#shenming{
  margin: 0 22px;
}

.order-success{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.order-success .close{
  position: absolute;
  right: 0.1rem;
  top: 0rem;
  font-size: 0.25rem;
}
.order-success .main{
  width: 2.389rem;
  height: 2.92rem;
  background-color: white;
  border-radius: 0.3em;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.order-success .sucbox{
  color: #333333;
  font-size: 0.1536rem;
  padding-top: 0.4rem;
}
.order-success .sucbox .one{
  font-size: 0.2048rem;
}
.order-success .main .logo{
  margin: 0.2rem 0;
  font-size: 0.1408rem;
  color: #333;
}
.order-success .main .logo img{
  width: 0.512rem;
  height: 0.512rem;
}
.order-success .download{
  font-size: 0.1024rem;
  color: #666;
  width: 80%;
  margin: 0 auto;
}
.order-success .download .two{
  width: 1.62rem;
  height: 0.256rem;
  line-height: 0.256rem;
  color: white;
  font-size: 0.1194rem;
  background-color: #FF2B2B;
  border-radius: 0.5rem;
  margin: 0.15rem auto 0;
}

.form-once{
  margin-bottom: 0.2rem;
}


.form-once .warn{
  color: #FF0008;
  visibility: hidden;
}
