.liangfang{
    background-color: #890B15;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.8rem;
}
.liangfang .l{
    float: left;
}
.liangfang .r{
    float: right;
}

.liangfang .banner{
    height: 4.1386rem;
    background: url('http://staticqn.qizuang.com/custom/20190923/FvRYgpNeCriFmS5Z49WMlUSZ0D15') no-repeat;
    background-size: 100% auto;
}
.liangfang .banner .logo-box{
    padding: 0.085rem 0 0 0.128rem;
}
.liangfang .banner .logo{
    width: 0.738rem;
}
.liangfang .banner .caption{
    display: block;
    width: 2.901rem;
    margin: 0.0896rem auto 0;
}


.liangfang .my-center-tip{
    height: 0.5rem;
    font-size: 0.1365rem;
}
.liangfang .my-center-tip .user-tips{
    float: left;
    line-height: 0.38rem;
    padding-left: 0.128rem;
    color: #DAAD6C;
}
.liangfang .my-center-tip .user-in{
    float: right;
    width: 0.8448rem;
    height: 0.4266rem;
    line-height: 0.4rem;
    background: url('../../img/activity/liangfang/user-in.png') no-repeat;
    background-size: 100% auto;
    color: white;
    text-align: right;
    letter-spacing: 0.02rem;
    z-index: 999;
    box-sizing: border-box;
    padding-right: 0.03rem;
}
.liangfang .my-center-tip .fix-user-width{
    max-width: 1.2rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    vertical-align: top;
}


.liangfang .discount-box .title{
    display: block;
    width: 2.005rem;
    height: 0.4736rem;
    margin: 0 auto;
}
.liangfang .discount-box .alldiscount > li{
    position: relative;
    height: 1.2288rem;
    background: url('http://staticqn.qizuang.com/custom/20190923/FtSivT2xwrkuNOLbx25jKshdMHmd');
    background-size: 100% auto;
    margin-top: 0.06rem;
}
.liangfang .discount-box .alldiscount > li.two{
    background: url('http://staticqn.qizuang.com/custom/20190923/FpQwtphyVVh_reqP5S7aVhWo3Uv7');
    background-size: 100% auto;
}
.liangfang .discount-box .alldiscount > li.three{
    background: url('http://staticqn.qizuang.com/custom/20190923/FsqmL7k7vi9CCdRHZJMjoDLQAgjh');
    background-size: 100% auto;
}
.liangfang .discount-box .alldiscount > li.four{
    background: url('http://staticqn.qizuang.com/custom/20190923/Ft5FkcnKwVlG1b039405fhx9BuvX');
    background-size: 100% auto;
}
.liangfang .discount-box .alldiscount > li.five{
    background: url('http://staticqn.qizuang.com/custom/20190923/FpPbHt4pt4vA2D4zyPaa_z1TmnTU');
    background-size: 100% auto;
}
.liangfang .discount-box .alldiscount > li.six{
    background: url('http://staticqn.qizuang.com/custom/20190923/Fq75dtSlXbY_q_vyT-eXd4l_OEvc');
    background-size: 100% auto;
}
.liangfang .discount-box .alldiscount > li.seven{
    background: url('http://staticqn.qizuang.com/custom/20190923/Fjn1CJPCcGyY0JDssjWOnPPvpnD-');
    background-size: 100% auto;
}
.liangfang .discount-box .alldiscount .right-content{
    position: absolute;
    width: 1.8rem;
    top: 0.2346rem;
    left: 1.28rem;
    height: 0.8rem;
}
.liangfang .discount-box .alldiscount .discount-desc-box{
    font-size: 0.1109rem;
    color: #F84D10;
    height: 0.58rem;
}
.liangfang .discount-box .alldiscount .discount-get-box{
    border-top: 1px dotted #FE670C;
    margin-right: 0.03rem;
    padding-top: 0.032rem;
}
.liangfang .discount-box .alldiscount .discount-deadline{
    float: left;
    color: #C2876B;
    font-size: 0.1024rem;
    line-height: 0.24rem;
}
.liangfang .discount-box .alldiscount .discount-btn-box{
    float: right;
    background: url('../../img/activity/liangfang/get-now.png');
    background-size: 100% 100%;
    width: 0.6rem;
    height: 0.24rem;
    line-height: 0.2rem;
    text-align: center;
    font-size: 0.128rem;
    box-sizing: border-box;
    padding-right: 0.06rem;
}
.liangfang .discount-box .alldiscount .right-content .btn{
    color: white;
    font-weight: bold;
}
.liangfang .discount-box .alldiscount .right-content .btn::after{
    content: '立即领取'
}
.liangfang .discount-box .get-more{
    text-align: center;
    color: #DAAD6C;
    font-weight: bold;
    font-size: 0.2048rem;
    margin: 0.15rem 0;
}
.liangfang .discount-box .get-more .vtop{
    vertical-align: middle;
}
@media screen and (min-width:320px) and (max-width:374px) {
    .liangfang .discount-box .alldiscount .discount-btn-box {
        width: 0.3rem;
        background: none;
        color: #F84D10;
    }
    .liangfang .discount-box .alldiscount .right-content .btn{
        color: #F84D10;
        word-break: keep-all;
        padding-top: 0.03rem;
    }
    .liangfang .discount-box .alldiscount .right-content .btn::after{
        content: '领取'
    }
}



.dercoation-line{
    width: 2.973rem;
    margin: 0.2rem auto;
}
.dercoation-line .top{
    height: 1px;
    background-color: #4D0A10;
}
.dercoation-line .bottom{
    height: 1px;
    background-color: #C63945;
}



.liangfang .why-lf-box .title{
    display: block;
    width: 2.773rem;
    height: 0.4736rem;
    margin: 0 auto;
}
.liangfang .why-lf-box .alllfreason > li{
    width: 3.157rem;
    height: 1.365rem;
    margin: 0 auto;
    background: url('../../img/activity/liangfang/whylf.png') no-repeat;
    background-size: 100% auto;
    margin-top: 0.15rem;
    box-sizing: border-box;
    padding: 0.15rem;
}
.liangfang .why-lf-box .alllfreason .pic{
    width: 1.0026rem;
    height: 1.0026rem;
    background: url('../../img/activity/liangfang/wlf01.jpg') no-repeat;
    background-size: 100% auto;
    border-radius: 0.3em;
    overflow: hidden;
}
.liangfang .why-lf-box .alllfreason > li.two .pic{
    background: url('../../img/activity/liangfang/wlf02.jpg') no-repeat;
    background-size: 100% auto;
}
.liangfang .why-lf-box .alllfreason > li.three .pic{
    background: url('../../img/activity/liangfang/wlf03.jpg') no-repeat;
    background-size: 100% auto;
}
.liangfang .why-lf-box .alllfreason > li.four .pic{
    background: url('../../img/activity/liangfang/wlf04.jpg') no-repeat;
    background-size: 100% auto;
}
.liangfang .why-lf-box .alllfreason .desc{
    width: 1.7006rem;
    color: #DAAD6C;
    padding-left: 0.1rem;
}
.liangfang .why-lf-box .alllfreason .top-title{
    font-size: 0.1536rem;
    font-weight: bold;
    padding: 0.1rem 0;
    background-image: -webkit-linear-gradient(45deg,#DBAE6D,#FDD8A2,#DBAE6D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.liangfang .why-lf-box .alllfreason .desc-bottom{
    width: 0.95rem;
    line-height: 1.5;
    padding: 0.05rem 0px;
    word-break: keep-all;
    position: relative;
}
.liangfang .why-lf-box .alllfreason .desc-bottom .tbline{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.75rem;
    border-top:1px solid #DBAE6D;
    border-bottom:1px solid #DBAE6D;
}
.liangfang .why-lf-box .alllfreason .three .desc-bottom{
    width: 1.5rem;
}
.liangfang .why-lf-box .alllfreason .four .desc-bottom{
    width: 1.5rem;
}


.liangfang .lf-process .title{
    display: block;
    width: 1.8346rem;
    height: 0.4736rem;
    margin: 0 auto;
}
.liangfang .lf-process .slogan{
    font-size: 0.1536rem;
    font-weight: bold;
    text-align: center;
    color: #FFA260;
    line-height: 3;
}
.liangfang .lf-process .process-bar{
    display: block;
    width: 3.0037rem;
    margin: 0 auto;
}
.liangfang .lf-process .processitem{
    font-size: 0;
    /* width: 3.2093rem; */
    margin: 0.05rem auto;
}
.liangfang .lf-process .processitem > li{
    display: inline-block;
    width: 25%;
    font-size: 0.126rem;
    color: #FFC99A;
    font-size: 0.128rem;
    text-align: center;
}
.liangfang .lf-process .processitem > li img{
    width: 100%;
}

.liangfang .get-coupon{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.liangfang .get-coupon .get-coupon-btn{
    width: 2.9013rem;
    height: 0.5034rem;
    background: url('../../img/activity/liangfang/get-btn.png');
    background-size: 100% auto;
    font-size: 0.1536rem;
    color: white;
}