/*公共样式*/
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*:before,
*:after{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{-webkit-text-size-adjust: none}
html{font-size: 100px;}
body{font-size: 0.3rem}
body{display: none; visibility:visible;}
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){html{font-size: 112.5px;}}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){html{font-size: 117.1875px;}}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){html{font-size: 129.375px;}}
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){html{font-size: 128.75px;}}
:-moz-placeholder{color: #a9a9a9;}
::-moz-placeholder{color: #a9a9a9;}
input:-ms-input-placeholder{color: #a9a9a9;}
input::-webkit-input-placeholder{color: #a9a9a9;}
.m-wrap{max-width: 640px; min-width: 320px; width: 100%; margin: auto; overflow:hidden;}
header{height:50px; line-height:50px; background:#fff; /*position:relative;*/ z-index:2}
header .m-header-left,header .m-header-right{position:absolute; top:0;width:50px; text-align:center; font-size:24px; color:#666}
header .m-header-tit{text-align:center; margin-left: 1em;font-size: 0.3rem;}
header .m-header-left{display:block; margin-left:0.6rem;height:50px; background:url(../img/logo-r.png) no-repeat; width:30%; background-size: auto 0.8rem; background-position-y: center;}
header .m-header-right{right:0; height:50px}
header .m-header-city{position:absolute; font-size:0.8em; top:0; left:32%; margin-left: 0.25rem}
header .m-header-city i.fa:before{font-size:0.8em; margin-left:5px; vertical-align: 4px;}
article{overflow:hidden}
/*头部导航公共*/
header .new-kefu-erji{width: 60px; height: 50px; position: absolute; right: 50px; top:0;}
header .new-kefu-erji .new-kefu-icon{width: 20px; height: 26px; margin-left: 10px; margin-top: 13px; float: left; background: url(../img/common-icon.png); background-size: 100%;}
header .new-kefu-erji .new-app-icon{width: 30px; height: 30px; margin-top: 10px; float: left; background-size: 100%;}
#nav-close-cha{display: none;}
.close-cha-icon{width: 26px; height: 26px; display: block; margin-left: 12px; margin-top: 12px; background: url(../img/header-close.png) no-repeat; background-size: 100%;}
.nav-fixed-box{width: 100%; height: 100%; background: rgba(0,0,0,.3); position: fixed; left: 0; top: 0; z-index: 3; display: none; transition: all .5s ease;}
.new-nav-m li .nav-home-icon{background-position: 0px -23px;}
.new-nav-m li .nav-huxing-icon{background-position: 0px -45px;}
.new-nav-m li .nav-baojia-icon{background-position: 0px -67px;}
.new-nav-m li .nav-company-icon{background-position: 0px -268px;}
.new-nav-m li .nav-gonglue-icon{background-position: 0px -288px;}
.new-nav-m li .nav-xiaoguo-icon{background-position: 0px -90px;}
.new-nav-m li .nav-anli-icon{background-position: 0px -113px;}
.new-nav-m{width: 45%; position: absolute; right: -50%; top: 44px; border-radius: 4px; background: #fff; z-index: 4; display: none; line-height: 44px; /*transition: all .5s ease;*/}
.new-nav-m:before{content: ''; width: 0; height: 0; display: block; border-right: 7px solid transparent; border-bottom: 7px solid #fff; border-left: 7px solid transparent; position: absolute; right: 11px; top: -7px; z-index: 4;}
.new-nav-m li{margin-left: 10px; margin-right: 10px;}
.new-nav-m li a{width: 100%; height: 100%; display: block; font-size: 15px; height: 44px; border-bottom: 1px solid #e0e0e0; box-sizing: border-box;}
.new-nav-m li:last-child a{border-bottom: 0;}
.home-nav-icon{width: 16px; height: 21px; display: block; float: left; background: url(../img/common-icon.png) no-repeat; background-size: 100%; margin-top: 12px; margin-right: 10px; margin-left: 5px;}
/*新客服弹框*/
.new-kefu{width: 80%;height: 180px; background: #fff; border-radius: 5px; margin: auto; position: fixed; left: 0;top: 0; right: 0;bottom: 0; z-index: 4; display: none;}
.new-kefu-main{width: 210px; overflow: hidden; margin: 0 auto; margin-top:44px;}
.new-kefu-fl{float: left; width: 80px;}
.contact-btn{width: 60px; height: 60px; margin-left: 10px; background: url(../img/contact-icon.png) no-repeat; background-size: 100%;}
.contact-text{text-align: center; font-size: 15px; color: #333;}
.new-huo-text{float: left; width: 50px; text-align: center;}
.new-huo-text .huo-text{font-size: 14px; line-height: 66px; color: #999;}
.new-kefu-fl .phone-contact{background-position: 0 -60px;}
.new-kefu-close{width: 30px; height: 30px; font-size: 18px; text-align: center; line-height: 30px; position: absolute; top: 0;right: 0; color: #999;}
.new-kefu-close i{text-stroke:2px #fff; -webkit-text-stroke:2px #fff;}
.m-header-his{position:absolute; z-index:9999; top:0;width:0.6rem; text-align:center; font-size:1.5em; color:#666; height:50px;}
footer{text-align:center; width:100%; background:#eee; padding:1em 0; font-size:0.6em;}
footer .hot{color:#FF5255}
footer .links{font-size:1.8em}
/*底部公共*/
footer .footer-tel{font-size: 16px;}
footer .footer-tel .phone-box{width: 23px; height: 23px; display: inline-block; border: 1.5px solid #ff5353; text-align: center; line-height: 25px; border-radius: 50%; /*margin:0 6px;*/ margin-right: 5px;}
footer .footer-title{font-size: 14px; margin-top: 10px;}
footer .footer-webadress{font-size: 10px; line-height: 0.4rem}
.foot-discliamer{line-height: 0.4rem}
footer .footer-app-download > p{margin:0.10rem 0; width: 40%;height: 0.86rem;line-height: 0.86rem;border-radius: 0.43rem;background-position:0.34rem center;background-size: 0.48rem auto;padding: 0 0.15rem 0 0.70rem;}


/*新样式*/
.z-header{
    width: 100%;
    height: 2.86rem;
    padding:0 0.32rem;
    overflow: hidden;
    box-sizing: border-box;
    border-top:0.01rem solid RGBA(242, 242, 242, 1);
}
.h-title{
    width: 100%;
    height: 0.84rem;
    display: flex;
    align-items: center;
    font-size:0.24rem;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.reset-h{
    display: inline-block;
    font-size:0.24rem;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.h-cate{
    width: 100%;
    height: 2.02rem;
    padding-bottom: 0.32rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-cate .c-item{
    width: 1.20rem;
    height: 1.40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size:0.28rem;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.c-item img{
    width: 1.02rem;
    height: 1.05rem;
    display: block;
}
.z-learning{
    width: 100%;
    height: auto;
    padding: 0 0.32rem;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top:0.20rem solid #F3F3F3;
}
.lea-title{
    height: 0.92rem;
    line-height: 0.92rem;
    font-size:0.34rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.lea-con{
    display: flex;
    width: 100%;
    height:2.10rem;
    justify-content: space-between;
    align-items: center;
}
.lea-con .l-item{
    width: 2.20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.lea-con .l-item img{
    display: block;
    width: 2.20rem;
    height: 1.60rem;
    border-radius:0.08rem;
}
.lea-con .l-item .item-name{
    width: 100%;
    font-size:0.20rem;
    font-weight:500;
    color:rgba(51,51,51,1);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: center;
}
.lea-dump{
    width: 100%;
    height: 1.60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lea-dump .dump-item{
    width:3.40rem;
    height:0.60rem;
    border:0.02rem solid rgba(255,87,92,1);
    border-radius:0.30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.24rem;
    font-weight:500;
    color:rgba(255,87,92,1);
}
.dump-item img{
    display: block;
    width: 0.20rem;
    height: 0.20rem;
    margin-left: 0.04rem;
}
/*百科*/
.hundred .hun-item{
    width: 100%;
    height: 2.20rem;
    display: flex;
    box-sizing: border-box;
    border-bottom: 0.01rem solid #E7E7E7;
    display: flex;
    align-items: center;
}
.hundred .hun-item img{
    display: block;
    width: 2.20rem;
    height: 1.60rem;
    border-radius:0.08rem;
}
.hundred .hun-item .item-right{
    height: 1.60rem;
    overflow: hidden;
    margin-left: 0.30rem;
    display: flex;
    flex-direction: column;
    padding-bottom:0.08rem;
    font-size:0.24rem;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.hun-item .r-title{
    font-size:0.32rem;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:0.48rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.item-right .r-con{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 0.36rem;
    height: 1.12rem;
}
/*问答*/
.an-item{
    width: 50%;
    height: 0.56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.an-item a{
    display: block;
    width: 2.80rem;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 0.56rem;
    font-size:0.28rem;
    font-weight:500;
    color:rgba(51,51,51,1);
}