.idea
web/indexdev.php
web/php_errors.log
web/upload/
web/xhprof_html
web/xhprof_lib
web/xhprof.io/
Application/Runtime
web/phpssdbadmin/
.project
.env
web/indexdev.php
web/logcucttel.txt
Application/Library/Org/Krpano/
web/assets/krpano/
upload/
VERSION
web/assets/common/img/icons/Thumbs.db
web/log*.txt
