@import '/templates/topstep/topstep.css';

.p-container{
    background: -webkit-linear-gradient(#5D2FAC 10%, #38349B);
    background: -o-linear-gradient(#5D2FAC 10%, #38349B);
    background: -moz-linear-gradient(#5D2FAC 10%, #38349B);
    background: linear-gradient(#5D2FAC 10%, #38349B);
}
.swiper-wrap{
    height: 100%;
    width: 100%;
    text-align: center
}
.swiper-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.7);
    left:0px;
    top:0px;
    z-index: 4;
}
.swan-swiper-item{
    display: table;
    
}
.swiper-item image{
   position: absolute;
   margin:auto;
   top:0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
}
 .num-box{
     position: fixed;
     z-index: 5;
     width: 100%;
     text-align: center;
     bottom: 30rpx;
     left:0px;
     color: #fff;
 }