<!doctype html>
<html>
<head>
    <title>齐装网</title>
    <link href="/assets/home/index/css/home.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/common/css/public.css?v={:C('STATIC_VERSION')}" type="text/css" />
    <link rel="stylesheet" href="/assets/common/css/public-new.css?v={:C('STATIC_VERSION')}" type="text/css" />
    <link href="/assets/common/css/404.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/common/css/kefu_right.css" />
</head>
<body>
    <div class="pub-head-box">
        <div class="pub-head">
            <a class="logo" href="/">
               <img class="logo-img1" src="/assets/common/pic/logo-r.png" alt="齐装网装修"/>
                <img class="logo-img2" src="/assets/common/pic/logo-fubiao.gif" width="146" alt="中国知名装修平台">
            </a>
            <div class="pub-head-nav">
                <ul class="nav">
                    <li><a href="/" title="齐装网装修">首页</a></li>
                    <li><a href="/zhaobiao/" title="齐装网装修">设计与报价</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ntf-main">
        <div class="content">
            <div class="info">访问过于频繁哦，歇会儿再来吧~</div>
            <div class="nav">
                <a class="" href="/">返回首页</a>
            </div>
        </div>
    </div>
</body>