.ad-set {
    padding: 20px 0 100px 0;
}
.reset-width{
    width: 12%;
}
.reset-padding{
    padding: 0;
}
.pt17{
    padding-top: 17px;
}
.mb15{
    margin-bottom: 15px;
}
.mr10{
    margin-right: 10px;
}
.lh-30{
    line-height: 30px;
}
.pl-13{
    padding-left: 13px;
}
.item-box{
    border: 1px solid #e5e5e5;
    padding: 15px 0;
    margin: 0 16px;
}
.sub-item{
    text-align: right;
    line-height: 30px;
}
.sub-item >i{
    font-style: normal;
    color: red;
    margin-right: 3px;
}
#ad_position > span{
    margin-right: 10px;
}
.line-bottom{
    border-bottom: 1px solid #e5e5e5;
    margin: 0 13px 20px;
}
.fix-readonly {
    background-color: white !important;
}
.position-title{
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
.temp-check{
    font-weight: normal;
}
.mydatepicker{
    width: 295px;
}
.temp-check input{
    vertical-align: top;
    margin-right: 3px;
}

.disableInput{
    background: #EBEBE4;
}
.btn-disabled{
    background-color: gray !important;
    border-color: gray !important;
    cursor: not-allowed;
}
.ms-container ul.ms-list {
    margin-top: 10px !important;
    padding: 0;
    width: auto;
}
.city-setting{
    display: inline-block;
    width: 95px;
}
.cs2{
    color: dodgerblue;
    cursor: pointer;
}
.btn-file{
    background-color: #00a65a;
    box-shadow: none;
    border: 1px solid transparent;
    border-color: #008d4c;
    color: #fff;
}
.btn-file:hover{
    color: #fff;
}
.select-btn{
    background: #e5e5e5;
    color: #666;
    border: 1px solid #e5e5e5;
}
.select-btn:hover{
    color: #666;
}
.view-position{
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.result-img{
    width: 90%;
    margin-left: 30px;
}
.ad-request{
    width: 71%;
    height: 100px;
}
.input-select{
    height:30px;
}
.item-show{
    line-height: 30px;
}
.file-preview-frame > img{
    max-width: 200px;
}
