.ad-set {
    padding: 20px 0 100px 0;
}
.reset-width{
    width: 12%;
}
.reset-padding{
    padding: 0;
}
.pt17{
    padding-top: 17px;
}
.mb15{
    margin-bottom: 15px;
}
.mb10{
    margin-bottom: 10px;
}
.mr10{
    margin-right: 10px;
}
.mr23{
    margin-right: 23px;
}
.mr21{
    margin-right: 21px;
}
.mr16{
    margin-right: 16px;
}
.width-14{
    width: 14%;
}
.item-pre{
    background: #fff;
    border: none;
    font-size: 14px;
    font-family: "Microsoft Yahei",'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #666;
    white-space: pre-line;
}
.item-box{
    border: 1px solid #e5e5e5;
    margin-left: 23px;
    padding: 15px 0;
}
.sub-item{
    text-align: right;
    line-height: 30px;
}
.sub-item >i{
    font-style: normal;
    color: red;
    margin-right: 3px;
}
.position-title{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    line-height: 30px;
}
.temp-check{
    font-weight: normal;
    margin-top: 5px;
}
.temp-check input{
    vertical-align: top;
    margin-right: 3px;
}

.disableInput{
    background: #EBEBE4;
}

.file-img{
    position: relative;
    top: 48px;
    left: -200px;
    width: 600px;
}
.file-preview-thumbnails{
    width: 45%;
}
.file-img .file-slect-btn{
    position: absolute;
    top: -48px;
    left: 217px;
}
.btn-file{
    background-color: #00a65a;
    box-shadow: none;
    border: 1px solid transparent;
    border-color: #008d4c;
    color: #fff;
}
.btn-file:hover{
    color: #fff;
}
.select-btn{
    background: #e5e5e5;
    color: #666;
    border: 1px solid #e5e5e5;
}
.select-btn:hover{
    color: #666;
}
.view-position{
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.result-img{
    width: 90%;
    margin-left: 30px;
}
.ad-request{
    width: 71%;
    height: 100px;
}
.input-select{
    height:30px;
}
.item-show{
    line-height: 30px;
}
