.xiazai-banner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.xiazai-banner img{
    width:100%;
    height:100%;
    vertical-align: middle;
}
.xiazai-content img{
    width:100%;
    vertical-align: middle;
}
.wrap-content{
    width:1210px;
    margin:0 auto;
    position: relative;
}
.xiazai-share-left{
    float:left;
}
.xiazai-share-left .share-biaoshi{
    width:80px;
    height: 80px;
    margin-top:72px;
}
h2{
    font-size:44px;
    font-weight:700;
    margin-bottom:44px;
}
.share-content{
    margin-bottom: 104px;
}
.share-content h2{
    height: 44px;
    line-height: 44px;
}
.share-content p,.bkzn-content p{
    margin-bottom: 11px;
    font-size: 22px;
    letter-spacing: 5px;
}
.xiazai-share-right{
    width:797px;
    height: 455px;
    position: absolute;
    top:77px;
    right:0;
}
.xiazai-bkzn,.xiazai-xcbd{
    background:#F5F5F5;
}
.xiazai-bkzn-left{
    width:766px;
    height:479px;
    float: left;
    margin-top:64px;
    margin-bottom:7px;
}
.bkzn-biaoshi{
    width:50px;
    height:50px;
    position: absolute;
    right: 0;
    top:92px;
}
.xiazai-bkzn-right{
    overflow: hidden;
    position: relative;
}
.bkzn-content{
    text-align: right;
    margin-top: 150px;
    font-size: 16px;
}
.xiazai-ysgh-left{
    float: left;
}
.xiazai-ysgh-left .ysgh-biaoshi{
    width:60px;
    height:60px;
    margin-top:78px;
}
.ysgh-content{
    margin-bottom:180px;
}
.ysgh-content h2{
    height:45px;
    line-height:45px;
}
.ysgh-content p{
    font-size:22px;
    margin-bottom:10px;
    letter-spacing: 5px;
}
.xiazai-ysgh-right{
    width:520px;
    height:552px;
    position:absolute;
    right:0;
    top:11px;
}
.xiazai-xcbd-left{
    width:588px;
    height:532px;
    position:absolute;
    left:0;
    top:33px;
}
.xiazai-xcbd-right{
    position: relative;
    overflow: hidden;
}
.xcbd-biaoshi{
    width:60px;
    height:60px;
    position:absolute;
    top:115px;
    right:0;
}
.xcbd-content{
    margin-bottom:120px;
}
.xcbd-content h2{
    height:45px;
    line-height:45px;
    margin-bottom:38px;
}
.xcbd-content h2{
    margin-top:185px;
    text-align:right;
}
.xcbd-content p{
    font-size:22px;
    margin-bottom:10px;
    text-align:right;
    letter-spacing:5px;
}
.xiazai-zxs{
    overflow: hidden;
}
.xiazai-zxs .xiazai-zxs-img{
    width:221px;
    height: 252px;
    float: left;
    margin:60px 45px 129px 281px;
    border: 1px solid #E6E6E6;
}
.xiazai-zxs-img img {
    display: block;
    margin: 10px auto;
    width: 185px;
    height: 185px;
}
.xiazai-zxs-img .app {
    text-align: center;
    font-size: 20px;
    color: #333;
}
.xiazai-zxs-ins{
    overflow: hidden;
}
.xiazai-zxs-ins p{
    font-size:36px;
    margin-top:80px;
    font-weight:bold;
    margin-bottom:22px;
}
.xiazai-zxs-ins .er {
    margin-top: 0;
}

.xiazai-zxs-ins .zhushou{
    font-size:24px;
    display:inline-block;
    padding:7px 17px 6px 18px;
    background:#FF5353;
    color:#FFFEFE;
}