.ht-relative{min-height: 690px;}
select[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}
.pointer{cursor: pointer;}
.ht-order-login{ font-size:14px; margin:20px 0}
.ht-order-login input{padding-left: 5px; color: #666; border:1px solid #ccc; height: 30px; line-height:30px\0; *line-height:30px;display:inline-block;}
.ht-order-login input.focus{border: 1px solid #F15858;}
.ht-order-login .error{margin-left: 10px;}
.ht-order-check{ height:50px; background:#fff; line-height:50px; font-size:14px; position:relative; margin:0 0 10px 0;}
.ht-order-check select{ color: #666; height:30px; width:80px; border:1px solid #ccc}
.ht-order-check .zhibo-on{ width: 200px; font-size: 16px; color: #333; position: relative;}
.ht-order-check .zhibo-on:hover .zhibo-intro{ display: block;}
.ht-order-check .zhibo-on img{margin-right: 0px; vertical-align: middle; width: 15px; height: 15px;}
.ht-order-check .zhibo-on .zhibo-intro{ font-size: 14px; width: 308px; color: #333; position: absolute; left: 0px; top: 45px; background-color: white; border-radius: 0.5em; text-align: left; padding: 15px; line-height: 1.6; box-shadow: 0px 0px 10px grey; font-weight: normal; display: none;}
.ht-order-check .search{margin-top: 1px; position:absolute; right: 0px; top:10px; background:#fff; height:28px; width:240px; border:1px solid #ccc; line-height:28px}
.ht-order-check .search input[type=text]{ padding-left: 5px; color: #666; float:left; height:28px; line-height: 28px\0; *line-height: 28px; width:150px}
.ht-order-check .search input[type=submit]{ float:right; width:70px; height:28px; background:#666; color:#fff; cursor:pointer;}

.ht-order-list{width:100%; text-align:center; table-layout: fixed;}
.ht-order-list .order-title{ line-height:50px; font-weight:bold; font-size:14px}
.ht-order-list .order-title td{width:9.09%; background:#f7f7f7; border-bottom:1px solid #fff}
.ht-order-list .order-list{ line-height:60px; height: 60px;}
.ht-order-list .order-list *{line-height: 20px;}
.ht-order-list tr.unknow{ background:#fffdf3}
.ht-order-list tr.unknow:hover{ background:#fffce4}
.ht-order-list .order-list:hover{ background:#fcfcfc}
.ht-order-list .order-list td{ border-bottom:1px solid #f7f7f7}
.ht-order-list .order-list td .order-look{ background:#2fc46e; color:#fff;  display:inline-block; line-height:25px; padding:0 10px; width:48px}
.ht-order-list .order-list td .order-look:hover{ text-decoration:none;box-shadow:0px 0px 10px #2fc46e}
.ht-order-list .order-list .sericalcopytip{ position: absolute; background-color: #666666; color: white; padding: 0.3em; width: 56px;
    border-radius: 0.2em; top: 44px; left: 66px; display: none;}
.ht-order-list .copyactionicon{ cursor: pointer;}
.sericalnumberqrcode{position: absolute; width: 120px; left: -6px; top: 46px; background-color: white; border-radius: 0.5em; text-align: left; padding: 5px; line-height: 1.6; box-shadow: 0px 0px 10px grey; font-weight: normal; text-align: center; display: none; z-index: 999;}
.sericalnumberqrcode img{ width: 120px; height: 120px;}
.ht-order-list .order-list .sn{ position: absolute; top: -1000000px;}
#indentser:hover .status-intro{ display: block;}
.ht-order-huifang td{
    width: 9.09% !important;
}

/***********/
.ht-order-list .order-list td .order-del{ border:1px solid #ccc; background:#fff; color:#F8696C; display:inline-block; line-height:25px; padding:0 10px; width:48px;}
.ht-order-list .order-list td .order-del:hover{ text-decoration:none; background:#F15858; color:#fff; border:1px solid #F30; box-shadow:0px 0px 5px #ff8585}
.ht-order-check .add-order{ display:block; position:absolute; line-height:28px;top:10px; height:28px; padding:0 10px; right:50px; background:#eee; border:1px outset #fff}
.ht-order-check .add-order:hover{text-decoration:none;}
.ht-order-check .add-order:active{background:#e1e1e1; border:1px inset #fff; }

/**********/
.ht-wechat{ width:250px; float:left; text-align:center; line-height:30px; margin-top:50px; margin-left:50px}
.ht-wechat h1{ font-size:16px}
.ht-wechat p img{ width:200px; height:200px; border:1px solid #f1f1f1; margin:5px}
.ht-wechat-id{ float:right; border-left:1px dashed #eee; width:300px; margin-top:70px; padding:0 20px; line-height:25px;position: relative;}

.ht-wechat-id img{width: 50px; height: 50px; vertical-align: top; display: inline-block; display: inline\9;}
.ht-wechat-id dl{ margin-bottom: 10px; position: relative;}
.ht-wechat-id dl:hover{background: #FFFDF3; cursor: pointer;}
.ht-wechat-id dt{display: inline-block; display: inline\9;vertical-align: top;}
.ht-wechat-id dd{ color: #888;width: 200px;display: inline-block; display: inline\9; vertical-align: top; }
.ht-wechat-id .menu{display: block; position: absolute; font-size: 14px; bottom: 5px; right: 5px}

/*******密码修改*******/
.compinfo-secret{ font-size:14px; line-height:30px; margin:20px 0 0 0;  border-bottom:1px dotted #f1f1f1}
.compinfo-secret li{ margin-bottom:20px; overflow:hidden}
.compinfo-secret li span{ float:left; width:90px; font-weight:bold; text-align:right; padding-right:10px}
.compinfo-secret li input{ color: #666; height:30px; line-height:30px; width:140px; padding:0 5px;border:1px solid #ccc;}
.compinfo-secret li button{border: 1px solid #ccc; color: #666; text-align: center; padding: 0 5px; cursor: pointer; height: 32px; margin-left: 5px;}
.compinfo-secret li button[disabled]{color: #999;}
.compinfo-secret .focus{border-color: #F15858;}
.ht-info{font-size: 14px;  }
.ht-info a{margin-left: 10px;}
.compinfo-secret .ht-tips{padding-left: 100px; height: 30px;}
.apply_box{display: block;}
.apply_box .win_box_content { width: 300px; height: 220px; margin-top: -110px; margin-left: -150px; }
.apply_box .win_box_content .win_box_in{width: 300px; height: 220px; margin-top: -110px; margin-left: -150px; }
.apply_box .zb_box_title .zb_box_info{text-align: left; padding-left: 10px;}
.apply_box .win_box_in .input{height: 50px; margin-bottom: 5px;}
.apply_box .win_box_in input{color:#666; border: 1px solid #DDD; height: 30px; line-height: 30px; width: 60px; margin:0 5px; padding-left: 5px; }
.apply_box .win_box_in textarea{color:#666;font-size: 12px; width: 150px; height: 50px; border: 1px solid #DDD; resize:none; margin-left: 5px; padding-left: 5px;}
.apply_box .zb_box_form{padding:20px 30px; resize:none;}
.apply_box .win_box_in .input-error{padding-left: 60px;height: 20px; color: #DE4348; }

.apply_box .win_box_in button{float: right; background: none repeat scroll 0% 0% #DE4348; border: 1px solid #FF5868; width: 60px; height: 30px; color: #FFF;font-size: 14px; margin-top: 10px; margin-right: 5px; cursor: pointer;}
.apply_box .win_box_in .cancel{background: #888; border-color: #898989}


.order_box{ display: block; font-size: 14px; color: #666;}
.order_box .win_box_content {width: 600px; height: 560px; top:50%; overflow-y:auto;  margin-top: -280px; margin-left: -300px;}
.order_box .win_box_content .win_box_in{width: 600px; height: 560px; top:50%;  overflow-y:auto;  margin-top: -280px; margin-left: -300px;}
.order_box .zb_box_title .zb_box_info{text-align: left; padding-left: 10px;}
.order_box .zb_box_form{padding:5px 20px;}
.order_box .win_box_in .input{padding:2px 0;}
.order_box .win_box_in .input p{height: 100px; overflow-y:auto; line-height: 20px;}
.order_box .win_box_in .half{display: inline-block;display: inline\9;width: 49%;}
.order_box .win_box_in button{background: #888888; border: 1px solid #898989; width: 60px; height: 30px; color: #FFF;font-size: 14px;margin:0 auto; cursor: pointer;}
.order_box .win_box_in img{width: 80px; height: 40px; margin-right: 5px; display: inline-block; display: inline/0;}
.initiative_box .win_box_content{width: 400px; margin-left: -200px; }
.initiative_box .win_box_content .win_box_in{width: 400px;margin-left: -200px;}
.initiative_box .zb_box_form{padding: 10px 20px}
.initiative_box .win_box_content,.initiative_box .win_box_content .win_box_in{height: 620px; margin-top: -310px;}
.initiative_box .win_box_content .win_box_in{height: 580px;}
.initiative_box input{border: 1px solid #DDD; height: 30px; padding-left: 5px;color: #666; width: 252px;}
.initiative_box select{ height: 30px; width: 80px; border: 1px solid #ddd;color: #666;}
.initiative_box select option{padding-left: 5px;}
.initiative_box textarea{color: #666; padding-left: 5px; border: 1px solid #DDD; width: 250px; height: 100px; resize:none;}
.initiative_box .laydate-icon{width: 80px}
.initiative_box .win_box_in .label-control{width: 60px; display: inline-block;display: inline\9; text-align: right;}
.order_box .win_box_in .button{background: #DE4348; border: 1px solid #FF5868; width: 60px; height: 30px; color: #FFF;font-size: 14px;margin:0 auto; cursor: pointer;}


.ht-line{height: 2px; background: #EFEFEF; position: relative;}
.ht-line em{color: #F16262; position: absolute; left: 30px; top: -10px; font-size: 14px;background: #FFF; padding:0 10px;}
.ht-line .zhibolink{ color: #F16262; position: absolute; right: 0px; top: -14px; font-size: 14px;background: #FFF; padding:5px 10px; border:1px solid #F16262; border-radius: 0.3em; }
.ht-line .zhibolink::before{content: ''; position: absolute; width: 10px; height: 10px; left: -12px; background-color: white;}
.ht-line .zhibolink img{ vertical-align: baseline; margin-right: 5px;}
.ht-order-table{border: 1px solid #EFEFEF; width: 100%;margin: 20px 0; }
.ht-order-table th{background: #f5f5f5;color: #444; padding:10px 5px;}
.ht-order-table td.ht-table-bg{background: #f5f5f5; width: 100px; text-align: center;}
.ht-order-table td{text-align: left;  vertical-align: middle; color: #666;padding:10px 5px; font-size: 16px; border-bottom:1px solid #EFEFEF; }
.ht-order-table td em{color: #444;}
.ht-order-table td img{margin-left: 10px;}
.ht-order-review {padding:0; margin: 0; margin-top: 20px;}
.ht-order-review li{position: relative; padding:5px 0; height: 30px; line-height: 30px; display: none;}
.ht-order-review li:first-child{display: block;}
.ht-order-review li select{border: 1px solid #EFEFEF; height: 30px; color: #666; margin-right: 10px; }
.ht-order-review li select option{padding-left: 5px;}
.ht-order-review label{font-size: 14px; margin-right: 10px;}
.ht-order-review em{margin: 0 10px;}
.ht-order-review textarea{width: 100%; height: 150px; resize:none; border: 1px solid #EFEFEF; color: #666; padding-left: 5px;}
.ht-order-table img{width: 100px; height: 60px;}
.ht-order-groups button{display: inline;}
.ht-order-groups a{display: inline-block; border-width: 2px; border-color: #FF7105; background: #FF7105; }

.review-table td{font-size: 14px; text-align: center;}

.review-table .icon-trash:hover {text-decoration: none; color: #999;}

.ht-order-info{text-align: center;padding:10px; font-size: 18px; color: #CCC; font-weight: bold; font-family: Microsoft yahei;}


.tips-mask{width:100%; height: 100%; background:rgba(0,0,0,0.6); position: fixed; left:0px; top:0px; z-index: 999; display:none;}
.tips-container{padding:0px 12px 60px 12px; background:#fff;width:390px; height: 155px; position: fixed; z-index:999; margin:auto; left:0px; right: 0px; bottom:0px; top:0px; }
.tips-header{position: relative; width:103%; height:55px;  }
.tips-container i{
    position: absolute; right: 12px; top:12px;
}
.tips-container p{font-size: 18px; margin-bottom:20px; text-align:center;}

.btn-box{
    overflow:hidden;
}
.btn-item{
    width: 146px; height: 46px; border:1px solid #CCCCCC;background:#dedede;
    text-align:center; display:inline-block; margin:20px;
    line-height: 46px;font-size:20px; cursor: pointer;
}
.btn-danger{background:#ff5353; border:1px solid #ff5353; color:#fff;}
.btn-danger a{color:#fff;}
.btn-danger a:hover{color:#fff; text-decoration: none;}

.ques-mark {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    border: 1px solid #666;
    color: #666;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.status-intro {
    position: absolute;
    width: 462px;
    left: -401px;
    top: 43px;
    background-color: white;
    border-radius: 0.5em;
    text-align: left;
    padding: 15px;
    line-height: 1.6;
    box-shadow: 0px 0px 10px grey;
    font-weight: normal;
    display: none;
    z-index: 999;
}
.status-intro h3{ font-size: 16px; font-weight: bold;}
.status-intro h4{ font-weight: bold;}
.status-intro .zhibo-qrcode{ width: 80px; height: 80px;}
.maindw{position: relative;}
.shuruyzm{overflow: hidden;margin-top: 10px;}
.shuruyzm .spantitle{width: 100px;text-align: right;display: inline-block;float: left;height: 30px;line-height: 30px;}
.shuruyzm .yanzhengmaput{width: 117px;height: 35px;line-height: 35px;}
.shuruyzm input{float: left;}
.shuruyzm .orderpassword{width: 275px;height: 35px;line-height: 35px;}
.shuruyzm .sendyanzhengma{padding:10px;text-align: center;color: #fff;background: #169bd5;
outline: none;border-radius: 5px;margin-left: 10px;}
p.topjvli{margin-top: 10px;}
.ht-yes a.lookorder{background: #ff0000 !important;border-radius: 5px;outline: none;}
.shuruyzm .tishi{height: 35px;line-height: 35px;color: #F15858;margin-left: 10px;}
.shuruyzm .passtishi{clear: both;display: block;margin-left: 100px;}
.shuruyzm .weixinma{display: inline-block;width: 37px;height: 37px;float: left;overflow: hidden;
    margin-left: 10px;cursor: pointer;}
.shuruyzm .weixinma img{width: 100%;height: 100%;}
.xiangdui{position: relative;}
.ht-main .weixinmatc{width: 298px;height: 330px;border: 1px solid #ccc;background: #fff;position: absolute;
top: 90px;left: 277px;display: none;}
.weixinmatc .weixinmatc-title{font-size: 16px;color: #333;height: 44px;line-height: 44px;border-bottom: 1px solid #ccc;
padding: 0 7px;box-sizing: border-box;position: relative;}
.weixinmatc-title .closema{position: absolute;right: 0;display:inline-block;font-size: 20px;
line-height: normal;height: 44px;line-height: 44px;width: 36px;text-align: center;cursor: pointer;}
.weixinmatc .erweimawk{width: 182px;height: 172px;margin-top: 56px;margin-left: 61px;overflow: hidden;}
.weixinmatc .erweimawk img{width: 100%;height: 100%;}
.weixinmatc .lunxuntip{font-size: 14px;text-align: center;}
.btn_jianjv{margin-bottom: 100px !important;}
.bindinghao{font-size: 14px;color: #333;}
.zhanghaowaik{overflow: hidden;margin-top: 20px;}
.zhanghaowaik .zhanghaoitem{display: inline-block;vertical-align:middle;float: left;overflow: hidden;}
.zhanghaowaik .leftjvli{margin-left: 40px;}
.zhanghaoitem .zhanghaotx{display: inline-block;width: 65px;height: 65px;overflow: hidden;}
.zhanghaoitem img{width: 100%;height: 100%;}
.zhanghaoitem .weixcity{display: inline-block;vertical-align: top;font-size: 12px;text-align: left;  margin-left: 10px; margin-right: 10px;}
.zhanghaoitem .weixcity .weixcity_nicheng{margin-top:12px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;width: 155px;}
.zhanghaoitem .weixcity .weixcity_city{margin-top:15px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;width: 155px;}

.simulation-table{ display: table; width: 100%; table-layout: fixed; font-size: 0; }
.simulation-table>div{display: table-cell;font-size: 14px;vertical-align: middle; }
.wechat-account{ width: 435px; float: left; margin-top: 16px;position: relative;z-index: 1;}
.wechat-qrcode{ width: 435px; float: right}
.absweiz{position:absolute;top: 0;left: 0;bottom: 0;right: 0;margin:auto;display: none;}
.wechat-account > .caption{ font-size: 14px; color: #333; line-height: 1; font-weight: bold; margin-bottom: 36px;}
.member{margin-bottom: 30px;}
.add-member{margin-bottom: 30px;}
.member .caption{ margin-bottom: 16px; font-size: 14px;}
.member-list > li{ width: 290px; height: 90px; overflow: hidden; border:1px solid #E5E5E5; border-radius: 6px; margin-bottom: 16px; line-height: 1;}
.member-list > li > img{ width: 90px; height: 90px; margin-right: 16px; float: left; }
.member-list > li > .member-info{ overflow: hidden; position: relative; padding-top: 24px; color: #333;}
.member-list > li > .member-info > p{ margin-bottom: 20px;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;width: 155px;}
.member-list > li .del-icon{ position: absolute; right: 10px; bottom: 10px; font-size: 16px; cursor: pointer}
.add-member .caption{ font-size: 14px; margin-bottom: 16px;}
.add-membernew .caption{ font-size: 14px; margin-bottom: 16px;}
.add-member-icon{ display: inline-block; width: 90px; height: 90px; line-height: 75px; text-align: center; font-size: 68px; font-weight: bold; background-color: #E6E6E6; color: #CCC; border-radius: 6px; cursor: pointer;user-select: none;}


.valid-phone{width: 385px; height: 206px; box-shadow: 0px 0px 5px grey; border-radius: 6px; border:1px solid transparent; margin-top: 170px; margin-left: -129px; display: none;}
.absweiz .valid-phone{background: #fff;margin-left: 0;position: relative;z-index: 2;}
.valid-phone .caption{ margin-top: 36px; font-size: 14px; color: #333; margin-bottom: 30px; text-align: center;}
.valid-phone .main-table{ width: 325px; margin:0 30px; font-size: 14px; color: #333; margin-bottom: 30px;}
.valid-phone .main-table > div{ vertical-align: middle; }
.valid-phone .main-table .phone{ width: 160px; height: 40px;border:1px solid #D6D6D6; }
.valid-phone .main-table .get-code{ width: 90px; height: 40px; background-color: #00A0E9; color: white; border-radius: 6px; outline: none; cursor: pointer; }
.valid-phone .action{ height: 50px; line-height: 50px; font-size: 0; border-top:1px solid #E6E6E6; position: relative;}
.valid-phone .action > span{ text-align: center; display: inline-block; width: 50%; font-size: 14px; cursor: pointer;}
.valid-phone .action > span:first-child{ color: #FF5353; }
.valid-phone .action .line{ position: absolute; width: 1px; height: 50px; left: 50%; top:0; background-color: #E6E6E6;}

.scan-qrcode{ width: 160px; height: 220px; margin-top: 72px; padding: 30px; box-shadow: 0px 0px 5px grey; display: none;
background: #fff;position: relative;z-index: 3;}
.scan-qrcode .closema{position: absolute;top: 0;right: 0;font-size: 16px;padding: 5px 10px;display: inline-block;
cursor: pointer;}
.scan-qrcode .qrcode{ width: 160px; height: 160px; margin-bottom: 24px;}
.scan-qrcode .scan{ font-size: 14px; color: #333; line-height: 1.5;}
.wechat-tips {margin-top:232px;display: inline-block;margin-left: 50px;}
.wechat-tips h4{ font-size: 14px;  color:#fb8920; margin-bottom: 10px; }
.wechat-tips p{ font-size: 14px;  color:#999999; line-height: 28px; }
.wechat-tips p>span{color:#f16262; }
.yaoqiu{
    width:100%;height:150px; background:none; font-size:16px; resize: none; font-family: "Microsoft YaHei"
}
.redgaoliang{color: #ff5353 !important;}

.copysuccesstip{ position: fixed; z-index: 9999; left: 0; top: 0; right: 0; bottom: 0; margin: auto; width: 290px; height: 56px; line-height: 56px; font-size: 16px; border-radius: 0.3em; background-color: rgba(0,0,0,0.6); color: white; text-align: center; display: none;}

.emptyzhibo{ text-align: center; color: #666; padding-top: 90px; padding-bottom: 150px;}
.emptyzhibo .title{ font-size: 16px; font-weight: bold; color: #333; line-height: 3;}
.zhibointrobasestyle{ font-size: 14px; color: #333; line-height: 2;}
.zhibointrobasestyle .title{ font-size: 17px; font-weight: bold;}
.zhibointrobasestyle .bold{ font-weight: bold;}
.zhibointrobasestyle .mb10{ margin-bottom: 10px;}
.zhibointrobasestyle .sericalnumberqrcode{ width: 87px; left: 232px; top: 28px;}
.inzhibo{ text-decoration: underline;}
.example-process{margin: 15px 0;}

.zhibodetailbox{ margin-top: 42px; }
.zhibodetailbox .caption{ position: absolute; left: 0; top: -42px; line-height: 40px; width: 100px; text-align: center; font-size: 16px; font-weight: bold; color: #D7282D; border:1px solid #eee; border-top: 2px solid #D7282D; border-bottom: none; background-color: white;}

.zhibodetailbox .zhibo-sub-title{ line-height: 40px; color: #666; font-weight: bold; background-color: #f5f5f5; padding-left: 10px; font-size: 14px;}
.zhibo-order-info, .shigong-info, .shigong-process{ border:1px solid #eee; border-top: none;}
.zhibodetailbox .zhibo-padding{ padding: 15px; }
.zhibo-order-info{ margin-bottom: 20px;}
.shigong-info{ float: left; width: 626px; margin-bottom: 40px; min-height: 780px;}
.shigong-info .loadempty{ line-height: 40px; text-align: center; position: relative; bottom: -50px;}
.shigong-process{ float: right; width: 220px; font-size: 14px;}
.shigong-process .allprocess{ cursor: pointer;}
.shigong-process p.active{ color: #FC3A40;}
.shigong-process .allprocess:hover{ color: #FC3A40;}
.zhibo-order-info .zhibo-sub-title{ position: relative; font-size: 14px; }
.zhibo-order-info .zhibo-sub-title .toorderdetail{ position: absolute; right: 10px; top: 5px; text-align: center; color: #666666; width: 70px; height: 26px; line-height: 26px; border:1px solid #D4D4D4; border-radius: 0.3em; background-color: white;}
.zhibo-order-info .orders-area{float: left; width: 620px; font-size: 14px; color: #666; line-height: 2.5;}
.zhibo-order-info .orders-area p{ width: 33.33%; float: left; overflow: hidden;}
.zhibo-order-info .orders-area .sgcodebox{ position: relative; overflow: visible;}
.zhibo-order-info .orders-area .sgcodebox .copy{ cursor: pointer;}
.zhibo-order-info .orders-area .sgcodebox .sericalcopytip{position: absolute; top: 34px; left: 144px; background-color: #666666; color: white; padding: 0.3em; width: 56px; border-radius: 0.2em; line-height: 20px; display: none; }
.zhibo-order-info .orders-area .sgcodebox .sgcode{ position: absolute; width: 462px; left: -312px; top: 43px; background-color: white; border-radius: 0.5em; text-align: left; padding: 15px; line-height: 1.6; box-shadow: 0px 0px 10px grey; font-weight: normal; display: none; z-index: 999;}
.zhibo-order-info .orders-area .sgcodebox #sn_code{ position: absolute; top: -999px;}
.zhibo-order-info .orders-area .sgcodequestion{ width: 15px; height: 15px; margin-right: 1px; cursor: pointer;}
.zhibo-order-info .qrcode-area{float: right; width: 210px;}
.zhibo-order-info .qrcode-area .t{ line-height: 3; font-size: 14px; position: relative;}
.zhibo-order-info .qrcode-area .t img{ margin-right: 5px; cursor: pointer; width: 15px; height: 15px;}
.zhibo-order-info .qrcode-area .t .qrinstro{ position: absolute; width: 403px; left: -304px; top: 43px; background-color: white; border-radius: 0.5em; text-align: left; padding: 15px; line-height: 1.6; box-shadow: 0px 0px 10px grey; font-weight: normal; display: none;  z-index: 999;}
.zhibo-order-info .qrcode-area .qr{width: 120px; height: 120px;}
.zhibo-order-info .qrcode-area span, .zhibo-order-info .qrcode-area a{vertical-align: -34px; padding: 0 5px; color: #666;}

.shigong-info-box{position: relative;}
.shigong-info-box .shigongitem:last-of-type{ border-bottom: none;}
.shigong-info-box .fixedprocess{position: fixed; top:0px; right: 336px;}
.shigongitem{ border-bottom: 1px solid #eee; padding: 15px;}
.shigongitem .t-area{ margin-bottom: 10px;}
.shigongitem .shigongitem-mt{ float: left; font-size: 16px; color: #333; font-weight: bold;}
.shigongitem .shigongitem-action-icon{ float: right;}
.shigongitem .shigongitem-action-icon img{cursor: pointer;}
.shigongitem .m-area .avatar{ float: left; width: 40px; margin-right: 10px;}
.shigongitem .m-area .avatar .restrictavatar{ width: 40px; height: 40px; overflow: hidden;}
.shigongitem .m-area .avatar .restrictavatar img{ width: 100%; height: 100%; border-radius: 50%;}
.shigongitem .m-area .main-text{ float: right; width: 545px;}
.shigongitem .m-area .main-text .top{ font-size: 14px; color: #999; line-height: 2.5;}
.shigongitem .m-area .main-text .name{ float: left; font-size: 16px; color: #333; font-weight: bold;}
.shigongitem .m-area .main-text .date{ float: right;}
.shigongitem .m-area .main-text .gongdi-intro{ font-size: 14px; color: #333; line-height: 1.8; margin-bottom: 10px;}

.shigong-process{background-color: white;}
.shigong-process .decoration-process{ border-left: 2px solid #eee; margin-top: 10px; position: relative;}
.shigong-process .decoration-process li{ padding-left: 15px; line-height: 2.8; position: relative; cursor: pointer;}
.shigong-process .decoration-process li::before{ content: ''; position: absolute; left: -8px; top: 14px; width: 14px; height: 14px; background-color: #eee; border-radius: 14px;}
.shigong-process .decoration-process::before{content: ''; position: absolute; left: -8px; top: 0px; width: 14px; height: 14px;     background-color: white;}
.shigong-process .decoration-process::after{content: ''; position: absolute; left: -8px; bottom: -3px; width: 14px; height: 14px;     background-color: white;}
.shigong-process .decoration-process li:hover{ color: #FC3A40;}
.shigong-process .decoration-process li:hover::before{ background-color: #FC3A40;}
.shigong-process .decoration-process li.active{color: #FC3A40;}
.shigong-process .decoration-process li.active::before{ background-color: #FC3A40;}

.zhibodetailbox .emptyshigong{ width: 414px; margin: 0 auto;}

.mediaresource ul > li{ float: left; width: 101px; height: 101px; margin-right: 10px;}
.mediaresource ul > li:last-child{margin-right: 0;}
.mediaresource ul > li img{ width: 100%; height: 100%;}

.repair-shigong-info{ position: fixed; background-color: rgba(0,0,0,0.6); left: 0; top: 0; width: 100%; height: 100%; z-index: 99; display: none; }
.repair-shigong-content{ position: absolute; width: 710px; height: 690px; background-color: white; left: 0; right: 0; top: 0; bottom: 0; margin: auto; border-radius: 0.5em; font-size: 16px; color: #333;}
.repair-shigong-content .title{ font-weight: bold; line-height: 59px; padding-left: 20px; border-bottom: 1px solid #E6E6E6; position: relative;}
.repair-shigong-content .title .close{ position: absolute; right: 10px; top: -3px; color: #999; font-size: 25px; cursor: pointer;}
.repair-items-box{ padding: 15px;}
.repair-items{width: 100%;}
.repair-items td{ padding: 7px 0px;}
.repair-items .name{width: 150px; text-align: right; vertical-align: top;}
.repair-items .avatar{ width: 40px; height: 40px; overflow: hidden; border-radius: 40px; display: inline-block;}
.repair-items .avatar > img{width: 100%; height: 100%;}
.repair-items .nickname{ vertical-align: 15px;}
.repair-items .repair-process{ width: 200px; height: 30px; border: 1px solid #E5E5E5; font-size: 14px; color: #333;}
.repair-items .repair-text{border: 1px solid #E5E5E5; width: 90%; padding: 10px; font-size: 14px; color: #333;}
.repair-items .media-video{ position: relative; }
.repair-items .media-video .delvideo{ position: absolute; left: 318px; bottom: 0px; cursor: pointer; }
.repair-shigong-content .repair-footer{ border-top: 1px solid #E6E6E6; line-height: 64px; width: 100%; text-align: right; position: absolute; bottom: 0;}
.repair-shigong-content .repair-footer .fixpadding{padding-right: 15px;}
.repair-shigong-content .repair-footer .btn{ width: 100px; height: 40px; text-align: center; font-size: 14px; color: #333; background-color: transparent; border-radius: 0.3em;cursor: pointer;}
.repair-shigong-content .repair-footer .btn-primary{ border:1px solid #D6D6D6;}
.repair-shigong-content .repair-footer .btn-red{ background-color: #F16262; color: white;}
.repair-shigong-content .sgpics{ width: 92px; height: 92px; position: relative; float: left; margin-right: 10px; margin-bottom: 10px;}
.repair-shigong-content .sgpics .media-pics{margin-right: -20px;}
.repair-shigong-content .sgpics img{ width: 100%; height: 100%;}
.repair-shigong-content .sgpics .close{ position: absolute; right: -7px; top: -8px; text-align: center; width: 16px; height: 16px; line-height: 16px; background-color: #FF2525; color: white; border-radius: 50%; cursor: pointer; display: none;}
.repair-shigong-content .sgpics:hover .close{display: block;}

/* 业主满意度 */
.manyidu{width:100%;height: 30px;line-height: 30px;padding-top: 5px;}
.manyi-left{width:50%;float: left;}
.manyidu .biaoqing{width:16px;height:16px;line-height: 27px;float: left;padding-right: 3px;}
.manyidu .biaoqing img{width: 100%;vertical-align: middle;}
.manyidu .satisfied{font-size:14px;color:#333;}
.zan-right{float: right;}
.zan-pic{width:16px;height: 16px;line-height: 27px;float: left;}
.zan-pic img{width:100%;vertical-align: middle;}
.zam-num{font-size: 14px;color:#999;float: right;line-height: 34px;padding-left: 10px;}
/* 业主印象 */
.yinxiang{width:100%;height: 30px;line-height:30px;}
.yezhuyx{font-size:14px;color:#333;width: 75px;float: left;}
.yixiang-tag{height:26px;line-height:26px;border-radius:13px;background:#FFF8E2;float: left;margin-top: 2px;margin-right: 5px;padding:0 15px;}
.tag-bg{font-size:14px;text-align: center;font-weight:400;color:#FFAB3F;}
/* 业主评价语 */
.yzpj{width:100%;height: auto;background: #F5F5F5;border-radius:4px;margin: 10px 0;padding: 12px;box-sizing: border-box;}
.yzpj .yz{width: 45px;font-size: 14px;color:#576B95;display: inline-block;}
.yzpj .pingyu{width: 90%;font-size:14px;font-weight:400;color:#333;vertical-align: top;display: inline-block;word-break: break-all;}
/* 评价时间 */
.pj{width:100%;height: 20px;}
.pj .pj-time{width:50%;font-size:12px;font-weight:400;color:rgba(153,153,153,1);line-height:20px;float: left;}
.pj .huifu{font-size:14px; font-weight:400; color:rgba(107,166,255,1); line-height:20px;float: right;text-align: right;cursor: pointer;}
/* 商家回复 */
.shangjia{margin-top: 10px;}
.shangjia .sj{width:100px;font-size: 14px;color:#576B95;display: inline-block;}
.shangjia .sjhf{width:80%;font-size:14px;font-weight:400;color:#333;vertical-align: top;display: inline-block;word-break: break-all;}
/* 回复弹框 */
.mask{width:100%;height: 100%;background:rgba(0,0,0,.6);position: fixed;top: 0;left: 0;z-index: 99;}
.mask .inner{width:710px;height: 496px;background: #fff;border-radius:10px;position: absolute;top:0;left:0;right: 0;bottom: 0;margin: auto;}
.mask .inner .tank-top{width:100%;padding: 20px  28px;box-sizing: border-box;border-bottom: 1px solid #E6E6E6}
.mask .inner .tank-top .huifuyezhu{font-size:16px;font-weight:400;color:rgba(51,51,51,1);}
.mask .inner .tank-top .close{font-size:16px;float: right;color: #999999;cursor: pointer;}
.mask .inner .content{width:100%;height: auto;padding: 30px 28px 20px;box-sizing: border-box;border-bottom: 1px solid #E6E6E6;}
.mask .inner .content .owner-remark{font-size:16px;font-weight:400;color:#333;}
.owner{width: 80px;}
.remark{display: inline-block;width: 87%;height: 65px;overflow-y: auto;vertical-align: text-top;}
.construction{font-size:16px;font-weight:400;color:#333;margin-top: 30px;}
.textk{width: 86%;height:150px;border: 1px solid #E5E5E5;border-radius:4px;vertical-align: text-top;padding: 10px 15px;box-sizing: border-box;margin-top: -10px;}
.tips{width:100%;height:44px;font-size:16px; font-weight:400; color:rgba(153,153,153,1);margin: 30px auto 0;}
.btns{padding: 20px 28px;float: right;}
.btns button{width:100px;height: 40px;line-height: 40px;border: 1px solid #D6D6D6;border-radius:4px;background: #FFF;font-size:14px;font-weight:400;color:#333;margin-left: 15px;cursor: pointer;}
.btns button.queding{color:#fff;background: #FF5353;border: none;}