<div class="box-header with-border">
    <h3 class="box-title">条件查询</h3>
</div>
<div class="box-body">
    <form action="" method="get">
        <div class="row">
            <div class="col-xs-2">
                <div class=" lh-34" >活动端口：</div>
                <select name="activity_location" style="width: 200px" class="form-control" id="select_activity">
                    <option value="0" selected>请选择</option>
                    <option value="1" <eq name="vars.condition.activity_location" value="1">selected</eq>>移动端</option>
                    <option value="2" <eq name="vars.condition.activity_location" value="2">selected</eq>>pc端</option>
                    <option value="3" <eq name="vars.condition.activity_location" value="3">selected</eq>>APP</option>
                </select>
            </div>
            <div class="col-xs-2">
                <div class=" lh-34" >活动名称：</div>
                <for start="0" end="3" comparison="elt" name="location">
                    <!-- select{$location}的时候 -->
                    <select name="activity_id" type="text" class="form-control select_act" id="select_act_{$location}">
                        <volist name="vars.activity" id="vi">
                            <if condition="$vi['activity_location'] EQ $location or $location == 0">
                                <eq name="vi.id" value="$vars.condition.activity_id">
                                    <option data-start="{$vi.start|default=''}" data-end="{$vi.end|default=''}" selected value="{$vi.id}">{$vi.name}</option>
                                <else />
                                    <option data-start="{$vi.start|default=''}" data-end="{$vi.end|default=''}" value="{$vi.id}">{$vi.name}</option>
                                </eq>
                            </if>
                        </volist>
                    </select>
                </for>
            </div>
            <div class="col-xs-2">
                <div class=" lh-34" >查询时间-开始：</div>
                <input type="text" name="time_start" class="form-control datepicker" placeholder="开始时间" value="{$vars.condition.time_start}">
            </div>
            <div class="col-xs-2">
                <div class=" lh-34" >查询时间-结束：</div>
                <input type="text"  name="time_end" class="form-control datepicker" placeholder="结束时间" value="{$vars.condition.time_end}">
            </div>
            <div class="col-xs-2">
                <div class=" lh-34" >渠道：</div>
                <select id="src" class="select2 select2-offscree" name="src" type="text" placeholder="渠道" tabindex="-1">
                    <option value="">请选择</option>
                    <volist name="vars.src_data" id="src">
                        <option value="{$src.src}">{$src.name}</option>
                    </volist>
                </select>
            </div>
            <div class="col-xs-1">
                <div>&nbsp;</div>
                <button type="submit" class="btn btn-info" style="width:55px;"> 查询 </button>
            </div>
            <div class="col-xs-1">
                <div>&nbsp;</div>
                <button id="export" type="button" class="excel" style="width:100px;"> 导出EXCEL </button>
            </div>
        </div>
    </form>
    <br>
</div>