 @import '../../styles/public.css';
.mask {
    width:100%;
    height: 100%;
    position: fixed;
    background:rgba(0, 0, 0, 0.7);
    top:0px;
    left:0px;
    z-index: 999
}
.bottom-order-container {
    width:100%;
    position: fixed;
    bottom:0px;
    z-index: 1000
}
.tab-bar{
    width:100%;
    position: absolute;
    height: 100rpx;
    background: #fff;
    box-shadow: 0px 0px 4px #dedede;
    bottom: 0;
    display: flex
}
.tab-bar .tab-icon{
    flex-grow: 1;
    text-align: center;
    font-size:24rpx
}
.tab-bar .tab-icon view {
    width:44rpx;
    height: 44rpx;
    margin:8rpx auto;
    background-size:100%
}
.icon1{
    background: url('../../images/ksbj.png') no-repeat;
}
.icon2{
    background: url('../../images/mfsj.png') no-repeat;
}
.icon3{
    background: url('../../images/zxgs.png') no-repeat;
}
.icon4{
    background: url('../../images/sjrz.png') no-repeat;
}
.order-box{
    position: absolute;
    bottom:100rpx;
    left: 0px;
    width:100%;
}
.order-box-header{
    position: relative
}
.order-header-img{
    width:100%;
    height: 206rpx;
    vertical-align: top;
}
.iconClosewithcircle{
    color:#fff;
    font-size: 48rpx;
    position: absolute;
    right:30rpx;
    top:-70rpx;
}
.input-list{
    background: #fff;
    padding: 0px 32rpx 32rpx 32rpx;
}
.input-item {
    border-bottom:1px solid #C9C9C9;
    height: 96rpx;
    line-height: 96rpx;
    overflow: hidden
}
.input-item .input-item-title{
    font-size: 30rpx;
    float: left
}
.input-item .addr-text{
    float: right
}
.input-item input,.input-item button{
    float: right;
    width:80%;
    text-align: right;
    font-size: 30rpx;
    height: 96rpx;
    line-height: 96rpx;
    font-family: '微软雅黑';
    padding:0px;
    color:#999;
    border: none;
}
.btn-submit{
    background: #FF5156;
    border-radius: 5rpx;
    color: #fff;
    font-size: 34rpx;
    margin-top:20rpx;
    height:80rpx;
    line-height: 80rpx;
}
.area-box{
    position: relative;
}
.area-sup{
    position: absolute;
    width: 30rpx;
    right: 12rpx;
    top: 0;
}
.area-box .area-input{
    width: 75%;
    padding-right: 40rpx;
}
.area-sup > span{
    display: block;
    font-size: 14px;
}
.close,.ok{
  width: 120rpx;
  height: 90rpx;
  font-size: 34rpx;
  text-align: center;
  line-height: 90rpx;
  position: absolute;
  z-index: 11;
  color: #65779c;
}
.select-top{
  width: 100%;
  height: 90rpx;
  background: #fbf9fe;
}
.close{
  left: 0;
  top: 0;
}
.ok{
  right: 0;
  top: 0;
}
.isColor{color:#333!important}
.hide {
  display: none;
}

.result-design{
    font-size: 14px;
    background:#fff;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
    /* min-height: 550rpx; */
    width: 100vw;
    text-align: center;
    padding: 5rpx 30rpx 30rpx;
    box-sizing: border-box;
    position: relative;
}
.result-close{ 
    position: relative;    
    height:100rpx;

}
.result-close-btn{
    font-size: 14rpx;
    font-weight: bold;
    position: absolute;
    top:30rpx;
    right: 50rpx;
    width: 30rpx;
}
.result-title-box{
    text-align: center;
    line-height: 40rpx;
    padding-bottom: 15rpx;
    vertical-align: middle;
}
.result-title-box .success-icon{
    margin-right: 10rpx;
    width: 42rpx;
    height: 42rpx;
    border-radius: 50%;
}
.bottom-order__success-icon .swan-icon-success{
    color: #fff;
    font-size: 24rpx;
    background: rgba(11, 161, 144, 1);
    border-radius: 50%;
}
.result-title-box .result-title{
    line-height: 72rpx;
    height:78rpx;
    font-size:42rpx;
    font-family:PingFang-SC-Medium;
    font-weight:700;
    color:rgba(51,51,51,1);
}
.result-content{
    padding: 5rpx 20rpx 15rpx;
    text-align: left;
    font-size:28rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:50rpx;
}
.result-konw-btn{
    padding: 5rpx 30rpx 15rpx;

}
.result-konw-btn button{
    background: rgba(255, 81, 86, 1);
    width: 80%;
    color:rgba(255, 255, 255, 1);   
    font-size: 28rpx;
    border-radius:56rpx 56rpx ;
}
.company-result{
    text-align: center;
    color: rgba(102, 102, 102, 1)
}
.great-company{
    padding-left: 30rpx;
    padding-right:30rpx;
    font-size:36rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:80rpx;
}
.price-detail{
    padding: 30rpx 0rpx;
    border-bottom: 1rpx solid rgba(102,102,102,1);
}
.detail-item{
    display: flex;
    justify-content: space-between;
    font-size:28rpx;
    line-height: 52rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.item-name,.item-price{
    display: flex;
    flex: 1;  
}
.item-name{
      width: 30%;
}
.price-num{
    width: 80%;
    margin-right:5rpx; 
}
.item-price{
    text-align: right;
}
.item-line{
    display: flex;
    flex: 2;
    margin-right: 0rpx;
    overflow: hidden;
}
.price-total{
    display: flex;
    justify-content: space-between;
    padding: 15rpx 0;
    font-size:32rpx;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.total-num{
    color: rgba(255, 81, 86, 1);
}
.red-star{
    color: rgba(255, 81, 86, 1);
    font-size: 24rpx;
    margin-right: 5rpx;
}
.tip-word{
    font-size:24rpx;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(153, 153, 153, 1);
}
.list{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30rpx;
    height: auto;
}  
.l-header{
    width: 100%;
    height: 90rpx;
    padding-top:10rpx;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.l-header icon{
    display: block;
    width:8rpx;
    height:40rpx;
    background:rgba(255,81,86,1);
}
.tab-bar.isPhonex{
    height: 150rpx;
}
.order-box.isPhonex{
     bottom:150rpx;
}