<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="mobile-agent" content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/{$cityInfo.bm}/blog/{$userInfo.designer.uid}" />
    <title>{$keys.title}</title>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{$alternate}" >
    <meta name="keywords" content="{$keys.keywords}" />
    <meta name="description" content="{$keys.description}" />
    <notempty name="info.head.canonical">
        <link href="{$info.head.canonical}" rel="canonical" />
    </notempty>
    <include file="Index:resource" />
    <link href="{$static_host}/assets/sub/designer/css/designer-detail.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</head>

<body>
    <include file="Index:header" />
    <div class="fix_bg_color">
      <div class="wrap">
        <div class="bread">
            <a href="/">{$cityInfo.name}装修</a>><a href="/designer/">{$cityInfo.name}装修设计师</a>&gt;<span>{$userInfo.designer.name}</span>
        </div>
    </div>
      <div class="wrap oflow">
        <div class="compleft">
          <div class="userhead">
            <if condition="$userInfo['designer']['logo'] NEQ ''">
              <span class="half-radius"><img class="morenInfo" src="{$userInfo.designer.logo}" alt="{$userInfo.designer.name}"></span>
              <else/>
              <span class="half-radius"><img class="morenInfo" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{:OP('DEFAULT_LOGO')}" alt="{$userInfo.designer.name}"></span>
            </if>
            <div class="name_info">
              <h1 class="name" style="display: inline;"> {$userInfo.designer.name|mb_substr=0,6} </h1>
                <if condition="$userInfo['designer']['zw'] neq ''" >
                    <span class="officer">{$userInfo.designer.zw}</span>
                </if>
            </div>
            <a href="javascript:void(0)" class="designer_wt" data-des="{$userInfo.designer.userid}">委托设计</a>
            <p class="renqi">
              <img src="{$static_host}/assets/sub/designer/img/icon-renqi.png" alt="">
              <span>| {$userInfo.designer.pv}人气</span>
            </p>
            <img src="{$static_host}/assets/sub/designer/img/icon-lianjie.png" alt="" class="lianjie">
          </div>
          <div class="belong_com">
            <div class="com_logo"><img src="{$companyinfo.logo}" alt="{$companyinfo.qc}"></div>
            <h2><p class="com_name">{$companyinfo.jc}</p></h2>
            <div class="stars">
                <for start="0" end="$companyinfo.star">
                    <img src="{$static_host}/assets/sub/designer/img/xing.png" alt="">
                </for>
            </div>
            <a target="_blank" href="/company_home/{$userInfo.designer.comid}/"><span class="com_check">查看公司</span></a>
          </div>
        </div>
        <div class="compright">
            <div class="designborder">
                <div class="designbolg">
                    <ul class="designinfo">
                        <li><strong>毕业学校：</strong>{$userInfo.designer.school}</li>
                        <li><strong>就职公司：</strong>
                        <if condition="$userInfo['designer']['qc'] NEQ  ''">
                            {$userInfo.designer.qc}
                        </if>
                        </li>
                        <li><strong>从业时间：</strong>{$userInfo.designer.jobtime}</li>
                        <if condition="$userInfo['designer']['cost'] NEQ ''">
                            <li><strong>设计收费：</strong>{$userInfo.designer.cost}元/平米</li>
                        <else />
                            <li><strong>设计收费：</strong>面议</li>
                        </if>
                        <if condition="$userInfo['designer']['lingyu'] NEQ ''">
                            <li><strong>擅长领域：</strong>{$userInfo.designer.lingyu}</li>
                        </if>
                        <if condition="$userInfo['designer']['fengge'] NEQ ''">
                            <li><strong>擅长风格：</strong>{$userInfo.designer.fengge}</li>
                        </if>
                        <li><strong>设计理念：</strong>
                            <if condition="$userInfo['designer']['linian'] NEQ ''">
                                {$userInfo.designer.linian}
                                <else/> 这个人很懒,什么都没有留下!
                            </if>
                        </li>
                        <if condition="$userInfo['designer']['cases'] NEQ ''">
                            <li><strong>代表作品：</strong>{$userInfo.designer.cases|default='暂时没有推荐作品'}</li>
                        </if>
                        <li class="rel">
                            <strong>个人介绍：</strong><span id="part_desc">{$userInfo.designer.text1}<if condition="$userInfo['designer']['text2'] NEQ ''">...</if></span><span id="all_desc" style="display: none;">{$userInfo.designer.text}</span>
                            <if condition="$userInfo['designer']['text2'] NEQ ''"><span class="red extend" id="extend_btn">展开 <i class="fa fa-angle-down" aria-hidden="true"></i></span></if>
                            <span class="red extend" id="extend_toggle" style="display: none;">收起 <i class="fa fa-angle-up" aria-hidden="true"></i></span>
                        </li>
                    </ul>
                    <div class="desinger-order">
                      <form id="fd_box_form" class="secbox_form" onsubmit="return false;">
                        <div class="new_xsc_fadan">
                          <div class="title-box">
                            <div class="title_big red">
                                免费申领<span class="red">4套</span>设计方案
                            </div>
                              <div class="title_small">设计全面PK，方案满意为止</div>
                          </div>
                          <div class="fadan_form">
                            <div class="input_line two_input">
                              <select id="f_bj_cs" name="cs" class="pull-left"></select>
                              <select id="f_bj_qx" class="pull-right" name="qx"></select>
                            </div>
                            <div class="f_errorArea-tit"></div>
                            <i class="valdatemsg one"></i>
                            <div class="input_line ">
                              <input type="text" name="name" placeholder="怎么称呼您？">
                            </div>
                            <div class="f_errorName-tit"></div>
                            <i class="valdatemsg two"></i>
                            <div class="input_line ">
                              <input type="text" name="tel" placeholder="请输入您的手机号" maxlength="11">
                              <input type="hidden" name="fb_type" value="baojia">
                            </div>
                            <i class="valdatemsg three"></i>
                            <div class="f_errorTel-tit"></div>
                            <!--S-免责声明-->
                            <div class="disclamer-line">
                              <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
                              <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
                              <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/disclamer" target="_blank" class="pull-left" rel="nofollow"><span>《免责声明》</span></a>
                            </div>

                            <!--E-免责声明-->
                            <div class="input_line">
                              <button tab-index="0" data-type="2" type="button" id="btnSub">立即申请</button>
                            </div>
                            <div class="blog_yu">
                              <span>今日还剩<span class="red">{:releaseCount('fbsyrs')}</span>个免费名额</span>
                            </div>
                          </div>

                        </div>
                      </form>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="tab-nav designtit">
                    <h2><span class="title">{$userInfo.designer.name|mb_substr=0,6}的设计作品</span></h2>
                </div>
                <div class="designerzp tab-con">
                    <div class="j-tab-con">
                        <div class="tab-con-item" style="display:block;">
                            <if condition="$userInfo['cases']">
                                <ul class="companli clearfix">
                                    <volist name="userInfo.cases" id="vo">
                                        <li>
                                            <div class="tu">
                                                <a href="/caseinfo/{$vo.cid}.shtml" target="_blank" alt="{$vo.title}{$vo.fg}装修案例">
                                                    <if condition="$vo['img_host'] EQ 'qiniu'">
                                                        <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vo.img_path}-w240.jpg" alt="{$vo.title}{$vo.fg}装修案例">
                                                        <else/>
                                                        <img src="{$SCHEME_HOST.scheme_full}{:C('STATIC_HOST1')}{$vo.img_path}s_{$vo.img}"  alt="{$vo.title}{$vo.fg}装修案例">
                                                    </if>
                                                </a>
                                            </div>
                                          <div class="desc">
                                            <a href="/caseinfo/{$vo.cid}.shtml" target="_blank" class="work_name">{$vo.title1}</a>
                                              <p class="work_type"><if condition="$vo['classid'] EQ 1"> 家装|{$vo.huxing} <elseif condition="$vo['classid'] EQ 2" />公装|{$vo.leixing} <else /> </if> </p>
                                            <p>{$vo.zj} / {$vo.mianji}m² / {$vo.fg}</p>
                                          </div>
                                        </li>
                                    </volist>
                                </ul>
                                {$userInfo.page}
                                <else/>
                                <div class="no-item">
                                  <img src="{$static_host}/assets/sub/designer/img/img-zuopinweikong.png" alt="">
                                  <p>该设计师暂时没有发布作品~</p>
                                </div>
                            </if>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab">
              <div class="tab-nav designtit">
                  <h2><span class="title">其他设计师推荐</span></h2>
              </div>
              <div class="designerzp tab-con">
                <ul class="other_designer">
                    <volist name="otherdesignerlist" id="vo">
                        <li>
                            <div class="designer_avatar">
                                <a href="/blog/{$vo.id}/" rel="nofollow" target="_blank" class="avatar_a">
                                    <if condition="$vo['logo'] NEQ ''">
                                        <img  src="{$vo.logo}" alt="" class="morenInfo" title="{$vo.name}">
                                    <else/>
                                        <img  src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{:OP('DEFAULT_LOGO')}" alt="" class="morenInfo" title="{$vo.name}">
                                    </if>
                                </a>
                                <if condition="$key EQ 0">
                                    <img src="{$static_host}/assets/sub/designer/img/icon-tuijian.png" alt="" class="gold_medal" title="{$vo.name}">
                                </if>

                            </div>
                            <p class="name_info">
                                <span class="name"><a href="/blog/{$vo.id}/" target="_blank">{$vo.name|mb_substr=0,5}</a></span>
                                <if condition="$vo['zw'] neq ''">
                                    <span class="officer">{$vo.zw}</span>
                                </if>
                            </p>
                            <p class="works">作品数：{$vo.countcases}</p>
                            <p class="job_years">从业时间：{$vo.jobtime}</p>
                            <if condition="$vo['fengge'] NEQ ''">
                                <p class="good_at_styles">擅长风格：{$vo.fengge}</p>
                            </if>
                        </li>
                    </volist>
                </ul>
              </div>
            </div>
        </div>
    </div>
    </div>
    <include file="Index:footer" />
    <include file="Common@Order/bottom_fadan" type="1" />
    <include file="Common@Order/designer_order"/>
    <include file="Common@lotteryDraw/subindex" />
    <input id="safecode" type="hidden" value="{$safecode}" />
    <input id="safekey" type="hidden" value="{$safekey}" />
</body>
<script type="text/javascript">
  /**
   * 城市初始化函数，不管页面多少个发单，直接调用该函数即可，选择器以数组包含对象的方式传入
   * @param citySelectorAry 数组
   */
   var shen = null,
      shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
  function qzInitCity(citySelectorAry) {
    if(!(citySelectorAry instanceof Array)) {
      throw Error('参数citySelectorAry必须是数组')
      return
    }
    var ip_cityid = '{$Think.cookie.iplookup}';
    var city_id = '{$theCityId}';
    (city_id == '') ? cityId = ip_cityid : cityId = city_id;
    if(cityId == ''){
      getLocation();
    }else{
      initCitySelect(cityId);
    }

    function initCitySelect(cityId){
      $.each(citySelectorAry, function (index, item) {
        if(item.cs && item.qx && $(item.cs).length > 0 && $(item.qx).length>0) {
          App.citys.init(item.cs, item.qx, shen, shi, cityId);
        }else{
          throw Error('缺少cs或qx选择器')
          return
        }
      })
    }
  }

  var qzCitySelectorAry = [{
    cs: "#f_bj_cs",
    qx: "#f_bj_qx"
  }, {
    cs: "#c_cs",
    qx: "#c_qy"
  }]
  qzInitCity(qzCitySelectorAry)

  $(function() {
      // 免费设计与报价
      $("#btnSub").click(function(event) {
          var _this = $(this);
          if(!checkDisclamer(".new_xsc_fadan")){
            return false;
          }
          window.order({
              wrap:'.desinger-order',
              extra:{
                source: '19060605' ,//这里额外参数只有source，获取的是wrap属性下的class包含order-item的参数的值
                cs: $('#f_bj_cs').val(),
                qx: $('#f_bj_qx').val(),
                name: $('input[name="name"]').val(),
                tel: $('input[name="tel"]').val(),
                step: 2
              },
              success:function(res, status, xhr){
                  if (res.status == 1) {
                    $("body").append(res.data.tmp);
                  }else{
                    $.pt({
                      target: $('#btnSub'),
                      content: res.info,
                      width: 'auto'
                    });
                  }
              },
              validate:function(item, value, method, info){
                if ('cs' == item && 'notempty' == method) {
                  $(".f_errorArea-tit").html('请选择城市');
                  return false;
                }
                if ('qz' == item && 'notempty' == method) {
                  $(".f_errorArea-tit").html('请选择城市');
                  return false;
                }else{
                  $(".f_errorArea-tit").html('');
                }
                if ('name' == item && 'notempty' == method) {
                  $(".f_errorName-tit").html('请输入您的称呼');
                  return false;
                }
                if ('name' == item && 'isword' == method) {
                  $(".f_errorName-tit").html('请输入正确的姓名');
                  return false;
                }else{
                  $(".f_errorName-tit").html('');
                }
                if ('tel' == item && 'notempty' == method) {
                  $(".f_errorTel-tit").html('请输入您的手机号码');
                  return false;
                }

                if ('tel' == item && 'ismobile' == method) {
                  $(".f_errorTel-tit").html('请填写正确的手机号码');
                  return false;
                }else{
                  $(".f_errorTel-tit").html('');
                }
                return true;
              }
          });
      });
  });

  $(function () {
    $('#extend_btn').on('click', function () {
      $('#part_desc').fadeOut(0)
      $('#all_desc').fadeIn(0)
      $(this).fadeOut(0)
      $('#extend_toggle').fadeIn(0)
    })
    $('#extend_toggle').on('click', function () {
      $('#part_desc').fadeIn(0)
      $('#all_desc').fadeOut(0)
      $(this).fadeOut(0)
      $('#extend_btn').fadeIn(0)
    })
  })
</script>

</html>
