.sou_ban {
    width: 100%;
    height: 1.451rem;
}
img {
    width: 100%;
    height: 100%;
}
.title_text {
    width: 100%;
    text-align: center;
    margin: 0.166rem 0 0.179rem 0;
    font-size: 0.137rem;
    font-weight: bold;
}
.nav_peric {
    width: 100%;
}
.nav_peric>ol {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.043rem;
    box-sizing: border-box;
}
.nav_peric>ol>li {
    width: 1.109rem;
    height: 1.254rem;
    margin-left: 0.299rem;
    text-align: center;
    font-size: 0.119rem;
    font-weight: 500;
    color:#333;
    position: relative;
} 
.nav_peric>ol>li>.check_div {
    width: 1.109rem;
    height: 0.832rem;
    margin-bottom: 0.094rem;
} 
.redbgc_btn {
    width: 100%;
    height: 0.832rem;
    background:url('//staticqn.qizuang.com/custom/20201118/FvvSXXFGxUOrx3kfU1fY0Sylfwhv') center no-repeat;
    background-size: 100% 100%;
}
.red_p {
    width: 2.069rem;
    height: 0.683rem;
    text-align: center;
    line-height: 0.560rem;
    color: #fff;
    font-size: 0.145rem;
    font-weight: bold;
    background:url('../img/red_btn.png') no-repeat;
    background-size: 2.069rem 0.683rem;
    margin: 0 auto;
}

/* 点击选择时的弹层 */
.marp {
    width: 1.109rem;
    height: 0.832rem;
    position: absolute;
    top:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
    border-radius: 0.021rem;
    display: none;
}
.check_marp {
    display: inline-block;
    width: 0.205rem;
    height: 0.205rem;
    text-align: center;
    margin-top: 0.316rem;
}
.blocks {
    display: block!important; 
}