.head_banner {
    width: 100%;
}
.sou_ban {
    width: 100%;
    height: 1.451rem;
    background:url('//staticqn.qizuang.com/custom/20201118/Fo90Dd2ph1OBSzL6m9xDBSb6N6q9') no-repeat;
    background-size: 3.200rem 1.451rem;
    background-size: 100% 100%;
    box-sizing: border-box;
    
}
img {
    width: 100%;
    height: 100%;
}
.conposi {
    width: 90%;
    box-shadow: 0px 0px 14px 0px rgba(51, 51, 51, 0.2);
    background-color: #fff;
    border-radius: 0.068rem;
    margin-left: 5%;
    margin-top: -0.216rem;
    position: relative;
    
}
.entit {
    width: 100%;
    text-align: center;
    margin-top: 0.213rem;
    margin-bottom: 0.171rem;
    font-size: 0.137rem;
    font-weight: bold;
    color: #333;
}
.icon_tu ul {
    display: flex;
    justify-content: space-between;
    padding: 0 0.576rem 0 0.576rem;
    box-sizing: border-box;
}
.icon_tu ul li {
    text-align: center;
    color:#999;
}

.icon_tu ul li div{
    width: 0.341rem;
    height: 0.341rem;
    margin-bottom: 0.128rem;
}
.icon_tu ul li p {
    margin-bottom: 0.128rem;
}
.redbgc_btn {
    width: 100%;
    height: 0.832rem;
    background:url('//staticqn.qizuang.com/custom/20201118/FvvSXXFGxUOrx3kfU1fY0Sylfwhv') center no-repeat;
    background-size: 100% 100%;
}
.red_p {
    width: 2.069rem;
    height: 0.759rem;
    text-align: center;
    line-height: 0.560rem;
    color: #fff;
    font-size: 0.145rem;
    font-weight: bold;
    background:url('../img/red_btn.png') no-repeat;
    background-size: 2.069rem 0.683rem;
    margin: 0 auto;
}
.conpisi_item {
    margin: 0 0.128rem;
    padding: 0.166rem  0;
    box-sizing: border-box;
    border-bottom: 0.004rem solid #DDDDDD;
}
.conpisi_a {
    display: flex;
    align-items: center;
}
.conpisi_item:last-child {
    border-bottom: none;
}
.item_img {
    width: 0.683rem;
    height: 0.333rem;
    border:0.004rem solid #DDDDDD;
    border-radius: 4px;
}
.conpisi_item span {
    color:#FF7A2A;
    font-size: 0.094rem;
}
.company {
    width: 1.101rem;
    font-size: 0.119rem;
    font-weight: bold;
    color: #333;
    
    overflow:hidden;
	text-overflow:ellipsis;
    white-space:nowrap;
    margin-bottom: 0.023rem;
}
.company_texts {
    margin-left: 0.090rem;
    margin-right: 0.043rem;
   
}
.anli {
    font-size: 0.094rem;
    color: #999;
}
.look_company {
    width: 0.670rem;
    height: 0.256rem;
    line-height: 0.256rem;
    text-align: center;
    background-color: #DB2C2C;
    border-radius: 0.128rem;
    font-size: 0.102rem;
    font-weight: 500;
    color: #fff;

}
.oranges {
    color:#000 !important;
}


/* 没有选择满意程度时候的提示 */
.hidenone {
    display: none !important;
}
.layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}
.layer_cont {
    width: 2.340rem;
    height: 1.173rem;
    border-radius: 0.068rem;
    background-color: #fff;
    margin: 2.261rem auto;
}
.conlayer_text {
    width: 100%;
    height: 0.742rem;
    text-align: center;
    font-size: 0.132rem;
    font-weight: bold;
    color: #333;
    padding: 0.307rem 0.085rem 0 0.085rem;
    box-sizing: border-box;
}
.determine {
    width: 100%;
    height: 0.413rem;
    background-color: #f7f7f7;
    border-radius: 0.068rem;
    text-align: center;
    line-height: 0.432rem;
    color: #DB2C2C;
    font-size: 0.1327rem;
    font-weight: 500;
}