<link rel="stylesheet" href="/assets/common/css/cooperation-ad.css?v={:C('STATIC_VERSION')}">

<div class="cooperation_ad_mask"></div>
<div class="cooperation_box">
    <div class="link-box">
        <a id="ad-link" target="_blank" href="#">
            <div class="ad-area">广告图片区域</div>
        </a>
        <span class="close"></span>
    </div>
</div>
<script>
    /**
     * 统计异业合作广告点击数
     * @param id
     */
    function countAdPv(id) {
        if(!id){
            id = 0
        }
        $.ajax({
            url: "/addPartneradClick",
            type: 'POST',
            dataType: 'JSON',
            data: {
                id: id,
            }
        }).done(function (res) {})
    }
</script>
