<include file="Common:360_js_push"/>
<footer id="footer">
    <p class="footer-tel">
        <if condition="$ShowControlN1 EQ 'on'">
                </span>装修咨询热线:<a href="tel:{:OP('QZ_CONTACT_TEL400')}" class="hot"><span class="phone-box"><i
                            class="fa fa-phone"></i></span>{:OP('QZ_CONTACT_TEL400')}</a></span>
            <else />
            </span>联系我们:<a href="tel:{:OP('QZ_CONTACT_TEL')}" class="hot"><span class="phone-box"><i
                        class="fa fa-phone"></i></span>{:OP('QZ_CONTACT_TEL')}</a></span>
        </if>
    </p>
    <p class="footer-title">
        <if condition="$ShowControlN1 EQ 'on'">
            有房要装，就上齐装！
            <else/>
            <a href="/about/about">公司简介</a>
        </if>
    </p>
    <div class="footer-app-download"><p>{:C('APP_OPEN_TITLE')}</p></div>
    <div class="footer-app-download">
        <img src="/assets/common/img/footerqe.png" width="100%"/>
    </div>
    <p class="footer-webadress">
        手机齐装网：{$SCHEME_HOST.host}&nbsp;&nbsp;{:getOPKeySwitchByDomain('QZ_BEIAN_INFO')}
    </p>
    <p>{:getOPKeySwitchByDomain('QZ_COMPANY_NAME')}</p>
    <script>
        window.onload=function(){
            var prevUrl=document.referrer;
            var romainUrl=new RegExp("{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}");
            $(".m-header-his").click(function(){
                if($(this).length>0){
                    if(!romainUrl.test(prevUrl)){
                        window.location.href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}";
                    }else{
                        window.history.back();
                    }
                }
            });
        }
    </script>
</footer>
