<if condition="[ordertype]=='sheji'">
    <[type] class="hzs-ym-m" style="padding:0px;height:auto; [style]">
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/sheji?src=[ymid]">
      <img src="//{:C('QINIU_DOMAIN')}[imgsrc]" style="height: auto; position: relative;">
    </a>
    </[type]>
<else/>
<[type] class="hzs-ym-m" style="padding:0px;height:auto; [style]">
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baojia?src=[ymid]">
      <img src="//{:C('QINIU_DOMAIN')}[imgsrc]" style="height: auto; position: relative;">
    </a>
</[type]>
</if>
<!-- <div class="hzs-ym-xfk" id="hzsxgk">
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baojia?src=ym-m-16"></a>
  </div>
<script>
  var hzsYmXfk = document.getElementById('hzsxgk')
  setTimeout(function(){
    hzsYmXfk.style.display = "block"
  },300)
</script> -->