/*公共头部*/
.pub-top {background: #fff;}
.pub-top .pub-head{height: 60px;line-height: 60px;}
.pub-top .pub-head .logo {display:block;width: 106px;height: 38px;float: left;margin-top: 11px;margin-right: 27px;}
.pub-top .pub-head .logo img {display:block;width: 100%;height: 100%;}
.pub-top .pub-head .city {float: left;margin-right: 325px;position: relative;padding-left: 25px;font-size: 14px;color: #333;}
.pub-top .pub-head .city .icon-map {display: block;width:20px;height:20px;position: absolute;top: 20px;left: 0;background: url(../img/map.png) no-repeat;}
.pub-top .pub-head .city span {color: #FF5353;font-size: 12px;margin-left: 5px;}
.pub-top .pub-head .pub-head-nav {float: left;}
.pub-top .pub-head .pub-head-nav a {margin-right: 35px;}
.pub-top .pub-head .pub-head-nav a .tel{color: #FF921D;}
.pub-top .pub-head .pub-msg-user {float: right;position: relative;}
.pub-top .pub-head .pub-msg-user .message {float: left;position: relative;margin-right: 25px;cursor: pointer;}
.pub-top .pub-head .pub-msg-user .message .icon-message {
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/message.png) no-repeat;
  float: left;
  position: absolute;
  top: 24px;
  left: -20px;
}
.pub-top .pub-head .pub-msg-user .message span {float: left;}

.pub-top .pub-head .pub-msg-user .user-box {
  display: none;
  width: 140px;
  height: 120px;
  padding-top: 26px;
  background: url(../img/user-box.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 45px;
  right: -50px;
  z-index: 10;
}
.pub-top .pub-head .pub-msg-user .user-box div {
  line-height: 35px;
  margin-left: 30px;
  cursor: pointer;
}
.pub-top .pub-head .pub-msg-user .user-box div:hover {
  color: #FF5353;
}
.pub-top .pub-head .pub-msg-user .avator {float: left;cursor: pointer;position: relative;}
.pub-top .pub-head .pub-msg-user .avator .avator-img{width: 30px;height: 30px;float: left;margin-top: 15px;margin-right: 10px;}
.pub-top .pub-head .pub-msg-user .avator .avator-img img{display: block;width: 100%;height: 100%;border-radius: 50%;}
.pub-top .pub-head .pub-msg-user .avator .username {float: left;}

/* ------------------------------ 更多玩法样式 --------------------------- */
.more-play {
  width: 230px;
}
.more-play .m-title {
  border-bottom: 1px solid #f5f5f5;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 16px;
  color: #333;
}
.more-play .play-list {
  padding: 20px;
}
.more-play .play-list .item {
  margin-bottom: 20px;
}
.more-play .play-list .item img {
  display: block;
  width: 190px;
  height: 110px;
  background: #ccc;
}

/* -------------------------------- 弹框样式 ----------------------------- */
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,.3);
  display: none;
}
.mask .dialog {
  width: 600px;
  min-height: 400px;
  margin: 200px auto;
  background: #fff;
}
.mask .dialog .d-head {
  position: relative;
  height: 57px;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  background: url(../../index/img/head-bg.png) no-repeat;
  text-align: center;
}
.mask .dialog .d-head .close {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.mask .dialog .d-main .tips {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}
.mask .dialog .d-main .erweima img {
  display: block;
  margin: 35px auto 25px;
}
.mask .dialog .d-main .form p {
  font-size: 14px;
  color: #999;
  text-align: center;
}

.load-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,.4);
  display: none;
}
.loadEffect{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 48%;
  margin: 0 auto;
  margin-top:100px;
  background: url(../../common/img/loading.gif);
  background-size: 100%;
}
