[Unit]
Description=qzpnp app
After=network.target
Requires=network.target

[Service]
Type=simple
User=www
Restart=always
RestartSec=5s
TimeoutStartSec=0

WorkingDirectory=/data/app/qzpnp/
ExecStart=/data/app/qzpnp/qzpnp


[Install]
WantedBy=multi-user.target