<div class="panel-body contractEmpty">
    <form>
        <div class="panel panel-default">
            <div class="panel-heading">
                会员时间
            </div>

            <div class="panel-body">
                <div style="border: 1px dashed #ccc; color: #0099FF; margin: 5px 30px 15px; text-align: center; padding: 5px 0;cursor:pointer;"
                    onclick="signBackActive.get_contact_newall_temp()"> + 添加总合同</div>

                <div style="margin: 5px 30px; border: 1px solid #CCCCCC;">
                    <div class="row" style="margin: 15px;">
                        <label class="col-sm-1 control-label" style="line-height: 34px; font-size: 16px;">总合同</label>
                        <label class="col-sm-1 control-label" style="text-align: right; line-height: 34px;">总合同时间:</label>
                        <div class="col-sm-2">
                            <input id="allbegin" type="text" class="form-control datepicker" readonly value="{$noAllInfo.start_time}"/>
                        </div>
                        <label class="col-sm-1 control-label" style="text-align: center; line-height: 34px;">至:</label>
                        <div class="col-sm-2">
                            <input id="allend" type="text" class="form-control datepicker" readonly value="{$noAllInfo.end_time}" />
                        </div>
                        <div class="col-sm-1" style="line-height: 34px;">{:getTwoDateDays($noAllInfo["start_time"], $noAllInfo["end_time"])}天</div>
                    </div>
                    <hr>
                    <div class="row" style="margin: 15px;">
                        <label class="col-sm-1 control-label" style="line-height: 34px; font-size: 16px;">本次合同</label>
                    </div>
                    <div class="row" style="margin: 15px;">
                        <label class="col-sm-2 control-label" style="text-align: right; line-height: 34px;">本次合同时间:</label>
                        <div class="col-sm-2">
                            <input id="begin" type="text" class="form-control datepicker" readonly value="{$noInfo.start_time}" />
                        </div>
                        <label class="col-sm-1 control-label" style="text-align: center; line-height: 34px;">至:</label>
                        <div class="col-sm-2">
                            <input id="end" type="text" class="form-control datepicker" readonly value="{$noInfo.end_time}" />
                        </div>
                        <div class="col-sm-1" style="line-height: 34px;">{:getTwoDateDays($noInfo["start_time"], $noInfo["end_time"])}天</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
