<extend name="Main:baseTemplate" />
<block name="title">
    <title>会员操作管理 - 控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="/assets/common/js/plugins/select2-42/select2.min.css?v={:C('STATIC_VERSION')}">
    <style>
        .signbackedit_nav { padding: 20px; margin-bottom: 20px;}
        .signbackedit_nav li { font-size: 18px; float: left; padding: 0 15px; line-height: 2;}
        .signbackedit_nav li a { color: inherit;}
        .signbackedit_nav li.active {border-bottom: 1px solid #FF0000; color: #FF0000;}

        .layout_operator {display: none;}
        .layout_operator .layout_bg {position: fixed; top:0;right:0;bottom:0;left:0;background:#000;z-index: 1100;opacity: 0.6;}
        .layout_operator .layout_body {position: fixed;top: 120px; width: 400px; left: calc(50% - 200px); z-index: 1200;background: #FFF;}
        .layout_operator .layout_title {text-align: center; font-size: 18px; padding: 10px; position: relative;}
        .layout_operator .layout_close {font-size: 30px; position: absolute; right: 10px; top: 8px;cursor: pointer;}
        .layout_operator .layout_content {padding: 10px; min-height: 120px;}
        .layout_operator .layout_content .btn_box {text-align: center; margin-top: 15px;}
        .layout_operator .layout_content p label {text-align: right; font-weight: normal; width: 140px;}

        .layout_operator#layoutLog .layout_body {width: 500px;}
    </style>
</block>

<block name="content">
    <section class="content">
        <div class="row">
            <div class="box-header with-border">
                <h3 class="box-title">签返会员管理/编辑会员</h3>
            </div>

            <!-- 会员信息部分 -->
            <include file="accountedit" />

            <div class="box">
                <ul class="signbackedit_nav">
                    <li><a href="/signbackuser/signlist?company_id={$company_id}">签单记录</a></li>
                    <li><a href="/signbackuser/usercontract?company_id={$company_id}">会员时间</a></li>
                    <li class="active">订单数量</li>
                    <li><a href="/signbackuser/packagelist?company_id={$company_id}">保证金</a></li>
                </ul>

                <div class="box-body">
                    <volist name="list" id="item">
                        <div style="margin: 5px 30px; border: 1px solid #CCCCCC;">
                            <div class="row" style="margin: 15px;">
                                <label class="col-sm-1 control-label" style="line-height: 34px; font-size: 16px;">
                                    <switch name="item.use_status">
                                        <case value="1" break="1">新订单包</case>
                                        <case value="2" break="1">本次订单包</case>
                                        <case value="3" break="1">历史订单包</case>
                                    </switch>
                                </label>
                            </div>
                            <div class="row" style="margin: 15px;">
                                <label class="col-sm-2 control-label" style="text-align: right; line-height: 34px;">分单量:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control datepicker" readonly value="{$item.fen_number}" />
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: center; line-height: 34px;">赠单量:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control datepicker" readonly value="{$item.zen_number}"/>
                                </div>
                            </div>

                            <div class="row" style="margin: 15px;">
                                <label class="col-sm-2 control-label" style="text-align: right; line-height: 34px;">保证金:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control datepicker" readonly value="{:floatval($item['deposit_money'])}" />
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: center; line-height: 34px;">返点:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control datepicker" readonly value="{$item.back_ratio}%" />
                                </div>
                            </div>

                            <div class="row" style="margin: 15px;">
                                <label class="col-sm-2 control-label" style="text-align: right; line-height: 34px;">已派分单:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control datepicker" readonly value="{$item['fen_send_number']}" />
                                </div>
                                <label class="col-sm-1 control-label" style="text-align: center; line-height: 34px;">已派赠单:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control datepicker" readonly value="{$item['zen_send_number']}" />
                                </div>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
    </section>
</block>