body{
    background: #f5f5f5;
}
.pub-user {position: relative;background: #fff;}
.pub-user .bg {position: absolute;top: 0;width: 100%;height: 180px;background: #55A1F9;opacity: 0.7;
}
.pub-user .img {position: absolute;top: 0;width: 100%;height: 180px;background:url(../img/bg-icon.png) center no-repeat;background-size: 100%;}
.pub-user .list {
  margin: 0 auto;
  width: 800px;
  text-align: center;
  padding-top: 140px;
}
.pub-user .list a {
  display: block;
  position: relative;
  font-size: 16px;
  color: #fff;
  margin-right: 49px;
  height: 40px;
  line-height: 40px;
  float: left;
  width: 100px;
}
.pub-user .list a:last-child {
  width: 120px;
  text-indent: 1em;
}
.pub-user .list a:hover {
  background: #fff;
  color: #333;
}
.pub-user .list a:hover .icon-shoucang {
    background: url(../img/shoucang1.png);
    background-size: 100%;
}
.pub-user .list a:hover .icon-shezhi {
    background: url(../img/shezhi1.png);
    background-size: 100%;
}
.pub-user .list a.mr0{margin-right: 0;}
.pub-user .list .icon {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
}
.pub-user .list .icon-shoucang {
  background: url(../img/shoucang.png);
  background-size: 100%;
}
.pub-user .list .icon-pinglun {
  background: url(../img/pinglun.png);
  background-size: 100%;
}
.pub-user .list .icon-wenda { width: 22px;background: url(../img/wenda.png);background-size: 100%;}
.pub-user .list .icon-shezhi {width: 22px;background: url(../img/shezhi.png);background-size: 100%;}
.pub-user .list .user-info {float: left;width: 144px;position: relative;margin-right: 80px;}
.pub-user .list .user-info .user-img {width: 120px;height: 120px;position: absolute;top: -30px;left: 12px;}
.pub-user .list .user-info .user-img img {display: block;width: 100%;height: 100%;border-radius: 50%;}
.pub-user .list .user-info .user-name {margin-top: 100px;font-size: 24px;color: #333;width: 900%;position: relative;left: -400%;}
.pub-user .list .user-info .user-city {font-size: 14px;color: #999;margin-bottom: 30px;}
.ml200 {
    margin-left: 200px;
}
.left {
    float: left;
    width: 960px;
}
.needs-list {
    margin-top: 20px;
    width: 960px;
    background: #fff;
    margin-right: 20px;
    float: left;
}
.needs-list .n-title {
    border-bottom: 1px solid #f5f5f5;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}
.needs-list .no-data {
    height: 160px;
}
.needs-list .no-data .no-data-img {
    width: 140px;
    height: 100px;
    float: left;
    margin: 22px 84px 37px 172px;
    background: url(../img/nodata.png) no-repeat;
}
.needs-list .no-data .no-data-info  {
    float: left;
    margin-top: 46px;
    margin-left: 84px;
    font-size: 14px;
    color: #333;
}
.needs-list .no-data .no-data-info p {
    margin-bottom: 25px;
}
.needs-list .no-data .no-data-info .rn-btn {
    margin-left: 120px;
    width:140px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background:rgba(255,83,83,1);
    border-radius:2px;
    color: #fff;
}
.needs-list .no-data .no-data-info .rn-btn a {
    color: #fff;
}
.guess-like {
    background: #fff;
    width: 960px;
    float: left;
    margin-top: 20px;
}
.guess-like .g-title {
    border-bottom: 1px solid #f5f5f5;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}
.guess-like .tabs {
    padding: 18px 30px 24px;
}
.guess-like .tabs ul li {
    float: left;
    font-size: 16px;
    color: #333;
    margin-right: 20px;
    cursor: pointer;
}
.guess-like .tabs ul li:hover {
    color: #FF5353;
}
.guess-like .tabs ul li.active {
    color: #FF5353;
    font-weight: bold;
}
.guess-like .tab-main {
    padding: 0 30px;
}
.guess-like .tab-main .zx-lg ul li {
    width: 285px;
    height: 260px;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
    border:1px solid rgba(245,245,245,1);
    box-sizing: border-box;
}
.guess-like .tab-main .zx-lg ul li:hover {
    cursor: pointer;
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.guess-like .tab-main .zx-lg ul li:nth-child(3n) {
    margin-right: 0;
}
.guess-like .tab-main .zx-lg ul li img {
    display: block;
    width: 100%;
    height: 210px;
    background: #ccc;
}
.guess-like .tab-main .zx-lg ul li .a-title {
    line-height: 48px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
}
.guess-like .tab-main .sp-ds {
    display: none;
}
.guess-like .tab-main .sp-ds ul li {
    width: 285px;
    height: 290px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border:1px solid rgba(245,245,245,1);
    box-sizing: border-box;
    position: relative;
}
.guess-like .tab-main .sp-ds ul li:nth-child(3n) {
    margin-right: 0;
}
.guess-like .tab-main .sp-ds ul li:hover {
    cursor: pointer;
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.guess-like .tab-main .sp-ds ul li img {
    display: block;
    width: 100%;
    height: 160px;
    background: #ccc;
}
.guess-like .tab-main .sp-ds ul li .icon-shipin {
    width: 41px;
    height: 41px;
    background: url(../img/shipin.png);
    position: absolute;
    top: 60px;
    left: 120px;
}
.guess-like .tab-main .sp-ds ul li .s-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
}
.guess-like .tab-main .sp-ds ul li .s-info {
    font-size: 12px;
    color: #666;
    margin: 10px;
    margin-top: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
}
.guess-like .tab-main .sp-ds ul li .v-l {
    padding-left: 10px;
    position: absolute;
    bottom: 10px;
}
.guess-like .tab-main .sp-ds ul li .v-l span {
    float: left;
    margin-right: 70px;
    color: #666;
}

.guess-like .tab-main .sp-ds ul li .icon-eye {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/icon-eye.png);
    float: left;
}
.guess-like .tab-main .sp-ds ul li .icon {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    background: url(../img/icon-heart.png);
    background-size: 100%;
}
.guess-like .tab-main .sp-ds ul li .icon-heart {
    background: url(../img/icon-heart1.png);
    background-size: 100%;
}
.guess-like .tab-main .zs-al {
    display: none;
}
.guess-like .tab-main .zs-al ul li {
    width: 285px;
    height: 290px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border:1px solid rgba(245,245,245,1);
    box-sizing: border-box;
}
.guess-like .tab-main .zs-al ul li:nth-child(3n) {
    margin-right: 0;
}
.guess-like .tab-main .zs-al ul li:hover {
    cursor: pointer;
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.guess-like .tab-main .zs-al ul li img {
    display: block;
    width: 285px;
    height: 160px;
    background: #ccc;
}
.guess-like .tab-main .zs-al ul li .s-title {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.guess-like .tab-main .zs-al ul li .s-info {
    margin-bottom: 10px;
    padding-left: 10px;
    color: #333;
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
}
.guess-like .tab-main .zs-al ul li .style {
    padding-left: 10px;
    margin-bottom: 10px;
    color: #666;
}
.guess-like .tab-main .zs-al ul li .fb-time {
    padding-left: 10px;
    color: #666;
}


.guess-like .tab-main .jx-gl {
    display: none;
    margin-bottom: 40px;
}
.guess-like .tab-main .jx-gl .stage {
    width: 263px;
    height: 538px;
    border: 1px solid #e6e6e6;
    float: left;
    margin-right: 19px;
    padding: 10px;
}
.guess-like .tab-main .jx-gl .stage .sp1 {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.guess-like .tab-main .jx-gl .stage .sp2 {
    float: right;
}
.guess-like .tab-main .jx-gl .stage .s-info {
    color: #666;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e6e6e6;
}
.guess-like .tab-main .jx-gl .stage .stage-img {
    width: 265px;
    height: 180px;
    margin: 14px 0;
}
.guess-like .tab-main .jx-gl .stage .stage-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.guess-like .tab-main .jx-gl .stage .stage-ul li {
    color: #333;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
    cursor: pointer;
}
.guess-like .tab-main .jx-gl .stage .stage-ul li a {
    word-break: break-all;
}
.guess-like .tab-main .jx-gl .stage .stage-ul li:hover {
    color: #FF5353;
}
.guess-like .tab-main .jx-gl .stage .stage-ul li:hover .yuan {
    background: #FF5353;;
}
.guess-like .tab-main .jx-gl .stage .stage-ul .yuan {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #FF5353;
    border-radius: 50%;
    margin-right: 5px;
}
.guess-like .tab-main .jx-gl .house-stage {
    margin-right: 0;
}
.guess-like .tab-main .zx-wd {
    display: none;
}
.guess-like .tab-main .zx-wd .wd-title {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dashed #f5f5f5;
}
.guess-like .tab-main .zx-wd .wd-title a {
    font-weight: normal;
    float: right;
}
.guess-like .tab-main .zx-wd .wd-img {
    margin-top: 18px;
}
.guess-like .tab-main .zx-wd .wd-img .question {
    float: left;
    width: 285px;
    height: 180px;
    margin-right: 22px;
    position: relative;
}
.guess-like .tab-main .zx-wd .wd-img .question:hover {
    cursor: pointer;
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.guess-like .tab-main .zx-wd .wd-img .question:last-child {
    margin-right: 0;
    margin-right: 0;
}
.guess-like .tab-main .zx-wd .wd-img .question img {
    display: block;
    width: 100%;
    height: 180px;
    background: #ccc;
}
.guess-like .tab-main .zx-wd .wd-img .question p{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 26px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    background: rgba(0,0,0,.5);
}
.guess-like .tab-main .zx-wd .answer {
    margin-top: 45px;
    padding-bottom: 55px;
}
.guess-like .tab-main .zx-wd .answer .wd-div {
    width: 435px;
    height: 260px;
    float: left;
    border:1px solid rgba(230,230,230,1);
}
.guess-like .tab-main .zx-wd .answer .wait-div {
    width: 435px;
    height: 260px;
    float: right;
    border:1px solid rgba(230,230,230,1);
}
.guess-like .tab-main .zx-wd .answer .sp1 {
    margin-left: 20px;
    padding-top: 14px;
    display: block;
    float: left;
}
.guess-like .tab-main .zx-wd .answer .sp2 {
    margin-right: 20px;
    padding-top: 14px;
    display: block;
    float: right;
    font-weight: normal;
}
.guess-like .tab-main .zx-wd .answer .wd-ul {
    margin: 10px 0 0 20px;
}
.guess-like .tab-main .zx-wd .answer .wd-ul li {
    margin-bottom: 20px;
}
.guess-like .tab-main .zx-wd .answer .wd-ul .li-title {
    font-size: 14px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
    cursor: pointer;
}
.guess-like .tab-main .zx-wd .answer .wd-ul .li-title span {
    font-weight: bold;
    font-size: 12px;
}
.guess-like .tab-main .zx-wd .answer .wd-ul .li-info {
    color: #666;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
}
.guess-like .tab-main .zx-wd .answer .wd-ul .li-reply {
    color: #999;
    padding-left: 5px;
}
.guess-like .tab-main .zx-wd .answer .wd-ul .li-reply span {
    color: #333;
}
.guess-like .tab-main .zx-wd .wait-ul {
    margin: 10px 0 0 20px;
}
.guess-like .tab-main .zx-wd .wait-ul li {
    height: 50px;
    margin-bottom: 20px;
}
.guess-like .tab-main .zx-wd .wait-ul li .caina {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    color: #fff;
    background: #FF5353;
    text-align: center;
    font-weight: bold;
}
.guess-like .tab-main .zx-wd .wait-ul li .q-a {
    float: left;
    width: 245px;
}
.guess-like .tab-main .zx-wd .wait-ul li .q-a .li-q {
    font-size: 14px;
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
}
.guess-like .tab-main .zx-wd .wait-ul li .q-a .li-q span {
    font-weight: bold;
    font-size: 12px;
}
.guess-like .tab-main .zx-wd .wait-ul li .q-a .li-a {
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
    padding-left: 5px;
}
.guess-like .tab-main .zx-wd .wait-ul li .w-time {
    float: right;
    margin-right: 10px;
    color: #999;
}

.right {
    float: right;
    width: 230px;
    background: #fff;
    margin-top: 20px;
}

