body {
    color: #666;
}

a {
    color: #333;
}

label {
    font-weight: normal;
}

.normal-info li {
    margin-bottom: 15px;
    overflow: hidden;
}

.normal-info span {
    font-size: 14px;
    width: 120px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.gift-active > span {
    vertical-align: top;
}

.gift-active-box {
    display: inline-block;
    width: 500px;
}

.active-style {
    margin-bottom: 10px;
}

.active-style input, .active-style label {
    vertical-align: middle;
}

.active-type {
    width: 125px;
}

.normal-info input[type=text], .normal-info select {
    color: #666;
    border: 1px solid #ccc;
    line-height: 30px;
    display: inline-block;
    padding-left: 5px;
}

.normal-info .full {
    width: 366px;
    height: 30px;
}

.c-mark {
    margin-left: 130px;
    font-size: 14px;
    margin-top: 5px;
}

.c-use-rule > span {
    vertical-align: top;
}

.c-rule {
    width: 360px;
    height: 150px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    overflow: auto;
}

.c-module {
    margin-left: 60px;
    margin-top: 15px;
    display: none;
}

.c-module label {
    vertical-align: middle;
    font-size: 14px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
}

.c-module input[name=modul] {
    vertical-align: middle;
    margin-right: 5px;
}

.modul-box div {
    margin-right: 30px;
}
.module-chose1{
    display: block;
}

.modul-box div span {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 5px auto;
}

.modul_img {
    display: block;
    width: 350px;
    height: 96px;
    margin-top: 5px;
    border-radius: 10px;
}

.shengming {
    margin-left: 40px;
}

.shengming input {
    vertical-align: middle;
    margin-right: 5px;
}

.shengming p {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.shengming a.protocol:hover {
    color: #dc4146;
}

.c-btns {
    margin-left: 40px;
}

.c-btn {
    width: 100px;
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-cancel {
    display: inline-block;
    background: #999;
    text-align: center;
    font-size: 16px;
    padding: 10px 5px;

}

.btn-cancel:hover {
    color: #fff;
    text-decoration: none;
}

.btn-active {
    background: #f16262;
}

.btn-review {
    background: #00b7ee;
}

.mask {
    position: absolute;
    width: 75%;
    box-sizing: border-box;
    top: 200px;
    right: 0;
    background: rgba(0, 0, 0, .5);
    padding: 30px 100px;
    min-height: 500px;
}

.close-mask {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: #e5e5e5;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.reles-box {
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    display: none;
}


.rules-title {
    font-size: 16px;
    /*color: #333;*/
    /*font-weight: bold;*/
    text-align: center;
    line-height: 18px;
    margin: 10px 0 15px 0;
}
.rules-content h3{
    font-size: 16px;
    /*font-weight: 700;*/
    color: #666;
    margin: 10px 0;
}
.rules-content h4{
    font-size:14px;
    /*font-weight: 700;*/
    color: #666;
    margin: 5px 0;
    text-indent: 1.3em;
}
.rules-content p{
    font-size: 12px;
    line-height: 22px;
    text-indent: 2em;
}

.rules-content {
    max-height: 350px;
    font-size: 14px;
    overflow-y: auto;
}

.rules-check {
    margin: 15px 0;
}

.rules-check label, .rules-check input {
    vertical-align: middle;
    font-size: 14px;
}

.rules-check input {
    margin-right: 5px;
}

.rules-btn {
    display: block;
    padding: 10px 50px;
    font-size: 16px;
    color: #fff;
    background: #333;
    margin: 15px auto;
    border-radius: 5px;
    cursor: pointer;
}

.green {
    background: #38b47e;
}

.ticket-modul {
    /*background: #fff;*/
    /*max-width: 400px;*/
    margin: auto;
    margin-top: 100px;
    display: none;
    padding: 0 121px;
    position: relative;
}

/*.ticket-left,.ticket-right{
    float: left;
    background: #FCBC19;
    padding: 5px 10px;
    !*border-radius: 10px;*!
    box-sizing: border-box;
}
.ticket-left{
    position: relative;
    width: 75%;
    !*width: 300px;*!
    height: 100px;
    border-right: 1px dashed;
    color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.ticket-left-1{
    !*height: 140px;*!
}
.ticket-title{
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.ticket-left::after,.ticket-left::before{
    content: '';
    position: absolute;
    right: -9px;
    width: 16px;
    height: 8px;
    background: #fff;
    z-index: 0;
}
.ticket-left::after{
    bottom: 0;
    border-radius:16px 16px 0 0;
}
.ticket-left::before{
    top: 0;
    border-radius: 0 0 16px 16px;
}
.ticket-right{
    !*width: 100px;*!
    height: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.ticket-black{
    !*width: 50px;*!
    !*height: 140px;*!
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ticket-right p{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
}
.ticket-right-black{
    padding: 5px 35px;
}
.ticket-up{
    border-bottom: 1px dashed #fff;
    margin: 10px 0 5px 0;
    padding-bottom: 3px;
}
.ticket-up p{
    display: inline-block;
    font-size: 0;
    line-height: 30px;
    text-indent: 8px;
}
.ticket-up i{
    font-size: 16px;
}
.ticket-up p>span{
    font-size: 40px;
    font-weight: bold;
    !*color: #5a5e66;*!
}
.ticket-up .ticket-words{
    font-size: 15px;
    !*margin-left: 10px;*!
}
.ticket-up .ticket-words em{
    !*color: red;*!
}
.ticket-left .ticket-time{
    text-indent: 10px;
    font-size: 16px;
}
p.ticket-time{
    margin: 0;
}
p.ticket-time span {
    font-size: 14px;
}
.get-ticket{
    margin: auto;
    width: 50px;
    height: 50px;
    !*border: 1px solid #fff;*!
    background: rgba(0,0,0,.1);
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    margin-top: 25px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}
.get-ticket p{
    font-size: 16px;
    color: #fff;
}
.get-ticket .get-now{
    line-height: 20px;
}
.ticket-modul-m{
    margin-bottom: 50px;
    !*background: #fff;*!
}
.ticket-modul-m .ticket-left,.ticket-modul-m .ticket-right{
    !*background: #E3E3E3;*!
}
.ticket_pc{
    width:50px
}
.ticket_pc_left{
    !*width: 345px;*!
}
.ticket-black_m{
    width: 100px;
}*/
.in-focus {
    min-height: 32px;
}

.gift-box {
    width: 390px;
    height: 98px;
    /*background: url('/assets/user/home/img/modul_bgm_1') no-repeat;*/

    color: #fff;
    margin-bottom: 30px;
}
.gift-box-m1{
    background: url('/assets/user/home/img/modul_bgm_1.png') no-repeat;
    background-size: contain;
}
.gift-box-pc1{
    background: url('/assets/user/home/img/modul_bgp_1.png') no-repeat;
    background-size: contain;
}
.gift-box-m2{
    background: url('/assets/user/home/img/modul_bgm_2.png') no-repeat;
    background-size: contain;
}
.gift-box-pc2{
    background: url('/assets/user/home/img/modul_bgp_2.png') no-repeat;
    background-size: contain;
}

.gift-left, .gift-right {
    display: inline-block;
    vertical-align: middle;
}

.gift-left {
    width: 68%;
    padding: 5px 0px 5px 20px;
    box-sizing: border-box;
}

.gift-top {
    margin-top: 20px;
}

.gift-top p {
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
}
.ticket-words1{
    font-size: 16px;
    margin-left: 3px;
}
.ticket-words {
    font-size: 14px;
    margin-left: 3px;
}
.full_money1{
    font-size: 30px;
}

.gift-top p .full_money2 {
    display: inline-block;
    font-size: 18px;
}

.gift-top p .half_money2 {
    /*color: red;*/
    margin: 0 3px;
}

.ticket-time {
    margin-top: 10px;
    font-size: 14px;
}

.gift-right {
    height: 98px;
}
.gift-right p{
    font-size: 20px;
    line-height: 20px;
    padding: 18px;
    font-weight: bold;
    margin-top: 10px;
}




