.content-box{
    overflow: hidden;
    background: #e2f8e8;
}
.top_banner{
    width: 100%;
    overflow: hidden;
}
.top_banner img{
    width: 100%;
}
/*发单box*/
.fadan-box{
    width:92%;
    height:auto;
    margin: 0 auto;
    margin-bottom: 0.171rem;
    overflow: hidden;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 0.085rem 0 rgba(32,58,20,0.24);
    border-radius:0.064rem;
    padding: 0.205rem 0.171rem 0.085rem 0.171rem;
    box-sizing:border-box;
    margin-top: -1.621rem;
    position: relative;
}
.fadan-box li .item{
    outline: none;
    border: 0;
    width: 100%;
    height: 0.384rem;
    margin-bottom: 0.213rem;
    border-radius: 0.034rem;
    background: #E6E6E6;
    box-sizing: border-box;
    padding: 0 0.145rem;
    font-size: 0.128rem;
    color: #333333;
}
.fandan-box #shenming{
    color: #999999;
}
#shenming a span{
    color: #0084FF;
}
.fadan-box .submit-btn{
    width: 100%;
    height: 0.384rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.034rem;
    background: #FF8400;
    font-size: 0.154rem;
    color: #FFFFFF;
    margin: 0.085rem 0;
}
.fadan-box p{
    color:#999999;
    font-weight: 500;
    font-size: 0.102rem;
    line-height: 0.154rem;
}
/*活动图片*/
.activity-img{
    width: 100%;
    overflow: hidden;
}
.activity-img img{
    width: 100%;
}
/*footer*/
.footer{
    width: 100%;
    height: 2.368rem;
    background: url(//staticqn.qizuang.com/custom/20200613/Foely7t4wrIRzh7M6zs2h2SjlCm3) center no-repeat;
    background-size: 100% 100%;
    margin-top: -0.384rem;
    padding: 0 0.128rem;
    box-sizing: border-box;
    overflow: hidden;
}
.footer .tip-one{
    font-size:0.154rem;
    font-weight:800;
    color:rgba(39,87,46,1);
    line-height: 0.341rem;
    margin-top: 0.469rem;
}
.footer .tip-two{
    font-size:0.128rem;
    font-weight:bold;
    color:rgba(39,87,46,1);
    line-height:0.236rem;
}
.footer .tip-three{
    font-size:0.154rem;
    font-weight:bold;
    color:rgba(39,87,46,1);
    line-height: 0.256rem;
    text-align: center;
    margin-top: 0.184rem;
}
/*成功*/
.success_bg{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    z-index: 3;
    display: none;
}
.success_box{
    width: 78%;
    height: 2.219rem;
    background: #fff;
    margin:auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.085rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success_box .header{
    width: 100%;
    height: 0.512rem;
    text-align: center;
    line-height: 0.512rem;
    font-size:0.256rem;
    font-weight:bold;
    color:rgba(247,245,249,1);
    background: linear-gradient(0deg,rgba(65,129,81,1) 0%,rgba(53,129,51,1) 100%);
}
.success_box .message{
    width: 0.819rem;
    margin-top: 0.290rem;
    margin-bottom: 0.085rem;
}
.success_box span{
    font-size:0.137rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:0.256rem;
}
.success_box p{
    font-size:0.119rem;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:0.168rem;
    padding: 0 0.299rem;
    margin-top: 0.128rem;
}
.success_box .success_foot{
    width: 0.256rem;
    position: absolute;
    bottom: -0.360rem;
    left: 50%;
    margin-left: -0.128rem;
    z-index: 9
}