body{background: #FFF !important;}
.main-header{background: #FBFBFB !important; }
/****************取回密码************************/
.pass-box{background: #FFF;}
.secure-nav{ height: 34px; padding:0; }
.secure-nav ul{padding: 0; height: 34px; width: 695px; list-style: none; background: url(/assets/common/img/secure_nav.png) no-repeat;}
.secure-nav ul:after{content: "";display: block;clear: both;}

.secure-nav ul li{float: left; width: 241px; padding-left: 66px; line-height: 34px; height: 34px; font-size: 14px; }
.secure-nav li.secure-nav-list3{width: 213px;}
.secure-nav .secure-nav-list1.active{background: url(/assets/common/img/sub_nav_1.png) no-repeat; color: #2E82FF;}
.secure-nav .secure-nav-list2.active{background: url(/assets/common/img/sub_nav_2.png) no-repeat; color: #2E82FF; margin-left: -12px; padding-left: 78px;}
.secure-nav .secure-nav-list3.active{background: url(/assets/common/img/sub_nav_3.png) no-repeat; color: #2E82FF; margin-left: -24px; padding-left:90px; width: 237px;}
.question{margin-top: 7px; font-style: normal; display: block;}
