body{background: #eeeeee !important; font-family: microsolt yahei; color: #666;}
a{color: #333; font-size: 14px;}
a:hover{text-decoration: none; color: #666;}
img{cursor: pointer;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mb80{margin-bottom: 80px;}
.mb100{margin-bottom: 100px;}
.mb150{margin-bottom: 150px;}
.red{color: #CC0033}
.green{color: #66CC99}
.error .help-inline,.errMsg{color: red;}

.hmin600{min-height: 600px;}

.message{font-size: 12px; color: #999; font-style: normal; padding-top: 7px; display: block;}
/*************头部样式***************************/
.main-header{background: #FFF !important; padding:10px 0;}
.main-header .container{position: relative;}
.main-header img{height: 40px;}
.main-header em{font-size: 20px; font-style: normal;}
.main-header a{margin:auto 10px; font-size: 16px; }
.main-header .header-dropdown{position: absolute; right: 10px; top: 50%; margin-top: -10px;}
.main-header .header-dropdown li a{font-size: 14px; margin: 5px 0;}

/***************内容样式************************/
.inner-box{margin-bottom: 10px; position: relative; border:1px solid #ddd; background: #FFF; overflow: hidden; box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.2)}
.inner-box-main{height: 240px; }
.inner-box .inner-box-img{overflow: hidden; border:1px solid #DDD; padding: 2px; width: 100px; margin: 50px auto 0; height: 100px; position: relative; }
.inner-box .inner-box-img .inner-box-img-tool{position: absolute; bottom: -20px;left: 0; width: 100%; height: 20px; background: #333; opacity: 0.6; filter: alpha(opacity=60);}
.inner-box .inner-box-img .inner-box-img-tool a{display: block; text-align: center; color:  #FFF;}
.inner-box .inner-box-img img{width: 100%;}
.inner-box .inner-box-info{text-align: center; margin-top: 10px; padding:0 20px;}
.inner-box .inner-box-info a{display: block; padding:5px 0; border-bottom: 1px solid #DDD;}
.inner-box .inner-box-tool{padding:0 20px;}
.inner-box .inner-box-tool a{margin-left:5px; width: 20px; height: 20px; color: #FFF; background: #DDD; text-align: center; font-size: 20px;}
.inner-box .inner-box-tool a.active{background: #0066FF}
.inner-box .inner-box-tool *{display: inline-block; vertical-align: top;}
.inner-box .inner-box-right{margin:50px 0 30px; border-left: 1px solid #DDD; height: 160px; }
.inner-box .inner-box-notice dt{padding:5px; border-bottom:1px dashed #DDD;}
.inner-box .inner-box-notice dd{ border-bottom:1px dashed #DDD;}
.inner-box .inner-box-notice dd a{display: block; padding:5px;}
.inner-box .inner-box-title{background: #F8F9FA;}
.inner-box .inner-box-title h4{margin: 0; font-weight: 500; border-bottom: 1px solid #ddd; padding:20px 15px; }
.inner-box .inner-box-content{background: #FFF; padding:10px 15px; }

.inner-box .inner-timeline{height: 600px; overflow-y:auto; padding:10px 5px;}

.basic-box{background:#FBFBFB;}
.basic-left{z-index: 100;}
.basic-right{background: #FFF; border-left: 1px solid #DDD; z-index: 99}
ul.page-sidebar-menu {

  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

ul.page-sidebar-menu > li {
  display: block;
  margin: 0;
  border: 0px;
  border-top: 1px solid #DDD;
  padding: 0  0 0 30px;
}

ul.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  border-left: 10px solid #6699FF;
  border-bottom: 1px solid #DDD;
}

ul.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

.page-sidebar-fixed ul.page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

ul.page-sidebar-menu > li > ul.sub-menu {
  list-style: none;
  clear: both;
  padding: 0;
  margin: 0;
}
ul.page-sidebar-menu > li > ul.sub-menu {border-bottom: 1px solid #ddd;}
ul.page-sidebar-menu > li > ul.sub-menu a{display: block;position: relative; padding: 15px  0px 15px 60px ; font-size: 16px; background:transparent; border-top: 1px solid #DDD;  }
ul.page-sidebar-menu > li > ul.sub-menu li:first-child a{border-top: 0}
ul.page-sidebar-menu > li > ul.sub-menu li.active{background: #FFF;margin-right: -1px;  }
.basic-setting-title{  position:  relative; padding:10px 20px;}
.basic-setting-title h3{margin: 0;padding:15px 10px;  border-bottom: 1px solid #DDD;}
.basic-setting-binding{padding-top:7px;  display: block; color:#6699FF; font-style: normal; font-weight: 400; cursor: pointer;}
.basic-setting-binding:hover{color: #66CCFF;}

/**************编辑头像*********************/
.portrait-list{position: relative;}
.portrait-list dd{padding:5px 10px;}
.portrait-img-list .portrait-img{position: relative; width: 100px; height: 100px; display: inline-block; vertical-align: top; margin-right: 10px; cursor: pointer;}

.portrait-img-list .portrait-img img{width: 100%; height: 100%;}
.portrait-img-list div.active .recommend{display: block; position: absolute; top:0; left: 0; width: 100%; height: 100%; background: url(/assets/common/img/recommend.png) no-repeat;}

#logo_img img{width: 100px; height: 100px;}





/***************tab样式********************/
.tabbable-custom > .nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-custom > .tab-content {
   background-color: #fff;
   border: 1px solid #ddd;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   padding: 10px;
}

.tabbable-custom.boxless > .tab-content {
  padding:15px 0;
  border-left:none;
  border-right:none;
  border-bottom:none;
}

.tabbable-custom .nav-tabs > li {
  margin-right: 2px;
  border-top: 2px solid transparent;
}

.tabbable-custom .nav-tabs > li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
   border-radius: 2px;
   margin-right: 0;
   padding: 5px 10px;
 }

.tabbable-custom .nav-tabs > li > a:hover {
  background: none;
  border-color:transparent;
}

.tabbable-custom .nav-tabs > li.active {
  border-top: 3px solid #69F;
  margin-top: 0;
  position: relative;
}

.tabbable-custom .nav-tabs > li.active > a  {
  border-top: none;
  font-weight: 400;
}

.tabbable-custom .nav-tabs > li.active > a:hover {
  background: #fff;
  border-color: #d4d4d4 #d4d4d4 transparent;
}

.tabbable-custom .nav-tabs > li {
  margin-right: 2px;
  border-top: 2px solid transparent;
}

.tab-content{margin-bottom: 10px;}

/************权限编辑********************/
.role-setting-content{margin-bottom: 10px; position: relative; float: left; width: 100%;}
.role-tool-middel{margin-top: 50px;}

/*****************Vertical inline menu**************************/
.ver-inline-menu {
  margin: 0px;
  list-style: none;
}

.ver-inline-menu li {
  position:relative;
  margin-bottom:1px;
}

.ver-inline-menu li i {
  color:#b9cbd5;
  font-size:15px;
  padding:11px 9px;
  margin:0 8px 0 0;
  background:#e0eaf0 !important;
}

.ver-inline-menu li a {
  font-size: 13px;
  color:#557386;
  display:block;
  background:#f0f6fa;
  border-left:solid 2px #c4d5df;
  height: 40px;
  line-height: 40px
}

.ver-inline-menu li:hover a,
.ver-inline-menu li:hover i {
  background:#e0eaf0;
  text-decoration:none;
}

.ver-inline-menu li:hover i {
  color:#fff;
  background:#c4d5df !important;
}

.ver-inline-menu li.active a,
.ver-inline-menu li:hover a {
  font-size: 13px;
}

.ver-inline-menu li.active a,
.ver-inline-menu li.active i {
  color:#fff;
  background:#169ef4;
  text-decoration:none;
  border-left:solid 1px #0c91e5;
}

.ver-inline-menu li.active i {
  background:#0c91e5 !important;
}

.ver-inline-menu li.active:after {
  content: '';
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #169ef4;
  position: absolute;
  top: 12px;
  right: -5px;
}
a.thumbnail{border:0; position: relative;}
a.thumbnail .caption{color:#666;}
a.thumbnail:hover{box-shadow:0 0 3px rgba(0,0,0,.1);}
a.thumbnail.cover{ -webkit-filter: grayscale(100%);     -moz-filter: grayscale(100%);     -ms-filter: grayscale(100%);     -o-filter: grayscale(100%);          filter: grayscale(100%);        filter: gray; }


.btn-danger{background:#ff5353 !important; border:1px solid #ff5353 !important; color:#fff !important;}
.btn-danger a{color:#fff !important; font-size: 20px!important}
.btn-danger a:hover{color:#fff !important; text-decoration: none !important;}
.tips-mask{width:100%; height: 100%; background:rgba(0,0,0,0.6); position: fixed; left:0px; top:0px; display:none;}
.tips-container{padding:0px 12px 60px 12px; background:#fff;width:381px; height: 186px; position: fixed; z-index:999; margin:auto; left:0px; right: 0px; bottom:0px; top:0px; }
.tips-header{position: relative; width:103%; height:55px;  }
.tips-container i{
    position: absolute; right: 12px; top:12px;
}
.tips-container p{font-size: 18px; margin-bottom:20px; text-align:center;}
.btn-box{
    overflow:hidden;
}
.btn-item{
    width: 146px; height: 46px; border:1px solid #CCCCCC;background:#dedede;
    text-align:center; display:inline-block; margin:15px;
    line-height: 46px;font-size:20px; cursor: pointer;
}