/***
Calendar with full calendar
***/
#calendar.calendar .fc-button {
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-text-shadow: none !important;
     -moz-text-shadow: none !important;
          text-shadow: none !important;
  border: 0 !important;
  /*padding: 3px 8px 2px 8px;*/
  text-align: center;
  margin-left:2px;
  color: #fff !important;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #ddd;
  background: transparent;
  color: #646464;
  top: -31px;
  font-size: 16px;
}

#calendar.calendar .fc-header {
  margin-bottom:-16px;

}

#calendar.calendar .fc-button-prev {
  padding-right: 10px;
  padding-left: 8px;
}

#calendar.calendar .fc-button-next {
  padding-right: 8px;
  padding-left: 10px;
}

#calendar.calendar .fc-button.fc-state-active,
#calendar.calendar .fc-button.fc-state-hover {
  color: #666 !important;
  background-color: #F9F9F9 !important;
}

#calendar.calendar .fc-button.fc-state-disabled {
  color: #ddd !important;
}

#calendar.calendar .fc-text-arrow {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
}

/* begin: event element */
#calendar.calendar .fc-event {
  border: 0px;
  background-color: #69a4e0;
  color: #fff;
}

#calendar.calendar .fc-event-inner {
  border: 0px;
}

#calendar.calendar .fc-event-time {
  float: left;
  text-align: left;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

#calendar.calendar .fc-event-title {
  text-align: left;
  float: left;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
/* end: event element */

#calendar.calendar .fc-header-title h2 {
  font-size: 16px !important;
  line-height: 20px;
  font-weight: 400;
  color: #111;
}

#calendar.calendar .fc-widget-header {
  background-image: none !important;
  filter:none !important;
  background-color: #eee !important;
  text-transform: uppercase;
  font-color:#000;
  font-weight: 300;
}

#calendar.calendar .mobile .fc-button {
  margin-left: 2px !important;
}

#calendar.calendar .mobile .fc-button {
    padding: 6px 6px 6px 6px;
    margin-left:2px;
    border: none !important;
    background-color: #ddd !important;
      background-image: none;
      -webkit-box-shadow: none !important;
         -moz-box-shadow: none !important;
            box-shadow: none !important;
      -webkit-border-radius: 0 !important;
         -moz-border-radius: 0 !important;
              border-radius: 0 !important;
      color: #000 !important;
      border: none !important;
      text-shadow: none !important;
      text-align: center;
}

#calendar.calendar .mobile .fc-state-hover,
#calendar.calendar .mobile .fc-state-active {
  background-color: #eee !important;
}

#calendar.calendar .mobile .fc-button-prev {
  margin-right: 5px;
  margin-top: -2px;
  padding: 3px 6px 3px 4px;
}

#calendar.calendar .mobile .fc-button-next {
  margin-right: -0px;
  margin-top: -2px;
  padding: 3px 4px 3px 6px;
}

#calendar.calendar .mobile .fc-header-space {
  margin: 0px !important;
  padding: 0px !important;
  width: 0px !important;
}

  #calendar.calendar .mobile .fc-state-disabled {
      color: #bbb !important;
  }

  #calendar.calendar .mobile .fc-header-left {
    position: absolute;
    z-index: 10;
  }

  #calendar.calendar .mobile .fc-header-right {
    position: absolute;
     z-index: 9;
  }

  #calendar.calendar .mobile .fc-header-left .fc-button {
    top: -2px !important;
  }

  #calendar.calendar .mobile .fc-header-right {
    position: relative;
    right:0;
  }

  #calendar.calendar .mobile .fc-header-right .fc-button {
    top: 35px !important;
  }

  #calendar.calendar .mobile .fc-header-right .fc-button:last-child {
    margin-left: 0px !important;
  }

  #calendar.calendar .mobile .fc-content {
    margin-top: 53px;
  }