.workflow{padding:10px 5px; position: relative; height: 400px;}
.workflow .workflow-title{padding: 10px 5px;}
.workflow .workflow-title .badge{border-radius: 20px !important; background: #9E9E9E; padding:10px 15px; font-size: 16px;}
.workflow .workflow-block{position: absolute; border-radius: 5px !important; background: #9E9E9E; color: #FFF; display: inline-block; width: 150px; text-align: center; padding:5px;}
.workflow .workflow-employee{top:50%; left: 6px; margin-top: -15px;}
.workflow .workflow-part-center{position: absolute; left: 156px; top:50%; margin-top: -5px; background: url(/assets/common/img/dkh_03.png) center center no-repeat; width: 18px; height: 10px;}
.workflow .workflow-part-line{position: absolute; left: 155px; top:50%; margin-top: -50px; height: 100px; background:url(/assets/common/img/dkh_02.png) repeat-y; width: 18px;}
.workflow .workflow-part-top-line{margin-top: -105px;}
.workflow .workflow-part-bottom-line{margin-top: 5px;}
.workflow .workflow-part-left{position: absolute; left: 155px; top:85px; background: url(/assets/common/img/dkh_01.png) center center no-repeat; width: 18px; height: 10px;}
.workflow .workflow-part-right{position: absolute; left: 155px; top:305px; background: url(/assets/common/img/dkh_05.png) center center no-repeat; width: 18px; height: 10px;}
.workflow .workflow-part-span{position: absolute; font-size: 16px;}
.workflow .workflow-part-span-top{position: absolute; left: 135px; top:65px; padding:10px 15px;}
.workflow .workflow-part-span-middle{position: absolute; left: 135px; top:180px; padding:10px 15px;}
.workflow .workflow-part-span-bottom{position: absolute; left: 135px; top:290px; padding:10px 15px;}
.workflow .workflow-top-step1{position: absolute; left: 305px; top:65px;}
.workflow .workflow-middle-step1{position: absolute; left: 305px; top:170px;}
.workflow .workflow-bottom-step1{position: absolute; left: 305px; top:280px;}
.workflow .workflow-arrow{position: absolute; background: url(/assets/common/img/jt.png) no-repeat; width:60px; height: 40px; }
.workflow .workflow-top-arrow{left:460px; top: 70px; }
.workflow .workflow-middle-arrow{left:460px; top: 175px; }
.workflow .workflow-bottom-arrow{left:460px; top: 285px; }
.workflow .workflow-top-step2-arrow{left:680px; top: 70px; }
.workflow .workflow-middle-step2-arrow{left:680px; top: 175px; }
.workflow .workflow-bottom-step2-arrow{left:680px; top: 285px;}
.workflow .workflow-top-step2{position: absolute; left: 525px; top:55px;}
.workflow .workflow-middle-step2{position: absolute; left: 525px; top:165px;}
.workflow .workflow-bottom-step2{position: absolute; left: 525px; top:277px;}
.workflow .workflow-middle-step3{position: absolute; left: 745px; top:165px;}
.workflow .workflow-bottom-step3{position: absolute; left: 745px; top:267px;}
.workflow .workflow-bottom-step4{position: absolute; left: 965px; top:267px;}
.workflow .workflow-bottom-step3-arrow{left:900px; top: 285px;}
.leave-form{background: #FFF; padding:30px 15px;}
.leave-form .info-type{margin:0 10px; font-size: 14px; }
.leave-table tr td{ font-size: 16px;}

.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus{background: transparent;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{background: transparent;}
.nav-tabs > li > a, .nav-pills > li > a{line-height: 14px;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{color: #666;}