@import "../../../styles/public.css";
@import "../../../templates/list-temp/list-temp.css";

.sify {
    box-sizing: border-box;
    height: 112rpx;
    padding-bottom: 18rpx;
    overflow: hidden;
}

.scroll-view_H {
    display: flex;
    height: 66rpx;
    padding: 0rpx 28rpx 0rpx 12rpx;
    margin-top:34rpx;
    margin-bottom: 12rpx;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sify .scroll-view_H .scroll-view-item_H {
    display: inline-block;
    padding: 0 25rpx;
    height: 60rpx;
    text-align: center;
    font-size: 28rpx;
    font-weight: 500;
}

.sify .scroll-view_H .scroll-view-item_H.active {
    font-size: 32rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.sify .scroll-view_H .scroll-view-item_H.active .line {
    width: 40rpx;
    height: 8rpx;
    margin: 0 auto;
    margin-top: 10rpx;
    background: rgba(0, 0, 0, 1);
}

/* 列表 */
.list {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30rpx;
    height: auto;
}
.l-header {
    width: 100%;
    height: 90rpx;
    padding-top: 10rpx;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.l-header icon {
    display: block;
    width: 8rpx;
    height: 40rpx;
    background: rgba(255, 81, 86, 1);
}
.l-header text {
    margin-left: 12rpx;
    font-size: 42rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
/* 主体 */
.l-main {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 112rpx;
    right: 0;
    bottom: 0;
    margin-bottom:100rpx;
}
.mainer{
    margin-bottom:164rpx;
}

.l-main:last-child {
    margin-bottom: 0;
}
