.search-article{
    background: #F7F7F7;
    padding-bottom: 35px;
}
.search-article .article-nav{
    width:100%;
    height: 50px;
    background: #fff;
}
.article-nav ul{
    padding-top:8px;
}
.article-nav li{
    display: inline-block;
    padding:5px 0;
    margin-right:30px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.article-nav li.active{
    border-bottom: 2px solid #D92C2C;
    color: #D92C2C;
    font-weight: bold;
}
.search-result{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}
.no-data{
    background: #fff;
}
.no-data-img{
    width:386px;
    height: 222px;
    margin:0 auto;
    padding-top: 80px;
    padding-bottom: 25px;
}
.no-data p{
    text-align: center;
    font-size: 16px;
    color: #999;
    padding-bottom: 150px;
}
/*搜索*/
.search-box{
    width:100%;
    background:#fff;
}
#seach input{
    border:1px solid #FF5353 !important;
}
#seach button.button{
    margin-left: -2px;
    height: 32px;
    position: relative;
    top: -1px;
}
#seach span.clear-icon{
    left: 350px;
}
