.turesult{
    background: #F7F7F7;
    padding-bottom: 35px;
}
.turesult .turesult-nav{
    width:100%;
    height: 50px;
    background: #fff;
}
.turesult-nav ul{
    padding-top:8px;
}
.turesult-nav li{
    display: inline-block;
    padding:5px 0;
    margin:0 30px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.turesult-nav li.active{
    border-bottom: 2px solid #D92C2C;
    color: #D92C2C;
    font-weight: bold;
}
.no-data{
    background: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}
.no-data-img{
    width:386px;
    height: 222px;
    margin:0 auto;
    padding-top: 80px;
    padding-bottom: 25px;
}
.no-data p{
    text-align: center;
    font-size: 16px;
    color: #999;
    padding-bottom: 150px;
}
