body{
    background: #F7F7F7;
}
a:hover{
    color: #D92B2B!important;
}
@font-face {
    font-family: 'digifacewide';
    src:url('../../../common/fonts/digifacewide.ttf');
}
/*头部*/
.header .search-result{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}
.header .conpany_xuanz {
    background: #ffffff;
    height: auto;
    overflow: hidden;
    border:1px solid #E6E6E6;
    margin-bottom: 20px;
}

.header .conpany_xuanz .fuwuquy {
    overflow: hidden;
    font-size: 12px;
}

.header .conpany_xuanz .fuwubaoz {
    border-bottom: 0;
}

.header .conpany_xuanz .fuwuquy dt {
    float: left;
    display: inline-block;
    width: 100px;
    text-align: center;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    font-weight:bold;
    color:#323232;
    line-height: 40px;
}
.qy-item{
    float: right;
    overflow: hidden;
    width: 1116px;
    border-left: 1px dashed #EEEEEE;
}

.header .conpany_xuanz .fuwuquy dd {
    float: left;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    width: auto;
    text-align: left;
    white-space: nowrap;
}

.header .conpany_xuanz .fuwuquy .active,.header .conpany_xuanz .fuwuquy dd a:hover {
    color: #ff5353;
}
/*左*/
.new-box-l{
    width: 870px;
    float: left;
    overflow: hidden;
}
.listxz_title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #F7F7F7;
}
.listxz_title ul li{
    width: 80px;
    height: 40px;
    float: left;
    text-align: center;
    font-size:14px;
    font-weight:400;
    color:#333333;
    position: relative;
}
.listxz_title ul li:first-child{
    text-align: left;
    width: 60px;
}
.listxz_title ul .xuanzcolor a{
    color: #DB2C2C;
    font-weight: bold;
}
.listxz_title ul li i{
    display: none;
}
.listxz_title ul li .down-icon{
    width: 15px;
    height: 15px;
    background: url("/assets/home/search/img/downxia.png") center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right:8px;
    top:14px;
}
.listxz_title ul .xuanzcolor i{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 6px solid;
    border-color: transparent transparent #DB2C2C;
}
/*1*/
.gongslist {
    background: #ffffff;
    padding:20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 2px solid #DB2C2C;
}
.gongslist>li{
    overflow: hidden;
    margin-bottom: 28px;
}
.gongslist li:last-child .gs-right{
    border-bottom: none;
}
.gongslist li .gs-left{
    width: 124px;
    overflow: hidden;
    float: left;
}
.gs-left img{
    display: block;
    width:120px;
    height:70px;
    margin-top:10px;
    background:url("//staticqn.qizuang.com/Public/default/images/default_logo.png") center no-repeat;
    border:1px solid #CCCCCC;
    border-radius:2px;
    color: #CFCFCF;
}
.gs-left .place{
    font-size:12px;
    font-weight:400;
    color:#333333;
    line-height:24px;
}
.gs-left .place>i{
    display: block;
    width: 15px;
    height: 15px;
    background: url("/assets/home/search/img/dingwei.png") center no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-top:13px;
    margin-right: 4px;
}
.gs-left .place span{
    display: block;
    float: left;
    width: 102px;
    padding-top: 8px;
}
.gongslist li .gs-right{
    width: 690px;
    overflow: hidden;
    float: right;
    display: block;
    padding-bottom: 40px;
    border-bottom: 1px dashed #E6E6E6;
    position: relative;
}
.gs-right .name{
    display: block;
    font-size:20px;
    font-weight:bold;
    color:#333333;
    line-height:36px;
    height: 36px;
    width: 540px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.gs-right .data{
    height: 50px;
    line-height: 50px;
    font-size:14px;
    font-weight:400;
    color:#999999;
}
.gs-right .data a{
    color: #DC3636;
}
.gs-right .data li{
    float: left;
    margin-left: 20px;
}
.gs-right .data li:first-child{
    margin-left: 0;
}
.gs-right .data .kb>span{
    display: block;
    float: left;
}
.gs-right .data .kb>i{
    width: 16px;
    height: 16px;
    float: left;
    background: url("/assets/home/search/img/xingxing.png") center no-repeat;
    background-size: 100% 100%;
    margin:0 2px;
    margin-top:17px;
}
.gs-right .tips{
    overflow: hidden;
}
.gs-right .tips a{
    display: block;
    float: left;
    height:30px;
    border:1px solid #CCCCCC;
    border-radius:2px;
    line-height: 30px;
    padding:0 10px;
    margin-right: 10px;
    margin-bottom: 12px;
}
.gs-right .hd{
    overflow: hidden;
}
.gs-right .hd li{
    font-size:14px;
    font-weight:400;
    color:#333333;
    line-height:30px;
}
.gs-right .hd li span{
    padding:2px 5px;
    background: #FF0344;
    background:linear-gradient(45deg,rgba(255,3,68,1) 0%,rgba(255,102,127,1) 100%);
    border-radius:2px;
    margin-right: 10px;
    color: #ffffff;
}
.gs-right .hd li .other{
    background: #FF9D03;
    background:linear-gradient(45deg,rgba(255,157,3,1) 0%,rgba(255,208,102,1) 100%);
}
.gs-right .bj{
    display: block;
    width:100px;
    height:36px;
    background:#DB2C2C;
    border-radius:2px;
    position: absolute;
    top:40px;
    right: 0px;
    font-size:14px;
    font-weight:400;
    color:#ffffff;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
    /*右*/
.new-box-r{
    width: 330px;
    float: right;
    overflow: hidden;
}
/*装修公司活跃榜*/
.activity-box{
    width: 100%;
    overflow: hidden;
    margin-top:20px;
}
.activity-head{
    width:330px;
    height:50px;
    background: #FF7454;
    background:linear-gradient(0deg,rgba(255,116,84,1) 0%,rgba(255,207,132,1) 100%);
    border-radius:2px;
    line-height: 50px;
    padding-left: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    position: relative;
}
.activity-head .hot{
    display: block;
    width: 51px;
    height: 24px;
    background: url("/assets/home/search/img/hot.png") center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:16px;
    right: 21px;
}
.activity-box .actcom{
    background: #ffffff;
    overflow: hidden;
}
.activity-list{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.activity-list span:first-child {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 17px;
    margin-right: 10px;
    font-size: 10px;
    background: url("/assets/home/search/img/top.png") center no-repeat;
    background-size: 100% 100%;
}
.activity-list span>a:hover{
    color: #E62E2E;
}

.actcom .activity-list .activity-list-first {
    background: url("/assets/home/search/img/top1.png") center no-repeat;
    background-size: 100% 100%;
}
.actcom .activity-list .activity-list-second {
    background: url("/assets/home/search/img/top2.png") center no-repeat;
    background-size: 100% 100%;
}
.actcom .activity-list .activity-list-third {
    background: url("/assets/home/search/img/top3.png") center no-repeat;
    background-size: 100% 100%;
}

.appercode-bg {
    width: 330px;
    height: 380px;
    background: url(/assets/common/image/qrcode/app-qz-yyb-company.png) no-repeat;
    margin-top: 20px;
}

/**/
.new-box-r .zhuagnx_process {
    overflow: hidden;
    height: auto;
    background: #fff;
    margin: 20px 0;
    padding:0 20px;
    padding-bottom: 20px;
}

.zhuagnx_process .zxtitle {
    font-size: 18px;
    color: #333;
    text-align: left;
    background: #fff;
    height: 58px;
    line-height: 58px;
    border-bottom: 1px dashed #E5E5E5;
}
.homeowner-order-container .homeowner-scroll {
    overflow: hidden;
    height: 225px;
}
.homeowner-order-container .homeowner-order {
    position: relative;
}
.homeowner-order-container .homeowner-order li {
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px dashed #E5E5E5;
    font-size: 0;
    text-align: left;
    float: none;
    vertical-align: top;
    color: #666666;
}
.homeowner-order-container .homeowner-order li > span{
    font-size: 14px;
    display: inline-block;
}
.homeowner-order-container .homeowner-order li > span > i{
    color:#DB2C2C;
    font-style:normal
}
.homeowner-order-container .homeowner-order li .info{
    width: 230px;
    margin-right: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.homeowner-order-container .homeowner-order li .date{
    vertical-align:top;
    color: #999;
}
/*咨询*/
.company_news .zxtitle{
    border-bottom: none;
}
.company_news ul li {
    width: 100%;
    height: 36px;
    text-align: left;
}

.company_news .zxtitle {
    text-align: left;
    text-indent: 15px;
}

.company_item .mask {
    width: 25px;
    float: left;
    text-align: center;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}

.mask span {
    font-size: 26px;
    margin-top: 4px;
    line-height: 20px;
    color: #B0B0B0;
}

.mask span i {
    color: #fff;
    font-size: 10px;
    position: absolute;
    left: 9px;
    top: 1px;
    font-style:normal
}

.mask .item_top {
    color: #f4a261;
}

.company_item p {
    line-height: 36px;
    width: 252px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
}

.company_news ul li:hover {
    background: none;
}

.company_news ul li a:active {
    color: #ff5353;
}
.mask .topa{
color: #D02A2A;
}
.mask .topb{
    color: #F29112;
}

.mask .topc{
    color: #C7B297;
}
/*发单*/
.bj-form{
    width: 330px;
    padding:20px;
    overflow: hidden;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bj-free-title{
    font-size:24px;
    font-weight:bold;
    color:#DB2C2C;
    line-height:36px;
    text-align: center;
}
.jisuan_fubt{
    font-size:16px;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:25px;
    height: 25px;
    text-align: center;
    position: relative;
}
.jisuan_fubt>span{
    display: block;
    width: 25px;
    height: 25px;
}
.jisuan_fubt .line-l{
    position: absolute;
    top:0;
    left: 32px;
    background: url("/assets/home/search/img/linel.png") center no-repeat;
    background-size: 100% 100%;
}
.jisuan_fubt .line-r{
    position: absolute;
    top:0;
    right: 32px;
    background: url("/assets/home/search/img/liner.png") center no-repeat;
    background-size: 100% 100%;
}
.bj-box .jisuanjg{
    width:290px;
    height:100px;
    background:#E6E6E6;
    border-radius:8px;
    margin:10px 0;
    overflow: hidden;
}
.jisuanjg .mode{
    width:270px;
    height:80px;
    background:#D8D9B6;
    border:4px solid #333333;
    border-radius:8px;
    margin: 6px auto;
    line-height: 80px;
    text-align: right;
    font-size:44px;
    font-weight:400;
    color:#333333;
    font-family: digifacewide;
}
.mode .danweiyuan{
    font-size: 16px;
    margin-right: 12px;
}
#b_cs, #b_qy{
    width:140px;
    height:40px;
    background:#F7F7F7;
    border-radius:2px;
    outline: none;
    border: none;
    font-size: 14px;
}
#b_cs{
    margin-right: 6px;
}
.input-select.bord{
    position: relative;
    margin-top:10px;
}
.bj-box .input-select input{
    width:290px;
    height:40px;
    background:#F7F7F7;
    border-radius:2px;
    border: none;
    padding:0 10px;
    line-height: 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
.pingfang{
    position: absolute;
    top:10px;
    right: 10px;
    font-style:normal
}
.disclamer-line{
    margin-top:10px;
}
.input-btn{
    width:290px;
    height:40px;
    background:#DB2C2C;
    border-radius:2px;
    line-height: 40px;
    text-align: center;
    font-size:16px;
    font-weight:400;
    color:#ffffff;
    margin-top:14px;
}
.input-select .right-now-btn{
    color: #ffffff;
}
.b_errorArea-tit,.b_errorMianji-tit,.b_errorTel-tit{
    color:red;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
}
/*结果*/
.jisuanjieguo {
    width: 330px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(1, 1, 1, .3);
    -moz-box-shadow: 0 0 10px rgba(1, 1, 1, .3);
    box-shadow: 0 0 10px rgba(1, 1, 1, .3);
    z-index: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    border-top: 3px solid #ff5353;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.jisuanjieguo .kuangzi {
    width: 290px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

.jisuanjieguo .kuangzi .zxjgy {
    text-align: center;
    font-size: 20px;
    color: #DB2C2C;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.jisuanjieguo .kuangzi .zxjgy2 {
    font-size: 14px;
    color: #fff;
    text-align: right;
    background: #363c51;
    border-radius: 5px;
    height: 60px;
    line-height: 60px;
    padding-right: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.jisuanjieguo .kuangzi .zxjgy2 span {
    font-size: 40px;
    color: #fff;
}

.jisuanjieguo .kuangzi .xiangxisj {
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}

.jisuanjieguo .kuangzi .xiangxisj .otherxian {
    border-bottom: 0 !important;
}

.jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod {
    font-size: 14px;
    color: #333;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px dashed #e6e6e6;
    height: 34px;
    line-height: 34px;
}

.jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod span {
    font-size: 14px;
    color: #333;
    display: inline-block;
    width: auto;
}

.jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod .lf {
    float: left;
}

.jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod .rt {
    float: right;
}

.jisuanjieguo .kuangzi .xiangxisj .xiangxisj_biaod .rt span {
    margin-left: 5px;
    display: inline-block;
}

.jisuanjieguo .shuom {
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jisuanjieguo .shuom span {
    color: #ff5353;
}


/*预约弹窗*/
.beijingyiny {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 15;
}

.appointment {
    width: 344px;
    height: 390px;
    border-radius: 5px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
    z-index: 16;
}

.appointment .guanbiniu {
    position: absolute;
    right: 2px;
    top: -34px;
    background: url(/assets/home/search/img/guanbi.png) no-repeat !important;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.appointment .yuyue_title {
    font-size: 24px;
    color: #DB2C2C;
    text-align: center;
    overflow: hidden;
    margin-top: 30px;
    line-height: 30px;

}
.appointment .yuyue_tips{
    font-size:16px;
    font-weight:400;
    color:#333333;
    text-align: center;
    line-height:40px;
}
.appointment .yuyue_tips>span{
color: #DB2C2C;
}

.appointment .waikuangz span {
    height: 35px;
    line-height: 35px;
    width: 80px;
    text-align: right;
    font-size: 14px;
    color: #333;
    display: inline-block;
}

.appointment .waikuangz .freesj_cs {
    width:145px;
    height:40px;
    background:#F7F7F7;
    border-radius:2px;
    line-height: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333333;
}

.appointment .waikuangz .freesj_qy {
    width:145px;
    height:40px;
    background:#F7F7F7;
    border-radius:2px;
    line-height: 40px;
    margin-left: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333333;
}

.appointment .waikuangz .chenghushuru, .appointment .waikuangz .shoujihaoma {
    width:300px;
    height:40px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(229,229,229,1);
    border-radius:2px;
    line-height: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: 0.5em;
    outline: none;
    font-size: 14px;
}

.appointment .lijiyuyue {
    width: 300px;
    height: 35px;
    line-height: 35px;
    background: #DB2C2C;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    border-radius: 2px;
}

.appointment .lijiyuyue a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
}

.appointment .zixun {
    width: 322px;
    color: #333;
    text-align: right;
    margin-left: 11px;
    margin-top: 2px;
}

.appointment .zixun a {
    color: #ff5353;
    text-decoration: underline;
}

/*预约弹窗*/

/*预约成功弹窗*/
.yuyuesuccess {
    width: 634px;
    height: 432px;
    border-radius: 5px;
    border: 10px solid #ffe6d2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    display: none;
    z-index: 16;
}

.yuyuesuccess .close_gb {
    position: absolute;
    right: 2px;
    top: -34px;
    background: url(/assets/home/search/img/guanbi.png) no-repeat !important;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.yuyuesuccess .success_title {
    color: #ff5353;
    font-size: 26px;
    vertical-align: middle;
    text-align: center;
    margin-top: 40px;
}

.yuyuesuccess .success_title span {
    width: 31px;
    height: 31px;
    display: inline-block;
    margin-right: 10px;
    background: url(/assets/sub/company/img/cg.png) no-repeat center;
    vertical-align: middle;
}

.yuyuesuccess .xiaobiaoti {
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    width: 560px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    margin-top: 12px;
}

.yuyuesuccess .enterservice {
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.yuyuesuccess .tuwen {
    overflow: hidden;
    width: 535px;
    height: 200px;
    margin: 0 auto;
    margin-top: 16px;
}

.yuyuesuccess .tuwen li {
    display: inline-block;
    float: left;
    width: 145px;
    margin-right: 50px;
}

.yuyuesuccess .tuwen li img {
    width: 100%;
    height: 105px;
}

.yuyuesuccess .tuwen li .colortiltle {
    color: #fb8920;
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
}

.yuyuesuccess .tuwen li .fulcmiaos {
    color: #333;
    font-size: 12px;
}

.yuyuesuccess .tuwen li.quxiaobj {
    margin-right: 0;
}
/*第二个*/
.sign_success {
    width: 634px;
    height: 432px;
    border-radius: 5px;
    border: 10px solid #ffe6d2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
     display: none;
    z-index: 16;
}

.sign_success .close_gb {
    position: absolute;
    right: 2px;
    top: -66px;
    background: url(/assets/common/img/guanbianniu.png) no-repeat !important;
    width: 39px;
    height: 90px;
    cursor: pointer;
}

.sign_success .success_title {
    color: #ff5353;
    font-size: 26px;
    vertical-align: middle;
    text-align: center;
    margin-top: 40px;
}

.sign_success .success_title span {
    width: 31px;
    height: 31px;
    display: inline-block;
    margin-right: 10px;
    background: url(/assets/sub/company/img/cg.png) no-repeat center;
    vertical-align: middle;
}

.sign_success .xiaobiaoti {
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    width: 560px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    margin-top: 12px;
}

.sign_success .enterservice {
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.sign_success .tuwen {
    overflow: hidden;
    width: 535px;
    height: 200px;
    margin: 0 auto;
    margin-top: 16px;
}

.sign_success .tuwen li {
    display: inline-block;
    float: left;
    width: 145px;
    margin-right: 50px;
}

.sign_success .tuwen li img {
    width: 100%;
    height: 105px;
}

.sign_success .tuwen li .colortiltle {
    color: #fb8920;
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
}

.sign_success .tuwen li .fulcmiaos {
    color: #333;
    font-size: 12px;
}

.sign_success .tuwen li.quxiaobj {
    margin-right: 0;
}
/*预约成功弹窗*/
.c-errorArea-tit, .c-errorName-tit, .c-errorTel-tit {
    height: 20px;
    line-height: 20px;
    color: red;
    text-align: left;
}

.no-data{
    background: #fff;
    width: 870px!important;
}
.no-data-img{
    width:386px;
    height: 222px;
    margin:0 auto;
    padding-top: 80px;
    padding-bottom: 25px;
}
.no-data p{
    text-align: center;
    font-size: 16px;
    color: #999;
    padding-bottom: 150px;
}
.search-article> .article-nav{
    display: none!important;
}

.pagebox{
    padding: 24px 0;
    background: #ffffff;
    margin: 0 !important;
}
