.search-result{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}
.origin-news-list{
    background: #fff;
    padding-bottom: 16px;
}
.origin-news-list .origin-list:last-child .list-right{
    border-bottom: none;
}
.news-stit{
    color: #69493D;
    text-align: center;
    font-size: 18px;
    margin-top:20px;
}
.origin-list{
    height: 149px;
    overflow: hidden;
    padding:20px;
}
.list-left{
    width:200px;
    height: 150px;
    float: left;
    margin-right: 20px;
}
.list-left img{
    width:100%;
    height: 100%;
    vertical-align: middle;
}
.list-right{
    height: 168px;
    width:960px;
    float: left;
    border-bottom: 1px dashed #E5E5E5;
}
.list-tit{
    display: block;
    font-size: 16px;
    color:#333;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 80px;
}
.list-des{
    font-size:14px;
    color: #666;
    padding-right: 80px;
}
.des-detail{
    color: red;
}
.fenlei-theme{
    font-size: 16px;
    margin-right: 20px;
}
.article-wenda .list-fenlei{
    margin-top:14px;
}
.list-fenlei{
    margin-top:35px;
    position: relative;
}
.list-fenlei img{
    width:18px;
    position: relative;
    top:4px;
}
.list-fenlei ul{
    display: inline;
}
.list-fenlei ul li{
    font-size: 14px;
    padding:3px 10px;
    border:1px solid #ccc;
    display: inline;
    margin-right: 10px;
}
.des-num,.des-time,.fenlei-wenda{
    position: absolute;
    color: #999;
    font-size:12px;
    top:3px;
}
.fenlei-wenda{
    right: 238px;
    top:0;
}
.des-num{
    right: 125px;
    position: absolute;
    top: 0;
}
.des-time{
    right: 20px;
}
.article-wenda{
    height: 159px;
    border-bottom:1px dashed #E5E5E5;
    margin: 0 20px;
}
.article-wenda .wenda-title{
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    padding-top:30px;
    color: #333;
    font-weight: bold;
    margin-bottom: 18px;
}
.article-wenda .wenda-asked{
    font-size: 14px;
    color: #666666;
    padding-right: 85px;
}

