.search-result{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}
/*分类筛选*/
.classify{
    border: 1px solid #E6E6E6;
    margin-bottom: 29px!important;
}
.classify-box {
    border-bottom: 1px dashed #e5e5e5;
    line-height: 38px;
    height: 38px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    background: #fff;
}
.classify-box:last-child {
    border-bottom: none;
}
.classify-title{
    color: #999;
    font-weight: bold;
    float: left;
    padding: 0 27px;
    border-right: 1px dashed #e5e5e5;
}
.classify-list{
    margin-left: 36px;
    width: 1020px;
    float: left;
    overflow: hidden;
}
.classify-list .reset-with{
    width: 1050px;
}

.classify-list span {
    width: 85px;
    margin-right: 15px;
    display: inline-block;
    overflow: hidden;
    height: 26px;
    line-height: 26px;
    margin-top: 7px;
    margin-bottom: 4px;
    cursor: pointer;
    color: #806f66;
    float: left;
    border-bottom: 1px solid #fff;
}

.classify-list span.restyle a{
    display: block;
    width:50px;
    height:18px;
    margin-top: 2px;
}

.classify-list span.actived a {
    color: #ff5353;
}

.classify-list span a{
    color: #333;
}
.classify-list span a:hover {
    color: #ff9696;
    border-bottom: 1px solid #ff9696;
}

.classify-operate{
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 5px;
    height: 18px;
    line-height: 18px;
}
.classify-operate i{
    margin-left: 5px;
}
.search-tu{
    padding:20px 0;
    background: #fff;
    overflow: hidden;
}
.search-tu .tu-box{
    width:278px;
    height: 202px;
    border:1px solid #E6E6E6;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}
.search-tu .tu-box .tu-img{
    width:100%;
    height: 158px;
}
.tu-box img{
    width:100%;
    height: 100%;
    vertical-align: middle;
}
.search-tu .tu-box .tu-img p{
    height: 30px;
    position: relative;
    bottom: 30px;
    color:#fff;
    text-align: center;
    line-height: 30px;
    padding:0 10px;
    background:rgba(0,0,0,0.7);
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.tulist-details{
    height: 20px;
    line-height: 20px;
    margin-top:13px;
    overflow: hidden;
}
.tulist-details span{
    font-size: 12px;
    padding:0 10px;
    color: #333;
}
.tulist-details span.num{
    float: right;
    color: #999;
    position: relative;
}
.tulist-details span.num img{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 40px;
}
.search-tu .tu-box:hover{
    width:280px;
    height: 204px;
    border:none;
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.cases-banner{
    height: 110px;
    margin-top: 36px!important;
}
.cases-banner img{
    width:100%;
    height: 100%;
}

/*分页样式调整*/
.pagebox{
    background: #fff;
    width: 1220px;
    margin: 0 auto!important;
    padding-bottom: 40px;
}









