/*结果*/
.result{
    width: 1220px;
    background: #ffffff;
    padding:20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    margin:0 auto;
}
.list-right{
    height: 170px;
    width:958px;
    float: left;
    border-bottom: 1px dashed #E5E5E5;
}
.list-tit{
    display: block;
    font-size: 16px;
    color:#333;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 80px;
}
.list-des{
    font-size:14px;
    color: #666;
    padding-right: 80px;
}
.des-detail{
    color: red;
}
.fenlei-theme{
    font-size: 16px;
    margin-right: 16px;
}
.list-fenlei{
    margin-top:35px;
    position: relative;
}
.list-fenlei img{
    width:18px;
    position: relative;
    top:4px;
}
.des-num,.des-time,.fenlei-wenda{
    position: absolute;
    color: #999;
    font-size:12px;
    top:3px;
}
.fenlei-wenda{
    right: 238px;
    top:0;
}
.des-num{
    right: 125px;
    position: absolute;
    top: 0;
}
.des-time{
    right: 20px;
}
.list-fenlei .tips{
    display: inline-block;
    position: absolute;
}
.list-fenlei .tip{
    display: inline-block;
    border:1px solid #CCCCCC;
    padding:0px 10px;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    max-width: 142px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.wd-list{
    overflow: hidden;
    margin-bottom: 20px;
}
.wd-list .list-right{
    height: auto;
    overflow: hidden;
    padding-bottom: 24px;
    width: 100%;
}
.wd-list .list-fenlei{
    margin-top:26px;
}


