<link rel="stylesheet" href="/assets/common/css/bootstrap/css/bootstrap.min.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" href="/assets/common/css/AdminLTE.css?v={:C('STATIC_VERSION')}">
<link rel="stylesheet" href="/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
<style>
    .page { text-align: center }
    .page > div,.page > ul{display: inline-block;margin: 0 0 12px 12px; vertical-align: top;}
</style>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>公司名称</th>
        <th>IP地址</th>
        <th>咨询日期</th>
        <th>所属区域</th>
        <th>客户名称</th>
        <th>合作类型</th>
        <th>合作状态</th>
        <th>联系方式</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="list" item="vo">
        <tr>
            <input type="hidden" name="" value="{$vo.id}">
            <td>{$vo.name}</td>
            <td><notempty name="vo.ip">{$vo.ip}</notempty></td>
            <td>{$vo.add_time|date="Y-m-d",###}</td>
            <td>
                <if condition="!$vo['city'] && !$vo['area']">
                    --
                <else/>
                    {$vo.city|default="-"}<notempty name="vo.area">-{$vo.area}</notempty>
                </if>
            </td>
            <td>{$vo.linkman}</td>
            <td>
                {$vo['cooperation_type']==1?'其他':($vo['cooperation_type']==2?'装修公司入驻':'已合作')}
            </td>
            <td>
                {$vo['record_status']==1?'--':($vo['record_status']==2?'谈判中':($vo['record_status']==3?'不合作':'已合作'))}
            </td>
            <td><notempty name="vo.tel">{$vo.tel}</notempty></td>
        </tr>
    </foreach>
    </tbody>
</table>
{$page}
<script src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script type="text/javascript">
    $("#jump").click(function () {
        var skip = $('#skipPage').val();
        if (!skip) {
            alert('请输入要跳转的页码');
        } else {
            window.location.href = url + 'p=' + $(this).val();
        }
    });
</script>
