.c-about-box{ border:1px solid #ddd; padding:20px; overflow:hidden}
.c-about-info{ float:left; height:233px; width:537px; position:relative}
.c-about-info li{ position:relative; color:#666; padding-left:70px; line-height:20px; margin-bottom:10px; max-height:40px; overflow:hidden}
.c-about-info li span{ position:absolute; top:0; left:0; color:#333}
.c-titimg{ float:left; margin-right:20px; width:311px; height:233px; background:#eee}

.c-about-main{ clear:both}
.c-about-main dt{font-size:18px; padding-top:20px; padding-bottom:10px;font-family: "Microsoft Yahei";}
.c-about-main dd{ color:#666}
.c-about-main dd p{ text-indent:24px; line-height:20px}
.c-about-main dd img{width:298px; height:226px;margin:6px}
.c-about-main dd img:last-of-type{ margin-right:0}

.body {
    background-color: #f3f3f3;
}
.c-main {
    width: 1210px;
    margin: 0 auto;
    overflow: hidden;
}
.top-header {
    width: 1210px;
    height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 18px;font-weight: bold;
    background-color: #fff;
    line-height: 60px;
    margin-bottom: 1px;
}
.top-header div {
    float: left;
}
.shuxian {
    width: 6px;
    height: 26px;
    margin-right: 14px;
    margin-top: 16px;
    background-color: #FF5353;
    line-height: 20px;
}
.jianjie {
    width: 1210px;
    padding: 13px 45px 31px 19px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    line-height: 26px;
    margin-bottom: 20px;
}
.fuwu {
    width: 1210px;
    height: 290px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
}
.fuwu-a {
    width: 1129px;
    height: 225px;
    border:1px solid #E6E6E6;
    box-sizing: border-box;
    margin: 29px auto;
}
.fuwu-a dl {
    height: 45px;
    box-sizing: border-box;
}
.fu-b {
    border-bottom: 1px solid #ddd;
}
.fuwu-a dt {
    float: left;
    width: 225px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #666;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.fuwu-a dd {
    padding: 0 20px;
    box-sizing: border-box;
    width: 900px;
    height: 45px;
    line-height: 45px;
    float: left;
    color: #333;
    font-size: 14px; 
}
.fuwu-a dd p {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/* 荣誉 */
.rongyu {
    position: relative;
    width: 1210px;
    padding: 20px 0;
    height: 220px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 20px;
}
.swiper-container {
    width: 1049px;
}
.swiper-wrapper {
    width: 1049px;
}
.swiper-slide {
    width: 262.25px;
    height: 170px;
    box-sizing: border-box;
    cursor: pointer;
}
.zhengshu {
    width: 230px;
    height: 170px;
    padding: 9px 0 0 7px;
    box-sizing: border-box;
    box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius:5px;
    margin: 8px auto;
}
.zhengshu img {
    width: 217px;
    height: 154px;
}
.address {
    width: 1210px;
    height: 394px;
    background-color: #fff;
    margin-bottom: 20px;
    overflow: hidden;
}
.ditu {
    width: 1130px;
    height: 327px;
    margin: 20px auto;
}
.mask {
    z-index: 2999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}
.swiper-container2 {
    z-index: 5000;
    display: none;
    position: fixed !important;
    width: 800px;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.swiper-container2 .swiper-slide {
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    text-align: center;
}

.swiper-container2 .swiper-slide img {
    width: 532px;
    height: 378px;
}
.next-left {
    background: url(../images/lun-left.png) no-repeat !important;
}
.next-right {
    background: url(../images/lun-right.png) no-repeat !important;
}
input {
    outline: none !important;
}
.bread-top {
    color: #FF5659;
}
#container {
    width: 1130px;
    height: 327px;
}