.c-designer-info {
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 20px 20px 0 20px
}

.c-long-zb {
    color: #fff;
    background: #3b4d63 url(../images/zbbg1.png) no-repeat 8px bottom;
    padding: 33px 33px 0 33px;
    line-height: 34px
}

.c-long-zb p.form {
    text-align: right;
}

.c-long-zb p.form * {
    margin-left: 22px
}

.c-long-zb p.form span {
    font-family: "Microsoft Yahei";
    font-size: 18px
}

.c-long-zb p.form input {
    height: 34px;
    border: 0;
    width: 146px;
    padding: 0 10px
}

.c-long-zb p.form button {
    height: 34px;
    border: 0;
    width: 156px;
    color: #fff;
    background: #ff5659;
    font-family: "Microsoft Yahei";
    cursor: pointer;
    font-size: 14px
}

.c-long-zb p.bottom-tip {
    text-align: right;
}

.c-designer-info-tit {
    font-family: "Microsoft Yahei";
    font-size: 20px;
    margin-bottom: 20px
}

.c-designer-info ul {
    width: 1100px;
}

.c-designer-info ul li {
    width: 110px;
    text-align: center;
    float: left;
    margin-right: 97px;
    margin-bottom: 30px
}

.c-designer-info ul li .c-designer-info-img {
    width: 110px;
    height: 110px;
    position: relative;
    border-radius: 50%;
    overflow: hidden
}

.c-designer-info ul li .c-designer-info-img a {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    color: #fff;
    height: 110px;
    box-sizing: border-box;
    padding-top: 40px;
    width: 100%
}

.c-designer-info ul li .c-designer-info-img img {
    min-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto
}

.c-designer-info ul li .c-designer-info-img:hover a {
    display: block
}

.c-designer-info ul li .c-designer-info-img a em {
    display: block;
    font-size: 16px
}

.c-designer-info ul li > a {
    font-family: "Microsoft Yahei";
    display: block;
    font-size: 14px;
    margin-top: 10px;
    line-height: 25px
}

.c-wrap {
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.c-boxs {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width: 580px;
    height: 406px;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: block;
    clear: both;
}

.c-designer-box {
    overflow: hidden;
    /*padding: 20px 20px 0 20px;*/
    box-sizing: border-box;
}

.c-box-item {
    width: 590px;
    padding: 5px;
    box-sizing: border-box;
}

.c-designer-name {
    height: 18px;
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 26px;
    margin-right: 10px;
}

.c-designer-tip {
    height: 20px;
    border: 1px solid #FF952E;
    border-radius: 3px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #FF952E;
    line-height: 20px;
    padding: 0 4px;
    margin-bottom: 4px;
}

.c-box-list {
    display: inline-block;
    vertical-align: middle;
}
.c-box-img  {
    float: left;
}
.c-box-top {
    position: relative;
    overflow: hidden;
}
.sheji-center {
    display: inline-block;
    position: absolute;
    top: 26px;
}
.c-detail {
    float: right;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
    margin-right: 25px;
    text-align: right;
}
.c-boxs:nth-child(2n) {
    float: right;
    clear: both;
}
.c-detail a {
    width: 65px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #FF5353;
    line-height: 26px;
}

.c-sub-title {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #666;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
}

.c-sub-content {
    font-size: 14px;
    width: 300px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #333;
    line-height: 26px;
    display: inline-block;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.three-line {
    position: absolute;
    right: 0;
    top: 52px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.c-box-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    overflow: hidden;
}

.c-box-item-mr {
    margin-right: 26px;
}
.morenIn{
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.c-box-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    vertical-align: middle;
    display: block;
    position: relative;
    color: #ffffff
}
.c-box-img .morenInfo:after{ width: 100%; height: 100%; border-radius: 50%; background:url("../../../common/img/moren.png") no-repeat center; background-size: 100% 100%; position:absolute;content:"";display:block;top:0;left:0; }
.c-box-middle {
    padding: 5px;
}

.c-production {
    /*width: 109px;*/
    display: block;
    margin-top: 4px;
    height: 26px;
    font-size: 18px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: #333;
    line-height: 26px;
}

.c-free {
    width: 120px;
    height: 36px;
    background: #FF5353;
    border-radius: 5px;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #fff;
    line-height: 36px;
    text-align: center;
    margin-right: 13px;
    cursor: pointer;
}

.c-production-item {
    position: relative;
    width: 180px;
    height: 180px;
    margin-right: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.c-production-item img {
    /* width: 100%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    vertical-align: middle;
}

.c-box-bottom {
    margin-top: 10px;
}


/*弹窗*/
.beijingyiny {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 15;
}

.appointment {
    width: 690px;
    height: 374px;
    border-radius: 5px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 0 10px;
    padding-right: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
    z-index: 16;
}

.appointment .yuyue_title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 25px auto 5px;
    overflow: hidden;
}
.appointment .yuyue_title img{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 7px;
    vertical-align: sub;
}
.appointment .yuyue-des{
    font-size: 14px;
    color: #999;
    text-align: center;
}

.appointment .waikuangz {
    height: 50px;
}
.appointment .guanbiniu {
    position: absolute;
    right: 2px;
    top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: rgba(153,153,153,1);
}
.appointment .waikuangz .freesj_cs {
    width: 146px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.appointment .waikuangz .freesj_qy {
    width: 146px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e3e3e3;
    margin-left: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.appointment .waikuangz span {
    height: 35px;
    line-height: 35px;
    width: 80px;
    text-align: right;
    font-size: 14px;
    color: #333;
    display: inline-block;
    margin-right: 5px;
}

.appointment .waikuangz .chenghushuru, .appointment .waikuangz .shoujihaoma {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: 0.5em;
}

.appointment .lijiyuyue {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #ff5353;
    color: #fff;
    text-align: center;
}

.appointment .lijiyuyue a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
}
.info-introduce{
    padding: 5px 10px;
}
.info-name-indroduce{
    margin-bottom: 20px;
}
.info-post{
    border:1px solid #FF952E;
    border-radius:3px;
    font-size:12px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:#FF952E;
    line-height:18px;
}
.info-name{
    height:26px;
    font-size:18px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:#333;
    line-height:26px;
    margin-right: 10px;
}
.info-title{
    font-size:14px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:#666;
    line-height:24px;

}
.designer-info-box{
    padding: 58px 0 50px 50px;
    /*border-right: 1px dashed #333;*/
}
.info-img{
    width: 160px;
    height: 160px;
    text-align: center;
}
.info-img img{
    width: 90%;
    border-radius: 50%;
    vertical-align: top;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.c-result{
    width: 250px;
    padding: 50px 18px 10px 70px;

}
.c-result-title{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
    margin: 10px 0;
    text-indent: 30px;
}
.c-result-img{
    width: 201px;
    height: 148px;
    border: 1px dashed #6E6E6E;
    margin-top: 20px;
}
.c-result-img img{
    width: 100%;
    vertical-align: top;
}
.c-result-content{
    text-align: center;
    width: 201px;
}
.c-result-content{
    height:37px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:26px;
    margin-top: 20px;
}
.c-result-box {
    padding: 0 44px;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(133, 133, 133, 0.1), rgba(133, 133, 133, 0.05));
}
.null-box{
    width: 200px;
    margin: 0 auto;
}
.null-box img{
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
.null-box  p{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:33px;
}
.tishi {
    color: #ff5353 !important;
    font-size: 12px;
    padding: 2px 0 2px 100px;
    box-sizing: border-box;
}
/*283 PC端全站提示弹窗样式调整优化及m站全国站首页添加底栏*/
.errorArea-tit,.errorName-tit,.errorTel-tit{
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: red;
    text-align: left;
}
