@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './media.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Microsoft YaHei, Arial, Helvetica Neue, Helvetica,
    Hiragino Sans GB, sans-serif;
  background-color: $baseBj;
  color: #fff;
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  min-width: 1900px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.flex {
  display: flex;
}

.jus-bet {
  justify-content: space-between;
}

.jus-aro {
  justify-content: space-around;
}

// 页面顶部提示信息
.qz-top-tips {
  font-size: 12px;
  line-height: 1.5;
  color: #2c9cfa;
  margin: 0 0 10px;
}
// 搜索按钮
.search-btn {
  border-color: #68bd98;
  color: #68bd98;
  background-color: $baseBj;
}

.search-btn.is-plain:focus,
.search-btn.is-plain:hover {
  background-color: #68bd98;
  border-color: #68bd98;
  color: #fff;
}

// 重置按钮
.reset-btn {
  border-color: #999;
  color: #999;
  background-color: $baseBj;
}

.reset-btn.is-plain:focus,
.reset-btn.is-plain:hover {
  background-color: #999;
  color: #fff;
  border-color: #999;
}

// 导出按钮
.export-btn {
  border-color: $baseBorder;
  color: $textColor;
  background-color: $baseBj;
  // position: absolute;
}

.export-btn.is-plain:focus,
.export-btn.is-plain:hover {
  border-color: $baseBj;
  background-color: $baseBorder;
  color: #fff;
}

.city-group {
  .city-group-btn {
    background-color: $baseBj;
    border-color: $baseBorder;
    color: $textColor;
  }

  // .city-group-btn:focus,
  .city-group-btn:hover {
    background-color: rgba(6, 63, 124, 0.41);
  }

  .city-group-btn-active {
    background-color: $baseBorder;
    border-color: $baseBorder;
    color: #fff;
  }
}

.qz-table-search {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;

  .el-form-item__label {
    color: $textColor;
  }

  .el-table::before {
    background-color: $baseBj;

    .el-table__fixed::before {
      background-color: $baseBj;
    }
  }

  .fr {
    float: right;
  }

  .ml-10 {
    margin-left: 10px;
  }

  .mt10 {
    margin-top: 10px;
  }

  .mt15 {
    margin-top: 15px;
  }

  .plr20 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

// table样式重置
.qz-table {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: inset 0 0 11px #04e3ff;

  .btn-text-color {
    color: #04e3ff;
  }

  .el-table {
    th,
    tr {
      background-color: $baseBj;
    }

    .el-table__header-wrapper,
    .el-table__body-wrapper {
      background-color: $baseBj;
    }

    .el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
    .el-table__body tr.current-row > td,
    .el-table__body tr.hover-row.current-row > td,
    .el-table__body tr.hover-row.el-table__row--striped.current-row > td,
    .el-table__body tr.hover-row.el-table__row--striped > td,
    .el-table__body tr.hover-row > td {
      background-color: #0a1455;
    }

    .el-button {
      //操作按钮
      padding: 0;
    }
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: $baseSelectActiveBj;
  }

  .el-table::before {
    background-color: rgba(0, 0, 0, 0);
  }

  .el-table__fixed {
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.2);
    height: 100% !important;
  }

  .el-table__fixed-right {
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.2);
    height: 100% !important;
  }

  .el-table__fixed-right::before,
  .el-table__fixed::before {
    // background-color: #273288;
    height: 0;
  }

  .el-table__fixed-right-patch {
    background-color: $baseBj;
    border-bottom: 0;
  }
}

// 页面小表格
.page-table {
  /* .el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: $baseSelectActiveBj;
  } */

  /* .el-table--border {
    border-color: $baseBorder;

    th.gutter:last-of-type {
      border-color: $baseBorder;
    }
  } */

  .el-table {
    color: $textColor;
    font-size: 12px;
    &::before,
    &::after {
      background-color: $baseBorder;
      height: 0;
    }

    th {
      border-bottom: 1px solid #3274b9;
      padding: 6px 0;
    }
    tr {
      border-bottom: 1px dashed #004c86;
    }
    td {
      border-bottom: 1px dashed #004c86;
      padding: 6px 0;
    }

    thead {
      color: #fff;
    }

    .el-table__empty-block {
      // background-color: $baseDialogBj;
      border-bottom: 1px dashed $baseDialogBj;
    }
  }
}

.el-loading-mask {
  background: rgba(10, 20, 95, 0.7);
}

.mb20 {
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}

/*
  ******修改整站滚动条
 ::-webkit-scrollbar         滚动条整体部分
 ::-webkit-scrollbar-thumb   滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
 ::-webkit-scrollbar-track   滚动条的轨道（里面装有thumb）
 ::-webkit-scrollbar-button  滚动条轨道两端的按钮，允许通过点击微调小方块的位置
 ::-webkit-scrollbar-track-piece  内层轨道，滚动条中间部分（除去）
 ::-webkit-scrollbar-corner       边角，及两个滚动条的交汇处
 ::-webkit-resizer           两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
  */

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px; // 滚动条宽度
  height: 10px; // 滚动条高度
  background-color: $baseBj;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: #273288; //滚动条的背景颜色
  border-radius: 10px; //滚动条的背景区域的圆角
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  height: 1px;
  border-radius: 10px; // 滚动条的圆角
  background-color: #3e5bd2;
  // background-image: linear-gradient(#27348B, #3E5BD2);
}

// 边角，及两个滚动条的交汇处
::-webkit-scrollbar-corner {
  background-color: #273288;
}

// 火狐浏览器
* {
  scrollbar-color: #3e5bd2 #273288;
  /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin;
  /* 滚动条宽度有三种：thin、auto、none */
}

// 提示框
.el-tooltip__popper.is-dark {
  background: $tipsBj;
  border: 1px solid $tipsBj;
  color: #09125f;
}
.el-tooltip__popper[x-placement^='right'] {
  .popper__arrow {
    border-right-color: $tipsBj;
    &:after {
      border-right-color: $tipsBj;
    }
  }
}

.el-tooltip__popper[x-placement^='left'] {
  .popper__arrow {
    border-left-color: $tipsBj;
    &:after {
      border-left-color: $tipsBj;
    }
  }
}
.el-tooltip__popper[x-placement^='top'] {
  .popper__arrow {
    border-top-color: $tipsBj;
    &:after {
      border-top-color: $tipsBj;
    }
  }
}
.el-tooltip__popper[x-placement^='bottom'] {
  .popper__arrow {
    border-bottom-color: $tipsBj;
    &:after {
      border-bottom-color: $tipsBj;
    }
  }
}
.el-icon-warning-outline:before {
  // 图标颜色
  color: #2c9cfa;
}
