// sidebar
$menuText:#2b97f4;
$menuActiveText:#00e6fd;
$subMenuActiveText:#2b97f4; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#182264;
$menuHover:#182264;

$subMenuBg:#182264;
$subMenuHover:#182264;

$baseBj:#0A145F;
$textColor:#2c9cf9;
$baseColor:#2C9CFA;
$baseBorder:#2C9CFA;
$baseBorderHouer:#4082D2;
$baseSelectBj:#0a1353;
$baseSelectActiveBj:#252E71;
$baseDialogBj:#121D76;

$tipsBj: #A5CFF0; // 提示框背景色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  textColor: $textColor;
}
