/*单图*/
.qz_ad_single{
    margin-bottom: 0.1rem;
}
.qz_ad_single > a{
    display: block;
    width: 100%;
    height: 100%;
}
.qz_ad_single > a > img{
    max-width: 100%;
    display: block;
}

/*单图文*/
.qz_ad_single_text{
    margin-bottom: 0.1rem;
}
.qz_ad_single_text > a{
    display: block;
    width: 100%;
    height: 100%;
}
.qz_ad_single_text > a > img{
    max-width: 100%;
    display: block;
}
.qz_ad_single_text .qz_ad_single_text-title{
    line-height: 2;
}

/*多图*/
.qz_ad_multi{
    font-size: 0;
    margin-bottom: 0.1rem;
}
.qz_ad_multi .multi_item{
    display: inline-block;
    width: 33.33%;
}
.qz_ad_multi .multi_item a{
    display: block;
    height: 100%;
}
.qz_ad_multi .multi_item:nth-child(1) a{
    padding-right: 0.05rem;
}
.qz_ad_multi .multi_item:nth-child(2) a{
    padding: 0 0.025rem;
}
.qz_ad_multi .multi_item:nth-child(3) a{
    padding-left: 0.05rem;
}
.qz_ad_multi .multi_item img{
    max-width: 100%;
}

/*多图文*/
.qz_ad_multi_text{
    font-size: 0;
    margin-bottom: 0.1rem;
}
.qz_ad_multi_text .qz_ad_multi_text-title{
    font-size: 14px;
    line-height: 2;
}
.qz_ad_multi_text .multi_item{
    display: inline-block;
    width: 33.33%;
}
.qz_ad_multi_text .multi_item a{
    display: block;
    height: 100%;
}
.qz_ad_multi_text .multi_item:nth-of-type(1) a{
    padding-right: 0.05rem;
}
.qz_ad_multi_text .multi_item:nth-of-type(2) a{
    padding: 0 0.025rem;
}
.qz_ad_multi_text .multi_item:nth-of-type(3) a{
    padding-left: 0.05rem;
}
.qz_ad_multi_text .multi_item img{
    max-width: 100%;
}

/*轮播*/
.qz_ad_slide{
    font-size: 0;
    margin-bottom: 0.1rem;
}
.qz_ad_slide .qz_ad_slide-title{
    font-size: 14px;
    line-height: 2;
}
.qz_ad_slide a{
    display: block;
    width: 100%;
    height: 100%;
}
.qz_ad_slide img{
    display: block;
    max-width: 100%;
}

