<div class="top-hl-box">
    <h3 class="clearfix">
       <div class="pull-left">
           装修开工必须吉利！<span class="red">10秒</span>测算您的装修<span class="red">吉日</span>！
       </div>
       <div class="pull-left" style="margin-top: 18px">
           <!--S-免责声明-->
                <include file="Common@Order/disclamer"/>
            <!--E-免责声明-->
       </div>
    </h3>
    <p>
        <select class="selet" name="xztime">
            <option value="1">一个月内装修</option>
            <option value="2">半年内装修</option>
            <option value="3">半年后装修</option>
        </select>
        <input placeholder="请输入免费领取的手机号" name="top_hl_tel" type="text" maxlength="11">
        <input type="hidden" name="top_hl_fb_type" value="huangli">
        <select class="selet" id="top_hl_cs" name="top_hl_cs"></select>
        <select class="selet" id="top_hl_qx" name="top_hl_qx"></select>
        <input class="butt" id="top-hl-butt" type="submit" value="测算吉日">
    </p>
</div>
<script type="text/javascript" src="{$static_host}/assets/common/js/order/hlIndex.js?v={:C('STATIC_VERSION')}"></script>
