
.table tr .fa{
    font-size: 20px;
}
.cx-select-wrap{
    display: block;
}

.cx-select{
    width: 30%;
    float: left;
}
.cx-select-wrap .mg{
    margin-left: 3%;
}

.table td ,.table th{
    text-align: center;
    border: 1px solid #f4f4f4;
}

.recommend-tags button{
    margin-right: 5px;
    margin-top: 5px;
}

.has-error{
    border-color: #dd4b39;
    box-shadow: none;
}

.kv-upload-progress{
    display: none;
}

.module-zz{
    color:#00A65A
}

.module-fz{
    color: #0099FF
}

.module-bk{
    color: #000088;
}

.module-wd{
    color: #5c8883;
}

#reverse{
    cursor:pointer
}
.box-title {
    padding-top: 20px;
}
.list {
    font-size: 18px;
    padding-bottom: 0;
}
.box-footer {
    border-top: 0;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #f4f4f4;
}
