/* 弹窗样式 */
.beijingyiny {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 999;
}
.appointment {
    width: 480px;
    height: 370px;
    border-radius: 5px;
    background: #fff;
    border: 7px solid #ffe6d2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 0 80px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 1000;
}
.appointment .guanbiniu {
    position: absolute;
    right: 2px;
    top: -66px;
    background: url(/assets/common/img/guanbianniu.png) no-repeat !important;
    width: 39px;
    height: 90px;
    cursor: pointer;
}
.appointment .yuyue_top{
    position: relative;
}
.appointment .yuyue_top p{
    padding-left: 114px;
}
.appointment .yuyue_top p.p1{
    font-size: 18px;
    color: #333;
    padding-top: 15px;
    font-weight: bold;
}
.appointment .yuyue_top p.p2{
    font-size: 16px;
    color: #666;
}
.appointment .yuyue_top img{
    width: 37px;
    height: 37px;
    position: absolute;
    top: 20px;
    left: 65px;
}
.appointment .yuyue_title {
    font-size: 14px;
    color: #999;
    text-align: center;
    overflow: hidden;
    margin: 3px 0 10px;
}
.appointment .waikuangz {
    margin-bottom: 16px;
    position: relative;
}
.appointment .waikuangz .warn {
    position: absolute;
    bottom: -16px;
    color: #D92B2B;
}
.appointment .waikuangz span {
    height: 35px;
    line-height: 35px;
    width: 80px;
    text-align: right;
    font-size: 14px;
    color: #333;
    display: inline-block;
}
.appointment .waikuangz .freesj_cs {
    width: 148px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.appointment .waikuangz .freesj_qy {
    width: 149px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e3e3e3;
    margin-left: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.appointment .waikuangz .chenghushuru, .appointment .waikuangz .shoujihaoma {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: 0.5em;
}
.appointment .lijiyuyue {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #ff5353;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    border-radius: 2px;
}
.appointment .lijiyuyue:hover{
    background: #ea2d2d;
}
.appointment .zixun{
    margin-top: 10px;
    overflow: hidden;
}
.appointment .zixun p{
    float: left;
}
.appointment .zixun span{
    color: #333;
    float: right;
}
.appointment .zixun span a {
    color: #ff5353;
}
.appointment .zixun span a img{
    width: 15px;
    height: 16px;
    vertical-align: sub;
}
.yuyuesuccess {
    width: 634px;
    height: 432px;
    border-radius: 5px;
    border: 10px solid #ffe6d2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    z-index: 1000;
}
.yuyuesuccess .close_gb {
    position: absolute;
    right: 2px;
    top: -66px;
    background: url(/assets/common/img/guanbianniu.png) no-repeat !important;
    width: 39px;
    height: 90px;
    cursor: pointer;
}
.yuyuesuccess .success_title {
    color: #ff5353;
    font-size: 26px;
    vertical-align: middle;
    text-align: center;
    margin-top: 40px;
}
.yuyuesuccess .success_title span {
    width: 31px;
    height: 31px;
    display: inline-block;
    margin-right: 10px;
    background: url(/assets/sub/company/img/cg.png) no-repeat center;
    vertical-align: middle;
}
.yuyuesuccess .xiaobiaoti {
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    width: 560px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    margin-top: 12px;
}
.yuyuesuccess .enterservice {
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}
.yuyuesuccess .tuwen {
    overflow: hidden;
    width: 535px;
    height: 200px;
    margin: 0 auto;
    margin-top: 16px;
}
.yuyuesuccess .tuwen li {
    display: inline-block;
    float: left;
    width: 145px;
    margin-right: 50px;
}
.yuyuesuccess .tuwen li img {
    width: 100%;
    height: 105px;
}
.yuyuesuccess .tuwen li .colortiltle {
    color: #fb8920;
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
}
.yuyuesuccess .tuwen li .fulcmiaos {
    color: #333;
    font-size: 12px;
}
.yuyuesuccess .tuwen li.quxiaobj {
    margin-right: 0;
}

.luxurysuccess {
    width: 360px;
    height: 400px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
}
.luxurysuccess .bg-img {
    width: 100%;
    height: 337px;
    background: url(/assets/common/image/luxury.png) no-repeat center;
}
.luxurysuccess .bg-img .suc-title {
    text-align: center;
    font-size:36px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color: #fff;
    padding-top: 100px;
}
.luxurysuccess .bg-img .suc-info {
    width: 293px;
    text-align: center;
    font-size:24px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color: #8D683A;
    padding-top: 55px;
    margin-left: 33px;
    letter-spacing: 2px;
}
.luxurysuccess .close-btn {
    width: 33px;
    height: 33px;
    background: url(/assets/common/image/close-btn.png) no-repeat center;
    margin: 0 auto;
    margin-top: 14px;
    cursor: pointer;
}