@import './color.less';
@font-size-base: 14px;
@font-color-primary: rgba(0, 0, 0, 0.85);

// card
@qz-card-title-font-size: @font-size-base + 4;
@qz-card-title-font-color: @font-color-primary;

@qz-card-divider-color: @divider;

html {
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.el-submenu .el-menu-item {
  padding: 20;
}
.el-submenu .el-menu-item:hover{
  background-color: #f5f7fa !important;
}
.app-search {
  padding-bottom: 16px;
}

.el-button--primary {
  color: white;
  background-color: @button-primary-color;
  border-color: @button-primary-color;
}

.el-button--default {
  color: @button-primary-color;
  background-color: white;
  border-color: @button-primary-color;
}

a {
  color: #409eff;
  text-decoration: none;
}
