.col-xs-9 .col-xs-3 button{
  width:70px;
  height:34px;
  color:#fff;
  border-radius:5px;
}
.col-xs-10 .col-xs-2 button{
  width:70px;
  height:34px;
  color:#fff;
  border-radius:5px;
}
.research-btn{
  background:#169bd5;
  margin-right:10px;
}
.daochu-btn{
  background:#ccc;
}

/*会员分单明细*/
.com_order_detail{
  color:#3c8dbc;
  cursor:pointer;
}
.cover{
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position: absolute;
  top:0;
  left:0;
  z-index:999;
  display: none;
}
.com_order_modal{
  width:660px;
  height:500px;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  background:#fff;
}
.com_order_modal_top{
  padding-left:15px;
  height: 40px;
  line-height:40px;
  background:#dcdcdc;
}
.com_order_modal_top span{
  position: absolute;
  top:0;
  right:8px;
  font-size:32px;
  font-weight:700;
  cursor:pointer;
}
.com_order_modal_center .col-xs-12{
  height:32px;
}
.col-xs-12 label{
  width:70px;
  text-align:right;
  font-weight:normal;
}
.col-xs-12 .fl{
  float: left;
}
.col-xs-12 textarea{
  width:88%;
  border:none;
  min-height:100px;
  outline:none;
}
.liangfangcompany{
  color: #199ED8;
}
.showqianyuecompany,.showqianyuejine{
  color:#FF0000;
}
