<extend name="Common:basic"/>
<block name="link">
	<notempty name="info.canonical">
		<link href="{$info.canonical}" rel="canonical"/>
	</notempty>
	<link href="/assets/mobile/blog/css/indextwo.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
	<link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
</block>
<block name="top">
	<div class="m-header-his">
		<i class="fa fa-angle-left"></i>
	</div>
	<a href="/" class="m-header-left"></a>
	<div class="m-header-tit">设计师详情</div>
</block>
<block name="content">
	<article>
		<div id="m-dsg">
			<!-- 设计师信息 -->
			<if condition="$userInfo['designer']['logo'] NEQ ''">
				<div class="m-dsg-img"><img class="morenInfo" src="{$userInfo.designer.logo}" alt="{$userInfo.designer.name}"></div>
				<else/>
				<div class="m-dsg-img">
					<img class="morenInfo" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{:OP('DEFAULT_LOGO')}" alt="{$userInfo.designer.name}">
				</div>
			</if>
			<div class="m-dsg-tit">
				<p class="dsg-name">{$userInfo.designer.name|mbstr=0,10}</p>
				<p class="dsg-time">
					<span>从业时间: {$userInfo.designer.jobtime}
						<notempty name="userInfo.count">
							作品{$userInfo['count']|default=0}
						</notempty>
					</span>
				</p>
			</div>
			<div class="tab clearfix">
				<notempty name="userInfo.count">
					<div class="w50 product cur">
						<span>作品（{$userInfo['count']|default=0}）</span>
					</div>
				</notempty>
				<div class="w50 introduce <if condition=" $userInfo[
				'count'] EQ 0">w100 cur</if>">
				<span>个人介绍</span>
			</div>
		</div>
		<div class="tab-main">
			<notempty name="cases.cases">
				<div class="pic-list">
					<ul class="pic-ul clearfix">
						<volist name="cases.cases" id="vo">
							<li>
								<a href="{$vo.url}">
									<img src="{$vo.img_path}" alt="">
									<div class="info">
										<div class="xq-name">{$vo.title}</div>
										<div class="style">
												<span>
													<notempty name="vo.fg">
														{$vo.fg}/
													</notempty>
													<notempty name="vo.mianji">
														{$vo.mianji}㎡
													</notempty>
												</span>
											<span class="fr">{$vo.zj}</span>
										</div>
									</div>
								</a>
							</li>
						</volist>
					</ul>
					<!--分页-->
					{$cases.page}
				</div>
			</notempty>
			<div class="intro <if condition=" $userInfo[
			'count'] EQ 0">show</if>">
			<div class="jianjie">
				<div class="title">个人简介</div>
				<div class="desc">{$userInfo.designer.text|default='这个人很懒，什么都没有填写'}</div>
			</div>
			<if condition="$userInfo['designer']['fengge'] NEQ ''">
				<div class="fegnge">
					<div class="title">擅长风格</div>
					<div class="desc">{$userInfo.designer.fengge}</div>
				</div>
			</if>
			<div class="biaozhun">
				<div class="title">收费标准</div>
				<if condition="$userInfo['designer']['cost'] NEQ ''">
					<div class="desc">{$userInfo.designer.cost}元/平米</div>
					<else/>
					<div class="desc">面议</div>
				</if>
			</div>
			<div class="linian">
				<div class="title">设计理念</div>
				<if condition="$userInfo['designer']['linian'] NEQ ''">
					<div class="desc">{$userInfo.designer.linian}</div>
					<else/>
					<div class="desc">这个人很懒，什么都没有填写</div>
				</if>

			</div>
		</div>
		</div>
		</div>
	</article>
	<include file="Common/footfadantc"/>
</block>
<block name="script">
	<script type="text/javascript"
	        src="{$static_host}/assets/common/js/jquery.scrollLoading-min.js?v={:C('STATIC_VERSION')}"></script>
	<script>
		$ ('.tab .w50').click (function () {
			$ (this).addClass ('cur').siblings ('div').removeClass ('cur');
			if ($ (this).index () == 0) {
				$ ('.pic-list').show ();
				$ ('.intro').hide ();
			} else {
				$ ('.pic-list').hide ();
				$ ('.intro').show ();
			}
		})
	</script>
</block>
