@import "../../../styles/public.css";
page::after{
    height: 0px!important;
}
button::after {
    border: 0;
}
.ruzhuban {
    width: 100%;
    height: 360rpx;
    background: url('http://staticqn.qizuang.com/webstatic/img/xcx/baidu/rzbanner.jpg') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
}

.ruzhuban .sqruzniu {
    width: 170rpx;
    height: 50rpx;
    position: absolute;
    left: 0;
    right: 0;
    top: 266rpx;
    margin: auto;
}

.kunjingwk {
    width: 100%;
    height: 140rpx;
    line-height: 140rpx;
    background: #fff;
}

.kunjingwk_title {
    text-align: center;
    font-size: 36rpx;
}

.kunjingwk_title text {
    color: #ff5353;
    font-size: 48rpx;
    font-style: italic;
    font-weight: bold;
}

.kunjingbj {
    width: 94.6%;
    height: 344rpx;
    margin: auto;
    background: url('http://staticqn.qizuang.com/webstatic/img/xcx/baidu/kunjingpic.jpg') no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: 66rpx;
}


.getwaik {
    width: 100%;
    height: 840rpx;
    background: #f0f6fa;
    overflow: hidden;
}

.getwaik .getwaik_title {
    text-align: center;
    font-size: 36rpx;
    margin-top: 64rpx;
}

.getwaik .getwaik_title text {
    color: #ff5353;
    font-size: 48rpx;
    font-style: italic;
    font-weight: bold;
}

.getwaik .getnr {
    width: 89.3%;
    margin: auto;
    margin-top: 36rpx;
    overflow: hidden;
}

.getwaik .getnr .leftpic {
    width: 300rpx;
    height: 300rpx;
    float: left;
    background: url('http://staticqn.qizuang.com/webstatic/img/xcx/baidu/getpic01.jpg') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
}

.beijingtpic {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    /*background: #000\0 !important;*/
    /*filter: alpha(opacity=70) !important;*/
}

.getnr .leftpic .leftpic_ms01 {
    font-size: 23rpx;
    color: #fff;
    position: relative;
    z-index: 9;
    margin-top: 100rpx;
}

.getnr .leftpic .leftpic_ms02 {
    font-size: 46rpx;
    color: #ffab40;
    position: relative;
    z-index: 9;
    margin-top: 12rpx;
}

.getwaik .getnr .rightpic {
    width: 300rpx;
    height: 300rpx;
    float: right;
    background: url('http://staticqn.qizuang.com/webstatic/img/xcx/baidu/getpic02.jpg') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    text-align: center;
}

.getnr .rightpic .rightpic_ms01 {
    font-size: 23rpx;
    color: #fff;
    position: relative;
    z-index: 9;
    margin-top: 100rpx;
}

.getnr .rightpic .rightpic_ms02 {
    font-size: 46rpx;
    color: #ffab40;
    position: relative;
    z-index: 9;
    margin-top: 12rpx;
}

.getwaik .getnr .cleardiv {
    clear: both;
}

.getwaik .getnr .dingdansypic {
    width: 100%;
    height: 265rpx;
    background: url('http://staticqn.qizuang.com/webstatic/img/xcx/baidu/getpic03.jpg') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    clear: both;
    margin-top: 350rpx;
    overflow: hidden;
    text-align: center;
}

.getnr .dingdansypic .dingdansypic_ms01 {
    font-size: 26rpx;
    color: #fff;
    position: relative;
    z-index: 9;
    margin-top: 90rpx;
}

.getnr .dingdansypic .dingdansypic_ms02 {
    font-size: 46rpx;
    color: #ffab40;
    position: relative;
    z-index: 9;
    margin-top: 12rpx;
}

.ldyouswk {
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.ldyouswk .ldyouswk_title {
    text-align: center;
    font-size: 36rpx;
    margin-top: 61rpx;
}
.ldyouswk .ldyouswk_title text {
    color: #ff5353;
    font-size: 48rpx;
    font-style: italic;
    font-weight: bold;
}
.ldyouswk .youshibj {
    width: 94.6%;
    height: 360rpx;
    margin: auto;
    background: url('http://staticqn.qizuang.com/webstatic/img/xcx/baidu/youshipic.png') no-repeat center center;
    background-size: 100% 100%;
    margin-bottom: 66rpx;
    margin-top: 46rpx;
}

.joinjiaru {
    width: 100%;
    height: 700rpx;
    background: #f0f6fa;
    overflow: hidden;
}
.joinjiaru .joinjiaru_title {
    text-align: center;
    font-size: 36rpx;
    margin-top: 60rpx;
}
.joinjiaru .joinjiaru_title text {
    color: #ff5353;
    font-size:48rpx;
    font-style: italic;
    font-weight: bold;
}

.joinjiaru .tablewaik {
    width: 96.4%;
    overflow: hidden;
    display: block;
    margin: auto;
    margin-top: 46rpx;
}
.joinjiaru .tablewaik text {
    width: 50%;
    float: left;
    height: 66rpx;
    line-height: 66rpx;
    background: #fff;
    color: #ffab40;
    font-size: 22rpx;
    padding-left: 18rpx;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.joinjiaru .tablewaik text.item01 {
    background: #ffab40 !important;
    color: #fff !important;
    font-size: 26rpx;
}
.joinjiaru .tablewaik text.item02 {
    background: #1e88e5 !important;
    color: #fff !important;
    font-size: 26rpx;
}
.joinjiaru .tablewaik text.item03 {
    background: #fff5e8 !important;
}
.joinjiaru .tablewaik text.item04 {
    background: #e5f3ff !important;
    color: #1e88e5 !important;
}
.joinjiaru .tablewaik text.item06 {
    color: #1e88e5 !important;
}
.joinjiaru .tablewaik text.item07 {
    line-height: normal;
    background: #fff5e8 !important;
    padding-top:8rpx;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.joinjiaru .tablewaik text.item08 {
    background: #e5f3ff !important;
    color: #1e88e5 !important;
}
.joinjiaru .tablewaik text.item10 {
    line-height: normal;
    padding-top: 8rpx;
    color: #1e88e5 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.joinjiaru .tablewaik text.item11 {
    background: #fff5e8 !important;
}
.joinjiaru .tablewaik text.item12 {
    background: #e5f3ff !important;
    color: #1e88e5 !important;
}
.joinjiaru .tablewaik text.item14 {
    line-height: normal;
    padding-top: 8rpx;
    color: #1e88e5 !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.joinjiaru .tablewaik text.item15 {
    background: #fff5e8 !important;
}
.joinjiaru .tablewaik text.item16 {
    background: #e5f3ff !important;
    color: #1e88e5 !important;
}

.cooperationwk {
    width: 100%;
    height: 480rpx;
    overflow: hidden;
}
.cooperationwk .cooperationwk_title {
    text-align: center;
    font-size: 36rpx;
    margin-top: 60rpx;
}
.cooperationwk .cooperationwk_title text {
    color: #ff5353;
    font-size:48rpx;
    font-style: italic;
    font-weight: bold;
}
.lunbosw {
    width: 96.4%;
    margin: auto;
}
.swiper-wrap{
    margin-top: 20rpx;
}
.swiperItem image{
    width: 100%;
}


.ruzhulc {
    width: 100%;
    height: 330rpx;
    padding: 1vw;
    box-sizing: border-box;
    background: #f0f6fa;
    overflow: hidden;
}
.ruzhulc .ruzhulc_title {
    text-align: center;
    font-size: 36rpx;
    margin-top: 60rpx;
}
.ruzhulc .ruzhulc_title text {
    color: #ff5353;
    font-size: 48rpx;
    font-style: italic;
    font-weight: bold;
}
.ruzhulc .ulliuc {
    overflow: hidden;
    width: 96.4%;
    margin: auto;
}
.ulliuc .hezlcpicbj {
    width: 100%;
    height: 72rpx;
    background: url('../../../images/heuolcpic.jpg') no-repeat center center;
    background-size: 100% 100%;
    margin-top: 22rpx;
}
.ruzhulc .ulliuc text {
    display: inline-block;
    float: left;
    margin-right: 50rpx;
    margin-top: 18rpx;
    font-size: 26rpx;
    color: #1a8be7;
}
.ruzhulc .ulliuc text.lcms05 {
    margin-right: 0 !important;
}


.joinqiz {
    width: 100%;
    height: 710rpx;
    background: url('http://staticqn.qizuang.com/webstatic/img/baiduxcx/footbjpic.jpg.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}
.joinqiz .footbjtm {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    /*background: #000\0;*/
    /*filter: alpha(opacity=60) !important;*/
}
.joinqiz .joinqiz_title {
    text-align: center;
    font-size: 36rpx;
    margin-top: 60rpx;
    position: relative;
    /*z-index: 9;*/
    color: #fff;
}
.joinqiz .joinqiz_title text {
    color: #ff5353;
    font-size: 48rpx;
    font-style: italic;
    font-weight: bold;
}

.joinqiz .fadanwk {
    width: 96.4%;
    margin: auto;
    position: relative;
    /*z-index: 9;*/
}
.joinqiz .fadanwk .divhang {
    overflow: hidden;
    margin-top: 20rpx;
}
.joinqiz .fadanwk .divhang .biaotifd {
    display: inline-block;
    width: 120rpx;
    height: 66rpx;
    line-height:66rpx;
    float: left;
    color: #fff;
    font-size: 24rpx;
    margin-right: 16rpx;
}
.fadanwk .divhang .biaotifd text {
    color: #ff5353;
}
.fadanwk .divhang .textshuru {
    width: 550rpx;
    height: 66rpx;
    float: left;
    border-radius: 10rpx;
    outline: none;
    border: 0;
    background: #fff;
    text-indent: 0.5em;
    font-size: 24rpx;
}
.divhang .c-zb-city {
    width: 550rpx;
    height: 60rpx;
    line-height: 60rpx;
    float: left;
    border-radius: 10rpx;
    outline: none;
    border: 0;
    font-size: 24rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding: 10rpx;*/
    text-align: left;
    box-sizing: border-box;
    padding-left: 45rpx;
}
.fadanwk .ruzhushenqniu {
    width: 100%;
    height: 66rpx;
    line-height: 66rpx;
    text-align: center;
    color: #fff;
    font-size: 24rpx;
    background: #ff5353;
    border-radius: 10rpx;
    margin-top:20rpx;
}
.joinhezuo {
    font-size: 24rpx;
    color: #fff;
    text-align: center;
    margin-top: 20rpx;
}
.fadanwk .divhang .nosearch {
    text-align: right;
    text-decoration: underline;
    color: #fff;
    font-size: 24rpx;
}
.fadanwk .divhang .textshurucity {
    width: 550rpx;
    height: 66rpx;
    /*float: right;*/
    border-radius: 10rpx;
    outline: none;
    border: 0;
    text-indent: 0.5em;
    font-size: 24rpx;
    background:#fff;
    width:75%;
    margin-left:19%;
}


.city-select__city-select-container{
    z-index: 10;
}
.area{
    position: relative;
    z-index: 0;
}
.area input{
    background: #fff;
    text-indent: 10vw;
}
.map-icon{
    position:absolute;
    top:1vh;
    left:20vw;
    z-index:7;
}
.chenggong {
    width: 520rpx;
    height: 240rpx;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    z-index: 9;
    border-radius: 10rpx;
    overflow: hidden;
    text-align: center;
    /* display: none; */

}
.chenggong image {
    /*width: 270rpx;*/
    width: 60%;
    height: 52rpx;
    margin: auto;
    margin-top:60rpx;
}
.chenggong .chenggms {
    font-size: 24rpx;
    margin-top: 28rpx;
}
.chenggyy {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    /* display: none; */
}
