body{
  background: #384286 !important;
}
.hd-cd-topbox{
  position: relative;
}
.hd-cd-topbox img{
  width:100%;
}
.blue-color-bg{
  background:#384286;
  padding:0px 0.12rem;
}
.hd-cd-order{
  background: #fff;
  padding:0.15rem;
  border-radius: 10px;
}
.hd-cd-order-title{
  width:60%;
  margin:0px auto;
  text-align: center;
  height: 0.09rem;
  border-bottom:3px solid #384286;
}
.get-design-box li input,.get-design-box li button{
  padding-left:0.1rem;
}
.hd-cd-order-title span{
  padding:0.05rem 0.06rem;
  color:#384286;
  background:#fff;
  font-size: 0.16rem;
  font-weight:bold;
}
i.fa-map-marker{
  color:#2E3E83 !important;
}
.get-design-box{
  margin-top:0.2rem
}
.get-design-box li {
  border: none;
  margin: 0.1rem auto;
  height: 48px;
  position: relative;
}
.get-design-box input{
  width: calc(100% - 0.1rem) !important;
}
.get-design-box input, .get-design-box button{
  background: #F3F3F3;
  border-radius: 6px;
}
.m-b-btn{
  border-radius: 8px;
  background:#FD2E68;
}
.hd-cd-nr{
  padding:0.15rem;
  background:rgba(255, 255, 255,0.9);
  border-radius: 10px;
  margin-top:20px;
}
.bottom-jpg{
  width: 100%;
  margin-top:0.1rem;
}
.order-success{
  position: fixed;
  left:0px;
  top:0px;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}
.success-img{
  background:#fff;
  width:50%;
  height: 1rem;
  padding:0.15rem 0.3rem;
  border-radius: 0.1rem;
  position:fixed;
  margin:auto;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
}
.success-content .success-img1{
  width: 100%;
}
.success-content{
  position: relative;
  width: 100%;
  
}
.closed-success{
  position: absolute;
  right:-0.15rem;
  top:-0.05rem;
}
.close-img{
  width:15px;
}