body{
    background-color: #ffffff !important;
}
.caption{
    display: flex;
    justify-content: center;;
    align-items: center;
}
.caption .icon{
    margin-right: 0.04rem;
    margin-top:0.02rem;
    height: 0.16rem;
    width: 0.16rem;
    background: url("../img/dui.png") no-repeat center;
    background-size: 100% 100%;
}
.baojia-list .accordion{
    background: #ffffff;
}
.baojia-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.132rem;
    line-height: 0.256rem;
    font-weight:500;
    color:rgba(0,0,0,1)
}
.accordion{
    margin: 0 0.280rem;
    padding-top:0;
}
.line-con{
    width:86%;
    margin:0 auto;
    height:3px;
    border-top:2px dashed rgba(229,229,229,1);
}
.line-title{
    width:86%;
    margin:0 auto;
    font-size: 0.1rem;
    color: #999999;
}
.m-b-btn{
    width:86%;
    margin:10px auto;
    background: #DE4348;
    margin-bottom: 30px;
}
.down-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(245,245,245,1);
    font-size: 0.112rem;
}
.d-tiyi{
    padding-top:0.12rem;
}
.d-tier{
    line-height: 0.30rem;
}
.d-tisan{
    width: 72%;
    margin-top:0.18rem;
    margin-bottom: 0.20rem;
}
.d-tiwu{
    width: 30%;
    margin:0.10rem;
    height: 0.28rem;
    border-radius: 0.14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF5353;
    color: white;
}
.d-tiwu img{
    height: 0.14rem;
    margin-right: 0.04rem;
}
.slogan1{
    margin-bottom: 0.16rem;
}