body{
  background-color: #754108 !important;
}
input::placeholder{
  color: #6F6F6F;
}
input::-moz-placeholder{
  color: #6F6F6F;
}
input::-webkit-input-placeholder{
  color: #6F6F6F;
}
.order-box{
  margin: 0 0.1rem 0.1rem;
  padding: 0.05rem 0;
  background-color: white;
  border-radius: 0.5em;
}
.order-box .caption{
  font-size: 0.1536rem;
  font-weight: bold;
  color: #1A1A1A;
  text-align: center;
  position: relative;
  margin: 10px 8px;
}
.order-box .caption .line{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: black;
  z-index: 0;
}
.order-box .caption .text{
  display: inline-block;
  line-height: 1;
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 0 0.3em;
}
.fuli-caption{
  background-color: #D57A27;
  height: 0.3285rem;
  line-height: 0.3285rem;
  text-align: center;
  font-size: 0.1536rem;
  color: white;
  vertical-align: middle;
}
.fuli-caption .text{
  vertical-align: middle;
}
.fuli-icon{
  width: 0.277rem;
  vertical-align: middle;
}
.rang-li{
  font-size: 0.1237rem;
  color: white;
  margin: 0 0.1rem;
  line-height: 3;
}
.m-img-box-a{
  position: relative;
}
.m-img-box-a .rules{
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  background-color: rgba(0, 0, 0, 0.65);
  width: 0.354rem;
  height: 0.1578rem;
  line-height: 0.1578rem;
  border-radius: 0.354rem;
  text-align: center;
  color: white;
  font-size: 0.0938rem;
  vertical-align: middle;
}
.m-img-box-a .rules img{
  width: 0.0469rem;
  display: inline;
  vertical-align: middle;
  margin-left: 0.1em;
}
.m-bj-edit{
	margin-top: .8em;
}
.m-bj-items {
	border:1px solid #e2e2e2;
	background:#efefef;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	padding:10px 10px;
	margin:0 10px 60px 10px;
	margin-top: 50%;
	position: relative;
}
.dw{color: #ff5659;}
.model-box{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 10;
}
.close-btn{
	width: 1.8em;
	height: 1.8em;
	background: url(/assets/mobile/images/close.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute;
	right: -.3em;top: -2em;
}
.items-all-money {
	text-align:center;
	padding-bottom:10px;
}
.items-all-money p{
	font-size: 1.1em;
}
.items-all-money p>i{
	color: #ff5659;
}
.items-all-details .tel-box{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.items-all-details .tel-input{
	width: 90%;
	height: 2.5em;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #ccc;
	background: #fff;
}
.items-all-details .tel-box input{
	width: 100%;
    height: 2em;
    padding: 0.5em;
	margin-top: .65em;
    border: 0;
    outline: none;
    line-height: 2em;
    font-size: .8em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.tel-box a.items-check-more{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: block;
	margin-top: 1em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	background: #ff5659;
	color: #fff;
}
.items-all-details p.tel-danger{
	font-size: .9em;
	color: #ff5659;
	margin-left: 6%;
	margin-top: .5em;
}
.items-all-details p.tel-count{
	font-size: .9em;
	text-align: center;
	margin-top: 0.6em;
}
.items-all-details p.tel-count i{
	color: #ff5659;
}
.items-check-more {
	margin-top:10px;
	color:#929292;
	display:block;
}
.kefu-back-info {
	font-size:13px;
	margin:10px 10px;
}
.kefu-back-info p {
	margin-top:5px;
}
.model {
	width: 96%;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	background:#fff;
	position:fixed;
	left:0;
	top:0;
	z-index:9999;
	margin:0 2%;
	margin-top:50%;
	box-sizing: border-box;
}
.model-btn {
	width: 80%;
	margin: 0 auto;
	color:#fff;
	margin:0 auto;
	margin-top: 1.5em;
	padding-bottom: 1.5em;
	overflow: hidden;
}
.model-btn div{
	width: 40%;
	height: 2.2em;
	float: left;
	line-height: 2.2em;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.leave-btn{margin-right: 18%;border: 1px solid #ff5659;color: #ff5659;}
.get-btn{border: 1px solid #ff5659;background: #ff5659;}
.model-info {
	font-size:1.1em;
	line-height:1.5em;
	text-align: center;
	margin-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}
.hide {
	display:none;
}
.save-submit{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}
.kefu-box{
	border-top: 0.5em solid #f5f5f5;
	border-bottom: 0.5em solid #f5f5f5;
	padding: 1em 0;
	overflow: hidden;
}
.kefu-tit{margin: 0 auto;
	font-size: 1.1em;
	text-align: center;
}
.kefu-info{
	width: 96%;
	margin-top: 1em;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 1em;
}
.fa-angle-right{
	font-size: 2em;
	font-weight: normal;
}
.kefu-img, .kefu-btn{
	width:32%;
	float: left;
	text-align: center;
}

.kefu-img, .kefu-btn p{
	font-size: .8em;
    margin-top: .4em;
    color: #4d4d4d;
}
.kefu-img{
	margin-left: 8%;
	position: relative;
}
.kefu-img:before{
 	width: 100%;
 	display: block;
 	position: absolute;
 	left: 0;
 	bottom: 3%;
 	color: #fff;
 	font-size: .9em;
 	line-height: 0.9em;
 	text-align: center;
}
.kefu-arrow{width: 20%;line-height: 6em;text-align: center;float: left;}
.kefu-arrow i:first-child{color: #eee;}
.kefu-arrow i:nth-child(2){color: #ccc;}
.kefu-arrow i:last-child{color: #999;}
.kefu-btn a{
	width: 90%;
	height: 2.2em;
	display: block;
	border: 1px solid #f79c33;
	color: #f79c33;
	margin-top: 1.6em;
	margin-left: 5%;
	text-align: center;
	line-height: 2em;
	line-height: 2.2em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}

.kefu-shows{margin: 0 0.1rem;padding: 0em 0 1em 0; }
.kefu-shows .item{ margin-bottom: 25px; }
.kefu-shows .item .desc{ position: relative; background-color: white; line-height: 2; padding-left: 0.1rem; border-bottom-left-radius: 0.5em; border-bottom-right-radius: 0.5em; padding-bottom: 0.1rem; padding-top: 0.1rem; }
.kefu-shows .item .desc .title{ font-size: 0.162rem; font-weight: bold; }
.kefu-shows .item .desc .get-now-btn{ position: absolute; right: 0.1rem; bottom: 0.1rem; width: 0.9685rem; height: 0.3029rem; line-height: 0.3029rem; text-align: center; background: url('../img/get-now-btn.png') no-repeat; background-size: 100% 100%; font-size: 0.132rem; color: white; }
.kefu-shows .item .desc .get-now-btn a{display: block; color: white; width: 100%; height: 100%;}
.kefu-shows .item .desc .miandanjia{ font-size: 0.098rem; font-weight: bold; }
.kefu-shows .item .desc .miandan-price{ font-size: 0.098rem; font-weight: bold; position: relative; }
.kefu-shows .item .desc .mini-price{
  position: relative;
  overflow: hidden;
}
.kefu-shows .item .desc .mini-price::after{
  position: absolute;
  content: '';
  border-bottom: 1px solid orange;
  left: 30%;
  top: 50%;
  width: 70%;
}
.kefu-shows .item .desc .miandan-price .big-price{ font-size: 0.1749rem; font-weight: bold; margin-right: 0.5em; }
.kefu-shows .item .desc .baoming{ font-size: 0.098rem; color: #8A8A8A; }
.kefu-shows .item .orange{ color: #FF6532; }
.kefu-shows img{width: 100%; }

.footer{
  background-color: white;
  text-align: center;
  padding: 0.1rem 0;
  margin-bottom: -1rem;
}
.footer .slogan{
  font-size: 0.14rem;
  color: #3c3c3c;
  line-height: 1.5;
}
.footer .slogan img{
  width: 0.18rem;
  margin: 0 0.5em;
}
.footer .copyright{
  margin-top: 0.05rem;
  font-size: 0.12rem;
  color: #999;
  line-height: 1.5
}

/*新改版*/
.money-main{
	margin: 0 8px;
	overflow: hidden;
}
.money-img{
	height: 0.67rem;
	border-radius: 5px;
  background: url(../img/calc-bg.png) no-repeat;
  background-size: 100% auto;
}
.money-img span{
	display: inline-block;
	color: #1A1A1A;
	margin-top: 28px;
	font-size: 16px;
	margin-left: 6px;
	margin-right: 12px;
}
.num{
	width: 16px;
    height: 28px;
    background: url(../img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num{
	width: 22px;
  height: 38px;
  background: url(../img/num.png) no-repeat;
  background-size: 1400%;
  float: left;
  margin-right: 4px;
  /*background-position: -63px 0;*/
  margin-top: 15px;
}
.num-gray{background-position: 39px 0 !important;}
.num-0{background-position: -30px 0 !important;}
.num-1{background-position: -54px 0 !important;}
.num-2{background-position: -85px 0 !important;}
.num-3{background-position: -115px 0 !important;}
.num-4{background-position: -143px 0 !important;}
.num-5{background-position: -171px 0 !important;}
.num-6{background-position: -199px 0 !important;}
.num-7{background-position: -226px 0 !important;}
.num-8{background-position: -255px 0 !important;}
.num-9{background-position: -283px 0 !important;}

.m-bj-edit button,.m-bj-edit input[type='text']{
	color: #6F6F6F !important;
  background-color: #E8E8E8 !important;
  font-size: 0.123rem;
  border-radius: 0.3em !important;
  border: none !important;
  outline: none;
}

.m-bj-edit button,.m-bj-edit i{
	color: #6F6F6F !important;
}
.m-bj-edit i{
  margin-right: 0.3em;
}
.m-b-btn{
  border-radius: 0.3em;
  font-size: 0.1536rem;
}
.choose-style > li{
  width: 32%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.choose-style > li input{
  vertical-align: middle;
}
.choose-style > li input[type=checkbox] + label{
  position: relative;
}
.choose-style > li input[type=checkbox] + label::before {
  content: "\a0";  /*不换行空格*/
  display: inline-block;
  vertical-align: 2px;
  width: 11px;
  height: 11px;
  margin-right: 5px;
  border-radius: 50%;
  /* background-color: #DE4348; */
  border: 1px solid #DE4348;
  text-indent: 2px;
  line-height: .65;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
  padding: 3px;
}
.choose-style > li input[type=checkbox] + label::after {
  position: absolute;
  content: "\a0";  /*不换行空格*/
  display: inline-block;
  vertical-align: 2px;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  border-radius: 50%;
  /* background-color: #DE4348; */
  border: 1px solid #DE4348;
  text-indent: 2px;
  line-height: .65;  /*行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高*/
  left: 4px;
  top: 2px;
}
.fix-ios-top > li input[type=checkbox] + label::after {
  top: 5px !important;
}
.choose-style > li input[type="checkbox"]:checked + label::before {
  background-color: #DE4348; /* 选中的背景颜色 */
  padding: 3px;
  background-clip: content-box;
}
.choose-style > li input[type='checkbox'] {
  /* 隐藏掉原先实际的 radio 框，之所以没用 display:none; 这种简单直接的方式，
      是因为这种方法会把它从键盘 tab 键切换焦点的队列中完全删除 */
  position: absolute;
  clip:rect(0,0,0,0);       /* 第一种隐藏方式：剪切为0 */
  /* visibility: hidden; */ /* 第二种隐藏方式：隐藏 */
}

.dw{color: #999 !important;}

.form-again-img{width: 100%;overflow: hidden;margin: 25px auto;}
.form-again-img img{width: 100%;height: auto;}
.success-ok-img{
	width: 100%;
	height: auto;
}
.success-ok-img img{
	width: 100%;
	height: auto;
}
.accordion{
	margin: 0 12.5px;
    background: #f8f8f8;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.success-footer{
	margin: 0 12.5px;
    background: #f8f8f8;
    overflow: hidden;
    margin-bottom: 17.5px;
    padding-top: 17.5px;
    padding-bottom: 12.5px;
}
.success-tip{
	font-size: 13px;
    margin: 0 3%;
    color: #666;
    text-align: justify;
    margin-bottom: 25px;
}
.success-footer-img{width: 100%;position: relative}
.detail-text{
    position: absolute;
    font-size: 0.1rem;
    left: 1.8rem;
    top: 0;
		width:0.9rem;
		height: 100%;
}
.detail-text .deatil-text-first{
	margin-top:8px;
}
.detail-text img{
	display: inline-block;
	position: absolute;
	top:0px;
	bottom:0px;
	margin:auto;
}

.success-footer-img img{width: 100%;height: auto;}
.gongzhonghao-text{
	text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 17px auto;
}
.guanzhu-text{
	font-size: 13px;
	line-height: 15px;
	color: #666;
	margin: 0 3%;
	text-align: justify;
}
.copy-text{font-weight: bold;}
.red-color{color: #ff5353;}
.recount{margin: 0 12.5px;margin-bottom: 20px;}
.m-bj-edit li .m-bj-edit-list{
  color: #6F6F6F !important;
  background-color: #E8E8E8 !important;
  font-size: 0.123rem;
  border-radius: 0.3em !important;
  border: none !important;
  outline: none;
}

/*m.2.12.6 m端落地页新增/更换引导下载APP入口*/
.baojia-intro{
	padding: 22px 12.5px;
	background:#f8f8f8;
	position: relative;
}
.baojia-intro img{
	width:100%;
	vertical-align: middle;
}
.baojia-intro .baojia-intro-logo{
	position: absolute;
	width: 0.202rem;
	height: 0.202rem;
	bottom: 0.55rem;
	right: 0.25rem;
}
.baojia-intro-content{
	position: absolute;
	bottom: 0.3rem;
	right: 0.25rem;
	width: 1.2rem;
	height: 0.16rem;
	line-height: 0.16rem;
	text-align: center;
	background: rgba(255,83,83,1);
	border-radius: 10px;
	font-size: 10px;
	font-weight: 500;
	color: rgba(255,255,255,1);
}

.rules-dia{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}
.rules-dia .ruls-content{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2.244rem;
  height: 3.845rem;
  border-radius: 0.5em;
  padding: 0.1rem;
  background-color: white;
  color: #595959;
  font-size: 0.1024rem;
  line-height: 2
}
.rules-dia .ruls-content .caption{
  text-align: center;
  line-height: 2;
  margin-top: 0.1rem;
}
.rules-dia .ruls-content .close{
  position: absolute;
  right: 0;
  top: -0.3rem;
  width: 0.196rem;
  height: 0.196rem;
  background: url('../img/close.png') no-repeat;
  background-size: 100% 100%;
}
#shenming a{
  margin-left: 0.2em;
}
#shenming{
  padding-top: 0.2em;
}
#get-code{
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	background: #ff5659;
	z-index: 999;
	padding: 0 15px;
	color:#fff;
	border-radius: 0.3em;
}
