@import "../../../styles/public.css";
@import "../../../templates/list-temp/list-temp.css";
::-webkit-scrollbar{
    width: 0;
    height: 0;
    color: transparent;
}    
.tabTit {
    height: 88rpx;
    line-height: 88rpx;
    width: 100%;
    padding: 0 34rpx;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex1 {
    width: 140rpx;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}
.flex_title {
    display: block;
    width: 60rpx;
    text-align: center;
    padding-right: 20rpx;
}
.tabTit .active {
    color: #333333;
    font-weight: bold;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUAgMAAACCKJcoAAAACVBMVEVHcExnZ2dmZmZVVe1IAAAAAnRSTlMAgewsfo4AAABNSURBVAjXPcoxEcBACAVRrkHEqYke1CAiDV9lwjDLVls8s7/zGHnu3nc3ijsS2CXwlcAh1VKw9yYUHL21dLDPJnRwzNbSxs4mtHGw9QENj0Jp/c6xKwAAAABJRU5ErkJggg==)
        no-repeat;
    background-size: 20rpx 10rpx;
    background-position: 80rpx 80rpx;
}

.tabTit .active image {
    transform: rotate(180deg);
    background: none;
}

.tabTit image {
    display: block;
    width: 20rpx;
    height: 13rpx;
}

.tabLayer {
    width: 100%;
    padding: 0 26rpx 20rpx;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 102;
}
.tc_line {
    padding-top:90rpx;
    padding-bottom:200rpx ;
    overflow: hidden;
}
.itme_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.itme_list .item {
    background: rgba(247, 247, 247, 1);
    border-radius: 4rpx;
    height: 70rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 70rpx;
    padding: 0 20rpx;
    margin: 10rpx;
}
.itme_list .activeItem {
    background: #ff5156;
    color: #fff;
}

.btnBox {
    clear: both;
}
.sub-title {
    display: block;
    height: 31rpx;
    line-height: 42rpx;
    font-size: 32rpx;
    padding: 25rpx 0;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.item_sub-title {
    font-size: 32rpx;
    line-height: 80rpx;
    height: 80rpx;
    padding-left: 10rpx;
    font-weight: bold;
    color: rgba(153, 153, 153, 1);
}

/* 列表 */
.list {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30rpx;
    height: auto;
}
.l-header {
    width: 100%;
    height: 90rpx;
    padding-top: 10rpx;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.l-header icon {
    display: block;
    width: 8rpx;
    height: 40rpx;
    background: rgba(255, 81, 86, 1);
}
.l-header text {
    margin-left: 12rpx;
    font-size: 42rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
/* 主体 */
.l-main {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 98rpx;
    right: 0;
    bottom: 0;
    margin-bottom: 100rpx;
}
.scroll-view {
    height: 100vh;
    white-space: nowrap;
}

.mainer {
    margin-bottom: 164rpx;
}

/* 列表 */
.bottom-order {
    height: 100rpx;
}
.l-main:last-child {
    margin-bottom: 0;
}
.ipx-bottom {
    height: 164rpx;
}
.ipx-bottom .bottom-order__tab-bar {
    height: 164rpx;
}
.choose{
    width: 682rpx;
    height: 88rpx;
    background: #fff;
    margin: 0 34rpx;
    box-sizing: border-box;
    border-bottom:1rpx solid #E7E7E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:28rpx;
    font-weight:500;
    color:rgba(51,51,51,1);
    position: fixed;
    top: 0;
    left: 0;
}
.choose image{
    display: block;
    width: 20rpx;
    height: 20rpx;
}