<extend name="Common:basic"/>
<block name="title"><title>关于我们</title></block>
<block name="link">
    <style>
        .main {
            padding: 0.1rem;
        }
        .main h3 {
            text-align:center;
            margin-bottom: 0.1rem;
        }
        .main p {
            text-indent: 2em;
            text-align:justify;
            font-size: 14px;
        }
    </style>
</block>

<block name="content">
    <div class="main">
        <h3>关于我们</h3>
        <p>齐装网隶属于{:getOPKeySwitchByDomain('QZ_COMPANY_NAME')}，成立于2012年，总部位于中国苏州，经过数年的发展，齐装网的高速成长和创新的商业模式赢得了业界的广泛认可，目前已经在苏州、南京、无锡、常州、徐州、南通、扬州、昆山、连云港、杭州、宁波、温州、天津、济南、青岛、武汉、西安、郑州、福州、厦门、泉州、重庆、成都、上海、广州、昆明、合肥、长沙、南昌、兰州、南宁等全国大中城市500余个建立了直营分站，目前注册装饰企业已超过10万家，精英设计师超过80万。</p>

        <p>齐装网致力于让更多的网友体验到实实在在的装修体验，在这里可以挑案例、挑小区、挑设计师，挑公司，挑装修风格。目前齐装网已成为广大业主装修青睐的装修综合门户网站。</p>

        <p>齐装网优势：</p>
        <p>团队优势 </p>
        <p>齐装网是一个年轻富有朝气和创造力的网站，公司不仅为广大的业主、装饰装潢公司提供了交流合作的平台，也为众多有理想抱负的年轻人提供了展示自我的舞台。齐装网注重企业团队建设，重视人才培养，因材施用，各展其能，将每一个队员的力量都凝结起来，齐心协力，共创辉煌。 </p>

        <p>技术优势 </p>
        <p>齐装网拥有一支经验丰富的技术团队，他们致力于网络平台的构建，优化，稳定，创新。为齐装网的发展提供的坚实的技术后盾，他们不断努力、学习新知、开拓创新、引入技术、建设网站。</p>

        <p>服务优势 </p>
        <p>齐装网是在广大客户的期盼中诞生和成长的专业装修网络平台。她的目标是让全国更多的业主更简单、更轻松的找到适合自己的装饰公司。她在每个城市里面层层把关，把各地不同规模、不同地点的优质装修公司集中到齐装网，真正的建立起了业主和装修公司、材料商家互通的网上桥梁。 完善的在线网络服务，对公司拓展服务领域，创新服务手段，提升服务水平，为客户提供专业化的服务提供有力支撑。齐装网在全国开通24小时服务专线，第一时间为客户提供咨询、处理投诉和客户回访等多功能、全面服务。</p>
    </div>
</block>

<block name="script">

</block>