<extend name="Common:basic"/>

<block name="link">
<notempty name="info.canonical">
<link rel="canonical" href="{$info.canonical}"/>
</notempty>
<link href="/assets/mobile/article/css/index.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
<link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<!-- <script src="//msite.baidu.com/sdk/c.js?appid=1575859058891466"></script> -->
<link href="/assets/mobile/meitu/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{$static_host}/assets/mobile/common/css/img-zoom.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="{$static_host}/assets/mobile/article/menucircle/menu_circle.css?v={:C('STATIC_VERSION')}" />
<meta property="og:image" content="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$info.article.face}" />
    <style>
        #q-a-z-dv{border-bottom: 1px solid #ccc; margin-top: 0.1rem;}
        .qz_ad_single_text{ margin-bottom: 0.05rem !important; }
        .qz_ad_multi_text{ margin-bottom: 0rem !important; }
        .qz_ad_multi_text .qz_ad_multi_text-title{ font-size: 0.126rem !important;}
        .pixiu-bd{width:100%; display: flex;}
        .pixiu-bd div{flex:1;height:0.5rem!important;overflow: hidden;}
        .pixiu-bd div.pixiu-bd-one{display:block;height:0.5rem!important;overflow: hidden;}
        .pixiu-bd div.pixiu-bd-two{display:block;height:0.5rem!important;overflow: hidden;}
        .pixiu-bd div.pixiu-bd-one img{display:block;height:0.5rem!important;}
        .pixiu-bd div.pixiu-bd-two img{display:block;height:0.5rem!important;}
        #pixiu-pid-29{background: #F2F2F2;padding-bottom: 0.00rem; padding-top:0rem;}
        #pixiu-pid-29 .qz_ad_single{margin-bottom:0.00rem !important;}
        #pixiu-pid-29{ position: relative; }
        .txt-ad{float: right;font-size: 6px !important;background: #A3A3A3;color: #fff;padding: 0 2px;position: absolute;bottom: 0.00rem;right: 0;}
        .other-article-text{ letter-spacing: 0;overflow: hidden; display: -webkit-box;text-overflow: ellipsis;-webkit-line-clamp: 3;  -webkit-box-orient: vertical;}
        .jxwdFooter{margin-bottom: 0.06rem !important;}
    </style>
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/"></a>
    <div class="m-header-tit">装修攻略</div>
</block>
<block name="content">

<article>
    <!--<div class="m-bread">
        <a href="/gonglue/">装修攻略</a> &gt;
        <a href="/gonglue/{$category.parent.shortname}/">{$category.parent.classname}</a> &gt;
        <a href="/gonglue/{$info.article.shortname}/">{$info.article.classname}</a> &gt;
        &lt;!&ndash;{$info.article.title}&ndash;&gt;
        正文
    </div>-->
    <!-- <div data-name="bdcambrian"><script>cambrian.render('head')</script></div> -->
    <div class="article">
        <div class="article-info">
            <p class="article-tit">{$info.article.title}</p>
            <empty name="info.article.addtime">
                <p class="article-time">{$info.article.optime|date="Y-m-d H:i:s",###}</p>
            <else />
                <p class="article-time">{$info.article.addtime|date="Y-m-d H:i:s",###}</p>
            </empty>
        </div>
        <div class="article-box hide-part">
            {$info.article.content}
            <div class="add-keywords">
                <ul>
                    <volist name="keywords" id="vo">
                        <li><a href="/zhishi/{$vo.id}/">{$vo.name}</a></li>
                    </volist>
                </ul>
            </div>
            <div class="show-more-article">
                <div class="click-getmore">查看全文 <i class="fa fa-angle-down"></i></div>
            </div>

        </div>
        <div class="assist" data-id="{$info.article.id}">
            <i class="fa fa-thumbs-up"></i>
            <span>{$info.article.likes|default="0"}</span>
        </div>

        
        <!-- 1147 -->
        <!--新增发单-->
        <div class="xorder-box new-baojia">
            <include file="Common/fadan" />
            <input type="hidden" class="source_new" value="20081139" />
            <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
        </div>

        <!-- tab页 -->
        <div class="zx-gonglue pb3" id="zx-gonglue"></div>
        <!-- 1147 -->

        <div class="p-inner-appentry-box">
            <div class="p-inner-appentry clearfix" data-name="p-inner-appentry" data-tag="M-8">
                <div class="left"><img src="/assets/mobile/common/img/app-qz-logo-new.png" alt=""></div>
                <div class="middle">
                    <span class="b">{:C('APP_OPEN_TITLE')}</span>
                    <span class="b">{:C('APP_OPEN_DESCRIPTION')}</span>
                </div>
                <div class="right"><span class="open" style="background: #FF5353;color: #fff;">去打开</span></div>
            </div>
        </div>

        <div id="q-a-z-dv-pos-15"></div>
        <if condition="$jsshow eq 1">
        <!-- <div id="baike-bd-1152">
            <a href="//gateway.shulidata.com/advertising/direct/ssp/h5/aggregation?mediaId=515217926384455826&adSpotId=515218290580066467" style="display: block;">
                <img src="//staticqn.qizuang.com/custom/20200819/FqQM54cuhGBrlIiC235L14eXz6JH" alt="" width="100%">
            </a>
        </div> -->
        </if>
    </div>
    <!-- <div class="other-article wonderful">
        <div class="other-article-box">
            <div class="other-article-word"><span class="red-block"></span>精彩推荐</div>
            <div class="other-article-list"> -->
                <!-- <div class="other-article-item"  style="height: auto">
                    <a href="https://m.qcc.com/?utm_source=qizuang&utm_medium=cpc&utm_term=%E6%96%87%E7%AB%A0%E8%AF%A6%E6%83%85%E9%A1%B5"
                    style="display: block;width: 100%;height: 100%;">
                        <img src="http://{:C('QINIU_DOMAIN')}/custom/20200413/FiiemmblPbhQiuzp6Lu_JURpanLL" alt="" style="display: block;width: 100%;height: 100%;">
                    </a>
                </div> -->
                <!-- <div class="other-article-item" style="height: auto"> -->
                    <!--S 商务DB-710-->
                    <!-- <script type="text/javascript" src="//bd888.qizuang.com/common/ez_wh/w_fyi/common/f.js"></script> -->
                    <!--E 商务DB-710-->
                <!-- </div> -->
                <!-- <div class="other-article-item" id="shejifd2">
                    <div class="other-article-img"><img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20180327/FlSDXY3CfSqNo88CoJ_htyH5xliT.png"></div>
                    <div class="other-article-text"><p>天呐,4套装修效果图册、设计方案免费拿,欲领从速</p></div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="baojia" id="jjys-ldy">
        <!-- <a href="/hongbao/" rel="nofollow"><img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20171113/Fr9j9oGNEs7n29Cx3Umf1-iJujjF.png"></a> -->
        <!-- <a href="/hongbao/" rel="nofollow"><img src="/assets/mobile/article/images/clickpic.png"></a> -->
        <!--<div class="swiper-container swiper-container2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/hdzt/21.html" rel="nofollow"><img src="/assets/mobile/article/images/gl.png?v={:C('STATIC_VERSION')}"></a>
                </div>
            </div>
        </div>-->
    </div>

    <div id="pixiu-bd-article-details-b2">
        <!--S 商务DB-449-->
        <!-- <script type="text/javascript" src="//bd888.qizuang.com/source/c_xu/ggu_wm/common/t.js"></script> -->
        <!--E 商务DB-449-->
    </div>


    <div class="other-article">
        <div class="other-article-box">
            <div class="other-article-word"><span class="red-block"></span>推荐阅读</div>
            <div class="other-article-list other-article-list2">
                <!-- <div class="other-article-item" style="height: 7em;"> -->
                    <!--S 商务DB-703-->
                    <!-- <script type="text/javascript" src="//bd888.qizuang.com/common/n/if/resource/q/e/arkf.js"></script> -->
                    <!--E 商务DB-703-->
                <!-- </div> -->
                <div class="other-article-item">
                    <a href="/qwdzjj/">
                        <div class="other-article-img"><img src="/assets/mobile/article/images/qwdz.png"></div>
                        <div class="other-article-text"><p>全屋定制 免费上门测量设计 轻松扩容30% 省时省心省力</p></div>
                    </a>
                </div>
                <volist name="info.recommendArticles" id="vo">
                    <div class="other-article-item">
                        <a href="/gonglue/{$vo.three_short_name}/{$vo.id}.html">
                            <div class="other-article-img"><img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vo.img_path}-w240.jpg"></div>
                            <div class="other-article-text"><p>{$vo.title}</p></div>
                        </a>
                    </div>
                    <!--推荐数据大于1条-->
                   <if condition="$countKey gt 1">
                        <if condition="$key eq 0">
                            <div class="other-article-item" id="baojiafd">
                                <div class="other-article-img"><img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20180327/FidIBj5PeBZ0dDXb8Aj4TJXJGV81.png"></div>
                                <div class="other-article-text"><p>一名业主晒出的记手账,详细记录各项装修费用,原来能省这么多钱</p></div>
                            </div>
                        </if>
                        <if condition="$key eq 1">
                            <div id="q-a-z-dv-pos-10"></div>
                            <div class="other-article-item" id="shejifd">
                                <div class="other-article-img"><img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20180327/FlSDXY3CfSqNo88CoJ_htyH5xliT.png"></div>
                                <div class="other-article-text"><p>天呐,4套装修效果图册、设计方案免费拿,欲领从速</p></div>
                            </div>
                        </if>
                    <else />
                        <include file="Common/yima_adv" ymid='ym-m-1' type="div" imgsrc="/webstatic/img/listpage.png"/>
                        <!--推荐数据为一条或者没有推荐数据-->
                        <div class="other-article-item" id="baojiafd">
                            <div class="other-article-img"><img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20180327/FidIBj5PeBZ0dDXb8Aj4TJXJGV81.png"></div>
                            <div class="other-article-text"><p>一名业主晒出的记手账,详细记录各项装修费用,原来能省这么多钱</p></div>
                        </div>
                        <div class="other-article-item" id="shejifd">
                            <div class="other-article-img"><img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20180327/FlSDXY3CfSqNo88CoJ_htyH5xliT.png"></div>
                            <div class="other-article-text"><p>天呐,4套装修效果图册、设计方案免费拿,欲领从速</p></div>
                        </div>

                    </if>
                </volist>
            </div>
        </div>
    </div>

    <!-- <div class="pixiu-bd"  id="pixiu-bd-article-details-b3"> -->
        <!--S 商务DB-609-->
        <!-- <script  src="https://m.fr4897.vip/fd/1014/s1423.js"></script> -->
        <!-- <div class="pixiu-bd-one"  id="pixiu-bd-article-details-b3-one">
            <script  src="https://m.fr4897.vip/fd/1014/s1423.js"></script>
        </div> -->
        <!--E 商务DB-609-->
        <!-- S 618 -->
        <!-- <div class="pixiu-bd-two"  id="pixiu-bd-article-details-b3-two">
            <script src='https://img.yunrong360.com/dsp/code/616.js' ></script>
        </div>  -->
        <!-- E 618-->
    <!-- </div> -->


    <!-- 装修手册 -->
    <div class="zhuangxiuwk">
        <div class="zhuangxiuwkbox">
            <div class="other-article-word"><span class="red-block"></span>装修手册</div>
            <ul class="tabdaoahgn">
                <volist name="info.tags" id="tag" key="k">
                <li <if condition="$k == 1">class="tabactive"</if>>{$tag.name}</li>
                </volist>
            </ul>
            <div class="tabcontent">
                <volist name="info.tags" id="tag" key="k">
                <ul class="tabcontentul <if condition="$k == 1">tabcontentshow</if>">
                    <volist name="tag.sub_tags" id="vo">
                    <li><if condition="!empty($vo['m_url'])"><a href="{$vo.m_url}">{$vo.name}</a><else/>{$vo.name}</if></li>
                    </volist>
                    <if condition="$k == 2"><li><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baojia/?src=xzh" class="guangaolink" target="_blank">免费获取报价清单</a></li></if>
                    <if condition="$k == 4"><li><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/sheji/?src=xzh" class="guangaolink" target="_blank" >0元获取装修设计方案</a></li></if>
                    <if condition="$k == 6"><li><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/hl/?src=xzh" class="guangaolink" target="_blank" >10秒测试装修吉日</a></li></if>
                </ul>
                </volist>
            </div>
        </div>
    </div>
    <!-- <div><script type="text/javascript" src="//bd888.qizuang.com/production/y_t_s/cizil/production/u.js"></script></div> -->
    <div id="q-a-z-dv-pos-25"></div>
    <!--面包屑导航移动到下方-->
    <div class="m-bread">
        <a href="/gonglue/">装修攻略</a> &gt;
        <a href="/gonglue/{$category.parent.shortname}/">{$category.parent.classname}</a> &gt;
        <a href="/gonglue/{$info.article.shortname}/">{$info.article.classname}</a> &gt;
        <!--{$info.article.title}-->
        正文
    </div>
</article>

    <div class="float-menu">
        <div class="menu-center">
            <div class="center-icon-view">
                <div class="center-icon"></div>
            </div>
        </div>
    </div>

    <div class="menu-kewei"><img src="/assets/mobile/article/images/kewei.png" alt=""></div>
    <!-- 弹层 -->
    <div class="opsi_bgc hide_none">
        <div class="opsi_opc">
            <div class="opsi_fff">
                <div class="imgtu">
                    <img src="//{:C('QINIU_DOMAIN')}/custom/20201209/FgbKTBM1DhCtO1gJjUbr6KuMdtvs" alt="">
                </div>
                <div class="erwei_ke"><img src="" alt=""></div>
                <p>微信扫一扫，添加客服微信</p>
            </div>
            <!-- 按钮 -->
            <div class="biniu">
                <img src="//{:C('QINIU_DOMAIN')}/custom/20201209/FmtDbyt39f6zx52dHzvtnEDRsJ22" alt="">
            </div>
        </div>
    </div>

    <include file="Common:baojia" />
    <include file="Common:sheji-3" />
    <include file="Common/footfadantc"/>
    <a class="jjys-activity" href="{$SCHEME_HOST.scheme_full}h5.qizuang.com/activity/jjys?from=m&src=jj-xf1"></a>
</block>


<block name="script">
    <!-- <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script> -->
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{$static_host}/assets/mobile/common/js/mui.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{$static_host}/assets/mobile/common/js/mui.zoom.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{$static_host}/assets/mobile/common/js/mui.previewimage.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/qzgold/js/qz_gold.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/article/menucircle/menu_circle_back.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/article/js/index.js?v={:C('STATIC_VERSION')}"></script>
    <!-- js代码 -->
    <script type="text/javascript">
        var cityId = "{$cityInfo.id}";
        // 调用貔貅
        qzInsertGold('#q-a-z-dv-pos-10', 10, cityId)
        qzInsertGold('#q-a-z-dv-pos-15', 15, cityId)
        qzInsertGold('#q-a-z-dv-pos-25', 25, cityId)

        var adurl = window.location.href;
        if(adurl.indexOf("gonglue/jxwd/") > -1 || adurl.indexOf("gonglue/dzjxwd/") > -1){
            $(".daohang-box #new-app-erji").hide()
            $("#new-app-erji").hide()
            $(".p-inner-appentry-box").hide()
            $(".footer-app-download").hide()
            $("#pixiu-bd-article-details-b2").hide()
            $("#footer .footer-title").addClass("jxwdFooter")
            $(".wonderful").hide()
        }

        $(function(){
            $('.zhuangxiuwkbox').on('click','.tabdaoahgn li',function(){
              var tabindex=$(this).index();
              $(this).addClass('tabactive');
              $(this).siblings().removeClass('tabactive');
              $('.tabcontentul').eq(tabindex).addClass('tabcontentshow');
              $('.tabcontentul').eq(tabindex).siblings().removeClass('tabcontentshow');

          })

            //推荐文章中第二条和第四条数据跳转报价发单和设计发单
            $('#baojiafd').click(function() {

                $('#calculator').find('input').val("");
                $('#calculator').show();
            });

            $("#shejifd").on("click",function(){
                $("#calculator3").fadeIn();
                $("body").css("position","fixed");
            });

            $("#shejifd2").on("click",function(){
                $("#calculator3").fadeIn();
                $("body").css("position","fixed");
            });

            // 获取随机数的方法
            function GetRandomNum(Min,Max){
                var Range = Max - Min;
                var Rand = Math.random();
                return(Min + Math.round(Rand * Range));
            }
            // 随机数
            var timer = setInterval(function(){
                var num = GetRandomNum(30000,120000)+'';
                if(num<99999){
                    var num1 = 'num num-gray',
                        num2 = 'num num-' + num.charAt(0),
                        num3 = 'num num-' + num.charAt(1),
                        num4 = 'num num-' + num.charAt(2),
                        num5 = 'num num-' + num.charAt(3),
                        num6 = 'num num-' + num.charAt(4);
                }else{
                    var num1 = 'num num-' + num.charAt(0),
                        num2 = 'num num-' + num.charAt(1),
                        num3 = 'num num-' + num.charAt(2),
                        num4 = 'num num-' + num.charAt(3),
                        num5 = 'num num-' + num.charAt(4),
                        num6 = 'num num-' + num.charAt(5);
                }
                $('#num-1').removeClass().addClass(num1);
                $('#num-2').removeClass().addClass(num2);
                $('#num-3').removeClass().addClass(num3);
                $('#num-4').removeClass().addClass(num4);
                $('#num-5').removeClass().addClass(num5);
                $('#num-6').removeClass().addClass(num6);

            },400);

            //跳转到报价页
            $('.jisuanbaojai .tiaozhuan').click(function(event) {
                var mianji = $('.jisuanbaojai input[name=mianji]').val();
                if (!mianji) {
                    alert('请输入您的房屋面积');
                    return false;
                } else {
                        var reg = /^(-?\d+)(\.\d+)?$/;
                        if(!reg.test(mianji)){
                            alert('房屋面积必须为数字');
                            return false;
                        } else {
                            if (mianji < 1 || mianji > 10000) {
                                alert('房屋面积请输入1-10000之间的数字 ^_^!');
                                return false;
                            }
                        }
                }
                window.location.href = '/baojia/?mianji=' + mianji;
            });

            //提交发单
            $('.save-submit').on('click',function() {


                window.order({
                    extra:{
                        cs:$('input[name=city]').attr('data-id'),
                        qx:$('input[name=area]').attr('data-id'),
                        mianji:$(".m-bj-edit input[name=mianji]").val(),
                        tel:$(".m-bj-edit input[name=tel-number]").val(),
                        fb_type:'baojia',
                        save:1
                    },
                    submitBtn:{
                        className:$(this),
                        type:'btn'
                    },
                    error:function(){
                        alert("发生了未知的错误,请稍后再试！");

                    },
                    success:function(data, status, xhr){

                        if(data.status == 1){
                            window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/details/";
                        }else{
                            alert(data.info);
                        }
                    },
                    validate:function(item, value, method, info){
                        if ('cs' == item && 'notempty' == method) {
                            alert(info);
                            return false;
                        };
                        if ('mianji' == item && '' != method) {
                            alert(info);
                            $(".m-bj-edit input[name=mianji]").val("");
                            $(".m-bj-edit input[name=mianji]").focus();
                            return false;
                        };
                        if ('tel' == item && 'notempty' == method) {
                            $(".m-bj-edit input[name=tel-number]").focus();
                            alert(info);
                            return false;
                        };
                        if ('tel' == item && 'ismobile' == method) {
                            $(".m-bj-edit input[name=tel-number]").focus();
                            alert(info);
                            return false;
                        };

                        return true;
                    }
                });
            });


            $(".assist").click(function(event) {
                var _this = $(this);
                $.ajax({
                    url: '/dolike/',
                    type: 'POST',
                    dataType: 'JSON',
                    data:{
                        id:_this.attr("data-id")
                    }
                })
                .done(function(data) {
                    if(data.status == 1){
                        _this.unbind("click");
                        var i = _this.find("span").text();
                        i = parseInt(i)+1;
                        _this.find("span").html(i);
                    }
                });
            });
            
     
            $(".menu-kewei").on("click",function(){
                $(".opsi_bgc").removeClass("hide_none")
                mathRandom()
            })
            $(".biniu").on("click",function(){
                $(".opsi_bgc").addClass("hide_none")
            })
            // 随机二维码
            function mathRandom() {
                var path = ''
                var randoms = parseInt(Math.random()*2)
                switch(randoms) {
                    case 0:
                        path = '//staticqn.qizuang.com/custom/20201209/FpJ6Zs0pXcWTKivEIkwiTw70J68l'
                        break;
                    case 1:
                        path = '//staticqn.qizuang.com/custom/20201209/FnRJvqtcfzXQPb4yQiVsvkkxa9IN'
                        break;
                }
                $('.erwei_ke>img').attr('src', path)
            }
            

        });
        $(function () {
            $('.article-box p').children("img").attr({
                "data-preview-src" :"" ,
                "data-preview-group" : "1"
            })
            mui.previewImage();
            mui('body').on( 'tap' , 'a' , function(){
                document.location.href=this.href;
            } )
        });
        // 单图的轮播图
        var mySwiper1 = new Swiper('.swiper-container2', {
            //移动端轮播
            autoplayDisableOnInteraction : false,
            loop : true,
            loopedSlides: 4,
            autoplay: 3000,//可选选项，自动滑动
            initialSlide :0,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true,//修改swiper的父元素时，自动初始化swiper
        });
        // 点击查看全文
        $(".click-getmore").click(function(){
            $(".show-more-article").remove();
            $(".article-box").removeClass('hide-part')
        });

    </script>
    
    <neq name="info.article.shortname" value="jxwd">
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "{$baidu.url}",
             "appid": "1575859058891466",
            "title": "{$info.article.title}",
            "images": [
                "{$images.0}",
                "{$images.1}",
                "{$images.2}"
                ],
            "description":"{$baidu.str}",
            "pubDate": "{$baidu.optime}",
            "upDate": "{:date('Y-m-d\\TH:i:s')}"
        }
    </script>
    </neq>

    <script>
        let shortname = "{$info.article.shortname}"
        if(shortname == 'jxwd' || shortname == 'dzjxwd'){
            $(".menu-kewei").addClass("hide_none")
        }
    </script>

    <eq name="info.article.shortname" value="jxwd">
    <script type="application/ld+json" >
        
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "https://{$SCHEME_HOST.host}{$_SERVER['REQUEST_URI']}",
            "appid": "1575859058891466",
            "title": "{$info.article.title}",
            "images": [
                "https:{$images.0}"
            ],
            "description": "{$info.article.subtitle|mb_substr=0,30}",
            "pubDate": "{$info.article.addtime|date='Y-m-d\\TH:i:s',###}",
            "upDate": "{$info.article.addtime|date='Y-m-d\\TH:i:s',###}",
            "data": {
                "WebPage": {
                    "headline": "{$info.article.title}",
                    "fromSrc": "齐装网",
                    "domain": "房产家居",
                    "category": [
                        "问答"
                    ],
                    "isDeleted": 0
                },
                "Question": [
                    {
                        "acceptedAnswer": "{$info.article.short_introduction}"
                    }
                ],
                "ImageObject": [
                    {
                        "contentUrl": "https:{$images.0}",
                        "scale": "5:2"
                    }
                ],
                "Author": [
                    {
                        "name": "齐装网",
                        "jobTitle": [
                            "有房要装，就上齐装"
                        ],
                        "headPortrait": "https://{:C('QINIU_DOMAIN')}/custom/20200909/FoFbLWKwMWfcHLK65U40wYlsW2jW.jpg"
                    }
                ]
            }
        }
    </script>
    </eq>

    <!-- 1399科技问答 -->
    <eq name="info.article.shortname" value="dzjxwd">
        <script type="application/ld+json" >
            {
                "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
                "images": [
                    "https:{$images.0}"
                ],
                "description": "{$info.article.subtitle|mb_substr=0,30}",
                "pubDate": "{$info.article.addtime|date='Y-m-d\\TH:i:s',###}",
                "upDate": "{$info.article.addtime|date='Y-m-d\\TH:i:s',###}",
                "data": {
                    "WebPage": {
                        "fromSrc": "齐装网",
                        "category": [
                            "问答"
                        ],
                        "isDeleted": 0,
                        "domain": "电子科技",
                        "headline": "{$info.article.title}"
                    },
                    "Question": [
                        {
                            "acceptedAnswer": "{$info.article.short_introduction}"
                        }
                    ],
                    "ImageObject": [
                        {
                            "contentUrl": "https:{$images.0}",
                            "scale": "5:2"
                        }
                    ],
                    "Author": [
                        {
                            "name": "齐装网",
                            "jobTitle": [
                                "有房要装，就上齐装"
                            ],
                            "headPortrait": "https://{:C('QINIU_DOMAIN')}/custom/20200909/FoFbLWKwMWfcHLK65U40wYlsW2jW.jpg"
                        }
                    ],
                    "TechInfo": {
                        "systemVersion": "{$info.article.system_version}",
                        "appVersion": "{$info.article.app_version}",
                        "brandModel": "{$info.article.brand_model}"
                    }
                },
                "title": "{$info.article.title}",
                "appid": "1575859058891466",
                "@id": "https://{$SCHEME_HOST.host}{$_SERVER['REQUEST_URI']}"
            }
        </script>
    </eq>
</block>
