@import "../../../styles/public.css";

.hui{
    height: 60rpx;
    line-height: 60rpx;
    padding: 0 20rpx;
    background: #FFEAD3;
    font-size: 24rpx;
    color: #FF7A2A;
    position: relative;
}
.hui image{
    width: 48rpx;
    height: 48rpx;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20rpx;
    margin: auto;
}
.hui .hui-tit{
    display: inline-block;
    width: 32rpx;
    height: 32rpx;
    text-align: center;
    line-height: 32rpx;
    background: #FF7A2A;
    font-size: 24rpx;
    color: #fff;
    border-radius: 4rpx;
    margin-right: 20rpx;
}
.swiper-wrap{
    position: relative;
}
.swiper-wrap .swiper{
    height: 420rpx;
}
.swiper-wrap .swiper .img{
    width: 100%;
    height: 100%;
}
.swiper-wrap .dots{
    position: absolute;
    right: 24rpx;
    bottom: 24rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74rpx;
    height: 36rpx;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 18rpx;
    color: #fff;
    font-size: 22rpx;
}
.mode{
    width: 100%;
    overflow: hidden;
    padding: 0 30rpx;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 20rpx solid #F7F7F7;
}
.mode .title{
    height: 102rpx;
    display: flex;
    align-items: center;
    font-size: 36rpx;
    font-weight: bold;
    color: #333333;
}
.mode .title .line{
    width: 8rpx;
    height: 36rpx;
    background: #DB2B2B;
    margin-right: 15rpx;
}
.pics{
    display: flex;
    align-items: center;
    padding-bottom: 24rpx;
    border-bottom: 1rpx solid #DDDDDD;
}
.pics image{
    height: 36rpx;
    width: 135rpx;
    margin-right: 10rpx;
}
.pics image.bzj{
    height: 36rpx;
    width: 165rpx;
    margin-right: 10rpx;
}
.biaoq{
    padding-bottom: 10rpx;
    border-bottom: 1rpx solid #DDDDDD;
}
.biaoq .tips{
    display: flex;
    align-items: center;
}
.biaoq .tips text{
    height: 40rpx;
    background: #FFF5F5;
    border-radius: 4rpx;
    font-size: 24rpx;
    font-weight: 500;
    color: #DB2C2C;
    padding:0 12rpx;
    line-height: 40rpx;
    margin: 20rpx 0;
    margin-right: 10rpx;
}
.biaoq .star{
    display: flex;
    align-items: center;
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
}
.biaoq .star .xins{
    display: flex;
    align-items: center;
    margin-right: 12rpx;
}
.biaoq .star .xins image{
    width: 23rpx;
    height: 21rpx;
    margin-right: 2rpx;
}
.biaoq .count{
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #656565;
}
.biaoq .count .item{
    display: inline-block;
    border-right: 1rpx solid #666666;
    height: 26rpx;
    line-height: 26rpx;
    padding-right: 10rpx;
    margin: 20rpx 0;
    margin-right: 10rpx;
    font-size: 24rpx;
    font-weight: 500;
    color: #656565;
}
.biaoq .count .item:last-child{
    border-right: 0;
}
.address{
    padding: 24rpx 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address .name{
    width: 86%;
    overflow: hidden;
    border-right: 1rpx solid #DDDDDD;
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
    line-height: 36rpx;
    display: flex;
    align-items: center;
    padding-right: 20rpx;
}
.address .name image{
    width: 24rpx;
    height: 24rpx;
    margin-right: 10rpx;
}
.address .name .des{
    width: 548rpx;
}
.address .tel{
  width: 48rpx;
  height: 48rpx;
}
/* 荣耀 */
.honour{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 30rpx 20rpx;
    box-sizing: border-box;
    border-bottom: 20rpx solid #F7F7F7;
}
.honour .include{
    width: 25%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.honour .include image{
    width: 80rpx;
    height: 80rpx;
}
.honour .include .name{
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
    line-height: 50rpx;
}
.honour .include .nums{
    font-size: 24rpx;
    font-weight: 500;
    color: #656565;
}
/* 优惠活动 */
.hiddenmore{
    max-height:440rpx;
    overflow: hidden;
}
.img{
    transition: All 0.4s ease;
    -webkit-transition: All 0.4s ease;
}
.rotateRight{
    transform: rotate(180deg);
    transition: All 0.4s ease;
    -webkit-transition: All 0.4s ease;
}
.hui{
    display: flex;
    align-items: center;
}
.hui_text{
    display: inline-block;
    width:420rpx;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.hui-list{
    width: 690rpx;
    height: 180rpx;
    background: url("../../../images/hui_bg.png") no-repeat;
    background-size: 100%;
    position: relative;
    margin-bottom: 40rpx;
    overflow: hidden;
}
.hui-list .hui-left{
    width: 33%;
    display: inline-block;
}
.hui-left view{
    text-align: center;
}
.hui-left .edu{
    height:80rpx;
    line-height:80rpx;
    overflow: hidden;
    font-size: 42rpx;
    color: #DB2C2C;
    font-weight: bold;
}
.hui-left .edu text{
    font-size: 22rpx;
}
.hui-left .condition{
    font-size: 22rpx;
    color: #DB2C2C;
}
.hui-list .hui-right{
    width: 67%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 30rpx;
}
.hui-right .hui-title{
    max-width: 270rpx;
    font-size: 28rpx;
    color: #333;
    font-weight: bold;
    margin: 46rpx 0 24rpx;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.hui-right .hui-time{
    font-size: 20rpx;
    color: #999;
}
.hui-list .get-btn{
    position: absolute;
    width: 130rpx;
    height: 44rpx;
    color: #DB2C2C;
    font-size: 24rpx;
    font-weight: bold;
    border:2rpx solid #DB2C2C;
    text-align: center;
    line-height: 44rpx;
    border-radius: 24rpx;
    top: 66rpx;
    right: 20rpx;
}
.more-quan{
    text-align: center;
    margin-bottom: 40rpx;
    color: #DB2C2C;
    font-size: 24rpx;
}
.more-quan image{
    width: 15rpx;
    height: 16rpx;
    margin-left: 10rpx;
}
/* 优惠活动弹窗 */
.hui-bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.hui-box{
    width: 630rpx;
    height: 672rpx;
    background: url('../../../images/window_bg.png') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.hui-bg .close-dialog{
    display: block;
    width: 44rpx;
    height: 44rpx;
    position: absolute;
    right: 10rpx;
    top: 0;
}
.hui-box .hui-dialog-tit{
    font-size: 42rpx;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 120rpx;
}
.hui-box .hui-hd{
    width: 550rpx;
    height: 170rpx;
    background: url("../../../images/hui_bg_small.png") no-repeat;
    background-size: 100% 100%;
    margin: 26rpx auto 0;
}
.hui-box .hui-hd .hui-left{
    width: 41%;
    display: inline-block;
}
.hui-box .hui-hd .hui-right{
    width: 59%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 30rpx;
}
.hui-box .order-box{
    width: 570rpx;
    margin: 80rpx auto 0;
}
.order-box .phone{
    margin-bottom: 20rpx;
}
.order-box .phone input{
    width: 100%;
    height: 88rpx;
    font-size: 28rpx;
    background: #fff;
    box-sizing: border-box;
    padding-left: 30rpx;
    border-radius: 8rpx;
}

.mianze {
    font-size: 24rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    display: flex;
    align-items: center;
    line-height: 40rpx;
    height: 40rpx;
    margin-bottom: 20rpx;
}
.mianze text{
    color: #fff;
}
.mianze .sm {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1rpx solid #fff;
}
.check-box .swan-checkbox-input {
    width: 30rpx;
    height: 30rpx;
    border-radius: 0;
}
.hui-box .check-box{
    position: relative;
    top:-4rpx;
}
.hui-box .check-box[checked="true"] .swan-checkbox-input:after {
    width: 32rpx;
    height: 32rpx;
    background-color: #E9253C;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.get-hui-btn{
    width: 100%;
    height: 80rpx;
    background: #FFD750;
    color: #DB2C2C;
    font-size: 28rpx;
    text-align: center;
    line-height: 80rpx;
    border-radius: 8rpx;
    font-weight: bold;
    margin-top: 16rpx;
}
/* 发单成功 */
.order-success,.order-unsuccess{
    width: 630rpx;
    height: 434rpx;
    background: #fff;
    border-radius: 20rpx;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.success-icon{
    display: block;
    width: 220rpx;
    height: 200rpx;
    margin: 54rpx auto 30rpx;
}
.success-tit{
    font-size: 32rpx;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30rpx;
}
.success-tips{
    font-size: 24rpx;
    color: #999;
    text-align: center;
}
/* 预约服务 */
.mode .sever{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.sever .tc{
    margin:5rpx;
    margin-bottom: 40rpx;
    width: 210rpx;
    height: 240rpx;
    background: #FFFFFF;
    box-shadow: 0rpx 0rpx 10rpx 0rpx rgba(0, 0, 0, 0.1);
    border-radius: 8rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding-top: 26rpx;
    box-sizing: border-box;
}
.tc image{
    width: 48rpx;
    height: 48rpx;
    margin-bottom: 8rpx;
}
.tc .name{
    font-size: 28rpx;
    font-weight: bold;
    color: #333333;
    line-height: 46rpx;
}
.tc .nums{
    font-size: 24rpx;
    font-weight: 500;
    color: #DB2C2C;
    line-height: 30rpx;
    margin-bottom: 20rpx;
}
.tc .btn{
    width: 156rpx;
    height: 44rpx;
    background: #DB2B2B;
    border-radius: 22rpx;
    font-size: 22rpx;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 44rpx;
}
/* 装修现场 */
.gt{
    width: 24rpx;
    height: 24rpx;
    margin-left: 6rpx;
}
.gd .title{
    display: flex;
    justify-content: space-between;
}
.gd .title .left{
    display: flex;
    align-items: center;
}
.gd .title .right{
    display: flex;
    align-items: center;
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
}
.xc .ul{
    overflow: hidden;
}
.xc .ul .li{
    overflow: hidden;
    padding: 32rpx 0;
    border-bottom: 1rpx solid #DDDDDD;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.xc .ul .li:last-child{
    border: none;
}
.xc .ul .li:first-child{
    padding-top: 10rpx;
}
.xc .li image{
    width: 220rpx;
    height: 165rpx;
    border-radius: 4rpx;
}
.xc .li .xcright{
    width: 450rpx;
    height: 165rpx;
    margin-left: 20rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.xcright .top .xctitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: #000000;
}
.xcright .top .xctitle .tag{
    padding: 0 12rpx;
    height: 36rpx;
    background: #FFF5F5;
    border-radius: 4px;
    font-size: 22rpx;
    font-weight: 500;
    color: #DB2C2C;
    line-height: 36rpx;
}
.xcright .top .lie{
    font-size: 22rpx;
    font-weight: 500;
    color: #656565;
    line-height: 48rpx;
}
.xcright .gowg{
    font-size: 22rpx;
    font-weight: 500;
    color: #333333;
    margin-bottom: 20rpx;
}
/* 真实案例，设计师，业主评价，装修现场分类切换 */
/* 头部样式 */
.cartView{
    width: 750rpx;
    border-bottom: 20rpx solid #F7F7F7;
}
.cartNav{
    width: 750rpx;
    display: flex;
    justify-content: space-around;
    border-bottom: 2rpx solid #DEDEDE;
}
.cartItem{
    height: 83rpx;
    text-align: center;
}
.activeclass{
    border-bottom:8rpx solid #DC2C2C;
    color:#DC2D2D;
}
.cartItemtext{
    width: 96rpx;
    height: 83rpx;
    text-align: center;
    font-size: 24rpx;
    padding-top: 30rpx;
    padding-bottom: 26rpx;
    box-sizing: border-box;

}
/* 真实案例里的样式 */
.realView{
     width:750rpx;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30rpx;
    box-sizing: border-box;
}
.realViewitem{
    width:335rpx;
    height:335rpx;
    margin-bottom: 36rpx;
    box-sizing: border-box;
}
.imgView{
    width:335rpx;
    height:250rpx;
}
.realImg{
    width:335rpx;
    height:250rpx;
    border-radius:10rpx;
}
.realtit{
    height:30rpx;
    line-height:30rpx;
    font-size:28rpx;
    color: #343434;
    margin-top: 19rpx;
    margin-bottom:12rpx;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.realText{
    display: flex;
    justify-content: space-between;
    font-size:25rpx;
    color: #9A9A9A;
}
.goreal{
    width:750rpx;
    font-size:24rpx;
    margin-top:10rpx;
    text-align: center;
    font-weight: 500;
}
/* 设计师里的样式 */
.designer-list{
    margin: 30rpx;
    padding-bottom: 30rpx;
    border-bottom: 1px solid #DDDDDD;
}
.designer-list:last-child{
    border-bottom: none;
}
.designer-list .designer-info{
    height: 80rpx;
    position: relative;
    margin-bottom: 20rpx;
}
.designer-list .designer-info image{
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.designer-list .designer-info view{
    height: 40rpx;
    line-height: 40rpx;
    padding-left: 100rpx;
    display: flex;
    align-items: center;
}
.designer-list .designer-info view .name{
    font-size: 28rpx;
    color: #333;
    font-weight: bold;
    margin-right: 20rpx;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.designer-list .designer-info view .position{
    font-size: 22rpx;
    color: #999;
    display: inline-block;
}
.designer-list .designer-info view .time{
    font-size: 24rpx;
    color: #333;
    margin-right: 30rpx;
}
.designer-list .designer-info view .works{
    font-size: 24rpx;
    color: #333;
}
.designer-list .designer-imgs image{
    width: 220rpx;
    height: 164rpx;
    margin-right: 14rpx;
    border-radius: 4rpx;
}
.designer-list .designer-imgs image:last-child{
    margin-right: 0;
}
.bornone{
    border-bottom:none;
    padding-bottom:0;
}
.godesigner{
    width:750rpx;
    font-size:24rpx;
    text-align: center;
    margin-bottom:39rpx;
    margin-top:49rpx;
    font-weight: 500;
}

/* 业主评价里的样式 */
.ownerView{
    width: 750rpx;
    padding-top:40rpx;
    box-sizing: border-box;
}
.goowner{
    width:750rpx;
    font-size:24rpx;
    text-align: center;
    margin-bottom:40rpx;
    margin-top:18rpx;
    font-weight: 500;
}
.onOff{
    font-size:24rpx;
    color:#399BFF;
    margin-top:8rpx;
}
/* 装修现场里的样式 */
.siteView{
    width: 750rpx;
    padding-top:40rpx;
    box-sizing: border-box;
}
.gosite{
    width:750rpx;
    font-size:24rpx;
    text-align: center;
    margin-bottom:40rpx;
    margin-top:18rpx;
    font-weight: 500;
}
/* 业主评价 */
.dp .dpul{
    overflow: hidden;
}
.dp .dpul .dpli{
    overflow: hidden;
    margin-bottom: 30rpx;
}
.dp .dpul .dpli:last-child{
    margin-bottom: 0;
}
.dp .dpul .dpli .head{
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
    float: left;
}
.dp .dpul .dpli .right{
    width: 590rpx;
    padding-bottom: 30rpx;
    border-bottom: 1rpx solid #DDDDDD;
    overflow: hidden;
    float: right;
}
.dp .dpul .dpli:last-child .right{
    border: none;
    padding-bottom: 0;
}
.dpli .right .heads{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36rpx;
}
.dpli .right .heads .name{
    display: flex;
    align-items: center;
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
}
.dpli .right .heads .name .yh{
    max-width: 300rpx;
    height: 36rpx;
    line-height: 36rpx;
    overflow: hidden;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.dpli .right .heads .name .jd{
    height: 36rpx;
    background: #FFF5F5;
    border-radius: 4rpx;
    padding: 0 12rpx;
    font-size: 22rpx;
    font-weight: 500;
    color: #DB2C2C;
    line-height: 36rpx;
    margin-left: 14rpx;
}
.dpli .right .heads .rq{
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
}
.dpli .right .score{
   height: 50rpx;
   display: flex;
   align-items: center;
    font-size: 24rpx;
    font-weight: 500;
    color: #656565;
    overflow: hidden;
}
.dpli .right .score .xins {
    height: 50rpx;
    display: flex;
    align-items: center;
    margin-left: 10rpx;
}
.dpli .right .score .xins image{
    width: 23rpx;
    height: 21rpx;
    margin-right: 2rpx;
}
.right .pl .des{
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
    line-height: 40rpx;
}
/* 新增展开收起 */
.showDes{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.right .pl .image{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    justify-content: space-between;
    margin-top: 20rpx;
    margin-bottom: 10rpx;
}
.right .pl .image image{
    width: 190rpx;
    height: 190rpx;
    border-radius: 4rpx;
    margin-bottom: 10rpx;
}
.right .pl .image:after{
    content: '';
    width: 190rpx;
 }
 .right .pl .hf{
     width: 100%;
    height: auto;
    overflow: hidden;
    background: #F7F7F7;
    border-radius: 8rpx;
    padding: 0 20rpx 10rpx;
    box-sizing: border-box;
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
    line-height: 40rpx;
 }
 .right .pl .hf .place{
    height: 56rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
 }
 .dp .jcmore{
     height: 100rpx;
     display: flex;
     align-items: center;
     justify-content: center;
    font-size: 24rpx;
    font-weight: bold;
    color: #333333;
 }
 .dp .jcmore image{
     width: 30rpx;
     height: 20rpx;
     margin-left: 10rpx;
 }
 /* 商家信息 */
 .xinx .xinxCon{
     overflow: hidden;
 }
 .xinx .xinxCon .xitem{
    font-size: 24rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 40rpx;
    overflow: hidden;
    margin-bottom: 30rpx;
 }
 .xinx .xinxCon .xitem:last-child{
     margin-bottom: 50rpx;
 }
 .xinx .xinxCon .xitem .name{
     float: left;
     color: #999999;
     width: 18%;
 }
 .xinx .xinxCon .xitem .contents{
    float: left;
    width: 82%;
}
.xinx .xinxCon .xitem .contents .tips{
    display: inline-block;
    margin-right: 20rpx;
}
.xinx .xinxCon .xitem .contents .tips image{
    display: inline-block;
    width: 20rpx;
    height: 20rpx;
    margin-right: 8rpx;
}
.xinx{
    border-bottom: 0;
}

/* 免责声明checkbox样式 S */
.check-box .swan-checkbox-input {
    width: 30rpx;
    height: 30rpx;
    border-radius: 0;
}
.check-box[checked="true"] .swan-checkbox-input:after {
    width: 32rpx;
    height: 32rpx;
    background-color: crimson;
}
/* 免责声明checkbox样式 E */