.idea
.vscode
VERSION

ali/qz_zxzs/.idea/
ali/qz_zxzs/.tea/
ali/qz_zxzs/debug.log
weixin/copytool/runtime/
weixin/copytool/runtime/*
weixin/qz_mobile/utils/request.js
weixin/qz_mobile/project.config.json
baidu/qz_baidu/project.swan.json
baidu/qz_baidu_feature_house/project.swan.json
baidu/qz_baidu_bj/project.swan.json
baidu/qz_baidu_sj/project.swan.json
