.head {
  position: relative;
}
.head img {
  display: block;
  width: 100%;
  height: 1.8rem;
  background: #eee;
}
.head .num {
  width: 45px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background:rgba(0,0,0,1);
  opacity:0.5;
  border-radius:16px;
  color: #fff;
  position: absolute;
  right: 0.135rem;
  bottom: 0.135rem;
  font-size: 12px;
}
.main {
  background:rgba(245,245,245,1);
}
.main .title {
  text-align: center;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  padding: 0.135rem 0;
}
.main .title-540{
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding: 0.135rem 0;
    max-width: 6em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
}
.info {
  margin: 0 0.135rem;
  background: #fff;
  border-radius: 8px;
  padding: 0.135rem;
}
.info .yuan {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #999;
  float: left;
  position: absolute;
  left: 0;
  margin: 5px;
}
.info .sp1 {
  font-size: 14px;
  color: #999;
  float: left;
  margin-left: 20px;
}
.list ul {
  margin: 0 0.135rem;
}
.list ul li {
  /* height: 1.656rem; */
  margin-bottom: 15px;
}
.list ul li img {
  display: block;
  width: 100%;
  /* height: 100%; */
}
.mui-preview-image.mui-fullscreen {
  background-color: rgba(0,0,0,1)
}
.mui-preview-header {
  display: none;
}
.footfadan {
  z-index: 10!important;
}
.fadanwrap-yinying {
  z-index: 2!important;
}
.p-info {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
}
header .m-header-tit {
  width: 32%;
  height: 50px;
  margin-left: 37%;
  overflow: hidden;
}
header .m-header-tit-540{
    text-align:center; margin: 0 auto; max-width: 6em;overflow: hidden;white-space:nowrap;
}
.info .xq-name {
  height: 20px;
  position: relative;
}
.info .xq-name .xq-title {
  width: 70%;
  line-height: 20px;
  position: absolute;
  top: 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.info .style {
  height: 20px;
  line-height: 20px;
  position: relative;
}
.info .style span {
  display: inline-block;

}
.related-identify ul {
  margin: 0 0.135rem;
}
.related-identify ul li {
  float: left;
  width: 33.33%;
  font-size: 13px;
  height: 16px;
  overflow: hidden;
  margin-bottom: 5px;
}