[Unit]
Description=qzsms app
After=network.target
Requires=network.target

[Service]
Type=simple
User=www
Restart=always
RestartSec=5s
TimeoutStartSec=0

WorkingDirectory=/data/app/qzsms/
ExecStart=/data/app/qzsms/qzsms


[Install]
WantedBy=multi-user.target