<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-12 control-label" style="text-align: left;">{$userinfo.jc}:</label>
    </div>
    <volist name="list" id="item">
    <div class="form-group">
        <label class="col-sm-12 control-label" style="text-align: left;">
            <eq name="item.operation_type" value="1">
                加款日期：&nbsp;{$item.created_date}&nbsp;
                <eq name="item.account_type" value="1">
                    加款金额：&nbsp;{$item.trade_amount}&nbsp;
                <else />
                    保证金金额：&nbsp;{$item.trade_amount}&nbsp;
                </eq>
            <else />
                扣款日期：&nbsp;{$item.created_date}&nbsp;
                <eq name="item.account_type" value="1">
                    扣款金额：&nbsp;-{$item.trade_amount}&nbsp;
                <else />
                    保证金金额：&nbsp;-{$item.trade_amount}&nbsp;
                </eq>
            </eq>
            操作人：&nbsp;{$item.operator_name}
        </label>
    </div>
   </volist>
</form>