<extend name="Common:basic"/>
<block name="keywords"><meta name="keywords" content="装修保障，装修服务，装修纠纷，装修维权" /></block>
<block name="description"><meta name="description" content="齐装保装修保障服务为广大装修业主提供最优的保障，解决装修纠纷问题，有问题能够第一时间处理，让您不再为装修而烦恼，省时省力不烦心！" /></block>
<block name="title"><title>装修保障服务-装修纠纷维权</title></block>
<block name="link">
    <link href="/assets/mobile/luodiye/css/bao.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css">
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit">齐装保</div>
</block>
<block name="content">
    <div class="bao-box">
        <div class="bao-banner">
            <img src="/assets/mobile/luodiye/img/banner1.png" />
        </div>
        <div class="bao-fadanbox">
            <div class="bao-fadan">
                <p class="fadan-tit">深耕互联网装修8载</p>
                <p class="fadan-stit">
                    <span class="line"></span>
                    <span>比熟人更靠谱</span>
                    <span class="line"></span>
                </p>
                <ul class="m-bj-edit">
                    <li>
                        <gt name="mapUseInfo.vipcount" value="0">
                            <button id="showCityPicker2" class="c-zb-city" type="button">
                                <i class="fa fa-map-marker"></i>
                                <empty name="info.cityarea">
                                    请选择您所在的区域
                                    <else />
                                    {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                                </empty>
                            </button>
                            <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                            <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                            <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                            <else />
                            <button id="showCityPicker2" class="c-zb-city" type="button">
                                <i class="fa fa-map-marker"></i>
                                请选择您所在的区域
                            </button>
                            <input type="hidden" name="province" data-id="">
                            <input type="hidden" name="city" data-id="">
                            <input type="hidden" name="area" data-id="">
                        </gt>
                    </li>
                    <li>
                        <input class="m-row-int1 m-bj-edit-list" type="tel" name="tel" maxlength="11" placeholder="请输入您的手机号" autocomplete="off">
                        <input type="hidden" name="fb_type" value="sheji">
                    </li>
                    <li id="shenming">
                        <input type="checkbox" checked="checked" id="mianze">
                        <label for="mianze" id="check" class="fa fa-check"></label>
                        <span>我已阅读并同意齐装网的</span>
                        <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
                    </li>
                </ul>
                <button type="button" class="apply-btn save-submit">免费申请装修保障</button>
            </div>
        </div>
        <div class="bao-baozhang">
            <div class="baozhang-tit">
                <img src="/assets/mobile/luodiye/img/title.png" />
            </div>
            <p id="baozhang-des" class="baozhang-des">齐装网业主保障体系“齐装保”服务，不仅在前期源头上严格把控装修公司，要求缴纳保证金，给予业主精心筛选的4家优质企业自由选择。更在装修时保障业主装修质量，为业主监管工程，在装修完毕后提供售后服务，有售后问题，平台负责协调解决。如经确认属装修公司造成的损失而其又无法履行责任的，用户凭相关部门证明材料，齐装网先行赔付用户损失的30%，单笔最高赔付可达100万。具体赔付条件、金额及范围详见<span class="xieyi">《齐装保赔付服务协议》</span>。</p>
            <div class="bao-more">
                <img class="more" src="/assets/mobile/luodiye/img/more.png" />
                <img class="top" src="/assets/mobile/luodiye/img/top.png" />
            </div>
        </div>
        <div class="bao-problem">
            <img src="/assets/mobile/luodiye/img/fq.jpg" />
        </div>
        <div class="bao-process">
            <img src="/assets/mobile/luodiye/img/process.jpg" />
        </div>
        <div class="bao-fuwu">
            <div class="fuwu-tit">
                <img src="/assets/mobile/luodiye/img/fuwu.png" />
            </div>
            <div class="fuwu-list">
                <ul>
                    <li>
                        <a href="/qwdzjj/">
                            <img src="/assets/mobile/luodiye/img/qwdz_icon.png" />
                            <div class="fuwu-des">
                                <p>全屋定制</p>
                                <p>防护新升级，健康新标配</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="p-inner-appentry" data-name="p-inner-appentry" data-tag="qzb">
                            <img src="/assets/mobile/common/img/app-qz-logo-new.png" />
                            <div class="fuwu-des">
                                <p>齐装APP</p>
                                <p>量房送豪礼，签约送旅游</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bao-pingtai">
            <img src="/assets/mobile/luodiye/img/pingtai.jpg" />
        </div>
        <a href="javascript:window.scrollTo('0','0');" class="apply-btn">免费申请装修保障</a>
    </div>
    <div class="dialog-baowindow">
        <!--发单成功弹窗-->
        <div class="success-box">
            <div class="dia-success-img">
                <img src="/assets/mobile/luodiye/img/success_icon.png" />
            </div>
            <p class="dia-success-tit mbt10">恭喜您预约成功</p>
            <p class="grey">打开齐装APP，上传合同凭证，</p>
            <p class="grey">即刻开启齐装保专属权益！</p>
            <div class="to-app p-inner-appentry" data-name="p-inner-appentry" data-tag="qzb">去APP查看</div>
            <div class="close-btn">
                <img src="/assets/mobile/luodiye/img/close.png" />
            </div>
        </div>
        <!--协议内容-->
        <div class="xieyi-content">
            <div class="tit-content">
                <p class="tit">齐装保赔付服务协议</p>
                <p class="xieyi-tit"></p>
            </div>
            <div class="xieyi-detail">
                <div style="text-indent: 0.274rem;">本协议仅为选择齐装网推荐的装修公司进行交易并申请齐装保登记的业主（下称“用户”）。 </div>
                <div>
                    <p class="weight">一、总则 </p>
                    <p>本服务条款由服务条款、保障单共同组成。凡涉及到本保障服务材料均采用电子文本格式。 </p>
                </div>
                <div>
                    <p class="weight">二、齐装保服务定义</p>
                    <p>齐装保赔付服务：<br/>
                        1.	用户通过在齐装网（包含不限于：PC网站、M端网站、小程序、公众号、APP等）上发布真实装修需求，并且从齐装网推荐的装修公司中选择一家装修公司签订装修合同/协议，在签约后7日内且在装修公司进场施工前，用户通过“齐装”APP提交装修合同申请齐装保，逾期或已进场施工均视为无效。<br/>
                        2.	对上述齐装网推荐的装修公司在装修过程中给用户造成的财产损失，并经仲裁委员会裁决或法院判决，确定属于装修公司造成的损失，而装修公司无法履行责任，用户提供仲裁委员会的裁决书或法院的判决书，齐装网负责先行赔付用户与该装修公司签订的合同金额的30%。<br/>
                        3.	单笔最高赔付可达100万。<br/>
                        齐装网用户享有赔付需满足的条件：<br/>
                        1.	用户签订的装修公司必须是齐装网推荐的装修公司。<br/>
                        2.	签订合同之日起7日内且在装修公司进场施工前，在“齐装”APP上传施工合同申请齐装保。<br/>
                        3.	全国服务热线：400-6969-336。<br/>
                        齐装保赔付金的定义：<br/>
                        1.	齐装网提供给予齐装网用户的赔付金额是根据纠纷发生时用户已在齐装网上提交的有效申请为准，如果在纠纷发生损失之后用户再申请齐装保并申请赔付，齐装网不给予赔偿。<br/>
                        2.	用户签定合同或缴纳定金后，于7日内在“齐装”APP上传施工合同申请齐装保，并配合齐装网客服人员审核取证，且签约的装修公司需在齐装网后台确认该合同。<br/>
                    </p>
                </div>
                <div>
                    <p class="weight">三、责任范围 </p>
                    <p>用户应同时具备以下条件，方可获得齐装保赔付服务：<br/>
                        1、用户选择的交易的装修公司必须在齐装网上有保证金展示；<br/>
                        2、用户达成交易后必须在“齐装”APP上传施工合同申请齐装保，由客服人员进行审核取证以及签约装修公司确认合同。<br/>
                        3、用户享受的赔付服务，只能是齐装网推荐的装修公司对用户造成的损失，经仲裁委员会裁定或法院判决（以和解、调解方式结案的不予赔偿），方可申请齐装保赔付。赔付商家对用户造成的损失，单笔最高赔付可达100万，而对用户自身原因造成损失不进行赔付。
                    </p>
                </div>
                <div>
                    <p class="weight">四、免责条款 </p>
                    <p>包括但不限于以下情形下导致用户在齐装网上发生的任何财产损失、一切费用，均不属于齐装保赔付保障范围，齐装网均不负责赔偿：<br/>
                        1、用户自身责任导致的损失：<br/>
                        1）未选择齐装网推荐的装修公司进行交易；<br/>
                        2）选择齐装网推荐的装修公司进行交易，但并未在“齐装”APP上传施工合同申请齐装保；<br/>
                        3）在与商家交易过程中，私自与商家进行口头承诺；<br/>
                        4）用户的故意行为、犯罪行为、重大过失行为；<br/>
                        5）用户证据提供不足的情况，包括但不限于齐装网客服无法获取以下证据中的1项或多项：用户填写的信息虚假、与商家签定的合同无法确认、与商家私自进行书面的附加协议；<br/>
                        6）超出用户的装修款项全额，上限以上的财产损失由用户自己承担。<br/>
                        2、涉嫌侵犯国家法律、法规禁止的任何交易。<br/>
                        3、经齐装网审核认定用户确实存在骗取赔付的情形（齐装网保留追究法律责任权利）。
                    </p>
                </div>
                <div>
                    <p class="weight">五、用户的权利义务 </p>
                    <p>1、用户的权利<br/>
                        1）当通过齐装网推荐的装修公司达成交易的用户，在齐装网要求的责任范围内进行交易的，仍然产生财产损失时，齐装网将根据协议的规定进行相关现金赔付。<br/>
                        2）在与齐装网推荐的装修公司发生纠纷时，用户有权要求齐装网在7个工作日内调查清楚事件并给予答复。<br/>
                        2、用户的义务<br/>
                        1）用户有义务保持齐装网服务需要的条件处于正常状态，并在进行交易前，查看赔付运行情况，以保证全程赔付过程均受到保护，避免交易后造成的财产损失。<br/>
                        2）当保险承诺的服务发生后，用户有义务严格履行本协议及齐装网的有关规则，支持并配合齐装网履行保险服务承诺。<br/>
                        3）用户有义务对通过齐装网交易的相关信息保存并告知齐装网，以便作为用户索赔依据。 4）用户有义务遵守交易过程中的相关法律、法规及政策。
                    </p>
                </div>
                <div>
                    <p class="weight">六、齐装网的权利与义务 </p>
                    <p>（一）在收到用户的齐装保服务申请后，齐装网有权对该用户的申请予以审核真伪以确定是否向其提供赔付服务。用户同意齐装网有权根据情况同意或拒绝用户的申请。<br/>
                        （二）如果用户使用齐装保赔付服务，在交易的过程中发生财产损失，并根据本协议规定的齐装保赔付服务规则提起索赔，则齐装网有权根据本协议规定、齐装网官网的有关规则及用户提供的资料和证据，以其独立判断确定用户索赔是否成立，如索赔成立，齐装网将向用户提供现金赔付。<br/>
                        （三）齐装网完全有义务就本服务条款所列明的风险向保险公司投保，以保障服务承诺的兑现。<br/>
                        （四）齐装网仅有义务根据齐装网官网有关规则向用户索要有关证据，并对用户证据的真实性与准确性、交易的实际情况作进一步调查。由于用户过错导致齐装网做出错误的赔付判断，齐装网不对用户承担补偿责任。一旦发现用户有存在骗保行为等导致齐装网发生误赔的，齐装网保留追回赔付金的权利。<br/>
                        （五）无论何种情形，用户同意齐装网对其使用服务所致损害的最高上限赔付依照本协议第二条执行。
                    </p>
                </div>
                <div>
                    <p class="weight">七、服务条款终止及修改 </p>
                    <p>（一）自然终止：如用户通过“齐装”APP上签署的《齐装保赔付服务协议》因任何原因终止，则本协议将同时终止。<br/>
                        （二）单方解除权： 如用户违反齐装网官网进行赔付的规则，齐装网有权利立刻终止本协议，并且按有关规则对用户进行处罚。如用户自主删除其理赔依据需要保留的信息，则本协议即告终止。<br/>
                        （三）本协议规定的其他协议终止条件发生或实现，导致本协议终止。
                    </p>
                </div>
                <div>
                    <p class="weight">八、其他 </p>
                    <p>（一）本协议的解释与适用，以及与本协议有关的争议，均适用中华人民共和国法律。<br/>
                        （二）如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。<br/>
                        （三）齐装网于用户过失或违约时放弃本协议规定的权利的，不得视为其对用户的其他或以后同类之过失或违约行为弃权。<br/>
                        至此，您肯定已经详细阅读并已理解本《协议》，并同意严格遵守各条款和条件。 以上服务协议的最终解释权归齐装网所有，因本协议产生的纠纷由齐装网公司所在地管辖。
                    </p>
                </div>
            </div>
            <div class="close-btn">
                <img src="/assets/mobile/luodiye/img/close.png" />
            </div>
        </div>

    </div>
    <include file="Common/footfadantc"/>
</block>
<block name="script">
    <script type="text/javascript">
        var token = "{$token}";
        var apiurl = "{:C('ZXS_API')}";

        $(function () {
            // 展示全部内容
            $(".bao-more .more").click(function () {
                $(this).hide();
                $(".bao-more .top").show();
                $("#baozhang-des").removeClass("baozhang-des").addClass("baozhang-desall")
            });
            $(".bao-more .top").click(function () {
                $(this).hide();
                $(".bao-more .more").show();
                $("#baozhang-des").removeClass("baozhang-desall").addClass("baozhang-des")
            });

            // 协议详情
            $("#baozhang-des .xieyi").click(function () {
                $(".dialog-baowindow").show();
                $(".xieyi-content").show();
                $(".success-box").hide();
            });

            //切换免责对勾
            $("#check").click(function(){
                $(this).toggleClass('fa-check');
            });

            // 发单
            $('.save-submit').on('click',function() {
                var checked = $("#mianze").is(':checked');
                var cs = $('input[name=city]').attr('data-id');
                var qx = $('input[name=area]').attr('data-id');
                var tel = $(".m-bj-edit input[name=tel]").val();
                var tel_reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
                if(cs === '' || qx === '') {
                    alert('请选择城市');
                    return false
                }
                if(tel === ''){
                    alert('请输入您的手机号');
                    return false
                } else if(!tel_reg.test(tel)) {
                    alert('请输入正确的手机号');
                    return false
                }
                if(!checked){
                    alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                    return false;
                }
                var data = {
                    cs: cs,
                    qx: qx,
                    tel: tel,
                    source_in: 11,
                    source: 20060645
                };
                $.ajax({
                    type : "POST",
                    headers: {
                        token: token
                    },
                    url : apiurl + "/luodiye/v1/zbfb",
                    dataType : "json",
                    data:data,
                    success : function(data){
                        if(data.error_code === 0){
                            $(".m-bj-edit input[name=tel]").val('');
                            $(".dialog-baowindow").show()
                            $(".xieyi-content").hide();
                            $(".success-box").show();
                        }else{
                            alert(data.error_msg)
                        }
                    },
                    error:function(xhr){
                        alert("发生了未知的错误,请稍后再试！");
                    }
                });
            });
            
            // 关闭弹窗
            $("body").on("click",".dialog-baowindow .close-btn",function () {
                $(".dialog-baowindow").hide()
            });
        })
    </script>
</block>