<extend name="Common:basic"/>
<block name="title"><title>装修报价</title></block>
<block name="keywords">
    <meta name="keywords" content=""/>
</block>
<block name="description">
    <meta name="description" content=""/>
</block>
<block name="link">
    <link href="/assets/mobile/luodiye/css/baojiabtl.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">

</block>
<block name="content">
    <article>
        <div class="container">
            <div class="back">
                <img src="//{:C('QINIU_DOMAIN')}/custom/20200803/FqnLXQuAiEEaSFgT6oAbCH59xtr5" />
            </div>
            <div class="contain">
                <div class="jisuanqi">
                    <div class="money-img">
                        <div class="" style="float: right;">
                            <div class="num num-gray"></div>
                            <div class="num num-gray"></div>
                            <div id="num-1" class="num num-1"></div>
                            <div id="num-2" class="num num-2"></div>
                            <div id="num-3" class="num num-0"></div>
                            <div id="num-4" class="num num-4"></div>
                            <div id="num-5" class="num num-5"></div>
                            <div id="num-6" class="num num-8"></div>
                            <span> 元</span>
                        </div>
                    </div>
                </div>
                <div class="biaodan">
                    <div class="formbd">
                        <div class="mianjizk">
                            <input type="number" class="mianji" placeholder="请输入房屋面积" />
                            <span class="pingf">㎡</span>
                        </div>
                        <input type="text" maxlength="11"  class="jzbj" placeholder="请输入手机号获取结果" />
                        <div id="shenming">
                            <input type="checkbox" checked="checked" id="mianze">
                            <label for="mianze" id="check" class="fa fa-check"></label>
                            <span>我已阅读并同意齐装网的</span>
                            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
                        </div>
                        <div class="checkButton">
                            免费获取报价明细
                        </div>
                    </div>
                </div>
            </div>

            <div class="backone">
                <img src="//{:C('QINIU_DOMAIN')}/custom/20200803/Fs_ziG4SivOaF11QEuuGo46ZBd1W" />
            </div>

            <div class="backtwo">
                <div class="title">
                    <img src="/assets/mobile/luodiye/img/backtitle.png" />
                    <div>一站式贴心服务</div>
                    <img src="/assets/mobile/luodiye/img/backtitle.png" />
                </div>
                <div class="tips">
                    <img src="/assets/mobile/luodiye/img/backtips.png" />
                    满足您的所有需求
                </div>
                <img style="margin: 0 auto;" src="//{:C('QINIU_DOMAIN')}/custom/20200803/Fvi8hAWnoGt_LsibdED6znzI7JyU" />
            </div>

            <div class="backthree">
                <div class="title">
                    <img src="/assets/mobile/luodiye/img/backtitle.png" />
                    <div>加入齐装保</div>
                    <img src="/assets/mobile/luodiye/img/backtitle.png" />
                </div>
                <div class="tips">
                    <img src="/assets/mobile/luodiye/img/backtip.png" />
                    最高赔付 <text>100万</text>
                </div>
                <img class="imgs" src="//{:C('QINIU_DOMAIN')}/custom/20200803/FjJqWGENg4gSSTYjjFUE6843IFc2" />
            </div>
            <div class="login">获取最新报价</div>
        </div>
    </article>
</block>
<block name="footer">
    <include file="Common:public-footer" />
</block>
<block name="script">
    <script type="text/javascript">
        $(function (){
            // 获取随机数的方法
            function GetRandomNum(Min,Max){
                var Range = Max - Min;
                var Rand = Math.random();
                return(Min + Math.round(Rand * Range));
            }
            // 随机数
            var timer = setInterval(function(){
                var num = GetRandomNum(30000,120000)+'';
                if(num<99999){
                    var num1 = 'num num-gray',
                        num2 = 'num num-' + num.charAt(0),
                        num3 = 'num num-' + num.charAt(1),
                        num4 = 'num num-' + num.charAt(2),
                        num5 = 'num num-' + num.charAt(3),
                        num6 = 'num num-' + num.charAt(4);
                }else{
                    var num1 = 'num num-' + num.charAt(0),
                        num2 = 'num num-' + num.charAt(1),
                        num3 = 'num num-' + num.charAt(2),
                        num4 = 'num num-' + num.charAt(3),
                        num5 = 'num num-' + num.charAt(4),
                        num6 = 'num num-' + num.charAt(5);
                }
                $('#num-1').removeClass().addClass(num1);
                $('#num-2').removeClass().addClass(num2);
                $('#num-3').removeClass().addClass(num3);
                $('#num-4').removeClass().addClass(num4);
                $('#num-5').removeClass().addClass(num5);
                $('#num-6').removeClass().addClass(num6);

            }, 400);

            // 切换免责声明
            $("#check").click(function(){
                $(this).toggleClass('fa-check');
            });

            // 免费获取报价明细
            $(".checkButton").click(function (){
                var mianji = $(".mianji").val()
                var tel = $(".jzbj").val()
                var checked = $("#mianze").is(':checked');
                window.order    ({
                    extra: {
                        cs: 320500,
                        mianji: mianji,
                        tel: tel,
                        source: ''
                    },
                    submitBtn: {
                        className: $(this),
                        type: 'btn'
                    },
                    error: function () {
                        alert("发生了未知的错误,请稍后再试！");
                    },
                    success: function (data, status, xhr) {
                        if (data.status == 1) {
                            window.location.href = "/zxbj-result"
                        } else {
                            alert(data.info)
                        }
                    },
                    validate: function (item, value, method, info) {
                        if ('mianji' == item && 'notempty' == method) {
                            alert('请选择您的装修面积')
                            $(".mianji").focus()
                            return false
                        }
                        if ('mianji' == item && 'isnumber' == method) {
                            alert('房屋面积请输入1-1000之间的数字')
                            $(".mianji").focus()
                            return false
                        }
                        if('mianji' == item) {
                            if($(".mianji").val() < 1) {
                                alert('房屋面积请输入1-1000之间的数字')
                                $(".mianji").focus()
                                return false
                            }
                            if($(".mianji").val() > 1000) {
                                alert('房屋面积请输入1-1000之间的数字')
                                $(".mianji").focus()
                                return false
                            }
                        }
                        if ('tel' == item && 'notempty' == method) {
                            alert('您还没有填写手机号噢！')
                            $(".jzbj").focus();
                            return false;
                        }
                        if ('tel' == item && 'ismobile' == method) {
                            alert('请填写正确的手机号码！')
                            $(".jzbj").focus();
                            return false;
                        }
                        if (!checked) {
                            alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                            return false;
                        }
                        return true;
                    }
                })
            })
        })
        // 获取最新报价
        $(".login").click(function (){
            $("body,html").animate({
                scrollTop:0
            },1000)
        })

    </script>
</block>
