<extend name="Common:basic"/>
<block name="title"><title>装修报价计算器_家庭装修在线设计-齐装网</title></block>
<block name="keywords">
    <meta name="keywords" content="装修报价计算器,装修在线设计"/>
</block>
<block name="description">
    <meta name="description" content="齐装网装修报价计算器以及家庭装修在线设计频道，为想要装修房子的业主和即将装修的业主提供全方面的报价以及精美的家庭装修设计。"/>
</block>
<block name="link">
    <link href="/assets/mobile/luodiye/css/jisuanqi_success.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <div class="m-header-his" >
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit">装修报价</div>
</block>
<block name="content">
    <article>
        <div class="jsqsuccess">
            <p class="jsqsuccess-tit">
                <span>装修预算报价为：</span>
                <span class="red">{$info.total}</span>
                <span>元</span>
            </p>
            <div class="jsqsuccess-result">
                <img src="/assets/mobile/luodiye/img/jsq_success.png" />
                <div class="wsj">
                    <p>卫生间：</p>
                    <p>
                        <span class="red">{$info.child.wsj}</span>
                        <span>元</span>
                    </p>
                </div>
                <div class="cf">
                    <p>厨房：</p>
                    <p>
                        <span class="red">{$info.child.cf}</span>
                        <span>元</span>
                    </p>
                </div>
                <div class="kt">
                    <p>客厅：</p>
                    <p>
                        <span class="red">{$info.child.kt}</span>
                        <span>元</span>
                    </p>
                </div>
                <div class="sd">
                    <p>水电：</p>
                    <p>
                        <span class="red">{$info.child.sd}</span>
                        <span>元</span>
                    </p>
                </div>
                <div class="ws">
                    <p>卧室：</p>
                    <p>
                        <span class="red">{$info.child.zw}</span>
                        <span>元</span>
                    </p>
                </div>
                <div class="qt">
                    <p>其他：</p>
                    <p>
                        <span class="red">{$info.child.other}</span>
                        <span>元</span>
                    </p>
                </div>
            </div>
            <p class="jsqsuccess-tips">*该报价为半包估价，实际以上门量房实测为准</p>
        </div>
        <div class="jsqsuccess-thanks">
            <p class="thanks-tit">感谢选择齐装网</p>
            <p class="thanks-des">
                <span>您一共获得</span>
                <span class="red">4项装修礼包</span>
                <span>，下载APP立即领取</span>
            </p>
            <ul class="jsqsuccess-checked">
                <li>
                    <img src="/assets/mobile/luodiye/img/check.png" />
                    <span>4份户型设计方案</span>
                </li>
                <li>
                    <img src="/assets/mobile/luodiye/img/check.png" />
                    <span>10000套装修效果图</span>
                </li>
                <li>
                    <img src="/assets/mobile/luodiye/img/check.png" />
                    <span>免费装修报价</span>
                </li>
                <li>
                    <img src="/assets/mobile/luodiye/img/check.png" />
                    <span>更全装修攻略</span>
                </li>
            </ul>
            <div class="jsqsuccess-guanzhu">
                <div class="guanzhu-app p-inner-appentry" data-name="p-inner-appentry" data-tag="M-1">
                    <img src="/assets/mobile/common/img/app-qz-logo-new.png" />
                    <p>
                        <span>下载</span>
                        <span class="red">齐装APP</span>
                    </p>
                    <p>签约送旅游</p>
                </div>
                <div class="guanzhu-gzh">
                    <img src="/assets/mobile/common/img/red_logo.png" />
                    <p>
                        <span>关注</span>
                        <span class="red">齐装网</span>
                        <span>公众号</span>
                    </p>
                    <p>获取更多免费惊喜</p>
                </div>
            </div>
        </div>
    </article>
    <include file="Common/footfadantc"/>
</block>
<block name="script">
    <script type="text/javascript">

    </script>
</block>
