<extend name="Common:basic"/>
<block name="title"><title>装修报价计算器_家庭装修在线设计-齐装网</title></block>
<block name="keywords">
    <meta name="keywords" content="装修报价计算器,装修在线设计"/>
</block>
<block name="description">
    <meta name="description" content="齐装网装修报价计算器以及家庭装修在线设计频道，为想要装修房子的业主和即将装修的业主提供全方面的报价以及精美的家庭装修设计。"/>
</block>
<block name="link">
    <link href="/assets/mobile/luodiye/css/jisuanqi.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="//assets.qizuang.com/g-css/animate/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="content">
    <article>
        <!-- banner图片 -->
        <div class="jisuanqi-banner">
            <img src="//staticqn.qizuang.com/custom/20200701/FmWOoKsZa_tdiwftSnLqQ4EUtSjM" />
        </div>
        <div class="jisuanqi-fandan">
            <!-- from表单填写 -->
            <div class="jisuanqi-form">
                <p class="form-tit"><span class="red">8秒</span>计算装修报价</p>
                <p class="mianji-tips">请选择您的装修面积</p>
                <h3 id="numberID">0</h3>
                <div class="box">
                    <span class="pillar"></span>
                    <div class="wrapper" id="wrapper1">
                        <div class="scroller">
                            <ul class="clearfix">
                                <li class="ml5"><span><i>30</i></span></li>
                                <li class="ml5"><span><i>40</i></span></li>
                                <li class="ml5"><span><i>50</i></span></li>
                                <li class="ml5"><span><i>60</i></span></li>
                                <li class="ml5"><span><i>70</i></span></li>
                                <li class="ml5"><span><i>80</i></span></li>
                                <li class="ml5"><span><i>90</i></span></li>
                                <li><span><i>100</i></span></li>
                                <li><span><i>110</i></span></li>
                                <li><span><i>120</i></span></li>
                                <li><span><i>130</i></span></li>
                                <li><span><i>140</i></span></li>
                                <li><span><i>150</i></span></li>
                                <li><span><i>160</i></span></li>
                                <li><span><i>170</i></span></li>
                                <li><span><i>180</i></span></li>
                                <li><span><i>190</i></span></li>
                                <li><span><i>200</i></span></li>
                                <li><span><i>210</i></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="red mianji-warn">* 请填写手机号</p>
                <ul class="m-bj-edit">
                    <li id="area">
                        <div>
                            <button id="showCityPicker2" class="c-zb-city jsq-city" type="button">
                                <i class="fa fa-map-marker">
                                </i>
                                <empty name="info.cityarea">
                                    请选择
                                <else/>
                                    {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                                </empty>
                            </button>
                            <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                            <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                            <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                        </div>
                        <p class="red city-warn">请填写城市</p>
                    </li>
                    <li>
                        <input class="m-row-int1 m-bj-edit-list jsq-tele" type="tel" maxlength="11" name="tel-number"
                               placeholder="请输入手机号获取结果">
                        <input type="hidden" name="fb_type" value="baojia">
                        <p class="red tel-warn">请填写手机号</p>
                    </li>
                </ul>
                <div id="shenming">
                    <input type="checkbox" checked="checked" id="mianze">
                    <label for="mianze" id="check" class="fa fa-check"></label>
                    <span>我已阅读并同意齐装网的</span>
                    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
                </div>
                <!-- 立即计算报价按钮 -->
                <a href="javascript:void(0)" class="m-b-btn save-submit">
                    获取结果
                </a>
            </div>
        </div>
        <div class="jisuanqi-worry">
            <div class="worry-tit">
                <img src="/assets/mobile/luodiye/img/worry-tit.png" />
            </div>
            <p class="worry-result">过程辛苦，结果被动</p>
            <div class="worry">
                <img src="/assets/mobile/luodiye/img/worry.png" />
            </div>
        </div>
        <p class="review-fangan">30分钟出效果图，现场看方案</p>
        <button type="button" class="zero-sheji" data-state="1">0元搞定装修设计</button>
        <div class="zx-resolve">
            <div class="resolve">
                <img src="/assets/mobile/luodiye/img/resolve.png" />
            </div>
            <p class="worry-result">解决您所有的装修痛点</p>
            <div class="resolve-imgs">
                <ul>
                    <li>
                        <img src="/assets/mobile/luodiye/img/1-1.png" />
                    </li>
                    <li>
                        <img src="/assets/mobile/luodiye/img/2-1.png" />
                    </li>
                    <li>
                        <img src="/assets/mobile/luodiye/img/3.png" />
                    </li>
                    <li>
                        <img src="/assets/mobile/luodiye/img/4.png" />
                    </li>
                    <li>
                        <img src="/assets/mobile/luodiye/img/5.png" />
                    </li>
                    <li>
                        <img src="/assets/mobile/luodiye/img/6.png" />
                    </li>
                </ul>
            </div>
            <div class="zixun" data-state="2">
                <img src="/assets/mobile/luodiye/img/zixun.png" />
            </div>
        </div>
        <div class="jisuanqi-track">
            <div class="track">
                <img src="/assets/mobile/luodiye/img/track.png" />
            </div>
            <p class="track-tit">预算不够用分期，领券装修更划算</p>
            <div class="track-one">
                <div class="track-left">
                    <p class="track-left-tit">装修贷款</p>
                    <p class="track-left-des" >缺钱不用愁，有钱更要贷</p>
                    <button type="button" id="dkmore" class="track-btn" data-jumpurl="{$jumpUrl}">了解更多</button>
                </div>
                <div class="track-right">
                    <img src="/assets/mobile/luodiye/img/right_img.png" />
                </div>
            </div>
            <div class="track-one">
                <div class="track-left2">
                    <img src="/assets/mobile/luodiye/img/left_img.png" />
                </div>
                <div class="track-right2">
                    <p class="track-left-tit alright">装修豪礼大放送</p>
                    <p class="track-left-des alright nombt" >量房送优酷会员</p>
                    <p class="track-left-des alright nombt" >签单送旅游</p>
                    <div style="text-align: right;margin-right: 0.1rem;margin-top: 0.05rem;">
                        <button type="button" class="lijiget" data-state="3">立即领取</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="fuwu-liucheng">
            <div class="liucheng-img">
                <img src="/assets/mobile/luodiye/img/fuwuliucheng.png" />
            </div>
            <ul>
                <li>
                    <div>
                        <img src="/assets/mobile/luodiye/img/yuyue_icon.png" />
                    </div>
                    <p>极速预约</p>
                </li>
                <img class="jiantou" src="/assets/mobile/luodiye/img/jiantou.png" />
                <li>
                    <div>
                        <img src="/assets/mobile/luodiye/img/tele_icon.png" />
                    </div>
                    <p>电话沟通</p>
                </li>
                <img class="jiantou" src="/assets/mobile/luodiye/img/jiantou.png" />
                <li>
                    <div>
                        <img src="/assets/mobile/luodiye/img/queren_icon.png" />
                    </div>
                    <p>细节确认</p>
                </li>
                <img class="jiantou" src="/assets/mobile/luodiye/img/jiantou.png" />
                <li>
                    <div>
                        <img src="/assets/mobile/luodiye/img/liangfang_icon.png" />
                    </div>
                    <p>上门量房</p>
                </li>
            </ul>
        </div>
    </article>
    <include file="Common/footfadantc"/>
    <div class="jisuanqi-window">
        <div class="dialog-content">
            <p class="dialog-tit">
                <span class="dialog-tit-des">0元搞定装修设计</span>
                <span class="close-dia">×</span>
            </p>
            <ul class="m-bj-edit">
                <li>
                    <div>
                        <button id="showCityPicker3" class="c-zb-city jsq-city1" type="button">
                            <i class="fa fa-map-marker">
                            </i>
                            <empty name="info.cityarea">
                                请选择
                                <else/>
                                {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                            </empty>
                        </button>
                        <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                        <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                        <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                    </div>
                    <p class="red city-warn1">请填写城市</p>
                </li>
                <li>
                    <input class="m-row-int1 m-bj-edit-list jsq-tele1" type="tel" maxlength="11" name="tel-number1"
                           placeholder="请输入您的手机号">
                    <input type="hidden" name="fb_type" value="baojia">
                    <p class="red tel-warn1">请填写手机号</p>
                </li>
            </ul>
            <div id="shenming2">
                <input type="checkbox" checked="checked" id="mianze2">
                <label for="mianze2" id="check2" class="fa fa-check"></label>
                <span>我已阅读并同意齐装网的</span>
                <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
            </div>
            <!-- 立即计算报价按钮 -->
            <a href="javascript:void(0)" class="dia-save-submit"></a>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/iscroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/navbarscroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(function () {
            // 城市选择插件
            // selectQz.init({
            //     province: $("input[name=province]").attr("data-id"),
            //     city: $("input[name=city]").attr("data-id"),
            //     area: $("input[name=area]").attr("data-id")
            // });
            var html = '';
            for(var i = 0; i < 9; i++) {
                html += '<span></span>'
            }
            $(html).insertAfter("#wrapper1 ul li>span i");


            $(".wrapper").navbarscroll({
                duibiScreenWidth:0.1, //单位以rem为准，默认为0.4rem
                scrollerWidth:1, //单位以px为准，默认为3,[仅用于特殊情况：外层宽度因为小数点造成的不精准情况]
                fingerClick:0, //目标第0或1个选项触发,必须每一项长度一致，方可用此项
                defaultSelect:7,
                endClickScroll:function(obj){
                    console.log(obj.text())
                }
            });
            $('.save-submit').on('click', function () {
                var checked = $("#mianze").is(':checked');
                $('.city-warn,.tel-warn,.mianji-warn').css('visibility', 'hidden')
                console.log(parseInt($("#numberID").html()))
                window.order    ({
                    extra: {
                        cs: $('input[name=city]').attr('data-id'),
                        qx: $('input[name=area]').attr('data-id'),
                        mianji: parseInt($("#numberID").html()),
                        tel: $(".m-bj-edit input[name=tel-number]").val(),
                        source: '20052539'
                    },
                    submitBtn: {
                        className: $(this),
                        type: 'btn'
                    },
                    error: function () {
                        alert("发生了未知的错误,请稍后再试！");
                    },
                    success: function (data, status, xhr) {
                        if (data.status == 1) {
                            window.location.href = "/jisuanqi-success";
                        } else {
                            alert(data.info)
                        }
                    },
                    validate: function (item, value, method, info) {
                        if ('mianji' == item && 'notempty' == method) {
                            $('.mianji-warn').html('请选择您的装修面积').css('visibility', 'visible');
                            return false;
                        }
                        if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                            $('.city-warn').html('请选择城市').css('visibility', 'visible');
                            return false;
                        }
                        if ('tel' == item && 'notempty' == method) {
                            $('.tel-warn').html('您还没有填写手机号噢！').css('visibility', 'visible');
                            $(".m-bj-edit input[name=tel-number]").focus();
                            return false;
                        }
                        if ('tel' == item && 'ismobile' == method) {
                            $('.tel-warn').html('请填写正确的手机号码！').css('visibility', 'visible');
                            $(".m-bj-edit input[name=tel-number]").focus();
                            return false;
                        }
                        if (!checked) {
                            alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                            return false;
                        }
                        return true;
                    }
                });
            });
            var state = 1;
            // 0元搞定装修设计、咨询客服
            $(".zero-sheji,.zixun,.lijiget").click(function () {
                state = $(this).data("state");
                if (state == 1) {
                    $(".dialog-tit-des").html("0元搞定装修设计");
                    $(".dia-save-submit").html("立即申请");
                } else if (state == 2) {
                    $(".dialog-tit-des").html("全屋定制一站省心");
                    $(".dia-save-submit").html("立即申请");
                } else if (state == 3) {
                    $(".dialog-tit-des").html("装修豪礼大放送");
                    $(".dia-save-submit").html("立即领取");
                }
                $(".jsq-tele1").val('');
                $(".jisuanqi-window").show()
            });

            // 免费报价
            $("body").on("click",".dia-save-submit",function () {
                var checked2 = $("#mianze2").is(':checked');
                $('.city-warn1,.tel-warn1').css('visibility', 'hidden');
                window.order    ({
                    extra: {
                        cs: $('input[name=city]').attr('data-id'),
                        qx: $('input[name=area]').attr('data-id'),
                        tel: $(".m-bj-edit input[name=tel-number1]").val(),
                        source: '20052539'
                    },
                    submitBtn: {
                        className: $(this),
                        type: 'btn'
                    },
                    error: function () {
                        alert("发生了未知的错误,请稍后再试！");
                    },
                    success: function (data, status, xhr) {
                        console.log(state)
                        if (data.status == 1) {
                            window.location.href = "/jisuanqi-result?state=" + state;
                        } else {
                            alert(data.info)
                        }
                    },
                    validate: function (item, value, method, info) {
                        if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                            $('.city-warn1').html('请选择城市').css('visibility', 'visible');
                            return false;
                        }
                        if ('tel' == item && 'notempty' == method) {
                            $('.tel-warn1').html('您还没有填写手机号噢！').css('visibility', 'visible');
                            $(".m-bj-edit input[name=tel-number1]").focus();
                            return false;
                        }
                        if ('tel' == item && 'ismobile' == method) {
                            $('.tel-warn1').html('请填写正确的手机号码！').css('visibility', 'visible');
                            $(".m-bj-edit input[name=tel-number1]").focus();
                            return false;
                        }
                        if (!checked2) {
                            alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                            return false;
                        }
                        return true;
                    }
                });
            });

            //切换免责对勾
            $("#check").click(function () {
                $(this).toggleClass('fa-check');
            });
            $("#check2").click(function () {
                $(this).toggleClass('fa-check');
            });

            // 关闭弹窗
            $("body").on("click",".close-dia",function () {
                $(".jisuanqi-window").hide()
            });

            // 贷款
            // 如果为空给提示，否则是url直接跳转
            $("#dkmore").click(function () {
                var jumpurl = $(this).attr("data-jumpurl");
                if (jumpurl !== "") {
                    window.location.href = jumpurl;
                } else {
                    alert("装修贷款目前仅开通苏州及周边区域，其他范围正在筹备中，敬请期待！");
                }
            })

        })

    </script>
</block>
