<extend name="Common:basic"/>
<block name="title"><title></title></block>
<block name="keywords">
    <meta name="keywords" content="装修设计,户型设计,室内装修设计,装修报价,装修报价单"/>
</block>
<block name="description">
    <meta name="description" content="齐装网是国内领先的专业的家装、公装项目招标平台,业主可以在齐装网免费发布装修招标,提供装修招标、免费装修设计与报价,免费为业主提供4份室内装修设计方案与报价,并免费获得多套装修设计与报价方案,让您装修省钱省力更省心！"/>
</block>
<block name="link">
    <link href="/assets/mobile/luodiye/css/xhxsj.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="//assets.qizuang.com/g-css/animate/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/meitu/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="header-company">齐装网</div>
    <div class="m-header-tit" id="m-header-tit">深耕互联网装修8载</div>
</block>
<block name="content">
    <article>
        <!-- banner图片 -->
        <div class="sheji-bg">
            <div>
                <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/banner-new.png" />
            </div>
            <div class="sheji-fadan">
                <div class="top_border">
                    深耕8载 比熟人更靠谱
                </div>
                <div class="sheji-icon">
                    <div class="icon-list">
                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/icon5.png">
                        <p>电话回访</p>
                        <span class="icon-line"></span>
                    </div>
                    <div class="icon-list">
                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/icon6.png">
                        <p>上门量房</p>
                        <span class="icon-line"></span>
                    </div>
                    <div class="icon-list">
                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/icon7.png">
                        <p>出设计图</p>
                        <span class="icon-line"></span>
                    </div>
                    <div class="icon-list">
                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/icon8.png">
                        <p>确认方案</p>
                    </div>
                </div>
                <div class="fadan-box">
                    <ul>
                        <li>
                            <div class="comm comm-left">
                                <img class="left" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/map.png" />
                                <span>所在城市</span>
                            </div>
                            <div class="comm comm-right">
                                <button id="showCityPicker2" class="sheji-city" type="button">
                                    <empty name="mapUseInfo">
                                        请选择您所在的区域
                                        <else />
                                        {$mapUseInfo.provincefull} {$mapUseInfo.name} {$mapUseInfo.cityarea}
                                    </empty>
                                </button>
                                <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                                <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                                <input type="hidden" name="area" data-id="{$mapUseInfo.areaid}">
                                <img class="more-city" src="/assets/mobile/luodiye/img/more-city.png" />
                            </div>
                        </li>
                        <li>
                            <div class="comm comm-left">
                                <img class="left" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/mianji.png" />
                                <span>房屋面积</span>
                            </div>
                            <div class="comm comm-right" style="padding-right: 0.1rem;width: 64%;">
                                <input type="number" name="mianji" class="sheji-tele" placeholder="请输入您的房屋面积" />
                            </div>
                        </li>
                        <li>
                            <div class="comm comm-left">
                                <img class="left" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/phone.png" />
                                <span>联系方式</span>
                            </div>
                            <div class="comm comm-right" style="padding-right: 0.1rem;width: 64%;">
                                <input type="tel" maxlength="11" name="telephone" class="sheji-tele" placeholder="请输入您的联系方式" />
                            </div>
                        </li>
                        <li id="shenming">
                            <input type="checkbox" checked="checked" id="mianze">
                            <label for="mianze" id="check" class="fa fa-check"></label>
                            <span>我已阅读并同意齐装网的</span>
                            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer-no"><span>《免责声明》</span></a>
                        </li>
                    </ul>
                    <div class="sheji-btn">
                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/shejibtn.gif" />
                    </div>
                </div>
            </div>
            <div class="sheji-fa">
                <p class="sheji-tit">户型美容 空间规划 让家更实用</p>
                <p class="sheji-des">4套设计方案挑选 做最优选择</p>
                <div class="fa-imgs">
                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/pingmian.png" />
                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/space.png" />
                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/3d.png" />
                </div>
            </div>
            <div class="sheji-design">
                <p class="sheji-tit">专业设计师1对1服务</p>
                <p class="sheji-des">量身定制化 适合的才是好的</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="desgin-box">
                                <div class="design-intro">
                                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/design1.png" />
                                    <div class="mrl mrt">
                                        <span class="name">蒋海林</span>
                                        <span class="position">10年设计经验</span>
                                    </div>
                                    <p class="mrl">擅长打造自然、舒适的生活理念</p>
                                </div>
                                <div style="overflow: hidden">
                                    <div style="margin-bottom: 3px;">
                                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work1.png" />
                                    </div>
                                    <div>
                                        <img class="wid50" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work2.png" />
                                        <img class="wid50" style="float:right;" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work3.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="desgin-box">
                                <div class="design-intro">
                                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/design2.png" />
                                    <div class="mrl mrt">
                                        <span class="name">徐静怡</span>
                                        <span class="position">8年设计经验</span>
                                    </div>
                                    <p class="mrl">擅长日式和现代简约风格</p>
                                </div>
                                <div style="overflow: hidden">
                                    <div style="margin-bottom: 3px;">
                                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work4.png" />
                                    </div>
                                    <div>
                                        <img class="wid50" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work5.png" />
                                        <img class="wid50" style="float:right;" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work6.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="desgin-box">
                                <div class="design-intro">
                                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/design3.png" />
                                    <div class="mrl mrt">
                                        <span class="name">高阳旭</span>
                                        <span class="position">9年设计经验</span>
                                    </div>
                                    <p class="mrl">擅长空间利用和户型改造</p>
                                </div>
                                <div style="overflow: hidden">
                                    <div style="margin-bottom: 3px;">
                                        <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work7.png" />
                                    </div>
                                    <div>
                                        <img class="wid50" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work8.png" />
                                        <img class="wid50" style="float:right;" src="//staticqn.qizuang.com/assets/mobile/luodiye/img/work9.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sheji-fuwu">
                <p class="sheji-tit fuwu-zeng">现在申请送3项增值服务</p>
                <div class="fuwu-list">
                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/fuwu1.png" />
                    <div class="fuwu-des">
                        <p>齐装保 保赔偿</p>
                        <p>业主签约齐装网推荐的优质装修公司，可免费申请齐装保，出现问题，最高赔付100万。</p>
                    </div>
                </div>
                <div class="fuwu-list">
                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/fuwu2.png" />
                    <div class="fuwu-des">
                        <p>30分钟出效果图</p>
                        <p>根据你的户型图，通过专业软件，快速看到未来家的装修效果，所见即所得。</p>
                    </div>
                </div>
                <div class="fuwu-list">
                    <img src="//staticqn.qizuang.com/assets/mobile/luodiye/img/fuwu3.png" />
                    <div class="fuwu-des">
                        <p>在线查看装修进度</p>
                        <p>免费提供装修现场功能，验收每个装修节点，严控施工质量，平台服务 专业 透明 有保障。</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</block>
<block name="footer">
    <include file="Common:public-footer" />
</block>
<block name="script">
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(function () {
            //获取定位
            $.ajax({
                type: 'GET',
                url: '/ldyiplocation',
                dataType: 'json',
                success: function(data){
                    if (data.error_code == 0) {
                        $("input[name=province]").attr("data-id",data.info.pid)
                        $("input[name=city]").attr("data-id",data.info.id)
                        $("input[name=area]").attr("data-id",data.info.areaid)
                        $('#showCityPicker2').html('<i class="fa fa-map-marker"></i>'+data.info.provincefull+' '+data.info.name+' '+data.info.cityarea)
                    }
                    // 城市选择插件
                    selectQz.init({
                        province: $("input[name=province]").attr("data-id"),
                        city: $("input[name=city]").attr("data-id"),
                        area: $("input[name=area]").attr("data-id")
                    });
                },
                error: function () {
                    // 城市选择插件
                    selectQz.init({
                        province: $("input[name=province]").attr("data-id"),
                        city: $("input[name=city]").attr("data-id"),
                        area: $("input[name=area]").attr("data-id")
                    });
                }
            });

            // 城市选择插件
            // selectQz.init({
            //     province:$("input[name=province]").attr("data-id"),
            //     city:$("input[name=city]").attr("data-id"),
            //     area:$("input[name=area]").attr("data-id")
            // });
            // 轮播图
            var mySwiper = new Swiper('.swiper-container', {
                //移动端轮播
                effect: "side",
                slidesPerView: 1.34,
                centeredSlides: true,
                loopAdditionalSlides: 3,
                loop: true,
                observer:true,//修改swiper自己或子元素时，自动初始化swiper
                observeParents:true,//修改swiper的父元素时，自动初始化swiper
            });
            //切换免责对勾
            $("#check").click(function(){
                $(this).toggleClass('fa-check');
            })

            // 0元获取4份设计方案
            $('.sheji-btn').click(function () {
                var checked = $("#mianze").is(':checked');
                window.order({
                    extra:{
                        cs:$('input[name=city]').attr('data-id'),
                        qx:$('input[name=area]').attr('data-id'),
                        mianji:$(".fadan-box input[name=mianji]").val(),
                        tel:$(".fadan-box input[name=telephone]").val(),
                        source: '20062447'
                    },
                    submitBtn:{
                        className:$(this),
                        type:'btn'
                    },
                    error:function(){
                        alert("发生了未知的错误,请稍后再试！");

                    },
                    success:function(data, status, xhr){
                        if (data.status === 1) {
                            window.location.href = '/xhxsj-result'
                        }
                    },
                    validate:function(item, value, method, info){
                        if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                            alert(info);
                            return false;
                        };
                        if ('mianji' == item && '' != method) {
                            alert(info);
                            return false;
                        };
                        if ('tel' == item && '' != method) {
                            alert(info);
                            $(".m-bj-edit input[name=tel-number]").focus();
                            return false;
                        };
                        if(!checked){
                            alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                            return false;
                        }
                        return true;
                    }
                })
            })
        })

    </script>
</block>
