<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <title>装修erp - 齐装云管家 - 一款好用的装修公司erp管理系统软件 - 齐装网</title>
  <meta name="keywords" content="装修erp，齐装云管家，云管家，装修公司erp管理系统" />
  <meta name="description" content="装修erp管理系统哪个好用？首选齐装云管家，专为装修公司打造的装修erp管理系统软件，提供一站式装企信息化管理解决方案，帮助传统装修公司快速转型、互联网装企轻松落地。" />
  <link rel="canonical" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/" />
  <include file="Index:resource" />
  <link rel="stylesheet" type="text/css" href="/assets/common/plugin/bxslider/bxslider.css?v={:C('STATIC_VERSION')}">
  <link rel="stylesheet" type="text/css" href="/assets/home/index/css/home_20180709.css?v={:C('STATIC_VERSION')}" />
  <link rel="stylesheet" href="/assets/home/erpmarket/css/ERPcon.css?v={:C('STATIC_VERSION')}">
</head>

<body>
  <include file="Index:header" />

  <div class="warp">

    <div class="bigPic">
      <div class="ri">
          <span class="btn to-submit"></span>
      </div>

    </div>
    <div class="fivePic">
      <div class="onecon">
        <img src="/assets/home/erpmarket/img/pilpic.png">
        <span>公司运营中，您是否有以下问题</span>
      </div>
      <ul class="Fivelis wrap">
        <!-- 1 -->
        <li class="ap">
          <div class="ap-box">
              <img class="bp" src="/assets/home/erpmarket/img/picone.png" alt="">
              <p class="fivelis-title">
                1 . 销售难做

              </p>
              <p  class="fivelis-text">
                签单转化率低、客户沟通不顺利、
                客户满意度低。
              </p>
          </div>


        </li>
        <!-- 2 -->
        <li class="ap">
            <div class="ap-box">
                <img class="bp" src="/assets/home/erpmarket/img/picten.png" alt="">
                <p class="fivelis-title">
                  2 .客户不满意
                </p>
                <p class="fivelis-text">
                  无法实时展现订单进程信息，客户不能及时了解施工进程。
                </p>
            </div>


        </li>
        <!-- 3 -->
        <li class="ap">
            <div class="ap-box">
                <img class="bp" src="/assets/home/erpmarket/img/picthree.png" alt="">
                <p class="fivelis-title">
                  3 .工地难控
                </p>
                <p  class="fivelis-text">
                  工地管控全靠跑腿
                  管理效率低成本高
                  没有标准化工程管理。
                </p>

            </div>



        </li>
        <!-- 4 -->
        <li class="ap">
            <div class="ap-box">
                <img class="bp" src="/assets/home/erpmarket/img/pictwo.png" alt="">
                <p class="fivelis-title">
                  4 .老板累
                </p>
                <p  class="fivelis-text">
                  项目流程不明确、部门衔接混乱、员工沟通慢又乱。
                </p>
            </div>


        </li>
        <!-- 5 -->
        <li class="ap">
            <div class="ap-box">
                <img class="bp" src="/assets/home/erpmarket/img/picabc.png" alt="">
                <p class="fivelis-title">
                  5 .建材采购混乱

                </p>
                <p class="fivelis-text">
                  材料进销多、供应商管理混乱、账目不清晰。
                </p>

            </div>


        </li>





      </ul>


    </div>
    <!-- c -->
    <div class="TwobigPic">
      <div class="P3cont">
        <p>面对这些问题，你还能<span>忍</span>多久？</p>
        <p>其他公司都在<span>飞速发展</span>中，而你还在被这些<span>传统的琐事</span>所干扰？</p>
        <p>想要做出<span>改变</span>吗？想要在<span>2019收获</span>更多吗？</p>
      </div>

      <img src="/assets/home/erpmarket/img/threepicA.png" alt="">
      <p class="p-01">那就来尝试下齐装云管家吧</p>

    </div>
    <div class="foryou-box">
      <!-- d -->
      <div class="onecon">
        <img src="/assets/home/erpmarket/img/pilpic.png">
        <span>齐装云管家能为你做什么？</span>
      </div>
      <!-- E -->
      <div class="forYou">
        <ul class="forlis">
          <!-- 1 -->
          <li class="tp li-01">
            <!-- <img class="wp" src="/assets/home/erpmarket/img/one.png" alt=""> -->
            <p class="p-02">
              订单管理
            </p>
            <p class="p-03">
              订单信息详细展示
              轻松掌控业务
            </p>
          </li>
          <!-- 2 -->
          <li class="tp li-02">
            <!-- <img class="wp" src="/assets/home/erpmarket/img/two.png" alt=""> -->
            <p class="p-02">
              跟单管理
            </p>
            <p class="p-03">
              订单信息及时跟踪
              大大提高跟单效率
            </p>
          </li>
          <!-- 3 -->
          <li class="tp li-03">
            <!-- <img class="wp" src="/assets/home/erpmarket/img/three.png" alt=""> -->
            <p class="p-02">
              工地管理
            </p>
            <p class="p-03">

              施工进程实时呈现
              老板放心客户放心

            </p>
          </li>
          <!-- 4 -->
          <li class="tp li-04">
            <!-- <img class="wp" src="/assets/home/erpmarket/img/four.png" alt=""> -->
            <p class="p-02">
              团队管理
            </p>
            <p class="p-03">
              优化团队管理
              提升整体工作效率
            </p>
          </li>
          <!-- 5 -->
          <li class="tp li-05">
            <!-- <img class="wp" src="/assets/home/erpmarket/img/fivepic.png" alt=""> -->
            <p class="p-02">
              渠道管理
            </p>
            <p class="p-03">

              科学管理供应渠道
              材料进销清晰有序

            </p>

          </li>

        </ul>


        <!-- btn -->
        <div class="fubtn to-submit">
          <img src="/assets/home/erpmarket/img/fourpicB.png" alt="">
          <p>
            立即免费试用
          </p>
        </div>
      </div>
    </div>

    <!-- d -->
    <div class="ThreebigPic">
      <div class="onecon">
        <img src="/assets/home/erpmarket/img/pilpic.png">
        <span style="color:#fff">你能从齐装云管家得到什么？</span>
      </div>
      <img src="/assets/home/erpmarket/img/five.png"  class="threebigpic-img">
      <div class="threebtn to-submit">
        立即免费试用
      </div>
    </div>
    <!-- f -->
    <div class="sixPic">
      <div class="sixPic-mc">
      <div class="wrap">
          <div class="onecon">
              <img src="/assets/home/erpmarket/img/pilpic.png">
              <span style="color:#333">为什么要选择齐装云管家？</span>
          </div>
          <p class="ldbzfw">
              六大服务保障
          </p>
          <ul class="sixlis">
              <!-- 1 -->
              <li>
                <div class="six-bz-box">
                    <div>
                        <img class="lp" src="/assets/home/erpmarket/img/picfive.png" alt="">
                    </div>
                    <p class="six-bz-title">操作简单</p>
                    <p class="six-bz-text">便捷人性化的操作设计</p>
                    <p class="six-bz-text">轻松上手使用</p>
                </div>

              </li>
              <!-- 2 -->
              <li>
                  <div class="six-bz-box">
                    <div>
                        <img class="lp1" src="/assets/home/erpmarket/img/picsix.png" alt="">
                    </div>

                    <p class="six-bz-title">
                      功能强大
                    </p>
                    <p class="six-bz-text">
                      专业的研发团队

                    </p>
                    <p class="six-bz-text">不间断更新升级系统</p>
                  </div>

              </li>
               <!-- 3 -->
               <li>
                  <div class="six-bz-box">
                    <div>
                        <img class="lp2" src="/assets/home/erpmarket/img/picseven.png" alt="">
                    </div>

                      <p class="six-bz-title">
                        安全保障
                      </p>
                      <p class="six-bz-text">
                        采用阿里云服务器

                      </p>
                      <p class="six-bz-text">

                          数据多点备份、异地备份
                        </p>
                  </div>

                </li>
          </ul>
          <ul class="sixlis">
                <!-- 4 -->
                <li>
                    <div class="six-bz-box six-box-four">
                      <div>
                          <img class="lp3 lp-3" src="/assets/home/erpmarket/img/piceight.png" alt="">
                      </div>

                        <p class="six-bz-title">
                          免费升级
                        </p>
                        <p class="six-bz-text">

                          终身享受免费升级服务


                        </p>
                        <p class="six-bz-text">


                            保持功能升级

                          </p>
                    </div>

                </li>
                <!-- 5 -->
                <li>
                    <div class="six-bz-box six-box-five">
                      <div>
                          <img class="lp4" src="/assets/home/erpmarket/img/picnine.png" alt="" width="27%">
                      </div>

                        <p class="six-bz-title">
                          立体式服务
                        </p>
                        <p class="six-bz-text">

                          3 V 1精英团队式服务


                        </p>
                        <p class="six-bz-text">


                            专业ERP团队为您服务

                          </p>
                    </div>
                </li>
                <!-- 6 -->
                <li>
                    <div class="six-bz-box six-box-six">
                      <div>
                          <img class="lp5" src="/assets/home/erpmarket/img/piconeone.png" alt="">
                      </div>

                        <p class="six-bz-title">
                          在线客服
                        </p>
                        <p class="six-bz-text">
                          专业的客服中心随时随地
                        </p>
                        <p class="six-bz-text">
                            地的响应客户所需
                          </p>
                    </div>

                </li>

          </ul>
          <!-- btn -->
          <div class="sixbtn to-submit">
            <img src="/assets/home/erpmarket/img/fourpicB.png" alt="">
            <p>
              立即免费试用
            </p>
          </div>
      </div>
      </div>
    </div>

    <!-- g -->
    <div class="footPic">
      <div style="height:56px;"></div>
      <p class="footPic-title">
        齐装云管家
      </p>
      <p class="foot-text">
        专注于家装企业的管理进步和价值提升
      </p>
      <p class="foot-text">让传统行业快速转型，互联网装企轻松落地！</p>
      <img src="/assets/home/erpmarket/img/allpic.png" class="foot-pic-img">
    </div>




  </div>
    <!-- dibu -->
    <div class="fix-order">
        <div class="main clearfix">
            <div class="logo"></div>
            <div class="slogan">    <span></span>       <span>立即申请免费试用</span></div>

            <div class="name-box">
                <input class="edit-text name-text op" type="text" name="f_name" placeholder="请输入您的姓名" maxlength="20" autocomplete="off" >
                <div class="b-warn f_name-warn"></div>
            </div>
            <div class="phone-box">
                <input class="edit-text mb0 tel-text op" type="text" name="f_tel" placeholder="请输入您的手机号" maxlength="11" id="f_tel" autocomplete="off">
                <div class="b-warn f_tel-warn"></div>
            </div>
            <div class="name-box">
              <input class="edit-text conname-text op" type="text" name="f_name" placeholder="请输入您的公司名称" maxlength="20" autocomplete="off" >
              <div class="b-warn f_conname-warn"></div>
          </div>

          <!-- <div class="btn-ok">
             <img src="" alt="">
          </div> -->


            <div class="btn-box-s">
                <button class="box-line" id="f_btnSave" type="button">
                <span class="span-01">立即免费试用</span>
                </button>
                <!--S-免责声明-->

                <include file="Common@Order/disclamer" />


                <!--E-免责声明-->
            </div>
        </div>
    </div>




  <div class="Mb for_ie_bg">
      <div class="tsk">

        <p>请填写信息</p>
        <ul class="blis">
          <li>
            <input type="text" name="name" maxlength="20" placeholder="请输入您的姓名" class="cname cler-li op">
            <p class="name-warn b-warn" style="display: none;">请输入正确的姓名,仅支持中文,英文</p>
          </li>
          <!-- nub -->
          <li>
            <input class="cler-li op" type="text" name="tel" maxlength="11" placeholder="请输入您的手机号">
            <p class="tel-warn b-warn" style="display: none;">请输入11位数字</p>
          </li>
          <!-- gsm -->
          <li>
            <input class="cler-li op" type="text" name="companyname" maxlength="20" placeholder="请输入您的公司名字">
            <p class="company-name b-warn" style="display: none;">请输入公司名字,仅支持中文,英文</p>
          </li>
        </ul>
        <div class="obtn">
          <div class="disclaimer cot-op" style="height: auto;margin-bottom: 0.05rem;">

            <include file="Common@Order/disclamer" />
          </div>
        </div>
        <button class="cocobtn"><img src="/assets/home/erpmarket/img/closebtn.png" alt=""></button>
        <div class="okbtn">
          <p>提交申请</p>
        </div>
      </div>
      <!-- tong -->
      <div class="tgbtn">
        <img src="/assets/home/erpmarket/img/kuang.png" alt="">
        <p>
          恭喜您申请成功！
        </p>
        <p>我们会尽快为您服务~</p>
        <div class="colos">
          <img src="/assets/home/erpmarket/img/picfivetwo.png" alt="">
          <p>关闭</p>
        </div>



      </div>




    </div>


  <script>


$(".to-submit").click(function(){
  $(".Mb").css("display", "block");
  $(".tgbtn").css("display", "none");
  $(".tsk").css("display", "block");
})

   $(".colos").click(function(){
    $(".Mb").css("display", "none");
    $(".cler-li").val("");
    $(".company-name").text("");
    $(".name-warn").text("");
    $(".tel-warn").text("");
   })
   $(".cocobtn").click(function(){
    $(".Mb").css("display", "none");
    $(".cler-li").val("");
    $(".company-name").text("");
    $(".name-warn").text("");
    $(".tel-warn").text("");

   })
   $(".op").on("keyup",function () {
                    $(this).val($(this).val().replace(/\s+/g,""));
                });

  </script>



  <script>

    $(".okbtn").on("click", function () {
     $(".b-warn").hide();

var checked2 = $(".obtn .disclamer-check").attr('data-checked');


      var loginName = $(".cname").val(),
        loginTel = $("input[name=tel]").val(),
        loginComp = $("input[name=companyname]").val();

      var regName = /^[\u4E00-\u9FA5A-Za-z]+$/,
        regTel = /^1[3456789]\d{9}$/;

      if (!loginName) {
        $(".name-warn").text("用户名不能为空").show()
        return false
      } else if (!regName.test(loginName)) {
        $(".name-warn").text("用户名只能是中文或英文").show()
        return false
      }

      if (!loginTel) {
        $(".tel-warn").text("手机号不能为空").show()
        return false
      } else if (!regTel.test(loginTel)) {
        $(".tel-warn").text("请输入您的有效手机号").show()
        return false
      }

      if (!loginComp) {
        $(".company-name").text("公司名字不能为空").show()
        return false
      } else if (!regName.test(loginComp)) {
        $(".company-name").text("请输入公司名称，仅支持中文、英文").show()
        return false
      }
      if (checked2 == 'false') {
        alert("请先勾选免责声明")
        return false;
      }
      $.ajax({
        url: "/erp/register",
        dataType: "JSON",
        method: "POST",
        data: {
          name: loginName,
          tel: loginTel,
          company_name: loginComp
        }
      }).done(function (res) {

        if (res.error_code == 0) {
          //  $(".")
          $(".tgbtn").css("display", "block");
          $(".tsk").css("display", "none");

        } else {
          alert(res.info)
        }
      }).fail(function (xhr) {
        alert("未知错误,请刷新重试")
        return false
      })
    });
  </script>
<!-- dibu -->
<script>

 $(".box-line").on("click", function () {
  $(".b-warn").hide();
  var checked3 = $(".btn-box-s  .disclamer-check").attr('data-checked');
      var loginNameA = $(".name-text").val(),
        loginTelA = $(".tel-text").val(),
        loginCompA = $(".conname-text").val();

      var regName = /^[\u4E00-\u9FA5A-Za-z]+$/,
        regTel = /^1[3456789]\d{9}$/;

      if (!loginNameA) {
        $(".f_name-warn").text("用户名不能为空").show()
        return false
      } else if (!regName.test(loginNameA)) {
        $(".f_name-warn").text("请输入正确的姓名仅支持中文、英文").show()
        return false
      }


      if (!loginTelA) {
        $(".f_tel-warn").text("手机号不能为空").show()
        return false
      } else if (!regTel.test(loginTelA)) {
        $(".f_tel-warn").text("请输入您的有效手机号").show()
        return false
      }

      if (!loginCompA) {
        $(".f_conname-warn").text("公司名字不能为空").show()
        return false
      } else if (!regName.test(loginCompA)) {
        $(".f_conname-warn").text("请输入公司名称，仅支持中文、英文").show()
        return false
      }
      if (checked3 == 'false') {
        alert("请先勾选免责声明")
        return false;
      }
      $.ajax({
        url: "/erp/register",
        dataType: "JSON",
        method: "POST",
        data: {
          name: loginNameA,
          tel: loginTelA,
          company_name: loginCompA
        }
      }).done(function (res) {

        if (res.error_code == 0) {
          // alert("恭喜您申请成功");
          $(".Mb").css("display","block");
          $(".tsk").css("display","none");
          $(".tgbtn").css("display","block");
          // $(".name-box input").text("");
          $(".edit-text").val("");

        } else {
          alert(res.info)
        }
      }).fail(function (xhr) {
        alert("未知错误,请刷新重试")
        return false
      })
    });

</script>





  <include file="Index/footer" />
  <script type="text/javascript" src="/assets/home/index/js/slider.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/home/index/js/pic_script.js?v={:C('STATIC_VERSION')}"></script>
  <script src="/assets/home/index/js/jquery.luara.min.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/home/index/js/base.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/common/js/jQuery.rTabs.js?v={:C('STATIC_VERSION')}"></script>
  <script src="/assets/home/index/js/jquery.scrollbox.js?v={:C('STATIC_VERSION')}"></script>
  <script src="/assets/home/index/js/jquery.js?v={:C('STATIC_VERSION')}"></script>
  <script src="/assets/common/js/webticker/js/jquery.webticker.min.js?v={:C('STATIC_VERSION')}"></script>
  <script src="/assets/common/plugin/bxslider/bxslider.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/common/js/order.js?v={:C('STATIC_VERSION')}"></script>
</body>

</html>
