<extend name="Main:baseTemplate"/>
<block name="title">
    <title>齐装网装修地图管理后台 - 控制台</title>
</block>

<block name="style">

    <link href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/home/company/css/index.css?v={:C('STATIC_VERSION')}">
    <link href="/assets/home/Decorationmap/edit.css?v={:C('STATIC_VERSION')}"
          rel="stylesheet"/>
    <script type="text/javascript" src="/assets/common/plugins/layer/layer.js?v={:C('STATIC_VERSION')}"></script>


</block>

<block name="content">
    <section class="content-header">
        <h1>装修地图-数据清洗 > 编辑数据</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
<!--                                                        {:dump($info)}-->
                            <form class="form-horizontal" id="search_form">


                                <div class="clearfix form-row">
                                    <div class="col-xs-6 mb15">
                                        <p class="sub-item reset-padding"><i>*</i>装修公司：</p>
                                        <div class="col-xs-12">
                                            <input type="text" name="company" placeholder="装修公司"
                                                   class="form-control" value="{$info.company_name|default=''}">
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix form-row">
                                    <div class="col-xs-6 mb15">
                                        <p class="sub-item reset-padding"><i>*</i>地址：</p>
                                        <div class="col-xs-12">
                                            <input type="text" name="address" placeholder="地址"
                                                   class="form-control"
                                                   value="{$info.address|default=''}">
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix form-row">
                                    <div class="col-xs-6 small-input-wrap mb15 clearfix">
                                        <div class="small-input">
                                            <p class="sub-item reset-padding"><i>*</i>所属城市：</p>
                                            <div class="small-input-box">

                                                <switch name="info.type">
                                                    <case value="1">
                                                        <select name="city"
                                                                class="form-control" disabled>
                                                            <option value="">请选择</option>
                                                            <volist name="city" id="vo">
                                                                <option value="{$vo.cid}"
                                                                <eq name="info.city" value="$vo['cid']">selected</eq>
                                                                >{$vo.cname}</option>
                                                            </volist>
                                                        </select>
                                                    </case>
                                                    <case value="2">
                                                        <select name="city"
                                                                class="form-control" disabled>
                                                            <option value="">请选择</option>
                                                            <volist name="city" id="vo">
                                                                <option value="{$vo.cid}"
                                                                <eq name="info.city" value="$vo['cid']">selected</eq>
                                                                >{$vo.cname}</option>
                                                            </volist>
                                                        </select>
                                                    </case>
                                                    <case value="3">
                                                        <select name="city"
                                                                class="form-control">
                                                            <option value="">请选择</option>
                                                            <volist name="city" id="vo">
                                                                <option value="{$vo.cid}"
                                                                <eq name="info.city" value="$vo['cid']">selected</eq>
                                                                >{$vo.cname}</option>
                                                            </volist>
                                                        </select>
                                                    </case>
                                                    <default/>
                                                    <select name="city"
                                                            class="form-control">
                                                        <option value="0">{$info.city|default=''}</option>
                                                        <volist name="city" id="vo">
                                                            <option value="{$vo.cid}"
                                                            <eq name="info.city" value="$vo['cid']">selected</eq>
                                                            >{$vo.cname}</option>
                                                        </volist>
                                                    </select>
                                                </switch>


                                            </div>
                                        </div>
                                        <div class="small-input">
                                            <p class="sub-item reset-padding">好评率：</p>
                                            <div class="small-input-box">
                                                <input type="text" name="haoping_lv" placeholder="好评率"
                                                       class="form-control"
                                                       value="{$info.haoping_lv|default=''}">
                                            </div>
                                        </div>
                                        <div class="small-input">
                                            <p class="sub-item reset-padding">设计案例：</p>
                                            <div class="small-input-box">
                                                <input type="text" name="case" placeholder="设计案例"
                                                       class="form-control"
                                                       value="{$info.case_num|default=''}">
                                            </div>
                                        </div>
                                        <div class="small-input">
                                            <p class="sub-item reset-padding">设计师：</p>
                                            <div class="small-input-box">
                                                <input type="text" name="designer" placeholder="设计师"
                                                       class="form-control"
                                                       value="{$info.designer_num|default=''}">
                                            </div>
                                        </div>
                                        <div class="small-input">
                                            <p class="sub-item reset-padding">工地：</p>
                                            <div class="small-input-box">
                                                <input type="text" name="site" placeholder="工地"
                                                       class="form-control"
                                                       value="{$info.site_num|default=''}">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix form-row">
                                    <div class="col-xs-6 mb15 clearfix">
                                        <p class="sub-item reset-padding"><i>*</i>坐标：</p>
                                        <div class="col-xs-5">
                                            <input type="text" name="coordinate" placeholder="坐标"
                                                   class="form-control"
                                                   value="{$info.lng|default=''},{$info.lat|default=''}">
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix form-row">
                                    <div class="col-xs-6 mb15 clearfix">
                                        <p class="sub-item reset-padding">会员标识（id:{$info.company_id}）</p>
                                        <div class="col-xs-5">

                                            <switch name="info.type">
                                                <case value="1"><input type="text" name="adv_name" class="form-control"
                                                                       disabled value="真会员"></case>
                                                <case value="2"><input type="text" name="adv_name" class="form-control"
                                                                       disabled value="假会员"></case>
                                                <case value="3"><input type="text" name="adv_name" class="form-control"
                                                                       disabled value="三方"></case>
                                                <default/>
                                                -
                                            </switch>

                                        </div>
                                    </div>
                                </div>


                                <!--                                <div class="clearfix form-row">-->
                                <!--                                    <div class="col-xs-6 mb15 clearfix">-->
                                <!--                                        <p class="sub-item reset-padding">店铺地址</p>-->
                                <!--                                        <div class="col-xs-12">-->
                                <!--                                            <input type="text" name="dp_address" placeholder="地址"-->
                                <!--                                                   class="form-control"-->
                                <!--                                                   value="{$info.type|default=''}">-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->


                                <div class="clearfix form-row">
                                    <div class="col-xs-6 mb15 clearfix">
                                        <p class="sub-item reset-padding">公司简介</p>
                                        <div class="col-xs-12">
                                            <textarea name="intro" rows="3" class="form-control" placeholder="公司简介">{$info.intro|default=''}</textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row mb15 brand-img clearfix">
                                    <div class="col-xs-6 mb15 clearfix">
                                        <p class="sub-item reset-padding"><i>*</i>品牌图片：</p>
                                        <div class="col-xs-12">
                                            <pre class="item-pre" id="demand"><php>echo !empty($info['demand'])?$info['demand'].'<br><span
                                                    class="js_tip">仅作为建议，不做强制要求，为保证显示效果，请尽量符合要求</span>':''</php></pre>
                                            <input type="hidden" id="upload_limit" value="{$info.img_num|default=1}">
                                            <div id="upload_adv_box">
                                                <input id="imgUpload" type="file" multiple name="img_upload"
                                                       value="上传"/>
                                                <div id="files">
                                                    <input type="hidden" name="img_url"
                                                           value="{$info.img_hidden_url|default=''}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mb15 brand-img clearfix">
                                    <div class="col-xs-6 mb15 clearfix">
                                        <div class="waring">
                                            注意事项 <span class="waring-close">X</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-row mb15 but-wrapper">
                                    <div class="col-xs-6 mb15 clearfix">
                                        <div class="but-box">
                                            <input type="button" class="save-button" value="保存" onclick="saveInfo()">
                                            <input type="button" class="return-button" value="返回"
                                                   onclick="window.location.href='javascript:history.go(-1)'">
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>

<block name="script">
    <script>
        var imgList = []
        if ("{$info.logo}" != '') {
            var imgItem = '<img class="file-preview-image" src="{$info.logo}">'
            imgList.push(imgItem)
        }
        $('.waring-close').click(function () {
            $('.waring').hide()
        })

        /*图片上传插件 S*/
        $(function () {
            var $uploadLimit = $('#upload_limit'),
                $uploadAdvBox = $('#upload_adv_box'),
                $imgUrl = $('input[name="img_url"]');
            $("#imgUpload").fileinput({
                language: 'zh', //设置语言,
                uploadUrl: "/upload/uploadimg/",
                showCaption: false,
                browseClass: "btn blue",
                allowedFileExtensions: ['jpg', 'png', 'jpeg'],
                overwriteInitial: false,
                maxFileSize: 70000,
                maxFileCount: 0, // 这里设为0，由于存在bug，这个属性相当于没什么用了
                uploadClass: "btn green",
                removeClass: "btn red",
                uploadAsync: true,
                browseLabel: '选择',
                dropZoneEnabled: false,
                previewSettings: {
                    image: {width: "auto", height: "100px"}
                },
                layoutTemplates: {
                    actionUpload: ""
                },
                /* minImageWidth: 1205,
                 minImageHeight: 405,
                 maxImageWidth: 1205,
                 maxImageHeight: 405,*/
                // maxFileSize: 100,
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                uploadExtraData: {
                    prefix: 'qzlogo'
                },
                initialPreview: imgList || [],
                initialPreviewAsData: true,
                initialPreviewFileType: 'image',
                initialPreviewConfig: imgList || [],
            })
                .on('filebatchselected', function (evt, file) {
                    // 选择图片后执行，用于判断选择的图片是否超出限制，这是为了弥补maxFileCount的bug

                    if ($uploadAdvBox.find('.file-preview-frame').length > $uploadLimit.val()) {
                        layer.msg('仅允许上传' + $uploadLimit.val() + '张，请删除多余的图片再上传')
                        // 禁用选择按钮
                        $('#imgUpload').attr('disabled', 'disabled');
                        $('#imgUpload').closest('div.btn-file').addClass('btn-disabled');
                        // 禁用上传按钮
                        $uploadAdvBox.find('.fileinput-upload-button').attr('disabled', 'disabled')
                        $('.kv-file-remove').removeClass('disabled')
                    }
                })
                .on('filebatchuploadcomplete', function (evt, file) {
                    // 只会调用一次，所有图片都上传成功调用，这是为了弥补上传成功后部分DOM结构重新渲染，导致filebatchselected钩子中执行的操作失效
                    if ($uploadAdvBox.find('.file-preview-frame').length > $uploadLimit.val()) {
                        $('#imgUpload').attr('disabled', 'disabled')
                        $('#imgUpload').closest('div.btn-file').addClass('btn-disabled');
                    }
                })
                .on('fileuploaded', function (event, data, previewId, index) {
                    // 上传成功几次就调用几次，把后端返回的地址附加到DOM结构上，为以后得操作做准备
                    if (data.response.status == 1) {
                        $uploadAdvBox.find('#' + previewId).attr('data-url', data.response.data.name);
                    } else {
                        alert(data.response.info);
                    }
                })
                .on('fileclear', function (evt, file) {
                    // 点击右上角叉叉执行
                    $('#imgUpload').removeAttr('disabled')
                    $('#imgUpload').closest('div.btn-file').removeClass('btn-disabled')
                    $uploadAdvBox.find('.fileinput-upload-button').removeAttr('disabled')
                })
                .on("filesuccessremove", function (event, uploadedId, index) {
                    // 仅对上传成功的图片有效，未上传的图片不执行这里
                    // 通过uploadedId找到缓存的data-url，然后去匹配files中的文件，实现删除
                    // 延迟一秒后删除，否则不准确
                    setTimeout(function () {
                        if ($uploadAdvBox.find('.file-preview-frame').length < $uploadLimit.val()) {
                            $('#imgUpload').removeAttr('disabled')
                            $('#imgUpload').closest('div.btn-file').removeClass('btn-disabled')
                        }
                    }, 1000)
                })
                .on('fileremoved', function () {
                    // 该事件钩子针对只选择不上传的情况
                    if ($uploadAdvBox.find('.file-preview-frame').length <= $uploadLimit.val()) {
                        $('#imgUpload').removeAttr('disabled')
                        $('#imgUpload').closest('div.btn-file').removeClass('btn-disabled')
                        $uploadAdvBox.find('.fileinput-upload-button').removeAttr('disabled')
                    }
                })
            if ($imgUrl.val()) {
                // 给file-preview-frame元素附加data-url属性，用于提交的时候收集数据
                window.onload = function () {
                    setTimeout(function () {
                        var $filePreviewFrame = $('.file-preview-frame');
                        $filePreviewFrame.each(function (index, item) {
                            var imgLink = $(item).find('img').attr('src')
                            if (imgLink) {
                                imgLink = imgLink.replace(/http:\/\/{:C('QINIU_DOMAIN')}\//, '')
                                $(item).attr('data-url', imgLink)
                            }
                        })
                    }, 1000)
                }
                // 监听已上传图片的删除事件，针对插件未提供图片初始化删除事件钩子的情况
                $("#upload_adv_box").on("click", function (event) {
                    var $target = $(event.target);
                    if ($target[0].nodeName.toLowerCase() == "button" || $target[0].nodeName.toLowerCase() == "i") {
                        imgList.slice(0, 1)
                        setTimeout(function () {
                            if ($uploadAdvBox.find('.file-preview-frame').length <= $uploadLimit.val()) {
                                $('#imgUpload').removeAttr('disabled')
                                $('#imgUpload').closest('div.btn-file').removeClass('btn-disabled')
                                $uploadAdvBox.find('.fileinput-upload-button').removeAttr('disabled')
                            }
                        }, 1000)
                    }
                })
            }
        })
        /*图片上传插件 S*/


        // 保存
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }


        var id = getQueryVariable("id")

        function saveInfo() {
            $uploadAdvBox = $('#upload_adv_box')
            var imgUrl = ""
            $uploadAdvBox.find('.file-preview-frame').each(function (index, item) {
                imgUrl = $(item).attr('data-url')
                console.log(imgUrl)
                if (imgUrl == undefined) {
                    imgUrl = "{$info.logo}".split('/')[3] + '/' + "{$info.logo}".split('/')[4] + '/' + "{$info.logo}".split('/')[5]
                }
            })

            if ($("input[name='company']").val() == '') {
                alert('请输入公司名称')
                return
            }
            if ($('select[name="city"]').val() == '') {
                alert('请选择城市')
                return
            }
            if ($("input[name='address']").val() == '') {
                alert('请输入地址')
                return
            }
            if ($("input[name='coordinate']").val() == '') {
                alert('请输入坐标')
                return
            }
            $.ajax({
                url: '/decorationmap/edit_decoration',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    id: id,
                    company_name: $("input[name='company']").val(),
                    logo: imgUrl,
                    city: $('select[name="city"]').val(),
                    address: $("input[name='address']").val(),
                    intro: $("textarea[name='intro']").val(),
                    haoping_lv: $("input[name='haoping_lv']").val(),
                    case_num: $("input[name='case']").val(),
                    designer_num: $("input[name='designer']").val(),
                    site_num: $("input[name='site']").val(),
                    coordinate: $("input[name='coordinate']").val(),
                }
            })
                .done(function (data) {
                    if (data.error_code === 0) {
                        alert("数据成功保存");
                        window.location.href = "/decorationmap/";
                    } else {
                        alert(data.error_msg);
                    }
                });
        }

    </script>

</block>


