.top-banner img{
  width: 100%;
  position: relative;
  z-index: -1;
}
.order-box{
  width: 84%;
  margin:-0.5rem auto 0px auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 10px #dedede;
  padding: 0.25rem 0.1rem;
  position: relative;
  z-index: 9
}
.order-box li{
  margin-bottom:18px;
}
.order-head-title{
  text-align: center;
  border-bottom:1px solid #313131;
  height: 18px;
  width:75%;
  margin:0px auto;
  line-height: 35px;
}
.order-head-title span{
  background:#fff;
  padding:10px 15px;
  font-weight: bold;
  font-size: 0.16rem;
}
.border-body{
  margin-top:0.2rem;
}
.m-b-btn{
  background: #FF5353;
  border-radius: 5px;
  text-align: center;
  margin:0px
}

.m-bj-edit li input,.m-bj-edit li button{
  height: 46px;
  width: 100%;
  font-size: 0.13rem;
  padding-left: 5px;
  border: none;
  outline: none;
  color: rgb(51,51,51);
  background:#F7F7F7;
  border-radius: 5px;
}
#showCityPicker2 i{
  padding-right:5px;
}
.mflq-title{
  margin-top:-0.42rem;

}
.mflq-title .title-img{
  width:100%;
  position: relative;
  z-index: -1;
}
.problem-solves{
  background:url("../img/bg-ask.png") top center no-repeat;
  background-size: 100%;
  height: 4.5rem;
  margin:0px 0.12rem;
  margin-top:-0.06rem;
}

.problem-solves table{
  width:87%;
  text-align: center;
  padding-top:0.5rem;
  height:1rem;
  color:#EBC7A6;
  margin:0px auto;
}
.problem-solves table img{
  width:96%;
}
.question-answer{
  width:91%;
  margin:0px auto;
  margin-top:0.2rem;
  font-size: 0.1rem;
}
.question{
  color:#EBC7A6;
  vertical-align: bottom;
  overflow: hidden;
  position: relative;
}
.question::before{
  content:"Q:";
  position: absolute;
  bottom:0px;
  left:0px;
  font-size: 15px;
}
.question span{
  padding:0.06rem 0.1rem;
  background: -moz-linear-gradient(top, #D6B8A1 0%, #6A5541 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D6B8A1), color-stop(100%,#6A5541));
  background: -webkit-linear-gradient(top, #D6B8A1 0%,#6A5541 100%);
  background: -o-linear-gradient(top, #D6B8A1 0%,#6A5541 100%);
  background: -ms-linear-gradient(top, #D6B8A1 0%,#6A5541 100%);
  background: linear-gradient(to bottom, #D6B8A1 0%,#6A5541 100%);
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  float: left;
  max-width: 85%;
  color:#fff;
  margin-left:0.2rem;
}

.answer{
  color:#fff;
  margin:0.15rem 0px;
  overflow: hidden;
  position: relative;
}
.answer span{
  border:1px solid #fff;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding:0.06rem 0.1rem;
  float: left;
  max-width: 85%;
  margin-right:0.2rem;
}
.answer::after{
  content:":A";
  position: absolute;
  bottom:0px;
  right:0px;
  font-size: 15px;
}
.mfdz-box,.fgsd-cases{
  background: #F7F0E9;
}
.mfdz-box img{
  width:100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px
}
.img-cases{
  overflow: hidden;
}
.img-cases li{
  width:50%;
  float: left;
}
.swiper-container{
  width: 95%;
  margin:0px auto;
}
.img-cases li div{
  width:93%;
  margin:10px auto;
  border:3px solid #EBC7A6;
  border-radius: 5px;
}
.img-cases li div p{
  background:#2E584F;
  text-align:center;
  color:#fff;
  padding:10px 0px;
  font-size: 0.11rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px
}
.img-cases li div p span{
  font-size: 0.13rem;
  padding-right:8px;
}
#swiper-pagination{
  text-align:center;
  margin-bottom:10px;
}
.swiper-pagination-bullet-active{
  background:#2E584F !important;
}
.fgsd{
  margin-top:-0.2rem;
}
.fgsd-titile{
  width:100%
}
.fgsd-cases{
  margin-top:-0.12rem;
}
.style-con{
  padding-top:0.2rem;
  padding-bottom:0.2rem;
}
.style-item-img{
  width: 95%;
  height: 1.9rem;
  border-radius: 5px;
  overflow: hidden;
  margin:0px auto;
  border:3px solid #E6B99D;
  position: relative;
  box-shadow: inset 0px 0px 10px #000;
}
.style-item-img img{
  width:100%;
  height: 100%;
  vertical-align: top;
 
}
.style-item-img-title{
  position: absolute;
  height: 0.4rem;
  width:100%;
  top:-2px;
  left:0px;
  background:url("../img/style-title-bg.png") no-repeat;
  background-position: top center;
  background-size: 80%;
  text-align: center;
  line-height: 0.25rem;
  color:#2E584F;
}
.ys-title{
  width:100%;
}
.ys-box{
  background: url("../img/ys-content-box.png") no-repeat top center;
  background-size: 93% auto;
  height: 3.5rem;
}
.ys-table{
  width:88%;
  margin:0 auto;
  height: 70%;
  position: relative;
  top:16%;
}
.ys-table td{
  border-bottom:1px dashed #a4a4a4;
  vertical-align: middle;
}
.ys-table td span{
  display: inline-block;
  background: url(../img/bg-ys-title.png) no-repeat;
  width: 0.48rem;
  background-size: 100% auto;
  margin:0px 6px;
  text-align:center;
  color:#2E584F;
  padding:0.025rem 0px;
  vertical-align: middle;
}
.ys-table tr td:nth-child(1){
  border-right:1px dashed #a4a4a4;
}
.ys-table tr td p{
  padding-left:8px;
  line-height: 0.2rem;
}
.ys-table tr td p:nth-child(1){
  color:#fff;
}
.ys-table tr td p:nth-child(2){
  color:#FFD39A;
}
.submit-2{
  margin:0.2rem 0.1rem;
}
.p-mask{
  background:rgba(0,0,0,0.7);
  position: fixed;
  width:100%;
  height: 100%;
  top:0px;
  left:0px;
  z-index: 99;
  display: none;
}
.result-box{
  position: fixed;
  margin: auto;
  left:0px;
  right: 0px;
  top:0px;
  bottom: 0px;
  width:95%;
  height: 3rem;
  z-index: 999;
  background:white;
  border-radius: 5px;
  display: none;
  text-align:center;
}
.result-box .header{
  color:#fff;
  font-size: 0.18rem;
  letter-spacing: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding:0.18rem 0px;
  background: -moz-linear-gradient(top, #FF735C 0%, #F12437 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF735C), color-stop(100%,#F12437));
  background: -webkit-linear-gradient(top, #FF735C 0%,#F12437 100%);
  background: -o-linear-gradient(top, #FF735C 0%,#F12437 100%);
  background: -ms-linear-gradient(top, #FF735C 0%,#F12437 0 100%);
  background: linear-gradient(to bottom, #FF735C 0%,#F12437 100%);
}
.neck-line{border:1px solid #F12437; margin-top:3px;}
.xq-title{
  font-size: 0.15rem;
  padding:0.1rem 0px;
}
.xq-title span{color:#FF9E13}
.xq-text{color:#999;line-height:0.18rem;}
.result-box .close{
  position: absolute;
  right:0px;
  top:-0.4rem;
  z-index: 9999;
  width:25px;
  height:25px;
  background:url("../img/close.png") center center;
  background-size: 100%
}