.zxbj{
    background-image: url(../img/gz-banner.png);
    height:450px;
    padding-top: 182px;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.zxbj .gz-img-banner{
    position: absolute;
    top:15px;
    left: 549px;
}
.zxbj .gz-img-tit{
    position: absolute;
    top:44px;
    left: 710px;
}
.zxbj .gz-img-content{
    width:333px;
    height:52px;
    background:#D4A169;
    font-size:31px;
    color:#fff;
    text-align: center;
    line-height: 52px;
    position: absolute;
    left: 708px;
    top:109px;
}
.zxbj-box{
    height: 415px;
    width:1134px;
    margin:0 auto;
    border: 1px solid #ddd;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px 0px #ccc;
}
.znbj-con {
    margin-top: 50px;
    overflow: hidden;
}
.znbj-con-tit {
    width: 100%;
    height: 98px;
    text-align: center;
    overflow: hidden;
    line-height: 25px;
}
.znbj-con-box{
    height: 350px;
    float: left;
    margin-left: 60px;
}
.con-l-tit{
    overflow: hidden;
}
.znbj-con-l{
    width: 370px;
    position: relative;
    margin: 0 auto;
}
.bjjsq{
    float: left;
}
.text-con{
    float: left;
    color: #999;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    line-height: 12px;
    text-align: center;
    margin-top: 7px;
    margin-left:3px;
}
.form-line label{
    width:80px;
    float: left;
    height: 38px;
    line-height: 38px;
    text-align: right;
    font-size:16px;
    color:#333;
}
.znbj-con-r{
    width: 310px;
    float: left;
    position: relative;
}
.znbj-con-m {
    float: left;
    position: relative;
}
.con-l-text{
    color: #333;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.text-red{
    margin-left:80px;
    color: red;
    height: 20px;
    position: absolute;
    width: 69%;
}
.znbj-form{
    margin-top: 10px;
}
.znbj-form .form-line input{
    width: 258px;
    height: 38px;
    color: #333;
    padding-left: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Microsoft Yahei";
}
.znbj-form .form-line select{
    width: 125px;
    height: 38px;
    color: #333;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Microsoft Yahei";
}
.znbj-form .form-line select.gz-leixing{
    width:258px;
}
.znbj-form .form-line select:first-child{
    margin-right: 4px;
}
.znbj-form .form-line{
    margin-bottom: 20px;
}
.znbj-form .form-line .mianji-icon {
    float: right;
    position: relative;
    bottom: -8px;
    right: 42px;
}
.disclamer-line{
    margin-left: 80px
}
.con-m-bgt{
    width: 336px;
    height: 100%;
    overflow: hidden;
}
.clickbtn{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    margin:0 auto;
    cursor: pointer;
    width: 134px\0;
    height: 134px\0;
    margin-top:86px;
    background: url(../img/go_calc_btn.gif) no-repeat;
    overflow: hidden;
    background-size: 100% 100%;
}
.cxjisuan{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    margin:0 auto;
    cursor: pointer;
    width: 134px\0;
    height: 134px\0;
    margin-top:86px;
    background: url(../img/go_calc_btn2.gif) no-repeat;
    overflow: hidden;
    background-size: 100% 100%;
    display:none;
}
.con-r-ul{
    margin-top: 32px;
    border: 1px solid #e6e6e6;
    padding:38px 50px;
}
.con-r-ul li{
    overflow: hidden;
}
.con-r-ul li span{
    width: 85px;
    line-height: 40px;
    text-align: left;
    float: left;
    font-size: 16px;
    color: #333;
    font-family: "Microsoft Yahei";
}
.con-r-ul li div{
    width: 120px;
    height: 33px;
    float: left;
    line-height: 38px;
    font-size:16px;
    box-sizing: border-box;
    text-align: center;
}
.gzbg{
    width:100%;
    background:#FFF3EC;
}
.gzbg h1{
    font-size: 50px;
    height: 50px;
    font-weight: 300;
    color:#666;
    text-align: center;
    padding-top:67px;
    margin-bottom:15px;
}
.gzbg-bei{
    font-size:30px;
    height: 30px;
    text-align: center;
    color:#666;
    opacity: .5;
    margin-bottom:45px;
}
.gzlc img{
    display: block;
    margin:0 auto;
}
.gzlei{
    width:1239px;
    height:373px;
    border:1px #FFE1CD solid;
    margin:0 auto;
    background:#fff;
}
.gzlei li{
    display: inline-block;
    width:206px;
    height: 124px;
    font-size:30px;
    text-align: center;
    line-height:124px;
    border-right: 1px solid #FFE1CD;
    border-bottom: 1px solid #FFE1CD;
    cursor: pointer;
    margin-right: -4px;
}
.gzlei li.gzbn{
    border-right:none;
}
.gzlei li:hover{
    background:#FFDCCC;
}
.gzbz{
    padding-left: 73px;
    width: 1175px;
    height: 1547px;
    margin: 0 auto;
    background: #fff;
}
.gzbzlist{
    width:100%;
    height: 257px;
    border-bottom: 1px #E6E6E6 solid;
    position: relative;
}
.list1{
    width:45px;
    height: 45px;
    position: absolute;
    top: 50px;
    left: -50px;
    background:url("../img/biaoqian.png");
    font-size:19px;
    text-align: center;
    line-height: 45px;
    color:#fff;
}
.gzbz-tit{
    padding-top:57px;
    margin-bottom:15px;
}
.gzbz-tit img{
    vertical-align: middle;
}
.gzbzlist p{
    font-size:19px;
    width:890px;
}
.gzbz-right{
    position: absolute;
    right:20px;
    top:53px;
}
.gz-anli{
    width:1248px;
    margin:0 auto;
}
.gz-anli li{
    display: inline-block;
    width:388px;
    height: 392px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius:10px;
    margin-right:36px;
    margin-bottom:40px;
    cursor: pointer;
}
.gz-anli li img{
    width:388px;
    height: 309px;
    vertical-align: middle;
    background:rgba(255,225,207,1);
    border-radius:10px 10px 0px 0px;
}
.gz-anli li p{
    height: 81px;
    line-height: 81px;
    font-size:25px;
    font-weight:400;
    color:rgba(51,51,51,1);
    text-align: center;
}
.gz-anli li.gz-nom{
    margin-right: 0;
}
.gz-anli li:hover{
    box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
#company-video{
    width:690px;
    height:388px;
    margin-top:21px;
    margin-left:21px;
    background-color: #000;
    box-sizing:border-box;
    float: left;
}
.shipinkz{
    height: 454px;
    position: relative;
}
.shipinkz .shipinzt{
    width: 1248px;
    height: 454px;
    margin:0 auto;
    background: #fff;
    position: relative;
}
.shipinkz .shipinzt .shipinwz{
    width: 690px;
    height: 388px;
    background: #333;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}
.shipinkz .shipinzt .wzmsright{
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top:110px;
    right: 150px;
}
.shipinkz .shipinzt .wzmsright .ulwenzi{
    font-size: 18px;
    color: #333;
}
.shipinkz .shipinzt .wzmsright .ulwenzi li{
    line-height: 30px;
    height: 30px;
    letter-spacing:2px;
    margin-bottom: 20px;
}
.shipinkz .shipinzt .wzmsright .ulwenzi li .fa-circle{
    color: red;
    font-size: 12px;
    line-height: 30px;
    margin-right: 10px;
}
.gz-bjbtn{
    margin-top:58px;
    padding-bottom:43px;
    height: 89px;
}
.gz-bjbtn img{
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    cursor: pointer;
}
.disclamer-line{
    margin-top:0;
}


.why-select{width: 100%;height: 250px;background: #ff5353;margin-top: 60px;background: url(/assets/home/index/img/why-bg.jpg) no-repeat;background-size: auto 250px;
    background-position: center;}
.why-select .xiang-list{float: left;}
.why-select .xiang-list ul li{float: left;}
.why-select .xiang-list ul.ul-1{margin-top: 53px;margin-bottom: 29px;overflow: hidden;}
.why-select .xiang-list ul.ul-2{margin-left: 116px;}
.why-select .xiang-list ul li.li-1{margin-right: 105px;}
.why-select .xiang-list ul li.li-2{margin-right: 134px;}
.why-select .xiang-list ul li.li-3{margin-right: 90px;}
.why-select .xiang-list ul li p.xiang-list-one{font-size: 31px;color: #fff;text-align: center;line-height: 31px;margin-bottom: 12px;}
.why-select .xiang-list ul li p.xiang-list-two{font-size: 15px;color: #fff;text-align: center;line-height: 15px;}
.why-select .why-list{margin-right: 80px;float: left;}
.why-select .why-list p.why-tit{font-size: 28px;color: #fff;font-weight: bold;line-height: 28px;margin-top: 36px;}
.why-select .why-list p.why-fuwu{font-size: 22px;color: #fff;line-height: 22px;margin-top: 30px;margin-bottom: 12px;}
.why-select .why-list p.why-tip{font-size: 12px;color: #fff;text-align: center;line-height: 12px;}
.why-select .app-code {margin-left: 50px;width: 110px!important;}
.why-select .app-code img {margin-left: 5px;}
.why-select .erweima-di {float: left;margin-top: 75px;margin-right: 20px;}
.why-select .weibo{margin-right: 0 !important;}
.why-select .erweima-di,.erweima-di img{width: 100px;height: 100px;}
.why-select i.fuwu-icon{width: 20px;height: 18px;margin-top:3px;display: block;float:left;margin-right:10px;background: url(/assets/home/index/img/tiexin.png) no-repeat;}
.why-select i.baozhang-icon{width: 20px;height: 24px;display: block;float:left;margin-right:10px;background: url(/assets/home/index/img/liudabaozhang.png) no-repeat;}
.erweima-di p{text-align: center;color: #fff;font-size: 12px;}