*{
    margin:0;
    padding:0;
}
header,footer{
    display: none;
}
.lyzxhd-content{
    width:100%;
    position: relative;
    background: #2D2C28;
    padding-bottom: 0.01rem;
}
.lyzxhd-content img{
    width:100%;
    vertical-align: middle;
}
.lyzxhd-content .logopic{
    width: 0.639rem;
    height: 0.279rem;
    position: absolute;
    top: 0.549rem;
    left: 0.234rem;
}
.lyzxhd-content .main-content{
    width: 2.06rem;
    height: 1.476rem;
    position: absolute;
    top: 0.864rem;
    right: 0.162rem;
}
.lyzxhd-yhq{
    position: absolute;
    top: 4.3rem;
    width:100%;
    font-size: 0;
}
.lyzxhd-yhq > div{
    width:33.333%;
    height: 1.2458rem;
    display: inline-block;
    font-size: 0.108rem;
    color: #8F3B14;
    position: relative;
    background: url('../img/newqiang.png') no-repeat;
    background-size: 100% auto;
}
.lyzxhd-yhq > div .qiangbtn{
    height: 0.43rem;
}
.lyzxhd-yhq .top{
    height: 0.61rem;
}
.lyzxhd-yhq div.one,
.lyzxhd-yhq div.two{
    width: 100%;
    height: 0.406rem;
    text-align: center;
}
.lyzxhd-yhq div.one{
    position: relative;
}
.lyzxhd-yhq div.two{
    text-decoration:line-through;
    opacity:0.6;
    height: 0.168rem;
    font-size: 0.099rem;
}
.lyzxhd-yhq .three{
    text-align: center;
    color: #FFEC9F;
    font-size: 0.09rem;
}
.lyzxhd-yhq div.one .zeroy{
    font-weight:bold;
}
.lyzxhd-yhq div.one .zeroy i{
    font-size: 0.38rem;
    line-height: 1.2;
    padding: 0;
}
@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}
.lyzxhd-content img.lyzxhd-tit{
    display: block;
    width:100%;
    margin-top:0.48rem;
    margin-left: 0.054rem;
    margin-bottom: 0;
}
.pic-words{
    position: relative;
    margin-top:-10px;
    width: 100%;
    text-align: center;
}
.pic-words-one{
    margin-top: 0;

}
.pic-words-two{
    margin-top: 0.162rem;
}
.pic-words img.left{
    position: absolute;
    top: 0.09rem;
    left: 0.295rem;
    width: 0.45rem;
    height: 0.139rem;
}
.pic-words img.leftone{
    left: 0.135rem;
}
.pic-words img.right{
    position: absolute;
    top: 0.09rem;
    right: 0.27rem;
    width: 0.45rem;
    height: 0.139rem;
}
.pic-words img.righttwo{
    right: 0.135rem;
}
.pic-words p.one{
    font-weight:bold;
    text-shadow:0px 5px 8px rgba(21,43,7,0.5);
    color:rgba(255,255,255,1);
    font-size: 0.198rem;
}
.pic-words p.numone span{
    font-size: 0.16rem;
    margin-left: 3px;

}
.pic-words p.two{
    font-weight:300;
    color:rgba(255,255,255,1);
    opacity:0.6;
    font-size: 0.108rem;
    margin-top: 0.099rem;
}
.pic-words .new-line{
    width: 2.61rem;
    height: 2px;
    background-color: #6A6658;
    margin: 0 auto;
    margin-top: 0.093rem;
}
.lyzxhd-taocan{
    margin:0.2rem 0.1rem;
    width: 94%;
    position: relative;
}


.lyzxhd-taocan .new-top img{
    width: 1.602rem;
    height: 0.315rem;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
.lyzxhd-taocan .new-top p{
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 21;
    color: #fff;
    line-height:0.3rem;
}
.taocan-img{
    width:100%;
    border-radius:11px 11px 11px 11px;
    position: relative;
}
.taocan-img img{
    width:100%;
    border-radius:11px 11px 11px 11px;
}
.lyzxhd-taocan .twoborders{
    border-radius:11px 11px 0px 0px;
}
.lyzxhd-taocan .twoborders img{
    border-radius:11px 11px 0px 0px;
}
.newswiper{
    width: 47%;
    float: left;
    padding-left: 7px;
    margin: 10px 0;
    position: relative;
}
.newswiper img{
    width: 100%;
}
.taocan-des{
    padding:0.1rem 0.2rem;
    padding-bottom: 0;
    height: 0.82rem;
    background: #fff;
    position: relative;
    border-radius: 0 0 11px 11px;
    overflow: hidden;
}
.taocan-des .l{
    float: left;
}
.taocan-des .r{
    float: right;
    text-align: right;
}
.taocan-des p{
    font-size:0.185rem;
}
.taocan-des p.taocan-price{
    font-size:0.126rem;
    color:#FF454C;
    margin-top: 0.102rem;
}
.taocan-des p.taocan-price strong{
    font-size:0.31rem;
}
.taocan-des p.qiang-number{
    font-size: 0.125rem;
    color:rgba(153,153,153,1);
}
.taocan-des .qiang-btn{
    background: url("/assets/mobile/special/lyzxhd/img/qiang.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 0.567rem;
    height: 0.567rem;
    margin: auto;
    text-align: center;
    line-height: 0.567rem;
    font-size: 0.31rem;
    font-weight:400;
    color:#fff;
}
.lyzxhd-taocan .percent{
    width:112px;
    height: 40px;
    background:url("/assets/mobile/special/lyzxhd/img/percent.png") no-repeat;
    background-size:100%;
    position: absolute;
    top: -9px;
    left: -1px;
}
.lyzxhd-taocan .hot{
    width: 0.257rem;
    height: 0.16rem;
    background:url("/assets/mobile/special/lyzxhd/img/hot.png") no-repeat;
    background-size:100%;
    position: absolute;
    top: 0.07rem;
    right: 0.03rem;
}
.lyzxhd-second{
    background:#2D2C28  ;
    padding-bottom: 0.01rem;
}
.lyzxhd-second .line-top{
    width: 100%;
    height: 1px;
    background-color: #000;
    border-top: 1px solid #6A6658;
    margin-top: 0.126rem;
}
.lyzxhd-second .line-bottom{
    width: 100%;
    height: 1px;
    background-color: #000;
    border-bottom: 1px solid #6A6658;
}
.lyzxhd-second-tit{
    height:0.606rem;
    position: relative;
}
.lyzxhd-second-tit img{
    width: 87%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.lyzxhd-tab{
    height:0.443rem;
    /* background: url("/assets/mobile/special/lyzxhd/img/tab-bg.png") no-repeat; */
    background-size: 100%;
    width: 100%;
    background-color: #5b5146;
}
.lyzxhd-tab ul{
    display: flex;
    justify-content: space-around;
}
.lyzxhd-tab ul li{
    display: inline-block;
    line-height: 0.443rem;
    text-align: center;
    color:#fff;
    font-size: 0.15rem ;
    position: relative;
}
.lyzxhd-tab ul li .hot-list{
    display: block;
    position: absolute;
    width: 0.218rem;
    height: 0.101rem;
    background: url(/assets/mobile/special/lyzxhd/img/hot_list.png) no-repeat;
    background-size: 100%;
    right: -0.218rem;
    top: 5px;
}
.lyzxhd-tab ul li.active{
    color: #FFDC71;
    background: url("/assets/mobile/special/lyzxhd/img/slidepic.png") no-repeat bottom;
    background-size: 90%;
}
.rexiao{
    width:82px;
    height: 40px;
    position: absolute;
    top: -5px;
    left: -1px;
    background:url("/assets/mobile/special/lyzxhd/img/rexiao.png") no-repeat;
}
.sheji-btn,
.sheji-btn-long{
    background-size: 100%;
    display: inline-block;
    width: 0.64rem;
    height: 0.302rem;
    position: absolute;
    right: 0.144rem;
    bottom: 0.12rem;
    text-align: center;
    line-height: 0.302rem;
    font-size: 0.142rem;
    color:#fff;
    border-radius:0.144rem;
    background:linear-gradient(169deg,rgba(255,67,67,1) 0%,rgba(255,150,87,1) 100%);
}
.sheji-btn-long{
    width: 1.125rem;
}
.lyzxhd-taocan .taocanlist{
    height: 0.313rem;
    line-height: 0.313rem;
}
.lyzxhd-taocan .taocanlist p{
    font-size: 0.157rem;
}
.more-choose{
    background: url('/assets/mobile/special/lyzxhd/img/newbanner.png') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin-top: 0.162rem;
    color:rgba(85,64,51,1);
    font-size: 0.153rem;
    text-align: center;
    line-height: 0.468rem;
}
.more-choose img{
    width:100%;
}
.more-anli{
    width:92%;
    display: block;
    margin:0.15rem auto;
}
.lyzxhd-third{
    background:#6F2D28;
    /* margin-top: -0.45rem; */
}
.lyzxhd-third .servewords{
    width: 100%;
    height: 0.387rem;
    background-color: #501713;
    text-align: center;
    line-height: 0.387rem;
    color: #fff;
    font-size: 0.12rem;
    font-weight:300;
}
.lyzxhd-third .serveline-top{
    width: 100%;
    height: 1px;
    border-top: 1px solid #411814;
    background-color: #9F423B;
}
.lyzxhd-third .serveline-bottom{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #411814;
    background-color: #9F423B;
}
.lyzxhd-third .servewords span{
    font-size: 0.162rem;
    color:#ffb955;
}
.lyzxhd-third .about{
    width:63%;
    display: block;
    margin:0 auto;
    padding-top:0.1rem;
    margin-bottom:0.1rem
}
.lyzxhd-fen{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 0.27rem;
}
.fen-list{
    width: 1.4rem;
    height: 1.1578rem;
    border-radius: 6px;
    margin-top: 0.18rem;
    position: relative;
}
.fen-list img{
    display: block;
    width:100%;
    height:0.855rem ;
    border-radius:6px  6px   0px  0px
}
.fen-list p{
    height: 0.3rem;
    line-height: 0.3rem;
    background: #fff;
    color: #333;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 6px 6px;
}
.fen-list .tab_list{
    width: 0.606rem;
    height: 0.257rem;
    line-height: 0.21rem;
    text-align: center;
    background: url("/assets/mobile/special/lyzxhd/img/tab.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top:0;
    left: -2px;
    font-size:14px;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.decwords{
    text-align: center;
    font-size: 0.126rem;
    color: #ccc;
    background-color: #2D2C28  ;
    padding-top: 0.106rem;
    padding-bottom: 1.106rem;

}
.decwords img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.decwords p{
margin-top: 0.126rem;
}
.decwords span{
    color: #F86D3D;
}
.decwords .special{
    font-size:0.108rem;
}
.lyzxhd-bottom{
    height:0.855rem;
    width: 100%;
    background:rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    bottom: 0;
}
.libao{
    width: 1.51rem;
    height: 1.03rem;
    float: left;
    position: absolute;
    bottom: 0;
    left: 5px;
}
.libao img{
    width:100%;
}
.bottom-right{
    width:50%;
    float: right;
}
.bottom-right p{
    text-align: center;
    font-size:0.184rem;
    font-weight:bold;
    color:rgba(255,205,48,1);
    line-height:0.184rem;
    margin:0.1rem 0;
}
.get-btn{
    background: url("/assets/mobile/special/lyzxhd/img/sheji.png") no-repeat;
    background-size: 100%;
    width: 1.041rem;
    height: 0.342rem;
    margin:0 auto;
    text-align: center;
    line-height: 0.342rem;
    font-size: 0.142rem;
    font-weight:400;
    color:#fff;
}
.swiper-container1 img{
    height: 1.48rem;
}
.swiper-container2 img{
    height: 2.27rem;
}
/*弹窗*/
.meth-mask,.success-mask{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    position: fixed;
    z-index:999;
    top:0;
    display: none;
}
.lyzxhd-dialog,.success-dialog{
    width:84%;
    height: 265px;
    border-radius: 11px;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin:auto;
    background:#fff;
    padding:4px 0;
}
.lyzxhd-dialog .close-btn{
    position: absolute;
    right: 8px;
    top: 0px;
    font-size: 0.24rem;
    font-weight: bold;
    z-index: 99999;
}
.lyzxhd-dialog input,#showCityPicker9{
   width:87%;
    margin:0 auto;
    margin-top:0.241rem;
    color: #333;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    height: 0.373rem;
    box-sizing: border-box;
    padding: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: left;
    font-size: 0.125rem;
    position: relative;
    padding-left: 0.1rem;
}
#showCityPicker9 i{
    position: absolute;
    top:0.1rem;
    right: 0.1rem;
}
.dialog-btn{
    width:87%;
    height: 0.373rem;
    background:url("/assets/mobile/special/lyzxhd/img/dialog-btn.png") no-repeat;
    background-size: 100%;
    margin:0 auto;
    margin-top:0.245rem;
    font-size:0.155rem;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:0.373rem;
    text-align: center;
    border-radius: 25px;
}
.sucess-img{
    display: block;
    margin:0 auto;
    margin-top:0.2rem;
}
.success-dialog p{
    width:80%;
    margin:0 auto;
    margin-bottom: 0.2rem;
    text-align: center;
    font-size:14px;
    color:#b3b3b3;
}
.success-dialog .get-success{
    margin-top:0.3rem;
    font-size:18px;
    font-weight: bold;
    color:#333;
}


