@import "../../../styles/public.css";
@import "../../../templates/list-temp/list-temp.css";

.tabTit {
    height: 88rpx;
    line-height: 88rpx;
    width: 100%;
    padding: 0 34rpx;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex1 {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}
.flex_text {
    max-width: 178rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 8rpx;
}

.tabTit .active {
    color: #333333;
    font-weight: bold;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUAgMAAACCKJcoAAAACVBMVEVHcExnZ2dmZmZVVe1IAAAAAnRSTlMAgewsfo4AAABNSURBVAjXPcoxEcBACAVRrkHEqYke1CAiDV9lwjDLVls8s7/zGHnu3nc3ijsS2CXwlcAh1VKw9yYUHL21dLDPJnRwzNbSxs4mtHGw9QENj0Jp/c6xKwAAAABJRU5ErkJggg==)
        no-repeat;
    background-size: 20rpx 10rpx;
    background-position: center 80rpx;
}

.tabTit .active image {
    transform: rotate(180deg);
    background: none;
}

.tabTit image {
    display: block;
    width: 20rpx;
    height: 13rpx;
}

.tabLayer {
    width: 100%;
    padding: 0 34rpx;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    top: 88rpx;
    z-index: 1002;
    border-radius: 0px 0px 8px 8px;
}
.tc_line {
    border-top: 1rpx solid #666666;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 14rpx 0;
}

.tc_line .text {
    display: block;
    padding: 0 16rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    line-height: 80rpx;
}

.tc_line .active {
    color: #ff5156;
}

.btnBox {
    clear: both;
}
.order_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 88rpx;
    left: 0rpx;
    z-index: 1001;
}
.ismask {
    display: none;
}

/* 列表 */
.list {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30rpx;
    height: auto;
}
.l-header {
    width: 100%;
    height: 90rpx;
    padding-top: 10rpx;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.l-header icon {
    display: block;
    width: 8rpx;
    height: 40rpx;
    background: rgba(255, 81, 86, 1);
}
.l-header text {
    margin-left: 12rpx;
    font-size: 42rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
/* 主体 */
.l-main {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 98rpx;
    right: 0;
    bottom: 0;
    margin-bottom: 100rpx;
}
.all_style {
    width: 14%;
}
.tc_foo {
    width: 20%;
}

.mainer {
    margin-bottom: 164rpx;
}

/* 列表 */
.bottom-order {
    height: 100rpx;
}
.l-main:last-child {
    margin-bottom: 0;
}
.ipx-bottom {
    height: 164rpx;
}
.ipx-bottom .bottom-order__tab-bar {
    height: 164rpx;
}
