.qcc-popup{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1002;
}
.qcc-popup-form{
    width: 2.517rem;
    padding: 0 .128rem .222rem;
    background-color: #fff;
    margin: 1.5rem auto 0;
    position: relative;
}
.qcc-popup-form h5{
    text-align: center;
    font-size: .171rem;
    color: #333;
    font-weight: normal;
    line-height: .597rem;
}
.qcc-popup-form .form-item{
    margin-bottom: .171rem;
}
.qcc-popup-form .form-item .form-icon{
    width: .384rem;
    height: .384rem;
    background-color: #e6e6e6;
    float: left;
    text-align: center;
    line-height: .384rem;
    border-radius: .013rem 0 0 .013rem;
}
.qcc-popup-form .form-item .form-icon img{
    width: .213rem;
    height: .213rem;
    vertical-align: middle;
}
.qcc-popup-form .form-item input{
    padding-left: .1rem;
    width: 2.133rem;
    height: .384rem;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-left: 0;
    outline: none;
    color: #333;
    border-radius: 0 .013rem .013rem 0;
    font-size: .128rem;
}
.qcc-popup-form .form-item input::-webkit-input-placeholder{
    color: #999999;
    font-size: .102rem;
}
.qcc-popup-form .form-item input::placeholder {
    color: #999999;
    font-size: .102rem;
}
.qcc-popup-form .form-item .red{
    font-size: .102rem;
    line-height: 1.5;
    color: #c00;
    margin-left: .384rem;
}
.qcc-popup-form .popup-close{
    position: absolute;
    right: 0;
    top: -.3rem;
    width: 0.23rem;
    height: 0.23rem;
    z-index: 99999;
}
.qcc-popup-form .popup-close img{
    width: 100%;
    height: 100%;
}
.qcc-popup-form .form-item-b input{
    width: 1.024rem;
}
.qcc-popup-form .code-btn{
    background-color: #3388FF;
    text-align: center;
    font-size: .128rem;
    color: #fff;
    font-weight: normal;
    width: 1.024rem;
    height: .384rem;
    line-height: .384rem;
    float: right;
    border-radius: 0.013rem;
}
.qcc-popup-form .code-btn .qcc-hide{
    display: none;
}
.qcc-popup-form .btn{
    background-color: #3388FF;
    text-align: center;
    font-size: .128rem;
    color: #fff;
    font-weight: normal;
    height: .384rem;
    line-height: .384rem;
    border-radius: 0.013rem;
}
