* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
	-ms-box-sizing: border-box;
	/* IE */
	-o-box-sizing: border-box;
	/* opera */
}
button, input, select{
	border: none !important;
	outline: none !important;
	font-size: 0.14rem!important;
}
.sheji-banner img {
	width: 100%
}

.get-design-title {
	color: #DE4348;
	padding: 0.15rem 0px;
	text-align: center;
	font-size: 0.16rem;
	font-weight: bold;
}

.get-design-title .title-top span {
	color: #1A1A1A !important;
}

.get-design-box {
	margin: 0px 0.1rem;
	background: #fff;
}
.m_select_box p{
	font-size: 0.14rem !important;
	padding-left:0px !important;
}
.white-bg{
	background:#fff;
}
.get-design-box .form-li {
	height: 46px;
	border: 1px solid #dedede;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #dedede;
	overflow: hidden;
	line-height: 46px;
  text-indent: 8px;
}

.get-design-box li input, .get-design-box li select,.get-design-box li button {
	height: 46px;
	margin: 0px auto;
	color: #333;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding:0px !important;
	padding-left:10px;
	line-height:46px;
}

.validate-tips, .validate-tips-sm {
	color: #DE4348;
	font-size: 0.11rem;
	height: 23px;
	line-height: 20px;
}
.select_font{
	color:#999;
}
.m-b-btn{
	margin:0px !important;
	border-radius: 10px;
	height: 46px;
	font-size: 0.16rem !important;
	line-height: 46px;
	position: relative;
}
.m-b-btn img{
	position: absolute;
	right:0.3rem;
	bottom:-0.16rem;
	width:0.4rem;
}


.border-title img{
	 width: 100%
}
.box-container{
	background: #F3B023;
	padding-top:20px;
}
.item-box{
	background: #fff;
	padding:30px 20px;
	margin-bottom:20px;
	position: relative;
}
.zxfw-table{
	text-align: center;
	width: 100%;
	margin:0.25rem 0px;
	vertical-align: middle;
}
.next-step-arrow{
	background: url('/assets/mobile/zb/images/next-step-arrow.png') no-repeat center center;
	background-size: auto 100%;
	height: 0.45rem;
}
.dzsjt-title{
	color:#1A1A1A;
	font-size:0.17rem;
	text-align:center;
}
.dzsjt-title-small{
	text-align:center;
	color:#DE4348;
	padding:10px 0px;
}
.py-img{
	background: #F3B023;
	width:2.5rem;
	height: 1.6rem;
	position: relative;
	margin-top:0.3rem;
}
.py-img img{
	width:2.5rem;
	height: 1.6rem;
	position: absolute;
}
.imgt-text{
	overflow: hidden;
	position: relative;
}
.yellow-bg{
	background: #DE4348;
	color:#fff;
	width:2rem;
	padding: 0.2rem;
}
.imgt-text img{
	position: absolute;
	bottom: 0px;
}
.last-box{
	background: #B82923;
	padding: 0.15rem;
}
.last-box-container{
	background:#fff;
	border-radius: 10px;
	width:74%;
	margin:0px auto;
	padding:10px;
}
.last-box-container span{
	color:#DE4348;
	font-weight: bold
}
.small-bottom-logo{
	width:10%
}
.last-box-container p{
	padding:5px 0px;
}
.go-top-order{
	text-align: center
}
.mjsj-mask{
	position: fixed;
	width:100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index:999;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}
.mjsj-win{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 100%;
}
.msjs-win-content{
	background: #fff;
	border-radius: 10px;
	padding:0.2rem;
	position: relative;
	display: inline-block;
	width:80%
}
.msjs-win-content p{
	padding:5px 0px;
}
.ljxz-btn{
	background:#FF2B2B;
	width:60%;
	padding:0.06rem 0px;
	border-radius: 0.2rem;
	margin:0px auto;
	color:#fff;
}


.swiper-slide img:first-child{
	display: block;
	margin-bottom:100px;
}
.before-after{
	width: 60%;
	display: block;
	position: absolute;
	top: 3rem;
	left: 0;
	right: 0;
	margin: auto;
}
