* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
    -ms-box-sizing: border-box;
    /* IE */
    -o-box-sizing: border-box;
    /* opera */
}

button, input, select {
    border: none !important;
    outline: none !important;
    font-size: 0.14rem !important;
}

.sheji-banner {
    position: relative;
}

.sheji-tip{
    position: absolute;
    top: 53%;
    right: 8%;
    width: 21%;
    display: block;
    padding: 3% 0;
    z-index: 10;
}

.sheji-banner img {
    width: 100%
}

.get-design-title {
    color: #DE4348;
    padding: 0.15rem 0px;
    text-align: center;
    font-size: 0.16rem;
    font-weight: bold;
}

.get-design-title .title-top span {
    color: #1A1A1A !important;
}

.get-design-box {
    margin: 0px 0.1rem;
    background: #fff;
}

.m_select_box p {
    font-size: 0.14rem !important;
    padding-left: 0px !important;
}

.white-bg {
    background: #fff;
}

.get-design-box .form-li {
    height: 46px;
    border: 1px solid #dedede;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #dedede;
    overflow: hidden;
    line-height: 46px;
    text-indent: 8px;
}

.get-design-box li input, .get-design-box li select, .get-design-box li button {
    height: 46px;
    margin: 0px auto;
    color: #333;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0px !important;
    padding-left: 10px;
    line-height: 46px;
}

.validate-tips, .validate-tips-sm {
    color: #DE4348;
    font-size: 0.11rem;
    height: 23px;
    line-height: 20px;
}

.select_font {
    color: #999;
}

.m-b-btn {
    margin: 0px !important;
    border-radius: 10px;
    height: 46px;
    font-size: 0.16rem !important;
    line-height: 46px;
    position: relative;
}

.m-b-btn img {
    position: absolute;
    right: 0.3rem;
    bottom: -0.16rem;
    width: 0.4rem;
}


.border-title img {
    width: 100%
}

.box-container {
    background: #F3B023;
    padding-top: 20px;
}

.item-box {
    background: #fff;
    padding: 30px 20px;
    margin-bottom: 20px;
    position: relative;
}

.zxfw-table {
    text-align: center;
    width: 100%;
    margin: 0.25rem 0px;
    vertical-align: middle;
}

.next-step-arrow {
    background: url('/assets/mobile/zb/images/next-step-arrow.png') no-repeat center center;
    background-size: auto 100%;
    height: 0.45rem;
}

.dzsjt-title {
    color: #1A1A1A;
    font-size: 0.17rem;
    text-align: center;
}

.dzsjt-title-small {
    text-align: center;
    color: #DE4348;
    padding: 10px 0px;
}

.py-img {
    background: #F3B023;
    width: 2.5rem;
    height: 1.6rem;
    position: relative;
    margin-top: 0.3rem;
}

.py-img img {
    width: 2.5rem;
    height: 1.6rem;
    position: absolute;
}

.imgt-text {
    overflow: hidden;
    position: relative;
}

.yellow-bg {
    background: #DE4348;
    color: #fff;
    width: 2rem;
    padding: 0.2rem;
}

.imgt-text img {
    position: absolute;
    bottom: 0px;
}

.last-box {
    background: #B82923;
    padding: 0.15rem;
}

.last-box-container {
    background: #fff;
    border-radius: 10px;
    width: 74%;
    margin: 0px auto;
    padding: 10px;
}

.last-box-container span {
    color: #DE4348;
    font-weight: bold
}

.small-bottom-logo {
    width: 10%
}

.last-box-container p {
    padding: 5px 0px;
}

.go-top-order {
    text-align: center
}

.mjsj-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.mjsj-win {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

.msjs-win-content {
    background: #fff;
    border-radius: 10px;
    padding: 0.2rem;
    position: relative;
    display: inline-block;
    width: 80%
}

.msjs-win-content p {
    padding: 5px 0px;
}

.ljxz-btn {
    background: #FF2B2B;
    width: 60%;
    padding: 0.06rem 0px;
    border-radius: 0.2rem;
    margin: 0px auto;
    color: #fff;
}


.swiper-slide img:first-child {
    display: block;
    margin-bottom: 100px;
}

.before-after {
    width: 60%;
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    margin: auto;
}

.ticket-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 100;
    display: none;
}

.ticket {
    width: 100%;
    display: none;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.ticket-text {
    font-size: 22px;
    height: 55px;
    color: #fff;
    background: #fd6605;
    text-align: center;
    position: relative;
    border-radius: 2px 2px 8px 8px;
}
/*
.ticket-text:after,.ticket-text:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: rgb(0,0,0);
    opacity: 1;
    position: absolute;
    bottom: -5px;
}
.ticket-text:before{
    left: -2px;
}*/
.ticket-text:after{
    right: -2px;
}

.ticket-text p {
    line-height: 55px;
}

.ticket-items {
    padding: 15px 5px;
    background: #fff;
    border-radius: 8px 8px 2px 2px;
}

.ticket-items li {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    margin: 5px 0;
    color: #333;
    padding: 0 8px;
}

.ticket-items p {
    line-height: 20px;
}

.ticket-items p > span {
    color: #acacac;
}

.ticket-close {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.ticket-close p {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.result-text{
    font-size: 0.13rem;
    text-align: left;
}

/*m.2.12.6 m端落地页新增/更换引导下载APP入口*/
.success-img{
    width:0.388rem;
    height: 0.388rem;
    margin:0 auto;
}
.success-img img{
    width:100%;
    vertical-align: middle;
}
.caution{
    font-size:0.1rem;
    font-weight:500;
    color:rgba(153,153,153,1);
    text-align: left;
    margin-bottom:0.2rem;
}
.qizuang-logo{
    width:0.762rem;
    height:0.762rem;
    margin:0 auto;
    margin-bottom: 0.1rem;
}
.qizuang-logo img{
    width:100%;
    vertical-align: middle;
}
.app-get{
    width:100%;
    height:0.342rem;
    line-height: 0.342rem;
    border:1px solid rgba(255,80,80,1);
    border-radius:22px;
    font-size:0.12rem;
    font-weight:500;
    color:rgba(255,80,80,1);
    margin:0 auto;
    padding-right: 0.3rem!important;
    padding-left: 0.1rem!important;
    padding-top:0!important;
    padding-bottom:0!important;
}
.close-app-btn{
    width: 0.26rem;
    height: 33px;
    position: absolute;
    top: 3.8rem;
    left: 0;
    right: 0;
    margin: auto;
}
.close-app-btn img{
    width:100%;
    vertical-align: middle;
}











