.top-container{
    display: table;
    position: absolute;
    top:40rpx;
    width:93%;
    margin:auto;
    left: 0px;
    right: 0px;
    z-index: 2
}
.top-column-view{
    display: table-cell;
    text-align: center;
    position: relative;
}
.top-column-view image {
    width: 108%;
    left: -8rpx;
    position: relative;
}
.top-column-view text {
    position: absolute;
    left:0px;
    top:0px;
    display: block;
    width:100%;
    height: 38rpx;
    bottom: 0px;
    margin:auto;
    color: #fff;
    font-size: 24rpx;
    text-align: center;
}

.select-title{
    padding-top:200rpx;
    color:#fff;
    padding-left:3%;
    margin-bottom:20rpx;
}
.select-title text{
    color:#02EAFF
}
.select-table{
    width:100%;
    overflow: hidden;
}
.select-table-td {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 26rpx;
    color:#fff;
}
.out-line-box{
    border-radius: 30rpx;
    overflow: hidden;
    width:85%;
    margin:20rpx auto;
    height: 240rpx;
    background: -webkit-linear-gradient(#2FBDFF, #2E29FF);
    background: -o-linear-gradient(#2FBDFF, #2E29FF);
    background: -moz-linear-gradient(#2FBDFF, #2E29FF);
    background: linear-gradient(#2FBDFF, #2E29FF);
    position: relative
}
.select-image-border {
    width:95%;
    height: 95%;
    border-radius: 30rpx;
    position: absolute;
    margin:auto;
    left:0px;
    right: 0px;
    bottom: 0px;
    top:0px;
    overflow: hidden;
    background: black;
}
.select-image-border image{
   width: 100%;
   height: 100%;
   opacity: 0.7
}
.colorSelect{
    color:#02EAFF
}
.bottom-btn {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top:60rpx;
}
 
.bottom-btn text{
    font-size: 38rpx;
    color:#ff5353;
}
.center-center{
    position: absolute;
    margin:auto;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
}
.back-btn{
    color:#fff !important;
}