<extend name="Common:basic"/>
<block name="link">
    <link href="{$fenzhan}/" rel="canonical"/>
    <link href="/assets/mobile/meitu/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/sub/css/subindex.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css">
    <link href="{$static_host}/assets/mobile/baojia/erweima.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <meta property="og:image"
          content="{$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/assets/sub/index/img/360search.png"/>
</block>
<block name="top">
    <if condition="$header EQ ''">
        <empty name="cityInfo.bm">
            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/" class="m-header-left gl-logo"></a>
            <else/>
            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/{$cityInfo.bm}/" class="m-header-left gl-logo"></a>
        </empty>
        <div class="m-header-city"><a rel="nofollow" href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a>
        </div>
        <else/>
        <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}"></a>
        <div class="m-header-city">·{$header}</div>
    </if>
</block>
<block name="content">
    <!--引用页面-->
    <article>
        <div class="new-home">
            <!--轮播-->
            <div class="swiper-container index-top-banner">
                <div class="swiper-wrapper">
                    <volist name="info.lunbo" id="vo">
                        <div class="swiper-slide">
                            <a href="{$vo.url}"><img
                                    src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vo.img_url}-w1210c2.jpg"
                                    alt="{$vo.title}"/></a>
                        </div>
                    </volist>
                    <div class="swiper-slide">
                        <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baojia?src=ym-m-5" rel='nofollow'>
                            <img src="//{:C('QINIU_DOMAIN')}/webstatic/img/indexbanner.png" alt="{$vo.title}"/>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination1"></div>
            </div>
            <div class="bottom-line">
                <div class="home-tit">
                    <ul>
                        <li>
                            <img src="/assets/mobile/index/img/global.png" alt="8年装修服务平台"/>
                            <span>8年装修服务平台</span>
                        </li>
                        <li>
                            <img src="/assets/mobile/index/img/pinpai.png" alt="CCTV展播品牌"/>
                            <span>CCTV展播品牌</span>
                        </li>
                        <li>
                            <img src="/assets/mobile/index/img/kaopu.png" alt="比熟人更靠谱"/>
                            <span>比熟人更靠谱</span>
                        </li>
                    </ul>
                </div>
                <!--导航-->
                <nav class="home-nav">
                    <ul>
                        <li>
                            <a href="/baojia/">
                                <p></p>
                                <p>装修报价</p>
                            </a>
                        </li>
                        <li>
                            <a href="/sheji/">
                                <p></p>
                                <img class="free-sheji" src="/assets/mobile/index/img/free.gif" />
                                <p>户型设计</p>
                            </a>
                        </li>
                        <li>
                            <if condition="empty($cityInfo['bm'])">
                                <a href="/sz/company/">
                                    <p></p>
                                    <img class="new-koubei" src="/assets/mobile/index/img/koubei.png" />
                                    <p>找装修公司</p>
                                </a>
                            <else />
                                <a href="/{$cityInfo['bm']}/company/">
                                    <p></p>
                                    <img class="new-koubei" src="/assets/mobile/index/img/koubei.png" />
                                    <p>找装修公司</p>
                                </a>
                            </if>
                        </li>
                        <li>
                            <a href="/zhaobiao/">
                                <p></p>
                                <p>装修招标</p>
                            </a>
                        </li>
                        <li>
                            <a href="/bao/" rel="nofollow">
                                <p></p>
                                <p>齐装保</p>
                            </a>
                        </li>
                        <li>
                            <a href="/tu/">
                                <p></p>
                                <p>装修效果图</p>
                            </a>
                        </li>
                        <li>
                            <a href="/gonglue/">
                                <p></p>
                                <p>装修攻略</p>
                            </a>
                        </li>
                        <li>
                            <a href="/baike/">
                                <p></p>
                                <p>装修百科</p>
                            </a>
                        </li>
                        <li>
                            <a href="/wenda/">
                                <p></p>
                                <p>装修问答</p>
                            </a>
                        </li>
                        <li>
                            <a href="/zhishi/">
                                <p></p>
                                <p>装修知识</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div style="clear:both;"></div>
                <!--广告位-->
                <div class="home-adv">
                    <div class="adv-left">
                        <if condition=" count($info['adv_space']['adv_left'])" >
                            <a href="{$info.adv_space.adv_left.jump_url}" rel="nofollow">
                                <img src="{$info.adv_space.adv_left.img_url}" alt="{$info.adv_space.adv_left.title}"/>
                            </a>
                        <else />
                            <a href="/zxfw.html" rel="nofollow">
                                <img src="/assets/mobile/index/img/bdbz.png" alt="八大保障"/>
                            </a>
                        </if>
                    </div>
                    <div class="adv-right">
                        <div class="adv-top">
                            <if condition=" count($info['adv_space']['adv_rightU'])" >
                                <a href="{$info.adv_space.adv_rightU.jump_url}" rel="nofollow">
                                    <img src="{$info.adv_space.adv_rightU.img_url}" alt="{$info.adv_space.adv_rightU.title}"/>
                                </a>
                            <else />
                                <a href="/hl/" rel="nofollow">
                                    <img src="/assets/mobile/index/img/kgjr.png" alt="开工吉日"/>
                                </a>
                            </if>
                        </div>
                        <div class="adv-bottom">
                            <div>
                                <if condition=" count($info['adv_space']['adv_rightUa'])" >
                                    <a href="{$info.adv_space.adv_rightUa.jump_url}" rel="nofollow">
                                        <img src="{$info.adv_space.adv_rightUa.img_url}" alt="{$info.adv_space.adv_rightUa.title}"/>
                                    </a>
                                <else />
                                    <a href="/qcc?src=qz-zqc/" rel="nofollow">
                                        <img src="/assets/mobile/index/img/zqc.png" alt="装企查"/>
                                    </a>
                                </if>
                            </div>
                            <div>
                                <if condition=" count($info['adv_space']['adv_rightUb'])" >
                                    <a href="{$info.adv_space.adv_rightUb.jump_url}" rel="nofollow">
                                        <img src="{$info.adv_space.adv_rightUb.img_url}" alt="{$info.adv_space.adv_rightUb.title}"/>
                                    </a>
                                <else />
                                    <a href="/zxzq/" rel="nofollow">
                                        <img src="/assets/mobile/zhixuan/img/zxzx.png" alt="智选活动"/>
                                    </a>
                                </if>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--发单-->
            <div class="bottom-line">
                <div class="new-fenlei fen-left">
                    <div class="new-leixing fen-baojia">
                        装修报价
                        <img class="sj_bg" src="/assets/mobile/index/img/sj_bj.png" />
                    </div>
                    <div class="new-leixing fen-sheji">免费设计</div>
                </div>
                <include file="Common/fadan"/>
            </div>
            <!--装修公司-->
            <div class="bottom-line">
                <div class="new-company">
                    <div class="home-title">
                        <div class="new-width">
                            <h2 class="home-area">装修公司</h2>
                            <span class="home-des">甄选全国优质装修公司</span>
                        </div>
                        <a href="/sz/company/" class="more" rel="nofollow">更多<i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="swiper-container swiper-company">
                        <div class="swiper-wrapper">
                            <div class="home-company swiper-slide">
                                <volist name="info.company" id="vo">
                                    <if condition="$key lt 3">
                                        <div class="company-list">
                                            <a href="/{$vo.bm}/company_home/{$vo.id}/"><img class="company-logo" src="{$vo.logo}-w640.jpg" alt="{$vo.qc}" width="" height=""/></a>
                                            <div class="company-details">
                                                <p class="company-name">
                                                    <a href="/{$vo.bm}/company_home/{$vo.id}/" title="{$vo.jc}">{$vo.jc}</a>
                                                    <if condition="$vo['activity_count'] gt 0">
                                                        <span class="hui">惠</span>
                                                    </if>
                                                    <if condition="$vo['card_count'] gt 0">
                                                        <span class="quan">券</span>
                                                    </if>
                                                </p>
                                                <p class="details-num">
                                                    <span>案例：</span>
                                                    <span class="total">{$vo.cases_num}</span>
                                                    <span>评论：</span>
                                                    <span class="total">{$vo.comment_count}</span>
                                                </p>
                                            </div>
                                            <a href="/{$vo.bm}/company_home/{$vo.id}/" class="check-company">查看公司</a>
                                        </div>
                                    </if>
                                </volist>
                            </div>
                            <if condition="count($info['company']) gt 3">
                            <div class="home-company swiper-slide">
                                <volist name="info.company" id="vo">
                                    <if condition="$key egt 3 && $key lt 6">
                                        <div class="company-list">
                                            <a href="/{$vo.bm}/company_home/{$vo.id}/"><img class="company-logo" src="{$vo.logo}-w640.jpg" alt="{$vo.qc}" width="" height=""/></a>
                                            <div class="company-details">
                                                <p class="company-name">
                                                    <a href="/{$vo.bm}/company_home/{$vo.id}/" title="{$vo.jc}">{$vo.jc}</a>
                                                    <if condition="$vo['activity_count'] gt 0">
                                                        <span class="hui">惠</span>
                                                    </if>
                                                    <if condition="$vo['card_count'] gt 0">
                                                        <span class="quan">券</span>
                                                    </if>
                                                </p>
                                                <p class="details-num">
                                                    <span>案例：</span>
                                                    <span class="total">{$vo.cases_num}</span>
                                                    <span>评论：</span>
                                                    <span class="total">{$vo.comment_count}</span>
                                                </p>
                                            </div>
                                            <a href="/{$vo.bm}/company_home/{$vo.id}/" class="check-company">查看公司</a>
                                        </div>
                                    </if>
                                </volist>
                            </div>
                            </if>
                            <if condition="count($info['company']) gt 6">
                                <div class="home-company swiper-slide">
                                    <volist name="info.company" id="vo">
                                        <if condition="$key egt 6 && $key lt 9">
                                            <div class="company-list">
                                                <a href="/{$vo.bm}/company_home/{$vo.id}/"><img class="company-logo" src="{$vo.logo}-w640.jpg" alt="{$vo.qc}" width="" height=""/></a>
                                                <div class="company-details">
                                                    <p class="company-name">
                                                        <a href="/{$vo.bm}/company_home/{$vo.id}/" title="{$vo.jc}">{$vo.jc}</a>
                                                        <if condition="$vo['activity_count'] gt 0">
                                                            <span class="hui">惠</span>
                                                        </if>
                                                        <if condition="$vo['card_count'] gt 0">
                                                            <span class="quan">券</span>
                                                        </if>
                                                    </p>
                                                    <p class="details-num">
                                                        <span>案例：</span>
                                                        <span class="total">{$vo.cases_num}</span>
                                                        <span>评论：</span>
                                                        <span class="total">{$vo.comment_count}</span>
                                                    </p>
                                                </div>
                                                <a href="/{$vo.bm}/company_home/{$vo.id}/" class="check-company">查看公司</a>
                                            </div>
                                        </if>
                                    </volist>
                                </div>
                            </if>
                            <if condition="count($info['company']) gt 9">
                                <div class="home-company swiper-slide">
                                    <volist name="info.company" id="vo">
                                        <if condition="$key egt 9 && $key lt 12">
                                            <div class="company-list">
                                                <a href="/{$vo.bm}/company_home/{$vo.id}/"><img class="company-logo" src="{$vo.logo}-w640.jpg" alt="{$vo.qc}" width="" height=""/></a>
                                                <div class="company-details">
                                                    <p class="company-name">
                                                        <a href="/{$vo.bm}/company_home/{$vo.id}/" title="{$vo.jc}">{$vo.jc}</a>
                                                        <if condition="$vo['activity_count'] gt 0">
                                                            <span class="hui">惠</span>
                                                        </if>
                                                        <if condition="$vo['card_count'] gt 0">
                                                            <span class="quan">券</span>
                                                        </if>
                                                    </p>
                                                    <p class="details-num">
                                                        <span>案例：</span>
                                                        <span class="total">{$vo.cases_num}</span>
                                                        <span>评论：</span>
                                                        <span class="total">{$vo.comment_count}</span>
                                                    </p>
                                                </div>
                                                <a href="/{$vo.bm}/company_home/{$vo.id}/" class="check-company">查看公司</a>
                                            </div>
                                        </if>
                                    </volist>
                                </div>
                            </if>
                        </div>
                        <div class="swiper-pagination swiper-pagination2"></div>
                    </div>
                    <div class="home-kgdj">
                        <img src="/assets/mobile/index/img/kgdj.png"/>
                        <div class="kgdj-scroll">
                            <div>
                                <volist name="info.workstart" id="vo">
                                    <div class="kgdj-content">
                                        <p class="kgdj-details">{$vo.cname}{$vo.name}签约<span class="blue">“{$vo.jc}”</span></p>
                                        <p class="kgdj-des">
                                            <span>面积：</span>
                                            <span>{$vo.mianji}㎡</span>
                                            <span>小区：</span>
                                            <span>{$vo.xiaoqu}</span>
                                        </p>
                                    </div>
                                </volist>
                            </div>
                        </div>

                        <a href="/zhaobiao/" class="kgdj-yuyue">去预约</a>
                    </div>
                </div>
            </div>
            <!--装修案例-->
            <div class="bottom-line">
                <div class="new-anli">
                    <div class="home-title">
                        <div class="new-width">
                            <h2 class="home-area">装修案例</h2>
                            <span class="home-des">真实业主精品案例</span>
                        </div>
                        <a rel="nofollow" href="/xgt/" class="more">更多<i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="anli-box">
                        <volist name="info.homecases" id="vo">
                            <div class="anli-list">
                                <a href="{$vo.url}" rel="nofollow">
                                    <img src="{$vo.img_url}-w600h336.jpg" alt="{$vo.title}" width="" height=""/>
                                </a>
                                <div class="anli-details">
                                    <span class="anli-name"><a href="{$vo.url}">{$vo.title}</a></span>
                                    <span class="anli-company">{$vo.company_name}</span>
                                </div>
                            </div>
                        </volist>
                        <if condition="count($info['homecases']) eq 0">
                            <div class="anli-list">
                                <a href="/hz/caseinfo/985846.shtml" rel="nofollow"><img src="//{:C('QINIU_DOMAIN')}/custom/20200723/FujwLRCnbpAhX01S_465OSyvFDX-" alt="欧式风格，客厅装修案例展示" width="" height=""/></a>
                                <div class="anli-details">
                                    <span class="anli-name"><a href="/hz/caseinfo/985846.shtml">欧式风格，客厅装修案例展示</a></span>
                                    <span class="anli-company">一号家居网</span>
                                </div>
                            </div>
                            <div class="anli-list">
                                <a href="/bj/caseinfo/989725.shtml" rel="nofollow"><img src="//{:C('QINIU_DOMAIN')}/custom/20200723/FvzEo3lpKGhn2KjP9MElvk2TN5eO" alt="地中海风格，卧室案例展示" width="" height=""/></a>
                                <div class="anli-details">
                                    <span class="anli-name"><a href="/bj/caseinfo/989725.shtml">地中海风格，卧室案例展示</a></span>
                                    <span class="anli-company">红苹果装饰装潢</span>
                                </div>
                            </div>
                            <div class="anli-list">
                                <a href="/cq/caseinfo/986873.shtml" rel="nofollow"><img src="//{:C('QINIU_DOMAIN')}/custom/20200723/FrWMbro_saFXtuJwDjryzbwPCXAT" alt="地中海风格，厨房装修设计" width="" height=""/></a>
                                <div class="anli-details">
                                    <span class="anli-name"><a href="/cq/caseinfo/986873.shtml">地中海风格，厨房装修设计</a></span>
                                    <span class="anli-company">一号家居网</span>
                                </div>
                            </div>
                            <div class="anli-list">
                                <a href="/cz/caseinfo/987662.shtml" rel="nofollow"><img src="//{:C('QINIU_DOMAIN')}/custom/20200723/FhmRCEa78l1AlHqrz5EtwByvQ2NL" alt="中式风格，书房设计效果" width="" height=""/></a>
                                <div class="anli-details">
                                    <span class="anli-name"><a href="/cz/caseinfo/987662.shtml">中式风格，书房设计效果</a></span>
                                    <span class="anli-company">完美空间装饰</span>
                                </div>
                            </div>
                            <div class="anli-list">
                                <a href="/sz/caseinfo/1214382.shtml" rel="nofollow"><img src="//{:C('QINIU_DOMAIN')}/custom/20200723/FsczP9pcW43UbqLK_wdJylkwqjEj" alt="现代简约风格，客厅案例展示" width="" height=""/></a>
                                <div class="anli-details">
                                    <span class="anli-name"><a href="/sz/caseinfo/1214382.shtml">现代简约风格，客厅案例展示</a></span>
                                    <span class="anli-company">雅腾装饰企业</span>
                                </div>
                            </div>
                        </if>
                    </div>
                </div>
            </div>
            <!--装修效果图-->
            <div class="bottom-line">
                <div class="new-xgt">
                    <div class="home-title">
                        <div class="new-width">
                            <h2 class="home-area">装修效果图</h2>
                            <span class="home-des">海量装修设计灵感</span>
                        </div>
                        <a rel="nofollow" href="/tu/" class="more">更多<i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="xgt-check">
                        <div><span class="active">空间</span></div>
                        <div><span>风格</span></div>
                        <div><span>局部</span></div>
                        <div><span>户型</span></div>
                    </div>
                    <div class="xgt-box xgt-box1">
                        <volist name="info.hometu" id="vo">
                            <if condition="$vo['name'] eq '空间'">
                                <volist name="vo.child" id="v">
                                    <a href="/tu/{$vo.parent_sortname}{$v.url}/" class="xgt-list">
                                        <if condition="$v['img_url'] eq ''">
                                            <img src="" alt="{$v.category_name}" width="" height=""/>
                                        <else />
                                            <img src="{$v.img_url}-w306h368.jpg" alt="{$v.category_name}" width="" height=""/>
                                        </if>
                                        <div class="xgt-details">
                                            <p><span>{$v.category_name}</span></p>
                                            <p>{$v.tu_count}套</p>
                                        </div>
                                    </a>
                                </volist>
                            </if>
                        </volist>
                    </div>
                    <div class="xgt-box xgt-box2">
                        <volist name="info.hometu" id="vo">
                            <if condition="$vo['name'] eq '风格'">
                                <volist name="vo.child" id="v">
                                    <a href="/tu/{$vo.parent_sortname}{$v.url}/" class="xgt-list">
                                        <if condition="$v['img_url'] eq ''">
                                            <img src="" alt="{$v.category_name}" width="" height=""/>
                                        <else />
                                            <img src="" data-src="{$v.img_url}-w306h368.jpg" alt="{$v.category_name}" width="" height=""/>
                                        </if>
                                        <div class="xgt-details">
                                            <p><span>{$v.category_name}</span></p>
                                            <p>{$v.tu_count}套</p>
                                        </div>
                                    </a>
                                </volist>
                            </if>
                        </volist>
                    </div>
                    <div class="xgt-box xgt-box3">
                        <volist name="info.hometu" id="vo">
                            <if condition="$vo['name'] eq '局部'">
                                <volist name="vo.child" id="v">
                                    <a href="/tu/{$vo.parent_sortname}{$v.url}/" class="xgt-list">
                                        <if condition="$v['img_url'] eq ''">
                                            <img src="" alt="{$v.category_name}" width="" height=""/>
                                        <else />
                                            <img src="" data-src="{$v.img_url}-w306h368.jpg" alt="{$v.category_name}" width="" height=""/>
                                        </if>
                                        <div class="xgt-details">
                                            <p><span>{$v.category_name}</span></p>
                                            <p>{$v.tu_count}套</p>
                                        </div>
                                    </a>
                                </volist>
                            </if>
                        </volist>
                    </div>
                    <div class="xgt-box xgt-box4">
                        <volist name="info.hometu" id="vo">
                            <if condition="$vo['name'] eq '户型'">
                                <volist name="vo.child" id="v">
                                    <a href="/tu/{$vo.parent_sortname}{$v.url}/" class="xgt-list">
                                        <if condition="$v['img_url'] eq ''">
                                            <img src="" alt="{$v.category_name}" width="" height=""/>
                                        <else />
                                            <img src="" data-src="{$v.img_url}-w306h368.jpg" alt="{$v.category_name}" width="" height=""/>
                                        </if>
                                        <div class="xgt-details">
                                            <p><span>{$v.category_name}</span></p>
                                            <p>{$v.tu_count}套</p>
                                        </div>
                                    </a>
                                </volist>
                            </if>
                        </volist>
                    </div>
                </div>
            </div>
            <!--装修学堂-->
            <div class="bottom-line">
                <div class="new-zixun">
                    <div class="home-title">
                        <div class="new-width">
                            <h2 class="home-area">装修学堂</h2>
                            <span class="home-des">学好装修知识，避免掉入装修陷阱</span>
                        </div>
                        <a rel="nofollow" href="/gonglue/" class="more">更多<i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="xt-titlist">
                        <ul>
                            <li class="active"><span>装修攻略</span></li>
                            <li><span>装修百科</span></li>
                            <li><span>装修问答</span></li>
                            <a href="/zhishi/"><span>装修知识</span></a>
                        </ul>
                    </div>
                    <!--装修攻略内容-->
                    <div class="zixun-box box-content box-content1">
                        <volist name="info.homexuetang.article" id="vo">
                            <div class="zixun-list">
                                <p class="zixun-left">
                                    <span class="zixun-title"><a href="/gonglue/{$vo.shortname}/{$vo.id}.html">{$vo.title}</a></span>
                                    <span class="zixun-details">
                                        <span class="zixun-li">{$vo.classname}</span>
                                        <span class="zixun-time">{$vo.addtime|date="Y-m-d H:i:s",###}</span>
                                    </span>
                                </p>
                                <p class="zixun-right">
                                    <a href="/gonglue/{$vo.shortname}/{$vo.id}.html" rel="nofollow">
                                        <img src="{$vo.face}" alt="{$vo.title}" width="" height=""/>
                                    </a>
                                </p>
                            </div>
                        </volist>
                        <a href="/gonglue/" class="zxxt-more">查看更多<i class="fa fa-angle-down"></i></a>
                    </div>
                    <!--装修百科内容-->
                    <div class="zixun-box box-content box-content2">
                        <volist name="info.homexuetang.baike" id="vo">
                            <div class="zixun-list">
                                <p class="zixun-left">
                                    <span class="zixun-title"><a href="/baike/{$vo.id}.html">{$vo.title}</a></span>
                                    <span class="zixun-details">
                                        <span class="zixun-li">{$vo.category_name}</span>
                                        <span class="zixun-time">{$vo.post_time|date="Y-m-d H:i:s",###}</span>
                                    </span>
                                </p>
                                <p class="zixun-right">
                                    <a href="/baike/{$vo.id}.html" rel="nofollow">
                                        <img src="{$vo.thumb}" alt="{$vo.title}" width="" height=""/>
                                    </a>
                                </p>
                            </div>
                        </volist>
                        <a href="/baike/" class="zxxt-more">查看更多<i class="fa fa-angle-down"></i></a>
                    </div>
                    <!--装修问答内容-->
                    <div class="zixun-box box-content box-content3">
                        <volist name="info.homexuetang.ask" id="vo">
                            <a href="/wenda/x{$vo.id}.html" class="zixun-list">
                                <div class="wenda-box">
                                    <p class="wenda-person">
                                        <img src="{$vo.logo}"/>
                                        {$vo.username}
                                    </p>
                                    <p class="wenda-content">{$vo.title}</p>
                                    <p class="zixun-details">
                                        <span class="wenda-details">{$vo.sub_category_name}｜<span class="red">{$vo.anwsers}</span>人回答</span>
                                        <span class="zixun-time">{$vo.post_time|date="Y-m-d H:i:s",###}</span>
                                    </p>
                                </div>
                            </a>
                        </volist>
                        <a href="/wenda/" class="zxxt-more">查看更多<i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
            <!--为什么选择齐装网-->
            <div class="choose-reason">
                <div class="reason-tit">
                    <img src="/assets/mobile/index/img/why1.png"/>
                    为什么选择齐装网？
                </div>
                <div class="reason-list">
                    <img src="/assets/mobile/index/img/why2.png"/>
                    贴心的一站式服务
                </div>
                <p class="reason-des">健全的服务体系 优质的服务质量</p>
                <div class="reason-list">
                    <img src="/assets/mobile/index/img/why2.png"/>
                    靠谱的八大保障
                </div>
                <p class="reason-des">官方监管质量保证 装修过程0增项</p>
                <div class="reason-fb">
                    <div class="fb-list">
                        <p>1500<span>万</span></p>
                        <p>服务业主</p>
                    </div>
                    <div class="fb-list">
                        <p>6<span>万</span></p>
                        <p>合作设计师</p>
                    </div>
                    <div class="fb-list">
                        <p>86<span>万</span></p>
                        <p>业主点评</p>
                    </div>
                    <div class="fb-list">
                        <p>500<span>个</span></p>
                        <p>城市分站</p>
                    </div>
                </div>
            </div>
        </div>

        <!--报价发单成功弹窗-->
        <div class="baojia-success-dialog">
            <div class="baojia-success-content">
                <img class="close-dialog" src="/assets/mobile/index/img/close-daohang.png" />
                <div class="baojia-success-title">
                    装修预算报价为：<span>480000</span>元
                </div>
                <div class="baojia-success-details">
                    <div class="new-wsj">
                        <p>卫生间：</p>
                        <p><span class="money">17100</span>元</p>
                    </div>
                    <div class="new-cf">
                        <p>厨房：</p>
                        <p><span class="money">17100</span>元</p>
                    </div>
                    <div class="new-kt">
                        <p>客厅：</p>
                        <p><span class="money">17100</span>元</p>
                    </div>
                    <div class="new-sd">
                        <p>水电：</p>
                        <p><span class="money">17100</span>元</p>
                    </div>
                    <div class="new-ws">
                        <p>卧室：</p>
                        <p><span class="money">17100</span>元</p>
                    </div>
                    <div class="new-other">
                        <p>其他：</p>
                        <p><span class="money">17100</span>元</p>
                    </div>
                </div>
                 <!-- 二维码 -->
                <div class="bama_s">
                    <div class="bgc_fff">
                        <div class="bama_img"><img src="//{:C('QINIU_DOMAIN')}/custom/20201130/Fgnn6z_ns6sU2-w9dKln98tQ1W6k" alt=""></div>
                        <div class="bama_text">
                            <p class="first_bama">微信&nbsp;&nbsp;<span class="bama_apn">扫一扫</span>&nbsp;&nbsp;关注服务进度</p>
                            <p>长按&nbsp;&nbsp;<span class="bama_apn">二维码</span>&nbsp;&nbsp;保存左侧图片 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" class="source_new" value="17111550" />
    </article>
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
    <include file="Common/footfadantc"/>
    <include file="Common/cooperationad"/>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/sub/js/initnew.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var mySwiper = new Swiper('.index-top-banner', {
                //移动端轮播
                loop: true,
                pagination: {
                    el: '.swiper-pagination1',
                },
                // autoplayDisableOnInteraction : false,
                autoplay: true,

            });

            var mySwiper2 = new Swiper('.swiper-company', {
                //移动端轮播
                loop: true,
                pagination: {
                    el: '.swiper-pagination2'
                },
                // autoplayDisableOnInteraction : false,
                //autoplay: true,
            });

            var n = 0
            function time() {
                var timer = setInterval(function () {
                    n++
                    if ( n < 10){
                        $(".kgdj-scroll").animate({top: -n*0.375 + "rem"},500)
                    } else {
                        n = 0
                        $(".kgdj-scroll").animate({top: 0},0)
                        clearInterval(timer)
                        time()
                    }

                },2000)
            }
            time()

            //装修学堂tab切换
            $(".xt-titlist ul li").click(function () {
                var index = $(this).index() + 1
                $(".xt-titlist ul li").removeClass('active')
                $(this).addClass('active')
                $(".box-content").hide()
                $(".box-content" + index).show()
                console.log()
            })
            // 装修效果图tab切换
            $(".xgt-check>div").click(function () {
                var index = $(this).index() + 1
                $(".xgt-check>div span").removeClass("active")
                $(this).find("span").addClass("active")
                $(".xgt-box").hide()
                $(".xgt-box"+index).show()
                $(".xgt-box"+index).find("a").each(function () {
                    var img_url = $(this).find("img").attr("data-src")
                    if(img_url) {
                        $(this).find("img").attr("src", img_url)
                    }
                })
            })
            // 报价和设计发单切换
            $(".new-fenlei .new-leixing").click(function () {
                var index = $(this).index() + 1
                $(".new-box").hide()
                $(".new-box" + index).show()
                if (index === 1) {
                    $(".new-fenlei").removeClass("fen-right").addClass("fen-left")
                } else {
                    $(".new-fenlei").removeClass("fen-left").addClass("fen-right")
                }
            })

            // 随机二维码
            function mathRandom() {
                var path = ''
                var randoms = parseInt(Math.random()*4)
                switch(randoms) {
                    case 0:
                        path = '//staticqn.qizuang.com/custom/20201204/FvJcD2MWdAVjYAwNPAWjaRnLM5zi'
                        break;
                    case 1:
                        path = '//staticqn.qizuang.com/custom/20201204/FvVRpUHpPaOCfx3MU49ge7jyPxme'
                        break;
                    case 2:
                        path = '//staticqn.qizuang.com/custom/20201204/Fij1vnOefYhRlOOhcZDiLPImXRrG'
                        break;
                    case 3:
                        path = '//staticqn.qizuang.com/custom/20201204/FplriUHf5JQgZp6eipcSaF5gtVhf'
                        break;
                }
                $('.bama_img>img').attr('src', path)
            }
            mathRandom()

        });
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}{$_SERVER['REQUEST_URI']}",
            "appid": "1575859058891466",
            "title": "{$basic.head.title}",
            "images": [],
            "pubDate": ""
        }
    </script>
    <script>
        $(function () {
            // 异业合作广告
            $(document).on('click', function (event) {
                var $target = $(event.target),
                    className = $target[0].className && $target[0].className.toLowerCase(),
                    source = 27;
                if (className.indexOf("summ-baojia") > -1) {
                    $.ajax({
                        url: "/getPartnerad",
                        type: 'POST',
                        dataType: 'JSON',
                        data: {
                            source: source,
                        }
                    }).done(function (res) {
                        if (res.error_code == 0) {
                            $(".cooperation_box").find(".ad-area").html('<img src="' + res.data.m_img + '">')
                            $(".cooperation_box").find("#ad-link").attr('href', res.data.m_url)
                            $(".cooperation_box").find("#ad-link").on('click', function () {
                                countAdPv(res.data.id)
                            })
                            $(".cooperation_ad_mask").fadeIn(0)
                            $(".cooperation_box").fadeIn(0)
                            var topV = $(window).width() * 355 / 750;
                            $(".cooperation_box").find(".link-box").css('top', topV)
                        }
                    })
                    $(".cooperation_box").find(".close").on("click", function () {
                        $(".cooperation_box").find("#ad-link").off('click')
                        $(".cooperation_ad_mask").fadeOut(0)
                        $(".cooperation_box").fadeOut(0)
                    })
                }
            })
        })
    </script>
</block>
