body,html{
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.red{
  color: #E61717;
}
.bolder{
  font-weight: bolder;
}
.wrapper{
  margin: 0 auto;
  background-color: #020935;
  overflow: hidden;
}

.topphoto{
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background: url('//staticqn.qizuang.com/custom/20190107/Fp5Spep5e5XuBGthGEdq8zaP1wR5') center center;
}

.content{
  width: 1210px;
  margin: 0 auto;
}
.toptip{
  text-align: center;
  width: 800px;
  height: 322px;
  border: 1px solid #BC9E7E;
  margin: 0 auto;
  margin-top: 20px;
  background: url('/assets/home/special/img/zhanxiao/2.png')
}
.canhui{
 color: #BC9E7E;
 text-align: center;
 font-size: 24px;
 letter-spacing: 9px;
 margin-bottom: 72px;
}
.canhui span{
  font-size: 36px;
  font-weight: bolder;
}
.form{
  text-align: center;
}
.form .tianxie{
  width: 956px;
  height: 35px;
  margin: 0 auto;
  margin-top: 71px;
  margin-bottom:36px;
  background: url('/assets/home/special/img/zhanxiao/tianxie.png')
}
.form input{
  width:765px;
  height:100px;
  line-height: 100px;
  background-color: #020935;
  border:1px solid rgb(188,158,126);
  border-radius:19px;
  font-size: 36px;
  padding-left: 33px; 
  color: #BC9E7E;
  margin: 0 auto;
}
input::-webkit-input-placeholder{
  font-size: 22px;
  color: #BC9E7E;
}

.form .yz{
  padding: 15px 0 34px 0;
  text-align: left;
  width: 801px;
  margin: 0 auto;
}

.form .yz span{
  font-size: 24px;
  color: #E61717;
}

.form button{
  width:800px;
  height:100px;
  background:rgba(188,158,126,1);
  border:1px solid rgba(188,158,126,1);
  border-radius:19px;
  cursor: pointer;
  margin-bottom: 20px;
}

.form button span{
  width:278px;
  height:29px;
  font-size:30px;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color:rgba(4,11,47,1);
  line-height:92px;
}
.tip{
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.tip .left{
  float: left;
  width: 52px;
  height: 42px;
  background: url('/assets/home/special/img/zhanxiao/laba.png')
}

.tip .right{
  float: right;
  overflow: hidden;
  width:679px;
  height:36px;
  font-size:30px;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color:rgba(188,158,126,1);
}

.tip .right li{
  letter-spacing: 5px;
}

.secondtip{
  border:1px solid rgba(188,158,126,1);
  border-left: none;
  border-right: none;
  margin: 50px auto;
}

.secondtip p{
  width: 1142px;
  height: 108px;
  margin: 34px auto 25px;
  font-size:20px;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color:rgba(188,158,126,1);
  line-height:36px;
  letter-spacing: 1.8px;
}

.secondtip p span{
  color:#E61717;
  font-size: 24px;
  letter-spacing: 1.8px;
}

.hangye{
  width: 616px;
  height: 36px;
  margin: 35px auto;
  background: url('/assets/home/special/img/zhanxiao/hangye.png');
}

.tongdian{
  width: 100%;
}

.tongdian li{
  position: relative;
  border-top: 1px solid rgba(188,158,126,1);
  padding: 20px 0;
  padding-left:353px;
  font-size: 24px;
  color: #BC9E7E;
  letter-spacing: 3px;
}

.tongdian li.last{
  border-bottom: 1px solid rgba(188,158,126,1);
}

.tongdian .star{
  position: absolute;
  top: 19px;
  left: 303px;
  font-family: MicrosoftYaHei-Bold;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('/assets/home/special/img/zhanxiao/star.png');
}

.tip2{
  text-align: center;
  margin-top: 42px;
  font-size: 24px;
  color: #BC9E7E;
}

.tip2 p{
  line-height: 44px;
  letter-spacing: 3px;
}

.fenghui{
  width: 574px;
  height: 35px;
  margin: 85px auto;
  background: url('/assets/home/special/img/zhanxiao/fenghui.png');
}

.bgp1{
  width: 100%;
  height: 1061px;
  position: absolute;
  background: url('//staticqn.qizuang.com/custom/20190107/Fhx5vjswlYqLcMTe6CBnDvXCu_07');
}

.photo{
  overflow: hidden;
}

.photo>div{
  width: 50%;
} 

.photo ul {
  width: 282px;
  color: #BC9E7E;
  font-size: 18px;
  margin-left: 20px;
  letter-spacing: 2px;
}

.photo ul li.first{
  font-weight: bolder;
  margin-bottom:40px;
}

.photo ul li.second{
  line-height: 34px;
}

.photo .right li.second{
  line-height: 40px;
}

.canhuixz{
  width: 556px;
  height: 37px;
  margin: 0 auto;
  background: url('/assets/home/special/img/zhanxiao/canhuixz.png');
  margin-top: 60px;
}

.canhuicont{
  position: relative;
}

.canhuicont .fhyc{
  width: 482px;
  height: 488px;
  margin-top: 68px;
  margin-left: 67px;
  background: url('/assets/home/special/img/zhanxiao/fhyc.png');
}

.canhuicont .fhnr{
  width: 482px;
  height: 488px;
  margin-top: 68px;
  margin-left: 179px;
  background: url('/assets/home/special/img/zhanxiao/fhnr.png');
}

.fhxqbox{
  width: 100%;
  background:rgba(255,255,255,0.1);
  border-top:1px solid rgba(188,158,126,1);
  border-bottom:1px solid rgba(188,158,126,1);
  height: 277px;
  margin-top: 1250px;

}

.fhxq{
  width: 1918px;
  height: 277px;
  background: url('/assets/home/special/img/zhanxiao/fhxq.png');
}

.line1{
  width: 24px;
  height: 586px;
  background: url('/assets/home/special/img/zhanxiao/line1.png');
  position: absolute;
  left: 593px;
  top: 0;
}

.cchy{
  width: 856px;
  height: 34px;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
  background: url('/assets/home/special/img/zhanxiao/cchy.png');
}

.ssnr{
  width:455px;
  height:300px;
  padding: 34px 172px;
  background:rgba(255,255,255,0.1);
  border:1px solid rgba(188,158,126,1);
  margin: 0 auto;
  margin-bottom:64px;
}

.ssnr p{
  font-size: 18px;
  color: #BC9E7E;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

.line2{
  width: 1637px;
  height: 11px;
  margin: 0 auto;
  background: url('/assets/home/special/img/zhanxiao/line2.png');
}

.weilai{
  color:#BC9E7E;
  font-size: 36px;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 18px;
}

.qz{
  font-size: 48px;
  text-align: center;
  color: #BC9E7E;
  letter-spacing: 30px;
  font-weight: bolder;
  margin-top:200px;
  margin-bottom: 40px;
}

.congratulate{
  font-size: 36px;
  text-align: center;
  color: #BC9E7E;
  letter-spacing: 20px;
  font-weight: bolder;
  margin-bottom: 400px;
}

.dq{
  width: 100%;
  height: 1240px;
  background: url('//staticqn.qizuang.com/custom/20190107/Fm_DaHRffenxZq5iMNSneBBB1pR-') no-repeat;
  background-size: 100% 100%;
  top: 5000px;
}
