<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="applicable-device" content="mobile"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="full-screen" content="yes"/>
    <meta name="browsermode" content="application"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="x5-page-mode" content="app"/>
    <title>全民家装双11 - 齐装网</title>
    <meta name="applicable-device" content="mobile"/>
    <script type="text/javascript" src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/order.js?v={:C('ORDER_JS_VERSION')}"></script>
    <link type="text/css" rel="stylesheet"
          href="/assets/common/css/font/font-awesome.min.css?v={:C('STATIC_VERSION')}"/>
    <link href="/assets/mobile/zt/css/base.css?v={:C('STATIC_VERSION')}" rel="stylesheet"/>
    <link href="/assets/mobile/zt/css/activity11.css?v={:C('STATIC_VERSION')}" rel="stylesheet"/>
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="activity-box" id="activity-box">
    <article class="activity-content">
        <div class="activity-banner">
            <img src="//staticqn.qizuang.com/custom/20201112/FpC3avsZngGQOvZuINeLRpv3Qo8m"/>
        </div>
        <div class="activity-fadan">
            <ul class="new-fadan">
                <li>
                    <button id="showCityPicker2" class="new-city" type="button">
                        <empty name="mapUseInfo">
                            请选择
                            <else/>
                            {$mapUseInfo.provincefull} {$mapUseInfo.name} {$mapUseInfo.cityarea}
                        </empty>
                    </button>
                    <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                    <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                    <input type="hidden" name="area" data-id="{$mapUseInfo.areaid}">
                    <i class="glide"></i>
                </li>
                <li>
                    <input class="new-tele" type="tel" maxlength="11" name="tel-number" placeholder="输入手机号，获取抽奖资格">
                </li>
            </ul>
            <div id="new-shenming">
                <input type="checkbox" checked="checked" id="new-mianze">
                <label for="new-mianze" id="new-check" class="fa fa-check"></label>
                <span>我已阅读并同意齐装网的</span>
                <a rel="nofollow"
                   href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
            </div>
            <div class="lingqu">
                <button type="button">立即获取</button>
            </div>
        </div>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="xydzp">
            <div class="dzp-tit">
                <img src="/assets/mobile/zt/images/dzp-tit.png"/>
            </div>
            <div class="dzp-nums" style="height: 0.20rem">
                剩余抽奖次数 <span id="dzpnums">0</span> 次
            </div>
            <div class="dzp">
                <img class="dzp-wai" src="/assets/mobile/zt/images/dzp-wai.png" />
                <img id="dzp-box" src="/assets/mobile/zt/images/dzp-xnei.png" />
                <div class="dzp-btn">
                    点击<br/>
                    抽奖
                </div>
            </div>
            <p class="zdp-notice">※产品以实物为准，图片仅供参考</p>
        </div>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="choose-qzw">
            <div class="choose-tit">
                <img src="/assets/mobile/zt/images/choose-tit.png"/>
            </div>
            <div class="choose-content">
                <a href="/bao/"><img src="//staticqn.qizuang.com/custom/20200803/FkssDlwe5XY7H0q-i7aI-Fn-Qe2c"/></a>
            </div>
        </div>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="choose-qzw">
            <div class="choose-tit">
                <img src="/assets/mobile/zt/images/smlf.png"/>
            </div>
            <div class="choose-contents">
                <a href="/bao/"><img src="//staticqn.qizuang.com/custom/20201103/FqNAHXur4TVnEj0nF2ims1CIn3BU"/></a>
            </div>
        </div>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="choose-qzw">
            <div class="choose-tit">
                <img src="/assets/mobile/zt/images/ghys.png"/>
            </div>
            <div class="choose-xcontent">
                <img src="/assets/mobile/zt/images/ghhh.png"/>
            </div>
        </div>
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="choose-qzw">
            <div class="choose-tit">
                <img src="/assets/mobile/zt/images/sm.png"/>
            </div>
            <div class="choose-nei">
                1.凡在本页面注册的真实用户，即可参与本次抽奖活动；<br>
                2.同一用户参与抽奖活动，每天可获得一次抽奖机会； <br>
                3.本次活动共提供奖品1000份。用户抽中奖品资格后，与平台推荐的装修公司进行量房或签约，按奖品领取流程操作，即可获得奖品；<br>
                4.抽奖完成后，工作人员会在七个工作日内与您联系；<br>
                特别提示：奖品图片仅供参考，请以实物为准。
            </div>
        </div>
        <div class="to-jintie">立即抽奖</div>
    </article>
    <!--发单领取成功弹窗-->
    <div class="lqsuccess-dialog success-dialog">
        <div class="lqsuccess-box">
            <div class="xcjms">恭喜您获得一次抽奖机会！</div>
            <div class="xcjmore">确定</div>
        </div>
    </div>
    <!--转盘抽奖弹窗-->
    <div class="dzp-dialog success-dialog">
        <div class="dzp-box">
            <div class="cjms">您的抽奖次数不足</div>
            <div class="cjmore">获取更多抽奖次数</div>
        </div>
    </div>
    <!--未中奖-->
    <div class="no-dialog success-dialog">
        <div class="no-box">
            <div class="nocjms">很遗憾您没有中奖</div>
            <div class="nocjmore">确定</div>
        </div>
    </div>
</div>
{:OP('baidutongji1','yes')}
<script type="text/javascript" src="/assets/mobile/js/jroll.js?v=20191009105703"></script>
<script type="text/javascript" src="{$static_host}/assets/common/js/App.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="//staticqn.qizuang.com/common/js/rlpca20191009155504.js"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
<script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/common/js/order.js?v=20191009105703"></script>
<script type="text/javascript" src="/assets/mobile/common/js/common.js?v=20191009105703"></script>
<script type="text/javascript" src="/assets/mobile/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/common/js/gt.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/home/special/js/awardRotate.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/mobile/common/js/common.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    var fadan_src = "{$_GET.src}";
    $(function () {
        var apiUrl = '{:C("ZXS_API")}'
        var telephone = $("input[name=dzp-tel]")

        selectQz.init({
            province: $("input[name=province]").attr("data-id"),
            city: $("input[name=city]").attr("data-id"),
            area: $("input[name=area]").attr("data-id")
        })

        // 短信验证码
        $("body").on("click", ".get-code", function () {
            var tele_value = telephone.val()
            var tel_reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$")
            if (!tele_value) {
                alert("请输入您的手机号~")
                return false
            } else if (!tel_reg.test(tele_value)) {
                alert("请输入正确的手机号~")
                return false
            } else {
                initG2()
            }
        })

        //倒计时
        var timer = ''

        function countDown(obj, btn, num) {
            if (num > 0) {
                obj.show();
                obj.text(num + " 秒后重新发送");
                btn.hide();
                num--;
                timer = setTimeout(function (obj, btn, num) {
                    countDown(obj, btn, num);
                }, 1000, obj, btn, num);
            } else {
                obj.hide();
                obj.text("获取验证码")
                btn.show();
            }
        }

        // 关闭弹窗
        $("body").on("click", ".close-btn", function () {
            $(".success-dialog").hide()
            $(".success-dialog input").val('')
            clearTimeout(timer)
            $(".time-lave").html("重新获取")
            $(".get-code").show()
            $(".time-lave").hide()
        })

        // 立抢津贴
        $(".to-jintie").click(function (){
            $("html,body").animate({scrollTop: 580},1000)
        })

        // ------------------------------
         //页面初始化时“预约到店”按钮的层级高于“切换城市”
    $(".jxzq-box .jxzq-list .yuyue").css("z-index",11)
    // 一键领取
    $(".lingqu").click(function () {
        var checked = $("#new-mianze").is(':checked');
        window.order({
            url: 'https://api.qizuang.com/v1/platformactivity/jintie',
            header: {
                "X-QZ-SRC": fadan_src
            },
            extra: {
                cs: $('input[name=city]').attr('data-id'),
                qx: $('input[name=area]').attr('data-id'),
                tel: $(".new-fadan input[name=tel-number]").val(),
                source: '20080318'
            },
            submitBtn: {
                className: $(this),
                type: 'btn'
            },
            error: function () {
                alert("发生了未知的错误,请稍后再试！");
            },
            success: function (data, status, xhr) {
                if (data.error_code == 0) {
                    $(".lqsuccess-dialog").show()
                    $("input[name=tel-number]").val("")
                    var dzpnums = Number($("#dzpnums").html()) + 1;
                    $("#dzpnums").html(dzpnums);
                    $(".lqsuccess-dialog .xcjms").text("恭喜您获得一次抽奖机会！");
                  $(".lqsuccess-dialog .xcjmore").removeClass("del")
                } else {
                    $(".lqsuccess-dialog").show()
                    $(".lqsuccess-dialog .xcjms").text("您今天已领完抽奖次数");
                    $(".lqsuccess-dialog .xcjmore").addClass("del")
                }
            },
            validate: function (item, value, method, info) {
                if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                    alert('请选择城市')
                    return false;
                }
                if ('tel' == item && 'notempty' == method) {
                    alert('请输入手机号码')
                    $(".new-fadan input[name=tel-number]").focus();
                    return false;
                }
                if ('tel' == item && 'ismobile' == method) {
                    alert('请输入正确的手机号码')
                    $(".new-fadan input[name=tel-number]").focus();
                    return false;
                }
                if (!checked) {
                    alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                    return false;
                }
                return true;
            }
        });
    })
    // 关闭
    $("body").on("click",".xcjmore",function (){
        $(".lqsuccess-dialog").hide()
        if(!($('.xcjmore').hasClass('del'))){
          $("html,body").animate({scrollTop: 600},1000)
        }
    })
    

    // 城市切换
    $(".activity-city p").click(function (){
        $(".activity-city ul").toggleClass("show")
        if(!$(".activity-city ul").hasClass("show")){
            $(".jxzq-box .jxzq-list .yuyue").css("z-index",1)
        } else {
            $(".jxzq-box .jxzq-list .yuyue").css("z-index",11)
        }
    })
    
    
    $(".activity-city ul li").click(function (){
        var html = $(this).html()
        var city_id = $(this).attr("data-id")
        $(".activity-city p").html(html+'<img src="/assets/mobile/zt/images/more-city.png" />')
        $(".activity-city p").addClass("center")
        $(".activity-city ul").addClass("show")
        $(".jxzq-box .jxzq-list .yuyue").css("z-index",11)
    })
    
    // 预约到店
    $("body").on("click",".yuyue",function() {
        $(".yuyue-dialog").show()
        $(".success-top").html("预约到店")
        $(".yuyue-content").show()
        $(".yuyue-success-content").hide()
    })
    
    // 领取福利切换免责
    $("#new-check").click(function () {
        $(this).toggleClass('fa-check');
    })
    
    // 预约到店切换免责
    $("#new-check2").click(function () {
        $(this).toggleClass('fa-check');
    })
    
    // 大转盘切换免责
    $("#new-check3").click(function () {
        $(this).toggleClass('fa-check');
    })
    
    var turnplate={
        restaraunts:[],				//大转盘奖品名称
        startAngle:22.5,			//开始角度
        bRotate:false				//false:停止;ture:旋转
    };
    
    $(document).ready(function(){
        //动态添加大转盘的奖品与奖品区域背景颜色
        turnplate.restaraunts = ["优酷视频会员", "指纹锁", "谢谢参与", "云南豪华旅游", "追觅科技无线吸尘器", "瑞尔特智能马桶", "谢谢参与 ", "TCL三开门冰箱"];
        
        var rotateTimeOut = function (){
            $('#dzp-box').rotate({
                angle:0,
                animateTo:2160,
                duration:8000,
                callback:function (){
                    alert('网络超时，请检查您的网络设置！');
                }
            });
        };
        var dzp_index = ''
        //旋转转盘 item:奖品位置; txt：提示语;
        var rotateFn = function (item, txt){
            var angles = item
            $('#dzp-box').stopRotate();
            $('#dzp-box').rotate({
                angle:22.5,
                animateTo:angles+1800,
                duration:6000,
                callback:function (){
                    turnplate.bRotate = !turnplate.bRotate;
                    if(dzp_index != 2 && dzp_index != 6) {
                        $(".dzp-dialog").show()
                        $(".success-top").html("恭喜中奖!")
                        $(".dzp-before").hide()
                        $(".dzp-unsuccess").hide()
                        $(".dzp-success").show()
                        $(".dzp-success-img img").attr("src",'/assets/mobile/zt/images/gift'+ dzp_index +'.png')
                        $(".dzp-dialog .dzp-box").css("height", " 1.152rem;")
                    } else {
                        $(".dzp-btn").css("pointer-events","auto")
                        $(".no-dialog").show()
                    }
                }
            });
        };
    
        // 点击抽奖
        $(".dzp-btn").click(function () {
            var dzpnums = Number($("#dzpnums").html());
            if(dzpnums > 0){
                $(".dzp-dialog").hide()
                $(".xydzp .dzp").css("pointer-events","none")
                var index = 2 + 1
                dzp_index = 2
                if(turnplate.bRotate)return;
                turnplate.bRotate = !turnplate.bRotate;
                //奖品数量等于10,指针落在对应奖品区域的中心角度[22.5, 67.5, 112.5, 157.5, 202.5, 247.5, 292.5, 337.5]
                switch (index) {
                    case 8:
                        rotateFn(22.5, turnplate.restaraunts[7]);
                        break;
                    case 7:
                        rotateFn(67.5, turnplate.restaraunts[6]);
                        break;
                    case 6:
                        rotateFn(112.5, turnplate.restaraunts[5]);
                        break;
                    case 5:
                        rotateFn(157.5, turnplate.restaraunts[4]);
                        break;
                    case 4:
                        rotateFn(202.5, turnplate.restaraunts[3]);
                        break;
                    case 3:
                        rotateFn(247.5, turnplate.restaraunts[2]);
                        break;
                    case 2:
                        rotateFn(292.5, turnplate.restaraunts[1]);
                        break;
                    case 1:
                        rotateFn(337.5, turnplate.restaraunts[0]);
                        break;
                }
              
                $("#dzpnums").html(dzpnums-1)
            
            }else{
                $(".time-lave").hide()
                $(".dzp-dialog").show()
            }
        })
        
        // 获取更多抽奖次数
        $("body").on("click",".cjmore",function (){
            $(".dzp-dialog").hide()
            $("html,body").animate({scrollTop: 100},1000)
        })
    
        $("body").on("click",".nocjmore",function (){
            $(".no-dialog").hide()
        })
    });



    });
</script>
</body>
</html>
