body{background-color: #fff !important;}
header{
    position: relative;
    /*margin-top: 50px;*/
}
.m-header-left {
    margin-left: 1em;
    width: 34% !important;
}

/* mobile bread */
.m-bread {
    /*width: 95%;*/
    width: 100%;
    height: 2.2em;
    overflow: hidden;
    padding-left: .85em;
    top: 50px;
    left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff;
    box-sizing: border-box;
    line-height: 2.2em;
    font-size: .8em;
}

.jisuanbaojai{width: 100%;height: 27.5px;line-height:27.5px;background: #fff;overflow:hidden;vertical-align: middle;
padding: 0 4%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.jisuanbaojai .sslogo{width: 25.5px;height:21.5px;background: url(/assets/mobile/article/images/sslogo.jpg) no-repeat center center;
background-size: 100% 100%;display: inline-block;vertical-align: middle;}
.jisuanbaojai .wenbsskz{height: 23px;line-height: 23px;width: 50%;border:none;border-bottom: 1px solid #ff5353; display: inline-block;
margin-left: 10px;margin-right:10px;padding-left: 2px;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.wenbsskz input{border:none;width:100%;}
.jisuanbaojai .tiaozhuan{display:inline-block;background: #ff5353;color: #fff;font-size: 13px;width: 88px;height: 27px;line-height: 27px;
text-align: center;float: right;margin-top: 1px;}


/*新改版*/
.money-box{
    margin: 0;
    border: 1px solid #dedee0;
    border-radius: 5px;
   /* margin-top: 15px;*/
   padding:8px;
   margin-bottom: 10px;
}
.money-main{
   /* margin: 0 8px;*/
    overflow: hidden;
}
.money-img{
    height: 40px;
   /* margin-top: 8px;*/
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background: #555555;
}
.money-img span{
    display: inline-block;
    color: #bfbfbf;
    margin-top: 16px;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 6px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(/assets/mobile/baojia/img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num-gray{background-position: -2px 0 !important;}
.num-0{background-position: -22px 0 !important;}
.num-1{background-position: -42px 0 !important;}
.num-2{background-position: -63px 0 !important;}
.num-3{background-position: -84px 0 !important;}
.num-4{background-position: -104px 0 !important;}
.num-5{background-position: -124px 0 !important;}
.num-6{background-position: -145px 0 !important;}
.num-7{background-position: -165px 0 !important;}
.num-8{background-position: -186px 0 !important;}
.num-9{background-position: -206px 0 !important;}
.home-style span{
    display: block;
    float: left;
    width: 33%;
    font-size: 14px;
    line-height: 14px;
    margin: 14px auto;
    /*background: blue;*/
    overflow: hidden;
}


.m-bj-edit{
   /* margin: 0 22px;*//*修改*/
    margin-top: .8em;
}
.m-bj-edit li {
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative !important;background: #fff !important;}
.c-zb-city {
    padding: 5px;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    background: #fff !important;
    font-size: 1em;
    color: #333;}
.m-bj-edit li .m-bj-edit-list {
    color: #666;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    display: block;
    height: 48px !important;
    line-height: 38px !important;
    box-sizing: border-box;
    padding: 5px;
    background: #fff !important;
    border: 1px solid #ddd !important;}
.m-b-btn{margin:0 !important;margin-bottom: 0 !important;}
/* Articles content */
.article{width: 100%;height: auto;background-color: #fff;padding-top: .6em;padding-bottom: 1em;}
.article-info .article-tit{font-size: 1.2em;font-weight: 800;}
.article-box, .article-info{width: 92%;margin: 0 auto;}
.article-time{font-size: 0.8em;}
.article img{
    width: 100% !important;
    height: auto !important;
}
.article-info p {
    padding-bottom: .6em;
    text-indent: 0 !important;
}

.article-box p {
    line-height: 25px;
    color: #666;
    padding-bottom: .8em;
    text-indent: 0 !important;
}
.article-box img{
  max-width: 100% !important;
  height: auto !important;
}

.assist {
    width: 4.5em;
    height: 1.5em;
    border-radius: 0.9em;
    border: 1px solid #ff565d;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
    margin-top: 1em;
}
.assist i {
    display: block;
    width: 1.55em;
    height: 1.5em;
    border-radius: 50%;
    background: #ff565d;
    float: left;
    text-align: center;
    line-height: 1.4em;
    color: #fff;
    margin-left: -1px;
}
.assist span {
    font-size: 0.9em;
    color: #ff565d;
}

/* baijia img */
.baojia {
    width: 100%;
    height: auto;
    margin: .3em 0;
}
.baojia img{width: 100%;height: auto;}

/* other-article */
.other-article{width: 100%;height: auto;background-color: #fff;}
.other-article-box {padding: .75em;padding-bottom: 0;}
.red-block{width: .2em;height: 1.2em;background-color: #ff5659;display: block;float: left;margin-right: .4em;}
.other-article-word{font-size: 1em;font-weight: 800;line-height: 1.1em;}
.other-article-list{margin-top: .6em;overflow: hidden;}
.other-article-item{width: 100%;height: 4em;padding: .5em 0;border-bottom: 1px solid #ccc;overflow: hidden;}
.other-article-item:last-child{border-bottom: 0;}
.other-article-img{width: 6em;height: 4em;float: left;margin-right: .6em;}
.other-article-img img{width: 100%;height: 100%;}
.knowledge-ul {
    margin-top: 0.1rem;
}
.knowledge-ul li {
    float: left;
}
.knowledge-ul li a {
    display: block;
    padding: 0.05rem 0.1rem;
    margin-right: 0.1rem;
    margin-bottom: 0.05rem;
    background: #EDEDED;
}
footer {
    padding-bottom: 60px;
}


.money-bg{background: #F8F8F8; padding:15px; margin:.75em 0.75em 1.25em .75em; }
.form-once .m-bj-edit{margin:0;}
/*头部跳转模块*/
.top-fadan{
    width: 100%;
    height: 50px;
    background: #545454;
    position: relative;
}
.top-fadan-img{
    width: 62px;
    float: left;
    margin-top: 8px;
    margin-left: 16px;
}
.top-fadan-img img{
    width: 62px;
}
.top-fadan-center{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
.top-fadan-info{
    margin: 0 auto;
    width: 150px;
    height: 50px;
    overflow: hidden;
}
.top-fadan-info .zx-money{
    font-size: 16px;
    font-weight: 800;
    color: #f7e846;
    line-height: 16px;
    margin-top: 8px;
}
.top-fadan-info .zx-sheji{
    font-size: 11px;
    color: #fff;
    line-height: 11px;
    margin-top: 6px;
}
.top-fadan-info .zx-sheji .red-color{
    color: #ff5353;
}
.top-fadan-btn{
    width: 70px;
    height: 25px;
    background: #ff5353;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    right: 14px;
    top: 12.5px;
    z-index: 2;
}
.top-fadan-btn a{
    display: block;
    color: #fff;
    font-size: 11px;
}


#calculator,#calculator3{
    display:none;
}
.sj-2{
    display: block!important;
}


.article-box a{
    color: red
}

/* 装修手册 */
.zhuangxiuwk{width: 100%;height: auto;background: #fff;}
.zhuangxiuwkbox{padding: 0.75em;}
.tabdaoahgn{overflow: hidden;width: 100%;}
.tabdaoahgn li{padding: 0.07rem 0;border-radius: 16px;width: 20.75%;text-align: center;
background: #f0f0f0;color: #666;display: inline-block;margin-top: 0.088rem;height: 0.141rem;line-height: 0.16rem;
float: left;margin-right:5.6%;overflow: hidden;text-overflow: ellipsis;white-space: normal;}
.tabdaoahgn li:nth-child(4n){margin-right: 0;}
.tabactive{background: #ff5353 !important;color: #fff !important;}

.tabcontent{width: 100%;overflow: hidden;padding: 0 8%;box-sizing: border-box;
margin-top: 0.088rem;}
.tabcontentul{overflow: hidden;width: 100%;display: none;}
.tabcontentshow{display: block !important;}
.tabcontentul li{display: inline-block;width: 40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
margin-top: 0.06rem;}
.tabcontentul li:nth-child(odd){float: left;text-align: left;}
.tabcontentul li:nth-child(even){margin-left: 16%;float: right;text-align: left;}
.tabcontentul li .guangaolink{color: #ff5353;text-decoration: underline;}
.hide-part {
    height: 130vh;
    overflow: hidden;
    position: relative;
}
.show-more-article {
    height: 1.6rem;
    position: absolute;
    bottom:0px;
    width:100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0), #fff 70%);
    left: 0px;
}
.click-getmore {
    position: absolute;
    width: 100%;
    bottom:10px;
    text-align: center;
    font-size: 0.13rem;
    color: #3896BC;
}
/*新增tips*/
.article-tips{
    width: 100%;
    overflow: hidden;
    padding:0.75em;
    font-size: 14px;
}
.article-tips .tips-item{
    float: left;
    border:0.01rem solid #CCCCCC;
    padding:0 0.08rem;
    line-height: 25px;
    margin-right:0.08rem;
    margin-bottom: 0.08rem;
}
.add-keywords{
    margin:0.09rem 0;
}
.add-keywords ul{
    overflow: hidden;
}
.add-keywords ul li{
    display: inline-block;
    float: left;
    margin-right:0.09rem;
    padding:0.03rem 0.1rem;
    background:#E4E4E4;
    border-radius:0.5rem;
    margin-bottom: 0.09rem;
}
.add-keywords ul li a{text-decoration: none;
    color: #333;
}
.sp-card-link{
    display: block;
}
.sp-card-link > img{
    max-width: 100%;
    display: block;
}

#tf-gg{
    width: 100%;
    overflow: hidden;
    margin:0.08rem 0;
}

/*1120 PC&M端818活动站内推广新增广告*/
.yinliu-818{
    display: block;
    width:  0.683rem;
    height: 0.683rem;
    position: fixed;
    right: 0.154rem;
    bottom: 1.1rem;
    background: url("/assets/mobile/article/images/yinliu.gif") no-repeat;
    background-size: 100% 100%;
}

/* 1147  */
.xorder-box{
    margin-top: 10px;
    background: #fff;
    padding: 0 0 .128rem;
    overflow: hidden;
    border-top: .08rem solid #f2f2f2;
    border-bottom: .08rem solid #f2f2f2;
}
.xorder-box .baojia-tit{
    margin: 0.171rem 0;
}
.xorder-box img{
    width: 100%;
}
.xorder-box .new-sheji{
    display: none;
}
/*报价发单成功弹窗*/
.baojia-success-dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: none;
}
.baojia-success-dialog .baojia-success-content{
    width: 2.688rem;
    height: 2.987rem;
    background: #fff;
    border-radius: 0.085rem;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.baojia-success-content .close-dialog{
    display: block;
    width: 0.205rem !important;
    height: 0.205rem !important;
    position: absolute;
    top:0.064rem;
    right: 0.064rem;
}
.baojia-success-content .baojia-success-title{
    font-size: 0.119rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding-top:0.316rem;
    line-height: 0.179rem;
}
.baojia-success-content .baojia-success-title span{
    color: #FF3F51;
    font-size: 0.179rem;
    position: relative;
    top: 2px;
}
.baojia-success-content .baojia-success-details{
    width: 2.308rem;
    height: 1.271rem;
    margin: 0 auto;
    margin-top: 0.469rem;
    background: url("/assets/mobile/index/img/success_bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.baojia-success-details>div{
    position: absolute;
}
.baojia-success-details>div p{
    font-size: 0.094rem;
    color: #333;
    text-align: center;
}
.baojia-success-details>div .money{
    color: #FF3F51;
}
.baojia-success-details>div.new-wsj{
    top: -0.3rem;
    left: 0.33rem;
}
.baojia-success-details>div.new-cf{
    top: -0.23rem;
    right: 0.47rem;
}
.baojia-success-details>div.new-kt{
    top: 0.15rem;
    right: 0.05rem;
}
.baojia-success-details>div.new-sd{
    bottom: 0.34rem;
    right: 0.18rem;
}
.baojia-success-details>div.new-ws{
    bottom: 0.27rem;
    left: 0.3rem;
}
.baojia-success-details>div.new-other{
    top: 0.26rem;
    left: 0.02rem;
}
.baojia-success-content .new-tips{
    font-size: 0.077rem;
    color: #999;
    padding-left: 0.128rem;
    margin: 0.1rem 0 0.15rem;
}
.baojia-success-content .new-tele-tips{
    font-size: 0.102rem;
    color: #666;
    text-align: center;
}

/*app下载上方tab切换*/
.recommend-tab{
    font-size: 0;
}
.recommend-tab ul{
    display: flex;
    justify-content: space-between;
    height: .3417rem;
    border-bottom: 1px solid #ddd
}
.recommend-tab-list{
    flex-grow: 1;
    font-size: 0.137rem;
    text-align: center;
    display: inline-block;
    height: .34rem;
    line-height: .34rem;
}
.recommend-tab ul li span{
    display: inline-block;
}
.recommend-tab ul li.active span{
    border-bottom: 0.017rem solid #DB2C2C
}
.zxgl{
    display: none;
    padding-top: .17rem;
}

.block{
    display: block;
}
.zx-guide .item{
    margin: 0 .128rem .128rem;
    padding-bottom: .128rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: .128rem;
}
.zx-guide .thumb-pic{
    margin-right: 0.085rem;
    float: left;
}
.zx-guide .thumb-pic a{
    display: block;
}
.zx-guide .thumb-pic img{
    width: .751rem !important;
    height: .508rem !important;
    border-radius: .034rem;
    -webkit-border-radius: .034rem;
    -moz-border-radius: .034rem;
    -ms-border-radius: .034rem;
    -o-border-radius: .034rem;
}
.zx-guide .item-main{
    overflow: hidden;
}
.zx-guide .item-main .title{
    font-size: 0.137rem;
    font-weight: bold;
    margin-bottom: 0.043rem;
    height: 0.0171rem;
}
.zx-guide .item-main .text{
    line-height: 2;
    font-size: 0.119rem;
    color: #333;
}
.zx-guide .item-main .text p{
    height: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
.zx-guide .item-main .desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 0.341rem;
    line-height:0.171rem;
    margin-bottom:0.043rem;
}
.zx-guide .item-main .action{
    color: rgb(204,204,204);
}
.zx-guide .item-main .action img{
    width: auto;
    height: 0.107rem;
    margin-right: 0.0213rem;
    vertical-align:middle;
}
/* tab 装修公司 */
.liebiaoul{
    margin: 0 .128rem;
}
.gsheader{
    overflow: hidden;
    display: flex;
    border-bottom:1px solid #ddd;
    margin-bottom: 0.08rem;
    
}
.gsheader>img{
    display: block;
    width:0.683rem !important;
    height:0.341rem !important;
    border-radius:0.017rem;
    margin-right: 0.085rem;
    margin-top: 0.040rem;
    -webkit-border-radius:0.017rem;
    -moz-border-radius:0.017rem;
    -ms-border-radius:0.017rem;
    -o-border-radius:0.017rem;
}
.gsheader .h-con .title{
    min-height:0.213rem;
    display: flex;
    align-items: center;
    font-size:0.119rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.gsheader .h-con img{
    display: block;
    width: 0.427rem !important;
    height: 0.128rem !important;
    margin-left: 0.043rem;
}
.gsheader .h-con .stars{
    height:0.213rem;
    display: flex;
    align-items: center;
    font-size:0.085rem;
    color: #333333;
    overflow: hidden;
}
.gsheader .h-con .stars .s-num{
    height:100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-bottom: 0.020rem;
    margin-right:0.085rem;
}
.gsheader .h-con .stars .s-num img{
    display: inline-block;
    width: 0.102rem !important;
    height:0.094rem !important;
    margin-left: 0.010rem;
    border-radius: 0.017rem;
}
.gsheader .h-con .nums{
    overflow: hidden;
    display: flex;
    align-items: center;
    font-size:0.085rem;
}
.gsheader .h-con .nums .num-item{
    padding: 0 0.055rem 0 0;
    height: 0.18rem;
    line-height: 0.18rem;
    margin:.19rem 0.043rem ,19rem 0;
    color: #666;
}

.gsheader .hui,
.gsheader .quan{
    padding: .06rem 0 .08rem;
    line-height: 0.12rem;
    font-size:0.094rem;
    font-weight:500;
    color:#333;
}
.gsheader .hui .son
,.gsheader .quan .son{
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    text-align: center;
    font-size: 0.085rem;
    color: #fff;
    margin-right: 0.060rem;
    border-radius: 0.017rem;
    vertical-align: top;
}
.gsheader .hui .son{
    background: #FF7A2A;
}
.gsheader .quan .son{
    background: #F33535;
}
.gsheader .hui .con
,.gsheader .quan .con{
    display: inline-block;
    width: 1.95rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.guide-xgt ul{
    padding: 0 .07rem;
}
.guide-xgt ul li{
    float: left;
    margin: 0 .05rem;
}
.guide-xgt ul .tu-item .tu-item-pic{
    width: 1.429rem;
    height: 1.067rem;
    font-size: 0;
}
.guide-xgt ul .tu-item .tu-item-pic img{
    height: 100% !important;
    width: 100% !important;
    vertical-align: top;
}
.guide-xgt ul .tu-item .tu-item-text{
    font-size: .119rem;
    line-height: .277rem;
    width: 1.429rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #333;
}
.guide-xgt ul .tu-item .tu-item-text span{
    margin-right: .02rem;
    color: #666;
}
/* 二维码 */
.bama_s {
	width: 100%;
	padding: 0   0.102rem  0.128rem;
	box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 0.085rem;
    border-bottom-right-radius: 0.085rem;
	
}
.bgc_fff {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.128rem 0.102rem;
	box-sizing: border-box;
}

.bama_img {
    width: 0.623rem;
    height: 0.623rem;
	margin-right: 0.201rem;
}
.bama_img img {
    width: 100%;
    height: 100%;
}
.bama_text {
	color: #333;
	font-size:0.119rem;
    font-weight: bold;
}
.first_bama {
    margin-bottom: 0.1414rem;
 
}

.bama_apn {
	color: #CC3300;
	font-size: 0.119rem;
	font-weight: bold;
}