<extend name="Common:basic" />
<block name="link">
    <notempty name="userInfo.canonical">
        <link href="{$userInfo.canonical}" rel="canonical" />
    </notempty>
    <link href="/assets/mobile/companyhome/css/m-public-ch.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet"/>
    <link href="/assets/mobile/companyhome/css/comment-two.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/meitu/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit">业主点评</div>
</block>
<block name="content">
    <article class="under-line">
        <div class="grade clearfix">
            <div class="grade_xing">
                <div class="grade_left">
                    <p>设计水平:
                        <if
                            condition="(($userInfo['user']['avgsj'] NEQ 0 AND $userInfo['user']['avgsj'] EGT 9) OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 9))">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgsj'] NEQ 0 AND$userInfo['user']['avgsj'] EGT 8 AND $userInfo['user']['avgsj'] LT 9)OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 8 AND $userInfo['user']['avgcount'] LT 9))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgsj'] NEQ 0 AND$userInfo['user']['avgsj'] EGT 4 AND $userInfo['user']['avgsj'] LT 8)OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 4 AND $userInfo['user']['avgcount'] LT 8))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgsj'] NEQ 0 AND$userInfo['user']['avgsj'] EGT 2 AND $userInfo['user']['avgsj'] LT 4)OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 2 AND $userInfo['user']['avgcount'] LT 4))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty-star"></i>
                            <i class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSE />
                            <i class="fa fa-star"></i> <i class="fa fa-star empty-star"></i> <i
                                class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i> <i
                                class="fa fa-star empty-star"></i>
                        </if>
                        <span>{$userInfo['user']['avgsj']}</span>
                    </p>
                    <p>服务态度:
                        <if
                            condition="(($userInfo['user']['avgfw'] NEQ 0 AND $userInfo['user']['avgfw'] EGT 9) OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 9))">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgfw'] NEQ 0 AND$userInfo['user']['avgfw'] EGT 8 AND $userInfo['user']['avgfw'] LT 9)OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 8 AND $userInfo['user']['avgcount'] LT 9))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgfw'] NEQ 0 AND$userInfo['user']['avgfw'] EGT 4 AND $userInfo['user']['avgfw'] LT 8)OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 4 AND $userInfo['user']['avgcount'] LT 8))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgfw'] NEQ 0 AND$userInfo['user']['avgfw'] EGT 2 AND $userInfo['user']['avgfw'] LT 4)OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 2 AND $userInfo['user']['avgcount'] LT 4))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty-star"></i>
                            <i class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSE />
                            <i class="fa fa-star"></i> <i class="fa fa-star empty-star"></i> <i
                                class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i> <i
                                class="fa fa-star empty-star"></i>
                        </if>
                        <span>{$userInfo['user']['avgfw']}</span>
                    </p>
                    <p>施工水平:
                        <if
                            condition="(($userInfo['user']['avgsg'] NEQ 0 AND $userInfo['user']['avgsg'] EGT 9) OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 9))">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgsg'] NEQ 0 AND$userInfo['user']['avgsg'] EGT 8 AND $userInfo['user']['avgsg'] LT 9)OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 8 AND $userInfo['user']['avgcount'] LT 9))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgsg'] NEQ 0 AND$userInfo['user']['avgsg'] EGT 4 AND $userInfo['user']['avgsg'] LT 8)OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 4 AND $userInfo['user']['avgcount'] LT 8))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSEIF
                                condition="(($userInfo['user']['avgsg'] NEQ 0 AND$userInfo['user']['avgsg'] EGT 2 AND $userInfo['user']['avgsg'] LT 4)OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 2 AND $userInfo['user']['avgcount'] LT 4))" />
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty-star"></i>
                            <i class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i>
                            <ELSE />
                            <i class="fa fa-star"></i> <i class="fa fa-star empty-star"></i> <i
                                class="fa fa-star empty-star"></i> <i class="fa fa-star empty-star"></i> <i
                                class="fa fa-star empty-star"></i>
                        </if>
                        <span>{$userInfo['user']['avgsg']}</span>
                    </p>
                </div>
            </div>
            <div class="grade_gd">
                <div class="grade_right">
                    <p class="p1">
                        <present name="userInfo.user.haopinglve">
                            {$userInfo.user.haopinglve}%
                            <else />
                            100%
                        </present>
                    </p>
                    <p class="p2">业主好评率</p>
                </div>
            </div>
        </div>
        <div class="gray-bg"></div>
        <div class="comments-box contentnr">
            <div class="comments-items">
                <div id="tab">
                    <div class="tab-menus" id="wrapper">
                        <ul id="menuTitle">
                            <li <if condition="$showtype eq ''">class="cur"</if> data-id=''><a href="/{$bm}/company_message/{$company_id}/">全部</a></li>
                            <if condition="$hadjingxuan">
                                <li <if condition="$showtype eq 1">class="cur"</if> ><a href="/{$bm}/company_message/{$company_id}?type=1">精选</a></li>
                            </if>
                            <!-- <li <if condition="$showtype eq 2">class="cur"</if> ><a href="/{$bm}/company_message/{$company_id}?type=2">最新点评</a></li> -->
                            <volist name="showjieduan" id="vo">
                                <li <if condition="$showtype eq $vo['id']">class="cur"</if>><a href="/{$bm}/company_message/{$company_id}?type={$vo.id}">{$vo.name}</a></li>
                            </volist>
<!--                            <li data-id="3">开工阶段</li>-->
<!--                            <li data-id="4">水电阶段</li>-->
<!--                            <li data-id="5">泥木阶段</li>-->
<!--                            <li data-id="6">油漆阶段</li>-->
<!--                            <li data-id="7">竣工阶段</li>-->
                        </ul>
                    </div>
                </div>
                <ul class="comments-list">
                    <volist name="list" id="vo">
                    <li>
                        <div class="designer-pic">
                            <img src="{$vo.logo}" alt="">
                        </div>
                        <div class="designer-detail">
                            <div class="clearfix">
                                <span class="designer-name">{$vo.name}</span>
                                <if condition="$vo['step']">
                                    <span class="designer-status">{$vo.step}</span>
                                </if>
                            </div>
                            <div>
                                <span class="star-text">打分</span>
                                <p class="stars">
                                    <if condition="$vo['avgcount'] EQ 0">
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    <elseif condition="$vo['avgcount'] EQ 1" />
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    <elseif condition="$vo['avgcount'] EQ 2" />
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    <elseif condition="$vo['avgcount'] EQ 3" />
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    <elseif condition="$vo['avgcount'] EQ 4" />
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star"></i>
                                    <elseif condition="$vo['avgcount'] EQ 5" />
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <i class="fa fa-star red"></i>
                                        <else />
                                    </if>
                                </p>
                                <span class="designer-time">{$vo.time}</span>
                            </div>
                            <div class="desinger-text">
                                <div class="showtext">{$vo.text}</div>
                            </div>
                            <!--业主点评图片-->
                            <if condition="count($vo['comment_imgs']) EGT 1">
                                <div class="owner-img">
                                    <volist name="vo.comment_imgs" id="civo">
                                        <img src="{$civo}">
                                    </volist>
                                </div>
                            </if>
                            <if condition="$vo['rptxt'] NEQ ''">
                                <div class="replay">
                                    <p class="replay-title clearfix">
                                        <span>商家回复:</span>
                                        <span>{$vo.reply_time}</span>
                                    </p>
                                    <p class="replay-text">{$vo.rptxt}</p>
                                </div>
                            </if>
                        </div>
                    </li>
                    </volist>
                </ul>
                <!--{$page}-->
            </div>
        </div>
        <!--图片-->
        <div class="bigimg-mask">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                </div>
            </div>
        </div>

        <!--置顶-->
        <div id="gotop" style="display: none"><i class="fa fa-angle-up fa-lg"></i><br>置顶</div>
    </article>

    <include file="Common/footfadantc" />
</block>
<block name="script">
    <script type="text/javascript">
        var id = '{$company_id}';
    </script>
    <script type="text/javascript" src="{$static_host}/assets/mobile/companyhome/js/commenttwo.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}{$_SERVER['REQUEST_URI']}",
            "appid": "1575859058891466",
            "title": "{$basic.head.title}",
            "images": [],
            "pubDate": ""
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click','.owner-img img',function () {
                $(".swiper-wrapper").html('');
                mySwiper.init();
                var index = $(this).index();
                mySwiper.slideTo(index, 500, false);
                var imgs = $(this).parent().find('img');
                var html = '';
                if(imgs.length > 1) {
                    imgs.each(function (index,item) {
                        html += '<div class="swiper-slide">\n' +
                            '                        <img src="'+ item.currentSrc +'" />\n' +
                            '                    </div>'
                    })
                } else {
                    html = '<div class="swiper-slide">\n' +
                        '                        <img src="'+ imgs[0].currentSrc +'" />\n' +
                        '                    </div>'
                }
                $(".swiper-wrapper").append(html);
                $(".bigimg-mask").show();
            })
            var mySwiper = new Swiper('.swiper-container', {
                loop : false,
                observer:true,
                observeParents:true,
            });
            $('body').on('click','.bigimg-mask',function (e) {
                var target = $(".swiper-container .swiper-slide img");
                if(target.is(e.target) && target.has(e.target).length === 0){
                    $(".bigimg-mask").hide()
                }
            });

            //定义固有变量
            var loading = false;
            var last_page = '{$totalpage|default=0}';
            var this_page = '{$pageid}';
            var alertinfo = false;
            //下拉无限加载
            window.onscroll=function(){
                /*导航栏固定*/
                var top=window.pageYOffset||document.documentElement.scrollTop||document.body.scrollTop;
                if(top>103){
                    $("#tofixed").addClass('tofixed')
                }else{
                    $("#tofixed").removeClass('tofixed')
                }
                /*下拉刷新加载*/
                if ($(document).height() - $(this).scrollTop() - $(this).height() < 800){
                    if(this_page >= last_page){
                        if (alertinfo == false) {
                            $(".contentnr").append('<div class="wrapbt"><div class="spmore">没有更多了，看看别的吧..</div></div>');
                        };
                        alertinfo = true;
                        return false;
                    }else{
                        if (loading == true) {
                            return false;
                        };
                        loading = true;
                        var url = '?p=' + (parseInt(this_page) + 1);
                        $.ajax({
                            url: url,
                            type: 'POST',
                            dataType: 'html',
                        })
                        .done(function(result) {
                            loading = false;
                            $(".comments-list").append($(result));
                            this_page++;
                        })
                        .fail(function(xhr) {
                            loading = false;
                            alert("加载失败,请刷新再试！");
                        });
                    }
                }

                //回到顶部
                $(window).on("scroll", function(){
                    if($(document).scrollTop()>="1000"){
                        $('#gotop').css('display',"block");
                    }else{
                        $('#gotop').css('display',"none");
                    }
                });
            }

            $("#gotop").click(function(event) {
                $(document).scrollTop(0)
            });

        });
    </script>

</block>
