<extend name="Common:basic"/>
<block name="link">
	<notempty name="info.canonical">
		<link href="{$info.canonical}" rel="canonical"/>
	</notempty>
	<link href="/assets/mobile/companyhome/css/m-public-ch.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
	<link href="/assets/mobile/companyhome/css/teamtwo.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
	<link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet"/>
</block>
<block name="top">
	<div class="m-header-his">
		<i class="fa fa-angle-left"></i>
	</div>
	<a href="/" class="m-header-left"></a>
	<div class="m-header-tit">设计师团队</div>
</block>
<block name="content">
	</div>
	<article class="under-line">
		<div class="main">
			<ul class="team-list">
				<volist name="team.team" id="vo">
					<li>
						<div class="info">
							<a href="{$vo.blog_url}/">
								<div class="avator"><img class="morenInfo" src="{$vo['logo']}" alt="{$vo.name}"></div>
								<div class="s-name">{$vo['name']}<span class='job'>{$vo['zw']}</span></div>
								<div class="j-time">从业时间: {$vo['jobtime']}
									<if condition="$vo['case_counts'] neq 0">作品{$vo['case_counts']}</if>
								</div>
							</a>
						</div>
						<if condition="count($vo['case3']) neq 0">
							<div class="pic clearfix">
								<volist name="vo['case3']" id="v">
									<a href="{$v.url}">
										<if condition="$v['img_host'] EQ 'qiniu'">
											<img src="{$v.img_path}"
											     alt="{$v['title']}{$v['mianji']}㎡{$v['huxing']}{$v['fengge']}装修案例"
											     title="{$v['title']}{$v['mianji']}㎡{$v['huxing']}{$v['fengge']}装修案例">
											<else/>
											<img src="{$v.img_path}"
											     alt="{$v['title']}{$v['mianji']}㎡{$v['huxing']}{$v['fengge']}装修案例"
											     title="{$v['title']}{$v['mianji']}㎡{$v['huxing']}{$v['fengge']}装修案例">
										</if>
									</a>
								</volist>
							</div>
						</if>
					</li>
				</volist>
			</ul>
			<!--分页-->
			{$team.page}
		</div>
	</article>

	<include file="Common/footfadantc"/>
</block>
<block name="script">


	<script type="application/ld+json">
		{
			"@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
			"@id": "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}{$_SERVER['REQUEST_URI']}",
			"appid": "1575859058891466",
			"title": "{$basic.head.title}",
			"images": [],
			"pubDate": ""
		}
	</script>

</block>
