<div class="get-box">
    <img class="get-result" src="/assets/mobile/company/img/success.png" alt="">
    <p class="result-title">领取成功</p>
    <p class="result-text">稍后会有专人客服与您联系</p>
</div>
<div class="mask-view">
    <div class="show-img">
        <img alt="">
    </div>
    <!--优惠券-->
    <div class="discount-box">
        <div class="discount-items">
            <h2 class="clearfix">齐装网专项优惠券<span class="head-close pull-right" style="font-weight: normal">X</span> </h2>
            <p class="discount-get">领取后到店使用</p>
            <p class="discount-money">优惠：满50000减5000</p>
            <p class="discount-date">有效期：2019-06-24 至 2019-07-31</p>
            <p class="discount-type">联系方式: <input type="tel" class="input-tel" placeholder="请输入您的手机号码" value="" maxlength="11">
            </p>
        </div>
        <div class="declare-box">
            <input type="checkbox" id="declare" checked>
            <p>
                我已阅读并同意齐装网的
                <a href="/about/disclaimer/">《免责声明》</a>
            </p>
        </div>
        <div class="discount-btn">
            <a href="javascript:void(0);">立即领取</a>
        </div>
    </div>
    <!--服务-->
    <div class="server-box">
        <div class="server-title clearfix">
            <h2 class="server-sub-title">预约量房</h2>
            <span class="server-tips">免费上门，全方位了解装修需求</span>
            <span class="server-close">X</span>
        </div>
        <ul class="server-fd">
            <li class="server-city">
                <span>所在城市</span>
                <button id="showCityPicker11" type="button" class="server-contentfd-city">
                    <i class="fa fa-map-marker">
                    </i>江苏省 苏州 姑苏区
                </button>
                <input type="hidden" name="prov" data-id="{$mapUseInfo.pid}">
                <input type="hidden" name="cs" data-id="{$mapUseInfo.id}">
                <input type="hidden" name="qy" data-id="{$defaultCityarea.id}">
            </li>
            <li>
                <span>联系方式</span><input class="phonehaoma" type="tel" maxlength="11" placeholder="请输入您的手机号">
            </li>

        </ul>
        <div class="declare-box declare">
            <input type="checkbox" id="declare2" checked>
            <p>
                我已阅读并同意齐装网的
                <a href="/about/disclaimer/">《免责声明》</a>
            </p>
        </div>
        <div class="getresult">免费获取报价明细</div>
    </div>
</div>