
.clearfix:after, .clearfix:before {
    content: '';
    display: block;
    clear: both;
}

.mask-view {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2001;
    background: rgba(0, 0, 0, .8);
}

footer{
    padding-bottom:4em;
}
.article-content {
    background: #F5F5F5;
}
.foot-discliamer{
    padding-bottom: 0.24rem;
}
.banner-img {
    position: relative;
    width: 100%;
}

.banner-img a {
    display: block;
    width: 100%;
}

.banner-img img {
    width: 100%;
    height: 200px;
}

.activity {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(255, 227, 196, 1);
    padding: 0 15px;
    box-sizing: border-box;
}

.activity a {
    display: block;
    width: 100%;
}


.activity-youhui {
    width: 12px;
    height: 12px;
    background: rgba(255, 155, 89, 1);
    border-radius: 2px;
    padding: 1px 3px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.activity-text {
    display: inline-block;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 155, 44, 1);
    margin-left: 5px;
    /*margin-right: 20px;*/
}

.activity-text > span {
    display: inline-block;
}

.close {
    float: right;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    background: url('/assets/mobile/company/img/activity-close.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.company-box {
    padding: 15px 15px 0px 15px;
    background: #fff;
}

.company-name {
    /* float: left; */
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    min-height: 0.188rem;
    line-height: 0.188rem;
    font-size: 0.154rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.company-zhizhao {
    float: left;
    height: 20px;
    margin-left: 10px;
}
.company-zhizhao img{
    display: block;
}
.companu-renz {
    float: left;
    height: 20px;
    margin-left: 10px;
}
.companu-renz img{
    display: block;
}
.companu-bzj {
    float: left;
    height: 20px;
    margin-left: 10px;
}
.companu-bzj img{
    display: block;
}
.company-icon-btn{
    padding: 10px 0;
}
.company-qcc{
    float: left;
    height: 20px;
}
.company-qcc img{
    display: block;
}
.company-zhizhao-cha a{
    color:#fff;
}

.stars {
    display: inline-block;
}

.stars span {
    display: inline-block;
    width: 12px;
    height: 14px;
    margin-right: 2px;
    background: url("/assets/mobile/company/img/stars.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position-y: 3px;
}
}

.comment {
    display: inline-block;
    line-height: 23px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);

}

.company-score {
}

.company-score span {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: #666666;
    margin-right: 6px;
}

.address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(221, 221, 221, 0.6);
    height: 0.384rem;
}
.add-logo {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 14px;
    background: url('/assets/mobile/company/img/xaddress.png') no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position-y: 2px;
}

.addres {
    font-size: 0.102rem;
    font-weight: 500;
    vertical-align: middle;
    color: #333333;
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;


}

.phone {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    background: url('/assets/mobile/company/img/xphone-channel.png') no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.phone a {
    display: inline-block;
    width: 100%;
    height: 24px;
}

.tickets {
    padding: 15px;
    background: #fff;
    margin-top: 10px;
    padding-top: 0;
}

.ticket-title {
    margin: 10px 0;
    height: 24px;
}

.ticket-youhui {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    vertical-align: middle;
    background: rgba(255, 86, 118, 1);
    color: rgba(255, 255, 255, 1);
}

.ticket-banner {
    width: 100%;
    height: 0.768rem;
    background: url('/assets/mobile/company/img/xticket-banner.png') no-repeat;
    -webkit-background-size: 100%;
    background-size: 100% 100%;
    margin-bottom: 10px;
}

.ticket-left, .ticket-right {
    float: left;
}

.ticket-left {
    padding: 10px 6px;
    width: 28%;
}

.ticket-left p {
    font-size: 0.094rem;
    line-height: 40px;
    font-weight: 500;
    color: #DC2D2D;
    text-align: center;
}

.ticket-left .price {
    height: 32px;
    font-size: 0.154rem;
    line-height: 40px;
    font-weight:bold;
    color:#DC2D2D;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
}

.ticket-left .price span {
    font-size: 0.094rem;
}

.ticket-right {
    position: relative;
    width: 58%;
    padding: 10px;
    padding-left: 20px;
    padding-top: 0.180rem;
}

.ticket-right .ticket-sub {
    height: 20px;
    font-size:0.119rem;
    font-weight:bold;
    color:rgba(52,52,52,1);
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ticket-time {
    margin-top: 0.098rem;
    height: 18px;
    font-size:0.085rem;
    font-weight:500;
    color:rgba(154,154,154,1)
}

.get-ticket {
    position: absolute;
    top:  0.250rem;
    right: 0.060rem;
    width:0.572rem;
    height: 0.205rem;
    border: 1px solid #DC2C2C;
    color: #DC2D2D;
    border-radius: 0.102rem;
    text-align: center;
    line-height: 0.205rem;
    box-sizing: border-box;
    font-size: 0.102rem
}

.getTickets {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: rgba(255, 87, 92, 1);
    display: none;
}

.honour-box {
    margin-top: 10px;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
}
.compny-honour{
    display: flex;
    justify-content: flex-start;
}

.compny-honour li {
    width: 25%;
    /*float: left;*/
    text-align: center;
}

.compny-honour li a {
    display: block;
    width: 100%;
}

.compny-honour li img {
    width: 0.341rem;
    height:  0.341rem;
}

.compny-honour li p {
    margin: 5px 0;
    font-size: 0.102rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.compny-honour li span {
    font-size:0.102rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.company-serve {
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    background: #fff;
    padding-top: 0;
}
.company-serve ul{
    display: flex;
    justify-content: space-between;
}

.company-serve li {
    width:0.896rem;
    height:1.024rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 0.043rem 0px rgba(0, 0, 0, 0.1);
    border-radius:0.034rem;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.company-serve li img{
    display: block;
    width:0.205rem;
    heigth: 0.205rem;
    margin-top: 0.111rem;
}
.company-serve li span{
    display: block;
    height: 0.180rem;
    font-size: 0.119rem;
    font-weight:bold;
    color:rgba(51,51,51,1);
}

.company-serve li p {
    height: 0.160rem;
    font-size: 0.102rem;
    margin-bottom: 0.102rem;
    font-family: PingFang-SC-Medium;
    font-weight:500;
    color:rgba(219,44,44,1);
}

.company-serve li a {
    display: block;
    width:0.666rem;
    height:0.188rem;
    background:rgba(219,44,44,1);
    border-radius:0.094rem;
    text-align: center;
    line-height: 0.188rem;
    font-size: 0.094rem;
    color: #fff;
}

.company-nav {
    /*height: 40px;*/
    margin-top: 10px;
    /*background: #fff;*/
}

.nav-box {
    border-bottom: 2px solid rgba(245, 245, 245, 1);
    background: #fff;
}
.nav-item{
    display: flex;
    justify-content: space-between;
}

.nav-box li {
    /*float: left;*/
    width: 25%;
    /*box-sizing: border-box;*/
    text-align: center;
}

.nav-box li a {
    display: inline-block;
    line-height: 24px;
    padding: 10px 15px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.nav-box li.active {
    position: relative;
}

.nav-box li.active a {
    color: #DB2C2C;
}

.nav-box li.active:after {
    content: '';
    display: block;
    width: 70%;
    height: 0.017rem;
    background: #DB2C2C;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.case-box {
    background: #fff;
}

.case-title {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
}
.case-serve-title{
    padding-left: 0;
}

.case-title h2, .case-title p {
    display: flex;
    /*flex: 1;*/
}

.case-title h2 {
    height: 0.427rem;
    line-height: 0.427rem;
    font-size: 0.154rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.case-title .case-more {
    height: 0.427rem;
    font-size: 14px;
    line-height: 0.427rem;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.case-title .case-more .xright{
    width: 0.102rem;
    height: 0.102rem;
    background: url('/assets/mobile/company/img/xright.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.case-items {
    padding: 0 10px;
}

.case-item {
    display: flex;
    justify-content: space-around;

}

.item-box .xiaoqu {
    height: 22px;
    font-size: 13px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    margin-top: 8px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-box {
    /*display: flex;*/
    /*flex: 1;*/
    width: 47%;
}

.item-box a {
    width: 100%;
    display: block;
}

.item-box img {
    width: 100%;
    min-height: 130px;
    max-height: 125px;
    border-radius: 0.027rem;
}

.item-box p {
    height: 30px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.style {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: end;*/
}

.style span {
    display: flex;
    vertical-align: middle;
}

.designer-box {
    margin-top: 10px;
    background: #fff;
    padding: 10px 0;
    padding-top: 0;
}

.designer-items {
    display: flex;
    justify-content: space-around;
}

.designer-items li {
    width: 23%;
    text-align: center;
}


.designer-items li a,
.designer-items li img {
    width: 100%;
    display: block;
    overflow: hidden;
    /*padding: 5px;*/
}
.designer-items li img{
    display: block;
    width: 60px;
    max-height: 60px;
    min-height: 60px;
    border-radius: 100%;
    /* text-align: center; */
    margin: 0 auto;
    position: relative;
    color: #ffffff
}
.designer-items li .morenInfo:after{ width: 100%; height: 100%; border-radius: 50%; background:url("../../../common/img/moren.png") no-repeat center; background-size: 100% 100%; position:absolute;content:"";display:block;top:0;left:0; }

.designer-position {
    font-size: 12px;
    line-height: 16px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.comments-box {
    margin-top: 10px;
    background: #fff;
}

.comments-items {
    padding-bottom: 15px;
}

.comments-list {
    padding: 0 10px;
    box-sizing: border-box;
}

.comments-list > li {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.comments-list > li:first-child  .designer-detail{
    border-top: none;
}

.designer-pic {
    width: 15%;
    padding-top: 10px;
}

.designer-pic img {
    width: 100%;
    vertical-align: top;
    border-radius: 50%;
}

.designer-detail {
    width: 81%;
    padding-top: 10px;
    border-top: 1px solid rgba(229, 229, 229, 1);
}

.designer-name {
    height: 25px;
    line-height: 25px;
    width: 68%;
    margin: 0 auto;
    font-size: 12px;
    font-weight:bold;
    color:rgba(51,51,51,1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.designer-status {
    display: inline-block;
    height: 16px;
    background: rgba(255, 238, 237, 1);
    font-size: 11px;
    padding: 2px 4px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: #DB2C2C;
    border-radius:2px;
}

.designer-time {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    float: right;
}

.stars {
    display: inline-block;
}

.star-text {
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.desinger-text {
    margin-top: 5px;
}

.desinger-text p {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.owner-img{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.owner-img>img{
    display: block;
    width: 0.79rem;
    height: 0.79rem;
    border-radius: 0.04rem;
    margin-right: 0.03rem
}
.owner-img>img:last-child{
    margin-right: 0;
}

.designer-img-box {
    position: relative;
}

.img-num {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 31px;
    height: 16px;
    background: rgba(0, 0, 0, .5);
    /*opacity: 0.5;*/
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    padding: 3px 2px 3px 5px;
}

.img-num span:first-child {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('/assets/mobile/company/img/more-pic.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.img-num span:last-child {
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.designer-img {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.designer-img > li {
    width: 32%;
}

.designer-img > li img {
    width: 100%;
    vertical-align: top;
}

.replay {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    background: rgba(245, 245, 245, 1);
    border-radius: 8px;
}

.replay-title {
    margin: 3px 0;
}

.replay-title span:first-child {
    font-size: 13px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 18px;
}

.replay-title span:last-child {
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 18px;
    float: right;
}

.replay-text {
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 18px;
}

.more-replay {
    text-align: center;
}

.more-replay p {
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 18px;
    padding: 5px;
}

.more-replay p>a{
    display:flex;
    align-items:center;
    justify-content: center;
}
.more-replay p>a .xbottom{
    display: inline-block;
    width: 0.085rem;
    height: 0.085rem;
    margin-left: 4px;
    background: url('/assets/mobile/company/img/xbottom.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.info-box {
    margin-top: 10px;
    background: #fff;
    padding-bottom: 10px;
}

.info-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 6px 15px;
}

.info-item > span:first-child {
    display: flex;
    font-size: 13px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.info-item > span:last-child {
    display: flex;
    flex: 2;
    font-size: 13px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.info-item .info-serve {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    font-size: 0;
}

.special-item {
    margin-right: 3px;
    line-height: 16px;
}

.special-item span {
    vertical-align: middle;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.special-item > span:first-child {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    background: url('/assets/mobile/company/img/right.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.show-img {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.show-img img {
    width: 100%;
}

.discount-box {
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    max-width: 640px;
    background: #fff;
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    display: none;
}

.discount-items {
    border-bottom: 2px solid rgba(229, 229, 229, 1);
}

.discount-items p {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
}

.discount-items h3 {
    font-size: 20px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.discount-items h3 span {
    float: right;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
}

.discount-get {
    color: rgba(102, 102, 102, 1);
}

.discount-money {
    font-size: 28px;
    color: rgba(51, 51, 51, 1);
}

.discount-date {
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
}

.discount-type {
}

.discount-type input {
    outline: none;
    border: none;
    height: 30px;
    line-height: 30px;
}

.declare-box {
    margin-top: 10px;
}

.declare-box input {
    vertical-align: middle;
}

.declare-box p {
    display: inline-block;
    height: 25px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.declare-box p a {
    color: rgba(48, 150, 255, 1);
    text-underline: rgba(48, 150, 255, 1);
}
.declare {
    padding-left: 13px;
}
.discount-btn {
    width: 100%;
    background: rgba(255, 87, 92, 1);
    border-radius: 8px;
    margin: auto 0;
    box-sizing: border-box;
}

.discount-btn a {
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    color: #fff;
}

.get-box {
    width: 140px;
    height: 140px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .6);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
    display: none;
}

.get-box img {
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

.result-title {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}


.server-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    background: #fff;
}

.server-title {
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px 10px 0 0;
}

.server-title h2 {
    height: 34px;
    font-size: 18px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 36px;
    float: left;
}

.server-tips {
    float: left;
    line-height: 40px;
    margin-left: 5px;
}

.server-close {
    float: right;
    padding: 10px;
    line-height: 18px;
}

.server-fd {
    overflow: hidden;
    background: #fff;
    padding: 0 0.11rem;
    padding-bottom: 0;
    box-sizing: border-box;
    margin: 0;
    display: block;
}

.server-fd li {
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    font-size: 0.123rem;
    height: 0.352rem;
    line-height: 0.352rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    clear: both;
    outline: none;
}


.server-fd li input {
    border: 0;
    display: inline-block;
    float: left;
    width: calc(100% - 0.55rem);
    height: 100%;
    outline: none;
    color: #333;
    text-align: right;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    border: 0;
}
.server-fd li span {
    width: 0.528rem;
    display: inline-block;
    float: left;
    text-align: left;
    margin-right: 0.022rem;
    height: 100%;
    vertical-align: top;
}

.server-contentfd-city {
    float: right;
    height: 100%;
    background: none;
    border: 0;
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: calc(100% - 0.55rem);
    text-align: right;
}


.getresult {
    width: 100%;
    height: 0.352rem;
    line-height: 0.352rem;
    text-align: center;
    background: #ff5353;
    color: #fff;
    font-size: 0.123rem;
    border-radius: 8px;
    margin: 0.154rem auto;
    margin-top: 0;
}


.company-footer{
    text-align: center;
    width: 100%;
    background: #eee;
    padding: 1em 0;
    font-size: 0.6em;
}
.company-footer .footer-tel {
    font-size: 16px;
}
.company-footer  .hot {
    color: #FF5255;
}
.company-footer  .footer-tel .phone-box {
    width: 23px;
    height: 23px;
    display: inline-block;
    border: 1.5px solid #ff5353;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    /* margin: 0 6px; */
    margin-right: 5px;
}
.company-footer  .footer-title {
    font-size: 14px;
    margin-top: 10px;
}
.company-footer .footer-app-download {
    text-align: center;
    margin: 0.1rem 0;
}

.company-footer .footer-app-download > p {
    display: inline-block;
    color: white;
    border-radius: 0.187rem;
    line-height: 0.375rem;
    background: #FF5353 url(/assets/mobile/common/img/app3.png) no-repeat 0.15rem center;
    background-size: 0.2rem auto;
    margin: 0 auto;
    padding: 0 0.15rem 0 0.4rem;
    font-size: 14px;
}
.company-footer .footer-webadress {
    font-size: 10px;
    line-height: 0.2rem;
}

.company-footer .foot-discliamer {
    font-size: 10px;
    padding: 0px 0.2rem;
    color: #999;
    line-height: 0.2rem;
}

.footer-server{
    height: 65px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 7px 15px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.footer-server img{
    width: 24px;
    height: 24px;
}
.footer-phone span,.footer-kefu span{
    display: block;
    height:23px;
    font-size:12px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.footer-phone a{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 6px;
}
.footer-kefu{
    /*padding: 10px;*/
}
.footer-kefu a{
    padding: 10px;
    display: block;
    width: 100%;
    padding-top: 6px;
    box-sizing: border-box;
}
.footer-btns{
    width: 60%;
    font-size: 0;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    padding-top: 6px;

}
.footer-btns span{
    font-size:14px;
    width: 50%;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}

.footer-btns span:first-child{
    background: #FFB452;
    border-radius: 40px 0 0 40px;
}
.footer-btns span:last-child{
    background: #FF5452;
    border-radius: 0 40px 40px 0;
}

.swiper-box{
    width: 100%;
     max-height: 288px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20002;
    display: none;
    /* padding-top: 150px; */
}
.swiper-wrapper{
    width: 100%;
}
.swiper-container .swiper-slide{
    width: 100%;
    color: #fff;
}

.swiper-container .swiper-slide img{
    width: 100%;
    vertical-align: top;
}

/*新增装修现场 （632 装修家居小程序、齐装网m端新增装修现场模块）*/
.worksite-box{
    margin-top: 10px;
    background: #fff;
    padding: 10px 15px;
    padding-top: 0;
}
.worksite-box>.case-title{
    padding: 0
}
.worksite-tit{
    position: relative;
    padding:5px 0;
}
.worksite-tit span:first-child{
    font-size: 0.12rem;
    color: rgba(51, 51, 51, 1);
}
.worksite-tit a{
    font-size: 0.094rem;
    color: #A0A0A0;
    position: absolute;
    right: 0;
}
.worksite-list{
    margin-top:0.12rem;
    overflow: hidden;
}
.worksite-list .list-left{
    width:0.95rem;
    height: 0.715rem;
    float: left;
}
.worksite-list .list-left img{
    width:100%;
    height: 100%;
}
.worksite-list .list-right{
    width:64%;
    float: left;
    padding-left:0.08rem;
}
.list-right .list-right-tit{
    position: relative;
    margin-top: 2px;
}
.list-right .list-right-tit span:first-child{
    font-size: 0.12rem;
    display: inline-block;
    width:70%;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: #000;
}
.list-right .list-right-tit span:nth-child(2){
    padding:4px 8px;
    background: #FFEDED;
    color: #FF5353;
    border-radius: 3px;
    font-size:0.11rem;
    position: absolute;
    right: 0;
    top: -3px;
}
.list-right .list-fengge{
    font-size: 0.094rem;
    color: #999999;
    margin-top: 3px;
}
.weiguan-img{
    position: relative;
    width: 100%;
    margin-top: 0.07rem;
}
.weiguan-img img{
    width:22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
}
.weiguan-img img:first-child{
    z-index: 10;
}
.weiguan-img img:nth-child(2){
    left: -0.05rem;
    z-index: 8;
}
.weiguan-img img:nth-child(3){
    left: -0.1rem;
    z-index: 6;
}
.weiguan-img img:nth-child(4){
    left: -0.15rem;
    z-index: 4;
}
.weiguan-img img:nth-child(5){
    left: -0.2rem;
    z-index: 2;
}
.weiguan-img img:nth-child(6){
    left: -0.25rem;
    z-index: 1;
}
.weiguan-img span{
    font-size: 0.11rem;
    position: absolute;
    right: 0;
}
/*1147 优化新增*/
.company-tips {
    border-top: 1px solid  rgba(221, 221, 221, 0.6);
    padding-top: 0.085rem;
    padding-bottom: 0.040rem;
    overflow: hidden;
}
.company-tips .tip-item{
    float: left;
    padding: 0.030rem 0.055rem;
    border: 0.008rem solid #DB2C2C;
    margin-right:0.043rem;
    margin-bottom:0.043rem;
    border-radius:0.017rem;
    font-size: 0.085rem;
    color: #DB2C2C;
    box-sizing: border-box;
}
.comment{
    font-size: 0.102rem;
}
.under-line{
    border-top:none
}
/*swiper*/
.swiper-container {
    width: 100%;
    height: 1.792rem;
}
.swiper-container .swiper-slide {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 !important;
}
.swiper-container .swiper-slide>img{
    display: block;
    width: 100%;
    height: 1.792rem;
}
.xpagination {
    display: flex;
    width: 0.380rem !important;
    height: 0.154rem;
    background: rgba(0, 0, 0, 1);
    opacity: 0.7;
    border-radius: 0.077rem;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 0.102rem;
    position: absolute;
    left: 2.697rem !important;
    box-sizing: border-box;
    padding: 0 0.038rem;
}
.xorder-box{
    margin-top: 10px;
    background: #fff;
    padding: 10px 0;
    padding-top: 0;
    overflow: hidden;
    padding-bottom: 20px;
}
.xorder-box .baojia-tit{
    margin: 0.171rem 0;
}
.xorder-box img{
    width: 100%;
}
.xorder-box .new-sheji{
    display: none;
}
/*报价发单成功弹窗*/
.baojia-success-dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: none;
}
.baojia-success-dialog .baojia-success-content{
    width: 2.688rem;
    height: 2.987rem;
    background: #fff;
    border-radius: 0.085rem;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.baojia-success-content .close-dialog{
    display: block;
    width: 0.205rem;
    height: 0.205rem;
    position: absolute;
    top:0.064rem;
    right: 0.064rem;
}
.baojia-success-content .baojia-success-title{
    font-size: 0.119rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding-top:0.316rem;
    line-height: 0.179rem;
}
.baojia-success-content .baojia-success-title span{
    color: #FF3F51;
    font-size: 0.179rem;
    position: relative;
    top: 2px;
}
.baojia-success-content .baojia-success-details{
    width: 2.308rem;
    height: 1.271rem;
    margin: 0 auto;
    margin-top: 0.469rem;
    background: url("/assets/mobile/index/img/success_bg.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.baojia-success-details>div{
    position: absolute;
}
.baojia-success-details>div p{
    font-size: 0.094rem;
    color: #333;
    text-align: center;
}
.baojia-success-details>div .money{
    color: #FF3F51;
}
.baojia-success-details>div.new-wsj{
    top: -0.3rem;
    left: 0.33rem;
}
.baojia-success-details>div.new-cf{
    top: -0.23rem;
    right: 0.47rem;
}
.baojia-success-details>div.new-kt{
    top: 0.15rem;
    right: 0.05rem;
}
.baojia-success-details>div.new-sd{
    bottom: 0.34rem;
    right: 0.18rem;
}
.baojia-success-details>div.new-ws{
    bottom: 0.27rem;
    left: 0.3rem;
}
.baojia-success-details>div.new-other{
    top: 0.26rem;
    left: 0.02rem;
}
.baojia-success-content .new-tips{
    font-size: 0.077rem;
    color: #999;
    padding-left: 0.128rem;
    margin: 0.1rem 0 0.15rem;
}
.baojia-success-content .new-tele-tips{
    font-size: 0.102rem;
    color: #666;
    text-align: center;
}
.server-div{
    background: rgba(0, 0, 0, .8);
}
.shangjia .case-more{
    min-width: 0.397rem;
}
/*点击放大图片*/
.bigimg-mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    background: rgb(0,0,0);
    display: none;
    z-index: 99;
}
.swiper-containers{
    width:100%;
    height: 100%;
}
.swiper-containers .swiper-slide img{
    display: block;
    max-width:80%;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
}