body,
html,
#allmap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "微软雅黑";
}

.new-nav-m {
  position: fixed !important;
}

/* 搜索框 */
.search-input {
  width: 100%;
  position: absolute;
  top: 50px;
  height: 0.426rem;
  line-height: 0.426rem;
  z-index: 1;
  background-color: #fff;
}

.input {
  width: 1.65rem;
  height: 0.25rem;
  line-height: 0.25rem;
  position: absolute;
  left: 0.25rem;
  border: none;
  outline: none;
  background-color: #F4F1F4;
  font-size: 0.128rem;
  display: inline-block;
  box-sizing: border-box;
}

.search-div {
  height: 0.25rem;
  line-height: 0.25rem;
  width: 70%;
  border: none;
  outline: none;
  background-color: #F4F1F4;
  position: relative;
  border-radius: 0.042rem;
  margin: 0 0.02rem;
}

.bor-rad {
  border-radius: 0.042rem;
}

.btn {
  height: 0.25rem;
  line-height: 0.25rem;
  justify-content: center;
  width: 15%;
  text-align: center;
  align-items: center;
  margin: 0 0.02rem;
  font-size: 0.128rem;
  border: none;
  outline: none;
}

.jus-con {
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

.block {
  display: block;
}

.none {
  display: none;
}

.tex-ali {
  text-align: center;
}

.horn {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 0.08rem;
  height: 0.08rem;
  margin: 0 0 0.05rem 0.05rem;
  transform: rotate(45deg);
}

.searchon {
  background-color: #FBE9E9;
  color: #D92B2B;
}

.searchoff {
  background-color: #F4F1F4;
  color: #999;
}

.search-img {
  position: absolute;
  left: 0;
  width: 0.25rem;
  height: 0.25rem;
}

.x {
  position: absolute;
  right: 0.07rem;
  top: 0.07rem;
  width: 0.12rem;
  height: 0.12rem;
}

/* 底部检索出来的 */
.sea-foot {
  position: fixed;
  bottom: 0;
  height: 1.1rem;
  background-color: #fff;
  width: 100%;
  padding: 0.128rem 0.132rem;
}

.font34 {
  font-size: 0.145rem
}

.col999 {
  color: #999;
}

.bold {
  font-weight: bold;
}

.mar-bot {
  margin-bottom: 0.1rem;
}

.mar-top {
  margin-top: 0.1rem;
}

/* 地址图片 */
.address {
  display: inline-block;
  width: 13px;
  height: 13px;
  text-align: center;
  margin-right: 2px;
  line-height: 13px;
  background: url('/assets/mobile/company/img/address.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100% 100%;
  opacity: 0.6;
}

/* 五角星 */
.comments p.stars {
  margin-right: 2px;
}

.comments p .star {
  display: inline-block;
  width: 13px;
  height: 13px;
  text-align: center;
  margin-right: 2px;
  line-height: 13px;
  background: url('/assets/mobile/company/img/star.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100% 100%;
}

.comments p.starsdet {
  margin-right: 2px;
}

.comments p .stardet {
  display: inline-block;
  width: 13px;
  height: 13px;
  text-align: center;
  margin-right: 2px;
  line-height: 13px;
  background: url('/assets/mobile/company/img/star.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 100% 100%;
}

/* 底部标签样式 */
.font24 {
  font-size: 0.1024rem;
}

.label-sty {
  height: 0.17rem;
  line-height: 0.19rem;
  background: #FCE8EC;
  color: #D92B2B;
  border-radius: 2px;
  padding: 0.01rem 0.04rem;
  margin: 0 0.1rem 0 0;
}

/* 点击底部弹出 */
.msg-foot {
  /* position: fixed;
  bottom: 0;
  height: 4.3rem; */
  background-color: #fff;
  padding: 0.128rem 0.132rem;
  width: 100%;
}

.introdet {
  margin-right: 0.132rem;
  padding-right: 0.132rem;
}

.ticket {
  margin: 0 0 0 0.1rem;
  width: 0.19rem;
  height: 0.17rem;
  line-height: 0.17rem;
  text-align: center;
  align-items: center;
  border-radius: 0.04rem;
  font-size: 0.128rem;
  color: #fff;
  background-color: #377BFF;
}

.div-img {
  margin: 0 0.1rem 0 0;
}

.det-img {
  width: 0.68rem;
  height: 0.512rem;
}

.font30 {
  font-size: 0.128rem;
}

.sketch-tb {
  margin: 0.05rem 0 0.08rem 0;
  color: #434343;
}

.tel {
  color: #F56F0F;
}

/* 没有搜索到公司的时候默认图 */
.div-msg-foot {
  /* position: fixed;
  bottom: 0; */
  /* height: 3.8rem; */
  background-color: #fff;
  width: 100%;
  padding-bottom: 0.2rem;
}

.def-pag {
  width: 1.194rem;
  height: 0.85rem;
  margin: 0.2645rem 0 0.2rem 0;
}

/* 覆盖底部弹出列表 */
.detaillist {
  background-color: #fff;
  /* bottom: 0; */
  width: 100%;
  height: 2.1rem;
  /* position: fixed; */
  z-index: 1;
}

.det-hei {
  height: 0.4rem;
  line-height: 0.4rem;
}

.font36 {
  font-size: 0.1536rem;
}

.font34 {
  font-size: 0.145rem;
}

.search-icon {
  width: 0.17rem;
  height: 0.17rem;
}

.spa-aro {
  justify-content: space-around;
}

.pad {
  padding: 0.1rem;
}

.bor-b {
  border-bottom: 1px solid #E3E1E2;
}

.mart {
  margin-top: 0.05rem;
}

.li-list {
  overflow-y: scroll;
  height: 1.65rem;
}

.topping {
  width: 0.3rem;
  height: 0.3rem;
}

.borb {
  border: 1px solid;
}

.foot-hei {
  height: 0.7rem;
}

.list {
  background-color: #fff;
  bottom: 0;
  width: 100%;
  height: 3.8rem;
  position: fixed;
}

.li-list-y {
  overflow-y: scroll;
  height: 3.8rem;
}

.ars-msg {
  width: 90%;
}

.ret {
  width: 10%;
  text-align: center;
}

.sel-sty {
  height: 0.25rem;
  margin: 0 0.02rem;
  border: none;
  outline: none;
  width: 0.5rem;
}

.msg-div {
  width: 100%;
  position: fixed;
  bottom: 0;
  /* height: 4.3rem; */
}

.col-D92B2B {
  color: #D92B2B;
}

.sel-city {
  height: 0.25rem;
  line-height: 0.25rem;
  justify-content: center;
  width: 15%;
  text-align: center;
  align-items: center;
  margin: 0 0.02rem;
  font-size: 0.128rem;
  border: none;
  outline: none;
}

.flex-msg {
  display: flex;
}

.mar-bot-s {
  margin-bottom: 0.08rem;
}
.m-newheader{
  background: url('../img/logo.png');
  position: absolute;
  left: 0.24rem;
  top: 0.1rem;
  width: 0.5888rem;
  height: 0.213rem;
  background-size:0.5888rem 0.213rem;
  background-repeat:no-repeat;
}
.app-phone{
  position: absolute;
  right: 0;
}
.bor-bom{
  border-bottom: 1px solid #F7F7F7;
  text-align: center;
}