.form-row {
    margin-top: 25px;
}

.form-row p {
    padding-left: 15px;
    font-weight: 600;
}

.form-row p i {
    color: red;
    margin-right: 5px;
    font-style: normal;
}

.small-input-wrap {
    padding: 0 32px;
}

.small-input {
    width: 16%;
    float: left;
    margin-left: 5%;
}


.small-input p {
    padding-left: 0;
}

.small-input:first-child {
    margin-left: 0;
}

.small-input-box {
    width: 100%;
}

.brand-img .item-pre {
    display: none;
}


#imgUpload {
    background: #000;
}

#upload_adv_box {
    padding-left: 15px;
    margin-top: 15px;
}

#imgUpload span {
    font-size: 18px;
    padding-left: 15px;
}

#upload_adv_box span:before {
    display: inline-block;
    margin-right: 5px;
}

input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
    cursor: inherit;
    display: block;
}


.waring {
    width: 502px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(249, 242, 201);
    border: 1px solid rgb(245, 231, 158);
}

.waring span{
    float: right;
}

.waring span:hover{
    cursor: pointer;
}

.but-box input {
    width: 65px;
    height: 35px;
    font-size: 14px;
    padding: 0;
    border: none;
    border-radius: 2px;
    outline: none;
}

.but-wrapper {
    border-top: 1px solid rgb(228, 228, 228);
    padding-top: 20px;
}

.save-button {
    color: #fff;
    background: rgb(54, 127, 169);
}

.return-button {
    color: #333;
    background: rgb(242, 242, 242);
}
