<extend name="Common:basic"/>
<block name="link">
    <link href="/assets/mobile/baike/css/specialkeyword.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="/assets/mobile/common/css/m-public.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}{$uri}" rel="canonical" />
    <meta name="applicable-device" content="mobile">
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}"></a>
    <div class="m-header-tit">装修百科</div>
</block>
<block name="content">
    <article>
        <div class="m-bread">
            <a href="/">装修公司</a> &gt;
            <a href="/baike/">装修百科</a> &gt;
            <a href="/baike/zs/">百科知识</a> &gt;
            {$specialkeyword}
        </div>
        <div class="main">
            <div class="m-title"><h1>{$specialkeyword}</h1></div>
            <div class="m-box">
                <!-- 每隔三个词条有一个广告位 -->
                <ul>
                    <volist name="list" id="vo" key="k">
                        <li>
                            <a href="{$vo.url}" style="display:table;overflow: hidden;position: relative">
                                <div class="img-box">
                                    <img src="{$vo.src}-w128h95.jpg" alt="{$vo.title}">
                                </div>
                                <div class="list-content">
                                    <div class="list-content-title">{$vo.title}</div>
                                    <p class="list-time">{$vo.post_time|date="Y-m-d", ###}</p>
                                </div>
                            </a>
                        </li>
                    </volist>
                </ul>
            </div>
            {$page}
        </div>
    </article>
    <include file="Common:baojia" />
    <include file="Common:sheji-3" />
    <include file="Common/footfadantc"/>
</block>


<block name="script">
    <script type="application/ld+json">
    {
        "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
        "@id": "{$basic.head.url}",
        "appid": "1575859058891466",
        "title": "{$basic.head.title}",
        "images": [
        "{$list.0.src}-w128h95.jpg",
        "{$list.1.src}-w128h95.jpg",
        "{$list.2.src}-w128h95.jpg"
        ],
        "pubDate": "{$basic.body.optime}"
    }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?2663702a52860056a7cfaa9a79ea3d02";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?f15746831bf5c697b7b2579268ff9351";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        $('#baojiafd').click(function() {
            $('#calculator').find('input').val("");
            $('#calculator').show();
        });
        $('#baojiafd1').click(function() {
            $('#calculator').find('input').val("");
            $('#calculator').show();
        });
        $("#shejifd").on("click",function(){
            $("#calculator3").fadeIn();
        });
    </script>


</block>
