<extend name="Common:basic"/>
<block name="link">
  <link href="/assets/mobile/baike/css/zhuanti.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
  <link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
  <link href="/assets/mobile/common/css/m-public.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />

  <meta property="og：image"content="{$list.0.src|default=''}">
  <link href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}{$uri}" rel="canonical" />
  <meta name="applicable-device" content="mobile">
</block>
<block name="top">
  <div class="m-header-his">
      <i class="fa fa-angle-left"></i>
  </div>
  <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}"></a>
  <div class="m-header-tit">装修百科</div>
</block>
<block name="content">
  <div class="m-bread">
    <a href="{$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/">装修公司</a> &gt;
    <a href="{$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/baike/">装修百科</a> &gt;
    <a href="{$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/baike/zs/">百科知识</a> &gt;
    {$thematic}
  </div>
  <div class="main">
    <div class="m-title"><h1>{$thematic}</h1></div>
    <div class="m-box">
      <!-- 每隔三个词条有一个广告位 -->
      <ul>
        <volist name="list" id="vo" key="k">
          <li>
            <a href="{$vo.url}">
              <div class="img-box">
                <img src="{$vo.img_path}" alt="{$vo.item}">
              </div>
              <div class="list-content">
                <div class="list-content-title">{$vo.item}</div>
                <div class="list-content-body">
                  {$vo.description}
                </div>
                <p class="jxbk-time">{$vo.createtime|date="Y-m-d",###}</p>
              </div>
            </a>
          </li>
        </volist>
      </ul>
    </div>

  </div>
  {$page}
  <include file="Common:baojia" />
  <include file="Common:sheji-3" />
  <include file="Common/footfadantc"/>
</block>

<block name="script">
  <script>
  $('#baojiafd').click(function() {
    $('#calculator').find('input').val("");
    $('#calculator').show();
  });
  $('#baojiafd1').click(function() {
    $('#calculator').find('input').val("");
    $('#calculator').show();
  });
  $("#shejifd").on("click",function(){
    $("#calculator3").fadeIn();
  });
  </script>

</block>