<extend name="Common:basic"/>
<block name="link">
  <link href="/assets/mobile/baike/css/zhishidaquan.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
  <link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
  <link href="/assets/mobile/common/css/m-public.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
  <link href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}{$uri}" rel="canonical" />
</block>
<block name="top">
  <div class="m-header-his">
      <i class="fa fa-angle-left"></i>
  </div>
  <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}"></a>
  <div class="m-header-tit">装修百科</div>
</block>
<block name="content">
  <div class="m-bread">
      <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/">装修公司</a> &gt;
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zhishi/">装修知识</a> &gt;
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baike/">装修百科</a> &gt;
    百科知识
  </div>
  <div class="box">
    <ul class="list">
      <li><a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baojia/?src=xzh">8秒获取准确报价<i class="hot"></i></a></li>
      <li><a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/sheji/?src=xzh">领取4份设计方案<i class="hot"></i></a></li>
      <volist name="list" id="vo">
        <li>
          <a href="/baike/bk{$vo.id}/">{$vo.name}</a>
        </li>
      </volist>
    </ul>
    <div class="content pageContent">
      {$page}
    </div>
  </div>
  <include file="Common/footfadantc"/>
</block>

<block name="script">

</block>