 <volist name="companyList[0]" id="vo">
    <p class="red">[{$vo.qz_area}]</p>
    <div class="col-xs-12 no-padding">
        <volist name="vo.child" id="v">
            <div class="col-xs-12 no-padding">
                <label>
                    <if condition="$v['lx'] eq '家装'">
                        <span class="red">[家]</span>
                    </if>
                    <if condition="$v['lx'] eq '公装'">
                        <span class="red">[公]</span>
                    </if>
                    <if condition="$v['shen_new_qian_color'] EQ 2">
                        <span data-toggle="tooltip" data-placement="top" title="{$v.tags|default=''}" style="height: auto;color:gray;">{$v.jc}</span>
                    <elseif condition="$v['user_order_limit_state'] EQ 1" />
                        <span data-toggle="tooltip" data-placement="top" title="{$v.tags|default=''}" style="height: auto;color: #f7b10b;">{$v.jc}</span>
                    <elseif condition="$v['wxcount'] GT 0"/>
                        <span class="green" data-toggle="tooltip" data-placement="top" title="{$v.tags|default=''}" style="height: auto;">{$v.jc}</span>
                    <else/>
                        <span class="red" data-toggle="tooltip" data-placement="top" title="{$v.tags|default=''}" style="height: auto;">{$v.jc}</span>
                    </if>
                    <span class="green">[{$v.fen|default=0},{$v.qiang|default=0},{$v.zen|default=0}<if
                        condition="$v['cooperate_mode'] EQ 2">,{$v.round_order_number}</if>]</span>
                    <if condition="isset($v['end_time'])">
                        <span class="red">到 {$v.end_time}</span>
                    </if>
                    <if condition="isset($v['newMark'])">
                        <span class="green">新</span>
                    </if>
                    <if condition="isset($v['parseMark'])">
                        <span class="red">开</span>
                    </if>
                    <if condition="isset($v['cooperation_name'])">
                        <span class="green">{$v['cooperation_name']}</span>
                    </if>
                    <if condition="isset($v['qianMark'])">
                        <span class="green">返</span>
                    </if>
                    <if condition="$v['cooperate_mode'] EQ 2">
                        <span class="green">签</span>
                    </if>
                    <span class="green">
                    <switch name="v.viptype">
                    <case value="0.5">半</case>
                    <case value="1.5">一倍半</case>
                    <case value="2">双</case>
                    <case value="2.5">二倍半</case>
                    <case value="3">三</case>
                    <case value="3.5">三倍半</case>
                    <case value="4">四</case>
                    <case value="4.5">四倍半</case>
                    <case value="5">五</case>
                    <case value="5.5">五倍半</case>
                    <case value="6">六</case>
                    <case value="6.5">六倍半</case>
                    <case value="7">七</case>
                    <case value="7.5">七倍半</case>
                    <case value="8">八</case>
                    <case value="8.5">八倍半</case>
                    <case value="9">九</case>
                    <case value="9.5">九倍半</case>
                    <case value="10">十</case>
                    </switch>
                    </span>
                    <span data-id="{$v.id}" class="distance" style="color: #3399FF;display: none">{$v.distance}</span>
                </label>
            </div>
        </volist>
    </div>
</volist>