<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
    <div class="modal-dialog" role="document" style="width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="logo">
                    <img src="/assets/common/img/logo-new.jpg" alt="">
                    <img src="/assets/common/img/logo-fubiao.gif" alt="">
                    <div class="order-text">订单编号：<span>{$info.id}</span></div>
                </div>
                <button type="button" class="close" id="modal-close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body clearfix">
                <div class="group">
                    <div class="w50">
                        <span>发布时间：</span>
                        <input type="text" class="fabu-time" value="{$info.time_real}">
                    </div>
                    <div class="w50">
                        <span>订单状态：</span>
                        <input type="text" class="order-status" value=<if condition="$info['type_fw'] eq 1">分单<else/>赠单</if>>
                    </div>
                </div>
                <div class="group">
                    <div class="w50">
                        <span>业 主：</span>
                        <input type="text" maxlength="10" value="{$info.name}">
                    </div>
                    <div class="w50">
                        <span>联系电话：</span>
                        <input type="text" maxlength="11" value="{$info.tel}">
                    </div>
                </div>
                <div class="group">
                    <div class="w50">
                        <span>小区名称：</span>
                        <input type="text" value="{$info.xiaoqu}">
                    </div>
                    <div class="w50">
                        <span>区&nbsp;&nbsp域：</span>
                        <input type="text" value=<volist name="quyu" id="vo"><if condition="$vo['cid'] EQ $info['cs']">{$vo.cname}</if></volist><volist name="city" id="v"><if condition="$v['qz_areaid'] EQ $info['qx']">{$v.qz_area}</if></volist>>
                    </div>
                </div>
                <div class="group">
                    <div class="w50">
                        <span>面&nbsp;&nbsp积：</span>
                        <input type="text" value="{$info.mianji}">
                    </div>
                    <div class="w50">
                        <span>房屋户型：</span>
                        <input type="text" value=<volist name="huxing" id="vo"><if condition="$info['huxing'] EQ $vo['id']">{$vo.name}</if></volist>>
                    </div>
                </div>
                <div class="group">
                    <div class="w50">
                        <span>装修类型：</span>
                        <input type="text" value=<if condition="$info['lx'] EQ 1">家装<else/>公装</if>>
                    </div>
                    <div class="w50 yusuan">
                        <span>预&nbsp;&nbsp算：</span>
                        <input type="text" value=<volist name="yusuan" id="vo"><if condition="$info['yusuan'] EQ $vo['id']">{$vo.name}</if></volist>>
                    </div>
                </div>
                <div class="group">
                    <div class="w50">
                        <span>风&nbsp;&nbsp;格：</span>
                        <input type="text" value=<volist name="fengge" id="vo"><if condition="$info['fengge'] EQ $vo['id']">{$vo.name}</if></volist>>
                    </div>
                </div>
                <div class="desc clearfix">
                    <span>装修要求：</span>
                    <textarea name="" id="" cols="30" rows="10">{$info.text}</textarea>
                </div>
                <div class="group">
                    <div class="w50">
                        <span>选择公司：</span>
                        <volist name="info.companys" id="vo">
                            {$vo},
                        </volist>
                    </div>
                </div>
                <if condition="($info['qiandan_status'] eq 1) && ($info['qiandan_company'] neq 0)">
                    <div class="status">
                        <img src="/assets/home/orders/img/qianyue.png" alt="">
                    </div>
                </if>
            </div>
        </div>
    </div>
</div>