html {
    -webkit-text-size-adjust: none
}
html{font-size: 100px;}/*iphone 4/5*/
body{font-size: 0.126rem /*实际相当于14px*/}
/*Galaxy S5*/
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}
}
/*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
@media (min-device-width : 411px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 129.06px;}
}
/*iphone6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}
/*Nexus 5X Nexus 6P*/
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 128.75px;}
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a9a9a9;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a9a9a9;
}

input:-ms-input-placeholder{
    color: #a9a9a9;
}

input::-webkit-input-placeholder{
    color: #a9a9a9;
}






.m-wrap{
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    margin: auto;
    overflow:hidden;}
header{ height:50px; line-height:50px; background:#fff;  position:relative; z-index:2;}
header .m-header-left,header .m-header-right{ position:absolute;  top:0;width:50px; text-align:center; font-size:24px; color:#666}
header .m-header-tit{ text-align:center; margin-left: 1em;}
header .m-header-tit-540{ text-align:center; margin: 0 auto; max-width: 6em;overflow: hidden;white-space:nowrap;}
header .m-header-left{ display:block; margin-left:0.22rem;height:50px; width:34%;background:url(../img/new-logo.png) no-repeat;background-size: 0.589rem 0.213rem;background-position-y: center;}
header #m-header-newlogo{background: url("../img/zxq-logo.png") no-repeat left;background-size: 60%}
header .m-header-right{ right:0; height:50px}
header .m-header-city{ position:absolute;  font-size:0.8em;  top:0; left:20%; margin-left: 0.25rem}
header .m-header-city i.fa:before{ font-size:0.8em; margin-left:5px; vertical-align: 4px;}
article{overflow:hidden;}
.under-line{border-top: 1px solid #CFCFCF}
.gl-logo{margin-left: 0.128rem !important;}
.m-img-box-a img{ width:100%; height:auto; display:block}
.m-b-btn{ height:50px; margin:10px; background:#ff5659; display:block; color:#fff; line-height:50px; text-align:center; font-size:1.2em;}
.m-b-btn-f{font-size:1.2em; width:100%; margin:10px 0; color:#fff; background:#fb8486; height:50px; display:block; text-align: center; line-height:50px
}

/*底部公共*/
footer{
    text-align:center;
    width:100%;
    background:#333;
    color: #999;
    padding: 0.205rem 0;
    font-size: 0.102rem;
}
footer .footer-tel{
    font-size: 0.128rem;
    color: #fff;
}
footer .footer-tel a{
    color: #fff;
}
footer .footer-tel .phone-box img{
    width: 0.119rem;
    height: 0.128rem;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
footer .footer-title{
    margin: 0.124rem 0 0.19rem;
}
footer .footer-app-download{
    text-align: center;
    margin-bottom: 0.06rem;
}
footer .footer-app-download > p{
    width: 1.349rem;
    height: 0.273rem;
    margin: 0 auto;
    background: #DB2C2C;
    color: #fff;
    line-height: 0.273rem;
    padding-left: 0.23rem;
    border-radius: 0.137rem;
    position: relative;
}
.footer-app-download p img{
    width: 0.188rem;
    height: 0.188rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0.107rem;
    margin: auto;
}
footer .footer-webadress{
    font-size: 0.077rem;
    line-height: 0.3rem;
}
.foot-discliamer{
    font-size: 10px;
    color: #999;
    line-height: 0.3rem
}
/*导航列表*/
.daohang-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(255,255,255,0.95);
    z-index: 9999;
    display: none;
}
.daohang-mask .daohang-box{
    width: 100%;
    height: 3.255rem;
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}
.daohang-mask .daohang-box ul{
    overflow: hidden;
}
.daohang-mask .daohang-box ul li{
    width: 25%;
    float: left;
    margin-bottom: 0.149rem;
    position: relative;
}
.daohang-mask .daohang-box ul li img{
    display: block;
    width: 0.41rem;
    height: 0.41rem;
    margin: 0 auto;
}
.daohang-mask .daohang-box ul li img.dia-img{
    display: block;
    position: absolute;
    width: 0.247rem;
    height: 0.119rem;
    right: 7px;
    top: 0px;
}
.daohang-mask .daohang-box ul li p{
    font-size: 0.102rem;
    text-align: center;
    margin-top: 0.064rem;
}
.daohang-box .close-daohang{
    width: 0.384rem;
    height: 0.384rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5rem;
    margin: auto;
    cursor: pointer;
}
.daohang-box .close-daohang img{
    width: 100%;
}
/*头部导航公共*/
header .new-kefu-erji{
    width: 60px;
    height: 50px;
    position: absolute;
    right: 0;
    top:0;
}
header .new-kefu-erji .new-search-icon{
    width: 28px;
    height: 26px;
    margin-top: 12px;
    float: left;
    background: url(/assets/mobile/common/img/search.png) no-repeat;
    background-size: 100%;
}
header .new-kefu-erji .new-kefu-icon{
    width: 20px;
    height: 26px;
    margin-left: 10px;
    margin-top: 13px;
    float: left;
    background: url(/assets/mobile/common/img/common-icon.png);
    background-size: 100%;
}
header .new-kefu-erji .new-app-icon{
    width: 0.213rem;
    height: 0.213rem;
    margin-top: 13px;
    float: left;
    background: url(/assets/mobile/index/img/app.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0.474rem;
}
header .new-kefu-erji .new-daohang-icon{
    width: 0.213rem;
    height: 0.213rem;
    margin-top: 13px;
    float: left;
    background: url(/assets/mobile/index/img/daohang.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0.128rem;
}
#nav-close-cha{
    display: none;
}
.close-cha-icon{
    width: 26px;
    height: 26px;
    display: block;
    margin-left: 12px;
    margin-top: 12px;
    background: url(/assets/mobile/common/img/header-close.png) no-repeat;
    background-size: 100%;
}
/*新客服弹框*/
.new-kefu{
    width: 80%;height: 180px;
    background: #fff;
    border-radius: 5px;
    margin: auto;
    position: fixed;
    left: 0;top: 0;
    right: 0;bottom: 0;
    z-index: 4;
    display: none;
}
.new-kefu-main{
    width: 210px;
    overflow: hidden;
    margin: 0 auto;
    margin-top:44px;
}
.new-kefu-fl{
    float: left;
    width: 80px;
}
.contact-btn{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    background: url(/assets/mobile/common/img/contact-icon.png) no-repeat;
    background-size: 100%;
}
.contact-text{
    text-align: center;
    font-size: 15px;
    color: #333;
}
.new-huo-text{
    float: left;
    width: 50px;
    text-align: center;
}
.new-huo-text .huo-text{
    font-size: 14px;
    line-height: 66px;
    color: #999;
}
.new-kefu-fl .phone-contact{
    background-position: 0 -60px;
}
.new-kefu-close{
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 0;right: 0;
    color: #999;
}
.new-kefu-close i{
    text-stroke:2px #fff;
    -webkit-text-stroke:2px #fff;
}

/*报价表单*/
.m-font-red{ color:#ff5659}
.m-t1{ text-align:center; line-height:3em}
.m-bj-edit{ margin:0 10px}
.m-bj-edit li{ overflow:hidden; box-sizing: border-box; margin-bottom:10px; position: relative}
.m-bj-edit li span.dw{ position:absolute; right:5px; top:2px; line-height:48px;}
.m-bj-edit li.noline{ border:0}
.m-bj-edit li .m-bj-edit-list{color: #333; appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    border:0; border-radius:0; margin:0; display:block; height:48px; line-height:38px; box-sizing:border-box; padding:5px; background:#fff; border:1px solid #ddd;}

.m-bj-edit li.m-bj-mj{
    position: relative;
    color: #bbb;
    padding: .08rem;
    line-height: .24rem;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: .03rem;
}
.m-bj-edit li.m-bj-mj input{
    border-radius: .03rem;
    border: 0;
    outline: none 0;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.m-bj-edit li.m-bj-mj .area{
    width: 20%;
    height: .24rem;
    line-height: .24rem;
    padding: 0 .1rem;
    font-size: .14rem;
    color: #333;
    background: 0;
}

.m-bj-edit li.m-bj-mj .p2-new {
    background: #fff;
    overflow: hidden;
}

.m-bj-edit li.m-bj-mj .p2-new dt {
    margin-bottom: .08rem;
    font-size: .12rem;
    text-align: center
}

.m-bj-edit li.m-bj-mj .p2-new dt p {
    display: inline-block;
    padding: 0 .5rem;
    border-bottom: .01rem solid #ddd;
    height: .08rem
}

.m-bj-edit li.m-bj-mj .p2-new dt p span {
    padding: 0 .07rem;
    background: #fff;
    color: #666
}
.m-bj-edit li.m-bj-mj .p2-new dd {
    float: left;
    width: 48%;
    margin-bottom: .1rem;
    margin-right: 4%
}
.m-bj-edit li.m-bj-mj .p2-new dd{
    position: relative;
    color: #bbb;
    padding: .08rem;
    line-height: .24rem;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: .03rem;
}

.m-bj-edit li.m-bj-mj .p2-new dd:nth-of-type(2n) {
    margin-right: 0
}

.m-bj-edit li.m-bj-mj .p2-new dd:last-child {
    margin-bottom: 0
}

.m-bj-edit li.m-bj-mj .p2-new dd span {
    color: #bbb
}

.m-bj-edit li.m-bj-mj .p2-new input[type="number"] {
    width: .3rem;
    height: .24rem;
    text-align: center;
    font-size: .14rem;
    color: #333;
    border: 0;
    float: left;
    background: transparent
}
.m-bj-edit li.m-bj-mj .p2-add {
    width: .24rem;
    height: .24rem;
    background: #f6f6f6;
    text-align: center;
    line-height: .24rem;
    color: #f26122;
    font-size: .2rem;
    border-radius: .03rem;
    cursor: pointer;
    float: right;
    margin-left: .08rem;
    display: block
}
.m-bj-edit li.m-bj-mj .p2-add:active {
    background: #f26122;
    color: #f6f6f6
}

.m-bj-edit li.m-bj-mj .p2-add.minus,
.m-bj-edit li.m-bj-mj .p2-add#ms {
    font-size: .24rem;
    font-weight: 100
}
.m-bj-edit li.m-bj-mj .p2_input {
    padding: .1rem 0;
    font-size: .16rem;
    background: #30b000;
    border: 0;
    color: #fff;
    display: block
}




.m-bj-edit li .m-row{float: left; width: 49%; position: relative;}
.m-bj-edit li .m-row:after{position: absolute;content: "";display: block;border-top: 5px solid #666;border-left: 5px solid transparent;border-right: 5px solid transparent;top: 20px;right: 10px;}

.m-bj-edit li .m-row-int1{position: relative; width:100%; font-size:1em}
.m-bj-edit li .m-row-int2{position: relative; width:100%; font-size:1em; box-sizing: border-box;}

.col-x-6{width:49% !important;}

.m-bj-edit li .m-row-int2:first-of-type{ float:left;  }
.m-bj-edit li .m-row-int2:last-of-type{ float:right;}

.m-bj-edit li .m-row-int3{ width:32%; display:inline-block; text-align:center}
.m-bj-edit li input[type=radio]{ margin-right:5px}
.m-bj-edit li input[type=radio]::-webkit-check {
    color: #ff5659;
    background: #a0b3d6;
    padding: .5em;
}
.m-bj-description{font-size: 0.9em; padding:1.2em 1em; color: #999; background: #FFF; font-family: Microsoft yahei;}
.m-bj-description i{color: #FF464E; width: 1.2em; height: 1.2em; line-height: 1.3em;  text-align: center; font-size: 1em; display: inline-block; border:1px solid #FF464E; border-radius: 30px;}

.m-bj-title{ font-size: 1.2em; text-align: center; display: block;margin: 1.2em 0;}
.m-bj-info{font-size: 1em; padding:0 1em; display: block; margin-bottom: 2em; color: #666;}
.m-bj-info em{color: #FF464E;}
.m-bj-edit li .m-bj-half {width: 100%; float: left;}
.m-bj-edit li .m-bj-right {float: right;}
.m-nav ul{position:absolute;width:200px;top:48px;right:0;height:auto;line-height:50px;display:none;z-index:9999;}
.m-nav ul li a{color:#fff;background:rgba(29,36,75,.95);display:block;margin-top:0px;border-top:1px #fff solid;}
.m-nav.active{background:#262C51;color:#fff;border-top-left-radius:30px;transition:all 0.3s;-moz-transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;}

.m-bj-edit li .m-bj-edit-right {float: right;}


.c-zb-city{padding:5px; box-sizing: border-box;height:48px ; width:100%; text-align:left;
    border:1px solid #ddd; background:#fff; font-size:1em; color:#a9a9a9;white-space: nowrap;overflow:hidden;
    text-overflow: ellipsis;}
.c-zb-city i.fa{ color:#333;}
.mui-btn{background:#D8D8D8; border:0}
.mui-btn-blue{ background:#00CFA5; color:#fff}
/*头部导航弹层*/
.full-nav{ position:fixed; left:0; right:0; background:rgba(255,255,255,.95); z-index:9999;opacity:0;  overflow:hidden;top:0; bottom:0; height:0 ;-webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in; }

.full-nav #full-nav-shut{ width:50px; height:50px; top:0; right:0; position:absolute;}

.full-nav #full-nav-shut:before,.full-nav #full-nav-shut:after{ content:""; width:36px; height:2px; background:#ff5659; position:absolute; top:25px; right:5px}
.full-nav #full-nav-shut:before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);}
.full-nav #full-nav-shut:after{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);}
.full-nav.shut-buff{ opacity:1;  -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in; height:100%}
.full-nav ul{ padding:5em 2em}
.full-nav ul li{ width:29%; margin:0 2%; float:left; font-size:.8em; text-align:center}
.full-nav ul li a{ display:block}
.full-nav ul li img{ width:80%; height:auto; margin:0 auto; display:block}


.m-more{ text-align:center; font-size:0.8em; border-top:1px dashed #ddd; height:3em; line-height:3em; display:block; margin-top:.8em; color:#999}


.zb-link-bottom{ bottom:0; position:fixed; height:60px; width:100%; box-sizing:border-box;padding-left:25%; background:rgba(0,0,0,.7); color:#fff }
.zb-link-bottom .tit{ color:#f0d190; margin-top:8px}
.zb-link-bottom p{font-size:0.8em}
.zb-link-bottom img{ bottom:0; height:80px; width:auto; left:15px; position:absolute}
.zb-link-bottom a{ display:block; position:absolute; height:30px; color:#fff; border-radius:3px; padding:0 .5em; background:#ff5659; right:15px; line-height:30px; top:15px}
.select{ position:relative}
.select:after{position: absolute;content: "";display: block;border-top: 5px solid #666;border-left: 5px solid transparent;border-right: 5px solid transparent;top: 20px;right: 10px;}
/*S-回到顶部*/
#gotop{z-index: 99; position:fixed; background:rgba(255,255,255,.8); color:#999; border:1px solid #ddd; border-radius:50%; width:50px; height:50px; text-align:center; bottom: 70px; right:10px; font-size:0.8em; line-height:18px; padding-top:3px; box-sizing:border-box}
/*E-回到顶部*/

.m-header-his{ position:absolute; z-index:9999; top:0;width:0.2rem; text-align:center; font-size:1.5em; color:#666; height:50px; }

/*S-在线客服挂件*/
#zxkf {
    position: fixed;
    width: 50px;
    bottom: 125px;
    right: 10px;
}
#zxkf img{
    width: 100%;
}
/*E-在线客服挂件*/

/*公共分页*/
.page{
    display: block;
    text-align: center;
    background-color: #fff;
    width: 90%;
    font-size: .6em;
    line-height: 2em;
    margin: 2em auto;
    border: 1px solid #ccc;
}
.page a{
    display: inline-block;
    width: 31.5%;
    height: 2em;
    color:#666666;
    font-size: 1.5em;
    line-height: 2em;
}
.page span{
    font-size: 1.5em;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    display: inline-block;
    width: 31.5%;
}
.ph{
    color:#FF6664 !important;
}

/**/
.col-xf-6{
    position: relative;
    width: 49%;
    font-size: 1em;
    box-sizing: border-box;
}

/*分页开始*/
.page-box {
    padding: 15px;
    background: white;
    font-size: 14px;
}
.page-box-container {
    border: 1px solid #ECECEC;
    display: flex;
    border-radius: 6px;
}
.page-box-container div {
    flex-grow: 1;
    text-align: center;
    line-height:30px;
}
.loading-more a{
    border-top:none !important;
    border-left:none !important;
    border-bottom:none !important;
}
#prev-page{
    border-right:1px solid #ECECEC;
}
#next-page a{
    border-right:none !important;
}
/*分页结束*/
.disclamer-check {
    width: 12px;
    height: 12px;
    border: 1px solid #999;
    border-radius: 2px;
    margin-top: 3px !important;
    margin-right: 5px !important;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
/*免责声明*/
.shenming {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
}
.shenming i.fa {
    position: absolute;
    top: 0px;
    color: #468dcc!important;
}
.shenming a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    height: 14px;
}
.shenming a span {
    color: #468dcc;
}
.shenming span {
    display: inline-block;
    color: #999;
}
.mianze {
    display: none;
}
.mianze + label {
    background-color: white;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
    color:#468dcc;
}
.mianze:checked + label {
    color:#468dcc;
}
/*免责声明*/
#shenming {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
}
#shenming a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#shenming a span {
    width: 6em;
    text-indent: -0.5em;
    color: #468dcc;
}
#shenming span {
    display: inline-block;
    color: #999;
}
#mianze {
    display: none;
}
#mianze + label {
    background-color: white;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
    color:#468dcc;
}
#mianze:checked + label {
    color:#468dcc;
}
#shenming2 {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
}
#shenming2 a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#shenming2 a span {
    width: 6em;
    text-indent: -0.5em;
    color: #468dcc;
}
#shenming2 span {
    display: inline-block;
    color: #999;
}
#mianze2 {
    display: none;
}
#mianze2 + label {
    background-color: white!important;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
}
#mianze2:checked + label{
    background-color: #fff;
    color:#468dcc;

}

/*S 详情页app入口*/

.p-inner-appentry-box{
    background: #F2F2F2;
    padding: 0.08rem 0;
}

.p-inner-appentry{
    background-color: #fff;
    padding:0.08rem;
}
.p-inner-appentry img{
    max-width: 100%;
}
.p-inner-appentry .left{
    width: 0.443rem;
    height: 0.443rem;
    float: left;
    margin-right: 0.05rem;
}
.p-inner-appentry .middle{
    width: 1.5rem;
    float: left;
}
.p-inner-appentry .middle .b:first-child {
    font-size: 0.119rem;
    font-weight: bold;
    color:#333;
    display: block;
    margin-top: 0.070rem;
    margin-bottom: 0.045rem;
}
.p-inner-appentry .middle .b:last-child{
    display: block;
    font-size: 0.102rem;
    color:#666;
}
.p-inner-appentry .middle .s{
    font-size: 0.1024rem;
    padding: 0.02rem 0;
    color: #666;
}
.p-inner-appentry .right{
    width: 0.75rem;
    float: right;
    text-align: right;
    padding-top: 0.08rem;
}
.p-inner-appentry .right .open{
    display: inline-block;
    width: 0.75rem;
    line-height: 0.256rem;
    text-align: center;
    border:1px solid #FF5353;
    border-radius: 0.128rem;
    color: #FF5353;
}
/*E 详情页app入口*/

/*s 头部app入口*/
.common-inner-appentry{
    background-color: #fff;
    width: 3rem;
    margin: 0.1rem auto;
    border-radius: 10px;
    height: 0.684rem;
    box-shadow:0px 1px 11px 0px rgba(0, 0, 0, 0.1);
}
.common-inner-appentry img{
    max-width: 100%;
}
.common-inner-appentry .left{
    width: 0.482rem;
    height: 0.482rem;
    float: left;
    margin-right: 0.15rem;
    margin-top: 0.1rem;
    margin-left: 0.15rem;
}
.common-inner-appentry .middle{
    width: 1.2rem;
    float: left;
    margin-top: 0.1rem;
}
.common-inner-appentry .middle .b{
    font-weight: bold;
    font-size: 0.128rem;
    padding: 0.045rem 0;
    color: #333;
}
.common-inner-appentry .middle .s{
    font-size: 0.1024rem;
    padding: 0.02rem 0;
    color: #666;
}
.common-inner-appentry .right{
    width: 0.75rem;
    float: left;
    text-align: right;
    padding-top: 0.21rem;
}
.common-inner-appentry .right .open{
    display: inline-block;
    width: 0.75rem;
    line-height: 0.256rem;
    text-align: center;
    border-radius: 0.128rem;
    color: #fff;
    background:rgba(255,83,83,1);
}
/*E 头部app入口*/

/* 百度广告点击统计 */
.hzs-ym-m{
    border:none !important;
    margin-top:-3px;
}
.hzs-ym-m img{
    width:100%;
}
.hzs-ym-xfk{
    width: 0.65rem;
    height: 0.65rem;
    position: fixed;
    bottom:1.1rem;
    right:0.1rem;
    z-index: 999;
    background: url("//staticqn.qizuang.com/webstatic/img/xf/free-price.gif") no-repeat center center;
    background-size: 100% 100%;
    display: none;
}
.hzs-ym-xfk a{
    display: block;
    width:100%;
    height: 100%;
}
/* 发单请求中状态 */
.disable-order-status{
    pointer-events:none;
    background: #dedede !important;
    color:#999!important;
}
.disable-order-status-opactivity{
    opacity: 0.6;
}
/*1059 新发单样式*/
.new-fadan li{
    height: 0.375rem;
    width: 100%;
    overflow: hidden;
    border-radius: 0.034rem;
    margin-bottom: 0.085rem;
    position: relative;
}
.new-fadan li button{
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    border: none;
    outline: none;
    padding-left: 0.128rem;
    font-size: 0.115rem;
    text-align: left;
}
.new-fadan li input{
    display: block;
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    border: none;
    outline: none;
    padding-left: 0.128rem;
    font-size: 0.115rem;
    color: #333;
}
.new-fadan li .xiajiao{
    position: absolute;
    top: 0.150rem;
    right:  0.128rem;
    width: 0.068rem;
    height: 0.068rem;
    background: url("/assets/mobile/common/img/xiajiao.png") no-repeat;
    background-size: 100% 100%;
}
.new-fadan li .dw{
    position: absolute;
    top: 0.100rem;
    right:  0.128rem;
}

    /*新免责声明*/
#new-shenming,#new-shenming2 {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
    margin-bottom: 0.085rem;
}
#new-shenming a,#new-shenming2 a {
    color: #468dcc;
    border-bottom: 1px solid #468dcc;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#new-shenming a span,#new-shenming2 a span {
    width: 6em;
    text-indent: -0.5em;
    color: #468dcc;
}
#new-shenming span,#new-shenming2 span {
    display: inline-block;
    color: #999;
}
#new-mianze,#new-mianze2 {
    display: none;
}
#new-mianze + label,#new-mianze2 + label {
    background-color: white;
    border:1px solid #999;
    width:13px;
    height:13px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
    color:#468dcc;
}
#new-mianze:checked + label,#new-mianze2:checked + label {
    color:#DB2C2C;
}
.fa-check:before{
    position: relative;
    left: -1px;
}
/*新发单(报价)*/
.new-baojia,.new-sheji{
    padding: 0 0.128rem;
}
.new-baojia .baojia-tit,.new-sheji .sheji-tit{
    font-size: 0.154rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0.085rem 0;
}
.new-baojia .new-click-btn{
    height: 0.375rem;
}
/*新发单(设计)*/
.new-sheji .sheji-minge{
    font-size: 0.137rem;
    height: 0.375rem;
    text-align: center;
    margin: 0.201rem 0 0.226rem;
}
.new-sheji .sheji-minge span{
    display: inline-block;
    height: 0.375rem;
    line-height: 0.375rem;
}
.new-sheji .sheji-minge .top{
    position: relative;
    top: -4px;
}
.new-sheji .sheji-minge .sheji-num{
    width: 0.256rem;
    background: #FF7A2A;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 0.017rem;
    font-size: 0.256rem;
}
/*滚动数字 S*/
.new-baojia .money-img{
    height: 0.512rem;
    margin-bottom: 0.128rem;
    background: url("/assets/mobile/luodiye/img/jisuanqi.png");
    background-size: 100% 100%;
}
.new-baojia .money-img span{
    display: inline-block;
    color: #1A1A1A;
    margin-top: 28px;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 12px;
}
.new-baojia .num{
    width: 22px;
    height: 38px;
    background: url(/assets/mobile/luodiye/img/num.png) no-repeat;
    background-size: 1250%;
    float: left;
    margin-right: 4px;
    margin-top: 0.13rem;
}
.new-baojia .num-gray{background-position: 39px 0 !important;}
.new-baojia .num-0{background-position: 0px 0 !important;}
.new-baojia .num-1{background-position: -27px 0 !important;}
.new-baojia .num-2{background-position: -58px 0 !important;}
.new-baojia .num-3{background-position: -87px 0 !important;}
.new-baojia .num-4{background-position: -114px 0 !important;}
.new-baojia .num-5{background-position: -140px 0 !important;}
.new-baojia .num-6{background-position: -169px 0 !important;}
.new-baojia .num-7{background-position: -199px 0 !important;}
.new-baojia .num-8{background-position: -224px 0 !important;}
.new-baojia .num-9{background-position: -255px 0 !important;}

/*滚动数字 E*/