.new-kefu-erji #new-app-erji{
  display: none;
}
#new-nav-m .app-entry{
  display: none;
}
#footer .footer-app-download{
  display: none;
}
.p-inner-appentry{
  display: none;
}
#m-nav-switch{
  display:none;
}
