.surprise-package{
  width: 0.65rem;
  height: 0.65rem;
  position: fixed;
  bottom: 1.1rem;
  right: 0.1rem;
  z-index: 999;
  background: url('//staticqn.qizuang.com/custom/20190806/FlthYMDI4KrBArosWatta2psbhMB') no-repeat center center;
  background-size: 100% 100%;
}
.surprise-box{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
.surprise-order{
  width: 2.909rem;
  height: 3.2896rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.surprise-order .caption{
  background: url('/assets/common/img/hongbaojiangjin.png') no-repeat;
  background-size: 100% 100%;
  height: 0.9685rem;
}
.surprise-order .close-btn{
  position: absolute;
  width: 0.2048rem;
  height: 0.2048rem;
  top: 0.1rem;
  right: 0.1rem;
}
.surprise-order .surprise_main{
  padding: 10px;
  background-color: white;
}
.surprise-order .m-bj-edit li, .surprise-order .c-zb-city{
  background-color: transparent;
  margin-bottom: 10px;
  height: 48px;
}
.surprise-order .c-zb-city, .surprise-order .m-bj-edit .m-bj-edit-list{
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: #E8E8E8 !important;
  outline: none !important;
}
.surprise-order .m-bj-edit li .m-bj-edit-list{
  height: 48px;
  line-height: 38px;
  margin-top: 0;
  border-bottom: 1px solid #E8E8E8 !important;
}
.surprise-order .m-b-btn{
  border-radius: 0.3em;
}
.surprise-order .c-zb-city{
  color: #333;
  font-size: 1em;
}

.surprise-box .surprise_success_pop{
  background: url('/assets/common/img/tcbg.png');
  background-size: 100% 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 2.909rem;
  height: 3.2469rem;
  display: none;
}
.surprise-box .surprise_success_pop .surprise_close_start{
  position: absolute;
  right: 0.1rem;
  top: -0.35rem;
}
.surprise-box .surprise_success_pop .surprise_end_box_info{
  width: 80%;
  margin: 0 auto;
  color: #FF3C3F;
  padding-top: 0.75rem;
  text-align: center;
  font-size: 0.119rem;
}
.surprise-box .surprise_success_pop .surprise_ok_text{
  color: #FF1531;
  font-size: 0.1536rem;
  margin-bottom: 0.1rem;
}
.surprise-box .surprise_success_pop .surprise_close_ok{
  width: 1.54rem;
  height: 0.3584rem;
  border: none;
  outline: none;
  background: url('/assets/common/img/bat gb.png') no-repeat;
  background-size: 100% 100%;
  color: #AD6600;
  font-size: 0.128rem;
  margin-top: 0.7rem;
  font-weight: bold;
}

#surprise_mianze {
  display: none;
}
#surprise_mianze + label {
  background-color: white;
  border:1px solid #999;
  width:13px;
  height:13px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 13px;
  box-sizing: border-box;
  font-size: 10px;
  position: relative;
  top: -2px;
  color:#468dcc;
}
/*#mianze:checked + label:after{
    content:"\2714";
}*/
#surprise_mianze:checked + label {
  /*background-color: white;*/
  color:#468dcc;
}
