<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{$keys['title']}</title>
    <meta name="keywords" content="{$keys['keywords']}" />
    <meta name="description" content="{$keys['description']}" />
    <notempty name="info.head.canonical">
        <link href="{$info.head.canonical}" rel="canonical" />
    </notempty>
    <include file="Index:resource" />
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/common/css/public-new.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/designer/css/designer-list.css?v={:C('STATIC_VERSION')}" />
<!--     <link rel="stylesheet" href="{$static_host}/assets/sub/designer/fonts/font-awesome.min.css?v={:C('STATIC_VERSION')}"> -->
    <link href="{$static_host}/assets/sub/company/css/default.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<!--[if IE]>
		<script src="js/html5shiv.min.js?v={:C('STATIC_VERSION')}"></script>
<![endif]-->
</head>

<body>
    <include file="Index:header" />
    <div class="fix_bg_color">
      <div class="wrap ofw">
          <div class="new-bread"> <a href="/">{$cityInfo.cname}装修</a>&gt;<h1><a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/">{$cityInfo.cname}装修设计师</a></h1> </div>
        <div class="new-box-l">
            <!--S 筛选条件-->
            <div class="comp-chouse">
                <div class="comp-chouse-list">
                  <dl>
                    <dt>擅长风格</dt>
                    <volist name="designersinfo.fengge" id="sv">
                      <if condition="$sv['checked']">
                        <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$sv.link}/{$designUrl}" class="current">{$sv.name}</a></dd>
                        <else/>
                        <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$sv.link}/{$designUrl}">{$sv.name}</a></dd>
                      </if>
                    </volist>
                  </dl>
                  <dl>
                      <dt>从业时间</dt>
                      <volist name="designersinfo.worktime" id="wv">
                          <if condition="$wv['checked']">
                              <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$wv.link}/{$designUrl}" class="current">{$wv.name}</a></dd>
                          <else/>
                              <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$wv.link}/{$designUrl}">{$wv.name}</a></dd>
                          </if>
                      </volist>
                  </dl>
                  <dl>
                      <dt>设计级别</dt>
                      <volist name="designersinfo.level" id="lv">
                          <if condition="$lv['checked']">
                              <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$lv.link}/{$designUrl}" class="current">{$lv.name}</a></dd>
                          <else/>
                              <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$lv.link}/{$designUrl}">{$lv.name}</a></dd>
                          </if>
                      </volist>
                  </dl>
                  <dl>
                    <dt>设计收费</dt>
                    <volist name="designersinfo.price" id="price">
                      <if condition="$price['id'] eq $reqPrice">
                        <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$baseURL}?price={$price.id}{$priceUrl}" class="current">{$price.name}</a></dd>
                        <else/>
                        <dd><a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$baseURL}?price={$price.id}{$priceUrl}">{$price.name}</a></dd>
                      </if>
                    </volist>
                  </dl>
                </div>
            </div>
            <!--E 筛选条件-->
          <ul class="sort-box clearfix">
            <li>
	            <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$baseURL}{$sortDefaultUrl}" class="<empty name='sortValue'>red</empty>">默认排序</a>
            </li>
            <li><a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$baseURL}{$sortUrl}sort=1" class="<if condition='$sortValue eq 1'>red</if>">作品量</a></li>
            <li style="border: 1px solid #E5E5E5;"><a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/{$baseURL}{$sortUrl}sort=2" class="<if condition='$sortValue eq 2'>red</if>">人气值</a></li>
          </ul>
            <!--S 设计师列表-->
            <volist name="info.designers" id="vo">
                <div class="designer-list-ul">
                  <div class="designer-info">
                    <div class="designer-head">
                        <if condition="$vo['cooperate_mode'] == 1">
                            <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/blog/{$vo.userid}/" target="_blank">
                        <else/>
                                <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/blog_new/{$vo.userid}/" target="_blank">
                        </if>
		                    <img src="{$vo.logo}" class="morenInfo" title="{$vo.name}" alt="{$cityInfo.cname}设计师{$vo.name}"/>
	                    </a>
                    </div>
                    <ul class="designer-info-main">
                    <li class="de-name">
                        <if condition="$vo['cooperate_mode'] == 1">
                            <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/blog/{$vo.userid}/" target="_blank" class="bold">
                        <else />
                            <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/blog_new/{$vo.userid}/" target="_blank" class="bold">
                        </if>
                            <if condition="mb_strlen($vo['name']) gt 15">{$vo.name|mbstr=0,15}...<else />{$vo.name}</if>
                        </a>
                    <if condition="$vo['zw'] NEQ ''">
                        <span>{$vo.zw}</span>
                    </if></li>
                    <li class="de-year"><span>从业时间：</span>{$vo.jobtime}&nbsp;<i>|</i>&nbsp;<span>作品：</span>{$vo.count}个</li>
                    <li class="de-more"><span>擅长风格：</span>{$vo.fengge}</li>
                    <li class="de-more"><span>擅长领域：</span>{$vo.lingyu}</li>
                    <li class="de-more" style="max-height: 50px; overflow: hidden;"><span>设计理念：</span>
	                    <if condition="$vo['linian'] EQ ''">这个人很懒,什么都没有留下<else />{$vo.linian}</if>
                    </li>
                    </ul>
                   <a class="de-button" href="javascript:void(0)" data-des="{$vo.userid}/"
                      data-icon="{$vo.logo}" data-name="{$vo.appointment_name}" data-zw="{$vo.zw}" data-cost="{$vo.cost_price}"
                      data-jobtime="{$vo.jobtime}">免费预约
                   </a>
                  </div>
	                <if condition="$vo['count'] GT 3">
                      <p class="">
                          <if condition="$vo['cooperate_mode'] == 1">
                              <a href="/blog/{$vo.userid}/" target="_blank" rel="nofollow">更多作品 ></a>
                          <else />
                              <a href="/blog_new/{$vo.userid}/" target="_blank" rel="nofollow">更多作品 ></a>
                          </if>
                      </p>
		            </if>
                      <ul class="de-img">
                          <volist name="vo.child" id="v">
                              <li>
                                  <a href="/caseinfo/{$v.id}.shtml" target="_blank">
                                      <if condition="$v['img_host'] EQ 'qiniu'">
                                          <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$v.img_path}"
                                               alt="{$v.title|mbstr=0,8}"
                                               title="{$vo.name}{$v.mianji}㎡{$v.fengge}作品"/>
                                      <else/>
                                          <img src="{$SCHEME_HOST.scheme_full}{:C('STATIC_HOST1')}{$v.img_path}s_{$v.img}"
                                               alt="{$v.title|mbstr=0,8}"
                                               title="{$vo.name}{$v.mianji}㎡{$v.fengge}作品">
                                      </if>
                                  </a>
                                <span class="relative_works t">{$v.title|mbstr=0,8}</span>
                              </li>
                          </volist>
                      </ul>
                </div>
            </volist>
            <empty name="info['designers']">
                <div class="img-empty">
                    <h3>施主！这个类型的设计师很有可能跟人私奔了</h3>
                    <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/designer/">去看看其他设计师&gt;&gt;</a>
                </div>
                <div class="emptu-tips">
                    <p>
                        &gt;&gt;80%的业主还选择了<a href="/zhaobiao/">免费帮我做设计方案</a>
                    </p>
                    您能获得4大免费服务
                    <ul class="emptu-list">
                        <li>专人两房</li>
                        <li>户型设计</li>
                        <li>免费预算报价</li>
                        <li>免费参观样板房</li>
                    </ul>
                    还能享受6大诚信保障
                    <ul class="emptu-list">
                        <li>正规公司</li>
                        <li>材料正品</li>
                        <li>官方监督</li>
                        <li>双方验收</li>
                        <li>纠纷处理</li>
                        <li>长久质保</li>
                    </ul>
                    犹豫什么，赶快开启美好之行吧！
                </div>
            </empty>
            <!--E 设计师列表-->
            <!--S 分页-->
            {$info.page}
        <!--E 分页-->
        </div>
        <div class="new-box-r">
            <!--S 发单-->
            <form id="fd_box_form" class="secbox_form" onsubmit="return false;">
              <div class="new_xsc_fadan">
                <div class="title-box">
                  <div class="title_big">免费申领<span class="red">4套</span>设计方案</div>
                  <div class="title_small">设计全面PK，方案满意为止</div>
                </div>
                <div class="fadan_form">
                  <div class="input_line two_input">
                    <select id="f_bj_cs" name="cs" class="pull-left"></select>
                    <select id="f_bj_qx" class="pull-right" name="qx"></select>
                  </div>
                  <div class="f_errorArea-tit"></div>
                  <i class="valdatemsg one"></i>
                  <div class="input_line ">
                    <input type="text" name="name" placeholder="请输入您的称呼">
                  </div>
                  <div class="f_errorName-tit"></div>
                  <i class="valdatemsg two"></i>
                  <div class="input_line ">
                    <input type="text" name="tel" placeholder="输入手机号获取设计方案" maxlength="11">
                    <input type="hidden" name="fb_type" value="baojia">
                  </div>
                  <i class="valdatemsg three"></i>
                  <div class="f_errorTel-tit"></div>
                  <!--S-免责声明-->
                  <div class="disclamer-line">
                    <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
                    <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
                    <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/disclamer" target="_blank" class="pull-left" rel="nofollow"><span>《免责声明》</span></a>
                  </div>

                  <!--E-免责声明-->
                  <div class="input_line">
                    <button tab-index="0" data-type="2" type="button" id="btnSub">立即申请</button>
                  </div>
                    <div class="blog_yu">
                        <span>今日还剩<span class="red">{:releaseCount('fbsyrs')}</span>个免费名额</span>
                    </div>
                </div>

              </div>
            </form>
            <!--E 发单-->
            <!--S 设计师-->
		    <if condition="$designersTopPv">
            <div class="new-favo">
                <h2><span class="favo-title">{$cityInfo.cname}室内设计师推荐</span></h2>
                <ul>
                    <volist name="designersTopPv" id="vlist">
                        <li>
                          <div class="fix-padding">
                              <if condition="$vlist['cooperate_mode'] eq 1" >
                                  <a class="favo-a" href="/blog/{$vlist.userid}/" title="" target="_blank">
                              <else />
                                  <a class="favo-a" href="/blog_new/{$vlist.userid}/" title="" target="_blank">
                              </if>
                                  <img src="{$vlist.logo}" class="morenInfo" title="{$cityInfo.cname}{$vlist.zw}{$vlist.name}" alt="{$cityInfo.cname}{$vlist.zw}{$vlist.name}">
                              </a>
                              <span class="zw_and_name">{$vlist.zw} {$vlist.name|mbstr=0,6}</span>
                              <a href="/company_home/{$vlist.comid}/" target="_blank" class="name" style="margin-top: 0">{$vlist.jc|mbstr=0,8}</a>
                          </div>
                        </li>
                    </volist>
                </ul>
            </div>
	        </if>
            <!--E 设计师-->

          <!--S 设计作品-->
		  <if condition="$designersTopCase">
          <div class="new-favo">
              <h2><span class="favo-title">{$cityInfo.cname}知名设计师作品</span></h2>
            <ul>
              <volist name="designersTopCase" id="vlist">
                <li>
                  <div class="fix-padding">
	                  <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/caseinfo/{$vlist.case.id}.shtml" target="_blank" class="d_works">
		                  <if condition="$vlist['case']['img_host'] EQ 'qiniu'">
			                  <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vlist.case.img_path}" title="{$vlist.name}{$vlist.case.title}装修案例" alt="{$vlist.name}{$vlist.case.title}装修案例"/>
			                  <else/>
			                  <img src="{$SCHEME_HOST.scheme_full}{:C('STATIC_HOST1')}{$vlist.case.img_path}s_{$vlist.case.img}">
		                  </if>
	                  </a>
	                  <p class="text-over-show">{$vlist.case.title}</p>
                    <a href="{$SCHEME_HOST.scheme_full}{$bm}.{:C('QZ_YUMING')}/blog/{$vlist.id}/" target="_blank"
                       class="name text-over-show" style="margin-top: 0">{$vlist.name}</a>
                  </div>
                </li>
              </volist>
            </ul>
          </div>
	        </if>
          <!--E 设计作品-->

          <!--S 最新预约-->
	     <if condition="$lastAppointment">
          <div class="lfsq_box homeowner-order-container new-favo">
            <h3>新预约设计师</h3>
            <div class="last_book">
              <div style="width: 21%">业主</div>
              <div style="width: 38%">小区</div>
              <div style="width: 18%">设计师</div>
              <div style="width: 21%">日期</div>
            </div>
            <div class="content homeowner-scroll box">
              <ul class="homeowner-order list">
                <volist name="lastAppointment" id="vlist">
                  <li style="font-size: 0px;">
                    <span style="width: 21%;padding-left: 2px">{$vlist.name|mbstr=0,3}</span>
                    <span style="width: 38%">{$vlist.xiaoqu|mbstr=0,6}</span>
                    <span style="width: 18%">{$vlist.designer|mbstr=0,4}</span>
                    <span style="width: 21%">{$vlist.date}</span>
                  </li>
                </volist>
              </ul>
            </div>
          </div>
	        </if>
          <!--E 最新预约-->
        </div>
    </div>
    </div>
    <include file="Index:footer" />
    <include file="Common@Order/bottom_fadan" type="2" />
    <include file="Common@Order/designer_list_order"/>
    <include file="Common@lotteryDraw/subindex" />
    <input id="safecode" type="hidden" value="{$safecode}" />
    <input id="safekey" type="hidden" value="{$safekey}" />
</body>
<script type="text/javascript" src="{$static_host}/assets/sub/company/js/jquery.cxscroll.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
  /**
   * 城市初始化函数，不管页面多少个发单，直接调用该函数即可，选择器以数组包含对象的方式传入
   * @param citySelectorAry 数组
   */
   var shen = null,
      shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
  function qzInitCity(citySelectorAry) {
    if(!(citySelectorAry instanceof Array)) {
      throw Error('参数citySelectorAry必须是数组')
      return
    }
    var ip_cityid = '{$Think.cookie.iplookup}';
    var city_id = '{$theCityId}';
    (city_id == '') ? cityId = ip_cityid : cityId = city_id;
    if(cityId == ''){
      getLocation();
    }else{
      initCitySelect(cityId);
    }

    function initCitySelect(cityId){
      $.each(citySelectorAry, function (index, item) {
        if(item.cs && item.qx && $(item.cs).length > 0 && $(item.qx).length>0) {
          App.citys.init(item.cs, item.qx, shen, shi, cityId);
        }else{
          throw Error('缺少cs或qx选择器')
          return
        }
      })
    }
  }

  var qzCitySelectorAry = [{
    cs: "#f_bj_cs",
    qx: "#f_bj_qx"
  }, {
    cs: "#c_cs",
    qx: "#c_qy"
  }]
  qzInitCity(qzCitySelectorAry)

  $(function() {
    // 免费设计与报价
    $("#btnSub").click(function(event) {
      var _this = $(this);
      if(!checkDisclamer(".new_xsc_fadan")){
        return false;
      }
      window.order({
        wrap:'.desinger-order',
        extra:{
          source: '19060605' ,//这里额外参数只有source，获取的是wrap属性下的class包含order-item的参数的值
          cs: $('#f_bj_cs').val(),
          qx: $('#f_bj_qx').val(),
          name: $('input[name="name"]').val(),
          tel: $('input[name="tel"]').val(),
          step: 2
        },
        success:function(res, status, xhr){
          if (res.status == 1) {
            $("body").append(res.data.tmp);
            $(".fadan_form").find('input').val('')
          }else{
            $.pt({
              target: $('#btnSub'),
              content: res.info,
              width: 'auto'
            });
          }
        },
        validate:function(item, value, method, info){
          if ('cs' == item && 'notempty' == method) {
            $(".f_errorArea-tit").html('请选择城市');
            return false;
          }
          if ('qz' == item && 'notempty' == method) {
            $(".f_errorArea-tit").html('请选择城市');
            return false;
          }else{
            $(".f_errorArea-tit").html('');
          }

          if ('name' == item && 'notempty' == method) {
            $(".f_errorName-tit").html('请输入您的称呼');
            return false;
          }
          if ('name' == item && 'isword' == method) {
            $(".f_errorName-tit").html('请输入正确的称呼，只支持中文和英文 ^_^!');
            return false;
          }else{
            $(".f_errorName-tit").html('');
          }
          if ('tel' == item && 'notempty' == method) {
            $(".f_errorTel-tit").html('请输入您的手机号码');
            return false;
          }

          if ('tel' == item && 'ismobile' == method) {
            $(".f_errorTel-tit").html('请填写正确的手机号码');
            return false;
          }else{
            $(".f_errorTel-tit").html('');
          }
          return true;
        }
      });
    });
  });

  $(function () {
    $('.homeowner-order-container').cxScroll({
      direction: 'bottom',
      time : 2000,
      step:1
    });
  })

  // 设计报价滚动到2200px 悬浮
  $(window).scroll(function (event) {
    var fixHeight = 1500;
    if ($(window).scrollTop() >= fixHeight) {
      $('#fd_box_form').css({
        "width": "260px",
        "margin-top": "0",
        "position": "fixed",
        "top": "85px",
        "zIndex": 2
      });
    } else {
      $('#fd_box_form').css({
        "margin-top": "0px",
        "position": "",
        "top": "",
        "zIndex": ''
      });
    }
  });



</script>
</html>
