/*
理念：
1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
    margin: 0;
    padding: 0;
    /* color: #666; */
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;color: #333;
    font-family: "Microsoft Yahei";
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }

select,select option{padding-left: 5px;}

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*一些全局默认样式*/

::-moz-selection{ background:#b7b59b; color:#fff; text-shadow: none; }
::selection { background:#b7b59b; color:#fff; text-shadow: none; }
body{ font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif; color:#3c3c3c; background:#f7f7f7;min-width: 1220px;}
a{ color:#333;}
a:hover{ color:#d92b2b;text-decoration: none;}
.f-red{ color:#d92b2b;}
.wrap{ width:1220px; margin:0 auto;position: relative}
.ofw{ overflow:hidden}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.zixun-yubaojia {
    height: auto;
    background: #fff;
    overflow: hidden;
}

.zixun-yubaojia .fadan {
    height: 161px;
}

.zixun-yubaojia .fadan img {
    width: 100%;
    vertical-align: middle;
}

.zixun-yubaojia-fadan {
    padding: 15px 20px 20px;
}

.zixun-yubaojia-fadan h2 {
    font-size: 16px;
    font-weight: bold;
    color: #283BBA;
    line-height: 24px;
    padding-bottom: 15px;
}

.zixun-yubaojia .box-line {
    height: 53px;
    margin-bottom: 0 !important;
}

.zixun-yubaojia .edit-city {
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #F7F7F7;
    box-sizing: border-box;
    display: block;
    float: left;
    color: #333;
    font-size: 14px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 10px;
}

.zixun-yubaojia .edit-text {
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    background: #F7F7F7;
    padding-left: 10px;
    display: block;
    font-size: 14px;
    border: none;
    outline: none;
}

.zixun-yubaojia .design-btn {
    background: #FFB156;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 9px;
    text-align: center;
    line-height: 40px;
}

.errorArea-tit, .errorName-tit, .errorTel-tit {
    height: 15px;
    visibility: visible;
    color: red;
    text-align: left;
    padding-left: 12px;
    margin-top: -3px;
}

.disclamer-line .disclamer-check {
    width: 10px;
    height: 10px;
    border: 1px solid #999;
    border-radius: 2px;
    margin-top: 3px !important;
    margin-right: 5px !important;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.disclamer-line .disclamer-check i.fa-check {
    position: absolute;
    top: -1px;
    color: #DB2C2C;
}



/*底部*/

/* -----------------footer底部样式----------------------- */
.footer,.friend  {
    background: #333;
    color: #999;
    position: relative;
    padding-bottom: 20px;
}
.friend .tab-nav {
    padding-top: 30px;
    height: 32px;
}
.friend .tab-nav a {
    float: left;
    padding: 5px 12px;
    font-size: 14px;
    color: #999;
    background: #1A1A1A;
    margin-right: 10px;
    cursor: pointer;
}
.friend .tab-nav  a.current {
    background: #666;
    color: #fff;
}
.friend .tab-con {
    padding-bottom: 20px;
}
.friend .tab-con .tab-con-item {
    display: none;
}
.friend .tab-con .tab-con-item li {
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    list-style: none;
    color: #999;
}
.friend .tab-con .tab-con-item li a {
    color: #999;
}
.friend .tab-con .tab-con-item li:hover a {
    color: #D92B2B;
}
.friend .tab-con .tab-con-item a {
    float: left;
    color: #999;
    margin-right: 15px;
    margin-top: 10px;
}
.friend .tab-con .tab-con-item a:hover {
    color: #D92B2B;
}
.footer .line {
    width: 100%;
    height: 2px;
    box-shadow: inset 0 -1px 0 rgba( 255, 255, 250, 0.2), inset 0 -2px 0 rgba(26,26,26,1);
}
.footer .contact-way {
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    box-shadow: inset 0 -1px 0 rgba( 255, 255, 250, 0.2), inset 0 -2px 0 rgba(26,26,26,1);
}
.footer .contact-way .kf-call {
    margin-right: 30px;
}
.footer .contact-way .kf-call em {
    color: #FF9913;
    margin-left: 5px;
}
.footer .contact-way a {
    color: #999;
}
.footer .contact-way .icon-qq {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../../../common/image/qq.png) no-repeat;
    position: relative;
    top: 1px;
    margin-right: 5px;
}
.footer .contact-way .kf-qq {
    margin-right: 20px;
}
.footer .contact-way .kf1 {
    margin-right: 10px;
}
.footer .bot {
    position: relative;
}
.footer .others {
    margin-top: 20px;
    margin-bottom: 17px;
}
.footer .others li {
    float: left;
    margin-right: 20px;
}
.footer .others li a {
    color: #fff;
}
.footer .others li:hover a {
    color: #E62E2E;
}
.footer p.mianze {
    margin-bottom: 16px;
}
.footer p.copyright {
    margin-bottom: 18px;
}
.footer .icons span {
    display: inline-block;
    width: 100px;
    height: 50px;
}
.footer .icons .icon-safe {
    display: block;
    width: 70px;
    height: 50px;
    background: url(../../../common/image/safe.png) no-repeat;
    position: relative;
    top: 10px;
}
.footer .icons .jingying {
    margin-right: 20px;
}
.footer .icons .icon-jingying {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../../../common/image/jingying.png) no-repeat;
    float: left;
}
.footer .icons .gongshang{
    width: 90px;
    margin-right: 25px;
}
.footer .icons .icon-gongshang {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../../../common/image/gongshang.png) no-repeat;
    float: left;
    position: relative;
    left: -5px;
}
.footer .icons .icon-wxb {
    display: block;
    width: 85px;
    height: 30px;
    background: url(../../../common/image/wangxinban.png) no-repeat;
    position: relative;
    top: 22px;
}
.footer .down-app {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 860px;
    text-align: center;
    color: #fff;
}
.footer .down-app p {
    margin-top: 5px;
}
.footer .down-app img {
    display: block;
    width: 100px;
    height: 100px;
}
.footer .wx-gzh {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 990px;
    text-align: center;
    color: #fff;
}
.footer .wx-gzh p {
    width: 99px;
}
/*免责声明 S*/
.disclamer-line{
    color: #999;
    text-align: left;
    overflow:hidden;
    margin-bottom:5px;
}
.no-margin{
    margin-top:20px !important;
}
.disclamer-line span{
    font-size: 12px !important
}
.disclamer-line .disclamer-check{
    width:10px;
    height: 10px;
    border:1px solid #999;
    border-radius: 2px;
    margin-top:3px !important;
    margin-right:5px !important;
    cursor:pointer;
    position:relative;
    display: inline-block
}
.disclamer-line a{
    color:#1F80C7;
    border-bottom:1px solid #1F80C7;
    display: inline-block;
    width:80px;
    text-align: center;
    overflow:hidden;
    position:relative;
    height:17px;
}
.disclamer-line a span{
    width:80px;
    left:-4px !important;
}
.disclamer-line span.disclamer-text{
    margin-right: 5px !important
}
.disclamer-line .disclamer-check i.fa-check{
    position:absolute;
    top: -1px;
    color: #1F80C7;
}
/*免责声明 E*/


/*已无更多数据*/
.no-data-text {
    text-align: center;
    line-height: 2;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}
