
ul li {list-style: none;}
a { text-decoration: none;}
.head_601{width: 100%;height: 50px;line-height: 50px;background: #D92B2B;}
.head_601 .head-center {width: 1220px;height: 50px; margin: auto;position: relative;}
.head_601 .head-center .head-logo {width: 29px;height: 31px;float: left;}
.head_601 .head-center .head-logo img {width: 100%;vertical-align: middle;}
.head_601 .head-text a { height: 50px;font-size: 14px;font-weight: bold;color: #fff;line-height: 50px;float: left;padding: 0 20px 0 6px;}
.head_601 .nav {float: left;}
.head_601 .nav li {width: 80px; height: 50px;float: left;text-align: center;}
.head_601 .nav li:hover{display: block;width: 80px; height: 50px;background-color: #A62121;}
.head_601 .nav li a {font-size: 14px;font-weight: bold;color: #fff;line-height: 50px;}
.head_601 .nav li a.active {display: block;width: 80px; height: 50px;line-height: 50px;background-color: #A62121;}
.head_zixun_cur {display: block;width: 80px; height: 50px;background:url(/assets/home/housecustom/imgs/up-ang.png) no-repeat center bottom;background-size: 20% 20%;background-color: #A62121;}

/* .head_601 .nav li a:active {display: block;width: 80px;height: 50px;line-height: 50px; background-color: #A62121;} */
.head_601 .kaoright {height:50px;float: right;}
.head_601 .wyzx a{font-size: 14px; font-weight: bold; color: #fff;line-height: 30px;vertical-align: middle;}
.head_601 .shuxian {display: inline-block; width: 1px;height: 16px; vertical-align: middle;background: rgba(255, 141, 140, 1);margin: 0 10px;}
.head_601 .phone {width: 18px; height: 18px;display: inline-block;}
.head_601 .phone img {width: 100%;vertical-align: middle;}
.head_601 .phone-qz{font-size:14px;font-weight:400;color:#fff;line-height:30px;vertical-align: middle;cursor: pointer;}
.head_601 .ewm {width: 170px;height: 232px;background: url(/assets/home/housecustom/imgs/erweima-tc.png) no-repeat;background-size: 100% 100%;position: absolute;top: 60px;right: 100px;z-index: 999;display: none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/home/housecustom/imgs/erweima-tc.png',sizingMethod='scale');}
.head_601 .ewm .qizuang-ewm {width: 150px;height: 150px;margin: 20px auto 5px;}
.head_601 .ewm .qizuang-ewm img {width: 100%;vertical-align: middle;}
.head_601 .ewm .wenan {font-size: 14px;font-family: 'Microsoft YaHei';font-weight: bold; color: #333;line-height: 24px;text-align: center;}
.head_601 .tel-num {font-size: 14px;font-weight: bold;color: #fff;vertical-align: sub;}
.head_601 .fenlei{width:100%;height: 90px;background: #fff;position: relative;display: none;z-index: 999;}
.head_601 .feilei-fu{width: 1220px;height: 40px;line-height: 40px;margin: auto;}
.head_601 .tab-title{width:1220px;height: 40px;overflow: hidden; white-space: nowrap;}
.head_601 .tab-title li{display: inline;padding-right: 17px;cursor: pointer;}
.head_601 .tab-title li a {width:73px;display:inline-block;overflow: hidden;}
.head_601 .feilei-fgx{width:100%;height: 1px;background:#E7E7E7;position: absolute;top:40px}
.head_601 .tab-title li.active a{color: #DF0015}
.head_601 .parent .son{width: 1220px;height: 45px;line-height: 45px;overflow: hidden;white-space: nowrap;}
.head_601 .hinline{width:73px;line-height: 45px;float: left;text-align: left;padding-right: 20px;overflow: hidden;}
.head_601 .display_none{display: none;}
.head_601 .display_block{display: block;}
.head_601 .clear{clear: both;}
