
html {overflow-x: hidden;overflow-y: auto;font-family:'Microsoft YaHei';}
ul,ol {list-style: none;/* font-size: 0; */}
a {text-decoration: none;}
.lunbo {width: 100%;height: 480px;}
.center {width: 100%;height: auto;background: #F7F7F7;padding: 0 0 30px 0;}
.content {width: 1220px; height: auto;margin: auto;}
.zixun { width: 100%; height: auto;}
.zixun-tit { width: 100%;height: 60px;line-height: 60px;padding-top: 10px;}
.shu { display: inline-block; width: 6px; height: 30px; background: #DF0015;vertical-align: middle; margin-top: -7px;}
.title { display: inline-block;font-size: 22px;font-weight: bold; color: #333;padding-left: 16px;vertical-align: initial;}
.classify { display: inline-block;}
.classify li { display: inline-block;}
.classify li a {font-size: 16px; color: #333;line-height: 30px;vertical-align: initial;}
.classify li a:hover { color: #D92B2B}
.classify .brand-tuku{font-size: 16px;color: #333;line-height: 30px;vertical-align: initial;}
.fgx { display: inline-block;width: 1px; height: 20px; background: #E5E5E5; margin: 0 7.5px;vertical-align: sub;}
.dian { display: inline-block;font-size: 16px; color: #999; margin: 0 10px; line-height: 30px;}
.classify li:last-child .dian{display: none;}
.more {font-size: 14px;color: #999; float: right;}
.zixun-cont { width: 1180px;height: 320px; background: #fff; padding: 20px;}
.left { width: 290px; height: 320px;float: left; margin-right: 20px;}
.left .zixun-cont-top { width: 290px; height: 164px;}
.left .zixun-cont-top img{ width:100%; vertical-align: middle;}
.left .zixun-cont-text { font-size: 14px;font-weight: 400; color: #333; line-height: 30px;width: 283px; overflow: hidden;white-space: nowrap;}
.left .zixun-cont-footer { width: 100%;height: 120px;}
.left .zixun-cont-footer-left { width: 140px;  height: 120px; float: left;}
.left .zixun-cont-footer-right { width: 140px;height: 120px;float: right;}
.left .tu-top { width: 140px; height: 80px;margin-bottom: 10px;}
.left .tu-top  img{width:100%;vertical-align: middle;}
.left .twoLine{height: 40px;  line-height: 20px;overflow: hidden;width: 140px;background: #fff;}
.left .tu-top-wen { float: right;  margin-left: -5px; width: 140px; word-break: break-all;
    /* font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; */}
.left .twoLine::before {float: left; width: 5px; content: '';height: 40px;}
.left .twoLine::after {float: right;content: '...'; height: 20px; line-height: 20px; width: 20px; margin-left: -20px;position: relative;left: 100%;top: -20px; padding-right: 5px; background: #fff;}
.zhong { width: 518px;height: 320px; float: left;border-left: 1px dashed #E5E5E5;border-right: 1px dashed #E5E5E5; margin-right: 20px;}
/* .zhong li {padding-bottom: 15px; overflow: hidden;text-overflow: ellipsis; white-space: nowrap;} */
.zhong li {padding-bottom: 15px; overflow: hidden;white-space: nowrap;width: 498px;}
.zhong li a {font-size: 14px; color: #333;line-height: 18px;}
.zhong li a:hover {color: #D92B2B;}
.zhong .yuandian { display: inline-block; width: 6px; height: 6px; background: #E5E5E5;border-radius: 50%; margin: -3px 10px 0 20px; vertical-align: middle;}
.zhong li a:hover span.yuandian {background: #D92B2B;}
.right { width: 328px;height: 320px; float: left;}
.right #open .right-center{
    display: block;
}
.right #open .cont-tit-list{display: none;}
.right .right-title { width: 100%; height: 20px;font-size: 16px;line-height: 20px;margin-bottom: 15px;}
.right .right-title-icon {width: 20px;  height: 20px;  float: left;margin-right: 7px;}
.right .right-title-icon img { width: 100%;}
.right .right-title-icon .jxzx {font-size: 16px; font-weight: bold; color: #333;line-height: 30px;}
.right .right-center { width: 100%; height: 80px; display: none;border-bottom: 1px dashed #E5E5E5;padding-bottom: 10px;}
.right .right-center-left { width: 120px; height: 80px;float: left; margin-right: 10px;}
.right .right-center-left img{ width:100%; vertical-align: middle;}
.right .right-center-right { width: 198px; height: 80px; float: right;}
.right .right-center-right .biaoti {font-size: 16px;font-weight: 400; color: #333;line-height: 25px;}
.right .right-center-right .conts { font-size: 12px; font-weight: 400;color: #999; line-height: 18px;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;word-wrap: break-word;
    word-break: normal;}
.right .cont-tit-list {font-size: 14px; font-weight: 400; color: #333;line-height: 30px;cursor: pointer}
/* 文本超出一行显示省略号 */
.oneLine { overflow: hidden; white-space: nowrap;}
span.phone-qz:hover { cursor: pointer;}
/* banner */
#banner { position: relative; height: 480px;}
#banner .banner_img { position: absolute;width: 400%;height: 480px; overflow: hidden;}
#banner .banner_img .banner_ul { position: absolute; height: 480px; overflow: hidden;}
#banner .banner_img .banner_ul li {height: 480px; float: left;left: 100%; width: 25%;}
#banner .banner_img .banner_ul img { width: 100%;height: 480px;}
#banner .banner-span { position: absolute; bottom: 10px;left: 50%;}
#banner .banner-span span {width: 12px;float: left; height: 12px;border-radius: 50%; border: 2px solid #fff;margin-right: 15px;bottom: 10px; left: 45%; cursor: pointer;}
#banner .banner-span .span_point { border: 2px solid #D92B2B;}
#banner .banner_a {position: absolute;top: 50%; width: 100%; height: 40px;margin: 0 10px;font-size: 30px;}
#banner .banner_a .banner_prev {position: absolute;left: 10px;background: gray;cursor: pointer;}
#banner .banner_a .banner_next {position: absolute; right: 30px;background: gray; cursor: pointer;}
/* end banner */

/* star 图库 */
.tuku {width: 100%; height: auto;}
.tuku-pic {width: 100%; height: 456px;background: #fff;}
.pic-top { margin-left: 18px;}
.pic-top li {display: inline-block; width: 280px; height: 198px;background: #fff;border: 1px solid rgba(230, 230, 230, 1);border-radius: 2px;margin:18px 18px 0 0;}
.tu {width: 280px; height: 158px;}
.tu img{width:100%;vertical-align: middle;}
.pic-top li:hover{box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);border-radius: 3px;transform: scale(1.05); -webkit-transform: scale(1.05);-moz-transform: scale(1.05);}
.text { width: 280px;height: 40px;line-height: 40px;font-size: 14px;color: #333333;text-align: center;cursor: pointer; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.text a:hover{color:#DF0015;}

/* 品牌 */
.brand {width: 100%; height: auto;}
.brand-pic {width: 100%;height: 260px;background-image : url(/assets/home/housecustom/imgs/brand-bg.png); background-size: 100% 100%;
    background-repeat: no-repeat;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/home/housecustom/imgs/brand-bg.png',sizingMethod='scale');}
.brand-logo {margin-left: 245px;}
.brand-logo-pic{font-size: 0;}
.brand-logo-pic li {width: 175px;height: 100px;background: #fff;display: inline-block;margin: 20px 20px 0 0;}
.brand-logo-pic li img {width: 100%;}

/* 申请 */
.apply {width: 100%;height: 380px;margin-top: 30px;}
.apply-left {width: 800px;height: 380px;background: #fff; float: left;}
.apply-right {width: 400px;height: 380px; background: #fff; margin-left: 20px;float: left;}
/* S 极速装修立即申请 */
.apply-left .apply-left-shenqing{ width:330px;height: 330px; margin:30px 0 20px 40px;float: left;}
.apply-left .apply-left-shenqing h2{font-size:24px;font-weight:bold;color:#333;line-height:36px;text-align: center;}
.apply-left .apply-left-shenqing .heng{display: inline-block; width:21px;height:5px;background:#333;margin:0 14px;vertical-align: middle;}
.apply-left .apply-left-shenqing .ren-num{font-size:16px;font-weight:400;color:#333;line-height:48px;text-align: center;}
.apply-left .apply-left-shenqing .ren-num .red{color:#DF0015;}
.apply-left .apply-left-shenqing .box-line{height: 53px;margin-bottom: 0!important;}
.errorArea-tit,.errorName-tit,.errorTel-tit{height: 15px;visibility: visible;color: red;text-align: left;padding-left: 12px;}
.apply-left .apply-left-shenqing .edit-city{
    width: 160px;height: 35px;border: none;outline: none;box-sizing: border-box;display: block;float: left; color: #333; font-size: 14px;background: #F7F7F7;padding: 8px 15px;}
.apply-left .apply-left-shenqing .edit-text{width: 100%;height: 35px; line-height: 35px;box-sizing: border-box; border: none;outline: none;padding-left: 10px;display: block; font-size: 14px;background: #F7F7F7;}
.apply-left .apply-left-shenqing.disclamer-line {margin: 10px 0;}
.disclamer-line {color: #999;text-align: left;overflow: hidden;margin-bottom: 5px;}
.disclamer-line .disclamer-check {width: 10px; height: 10px; border: 1px solid #999;border-radius: 2px;margin-top: 3px !important;margin-right: 5px !important;cursor: pointer;position: relative;display: inline-block;}
.disclamer-line span {font-size: 12px !important;}
.pull-left { float: left;}
.disclamer-line .disclamer-check i.fa-check {position: absolute; top: -1px;color:#DF0015;}
.fa {display: inline-block; font: normal normal normal 14px/1 FontAwesome;font-size: inherit; text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.disclamer-line span.disclamer-text {margin-right: 5px !important;}
.disclamer-line a {color: #1F80C7; border-bottom: 1px solid #1F80C7; display: inline-block; width: 80px;text-align: center;overflow: hidden;position: relative; height: 17px;}
.disclamer-line a span { width: 80px;left: -4px !important;}
.disclamer-line span { font-size: 12px !important;}
.design-btn{width: 100%;height: 40px;background: #DF0015;color: #fff;font-size: 16px;font-family: "Microsoft YaHei";font-weight:400;padding: 0;border: 0;cursor: pointer;border-radius:2px; margin-top: 9px;}
/* E极速装修立即申请 */
/* 分割线 */
.apply-left .sq-fgx{ width:1px; height:330px;border-right:1px solid #E5E5E5; float: left; margin:30px 0 20px 40px;}
.right-sanjiao{ width:12px; height:22px;float: left; line-height: 380px;}
.right-sanjiao img{ width:100%;}
/* 现在申请享受4大服务 */
.fuwu{width:300px;height: auto;float: left; margin: 40px 0 0 39px;}
.fuwu h3{font-size:18px;font-family:'Microsoft YaHei';font-weight:400; color:#333;/* line-height:36px; */text-align: center;}
.fuwu .liucheng{ width:300px; margin:30px auto 0;}
.fuwu .liucheng .yuyue{width:112px; height: 90px;text-align: center; float: left;}
.yuyue .yuyue-pic{width:64px;height: 64px;margin: auto;}
.yuyue .yuyue-pic img{width:100%;}
.yuyue .small-title{ font-size:14px;font-family:'Microsoft YaHei';font-weight:400;color:#666;line-height:36px;}
.liucheng .zhixiang-right{ width:26px;height: 20px;line-height: 90px;float: left;margin: 0 20px;}
.liucheng .zhixiang-right img{ width:100%;}
.liucheng .down-line{width:100%;height: 26px;margin: 20px 0; float: left;}
.liucheng .zhixiang-down{width:20px;height: 26px;margin: 0 56px 0 0;float: right;}
.liucheng .zhixiang-down img{width:100%;}
.apply-tit {width: 100%; height: auto;padding: 28px 20px 15px 20px;box-sizing: border-box;}
.list-head {width: 360px; height: 40px;line-height: 40px;background: #F7F7F7;margin: auto; padding-left: 27px;box-sizing: border-box; font-size:16px; font-family:"Microsoft YaHei"; font-weight:400;color:#333;}
.list-head span.name {display: inline-block; width: 100px; height: 30px; line-height:30px;}
.list-head span.quyu {display: inline-block;width: 120px;height: 30px;line-height:30px;}
.list-head span.time { display: inline-block; width: 100px; height: 30px;line-height:30px;}

/* 上下滚动 */
.maquee{height: 240px;overflow: hidden;}
/* #demo {overflow: hidden; width: 360px; height: 240px;margin: 20px auto; position: relative;box-sizing: border-box; } */
#demo1 {height: auto; text-align: left;}
#demo2 { height: auto;text-align: left;}
#demo1 li {list-style-type: none; height: 35px;text-align: left;text-indent: 15px;}
#demo2 li { list-style-type: none;height: 35px;text-align: left;text-indent: 15px;}
#demo span.name { display: inline-block;width: 100px; height: 35px;}
#demo span.quyu {display: inline-block;width: 120px;height: 35px;}
#demo span.time { display: inline-block; width: 100px;height: 35px;}
._container{width: 360px;text-align: center;}
/* ._container {width: 360px; height: 240px;overflow: hidden;text-align: center; margin: 0; padding: 0;} */
._container li {height: 35px;line-height: 35px;font-size: 16px;font-weight:400;color:#333;}
/* ._container li:first-child { margin-top: 0; transition: margin-top .8s;} */
/* S 预报价成功弹窗 */
.mask{width: 100%;height: 100%; position: fixed;top: 0; left: 0;bottom: 0;right: 0;background: rgba(0,0,0,.5);z-index: 15;display: none;}
.success-box {width: 360px;height: 120px;position: fixed;top: 50%;left: 50%;transform: translate(-180px,-150px);box-sizing: border-box;background: #fff;box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.1);border-radius: 10px;display: none; z-index: 20;border-radius:16px;}
.success-title{width:60%;height: 30px;margin:auto}
.success-title h3{height:36px;font-size:24px;font-weight:400; color:rgba(255,83,83,1);line-height:36px;}
.guanbi{width:20px;height: 20px;float: right;padding: 10px;cursor: pointer;}
.guanbi img{width:100%;vertical-align: middle;}
.success-title .duigou{width:30px;height: 30px;float: left;line-height: 30px;padding-right: 10px;}
.success-title .duigou img{width:100%;vertical-align: middle;}
.success-text{width:160px;height:36px;font-size:14px; font-weight:400;color:#999;line-height:36px;margin:auto}
.moer-info {font-size: 14px;font-family: 'MicrosoftYaHei';font-weight: 400;color: rgba(153,153,153,1);line-height: 24px;}
.moer-info {font-size: 14px; font-family: 'MicrosoftYaHei';font-weight: 400;color: rgba(153,153,153,1);line-height: 24px;}
.clear{clear: both;}
/* E 预报价成功弹窗 */
/* 轮播 */
.main-top { position: relative;}
.main-top .banner {height: 480px; background: #eee;}
.main-top .banner #banner-swiper .swiper-slide {height: 480px;}
.main-top .banner #banner-swiper .swiper-slide {height: 480px;}
.main-top .banner #banner-swiper .swiper-slide a img { display: block;width: 100%; height: 480px;}
.main-top .banner #banner-swiper .swiper-slide {height: 480px;}
.main-top .banner #banner-swiper .swiper-slide a {display: block;width: 100%;height: 100%;}
.main-top .banner #banner-swiper .swiper-slide a img {display: block; width: 100%; height: 480px;}
.main-top .swiper-pagination span { margin: 0 5px;}
.main-top .swiper-pagination {position: absolute;bottom: 10px;right: 80px;left:50%;margin-left: -50%;cursor: pointer;}
.swiper-pagination-bullet-active {width: 12px;height: 12px; border: 2px solid #DF0015 !important;position: relative;background: transparent;}
.swiper-pagination-bullet{width: 10px; height: 10px; display: inline-block;border-radius: 100%; border: 2px solid #fff !important;}

/*.swiper-button-prev, .swiper-button-next {
    width: 50px;
    height: 100px;
    margin-top: -50px;
    background: rgba(0,0,0,0.5);
    color: #666;
    background-image: url(../pic/left-ang.png);
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
 .swiper-button-prev {
    left: 0;
    display: none;
}
.swiper-button-next {
    right: 0;
    background-image: url(../pic/right-a.png);
} */
.main-top {position: relative;}
.main-top .banner { height: 480px;background: #eee;}
.main-top .banner #banner-swiper .swiper-slide {height: 480px;}
.main-top .banner #banner-swiper .swiper-slide a {display: block;width: 100%;height: 100%;}
.main-top .banner #banner-swiper .swiper-slide a img {display: block; width: 100%;height: 480px;}
.swiper-button-prev,.swiper-button-next {width: 50px;height: 100px;margin-top: -50px;background: rgba(0,0,0,0.5);color: #666;
    background-image: url(/assets/home/housecustom/imgs/left-ang.png);background-repeat: no-repeat;background-position: center;display: none;}
.swiper-button-prev {left: 0; display: none}
.swiper-button-next {right: 0;background-image: url(/assets/home/housecustom/imgs/right-a.png);}
.main-top .swiper-pagination span {margin: 0 5px;}
.main-top .swiper-pagination .swiper-pagination-switch { margin: 0 5px;width: 10px;height: 10px;display: inline-block;border-radius: 100%;border:2px solid #fff;}
.main-top .swiper-pagination .swiper-active-switch {width: 10px;height: 10px;border: 2px solid #DF0015;position: relative;}
.swiper-container{width: 100%;position: absolute;}
