
body{ font-family:'Microsoft YaHei';background: #F7F7F7;}
.crumb{width:1220px;margin: auto;font-size:14px;font-weight:400;color:#666;line-height:30px;padding:10px 0}
.crumb a{color:#666;line-height:30px;}
.crumb a:hover{color:#DB2C2C}
/* 中间新闻详情 */
.new-center{width:1220px;height: auto;margin:0 auto 30px;}
.new-center .new-detail{width: 870px;height: auto;background: #fff;padding:20px;box-sizing: border-box;float: left;}
.new-center .new-detail h1{font-size:22px;font-weight:bold;color:#333;line-height:24px;padding-top: 10px; word-wrap: break-word;word-break: normal;}
.new-center .new-detail .time-laiyuan{font-size:14px;font-weight:400;color:#999;line-height:30px;padding: 10px 0 20px;}
.new-center .new-detail .time-laiyuan .ml30{margin-left: 30px;}
.new-center .new-detail .peiPic{width: 674px;height: 450px;margin:auto}
.new-center .new-detail .peiPic img{width: 100%;vertical-align: middle;}
.new-detail-content{width:840px;font-size:14px;font-weight:400;color:#333;line-height:24px;padding: 30px 7px 10px 0;}
.new-detail-content p img{max-width: 100%;}
.new-detail-content p{word-wrap: break-word;word-break: normal;}
/* 设计预报价 */
.new-center .sheji-yubaojia{width: 330px;height:auto;margin-left: 20px;float: left;}
.new-center .sheji-yubaojia .sheji-yubaojia-top{width: 330px;height: auto;background: #fff;}
.new-center .sheji-yubaojia .fadan{width:330px;height: 161px;}
.new-center .sheji-yubaojia .fadan img{width: 100%;vertical-align: middle;}
.new-center .sheji-yubaojia .zixun-yubaojia-fadan {padding: 15px 20px 20px;}
.new-center .sheji-yubaojia .zixun-yubaojia-fadan h2{font-size: 16px;font-weight: bold;color: #283BBA;line-height: 24px;padding-bottom: 15px;}
.box-line {height: 53px; margin-bottom: 0!important;}
.edit-city {width: 140px;height: 40px;line-height:40px;background: #F7F7F7;box-sizing: border-box;display: block;float: left;color: #333;font-size: 14px;border-radius: 2px;border: none;outline: none;padding:10px}
.edit-text {width: 100%;height: 40px;line-height:40px;box-sizing: border-box;background: #F7F7F7;padding-left: 10px;display: block;font-size: 14px;border: none;outline: none;}
.disclamer-line .disclamer-check i.fa-check {position: absolute;top: -1px;color: #DB2C2C;}
.design-btn {width: 100%;height: 40px;background: #FFB156;color: #fff;font-size: 16px;font-weight: 400;padding: 0;border: 0;cursor: pointer; border-radius: 2px; margin-top: 9px;outline: none;}
.errorArea-tit, .errorName-tit, .errorTel-tit { height: 15px;visibility: visible;color: #DB2C2C;text-align: left;padding-left: 12px;margin-top: -3px;}
.sheji-yubaojia-hot{width:330px;height: 440px;background: #fff;margin-top: 20px;padding: 20px;box-sizing: border-box;}
.hot-title{width:100%;height: 30px;line-height: 25px;}
.hot-title .hot{width:18px;height: 20px;float: left;}
.hot-title .hot img{width: 100%;vertical-align: middle;}
.hot-title h3{font-size:16px;font-weight:bold; color:#333;line-height:30px;float: left;padding-left: 10px;}
.hot-information{width: 290px;height: 70px;padding: 0 0 10px 0;border-bottom: 1px dashed #E5E5E5;}
.hot-information-left{width: 120px;height: 70px;float: left;}
.hot-information-left img{width: 100%;vertical-align: middle;border-radius:2px;}
.hot-information-right{width:160px;height: auto;margin-left: 10px;float: left;padding-top:3px;}
.hotNews-list{width: 290px;height: auto;padding-top: 15px;}
.hotNews-list li{width: 290px;display: inline-block;padding-bottom: 9px;}
.hotNews-list li span.yuandian{width:6px;height:6px;background:#E6E6E6;border-radius:50%;display: inline-block;}
.hotNews-list li:hover span.yuandian{background:#DB2C2C}
.hotNews-list li a{font-size:14px;font-weight:400;color:#333;line-height:18px;}
.hotNews-list li:hover a{color:#DB2C2C}
/* 超出三行显示省略号 */
.hot-information-right{height: 55px;line-height: 20px;width:160px;font-size:14px;font-weight:400;color:#666;}
.hot-information-right span{float: right;margin-left: -5px;width: 160px;word-break: break-all;cursor: pointer;}
.hot-information-right:hover span{color:#DB2C2C}
/* .hot-information-right::before{float: left;width: 5px; content: '';height: 55px;}
.hot-information-right::after {float: right;content: '...';height: 20px; line-height: 20px;width: 20px;margin-left: -20px;position: relative;left: 100%;top: -18px;padding-right: 5px;background: #fff;} */
.hot-information-right:hover{color:#DB2C2C}
.clear{clear:both}
/* S 预报价成功弹窗 */
.mask{width: 100%;height: 100%; position: fixed;top: 0; left: 0;bottom: 0;right: 0;background: rgba(0,0,0,.5);z-index: 15;display: none;}
.success-box {width: 360px;height: 120px;position: fixed;top: 50%;left: 50%;transform: translate(-180px,-150px);box-sizing: border-box;background: #fff;box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.1);border-radius: 10px;display: none; z-index: 20;border-radius:16px;}
.success-title{width:60%;height: 30px;margin:auto}
.success-title h3{height:36px;font-size:24px;font-weight:400; color:rgba(255,83,83,1);line-height:36px;}
.guanbi{width:20px;height: 20px;float: right;padding: 10px;cursor: pointer;}
.guanbi img{width:100%;vertical-align: middle;}
.success-title .duigou{width:30px;height: 30px;float: left;line-height: 30px;padding-right: 10px;}
.success-title .duigou img{width:100%;vertical-align: middle;}
.success-text{width:160px;height:36px;font-size:14px; font-weight:400;color:#999;line-height:36px;margin:auto}
/* E 预报价成功弹窗 */
.one{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.hotNews-list li .hot-information{display: none;}
#open{display: block;}
