
body{font-family:'Microsoft YaHei';background: #F7F7F7;}
.zixun{width:1220px;margin:auto;font-size:14px;font-weight:400;color:#666;line-height:30px;padding: 10px;}
.zixun a{color:#666;}
.zixun a:hover{color:#DB2C2C}
.zixun-center{width: 1220px;height:auto;margin: 0 auto 30px;}
.zixun-center .zixun-list{width:830px;height: auto;background: #fff;margin-right: 20px;float: left;min-height: 620px;}
.zixun-center .zixun-list .zixun-list-box{width:830px;height:175px;}
.zixun-center .zixun-list .left-pic{width: 180px;height: 135px;float: left;padding: 20px;}
.zixun-center .zixun-list .left-pic img{width: 100%;vertical-align: middle;}
.zixun-center .zixun-list .right-cont{width: 590px;height:135px;float:left;padding: 20px 0;border-bottom: 1px dashed #E5E5E5;}
.zixun-center .zixun-list .right-cont h3{font-size:20px;font-weight:bold;color:#333;height:30px;line-height:30px;white-space: nowrap;}
.zixun-center .zixun-list .right-cont .time-laiyuan{font-size:14px;font-weight:400;color:#999;line-height:30px;padding-top: 20px;}
.zixun-center .zixun-list .right-cont .time-laiyuan .laiyuan{padding-left: 25px;}
.zixun-center .zixun-list .right-cont .time-laiyuan .liulan{padding-left: 25px;}
.zixun-center .zixun-yubaojia{width:330px;height: auto;background: #fff;float: left;}
.fadan{width:330px;height: 161px;}
.fadan img{width: 100%;vertical-align: middle;}
/* S 发单 */
.zixun-yubaojia-fadan{padding: 15px 20px 20px;}
.zixun-yubaojia-fadan h2{font-size:16px;font-weight:bold;color:#283BBA;line-height:24px;padding-bottom: 15px;}
.box-line{ height: 53px;margin-bottom: 0!important;}
.edit-city{width: 140px;height: 40px;line-height:40px;background: #F7F7F7;box-sizing: border-box;display: block;float: left;color: #333;font-size: 14px;border-radius: 2px; border: none;outline: none;padding: 10px;}
.edit-text{width: 100%;height: 40px;line-height:40px;box-sizing: border-box;background: #F7F7F7;padding-left: 10px;display: block;font-size: 14px;border: none; outline: none;}
.design-btn{width: 100%;height: 40px;background: #FFB156;color: #fff;font-size: 16px;font-weight:400; padding: 0;border: 0;cursor: pointer;border-radius:2px; margin-top: 9px;outline: none;}
.errorArea-tit,.errorName-tit,.errorTel-tit{height: 15px;visibility: visible;color: red;text-align: left;padding-left: 12px;margin-top: -3px;}
.disclamer-line .disclamer-check {width: 10px;height: 10px;border: 1px solid #999;border-radius: 2px;margin-top: 3px !important;margin-right: 5px !important;cursor: pointer;position: relative;display: inline-block;}
.disclamer-line .disclamer-check i.fa-check {position: absolute;top: -1px;color:#DB2C2C;}
/* E 发单 */
/* 超出两行显示省略号 */
.list-content{height: 40px;line-height: 20px;overflow: hidden;width:590px;font-size:14px;font-weight:400;color:#666;padding-top: 10px;}
.list-content span{float: right;margin-left: -5px;width: 590px;word-break: break-all;}
/* .list-content::before{float: left;width: 5px; content: '';height: 40px;}
.list-content::after {float: right;content: '...';height: 20px; line-height: 20px;width: 24px;margin-left: -24px;position: relative;left: 100%;top: -20px;padding-right: 5px;background: #fff;} */
/* S 预报价成功弹窗 */
.mask{width: 100%;height: 100%; position: fixed;top: 0; left: 0;bottom: 0;right: 0;background: rgba(0,0,0,.5);z-index: 15;display: none;}
.success-box {width: 360px;height: 120px;position: fixed;top: 50%;left: 50%;transform: translate(-180px,-150px);box-sizing: border-box;background: #fff;box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.1);border-radius: 10px;display: none; z-index: 20;}
.success-box {width: 360px;height: 120px;position: fixed;top: 50%;left: 50%;transform: translate(-180px,-150px);box-sizing: border-box;background: #fff;box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.1);border-radius: 10px;display: none; z-index: 20;border-radius:16px;}
.success-title{width:60%;height: 30px;margin:auto}
.success-title h3{height:36px;font-size:24px;font-weight:400; color:rgba(255,83,83,1);line-height:36px;}
.guanbi{width:20px;height: 20px;float: right;padding: 10px;cursor: pointer;}
.guanbi img{width:100%;vertical-align: middle;}
.success-title .duigou{width:30px;height: 30px;float: left;line-height: 30px;padding-right: 10px;}
.success-title .duigou img{width:100%;vertical-align: middle;}
.success-text{width:160px;height:36px;font-size:14px; font-weight:400;color:#999;line-height:36px;margin:auto}
/* E 预报价成功弹窗 */

.list-contents{width:1220px;margin-top: 10px;}
.feny{width: 1220px;margin: 0 auto 30px;}
.wrap1{width: 830px;text-align: center;background: #fff;}
.fenye {overflow: hidden;}
.page {text-align: center;line-height: 38px;font-family: "Microsoft YaHei"; width: auto; max-width: 830px;margin: 30px auto 0;font-size: 14px;}
.pagination a{display: inline-block;line-height: 30px;border:1px solid #E5E5E5; border-radius:2px;padding: 0 10px;margin-right: 5px;}

.clear{clear: both;}
.juzhong{width: 830px;float: left;font-size: 16px;text-align: center; background: #fff; ;margin-right: 20px;margin-top: -320px;}
.page{padding-bottom: 20px;}
