
body{font-family: 'Microsoft YaHei';background-color: #F7F7F7;}
/* .fenlei{width:100%;height: auto;background: #fff;}
.feilei-fu{width: 1220px;height: 40px;line-height: 40px;margin: auto;}
.feilei-fu ul li{display: inline;padding-right: 40px;cursor: pointer;}
.feilei-fgx{width:100%;height: 1px;background:#E7E7E7;}
.feilei-zi{width: 1220px;height: 59px;line-height: 59px;margin: auto;padding-left: 30px;}
.feilei-zi ul li{display: inline;padding-right: 30px;cursor: pointer;}
.fenlei-tui{padding-left: 30px;}
#tab-title li.active{color: #DF0015;}
.feilei-zi ul li.cur{color: #DF0015;}
.display_none{display: none;} */
/* 中间内容 */
.center{width:1220px;height: auto;margin:20px auto 30px}
.toutiao{width:1220px;height: 336px;}
/* S 轮播 */
#container {width: 600px;height: 336px;position: relative;overflow: hidden;float: left;}
.item {position: absolute;}
#tabs {position: absolute; bottom: 14px;left: 50%;margin-left: -75px;}
.tab {float: left; margin-right: 10px;width: 20px;height: 4px;background: #fff;opacity:.5;cursor: pointer;}
#tabs .active {background: #fff;opacity:1;}
.swiper-slide .bg {width: 600px;height: 70px;  background: url(/assets/home/housecustom/imgs/zhezhao.png) no-repeat !important;background-size: 100% 100%;position: absolute;bottom: 4px;overflow: hidden;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/home/housecustom/imgs/zhezhao.png',sizingMethod='scale') !important;
}
.swiper-slide .bg span a {font-size: 16px;font-weight: bold; color: #fff;line-height: 30px;padding: 10px 0 0 24px;display: inline-block;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
/* E 轮播 */
/* S 今日头条 */
.toutiao-news{width:600px;height: 336px;margin-left: 20px;background: #fff;float: left;}
.toutiao-news-title{width:554px;height: 30px;line-height:30px;border-left: 6px solid #DF0015;margin:12px 20px;}
.toutiao-news-title h3{font-size:22px;font-weight:bold;color:#333;line-height:30px;padding-left: 10px;}
.toutiao-news-list{width:560px;height: auto;margin: 0 auto;}
.toutiao-news-list .dian{display:block;width:6px;height:6px;background:#E5E5E5;border-radius:50%;margin-top: 7px;float: left;}
.toutiao-news-list .list-title{height:18px;line-height: 18px;overflow: hidden;width: 544px; background: #fff;font-size:14px;font-weight:400;color:#333;margin:0 0 10px 10px;float: left;}
.toutiao-news-list .list-title .line-two{height:18px;display:inline-block;overflow: hidden; word-break: normal;}
.toutiao-news-list .list-title .line-two:hover{color:#DF0015}
.toutiao-news-list li:hover .dian{background:#DF0015} */
/* /* .toutiao-news-list li:hover .list-title{color:#DF0015}
.list-title span{float: right;margin-left: -5px;width: 544px;word-break: break-all;} */
/* .toutiao-news-list .list-title::before {float: left;width: 5px; content: '';height: 36px;}
.toutiao-news-list .list-title::after {float: right;content: '...';height: 18px; line-height: 18px;width: 37.5px;margin-left: -37.5px;position: relative;left: 100%;top: -20px;padding-right: 5px;background: #fff;
} */
/* E 今日头条 */
/* S 家居设计 */
.jiajusheji{width: 1220px;height: auto;}
.jiajusheji-title{width: 1214px;height: 30px;line-height: 30px;border-left: 6px solid #DF0015;margin: 20px 0 16px 0;}
.jiajusheji-title h3{font-size:22px;font-weight:bold;color:#333;line-height:30px;padding-left: 10px;    display: inline;}
.jiajusheji-title .more a{font-size:14px;font-weight:400;color:#999;line-height:30px;float: right;cursor: pointer;}
.jiajusheji-title .more a:hover{color:#DF0015}
.jiajusheji-box{width:1220px;height: 370px;background: #fff;padding: 20px;box-sizing: border-box;}
.jiajusheji-box-left{width:380px;height:330px;float:left;}
.jiajusheji-box-left .jiaju-pic-top{width: 380px;height: 210px;position: relative;}
.jiajusheji-box-left .jiaju-pic-top img{width:100%;vertical-align: middle;}
.jiajusheji-box-left .jiaju-pic-top p.bg{width: 380px;height: 44px; background: url(/assets/home/housecustom/imgs/zhezhao.png) no-repeat;background-size: 100% 100%;position: absolute;bottom: 0px;}
.jiajusheji-box-left .jiaju-pic-top p span {width:360px;font-size: 16px;font-weight: bold; color: #fff;line-height: 40px;padding-left:13px;display: inline-block;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.jiajusheji-box-left .jiaju-pic-top p span:hover{color: #DF0015;}
.jiajusheji-box-left .jiaju-pic-down{width:380px;height: auto;margin-top: 10px;}
.jiaju-pic-down li{width:120px;height: auto;float: left;padding-right: 6px;}
.jiaju-pic-down li:last-child{padding-right: 0;}
.jiaju-pic-down  .jiaju-pic-down-tu{width:120px;height: 70px;}
.jiaju-pic-down  .jiaju-pic-down-tu a img{width: 100%;}
.jiajusheji-box-center{width:448px;height:330px;float:left;margin-left:20px;border-left:1px dashed #E5E5E5;border-right:1px dashed #E5E5E5;}
.jiajusheji-box-center ul{margin: 10px 20px 0 20px;}
.jiajusheji-box-center ul li{margin-bottom: 14px;}
.jiajusheji-box-center .dian{display:block;width:6px;height:6px;background:#E6E7E7;border-radius:50%;float: left;margin-top: 5px;}
.jiajusheji-box-center li:hover .dian{background: #DF0015;}
.jiajusheji-box-center a{font-size:14px;font-weight:400;color:#333;line-height:18px;padding-left: 10px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;display: block;}
.jiajusheji-box-center li:hover a{color: #DF0015;}
.jiajusheji-box-right{width:310px;height:330px;float:left;margin-left: 20px;}
.jiajusheji-box-right .brand-zixun{width: 310px;height: 30px;border-bottom:1px dashed #E5E5E5;}
.jiajusheji-box-right .brand-zixun .brand-zixun-icon{width:20px;height: 20px;float: left;}
.jiajusheji-box-right .brand-zixun .brand-zixun-icon img{width: 100%;}
.jiajusheji-box-right .brand-zixun h3{font-size:16px;font-weight:bold;color:#333;line-height:20px;padding-left: 10px;float: left;}
.jiajusheji-box-right .brand-zixun .small-tit{display: inline-flex;padding-left: 15px;}
.jiajusheji-box-right .brand-zixun .small-tit li a{display: inline-block;font-size:14px; font-weight:400;color:#666;line-height:30px;padding-right: 10px;}
.jiajusheji-box-right .brand-zixun .small-tit li:hover a{color: #DF0015;}
.brand-zixun-list{width: 310px;height: auto;padding-top: 10px;}
.brand-zixun-list li{width:100%;height: 25px;display: inline-block;}
.brand-zixun-list .xuhao{width:20px;float: left;font-size:16px;font-weight:bold;color:#333;padding-top: 4px;text-align: center;}
.brand-zixun-list li:hover .xuhao{color: #DF0015;}
.brand-zixun-list-title{height: auto;line-height: 20px;width: 290px;font-size:14px;font-weight:400;color:#333;padding-top: 5px;float: left;margin-bottom: 4px;}
.brand-zixun-list-title span{margin-left: -5px;word-break: break-all;display: inline-block;overflow: hidden;max-height: 20px;display: -webkit-box;padding-left: 10px;
    /* -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; */
    overflow: hidden;}
/* .brand-zixun-list-title::before{float: left;width: 5px; content: '';height: 40px;}
.brand-zixun-list-title::after {float: right;content: '...';height: 20px; line-height: 20px;width: 20px;margin-left: -20px;position: relative;left: 100%;top: -20px;padding-right: 5px;background: #fff;} */

/* 上下间距10px */
.mlr10{margin:0 10px}
/* 超出两行显示省略号 */
.lines{height: 40px;line-height: 20px;overflow: hidden;width: 120px;font-size:14px;font-weight:400;color:#333;padding-top: 5px;
    display: -webkit-box;-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/* .lines span{float: right;margin-left: -5px;width: 120px;word-break: break-all;} */
/* .lines::before{float: left;width: 5px; content: '';height: 40px;}
.lines::after {float: right;content: '...';height: 20px; line-height: 20px;width: 21px;margin-left: -21px;position: relative;left: 100%;top: -20px;padding-right: 5px; */
    /* background: #fff; */
    /* background: -webkit-linear-gradient(left, transparent, #fff 50%);
    background: -o-linear-gradient(right, transparent, #fff 50%);
    background: -moz-linear-gradient(right, transparent, #fff 50%); */
}
.lines:hover{color: #DF0015;}
/* E 家居设计 */
/* S 定制攻略 */
.baoyang {width: 310px;height: 20px;line-height:20px;}
.baoyang .by-pic{width:20px;height: 20px;float: left;}
.baoyang .by-pic img{width: 100%;vertical-align: middle;}
.baoyang h3{font-size:16px;font-weight:bold;color:#333;float: left;margin-left: 10px;line-height: 25px;}
.baoyang-pic{width:310px;height: 170px;margin: 10px 0;position: relative;}
.baoyang-pic p.bg{width: 310px;height: 34px; background: url(/assets/home/housecustom/imgs/zhezhao.png) no-repeat;background-size: 100% 100%;position: absolute;bottom: 0px;overflow: hidden;}
.baoyang-pic p span {font-size: 14px;font-weight: 400; color: #fff;line-height: 30px;padding:0 11px;white-space: nowrap;box-sizing: border-box;}
.baoyang-pic p span:hover{color:#DF0015}
.baoyang-pic img{width:100%;vertical-align: middle;}
.baoyang-down-pic{width:310px;height: auto;}
.baoyang-down-pic .zuo{float: left;}
.baoyang-down-pic .you{float: left;}
.baoyang-down-pic .zuo .tu{width: 150px;height: 80px;margin-right: 10px;}
.baoyang-down-pic .zuo .tu img{width: 100%;vertical-align: middle;}
.baoyang-down-pic .you .tu{width: 150px;height: 80px;}
.baoyang-down-pic .you .tu img{width: 100%;vertical-align: middle;}
.two-line{height: 40px;line-height: 19px;overflow: hidden;width: 150px;font-size:14px;font-weight:400;color:#333;padding-top: 5px;}
.two-line span{float: right;margin-left: -5px;width: 150px;word-break: break-all;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
/* .two-line::before{float: left;width: 5px; content: '';height: 40px;}
.two-line::after {float: right;content: '...';height: 20px; line-height: 20px;width: 23.5px;margin-left: -23.5px;position: relative;left: 100%;top: -20px;padding-right: 5px;background: #fff;} */
.two-line:hover{color: #DF0015;}
/* E 定制攻略 */

.line-two-duan{overflow: hidden;word-wrap: break-word; word-break: normal;display: block;}

/* 轮播 */
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 15px !important;}
.swiper-pagination-bullet {width:20px  !important; height:4px  !important; background:rgba(255,255,255,.5)  !important;border-radius: 0!important;}
.swiper-pagination-bullet-active{background: #fff !important;}
.hengdian{bottom: 15px !important;}
.swiper-pagination-bullets{bottom: 15px !important;
    left: 0 !important;
    width: 100% !important;}
    .swiper-pagination {
        position: absolute;
        text-align: center;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        z-index: 10;
    }
.img-top{position: relative;}
