body {
    min-width: 1210px;
    position: relative;
    height: 100vh;
    background: #f7f7f7
}

/*面包屑*/
.meitu-bread {
    border-top: 1px solid #f1f1f1;
    height: 40px;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #f1f1f1;
    padding: 0 20px;
    background: #f4f4f4;
}

.meitu-bread dl {
    line-height: 40px
}

.meitu-bread dl dd, .meitu-bread dl dt {
    float: left
}

.meitu-bread dl dd {
    margin: 0 5px;
    color: #333
}

.meitu-bread dl dt a {
    color: #333
}

.meitu-bread dl dt a:hover {
    color: #ea3d3d;
    text-decoration: none
}

.meitu-bread dt .font-s {
    font-size: 14px;
    font-weight: normal;
}


.left-sider {
    width: 330px;
    margin-right: 20px;
    overflow: auto;
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 0px;
    height: 810px\0;
}

.right-sider {
    position: absolute;
    right: 370px;
    left: 0;
    top: 90px; /*修改*/
    bottom: 0;
    min-width: 870px;
    height: 800px\0;
}

.right-box {
    padding: 10px 20px;
    font-family: Microsoft YaHei;
    overflow: hidden;
    background-color: #fff;
    margin-top: 20px
}

.right-tit {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px #F7F7F7 dashed;
}

.right-tit-other {
    line-height: 2;
    padding-left: 30px;
    background: url("/assets/home/housecustom/img/other-icon.png") no-repeat 0 4px;
    background-size: 24px 24px;
}
/*超出滚动条设置*/
.left-sider::-webkit-scrollbar-track {
    background: #f7f7f7
}

.left-sider::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    position: absolute
}

.left-sider::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 1px solid #f7f7f7;
    background: #999;
    margin: 1px;
}
/*.left-sider{
    !*隐藏滚动条，当IE下溢出，仍然可以滚动*!
    -ms-overflow-style:none;
    !*火狐下隐藏滚动条*!
    overflow:-moz-scrollbars-none;
}*/

.right-sider .main {
    position: relative;
    height: 100%;
    width: 100%
}

/*图片特效*/
.piccontext {
    position: absolute;
    width: 100%;
    min-width: 880px;
    background: #f7f7f7;
    overflow: hidden;
    bottom: 0;
    top: 0px;
    left: 0
}

/*大图展示*/
.picshow {
    position: absolute;
    left: 20px;
    right: 0;
    top: 0;
    bottom: 10px;
    min-width: 880px;
    background: #fff;
    transition: all 0.1s;
    -moz-transition: all 0.1s; /* Firefox 4 */
    -webkit-transition: all 0.1s; /* Safari and Chrome */
    margin-bottom: 130px;
}

.picshow:hover .pic-zb-btn {
    display: block
}


.imgwrap {
    max-height: 700px;
    width: 1200px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /* overflow: hidden; */
}

.imgwrap img {
    height: 100%
}

.picshowtop {
    vertical-align: middle;
    text-align: center;
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 1;
    /*height: 100%;*/
    top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
}

.picshowtop a {
    max-height: 100%;
    top: 0;
    bottom: 10px;
    height: 100%;
    height: calc(100% - 10px); /*修改*//*transform: translateY(50%);*/
    display: block
}

.picshowtop img {
    width: auto; /*修改*//*transform: translateY(-50%);*/
    width: 100%;
    transition: all 0.2s;
    -moz-transition: all 0.2s; /* Firefox 4 */
    -webkit-transition: all 0.2s; /* Safari and Chrome */
}

#preArrow {
    left: 20px;
    display: block;
    bottom: 0;
    height: 100%;
    width: 50%;
    cursor: url(/assets/home/v3/meitu/images/move_l.cur), auto;
}

#nextArrow {
    right: 0px;
    display: block;
    bottom: 0;
    height: 100%;
    width: 50%;
    cursor: url(/assets/home/v3/meitu/images/move_r.cur), auto;
}

.contextDiv {
    cursor: pointer;
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0px;
    z-index: 5;
}

.contextDiv span {
    position: absolute;
    top: 50%;
    margin-top: -10%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    color: #333;
    font-size: 65px;
    line-height: 47px;
    display: block;
}

/*图库列表*/
.picshowlist {
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    z-index: 11;
    width: 100%;
    background: #f7f7f7;
    height: 140px;
    padding: 15px;
}

.picshowlist_mid {
    position: absolute;
    left: 120px;
    right: 120px;
    display: block;
    height: 110px;
}

.picmidleft {
    float: left;
    width: 24px;
    height: 110px;
    overflow: hidden;
    line-height: 90px;
    font-size: 50px;
}

.picmidleft a {
    display: block;
    width: 24px;
    height: 110px;
    color: #666
}

.picmidmid {
    position: absolute;
    height: 120px;
    left: 30px;
    right: 30px
}

.picmidmid ul li.hide {
    display: none;
}

.picmidmid ul {
    width: 1200px;
    position: relative;
    overflow: hidden;
    height: 110px;
    margin: 0 auto
}

.picmidmid ul li {
    float: left;
    margin-left: 8px;
    margin-top: 5px;
    display: inline;
    width: 110px;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 110px
}

.picmidmid ul li img {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #fff
}

.selectpic {
    border: 2px solid #ea3d3d !important;
    width: 100%
}

.picmidright {
    float: right;
    width: 24px;
    height: 110px;
    overflow: hidden;
    line-height: 90px;
    font-size: 50px;
}

.picmidright a {
    display: block;
    width: 24px;
    height: 110px;
    color: #666
}

.picshowlist_right {
    width: 70px;
    float: right
}

.picshowlist_right span {
    display: block;
    background: rgba(0, 0, 0, .6);
    top: 5px;
    right: -5px;
    color: #fff;
    position: absolute;
    width: 70px;
    height: 50px;
    font-family: "Microsoft Yahei";
    padding-top: 20px;
    text-align: center
}


/*图片信息*/
.more-xgt {
    overflow: hidden;
    width: 310px
}

.more-xgt li {
    position: relative;
    width: 140px;
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}

.more-xgt li img {
    width: 140px;
    height: 105px;
}

.more-xgt li p {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    width: 140px;
    overflow: hidden;
}

/*图片详细信息*/
.right-info-text {
    font-size: 16px;
    color: #666;
    line-height: 36px;
}

.right-info-text span {
    margin-left: 10px;
}

.imgsize {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: .5s all ease;
}


/*S-图片描述*/
#imgsize-info {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0px;
    /* left: 50%;  */
    /* transform: translateX(-50%);  */
    color: rgb(255, 255, 255);
    text-align: left;
    z-index: 10;
}

.text-p {
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    padding: 0px 6px;
    float: left;
    line-height: 28px;
    width: calc(100% - 75px);
    width: -webkit-calc(100% - 75px);
}

.text-p a {
    display: inline-block;
    color: #fff;
    background: none !important;
    width: auto !important;
    height: auto !important;
}

#show-info {
    float: right;
    width: 60px;
    height: 60px;
    background: none;
    text-align: center;
}

#show-info i {
    line-height: 60px;
    font-size: 36px;
    cursor: pointer;
    color: #fff;
}

/* S 预报价成功弹窗 */
.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 15;
    display: none;
}

.success-box {
    width: 360px;
    height: 120px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-180px, -150px);
    box-sizing: border-box;
    background: #fff;
    box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
    z-index: 20;
    border-radius: 16px;
}

.success-title {
    width: 60%;
    height: 30px;
    margin: auto
}

.success-title h3 {
    height: 36px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 83, 83, 1);
    line-height: 36px;
    margin-top: 40px;
}

.guanbi {
    width: 20px;
    height: 20px;
    float: right;
    padding: 10px;
    cursor: pointer;
}

.guanbi img {
    width: 100%;
    vertical-align: middle;
}

.success-title .duigou {
    width: 30px;
    height: 30px;
    float: left;
    line-height: 30px;
    padding-right: 10px;
}

.success-title .duigou img {
    width: 100%;
    vertical-align: middle;
}

.success-text {
    width: 160px;
    height: 36px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 36px;
    margin: auto
}

/* E 预报价成功弹窗 */
