page{
    height: 100%;
    overflow: hidden;
}
.container{
    padding-bottom: 30rpx;
    height: calc(100% - 120rpx);
    overflow: auto;
}
.flag-group{
    margin:10px 20rpx;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 10px;
}
.flag-item{
    display: inline-block;
    width: 100%;
    font-size: 28rpx;
    writing-mode: lr-tb;
    margin-bottom: 10px;
}
.flag-item .nav{
    display: table;
    width:95% !important;
    margin: 0px auto;
    text-align: center;
    background:#F3F8F8;
    color:#333;
    height: 80rpx;
    border-radius: 10rpx;
    position: relative;
}
.flag-item .nav view{
    display: table-cell;
    vertical-align: middle;
}
.flag-item .nav view text{
    display: block;
    width:300rpx;
    margin:0px auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 28rpx;
}
.hot-flag{
    width:60rpx;
    height: 30rpx;
    background: #ff5353;
    color:#fff;
    text-align: center;
    line-height: 30rpcx;
    border-top-right-radius: 20rpx;
    border-bottom-left-radius: 20rpx;
    position: absolute;
    top:0px;
    right:0px;
    font-size:20rpx;
}