article{ background:linear-gradient(#5D2FAC 10%, #38349B);}
.have_bg{
    background:url(/assets/mobile/meitu/img/bg_two.jpg);
    background-size: 100% 100%;
}
.no_bg{
    background:linear-gradient(#5D2FAC 10%, #38349B);
}
/*.wrap:nth-child(1){display: none;}*/
/*.wrap:nth-child(1) .xuanzdaoh{width:94%;margin: 0 auto;margin-top: 0.11rem;margin-bottom:0.13rem;overflow: hidden;height: 0.4rem;
background: url(/assets/mobile/meitu/img/xuanzdaoh.png) no-repeat;background-size: 100% 100%;}*/
.wrap .xuanzdaoh{
    width:94%;
    margin: 0 auto;
    margin-top: 0.11rem;
    margin-bottom:0.13rem;
    overflow: hidden;
    overflow: hidden;
    height: 0.4rem;
}
.wrap .xuanzdaoh ul li{
    position: absolute;
    width:31%;
    height: 0.4rem;
    background:url("/assets/mobile/meitu/img/step_bg.png");
    background-size: 100% 100%;
    text-align: center;
    line-height: 0.4rem;
    color:#fff;
}
.wrap .xuanzdaoh ul li:nth-child(2){
    margin-left: 29%;
}
.wrap .xuanzdaoh ul li:nth-child(3){
    margin-left: 58%;
}
.wrap .xuanzdaoh ul li.active{
    background:url("/assets/mobile/meitu/img/step_bg_active.png");
    background-size: 100% 100%;
    color:#02F0FF;
}
.wrap:nth-child(2){display: none;}
/*.wrap:nth-child(2) .xuanzdaoh{width:94%;margin: 0 auto;margin-top: 0.11rem;margin-bottom:0.13rem;overflow: hidden;height: 0.4rem;
background: url(/assets/mobile/meitu/img/02.png) no-repeat;background-size: 100% 100%;}*/
.wrap:nth-child(3){display: none;}
/*.wrap:nth-child(3) .xuanzdaoh{width:94%;margin: 0 auto;margin-top: 0.11rem;margin-bottom:0.13rem;overflow: hidden;height: 0.4rem;
background: url(/assets/mobile/meitu/img/03.png) no-repeat;background-size: 100% 100%;}*/
.tishilx{width: 94%;margin: 0 auto;font-size:0.15rem;color: #fff; }
.tishilx span{color: #02F0FF;font-size:0.15rem;margin-left: 0.05rem;}
.tishilx2{color: #fff !important;font-size: 0.13rem;text-align: center;margin-top:0.31rem;}
.tishilx2 span{color: #02F0FF !important;margin-left:0rem !important;font-size:0.14rem;}
.zongtikz{width: 94%;overflow: hidden;margin: 0 auto;margin-top: 0.125rem;}
.zongtikz li .item li{display: inline-block;float: left;width:48.5%;overflow: hidden;text-align: center;
font-size: 0.13rem;color: #333;}
.zongtikz li .item li:nth-child(odd){margin-right: 3%;}
.zongtikz li .item li img{width: 100%;height: 1.02rem;opacity: 0.7;display: block}
.zongtikz li .item li .bianjv{margin: 0.1rem 0 0.2rem 0;color:#fff;cursor:pointer;}
.yanse{color: #0BC0DC!important;}
.zongtikz li .item li .bianjv:before{margin-right: 0.05rem;}
.niukangzi{width: 94%;margin: 0 auto;}
.niukangzi .sure{width: 100%;height: 0.45rem;line-height: 0.45rem;text-align: center;font-size: 0.17rem;margin-top: 0.4rem;
border-radius: 5px;margin-bottom: 0.05rem;background: url("/assets/mobile/meitu/img/bottom_btn.png");background-size:100% 100%;color:#FF2371}
.niukangzi .sure3{width: 100%;height: 0.45rem;line-height: 0.45rem;text-align: center;font-size: 0.17rem;border-radius: 5px;margin-bottom: 0.05rem;color:#FF2371;background: url("/assets/mobile/meitu/img/bottom_btn.png");background-size: 100% 100%;}
.niukangzi .chongxuan{width: 100%;height: 0.45rem;line-height: 0.45rem;text-align: center;color: #fff;font-size: 0.17rem;margin-bottom: 0.2rem;background: url("/assets/mobile/meitu/img/bottom_back.png");background-size: 100% 100%;}
.hide{display: none;}
.dibujvli{margin-bottom: 0.35rem !important;}
/*.xuanzniu{background: #ff5354 !important;}*/
.topbianjv{margin-top: 0.42rem;}
.img_border_box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 0.12rem;
    background-image: -webkit-linear-gradient(top, #2FBDFF 0%, #2E29FF 90%);
    background-image: -moz-linear-gradient(top, #2FBDFF 0%, #2E29FF 90%);
    background-image: linear-gradient(top, #2FBDFF 0%, #2E29FF 90%);
}
.img_border{
    width:100%;
    height:100%;
    border-radius:0.12rem;
    overflow: hidden;
    background: #0B0A45;
}
.s_img_border{
    border:2px #2FBDFF solid;
    border-radius:0.12rem;
    overflow: hidden;
    background: #0B0A45;
}
.shenmilh{width: 94%;margin: 0.125rem auto;height: 1.8rem;background: url(/assets/mobile/meitu/img/shenmilihe.jpg) no-repeat;
background-size: 100% 100%;}
.tianxiems{width: 94%;margin: 0.125rem auto;font-size: 0.13rem;color: #fff;text-align: center;margin-top:1.9rem;}
.shurukz{width: 94%;margin: 0 auto;}
.input_bg{
    background: url(/assets/mobile/meitu/img/input_bg.png);
    background-size: 100% 100%;
    height:0.42rem;
}
.shurukz input{
    outline: none;
    width: 100%;
    line-height: 0.25rem;
    border: 0;
    background: none;
    padding-left: 0.2rem;
    height: 0.42rem;
    font-size:0.13rem;
}
.tishixx{width: 94%;margin: 0 auto;font-size: 0.11rem;color: #ff0000;display: none;padding-left:0.17rem;}
.yinying{width: 100%;height: 100%;position:fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.8);
 display: none;}
.popup{width: 2.25rem;height: 1.66rem;position: fixed;top: 0;left: 0;bottom: 0;right: 0;margin: auto;border-radius: 5px;background: url("/assets/mobile/meitu/img/success.png");background-size: 100% 100%;display: none;}
.popup .title{text-align: center;font-size: 0.16rem;color: #fff;margin-top: 0.39rem;margin-bottom: 0.12rem;}
.popup .title_vice{font-size: 0.1rem;color: #fff;text-align: center;}
.popup .quedingniu{
    height: 0.27rem;
    width: 0.88rem;
    border: 1px solid rgba(0,255,255,1);
    text-align: center;
    line-height: 0.27rem;
    font-size: 0.16rem;
    color: #FFF100;
    margin: 0 auto;
    margin-top: 0.24rem;
}

.gundong{width: 100%;height:100%;overflow: hidden;position: fixed;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;display: none;z-index: 99;}
.gundong .guanbi{color: #fff;display: inline-block;position: fixed;top:0.5rem;right: 0.2rem;font-size: 0.15rem;}
.gundong .suoyinjs{color: #fff;font-size: 0.13rem;text-align: left;
position: fixed;top: 0.5rem;left: 0.1rem;}

.swiper-container{height:2.4rem;position: absolute;top: 0;bottom: 0;left: 0;right: 0;
margin:auto;}
.slider-box ul{height: 2.4rem;position: relative;}
.slider-box ul li{height:2.4rem;float: left;list-style: none;}
.slider-box ul li img{width: 100%;height: 100%;}
.swiper-box{
    margin:0 0.5rem;
    max-height: 2.1rem;
}
.swiper-pagination-fraction{
    text-align: center;
    color: #fff;
    margin-top: -0.16rem;
}
.swiper-button-prev{
    width:17px;
    height: 34px;
    background: url("/assets/mobile/meitu/img/left.png");
    background-size: 100% 100%;
}
.swiper-button-next{
    width:17px;
    height: 34px;
    background: url("/assets/mobile/meitu/img/right.png");
    background-size: 100% 100%;
}
.swiper-closebtn{
    width:0.2rem;
    height: 0.2rem;
    background: url("/assets/mobile/meitu/img/close.png");
    background-size: 100% 100%;
    position: absolute;
    top: 1rem;
    right: 0.3rem;
    z-index:9999;
    cursor: pointer;
}
.popup-closebtn{
    position: absolute;
    width: 36px;
    height: 36px;
    right: 0;
    top: -35px;
}
.popup-closebtn img{
    width:100%;
    height: 100%;
}
