.user-titbtn a{
    display: inline-block;
    padding: 5px 10px;
    color:#333;
}
.user-titbtn a:hover{
    color: #367fa9;
}
.user-condition label{
    font-weight: normal;
    float: left;
    height: 34px;
    line-height: 34px;
}
.user-condition>div{
    margin-bottom: 15px;
}
.col-xs-4 input{
    width:35%!important;
    display: inline-block;
}
.col-xs-2 select{
    width:80%!important;
}
.col-xs-2 input{
    width:70%!important;
}
.user-search{
    margin-right: 15px;
}
.col-xs-4 button{
    outline: none;
}
.user-chongzhi{
    background:#fff;
    border:1px #ccc solid;
    color: #333;
}
.tablelist tbody tr{
    height: 60px!important;
}
.tablelist tbody tr td{
    padding:0 !important;
    line-height: 60px!important;
}
.tablelist .weixin{
    background: #09bb07;
    color: #fff;
    font-size: 16px;
    padding: 4px;
    border-radius: 5px;
}
.tablelist .icon_qq{
    margin-right: 3px!important;
    cursor: pointer;
}
.tablelist .weibo{
    background: #e73736;
    color: #fff;
    font-size: 16px;
    padding: 4px;
    border-radius: 50%;
}
.paixu span{
    width:8px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.paixu span>a{
    display: block;
    width: 15px;
    height: 8px;
    overflow: hidden;
}
.paixu span i{
    color:#ccc;
    /* position: absolute; */
    /* left: 0; */
    font-size:16px !important;
    height: 8px!important;
    width:15px;
}
.paixu span i.active{
    color:#333;
}
.paixu span .fa-sort-desc{
    line-height: 0;
    position: relative;
    top: -8px;
    z-index: 1;
}


