.base-info{
    padding-left: 30px;
    margin-top: 15px;
    font-size: 16px;
}
.col-xs-4{
    height: 40px;
    line-height: 40px;
}
.col-xs-4 span:first-child{
    display: inline-block;
    width:110px;
    text-align: left;
    float: left;
}
.user-info{
    float: left;
}
.user-type{
    width:50%;
    float: left;
    display: none;
}
.user-type span{
    color:#367fa9;
    cursor: pointer;
}
#type{
    width: 50%;
    float: left;
    margin-right: 15px;
}
.address{
    height: 40px;
    line-height: 40px;
}
.address span:first-child{
    display: inline-block;
    width:110px;
    text-align: left;
}
.padd-r{
    margin-right:15px;
}
.black-btn,.commit-address,.uesr-cancel{
    color:#367fa9;
    cursor: pointer;
}
.weixin{
    background: #09bb07;
    color: #fff;
    font-size: 16px;
    padding: 4px;
    border-radius: 5px;
}
.icon_qq{
    width:22px!important;
    height: 22px!important;
    margin-right: 3px;
    cursor: pointer;
}
.weibo{
    background: #e73736;
    color: #fff;
    font-size: 16px;
    padding: 4px;
    border-radius: 50%;
}
tbody tr{
    height: 60px!important;
    line-height: 60px!important;
}
tbody tr td{
    height: 60px!important;
    line-height: 60px!important;
}
tbody img{
    width: 40px;
    height: 40px;
}
/*拉黑弹窗*/
.forbid-modal-mask{
    width:100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    background: rgba(0,0,0,0.7);
    display: none;
}
.forbid-modal-content{
    width:500px;
    height: 300px;
    background:#fff;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
}
.forbid-modal-top{
    height: 45px;
    line-height: 46px;
    border-bottom: 1px #ccc solid;
    padding-left:20px;
    position: relative;
    font-size: 18px;
}
.forbid-closebtn{
    position: absolute;
    display: inline-block;
    right: 15px;
    font-size:30px;
    cursor: pointer;
}
.forbid-modal-reason{
    padding:15px;
}
.forbid-tit{
    color:red;
}
.forbid-modal-btn{
    margin-top:15px;
    position: absolute;
    right: 15px;
}
.cancelbtn{
    margin-right: 15px;
}
