/**
 * @file index.css
 * @author swan
 * 选择器命名规则：p-xxx (xxx:未小写英文字母)
 */

 /* 阿里图标 */

@import "./iconfont.css";
 /* 页面根节点样式 */
 page{
     padding:0px;
     display: block;
     height: 100%;
     font-family: "微软雅黑";
 }

/* 阿里图标 */
@font-face {
  font-family: 'iconfont';  /* project id 1203032 */
  src: url('./iconfont.eot');
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont.woff2') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont/#iconfont') format('svg');
}
.p-left{
    float: left
}
.p-right{
    float: right
}
input,textarea{
    color:#333!important;
}
::-webkit-scrollbar{
width: 0;
height: 0;
color: transparent;
}
.p-owf{
    overflow: hidden
}
 
.disclaimer{
    font-size: 30rpx;
    color: #fff;
    width:79%;
    margin:0px auto;
}
.mznav{
    display: inline;
    color: #1AABFF
}