
.labelleft{margin-left: 20px;}
.titlegl{position: relative;top: 8px;}
.resetbtn{margin-left: 20px;}
.shownumber-title{display: inline-block;line-height: 33px;}
.shownumber-select{display: inline-block;width: 100px;}
.deldata{color: #fe002d;display: inline-block;margin-left: 10px;padding-left: 10px;border-left: 1px solid #cccccc;
cursor: pointer;}

.delbatch{display: inline-block;padding: 5px 10px;border: 1px solid #ccc;border-radius: 5px;
cursor: pointer;line-height: normal;}
.positionwz-title{display: inline-block;}
.lineheightwk{vertical-align: middle;line-height: 38px;}
.tishicontent{font-size: 16px;margin-top: 16px;}
.tishiiconwk{margin-left: 22px;}
.tishiiconwk .fa-exclamation-circle{font-size: 20px;color: #ff9801;margin-right: 8px;}


















