<div class="main-header">
    <div class="container">
        <img src="/assets/common/img/logo.png"/><em>|<a href="/main">个人中心</a></em>
        <div class="btn-group pull-right header-dropdown">
            <a class="purple" href="javascript:void(0)" data-toggle="dropdown">
            <i class="icon-user"></i> {$Think.session.uc_userinfo.name}
            <i class="icon-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/basic"><i class="icon-cog"></i> 个人设置</a></li>
                <if condition="in_array(1,$menu) || session('uc_userinfo.uid') EQ 1">
                    <li><a href="/rbac"><i class="icon-cog"></i> 权限设置</a></li>
                </if>
                <if condition="session('uc_userinfo.uid') EQ 1">
                    <li><a href="/loginset"><i class="icon-signin"></i> 登录设置</a></li>
                    <li><a href="/globalset"><i class="icon-signin"></i> 全局设置</a></li>
                </if>
                <li class="divider"></li>
                <li><a href="/loginout"><i class="icon-signout"></i> 退出</a></li>
            </ul>
        </div>
    </div>
</div>