<div class="col-sm-3 page-sidebar nav-collapse basic-left">
    <div class="row">
        <ul class="page-sidebar-menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="icon-user"></i> 个人资料
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-1"><a href="/basic">基本资料</a></li>
                    <li class="sub-menu-mytel"><a href="/clinkvoip">网络电话(VOIP电话)</a></li>
                    <li class="sub-menu-portrait"><a href="/portrait">修改头像</a></li>
                    <li class="sub-menu-4"><a href="/account">安全设置</a></li>
                    <li class="sub-menu-password"><a href="/password">修改密码</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(".page-sidebar .sub-menu-"+"{$navIndex}").addClass('active');
</script>