<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><![endif]-->
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>个人信息-用户中心</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/assets/common/css/bootstrap.min.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/bootstrap-responsive.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/style-metro.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/home/css/main.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <script src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
</head>
<body>
    <include file="Main:header" />
    <div class="container mt10 inner-box basic-box">
        <div class="row">
            <include file="Main:navleft" />
            <div class="col-sm-9 basic-right">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="basic-setting-title">
                            <h3>修改密码</h3>
                        </div>
                        <form class="form-horizontal password-form mt10" >
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2 alert alert-danger text-center hide">
                                    <button class="close" data-dismiss="alert"></button>
                                    <span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label visible-ie8 visible-ie9">原密码:</label>
                                <div class="col-sm-5 input-icon">
                                  <input type="password" class="form-control required" placeholder="原始密码" name="password">
                                </div>
                                <span class="tips-message"></span>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label visible-ie8 visible-ie9">新密码:</label>
                                <div class="col-sm-5 input-icon">
                                  <input type="password" class="form-control  passwordAgin" id="newpassword" placeholder="请输入6-18位由数字、字母或特殊符号组成的密码" name="newpassword ">

                                </div>
                                 <span class="tips-message"></span>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label visible-ie8 visible-ie9">重复密码:</label>
                                <div class="col-sm-5 input-icon">
                                  <input type="password" class="form-control required" placeholder="重复密码" name="confirmpassword">
                                </div>
                                 <span class="tips-message"></span>
                            </div>
                            <if condition="session('uc_userinfo.safe_tel') NEQ ''">
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">手机验证:</label>
                                <div class="col-sm-2">
                                    <input type="text" name="code" class="form-control" />
                                </div>
                                <span class="tips-message"></span>
                                <div class="col-sm-2">
                                    <button id="btnCode" type="button" class="btn btn-block blue">发送验证码</button>
                                </div>
                                <div class="col-sm-4">
                                <i class="message">绑定手机后，需要短信验证</i>
                                </div>
                            </div>
                            </if>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-2">
                                    <button id="btnSave" type="button" class="btn btn-block blue">保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/common/js/jquery-migrate-1.2.1.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/bootstrap.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/placeholders.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/jquery.validate.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/home/js/basic.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script type="text/javascript">


    $("#btnSave").click(function(event) {
        $(".tips-message").text("");
        $("input").blur();
        var password=$("input[name=password]").val();
        if(password==""){
            $("input[name=password]").parent().next(".tips-message").text("请填写原始密码");
            $("input[name=password]").focus();
            return false;
        }
        var newpassword=$("#newpassword").val();
        console.log(newpassword)
        if(newpassword==""){
            $("#newpassword").parent().next(".tips-message").text("请填写新密码");
            $("#newpassword").focus();
            return false;
        }

        if(!testPassword(newpassword)){
            $("#newpassword").parent().next(".tips-message").text("请输入6-18位由数字、字母或特殊符号组成的密码");
            $("#newpassword").focus();
            return false;
        }

        var confirmpassword=$("input[name=confirmpassword]").val();
        if(confirmpassword==""){
            $("input[name=confirmpassword]").parent().next(".tips-message").text("请填写确认密码");
            $("input[name=confirmpassword]").focus();
            return false;
        }
        if(confirmpassword!=newpassword){
            $("input[name=confirmpassword]").parent().next(".tips-message").text("确认密码不正确");
            $("input[name=confirmpassword]").focus();
            return false;
        }


       $.ajax({
            url: '/password',
            type: 'POST',
            dataType: 'JSON',
            data: {
                password:$("input[name=password]").val(),
                newpassword:$("#newpassword").val(),
                confirmpassword:$("input[name=confirmpassword]").val(),
                code:$("input[name=code]").val()
            }
        })
        .done(function(data) {
            $(".alert-danger").removeClass('hide').find("span").html(data.info);
            if(data.status == 1){
                setTimeout(function(){
                    window.location.href = window.location.href;
                },1000);
            }
        })
        .fail(function(xhr) {
            $(".alert-error").html("系统异常,请联系技术部门！");
        });
    });



    $("#btnCode").click(function(event) {
        $(".alert-danger").addClass('hide');
        $(this).attr("disabled","disabled");
        setInt($(this));
        $.ajax({
            url: '/sendsms',
            type: 'POST',
            dataType: 'JSON',
            data: {
                channel:"yuntongxun"
            }
        })
        .done(function(data) {
            $(".alert").removeClass("hide").find("span").html(data.info);
        })
        .fail(function(xhr) {
           $(".alert").removeClass("hide").find("span").html("系统异常,请联系技术部门！");
        });
    });

    function setInt(o){
        var i = 60;
        var text = o.text();
        var timmer = setInterval(function(){
            o.html("重新发送"+"(S"+i+")");
            i--;
            if(i < 0){
                clearInterval(timmer);
                o.attr("disabled",false);
                o.html(text);
            }
        }, 1000);
    }
    function testPassword(str){
       var reg= /(?!^(\d+|[a-zA-Z]+|[~!@#$%^&*?(){}\\\_=;:"'|/<>【】\[\]《》。.,\+\-]+)$)^[\w~!@#$%^&*?(){}【】\[\]\\\_=;:"'|/<>《》。.,\+\-]{6,18}$/;
        if(reg.test(str)){
            return true
        }else{
            return false
        }
    }

</script>
</html>