<div class="mark"></div>
<!-- 新增角色 -->
<div class="add-member member-box">
        <div class="title">{$menu_title}</div>
        <div class="group choose-tit">
            <span class="group-title">类型:</span>
            <input class="leixing" type="radio" name="module" id="mulu" checked value="1"><label for="mulu">目录</label>
            <input class="leixing" type="radio" name="module" id="caidan" value="2"><label for="caidan">菜单</label>
            <input class="leixing" type="radio" name="module" id="button" value="3"><label for="button">按钮</label>
        </div>
        <div class="caidan caidan1">
            <form>
            <div class="group">
                <span class="group-title"><span class="red">*</span>目录名称:</span>
                <input type="text" maxlength="5" placeholder="请输入目录名称"  name="menu_name" class="form-control" value="{$info.menu_name}" style="margin-left: -2px; width: 200px; display: inline-block">
            </div>
            <div class="group">
                <span class="group-title"><span class="red">*</span>图标:</span><input type="text" placeholder="请输入图标Font class" name="icon" class="form-control" value="{$info.icon}" style="width: 200px; display: inline-block">
                <div class="tips">注: 使用iconfont,自定义字体图标</div>
            </div>
            <div class="group">
                <span class="group-title"><span class="red">*</span>排序:</span>
                <input type="number" placeholder="排序" name="px" maxlength="4" class="form-control" style="width: 200px; display: inline-block" value="{$info.px}">
            </div>
            </form>
        </div>
        <div class="caidan caidan2">
            <form>
            <div class="group">
                <span class="group-title"><span class="red">*</span>菜单名称:</span>
                <input type="text" placeholder="请输入菜单名称"  name="menu_name" value="{$info.menu_name}"  class="form-control" style="width: 200px; display: inline-block">
            </div>
            <div class="group">
                <span class="group-title"><span class="red">*</span>链接:</span><input type="text" name="link" placeholder="请输入菜单链接" value="{$info.link}"  class="form-control" style="width: 200px; display: inline-block">
            </div>
            <div class="group">
                <span class="group-title"><span class="red">*</span>上级目录:</span>
                <select name="parent_node_id" type="text" class="form-control" style="width:200px;display:inline-block">
                    <option  value="">请选择</option>
                    <volist name="dropmenu" id="vo">
                        <if condition="$vo['menu_node_id'] EQ $info['parent_node_id'] " >
                            <option value="{$vo.menu_node_id}" selected>{$vo.menu_name}</option>
                        <else/>
                        <option value="{$vo.menu_node_id}">{$vo.menu_name}</option>
                        </if>
                    </volist>
                </select>
            </div>
            <div class="group">
                <span class="group-title"><span class="red">*</span>排序:</span>
                <input type="number" placeholder="根据菜单属性添加排序" maxlength="4" name="px" class="form-control" style="width: 200px; display: inline-block" value="{$info.px}">
            </div>
            </form>
        </div>
        <div class="caidan caidan3">
            <form>
            <div class="group">
                <span class="group-title"><span class="red">*</span>按钮名称:</span>
                <input type="text" placeholder="请输入菜单名称"  name="menu_name" value="{$info.menu_name}" class="form-control" style="width: 200px; display: inline-block">
            </div>
            <div class="group">
                <span class="group-title"><span class="red">*</span>按钮标识:</span>
                <input type="text" placeholder="按钮标识"  name="menu_mark" value="{$info.menu_mark}" class="form-control" style="width: 200px; display: inline-block">
            </div>
            <div class="group">
                <span class="group-title"><span class="red">*</span>上级菜单:</span>
                <select name="parent_node_id" type="text" class="form-control" style="width:200px;display:inline-block">
                    <option value="">请选择</option>
                    <volist name="dropMenuchild" id="vo">
                        <optgroup label="{$vo.menu_name}" data-id="{$vo.menu_node_id}">
                        <volist name="vo.child" id="v">
                            <if condition="$v['menu_node_id'] EQ $info['parent_node_id'] " >
                                <option value="{$v.menu_node_id}" selected>{$v.menu_name}</option>
                            <else/>
                                <option value="{$v.menu_node_id}">{$v.menu_name}</option>
                            </if>
                        </volist>
                        </optgroup>
                    </volist>
                </select>
            </div>
            </form>
        </div>
        <div class="group">
            <span class="group-title"><span class="red">*</span>状态:</span>
            <if condition="!isset($info) OR $info['is_enabled'] EQ 1">
                <label><input class="statusLabel" name="enabledpop" type="radio" value="1" checked />开启</label>
                <label><input class="statusLabel" name="enabledpop" type="radio" value="2" />关闭</label>
            <else/>
            <label><input class="statusLabel" name="enabledpop" type="radio" value="1"  />开启</label>
            <label><input class="statusLabel" name="enabledpop" type="radio" value="2" checked />关闭</label>
            </if>
        </div>
        <div class="group">
            <div class="group-textarea" >描述:</div><textarea maxlength="1000" placeholder="请填写描述" name="description" class="areatext form-control" cols="30" rows="3" style="width: 250px; display: inline-block"  >{$info.description}</textarea>
        </div>
        <div class="anniu">
            <div class="quxiao">取消</div>
            <div id="btnSave" class="baocun">保存</div>
            <input type="hidden" name="id"  value="{$info.id}"/>
        </div>
    </form>
</div>
<script type="application/javascript">

    var maskHeight = $(".wrapper").height()
    $(".mark").css("height", maskHeight+"px");
    $("[name=parentid]").val("{$info.parent_node_id|default=0}");
    // 取消
    $('.quxiao').click(function(){
        $('.mark').remove();
        $('.add-member').remove();
    });

    // 菜单类型切换
    $('input[name=module]').change(function () {
        var index = $(this).val()
        $(".caidan").hide();
        $(".leixing").attr("checked",false).prop("checked",false)
        $(this).attr("checked","checked").prop("checked",true);
        $(".caidan"+index).show()

        switch (index) {
            case "1":
                $("input[name=menu_name]").attr("placeholder","请输入目录名称");
                break;
            case "2":
                $("input[name=menu_name]").attr("placeholder","请输入菜单名称");
                break;
            case "3":
                $("input[name=menu_name]").attr("placeholder","请输入按钮名称");
                break;
        }
    })
    $("input[name=module]").attr("checked",false).eq({$info.menu_level|default=1}-1).attr("checkec","checked").prop("checked",true).trigger("change");
    $("input[name=enabledpop]").change(function(){
        $("input[name=enabledpop]").attr("checked",false)
        $(this).attr("checked","checked").prop("checked",true);
    });

    // 保存
    $("#btnSave").click(function(event) {
        var index = $("input[name=module]:checked").val();
        var data = $(".caidan" + index).find("form").serializeArray();
        data.push({"name":"module","value":index});
        data.push({"name":"enabled","value":$("input[name=enabledpop]:checked").val()});
        data.push({"name":"description","value":$("textarea[name=description]").val()});
        data.push({"name":"id","value":$("input[name=id]").val()});
        data.push({"name":"model","value":$(".nav-link.active").attr("data-value")});

        // 验证
        $.ajax({
            url: '/companysystem/menuup',
            type: 'POST',
            dataType: 'JSON',
            data: data
        }).done(function(data) {
            if (data.error_code == 0) {
                alert(data.error_msg);
                window.location.href = window.location.href;
            } else {
                alert(data.error_msg);
            }
        });
    });

</script>