<extend name="Main:baseTemplate" />
<block name="style">
    <link rel="stylesheet" type="text/css"
          href="/assets/home/CompanySystem/css/CompanySystem.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="title">
    <!-- 标题 -->
    <title>角色管理</title>
</block>
<block name="content">
    <!-- 顶部标题 -->
    <section class="content-header">
        <h1>角色管理</h1>
        <!-- 面包屑导航 -->
        <ol class="breadcrumb">
            <li>
                <a href="/"><i class="fa fa-dashboard"></i> 控制面板</a>
            </li>
            <li><a href="/">设置权限</a></li>
        </ol>
    </section>
    <!-- 页面内容 -->
    <section class="content">
        <div class="inbox">
            <div class="rolesubject">
                <!-- 添加角色 -->
                <div class="role">
                    <div class="addroletitle">
                        <div>添加角色</div>
                    </div>
                    <!-- 添加角色选择项 -->
                    <form id="myForm">
                        <div class="selrole">
                            <div>
                                <div>
                                    <span class="start">*</span>
                                    角色类型：
                                </div>
                                <div>
                                    <select name="role_group" class="item input">
                                        <option value="">请选择角色类型</option>
                                        <option value="0">超管</option>
                                        <option value="1">客服类</option>
                                        <option value="2">派单类</option>
                                        <option value="3">设计类</option>
                                        <option value="4">网店类</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span class="start">*</span>
                                    角色名称：
                                </div>
                                <div>
                                    <input type="text" class="item input" placeholder="请输入角色名称" name="role_name"
                                           value="{$info.role_name}">
                                    <div class="careful">注：角色名称不宜过长，推荐3～6个字较为适宜，不得出现字母以及数字</div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span class="start">*</span>
                                    角色描述：
                                </div>
                                <div class="textarea">
                  <textarea class="item" placeholder="请填写角色描述" name="description" cols="30"
                            rows="10">{$info.description}</textarea>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$info.id}" />
                    </form>
                </div>
                <!-- 权限控制 -->
                <div class="jurisdiction">
                    <div class="addroletitle">
                        <div>权限设置</div>
                        <div class="empty">
                            <div><a style="color:#aaa;" href="javascript:history.back(-1)">返回</a></div>
                        </div>
                    </div>
                    <ul class="typeName">
                        <li class="active" data-value="1">常规会员</li>
                        <li data-value="2">新签返会员</li>
                        <li data-value="3">常规标杆会员</li>
                        <li data-value="4">新签返标杆会员</li>
                    </ul>
                    <div class="con">
                        <ul class="list show" data-value="1">
                            <volist name="menu_list.normal" id="vo">
                                <li>
                                    <div class="li">
                                        <div class="arrow"></div>
                                        {$vo.menu_name}
                                    </div>
                                </li>
                                <li>
                                    <ul class="list show">
                                        <volist name="vo.child" id="v">
                                            <div class="li">
                                                <if condition="$v['menu_check'] EQ 1">
                                                    <div class="else-list selJob" data-id="{$v.menu_node_id}" data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                <else/>
                                                    <div class="else-list " data-id="{$v.menu_node_id}"  data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                </if>
                                            </div>
                                            <if condition="count($v['child']) GT 0">
                                                <div class="li" style="margin-left: 100px;">
                                                    <volist name="v.child" id="i">
                                                        <if condition="$i['menu_check'] EQ 1">
                                                            <div class="else-list child-else selJob" data-id="{$i.menu_node_id}"> {$i.menu_name}</div>
                                                        <else/>
                                                            <div class="else-list child-else" data-id="{$i.menu_node_id}"> {$i.menu_name}</div>
                                                        </if>
                                                    </volist>
                                                </div>
                                            </if>
                                        </volist>
                                    </ul>
                                </li>
                            </volist>
                        </ul>
                        <ul class="list" data-value="2">
                            <volist name="menu_list.qian" id="vo">
                                <li>
                                    <div class="li">
                                        <div class="arrow"></div>
                                        {$vo.menu_name}
                                    </div>
                                </li>
                                <li>
                                    <ul class="list show">
                                        <volist name="vo.child" id="v">
                                            <div class="li">
                                                <if condition="$v['menu_check'] EQ 1">
                                                    <div class="else-list selJob" data-id="{$v.menu_node_id}"  data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}" data-model="{$v.model}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                    <else/>
                                                    <div class="else-list " data-id="{$v.menu_node_id}"  data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}" data-model="{$v.model}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                </if>
                                            </div>
                                            <if condition="count($v['child']) GT 0">
                                                <div class="li" style="margin-left: 100px;">
                                                    <volist name="v.child" id="i">
                                                        <if condition="$i['menu_check'] EQ 1">
                                                            <div class="else-list child-else selJob" data-id="{$i.menu_node_id}" data-model="{$i.model}"> {$i.menu_name}</div>
                                                        <else/>
                                                            <div class="else-list child-else" data-id="{$i.menu_node_id}" data-model="{$i.model}"> {$i.menu_name}</div>
                                                        </if>
                                                    </volist>
                                                </div>
                                            </if>
                                        </volist>
                                    </ul>
                                </li>
                            </volist>
                        </ul>
                        <ul class="list show" data-value="3">
                            <volist name="menu_list.three" id="vo">
                                <li>
                                    <div class="li">
                                        <div class="arrow"></div>
                                        {$vo.menu_name}
                                    </div>
                                </li>
                                <li>
                                    <ul class="list show">
                                        <volist name="vo.child" id="v">
                                            <div class="li">
                                                <if condition="$v['menu_check'] EQ 1">
                                                    <div class="else-list selJob" data-id="{$v.menu_node_id}" data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                    <else/>
                                                    <div class="else-list " data-id="{$v.menu_node_id}"  data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                </if>
                                            </div>
                                            <if condition="count($v['child']) GT 0">
                                                <div class="li" style="margin-left: 100px;">
                                                    <volist name="v.child" id="i">
                                                        <if condition="$i['menu_check'] EQ 1">
                                                            <div class="else-list child-else selJob" data-id="{$i.menu_node_id}"> {$i.menu_name}</div>
                                                            <else/>
                                                            <div class="else-list child-else" data-id="{$i.menu_node_id}"> {$i.menu_name}</div>
                                                        </if>
                                                    </volist>
                                                </div>
                                            </if>
                                        </volist>
                                    </ul>
                                </li>
                            </volist>
                        </ul>
                        <ul class="list show" data-value="4">
                            <volist name="menu_list.four" id="vo">
                                <li>
                                    <div class="li">
                                        <div class="arrow"></div>
                                        {$vo.menu_name}
                                    </div>
                                </li>
                                <li>
                                    <ul class="list show">
                                        <volist name="vo.child" id="v">
                                            <div class="li">
                                                <if condition="$v['menu_check'] EQ 1">
                                                    <div class="else-list selJob" data-id="{$v.menu_node_id}" data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                    <else/>
                                                    <div class="else-list " data-id="{$v.menu_node_id}"  data-level="{$v.menu_level}" data-parent="{$v.parent_node_id}"  style="margin-left: 60px;"> {$v.menu_name}</div>
                                                </if>
                                            </div>
                                            <if condition="count($v['child']) GT 0">
                                                <div class="li" style="margin-left: 100px;">
                                                    <volist name="v.child" id="i">
                                                        <if condition="$i['menu_check'] EQ 1">
                                                            <div class="else-list child-else selJob" data-id="{$i.menu_node_id}"> {$i.menu_name}</div>
                                                            <else/>
                                                            <div class="else-list child-else" data-id="{$i.menu_node_id}"> {$i.menu_name}</div>
                                                        </if>
                                                    </volist>
                                                </div>
                                            </if>
                                        </volist>
                                    </ul>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
                <div class="savefixed">
                    <div class="savebtn">保存</div>
                    <a href="javascript:history.back(-1)" class="else-list cancel">取消</a>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script>
        $(document).ready(function () {
            /* 新增逻辑*/
            $('.typeName>li').click(function(event) {
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $('.con > .list').eq($(this).index()).addClass('show');
                $('.con > .list').eq($(this).index()).siblings().removeClass('show');
            })
            $('.typeName>li.active').trigger("click")

            $("[name=role_group]").val("{$info.role_group|default=''}");
            $(".con > .list > li ").on("click", ".li", function () {
                $(this).children(".arrow").toggleClass('arrow45');
                $(this).parents("li").next("li").find('.list,.list .li').slideToggle(100);
            });

            $(".else-list").on("click", function () {
                $(this).toggleClass('selJob');
            });

            $(".child-else").on("click", function () {
                if ($(this).hasClass('selJob')){
                    if (!$(this).parent().prev().find(".else-list").hasClass('selJob')){
                        $(this).parent().prev().find(".else-list").toggleClass('selJob')
                    }
                }
            });

            $(".savebtn").click(function () {
                var data = $("#myForm").serializeArray();
                var node_ids = Array();

                $(".selJob",$(".con>.list.show")).each(function () {
                    if ($(this).attr("data-level") == "2"){
                        if (node_ids.indexOf($(this).attr("data-parent")) == -1 ){
                            node_ids.push($(this).attr("data-parent"));
                        }
                    }
                    node_ids.push($(this).attr("data-id"));
                });

                data.push({
                    "name": "nodes",
                    "value": node_ids
                });
                data.push({
                    "name": "model",
                    "value": $(".typeName .active").attr("data-value")
                });


                $.ajax({
                    url: '/companysystem/roleup',
                    type: 'POST',
                    dataType: 'JSON',
                    data: data,
                })
                .done(function (data) {
                    alert(data.error_msg);
                    if (data.error_code == 0) {
                        window.location.href = "/companysystem/role/";
                    }
                });
            });
        })

    </script>
</block>
