/* 内容 */
.inbox {
    background-color: #fff;
}

/* 添加角色按钮 */
.addrole {
    text-align: right;
}

.addrole button {
    margin: 20px 20px 0 0;
    border-width: 0px;
    width: 118px;
    height: 40px;
    background: inherit;
    background-color: rgba(0, 120, 187, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

/* 角色列表 */
.rolelist {
    margin: 20px 0 0 0;
    min-width: 1366px;
}

.rolelist>li {
    margin: 0 20px;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
}

.rolelist>li:nth-of-type(1) {
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    justify-content: space-around;
}

.rolelist>li>div {
    width: 300px;
    text-align: center;
}

/* 开关 */
.switch {
    cursor: pointer;
    appearance: none;
    -moz-appearance: button;
    -webkit-appearance: none;
}

.switch[type=checkbox]:focus{
  outline: none;
}
.switch {
    position: relative;
    margin: 0;
    width: 40PX;
    height: 24PX;
    border: 1PX solid #EBEBF9;
    outline: 0;
    border-radius: 16PX;
    box-sizing: border-box;
    background-color: #EBEBF9;
    -webkit-transition: background-color 0.1s, border 0.1s;
    transition: background-color 0.1s, border 0.1s;
}

.switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 38PX;
    height: 22PX;
    border-radius: 19PX;
    background-color: #EBEBF9;
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}

.switch:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 1px;
    width: 22PX;
    height: 22PX;
    border-radius: 15PX;
    background-color: #FFFFFF;
    /*box-shadow: 0 1PX 3PX rgba(0, 0, 0, 0.4);*/
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.switch:checked {
    background: #00D287;
    border: solid 1px #00D287;
}

.switch:checked:before {
    transform: scale(0);
}

.switch:checked:after {
    transform: translateX(15PX);
}

/* 编辑按钮 */
.edit {
    cursor: pointer;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    color: #37A2F7;
}




/* 添加角色 */
.rolesubject {
    display: flex;
    padding-bottom: 100px;
}

/* 添加角色 */
.role {
    width: 50%;
}
/* 标题 */
.addroletitle {
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
  line-height: 60px;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* 添加角色选项 */
.selrole>div{
  display: flex;
  margin: 10px 0;
  width: 100%;
}
.selrole>div>div:nth-of-type(1){
  width: 25%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.selrole>div>div:nth-of-type(2){
  width: 50%;
  padding: 10px 0 0 0;
}
.item{
  width: 100%;
}
.input{
  height: 40px;
}
.careful{
  margin: 10px 0 0 0;
}
.textarea{
  position: relative;
}
.flag{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* 星号 */
.start{
  color: red;
}
/* 权限控制 */
.jurisdiction {
  width: 50%;
  overflow-y:scroll;
  height: 800px;
}
.empty{
  height: 60px;
  line-height: 60px;
}
.empty>div{
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 10px 10px 0 0;
  border: 1px solid rgba(225, 225, 225, 1);
  float: right;
  border-radius: 5px;
  color: #7f7f7f;
  cursor: pointer;
}
.powertitle{
  height: 60px;
  line-height: 60px;
  text-align: left;
  padding: 0 0 0 20px;
  margin-top: 20px;
  background-color: #F2F2F2;
}
/* 下拉菜单 */
.li{
  margin-top: -1px;
  border-top: 1px solid rgba(227, 227, 227, 1);
  border-bottom: 1px solid rgba(227, 227, 227, 1);
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.else{
  display: block;
  align-items: center;
  height: auto;
  overflow:hidden;
  padding-left: 20px;
}
.else .item{
    width: 100%;
    overflow:hidden;
    padding: 20px 0 10px;
    border-bottom: 1px solid rgba(227, 227, 227, 1);
}
.else .item:last-child{
    border: none;
}
.else-list{
  border: 1px solid rgba(204, 204, 204, 1);
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
    float: left;
}
.else .item:last-child .else-list{
    margin-right: 10px;
}
.else-list:hover{
  border: 1px solid rgba(96, 176, 255, 1);
}
.savefixed{
  position: fixed;
  bottom: 0;
  width: 87%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 60px;
  background-color: #fff;
}
.savebtn{
  border: 1px solid rgba(204, 204, 204, 1);
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
  background-color: #3399ff;
  color: #fff;
  border-radius: 5px;
}
.savebtn:hover{
  background-color: rgba(96, 176, 255, 1);
}
.arrow{
  width: 10px;
  height: 10px;
  border: 2px solid #B6B6B6;
  border-top: none;
  border-left: none;
  margin-right: 20px;
  margin-bottom: 5px;
  transform: rotate(45deg);
}
.arrow45{
  transform: rotate(-45deg);
}
.selJob{
  border: 1px solid rgba(51, 153, 255, 1);
  background-color: rgb(212, 234, 255);
  color: rgba(51, 153, 255, 1);
}

/*新增*/
.typeName{
    height: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0 0 0 20px;
    background-color: #fff;
}
.typeName>li{
    display: inline-block;
    font-size: 16px;
    padding: 0 20px;
    cursor: pointer;

}
.typeName .active{
    color: #006AD4;
    border-bottom: 1px solid #006AD4;
}
.con .list{
    display:none;
}
.con .show{
    display: block;
}
