/*
* @Author: qz_dc
* @Date:   2018-05-07 08:26:38
* @Last Modified by:   qz_chk
* @Last Modified time: 2018-05-09 15:11:14
*/
.content-header{
    height: 54px;
    line-height: 54px;
}
.button {
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background:#359bed;
    color:#fff;
    margin-bottom: 15px;
    cursor: pointer;
}
.shuju-biao {
    padding: 0;
}
table {
    border-collapse:collapse;
}
table th {
    color: #333333;
    background:rgba(242, 242, 242, 1);
    height: 50px;
}
table,th, td {
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
}
tbody tr:nth-child(2n) {
    background: #fff;
    height: 60px;
}
tbody tr:nth-child(2n+1) {
    background: #fff;
    height: 60px;
}
.fa-pencil {
    margin-right: 50px;
    font-size: 20px;
}
.fa-trash {
    font-size: 20px;
}
.member-box {
    width: 460px;
    height: 580px;
    overflow: hidden;
    background: #fff;
    position: fixed; left: 50%; top: 50%;
    margin-top: -290px;    /* 高度的一半 */
    margin-left: -230px;    /* 宽度的一半 */
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 2;
}
.member-box .title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.member-box .group {
    margin-top: 20px;
}
.member-box .group span.group-title {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}
.add-member {
    /*display: none;*/
}
.edit-member {
    display: none;
}
.fa {
    cursor: pointer;
}
.mark {
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    /*display: none;*/
}

.anniu {
    overflow: hidden;
    margin-top: 20px;
}
.quxiao {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-left: 112px;
    margin-right: 40px;
    border: 1px solid #359bed;
    color: #359bed;
    cursor: pointer;
}
.baocun {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    color:#fff;
    background: #359bed;
    cursor: pointer;
}
.del {
    width: 240px;
    height: 120px;
    background: #fff;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10% auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 2;
    display: none;
}
.del  .info {
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.del .d-qx {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background:#e6e6e6;
    color: #000;
    cursor: pointer;
}
.del .d-qr {
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ff5353;
    color:#fff;
    cursor: pointer;
}

/*新增*/
.group{
    overflow: hidden;
}
.group .tips{
    padding-left: 110px;
}
#myform .group .statusLabel{
    width: 42px;
    height: 16px;
}
.header .button{
    width: 118px;
    height: 40px;
    line-height: 40px;
    background: inherit;
    background-color: rgba(0, 120, 187, 1);
    float: right
}

.header .bus-btn{
    width: 118px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: inherit;
    background-color:rgba(247, 252, 255, 1);
    float: right;
    color: #6C6C6C;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid rgba(121, 121, 121, 1);
}

.mytable tr td:first-child{vertical-align:middle; text-align:left;line-height: 60px}

.mytable .editItem{
    color:#3c8dbc;
    cursor: pointer;
}
#myform input{
    height: 32px;
    width: 260px;
    padding: 6px;
    border: 1px solid #cccc;
}
#myform .choose-tit label{
    margin-right: 10px;
    font-weight: normal;
}
#myform .group .leixing{
    width: 16px;
    height: 16px;
    margin-right: 3px;
    position: relative;
    top: 3px;
}
#myform select{
    height: 32px;
    width: 260px;
    margin-left: -2px;
    display: inline-block;
    padding: 6px;
}
.group .group-textarea{
    width: 102px;
    float: left;
    text-align:right;
}
.group .areatext{
    width: 260px;
    float: left;
    margin-left: 10px;
}
.mytable td:first-child span{ display: inline-block; vertical-align: middle;margin-right: 10px; margin-left: 10px;}
.mytable span.fa{font-size: 20px;}
/*907*/
.caidan2,.caidan3{
    display: none;
}


/* 开关 */
.switch {
    cursor: pointer;
    appearance: none;
    -moz-appearance: button;
    -webkit-appearance: none;
}

.switch {
    position: relative;
    margin: 0;
    width: 40PX;
    height: 24PX;
    border: 1PX solid #EBEBF9;
    outline: 0;
    border-radius: 16PX;
    box-sizing: border-box;
    background-color: #EBEBF9;
    -webkit-transition: background-color 0.1s, border 0.1s;
    transition: background-color 0.1s, border 0.1s;
}

.switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 38PX;
    height: 22PX;
    border-radius: 19PX;
    background-color: #EBEBF9;
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}

.switch:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 1px;
    width: 22PX;
    height: 22PX;
    border-radius: 15PX;
    background-color: #FFFFFF;
    /*box-shadow: 0 1PX 3PX rgba(0, 0, 0, 0.4);*/
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.switch:checked {
    background: #00D287;
    border: solid 1px #00D287;
}

.switch:checked:before {
    transform: scale(0);
}

.switch:checked:after {
    transform: translateX(15PX);
}
input[type=checkbox]:focus{
    outline: none !important;
}

/*新增*/
.line .nav{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.line .nav>li{
    display: inline-block;
}
.line .nav>li .active{
    color: #444;
    background: #f7f7f7;
}

.bus-member{
    width: 680px;
    height: 600px;
    padding:24px;
}
.bus-member .quxiao{
    margin-left: 194px;
}
.bus-member .title{
    font-size: 16px;
    line-height: 32px;
}