
.blue {
    color: #0000ff;
}

.item-box{
    /*border: 1px solid #e5e5e5;*/
    /*margin-left: 10px;*/
}
.content-box{
    position: relative;
}
.col-xs-1{
    padding-right:0!important;
}
.col-xs-4{
    padding-right: 0!important;
    padding-left: 0!important;
}
.item-style{
    padding: 5px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px dashed;
}

div.justify {
    text-align:justify;
    text-align-last:justify;
    text-justify:distribute;
    text-justify:distribute-all-lines;
    height: 20px;
    padding-right: 0;
}

div.justify:after{
    content: '';
    display: inline-block /* Opera */;
    padding-left: 100%;
}
.justify i{
    font-style: normal;
    color: red;
    margin-right: 5px;
}
.tips{
    color: red;
}
.item-right{
    padding-left: 0;
}
.item-right .bff0{
    background-color: #ff0;
}
.pr0 {
    padding-right: 0;
}
.item-right img {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}
.price-box{
    position: absolute;
    width: 300px;
    text-align: center;
    top: 19px;
    right: 110px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    z-index: 99;
    background: #fff;
}
.price-header{
    border-bottom: 1px solid #666;
}
.price-header h2{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    line-height: 40px;
    padding-left: 10px;
    background-color: #3B424D;
    color: white;
}
.price-detail{
    padding: 0px 10px ;
    text-align: left;
}
.price-detail li{
    line-height: 30px;
    font-size: 14px;
    color: #000;
    line-height: 40px;
    border-bottom: 1px solid #E9E9E9;
    word-break: break-all;
}
.price-detail li:last-of-type{
    border-bottom: none;
}
.price-footer {
    padding-bottom: 10px;
    height: 35px;
    line-height: 30px;
    cursor: pointer;
}
.price-footer .sp1 {
    float: left;
    margin-left: 10px;
}
.price-footer .sp2 {
    float: right;
    margin-right: 10px;
    color: green;
}
.no-border{
    border-bottom: none;
}
.btns{
    margin-top: 15px;
    margin-bottom: 30px;
}

.content .payment_number {
    color: #008000;
    cursor: pointer;
}
.content .report_history {
    color: #0000ff;
    cursor: pointer;
}
.content .vip_history {
    color: #0000ff;
    cursor: pointer;
}
.content .report_show {
    color: #0000ff;
    cursor: pointer;
}
.content .payment_img {
    color: red;
    cursor: pointer;
}
.content .c09f {
    color: #0099ff;
    cursor: pointer;
}
.content-header h1 span{ 
    position: relative;
    top: 3px;
    left: 10px;
}

#paymentModal .modal-dialog {
    width: 660px;
}

#reportModal .modal-dialog {
    width: 660px;
}


/*+++三维家++*/

.table-box{
    position: absolute;
    top: 19px;
    left: 910px;
    color: #333;
    background: #fff;
}
.table-box table{
    border: 1px solid #E9E9E9;
}
.table-box table td, .table-box table td{
    color: #333;
    border: 1px solid #E9E9E9;
}
.table-box thead{

}
.table-box th{
    font-weight: normal;
}
.table-box th,.table-box td{
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.price-remark{
    background: #ff2a00;
    color: #000;
}

/*+++三维家++*/

.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0,0,0,.3);
    display: none;
}
.tip-box{
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 12;
    background: #fff;
    text-align: center;
    border: 1px solid #666;
    box-sizing: border-box;
}

.tip-header{
    border-bottom: 1px solid #e5e5e5;
}
.tip-header h2{
    font-size: 16px;
}

.tip-body{
    text-align: left;
    padding-left: 60px;
    padding-top: 10px;
}
.tip-body label{
    font-weight:  normal;
    margin-right: 15px;
}
.tip-body label input{
    margin-right: 2px;
    vertical-align: top;
}
.remark-item  span{
    vertical-align: top;
}
.remark-item textarea{
    width: 300px;
    height: 130px;
    border:1px solid;
}
.tip-body li{
    margin-bottom: 10px;
}
.btn-check{
    margin-left: 45px;
}
.recheck-box{
    display: none;
}
.minHeight {
    min-height: 1200px;
}
.bz {
    padding-left: 60px;
    position: relative;
    left: -7px;
}
.bzt {
    position: relative;
    left: -8px;
    padding: 0;
}
#baojiaModal table {
    width: 100%;
    text-align: center;
}
#baojiaModal table th {
    text-align: center;
    border: 1px solid #000;
}
#baojiaModal table tr td {
    border: 1px solid #000;
}
#baojiaModal .modal-header .close {
    margin-top: -10px;
}
.box h3.active {
    background: #fff;
}
.box h3 {
    padding: 10px!important;
    border: 1px solid #e1e1e1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #E5E5E5;
    border-bottom: none;
    text-align: center;
}

/*layer.photos的弹层背景透明度*/
.layui-layer-shade{
    opacity: 0.5!important;
}

.modal-blue {
    color: #0099ff;
}
.modal-red {
    color: red;
}