[Unit]
Description=qzorder app
After=network.target
Requires=network.target

[Service]
Type=simple
User=www
Restart=always
RestartSec=5s
TimeoutStartSec=0

WorkingDirectory=/data/app/qzorder/
ExecStart=/data/app/qzorder/qzorder


[Install]
WantedBy=multi-user.target