@import "../../../styles/public.css";
@import "../../../templates/list-temp/list-temp.css";
.gl-main {
}
.p-container {
    justify-content: initial;
}
.contain {
    margin-bottom: 0;
}
.swiper-wrap {
    width: 750rpx;
    height: 320rpx;
}
.wrap-img {
    width: 100%;
    height: 320rpx;
}
.wrap-img image {
    width: 100%;
    height: 320rpx;
}
.headline {
    width: 100%;
    box-sizing: border-box;
    padding: 0 34rpx;
    padding-top: 10rpx;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l-header {
    width: 40%;
    height: 90rpx;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.l-header icon {
    display: block;
    width: 8rpx;
    height: 40rpx;
    background: rgba(255, 81, 86, 1);
}
.l-header text {
    margin-left: 12rpx;
    font-size: 42rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.r-header {
    width: 130rpx;
    height: 90rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
}
.r-header text {
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
    margin-right: 10rpx;
}
.stage {
    width: 100%;
    margin-top: 20rpx;
    padding: 0 34rpx;
    padding-bottom: 40rpx;
    box-sizing: border-box;
    border-bottom: 20rpx solid #f7f7f7;
    overflow: hidden;
}
.stage-title {
    height: 84rpx;
}
.stage .tabchange {
    padding: 0 34rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28rpx;
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
}
.smallchange {
    overflow: hidden;
}
.smallchange .ul {
    overflow: hidden;
    width: 682rpx;
    background: rgba(243, 248, 248, 1);
    border-radius: 16px;
}
.smallchange .autoHeight {
    height: 266rpx;
}
.smallchange .ul .swiper-item {
    display: flex;
    width: 682rpx;
    padding: 30rpx;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.smallchange .ul .swiper-itemtwo {
    height: 283rpx;
}
.scroll_item {
    width: 150rpx;
    height: 90rpx;
}
.scroll_item .guided {
    width: 150rpx;
    height: 90rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.scroll_item image {
    width: 48rpx;
    height: 48rpx;
}
.scroll_item .item_name {
    font-size: 24rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}
.stage-text {
    height: 84rpx;
}
.on {
    color: #333333;
    font-size: 34rpx;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAASCAYAAAAzI3woAAAAoElEQVRIS83SSQ6AMAgFUFi58sTqSm/cRdNVTTQaqx0odJAD/LwPIBQYZcwEADgOwyaNQ2nAgbH2hCAuUpQI5GCuZkIUG+TFFECxQFGMEJUNUlrPgLiSfo9xviyQMmYGa2kY5qbIIBaGgSKBRJhMVBJUBJOBioKKYoioIKgKhoDygqpiEqgPqAkmgnJATTEB1A3qgvGgDlBXzAuFv8A8UDvwWXh0qVZSrwAAAABJRU5ErkJggg==)
        no-repeat;
    background-size: 36rpx 18rpx;
    background-position: center 66rpx;
}
.l-main:last-child {
    margin-bottom: 40rpx;
}
.smallchange .goog {
    overflow: hidden;
    width: 682rpx;
}
.smallchange .autoGoog {
    height: 282rpx;
    margin-bottom: 20rpx;
}
.smallchange .goog swiper-item {
    display: flex;
    width: 682rpx;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 新增 */
.label {
    padding-bottom: 10rpx;
}
.s-item {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding: 10rpx 0;
    margin-bottom: 30rpx;
}
.s-item:last-child {
    margin-bottom: 0;
    border: none;
    padding-bottom: 0;
}
.s-item .m-img .one {
    display: block;
    width: 100%;
    height: 384rpx;
    margin-bottom: 10rpx;
}
.s-item .title {
    font-size: 32rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 72rpx;
    height: 72rpx;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.datas {
    display: flex;
    align-items: center;
    font-size: 22rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 60rpx;
}
.datas .c-leave {
    display: flex;
    align-items: center;
    font-size: 22rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 36rpx;
}
.datas .c-handle {
    width: 26rpx;
    height: 25rpx;
    margin-right: 12rpx;
}
.datas .c-eye {
    width: 30rpx;
    height: 19rpx;
    margin-right: 12rpx;
}
.thumb_eye {
    margin-right: 25rpx;
    display: flex;
    align-items: center;
}
.s-more .m-img .one {
    display: block;
    width: 220rpx;
    height: 125rpx;
    border-radius: 10rpx;
    float: left;
    margin-left: 10rpx;
    margin-bottom: 10rpx;
}
.s-more .m-img .one:first-child {
    display: block;
    width: 450rpx;
    height: 260rpx;
    border-radius: 10rpx;
    margin-left: 0;
}
.labels {
    padding: 0;
}
.labelss {
    padding: 0;
    border: none;
}
.fclabel{
    padding: 0 !important;
}

.gl-main {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.in-left text{
    color:#DB2C2C;
}
.p-gt{
    width: 16rpx !important;
    height: 16rpx !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAcklEQVQ4T2NkQAMzZszQAgllZGRcQ5fDxmdEFgRpZmJiWgUS+/fvXxgxhqAYANI4ffr0BiYmpnpGRsarxBiCYQCphmA1gBRDcBpArCF4DSDGEIIGEDKE9gYQilbaBSIhm2EpmPoJiVibsbqAKpmJ1OwMAPsehBEyD8XCAAAAAElFTkSuQmCC) no-repeat center !important;
}