img{
    vertical-align: middle;
}
.common-baojia>div{
    text-align: center;
}
.common-baojia h2,.baojia-anli h2,.free-service h2,.promise-service h2,.application h2{
    width:100%;
    height:36px;
    text-align: center;
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:36px;
    margin-top:75px;
    margin-bottom:21px;
}
.sub-line{
    width:120px;
    height:8px;
    background:rgba(41,77,80,1);
    margin: 0 auto;
    margin-bottom:56px;
}
.common-img{
    position: absolute;
    top:175px;
    right: 0;
    left: 0;
    margin:auto;
}
.common-top{
    width:100%;
    height:258px;
    margin-bottom:20px;
}
.common-top-left{
    width:500px;
    height:258px;
    float: left;
    background:url("../img/left-top.png");
}
.common-top-right{
    width:500px;
    float: right;
    height:258px;
    background:url("../img/right-top.png");
}
.common-content,.common-contentl{
    text-align: left;
}
.common-content span:first-child{
    display: inline-block;
    width:16px;
    height: 16px;
    background:#294D50;
    margin-left:29px;
    margin-top:47px;
    border-radius: 50%;
    margin-right:8px;
}
.common-content span:first-child+span{
    font-size:24px;
    color:#333;
    font-weight: 700;
}
.content-des{
    margin-left:53px;
    margin-right:71px;
    text-align: left;
    font-size: 16px;
    color:#333;
    margin-top:20px;
    line-height: 30px;
}
.common-contentl span:first-child{
    display: inline-block;
    width:16px;
    height: 16px;
    background:#294D50;
    margin-left:54px;
    margin-top:47px;
    border-radius: 50%;
    margin-right:8px;
}
.common-contentl span:first-child+span{
    font-size:24px;
    color:#333;
    font-weight: 700;
}
.content-desl{
    margin-left:77px;
    margin-right:39px;
    text-align: left;
    font-size: 16px;
    color:#333;
    margin-top:20px;
    line-height: 30px;
}
.common-bottom{
    height: 258px;
    margin-bottom:79px;
}
.common-bottom-left{
    width:500px;
    float: left;
    height:258px;
    background:url("../img/left-bottom.png");
}
.common-bottom-right{
    width:500px;
    float: right;
    height:258px;
    background:url("../img/right-bottom.png");
}
.baojia-anli{
    text-align: center;
}
.baojia-anli h2{
    margin-top:94px;
}
.sub-baojia{
    width: 1030px;
    margin: 0 auto;
    position: relative;
}
.anli-content{
    width:320px;
    height: 337px;
    float: left;
    margin-right: 35px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(4,0,0,0.15);
}
.anli-img{
    width:320px;
    height:240px;
}
.anli-img img{
    width:100%;
}
.anli-tit{
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    color:#333;
    margin-top:22px;
    margin-bottom:21px;
    text-align: center;
}
.anli-des,.promise-des{
    font-size:16px;
    height: 18px;
    line-height: 18px;
    color:#333;
    text-align: center;
}
#baojia-last,#free-last,#promise-last{
    margin-right:0;
}
.free-service h2{
    margin-top:130px;
}
.promise-service h2{
    margin-top:145px;
}


.promise-content{
    width:320px;
    float: left;
    margin-right: 35px;
}
.promise-img{
    width:320px;
    height:240px;
}
.promise-img img{
    display: block;
    margin:0 auto;
    width:240px;
}
.promise-tit{
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    color:#333;
    margin-top:29px;
    margin-bottom:23px;
    text-align: center;
}
.application h2{
    margin-top:139px;
}



.tablelist{
    width:100%;
    height: 200px;
    overflow: hidden;
    text-align:center
}
.tablelist tr{
    height: 40px;
    line-height: 40px;
    font-size:18px;
}
.tablelist thead tr{
    background:#E8E8E8;
}

.scroll-box-tit{
    height: 40px;
    line-height: 40px;
    font-size:18px;
    background:#E8E8E8;
}
.scroll-box .tlist{
    display:inline-block ;
    width:16%;
    text-align: center;
}
.scroll-box .tlist-xiaoqu{
    display:inline-block ;
    width:17%;
    text-align: center;
}
.scroll-content{
    height: 400px;
    overflow: hidden;
}
.scroll-content li{
    height: 40px;
    line-height: 40px;
    font-size:18px;
}

.baojia-apply a{
    display: block;
    margin:0 auto;
    width:280px;
    height:60px;
    background:#FF5353;
    border-radius:30px;
    font-size:24px;
    font-weight:700;
    color:#fff;
    line-height: 60px;
    text-align: center;
    margin-top:60px;
    margin-bottom:80px;
}
/*为什么选择齐装网*/
.why-select{width: 100%;height: 250px;background: #ff5353;margin-top: 60px;background: url(/assets/home/index/img/why-bg.jpg) no-repeat;background-size: auto 250px;
    background-position: center;}
.why-select .xiang-list{float: left;}
.why-select .xiang-list ul li{float: left;}
.why-select .xiang-list ul.ul-1{margin-top: 53px;margin-bottom: 29px;overflow: hidden;}
.why-select .xiang-list ul.ul-2{margin-left: 116px;}
.why-select .xiang-list ul li.li-1{margin-right: 105px;}
.why-select .xiang-list ul li.li-2{margin-right: 134px;}
.why-select .xiang-list ul li.li-3{margin-right: 90px;}
.why-select .xiang-list ul li p.xiang-list-one{font-size: 31px;color: #fff;text-align: center;line-height: 31px;margin-bottom: 12px;}
.why-select .xiang-list ul li p.xiang-list-two{font-size: 15px;color: #fff;text-align: center;line-height: 15px;}
.why-select .why-list{margin-right: 80px;float: left;}
.why-select .why-list p.why-tit{font-size: 28px;color: #fff;font-weight: bold;line-height: 28px;margin-top: 36px;}
.why-select .why-list p.why-fuwu{font-size: 22px;color: #fff;line-height: 22px;margin-top: 30px;margin-bottom: 12px;}
.why-select .why-list p.why-tip{font-size: 12px;color: #fff;text-align: center;line-height: 12px;}
.why-select .app-code {margin-left: 50px;width: 110px!important;}
.why-select .app-code img {margin-left: 5px;}
.why-select .erweima-di {float: left;margin-top: 75px;margin-right: 20px;}
.why-select .weibo{margin-right: 0 !important;}
.why-select .erweima-di,.erweima-di img{width: 100px;height: 100px;}
.why-select i.fuwu-icon{width: 20px;height: 18px;margin-top:3px;display: block;float:left;margin-right:10px;background: url(/assets/home/index/img/tiexin.png) no-repeat;}
.why-select i.baozhang-icon{width: 20px;height: 24px;display: block;float:left;margin-right:10px;background: url(/assets/home/index/img/liudabaozhang.png) no-repeat;}
.erweima-di p{text-align: center;color: #fff;font-size: 12px;}


/*    */
.left-third  .baojia-sqcg{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color:#ff5050;
    margin-top:15px;
}
.right-third .baojia-h1{
    font-size: 22px;
    text-align: center;
    margin-bottom: 14px;
    font-weight: bold;
}
