.qiangdan-tit{ border-bottom:1px solid #FFF3EA; overflow:hidden; padding-bottom:0.5em;position: relative;}
.top-fixed .j-tab-nav a{width:25%;margin:0!important;}
.order-list dl{padding:0.5em 0 1em;border-bottom:1px #ccc solid;}
.qiangdan-tit .timer{float: left;color:#333;}
.qiangdan-tit a{display: inline-block;float:right;margin-right: 10px;}
.qiangdan-tit .blue{color:#3082d2;}
.qiangdan{padding:0.7em 0;font-size:0.9em;}
.qiangdan span{display: inline-block;height: 2.6em;line-height: 2.6em;
}
.qiangdan .red{color:#ff3333;}
.qiangdan-btn{width: 6em;height: 2.6em;;background:#ff9933;color:#fff;border-radius:5px;border:none;outline:none;
    float:right;}
.order-list li dl{ margin-top:0.5em; overflow:hidden; line-height:2em; font-size:0.8em}
.order-list li dl dd{ float:left; width:50%}
.cover,.cover-c{width: 100%; height: 100%; background:rgba(0,0,0,0.6);position:fixed;left:0;right:0;bottom:0;top:0;z-index:99;display:none;}
.cover>div{width:80%;height:8.5em;border:1px #ccc solid;background:#fff;text-align:center;position:absolute;margin:auto;left:0;right:0;bottom:0;top:0;}
.qiangdan-model p:nth-child(1){margin-top:1.3em;}
.qiangdan-model-btn button{width: 6em;height:2.8em;margin-top:1em;outline:none;}
.qiangdan-cancel-btn{border:1px #ccc solid;margin-right: 1.5em;}
.qiangdan-submit-btn{border:1px #3399cc solid;color:#fff;background:#3399cc;}
.qiangdan-success-btn{width: 50%;height:4em;line-height: 4em;background:#ccc;text-align:center;position:fixed;margin:auto;left: 0;right:0;bottom:0;top:0;z-index:999;color:red;border-radius:10px;}
