<div class="popup" data-name="popup-phone">
    <h3 class="title">记录列表</h3>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th style="width: 14.2%;">订单号</th>
            <th style="width: 14.2%">发单时间</th>
            <th style="width: 14.2%">发布人</th>
            <th style="width: 14.2%"><span class="t-var">{$field}</span></th>
            <th style="width: 14.2%">城市</th>
            <th style="width: 14.2%;">订单类型</th>
            <th style="width: 14.2%;">状态</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.time_real|date="Y-m-d H:i:s",###}</td>
            <td>{$vo.name}</td>
            <td>
                <if condition="$field eq 'IP'">
                    {$vo.ip}
                <else/>
                    {$vo.tel}
                </if>
                </td>
            <td>{$vo.cname}/{$vo.qz_area}</td>
            <td>{$vo.type}</td>
            <td>
                <if condition="$vo['on'] EQ 4 AND $vo['type_fw'] EQ 1">
                    分单
                    <elseif condition="$vo['on'] EQ 4 AND $vo['type_fw'] EQ 1"/>
                    赠单
                    <elseif condition="$vo['on'] EQ 4 AND $vo['type_fw'] EQ 3"/>
                    分没人跟
                    <elseif condition="$vo['on'] EQ 4 AND $vo['type_fw'] EQ 4"/>
                    赠没人跟
                    <elseif condition="$vo['on'] EQ 5"/>
                    无效
                    <else/>
                    其他
                </if>
            </td>
        </tr>
        </volist>
        </tbody>
    </table>
    <div class="close-btn">关闭</div>
</div>
