
.fl{
  float: left;
}
.fr{
  float: right;
}
.tar{
  text-align: right;
}
.tal{
  text-align: left;
}
img{
  width:100%;
  vertical-align: middle;
}
.jjbaojia-content{
  position: relative;
}
.jjbaojia-getprice{
  background:#F0D2AC;
  height: 13.48em;
}
.jjbaojia-getprice img{
  position: absolute;
  z-index: 11;
  width: 94%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}
.m-img-box img {
  width: 100%;
  height: auto;
}
.box-content{
  width:100%;
  background:#F0D2AC;
}
.box{
  margin: 0 11px;
  background: #FCEEDC;
  position: relative;
  padding:22px;
  /*top: -10px;*/
}
.form-box{
  margin-bottom:2.7em;
}
.ullist{
  display: flex;
  justify-content: space-around;
}
.ullist li{
  display:inline-block;
  text-align:center;
  margin:1.42em 0 0 0;
}
.ullist li.activity{
  font-weight:700;
  color:#CA2602;
  border-bottom:1px #CA2602 solid;
}
.ullist li.active{
  font-weight:700;
  color:#CA2602;
  border-bottom:1px #CA2602 solid;
}
.getbaojia-show{
  background:#F5D1A3;
  border-radius:7px;
  margin-bottom:17px !important;
}
.getbaojia-show p{
  height:48px;
  line-height:48px;
  text-align: center;
  font-size:22px;
}
.getbaojia-show p span{
  color:red;
  font-weight:700;
}
.box .m-bj-edit{
  margin:0;
}
.form-once .m-bj-edit>p{
  height:2em;
  line-height:2em;
  font-size:12px;
  color:#D33C28;
  padding-left: 18px;
  visibility:hidden;
}
#shenming{
  margin-bottom:14px !important;
}
.form-once .m-bj-edit li{
  margin-bottom:0;
}
.m-bj-edit li .m-row-int1 {
  background: #FCEEDC;
  border-radius: 7px !important;
  font-size: 14px;
  text-indent: 1em;
}
.m-bj-edit li .m-bj-edit-list{
  border: 1px solid #89745A !important;
  font-size:16px;
}
.c-zb-city{
  border: 1px solid #89745A !important;
  font-size:16px!important;
}
.jjbaojia-btn img{
  display:block;
  width: 13.5em;
  margin: 0 auto;
}
.lunbo-box{
  background: #FCEEDC;
  position: relative;
  padding: 17px 17px 4px 17px;
}
.lunbo-box ul li{
  width:50%;
  float: left;
}
.lunbo-des p{
  position: absolute;
  color:#fff;
  background:rgba(0,0,0,0.5);
  border-radius: 15px;
  font-size: 14px;
  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
}
.des-tit{
  position: relative;
}
.des-tit p{
  width: 17.36em;
  top:11px;
  left: 0;
  right: 0;
  margin: auto;
}
.lunbo-des ul li{
  position: relative;
}
.lunbo-des ul li p{
  width: 4.75em;
  bottom:6px;
  left:4px;
}
.jjqwdz-btn img{
  display:block;
  width:17.05em;
  margin: 0 auto;
  margin-top: 22px;
}
.m-bj-edit li span.sort {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 10px;
  height: 10px;
}
.m-bj-edit li span.sort img {
  width: 100%;
}
.lunbo-banner,.mj-banner{
  width:100%;
  padding-bottom: 30px;
}
.fuli-banner{
  padding-bottom: 30px;
}
.mjal{
  margin:11px;
  background:#FCEEDC;
}
.mjfl-p{
  position: absolute;
  top:11px;
  width:166px;
  height:2.25em;
  line-height:2.25em;
  background:rgba(0,0,0,0.6);
  border-radius:15px;
  font-size:14px;
  color:rgba(255,255,255,1);
  margin:auto;
  text-align: center;
  left: 0;
  right: 0;
}
.sq-btn img{
  display: block;
  width: 15em;
  margin: 0 auto;
  margin-top: 1.2em;
  margin-bottom: 1.8em;
}
.swiper-slide img {
  width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 5px;
}
.bg {
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background:rgba(202,38,2,1);
  opacity: 1;
}
.swiper-pagination-bullet {
  background:rgba(202,38,2,0.2);
  opacity: 1;
  /*border: 1px solid #BFBFBF;*/
  width: 6px;
  height: 6px;
}
.m-b-btn {
  border-radius: 5px;
  background: #F53E3E;
}
.m-bj-edit li .c-zb-city {
  text-indent:0.5em;
  color: #333!important;
}
/*弹框*/
.jjmodel{
  width: 19.75em;
  height: 12.21em;
  background:linear-gradient(0deg,rgba(255,69,23,1) 0%,rgba(217,26,27,1) 100%);
  border-radius:13px;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin:auto;
  z-index:999;
  display:none;
}
.jjmodel p:first-child{
  font-size: 1.7em;
  text-align: center;
  font-weight: bold;
  color: rgba(255,171,63,1);
  padding-top: 1.125em;
  margin-bottom: 0.62em;
}
.jjmodel p:first-child+p{
  font-size:14px;
  text-align:center;
  font-weight:400;
  color:rgba(255,171,63,1);
  margin-bottom: 1.13em;
}
.jjmodel .jjclose{
  display: block;
  width: 9.7em;
  height: 2.75em;
  background:rgba(255,232,151,1);
  border-radius:22px;
  border:none;
  outline:none;
  margin:0 auto;
  color:#CB1600;
  font-size:16px;
}

#mianze:checked + label{
  color: #CA2602;
}
#shenming span{
  color:#8C642F;
}
#shenming a{
  border-bottom: 1px solid #8C642F;
}
#shenming a span{
  color: #8C642F;
}


