button{
    outline:none;
}
.yuding-content{
    padding:0 0.1rem;
}
.yuding-content{
    background:#619BF1;
}
.yuding-content .yuding-status{
    background: #fff;
    padding: 0.1rem 0.16rem;
    border-radius:20px;
}
.yuding-status h1{
    color:#3D7EE0;
    font-size: 0.16rem;
    margin-bottom: 0.13rem;
}
.yuding-prompt{
    color:#FF5353;
    margin-top: 0.04rem;
    font-size: 14px;
    opacity: 0;
}
.yuding-status button{
    background: #763DF9;
    width:100%;
    border:none;
    font-size:0.15rem;
    color:#FFFFFF;
    border-radius:10px;
    height: 0.35rem;
    margin-top: 0.08rem;
}
.status-bottom p{
    width:100%;
    color:#619BF1;
    font-size: 0.16rem;
    font-weight: 700;
    margin-top:0.16rem;
    margin-bottom: 0.16rem;
    text-align: center;
}
.status-bottom>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.status-bottom dl{
    width:33.33%
}
.status-bottom>div dl img{
    width:0.5rem;
}
.status-bottom>div dl dt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.05rem;
}
.status-bottom>div dl dd{
    color:#619BF1;
    text-align: center;
}
.yuding-content>h1{
    font-size:0.23rem;
    color:#000;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}
.yuding-content>p{
    font-size:0.13rem;
    color:#fff;
    text-align: center;
    margin-bottom: 0.06rem;
}
.sheji-img>div{
    overflow: hidden;
}
.liangchi-img,.sheji-img,.baojia-img{
    background: #fff;
    border-radius:20px;
    /* padding:0.2rem; */
    border:0.2rem solid #fff;
    overflow: hidden;
}
.b-fl{
    float: left;
}
.b-m20-right{
    margin-right: 20px;
}
img{
    width:100%;
}
.img-list{
    width:45%;
    float: left;
}
.img-list>ul{
    width: 100%;
    height: 100%;
   /* position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*.img-list>ul li:first-child{
    position: absolute;
    top:0;
}
.img-list>ul li:first-child+li{
    position: absolute;
    bottom:0;
}*/
.sheji-left{
    width: 51%;
    margin-right: 4%;
}
.baojia-img{
    display: flex;
    justify-content:flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
}
.baojia-img img{
    display:block;
}
.yuding-content>h1.b-color{
    color:#0A316D;
}
.yuding-process{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    position: relative;
}
.yuding-process dl{
    width:25%;
}
.yuding-process dl dt{
    width:0.55rem;
    margin: 0 auto;
}
.yuding-process dd p{
    text-align: center;
}
.yuding-process dd p:first-child{
    font-size:0.14rem;
    color:#0A316D;
    font-weight: 700;
    margin-top: 0.05rem;
}
.yuding-process dd p:first-child+p{
    font-size:0.114rem;
    color:#0A316D;
}
.receive-gift{
    display: inline-block;
    width:2.1rem;
    height: 0.4rem;
    font-size:0.175rem;
    border: none;
    background:#763DF9;
    color:#fff;
    box-shadow:0px 7px 0px 0px rgba(85,22,231,1);
    border-radius:40px;
    margin:0 auto;
    line-height: 0.4rem;
    text-align: center;
}
.yuding-content>p.yuding-gift{
    height:0.7rem;
    margin-bottom:0;
}
.swiper-container{
    width:100% !important;
    border-top:none !important;
}
.swiper-wrapper{
    width:initial !important;
}
.jiantou{
    padding-top:0.16rem;
    position: absolute;
    width: 0.06rem;
}
.yuding-dialog{
    position: fixed;
    width: 90%;
    height: 1rem;
    border-radius:10px;
    background:rgba(0,0,0,0.8);
    bottom:0;
    right:0;
    left:0;
    top:0;
    margin:auto;
    display: none;
}
.yuding-dialog p{
    text-align: center;
}
.yuding-dialog p:first-child{
    font-size:0.18rem;
    color:#FF8519;
    font-weight:700;
    margin: 0.18rem 0;
}
.yuding-dialog p:first-child+p{
    color:#fff;
    font-size:0.11rem;
}
.item_circle{
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.cicle-inite:before {
    content: "\f10c";
}
.check-inite:before {
    content: "\f058";
}
.hasChose{
    color: #3D7EE0;
}
.yuding-introduce{
    position: absolute;
    bottom:0;
    width:100%;
    font-size:0.12rem;
    height: 0.3rem;
    line-height:0.3rem;
    background:rgba(0,0,0,0.6);
    color:#fff;
    text-indent:10px;
}
.baojia-introduce span:first-child+span{
    display: inline-block;
    float: right;
    padding-right:10px;
}
.sheji-img .swiper-pagination-bullet,.baojia-img .swiper-pagination-bullet{
    width:20px;
    height:4px;
    background:rgba(215,215,215,1);
    border-radius:0;
}
.sheji-img .swiper-pagination-bullet-active,.baojia-img .swiper-pagination-bullet-active{
    background:rgba(10,50,110,1);
}
.yuding-area{
    position: absolute;
    top:10px;
    left: 10px;
    font-size:0.12rem;
    width:0.4rem;
    height: 0.24rem;
    background:rgba(0,0,0,0.6);
    border-radius:6px;
    color:#fff;
    text-align:center;
    line-height:0.24rem;
}
.yuding-rel{
    position: relative;
}

