body{
    line-height: 1.5;
}
::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
} 
:-moz-placeholder {
    color: #999;
    font-size: 14px;
} 
::-moz-placeholder {
    color: #999;
    font-size: 14px;
} 
:-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}
.common-title{
    font-size: 48px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1;
}
.white{
    color: white !important;
}
.img-responsive{
    max-width: 100%;
}
.border-white{
    border-color: white !important;
}
.mb54{
    margin-bottom: 54px !important;
}
.dn{
    display: none;
}
.block{
    display: block;
}
.l{float: left} .r{float: right;}

/*局部装修落地页公共样式 end*/

.banner{
    height: 560px;
    background: url('../img/banner.jpg') no-repeat;
    position: relative;
}
.banner .wrap{
    width: 1200px;
    margin: 0 auto;
}
.banner .fout-step{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -46px;
    margin: 0 auto;
}
.banner .fout-step .text{
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: auto;
}
.order-box {
    width: 334px;
    height: 455px;
    border-radius: 5px;
    top: 20px;
    z-index: 3;
    text-align: center;
    font-family:"Microsoft Yahei";
    padding: 15px 20px 0 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    position:relative;
    filter:alpha(opacity=50);
}
.order-box .h1 {
    font-size: 24px;
    color: #F37E3A;
    margin-bottom: 5px;
    font-weight: bold;
}
.order-box .h2 {
    font-size: 14px;
    color: #FFF;
    margin-bottom: 14px;
}
.order-box .h3 {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 14px;
}
.order-box .box-line select {
    color: #333;
    font-size: 14px;
    width: 162px;
    height: 42px !important;
    line-height: 42px!important;
    margin-bottom: 40px;
    padding-left: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-top: 13px\0;
    padding-bottom: 13px\0;
    border-radius: 5px;
}
.mr5 {
    margin-right: 5px;
}
.order-box .box-line {
    position: relative;
    margin-bottom: 0px !important;
}
.order-box .box-line .angle-down {
    display: block;
    width: 14px;
    height: 8px;
    background: url(/assets/home/gongz/img/angle-down.png) no-repeat center center;
    position: absolute;
    z-index: 99;
    pointer-events: none;
    display: none\0;
}
.angle-down1 {
    top: 16px;
    left: 140px;
}
.angle-down2 {
    top: 16px;
    right: 10px;
}
.order-box .box-line input.mb0 {
    margin-bottom: 0;
}
.order-box .box-line input {
    font-size: 14px;
    width: 334px;
    height: 42px !important;
    color: #000;
    line-height: 42px!important;
    margin-bottom: 40px;
    text-indent: 1em;
    outline: none;
    border:none;
    border-radius: 5px;
}
.order-box .box-line input::-webkit-input-placeholder {
    font-size: 16px;
}
.order-box .box-line input:-moz-placeholder {
    font-size: 16px;
}
.order-box .box-line input:-ms-input-placeholder {
    font-size: 16px;
}
.order-box .b-warn {
    position: absolute;
    top: 50px;
    color: #FF4242;
    display: none;
    font-size: 14px;
}
.banner #btnSave {
    width: 334px;
    height: 42px;
    background: #FF5353;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border:none;
    outline:none;
    position: relative;
    z-index: 4;
    top: -50px;
    left: 20px;
    cursor: pointer;
    font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
}
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity:0.3;
    filter:alpha(opacity=30);
    background: black;
    z-index: 9999;
    display: none;
}
.success-box{
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 360px;
    height: 120px;
    padding-top: 50px;
    border-radius: 5px;
    background-color: white;
    display: none;
}
.success-box .close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.success-box .title{
    font-size: 24px;
    color: #F54242;
    font-weight: bold;
    line-height: 2;
}
.success-box .text{
    font-size: 16px;
    color: #333333;
}

.fout-step-box{
    background-color: #2F282F;
}
.fout-step-box > ul{
    width: 1210px;
    margin: 0 auto;
    padding: 112px 0 76px 0;
}
.fout-step-box > ul > li{
    width: 240px;
    height: 240px;
    line-height: 240px;
    font-size: 0;
    border:2px solid #875053;
    border-radius: 10px;
    float: left;
    margin-right: 78px;
    text-align: center;
    position: relative;
}
.fout-step-box > ul > li img, .fout-step-box > ul > li .tips{
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
}
.fout-step-box > ul > li .tips{
    line-height: 18px;
    top: 180px;
    font-size: 18px;
    color: #875053;
}

.case-box .title .tips{
    color: #FBCA91;
    font-size: 16px;
    text-align: center;
}
.case-box .cb1{
    width: 1170px;
    height: 527px;
    padding: 20px;
    margin: 60px auto 0;
    background: url('../img/cb-1.jpg') no-repeat;
}
.case-box .cb2{
    height: 536px;
    background: url('../img/cb-2.jpg') no-repeat;
}
.case-box .cb3{
    height: 956px;
    background: url('../img/cb-3.jpg') no-repeat;
}
.case-box .cb1 > .inner-box{
    width: 100%;
    height: 100%;
    border:2px solid #E68146;
}
.case-box .cb1 > .inner-box .top{
    width: 369px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto;
    background: url('../img/s-t-1.png') no-repeat;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.case-box .cb1 > .inner-box .t2{
    background: url('../img/s-t-2.png') no-repeat;
}
.case-box .cb1 > .inner-box .text{
    color: #E68146;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.case-box .cb1 > .inner-box .c2{
    color: #E49538;
}
.case-box .inner-box .case-img-box > li{
    float: left;
    color: white;
    margin-left: 41px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.case-box .inner-box .limit-size{
    overflow: hidden;
}
.case-box .inner-box .case-img-box > li:hover img{
    transform: scale(1.5);
}
.case-box .inner-box .case-img-box > li p{
    line-height: 70px;
}
.case-box .inner-box .case-img-box > li img{
    display: block;
    transition: all 0.5s;
}
.case-box .inner-box .case-img-box > li .flag{
    width: 180px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-weight: normal;
    font-size: 18px;
    background: url("../img/s-b-1.png") no-repeat;
}
.case-box .inner-box .cib-2 > li {
    margin-left: 84px;
}
.case-box .inner-box .cib-2 > li .flag{
    background: url("../img/s-b-2.png") no-repeat;
}

.case-box .all-service{
    margin-top: 60px;
    text-align: center;
    background-color: #2F282F;
}
.case-box .service-process{
    color: #FBCA91;
    border-bottom: 1px solid transparent;
}
.case-box .service-process .tips{
    text-align: center;
    font-size: 16px;
}
.case-box .service-process ul{
    width: 1210px;
    margin: 40px auto;
}
.case-box .service-process ul>li{
    float: left;
    text-align: center;
    font-size: 18px;
    color: #E68146;
    line-height: 40px;
    width: 201px;
}

/*悬浮发单*/
.fix-order {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #8C5756;
    width: 100%;
    min-height: 100px;
    z-index: 888;
    display: none;
}
.fix-order .main {
    width: 1340px;
    margin: 0 auto;
}
.fix-order .main > div {
    float: left;
    margin-right: 15px;
    margin-top: 20px;
    position: relative;
    filter:alpha(opacity=100);
}
.fix-order .main .slogan {
    width: 148px;
    height: 53px;
    color: #E2B4A0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 5px;
}
.fix-order .main .slogan .left-top-trangle{
    position: absolute;
    left: 0;
    top: 0;
}
.fix-order .main .slogan .right-bottom-trangle{
    position: absolute;
    right: 0;
    bottom: 0;
}
.fix-order .main .slogan span {
    display: block;
}
.fix-order .main .phone-box {
    margin-right: 25px;
}
.fix-order select, .fix-order input, .fix-order button {
    font-size: 14px;
    width: 205px;
    height: 42px !important;
    color: #000;
    line-height: 42px !important;
    text-indent: 1em;
    outline: none;
    border: none;
    border-radius: 0.3em;
    margin-top: 5px;
}
.fix-order select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-top: 13px\0;
    padding-bottom: 13px\0;
}
.fix-order .city-box i, .fix-order .area-box i {
    display: block;
    width: 14px;
    height: 8px;
    background: url(/assets/home/gongz/img/angle-down.png) no-repeat center center;
    position: absolute;
    top: 22px;
    right: 12px;
    z-index: 99;
    pointer-events: none;
    display: none\0;
}
.fix-order #f_btnSave {
    background-color: #F54242;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
}
.fix-order .disclamer-line {
    margin-top: 5px;
}
.fix-order .b-warn {
    color: #FF4242;
    font-size: 12px;
    line-height: 2;
    display: none;
}
.fix-order .disclamer-line .disclamer-check i.fa-check {
    color: #F3B023;
}

.disclamer-line span.disclamer-text{
    color: white;
}
.disclamer-line a{
    border-bottom: 1px solid #B1C5FF !important;
}
.disclamer-line a span{
    color: #B1C5FF;
}
