<extend name="Common:basic"/>
<block name="link">
    <link href="/assets/mobile/baike/css/zhishidaquan.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/zhishi/" rel="canonical" />
    <meta name="applicable-device" content="mobile">
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}"></a>
    <div class="m-header-tit">装修知识</div>
</block>
<block name="content">
    <div id="zhishi-gold-33"></div>
    <div class="box">
        <ul class="list">
            <li><a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baojia/?src=xzh">8秒获取准确报价<i class="hot"></i></a></li>
            <li><a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/sheji/?src=xzh">领取4份设计方案<i class="hot"></i></a></li>
            <volist name="list" id="vo">
                <li>
                    <eq name="vo.type" value="2">
                        <a href="/tu/{$vo.id}/">{$vo.name}</a>
                    <else/>
                        <a href="/zhishi/{$vo.id}/">{$vo.name}</a>
                    </eq>
                </li>
            </volist>
        </ul>
        <div class="content pageContent">
            {$page}
        </div>
    </div>
    <div class="m-bread">
        <a href="/">装修公司</a> &gt;  <h1 >装修知识</h1>
    </div>
    <include file="Common/footfadantc"/>
</block>

<block name="script">
    <script type="text/javascript" src="/assets/mobile/qzgold/js/qz_gold.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        var cityId = "{$cityInfo.id}";
        // 调用广告
        qzInsertGold('#zhishi-gold-33', 33, cityId)
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?2663702a52860056a7cfaa9a79ea3d02";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?f15746831bf5c697b7b2579268ff9351";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</block>