<extend name="Common:basic"/>
<block name="link">
    <link href="/assets/mobile/baike/css/zhuanti.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="/assets/mobile/common/css/m-page.css?v={:C('STATIC_VERSION')}" rel="stylesheet" />
    <link href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/zhishi/{$id}/" rel="canonical" />
    <meta name="applicable-device" content="mobile">
    <meta property="og:image" content="{$list.0.src}-w128h95.jpg" />
    <style>
        #q-a-z-dv{ padding: 0.1rem 0.08rem; margin: 0.1rem; box-shadow: 0px 0px 8px #DEDEDE; }
        .qz_ad_multi{ margin-bottom: 0 !important;}
        .qz_ad_multi_text{ margin-bottom: 0 !important; }
        .qz_ad_multi_text .qz_ad_multi_text-title{margin-bottom: -0.1rem; font-size: 0.126rem !important; color: #333;
            font-weight: bold;}
        .qz_ad_single_text{ margin-bottom: 0 !important;}
        .qz_ad_single_text .qz_ad_single_text-title{margin-bottom: -0.1rem; font-size: 0.126rem !important; color: #333;
            font-weight: bold;}
        .qz_ad_slide, .qz_ad_single{margin-bottom: 0 !important;}
    </style>
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a class="m-header-left" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}"></a>
    <div class="m-header-tit">装修攻略</div>
</block>
<block name="content">
    <article>
        <div class="m-bread">
            <a href="/">装修公司</a> &gt;
            <a href="/zhishi/">装修知识</a> &gt;
            {$thematic}
        </div>
        <div class="main">
            <div class="m-title"><h1>{$thematic}</h1></div>
            <div class="m-box">
                <!-- 每隔三个词条有一个广告位 -->
                <ul>
                    <volist name="list" id="vo" key="k">
                        <li>
                            <a href="{$vo.url}">
                                <div class="img-box">
                                    <img src="{$vo.img_path}" alt="{$vo.title}">
                                </div>
                                <div class="list-content">
                                    <h2 class="list-content-title">{$vo.title}</h2>
                                    <a href="{$vo.url}" class="list-content-body" rel="nofollow">
                                        {$vo.description}
                                    </a>
                                    <if condition="$vo['logtype'] EQ 'qz_ask'">
                                        <div>已有<span class="red">{$vo.anwsers|default=0}</span>条回答</div>
                                    </if>
                                </div>
                            </a>
                        </li>
                        <if condition="$k eq 3">
                            <li>
                                <a href="/bao" rel="nofollow">
                                    <img src="//staticqn.qizuang.com/custom/20200703/Fq3WGLP5k0ca_tNgYf80nI21bFHh" width="100%" height="auto" alt="">
                                </a>
                            </li>
                        </if>
                    </volist>
                </ul>
            </div>
            {$page}
        </div>
    </article>
    <include file="Common:baojia" />
    <include file="Common:sheji-3" />
    <include file="Common/footfadantc"/>
</block>


<block name="script">
    <script type="text/javascript" src="/assets/mobile/qzgold/js/qz_gold.js?v={:C('STATIC_VERSION')}"></script>
    <script type="application/ld+json">
        {
            "@context": "https://ziyuan.baidu.com/contexts/cambrian.jsonld",
            "@id": "{$baidu.url}",
            "appid": "1575859058891466",
            "title": "{$baidu.title}",
            "pubDate": "{$baidu.addtime}",
            "upDate": "{$baidu.optime}"
        }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?2663702a52860056a7cfaa9a79ea3d02";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?f15746831bf5c697b7b2579268ff9351";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script>
        var cityId = "{$cityInfo.id}";
        // 调用广告
        qzInsertGold('.m-box ul li:nth-child(1)', 9, 320500)


        $('#baojiafd').click(function() {
            $('#calculator').find('input').val("");
            $('#calculator').show();
        });
        $('#baojiafd1').click(function() {
            $('#calculator').find('input').val("");
            $('#calculator').show();
        });
        $("#shejifd").on("click",function(){
            $("#calculator3").fadeIn();
        });
        //第五条数据后插入app入口
        var url = location.href
        if(url.indexOf("?") == -1){
            var oLi = $(".m-box ul li").eq(4)
            var html = '<li class="five-appentry" data-tag="M-20" style="cursor:pointer;">\n' +
                '              <div class="img-box">\n' +
                '                <img src="/assets/mobile/zixun/img/zx-zhishi.png">\n' +
                '              </div>\n' +
                '              <div class="list-content">\n' +
                '                <div class="list-content-title">实用干货轻松避坑就在齐装APP</div>\n' +
                '                <div class="list-content-body">\n' +
                '                  <span>海量装修经验攻略，让你避免踩坑</span>\n' +
                '                </div>\n' +
                '              </div>\n' +
                '              <div style="position: relative;margin-left: 1.08rem;margin-top:0.08rem;"><span style="color:#FF4E4E">齐装APP</span><span style="color:#FF4E4E;padding:0.04rem 0.1rem;border-radius: 17px;background: #FFB1B1;position: absolute;right:0.1rem;font-size: 13px;">立即下载</span></div>\n'
            '          </li>'
            $(html).insertAfter(oLi)
        }
    </script>


</block>
