 <div class="cover"></div>
<div class="detail-model">
    <h4 style="padding-left: 15px;margin-top:20px;">新增会员详情</h4>
    <span class="m-close">×</span>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>会员ID</td>
                <td>会员名称</td>
                <td>城市</td>
                <td>所属区域</td>
                <td>会员倍数</td>
                <td>开通时间</td>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.qc}</td>
                <td>{$vo.cname}</td>
                <td>{$vo.qz_area}</td>
                <td>{$vo.viptype}</td>
                <td>{$vo.start_time}</td>
            </tr>
            </volist>
        </tbody>
    </table>
</div>