var formatDate = function (timestamp,option) {
  var date = getDate(parseInt(timestamp));
  var year = date.getFullYear()
  var month = date.getMonth() + 1 > 10 ? date.getMonth() + 1 : '0'+ (date.getMonth() + 1)
  var day = date.getDate()
  var hour = function(){
    if (date.getHours()<10){  //补‘0’
      return '0' + date.getHours()
    }
    return date.getHours();
  }
  var minute = function () {
    if (date.getMinutes() < 10) {
      return '0' + date.getMinutes()
    }
    return date.getMinutes();
  }
  var second = function () {
    if (date.getSeconds() < 10) {
      return '0' + date.getSeconds()
    }
    return date.getSeconds();
  }
 
  if (option=='notime'){  //不需要时间
    return year + '-' + month + '-' + day;
  }
 
  return year + '-' + month + '-' + day + ' ' + hour() + ':' + minute() + ":" + second();
}

var getmdhm = function (timestamp) {
  var date = getDate(parseInt(timestamp));
  var month = date.getMonth() + 1
  var day = date.getDate()
  var hour = function(){
    if (date.getHours()<10){  //补‘0’
      return '0' + date.getHours()
    }
    return date.getHours();
  }
  var minute = function () {
    if (date.getMinutes() < 10) {
      return '0' + date.getMinutes()
    }
    return date.getMinutes();
  }
  return month + '-' + day + ' ' + hour() + ':' + minute();
}

var getStatus = function(val){
  switch(val) {
    case 1 : 
      return '待提交'
      break
    case 2 : 
      return '待审核'
      break
    case 3 : 
      return '审核通过/待客服上传'
      break
    case 4 : 
      return '未通过'
      break
    case 5 : 
      return '客服审核通过'
      break
    case 6 : 
      return '客服未通过，普通信息更改'
      break
    case 7 : 
      return '客服未通过，需要重新审核'
      break
    case 8 : 
      return '客服完成上传'
      break
    case 9 : 
      return '客服暂停'
      break
    case 10 : 
      return '待客服补充'
      break
    case 11 : 
      return '客服补充完成'
      break
  }
}

var classFilter = function(val) {
  switch (val) {
    case 1:
      return 'c3'
      break
    case 2:
      return 'c2'
      break
    case 3:
      return 'c4'
      break
    case 4:
      return 'c1'
      break
    case 5:
      return 'c5'
      break
    case 6:
      return 'c1'
      break
    case 7:
      return 'c1'
      break
    case 8:
      return 'c5'
      break
    case 9:
      return 'c3'
      break
    case 10:
      return 'c5'
      break
    case 11:
      return 'c6'
      break
    default:
      return ''
  }
}

var strSlice = function(val) {
  val = val.slice(0,6)
  return val
}

 
module.exports = {
  formatDate: formatDate,
  getmdhm: getmdhm,
  classFilter: classFilter,
  getStatus: getStatus,
  strSlice: strSlice,
};