<extend name="Common:basic"/>
<block name="link">
    <link href="/assets/mobile/baojia/m-zxqbtc.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="//assets.qizuang.com/g-css/animate/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        (function (root) {
            root._tt_config = true;
            var ta = document.createElement('script');
            ta.type = 'text/javascript';
            ta.async = true;
            ta.src = document.location.protocol + '//' + 's1.pstatp.com/bytecom/resource/track_log/src/toutiao-track-log.js';
            ta.onerror = function () {
                var request = new XMLHttpRequest();
                var web_url = window.encodeURIComponent(window.location.href);
                var js_url = ta.src;
                var url = '//ad.toutiao.com/link_monitor/cdn_failed?web_url=' + web_url + '&js_url=' + js_url + '&convert_id=1598514552443939';
                request.open('GET', url, true);
                request.send(null);
            }
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ta, s);
        })(window);
    </script>

</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/{$cityInfo.bm}/" class="m-header-left"></a>
    <div class="m-header-city"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>

</block>
<block name="content">
    <article class="qb-box">
        <!-- banner图片 -->
        <div class="m-img-box">
            <img data-cfsrc="/assets/mobile/baojia/img/qb-banner.png" width="720" height="382" alt="免费获取报价"
                 src="/assets/mobile/baojia/img/qb-banner.png">
            <noscript>
                <img src="/assets/mobile/baojia/img/qb-banner.png" width="720" height="382"
                     alt="免费获取报价"/>
            </noscript>
            <div class="arrow">
                <img src="/assets/mobile/baojia/img/qb-arrow.png" alt="">
            </div>
        </div>
        <!-- from表单填写 -->
        <div class="form-once">
            <div class="form-box">
                <div class="carsoule">
                    <div class="carsoule-box ">
                        <div class="carsoule-item ">
                            <img src="/assets/mobile/baojia/img/qb-trumpt.png" alt="">
                            <div class="carsoule-words">
                                <ul class="carsoule-items">
                                    <li>
                                        <p class="clearfix"><span>来自苏州的马女士预约成功</span><span
                                                class="carsoule-time fr">2秒前</span></p>
                                    </li>
                                    <li>
                                        <p class="clearfix"><span>来自芜湖的朱先生预约成功</span><span
                                                class="carsoule-time fr">5秒前</span></p>
                                    </li>
                                    <li>
                                        <p class="clearfix"><span>来自杭州的李先生预约成功</span><span
                                                class="carsoule-time fr">10秒前</span></p>
                                    </li>
                                    <li>
                                        <p class="clearfix"><span>来自上海的赵先生预约成功</span><span
                                                class="carsoule-time fr">7秒前</span></p>
                                    </li>
                                    <li>
                                        <p class="clearfix"><span>来自漯河的李小姐预约成功</span><span
                                                class="carsoule-time fr">11秒前</span></p>
                                    </li>
                                    <li>
                                        <p class="clearfix"><span>来自信阳的曹小姐预约成功</span><span
                                                class="carsoule-time fr">3秒前</span></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="m-bj-edit">
                    <li id="area">
                        <div>
                            <button id="showCityPicker11" class="c-zb-city m-bj-edit-list" type="button">
                                <i class="map-marker fr">
                                </i>
                                <empty name="info.cityarea">
                                    请选择您所在的区域
                                    <else/>
                                    {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                                </empty>
                            </button>
                            <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                            <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                            <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                            <i class="error-tips input-city"></i>
                        </div>
                    </li>
                    <li>
                        <input class="m-row-int1 m-bj-edit-list input-square" type="number" name="mianji" autocomplete="off"
                               placeholder="请输入您的房屋面积"
                               value="{$Think.get.mianji}"
                              >
                        <input type="hidden" name="fb_type" value="mianji">
                        <span class="dw">
                        ㎡
                    </span>
                        <i class="error-tips input-mianji"></i>
                    </li>
                    <li>
                        <input class="m-row-int1 m-bj-edit-list nick-name" type="text" maxlength="20" autocomplete="off"
                               name="nick-name"
                               placeholder="请输入您的称呼"
                        >
                        <input type="hidden" name="fb_type" value="name">
                        <i class="error-tips input-chenghu"></i>
                    </li>
                    <li>
                        <input class="m-row-int1 m-bj-edit-list tel-num" type="tel" maxlength="11" name="tel-number"
                               autocomplete="off"
                               placeholder="请输入您的联系电话">
                        <input type="hidden" name="fb_type" value="baojia">
                        <i class="error-tips input-tel"></i>
                    </li>
                    <li id="shenming">
                        <input type="checkbox" checked="checked" id="mianze">
                        <label for="mianze" id="check" class="fa fa-check"></label>
                        <span>我已阅读并同意齐装网的</span>
                        <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
                    </li>
                </ul>
                <!-- 立即计算报价按钮 -->
                <a href="javascript:void(0)" class="m-b-btn save-submit save-submit-again">
                    立即免费获取报价
                </a>
            </div>
        </div>
        <div class="more-chose">
            <div class="chose-title">
                <div class="title-box">
                    <h3>多种套餐,任君选择</h3>
                </div>
                <p>* 以下套餐均为全包平方米价格</p>
            </div>
            <div class="chose-box">
                <ul>
                    <li class="box-item clearfix">
                        <div class="item-left fl">
                            <img src="/assets/mobile/baojia/img/qb-jdxs.png" alt="">
                        </div>
                        <div class="item-right fr">
                            <div class="right-line">
                                <p class="item-title">精打细算套餐</p>
                                <p class="item-price"><span>569</span>元/m²</p>
                                <div class="item-buy">速去抢购</div>
                            </div>
                        </div>
                    </li>
                    <li class="box-item clearfix">
                        <div class="item-left fl">
                            <img src="/assets/mobile/baojia/img/qb-xkzb.png" alt="">
                        </div>
                        <div class="item-right fr">
                            <div class="right-line">
                                <p class="item-title">小康资本套餐</p>
                                <p class="item-price"><span>699</span>元/m²</p>
                                <div class="item-buy">速去抢购</div>
                            </div>
                        </div>
                    </li>
                    <li class="box-item clearfix">
                        <div class="item-left fl">
                            <img src="/assets/mobile/baojia/img/qb-hhdp.png" alt="">
                        </div>
                        <div class="item-right fr">
                            <div class="right-line">
                                <p class="item-title">豪华顶配套餐</p>
                                <p class="item-price"><span>899</span>元/m²</p>
                                <div class="item-buy">速去抢购</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="promise-box">
            <div class="promise-content">
                <div class="promise-line clearfix">
                    <div class="promise-logo fl">
                        <img src="/assets/mobile/baojia/img/qb-logo.png" alt="">
                    </div>
                    <div class="promise-info fr">
                        <p><span>1500万</span>个家庭的共同选择</p>
                        <p>装修价格低于市场<span>30%</span></p>
                        <p>并承诺<span>5年</span>质保</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="police-box">
            <div class="police-item">
                <div class="police-title">
                    <h3>四包政策</h3>
                    <p>让你省时省心省力更省钱</p>
                </div>
                <div class="police-items">
                    <ul class="clearfix">
                        <li class="clearfix">
                            <div class="fl police-detail topLeft">
                                <div class="img-box">
                                    <img src="/assets/mobile/baojia/img/qb-bsj.png" alt="">
                                </div>
                                <h3>包设计</h3>
                                <p>4套方案 极速出图</p>
                            </div>
                            <div class="fr police-detail topRight">
                                <div class="img-box">
                                    <img src="/assets/mobile/baojia/img/qb-blf.png" alt="">
                                </div>
                                <h3>包量房</h3>
                                <p>上门服务 了解需求</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="fl police-detail bottomLeft">
                                <div class="img-box">
                                    <img src="/assets/mobile/baojia/img/qb-bzc.png" alt="">
                                </div>
                                <h3>包主材</h3>
                                <p>环保材料 健康安全</p>
                            </div>
                            <div class="fr police-detail bottomRight">
                                <div class="img-box">
                                    <img src="/assets/mobile/baojia/img/qb-bzx.png" alt="">
                                </div>
                                <h3>包装修</h3>
                                <p>官方监管 质量保障</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="result-box">
            <div class="result-title">
                <h3>实际效果欣赏</h3>
                <p>1500万家庭的共同选择</p>
            </div>
            <div class="result-items">
                <ul>
                    <li class="clearfix ">
                        <div class="fl result-detail">
                            <img src="/assets/mobile/baojia/img/qb-xdjy.png" alt="">
                            <div class="items-box ">
                                <h3>现代简约</h3>
                                <p><span class="item-name fl">胡女士</span><span class="fr">苏州</span></p>
                            </div>
                            <div class="item-mask"></div>
                        </div>
                        <div class="fr result-detail">
                            <img src="/assets/mobile/baojia/img/qb-ms.png" alt="">
                            <div class="items-box ">
                                <h3>美式风格</h3>
                                <p><span class="item-name fl">周女士</span><span class="fr">北京</span></p>
                            </div>
                            <div class="item-mask"></div>
                        </div>
                    </li>
                    <li class="clearfix ">
                        <div class="fl result-detail">
                            <img src="/assets/mobile/baojia/img/qb-zs.png" alt="">
                            <div class="items-box ">
                                <h3>中式风格</h3>
                                <p><span class="item-name fl">李先生</span><span class="fr">杭州</span></p>
                            </div>
                            <div class="item-mask"></div>
                        </div>
                        <div class="fr result-detail">
                            <img src="/assets/mobile/baojia/img/qb-dzh.png" alt="">
                            <div class="items-box ">
                                <h3>地中海风格</h3>
                                <p class="clearfix"><span class="item-name fl">张先生</span><span class="fr">上海</span></p>
                            </div>
                            <div class="item-mask"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="safe-box">
            <div class="safe-title">
                <div class="safe-title-box">
                    <h3>六大装修保障</h3>
                    <p>全方面保障您的权益</p>
                </div>
            </div>
            <div class="safe-items">
                <div class="safe-line"></div>
                <ul class="clearfix item-detail">
                    <li class="fl safe-item">
                        <div class="item-box">
                            <div class="item-line">
                                <h3>正规公司</h3>
                                <p>施工有保障</p>
                            </div>
                        </div>
                    </li>
                    <li class="fl safe-item item-space">
                        <div class="item-box">
                            <div class="item-line">
                                <h3>全网最低</h3>
                                <p>报价即结算价</p>
                            </div>
                        </div>
                    </li>
                    <li class="fl safe-item">
                        <div class="item-box">
                            <div class="item-line">
                                <h3>环保材料</h3>
                                <p>杜绝装修污染</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="clearfix item-detail">
                    <li class="fl safe-item">
                        <div class="item-box">
                            <div class="item-line">
                                <h3>官方监督</h3>
                                <p>全程跟踪服务</p>
                            </div>
                        </div>
                    </li>
                    <li class="fl safe-item item-space">
                        <div class="item-box">
                            <div class="item-line">
                                <h3>维权保障</h3>
                                <p>快速处理纠纷</p>
                            </div>
                        </div>
                    </li>
                    <li class="fl safe-item">
                        <div class="item-box">
                            <div class="item-line">
                                <h3>五年质保</h3>
                                <p>装后有保障</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="get-btn">
            <a href="JavaScript:void(0);">立即抢购</a>
        </div>
        <div id="footer-container">
            <p class="footer-tel">
                <span>免费装修咨询热线:</span>
                <span class="phone-box"><i class="phone-icon"></i></span>&nbsp;
                <a href="tel:400-6969-336" class="hot">400-6969-336</a>
            </p>
            <p class="footer-title">轻松装修乐无忧</p>
            <!--<div class="footer-app-download"><p>下载装修说app</p></div>-->
            <p class="footer-webadress">
                手机齐装网：<a href="/">m.qizuang.com&nbsp;</a>&nbsp;苏ICP备12045334号 </p>
            <p>苏州云网通信息科技有限公司</p>
            <p class="foot-discliamer">本站内容齐装网保留所有权利·不承担法律责任</p>
        </div>
    </article>
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
    <input type="hidden" name="source" value="19041109">

    <!-- 滚动用户的图片信息 -->
    <!--  <div class="g-msg">
          <div class="msg msg1 animated fadeInUp">
              <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/desLogo/201705/100.jpg" alt="">
              <span>来自杭州的李先生发起了申请&nbsp;&nbsp;&nbsp;&nbsp;13秒前</span>
          </div>
      </div>-->
    <div class="mask">
        <div class="mask-box">
            <div class="mask-img">
                <img src="/assets/mobile/baojia/img/qb-box.png" alt="">
                <h3>恭喜您预约成功</h3>
                <p>我们会尽快电话联系您~</p>
            </div>
            <div class="mask-close">
                <img src="/assets/mobile/baojia/img/qb-maskclose.png" alt="">
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">

        $('.get-btn').on('click', function () {
            $('body,html').animate({
                scrollTop: 300
            }, 1000)
        })
        $('.item-buy').on('click', function () {
            $('body,html').animate({
                scrollTop: 300
            }, 1000)
        })
        $('.input-square').on('input',function () {
            var temp= clearNoNum($(this).val())
            $(this).val(temp)
        })
        function clearNoNum(val) {
            val = val.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
            val = val.replace(/^\./g,""); //验证第一个字符是数字而不是
            val = val.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
            val = val.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            val = val.replace(/^(\-)*(\d+)\.(\d{0,1}).*$/,'$1$2.$3'); //只能输入两个小数
            return val
        }
        // 获取随机数的方法
        function GetRandomNum(Min, Max) {
            var Range = Max - Min;
            var Rand = Math.random();
            return (Min + Math.round(Rand * Range));
        }
      /*  $('.nick-name').on('input',function (e) {
            $(this).val($(this).val().replace(/[^\u4E00-\u9FA5A-Za-z]/g,''))
        })*/
        $(".tel-num").keyup(function () {
            $(this).val($(this).val().replace(/[^\d]/g,''))
        })

        // 随机数
        var timer = setInterval(function () {
            var num = GetRandomNum(30000, 120000) + '';
            if (num < 99999) {
                var num1 = 'num num-gray',
                    num2 = 'num num-' + num.charAt(0),
                    num3 = 'num num-' + num.charAt(1),
                    num4 = 'num num-' + num.charAt(2),
                    num5 = 'num num-' + num.charAt(3),
                    num6 = 'num num-' + num.charAt(4);
            } else {
                var num1 = 'num num-' + num.charAt(0),
                    num2 = 'num num-' + num.charAt(1),
                    num3 = 'num num-' + num.charAt(2),
                    num4 = 'num num-' + num.charAt(3),
                    num5 = 'num num-' + num.charAt(4),
                    num6 = 'num num-' + num.charAt(5);
            }
            $('#num-1').removeClass().addClass(num1);
            $('#num-2').removeClass().addClass(num2);
            $('#num-3').removeClass().addClass(num3);
            $('#num-4').removeClass().addClass(num4);
            $('#num-5').removeClass().addClass(num5);
            $('#num-6').removeClass().addClass(num6);

        }, 400);
        //切换免责对勾
        $("#check").click(function () {
            $(this).toggleClass('fa-check');
        });

        // 立即计算报价
        $('.save-submit-again').on('click', function () {
            var checked = $("#mianze").is(':checked');
            var src = "{$src}";
            $('.error-tips').text('').hide();

            window.order({
                extra: {
                    cs: $('input[name=city]').attr('data-id'),
                    qx: $('input[name=area]').attr('data-id'),
                    mianji: $(".m-bj-edit input[name=mianji]").val(),
                    name: $(".m-bj-edit input[name=nick-name]").val(),
                    tel: $(".m-bj-edit input[name=tel-number]").val(),
                    fb_type: $("input[name=fb_type]").val(),
                    source: $("input[name=source]").val(),
                    save: 1,
                    clickid:"{$Think.get.clickid}",
                    creativeid:"{$Think.get.creativeid}",
                    aid:"{$Think.get.adid}",
                    creativetype:"{$Think.get.creativetype}",
                },
                submitBtn:{
                    className:$(this),
                    type:'btn'
                },
                error: function () {
                    alert("发生了未知的错误,请稍后再试！");

                },
                success: function (data, status, xhr) {

                    if (data.status == 1) {
                        $(".mask").show();
                    } else {
                        alert(data.info);
                    }
                },
                validate: function (item, value, method, info) {
                    if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                        $('.input-city').show().text('请选择您所在区域');
                        return false
                    };
                    if ('mianji' == item && '' != method) {
                        $('.input-mianji').show().text(info)
                        $(".m-bj-edit input[name=mianji]").focus();
                        return false;
                    };
                    if ('tel' == item && '' != method) {
                        $('.input-tel').show().text(info)
                        $(".m-bj-edit input[name=tel-number]").focus();
                        return false;
                    };
                    if ('name' == item && '' != method) {
                        $('.input-chenghu').show().text(info)
                        $(".m-bj-edit input[name=nametop]").focus();
                        return false;
                    };
                    if (!checked) {
                        alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                        return false;
                    }
                    return true;
                }
            });
        });
        $(".mask-close").on('click', function () {
            $(".mask").hide();
            window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/baojia3"
        })
        //滚动用户信息的提示
        var msgNum = 0;

        /*轮播*/
        var oneHeight = $('.carsoule-items li').eq(0).height();
        var length = $('.carsoule-items').children().length;
        var time = null;
        var iNow = 0;
        time = setInterval(function () {
            iNow++;
            if (iNow > length - 1) {
                iNow = 0;
            }
            $('.carsoule-items').css('top', -parseInt(iNow) * 0.35 + 'rem');
        }, 2000)


    </script>
    <script type="text/javascript">
        // 城市选择插件
        selectQz.init({
            province: $("input[name=province]").attr("data-id"),
            city: $("input[name=city]").attr("data-id"),
            area: $("input[name=area]").attr("data-id")
        });
    </script>
</block>
