<extend name="Common:basic"/>
<block name="link">
<link href="/assets/mobile/baojia/m-zxbj.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<link href="//assets.qizuang.com/g-css/animate/animate.min.css" rel="stylesheet" type="text/css">
<link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
<style>
  body,html{
    background: #FFF7DC;
  }
  header,footer{
    display: none;
  }
  article{
    background:url("/assets/mobile/zb/images/hzhjbj.png") no-repeat;
    background-size:100% auto;
  }
  .m-bj-edit{
    margin:0px;
  }
  .bj-banner{
    text-align: center
  }
  .jssw-banner{
    width:80%;
    position: relative;
    z-index: 1;
    padding-top:0.3rem
  }
  .form-once{
    background:#fff;
    margin:auto 0.2rem;
    margin-top:-0.3rem;
    box-shadow: 0px 0px 10px 0px #dedede;
    padding:0.2rem;
    border-radius: .05rem;
  }
  .tm-logo{
    width:30%;
    position: relative;
    z-index: 1;
    top:0.35rem;
  }
  .m-b-btn{
    margin:0px  !important;
    background: #FCCE14;
    margin-left: 0.4rem !important;
    margin-right: 0.4rem !important;
    border-radius: 0.3rem;
    color:#000;
    font-weight: bold;
  }
  .jsgz{
    font-size: 0.18rem;
    font-weight: bold;
    color:#FC8100;
    text-align: center;
    padding-top:0.3rem;
    padding-bottom: 0.1rem;
  }
  .gzsm{
    padding:0px 0.2rem 0.2rem 0.2rem;
    line-height: 26px;
  }
  iframe{display: none}
  .mjsj-mask{
	position: fixed;
	width:100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index:999;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}
.mjsj-win{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 100%;
}
.msjs-win-content{
	background: #fff;
	border-radius: 10px;
	padding:0.2rem;
	position: relative;
	display: inline-block;
	width:80%
}
.msjs-win-content p{
	padding:5px 0px;
}
</style>
</block>
<block name="top">
</block>
<block name="content">
    <article>
        <div class="bj-banner">
          <img src="/assets/mobile/zb/images/logo-no-bg.png?v={:C('STATIC_VERSION')}" class="tm-logo">
          <img src="/assets/mobile/zb/images/jssw-banner.png" class="jssw-banner">
        </div>
        <!-- from表单填写 -->
        <div class="form-once">
            <ul class="m-bj-edit">
                <li id="area">
                    <div>
                        <button id="showCityPicker2" class="c-zb-city" type="button">
                            <i class="fa fa-map-marker">
                            </i>
                            <empty name="info.cityarea">
                            请选择您所在的区域
                            <else />
                            {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                            </empty>
                        </button>
                        <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                        <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                        <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                    </div>
                </li>
                <li>
                    <input class="m-row-int1 m-bj-edit-list" type="number" name="mianji" placeholder="请输入您的房屋面积" value="{$Think.get.mianji}">
                    <span class="dw">
                        ㎡
                    </span>
                </li>
                <li>
                    <input class="m-row-int1 m-bj-edit-list" type="tel" maxlength="11" name="tel-number" placeholder="请输入您的手机号获取报价结果">
                    <input type="hidden" name="fb_type" value="baojia">
                </li>
                <li id="shenming">
                    <input type="checkbox" checked="checked" id="mianze">
                    <label for="mianze" id="check" class="fa fa-check"></label>
                    <span>我已阅读并同意齐装网的</span>
                    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
                 </li>
            </ul>

            <!-- 立即计算报价按钮 -->
            <a class="m-b-btn save-submit" data-setting-click="">
                立即加速
            </a>
        </div>
        <div class="jsgz">加速规则</div>
        <div class="gzsm">
            <p>1.本次加速不收取任何费用</p>
            <p>2.装修咨询热线：{:OP('QZ_CONTACT_TEL400')}</p>
            <p>3.本活动最终解释权归齐装网所有</p>
        </div>

        <input type="hidden" name="source" value="19090915">

    </article>
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
    <input type="hidden" name="src" value="{$_GET[src]}">
    <div class="mjsj-mask">
      <div class="mjsj-win">
          <div class="msjs-win-content">
              <img src="/assets/mobile/zb/images/cancel4.png" style="position: absolute;right:20px;top:10px; width:0.15rem;" id="closeresult">
              <p style="font-size: 0.16rem">领取成功</p>
              <br>
              <p style="font-size: 0.13rem">客服稍后将与您联系</p>
          </div>
      </div>
    </div>
</block>
<block name="script">
<script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
<script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="//yun.tuisnake.com/h5-mami/log.js?v={:C('STATIC_VERSION')}" id="send_log"></script>
<script type="text/javascript">
    //切换免责对勾
    $("#check").click(function(){
        $(this).toggleClass('fa-check');
    });

    $('.save-submit').on('click',function() {
        var checked = $("#mianze").is(':checked');
        window.order({
           url:"{$SCHEME_HOST.scheme_full}{:C('MPAPI_DOMAIN')}/v1/fb",
            extra:{
                cs:$('input[name=city]').attr('data-id'),
                qx:$('input[name=area]').attr('data-id'),
                mianji:$(".m-bj-edit input[name=mianji]").val(),
                tel:$(".m-bj-edit input[name=tel-number]").val(),
                fb_type:$("input[name=fb_type]").val(),
                source: $('input[name=source]').val(),
                save:1,
                src:$("input[name=src]").val()
            },
            submitBtn:{
                className:$(this),
                type:'btn'
            },
            error:function(){
                alert("发生了未知的错误,请稍后再试！");

            },
            success:function(data, status, xhr){
              if(data.error_code == 0){
                $(".mjsj-mask").css({
                  display:'table'
                })
              }
            },
            validate:function(item, value, method, info){
                if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                    alert(info);
                    return false;
                };
                if ('mianji' == item && '' != method) {
                    alert(info);
                    // $(".m-bj-edit input[name=mianji]").val("");
                    $(".m-bj-edit input[name=mianji]").focus();
                    return false;
                };
                if ('tel' == item && '' != method) {
                    alert(info);
                    $(".m-bj-edit input[name=tel-number]").focus();
                    return false;
                };
                if(!checked){
                    alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                    return false;
                };

                return true;
            }
        });
    });

</script>
<script type="text/javascript">
    // 城市选择插件
    selectQz.init({
        province:$("input[name=province]").attr("data-id"),
        city:$("input[name=city]").attr("data-id"),
        area:$("input[name=area]").attr("data-id")
    });

    $("#closeresult").click(function(){
        $(".mjsj-mask").css({
            display:'none'
        })
    });
</script>
</block>
