<extend name="Common:basic"/>
<block name="link">
    <!--<link href="/assets/mobile/baojia/jzbaojia1.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />-->
    <link href="//assets.qizuang.com/g-css/animate/animate.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/baojia/m-newbaojia2.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/js/swiper/swiper.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />

</block>
<block name="top">
    <div class="m-header-his" >
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="{$SCHEME_HOST.scheme_full}{:C('MOBILE_DONAMES')}/{$cityInfo.bm}/" class="m-header-left"></a>
    <div class="m-header-city"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>

</block>
<block name="content">
    <article class="m-fadan-content">
        <!--顶部图片-->
        <div class="m-img-box">
            <img src="/assets/mobile/baojia/img/bj2-banner.png" width="750px" height="324px"
                 alt="免费获取报价">
            <div class="content-box">
                <div class="sub-box">
                    <h3> 最快<span>8秒</span>获取装修报价</h3>
                    <p class="sub-detail">给你专业、公正、透明的装修报价</p>
                    <p class="sub-short">
                        <span class="sub-word">FAEE</span>
                        <span class="sub-icon"></span>
                        <span class="sub-word">FAST</span>
                    </p>
                </div>

            </div>
            <div class="content-label">
                <ul class="clearfix">
                    <li>
                        <span>快</span>
                        <p>快速精准报价</p>
                    </li>
                    <li class="babel-exact">
                        <span>准</span>
                        <p>杜绝装修增项</p>
                    </li>
                    <li>
                        <span>省</span>
                        <p>省钱、省心、省力</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--form 表单-->
        <div class="form-box">
            <!--info-->
            <div class="form-once">
                <div class="box-top">
                    <div class="form-again hide">
                        <ul class="m-bj-edit">
                            <li>
                                <input class="m-row-int1 m-bj-edit-list jz-baojia" type="text" name="nametop" id="nametop" data-flag="name_change" maxlength="13" placeholder="怎么称呼您">
                            </li>
                            <li>
                                <input class="m-row-int1 m-bj-edit-list jz-baojia" type="text" name="xiaoqu" id="xiaoqu" data-flag="place_change" placeholder="填写小区名称以便准确匹配">
                            </li>
                        </ul>
                        <!-- 立即计算报价按钮 newbaojiasuccess-->
                        <a class="m-b-btn save-submit-again jz-baojia-btn" href="javascript:void(0)" data-flag="info_smt">
                            立即计算报价
                        </a>
                    </div>
                </div>
            </div>
            <div class="services">
                <div class="services-title">
                    <span></span>
                    <h3>免费提供五大服务</h3>
                    <span></span>
                </div>
                <div class="services-box">
                    <ul>
                        <li>
                            <span>01</span>
                            <p><span>量房体验</span>（专业设计师上门量房给您满意的服务）</p>
                        </li>
                        <li>
                            <span>02</span>
                            <p><span>免费设计</span>（4份设计方案任您挑选给您满意的设计）</p>
                        </li>
                        <li>
                            <span>03</span>
                            <p class="smart"><span>智能报价</span>（准确、智能报价让您心中有数）</p>
                        </li>
                        <li>
                            <span>04</span>
                            <p><span>参观样板房</span>（带您浏览参观样板房让您看到未来家的样子）</p>
                        </li>
                        <li>
                            <span>05</span>
                            <p><span>官方监督</span>（专业人士现场监督装修质量有保障）</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="styles">
                <div class="styles-title">
                    <span></span>
                    <h3>装修风格</h3>
                    <span></span>
                </div>
                <div class="style-banner clearfix">
                    <div class="banner-left">
                        实景案例
                    </div>
                    <div class="banner-right">
                        <ul>
                            <li>中式</li>
                            <li>东南亚</li>
                            <li>田园</li>
                            <li>简欧</li>
                            <li>美式</li>
                            <li>简约</li>
                            <li>欧式</li>
                            <li>乡村</li>
                            <li>地中海</li>
                            <li>日式</li>
                        </ul>
                    </div>

                </div>
                <div class="style-box">
                    <div class="box-top clearfix">
                        <div class="fl box-left-img">
                            <img src="/assets/mobile/baojia/img/bj2-item1.jpg" alt="">
                        </div>
                        <div class="fr box-right-img">
                            <img src="/assets/mobile/baojia/img/bj2-item2.jpg" alt="">
                            <img src="/assets/mobile/baojia/img/bj2-item3.jpg" alt="">
                        </div>
                    </div>
                    <div class="box-bottom clearfix">
                        <div class="fl left-img">
                            <img src="/assets/mobile/baojia/img/bj2-item4.jpg" alt="">
                        </div>
                        <div class="fr right-img">
                            <img src="/assets/mobile/baojia/img/bj2-item5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--提交按钮-->
        <div class="submitBtn">
            <!--<a href="/jznewbaojia" class="baojia-btn">立即获取报价</a>-->
            <a href="javascript:void(0)" class="baojia-btn">立即获取报价</a>
        </div>
        <div id="footer-container">
            <p class="footer-tel">
                <span>装修咨询热线:</span>
                <span class="phone-box"><i class="phone-icon"></i></span>&nbsp;
                <a href="tel:{:OP('QZ_CONTACT_TEL400')}" class="hot">{:OP('QZ_CONTACT_TEL400')}</a>
            </p>
            <p class="footer-title">轻松装修乐无忧</p>
            <!--<div class="footer-app-download"><p>下载装修说app</p></div>-->
            <p class="footer-webadress">
                手机齐装网：m.qizuang.com&nbsp;&nbsp;苏ICP备12045334号 </p>
            <p>苏州云网通信息科技有限公司</p>
            <p class="foot-discliamer">本站内容齐装网保留所有权利·不承担法律责任</p>
        </div>
    </article>
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
</block>


<block name="script">
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $('.baojia-btn').on('click',function () {
            $('body,html').animate({
                scrollTop:0
            },1000)
        })
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 'auto',
            loopedSlides: 3,
            slidesOffsetBefore : 54,
            spaceBetween : 1,
           /* slidesPerView : 3,
            slidesPerGroup : 1,
            spaceBetween : 1,
            //移动端轮播
            // pagination : '.swiper-pagination',
            autoplayDisableOnInteraction : false,
            slidesOffsetBefore : 30,
            loop : true,
            // autoplay: 4000,//可选选项，自动滑动
            initialSlide :0,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true//修改swiper的父元素时，自动初始化swiper*/
        });

        // 立即计算报价
        $('.save-submit-again').on('click',function(){


            window.order({
                extra:{
                    name:$(".m-bj-edit input[name=nametop]").val(),
                    xiaoqu:$(".m-bj-edit input[name=xiaoqu]").val(),
                    save:1,
                    orderid:"{$orderid}"
                },
                submitBtn:{
                    className:$(this),
                    type:'btn'
                },
                error:function(){
                    alert("发生了未知的错误,请稍后再试！");

                },
                success:function(data, status, xhr){

                    if(data.status == 1){
                        window.location.href = "{$SCHEME_HOST.scheme_full}{:C('MOBILE_DONAMES')}/baojia2success/";
                    }else{
                        alert(data.info);
                    }
                },
                validate:function(item, value, method, info){
                    if ('name' == item && '' != method) {
                        alert(info);
                        $(".m-bj-edit input[name=nametop]").focus();
                        return false;
                    };
                    if ('xiaoqu' == item && 'notempty' == method) {
                        alert(info);
                        $(".m-bj-edit input[name=xiaoqu]").focus();
                        return false;
                    };

                    return true;
                }
            });
        });

    </script>
</block>
