<extend name="Common:basic"/>
<block name="keywords">
    <meta name="keywords" content="{$basic.head.keywords}"/>
</block>
<block name="description">
    <meta name="description" content="{$basic.head.description}"/>
</block>
<block name="title"><title>{$basic.head.title}</title></block>
<block name="link">
    <link href="/assets/mobile/sub/css/m-home.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css">
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/zb/css/mjsj1.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/mobile/company/css/mobile_select.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/mobile/common/js/swiper/swiper.min.css?v={:C('STATIC_VERSION')}">
    <meta property="og:image"
          content="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.domain}/assets/sub/index/img/360search.png"/>

</block>

<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <!-- <div class="m-header-tit">设计与报价</div> -->
    <div class="m-header-city"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>
</block>
<block name="content">
    <div class="sheji-banner">
        <img src="/assets/mobile/zb/images/mjsj1-banner.jpg" alt="">
        <a href="javascript:void(0);" class="sheji-tip"></a>
    </div>
    <div class="m-container white-bg">
        <div class="get-design-title" id="order-area">
            <div class="title-top"><span>今日仅剩</span>199<span>个名额</span></div>
        </div>
        <ul class="get-design-box">
            <li class="form-li" style="text-indent:4px;">
                <gt name="mapUseInfo.vipcount" value="0">
                    <button id="showCityPicker2" class="c-zb-city" type="button">
                        &nbsp;<i class="fa fa-map-marker"></i>
                        <empty name="info.cityarea">
                            请选择您所在的区域
                            <else/>
                            {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                        </empty>
                    </button>
                    <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                    <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                    <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                    <else/>
                    <button id="showCityPicker2" class="c-zb-city" type="button">
                        &nbsp;<i class=" fa fa-map-marker"></i>
                        请选择您所在的区域
                    </button>
                    <input type="hidden" name="province" data-id="">
                    <input type="hidden" name="city" data-id="">
                    <input type="hidden" name="area" data-id="">
                </gt>
            </li>
            <li class="validate-tips" id="city-tips"></li>
            <li class="form-li mobile_select">
            </li>
            <input type="hidden" name="huxing" value=''>
            <li class="validate-tips" id="mianji-tips"></li>
            <li class="form-li">
                <input type="text" name="tel" placeholder="输入手机号获取免费设计与报价" maxlength="11" style="width: 100%">
            </li>
            <li class="validate-tips" id="tel-tips"></li>
            <a href="javascript:void(0)" class="m-b-btn">立即获取 <img src="/assets/mobile/zb/images/hangd-icon.png" alt=""></a>
            <li class="validate-tips-sm" style="margin-top:3px">*声明：您的信息会被严格保密，请放心填写</li>
            <li id="shenming" style="margin-top:5px;">
                <input type="checkbox" checked="checked" id="mianze">
                <label for="mianze" id="check" class="fa fa-check"></label>
                <span>我已阅读并同意齐装网的</span>
                <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
            </li>
            <input id="safecode" type="hidden" value="{$safecode}"/>
            <input id="safekey" type="hidden" value="{$safekey}"/>
            <br>
        </ul>


        <div class="last-box">
            <div class="last-box-container">
                <img src="/assets/mobile/zb/images/bottom-small-logo.png" class="small-bottom-logo">
                <span style="font-size: 0.15rem">装修就上齐装网</span>
                <p style="font-size: 0.15rem;text-align:right;padding-right:0.2rem"><span>轻松装修乐无忧</span></p>
                <p style="text-align: center;"><span style="font-size: 0.15rem">7</span>年互联网家装品牌</p>
                <p style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="font-size: 0.15rem">8</span>万家装修公司入驻</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 0.15rem">500</span>多个全国城市分站</p>
                <p style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="font-size: 0.15rem">1500</span>万业主服务口碑</p>
            </div>
            <br/>
            <div class="last-box-container go-top-order">
                立即免费领取
            </div>
        </div>
    </div>
    <!-- <div id="gotop"><i class="fa fa-angle-up fa-lg"></i><br>置顶</div> -->
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
    <div class="mjsj-mask">
        <div class="mjsj-win">
            <div class="msjs-win-content">
                <div class="success-img">
                    <img src="/assets/mobile/zb/images/success-img.png"/>
                </div>
                <p style="font-size: 0.16rem;color:#40BC78;font-weight: bold;">领取成功</p>
                <p class="result-text">
                    您已成功领取齐装网3000元装修礼券，稍后装修管家会联系您，请留意接听。（ 此券可享受等价值3000元的装修设计服务：包括定制设计、专业量房、预算规划 ）
                </p>
                <p class="caution">注：此处的定制设计是指平面布局图设计。</p>
                <div class="qizuang-logo">
                    <img src="/assets/mobile/zb/images/qizuang-logo.png"/>
                </div>
                <div style="position: relative">
                    <p class="app-get"><img src="/assets/mobile/zb/images/get.png" style="position: absolute;position: absolute;right: 0.15rem;top: 0.1rem; width: 0.14rem;"/>齐装网更多精彩服务，{:C('APP_OPEN_TITLE')}</p>
                </div>
                <div class="close-app-btn" id="closeresult">
                    <img src="/assets/mobile/zb/images/close-btn.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="ticket-mask"></div>
    <div class="ticket">
        <div class="ticket-text">
            <p>礼券使用规则说明</p>
        </div>
        <div class="ticket-items">
            <ul>
                <li>
                    <span>1、</span>
                    <p>3000元装修礼券=定制设计+专业量房+预算规划 <span>(此处的定制设计是指平面布局图设计)</span></p>
                </li>
                <li>
                    <span>2、</span>
                    <p>每个手机号仅限领取1张装修礼券</p>
                </li>
                <li>
                    <span>3、</span>
                    <p>本券不用于现金抵扣，不兑现，不找零，不与其他优惠券叠加使用</p>
                </li>
                <li>
                    <span>4、</span>
                    <p>同一用户同一套房仅限使用一张优惠券，本券有效期至2019年12月31日</p>
                </li>
                <li>
                    <span>5、</span>
                    <p>本券仅限于齐装网服务范围内的城市使用</p>
                </li>
            </ul>
        </div>
        <div class="ticket-close">
            <p>X</p>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/mobile/sub/js/TouchSlide.1.1.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript"
            src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/company/js/mobile_select.js?v={:C('STATIC_VERSION')}"></script>
    <script>

        $(document).ready(function () {
            // 城市选择插件
            var hxList = [
                {id: "0", name: "请选择户型"},
                {id: "39", name: "2室1厅1卫"},
                {id: "40", name: "2室2厅1卫"},
                {id: "46", name: "3室1厅1卫"},
                {id: "42", name: "3室2厅1卫"},
                {id: "43", name: "3室2厅2卫"},
                {id: "15", name: "其它"}
            ]
            $(".mobile_select").mobileSelect(hxList, $("input[name='huxing']"));

            selectQz.init({
                province: $("input[name=province]").attr("data-id"),
                city: $("input[name=city]").attr("data-id"),
                area: $("input[name=area]").attr("data-id")
            });

            //点击发单
            $(".m-b-btn").click(function () {
                var _me =$(this)

                $(".validate-tips").html("")
                if ($("input[name=city]").attr("data-id") == "") {
                    $("#city-tips").html("*请填写城市")
                    return false;
                }

                if ($("input[name=area]").attr("data-id") == "") {
                    $("#city-tips").html("*请填写区域")
                    return false;
                }

                var tel = $("[name='tel']").val();
                var huxing = $("input[name='huxing']").val()

                if (huxing == ''||huxing==0) {
                    $("#mianji-tips").html("*请选择户型")
                    return false
                }

                if (tel == "") {
                    $("[name='tel']").focus();
                    $("#tel-tips").html("请填写手机号 ^_^!")
                    return false;
                } else {
                    var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
                    if (!reg.test(tel)) {
                        $("[name='tel']").focus();
                        $("#tel-tips").html("请填写正确的手机号码 ^_^!")
                        return false;
                    }
                }
                var checked = $("#mianze").is(':checked');
                if (!checked) {
                    alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                    return false;
                }

                window.order({
                    extra: {
                        cs: $("[name=city]").attr("data-id"),
                        qy: $("[name=area]").attr("data-id"),
                        tel: $("[name=tel]").val(),
                        huxing: $("[name=huxing]").val(),
                        source: '19071155'
                    },
                    submitBtn:{
                        className:$(this),
                        type:'btn'
                    },
                    error: function () {
                        alert("发生了未知的错误,请稍后再试！");

                    },
                    success: function (data, status, xhr) {
                        //修改提交按钮状态  恢复

                        if (data.status == 1) {
                            $(".mjsj-mask").css({
                                display: 'table'
                            })
                            $("body").addClass("m_select_fixed");
                            $("input[name='tel']").val("")
                            $("input[name='huxing']").val("")
                            $(".m_select_box").children("p").text("请选择户型").css("color", "#999")
                        } else {
                            alert(data.info);
                        }
                    },
                    validate: function (item, value, method, info) {
                        return true;
                    }
                });
            });
            //切换免责对勾
            $("#check").click(function () {
                $(this).toggleClass('fa-check');
            });
            $("#closeresult").click(function () {
                $(".mjsj-mask").css({
                    display: 'none'
                })
                $("body").removeClass("m_select_fixed");
            });
            $(".go-top-order").click(function () {
                location.href = "#order-area"
            })

        });
        // 轮播
        var Swiper1 = new Swiper('.maopi-container', {
            loop: true,
            autoplay: 4000,
            pagination: '.page1',
            autoplayDisableOnInteraction: false
        });
        //使用说明
        $('.sheji-tip').click(function () {
            $('body').css('position', 'fixed')
            $(".ticket-mask").css('display', 'block')
            $('.ticket').css('display', 'block')
        })
        $('.ticket-close').click(function () {
            $(".ticket-mask").css('display', 'none')
            $('.ticket').css('display', 'none')
            $('body').css('position', 'static')
        })
        $("body").on("click",".app-get",function () {
            window.location.href = 'https://h5.qizuang.com/qzdownload?channel=qz-qdb-dl'
        })
    </script>
</block>
