<extend name="Index:basic"/>
<block name="meta">
    <title>{$head.title}</title>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{$alternate}">
    <meta name="keywords" content="{$head.keywords}">
    <meta name="description" content="{$head.description}">
    <if condition="$keyword != ''">
        <meta name="robots" content="noindex,follow"/>
    </if>
</block>
<block name="style">
    <meta name="mobile-agent"
          content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}{$_SERVER['REQUEST_URI']}"/>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}{$_SERVER['REQUEST_URI']}"/>
    <link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/zxgl-home.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="/assets/home/zixun/css/zpindao.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="/assets/home/zhishi/css/index.css?v={:C('STATIC_VERSION')}"/>
</block>
<block name="content">
    <div class="wrap">
        <div class="bread" style="margin-bottom: 5px;">
            <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/" target="_blank">装修公司</a>&nbsp;&gt; <h1 class="bread-target">&nbsp;装修知识</h1>
        </div>
        <div class="part_item">
            <div class="part_item_body clearfix">
                <ul class="part-nav">
                    <li>
                        <a href="/gonglue/zs/" target="_blank">
                            <img src="/assets/home/zhishi/img/nav_1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/baike/zs/" target="_blank">
                            <img src="/assets/home/zhishi/img/nav_2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/wenda/zs/" target="_blank">
                            <img src="/assets/home/zhishi/img/nav_3.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap clearfix">
        <div class="pull-left left_content">
            <div class="part_item">
                <div class="part_item_header sub-title clearfix">
                    <div class="part_item_title pull-left">
                        <h2>攻略装修知识</h2>
                    </div>
                    <div class="part_item_nav pull-right right-more">
                        <a href="/gonglue/zs/" target="_blank"><span>更多></span></a>
                    </div>
                </div>
                <div class="part_item_body part-lunbo clearfix">
                    <div class="rongyu">
                        <div class="swiper-container">
                            <ul class="swiper-wrapper">
                                <volist name="gongluelist" id="vo">
                                        <li class="swiper-slide">
                                            <div class="zhengshu">
                                                    <a href="/gonglue/zs/{$vo.zhuanti_href}/" target="_blank">
                                                    <if condition="$vo['article_face']">
                                                        <img src="//{$vo.article_face}" alt="">
                                                    <else/>
                                                        <img src="//{:C('QINIU_DOMAIN')}/custom/20190725/FuY0t74UHJPN7HCRX1SPVBh5qs0q" alt="">
                                                    </if>
                                                    </a>
                                                <span><a href="/gonglue/zs/{$vo.zhuanti_href}/" target="_blank">{$vo.zhuanti_name}</a></span>
                                            </div>
                                        </li>
                                </volist>
                            </ul>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            <div class="part_item">
                <div class="part_item_header sub-title clearfix">
                    <div class="part_item_title pull-left">
                        <h2>百科装修知识</h2>
                    </div>
                    <div class="part_item_nav pull-right right-more">
                        <a href="/baike/zs/"><span>更多></span></a>
                    </div>
                </div>
                <div class="content">
                    <ul class="content-items">
                        <volist name="baikelist" id="vo">
                            <if condition="$key lt count($baikelist)/2">
                                    <li class="items-list clearfix">
                                        <a href="/baike/zs/{$baikelist[2*$key]['zhuanti_href']}/" target="_blank">
                                            <div class="item ">
                                                <div class="item-left">
                                                    <if condition="$baikelist[2*$key]['article_face']">
                                                        <img src="//{$baikelist[2*$key]['article_face']}" alt="">
                                                    <else/>
                                                        <img src="/assets/home/zhishi/img/nav_2.png" alt="">
                                                    </if>
                                                </div>
                                                <div class="item-right">
                                                    <div>{$baikelist[2*$key]['zhuanti_name']}</div>
                                                    <p>
                                                         {$baikelist[2*$key]['article_description']}
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/baike/zs/{$baikelist[2*$key + 1]['zhuanti_href']}/" target="_blank">
                                            <div class="item ">
                                                <div class="item-left">
                                                    <if condition="$baikelist[2*$key + 1]['article_face']">
                                                        <img src="//{$baikelist[2*$key + 1]['article_face']}" alt="">
                                                        <else/>
                                                        <img src="/assets/home/zhishi/img/nav_2.png" alt="">
                                                    </if>
                                                </div>
                                                <div class="item-right">
                                                    <div>{$baikelist[2*$key + 1]['zhuanti_name']}</div>
                                                    <p>
                                                         {$baikelist[2*$key + 1]['article_description']}
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                <else/>
                            </if>
                        </volist>
                    </ul>
                </div>
            </div>
            <div class="part_item">
                <div class="part_item_header sub-title clearfix">
                    <div class="part_item_title pull-left">
                        <h2> 问答装修知识</h2>
                    </div>
                    <div class="part_item_nav pull-right right-more">
                        <a href="/wenda/zs/"><span>更多></span></a>
                    </div>
                </div>
                <div class="knowledge-box">
                    <ul class="knowledge-itmes">
                        <volist name="wendalist" id="vo">
                            <li>
                                <a href="/wenda/zs/{$vo.href}/" target="_blank">
                                    <span>{$vo.name}</span>
                                </a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pull-right right_content">
            <div class="atl-right">
                <include file="Common@Order/orderTmp"/>
                <!-- 报价计算器 -->
                {$hlBaoJia}
                <div class="appercode-bg"></div>
            </div>
        </div>
    </div>
    <div class="friend friend-box" id="friend">
        <div class="wrap">
            <div class="link-box content">
                <div class="tab-nav j-tab-nav-link">
                    <a href="javascript:void(0);" class="current">友情链接</a>
                    <!--<a href="javascript:void(0);">热门城市</a>-->
                    <!--<a href="javascript:void(0);">同省城市</a>-->
                </div>
                <div class="tab-con tab-box">
                    <div class="j-tab-con-link">
                        <div class="tab-con-item" style="display: block;">
                            <volist name="frendlink" id="vo">
                                <li><a href="{$vo.link_url}/" target="_blank">{$vo.link_name}</a></li>
                            </volist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file="Common@Friendlink/index"/>
    <include file="Common@Order/bottom_fadan" type="2"/>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/home/zixun/js/zxgl-slider.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript"
            src="{$static_host}/assets/common/js/jQuery.rTabs.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/placeholder-color-fix.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript"
            src="/assets/sub/company/js/jquery.cxscroll.min.js?v={:C('STATIC_VERSION')}"></script>

    <script>
        $(function () {
            var mySwiper = new Swiper('.swiper-container', {
                // loop: true,
                slidesPerView: 4,
                prevButton: '.swiper-button-prev',
                nextButton: '.swiper-button-next',
            });
            if ($('.rongyu').length > 0) {
                mySwiper.prevButton.addClass('next-left');
                mySwiper.nextButton.addClass('next-right');
            }
        })

        // 设计报价滚动到1830px 悬浮
        $(window).scroll(function (event) {
            if ($(window).scrollTop() >= $(".atl-right").height() + 200) {
                $('.secbox_form').css({
                    "width": "260px",
                    "margin-top": "0",
                    "position": "fixed",
                    "top": "80px",
                    "zIndex": 2
                });
            } else {
                $('.secbox_form').css({
                    "margin-top": "0px",
                    "position": "",
                    "top": "",
                    "zIndex": ''
                });
            }
        });
    </script>

</block>
