<extend name="Main:baseTemplate" />
<block name="title">
    <title>订单录音管理-控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="/assets/common/js/plugins/select2-42/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/home/pnp/css/axborderlist.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content-header">
        <h1>订单录音管理</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li>订单录音管理</li>
        </ol>
    </section>
    <section class="content clearfix">
        <div class="box box-default">
            <div class="box-body">
                <div class="row b-pb20">
                    <form id="myForm" method="get" action="/pnp/axborderlist" class="form-horizontal">
                        <div class="col-xs-12 b-mbt20">
                            <div class="col-xs-2 reset-padding">
                                <div>订单号：</div>
                                <input type="text" name="order_id" class="form-control order-num"
                                placeholder="订单号" value="{$input.order_id}" autocomplete="off" />
                            </div>

                            <div class="col-xs-2 reset-padding">
                                <div>会员ID：</div>
                                <input type="text" name="company_id" class="form-control order-num"
                                placeholder="会员ID" value="{$input.company_id}" autocomplete="off" />
                            </div>

                            <div class="col-xs-2">
                                <div>选择城市：</div>
                                <select id="city" name="city_id" class="form-control" type="text" placeholder="请选择城市">
                                    <option value="">请选择</option>
                                    <volist name="citys" id="vo">
                                        <option value="{$vo.cid}">{$vo.cname}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <div>订单类型：</div>
                                <select id="type_fw" name="type_fw" type="text" class="form-control">
                                    <option value="">请选择订单类型</option>
                                    <option value="1">分单</option>
                                    <option value="2">赠单</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <div>起始日期：</div>
                                <input type="text" name="begin"
                                    class="form-control datepicker start-time"
                                    placeholder="起始日期" value="{$input.begin}" autocomplete="off">
                            </div>
                            <div class="col-xs-2">
                                <div>截止日期：</div>
                                <input type="text" name="end"
                                    class="form-control datepicker start-time"
                                    placeholder="截止日期" value="{$input.end}" autocomplete="off">
                            </div>
                        </div>

                        <div class="col-xs-12 b-mbt20">
                            <div class="col-xs-3 pull-right">
                                <div>&nbsp;</div>
                                <span class="btn reset"><img src="/assets/home/pnp/img/wenhao.png" alt="" title="数据来源仅支持虚拟号开启的装企与订单"></span>
                                <button type="reset" id="btnReset" class="btn btn-default reset">重置</button>
                                <button type="submit" id="btnSearch" class="btn btn-primary search">查询</button> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="box order-box">
            <div class="box-body b-mt20">
                <table class="table table-hover table-bordered" id="tablelist">
                    <thead>
                        <tr class="orderitem">
                            <th>订单号</th>
                            <th>城市/区县</th>
                            <th>业主手机号</th>
                            <th>订单类型</th>
                            <th>实际分单时间</th>
                            <th>已分会员数</th>
                            <th>总拨打次数</th>
                            <th>未拨通次数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody class="orderxq">
                        <volist name="data.list" id="item">
                            <tr>
                                <td>{$item.order_id}</td>
                                <td>{$item.city_name}/{$item.area_name}</td>
                                <td>{$item.tel}</td>
                                <td>{$item.type_fw_name}</td>
                                <td>{$item.csos_date}</td>
                                <td>{$item.allot_num}</td>
                                <td>{$item.call_num}</td>
                                <td>{$item.call_un_num}</td>
                                <td>
                                    <a href="javascript:void(0)" data-id="{$item.order_id}" class="oedit operate" data-toggle="modal" data-target="#unbindModal">解绑</a>
                                    <a href="/pnp/axborderlog?order_id={$item.order_id}" class="orecode operate" target="_blank">历史记录</a>
                                </td>
                            </tr>
                        </volist>
                        
                        <empty name="data.list">
                            <tr>
                                <td colspan="8">暂无数据</td>
                            </tr>
                        </empty>
                    </tbody>
                </table>
                {$data.page}
            </div>
        </div>
    </section>

    <div class="modal fade" id="unbindModal" tabindex="-1" role="dialog" aria-labelledby="unbindModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="unbindModalLabel">解绑提示</h4>
                </div>
                <div class="modal-body">
                    解除虚拟号与该业主的手机号绑定后，该订单的业主手机号将释放出来
                    <br>
                    ·装企可以直接拨打业主号码。
                    <br>
                    ·无法监听解绑后的录音。
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="unbindButton">确定解绑</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</block>

<block name="script">
    <script src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/select2-42/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/home/pnp/js/axb.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $("#city").select2();
        $("#city").select2("val","{$input.city_id}");
        $("#type_fw").val("{$input.type_fw}");
    </script>
</block>
