<extend name="Main:baseTemplate" />
<block name="title">
    <title>历史绑定记录-控制台</title>
</block>
<block name="style">
    <link rel="stylesheet" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="/assets/common/js/plugins/select2-42/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/home/pnp/css/axborderlog.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content-header">
        <h1>历史绑定记录</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li>历史绑定记录</li>
        </ol>
    </section>
    <section class="content clearfix">
        <div class="row log">
            <div class="col-md-3 log-left">
                <div class="l-header">
                    <span class="time">{$orderdetail.csos_date}</span>
                    <div class="name">
                        {$orderdetail.xiaoqu}_{$orderdetail.name}{$orderdetail.sex} <br />
                        <span>订单编号：{$orderdetail.id}</span>
                    </div>
                    <div class="l-nums">
                        <div>
                            <span>{$stats.call_num}</span><br>总呼叫次数
                        </div>
                        <div>
                            <span>{$stats.call_on_num}</span><br>已接通
                        </div>
                        <div>
                            <span>{$stats.call_un_num}</span><br>未接通
                        </div>
                    </div>
                </div>
                <div class="l-content">
                    <div class="files">基础信息</div>
                    <div class="item">
                        <div class="left">手机号：</div>
                        <div class="right">
                            <empty name="orderdetail.tel">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.tel}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">联系人：</div>
                        <div class="contacts">
                            <empty name="orderdetail.name">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.name}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">备用联系人：</div>
                        <div class="contacts">
                            <empty name="orderdetail.standby_user">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.standby_user}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">备用联系：</div>
                        <div class="contacts">
                            <empty name="orderdetail.other_contact">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.other_contact}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">IP城市：</div>
                        <div class="right">
                            <empty name="orderdetail.ip_city">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.ip_city}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">所属区域：</div>
                        <div class="right">
                            <empty name="orderdetail.city_name">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.city_name}
                            </empty>

                            <empty name="orderdetail.area_name">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.area_name}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">小区：</div>
                        <div class="right">
                            <empty name="orderdetail.xiaoqu">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.xiaoqu}
                            </empty>
                        </div>
                    </div>
                    <div class="files">房屋信息</div>
                    <div class="item">
                        <div class="left">面积：</div>
                        <div class="right">
                            <if condition="empty($orderdetail['mianji'])">
                                <span class="set">未设置</span>
                            <elseif condition="is_numeric($orderdetail['mianji'])" />
                                {$orderdetail.mianji}㎡
                            <else />
                                {$orderdetail.mianji}
                            </if>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">钥匙：</div>
                        <div class="right">
                            <empty name="orderdetail.keys_name">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.keys_name}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">房屋地址：</div>
                        <div>
                            <empty name="orderdetail.dz">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.dz}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">户型结构：</div>
                        <div class="right">
                            <empty name="orderdetail.huxing_name">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.huxing_name}
                            </empty>
                            
                            <empty name="orderdetail.shi">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.shi}室
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">预算：</div>
                        <div class="right">
                            <empty name="orderdetail.yusuan_name">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.yusuan_name}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">风格：</div>
                        <div class="right">
                            <empty name="orderdetail.fengge_name">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.fengge_name}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">拿房时间：</div>
                        <div class="right">
                            <empty name="orderdetail.nf_time">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.nf_time}
                            </empty>
                        </div>
                    </div>
                    <div class="item">
                        <div class="left">开工时间：</div>
                        <div class="right">
                            <empty name="orderdetail.start">
                                <span class="set">未设置</span>
                            <else />
                                {$orderdetail.start}
                            </empty>
                        </div>
                    </div>
                    <div class="files">特殊需求</div>
                    <div class="ts-card">
                        <pre>{$orderdetail.text}</pre>
                    </div>
                </div>
            </div>
            <div class="col-md-9 log-right">
                <div class="header">
                    <div class="title">虚拟号拨打情况</div>
                    <p>仅针对开通虚拟号权限的装企会员，若分配订单的装企中有未开通虚拟号权限的，则不显示该会员</p>
                </div>

                <ul class="nav nav-tabs bods" role="tablist">
                    <volist name="glist" id="com">
                        <li role="presentation" class="{:$key == 0 ? 'active' : ''}">
                            <a href="#menutab_{$key}" role="tab" data-toggle="tab">{$com.company_jc} | {$com.company_id}</a>
                        </li>
                    </volist>
                </ul>
            
                <div class="tab-content pad_ser">
                    <volist name="glist" id="com">
                        <div role="tabpanel" class="tab-pane {:$key == 0 ? 'active' : ''}" id="menutab_{$key}">
                            <table class="table table-hover">
                                <thead class="bgc_head">
                                    <tr>
                                        <th>装企手机号</th>
                                        <th>账号类型</th>
                                        <th>虚拟号</th>
                                        <th>有效期</th>
                                        <th>拨号次数</th>
                                        <th>拨通次数</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>

                                <volist name="com.list" id="vo">
                                    <tr>
                                        <td>{$vo.tel_b}</td>
                                        <td>{$vo.account_type}</td>
                                        <td>{$vo.tel_x}</td>
                                        <td>{$vo.expire_date}</td>
                                        <td>{$vo.call_num}</td>
                                        <td>{$vo.call_on_num}</td>
                                        <td data-oid="{$vo.order_id}" data-comid="{$vo.company_id}" data-subid="{$vo.sub_id}">
                                            <gt name="vo.call_on_num" value="0">
                                                <a href="javascript:void(0)" class="orecode btn_volice">录音记录</a>
                                            <else />
                                                —
                                            </gt>
                                        </td>
                                    </tr>
                                </volist>
                            </table>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="voliceModal" tabindex="-1" role="dialog" aria-labelledby="voliceModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="unbindModalLabel">录音记录</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/select2-42/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/home/pnp/js/axb.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
    </script>
</block>