<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>自发活动</title>
    <include file="Index:resource"/>
    <include file="Home:resource"/>
    <script type="text/javascript" src="/assets/user/event/js/jquery.smint.js?v={:C('STATIC_VERSION')}"></script>
    <!---->
    <link rel="stylesheet" href="/assets/common/plugin/datetimepicker/css/bootstrap.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet"
          href="/assets/common/plugin/datetimepicker/css/bootstrap-datetimepicker.css?v={:C('STATIC_VERSION')}">
    <script type="text/javascript"
            src="/assets/common/plugin/datetimepicker/js/bootstrap-datetimepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript"
            src="/assets/common/plugin/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
//    $('.ht-nav').smint({
//    	'scrollSpeed' : 1000
//    });

            //开关
            $('.c-switch-box').on('click', function () {
                if ($(this).find('.c-switch').hasClass('c-switch-on')) {
                    $(this).find('.c-switch').removeClass('c-switch-on');
                    $(this).find('.c-switch-text').text('暂停');

                }
                else {
                    $(this).find('.c-switch').addClass('c-switch-on');
                    $(this).find('.c-switch-text').text('正在进行');

                }
            });
        });
    </script>

    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.min.css?v={:C('STATIC_VERSION')}">
    <![endif]-->
    <link rel="stylesheet" href="{$static_host}/assets/user/event/css/ht-addgift.css?v={:C('STATIC_VERSION')}">
</head>
<body>
<include file="Home:header"/>

<div class="ht-wrap oflow ht-relative">
    <include file="Home:comnavleft"/>
    <include file="header"/>
    <!--<ul class="ht-nav-tit">
        <li class="active"><a href="/oneselfevent/">优惠活动</a></li>
        <li class="special-gift"><a href="/oneselfevent/special">专用礼券</a></li>
        <li class="common-gift"><a href="/oneselfevent/common">通用礼券</a></li>
    </ul>-->
    <div class="ht-main">
        <form id="formSubmit" action="addgift" method="post">
            <div class="ht-normal-form">
                <ul class="normal-info">
                    <li>
                    <span>
                        <i class="red">*</i>礼券名称:
                    </span>
                        <input class="full in-focus ticket-name" name="tname" type="text" placeholder="" value=""
                               maxlength="15"
                               data-focus="">
                        <i class="red err-tips"></i>
                    </li>

                    <li class="gift-active">
                    <span>
                        <i class="red">*</i>优惠活动:
                    </span>
                        <div class="gift-active-box">
                            <div style="display: inline-block" class="active-style">
                                <label for="for-money">
                                    <input type="radio" name="active-style-item" id="for-money" value="1" checked>
                                    满减金额&nbsp;满
                                    <input class="shorted  in-focus in-num active-type before_money active-money"
                                           type="text" name="cals_1" maxlength="6"
                                           value="">
                                    减
                                    <input class="half  in-focus in-num active-type after_money active-money"
                                           type="text" name="cal_1" value="" maxlength="6">
                                    <br>
                                </label>
                            </div>
                            <div style="display: inline-block" class="active-style">
                                <label for="for-gift">
                                    <input type="radio" name="active-style-item" id="for-gift" value="2">
                                    满送礼品&nbsp;满
                                    <input class="shorted  in-focus in-num active-type before-gift" type="text"
                                           name="cals_2"
                                           value="" maxlength="6">
                                    送
                                    <input class="half  in-focus active-type after-gift " type="text" name="cal_2"
                                           value=""
                                           maxlength="7">
                                    <br>
                                </label>
                            </div>
                        </div>
                    </li>
                   <!-- <li>
                    <span>
                        使用条件:
                    </span>
                        <input class="full in-focus" name="jc" type="text" placeholder="限20字" value="" maxlength="20"
                               data-focus="">
                        <i class="red err-tips"></i>
                    </li>-->
                    <li>
                    <span>
                        <i class="red">*</i>发放数量:
                    </span>
                        <input class="full in-focus in-num" type="text" name="tnum" placeholder="" value=""
                               data-focus="" maxlength="6">
                        <i class="red err-tips"></i>
                    </li>

                    <li>
                    <span>
                         <i class="red">*</i>活动开始时间
                    </span>
                        <input class="full in-focus timer3 form-control timer" type="text" name="active_start"
                               placeholder="" value=""
                               data-focus="">
                        <i class="red err-tips"></i>
                    </li>
                    <li>
                    <span>
                         <i class="red">*</i>活动结束时间
                    </span>
                        <input class="full in-focus timer4 form-control timer" type="text" name="active_end"
                               placeholder="" value=""
                               data-focus="">
                        <p class="red c-mark">注：活动时间为礼券可以领用的时间</p>
                        <i class="red err-tips"></i>
                    </li>
                    <li>
                    <span>
                         <i class="red">*</i>有效时间-开始:
                    </span>
                        <input class="full in-focus timer1 form-control timer" type="text" name="valid_start"
                               placeholder="" value=""
                               data-focus="">
                        <i class="red err-tips"></i>
                    </li>
                    <li>
                    <span>
                         <i class="red">*</i>有效时间-结束:
                    </span>
                        <input class="full in-focus timer2 form-control timer" type="text" name="valid_end"
                               placeholder="" value=""
                               data-focus="">
                        <p class="red c-mark">注：有效时间为礼券可进行兑换的时间</p>
                        <i class="red err-tips"></i>
                    </li>
                    <li class="c-use-rule">
                    <span>
                        使用规则:
                    </span>
                        <textarea class="c-rule" maxlength="300" name="rule" placeholder="">1. 用户获得的优惠券将会自动发送至账户和用户手机号，是否获得优惠券以到账为准。
2. 活动过程中凡以不正当手段参与领券的用户，本公司有权终止其参与活动，并取消其领取资格（如已发放，该券予以作废）
3. 每张优惠券仅可使用一次。</textarea>
                        <p class="red c-mark">注：限300字，上述为模板，可自行修改</p>
                        <i class="red err-tips"></i>
                    </li>
                    <li>
                        <span><i class="red">*</i>模板:</span>
                        <div class="c-module module-chose1">
                            <input type="hidden" name="modul" value="1">
                            <!--<label for="model1">&nbsp;<input type="radio" name="modul" id="model1" value="1">模板一</label>-->
                            <div class="modul-box">
                                <div style="display: inline-block">
                                    <img src="/assets/user/home/img/modul_m1.png" alt="" class="modul_img modul_img1">
                                    <span>移动端</span>
                                </div>
                                <div style="display: inline-block">
                                    <img src="/assets/user/home/img/modul_pc1.png" alt="" class="modul_img modul_img1">
                                    <span>PC端</span>
                                </div>
                            </div>
                        </div>
                        <div class="c-module module-chose2">
                            <input type="hidden" name="modul" value="2">
                            <!--<label for="model2">&nbsp;<input type="radio" name="modul" id="model2" value="2">模板二</label>-->
                            <div class="modul-box">
                                <div style="display: inline-block">
                                    <img src="/assets/user/home/img/modul_m2.png" alt="" class="modul_img modul_img1">
                                    <span>移动端</span>
                                </div>
                                <div style="display: inline-block">
                                    <img src="/assets/user/home/img/modul_pc2.png" alt="" class="modul_img modul_img2">
                                    <span>PC端</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="shengming">
                            <label for="mianze"><input type="checkbox" name="mianze" id="mianze">我已认真阅读并同意 <a
                                    href="javascript:void(0)" class="protocol">《商家优惠券协议》</a></label>
                            <!--<p>我已认真阅读并同意 <a href="#">《商家优惠券协议》</a></p>-->
                        </div>
                    </li>
                    <li>
                        <div class="c-btns">
                            <input class="c-btn btn-submit" type="button" disabled value="上传审核">
                            <input class="c-btn btn-review" type="button" value="预览">
                            <!--<input class="c-btn" type="button" value="取消">-->
                            <a href="/oneselfevent/special" class="c-btn btn-cancel">取消</a>
                        </div>
                    </li>
                </ul>

            </div>
        </form>
        <div class="mask" style="display: none;">
            <i class="fa fa-close close-mask"></i>
            <div>
                <!--模板一-->
                <div class="ticket-modul clearfix module-1">
                    <div class="gift-box clearfix gift-box-m1">
                        <div class="gift-left">
                            <div class="gift-top">
                                <p>
                                    <i class="fa fa-jpy" aria-hidden="true"></i>
                                    <span class="full_money1">999999</span>
                                </p>
                                <p class="ticket-words1">满<em class="half_money1">999999</em>元可用</p>
                            </div>
                            <p class="ticket-time">使用时间：<span class="active_time_s">2018.11.28</span>~<span
                                    class="active_time_e">2018.11.30</span></p>
                        </div>
                        <div class="gift-right">
                            <p>立即 <br> 领取</p>
                        </div>
                    </div>
                    <div class="gift-box clearfix gift-box-pc1">
                        <div class="gift-left">
                            <div class="gift-top">
                                <p>
                                    <i class="fa fa-jpy" aria-hidden="true"></i>
                                    <span class="full_money1">999999</span>
                                </p>
                                <p class="ticket-words">满<em class="half_money1">999999</em>元可用</p>
                            </div>
                            <p class="ticket-time">使用时间：<span class="active_time_s">2018.11.28</span>~<span
                                    class="active_time_e">2018.11.30</span></p>
                        </div>
                        <div class="gift-right">
                            <!--<p>立即 <br> 领取</p>-->
                        </div>
                    </div>
                </div>
                <!--模板二-->
                <div class="ticket-modul clearfix module-2">
                    <div class="gift-box clearfix gift-box-m2">
                        <div class="gift-left">
                            <div class="gift-top">
                                <p>
                                    <!--<i class="fa fa-jpy" aria-hidden="true"></i>-->
                                    <span class="full_money2">保温杯</span>
                                </p>
                                <p class="ticket-words">满<em class="half_money2">999999</em>元可领</p>
                            </div>
                            <p class="ticket-time">使用时间：<span class="active_time_s">2018.11.28</span>~<span
                                    class="active_time_e">2018.11.30</span></p>
                        </div>
                        <div class="gift-right">
                            <p>立即 <br> 领取</p>
                        </div>
                    </div>
                    <div class="gift-box clearfix gift-box-pc2">
                        <div class="gift-left">
                            <div class="gift-top">
                                <p>
                                    <!--<i class="fa fa-jpy" aria-hidden="true"></i>-->
                                    <span class="full_money2">保温杯</span>
                                </p>
                                <p class="ticket-words">满<em class="half_money2">999999</em>元可领</p>
                            </div>
                            <p class="ticket-time">使用时间：<span class="active_time_s">2018.11.28</span>~<span
                                    class="active_time_e">2018.11.30</span></p>
                        </div>
                        <div class="gift-right">
                            <!--<p>立即 <br> 领取</p>-->
                        </div>
                    </div>
                    <!--<div class="ticket-modul-m clearfix">
                        <div class="ticket-left ticket-left-1 ticket_m">
                            &lt;!&ndash;<p class="ticket-title">干将一号干将路店</p>&ndash;&gt;
                            <div class="ticket-up">
                                <p>
                                    <i class="fa fa-jpy" aria-hidden="true"></i>
                                    <span class="full_money2">1000</span>
                                </p>
                                <p class="ticket-words">立减<em class="half_money2">1000</em>元装修神券</p>
                            </div>
                            <p class="ticket-time">有效时间：<span class="active_time_s1">2018.11.28</span>~<span
                                    class="active_time_e1">2018.11.30</span></p>
                        </div>
                        <div class="ticket-right ticket-black">
                            <div class="get-ticket">
                                <p class="get-now">立即领取</p>
                            </div>
                            &lt;!&ndash;<p>去使用</p>&ndash;&gt;
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="ticket-left ticket-left-1 ticket_pc_left">
                            &lt;!&ndash;<p class="ticket-title">干将一号干将路店</p>&ndash;&gt;
                            <div class="ticket-up">
                                <p>
                                    <i class="fa fa-jpy" aria-hidden="true"></i>
                                    <span class="full_money2">1000</span>
                                </p>
                                <p class="ticket-words">立减<em class="half_money2">1000</em>元装修神券</p>
                            </div>
                            <p class="ticket-time">有效时间：<span class="active_time_s1">2018.11.28</span>~<span
                                    class="active_time_e1">2018.11.30</span></p>
                        </div>
                        <div class="ticket-right ticket-black ticket-right-black">
                            &lt;!&ndash;<div class="get-ticket">
                                <p>立即领取</p>
                            </div>&ndash;&gt;
                            &lt;!&ndash;<p>去使用</p>&ndash;&gt;
                        </div>
                    </div>-->
                </div>
                <!--协议-->
                <div class="reles-box" style="display: none;">
                    <p class="rules-title">齐装网优惠券营销规则</p>
                    <div class="rules-content">
                        <h3>第一章  适用范围</h3>
                        <p>本规则适用于所有齐装网平台发起的优惠券营销活动，商家必须遵守以下规则，方可参加齐装网平台的优惠券营销活动。</p>
                        <h3>第二章 定义</h3>
                        <h4>2.1通用优惠券</h4>
                        <p>2.1.1通用优惠券是为装修业主提供的一种营销活动，由齐装网预先设定优惠内容及使用规则。各商家可自由参与该营销活动，开通并发放通用优惠券给装修业主领取和使用。</p>
                        <h4>2.1专用优惠券</h4>
                        <p>2.1.1专用优惠券是为装修业主提供的一种营销活动，由各商家自行定义优惠内容和使用规则，经齐装网工作人员审核通过即可发布至齐装网前端页面展示，装修业主领取后可至对应的装修门店进行使用。
                        </p>
                        <h3>第三章 优惠券信息发布规范</h3>
                        <h4>3.1优惠券价格和描述规范</h4>
                        <p>3.1.1优惠券的价格和描述必须真实并且符合逻辑，优惠价格一律以齐装网网站前端页面展示出来的价格为准。</p>
                        <p>
                            3.1.2商家在经营活动的描述及宣传中，其内容应当提供真实、合法、准确客观的信息，不得使用含糊、易引起误解、以及广告法规定禁止使用的语言和文字，不得以保留最终解释权为由，损害消费者的合法权益。</p>
                        <h4>3.2优惠券的发布和退出</h4>
                        <p>3.2.1商家可自愿参与通用优惠券和专用优惠券的营销活动，通过商家用户中心自行上传或与齐装网平台的销售人员沟通后由销售人员代为上传，经齐装网工作人员审核通过后即可发布上线。</p>
                        <p>
                            3.2.2商家可在用户中心下架优惠券营销活动或联系齐装网平台销售人员代为下架，下架后的优惠券信息将不再在显示在齐装网前端页面上。用户在商家下架前领取的优惠券，商家仍应按优惠券的内容履行服务。/p> 
                        <p>3.2.3商家下架优惠券后，若想再次发布，仍需要经过齐装网工作人员的审核通过后才可上线。</p>
                        <p>
                            3.2.4为保证优惠活动的公平性、严肃性和稳定性，商家一旦自愿参与通用优惠券和专用优惠券的营销活动，在齐装网平台显示的优惠券领取期间内或备案的优惠券数量、金额领完前，商家无权自行在用户中心下架优惠券营销活动。如有特殊原因确需下架的，需要经过齐装网工作人员的审核通过后才可下架。</p>
                        <h4>3.3优惠券审核</h4>
                        <p>
                            3.3.1商家参与优惠券促销活动并上传优惠券营销信息后，齐装网平台将对商家发布的优惠券信息进行审核，审核通过后即可在齐装网平台前端页面发布上线，并会通过商家用户中心的消息通知等方式告知商家，商家可在用户中心查看已发布的优惠券信息。</p>
                        <p>3.3.2如商家上传的优惠券信息不符合本规则中的规范，齐装网平台有权取消该优惠券的发布，并会通过商家用户中心的消息通知等方式告知商家不可上线的原因。</p>
                        <p>3.3.3对于审核不通过的优惠券信息，商家可以进行修改并再次上传，再次审核通过后即可发布上线至齐装网平台前端页面。</p>
                        <h3>第四章 附则</h3>
                        <p>4.1齐装网可根据平台运营情况随时调整本管理规则并向商家公示；商家在齐装网平台上发布优惠券促销信息即表示接受齐装网其后不时调整、颁布的管理规则。</p>
                        <p>
                            4.2商家应遵守国家法律、行政法规、部门规章等规范性文件。对任何涉嫌违反国家法律、行政法规、部门规章等规范性文件的行为，本规则已有规定的，适用于本规则。本规则尚无规定的，齐装网有权酌情处理。但齐装网对商家的处理不免除其应承担的法律责任。商家在齐装网的任何行为，应同时遵守与齐装网及其关联公司签订的各项协议；如有违约即视为对本规则的违反。</p>
                        <p>4.3 本规则于2018年12月20日首次发布并生效。</p>
                    </div>
                    <!--<div class="rules-check">
                        <label for="check-item">
                            <input type="checkbox" id="check-item" name="mianze">我已认真阅读并同意该协议
                        </label>
                    </div>
                    <button class="rules-btn " disabled>确认</button>-->
                </div>
            </div>
        </div>
    </div>

</div>
<include file="Index:footer"/>
</body>
<script type="text/javascript">

    $(function () {
        var vs_time, ve_time, as_time, ae_time;
        $('.timer').datetimepicker({
            format: 'yyyy-mm-dd hh:ii:00',
            language: 'zh-CN',
            autoclose: true,
            todayBtn: true
        });

        var flag = false, tname, tmoney, tnum, tmodul;
        $('input[name = mianze]').on('change', function () {
            var mianze = $('input[name = mianze]').prop('checked')
            if (mianze) {
                $('.btn-submit').addClass('btn-active')
                $('.btn-submit').removeAttr('disabled')
            } else {
                $('.btn-submit').removeClass('btn-active')
                $('.btn-submit').attr('disabled', true)
            }
        })
        var moduleText;
        $('input[name=modul]').on('change', function () {
            var modules = $('input:radio[name = modul]:checked')
            moduleText = modules.parent().text().trim();
            if (modules.val() == null) {
                flag = false
                return false
            } else {
                tmodul = modules.parent().text()
                flag = true
            }
        })


        $('.protocol').on('click', function () {
            $('.mask').show()
            $('.reles-box').show()
            $('.ticket-modul').hide()
        })
        $('.close-mask').on('click', function () {
            $('.mask').hide()
            $('.reles-box').hide()
            $('.ticket-modul').hide()
        })
        $('.in-num').keyup(function () {
            var tmptxt = $(this).val();
            $(this).val(tmptxt.replace(/\D/g, ''));
        }).bind("paste", function () {
            var tmptxt = $(this).val();
            $(this).val(tmptxt.replace(/\D/g, ''));
        });

        var gift_flag = true;
        var gift_full, gift_half, gift_style;
        gift_style = $('input:radio[name = active-style-item]:checked').val()
        $('input[name=active-style-item]').on('change', function () {
            gift_flag = true
            gift_style = $('input:radio[name = active-style-item]:checked').val()
            $('input[name=cals_1]').val("")
            $('input[name=cal_1]').val("")
            $('input[name=cals_2]').val("")
            $('input[name=cal_2]').val("")

            /*   if (gift_style == 1) {
                   $('.module-chose1').show()
                   $('.module-chose2').hide()
               } else (gift_style == 2)
               {
                   $('.module-chose2').show()
                   $('.module-chose1').hide()
               }*/
            styleChange(gift_style)

        })

        function styleChange(style) {
            gift_full = gift_half = ''
            if (style == 1) {
                $('.module-chose1').show()
                $('.module-chose2').hide()
                $('.active-type').on('change', function () {
                    gift_full = $('input[name=cals_1]').val()
                    gift_half = $('input[name=cal_1]').val()
                    if (gift_full > 999999) {
                        msg('最大输入金额为999999')
                        $('input[name=cals_1]').val('')
                        return false
                    } else if (gift_half > 999999) {
                        msg('最大输入金额为999999')
                        $('input[name=cal_1]').val('')
                        return false
                    }
                })

            }
            else if (style == 2) {
                $('.module-chose2').show()
                $('.module-chose1').hide()
                $('.active-type').on('change', function () {
                    gift_full = $('input[name=cals_2]').val()
                    gift_half = $('input[name=cal_2]').val()
                    if (gift_full > 999999) {
                        msg('最大输入金额为999999')
                        $('input[name=cals_2]').val('')
                        return false
                    } else if (gift_half.length > 7) {
                        msg('最多输入7个字符')
                        $('input[name=cal_2]').val('')
                        return false
                    }
                })
            }
        }


        $('.btn-review').on('click', function () {
            // if (flag) {
            $('.mask').show()
            if (gift_style == 1) {
                $('.module-1').show()
                $('.module-2').hide()
                $('.full_money1').text($('.after_money').val() || 0)
                $('.half_money1').text($('.before_money').val() || 0)
                var sTime = getTimeFn($('.timer1').val())
                var eTime = getTimeFn($('.timer2').val())
                $('.active_time_s').text(sTime)
                $('.active_time_e').text(eTime)

            } else if (gift_style == 2) {
                $('.module-2').show()
                $('.module-1').hide()
                $('.full_money2').text($('.after-gift').val() || 0)
                $('.half_money2').text($('.before-gift').val() || 0)
                var sTime = getTimeFn($('.timer1').val())
                var eTime = getTimeFn($('.timer2').val())
                $('.active_time_s1').text(sTime)
                $('.active_time_e1').text(eTime)

            }

            // }
        })

        function getTimeFn(time) {
            var str1 = time || 0;
            var star = new Date(str1)
            var temp = star.getFullYear() + "." + (parseInt(star.getMonth()) + 1) + '.' + star.getDate()

            return temp

        }


        $('.ticket-name').on('change', function () {
            if ($('.ticket-name').val().length > 15) {
                msg('礼券名称最长不超过15个字符')
                return false
            }
        })
        //上传审核
        $('.btn-submit').on('click', function () {

            if (!$('input[name=tname]').val()) {
                msg('请输入礼券名称')
                return false
            }
            if (!gift_flag) {
                msg('请选择优惠活动')
                return false
            }
            gift_style = $('input:radio[name = active-style-item]:checked').val()
            console.log('fasfsd', gift_style)
            if ((gift_style == 1 && !$('.after_money').val())) {
                msg('请输入满减金额')
                return false
            }
            if (gift_style == 1 && parseInt($('input[name=cals_1]').val()) < parseInt($('input[name=cal_1]').val())) {
                msg("金额填写有误，减免金额需小于使用金额")
                return false
            }
            if ((gift_style == 2 && !parseInt($('input[name=cals_2]').val())) || (gift_style == 2 && !$('input[name=cal_2]').val())) {
                msg('请输入满送礼品')
                return false
            }
            /*   if (!$('input[name=cals]').val() || !$('input[name=cal]').val()) {
                   msg('请填写立减金额')
                   return false
               }*/
            if (!$('input[name =tnum]').val()) {
                msg('发放数量不能为空')
                return false
            }


            if (!$('.timer3').val() || !$('.timer4').val()) {
                msg('请选择活动时间')
                return false
            }
            if (toTimeStamp($('.timer3').val()) > toTimeStamp($('.timer4').val())) {
                msg('活动开始时间大于结束时间')
                $('.timer4').val('')
                return false
            }
            if ($('.timer2').val() < $('.timer4').val()) {
                msg('有效结束时间早于活动结束时间，请重新选择')
                $('.timer2').val('')
                return false
            }

            if (!$('.timer1').val() || !$('.timer2').val()) {
                msg('请选择有效时间')
                return false
            }
            if (toTimeStamp($('.timer1').val()) > toTimeStamp($('.timer2').val())) {
                msg('开始时间大于结束时间')
                $('.timer2').val('')
                return false
            }
            if ($('.timer1').val() < $('.timer3').val()) {
                msg('有效开始时间早于活动开始时间，请重新选择')
                $('.timer1').val('')
                return false
            }

            /* if (!flag) {
                 msg('请选择模板')
                 return false
             }*/
            //ajax请求
            console.log($('#formSubmit').serializeArray());
            $('.btn-submit').attr('disabled', true)
            // return
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "addgift/",//url
                data: $('#formSubmit').serializeArray(),
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.error_code == 201) {
                        msg(result.error_msg);
                        // $('.btn-submit').removeAttrs('disabled')
                        window.location.href = '/oneselfevent/special/';
                    } else {
                        msg("添加失败");
                        $('.btn-submit').removeAttrs('disabled')
                    }
                },
                error: function () {
                    msg("网络异常，请稍后重试！");
                    $('.btn-submit').removeAttrs('disabled')
                }
            });

        })


    })

    function toTimeStamp(time) {
        if (time != undefined) {
            var date = time;
            date = date.substring(0, 19);
            date = date.replace(/-/g, '/');
            var timestamp = new Date(date).getTime();
            return timestamp;
        }
    };

    function msg(msg, fn) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg(
                msg,
                {time: 5000,},
                fn || function () {
                }
            )
        })
    }

</script>
</html>
