<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>领用查询</title>
    <include file="Index:resource"/>
    <include file="Home:resource"/>
    <script type="text/javascript" src="/assets/user/event/js/jquery.smint.js?v={:C('STATIC_VERSION')}"></script>
    <!--[if IE 7]>
    <link rel="stylesheet" href="css/font-awesome-ie7.min.css?v={:C('STATIC_VERSION')}">
    <![endif]-->
    <link rel="stylesheet" href="{$static_host}/assets/user/event/css/ht-gift.css?v={:C('STATIC_VERSION')}">
</head>
<body>
<include file="Home:header"/>

<div class="ht-wrap oflow ht-relative">
    <include file="Home:comnavleft"/>
    <include file="header"/>
    <div class="ht-main">
        <div class="table-list">
            <h3 class="c-search-title">领用查询</h3>
            <form action="">
            <div class="c-event-sefl">
                <span class="pull-left mr10">礼券编号:</span>
                <input type="text" name="number" class="c-event-sefl-sel mr10 c-event-num" value="{$Think.get.number}" autocomplete="off">
                <span class="pull-left mr10">业主手机号:</span>
                <input type="text" name="tel" class="c-event-sefl-sel mr10 c-event-tel" maxlength="11" value="{$Think.get.tel}" autocomplete="off">
                <input type="submit" value="查询" class="c-gift-search">
                <input type="hidden" name="id" value="{$Think.get.id}">
            </div>
            </form>
            <div class="c-event-tit-sel">
                <table class="c-search">
                    <thead class="c-search-head">
                    <tr class="">
                        <th>礼券编号</th>
                        <th>礼券名称</th>
                        <th>业主手机号</th>
                        <th>小区名称</th>
                        <th>领取时间</th>
                    </tr>
                    </thead>
                    <tbody class="">
                    <volist name="list" id="vo" >
                        <tr>
                            <td>{$vo.card_number}</td>
                            <td>{$vo.name}</td>
                            <td><a href="/orders/-1/{$vo.tel}" class="link-tel">{$vo.tel}</a></td>
                            <td>{$vo.xiaoqu}</td>
                            <td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer"/>
<script>
/*
    $(function () {
        $('.c-event-tel').keyup(function () {
            var textVal = $(this).val()
            $(this).val(textVal.replace(/[^\d]/, ''))

        })
     /!*   $('.c-gift-search').on('click', function () {

            if (!$('.c-event-num').val() && !$('.c-event-tel').val()) {
                msg('请输入礼券编号或业主手机号')
                return false
            }
            /!* var reg = /^((13[0-9])|(14[5,7,8,9])|(15[0-3,5-9])|(17[0,1,3,5-8])|(18[0-9])|166|198|199|(147))\d{8}$/
             if($('.c-event-tel').val()){
                 if (!reg.test($('.c-event-tel').val())) {
                     msg('请输入正确手机号')
                     return false
                 }
             }*!/

        })*!/

    })
*/


</script>
</body>
</html>
