{extend name="common:basic" /}
{block name="meta"}
<title>密保认证-齐装网</title>
{/block}
{block name="link"}
<link rel="stylesheet" href="/static/private/css/security.css?v={:config('static_version')}">
{/block}

{block name='content'}
    <div class="main clearfix">
        <div class="left">
            {include file="common:left" /}
        </div>
        <div class="right">
            <div class="phone-div">
                <div class="icon-phone"></div>
                <div class="p-info">
                    <div class="phone"></div>
                    <div class="change-phone">更换手机号</div>
                </div>
                <div class="tips">
                    <p>*请勿随意泄露手机号，以防不法分子利用造成个人损失</p>
                    <p>*密保手机可以进行帐号异常登录敏感操作时的安全认证，确保帐号安全</p>
                </div>
            </div>
            <div class="email-div">
                <div class="icon-email"></div>
                <div class="e-info">
                    <div class="email" id="setEamil">邮箱：未设置</div>
                    <div class="change-email bind-email">立即绑定</div>
                    <div class="change-email unbind-email">解除绑定</div>
                </div>
                <div class="tips">
                        <p>*请勿泄露邮箱信息，轻信他人邮件，以防不法分子利用，造成个人损失</p>
                        <p>*密保邮箱可以用于安全认证，确保账号安全性</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 绑定邮箱 -->
    <div class="mask" id="bind-email-box">
        <div class="dialog">
            <div class="d-head">
                <div class="close"><img src="/static/private/img/close.png" alt=""></div>
                绑定邮箱
            </div>
            <div class="d-main">
                <div class="tips">请输入您要绑定的邮箱地址，绑定后即可用该邮箱进行安全认证</div>
                <div class="form">
                    <form action="">
                        <div class="email form-group">
                            <input type="text" class="form-input email-input" placeholder="请输入有效邮箱地址">
                            <div class="warn"></div>
                        </div>
                        <div class="email-code form-group">
                            <input type="text" class="code-input emailCode" placeholder="邮箱验证码" onkeyup = "value=value.replace(/[^\d]/g,'')" maxlength="6">
                            <span class="send-code">发送验证码</span>
                            <div class="warn"></div>
                        </div>
                        <div class="btn-sure" id="bind-sure">确 定</div>
                    </form>
                    <div class="p-tips">
                        <p>*您可使用此密保邮箱找回密码及登录</p>
                        <p>*请勿随意泄露邮箱地址，以防被不发分子利用，骗取账号信息</p>
                    </div>
                </div>
            </div>
            <div class="success-box">
                <div class="success-img"></div>
                <div class="info">
                    <p>邮箱绑定成功！</p>
                    <p>您可以使用该邮箱进行账号安全认证</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 解绑邮箱 -->
    <div class="mask" id="unbind-email-box">
        <div class="dialog">
            <div class="d-head">
                <div class="close"><img src="/static/private/img/close.png" alt=""></div>
                解绑邮箱
            </div>
            <div class="d-main">
                <div class="info">解绑邮箱后，您将无法使用<span class="email-address"></span>进行 找回密码及登录操作。</div>
                <div class="btns">
                    <div class="cancel">取消</div>
                    <div class="next">下一步</div>
                </div>
            </div>
            <div class="success-box">
                <div class="success-img"></div>
                <div class="info">
                    <p>解绑邮箱成功！</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 更换手机号 -->
    <div class="mask" id="change-phone-box">
        <div class="dialog">
            <div class="d-head">
                <div class="close"><img src="/static/private/img/close.png" alt=""></div>
                更换手机号
            </div>
            <div class="d-main">
                <div class="tips" style="margin-left: -40px;">为了保障您的账号安全，变更信息前需验证身份</div>
                <div class="form" style="padding-bottom: 30px;">
                    <form action="">
                        <div class="way">验证方式</div>
                        <div class="phone-number">
                            <input type="text" id="change-phone" class="form-input no-indent" value='' disabled>
                            <input type="hidden" id="change-phone-value" value="">
                            <div class="warn"></div>
                        </div>
<!--                        <div class="img-code">-->
<!--                            <input type="text" id="verify-change" class="code-input fl" placeholder="请输入图片验证码">-->
<!--                            <div class="verifyImg fl">-->
<!--                                <img src="" id="captcha-verify1" alt=""/>-->
<!--                                <span class="change-verify1"></span>-->
<!--                            </div>-->
<!--                            <div class="warn"></div>-->
<!--                        </div>-->
                        <div class="phone-code">
                            <input type="text" class="code-input fl" id="verify_code" placeholder="请输入六位数验证码" onkeyup = "value=value.replace(/[^\d]/g,'')" maxlength="6">
                            <span class="send-yzm fl" id="change-send">发送验证码</span>
                            <div class="warn"></div>
                        </div>
                        <div class="img-code clearfix">
                            <div id="embed-captcha1"></div>
                        </div>
                        <div class="btn-sure" id="change-phone-sure">确 定</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 绑定手机 -->
    <div class="mask" id="bind-phone-box">
        <div class="dialog" style="height: 500px;">
            <div class="d-head">
                <div class="close"><img src="/static/private/img/close.png" alt=""></div>
                绑定手机
            </div>
            <div class="d-main">
                <div class="tips" style="margin-left: -40px;">请输入您要绑定的手机号码</div>
                <div class="form">
                    <form action="">
                        <div class="phone-number">
                            <span class="number-sp">+86<i class="icon-down"></i></span>
                            <input type="text" id="bind-phone" class="form-input" value='' maxlength="11" placeholder="请输入手机号">
                            <div class="warn"></div>
                        </div>
<!--                        <div class="img-code">-->
<!--                            <input type="text" id="verify-bind" class="code-input fl" placeholder="请输入图片验证码">-->
<!--                            <div class="verifyImg fl">-->
<!--                                <img src="" id="captcha-verify2" alt=""/>-->
<!--                                <span class="change-verify2"></span>-->
<!--                            </div>-->
<!--                            <div class="warn"></div>-->
<!--                        </div>-->
                        <div class="phone-code">
                            <input type="text" class="code-input fl" id="msg-code" placeholder="请输入六位数验证码" onkeyup = "value=value.replace(/[^\d]/g,'')" maxlength="6">
                            <span class="send-yzm fl" id="bind-send">发送验证码</span>
                            <div class="warn"></div>
                        </div>
                        <div class="img-code clearfix">
                            <div id="embed-captcha2"></div>
                        </div>
                        <div class="btn-sure" id="bind-phone-sure">确 定</div>
                    </form>
                    <div class="p-tips">
                        <p>*绑定成功后，您可以使用此手机号进行登录</p>
                        <p>*您可以使用此手机号进行找回密码等敏感操作</p>
                        <p>*请勿随意泄露邮箱地址，以防被不发分子利用，骗取账号信息</p>
                    </div>
                </div>
            </div>
            <div class="success-box">
                <div class="success-img"></div>
                <div class="info">
                    <p>手机绑定成功！</p>
                    <p>您可以使用该手机号码进行账号安全认证</p>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name='script'}
<script>
    var baseUrl = '{$API_HOST}';
</script>
<script type="text/javascript" src="/static/private/js/security.js?v={:config('static_version')}"></script>
<script type="text/javascript" src="/static/private/js/gt.js?v={:config('static_version')}"></script>
{/block}