{extend name="common:basic" /}
{block name="meta"}
<title>基本信息-齐装网</title>
{/block}
{block name="link"}
<link rel="stylesheet" href="/static/common/cropper/cropper.css?v={:config('static_version')}">
<link rel="stylesheet" href="/static/private/css/setting.css?v={:config('static_version')}">
{/block}

{block name='content'}
    <div class="main clearfix">
        <div class="left">
            {include file="common:left" /}
        </div>
        <div class="right">
            <div class="main-title">修改个人资料</div>
            <form action="">
                <div class="form-group">
                    <span class="sp"><i class="red">*</i>所在城区：</span>
                    <select name="" id="city" class="mr25"></select>
                    <select name="" id="area"><option value="">请选择</option></select>
                    <div class="warn"></div>
                </div>
                <div class="form-group">
                    <span class="sp">性别：</span>
                    <div class="male">                
                        <input type="radio" id="male" name="sex" value="1"/>
                        <label for="male">男</label>
                    </div>
                    <div class="female">
                        <input type="radio" id="female" name="sex" value="2"/>
                        <label for="female">女</label>
                    </div>
                    <div class="warn"></div>
                </div>
                <div class="form-group">
                    <span class="sp"><i class="red">*</i>昵称：</span>
                    <input type="text" maxlength="10" class="nickname" onkeyup="this.value=this.value.replace(/\s+/g,'')">
                    <div class="warn"></div>
                </div>
                <div class="form-group">
                    <span class="sp"><i class="red">*</i>联系电话：</span>
                    <input type="text" maxlength="11" class="contact_phone" onkeyup="this.value=this.value.replace(/\s+/g,'')">
                    <div class="warn"></div>
                </div>
                <div class="form-group">
                    <span class="sp">联系微信：</span>
                    <input type="text" maxlength="16" placeholder="请填写您的微信号" class="wechat" onkeyup="this.value=this.value.replace(/\s+/g,'')">
                    <div class="warn"></div>
                </div>
                <div class="form-group">
                    <span class="sp">联系邮箱：</span>
                    <input type="text" class="email" placeholder="请填写您的邮箱" onkeyup="this.value=this.value.replace(/\s+/g,'')">
                    <div class="warn"></div>
                </div>
                <div class="form-group h450">
                    <span class="sp">头像：</span>
                    <div class="touxiang">
                        <img src="{$ZXSQN_HOST}/ucenter/20191109/FgaaGcPAjBrdNm2Hp1uLimD1g7HB" alt="" class="default-img">
                        <span class="cx-sc">重新上传</span>
                        <input type="file" id="input" class="uploadimg">
                        <span class="upload-tips">支持jpg、jpeg、png、bmp格式的图片</span>
                    </div>
                    <div class="yl-img">
                        <img src="{$ZXSQN_HOST}/ucenter/20191109/FgaaGcPAjBrdNm2Hp1uLimD1g7HB" id="photo">
                    </div>
                    <div class="yulan">
                        <div class="img-preview"></div>
                        <p>头像预览</p>
                        <span class="sc-tx">上传头像</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn" id="save">保 存</div>
                </div>
            </form>
        </div>
    </div>
{/block}
{block name='script'}
<script>
    var baseUrl = '{$API_HOST}';
</script>
<script type="text/javascript" src="/static/common/cropper/cropper.js?v={:config('static_version')}"></script>
<script type="text/javascript" src="/static/private/js/setting.js?v={:config('static_version')}"></script>
{/block}