<extend name="Common:basic"/>
<block name="link">
    <link href="{$static_host}/assets/mobile/zhixuan/css/zxzq_fgxz.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit"> 大数据智选装修公司</div>
</block>
<block name="content">
    <div class="sou_ban">
        <switch name="type">
        <case value="1"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/Fo90Dd2ph1OBSzL6m9xDBSb6N6q9" alt=""></case>
        <case value="2"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/FqOELPf_bSOcu1BG4cYZ62w6CoJS" alt=""></case>
        <case value="3"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/Fp0qIzSO6gd8dBal0YRXlYo_IIkc" alt=""></case>
        <case value="4"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/Ft-WJEw_d-akzjciHAIB-gs1JEay" alt=""></case>
        </switch>
    </div>
    <div class="title_text">
        <p>您的喜好风格是...</p>
    </div>
    <div class="figs">
        <ul>
            <li>
                <div class="check_div"><img src="  //{:C('QINIU_DOMAIN')}/custom/20201120/Fq_Y-wFwltgPEYYdf4nyLIG-Kp8C" alt=""></div>
                <p class="check_p">现代简约</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="  //{:C('QINIU_DOMAIN')}/custom/20201120/Fv6AWB58-3mnPOVByLTjIImkEzcw" alt=""></div>
                <p class="check_p">中式/新中式</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src=" //{:C('QINIU_DOMAIN')}/custom/20201120/FhYx0TFCrXdJwhwAA-8nYOBghr7M" alt=""></div>
                <p class="check_p">欧式/美式</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="  //{:C('QINIU_DOMAIN')}/custom/20201120/Fm-nHq32k4XxzC_8BsLIcwWavK8-" alt=""></div>
                <p class="check_p">港式/法式</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="  //{:C('QINIU_DOMAIN')}/custom/20201120/FjOmB50UKuiOa4gIJWH1Ts1tuzk7" alt=""></div>
                <p class="check_p">东南亚/混搭</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src=" //{:C('QINIU_DOMAIN')}/custom/20201120/FiGMfV1kivEsTePAYuEyk5JY8Yb4" alt=""></div>
                <p class="check_p">日式/宜家</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="  //{:C('QINIU_DOMAIN')}/custom/20201120/Fp1nZI1fGQ5XvWFrUilAKYKyjeEx" alt=""></div>
                <p class="check_p">田园/地中海</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="  //{:C('QINIU_DOMAIN')}/custom/20201120/FkYTS0oCHRrjA-PdJYCPg3FO-8t7" alt=""></div>
                <p class="check_p">古典/轻奢</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="  //{:C('QINIU_DOMAIN')}/custom/20201120/Fsc8r31hSJ-GMzCTfmht7f73dyP1" alt=""></div>
                <p class="check_p">都可以...</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
        </ul>
    </div>
    <a href="/zxzq?p=3&type={$type}">
        <div class="redbgc_btn">
            <p class="red_p">下一步 (仅剩1步)</p>
        </div>
    </a>
    
</block>
<block name="script">
    <script>
        sessionStorage.removeItem('zx_step3');
        var index = 0;
        var selected = {}
        var step2 = sessionStorage.getItem('zx_step2');
        if(!step2){
            window.location.href = '/zxzq'
        }

        // 默认选择第一项
        if(index == 0) {
            $(".marp").eq(0).addClass("blocks")
            selected[index] = $(".marp").eq(0).parent('li').children('p.check_p').html()
            sessionStorage.setItem('zx_step3', JSON.stringify(selected));
        }

        $(".figs>ul>li").on("click",function() {
            index = $(this).index()  
            $(".marp").stop().eq(index).addClass("blocks").parent().siblings().children(".marp").removeClass("blocks")
            var text = $(this).children('p.check_p').html()
            selected = {}
            selected[index] = text
            sessionStorage.setItem('zx_step3', JSON.stringify(selected));
        })
    </script>
</block>
  
  
  