<extend name="Common:basic"/>
<block name="link">
    <link href="{$static_host}/assets/mobile/zhixuan/css/zxlx.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit"> 大数据智选装修公司</div>
</block>

<block name="content">
    <div class="sou_ban">
        <img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FnccDDpl3cgAZEU-3knDXQHj0xK8" alt="">
    </div>
    <div class="title_text">
        <p>您需要的装修类型是...</p>
    </div>
    <div class="nav_peric">
        <ol>
            <li>
                <div class="check_div"><img src=" //{:C('QINIU_DOMAIN')}/custom/20201118/FmeD2bsAiKG1WjttlwghFR86Aouu" alt=""></div>
                <p class="check_p">新房装修</p>
                <!-- 点击选择时的弹层  -->
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/Flu-CGsoBk3Jf2Y67Tt5v_1wJ-AZ" alt=""></div>
                <p class="check_p">别墅大宅</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FjoicjYwyLLi_w8mwefOvEmGx1Qf" alt=""></div>
                <p class="check_p">旧房改造</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FkGeVI4GRlK687voZ-6CeUtKG2ho" alt=""></div>
                <p class="check_p">商业办公</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
        </ol>
    </div>
    <div class="redbgc_btn">
        <p class="red_p">下一步 (只需3步)</p>
    </div>
    <include file="data"/>
</block>
<block name="script">
    <script>
        sessionStorage.removeItem('zx_step2');
        sessionStorage.removeItem('zx_step3');
        sessionStorage.removeItem('zx_result');
        sessionStorage.removeItem('zx_order_tel');
        
        var index = 0;
        var step1 = sessionStorage.getItem('zx_step1');

        if(step1){
            var index = step1-1;
        }
        
        $(".marp").eq(index).addClass("blocks")

        $(".nav_peric>ol>li").on("click",function() {
            index = $(this).index()
            $(".marp").eq(index).addClass("blocks").parent().siblings().children(".marp").removeClass("blocks")
        })

        // 点击当前匹配项跳转到对应的页面
        $(".redbgc_btn").on("click",function() {
            if(index == 0) {
                window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_xf"
            } else if(index == 1) {
                window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_bs"
            } else if(index == 2) {
                window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_jf"
            } else if(index == 3) {
                window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_sy"
            }
        })
    </script>
</block>
  
  
