<extend name="Common:basic"/>
<block name="link">
    <link href="{$static_host}/assets/mobile/zhixuan/css/zxzq_sy.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit"> 大数据智选装修公司</div>
</block>
<block name="content">
    <div class="sou_ban">
        <img src="//{:C('QINIU_DOMAIN')}/custom/20201120/Ft-WJEw_d-akzjciHAIB-gs1JEay" alt="">
    </div>
    <div class="title_text">
        <p>您要装修的空间是...</p>
    </div>
    <div class="figs">
        <ul>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/FvNFBsqLcziQRoydijg-XfWTxy70" alt=""></div>
                <p class="check_p">办公室/写字楼</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/FpYBhnkTa-YKjcc7sLGsJQV0Jx5u" alt=""></div>
                <p class="check_p">商铺/店面</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/Fl9qYYfx3vrpwOqo6dfe2rlHcMxj" alt=""></div>
                <p class="check_p">厂房</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/FnoL-1i1sQdenf4fA23X4PLzRISe" alt=""></div>
                <p class="check_p">饭店/酒吧</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/Fkl5wszpgvNgKuIPW8zeAaJxr0cM" alt=""></div>
                <p class="check_p">酒店/宾馆</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/FkDr9T9sNB24G8-MHb51SSEWIZhi" alt=""></div>
                <p class="check_p">会所/KTV</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/Fk5XNZ2ZtpMgWKZjY8Q_x8BXvrwI" alt=""></div>
                <p class="check_p">学校/幼儿园</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/FkDggOA7L68zDj_tTvU0-tCniz22" alt=""></div>
                <p class="check_p">美容/美发店</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201120/FsrkXiRzybtAPHLa0WDjP_QD6t--" alt=""></div>
                <p class="check_p">其他</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
        </ul>
    </div>
    <a href="/zxzq?p=3&type=4">
        <div class="redbgc_btn">
            <p class="red_p">下一步 (仅剩1步)</p>
        </div>
    </a>
</block>
<block name="script">
    <script type="text/javascript">
        sessionStorage.setItem('zx_step1', 4);
        sessionStorage.removeItem('zx_step2');
        sessionStorage.removeItem('zx_step3');
        sessionStorage.removeItem('zx_result');
        sessionStorage.removeItem('zx_order_tel');
    </script>
    <script>
        var index = 0;
        var selected = {};

        if(index == 0) {
            $(".marp").eq(0).addClass("blocks")
            selected[index] = $(".marp").eq(0).parent('li').children('.check_p').html()
            sessionStorage.setItem('zx_step2', JSON.stringify(selected));
        }
        $(".figs>ul>li").on("click",function() {
            index = $(this).index()  
            $(".marp").stop().eq(index).addClass("blocks").parent().siblings().children(".marp").removeClass("blocks")
            selected = {}
            selected[index] = $(this).children('.check_p').html()
           sessionStorage.setItem('zx_step2', JSON.stringify(selected));
        })
    </script>
</block>
  
  
  