<extend name="Common:basic"/>
<block name="link">
    <link href="{$static_host}/assets/mobile/zhixuan/css/zxzq_xf.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</block>
<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit"> 大数据智选装修公司</div>
</block>
<block name="content">
    <!-- 旧房顶部banner图片1 -->
    <div class="sou_ban">
        <img src="//{:C('QINIU_DOMAIN')}/custom/20201120/Fp0qIzSO6gd8dBal0YRXlYo_IIkc" alt="">
    </div>
    <div class="title_text">
        <p>您注重的装修体验是...</p>
    </div>
    <div class="figs">
        <ul>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FilbwA44DEUPgWmNJQgYKLzLcCv6" alt=""></div>
                <p class="check_p">高端设计</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FmQw_1RQ1lOcGAKTGPogpOu2PZms" alt=""></div>
                <p class="check_p">品牌实力</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FoPBKCmogd6Z8Jz7Q_F8yQpxHNgu" alt=""></div>
                <p class="check_p">透明套餐</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/Fo6MId29lMGtfb_I4YURbtaRWmBp" alt=""></div>
                <p class="check_p">拎包入住</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FgWudj3cU8oQDyDaHieNjqA1izQU" alt=""></div>
                <p class="check_p">快捷省时</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li data-id="000">
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/Fnb8naYLTuXcfcbELaZGaU39rixi" alt=""></div>
                <p class="check_p">低价实惠</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/Ft8BQdbLMClm2tm2fusT00vnZXYX" alt=""></div>
                <p class="check_p">装修工艺</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/FgovTmR5m4fRlGUP3KOcOxZ0QqFY" alt=""></div>
                <p class="check_p">智能环保</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
            <li>
                <div class="check_div"><img src="//{:C('QINIU_DOMAIN')}/custom/20201118/Fjy5iLYqGWr0pmnMCu66tZYUqszW" alt=""></div>
                <p class="check_p">装修贷款</p>
                <div class="marp">
                    <p class="check_marp"><img src="/assets/mobile/zhixuan/img/check1.png" alt=""></p>
                </div>
            </li>
        </ul>
    </div>
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_jf?p=2">
        <div class="redbgc_btn">
            <p class="red_p">下一步 (仅剩2步)</p>
        </div>
    </a>
    
     <!-- 信息填写不完整时的弹层 -->
     <div class="layer hidenone">
        <div class="layer_cont">
            <div class="contlayer_text"></div>
            <p class="determine">确定</p>
        </div>
    </div>

</block>
<block name="script">
    <script type="text/javascript">
        sessionStorage.setItem('zx_step1', 3);
        sessionStorage.removeItem('zx_step2');
        sessionStorage.removeItem('zx_step3');
        sessionStorage.removeItem('zx_result');
        sessionStorage.removeItem('zx_order_tel');
    </script>
    <script>
        var index = 0;
        var flag = true;
        var selected = {};

        // 默认选择第一项
        if(index == 0) {
            $(".marp").eq(0).addClass("blocks")
            selected[index] = $(".marp").eq(0).parent('li').children('.check_p').html()
            sessionStorage.setItem('zx_step2', JSON.stringify(selected));
        }

        $(".figs>ul>li").on("click",function() {
            var idx = $(this).index()
            if($(this).find('.marp').hasClass("blocks")){
                if($('.figs').find('.marp.blocks').length <= 1){
                    $(".layer").removeClass("hidenone")
                    $('.contlayer_text').text("最少选择1项哦!")
                    return false;
                }
                $(this).find('.marp').removeClass("blocks")
                delete selected[idx]
            }else{
                if($('.figs').find('.marp.blocks').length >=2){
                    $(".layer").removeClass("hidenone")
                    $('.contlayer_text').text("最多选择2项哦!")
                    return false;
                }
                $(this).find('.marp').addClass("blocks")
                selected[idx] = $(this).children('.check_p').html()
            }

            sessionStorage.setItem('zx_step2', JSON.stringify(selected));
        })
       
        // 点击确定时弹层消失
        $(".determine").on('click',function() {
            $(".layer").addClass("hidenone")
        })

 
    </script>
</block>
  
  