<extend name="Common:basic"/>
<block name="link">
    <link href="{$static_host}/assets/mobile/zhixuan/css/zxzq.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <meta property="og:image" content="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$data.zxzn.0.face}-w400.jpg" />
</block>

<block name="top">
    <div class="m-header-his">
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="/" class="m-header-left"></a>
    <div class="m-header-tit">大数据智选装修公司</div>    
</block>

<block name="content">
    <div class="bgc_cont">
        <img src="//{:C('QINIU_DOMAIN')}/custom/20201208/FgaTTbYAzpoye5xcoOINHnf4BRyz" alt="">
        <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq?p=2"><div class="red_bth">一键开启大数据智选</div></a>
    </div>
    
    <div class="fff_bgc">
        <ul class="ul">
            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_xf">
                <li>
                    <div><img src="/assets/mobile/zhixuan/img/zn_icon4.png" alt=""></div>
                    <p>新房装修</p>
                </li>
            </a>
            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_bs">
                <li>
                    <div><img src="/assets/mobile/zhixuan/img/zn_icon1.png" alt=""></div>
                    <p>别墅大宅</p>
                </li>
            </a>
            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_jf">
                <li>
                    <div><img src="/assets/mobile/zhixuan/img/zn_icon2.png" alt=""></div>
                    <p>旧房改造</p>
                </li>
            </a>
            <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/zxzq_sy">
                <li>
                    <div><img src="/assets/mobile/zhixuan/img/zn_icon3.png" alt=""></div>
                    <p>商业办公</p>
                </li>
            </a>
            
        </ul>
    </div>
</block>
<block name="script">
<script type="text/javascript">
    sessionStorage.removeItem('zx_step1');
    sessionStorage.removeItem('zx_step2');
    sessionStorage.removeItem('zx_step3');
    sessionStorage.removeItem('zx_result');
    sessionStorage.removeItem('zx_order_tel');
</script>    
</block>


  
