.col878E93{
  color: #878E93;
}
.colF29126{
  color: #F29126;
}
.colF28127{
  color: #F28127;
}
.col3B7CFF{
  color: #3B7CFF;
}
.colD2D2D2{
  color: #D2D2D2;
}
.colE94747{
  color: #E94747;
}
.col333{
  color: #333;
}
.col999{
  color: #999;
}
.col989898{
  color: #989898;
}
.colfff{
  color: #fff;
}
.colB5BBBF{
  color: #B5BBBF;
}
.colFF4A4A{
  color: #FF4A4A;
}
