.warp {
  padding: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.mb5{
  margin-bottom: 5px;
}
.mb50{
  margin-bottom: 50px;
}
.mt20{
  margin-top: 20px;
}
.mr4{
  margin-right: 4px;
}
.mr10{
  margin-right: 10px;
}
.mr15{
  margin-right: 15px;
}
.mr20{
  margin-right: 20px;
}
.text-center{
  text-align: center;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.fs20{
  font-size: 20px;
}
.green{
  color: green;
}
.red{
  color: red;
}
.flex{
  display: flex;
}
.spa-bet{
  justify-content: space-between;
}
.spa-aro{
  justify-content: space-around;
}
.flex-start{
  justify-content: flex-start;
}
.ali-ite{
  align-items: center;
}
.jus-con{
  justify-content: center;
}
.point{
  cursor: pointer;
}
.font12{
  font-size: 12px;
}
.font13{
  font-size: 13px;
}
.font14{
  font-size: 14px;
}
.font15{
  font-size: 15px;
}
.font16{
  font-size: 16px;
}
.font18{
  font-size: 18px;
}
.font20{
  font-size: 20px;
}
.font24{
  font-size: 24px;
}
.font50{
  font-size: 50px;
}
.ml10{
  margin-left: 10px;
}
.mtb10{
  margin: 10px 0;
}
.input{
  width: 200px;
}
.mt10{
  margin-top: 10px;
}
.mt24{
  margin-top: 24px;
}
.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.ml15{
  margin-left: 15px;
}
.mt15{
  margin-top: 15px;
}
.mt30{
  margin-top: 30px;
}
.mb20{
  margin-bottom: 20px;
}
.ml20{
  margin-left: 20px;
}
.mtb10{
  margin: 10px 0;
}
.mr5{
  margin-right: 5px;
}
.mb0{
  margin-bottom: 0;
}
.bold{
  font-weight: bold;
}
.nodata{
  padding-top: 200px;
  text-align: center;
}
