.goods-title{
  margin: 20px 0 0 0;
}
.nodata-div{
  text-align: center;
  padding: 200px 0;
}
.nodata-img{
  width: 240px;
  height: 180px;
}
.goshop-tips{
  margin: 30px 0;
}
.u1243_img{
  width: 82px;
  height: 82px;
  margin: 0 20px 0 0;
}
.goods-default{
  width: 81px;
  height: 29px;
  line-height: 29px;
  background-color: #797979;
  color: #fff;
  text-align: center;
}
.pagination{
  margin: 30px 0;
  text-align: center;
}
