.box{
    padding-bottom: 15px;
}
.box-body{
    padding-left:30px;
}
.box-body .red{
    color: red;
}
.box-body label{
    font-weight: normal;
    margin-top:15px;
    display: block;
}
.box-body .col-xs-6{
    padding:0!important;
}
#startTime{
    padding-right:15px!important;
}
#endTime{
    padding-left: 15px!important;
}
.wid_60{
    width:60%;
    overflow:hidden;;
}
.btn-area{
    text-align: left;
    padding-left: 30px;
}
#save{
    margin-right: 15px;
}
.edit-sort{
    width:20%;
    display: inline-block;
}
.eidt_caution{
    padding:10px 15px;
    height: 80px;
    line-height: 30px;
    background:#fbf7df;
    margin:15px 0;
}
.caution{
    color: #8c764e;
}
