#add{
    background: #00a65a;
    color: #fff;
    margin:0 15px;
}
#setImage{
    background: #669900;
    color: #fff;
}
.operate-btn span{
    cursor: pointer;;
}
.edit-btn,.disable-btn{
    color:#199ed8;
}
.disable-btn{
    margin:0 15px;
}
/*顶部图片设置*/
.dialog-mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    z-index:9999;
    background:rgba(0,0,0,0.5);
    display: none;
}
.operate-dialog{
    width:800px;
    height: 500px;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    background: #fff;
    padding:15px;
    overflow-y: auto;
}
.close-btn{
    font-size:28px;
    position: absolute;
    top:15px;
    right: 15px;
    cursor: pointer;
}
.dialog-content label{
    font-weight: normal;
    display: block;
    width:80px;
    text-align: left;
    float: left;
}
#pc_image,#m_image{
    float: left;
}
.file-input{
    width: 77% !important;
    margin: auto;
}
.operate-action{
    margin-left: 88px;
    margin-top:15px;
}
.dialog-btn{
    text-align: center;
    margin-top:20px;
}
.dialog-btn button{
    outline: none;
    border: none;
}
.dialog-submit-btn{
    margin-right:15px;
}
