<div class="footer">
    <div class="wrap">
        <ul class="b-nav-list clearfix">
            <li><a href="{$QZ_HOST}/about/about" target="_blank">齐装网简介</a></li>
            <li><a href="{$QZ_HOST}/about/culture" target="_blank">企业文化</a></li>
            <li><a href="{$QZ_HOST}/about/contactus" target="_blank">联系我们</a></li>
            <li><a href="{$QZ_HOST}/about/zhaopin" target="_blank">诚聘英才</a></li>
            <li><a href="{$QZ_HOST}/about/team" target="_blank">员工风采</a></li>
            <li><a href="{$QZ_HOST}/about/media" target="_blank">媒体报道</a></li>
            <li><a href="{$QZ_HOST}/about/legal" target="_blank">法律声明</a></li>
            <li><a href="{$QZ_HOST}/about/liansuo" target="_blank">战略合作</a></li>
            <li><a href="{$QZ_HOST}/city/" target="_blank">城市导航</a></li>
            <li><a href="{$QZ_HOST}/kefu/" target="_blank">客户服务</a></li>
        </ul>
        <p>法律顾问：江苏新苏律师事务所 张茜茜律师 苏ICP备12045334号 Copyright ©2019 Www.QiZuang.Com. All Rights Reserved</p>
        <div class="contact clearfix">
            <p class="service-email">服务邮箱：services@qizuang.com</p>
            <!-- <div class="kefu-qq">全国统一服务客服QQ:
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2850396058&site=qq&menu=yes" class="kefu1" target="_blank">
                    <img src="/static/common/img/qq-icon.png" alt="齐装网官方客服">
                </a>
                <a href="http://wpa.qq.com/msgrd?v=3&uin=2850396051&site=qq&menu=yes" class="kefu2" target="_blank">
                    <img src="/static/common/img/qq-icon.png" alt="齐装网官方客服">
                </a>
            </div> -->
            <div class="friend-qq" style="margin-left: 20px;">友情链接QQ:
                <a href="https://wpa.qq.com/msgrd?v=3&uin=3267069017&site=qq&menu=yes"><img src="/static/common/img/qq-icon.png" alt=""></a>
            </div>
        </div>
        <div class="wechat-code">
            <img src="/static/common/img/weixincode.png" alt="">
            <p>微信扫一扫，工资省半年</p>
        </div>
        <div class="weibo">
            <img src="/static/common/img/weibo-icon.png" alt="">
            <p>@齐装网—装修管家</p>
        </div>
    </div>
</div>