<div class="common-left">
    <div class="user-avator">
        <img src="/static/private/img/default-avator.jpg" alt="">
    </div>
    <div class="user-name"></div>
    <div class="user-city"><span class="cityname"></span><span class="areaname"></span></div>
    <div class="sets">
        <p>账号设置</p>
        <ul>
            <li class="{if $active=='setting'}active{/if}">
                <a href="/account/setting">
                    <div class="base-info">
                        <i class="icon-info"></i>基本信息
                    </div>
                </a>
            </li>
            <li class="{if $active=='setpassword'}active{/if}">
                <a href="/account/setpassword">
                    <div class="revise-psw">
                        <i class="icon-lock"></i>修改密码
                    </div>
                </a>
            </li>
            <li class="{if $active=='security'}active{/if}">
                <a href="/account/security">
                    <div class="secret-protect">
                        <i class="icon-safe"></i>密保认证
                    </div>
                </a>
            </li>
            <li>
                <a href="/blackboard/help">
                    <div class="help-center">
                        <i class="icon-help"></i>帮助中心
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>