#tab{
  padding-bottom: 20px;
  padding-top: 20px;
}

#tab .tab{
  border: 1px solid #ddd;
  margin-right: -5px;
  width: 100px;
  text-align: center;
  padding: 10px;
  color: black;
  display: inline-block;
}

#tab .tab:nth-child(1){
  border-radius: 5px 0 0 5px;
}

#tab .tab:nth-child(4){
  border-radius: 0 5px 5px 0;
}