.cover{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter:alpha(opacity=50);
    display:none;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    z-index: 999;
}
.order-view{
    padding:5px 10px;
    background:#ccc;
    cursor:pointer;
}
/*查看订单模态框*/
.order-model{
    width:780px;
    min-height:390px;
    position:fixed;
    top:200px;
    right:0;
    left:0;
    margin:auto;
    border:1px #ccc solid;
    background:#fff;
    z-index:9999;
    display:none;
}
.order-model .order-model-top{
    height:40px;
    background:#d7d7d7;
    padding-left:15px;
    position: relative;
}
.order-model .order-model-top span{
    display:inline-block;
    height:40px;
    line-height:40px;
}
.order-model .order-model-top .order-close{
    position: absolute;
    right: 10px;
    font-size:24px;
    color:#000;
    cursor:pointer;
    font-weight: 700;
}
.order-model-center{
    overflow: hidden;
}
.order-model-center .col-xs-12{
    margin-top:17px;
}
.order-model-center .col-xs-12 .col-xs-6 span:nth-child(1){
    display: inline-block;
    width:85px;
    text-align:right;
}
.order-model-bottom{
    margin:10px 15px 0;
    padding-top:10px;
    border-top:1px #ccc dashed;
}
.mt10 {
    margin-top: 10px;
}
.fa-search {
    margin-right: 5px;
}
.fr {
    float: right;
}
#tablelist thead {
    background: #eee;
}