body{
    font-size: 14px;
}
.red{color: #c00;}
.link-error{margin-top: 10px;color: red;}
.file-preview-image{max-width: 210px}

.tags,.item{margin: 0;padding: 0;float: left;}
.tags li,.item li {float: left;padding: 5px;border: 1px solid #DDD;background: #ECF0F1;border-radius: 5px;margin-right: 10px;margin-bottom: 10px;cursor: pointer;color: #666;}
.tags .active, .item .active {background: #FF8589;color: #FFF;border: 1px solid #FF8589;}

li {list-style-type: none;}

.tishi_box{
    width:calc(100% - 30px);
    max-height: 150px;
    border: 1px solid #DEDEDE;
    background: #fff;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 4px 1px #DEDEDE;
    overflow-y: auto;
}
.tishi_box ul{list-style: none;padding-left: 10px !important;}
.tishi_box ul li{list-style: none;text-align: left;line-height: 25px;}
.jvzhongxs .xuanzeop{width: 110px;height: 36px;vertical-align: middle;outline: none;margin-right: 10px;}
.jvzhongxs .xuanzeop2{width: 110px;height: 36px;vertical-align: middle;outline: none;margin-right: 10px;}
.jvzhongxs .qujiandg .qujian2{right: 16px;top: 8px;}
.jvzhongxs .qujiandg .dange2{left: 127px;top: 8px;}
.f-title {
    margin-left: 45px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.f-title span {
    font-size: 20px;
    margin-left: 5px;
}
.pl60 {
    padding-left: 60px;
}
.pl60 .col-sm-12 {
    margin-bottom: 10px;
    font-weight: bold;
}
.lx {
    margin-top: 5px;
}
.submit {
    margin-top: 5px;
}
.h1 {
    padding-bottom: 10px;
}
.lx span {
    display: block;
    float: left;
    height: 34px;
    line-height: 34px;
}
.lx input.form-control {
    width: 70%;
}
.lx select.form-control {
    width: 70%;
}
.select-fl {
    width: 22%;
    height: 34px;
    margin-right: 10px;
    border-color: #d2d6de
}
.select-zt {
    width: 100%;
    height: 34px;
    border-color: #d2d6de
}
.file-input .pull-left {
    display: none;
}
.form-group .tips0 {
    position: absolute;
    bottom: -10px;
    left: 0;
}
.form-group .ctips {
    position: absolute;
    bottom: -10px;
    left: 0;
}
.form-group .error-info {
    padding-left: 10px;
    padding-top: 5px;
}