.cx-select-wrap{
    display: block;
}

.cx-select{
    width: 30%;
    float: left;
}
.cx-select-wrap .mg{
    margin-left: 3%;
}

.table td ,.table th{
    text-align: left;
}

.recommend-tags button{
    margin-right: 5px;
    margin-top: 5px;
}
.download-dialog input{
    margin-left: 18px;
}

.download-dialog label{
    margin-right: 18px;
}

/*319 g1.5.31 新后台管理->新审核管理->公司评论迭代*/
.modal .modal-content{
    border-radius: 8px;
    padding-bottom: 20px;
    max-height: 620px;
    overflow-y: auto;
}
.detail-top{
    height: 55px;
    line-height: 55px;
    font-size:16px;
    font-weight:bold;
    color:#333;
    border-bottom: 1px #F7F7F7 solid;
    padding-left:35px;
}
.detail-comment{
    font-size:14px;
    font-weight:400;
    color:#666;
    line-height:22px;
    padding:0 35px;
    margin-top:30px;
    margin-bottom: 18px;
}
.swiper-container{
    width:360px!important;
    height:360px;
}
.swiper-slide{
    width:360px!important;
    height: 360px!important;
    overflow: hidden;
}
.swiper-slide img{
    width:100%;
}
.swiper-button-next,.swiper-button-prev{
    width:30px!important;
    height:30px!important;
    border-radius: 50%;
}
.swiper-button-prev{
    background-image: url("/assets/home/img/left.png")!important;
    background-size: 100%!important;
}
.swiper-button-next{
    background-image: url("/assets/home/img/right.png")!important;
    background-size: 100%!important;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width:28px;
    height:4px;
    background:#E5E5E5;
    border-radius:0;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active{
    width:28px;
    height:4px;
    background:#FF5E62;
    border-radius:0;
}
.close-read{
    display: block;
    margin:0 auto;
    width:80px;
    height:32px;
    background:rgba(255,94,98,1);
    border-radius:8px;
    font-size:16px;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:22px;
    margin-top:30px;
    cursor: pointer;
    margin-bottom: 20px;
    border:none;
    outline: none;
}
.hide {
    display: none!important;
}
