::-moz-placeholder {
    color: #999;
    font-family: "Microsoft Yahei";
}

::-webkit-input-placeholder {
    color: #999;
    font-family: "Microsoft Yahei";
}

:-ms-input-placeholder {
    color: #999;
    font-family: "Microsoft Yahei";
}
body{
    background: #f8f8f8;
}
.wrap {
    width: 1200px;
    box-sizing: border-box;
}
.bbl{
    border-bottom:1px dashed rgba(220,220,220,1);
}

a:hover {
    color: #fff;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mr18 {
    margin-right: 18px;
}
.mr13{
    margin-right: 13px;
}
.mr15{
    margin-right: 15px;
}
.mb10 {
    margin-bottom: 10px;
}
.mr12{
    margin-right: 12px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}
.mb65{
    margin-bottom: 65px;
}

.btlr {
    border-top-left-radius: 10px;
}

.btrr {
    border-top-right-radius: 10px;
}

.bblr {
    border-bottom-left-radius: 10px;
}

.bbrr {
    border-bottom-right-radius: 10px;
}
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 15;
    display: none;
}

.zb-bg1 {
    background: #82BDFF;
    height: 610px;
}

.zb-bg1-bg {
    position: absolute;
    width: 100%;
    height: 610px;
}
.zb-bg1-bg >img{
    position: absolute;
    width: 1911px;
    height: 610px;
    left: 50%;
    margin-left: -960px;
}
/*新发单窗*/
.order-box {
    width: 255px;
    /*height: 370px;*/
    position: relative;
    top: 150px;
    background: #fff;
    z-index: 3;
    text-align: center;
    border-radius: 3px;
    font-family: "Microsoft Yahei";
    padding: 0px 40px 0 40px;
    float: right;
    overflow: hidden;
    box-shadow: 0 0 8px 0 #999;
    -webkit-box-shadow: 0 0 8px 0 #999;
    -moz-box-shadow: 0 0 8px 0 #999;
    -ms-box-shadow: 0 0 8px 0 #999;
}
.order-box1{
    padding: 0 30px;
    left: -8px;
}

.order-box h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
    line-height: 20px;
}

.order-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
    line-height: 20px;
}

/*.order-box h2 {*/
.order-box .sub-bj-title {
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 15px;
    line-height: 14px;
    color: #333;
}

.order-box .edit-text {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #dcd8d9;
    padding-left: 10px;
    display: block;
    font-size: 14px;
}

.order-box .edit-city {
    width: 120px;
    height: 35px;
    border: 1px solid #dcd8d9;
    box-sizing: border-box;
    display: block;
    float: left;
    color: #333;
    font-size: 14px;
}

.order-box .yz-info {
    height: 25px;
    color: #ff5659;
    text-align: left
}

.order-box button {
    width: 100%;
    height: 35px;
    background: #ff5353;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding: 0;
    border: 0;
    cursor: pointer
}
.design-btn{
    margin-bottom: 30px;
}

/*.order-box p {
    position: absolute;
    left: 40px;
    right: 40px;
    text-align: left;
    bottom: 23px;
    font-size: 14px;
    line-height: 14px;
}*/

.order-box p a {
    float: right;
    display: inline-block;
    color: #ff5659
}
.order-box .disclamer-line{
    margin: 10px 0;
}

.order-box .box-line {
    /*margin-bottom: 18px;
    overflow: hidden;*/
    height:53px;
    margin-bottom: 0!important;
}

.wrap-box {
    margin-top: 40px;
}

.wrapper {
    text-align: center;
}

.title {
    font-size: 36px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 44px;
}

.content-box {
    margin-top: 40px;
}

.step-item {
    width: 33.3%;
    border-top: 1px dashed rgba(204, 144, 118, 1);
    padding: 0 73px;
    padding-top: 45px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

.step-box h2 {
    font-size: 36px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(176, 119, 95, 1);
    line-height: 36px;
}

.step-title {
    font-size: 24px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 32px;
    padding: 10px 0;
}

.step-text {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 32px;
}

.free-btn {
    display: block;
    width: 170px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    text-align: center;
    color: rgba(123, 77, 58, 1);
    background: url('/assets/home/quanwu/img/free-btn-bg.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: 15px 0;
}
.free-btn:hover{
    color: rgba(123,77,58,1);
}
.order-box1 .disclamer-line a:hover{
    color: #1F80C7;
}


.step01 {
    position: absolute;
    top: -25px;
    left: 145px;
    text-align: center;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background: url('/assets/home/quanwu/img/step-cicle.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.slogan-wrapper {
    padding: 15px 0;
}

.slogan-item {
    width: 31.41%;
    height: 200px;
    float: left;
}

.slogan-item img {
    width: 100%;
    height: 200px;
}

.slogan-margin {
    margin: 0 2.8%;
}

.order-wrapper {
    background: rgba(215, 226, 207, 1);
    border-radius: 10px;
    padding: 50px 16px 30px 20px;
}

.all-order {
    width: 380px;
    position: relative;
}

.all-order img {
    width: 100%;
    height: 415px;
    /*border-top-left-radius: 10px;*/
    vertical-align: bottom;
}

.all-order > div {
    background: #fff;
    padding: 24px 0;
    box-sizing: border-box;
    text-align: center;
}

.order-title {
    font-size: 30px;
    line-height: 44px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.order-text {
    line-height: 44px;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}

.order-class-item {
    /*margin-bottom: 13px;*/
}

.order-item-box {
    width: 380px;
    height: 270px;
    position: relative;
}

.order-item-box img {
    width: 100%;
    vertical-align: bottom;
}

.order-tag {
    position: absolute;
    bottom: 15px;
    left: 25px;
}

.order-tag span {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(243, 243, 243, 1);
    line-height: 40px;
}

.order-tag .tag-class {
    font-size: 22px;
    padding: 7px 24px;
    background: rgba(0, 0, 0, 0.6);
    /*opacity: 0.5;*/
    border-radius: 22px;
    margin-right: 10px;
}

.free-get {
    position: absolute;
    top: 30px;
    right: 38px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 25px;
    background: rgba(0, 0, 0, .6);
    /*opacity: 0.5;*/
    border-radius: 50%;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.process-wrapper {
    margin-top: 20px;
}

.process-title {
    width: 178px;
    height: 158px;
    box-sizing: border-box;
    padding: 32px 52px 45px 37px;
    font-size: 32px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 44px;
    background: url('/assets/home/quanwu/img/process-box.png') no-repeat;
    background-size: 100% 100%;
    margin-right: 15 pz;
}

.process-items {
    width: 83%;
    margin-top: 77px;
}

.process-item {
    width: 25%;
    padding-top: 25px;
    box-sizing: border-box;
    position: relative;
    border-top: 1px dashed rgba(115, 95, 87, 1);
}

.process-item p {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(157, 95, 70, 1);
    line-height: 30px;
}

.process-item span {
    position: absolute;
    top: -28px;
    left: 92px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: url('/assets/home/quanwu/img/step-cicle.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.style-wrapper {
    background: rgba(249, 215, 179, 1);
    border-radius: 10px;
    padding: 50px 19px 31px 21px;
}


.item-box {
    width: 570px;
    background: #fff;
    border-radius: 10px;
}

.item-box img {
    width: 100%;
    height: 420px;
    vertical-align: top;
}

.item-text {
    padding: 0 17px 15px 17px;
    margin-top: 18px;
}

.item-keywords {
    text-align: left;
}

.item-keywords p {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 36px;
}

.item-keywords .item-chinese {
    font-size: 30px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 44px;
    margin-right: 15px;
}

.style-free {
    width: 104px;
    height: 104px;
    box-sizing: border-box;
    padding: 25px 27px;
    background: url('/assets/home/quanwu/img/cicle-big.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(106, 60, 40, 1);
    line-height: 26px;
}

.style-free:hover {
    color: rgba(106, 60, 40, 1);
}

.style-banner {
    margin-top: 30px;
    position: relative;
}

.style-free-btn {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-120px);
    width: 252px;
    height: 64px;
    line-height: 58px;
    text-align: center;
    box-sizing: border-box;
    background: url('/assets/home/quanwu/img/style-bg.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(106, 60, 40, 1);
}

.style-free-btn:hover {
    color: rgba(106, 60, 40, 1);
}

.case-wrapper {
    border-radius: 10px;
    padding: 50px 19px 31px 26px;
    background: rgba(181, 193, 228, 1);
}
.case-steps{
    padding: 0 15px;
}
.case-step {
    position: relative;
    width: 20%;
    padding-top: 30px;
    border-top: 2px dashed rgba(157, 95, 70, 1);
}

.case-step p {
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(157, 95, 70, 1);
    line-height: 30px;
}

.step_1 {
    position: absolute;
    top: -26px;
    left: 92px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: url(/assets/home/quanwu/img/step-cicle.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 22px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.case-example{
    margin-top: 15px;
}
.case-title{
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(51,51,51,1);
    line-height: 120px;
    padding-left: 3px;
    margin-right: 3px;

}
.case-text{
    width: 91%;
    height: 128px;
    box-sizing: border-box;
    padding: 23px 32px 29px 47px;
    background: url(/assets/home/quanwu/img/case-bg.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-position-x: 6px;
    text-align: left;
}
.case-text p{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(160,111,99,1);
    line-height:30px;
}

.case-items{
    margin-top: 33px;
}
.case-box{
    width: 570px;

}
.case-box >img{
    width: 100%;
    height: 450px;
    vertical-align: top;
    border-radius: 10px 10px 0 0    ;
}
.case-text-box{
    width: 100%;
    background: #fff;
    padding: 15px 17px 15px 17px;
    box-sizing: border-box;
    text-align: left;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.case-final{
    padding-bottom: 19px;
}
.step-normal{
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: url(/assets/home/quanwu/img/step-cicle.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    font-size: 30px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.case-sub >p{
    font-size:30px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:44px;
    margin-left: 15px;
}
.case-sub .step-normal{
    font-size:24px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(106,60,40,1)
}
.case-sub-title{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:36px;
    height: 36px;
    text-indent: 60px;
}
.advantage-wrapper{
    padding: 0px 0 60px 0;
}
.tradition{
    width: 460px;
}
.tradition li,.tradition-vs li{
    line-height: 70px;
    text-align: center;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.tradition li{
    background: #fff;
}
.tradition-vs li{
    color:rgba(106,60,40,1);
    font-size: 24px;
}
.tradition-title h3{
    font-size:30px;
    font-family:MicrosoftYaHei-Bold;
    background:rgba(189,176,160,1);
    font-weight:bold;
    color:rgba(255,255,255,1);
    border-radius: 10px 10px 0 0 ;
}
.tradition-now h3{
    background:rgba(255,78,94,1);
    border-radius:10px 10px 0px 0px;
}

.tradition-vs{
    width: 279px;
}
.tradition-vs-title{
    height: 70px;
}
.tradition-vs-title img{
    width: 75px;
    height: 75px;
    vertical-align: middle;
}
.footer{
    background: #fff;
    position: static;
}


.fd-wrapper{
    /*display: none;*/
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height:130px;
    background:rgba(0,0,0,0.7);
    /*opacity:0.7;*/
    color: #fff;
    font-size: 16px;
    z-index: 1;
}
.fix-order .main {
    width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
    box-sizing: border-box;
}
.fix-order .main > div {
    float: left;
    margin-right: 15px;
    margin-top: 7px;
    position: relative;
    filter: alpha(opacity=100);
}
.fix-order .main  .fix-title{
    float: none;
}
.fix-title p{
    font-size:18px;
    color: #fff;
    font-family: MicrosoftYaHei;
}
.fix-title .fix-order-title{
    font-size:24px;
    margin-right: 5px;
}
.fix-order-num{
    font-size: 24px;
    color:rgba(255, 233, 50, 1);
    margin-right: 5px;
}
.fix-order select, .fix-order input, .fix-order button {
    width: 180px;
    height: 52px;
    color: #000;
    line-height: 52px!important;
    text-indent: 1em;
    outline: none;
    border: none;
    border-radius: 0.3em;
}
.fix-order select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-top: 13px \0;
    padding-bottom: 13px \0;
}
.fix-order .city-box i, .fix-order .area-box i {
    display: block;
    width: 14px;
    height: 8px;
    background: url(/assets/home/quanwu/img/angle-down.png) no-repeat center center;
    position: absolute;
    top: 22px;
    right: 12px;
    z-index: 99;
    pointer-events: none;
    display: none\0;
}
.fix-order .b-warn {
    /*color: #F3B023;*/
    color:red;
    font-size: 12px;
    line-height: 2;
}
.fix-order #f_btnSave {
    background-color: rgba(255, 83, 83, 1);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}
.fix-bottom .disclamer-line{
    color: rgba(230, 230, 230, 1);
}
.fix-bottom .disclamer-line .disclamer-check i.fa-check {
    position: absolute;
    top: -1px;
    color:rgba(255, 83, 83, 1)
}
.fix-bottom .disclamer-line a {
    color: rgba(230, 230, 230, 1);
    border-bottom: 1px solid rgba(230, 230, 230, 1);
}

/*dialog*/
.success-box{
    width: 360px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-180px,-150px);
    box-sizing: border-box;
    background: #fff;
    box-shadow:-1px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius:10px;
    display: none;
    z-index: 20;
}
.success-title{
    height: 68px;
    border-bottom:2px solid rgba(241, 36, 55, 1);
}
.success-title h3{
    width: 100%;
    height: 66px;
    text-align: center;
    font-size:24px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    background:linear-gradient(0deg,rgba(241,36,55,1) 0%,rgba(255,115,92,1) 100%);
    border-radius:10px 10px 0px 0px;
    line-height:66px;
}
.success-wrapper{
    padding: 20px 30px;
    text-align: center;
}
.success-wrapper .success-tel{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.success-wrapper .success-tel span{
    color: rgba(255, 158, 19, 1);
}
.success-wrapper .qr-img{
    width: 100px;
    height: 100px;
    margin: 15px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px;
    border:1px solid rgba(248,172,35,1);
    border-radius:5px;
}
.success-wrapper .qr-img img{
    width:100%;
    height: 100%;
}
.moer-info{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:24px;
}

.free-order{
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-100px, -100px);
    z-index: 20;
    display: none;
}
.free-order .order-box{
    position: static;
}
.free-order .order-box h2{
    font-size:30px;
}
.free-order .order-box .sub-bj-title{
    font-size: 18px;
    line-height:26px;
}
.free-box{
    padding-left: 35px;
    padding-right: 35px;
}
.free-phone{
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:44px;
}
.free-phone span{
    color: rgba(255, 83, 83, 1) ;
}
.order-sub-items{

}
.order-sub-items li{
    width: 25%;
    text-align: center;
}
.order-sub-items li img{
    width: 35px;
    height: 35px;
}
.order-sub-items li p{
    font-size:13px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:30px;
}
/*283 PC端全站提示弹窗样式调整优化及m站全国站首页添加底栏*/
.errorArea-tit,.errorName-tit,.errorTel-tit,.f-errorArea-tit,.f-errorTel-tit,.f-errorName-tit{
    height:15px;
    visibility: visible;
    color:red;
    text-align: left;
}

/* 企查查浮窗 */
.qcc-qwdz-info{
    position: fixed;
    left: 42px;
    bottom: 60px;
    z-index: 4;
}
.qcc-qwdz-info img{
    display: block;
    width: 145px;
    height: auto;
}
