.main {
    background: #151516;
}
.main .top-banner img {
    display: block;
    width: 100%;
    height: 100%;
}
.main .example .e-title {
    width: 1200px;
    height: 135px;
    margin: 60px auto;
}
.main .example .e-title img {
    display: block;
    width: 100%;
    height: 100%;
}
.main .bg {
    position: relative;
    height: 1473px;
}
.main .bg .bg-img {
    width: 100%;
    height: 1473px;
    position: absolute;
    top: 0;
}
.main .bg .bg-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.main .bg .style {
    width: 1296px;
    height: 772px;
    margin: 0 auto;
    background: url(../img/bjb.png) no-repeat;
    position: relative;
}
.main .bg .style .style-tabs {
    padding-top: 47px;
    padding-left: 58px;
}
.main .bg .style .style-tabs ul li {
    width: 160px;
    height: 74px;
    line-height: 74px;
    color: #F4D7A0;
    font-size: 24px;
    text-align: center;
    background: url(../img/style.png) no-repeat;
    float: left;
    margin-right: 44px;
    cursor: pointer;
}
.main .bg .style .style-tabs ul li:last-child {
    margin-right: 0;
}
.main .bg .style .style-tabs ul li.cur {
    background: url(../img/style1.png) no-repeat;
}
.main .bg .style .s-box {
    /* width: 1220px; */
}
.main .bg .style .swiper-wrapper {
    height: 598px!important;
}
.main .bg .style .swiper-slide {
    position: relative;
    height: 598px!important;
}
.main .bg .style .swiper-slide .example-img {
    display: block;
    width: 1000px;
    height: 580px;
    margin-top: 18px;
    background: #ccc;
}
.main .bg .style .swiper-slide .example-img img {
    border-radius: 2px 0 0 2px;
}
.main .bg .style .swiper-slide .e-right {
    width:220px;
    height:580px;
    background: rgba(0,0,0,.7);
    filter:alpha(opacity=70);
    position: absolute;
    right: 0;
    top: 18px;
    border-radius: 0 2px 2px 0;
}
.main .bg .style .swiper-slide .e-right .c-name {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight:bold;
    color:rgba(255,255,255,1);
    text-shadow:0px 4px 7px rgba(4,0,0,0.2);
    color: #BCA57C;
    margin-top: 120px;
    background: linear-gradient(to right, #BCA57C,#FFF5E4,#BDA67D);
    background: linear-gradient(to right, #BCA57C,#FFF5E4,#BDA67D);
    background: -moz-linear-gradient(to right, #BCA57C,#FFF5E4,#BDA67D);
    background: -o-linear-gradient(to right, #BCA57C,#FFF5E4,#BDA67D);
    background: -ms-linear-gradient(to right, #BCA57C,#FFF5E4,#BDA67D);
    -webkit-background: linear-gradient(to right, #BCA57C,#FFF5E4,#BDA67D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .bg .style .swiper-slide .e-right .avator {
    width: 120px;
    height: 120px;
    margin: auto;
}
.main .bg .style .swiper-slide .e-right .avator img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ccc;
    margin: 30px auto 0;
}
.main .bg .style .swiper-slide .e-right .designer {
    margin: 15px 0 20px;
    font-size: 16px;
    color: #BDA67D;
    text-align: center;
}
.main .bg .style .swiper-slide .e-right .designer a {
    color: #BDA67D;
}
.main .bg .style .swiper-slide .e-right .yysj {
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    background: url(../img/sj-btn.png) no-repeat;
    cursor: pointer;
}
.main .bg .style .swiper-slide .e-right .company {
    margin-top: 40px;
    color: #BDA67D;
    text-align: center;
}
.main .bg .style .swiper-slide .e-right .company a {
    color: #BDA67D;
}
.main .bg .more {
    width: 214px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 25px auto;
    background: url(../img/more-bg.png) no-repeat;
    position: relative;
    cursor: pointer;
}
.main .bg .more a {
    color: #fff;
}
.main .bg .yyzx {
    width: 1200px;
    height: 135px;
    margin: 67px auto 47px;
    position: relative;
}
.main .bg .yyzx img {
    display: block;
    width: 100%;
    height: 100%;
}
.main .bg .apply {
    width: 1278px;
    height: 261px;
    position: relative;
    margin: 7px auto;
}
.main .bg .apply .apply-img {
    width: 100%;
    height: 100%;
}
.main .bg .apply .apply-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.main .bg .apply .apply-form {
    position: absolute;
    top: 0;
    right: 40px;
    width: 290px;
    padding: 5px;
    padding-top: 45px;
}
.main .bg .apply .apply-form .group-form {
    margin-bottom: 25px;
    height: 40px;
    position: relative;
}
.main .bg .apply .apply-form .group-form .warn {
    position: absolute;
    bottom: -20px;
    left: 10px;
    color: #D92B2B;
}
.main .bg .apply .apply-form select {
    width: 135px;
    height: 40px;
    padding-left: 15px;
    color: #333;
    font-size: 14px;
    float: left;
    margin-right: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/down-ang.png) no-repeat scroll right 10px center transparent;
    background-color: #BDA67D;
}
.main .bg .apply .apply-form select::-ms-expand{ display: none; }
.main .bg .apply .apply-form select.mr0 {
    margin-right: 0;
}
.main .bg .apply .apply-form input {
    width: 280px;
    height: 40px;
    background: #BDA67D;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 20px;
}
.main .bg .apply .apply-now {
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: url(../img/apply-btn.png) no-repeat;
    cursor: pointer;
    margin-left: -5px;
}