body {
    background: #f7f7f7;
}
.main .top-banner {
    width: 100%;
    height: 420px;
}
.main .top-banner {
    margin-bottom: 30px;
}
.main .top-banner .banner-img {
    position: absolute;
}
.main .top-banner .banner-img img {
    display: block;
    width: 100%;
    height: 420px;
}
.main .top-banner .form {
    float: right;
    width: 306px;
    height: 420px;
    background:rgba(236,208,207,.3);
    border-radius:2px;
    padding: 0 12px;
    position: relative;
}
.main .top-banner .form .form-box {
    width: 290px;
    height: 100%;
    background:rgba(236,208,207,.9);
    padding: 0 8px;
}
.main .top-banner .form .form-box .p1 {
    font-size: 24px;
    color: #333;
    padding-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}
.main .top-banner .form .form-box .p2 {
    text-align: center;
    color: #333;
    font-size: 16px;
    margin-bottom: 30px;
}
.main .top-banner .form .form-box .p3 {
    text-align: center;
    font-size: 14px;
    color: #D92B2B;
    margin-top: 30px;
}
.main .top-banner .form .form-box .group-form {
    margin-bottom: 25px;
    height: 40px;
    position: relative;
}
.main .top-banner .form .form-box .group-form .warn {
    position: absolute;
    bottom: -20px;
    left: 15px;
    color: #D92B2B;
    display: none;
}
.main .top-banner .form .form-box .group-form select {
    width: 135px;
    height: 40px;
    color: #333;
    font-size: 14px;
    float: left;
    margin-right: 15px;
    padding-left: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/down-ang.png) no-repeat scroll right 10px center transparent;
    background-color: #fff;
}
.main .top-banner .form .form-box .group-form select::-ms-expand{ display: none; }
.main .top-banner .form .form-box .group-form select.mr0 {
    margin-right: 0;
}
.main .top-banner .form .form-box .group-form input {
    width: 280px;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 20px;
}
.main .top-banner .form .form-box .dz-btn {
    width: 290px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #D92B2B;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.disclamer-line a {
    border-bottom: none;
    width: 72px;
}
.disclamer-line span.disclamer-text {
    margin-right: 0!important;
}
.main .ctop {
    height: 48px;
    line-height: 48px;
    border-bottom: 2px solid #D92B2B;
}
.main .ctop .title {
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-right: 113px;
}
.main .ctop .c-more {
    float: right;
    color: #666;
}
.main .ctop .c-more span {
    float: left;
    color: #666;
    font-size: 14px;
}
.main .ctop .c-more .icon-right {
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    background: url(../../index/pic/right-ang.png) no-repeat;
    position: relative;
    top: 18px;
    margin-right: 5px;
}
.main .example .emain {
    background: #fff;
    padding: 20px;
}
.main .example .emain img {
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
    border-radius: 2px;
}
.main .example .emain .part1 {
    height: 445px;
    border-bottom: 1px dashed #ccc;
}
.main .example .emain .part2 {
    height: 445px;
    margin-top: 24px;
}
.main .example .emain .part2 .pics {
    float: left;
    width: 340px;
    margin-right: 20px;
}
.main .example .emain .word {
    width: 80px;
    height: 420px;
    background: url(../img/word-bg.png) no-repeat;
    padding-left: 20px;
    margin-right: 20px;
    float: left;
}
.main .example .emain .word.mr0 {
    margin-right: 0;
}
.main .example .emain .word div {
    display: block;
    width: 30px;
    height: 100%;
    color: #A12020;
    font-size: 24px;
    float: left;
    writing-mode: vertical-rl;
    writing-mode: tb-rl;
    font-weight: bold;
    font-family: SimSun;
    line-height:40px;
    letter-spacing: 9px;
}
.main .example .emain .part2 .word div {
    letter-spacing: 6px;
}
.main .example .emain .word div.t1 {
    padding-top: 90px;
    margin-right: 6px;
}
.main .example .emain .part2 .word div.t1 {
    padding-top: 67px;
}
.main .example .emain .word div.t2 {
    padding-top: 45px;
}
.main .example .emain .pic1,.main .example .emain .pic2 {
    width: 340px;
    height: 420px;
    float: left;
    margin-right: 20px;
    position: relative;
    border-radius: 2px;
}
.main .example .emain .span {
    position: absolute;
    top: 10px;
    left: 10px;
    width:60px;
    height:26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    background:rgba(0,0,0,1);
    filter:alpha(opacity=50);
    opacity:0.5;
    border-radius:13px;
}
.main .example .emain .pic3 {
    float: left;
    width: 340px;
    height: 200px;
    position: relative;
    border-radius: 2px;
}
.main .example .emain .pic4 {
    float: left;
    width: 340px;
    height: 200px;
    margin-top: 20px;
    position: relative;
}
.main .hf-meitu {
    margin-top: 28px;
}
.main .hmain {
    background: #fff;
    height: 220px;
    padding: 20px;
    padding-right: 0;
}
.main .hmain ul li {
    float: left;
    width: 278px;
    height: 218px;
    margin-right: 20px;
    border: 1px solid#E6E6E6;
    position: relative;
}
.main .hmain ul li .img-title {
    position: absolute;
    top: 145px;
    width:280px;
    width: 100%;
    height:30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background:rgba(0,0,0,.7);
    filter:alpha(opacity=70);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main .hmain ul li img {
    display: block;
    width: 100%;
    height: 175px;
    background: #ccc;
}
.main .hmain ul li .biaoqian {
    float: left;
    line-height: 45px;
    padding-left: 10px;
}
.main .hmain ul li .h-num {
    float: right;
    margin-right: 10px;
    line-height: 45px;
}
.main .hmain ul li .h-num .icon-eye {
    display: block;
    width: 25px;
    height: 25px;
    background: url('../img/icon-eye.png') no-repeat;
    float: left;
    margin-top: 10px;
}
.main .zx-company {
    margin-top: 32px;
}
.main .zx-company .zmain {
    background: #fff;
    height: 175px;
    padding: 20px;
    padding-right: 0;
}
.main .zx-company .zmain ul li {
    width: 218px;
    height: 174px;
    border: 1px solid #e6e6e6;
    border-radius:2px;
    float: left;
    margin-right: 20px;
}
.main .zx-company .zmain ul li:hover {
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.main .zx-company .zmain ul li .img {
    width: 100%;
    height: 80px;
    padding: 10px 0;
}
.main .zx-company .zmain ul li .img img {
    display: block;
    width: 160px;
    height: 80px;
    margin: 0 auto;
    background: #ccc;
}
.main .zx-company .zmain ul li .company-name {
    text-align: center;
    font-size: 16px;
    color: #333;
    display: block;
    padding: 0 10px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.main .zx-company .zmain ul li .other-msg {
    padding-left: 10px;
    margin-top: 14px;
}
.main .zx-company .zmain ul li .other-msg .anli-num {
    float: left;
    color: #999;
    margin-right: 33px;
}
.main .zx-company .zmain ul li .other-msg .comment-num {
    float: left;
    color: #999;
}
.main .zx-company .zmain ul li .other-msg span.red {
    color: #D92B2B;
    margin-left: 5px;
}
.small-banner {
    width: 100%;
    height: 110px;
    margin: 30px 0;
}
.small-banner img {
    display: block;
    width: 100%;
    height: 110px;
}
.main .box {
    margin-bottom: 180px;
    margin-top: 30px;
}
.main .box .box-ul>li {
    width:288px;
    height:408px;
    background: #fff;
    border:1px solid #E6E6E6;
    border-radius:2px 0px 0px 2px;
    float: left;
    margin-right: 20px;
}
.main .box .box-ul>li:hover {
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);    
}
.main .box .box-ul>li.mr0 {
    margin-right: 0;
}
.main .box .box-ul li .list-top {
    width: 100%;
    height: 120px;
    background: #F7F7F7;
    border-bottom: 1px solid #e6e6e6;
}
.main .box .box-ul li .list-top img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0px auto;
    padding-top: 11px;
}
.main .box .box-ul li .list-top .gt {
    text-align: center;
    font-size: 24px;
    color: #333;
}
.main .box .box-ul li .g-list ul {
    padding: 10px;
    padding-top: 20px;
}
.main .box .box-ul li .g-list ul li {
    margin-bottom: 10px;
    height: 23px;
    line-height: 23px;
}
.main .box .box-ul li .g-list ul.play-list {
    padding-top: 10px;
}
.main .box .box-ul li .g-list ul.play-list li {
    height: 80px;
}
.main .box .box-ul li .g-list ul li .w60 {
    display: block;
    float: left;
    width: 60px;
    color: #999;
}
.main .box .box-ul li .g-list ul li .line {
    float: left;
    color: #999;
}
.main .box .box-ul li .g-list ul li .g-tit {
    float: left;
    width: 190px;
    height: 18px;
    padding-left: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main .box .box-ul li .g-list ul li .yuan {
    display: block;
    width: 5px;
    height: 5px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
    position: relative;
    top: 7px;
}
.main .box .box-ul li .g-list ul li .q-title {
    float: left;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main .box .box-ul li .g-list ul li .play-img {
    width: 120px;
    height: 80px;
    border-radius: 2px;
    float: left;
    position: relative;
}
.main .box .box-ul li .g-list ul li .play-img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: #ccc;
}
.main .box .box-ul li .g-list ul li .play-img .icon-play {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 45px;
    background: url(../img/icon-play.png) no-repeat;
}
.main .box .box-ul li .g-list ul li .p-info {
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    width: 138px;
}
.main .box .box-ul li .g-list ul li .p-info .p-title {
    font-size: 14px;
    color: #333;
    height: 46px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main .box .box-ul li .g-list ul li .p-info .p-from {
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main .box .box-ul li .g-list ul li .p-info .p-title:hover {
    color: #D92B2B;
}
.bx-wrapper .bx-controls-direction a {
    display: none;
}
.newsbanner {
    position: relative;
}
.bx-wrapper {
    height: 110px;
}
.bx-wrapper .bx-pager {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 0;
}
.bx-wrapper .bx-viewport {
    height: 110px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    background: transparent;
}