.master{
    width:100%;
    background:#F7E9E4;
    padding-bottom: 18px;
}
.master .master-banner{
    width:100%;
    height: 610px;
    position: relative;
}
.master-banner img{
    position: absolute;
    top:0;
    z-index: 9;
    width:100%;
}
.master-left{
    position: absolute;
    left: 0;
    top:1000px;
}
.master-right{
    position: absolute;
    right: 0;
    top:585px;
}
.master-zs{
    width:157px;
    height: 55px;
    margin:38px auto 0;
}
.master-zs img{
    width:100%;
}
.master-des p{
    color: #333;
    font-size: 18px;
    text-align: center;
    margin-top:20px;
}
.master-gaizao{
    width:465px;
    height: 149px;
    margin:56px auto 48px;
}
.master-gaizao img{
    width:100%;
}
.gaizao-liucheng{
    width:870px;
    margin: 0 auto;
    position: relative;
}
.gaizao-circle{
    width:611px;
    height: 587px;
    margin:0 auto;
    position: relative;
}
.gaizao-circle .circle2{
    position: absolute;
    top: 13px;
    left: 14px;
}
.liucheng-bg{
    position: absolute;
    top:55px;
    left: 0;
    right: 0;
    margin:auto;
}
.item-circle{
    width:45px;
    height: 45px;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}
.item-circle1{
    top: -3px;
    left: 400px;
}
.item-circle2{
    top: 209px;
    left: 567px;
}
.item-circle3{
    top: 473px;
    left: 475px;
}
.item-circle4{
    top: 498px;
    left: 123px;
}
.item-circle5{
    top: 229px;
    left: -4px;
}
.item-circle6{
    top: -5px;
    left: 162px;
}
.red-circle{
    display: none;
}
.switch-circle .white-circle{
    display: none;
}
.switch-circle .red-circle{
    display: block;
}
.cicle-img{
    position: absolute;
    display: none;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
@keyframes all {
    from{height: 0}
    to{height: 100%;}
}
.cicle-img1{
    top: 11px;
    right: 22px;
}
.cicle-img2{
    top: 246px;
    right: 13px;
}
.cicle-img3{
    top: 503px;
    right: 121px;
}
.cicle-img4{
    top: 268px;
    right: 473px;
}
.cicle-img5{
    top: 25px;
    right: 439px;
}
.circle-des{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.circle-des1{
    top: -30px;
    left: 587px;
}
.circle-des2{
    top: 211px;
    left: 750px;
}
.circle-des3{
    top: 480px;
    left: 674px;
}
.circle-des4{
    top: 515px;
    left: 110px;
}
.circle-des5{
    top: 234px;
    left: -3px;
}
.circle-des6{
    top: -26px;
    left: 151px;
}
.gaizao-liucheng .des-active{
    color: #CE2929;
}
.liucheng_dec{
    width:353px;
    height:87px;
    position: absolute;
    bottom:130px;
    right: 0;
    left: 0;
    margin: auto;
    font-size:14px;
    font-weight:400;
    color:#E0687C;
    line-height:24px;
}
.liucheng_dec > p{
    display: none;
}
.liucheng_dec .liucheng_dec_1{
    display: block;
}
.duibi-img{
    width:355px;
    height: 119px;
    margin:85px auto 68px;
}
.duibi-img img{
    width:100%;
}
/*改造对比*/
.master-duibi{
    width:1203px;
    height: 628px;
    margin:0 auto;
    position: relative;
}
.bian-btn{
    display: block;
    position: absolute;
    top:436px;
    left: 402px;
    z-index: 9;
    -webkit-animation: circle 2s linear infinite 1s;
    -moz-animation: circle 2s linear infinite 1s;
    -ms-animation: circle 2s linear infinite 1s;
    -o-animation: circle 2s linear infinite 1s;
    animation: circle 2s linear infinite 1s;
}
@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30%,100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.duibi-btn{
    width:1220px;
    height: 120px;
    position: absolute;
    z-index:99999;
}
.master-duibi .duibi-btn a{
    display: block;
    width:145px;
    height: 70px;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    background:#fff;
    opacity:0;
    filter:alpha(opacity=0);
}
.master-duibi .keting-foucs{
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    top: 20px;
    right: 539px;
}
.master-duibi .woshi-foucs{
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    top: 3px;
    right: 369px;
}
.master-duibi .chufang-foucs{
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    top: 13px;
    right: 191px;
}
.master-duibi .wsj-foucs{
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    top: 34px;
    right: 20px;
}
.swiper-container{
    height: 632px;
    overflow: hidden;
}
.slide-left{
    position: relative;
    width:444px;
    min-height: 632px;
    margin-right: 40px;
    float: left;
}
.design-btn{
    width:360px;
    height: 157px;
    background: url("/assets/home/decoration/img/duibi_bg.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top:40px;
    left: 84px;
    padding-top:15px;
    text-align: center;
    z-index: 99999;
    cursor: pointer;
}
.duibi-small{
    width:444px;
    height: 337px;
    position: absolute;
    bottom: 13px;
}
.slide-right{
    width:719px;
    float: right;
}
.master-design{
    width:429px;
    height: 119px;
    margin:0 auto;
    margin-top: 75px;
}
.master-design img{
    width:100%;
}
.design-content{
    width:1216px;
    height: 654px;
    margin:0 auto;
    background: url("/assets/home/decoration/img/design_bg.png");
    background-size: 100% 100%;
    padding-left:139px;
    padding-right: 103px;
    padding-top:85px;
}
.design-content .swiper-slide ul{
    display: block;
    width: 100%;
}
.design-content .swiper-slide ul li{
    display: inline-block;
    width:373px;
    height: 528px;
    background: #fff;
    float: left;
    margin-right: 33px;
    border:5px solid #EBBEAA;
}
.design-content .swiper-slide ul li.active{
    border:5px solid #F6B37F;
}
.design-content .swiper-slide ul li:first-child+li+li{
    margin-right: 0;
}
.design-logo{
    display: block;
    width:120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin:31px auto 13px;
}
.design-logo img{
    width:100%;
}
.design-name{
    height: 26px;
    line-height: 26px;
    font-size: 24px;
    color: #333333;
    text-align: center;
    padding:0 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.design-name a{
    display: inline-block;
    height: 26px;
    line-height: 26px;
}
.design-name .guanzhu{
    display: inline-block;
    height: 100%;
    background: #FFC85D;
    font-size: 12px;
    line-height: 24px;
    padding:0 8px;
    position: relative;
    top:-4px;
    cursor: pointer;
}
.work-time{
    text-align: center;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    color: #999999;
    margin:13px 0;
}
.yuyue-btn{
    width:200px;
    height: 40px;
    background: #D92B2B;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin:0 auto;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    margin-bottom: 24px;
}
.design-anli{
    display: block;
    width:340px;
    height: 190px;
    margin:0 auto;
    position: relative;
}
.design-anli img{
    width:100%;
    height: 100%;
}
.anli-detail{
    height: 30px;
    width:100%;
    position: absolute;
    bottom: 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
}
.anli-detail span{
    display: inline-block;
    line-height: 30px;
}
.anli-detail span:first-child{
    margin-left: 11px;
    max-width:180px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.anli-detail span:first-child+span{
    position: relative;
    top:-10px;
}
.anli-detail span:first-child+span+span{
    float: right;
    margin-right: 11px;
}
.design-content .swiper-slide ul li .more-anli{
    display: inline-block;
    float: right;
    margin-top:14px;
    margin-right:10px;
}
/*分页样式*/
.pagination{
    text-align: center!important;
    margin-top:-45px!important;
    z-index: 9999;
    position: absolute;
}
.swiper-pagination-bullet{
    width:22px!important;
    height:22px!important;
    background:#fff!important;
    opacity: 1!important;
    border-radius:50%!important;
    margin-right: 25px!important;
}
.pagination .swiper-pagination-bullet-active{
    background:#DB2C2C!important;
}
.more-design{
    display: block;
    width:247px;
    height: 111px;
    margin:0 auto;
    margin-bottom: 18px;
}
.master-company{
    width:463px;
    height: 119px;
    margin:0 auto;
}
.company-content{
    width:1180px;
    height: 228px;
    background: url("/assets/home/decoration/img/company_bg.png");
    background-size: 100% 100%;
    margin:0 auto;
    padding-left: 144px;
    padding-right: 96px;
    padding-top:45px;
}
.company-content ul li{
    display: inline-block;
    width:213px;
    height: 176px;
    margin-right: 10px;
    border:5px solid #E7D1AA;
    background: #fff;
}
.company-content ul li.active{
    border:5px solid #F6B37F;
}
.company-content .company-logo{
    width:105px;
    height: 53px;
    margin:25px auto;
    overflow: hidden;
}
.company-content .company-logo img{
    width:100%;
    height: 100%;
}
.company-detail{
    text-align: center;
    font-size: 12px;
}
.more-company{
    display: block;
    width:247px;
    height: 111px;
    margin:0 auto;
}
.anli-num{
    color:#D92B2B;
    margin-right:20px;
}
.comment-num{
    color:#D92B2B;
}
.company-name{
    font-size: 16px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    color: #333;
    margin-bottom: 12px;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
