.zxbanner{
    height: 400px!important;
    background-size: 100%;
}
.wrapper{
    width: 1600px!important;
    background-size: 810px 700px!important;
}
.wrap-box .eng{
    padding-top: 100px!important;
    font-size: 40px!important;
}
.wrap-box .tips{
    font-size: 50px!important;
}
.tourl{
    top:174px!important;
}
.recommend{
    margin-top: 24px;
}
.recommend .right a{
    width: 167px!important;
    height: 130px!important;
    margin-top: 21px!important;
}
.recommend .right a:first-child{
    margin-top: 0!important;
}
.recommend .left{
    width:633px!important;
    height:433px!important;
    border-radius:2px !important;
}