.speed{
    background: #FFF4E6;
}
.speed-banner{
    position: relative;
}
.speed-banner img{
    width:100%;
}
.speed-banner1{
    position: absolute;
}
.speed-banner .speed-banner1{
    position: absolute;
    width:303px;
    height: 519px;
    top:510px;
    left: 0;
}
.speed-banner .speed-banner2{
    position: absolute;
    width:265px;
    height: 390px;
    top:874px;
    right: 0;
}
.speed-banner .speed-banner3{
    position: absolute;
    width:280px;
    height: 397px;
    top:1640px;
    left: 0;
}
.speed-banner .speed-banner4{
    position: absolute;
    width:312px;
    height: 596px;
    top:2340px;
    right: 0;
}
.speed-order{
    width:1180px;
    height: 420px;
    margin:0 auto;
    margin-top:-232px;
    background:#fff;
    border-radius:30px;
    position: relative;
    z-index:9;
    padding:40px 0;
}
.order-left{
    width:699px;
    border-right: 1px solid #E5E5E5;
    height: 100%;
    float: left;
}
.order-left .orderlist{
    height: 210px;
    width:165px;
    float: left;
    margin-left: 55px;
}
.orderlist-img{
    width:100px;
    height: 100px;
    margin:0 auto;
    margin-top:15px;
    margin-bottom: 10px;
}
.orderlist-img img{
    width:100%;
}
.orderlist p{
    line-height: 28px;
}
.orderlist-p1{
    font-size: 16px;
    color: #C8A56A;
    text-align: center;
}
.orderlist-p2{
    font-size: 16px;
    color: #333;
    text-align: center;
}
.orderlist-p3{
    font-size: 14px;
    color: #999;
    text-align: center;
}
.order-right{
    width:370px;
    height: 100%;
    float: left;
    padding:0 55px;
}
.order-right-tit{
    font-size:24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    position: relative;
    height: 24px;
    line-height: 24px;
    margin:20px 0 12px
}
.order-right-tit span{
    display: block;
    width:40px;
    height: 0;
    border:1px solid #333;
    position: absolute;
}
.order-right-tit .right-tit-s1{
    left: 7px;
    top:11px;
}
.order-right-tit .right-tit-s2{
    right: 7px;
    top:11px;
}
.right-stit{
    font-size:16px;
    color: #333;
    text-align: center;
    line-height: 19px;
    margin-bottom: 25px;
}
.right-stit .red{
    color: red;
}
.order-right-list{
    height: 50px;
    position: relative;
    font-size:16px;
}
.order-right-list select{
    width:177px;
    height: 50px;
    background:#F7F7F7;
    border: none;
    outline: none;
    padding:15px 0 15px 15px !important;
}
.order-right-list input{
    line-height: 50px!important;
}
.order-right-list .order-cs{
    margin-right: 10px;
}
.order-right-list .order-mianji{
    width:355px;
    height: 100%;
    border: none;
    outline: none;
    background:#F7F7F7;
    padding-left:15px;
}
.mianji-icon{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
}
.order-tel{
    width:355px;
    height: 100%;
    border: none;
    outline: none;
    background:#F7F7F7;
    padding-left:15px;
}
.errorArea-tit,.errorMianji-tit,.errorTele-tit{
    height: 15px;
    line-height: 15px;
    color: red;
    padding-left: 15px;
}
.errorTele-tit{
    margin-bottom: 15px;
}
.ljyy-btn{
    width:388px;
    height: 78px;
    background: url("/assets/home/decoration/img/ljyy-btn.png");
    margin:0 auto;
    text-align: center;
    line-height: 78px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top:6px;
}
.bottom-bg{
    width:1325px;
    height: 180px;
    background: url("/assets/home/decoration/img/bottom-bg.png");
    background-size: 100% 100%;
    margin:0 auto;
    position: relative;
    top:-13px;
}
.speed-scene{
    width:940px;
    height: 136px;
    margin:0 auto;
    background: url("/assets/home/decoration/img/speed-scene.png");
    background-size: 100% 100%;
}
.scene-tit{
    font-size:36px;
    color: #FFF4E6;
    text-align: center;
    line-height: 65px;
    font-weight: bold;
}
.scene-des{
    font-size: 24px;
    color: #FFF4E6;
    text-align: center;
}
.scene-box{
    width:1290px;
    margin:0 auto;
    margin-bottom: 75px;
}
.scene-list{
    display: block;
    width:258px;
    height: 288px;
    float: left;
}
.scene-list .scene-p1{
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-top:85px;
    display: none;
}
.scene-list .scene-p2{
    font-size: 24px;
    color: #fff;
    text-align: center;
    display: none;
}
.scene-list1{
    background: url("/assets/home/decoration/img/xinfang.png") no-repeat center;
}
.scene-list2{
    background: url("/assets/home/decoration/img/hunfang.png") no-repeat center;
}
.scene-list3{
    background: url("/assets/home/decoration/img/zufang.png") no-repeat center;
}
.scene-list4{
    background: url("/assets/home/decoration/img/dianpu.png") no-repeat center;
}
.scene-list5{
    background: url("/assets/home/decoration/img/more.png") no-repeat center;
}
.scene-list:hover .scene-p1{
    display: block;
}
.scene-list:hover .scene-p2{
    display: block;
}
.scene-list1:hover{
    background: url("/assets/home/decoration/img/xinfang-cover.png");
    background-size: 100% 100%;
}
.scene-list2:hover{
    background: url("/assets/home/decoration/img/hunfang-cover.png");
    background-size: 100% 100%;
}
.scene-list3:hover{
    background: url("/assets/home/decoration/img/zufang-cover.png");
    background-size: 100% 100%;
}
.scene-list4:hover{
    background: url("/assets/home/decoration/img/dianpu-cover.png");
    background-size: 100% 100%;
}
.scene-list5:hover{
    background: url("/assets/home/decoration/img/more-cover.png");
    background-size: 100% 100%;
}
.speed-home{
    width:1220px;
    height: 1162px;
    border:6px solid #E3B481;
    margin:0 auto;
    background: #fff;
    position: relative;
    z-index: 2;
}
.home-tit{
    width:560px;
    height: 30px;
    font-size: 36px;
    line-height: 24px;
    text-align: center;
    margin:0 auto;
    margin-top:60px;
    color:#333;
    font-weight: bold;
    border-left: 6px solid #E3B481;
    border-right: 6px solid #E3B481;
}
.home-des{
    color:#999;
    text-align: center;
    font-size:24px;
    margin-top:15px;
    height: 24px;
    line-height: 24px;
}
.home-btn{
    display: block;
    width:320px;
    height: 64px;
    background: url("/assets/home/decoration/img/ljyy-btn.png") center;
    background-size: 100% 100%;
    margin:0 auto;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top:20px;
    margin-bottom: 40px;
}
.home-btn:hover{
    color: #fff;
}
.homelist-box{
    overflow: hidden;
}
.home-list{
    display: block;
    width:278px;
    height: 255px;
    border:1px solid #E6E6E6;
    border-radius:2px;
    margin-left: 20px;
    float: left;
    margin-bottom: 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.home-list:hover{
    background: rgba(255,255,255,1);
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
}
.home-list img{
    width:100%;
    height: 158px;
    vertical-align: middle;
}
.homelist-detail{
    height:67px;
    padding:15px 10px;
}
.company-address{
    position: relative;
    height: 16px;
    line-height: 16px;
}
.company-address .s1{
    font-size: 16px;
    height: 18px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    max-width: 170px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.company-address a:hover .s1{
    color:#D92B2B ;
}
.company-address .s2{
    font-size: 14px;
    color: #666;
    position: absolute;
    right: 0;
}
.company-name{
    color: #666;
    font-size:12px;
    margin:12px 0;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.company-style{
    position: relative;
    height: 12px;
    line-height: 12px;
}
.company-style .s3{
    color:#999;
    font-size: 12px;
}
.company-style .s4{
    position: absolute;
    right: 0;
    color: #DB2C2C;
    font-size:13px;
}
.speed-more{
    display: block;
    width:160px;
    height:40px;
    border:1px solid #ccc;
    border-radius:20px;
    font-size:18px;
    font-weight:400;
    color:#333;
    line-height:40px;
    text-align: center;
    margin:0 auto;
    margin-top:13px;
}

