.tips{
    background:#43A0DA;
    padding-bottom: 136px;
}
.banner-lc{
    width:786px;
    height: 68px;
    margin:0 auto;
    padding-top:107px;
    margin-bottom: 45px;
}
.lc-jiantou{
    width:113px;
    height: 83px;
    margin:0 auto;
    margin-bottom: 14px;
}
.lc-jiantou img{
    width:100%;
    position: relative;
}
.tips-b{
    width:78%;
    height: 16%;
    margin:0 auto;
}
.tips-b img{
    width:100%;
}
.tips-cars{
    height: 100px;
    margin-top: -12px;
    position: relative;
    overflow: hidden;
    background: url("/assets/home/decoration/img/road.png");
}
.carslist-box{
    width:1276px;
    height: 88px;
    padding-top:6px;
    position: relative;
    left: 1920px;
}
.cars-list{
    width: 154px;
    height: 88px;
    margin-right: 33px;
    float: left;
    position: relative;
    cursor: pointer;
}
.cars-list .img{
    animation: run 2s infinite linear;
}
.cars-list span{
    position: relative;
    top: 16px;
    left: 68px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.cars-list1{
    background:url("/assets/home/decoration/img/car1.png") no-repeat;
}
.lunzi1{
    position: absolute;
    bottom: 2px;
    left: 15px;
}
.lunzi2{
    position: absolute;
    bottom: 2px;
    right: 14px;
}
.cars-jiantou{
    width:23px;
    height: 12px;
    position: absolute;
    bottom: -6px;
    left: 82px;
    display: none;
}
.cars-list2{
    background:url("/assets/home/decoration/img/car2.png") no-repeat;
}
@keyframes run{
    0%{
        transform:rotate(360deg)
    }
    100%{
        transform:rotate(0deg)
    }
}
.tips-fenlei-des{
    height: 100px;
    background: #308B3E;
    position: relative;
}
.tips-trees{
    width:51px;
    height: 68px;
    position: absolute;
    top:-23px;
    left: 11%;
}
.tips-mountains{
    width:144px;
    height: 66px;
    position: absolute;
    top:0;
    left: 82%;
}
.tips-des{
    width:61%;
    margin:0 auto;
    height: 100%;
    padding-top:10px;
    font-size:16px;
    color: #fff;
    display: none;
}
.tips-bg{
    height: 16px;
    background: #2A6132;
}
.tipzx-style{
    height: 277px;
    margin-top:38px;
    margin-bottom: 50px;
    background: url("/assets/home/decoration/img/zx-style.png");
}
.style-list{
    padding: 130px 80px 0 80px;
}
.style-list ul li{
    display: inline-block;
    width:219px;
    height: 98px;
    border-radius:0px 50px 50px 0px;
    border: 1px dashed #BCA77C;
    border-left: none;
    position: relative;
}
.style-list ul li div{
    font-size:18px;
    text-align: center;
    color: #333;
    position: absolute;
    left: 70px;
    top:23px;
}
.style-list ul li p{
    position: absolute;
    width:100px;
    height: 100px;
    color:#fff;
    font-weight: bold;
    top:-1px;
    left: -50px;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
}
.style-list ul li p.quanbao{
    background: #BCA77C;
}
.style-list ul li p.banbao1{
    background: #8DC989;
}
.style-list ul li p.banbao2{
    background: #F54A5E;
}
.zx-tips{
    width:582px;
    height: 197px;
    margin:0 auto;
    background: url("/assets/home/decoration/img/zx-tips.png");
    background-size: 100% 100%;
}
.tips-liucheng{
    width:1220px;
    height: 524px;
    margin:0 auto;
}
.liucheng-list{
    width:423px;
    float: left;
    margin-right: 17px;
    height: 100%;
}
.liucheng-list1{
    background: url("/assets/home/decoration/img/liuchengbg1.png");
}
.tips-zhunbei{
    position: relative;
}
.liucheng-list .logo{
    width:69px;
    height: 69px;
    position: absolute;
    border-radius: 50%;
    top:22px;
    left: 40px;
}
.zhunbei-logo{
    background: url("/assets/home/decoration/img/icon1.png") no-repeat center;
}
.zhunbei-word{
    margin-left: 130px;
    position: relative;
    top: 20px;
}
.liucheng-list p{
    font-size: 24px;
    color: #fff;
}
.liucheng-list p.zhunbei-tit{
    font-weight: bold;
}
.tips-knowledge{
    position: relative;
}
.knowledge-logo{
    background: url("/assets/home/decoration/img/icon2.png") no-repeat center;
}
.listbox{
    margin-top:65px;
    padding-left: 30px;
}
.listbox ul li{
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    color: #333333;
    width:320px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.listbox ul li span{
    display: inline-block;
    width:5px;
    height: 5px;
    border-radius: 50%;
    background: #999999;
    margin-right: 5px;
    position: relative;
    top: -3px;
}
.more-zx{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #FF8037;
    background: url("/assets/home/decoration/img/more-jiantou.png") no-repeat;
    background-position-x: 290px;
    background-position-y: 5px;
    margin-left: -50px;
    margin-top:20px;
}
.more-zx:hover{
    color: #FF8037;
}
.liucheng-list2{
    background: url("/assets/home/decoration/img/liuchengbg2.png");
}
#more-saomang{
    background: url("/assets/home/decoration/img/more-jiantou1.png") no-repeat;
    color: #F7746F;
    background-position-x: 290px;
    background-position-y: 5px;
}
.tips-order{
    width:330px;
    height: 100%;
    margin-left: 10px;
    float: left;
    background: url("/assets/home/decoration/img/orderbg.png");
    background-size: 100% 100%;
}
.order-tips{
    width:242px;
    height: 40px;
    line-height: 40px;
    margin:0 auto;
    margin-top:145px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #573DA8;
    border-radius: 20px;
}
.tips-city{
    text-align: center;
}
.tips-city select{
    width:113px;
    height: 40px;
    border: none;
    outline: none;
    padding:10px 0 10px 10px; !important;
}
.tips-city select.tips-cs{
    margin-right: 10px;
    margin-left: 15px;
}
.tips-tele input{
    width: 235px;
    height: 40px;
    border: none;
    outline: none;
    display: block;
    margin-left: 52px;
    padding-left: 5px;
    line-height: 40px;
}
.errorArea-tit,.errorTel-tit{
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: red;
    padding-left:52px;
}
.tips-btn{
    width:162px;
    height:40px;
    background:#FFB86C;
    border-radius:20px;
    font-size:14px;
    font-weight:400;
    color:#fff;
    line-height:40px;
    margin:0 auto;
    margin-top:20px;
    text-align: center;
    cursor: pointer;
}
.tips-add{
    display: block;
    height: 110px;
    margin-top:100px;
    margin-bottom: 80px;
}
.tips-add img{
    width:100%;
    height: 100%;
}
.tips-xj{
    width:604px;
    height: 89px;
    margin:0 auto;
    margin-bottom: 20px;
}
.tips-xj img{
    width:100%;
}
.keng-logo{
    background: url("/assets/home/decoration/img/icon3.png") no-repeat center;
}
.maoni-logo{
    background: url("/assets/home/decoration/img/icon4.png") no-repeat center;
}
.liucheng-list3{
    background: url("/assets/home/decoration/img/liuchengbg3.png");
}
.liucheng-list4{
    background: url("/assets/home/decoration/img/liuchengbg4.png");
}
#more-keng{
    background: url("/assets/home/decoration/img/more-jiantou3.png") no-repeat;
    color: #D77792;
    background-position-x: 290px;
    background-position-y: 5px;
}
#more-shipin{
    background: url("/assets/home/decoration/img/more-jiantou4.png") no-repeat;
    color: #E8BB4B;
    background-position-x: 290px;
    background-position-y: 5px;
}
.tips-ewm{
    width:330px;
    height: 100%;
    margin-left: 10px;
    float: left;
    background: url("/assets/home/decoration/img/ewm-bg.png");
    background-size: 100% 100%;
}
.tips-ewm-tit{
    width:225px;
    height: 74px;
    margin:0 auto;
    margin-top:50px;
}
.tips-ewm-tit p{
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    color:#3E3A84;
    text-align: center;
    font-weight: bold;
}
.tips-ewm-tit p:first-child{
    margin-bottom: 14px;
}
.tips-ewm-tit p:first-child+p{
    text-align: right;
}
.qz-tips-ewm{
    width:84px;
    height: 84px;
    margin-top:48px;
    margin-left: 182px;
}
.qz-tips-ewm img{
    width:100%;
}
.tel-service{
    width:110px;
    height: 36px;
    margin-top:15px;
    margin-top:15px;
    margin-left: 163px;
    background:#fff;
    font-size:14px;
    color: #333;
    line-height: 36px;
    padding-left: 10px;
}
.tel-service i{
    font-size:18px;
    margin-right: 7px;
}
