.big-banner{
  height:779px;
  background:url("../images/big-banner.jpg") center center;
}
.ban-con{
  width: 1200px;
  height: 779px;
  margin:0 auto;
  position: relative;
}
.ban-con .logo{
  position: absolute;
  top:5px;
  left: 12px;
  width: 126px;
  height: 45px;
  background: url("../images/cdqzlogo.png") no-repeat center;
  background-size: 100% 100%;
}
.yuyue{
  width: 1164px;
  height: 373px;
  position: relative;
  overflow: hidden;
  margin:0 auto;
  margin-top:-200px;
  background: url("../images/cdqzwf.png") no-repeat center;
  background-size: 100% 100%;
}
.y-title{
  width: 182px;
  height: 30px;
  margin: 60px auto 30px;
  background: url("../images/cdqzwd.png") no-repeat center;
  background-size: 100% 100%;
}
.y-con{
  width: 100%;
  overflow: hidden;
  padding: 0 64px;
  line-height: 36px;
  font-size:18px;
  color:rgba(72,88,104,1);
}
.y-con p text{
  font-weight:bold;
}
.yuyue .y-img{
  width: 160px;
  height: 170px;
  position: absolute;
  top:80px;
  right: 103px;
  background: url("../images/cdqzwb.png") no-repeat;
  background-size: 94px 130px;
  background-position: center 0;
}
.yuyue .y-img p{
  margin-top:140px;
  margin-left: 2px;
  width:156px;
  height:18px;
  font-size:18px;
  font-weight:bold;
  color:rgba(47,63,133,1);
  line-height:36px;
}
.yucon{
  width: 100%;
  height:534px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(243,243,243,1);
}
.yucon .yu-item{
  height: 100%;
  width: 388px;
}
.yu-item .item-title{
  width:233px;
  margin-top:59px;
  margin-bottom: 32px;
  font-size:28px;
  font-weight:bold;
  color:rgba(47,63,133,1);
  line-height:36px;
}
.yu-item .item-con{
  font-size:18px;
  font-weight:400;
  color:rgba(51,51,51,1);
  line-height:38px;
  width: 362px;
}
.yucon .item-wen{

}
.yucon .item-one{
  background: url("../images/cdqzwe.png") no-repeat;
  background-size: 371px 339px;
  background-position: 20px 148px;
}
.yucon .item-two{
  background: url("../images/cdqzwp.png") no-repeat;
  background-size: 333px 391px;
  background-position: 20px 46px;
}
.yutu{
  width: 1200px;
  margin:0 auto;
}
.yutu .tu-title{
  width:233px;
  height: 120px;
  padding-left: 30px;
  line-height: 120px;
  font-size:28px;
  font-weight:bold;
  color:rgba(47,63,133,1);
}
.tu-img{
  width: 100%;
  height: 340px;
  margin-bottom:46px;
 display: flex;
  justify-content: space-between;
  align-items: center;
}
.tu-img .img-left{
  width: 590px;
  height: 340px;
  background: url("../images/cdqzwh.png") no-repeat center;
  background-size: 100% 100%;
}
.tu-img .img-right{
  width: 590px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.tu-img .img-right .r-item{
  width: 285px;
  height: 160px;
  background: url("../images/cdqzwx.png") no-repeat center;
  background-size: 100% 100%;
}
.tu-img .img-right .item1{
  background: url("../images/cdqzwy.png") no-repeat center;
}
.tu-img .img-right .item2{
  background: url("../images/cdqzwo.png") no-repeat center;
}
.tu-img .img-right .item3{
  background: url("../images/cdqzwz.png") no-repeat center;
}
.tu-img2{
  height: 262px;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tu-img2 .imgt-one{
  width: 675px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tu-img2 .imgt-one .one-top {
  width: 483px;
  height: 137px;
  margin-top:40px;
  background: url("../images/cdqzwa.png") no-repeat center;
  background-size: 100% 100%;
}
.tu-img2 .imgt-one .one-bottom{
  width: 675px;
  height: 106px;
  background: url("../images/cdqzwfg.png") no-repeat center;
  background-size: 100% 100%;
}
.tu-img2 .imgt-two{
  width: 436px;
  height: 261px;
  background: url("../images/cdqzwq.png") no-repeat center;
  background-size: 100% 100%;
}

.order-box { width: 255px; height: 370px; border-radius: 8px; position: absolute; top: 40px; right: 20px; background: #fff; z-index: 3; text-align: center; font-family: "Microsoft Yahei"; padding: 15px 40px 0 40px;box-shadow: 0 0 6px 0 rgba(0,0,0,.2)}
.order-box .h1 { font-size: 20px; font-weight: 100;display: block;font-weight: bold;margin-top: 7px; color: #23346A}
.order-box .h2 { font-size: 14px; font-weight: 100; margin: 15px 0;display: block; }
.order-box .edit-text { width: 100%; height: 35px; box-sizing: border-box; border: 1px solid #dcd8d9; padding-left: 20px; display: block; }
.order-box .edit-city,.order-box .edit-quyu { width: 49%; height: 35px;border: 1px solid #dcd8d9; }
.order-box button { width: 100%; height: 35px;box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5);background: #ff5353; color: #fff; font-size: 14px; font-family: "Microsoft Yahei"; padding: 0; border: 0; cursor: pointer;transition: all 0.5s ease;}
.order-box button:hover{box-shadow: 0 3px 5px 0 rgba(255,83,83,0.5)}
.order-box .order-box-tip{font-size: 14px;}
.order-box .order-box-tip span{float: left;color: #333;}
.order-box .order-box-tip span i{color: #ff5353;}
.order-box .order-box-tip a{color: #ff5353;float: right}
.home-slider {max-width: 1920px; width: 100%; overflow: hidden; position: absolute; z-index: 1;background-position:center; background-size:cover}
.validate .box-line{margin-top:20px; margin-bottom: 15px;}
.slideWrap .dot-wrap{transition: all 0.5s ease;}
.slideWrap .dot-wrap:hover{transform: scale(1.4);}
.big-tan{
  width:360px;
  height:120px;
  display: none;
  background:rgba(255,255,255,1);
  border-radius:16px;
  position: absolute;
  z-index:1000;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin:auto
}
.tan-sit{
  margin-left: 320px;
  margin-top:20px;
  width: 12px;
  height: 12px;
  background: url("../images/cdcuo.png") no-repeat;
  background-size: 100% 100%;
}
.big-tan .tanl{
  width: 200px;
  padding-left: 34px;
  margin:0px auto;
  margin-bottom: 6px;
  font-size:24px;
  font-weight:400;
  color:rgba(255,83,83,1);
  line-height:36px;
  background: url("../images/cddui.png") no-repeat;
  background-size: 30px 30px;
}
.big-tan .tanq{
  width: 200px;
  height:12px;
  margin:0 auto;
  font-size:14px;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:36px;
}
.windowbg{ display: none; background:#000;background:rgba(0,0,0,.7);filter:alpha(opacity=50)\9; position: fixed; top:0; bottom:0; left:0; right:0; z-index:999}