<extend name="Main:baseTemplate"/>
<block name="title"><title>兑换统计</title></block>
<block name="style">
    <link rel="stylesheet" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" href="/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/home/user/css/usermanagement.css?v={:C('STATIC_VERSION')}">
    <style>
        .form-select{ height: 34px;border-color: #d2d6de;}
        .jifen-left{ margin-left: -5%;}
        .downUp{width: 20% !important;height: 35px;padding:0 10px;border-color: #d2d6de;}
    </style>
</block>
<block name="content">
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title"><a href="/Goods/index">礼品管理</a> > 兑换统计</h3>
                    </div>
                    <div class="box-body">
                        <form id="searchForm" action="/goods/exchange/" method="get">
                            <div class="row user-condition">
                                <div class="col-xs-2">
                                    <label>礼品：</label>
                                    <input type="text" name="name" value="{$Think.get.name}" class="form-control" placeholder="礼品名称" />
                                </div>
                                <div class="col-xs-4">
                                    <label>时间：</label>
                                    <input type="text" name="start_time" value="{$Think.get.start_time}" class="form-control first-time datepicker" autocomplete="off" placeholder="开始时间" />
                                    &nbsp;—&nbsp;
                                    <input type="text" name="end_time" value="{$Think.get.end_time}" class="form-control first-time datepicker" autocomplete="off" placeholder="结束时间" />
                                </div>
                                <div class="col-xs-2">
                                    <button type="submit" class="btn btn-primary user-search">搜索</button>
                                    <button type="button" class="btn user-chongzhi">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>礼品</th>
                                <th class="paixu">消耗积分
                                    <span class="zhuce-time-paixu">
                                         <if condition="$_GET['order'] eq 1">
                                            <a href="javascript:void(0)" data-id="1" style="position: relative; z-index: 2;"><i class="fa fa-sort-up active"></i></a>
                                            <a href="javascript:void(0)" data-id="2"><i class="fa fa-sort-desc"></i></a>
                                        <elseif condition="$_GET['order'] eq 2" />
                                            <a href="javascript:void(0)" data-id="1" style="position: relative; z-index: 2;"><i class="fa fa-sort-up" ></i></a>
                                            <a href="javascript:void(0)" data-id="2"><i class="fa fa-sort-desc active"></i></a>
                                        <else/>
                                            <a href="javascript:void(0)" data-id="1" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-id="2"><i class="fa fa-sort-desc" ></i></a>
                                        </if>
                                    </span>
                                </th>
                                <th class="paixu">兑换等级
                                    <span class="huoye-time-paixu">
                                        <if condition="$_GET['order'] eq 3">
                                            <a href="javascript:void(0)" data-id="3" style="position: relative; z-index: 2;"><i class="fa fa-sort-up active"></i></a>
                                            <a href="javascript:void(0)" data-id="4"><i class="fa fa-sort-desc"></i></a>
                                         <elseif condition="$_GET['order'] eq 4" />
                                            <a href="javascript:void(0)" data-id="3" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-id="4"><i class="fa fa-sort-desc active"></i></a>
                                        <else/>
                                            <a href="javascript:void(0)" data-id="3" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-id="4"><i class="fa fa-sort-desc"></i></a>
                                        </if>
                                    </span>
                                </th>
                                <th class="paixu">兑换数量
                                    <span class="huoye-time-paixu">
                                        <if condition="$_GET['order'] eq 5">
                                            <a href="javascript:void(0)" data-id="5" style="position: relative; z-index: 2;"><i class="fa fa-sort-up active"></i></a>
                                            <a href="javascript:void(0)" data-id="6"><i class="fa fa-sort-desc"></i></a>
                                         <elseif condition="$_GET['order'] eq 6" />
                                            <a href="javascript:void(0)" data-id="5" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-id="6"><i class="fa fa-sort-desc active"></i></a>
                                        <else/>
                                            <a href="javascript:void(0)" data-id="5" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-id="6"><i class="fa fa-sort-desc"></i></a>
                                        </if>
                                    </span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list.list" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>
                                        <img style="height:50px;" src="//{:C('QINIU_DOMAIN')}/{$vo.img}-s3.jpg"/>{$vo.name}
                                    </td>
                                    <td>{$vo.point}</td>
                                    <td>会员等级{$vo.grade}</td>
                                    <td>{$vo.goods_sum}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    {$list.page}
                </div>
            </div>
        </div>

    </section>
</block>
<block name="script">
    <script src="/assets/common/js/plugins/daterangepicker/moment.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/select2/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/plugins/layer/layer.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(function () {
            //排序
            $('.paixu a').click(function(){
                var order = $(this).data('id');
                window.location.href = '/goods/exchange?'+$("#searchForm").serialize()+'&order='+order;
            })


            $(".first-time").datepicker({
                format: "yyyy-mm-dd",
                minViewMode: 0,
                autoclose: true,
                todayBtn:true
            }).on("change",function(){
                if(toTimeStamp($("input[name=first_huoyue_start]").val())>toTimeStamp($("input[name=first_huoyue_end]").val())){
                    msg("结束时间必须大于开始时间")
                    $("input[name=first_huoyue_end]").val("");
                }
                var start_year = $("input[name=first_huoyue_start]").val().split("-")[0];
                var start_month = $("input[name=first_huoyue_start]").val().split("-")[1];
                var start_date = $("input[name=first_huoyue_start]").val().split("-")[2];
                var end_year = $("input[name=first_huoyue_end]").val().split("-")[0];
                var end_month = $("input[name=first_huoyue_end]").val().split("-")[1];
                var end_date = $("input[name=first_huoyue_end]").val().split("-")[2];
                timeStep(start_year,end_year,start_month,end_month,start_date,end_date,$("input[name=first_huoyue_end]"))
            });

            $(".last-time").datepicker({
                format: "yyyy-mm-dd",
                minViewMode: 0,
                autoclose: true,
                todayBtn:true
            }).on("change",function(){
                if(toTimeStamp($("input[name=huoyue_start]").val())>toTimeStamp($("input[name=huoyue_end]").val())){
                    msg("结束时间必须大于开始时间")
                    $("input[name=huoyue_end]").val("");
                }
                var start_year = $("input[name=huoyue_start]").val().split("-")[0];
                var start_month = $("input[name=huoyue_start]").val().split("-")[1];
                var start_date = $("input[name=huoyue_start]").val().split("-")[2];
                var end_year = $("input[name=huoyue_end]").val().split("-")[0];
                var end_month = $("input[name=huoyue_end]").val().split("-")[1];
                var end_date = $("input[name=huoyue_end]").val().split("-")[2];
                timeStep(start_year,end_year,start_month,end_month,start_date,end_date,$("input[name=huoyue_end]"))
            });
            //重置
            $(".user-chongzhi").click(function () {
                $(".user-condition input").val('');
                $(".user-condition select").val('0');
                $("#city").select2("val", "");
            });

            var myDate = new Date();
            var year = myDate.getFullYear();    //获取完整的年份(4位,1970-????)
            var month = myDate.getMonth() + 1;       //获取当前月份(0-11,0代表1月)
            var day = myDate.getDate();        //获取当前日(1-31)

            function toTimeStamp(time){
                if(time!=undefined){
                    var date = time;
                    date = date.substring(0,19);
                    date = date.replace(/-/g,'/');
                    var timestamp = new Date(date).getTime();
                    return timestamp;
                }
            }
            function msg(msg, fn) {
                layer.msg(
                    msg,
                    {time: 2000,},
                    fn || function () {
                    }
                )
            }
             //判断时间跨度
             function timeStep(start_year,end_year,start_month,end_month,start_date,end_date,selector) {
                if(start_year != ''){
                    if(end_year - start_year > 1){
                        msg("时间跨度不能超过1年")
                        selector.val("");
                    }else if(end_year - start_year == 1){
                        if(end_month - start_month > 0){
                            msg("时间跨度不能超过1年")
                            selector.val("");
                        }else if(end_month - start_month == 0){
                            if(end_date > start_date){
                                msg("时间跨度不能超过1年")
                                selector.val("");
                            }
                        }
                    }
                }
            }
        });
    </script>
</block>
