<table class="table table-hover table-bordered tips-tab" id="tablelist2">
    <thead>
    <tr>
        <th>序号</th>
        <th>发票抬头</th>
        <th>纳税人识别号</th>
        <th>发票金额</th>
        <th>实际到账金额</th>
        <th>是否到账</th>
        <th>开票公司</th>
        <th>状态</th>
        <th>报备人</th>
        <th>提交时间</th>
    </tr>
    </thead>
    <tbody>
    <volist name="data.list" id="item">
        <tr>
            <td>{:(($_GET['p']?:1)-1)*($_GET['size']?:20) + $key+1}</td>
            <td class="invoice_title"><a href="/invoice/detail?id={$item.invoice_id}" target="_blank">{$item.invoice_title}</a></td>
            <td>{$item.taxpayer_identification_number}</td>
            <td>{$item.invoice_price}</td>
            <td>{$item.account_money}</td>
            <td>{$item.is_in_account_name}</td>
            <td>{$item.billing_company_name}</td>
            <td>{$item.status_name}</td>
            <td>{$item.invoice_report_username}</td>
            <td>{$item.submit_date}</td>
        </tr>
    </volist>
    </tbody>
</table>