*{
    margin:0;
    padding:0;
}
header,footer{
    display: none;
}
.mthd-content{
    width:100%;
    position: relative;
    background: #9dbe87;
    padding-bottom: 0.1rem;
}
.mthd-content img{
    width:100%;
    vertical-align: middle;
}
.mthd-yhq{
    position: absolute;
    top: 3rem;
    width:100%;
}
.mthd-yhq img{
    width:100%;
}
.top-qiang{
    position: absolute;
    width: 0.645rem;
    height: 0.707rem;
    top: 0;
    bottom: 0;
    background: url("/assets/mobile/special/mthd/img/top-qiang.png") no-repeat;
    background-size: 100%;
    right: 0.088rem;
    margin: auto;
    -webkit-animation: scaleDraw 3s ease-in-out infinite;
}
@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}
.mthd-content img.mthd-tit{
    display: block;
    width:83%;
    margin:0 auto;
}
.mthd-taocan{
    margin:0.2rem 0.1rem;
    border-radius:11px;
    position: relative;
}
.taocan-img{
    width:100%;
    border-radius:11px 11px 0px 0px;
    position: relative;
}
.taocan-img img{
    width:100%;
    border-radius:11px 11px 0px 0px;
}
.taocan-des{
    padding:0.1rem 0.2rem;
    height: 0.57rem;
    background: #fff;
    position: relative;
    border-radius: 0 0 11px 11px;
    overflow: hidden;
}
.taocan-des p{
    font-size:0.185rem;
}
.taocan-des p.taocan-price{
    font-size:0.126rem;
    color:#FD683B;
}
.taocan-des p.taocan-price strong{
    font-size:0.31rem;
}
.taocan-des .qiang-btn{
    background: url("/assets/mobile/special/mthd/img/qiang.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 0.567rem;
    height: 0.567rem;
    position: absolute;
    right: 0.15rem;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    line-height: 0.567rem;
    font-size: 0.31rem;
    font-weight:400;
    color:#fff;
}
.mthd-taocan .percent{
    width:112px;
    height: 40px;
    background:url("/assets/mobile/special/mthd/img/percent.png") no-repeat;
    background-size:100%;
    position: absolute;
    top: -9px;
    left: -1px;
}
.mthd-taocan .hot{
    width: 0.257rem;
    height: 0.16rem;
    background:url("/assets/mobile/special/mthd/img/hot.png") no-repeat;
    background-size:100%;
    position: absolute;
    top: 0.07rem;
    right: 0.03rem;
}
.mthd-second{
    background:#4D8661;
    padding-bottom: 0.01rem;
}
.mthd-second-tit{
    height:0.606rem;
    position: relative;
}
.mthd-second-tit img{
    width: 87%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.mthd-tab{
    height:0.443rem;
    background: url("/assets/mobile/special/mthd/img/tab-bg.png") no-repeat;
    background-size: 100%;
}
.mthd-tab ul{
    display: flex;
    justify-content: space-around;
}
.mthd-tab ul li{
    display: inline-block;
    line-height: 0.443rem;
    text-align: center;
    color:#fff;
    font-size: 0.15rem ;
    position: relative;
}
.mthd-tab ul li .hot-list{
    display: block;
    position: absolute;
    width: 0.218rem;
    height: 0.101rem;
    background: url(/assets/mobile/special/mthd/img/hot_list.png) no-repeat;
    background-size: 100%;
    right: -0.218rem;
    top: 5px;
}
.mthd-tab ul li.active{
    color: #FFFF71;
    background: url("/assets/mobile/special/mthd/img/active.png") no-repeat bottom;
    background-size: 90%;
}
.rexiao{
    width:82px;
    height: 40px;
    position: absolute;
    top: -5px;
    left: -1px;
    background:url("/assets/mobile/special/mthd/img/rexiao.png") no-repeat;
}
.sheji-btn{
    background: url("/assets/mobile/special/mthd/img/sheji.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 1.041rem;
    height: 0.342rem;
    position: absolute;
    right: 0.15rem;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    line-height: 0.342rem;
    font-size: 0.142rem;
    font-weight:400;
    color:#fff;
}
.mthd-taocan .taocanlist{
    height: 0.313rem;
    line-height: 0.313rem;
}
.mthd-taocan .taocanlist p{
    font-size: 0.157rem;
}
.more-choose{
    width: 100%;
    margin-top: -0.28rem;
}
.more-choose img{
    width:100%;
}
.more-anli{
    width:92%;
    display: block;
    margin:0.2rem auto;
}
.mthd-third{
    background:#9dbe87;
}
.mthd-third .about{
    width:63%;
    display: block;
    margin:0 auto;
    padding-top:0.1rem;
    margin-bottom:0.1rem
}
.mthd-fen{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fen-list{
    width: 1.4rem;
    height: 1.1578rem;
    border-radius: 6px;
    margin-top: 0.18rem;
    position: relative;
}
.fen-list img{
    display: block;
    width:100%;
    height:0.855rem ;
    border-radius:6px  6px   0px  0px
}
.fen-list p{
    height: 0.3rem;
    line-height: 0.3rem;
    background: #fff;
    color: #333;
    text-align: center;
    font-weight: bold;
    border-radius: 0 0 6px 6px;
}
.fen-list .tab_list{
    width: 0.606rem;
    height: 0.257rem;
    line-height: 0.21rem;
    text-align: center;
    background: url("/assets/mobile/special/mthd/img/tab.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top:0;
    left: -2px;
    font-size:14px;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.mthd-bottom{
    height:0.855rem;;
    background:rgba(0,0,0,0.5);
    margin-top:0.35rem;
    position: relative;
}
.libao{
    width: 1.51rem;
    height: 1.03rem;
    position: absolute;
    left: 5px;
    bottom: 0;
}
.libao img{
    width:100%;
}
.bottom-right{
    width:50%;
    float: right;
}
.bottom-right p{
    text-align: center;
    font-size:0.184rem;
    font-weight:bold;
    color:rgba(255,205,48,1);
    line-height:0.184rem;
    margin:0.1rem 0;
}
.get-btn{
    background: url("/assets/mobile/special/mthd/img/sheji.png") no-repeat;
    background-size: 100%;
    width: 1.041rem;
    height: 0.342rem;
    margin:0 auto;
    text-align: center;
    line-height: 0.342rem;
    font-size: 0.142rem;
    font-weight:400;
    color:#fff;
}
.swiper-container1 img{
    height: 1.48rem;
}
.swiper-container2 img{
    height: 2.27rem;
}
/*弹窗*/
.meth-mask,.success-mask{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    position: fixed;
    z-index:999;
    top:0;
    display: none;
}
.mthd-dialog,.success-dialog{
    width:84%;
    height: 265px;
    border-radius: 11px;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin:auto;
    background:#fff;
    padding:4px 0;
}
.mthd-dialog .close-btn{
    position: absolute;
    right: 8px;
    top: 0px;
    font-size: 0.24rem;
    font-weight: bold;
    z-index: 99999;
}
.mthd-dialog input,#showCityPicker9{
   width:87%;
    margin:0 auto;
    margin-top:0.241rem;
    color: #333;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    height: 0.373rem;
    box-sizing: border-box;
    padding: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: left;
    font-size: 0.125rem;
    position: relative;
    padding-left: 0.1rem;
}
#showCityPicker9 i{
    position: absolute;
    top:0.1rem;
    right: 0.1rem;
}
.dialog-btn{
    width:87%;
    height: 0.373rem;
    background:url("/assets/mobile/special/mthd/img/dialog-btn.png") no-repeat;
    background-size: 100%;
    margin:0 auto;
    margin-top:0.245rem;
    font-size:0.155rem;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:0.373rem;
    text-align: center;
    border-radius: 25px;
}
.sucess-img{
    display: block;
    margin:0 auto;
    margin-top:0.2rem;
}
.success-dialog p{
    width:80%;
    margin:0 auto;
    margin-bottom: 0.2rem;
    text-align: center;
    font-size:14px;
    color:#b3b3b3;
}
.success-dialog .get-success{
    margin-top:0.3rem;
    font-size:18px;
    font-weight: bold;
    color:#333;
}


