.bottom-fadan-box{
  width:100%;
  position: fixed;
  left:0px;
  bottom:0px;
  z-index: 9999;
  cursor: pointer;
}
.bottom-fadan-mask{
  position: absolute;
  left:0px;
  bottom:-460px;
  width:100%;
  height: 492px;
  background:url('/assets/common/img/block-mark.png')
}
.bottom-fadan-body{
  position: relative;
  width:1210px;
  height: 100%;
  margin: 0px auto;
}
.bottom-fadan-sideradius{
  position: absolute;
  height: 251px;
  width:100%;
  /* bottom:25px; */
  bottom:-180px;
  background: url('/assets/common/img/bottom-side.png')
}
.bottom-dibu-radius{
  bottom:0px;
  left:0px;
  width:100%;
  position: absolute;
  bottom: -42px;
  height: 45px;
  background: url('/assets/common/img/bottom-radius.png')
}
.bottom-main-raidus{
  position: absolute;
  width: 1168px;
  height: 540px;
  left:50%;
  margin-left:-584px;
  /* bottom:4px; */
  bottom: -451px;
  background: url('/assets/common/img/center-radius.png') no-repeat
}
.bottom-header-content{
  width: 836px;
  margin:0px auto;
  text-align: center;
  height: 107px; 
  position: relative;
}
.bottom-main-title{
  width: 489px;
  height: 38px;
  margin-top:18px;
}
#bottom-main-title{
  width: 594px;
  height: 34px;
  margin-top: 43px;
}
.bottom-fadan-logo{
  position: absolute;
  left:0px;
  top:-28px;
}
.bottom-main-arrow{
  position: absolute;
  right: 0px;
  top:50%;
  margin-top:-17px;
  cursor: pointer;
}
.bottom-main-content{
  margin:22px 50px;
  height: 200px;
}
.bottom-main-content .fadan-title-text{
  font-size: 20px;
  font-weight: bold;
  color:#333;
  vertical-align: top;
  margin-bottom: 20px;
}
.bottom-main-content .fadan-title-text span{
  color:#FF7100 !important;
  font-size:28px;
}
.main-content-left{
  float: left;
  width: 438px;
}
.fadan-small-title{
  color:#4d4d4d;
  font-size:16px;
  text-align: center;
  line-height: 35px;
  height: 35px;
  margin-bottom:5px;
}
.fadan-small-title span{
  color: #ff9313 !important;
  font-size:18px;
  font-weight: bold;
}
.fadan-form{
  display: inline-block
}
.fadan-form li .fadan-input-box{
  overflow: hidden;
}
.fadan-form li .fadan-tips-box{
  height: 18px;
  color: #ff5353;
  padding-left:81px;
}
.fadan-form .disclamer-line{
  margin-top:0px!important;
}
.fadan-form-title{
  font-size: 14px;
  color:#5d5d5d;
  line-height: 35px;
  height: 35px;
}
.fadan-bit{
  color: #FF7100 !important;
  padding-right:3px;
}
.fadan-form li {
  position: relative;
}
.fadan-form li input{
  width:269px;
  height: 33px;
  border: 1px solid #cccccc;
  border-radius:5px;
  text-indent: 8px;
}
.fadan-form li select{
  width: 130px;
  height: 33px;
  border:1px solid #cccccc;
  border-radius:5px;
}
.fadan-btn{
  width: 269px;
  height: 39px;
  background:#FF7200;
  color:#ffffff;
  border-radius:5px;
  font-size:18px;
  cursor: pointer;
  font-family: "微软雅黑";
  border: none;
  outline: none;
}
.fadan-btn:active{
  outline: none
}
.main-content-right{
  float: right;
  margin-top:4px;
}
.bottom-fadan-danwei{
  position: absolute;
  right: 8px;
  color:#999;
  top:8px;
}
.bottom-fadan-hide{
  display: none;
}
.bottom-main-result{
  position: absolute;
  width: 1155px;
  height: 640px;
  left: 50%;
  margin-left: -578px;
  /* bottom: 4px; */
  bottom: -650px;
  background: url(/assets/common/img/bt-fd-1.png) no-repeat;
}
.bottom-result-content{
  position: relative;
  top:184px;
}
.bottom-result-title{
  text-align: center;
  height: 94px;
  line-height: 120px;
  margin-bottom:29px;
}
.bottom-result-body{
  overflow: hidden;
}
.bottom-result-left{
  margin-left:160px;
}
.bottom-result-left h4{
  font-size: 24px;
  color:#363636;
  margin-bottom:21px;
}
.bottom-result-left ul li{
  font-size:18px;
  color:#363636;
  overflow: hidden;
  margin-bottom: 33px;
}
.bottom-result-left ul li i{
  float: left;
  margin-top:3px;
  margin-right:5px;
  margin-left: 2px; 
  color:#FF9313;
}
.bottom-result-left ul li p{float: left;}
.right-result-title{
  color:#363636;
  font-size:16px;
  background: url("/assets/common/img/result-right-icon.png") no-repeat left center;
  height: 48px;
  padding-left:57px;
}
.bottom-result-right{
  width:394px;
  margin-right:110px;
  margin-top:10px;
}
.bottom-result-right h5{
  color:#333;
  font-size: 20px;
  margin-top:30px;
  margin-left:2px;
  margin-bottom: 25px;
}
.select-radio{
  overflow: hidden;
  font-size:18px;
}
.select-radio li{
  float: left;
  width:45%;
  cursor: pointer;
  margin-bottom:30px;
}
.select-radio li i{
  float: left;
  margin-top:3px;
  margin-right:10px;
  margin-left:2px;
}
.select-radio li p{
  float: left;
}
.bottom-fadan-close{
  cursor: pointer;
  position: absolute;
  right:2px;
  top:-90px;
}
.fdtime-active{
  color:#FF9313 !important;
}