.bottom-fadan-guoqing-box{
  width:100%;
  height: 227px;
  position: fixed;
  left:0px;
  bottom:0px;
  z-index: 9999;
  background: url('/assets/common/img/bottom_order_guoqing.png') no-repeat center;
}
.bottom-fadan-guoqing-box .bottom-fadan-body{
  position: relative;
  width:1210px;
  height: 100%;
  margin: 0px auto;
}
.bottom-fadan-guoqing-box .bottom_order-guoqing_close_btn{
  position: absolute;
  right: 190px;
  top: 65px;
  cursor: pointer;
}
.bottom-fadan-guoqing-box .order-position-bottom{
  position: absolute;
  width: 100%;
  height: 77px;
  left: 0;
  bottom: 0;
  text-align: center;
}
.bottom-fadan-guoqing-box .order-ele-box{
  display: inline-block;
  width: 150px;
  height: 44px;
  margin-right: 10px;
  position: relative;
  vertical-align: top;
}
.bottom-fadan-guoqing-box .order-ele-box .fadan-tips-box{
  position: absolute;
  top: 50px;
  height: 18px;
  color: white;
}
.bottom-fadan-guoqing-box select, .bottom-fadan-guoqing-box input{
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding-left: 10px;
  background-color: white;
  color: #333333;
  font-size: 16px;
  vertical-align: top;
}
.bottom-fadan-guoqing-box input{
  width: 140px;
}
.bottom-fadan-guoqing-box .bottom-fadan-btn{
  width: 160px;
  height: 44px;
  line-height: 44px;
  background-color: #FFCA7F;
  border-radius: 0.3em;
  outline: none;
  font-size: 16px;
  color: #B21C1C;
  font-weight: bold;
  cursor: pointer;
}
.bottom-fadan-guoqing-box .disclamer-line{
  position: absolute;
  width: 300px;
  right: 57px;
  bottom: 0px;
  color: white;
}
.bottom-fadan-guoqing-box .disclamer-line a{
  color: #5CB4FF;
}

.bottom-order-icon{
  display: none;
  position: fixed;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
}

.bottom-order-guoqing-success{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}
.bottom-order-guoqing-success .guoqing-suucess-main{
  position: absolute;
  width: 360px;
  height: 120px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border-radius: 0.5em;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.bottom-order-guoqing-success .guoqing-suucess-close{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 12px;
  height: 12px;;
}
.bottom-order-guoqing-success .guoqing-suucess-close img{
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.bottom-order-guoqing-success .guoqing-suucess-top{
  font-size: 24px;
  color: #FF5353;
  padding-top: 30px;
}
.bottom-order-guoqing-success .guoqing-suucess-top img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.bottom-order-guoqing-success .guoqing-suucess-bottom{
  font-size: 14px;
  color: #999999;
  padding-left: 30px;
}