/*异业合作广告*/

.cooperation_ad_mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    filter:alpha(opacity=50);
    z-index: 99999;
    display: none;
}
.cooperation_box{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1089px;
    height: 1048px;
    background: url('/assets/common/img/cooperation.png') no-repeat;
    z-index: 999999;
    display: none;
}
.cooperation_box > a{
    position: absolute;
    left: 286px;
    top: 316px;
    width: 514px;
    height: 510px;
}
.cooperation_box .close{
    position: absolute;
    right: 162px;
    top: 276px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('/assets/common/img/cooperation-close.png') no-repeat;
}
.cooperation_box .ad-area{
    width: 415px;
    height: 206px;
    position: absolute;
    left: 0px;
    right: 0;
    top: 83px;
    margin: auto;
    overflow: hidden;
}
.cooperation_box .ad-area img{
    max-width: 100%;
}
