.hongbao-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    display: none;
}
.hongbao-content{
    width:455px;
    height: 625px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
}
.hongbao-bg{
    width:455px;
    height: 575px;
    background: url("/assets/common/img/hongbao.png") 100% 100%;
}
.hongbao-img{
    width:86px;
    height: 86px;
    overflow: hidden;
    margin:0 auto;
    padding-top:40px;
    margin-bottom: 10px;
}
.hongbao-img img{
    width:100%;
    height: 100%;
}
.hongbao-des{
    font-size: 18px;
    color: #F7D693;
    text-align: center;
}
.hongbao-daojishi{
    color: #F7D693;
    font-size:16px;
    text-align: center;
    margin-top: 45px;
}
.hongbao-daojishi .hongbao-time{
    width:18px;
    height: 18px;
    background: #F7D693;
    border-radius: 3px;
    color:#F92B42;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    text-align: center;
}
.hongbao-tel{
    width:280px;
    height: 40px;
    margin:0 auto;
    margin-top:20px;
    border-radius: 19px;
    overflow: hidden;
}
.hongbao-tel .hongbao-input{
    width:100%;
    height: 100%;
    background: #F7D693;
    text-align: center;
    font-size:16px;
    color:#988868 !important;
}
.errorTel_mess{
    font-size:14px;
    width:280px;
    margin:0 auto;
    text-align: left;
    margin-top:5px;
    color: #fff;
    height: 21px;
}
.hongbao-open{
    margin-top:5px;
}
.hongbao-open img{
    display: block;
    margin:0 auto;
    cursor: pointer;
}
.hongbao-close img{
    display: block;
    margin:0 auto;
    cursor: pointer;
}
/*红包-发单成功页*/
.hongbao-success{
    width:446px;
    height: 610px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    display: none;
}
.success-bg{
    width:446px;
    height: 560px;
    background: url("/assets/common/img/success_bg.png") 100% 100%;
}
.success-bg p{
    text-align: center;
    color: #F3B023;
    font-size: 16px;
}
.success-bg .qz-hongbao{
    font-size:18px;
    height: 18px;
    line-height: 18px;
}
.success-bg .qz-libao{
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    color:#F93044;
    font-weight: bold;
    margin:12px 0;
}
.success-bg .hongbao-img{
    padding-top:30px;
    width:71px;
    height: 71px;
}
.success-des{
    padding:0 70px;
}
.success-des p{
    color:#FEF1E0;
    font-size:12px;
    text-align: left;
    margin-bottom: 5px;
}
/*红包动图*/
.hongbao-gif{
    width: 0;
    border-right: 1px dashed red;
    border-left: 1px dashed red;
    height: 160px;
    position: fixed;
    top: 0;
    right: 195px;
    z-index: 100;
}
.click-area{
    width: 180px;
    position: fixed;
    top: 120px;
    z-index: 111;
    cursor: pointer;
    right: 110px;
}
.click-area img{
    width:100%;
}
