.kefu_right{
    position: fixed;
    top: 444px;
    right: 0;
    z-index: 9999;
    background: #fff;
}
.kefu_right_list li{
    display: block;
    width:62px;
    height: 62px;
    border:1px #E6E6E6 solid;
    border-bottom: none;
    cursor: pointer;
}
.kefu_right_list li:last-child{
    border-bottom: 1px #E6E6E6 solid;
}
.kefu_right_list li img{
    width:50px;
    height: 45px;
    display: block;
    margin:0 auto;
}
.kefu_right_list li p{
    color: #FF5353;
    font-size: 12px;
    text-align: center;
}
.kefu_right_list .logo_img{
    position: relative;
}
.kefu_right_list .logo_img img{
    display: block;
    width:30px;
    height: auto;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
}
.kefu_right_enter{
    position: fixed;
    right: 0;
    bottom: 21px;
    margin:auto;
    z-index: 999;
    height: 573px;
    display: none;
}
.kefu_right_enter .kefu_right_list_enter{
    padding:30px 9px;
    background: #ccc;
}
.kefu_right_enter .kefu_right_list_enter li{
    margin-bottom: 18px;
}
.kefu_right_enter .kefu_right_list_enter li:last-child{
    margin-bottom: 0;
}
.kefu_right_enter .kefu_right_list_enter li .small_img{
    width:152px;
    height: 32px;
    background: #fff;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    bottom: 9px;
}
.kefu_right_list_enter .small_img img{
    width:51px;
    height: 44px;
    position: absolute;
    bottom: 0;
    margin-left: 11px;
}
.kefu_right_list_enter .small_img span{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    color:#FF5353;
    font-size: 16px;
    margin-left: 72px;
}
.kefu_right_list_enter .logo_img_enter img{
    width:25px;
    height: 25px;
    margin-left: 27px;
    bottom: 4px;
}
.kefu_right_enter .kefu_right_list_enter li .big_img{
    height: 0;
    overflow:hidden;
}
.kefu_right_enter .kefu_right_list_enter li.active{
    height: 132px;
}
.kefu_right_enter .kefu_right_list_enter li.active .big_img{
    width:113px;
    height: 100px;
    margin:0 auto;
}
.kefu_right_enter .kefu_right_list_enter li.active .big_img img{
    width:100%;
}
.kefu_right_enter .kefu_right_list_enter li.active .small_img img{
    display: none;
}
.kefu_right_enter .kefu_right_list_enter li.active .small_img span{
    width:100%;
    text-align: center;
    margin-left: 0;
    font-size:20px;
}
.right-content{
    width:400px;
    height: 408px;
    position: absolute;
    top: 0;
    right: 170px;
    background: #fff;
}
.right-content-top{
    height:50px;
    background: #E62E2E;
}
.right-content-top img{
    display: inline-block;
    width:88px;
    height: 34px;
    margin: 8px 13px;
}
.right-content-top .right-content-tit{
    display: inline-block;
    position: absolute;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
}
.right-content-center{
    overflow: hidden;
    padding:20px 10px;
}
.right-content-center .touxiang_logo{
    width:160px;
    height: 140px;
    background: url("/assets/common/img/right_bg.png");
    background-size:100% 100%;
    float: left;
    position: relative;
}
.right-content-center .touxiang_logo img{
    position: absolute;
    bottom: 0;
    margin-left: 23px;
}
.right-content-des{
    float: left;
    width:190px;
    margin-left: 11px;
}
.right-content-des p:first-child{
    font-size:18px;
    margin:8px 0;
}
.right-content-des p:first-child+p{
    font-size: 14px;
}
.right-content-bottom{
    padding:0 10px;
    margin-bottom: 15px;
}
.right-content-bottom .kefu_logo{
    width:40px;
    height: 40px;
    border-radius:50%;
    background: #E5E5E5;
    display: inline-block;
    overflow: hidden;
}
.right-content-bottom .kefu_logo img{
    width:100%;
    height: 100%;
}
.right-content-bottom .kefu_talk{
    width:278px;
    padding:10px 15px;
    display: inline-block;
    border-radius: 27px 27px 27px 0px;
    background: #F2F2F2;
    font-size: 14px;
}
.kefu_edit{
    width:100%;
    border-top:1px #F2F2F2 solid;
}
.kefu_edit .kefu_send{
    width:60px;
    height:30px;
    background:#E62E2E;
    border-radius:5px;
    font-size:12px;
    font-weight:400;
    color:#fff;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.kefu_edit textarea{
    width:88%;
    padding-left:20px;
}
.kefu_right_enter .guanzhubj{
    right:160px;
}

.right-content> .kefu_edit> textarea{ border: none; }
.kefu_edit .kefu_send{ border: none }
.guanzhubj{position: absolute;width: 129px;height: 442px;
    right: 76px;top: 0px;overflow: hidden;cursor: default;display: none;}
.apptup {width: 85px;height: 85px;margin: auto;display: block;margin-top: 10px;}
.guanzhubj .guanzhubj_left{width: 120px;height: 100%;float: left;background: #fff;}
.guanzhubj .weibotup{width: 100px;height: 100px;margin: auto;display: block;margin-top: 10px;}
.guanzhubj p{text-align: center;font-size: 12px;color: #666;}
.guanzhubj p.weibopbq,.guanzhubj p.weixinms{color: #ff5353;}
.guanzhubj .weixingzh{width: 85px;height: 85px;margin: auto;display: block;margin-top: 10px;}


.logo_top {
    width: 62px;
    height: 62px;
    position: fixed;
    bottom: 88px;
    right: 0; 
    text-align: center;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    display: none;
    z-index: 666;
}
.tops {
    color:#FF5353;
}
