.hongbao-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    background: rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
    z-index: 99999;
    display: none;
}
.hongbao-content{
    width:455px;
    height: 625px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
}
.hongbao-bg{
    width:408px;
    height: 627px;
    background: url("/assets/common/img/lotteryPlate2.png") 100% 100%;
}
.hongbao-img{
    width:86px;
    height: 86px;
    overflow: hidden;
    margin:0 auto;
    padding-top:40px;
    margin-bottom: 10px;
}
.hongbao-img img{
    width:100%;
    height: 100%;
}


.hongbao-tel{
    width:260px;
    height: 44px;
    margin:0 auto;
    margin-top:119px;
    border-radius: 19px;
    position: relative;
}
.hongbao-tel .hongbao-input{
    width: 243px;
    height: 100%;
    background: white;
    text-align: left;
    font-size:16px;
    color:#999 !important;
    padding-left: 15px;
    border-radius: 110px;
    border: none;
}
.lottery_btn{
    font-size: 24px;
    color: #F01F1E;
    text-align: center;
    width: 278px;
    height: 62px;
    line-height: 62px;
    background: url('/assets/common/img/lotteryBtn.png') no-repeat;
    font-weight: bold;
    margin:17px auto 0;
    cursor: pointer;
    user-select: none;
    display: block;
    outline: none;
    border: none;
}
.errorTel_mess{
    font-size: 12px;
    width: 280px;
    margin: 0 auto;
    text-align: left;
    line-height: 24px;
    padding-left: 15px;
    color: #ffba00;
}
.hongbao-open{
    margin:0 auto;
    padding-top: 23px;
    padding-left: 8px;
    width: 353px;
    height: 353px;
    position: relative;
}
.hongbao-open .lottery_open{
    position: absolute;
    left: 146px;
    top: 140px;
    width: 77px;
    height: 103px;
}
.hongbao-close{
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 200px;
}
.hongbao-close img{
    width: 30px;
    position: absolute;
    left: 190px;
    top: -20px;
    cursor: pointer;
}
/*红包-发单成功页*/
.hongbao-success{
    width:446px;
    height: 708px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    display: none;
}
.success-bg{
    width:430px;
    height: 734px;
    background: url("//staticqn.qizuang.com/custom/20200420/FlmS7WFQdxrIGLL_OHnM9zkzVCB9") 100% 100% no-repeat;
    border-top: 1px solid transparent;
    background-size: 100% 734px;
}
.success-bg p{
    text-align: center;
    color: #F3B023;
    font-size: 16px;
}
.success-bg .qz-hongbao{
    font-size:18px;
    font-weight: bold;
    color: #F02122;
}
.success-bg .qz-libao{
    font-size: 12px;
    color: #B27100;
    margin: 0;
}
.success-bg .hongbao-img{
    padding-top:30px;
    width:71px;
    height: 71px;
}
.success-bg .bethotline{
    font-size: 12px;
    color: #B27100;
}
.lottery_price_area{
    width: 288px;
    height: 200px;
    background-color: #FBE5BF;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 131px auto 0;
}
.lottery_price{
    height: 120px;
    position: relative;
}
.lottery_price img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.success-des{
    padding:0 60px;
    padding-bottom: 3px;
}
.success-des p{
    color: #FBE5BF;
    font-size:12px;
    text-align: left;
    margin-bottom: 5px;
}
.success-des .lottery_get{
    font-size:18px;
    text-align: center;
    margin-top: 5px;
    background: url('/assets/common/img/lottery_cloud_icon.png') no-repeat;
    background-position: center center;
}
.ercode img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.ercode p {
    color: #FBE5BF;
    font-size: 12px;
    margin-top: 5px;
}
/*红包动图*/
.hongbao-gif{
    width: 0;
    border-right: 1px dashed red;
    border-left: 1px dashed red;
    height: 160px;
    position: fixed;
    top: 0;
    right: 195px;
    z-index: 100;
}
.click-area{
    width: 130px;
    position: fixed;
    top: 67px;
    z-index: 111;
    cursor: pointer;
    right: 110px;
}
.click-area img{
    width:100%;
}
