::-moz-placeholder { font-family: "微软雅黑",'Microsoft Yahei'; }
::-webkit-input-placeholder { font-family: "微软雅黑",'Microsoft Yahei'; }
:-ms-input-placeholder { font-family: "微软雅黑",'Microsoft Yahei'; }
input,select{font-family: "微软雅黑",'Microsoft Yahei' !important;}
.step1 .steptop, .step2 .steptop, .step3 .steptop{background: none !important;}
.bjbox .line{width: 655px;}
.step_form{margin:0 !important;background: #fff;border:10px solid #ffe6d2;border-radius: 10px;
width: 655px;box-sizing: border-box;}
.step1, .step2, .step3{background: none !important;border:none !important;height: 530px !important;width: 655px !important;}
.bjbox .liney{margin-bottom:10px;padding-bottom: 10px;}
.bjbox .line:first-child{margin-top: 34px;}
.bjbox .line:first-child{margin-bottom: 25px;}
.win_box .win_box_content{width: 655px !important;}
.win_box .steptop{width: 100%;}
.win_box .shutdown{width: 39px;height: 90px;background: url(/assets/common/img/guanbianniu.png) no-repeat !important;position: absolute;
right: 5px;top: 15px;}
.step_form .line .label{margin-left: 75px;}
.zxhqq{text-align: center;font-size: 20px;color: #333;letter-spacing: 1.5px;}
.zxhqq span{color: #ff5353;font-size: 22px;}
.zxhqq2{text-align: center;font-size: 12px;color: #333;letter-spacing: 1.5px;}
.zxhqq2 span{color: #ff5353;font-size: 12px;}
.zxhqq3{color: #999;font-size: 12px;display: inline-block;margin-left: 112px;letter-spacing: 2px;}
.zxhqq3 span{color: #ff5353;font-size: 12px;}
.step_form .button{width: 400px;position: relative;left: -100px;}
.win_box .win_box_bg{background:rgba(0,0,0,0.7) !important;opacity: 1;}
/*.windowbg .big-order-window{width: 655px;background: none;margin-top: 12.5%;}*/

.windowbg .big-order-window .order-info{width: 60%;margin: 0 auto;}
.zhutineritr{width: 100%;background: #fff;border:10px solid #ffe6d2;border-radius: 10px;box-sizing: border-box;}
/*.windowbg .order-window .tit{background: none;border: 0;height: 60px;}*/
/*.windowbg .order-window .shutdown{width: 39px;height: 90px;background: url(/assets/common/img/guanbianniu.png) no-repeat !important;position: absolute;
right: 15px;top: 5px; }*/
.windowbg{background: rgba(0,0,0,0.7);}
.order-info p{font-size: 14px;color: #333;}
.order-info p .think{font-size: 20px;color: #333;font-family: "微软雅黑";display: block;text-align: center;}
.order-info p .stfan{color: #ff5353;font-weight: bold;}
.jcweinfuwu{font-size: 12px;color: #999;font-family: "宋体";letter-spacing: 1.5px;line-height: 20px;margin-top: 10px;}
.win_box .win_box_content{top:0;bottom: 0;left: 0;right: 0;margin:auto;}
.win_box .zb_box_out{display: none;}

#quchujicheng{background: none !important;filter:alpha(opacity=100) !important;z-index:888888;
 position: relative; }
#quchujicheng2{background: none !important;filter:alpha(opacity=100) !important;z-index:888888;
}
/* 优惠券 */
.youhui-bg {
  width: 440px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
}
.youhui-bg img {
  width: 440px;
  height: 90px;
}

.c-coupon {
  overflow: hidden;
  margin: 0 auto;
  margin-top: 14px;
  width: 930px;
  padding: 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.c-coupon .img {
  position: relative;
  display: inline-block;
  width: 440px;
  height: 90px;
  /* background: url('/assets/sub/companyhome/img/coupon1.png') no-repeat; */
  margin-bottom: 5px;
}
.c-left {
  position: absolute;
  text-align: center;
  width: 350px;
  top: 16px;
}
.left-a {
  font-size: 24px;
  color: #fff;
}
.left-b {
  font-size: 14px;
  color: #fff;
}
.showcardinfo {
  width: 90px;
  position: absolute;
  top: 10px;
  right: 4px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.c-coupon .receive{
  opacity: 0.7;
  filter:Alpha(opacity=70);
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.ylw {
  display: none;
  position: absolute;
  top: 26px;
  right: 14px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.ylq {
  display: none;
  position: absolute;
  top: 26px;
  right: 14px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}





.juan button{
  cursor: pointer;
  outline: none; 
}

.juan .back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1600;
}
.juan .close{
  overflow: hidden;
}

.juan .modalcoupon {
  width: 560px;
  background-color: white;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 35px;
  display: none;
  z-index: 1601;
  border-radius: 5px;
}
.juan .close span {
  font-size: 25px;
  padding: 2px 10px;
  font-weight: normal;
  cursor: pointer;
}

.juan .coupon {
  margin-bottom: 20px;
}

.juan .coupon .img {
  display: table;
  background: linear-gradient(to right, orange , red); /* 标准的语法 */
  background: -webkit-linear-gradient(left, orange , red); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, orange, red); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, orange, red); /* Firefox 3.6 - 15 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=orange, endColorstr=red)";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=orange, endColorstr=red);
  border-radius: 8px;
  margin: 0 auto;
  min-width: 350px;
  height: 100px;
  color: #fff;
  font-family: '微软雅黑';
}

.juan .coupon .img.second{
  background: linear-gradient(to right, red 30% , rgba(229,29,124) 70%); /* 标准的语法 */
  background: -webkit-linear-gradient(left, red 30% , rgba(229,29,124) 70%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, red 30%, rgba(229,29,124) 70%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, red 30%, rgba(229,29,124) 70%); /* Firefox 3.6 - 15 */
}

.juan .coupon .img .left{
  position: relative;
  min-width: 279px;
  height: 95px;
  border-right: 1px dashed;
  color: #fff;
  float: left;
  padding-top: 5px;
  padding-left: 30px;
}

.juan .coupon .img .left::before{
  content: '';
  position: absolute;
  right: -4px;
  width: 8px;
  height: 4px;
  background: #fff;
  z-index: 0;
  top: 0;
  border-radius: 0 0 8px 8px;
}

.juan .coupon .img .left::after{
  content: '';
  position: absolute;
  right: -4px;
  width: 8px;
  height: 4px;
  background: #fff;
  z-index: 0;
  bottom: 0;
  border-radius: 8px 8px 0 0;
}

.juan .coupon .img .top{
  overflow: hidden;
}

.juan .coupon .img .top .letext{
  font-size: 18px;
  display: inline-block;
  float: left;
}

.juan .coupon .img .top .ritext{
  width: 110px;
  font-size: 16px;
  height: 63px;
  margin-left: 20px;
  display: table;
  float: left;
}

.juan .coupon .img .top .ritext p{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.juan .coupon .img .bottom{
  font-size: 15px;
}

.juan .coupon .img .right{
  width: 40px;
  height: 100px;
  float: left;
}

#card_money2{
  font-size: 33px;
  font-weight: bolder;
}

.juan .vertify{
  text-align: center;
  margin-top: 10px;
}

.juan .vertify div{
  width: 300px;
  margin: 0 auto;
}

.juan .vertify .phone input{
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #dcd8d9;
  border-radius: 5px;
  padding-left: 20px;
  display: block;
}

.juan .vertify .yzm{
  margin-top: 10px;
  overflow: hidden;
  vertical-align: middle;
}

.juan .vertify .yzm input{
  width: 70%;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #dcd8d9;
  border-radius: 5px;
  padding-left: 20px;
  display: block;
}

.juan .vertify .yzm button{
  outline: none; 
  display: inline-block;
  margin-left: 1%;
  width: 28%;
  border: none;
  color: blue;
  background-color: #fff;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}

.juan .vertify .yzm button.disable{
  color: #ccc;
}

.juan .vertify .text{
  text-align: center;
  margin-top: 10px;
  color: grey;
  font-size: 13px;
}
.juan .vertify .but{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.juan .vertify .but button,.btn{
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ff5353;
  font-size: 13px;
  color: white;

}

.juan .remark{
  width: 400px;
  min-height: 111px;
  background-color: #f7f7f7;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 22px;
}
.juan .remark .title{
  margin-bottom: 10px;
  font-size: 13px;
}

.juan .remark p {
  color: grey;
  font-size: 13px;
  line-height: 22px;
}

.juan .code{
  width: 300px;
  line-height: 120px;
  margin: 0 auto;
  margin-top: 25px;
  overflow: hidden;
}

.juan .code .imgcode{
  width: 125px;
  height: 120px;
  background: url('/assets/common/img/erweima-coupon.jpg') no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/common/img/erweima-coupon.jpg',  sizingMethod='scale');
  background-size:100% 100% ;
}

.juan .code .text{
  font-size: 14px;
  font-weight: bolder;
  padding-left: 20px;
}

.juan .center div{
  text-align: center;
}

.juan .center .top{
  font-size: 14px;
  font-weight: bolder;
}

.juan .center .top span.change_tel{
  color: red;
  cursor: pointer;
}

.juan .center .foot .text{
  color: grey;
  margin-top: 15px;
  margin-bottom: 10px;
  vertical-align: text-top;
}

.juan .center .foot .text span{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.juan .center .foot .text span i{
  position: absolute;
  left: 0px;
}

.juan .tips{
  width: 355px;
  height: 115px;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 1601;
  border-radius: 5px;
  padding: 60px 40px;
}

.juan .tips .title{
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.juan .tips .but button{
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ff5353;
  font-size: 13px;
  color: white;
}

.juan .tips .but button.fr{
  border: 1px solid #ccc;
  color: black;
  background-color: #fff;
}

.tip{
  position: fixed;
  display: none;
  left: 45%;
  top: 45%;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
}

.tip .circle{
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #29c729;
  position: relative;
}

.tip .circle i{
  font-size: 20px;
  color: white;
  position: absolute;
  top: 7px;
  left: 6px;
}

.tip .text{
  color: white;
  font-size: 16px;
  padding: 5px 7px;
}

.valdate-info{
  color: #DE4349 !important;
  font-size: 12px;
  padding: 2px;
  text-align: left;
}

.vertify .valdate-info{
  display: none;
}

.juan .modalcoupon .center{
  display: none;
}

#yytz{
  cursor: pointer;
}

#ljlq.disable{
  opacity: 0.2;
}

.ylq,.ylw{
  width: 50px;
  height: 70px;
  /* margin-top: 13px; */
  /* margin-right:-8px; */
}


.tips2{
  width: 540px;
  background-color: white;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 35px;
  display: none;
  z-index: 1611;
  border-radius: 5px;
  padding: 40px 30px 20px 30px;
}

.tips2 .title{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.tips2 .xieyiqd{
  text-align: center;
  margin-top: 20px;
}

.tips2 p{
  font-size: 14px;
}

.tips2 p.pre{
  font-weight: bolder;
  margin-top: 10px;
}