/*
理念：
1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
  /* color: #666; */
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;color: #333;
  font-family: "Microsoft Yahei";
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }

select,select option{padding-left: 5px;}

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/*一些全局默认样式*/

::-moz-selection{ background:#b7b59b; color:#fff; text-shadow: none; }
::selection { background:#b7b59b; color:#fff; text-shadow: none; }
body{ font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif; color:#3c3c3c; background:#fff;min-width: 1220px;}
a{ color:#333;}
a:hover{ color:#d92b2b;text-decoration: none;}
.f-red{ color:#d92b2b;}
.wrap{ width:1220px; margin:0 auto}
.ofw{ overflow:hidden}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/*公共头部*/
.pub-top {
    background: #D92B2B;
    background: -ms-linear-gradient(rgba(217,0,0,1) 0%,rgba(191,0,0,1) 100%);
    background: -moz-linear-gradient(rgba(217,0,0,1) 0%,rgba(191,0,0,1) 100%);
    background: -webkit-linear-gradient(rgba(217,0,0,1) 0%,rgba(191,0,0,1) 100%);
    background: -o-linear-gradient(rgba(217,0,0,1) 0%,rgba(191,0,0,1) 100%);
    height: 50px;
    line-height: 50px;
}
.pub-top .logo {
    float: left;
    width: 94px;
    height: 31px;
    margin: 10px 8px 8px 0;
}
.pub-top .logo img {
    display: block;
    width: 100%;
    height: 100%;
}
.pub-top .city {
    float: left;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    padding: 0 12px;
}
.pub-top .city > a {
    max-width: 70px;
    height: 50px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} 
.pub-top .city.on {
    background: #A62121 url(../image/up-ang.png) no-repeat center bottom;
}
.pub-top .city a {
    color: #fff;
}
.pub-top .city .icon-down {
    display: inline-block;
    margin-left: 2px;
    width: 11px;
    height: 11px;
    background: url(../image/down-ang.png) no-repeat;
    position: absolute;
    top: 20px;
    right: 0;
}
.pub-top .city .city-list {
    display: none;
    font-size: 14px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    z-index: 99;
    background: #fff;
    width: 470px;
    padding: 10px;
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius:3px;
}
.pub-top .city .city-list .city-tabs {
    height: 27px;
    border-bottom: 1px solid #d5d5d5;
}
.pub-top .city .city-list .city-tabs span {
    float: left;
    height: 26px;
    line-height: 26px;
    text-align: center;
    padding: 0 5px;
    background: #fff;
    border: 1px solid #d5d5d5;
    font-size: 12px;
    color: #666;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
}
.pub-top .city .city-list .city-tabs span.act {
    border-bottom: 1px solid #fff;
}
.pub-top .city .city-list .lists {
    display: none;
    min-height: 150px;
}
.pub-top .city .city-list .hot-list {
    display: block;
}
.pub-top .city .city-list .lists ul li {
    float: left;
    width: 60px;
    padding: 4px 8px;
    height: 20px;
    line-height: 20px;
    color: #666;
    text-align: left;
    font-weight: normal;
    font-size: 12px;
}
.pub-top .city .city-list .lists ul li a {
    color: #333;
    font-size: 14px;
}
.pub-top .city .city-list .lists ul li:hover a {
    color: #D92B2B;
}
.pub-top .nav {
    float: left;
    margin-left: 36px;
}
.pub-top .nav .nav-name {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 12px;
    position: relative;
    cursor: pointer;
}
.pub-top .nav .nav-name a {
    color: #fff;
}
.pub-top .nav .nav-name.on {
    background: #A62121 url(../image/up-ang.png) no-repeat center bottom;
}
.pub-top .nav .nav-name.active{
    background: #A62121;
}
.pub-top  .menu .c-center.on {
    background: #A62121 url(../image/up-ang.png) no-repeat center bottom;
}
.pub-top  .menu ul li.u-div {
    height: 50px;
}
.pub-top  .menu ul li.u-div a.name {
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 140px;
    height: 50px;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pub-top  .menu ul li.u-div a.name.on {
    background: url(../image/up-ang.png) no-repeat center bottom;
}
.pub-top  .menu ul li.u-div a.name img {
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    margin-right: 10px;
    border-radius: 50%;
}
.pub-top  .menu ul li.u-div .more-info {
    display: none;
    width: 138px;
    padding: 0 6px;
    background: #fff;
    color: #333;
    font-size: 14px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 99;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
}
.pub-top  .menu ul li.u-div .more-info a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 14px;
    text-indent: 5px;
    overflow: hidden;
}
.pub-top  .menu ul li.u-div .more-info a:hover {
    color: #D92B2B;
}
.pub-top  .menu ul li.u-div .more-info a.loginout {
    border-top: 1px solid #f2f2f2;
    font-weight: normal;
}
.pub-top .nav .nav-name .list-box {
    display: none;
    width: 130px;
    padding: 15px 0 15px 20px;
    background: #fff;
    color: #333;
    font-size: 14px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    z-index: 99;
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius:3px;
}
.pub-top .nav .nav-name .list-box li {
    height: 30px;
    line-height: 30px;
}
.pub-top .nav .nav-name .list-box li a {
    color: #333333;
    font-weight: 400;
}
.pub-top .nav .nav-name .list-box li a:hover {
    color: #E62E2E;
}
.pub-top .nav .nav-name .list-box li.btn {
    margin-top: 10px;
    width: 120px;
    background:#D92B2B;
    background: -ms-linear-gradient(0deg,rgba(190,38,38,1) 0%,rgba(217,43,43,1) 100%);
    background: -moz-linear-gradient(0deg,rgba(190,38,38,1) 0%,rgba(217,43,43,1) 100%);
    background: -webkit-linear-gradient(0deg,rgba(190,38,38,1) 0%,rgba(217,43,43,1) 100%);
    background: -o-linear-gradient(0deg,rgba(190,38,38,1) 0%,rgba(217,43,43,1) 100%);
    border-radius:3px;
    text-align: center;
    padding: 7px 0;
    height: 16px;
}
.pub-top .nav .nav-name .list-box li.btn a {
    color: #fff;
    font-size: 12px;
    display: block;
    padding: 7px 0;
    height: 16px;
    line-height: 0;
}
.pub-top .nav .nav-name .list-box li .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    position: relative;
    top: 2px;
}
.pub-top .nav .nav-name .list-box li .icon-pinzhi {
    background: url(../image/pinzhi.png) no-repeat;
}
.pub-top .nav .nav-name .list-box li .icon-jisu {
    background: url(../image/jisu.png) no-repeat;
}
.pub-top .nav .nav-name .list-box li .icon-money {
    background: url(../image/money.png) no-repeat;
}
.pub-top .nav .nav-name .list-box li .icon-idea {
    background: url(../image/idea.png) no-repeat;
}
.pub-top .nav .nav-name .list-box li .icon-daka {
    background: url(../image/daka.png) no-repeat;
}
.pub-top .top-search {
    width: 70px;
    height: 24px;
    line-height: 24px;
    background: #fff;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-top: 13px;
    margin-left: 8px;
    cursor: pointer;
}
.pub-top .top-search .icon-search {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 4px 4px 4px 9px;
    background: url(../image/icon-search.png) no-repeat;
}
.pub-top .top-search span {
    float: left;
    color: #D92B2B;
}
.pub-top .menu {
    float: right;
}
.pub-top .menu ul {
    float: left;
}
.pub-top .menu ul li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.pub-top .menu ul li.line {
    color: #fff;
    margin: 0 10px;
    margin-right: 0;
}
.pub-top .menu ul li.c-center {
    padding: 0 10px;
    margin-left: 5px;
}
.pub-top .menu ul li a {
    color: #fff;
}
.pub-top .menu ul li .list-box {
    display: none;
    position: absolute;
    left: 0;
    z-index: 99;
    background: #fff;
    color: #333;
    font-weight: normal;
    width: 130px;
    padding: 15px 0 15px 20px;
}
.pub-top .menu ul li .list-box a {
    color: #333;
}
.pub-top .menu ul li .list-box a:hover {
    color: #D92B2B;
}
.pub-top .menu ul li .list-box div {
    height: 30px;
    line-height: 30px;
}
.pub-top .menu .icon-menu {
    float: left;
    margin-left: 14px;
}
.pub-top .menu .icon-menu .icon-phone,.icon-wechat,.icon-call {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
    height: 45px;
    cursor: pointer;
    position: relative;
}
.pub-top .menu .icon-call {
    margin-right: 0;
}
.pub-top .menu .icon-menu img {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.pub-top .menu .icon-menu .icon-phone .down-box,
.pub-top .menu .icon-menu .icon-wechat .wx-box,
.pub-top .menu .icon-menu .icon-call .call-box
{
    display: none;
    position: absolute;
    bottom: -190px;
    left: -85px;
    width: 150px;
    height: 190px;
    background: #fff;
    z-index: 99;
}
.pub-top .menu .icon-menu .icon-phone .down-box img,
.pub-top .menu .icon-menu .icon-wechat .wx-box img,
.pub-top .menu .icon-menu .icon-call .call-box img
{
    display: block;
    width: 130px;
    height: 130px;
    background: #ccc;
    margin: 10px 10px;
}
.pub-top .menu .icon-menu .icon-phone .down-box div,
.pub-top .menu .icon-menu .icon-wechat .wx-box div,
.pub-top .menu .icon-menu .icon-call .call-box div
{
    height: 15px;
    line-height: 15px;
    text-align: center;
}


/* -----------------footer底部样式----------------------- */
.footer,.friend  {
    background: #333;
    color: #999;
    position: relative;
    padding-bottom: 20px;
}
.friend .tab-nav {
    padding-top: 20px;
    height: 32px;
}
.friend .tab-nav a {
    float: left;
    padding: 5px 12px;
    font-size: 14px;
    color: #999;
    background: #1A1A1A;
    margin-right: 10px;
    cursor: pointer;
}
.friend .tab-nav  a.current {
    background: #666;
    color: #fff;
}
.friend .tab-con .tab-con-item {
    display: none;
}
.friend .tab-con .tab-con-item li {
    float: left;
    margin-right: 15px;
    list-style: none;
    color: #999;
}
.friend .tab-con .tab-con-item li a {
    color: #999;
}
.friend .tab-con .tab-con-item li:hover a {
    color: #D92B2B;
}
.friend .tab-con .tab-con-item a {
    float: left;
    color: #999;
    margin-right: 15px;
    margin-top: 10px;
}
.friend .tab-con .tab-con-item a:hover {
    color: #D92B2B;
}
.footer .line {
    width: 100%;
    height: 2px;
    box-shadow: inset 0 -1px 0 rgba( 255, 255, 250, 0.2), inset 0 -2px 0 rgba(26,26,26,1);
}
.footer .contact-way {
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    box-shadow: inset 0 -1px 0 rgba( 255, 255, 250, 0.2), inset 0 -2px 0 rgba(26,26,26,1);
}
.footer .contact-way .kf-call {
    margin-right: 30px;
}
.footer .contact-way .kf-call em {
    color: #FF9913;
    margin-left: 5px;
}
.footer .contact-way a {
    color: #999;
}
.footer .contact-way .icon-qq {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../image/qq.png) no-repeat;
    position: relative;
    top: 1px;
    margin-right: 5px;
}
.footer .contact-way .kf-qq {
    margin-right: 20px;
}
.footer .contact-way .kf1 {
    margin-right: 10px;
}
.footer .bot {
    position: relative;
}
.footer .bot p a {
    color: #999;
}
.footer .others {
    margin-top: 20px;
    margin-bottom: 17px;
}
.footer .others li {
    float: left;
    margin-right: 20px;
}
.footer .others li a {
    color: #fff;
}
.footer .others li:hover a {
    color: #E62E2E;
}
.footer p.mianze {
    margin-bottom: 16px;
}
.footer p.copyright {
    margin-bottom: 18px;
}
.footer .icons span {
    display: inline-block;
    width: 100px;
    height: 50px;
}
.footer .icons .icon-safe {
    display: block;
    width: 70px;
    height: 50px;
    background: url(../image/safe.png) no-repeat;
    position: relative;
    top: 10px;
}
.footer .icons .jingying {
    margin-right: 20px;
}
.footer .icons .icon-jingying {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../image/jingying.png) no-repeat;
    float: left;
}
.footer .icons .gongshang{
    width: 90px;
    margin-right: 25px;
}
.footer .icons .icon-gongshang {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../image/gongshang.png) no-repeat;
    float: left;
    position: relative;
    left: -5px;
}
.footer .icons .icon-wxb {
    display: block;
    width: 85px;
    height: 30px;
    background: url(../image/wangxinban.png) no-repeat;
    position: relative;
    top: 22px;
}
.footer .down-app {
    width: 120px;
    position: absolute;
    top: 50px;
    left: 860px;
    text-align: center;
    color: #fff;
}
.footer .down-app p {
    /* margin-top: 5px; */
}
.footer .down-app img {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.footer .wx-gzh {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 990px;
    text-align: center;
    color: #fff;
}
.footer .wx-gzh p {
    width: 99px;
}
.footer .licence:hover{
    color:red;
}
/*免责声明 S*/
.disclamer-line{
    color: #999;
    text-align: left;
    overflow:hidden;
    margin-bottom:5px;
}
.no-margin{
    margin-top:20px !important;
}
.disclamer-line span{
    font-size: 12px !important
}
.disclamer-line .disclamer-check{
    width:10px;
    height: 10px;
    border:1px solid #999;
    border-radius: 2px;
    margin-top:3px !important;
    margin-right:5px !important;
    cursor:pointer;
    position:relative;
    display: inline-block
}
.disclamer-line a{
    color:#1F80C7;
    border-bottom:1px solid #1F80C7;
    display: inline-block;
    width:80px;
    text-align: center;
    overflow:hidden;
    position:relative;
    height:17px;
}
.disclamer-line a span{
    width:80px;
    left:-4px !important;
}
.disclamer-line span.disclamer-text{
    margin-right: 5px !important
}
.disclamer-line .disclamer-check i.fa-check{
    position:absolute;
    top: -1px;
    color: #1F80C7;
}
/*免责声明 E*/
/*搜索*/
#seach{
    margin-top:10px;
    overflow: hidden;
    position: relative;
}
#seach .text {
    float: left;
    width:373px;
    height:30px;
    line-height: 30px;
    color: #333333;
    outline: 0;
    font-size: 12px;
    overflow: visible;
    border-radius:2px 0px 0px 2px;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-right: 26px;
}
#seach .button {
    float: left;
    width:60px;
    height:30px;
    border: none;
    border:1px solid rgba(255,255,255,1);
    background: #D92B2B;
    background: -ms-linear-gradient(0deg,rgba(217,43,43,1) 0%,rgba(191,38,38,1) 100%);
    background: -moz-linear-gradient(0deg,rgba(217,43,43,1) 0%,rgba(191,38,38,1) 100%);
    background: -webkit-linear-gradient(0deg,rgba(217,43,43,1) 0%,rgba(191,38,38,1) 100%);
    background: -o-linear-gradient(0deg,rgba(217,43,43,1) 0%,rgba(191,38,38,1) 100%);
    border-radius:0px 2px 2px 0px;
    line-height: 1;
    cursor: pointer;
    outline: none;
}
#seach .clear-icon{
    width: 16px;
    height: 16px;
    background: url("/assets/home/search/img/clear.png") center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 65px;
    top:8px;
    display: none;
    cursor: pointer;
}

.pagebox {
    margin: 24px 0;
}
.pagebox .page {text-align: center;line-height:30px; font-family:"Microsoft YaHei"; width:auto; max-width:1210px; margin:0 auto;font-size:14px;}
.pagebox .page a,.page strong {display: inline-block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid #d8d8d8; color: #505050;padding: 0px 12px;vertical-align: middle;margin-left:0px;box-shadow:none; border-radius:2px; margin: 0 3px;}
.page em{ margin:0 5px}
.pagebox .page .pageheader{font-size: 14px; margin-left: 5px;}
.pagebox .page a.first {border-left: 1px solid #d8d8d8;}
.pagebox .page a:first-child{background: #F7F7F7;border: 1px solid #E5E5E5;border-radius:2px;}
.pagebox .page a:last-child{background: #F7F7F7;border: 1px solid #E5E5E5;border-radius:2px;}
.pagebox .page a:hover, .page a.current, .page strong {
    color: white!important;
    text-decoration: none;
    background:#DB2C2C!important;
    border: 1px solid #DB2C2C!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

