
/* 登录 */
.qcc-login{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    z-index: 99;

}
.qcc-login-main{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -185px;
    width: 370px;
    min-height: 320px;
    background: #fff;
}
.qcc-login-main .login-top{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 24px;
    margin: 30px 0 28px 30px;
}
.qcc-login-main .login-form{
    padding: 0 30px;
    font-size: 14px;
}
.qcc-login-main .login-form .phone,
.qcc-login-main .login-form .code{
    padding-left: 46px;
    height: 46px;
    background-size: 46px 46px;
}
.qcc-login-main .login-form .phone{
    background: url("/assets/common/image/qcc-user-icon.png") no-repeat 0 0;
}
.qcc-login-main .login-form .code{
    background: url("/assets/common/image/qcc-code-icon.png") no-repeat 0 0;
}
.qcc-login-main .login-form .phone input,
.qcc-login-main .login-form .code input{
    padding-left: 10px;
    height: 44px;
    line-height: 44px;
    color: #333;
    border: 1px solid #D9D9D9;
}
.qcc-login-main .login-form .phone input{
    width: 250px;
}
.qcc-login-main .login-form .code input{
    width: 120px;
}
.qcc-login-main .login-form .code .code-get{
    display: inline-block;
    width: 125px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #FF5353;
    color: #fff;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    cursor: pointer;
}
.qcc-login-main .login-form .code .code-text{
    display: none;
    width: 125px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #dddddd;
    color: #999;
}
.qcc-login-main .login-form .btn{
    line-height: 46px;
    background-color: #FF5353;
    text-align: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    margin-top: 20px;
    margin-bottom: 50px;
}
.qcc-login-main .login-form .mark{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #FF5353;
}
.qcc-login-main .close-btn{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
    background: url('/assets/common/image/qcc-close-icon.png') no-repeat 0 0;
    background-size: cover;
    cursor: pointer;
}