.sq-bgwindow{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    background:rgba(0,0,0,0.6);
    z-index:9999;
}
.sq-box{
    width:407px;
    height: 353px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    background: url("/assets/home/decoration/img/success-bg.png");
}
.sq-box .sq-success-tit{
    font-size:36px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-top:125px;
    margin-bottom: 46px;
}
.sq-box p{
    font-size:18px;
    color: #fff;
    text-align: center;
}
.sq-close{
    width:33px;
    height: 33px;
    margin:0 auto;
    margin-top: 85px;
    cursor: pointer;
}
