/* pages/jsq.wxss */
@import '../../../styles/public.css';
page::after{
    height: 0px!important;
}
@font-face {
 font-family: 'iconfont';  /* project id 631906 */
 src: url('//at.alicdn.com/t/font_631906_myrnjo6ysbdquxr.eot');
 src: url('//at.alicdn.com/t/font_631906_myrnjo6ysbdquxr.eot?#iefix') format('embedded-opentype'),
 url('//at.alicdn.com/t/font_631906_myrnjo6ysbdquxr.woff') format('woff'),
 url('//at.alicdn.com/t/font_631906_myrnjo6ysbdquxr.ttf') format('truetype'),
 url('//at.alicdn.com/t/font_631906_myrnjo6ysbdquxr.svg#iconfont') format('svg');
}
  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .iconsite2{
    color:#333!important;
 }
.qzb-div{
    padding-bottom: 130rpx;
}
.qzb-titimg{
    width: 100%;
    height: 691rpx;
    background-image: url('https://staticqn.qizuang.com/custom/20200812/FhNi2CQhy4ZZEwL8C2fG5uLKvwJD');
    background-size: 100% 691rpx;
    background-repeat: no-repeat;
}
.qzb-from{
    border-radius: 16rpx;
    width: 690rpx;
    height: 562rpx;
    margin: -120rpx auto 0 auto;
    z-index: 99;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.08);
}
.tex-ali{
    text-align: center;
}
.qzb-e{
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(250,146,39,1);
    padding-top: 20rpx;
}
.qzb-c{
    font-size:22rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(250,146,39,1);
    padding: 5rpx 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qzb-text{
    margin: 0 20rpx;
}
.qzb-dash{
    width: 55rpx;
    margin-top: 1rpx;
    border-top: 1rpx solid #E4E4E4;
}
.c-zb-city {
    width:620rpx;
    height:90rpx;
    line-height: 90rpx;
    background:rgba(238,241,244,1);
    border-radius:6rpx;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20rpx;
    margin: 0 auto;
}
.qzb-inputs{
    margin-top: 20rpx;
}
.mar-t{
    margin-top: 30rpx;
}
.item{
    line-height: 40rpx;
    padding: 10rpx 0;
    height:40rpx;
    font-size:24rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:#999;
}
.item .sm{
   color:#FA9227;
   text-decoration:none;
   display: inline-block;
   border-bottom: 1rpx solid #FA9227;
}
.check-box .swan-checkbox-input{
    width: 30rpx;
    height: 30rpx;
    border-radius: 0;
}
.check-box[checked=true] .swan-checkbox-input:after{
    width: 32rpx;
    height: 32rpx;
    background-color: #FA9227;
}
.qzb-check{
    width:620rpx;
    text-align: left;
    margin: 20rpx auto 40rpx auto;
}
.qzb-btn{
    width:620rpx;
    height:90rpx;
    line-height: 90rpx;
    background:rgba(238,241,244,1);
    border-radius:6rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20rpx;
    margin: 0 auto;
    background:linear-gradient(90deg,rgba(216,194,152,1),rgba(197,167,113,1));
    font-size:36rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.qzb-gua{
    width:100%;
    height:340rpx;
    margin-top: 40rpx;
    z-index: 99;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.08);
    padding-top: 30rpx;
}
.qzb-gua-div{
    text-align: center;
    margin-bottom: 20rpx;
}
.qzb-gua-img{
    width: 426rpx;
    height: 34rpx;
}
.qzb-gua-text{
    width:680rpx;
    height:124rpx;
    line-height: 60rpx;
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    margin: 0 auto;
}
.bottom-point-div{
    text-align: center;
    margin-top: 80rpx;
}
.bottom-point{
    width: 25rpx;
    height: 25rpx;
}
.none{
    display: none;
}
.dialog{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top: 0;
}
.dialog-div{
    width: 100%;
    height: 100%;
}
.dialog-content{
    width:630rpx;
    height:750rpx;
    background:#fff;
    border-radius:16rpx;
    margin: 0 auto;
    margin-top: 120rpx;
    overflow:scroll;
    padding-bottom: 40rpx;
}
.dialog-title{
    font-size:36rpx;
    font-family:PingFang SC;
    font-weight:bold;
    color:rgba(51,51,51,1);
    text-align: center;
    padding: 40rpx 0 30rpx 0;
}
.dialog-text{
    width:537rpx;
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:48rpx;
    margin: 0 auto;
    text-indent:60rpx;
}
.general{
    width: 530rpx;
    margin: 0 auto;
}
.general-h2{
    font-size:32rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    margin: 20rpx 0 10rpx 0;
}
.general-item{
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:45rpx;
}
.fork-div{
    text-align: center;
    margin-top: 40rpx;
}
.fork{
    width: 74rpx;
    height: 74rpx;
}
.qa-div{
    margin-top: 20rpx;
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.08);
}
.qa-img{
    width: 100%;
    height: 1024rpx;
}
.apply-div{
    margin-top: 20rpx;
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.08);
}
.apply-img{
    width: 100%;
    height: 635rpx;
}
.brand-div{
    margin-top: 20rpx;
    box-shadow:0px 1px 20px 0px rgba(0, 0, 0, 0.08);
}
.brand-img{
    width: 100%;
    height: 307rpx;
}
.qzb-btn-two{
    width:690rpx;
    height:90rpx;
    border-radius:6rpx;
    line-height: 90rpx;
    background:rgba(238,241,244,1);
    border-radius:6rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20rpx;
    margin: 0 auto;
    background:linear-gradient(90deg,rgba(216,194,152,1),rgba(197,167,113,1));
    font-size:36rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(255,255,255,1);
    margin-top: 30rpx;
}
.dialog-success{
    width:630rpx;
    height:520rpx;
    background:#fff;
    border-radius:16rpx;
    margin: 0 auto;
    margin-top: 200rpx;
    overflow:scroll;
    padding-bottom: 40rpx;
    text-align: center;
}
.success-img-div{
    margin-top: 45rpx;
}
.success-img{
    width: 135rpx;
    height: 135rpx;
}
.success-title{
    font-size:36rpx;
    font-family:Microsoft YaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    line-height:78rpx;
}
.success-content{
    width:400rpx;
    height:66rpx;
    font-size:28rpx;
    font-family:PingFang SC;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:40rpx;
    margin: 0 auto;
}
.determine{
    width:550rpx;
    height:90rpx;
    line-height: 90rpx;
    color: #fff;
    background:rgba(250,146,39,1);
    border-radius:45rpx;
    margin: 80rpx auto 0 auto;
}