.company-list {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    background: #fff;
    z-index: 999;
    transition: all .3s;
    border-right: 0.5px solid #eae9e9;
}

#oc-btn {
    position: absolute;
    width: 15px;
    height: 120px;
    background: #FFFFFF;
    right: -15px;
    top: 50%;
    margin-top: -60px;
    line-height: 120px;
    text-align: center;

}

#oc-btn span {
    display: inline-block;
    color: #333333;
    width: 11px;
    height: 11px;
    background: url("../img/oc-btn.png") no-repeat center;
    background-size: 100% 100%;
    transform: rotate(180deg);
}

#oc-btn:hover {
    cursor: pointer;
}

.list-box {
    width: 100%;
    overflow: hidden;
}

.search {
    /*padding: 20px 30px;*/
    width: 100%;
    background: #fff;
    margin: 12px 0;
    padding: 0 25px;
    box-sizing: border-box;
}

.search .search-box {
    width: 300px;
    border: 2px solid #DB2C2C;
    border-radius: 3px;
}

.sec {
    width: 96px;
    height: 30px;
    background: #F5F5F5;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
}

.search .search-box select {
    width: 100%;
    background: #F5F5F5;
    border: none;
    outline: none;
    height: 30px;
}

.search .search-box select option {
    font-size: 14px;
    color: #333;
}

.search .search-box input.search-con {
    width: 141px;
    outline: none;
    height: 30px;
    line-height: 30px;
    border: none;
    padding-left: 8px;
    float: left;
    color: #999999;
}

.search .search-box input.search-btn {
    width: 55px;
    height: 30px;
    background: #DB2C2C url("../img/city-search.png") no-repeat center;
    background-size: 25px 25px;
    border: none;
    padding: 0;
    outline: none;
    color: #fff;
    float: left;
}

.search .search-box input.search-btn:hover {
    cursor: pointer;
}

.pos {
    padding: 8px 30px;
    background: #F5F5F5;
}

.pos-i {
    float: left;
    width: 275px;

}

.pos-i span {
    font-size: 14px;
    color: #666666;
}

.pos-i span strong {
    color: #333333;
    font-weight: 400;
}

.zxdt-res {
    float: left;
}

.zxdt-res span {
    font-size: 14px;
    color: #999999;
}

.zxdt-res span strong {
    color: #DB2C2C;
    font-weight: 400;
}

#container {
    width: calc(100% - 350px);
    float: right;
    transition: all .3s;
}

.list {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*background: #fff;*/
    /*z-index: 999;*/
}

.list li {
    padding: 11px 25px;
    position: relative;
}


.list li:hover {
    background: #F5F5F5;
    cursor: pointer;
}

.list li h3 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    display: inline-block;
    width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list li h3 span {
    display: inline-block;
    width: 18px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-right: 6px;
    background: url("../img/zxdt-list-index.png") no-repeat center;
}

.list li a {
    font-style: normal;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #6AA8FF;
    border-radius: 2px;
    text-align: center;
    margin-left: 2px;
    vertical-align: 5px;
    position: absolute;
    top: 12px;
    right: 27px;
}

.list li p {
    padding-left: 24px;
    font-size: 12px;
    color: #999999;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list li.active {
    background: #F5F5F5;
    cursor: pointer;
}

.list li.active h3 {
    color: #FF8929;
}

.list li.active h3 span{
    background: url("../img/zxdt-list-index-hover.png") no-repeat center;
}


.zxdt-card {
    background: #fff;
    width: 480px;
    box-sizing: border-box;
    /*background: url("../img/zxdt-card.png") no-repeat center;*/
}


.zxdt-card-top {
    padding-bottom: 20px;
    min-height: 138px;
}

.zxdt-card .company-img {
    width: 180px;
    height: 116px;
    float: left;
}

.zxdt-card .company-img a, .zxdt-card .company-img span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #666666;
    margin-top: 8px;
}

.zxdt-card .company-img img {
    width: 100%;
    height: 100%;
    border: 1px solid #E6E6E6;
}

.company-con {
    width: 285px;
    float: right;
}

.company-con .intro {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.company-con h2 {
    font-size: 16px;
    color: #333333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.company-con p {
    font-size: 12px;
    color: #BBBBBB;
    margin-top: 10px;
}

.company-con p i {
    color: #333333;
    font-style: normal;
}

.company-con p span {
    color: #DB2C2C;
}

.company-con .num {
    margin-top: 15px;
}

.company-con .num span {
    font-size: 12px;
    color: #333333;
    margin-right: 13px;
}

.company-con .num span:last-of-type {
    margin-right: 0;
}

.company-con .num span i {
    font-style: normal;
    color: #DB2C2C;
}

.zxdt-card-bottom {
    padding-top: 20px;
    border-top: 1px solid #E6E6E6;
}

.zxdt-info {
    float: left;
    width: 260px;
}

.zxdt-info p {
    font-size: 14px;
    margin-top: 5px;
    color: #333333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.zxdt-info p span {
    color: #DB2C2C;
    font-weight: 600;
}


.zxdt-btn {
    float: right;
    margin-top: 7px;
}

.zxdt-btn a {
    display: inline-block;
    padding: 10px;
    background: #FF8929;
    color: #fff;
    margin-right: 15px;
}

.zxdt-btn a img {
    margin-right: 5px;
    vertical-align: -1px;
}


.zxdt-btn a:last-of-type {
    background: #3388FF;
    margin-right: 0;
}

.page {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.page a {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #E5E5E5;
    margin: 0 2px;
}

.map-box.full {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.map-wrap {
    position: relative;
    height: 833px
}

.map-box.full .map-wrap {
    height: calc(100% - 52px);
}

.features {
    float: right;
}

.features div {
    float: left;
    color: #DB2C2C;
    font-size: 14px;
    margin-left: 30px;

}

.features div a {
    color: #DB2C2C;
}

.features div img {
    vertical-align: -3px;
    margin-right: 8px;
}

.features div:hover {
    cursor: pointer;
}
