<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <block name="meta"></block>
    <block name="style"></block>
    <include file="Index:resource_509" />
    <link rel="stylesheet" type="text/css" href="/assets/home/search/css/basic_tu.css?v={:C('STATIC_VERSION')}">
</head>
<body>
<include file="Index:header_509" />
<div class="turesult">
    <div class="turesult-nav">
        <div class="wrap">
            <ul>
                <li <eq name="navidx" value="all"> class="active" </eq> >
                    <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/search/{$module}/?keyword={$keyword}">全部</a>
                </li>
                <li <eq name="navidx" value="tu"> class="active" </eq> >
                    <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/search/{$module}/tu/?keyword={$keyword}">美图</a>
                </li>
                <li <eq name="navidx" value="xgt"> class="active" </eq> >
                    <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/search/{$module}/xgt/?keyword={$keyword}">案例</a>
                </li>
                <li <eq name="navidx" value="gonglue"> class="active" </eq> >
                    <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/search/{$module}/gonglue/?keyword={$keyword}">装修攻略</a>
                </li>
            </ul>
        </div>
    </div>
    <block name="content">
    </block>
</div>
<include file="Index:footer_509" />
<block name="script"></block>
<script type="text/javascript">
    var http = '{$SCHEME_HOST.scheme_full}';
    var domain = '{$SCHEME_HOST.domain}';
    $(".navlist li").removeClass("active").eq("{$tab|default=0}").addClass("active");
    $(function () {
        var search = '';
        $("input[name=seach]").bind('input propertychange',function () {
            search = $("input[name=seach]").val();
            if(search != ''){
                $(".clear-icon").show();
            }else{
                $(".clear-icon").hide()
            }
        });
        //清空搜索框内容
        $("body").on("click","#seach .clear-icon",function () {
            $('input[name=seach]').val("");
            $(this).hide()
        });
        //获取url中的keyword
        var getParameterByName = function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/,
                "\\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(
                results[1]);
        };
        var keyword = getParameterByName("keyword");
        $("input[name=seach]").val(keyword);
        //搜索
        $(".search-btn").click(function () {
            searchData()
        });

        //键盘enter
        $("#seach input").keyup(function(e){
            if(e.keyCode == 13){
                searchData()
            }
        });

        function searchData() {
            var str_index = location.href.indexOf('?');
            search = $("input[name=seach]").val();
            if(str_index > -1){
                var str = location.href.slice(0,str_index)
                if(search != ''){
                    window.location.href = str + '?keyword='+search
                }else{
                    window.location.href = str
                }
            }else{
                var str = location.href
                if(search != ''){
                    window.location.href = str+ '?keyword='+search
                }else{
                    window.location.href = str
                }
            }
        }
    })
</script>
