<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <block name="meta">
        <title></title>
    </block>
    <block name="style"></block>
    <include file="Index:resource_509" />
    <link rel="stylesheet" type="text/css" href="/assets/home/search/css/basic.css?v={:C('STATIC_VERSION')}">
</head>
<body>
<div class="pub-top">
    <div class="wrap clearfix">
        <div class="logo">
            <if condition="empty($cityInfo['id'])">
                <a href="/"><img src="/assets/common/image/logo.png" alt=""></a>
            <else/>
                <a href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/"><img src="/assets/common/image/logo.png" alt=""></a>
            </if>
        </div>
        <div class="city">
            <if condition="isset($cityInfo) and !empty($cityInfo['id'])">
                <a href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/">{$cityInfo.name}<i class="icon-down"></i></a>
            <else/>
            <a href="javascript:void(0)">全国<i class="icon-down"></i></a>
            </if>
            <div class="city-list">
                <div class="city-tabs clearfix">
                    <span class="act">热门城市</span>
                    <span>ABCDEFGH</span>
                    <span>JKLMNQST</span>
                    <span>WXYZ</span>
                </div>
                <div class="lists hot-list">
                    <ul>

                    </ul>
                </div>
                <!-- ABCDEFGH -->
                <div class="lists list1">
                    <ul>

                    </ul>
                </div>
                <!-- JKLMNQST -->
                <div class="lists list2">
                    <ul>

                    </ul>
                </div>
                <!-- WXYZ -->
                <div class="lists list3">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
        <div class="nav">
            <div id="seach">
                <input type="text" autocomplete="off" name="seach" class="text" placeholder="请输入关键字">
                <button class="button cw-icon search-btn">
                    <img src="/assets/home/search/img/search.png" />
                </button>
                <span class="clear-icon"></span>
            </div>
        </div>
        <div class="menu">
            <ul class="clearfix">
                <if condition="isset($_SESSION['u_userInfo'])">
                    <li>
                        <if condition="$_SESSION['u_userInfo']['classid'] eq 1">
                            <a href="{$SCHEME_HOST.scheme_full}space.qizuang.com/" target="_blank">
                                <switch name="Think.session.u_userInfo.classid">
                                    <case value="1">{$_SESSION['u_userInfo']['name']}</case>
                                    <case value="2">{$_SESSION['u_userInfo']['name']}</case>
                                    <case value="3">{$_SESSION['u_userInfo']['jc']}</case>
                                </switch>
                            </a>
                            <else/>
                            <a href="{$SCHEME_HOST.scheme_full}u.qizuang.com/home/" target="_blank">
                                <switch name="Think.session.u_userInfo.classid">
                                    <case value="1">{$_SESSION['u_userInfo']['name']}</case>
                                    <case value="2">{$_SESSION['u_userInfo']['name']}</case>
                                    <case value="3">{$_SESSION['u_userInfo']['jc']}</case>
                                </switch>
                            </a>
                        </if>
                        <a class="loginout" href="javascript:void(0)">退出</a>
                    </li>
                    <else/>
                    <li><a href="javascript:;" class="loginin">业主登录</a></li>
                    <li class="line">|</li>
                    <li class="c-center">
                        <a href="javascript:;">商户中心</a>
                        <div class="list-box">
                            <div><a href="{$SCHEME_HOST.scheme_full}u.{$SCHEME_HOST.domain}/">商户登录</a></div>
                            <div><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/ruzhu/">商户入驻</a></div>
                        </div>
                    </li>
                </if>
            </ul>
            <div class="icon-menu">
                <div class="icon-phone">
                    <img src="/assets/common/image/phone.png" alt="">
                    <div class="down-box">
                        <img src="/assets/common/image/qrcode/app-qz-yyb.png" alt="">
                        <div>{:C('APP_OPEN_TITLE')}</div>
                        <div>{:C('APP_OPEN_DESCRIPTION')}</div>
                    </div>
                </div>
                <div class="icon-wechat">
                    <img src="/assets/common/image/wechat.png" alt="">
                    <div class="wx-box">
                        <img src="/assets/common/image/wx-gzh.png" alt="">
                        <div>关注微信</div>
                        <div>装修美图抢先看</div>
                    </div>
                </div>
                <div class="icon-call">
                    <img src="/assets/common/image/call.png" alt="">
                    <div class="call-box">
                        <img src="/assets/common/image/xcx-call.png" alt="">
                        <div>400-6969-336</div>
                        <div>微信扫码拨打服务热线</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<if condition="$is_top NEQ '0'">
    <!--客服挂件，回到顶部-->
    <div class="fix_warp">
        <!--客服挂件-->
        <if condition="empty($_COOKIE['m_to_pc'])">
            <!--S 435 右侧挂件更新-->
            <div class="kefu_right">
                <ul class="kefu_right_list">
                    <li>
                        <img src="/assets/common/img/1.png" alt="设计报价" />
                        <p>设计报价</p>
                    </li>
                    <li>
                        <img src="/assets/common/img/2.png" alt="装修服务" />
                        <p>装修服务</p>
                    </li>
                    <li>
                        <img src="/assets/common/img/3.png" alt="家居建材" />
                        <p>家居建材</p>
                    </li>
                    <li>
                        <img src="/assets/common/img/4.png" alt="工程质检" />
                        <p>工程质检</p>
                    </li>
                    <li>
                        <img src="/assets/common/img/5.png" alt="商务合作" />
                        <p>商务合作</p>
                    </li>
                    <li>
                        <img src="/assets/common/img/6.png" alt="投诉反馈" />
                        <p>投诉反馈</p>
                    </li>
                    <li class="logo_img">
                        <img src="/assets/common/img/erweima_small.png" />
                    </li>
                    <li class="logo_img">
                        <img src="/assets/common/img/jisuanqi_small.png" />
                    </li>
                    <li class="logo_img">
                        <img src="/assets/common/img/jiantou.png" />
                    </li>
                </ul>
            </div>
            <div class="kefu_right_enter">
                {:OP('53kf','yes')}
                <ul class="kefu_right_list_enter">
                    <li class="bigimg_list active">
                        <div class="big_img">
                            <img src="/assets/common/img/11.png" alt="设计报价" />
                        </div>
                        <div class="small_img">
                            <img src="/assets/common/img/1.png" alt="设计报价" />
                            <span>设计报价</span>
                        </div>
                    </li>
                    <li class="bigimg_list">
                        <div class="big_img">
                            <img src="/assets/common/img/22.png" alt="设计报价" />
                        </div>
                        <div class="small_img">
                            <img src="/assets/common/img/2.png" alt="装修服务" />
                            <span>装修服务</span>
                        </div>
                    </li>
                    <li class="bigimg_list">
                        <div class="big_img">
                            <img src="/assets/common/img/33.png" alt="设计报价" />
                        </div>
                        <div class="small_img">
                            <img src="/assets/common/img/3.png" alt="家居建材" />
                            <span>家居建材</span>
                        </div>
                    </li>
                    <li class="bigimg_list">
                        <div class="big_img">
                            <img src="/assets/common/img/44.png" alt="设计报价" />
                        </div>
                        <div class="small_img">
                            <img src="/assets/common/img/4.png" alt="工程质检" />
                            <span>工程质检</span>
                        </div>
                    </li>
                    <li class="bigimg_list">
                        <div class="big_img">
                            <img src="/assets/common/img/55.png" alt="设计报价" />
                        </div>
                        <div class="small_img">
                            <img src="/assets/common/img/5.png" alt="商务合作" />
                            <span>商务合作</span>
                        </div>
                    </li>
                    <li class="bigimg_list">
                        <div class="big_img">
                            <img src="/assets/common/img/66.png" alt="设计报价" />
                        </div>
                        <div class="small_img">
                            <img src="/assets/common/img/6.png" alt="投诉反馈" />
                            <span>投诉反馈</span>
                        </div>
                    </li>
                    <li class="logo_img_enter baojia_list" id="s-zxzb">
                        <div class="small_img">
                            <img src="/assets/common/img/jisuanqi_small.png" alt="装修询价" />
                            <span>装修询价</span>
                        </div>
                    </li>
                    <li class="logo_img_enter saoma_list">
                        <div class="small_img">
                            <img src="/assets/common/img/erweima_small.png" alt="扫码关注" />
                            <span>扫码关注</span>
                        </div>
                    </li>
                    <li class="logo_img_enter goback_list">
                        <div class="small_img">
                            <img src="/assets/common/img/jiantou.png" alt="返回顶部" />
                            <span>返回顶部</span>
                        </div>
                    </li>
                </ul>
                <div class="right-content" onclick="open_pic_chat()">
                    <div class="right-content-top">
                        <img src="/assets/common/img/logo.png" />
                        <span
                                style="margin-right:13px;color: #fff;position: relative;font-size: 22px;top:-20px;">|</span>
                        <span class="right-content-tit">设计报价在线咨询</span>
                    </div>
                    <div class="right-content-center">
                        <div class="touxiang_logo">
                            <img src="/assets/common/img/11.png" />
                        </div>
                        <div class="right-content-des">
                            <p>设计报价在线咨询</p>
                            <p>专业设计报价团队，历时三年的数据分析，根据上百万条案例数据分析，为您打造最适宜的设计报价方案。</p>
                        </div>
                    </div>
                    <div class="right-content-bottom">
                        <div class="kefu_logo">
                            <img src="/assets/common/img/1.png" />
                        </div>
                        <span class="kefu_talk">您好，您已进入工程质检专线，请问有什么可以帮助您？</span>
                    </div>
                    <div class="kefu_edit">
                        <img src="/assets/common/img/kefu_edit.png" />
                        <textarea placeholder="请输入您的问题或截图" rows="2"></textarea>
                        <button type="button" class="kefu_send">发送</button>
                    </div>
                </div>
                <div class="guanzhubj" style="display: none;">
                    <div class="guanzhubj_left">
                        <img class="apptup" src="/assets/common/image/qrcode/app-qz-yyb.png" alt="下载app二维码">
                        <p class="weibopbq">{:C('APP_OPEN_TITLE')}</p>
                        <p>{:C('APP_OPEN_DESCRIPTION')}</p>
                        <img class="weibotup" src="/assets/common/img/weibo-hover.png" alt="齐装网微博">
                        <p class="weibopbq">关注小程序</p>
                        <p>装修不迷茫</p>
                        <img class="weixingzh" src="/assets/common/img/weixingongzhao.jpg" alt="齐装网微信公众号">
                        <p class="weixinms">关注微信</p>
                        <p>贴心顾问随身</p>
                        <p>专业保"家"护航</p>
                    </div>
                </div>
            </div>
            <!--E 435 右侧挂件更新-->
        </if>
    </div>
</if>
<div class="search-article">
    <div class="article-nav">
        <div class="wrap">
            <ul class="navlist">
                <li data-url="zxkx">全部</li>
                <li data-url="lc">装修流程</li>
                <li data-url="baike">装修百科</li>
                <li data-url="wenda">装修问答</li>
                <li data-url="zhinan">装修指南</li>
                <li data-url="xcdg">选材导购</li>
            </ul>
        </div>
    </div>
    <div class="wrap search-result">
        <if condition="$total GT 0">
            <if condition="empty($keyword)">
                为您找到{$total}个相关结果
                <else/>
                为您找到{$total}个与“{$keyword}”相关结果
            </if>
        </if>
    </div>
    <block name="content">
    </block>
</div>
<include file="Index:footer_509" />
<block name="script"></block>
<script type="text/javascript">
    var http = '{$SCHEME_HOST.scheme_full}';
    var domain = '{$SCHEME_HOST.domain}';
    $(".navlist li").removeClass("active").eq("{$tab|default=0}").addClass("active");
    $('.loginin').click(function () {
        window.location.href="{$SCHEME_HOST.scheme_full}{:C('QZ_PASSPORT_ACCOUNT_DONAMES')}/login?redirect="+window.location.href;
    });
    $(document).scroll(function(){
        var scrollTop = $(document).scrollTop();
        var height = $(window).height();
        if(scrollTop > height){
            $(".kefu_right_list .logo_img").css("display","block")
        }else{
            $(".kefu_right_list .logo_img").css("display","none")
        }
    });
    $("#s-zxzb").click(function(event) {
        var _this = $(this);
        $.ajax({
            url: '/dispatcher/',
            type: 'POST',
            dataType: 'JSON',
            data: {
                type:"bj",
                source: 159,
                action:"load"
            }
        })
            .done(function(data) {
                if (data.status == 1) {
                    $("body").append(data.data);
                    if(navigator.appName == "Microsoft Internet Explorer"){
                        $(".zxfb").show();
                        _this.hide();
                    }else{
                        $(".zxfb").fadeIn(400,function(){
                            $(this).find("input[name='bj-xiaoqu']").focus();
                        });
                        $(".zxbj_content").removeClass('smaller');
                    }
                    $(".win_box .win-box-bj-mianji").addClass('focus').focus();
                }
            });
    });
    //鼠标移入到小挂件图标时，小挂件隐藏，大挂件显示
    $(".kefu_right ul li").on('mouseenter',function () {
        $(".kefu_right_enter").show();
        $(".kefu_right").hide();
    });
    //鼠标移入大挂件图标时
    $(".kefu_right_enter ul .bigimg_list").mouseenter(function () {
        var index = $(this).index()
        $(".right-content").show();
        $(".guanzhubj").hide();
        $(".kefu_right_enter ul li").removeClass("active");
        $(".kefu_right_enter ul li").find(".big_img").css({"height":"0","overflow":"hidden"});
        $(this).addClass("active");
        $(this).find(".big_img").css("height","100px");
        $(".touxiang_logo").html('<img src="/assets/common/img/'+ (index+1) + (index+1) +'.png" />');
        $(".kefu_logo").html('<img src="/assets/common/img/'+ (index+1) +'.png" />');
        if(index == 0){
            $(".right-content-tit").html('设计报价在线咨询');
            $(".right-content-des p").eq(0).html('设计报价在线咨询');
            $(".right-content-des p").eq(1).html('专业设计报价团队，历时三年的数据分析，根据上百万条案例数据分析，为您打造最适宜的设计报价方案。');
            $(".kefu_talk").html('您好，您已进入设计报价专线，请问有什么可以帮助您？')
        }else if(index == 1){
            $(".right-content-tit").html('装修服务在线咨询');
            $(".right-content-des p").eq(0).html('装修服务在线咨询');
            $(".right-content-des p").eq(1).html('小白用户不用怕，从收房到入住一站式装修类问题，专业客服为您来解答，让您全面了解齐装网装修服务。');
            $(".kefu_talk").html('您好，您已进入装修服务专线，请问有什么可以帮助您？')
        }else if(index == 2){
            $(".right-content-tit").html('家居建材在线咨询');
            $(".right-content-des p").eq(0).html('家居建材在线咨询');
            $(".right-content-des p").eq(1).html('买品牌家居建材，就上齐装网，合作商家遍布全国，给你更多选择。');
            $(".kefu_talk").html('您好，您已进入家居建材专线，请问有什么可以帮助您？')
        }else if(index == 3){
            $(".right-content-tit").html('工程质检在线咨询');
            $(".right-content-des p").eq(0).html('工程质检在线咨询');
            $(".right-content-des p").eq(1).html('审核报价、质量监管、装修材料检查，一站式解决施工烦恼，为您提供专业的装修全过程质检服务。');
            $(".kefu_talk").html('您好，您已进入工程质检专线，请问有什么可以帮助您？')
        }else if(index == 4){
            $(".right-content-tit").html('商务合作在线咨询');
            $(".right-content-des p").eq(0).html('商务合作在线咨询');
            $(".right-content-des p").eq(1).html('全方位介绍公司，增加公司曝光，获得更多订单，推广您的产品，更多合作，请点击下方联系');
            $(".kefu_talk").html('您好，您已进入商务合作专线，请问您的公司在哪个城市呢？')
        }else if(index == 5){
            $(".right-content-tit").html('投诉反馈在线咨询');
            $(".right-content-des p").eq(0).html('投诉反馈在线咨询');
            $(".right-content-des p").eq(1).html('装修、设计遇到问题？请在线联系我们客服，将第一时间给您解答。');
            $(".kefu_talk").html('您好，您已进入投诉反馈专线，请问有什么可以帮到您？')
        }
    });
    $(".saoma_list").mouseenter(function () {
        $(".kefu_right_enter ul li").removeClass("active");
        $(".kefu_right_enter ul li").find(".big_img").css({"height":"0","overflow":"hidden"});
        $(".right-content").hide();
        $(".guanzhubj").show();
    }).mouseleave(function () {
        $(".guanzhubj").hide();
    });
    //鼠标移出挂件区域
    $(".kefu_right_enter").mouseleave(function () {
        $(".kefu_right_enter").hide();
        $(".kefu_right").show();
    });
    //回到顶部
    $(".goback_list").click(function () {
        $('body,html').animate({scrollTop:0},1000);
        return false;
    });
    $(".loginout").click(function(event) {
        var _this = $(this);
        $.ajax({
            url: '/loginout/',
            type: 'GET',
            dataType: 'JSON',
            data: {
                ssid:"{$ssid}"
            }
        })
            .done(function(data) {
                if(data.status == 1){
                    window.location.href = window.location.href;
                }else{
                    $.pt({
                        target: _this,
                        content: data.info,
                        width: 'auto'
                    });
                }
            })
            .fail(function(xhr) {
                $.pt({
                    target: _this,
                    content: '操作失败,请稍后再试！',
                    width: 'auto'
                });
            });
    });
</script>
<script type="text/javascript">
    $(function () {
        var search = '';
        $("input[name=seach]").bind('input propertychange',function () {
            search = $("input[name=seach]").val();
            if(search != ''){
                $(".clear-icon").show();
            }else{
                $(".clear-icon").hide()
            }
        });
        //清空搜索框内容
        $("body").on("click","#seach .clear-icon",function () {
            $('input[name=seach]').val("");
            $(this).hide()
        });
        //获取url中的keyword
        var getParameterByName = function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/,
                "\\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(
                results[1]);
        };
        var keyword = getParameterByName("keyword");
        $("input[name=seach]").val(keyword);
        //搜索
        $(".search-btn").click(function () {
            searchData()
        });

        //导航切换
        //var indexCode = ''
        $(".navlist li").click(function () {
            search = $("input[name=seach]").val();
            var str= $(this).data('url');
            if(search == ''){
                window.location.href = '/search/'+str
            }else{
                window.location.href = '/search/'+str+ '?keyword='+search
            }
        });

        //键盘enter
        $("#seach input").keyup(function(e){
            if(e.keyCode == 13){
                searchData()
            }
        });

        function searchData() {
            var str_index = location.href.indexOf('?');
            search = $("input[name=seach]").val();
            if(str_index > -1){
                var str = location.href.slice(0,str_index)
                if(search != ''){
                    window.location.href = str+ '?keyword='+search
                }else{
                    window.location.href = str
                }
            }else{
                var str = location.href
                if(search != ''){
                    window.location.href = str+ '?keyword='+search
                }else{
                    window.location.href = str
                }
            }
        }
    })
</script>

