<extend name="Search:basic"/>
<block name="meta">
    <title>{$info.title}</title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/home/search/css/company.css?v={:C('STATIC_VERSION')}">
</block>

<block name="content">
    <div class="wrap ofw">
        <div class="header">
            <div class="conpany_xuanz">
                <if condition="isset($info['area'])">
                    <dl class="fuwuquy">
                        <dt><span>所在区域：</span></dt>
                        <div class="qy-item region">
                            <dd>
                                <a target="_blank"  title="不限" rel="nofollow" data-id=""  data-type="region" href="javascript:void(0)">不限</a>
                            </dd>
                            <volist name="info.area" id="vo">
                                <if condition="$_GET['region'] EQ $vo['id']">
                                    <dd>
                                        <a target="_blank"  title="{$vo.name}" rel="nofollow"  data-id="{$vo.id}" data-type="region" class="active" href="javascript:void(0)">{$vo.name}</a>
                                    </dd>
                                <else/>
                                    <dd>
                                        <a target="_blank"  title="{$vo.name}" rel="nofollow" data-id="{$vo.id}"  data-type="region" href="javascript:void(0)">{$vo.name}</a>
                                    </dd>
                                </if>
                            </volist>
                        </div>
                    </dl>
                </if>
                <dl class="fuwuquy">
                    <dt><span>公司规模：</span></dt>
                    <div class="qy-item gm">
                        <dd>
                            <a target="_blank"  title="不限" rel="nofollow" data-id=""  data-type="gm" href="javascript:void(0)">不限</a>
                        </dd>
                        <volist name="info.guimo" id="vo">
                            <if condition="$_GET['gm'] EQ $vo['id']">
                                <dd>
                                    <a target="_blank"  title="{$vo.name}" rel="nofollow" data-id="{$vo.id}"  data-type="gm" class="active" href="javascript:void(0)">{$vo.name}</a>
                                </dd>
                                <else/>
                                <dd>
                                    <a target="_blank"  title="{$vo.name}" rel="nofollow" data-id="{$vo.id}"  data-type="gm" href="javascript:void(0)">{$vo.name}</a>
                                </dd>
                            </if>
                        </volist>
                    </div>
                </dl>
                <dl class="fuwuquy">
                    <dt><span>服务保障：</span></dt>
                    <div class="qy-item fw">
                        <dd>
                            <a target="_blank"  title="不限" rel="nofollow" data-id=""  data-type="fw" href="javascript:void(0)">不限</a>
                        </dd>
                        <volist name="info.baozhang" id="vo">
                            <if condition="$_GET['bz'] EQ $vo['id']">
                                <dd>
                                    <a target="_blank"  title="{$vo.name}" rel="nofollow" data-id="{$vo.id}"  data-type="fw" class="active" href="javascript:void(0)">{$vo.name}</a>
                                </dd>
                                <else/>
                                <dd>
                                    <a target="_blank"  title="{$vo.name}" rel="nofollow" data-id="{$vo.id}"  data-type="fw" href="javascript:void(0)">{$vo.name}</a>
                                </dd>
                            </if>
                        </volist>
                    </div>
                </dl>
            </div>
        </div>
        <!--中间模块-->
        <div class="new-box-l">
            <if condition="count($info['list']['list']) GT 0">
                <div class="listxz_title">
                    <ul>
                        <li class="xuanzcolor"><a target="_blank"   href="">综合实力</a><i></i></li>
                    </ul>
                </div>

                <ul class="gongslist">
                    <volist name="info.list.list" id="vo">
                        <li>
                            <div class="gs-left">
                                <img src="{$vo.logo}" alt="{$vo.qc}">
                                <div class="place">
                                    <i></i>
                                    <span>{$vo.cityname}{$vo.area_name}</span>
                                </div>
                            </div>
                            <div class="gs-right">
                                <a target="_blank"  class="name" href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.id}/" >{$vo.qc}</a>
                                <ul class="data">
                                    <li class="al">案例：<a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_case/{$vo.id}/" >{$vo.case_count|default=0}</a>
                                    </li>
                                    <li class="sj">
                                        设计师：<a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_team/{$vo.id}/" >{$vo.designnum|default=0}位</a>
                                    </li>
                                    <li class="gd">
                                        在建工地：{$vo.team_num|default=0}家
                                    </li>
                                    <li class="kb">
                                        <span>口碑：</span>
                                        <for start="0" end="$vo.star"><i></i></for>
                                    </li>
                                </ul>
                                <div class="tips">
                                    <volist name="vo.tags" id="tag">
                                        <a target="_blank"  href="javascript:void(0)"  rel="nofollow">{$tag.tag}</a>
                                    </volist>
                                </div>
                                <ul class="hd">
                                    <if condition="$vo['on'] EQ 2 AND $vo['fake'] EQ 0 AND $vo['active_id'] NEQ null">
                                        <li>
                                            <span>惠</span><a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.id}/" >进店享受八折优惠！</a>
                                        </li>
                                    </if>
                                    <volist name="vo.cardlist" id="kk">
                                        <li>
                                            <span class="other">券</span><a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.id}/" >{$kk.name}</a>
                                        </li>
                                    </volist>
                                </ul>
                                <div class="bj" data-id="{$vo.id}" data-count="{$vo.yuyue_num}">
                                    免费预约
                                </div>
                            </div>
                        </li>
                    </volist>
                </ul>
                <div class="pagebox">
                    {$info.list.page}
                </div>
             <else/>
                <include file="Home@Search/nodata" />
            </if>
        </div>

        <!--右侧模块-->
        <div class="new-box-r">
            <div class="bj-form">
                <div class="bj-content">
                    <p class="bj-free-title">算算装修要花多少钱</p>
                    <p class="jisuan_fubt"><span class="line-l"></span> 8秒即可算出装修预算 <span class="line-r"></span></p>
                    <div class="bj-box">
                        <div class="input-select jisuanjg">
                            <div class="mode">
                                <span class="shuzi">123456</span>
                                <span class="danweiyuan">元</span>
                            </div>
                        </div>
                        <div class="input-select">
                            <select id="b_cs" class="freesj_cs" name="cs"></select>
                            <select id="b_qy" class="freesj_qy" name="qx"></select>
                        </div>
                        <div class="b_errorArea-tit"></div>
                        <div class="input-select bord">
                            <input type="text" placeholder="请输入您的房屋面积" name="mianji" maxlength="6">
                            <i class="pingfang">m²</i>
                        </div>
                        <div class="b_errorMianji-tit"></div>
                        <div class="input-select bord">
                            <input type="text" placeholder="输入手机号获取计算结果" name="tel" maxlength="11">
                        </div>
                        <div class="b_errorTel-tit"></div>
                        <!--S-免责声明-->
                        <include file="Common@Order/disclamer"/>
                        <!--E-免责声明-->
                        <div class="input-select input-btn">
                            <a target="_blank"  class="right-now-btn" href="javascript:;">立即预约</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--报价结果-->
            <div class="jisuanjieguo" style="display:none;">
                <div class="kuangzi">
                    <div class="zxjgy">您的装修预算为：</div>
                    <div class="zxjgy2"><span id="total-price">6.8</span>万元</div>
                    <div class="xiangxisj">
                        <div class="xiangxisj_biaod"><span class="lf">客厅</span><span class="rt"><span id="kt-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">卧室</span><span class="rt"><span id="zw-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">厨房</span><span class="rt"><span id="cf-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">卫生间</span><span class="rt"><span id="wsj-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">水电</span><span class="rt"><span id="sd-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod otherxian"><span class="lf">其它</span><span class="rt"><span id="other-price"></span><span>元</span></span></div>
                    </div>
                </div>
                <div class="shuom"><span>*</span>因材料品牌及工程量不同,具体的价格由实际工程为准;稍后齐装网客服会给您提供更多的报价详情</div>
            </div>
            <!--报价结果-->
            <if condition="isset($info['activitycompany'])">
                <div class="activity-box">
                    <div class="activity-head">
                        <span>{$info.cityInfo.name}装修公司活跃榜</span>
                        <i class="hot"></i>
                    </div>
                    <div class="actcom">
                        <volist name="info.activitycompany" id="vo" key="key">
                            <switch name="key">
                                <case value="1">
                                    <div class="activity-list">
                                        <span class="activity-list-first">1</span>
                                        <span><a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.company_id}/" >{$vo.jc}</a></span>
                                    </div>
                                </case>
                                <case value="2">
                                    <div class="activity-list">
                                        <span class="activity-list-second">2</span>
                                        <span><a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.company_id}/" >{$vo.jc}</a></span>
                                    </div>
                                </case>
                                <case value="3">
                                    <div class="activity-list">
                                        <span class="activity-list-third">3</span>
                                        <span><a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.company_id}/" >{$vo.jc}</a></span>
                                    </div>
                                </case>
                                <default/>
                                <div class="activity-list">
                                    <span class="activity-list-normal">{$key}</span> <span>
                                <a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$vo.bm}.{$SCHEME_HOST.domain}/company_home/{$vo.company_id}/" >{$vo.jc}</a></span>
                                </div>
                            </switch>
                        </volist>
                    </div>
                </div>
            </if>
            <div class="appercode-bg">
                <a target="_blank"  href="{$SCHEME_HOST.scheme_host}/xiazai/" rel="nofollow" >
                    <img style="display: block;width: 100%;height: auto;" src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191218/FskcjhV8rrxzj1aXZ1JCTaa5YT3O" alt="下载app二维码" width="260" height="300px">
                </a>
            </div>
            <div class="zhuagnx_process homeowner-order-container"><a target="_blank"  class="next"></a><a target="_blank"  class="prev"></a>
                <div class="zxtitle"><h2>{$info.cityInfo.name}装修量房签约信息</h2></div>
                <div class="homeowner-scroll box">
                    <ul class="homeowner-order list">
                        <li><span class="info"><i>陈先生</i>已签约</span><span class="date">6天前</span></li>
                        <li><span class="info"><i>马女士</i>家已量房</span><span class="date">6天前</span>天前</li>
                        <li><span class="info"><i>朱先生</i>家已量房</span><span class="date">3天前</span>天前</li>
                        <li><span class="info"><i>李先生</i>家已量房</span><span class="date">2天前</span>天前</li>
                        <li><span class="info"><i>赵先生</i>已签约</span><span class="date">1天前</span>天前</li>
                        <li><span class="info"><i>李小姐</i>家已量房</span><span class="date">3天前</span>天前</li>
                        <li><span class="info"><i>曹小姐</i>家已量房</span><span class="date">7天前</span>天前</li>
                        <li><span class="info"><i>吴先生</i>已签约</span><span class="date">1天前</span>天前</li>
                        <li><span class="info"><i>钱小姐</i>已签约</span><span class="date">3天前</span>天前</li>
                        <li><span class="info"><i>冯小姐</i>家已量房</span><span class="date">2天前</span>天前</li>
                        <li><span class="info"><i>杨先生</i>家已量房</span><span class="date">4天前</span>天前</li>
                        <li><span class="info"><i>周女士</i>已签约</span><span class="date">1天前</span>天前</li>
                        <li><span class="info"><i>王先生</i>已签约</span><span class="date">5天前</span>天前</li>
                        <li><span class="info"><i>吴先生</i>已签约</span><span class="date">4天前</span>天前</li>
                        <li><span class="info"><i>冒小姐</i>家已量房</span><span class="date">2天前</span>天前</li>
                    </ul>
                </div>
            </div>
            <if condition="isset($info['area'])">
            <div class=" zhuagnx_process company_news">
                <div class="zxtitle"><h2>{$info.cityInfo.name}装修公司相关资讯</h2></div>
                <ul>
                    <volist name="info.recomArticle" id="vo" key="key">
                        <switch name="key">
                            <case value="1">
                                <li class="company_item">
                                    <a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$info.cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vo.id}.html" >
                                        <div class="mask">
                                            <span class="fa fa-bookmark item_top topa"><i>1</i></span>
                                        </div>
                                        <p>{$vo.title}</p>
                                    </a>
                                </li>
                            </case>
                            <case value="2">
                                <li class="company_item">
                                    <a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$info.cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vo.id}.html" >
                                        <div class="mask">
                                            <span class="fa fa-bookmark item_top topb"><i>2</i></span>
                                        </div>
                                        <p>{$vo.title}</p>
                                    </a>
                                </li>
                            </case>
                            <case value="3">
                                <li class="company_item">
                                    <a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$info.cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vo.id}.html" >
                                        <div class="mask">
                                            <span class="fa fa-bookmark item_top topc"><i>3</i></span>
                                        </div>
                                        <p>{$vo.title}</p>
                                    </a>
                                </li>
                            </case>
                            <default/>
                            <li class="company_item">
                                <a target="_blank"  href="{$SCHEME_HOST.scheme_full}{$info.cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vo.id}.html" >
                                    <div class="mask">
                                        <span class="fa fa-bookmark "><i>{$key}</i></span>
                                    </div>
                                    <p>{$vo.title}</p>
                                </a>
                            </li>
                        </switch>
                    </volist>
                </ul>
            </div>
            </if>
        </div>
    </div>
    <!-- 预约弹窗 -->
    <div class="beijingyiny"></div>
    <div class="appointment">
        <div class="guanbiniu"></div>
        <div class="yuyue_title">免费预约齐装网装修服务</div>
        <div class="yuyue_tips">今日已有 <span>2121</span> 用户申请服务</div>
        <div class="waikuangz">
            <select id="c_cs" class="freesj_cs" name="cs"></select>
            <select id="c_qy" class="freesj_qy" name="qy"></select>
        </div>
        <p class="c-errorArea-tit"></p>
        <div class="waikuangz">
            <input class="chenghushuru" type="text" name="c_name" placeholder="怎么称呼您">
        </div>
        <p class="c-errorName-tit"></p>
        <div class="waikuangz">
            <input class="shoujihaoma" type="text" name="c_tel" placeholder="输入手机号获取计算结果" maxlength="11">
        </div>
        <p class="c-errorTel-tit"></p>
        <div class="mzyz" style="margin-top:0;">
            <!--S-免责声明-->
            <include file="Common@Order/disclamer"/>
            <!--E-免责声明-->
        </div>
        <div class="lijiyuyue">
            <a target="_blank"  href="#">立即预约</a>
        </div>
    </div>

    <div class="yuyuesuccess">
        <div class="close_gb"></div>
        <div class="success_title"><span></span>预约成功</div>
        <div class="xiaobiaoti">稍后齐装网管家将会致电你，请注意接听来电。</div>
        <div class="enterservice">装修公司将免费上门服务</div>
        <ul class="tuwen">
            <li>
                <img src="/assets/sub/company/img/fuwuliuc01.jpg" alt="">
                <div class="colortiltle">1、免费量房</div>
                <div class="fulcmiaos">测量全屋面积、轴线、外墙尺寸，为后续装修奠定基础</div>
            </li>
            <li>
                <img src="/assets/sub/company/img/mfsj.jpg" alt="">
                <div class="colortiltle">2、免费设计</div>
                <div class="fulcmiaos">根据你的需求改造你的户型，为你进行私人定制</div>
            </li>
            <li class="quxiaobj">
                <img src="/assets/sub/company/img/mfbj.jpg" alt="">
                <div class="colortiltle">3、免费报价</div>
                <div class="fulcmiaos">为你提供详细的预算规划表，帮你轻松了解市场行情</div>
            </li>
        </ul>
    </div>
    <div class="sign_success">
        <div class="close_gb"></div>
        <div class="success_title"><span></span>报名成功</div>
        <div class="xiaobiaoti">稍后齐装网管家将会致电你，请注意接听来电。</div>
        <div class="enterservice">齐装网业主专享服务</div>
        <ul class="tuwen">
            <li>
                <img src="/assets/sub/company/img/mfsj.jpg" alt="">
                <div class="colortiltle">1、免费设计</div>
                <div class="fulcmiaos">获取4份设计方案，货比四家，选择好了再动手</div>
            </li>
            <li>
                <img src="/assets/sub/company/img/mfbj.jpg" alt="">
                <div class="colortiltle">2、免费报价</div>
                <div class="fulcmiaos">算算装修要花多少钱，快速了解市场行情</div>
            </li>
            <li class="quxiaobj">
                <img src="/assets/sub/company/img/ptbz.jpg" alt="">
                <div class="colortiltle">3、平台保障</div>
                <div class="fulcmiaos">官方管控，价格公开透明，跟踪施工质量</div>
            </li>
        </ul>
    </div>
</block>
<block name="script">
    <script src="{$static_host}/assets/home/company/js/jquery.luara.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{$static_host}/assets/sub/company/js/rem.js?v={:C('STATIC_VERSION')}"></script>
    <script src="{$static_host}/assets/sub/company/js/jquery.cxscroll.min.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        var change_cid = ''; //修改的公司id
        var change_cnum = ''; //修改的公司预约人数
        var shen = null, shi = null;
        shen = citys["shen"];
        shi = citys["shi"];

        initCity('{$theCityId}');

        function initCity(cityId) {
            App.citys.init("#tab-cs", "#tab-qx", shen, shi, cityId);
            App.citys.init("#b_cs", "#b_qy", shen, shi, cityId);
            App.citys.init("#cs", "#qy", shen, shi, cityId);
            App.citys.init("#c_cs", "#c_qy", shen, shi, cityId);
        }

        $(".adbanner2").luara({
            width: "1210",
            height: "110",
            interval: 2000,
            selected: "seleted",
            deriction: "top"
        });

        var closeTc = function () {
            a = false;
            $('.toubu').height('126px')
            $('.three-arrow').removeClass('jiantou02').addClass('jiantou01')
            $('.toubu').find('.tu-box').css({
                height: 86,
                width: 648,
                'border': '2px solid #fff',
                'margin-top': '7px',
                'margin-left': '0'
            }).find('.qzlogo').css('margin-top', '10px');
            $('.toubu').find('.dbwzjs').css('margin-top', '27px');
            $('.foottc').stop().animate({"bottom": "-262px"}, 500, function () {
                var width = -$('.foottc').width();
                $('.foottc').stop().animate({left: width}, 500, function () {
                    $('.pop-step-3').stop().animate({left: 0}, 500)
                })
            });
        }

        //判断活跃榜的数据是否为空
        if ($(".activity-list").length == 0) {
            $(".activity-box").hide();
        }

        $(document).ready(function () {
            var qygao = $(".conpany_xuanz .fuwuquy").height();
            $('.conpany_xuanz .fuwuquy dt').css({'height':qygao+'px', 'line-height':qygao+'px'});
            $('.new-box-l .conpany_xuanz .fuwuquy dt').height($('.new-box-l .conpany_xuanz .fuwuquy dt').parent('.new-box-l .conpany_xuanz .fuwuquy').height())
            $('.new-box-l .conpany_xuanz .fuwuquy dt').height($('.new-box-l .conpany_xuanz .fuwuquy dt').parent('.new-box-l .conpany_xuanz .fuwuquy').height())
            $('.new-box-l .conpany_xuanz .conpanygm dt').height($('.new-box-l .conpany_xuanz .conpanygm dt').parent('.new-box-l .conpany_xuanz .conpanygm').height())
            $('.new-box-l .conpany_xuanz .fuwubaoz dt').height($('.new-box-l .conpany_xuanz .fuwubaoz dt').parent('.new-box-l .conpany_xuanz .fuwubaoz').height())
            $('.new-box-l .conpany_xuanz .fuwuquy dd a').click(function () {
                $(this).addClass('xuanzcolor');
                $(this).parent().siblings().children('.new-box-l .conpany_xuanz .fuwuquy dd a').removeClass('xuanzcolor');
            })
            $('.new-box-l .conpany_xuanz .conpanygm dd a').click(function () {
                $(this).addClass('xuanzcolor');
                $(this).parent().siblings().children('.new-box-l .conpany_xuanz .conpanygm dd a').removeClass('xuanzcolor');
            })
            $('.new-box-l .conpany_xuanz .fuwubaoz dd a').click(function () {
                $(this).addClass('xuanzcolor');
                $(this).parent().siblings().children('.new-box-l .conpany_xuanz .fuwubaoz dd a').removeClass('xuanzcolor');
            })

            $('.listxz_title ul li a').click(function () {
                $(this).addClass('xuanzcolor');
                $(this).parent().siblings().children('.listxz_title ul li a').removeClass('xuanzcolor');
            })

            $('.zhuagnx_process ul .company_saixuan').mouseover(function () {
                $('.zhuagnx_process ul .gonggms01').html('公司口碑<br>公司实力')
            });
            $('.zhuagnx_process ul .company_saixuan').mouseout(function () {
                $('.zhuagnx_process ul .gonggms01').html('1筛选公司')
            })
            $('.zhuagnx_process ul .company_huxing').mouseover(function () {
                $('.zhuagnx_process ul .gonggms02').html('设计方案<br>施工方案')
            });
            $('.zhuagnx_process ul .company_huxing').mouseout(function () {
                $('.zhuagnx_process ul .gonggms02').html('2户型设计')
            })
            $('.zhuagnx_process ul .company_yusuan').mouseover(function () {
                $('.zhuagnx_process ul .gonggms03').html('人工、辅材<br>主材、家具等')
            });
            $('.zhuagnx_process ul .company_yusuan').mouseout(function () {
                $('.zhuagnx_process ul .gonggms03').html('3估测预算')
            })
            $('.zhuagnx_process ul .company_hetong').mouseover(function () {
                $('.zhuagnx_process ul .gonggms04').html('装修合同')
            });
            $('.zhuagnx_process ul .company_hetong').mouseout(function () {
                $('.zhuagnx_process ul .gonggms04').html('4签订合同')
            })
            $('.zhuagnx_process ul .company_caigai').mouseover(function () {
                $('.zhuagnx_process ul .gonggms05').html('拆除<br>清理')
            });
            $('.zhuagnx_process ul .company_caigai').mouseout(function () {
                $('.zhuagnx_process ul .gonggms05').html('5房屋拆改')
            })
            $('.zhuagnx_process ul .company_shuidian').mouseover(function () {
                $('.zhuagnx_process ul .gonggms06').html('开槽<br>排设')
            });
            $('.zhuagnx_process ul .company_shuidian').mouseout(function () {
                $('.zhuagnx_process ul .gonggms06').html('6水电改造')
            })
            $('.zhuagnx_process ul .company_fangshui').mouseover(function () {
                $('.zhuagnx_process ul .gonggms07').html('防水处理<br>防水测试')
            });
            $('.zhuagnx_process ul .company_fangshui').mouseout(function () {
                $('.zhuagnx_process ul .gonggms07').html('7防水处理')
            })
            $('.zhuagnx_process ul .company_niwa').mouseover(function () {
                $('.zhuagnx_process ul .gonggms08').html('墙砖、地砖<br>过门石')
            });
            $('.zhuagnx_process ul .company_niwa').mouseout(function () {
                $('.zhuagnx_process ul .gonggms08').html('8泥瓦工程')
            })
            $('.zhuagnx_process ul .company_tumu').mouseover(function () {
                $('.zhuagnx_process ul .gonggms09').html('柜子、地板<br>五金安装')
            });
            $('.zhuagnx_process ul .company_tumu').mouseout(function () {
                $('.zhuagnx_process ul .gonggms09').html('9木工工程')
            })
            $('.zhuagnx_process ul .company_youqi').mouseover(function () {
                $('.zhuagnx_process ul .gonggms10').html('墙、顶面<br>柜面')
            });
            $('.zhuagnx_process ul .company_youqi').mouseout(function () {
                $('.zhuagnx_process ul .gonggms10').html('10油漆进场')
            })
            $('.zhuagnx_process ul .company_ruanzhuang').mouseover(function () {
                $('.zhuagnx_process ul .gonggms11').html('窗帘<br>沙发、床等')
            });
            $('.zhuagnx_process ul .company_ruanzhuang').mouseout(function () {
                $('.zhuagnx_process ul .gonggms11').html('11软装布置')
            })
            $('.zhuagnx_process ul .company_ruzhu').mouseover(function () {
                $('.zhuagnx_process ul .gonggms12').html('生活用品')
            });
            $('.zhuagnx_process ul .company_ruzhu').mouseout(function () {
                $('.zhuagnx_process ul .gonggms12').html('12入住新屋')
            })

            $('.gs-right .bj').click(function () {
                change_cid = $(this).attr('data-id');
                change_cnum = $(this).attr('data-count');
                $('.beijingyiny').show();
                $('.appointment').show();
                $(".c-errorArea-tit").html('');
                $(".c-errorName-tit").html('');
                $(".c-errorTel-tit").html('');
            });

            //装修公司预约关闭
            $('.appointment .guanbiniu').click(function () {
                $('input[name="c_name"]').val('');
                $('input[name="c_tel"]').val('');
                $('.beijingyiny').hide();
                $('.appointment').hide();
            })

            //装修公司预约
            $('.appointment .lijiyuyue').click(function () {
                var name = $('input[name="c_name"]');
                var tel = $('input[name="c_tel"]');
                var qx = $('#c_qy');
                var cs = $('#c_cs');
                if (name.val() == "" || name.val().length == 0) {
                    name.focus();
                    $(".c-errorName-tit").html('请输入您的称呼');
                    return false;
                } else {
                    var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                    if (!reg.test(name.val())) {
                        name.focus();
                        $(".c-errorName-tit").html('请输入正确的称呼，只支持中文和英文 ^_^!');
                        return false;
                    } else {
                        $(".c-errorName-tit").html('');
                    }
                }
                if (qx.val() == "" || cs.val() == "") {
                    $(".c-errorArea-tit").html('请选择地区');
                    return false;
                } else {
                    $(".c-errorArea-tit").html('');
                }
                if (tel.val() == "" || tel.val().length == 0) {
                    tel.focus();
                    $(".c-errorTel-tit").html('请输入您的手机号码');
                    return false;
                } else {
                    var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
                    if (!tel.val().match(reg)) {
                        tel.focus();
                        $(".c-errorTel-tit").html('请填写正确的手机号码');
                        return false;
                    } else {
                        $(".c-errorTel-tit").html('');
                    }
                }

                if (!checkDisclamer(".appointment")) {
                    return false;
                }
                var data = {
                    tel: tel.val(),
                    cs: cs.val(),
                    qx: qx.val(),
                    nane: name.val(),
                    source: '19121254'
                };
                window.order({
                    extra: data, error: function () {
                        alert("网络发生错误,请稍后重试！");
                    },
                    success: function (data, status, xhr) {
                        if (data.status == 1) {
                            $('input[name="c_name"]').val('');
                            $('input[name="c_tel"]').val('');
                            $('.beijingyiny').hide();
                            $('.appointment').hide();
                            $.ajax({
                                url: '/poplayer/pop',
                                type: 'GET',
                                dataType: 'JSON',
                                data: {
                                    type: 'yysuccess'
                                }
                            })
                                .done(function (data) {
                                    if (data.status == 0) {
                                        $("body").append(data.tmp);
                                    }
                                });
                        } else {
                            alert(data.info);
                        }
                    },
                    validate: function (item, value, method, info) {
                        return true;
                    }
                });
            });

            $('.yuyuesuccess .close_gb').click(function () {
                location.reload();
                $('.beijingyiny').hide();
                $('.yuyuesuccess').hide();
            });

            $('.sign_success .close_gb').click(function () {
                location.reload();
                $('.beijingyiny').hide();
                $('.sign_success').hide();
            })

            //顶部报名
            $('.fadankz .baoming').click(function () {
                var name = $('input[name="a_name"]');
                var tel = $('input[name="a_tel"]');
                var qx = $('#tab-qx');
                var cs = $('#tab-cs');
                if (name.val() == "" || name.val().length == 0) {
                    name.focus();
                    $(".errorName-tit").html('请输入您的称呼');
                    return false;
                } else {
                    var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
                    if (!reg.test(name.val())) {
                        name.focus();
                        $(".errorName-tit").html('请输入正确的称呼，只支持中文和英文 ^_^!');
                        return false;
                    } else {
                        $(".errorName-tit").html('');
                    }
                }
                if (qx.val() == "" || cs.val() == "") {
                    $(".errorArea-tit").html('请选择地区');
                    return false;
                } else {
                    $(".errorArea-tit").html('');
                }
                if (tel.val() == "" || tel.val().length == 0) {
                    tel.focus();
                    $(".errorTel-tit").html('请输入您的手机号码');
                    return false;
                } else {
                    var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
                    if (!tel.val().match(reg)) {
                        tel.focus();
                        $(".errorTel-tit").html('请填写正确的手机号码');
                        return false;
                    } else {
                        $(".errorTel-tit").html('');
                    }
                }

                var data = {
                    tel: tel.val(),
                    cs: cs.val(),
                    qx: qx.val(),
                    nane: name.val(),
                    source: '18031910'
                };

                window.order({
                    extra: data, error: function () {
                        alert("网络发生错误,请稍后重试！");
                    },
                    success: function (data, status, xhr) {
                        if (data.status == 1) {
                            //修改页面对应公司预约人数
                            $.ajax({
                                url: '/company/changePageCases/',
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    location: 'top',
                                }
                            })
                                .done(function (data) {
                                    $('.beijingyiny').show();
                                    $('.sign_success').show();
                                })
                        } else {
                            alert("发单超标,请稍后重试！");
                        }
                    },
                    validate: function (item, value, method, info) {
                        return true;
                    }
                });
            });


            var a = false;
            $('.toubu').click(function () {
                $(this).animate({top: 0}, 550, function () {
                    up();
                });
                if (a == false) {
                    $('.foottc').stop().animate({"bottom": "0"}, 500);
                    $('.toubu').height('105px')
                    $(this).find('.tu-box').css({
                        'border': 'none',
                        'height': 100,
                        width: 652,
                        'margin-top': '5px',
                        'margin-left': '2px'
                    }).find('.qzlogo').css('margin-top', '16px');
                    $(this).find('.dbwzjs').css('margin-top', '31px');
                    $('.jiantou01').removeClass('jiantou01').addClass('jiantou02').stop();
                    $('.jiantou02').css('top', '30px')
                    a = true;
                } else {
                    $('.foottc').stop().animate({"bottom": "-262px"}, 500);
                    $('.toubu').height('126px')
                    $(this).find('.tu-box').css({
                        height: 86,
                        width: 648,
                        'border': '2px solid #fff',
                        'margin-top': '7px',
                        'margin-left': '0'
                    }).find('.qzlogo').css('margin-top', '10px');
                    $(this).find('.dbwzjs').css('margin-top', '27px');
                    $('.jiantou02').removeClass('jiantou02').addClass('jiantou01')
                    a = false;
                }
            });

            $('.foottc .cter .pop-close').on('click', function () {
                closeTc();
            });
            $('.foottc .cter .pop-step-3').on('click', function () {
                $(this).stop().animate({left: '-194px'}, 500, function () {
                    $('.foottc').stop().animate({left: 0}, 500);
                    up();
                })
            })
            var yici = false;
            $(window).scroll(function (event) {

                if ($(window).scrollTop() >= 1000 && yici == false) {
                    $('.foottc').stop().animate({"bottom": "0"}, 500);
                    $('.toubu').find('.tu-box').css({
                        'border': 'none',
                        'width': 652,
                        height: 100,
                        'margin-top': '17px',
                        'margin-left': '2px'
                    });
                    $('.jiantou01').removeClass('jiantou01').addClass('jiantou02')
                    yici = true;
                    a = true;
                }
                if ($(window).scrollTop() < 1000) {
                    $('.foottc').stop().animate({"bottom": "-262"}, 500);
                    $('.toubu').find('.tu-box').css({
                        'border': '2px solid #fff',
                        'width': 648,
                        height: 86,
                        'margin-top': '7px',
                        'margin-left': '0px'
                    });
                    $('.jiantou02').removeClass('jiantou02').addClass('jiantou01')
                    yici = false;
                    a = false;
                }
            });

            $(".tijiao").click(function (event) {

                var cs_name = $('.btul .freesj_cs option:selected').text();
                var qy_name = $('.btul .freesj_qy option:selected').text();
                var cs = $('.freesj_cs');
                if (cs.val() == '') {
                    alert("您还没有选择所在城市噢 ^_^!");
                    cs.focus();
                    return false;
                }

                var qy = $('.freesj_qy');
                if (qy.val() == '') {
                    alert("您还没有选择所在区域噢 ^_^!");
                    qy.focus();
                    return false;
                }

                var mianji = $('.mianji');
                if (mianji.val() == "") {
                    mianji.focus();
                    alert("请输入房屋面积");
                    return false;
                }
                var re = /^[0-9]+(.[0-9]{1,2})?$/gi;
                if (!re.test(mianji.val()) || mianji.val() > 10000 || mianji.val() < 1) {
                    mianji.focus();
                    alert("请输入1-10000的数字");
                    return false;
                }

                var tel = $('.shouji');
                if (tel.val() == "" || tel.val().length == 0) {
                    tel.focus();
                    alert("请填写您的手机号");
                    return false;
                } else {
                    var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
                    if (!tel.val().match(reg)) {
                        tel.focus();
                        alert("手机号错误");
                        return false;
                    }
                }
                var xiaoqu = $('.xiaoqu');
                if (xiaoqu.val() == "") {
                    xiaoqu.focus();
                    alert("请输入小区名称");
                    return false;
                } else if (!isNaN(Number(xiaoqu.val()))) {
                    xiaoqu.focus();
                    alert("小区名称不可为纯数字");
                    return false;
                }
                if (!checkDisclamer(".jiadakuangz")) {
                    return false;
                }
                var comid = $("#companyid").val();

                var data = {
                    mianji: mianji.val(),
                    xiaoqu: xiaoqu.val(),
                    tel: tel.val(),
                    cs: cs.val(),
                    qx: qy.val(),
                    source: '188',
                    fb_type: 'sheji'
                };

                window.order({
                    extra: data, error: function () {
                        alert("网络发生错误,请稍后重试！");
                    },
                    success: function (data, status, xhr) {
                        if (data.status == 1) {
                            var pattern_char = /[a-zA-Z]/g;
                            cs_name = $.trim(cs_name.replace(pattern_char, ''));
                            $("#cs_val").text(cs_name + qy_name);
                            $("#mj_val").text(mianji.val());
                            $("#xq_val").text(xiaoqu.val());
                            $('.pop-step-1').hide();
                            $('.pop-step-2').show();
                        } else {
                            alert("发单受限,请稍后重试！");
                        }
                    },
                    validate: function (item, value, method, info) {
                        return true;
                    }
                });
                return false;


            });
            var flag = false;
            setInterval(function () {
                var aa = parseInt(Math.random() * 90000 + 30000);
                $('.jisuanjg .shuzi').html(aa);
            }, 300)

            //右侧计算器
            $(".right-now-btn").click(function (event) {
                var disclamer = $(".bj-form  .disclamer-check").attr("data-checked");
                var _this = $(this).parent().parent();
                var cs = $(".bj-box .freesj_cs");
                var qy = $(".bj-box .freesj_qy");
                if (cs.val() == '') {
                    $(".b_errorArea-tit").html('您还没有选择所在城市噢 ^_^!');
                    cs.focus();
                    return false;
                } else {
                    $(".b_errorArea-tit").html('');
                }
                
                var mianji = _this.find("input[name=mianji]");
                var tel = _this.find("input[name=tel]");
                if (mianji.val() == "") {
                    mianji.focus();
                    $(".b_errorMianji-tit").html('请输入您的房屋面积');
                    return false;
                } else if (isNaN(mianji.val())) {
                    mianji.focus();
                    $(".b_errorMianji-tit").html('请输入正确的房屋面积');
                    return false;
                } else {
                    $(".b_errorMianji-tit").html('');
                }

                if (tel.val() == "" || tel.val().length == 0) {
                    tel.focus();
                    $(".b_errorTel-tit").html('请输入您的手机号码');
                    return false;
                } else {
                    var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
                    if (!tel.val().match(reg)) {
                        tel.focus();
                        $(".b_errorTel-tit").html('请填写正确的手机号码');
                        return false;
                    } else {
                        $(".b_errorTel-tit").html('');
                    }
                }
                if (disclamer == "false") {
                    alert("请勾选我已阅读并同意齐装网的《免责声明》！");
                    return false;
                }

                var data = {
                    mianji: mianji.val(),
                    tel: tel.val(),
                    cs: cs.val(),
                    qx: qy.val(),
                    source: '19121120',
                    fb_type: 'baojia',
                };

                window.order({
                    extra: data,
                    error: function () {
                        alert("网络发生错误,请稍后重试！");
                    },
                    success: function (data, status, xhr) {
                        if (data.status == 1) {
                            if (data.status == 1) {
                                $.ajax({
                                    url: '/zxbj/getdetailsbyajax/',
                                    type: 'GET',
                                    dataType: 'JSON'
                                })
                                    .done(function (data) {
                                        if (data.status == 1) {
                                            calculate(data.data);
                                            $('.bj-form').hide();
                                            $('.jisuanjieguo').show()
                                        } else {
                                            alert(data.info);
                                        }
                                    })
                                    .fail(function (xhr) {
                                        alert('获取报价失败,请刷新页面');
                                    });
                            }
                        } else {
                            alert("发单受限,请稍后重试！");
                        }
                    },
                    validate: function (item, value, method, info) {
                        return true;
                    }
                });
                return false;
            });
            // 设计报价滚动到2200px 悬浮
            $(window).scroll(function (event) {
                var fixHeight = $(".new-box-r").height() + 600;
                if ($(window).scrollTop() >= fixHeight) {
                    $('.bj-form').css({
                        "width": "260px",
                        "margin-top": "0",
                        "position": "fixed",
                        "top": "85px",
                        "zIndex": 2
                    });
                } else {
                    $('.bj-form').css({
                        "margin-top": "15px",
                        "position": "",
                        "top": "",
                        "zIndex": ''
                    });
                }
            });
        });

        $(function () {
            if ('{$_GET["p"]}') {
                // closeTc()
            }
            $('#city').change(function () {
                var cs = $(this).children('option:selected').val();
                if (cs != "") {
                    window.location.href = "/company/?cs=" + cs;
                }
            });

            $(".rtel input[name=name]").focus();

            $(".tiaoj dl dd a").click(function (event) {
                var $id = $(this).attr("data-id");
                var src = "/company/?cs=" + $id;
                if ("{$keyword}" != "") {
                    src = src + "&keyword={$keyword}";
                }
                window.location.href = src;
            });

            $(".comp-list-ul .comp-list-button").click(function (event) {
                var cid = $(this).attr("data-id");
                $.ajax({
                    url: '/dispatcher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type: "sj",
                        source: '158',
                        action: "load",
                        cid: cid
                    }
                })
                    .done(function (data) {
                        if (data.status == 1) {
                            $("body").append(data.data);
                            $(".zb_box_sj").fadeIn(400, function () {
                                $(this).find("input[name=lf-name]").focus();
                            });
                        }
                    });
            });

            $(".zxfw dd a").click(function (event) {
                $.ajax({
                    url: '/dispatcher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type: "fb",
                        source: '171',
                        action: "load",
                        cs: "{$cityInfo.id}"
                    }
                })
                    .done(function (data) {
                        if (data.status == 1) {
                            $("body").append(data.data);
                            $("input[name='name']").focus();
                        }
                    });
            });

            $(".keyword").click(function (event) {
                window.location.href = "/company/";
            });

        });

        function calculate(data) {
            $('#kt-price').text(data.kt);
            $('#zw-price').text(data.zw);
            $('#wsj-price').text(data.wsj);
            $('#cf-price').text(data.cf);
            $('#sd-price').text(data.sd);
            $('#other-price').text(data.other);
            $('#total-price').text(data.total / 10000);
        }
    </script>
    <script>
        // 服务状态滚动
        +function ($) {
            $('.homeowner-order-container').cxScroll({
                direction: 'bottom',
                time: 2000,
                step: 1
            });

            $(".qy-item dd a").click(function(){
                var word  = $("#seach input[name=seach]").val();
                var type = $(this).attr("data-type");
                var region = $(".region .active").attr("data-id");
                var gm = $(".gm .active").attr("data-id");
                var baozhang = $(".fw .active").attr("data-id");

                switch (type) {
                    case "region":
                        region = $(this).attr("data-id");
                        gm = typeof gm == "undefined"?"":gm;
                        baozhang = typeof baozhang == "undefined"?"":baozhang;
                        break;
                    case "gm":
                        region = typeof region == "undefined"?"":region;
                        gm =  $(this).attr("data-id");
                        baozhang = typeof baozhang == "undefined"?"":$(".fw .active").attr("data-id");
                        break;
                    case "fw":
                        region = typeof region == "undefined"?"":region;
                        baozhang = $(this).attr("data-id");
                        gm = typeof gm == "undefined"?"":gm;
                        break;
                }

                window.location.href = "/search/zxgongsi?keyword=" + word+"&region="+region+"&bz="+baozhang+"&gm="+gm;
            });
        }(jQuery)
    </script>
</block>
