<extend name="Search:basic_tu"/>
<block name="meta">
    <title>
        <empty name="keyword">
            装修攻略-{$scene_word}-搜索结果页
            <else/>
            {$keyword}-装修攻略-{$scene_word}-搜索结果页
        </empty>
    </title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/home/search/css/gonglue.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <notempty name="list">
        <div class="wrap search-result">
            <if condition="$total GT 0">
                <if condition="empty($keyword)">
                    为您找到{$total}个相关结果
                    <else/>
                    为您找到{$total}个与“{$keyword}”相关结果
                </if>
                <else/>
                您还没有输入搜索内容！
            </if>
        </div>
        <div class="origin-news-list wrap">
            <volist name="list" id="vo" key="k">
                <switch name="vo.logtype">
                    <case value="gonglue">
                        <!-- 装修攻略 -->
                        <div class="origin-list">
                            <div class="list-left">
                                <a rel="nofollow" href="{$vo.link}" target="_blank">
                                    <img src="{$vo.img_path}" alt="{$vo.title}"/>
                                </a>
                            </div>
                            <div class="list-right">
                                <a href="{$vo.link}" target="_blank" class="list-tit">{$vo.title}</a>
                                <div class="list-des">{$vo.description}<a rel="nofollow" class="des-detail" href="{$vo.link}" target="_blank">[详情]</a></div>
                                <div class="list-fenlei">
                                    <img src="/assets/home/decoration/img/mark.png" />
                                    <span class="fenlei-theme">{$vo.first_class_name}-{$vo.three_class_name}</span>
                                    <if condition="isset($vo['labels'])">
                                        <ul>
                                            <volist name="vo.labels" id="v">
                                                <li>{$v.name}</li>
                                            </volist>
                                        </ul>
                                    </if>
                                    <span class="des-num">
                                        <img src="/assets/home/decoration/img/icon-eye.png">{$vo.views|default=0}
                                    </span>
                                    <span class="des-time">{$vo.createtime}</span>
                                </div>
                            </div>
                        </div>
                    </case>
                    <case value="wenda">
                        <!-- 装修问答 -->
                        <div class="article-wenda">
                            <p class="wenda-title"><a href="{$vo.link}" target="_blank">{$vo.title}</a></p>
                            <p class="wenda-asked">{$vo.description}</p>
                            <div class="list-fenlei">
                                <img src="/assets/home/decoration/img/wenda.png" />
                                <span class="fenlei-theme">装修问答</span>
                                <if condition="isset($vo['labels'])">
                                    <ul>
                                        <volist name="vo.labels" id="v">
                                            <li>{$v.name}</li>
                                        </volist>
                                    </ul>
                                </if>
                                <span class="fenlei-wenda">
                                    <img src="/assets/home/decoration/img/wenda1.png" />
                                    {$vo.anwsers}
                                </span>
                                <span class="des-num">
                                    <img src="/assets/home/decoration/img/icon-eye.png">{$vo.views|default=0}
                                </span>
                                <span class="des-time">{$vo.createtime}</span>
                            </div>
                        </div>
                    </case>
                    <case value="baike">
                        <!-- 装修百科 -->
                        <div class="origin-list">
                            <div class="list-left">
                                <a rel="nofollow" href="{$vo.link}" target="_blank">
                                    <img src="{$vo.img_path}" alt="{$vo.title}"/>
                                </a>
                            </div>
                            <div class="list-right">
                                <a href="{$vo.link}" target="_blank" class="list-tit">{$vo.title}</a>
                                <div class="list-des">{$vo.description}<a rel="nofollow" class="des-detail" target="_blank" href="{$vo.link}">[详情]</a></div>
                                <div class="list-fenlei">
                                    <img src="/assets/home/decoration/img/book.png" />
                                    <span class="fenlei-theme">装修百科-{$vo.class_name}</span>
                                    <if condition="isset($vo['labels'])">
                                        <ul>
                                            <volist name="vo.labels" id="v">
                                                <li>{$v.name}</li>
                                            </volist>
                                        </ul>
                                    </if>
                                    <span class="des-num">
                                        <img src="/assets/home/decoration/img/icon-eye.png">{$vo.views}
                                    </span>
                                    <span class="des-time">{$vo.createtime}</span>
                                </div>
                            </div>
                        </div>
                    </case>
                </switch>

                <eq name="k" value="4">
                    <div class="origin-list">
                        <div class="list-left baojiaBtn">
                            <a rel="nofollow" href="javascript:;">
                                <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/file/20180327/Fip5sNLwG0aG9vWR2v-H153PfTXu.png" alt="报价发单"/>
                            </a>
                        </div>
                        <div class="list-right">
                            <a href="javascript:;" class="list-tit baojiaBtn">一名业主晒出的记手账,详细记录各项装修费用,原来能省这么多钱</a>
                            <div class="list-fenlei">
                                <span class="des-num">
                                    <img src="/assets/home/decoration/img/icon-eye.png">3580
                                </span>
                            </div>
                        </div>
                    </div>
                </eq>
            </volist>

            <div class="pagebox">
                {$page}
            </div>
        </div>
    <else />
        <include file="Home@Search/nodata" />
    </notempty>
</block>
<block name="script">
    <script>
        $(function () {
            $(".baojiaBtn").on("click",function(){
                var _this = $(this);
                $.ajax({
                    url: '/dispatcher/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        type:"bj",
                        source: '{$source}',
                        action:"load"
                    }
                })
                .done(function(data) {
                    if (data.status == 1) {
                        $("body").append(data.data);
                        if(navigator.appName == "Microsoft Internet Explorer"){
                            $(".zxfb").show();
                        }else{
                            $(".zxfb").fadeIn(400,function(){
                                $(this).find("input[name='bj-xiaoqu']").focus();
                            });
                            $(".zxbj_content").removeClass('smaller');
                        }
                        $(".win_box .win-box-bj-mianji").addClass('focus').focus();
                    }
                });
            });
        });
    </script>
</block>
