<extend name="Search:basic"/>
<block name="meta">
    <title>{$meta.title}</title>
</block>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/home/search/css/zhinan.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <if condition="count($list) GT 0">
    <div class="origin-news-list wrap">
        <volist name="list" id="vo">
            <div class="origin-list">
                <div class="list-left">
                    <a rel="nofollow" href="{$vo.link}" target="_blank">
                        <img src="{$vo.img_path}" alt="{$vo.title}"/>
                    </a>
                </div>
                <div class="list-right">
                    <a href="{$vo.link}" target="_blank" class="list-tit">{$vo.title}</a>
                    <div class="list-des">{$vo.description}<a rel="nofollow" class="des-detail" href="{$vo.link}" target="_blank">[详情]</a></div>
                    <div class="list-fenlei">
                        <img src="/assets/home/decoration/img/mark.png" />
                        <span class="fenlei-theme">装修指南-{$vo.first_class_name}</span>
                        <if condition="isset($vo['labels'])">
                            <ul>
                                <volist name="vo.labels" id="v">
                                    <li>{$v.name}</li>
                                </volist>
                            </ul>
                        </if>
                        <span class="des-num">
                        <img src="/assets/home/decoration/img/icon-eye.png">{$vo.views|default=0}
                    </span>
                        <span class="des-time">{$vo.createtime}</span>
                    </div>
                </div>
            </div>
        </volist>
        <div class="pagebox">
            {$page}
        </div>
    </div>
    <else/>
        <include file="Home@Search/nodata" />
    </if>
</block>
