body{
    line-height: 1.5;
}
/*局部装修落地页公共样式 end*/

.outcome, .guarantee{
    padding: 40px 0px;
}
.company, .comment{
    padding: 40px 0px;
}
.about{
    padding: 40px 0px 40px;
}
.scheme{
    padding: 40px 0px 40px;
}
.company{
    background: url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bg-company.png") no-repeat;
    background-size: cover;
}
.comment{
    background: url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bg-comment.png") no-repeat;
}
.scheme{
    background: url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bg-scheme.png") no-repeat;
}

.outcome .container, .guarantee .container, .company .container, .comment .container, .about .container, .scheme .container {
    width: 1210px;
    margin: 0 auto;
}

/*局部装修效果展示*/
.outcome .tab{
    font-size: 0;
    text-align: center;
    margin-bottom: 25px;
}
.outcome .tab > div{
    font-size: 18px;
    display: inline-block;
    margin-right: 60px;
    cursor: pointer;
}
.outcome .tab > div:last-child{
    margin-right: 0;
}
.outcome .tab .icon{
    width: 77px;
    height: 77px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    margin-bottom: 15px;
}
.outcome .tab .tips{
    display: block;
    line-height: 1;
}
.outcome .tab .active{
    color: #FF5353;
}
.outcome .icon-kitchen{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/kitchen-white.png");
}
.outcome .active .icon-kitchen{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/kitchen.png");
}
.outcome .icon-bathroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bathroom-white.png");
}
.outcome .active .icon-bathroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bathroom.png");
}
.outcome .icon-balcony{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/balcony-white.png");
}
.outcome .active .icon-balcony{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/balcony.png");
}
.outcome .icon-dining{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/dining-white.png");
}
.outcome .active .icon-dining{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/dining.png");
}
.outcome .icon-living{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/living-white.png");
}
.outcome .active .icon-living{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/living.png");
}
.outcome .icon-bedroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bedroom-white.png");
}
.outcome .active .icon-bedroom{
    background:url("//staticqn.qizuang.com/pc/assets/home/company/img/jb/bedroom.png");
}
.outcome .swiper-container{
    height: 461px;
    overflow: hidden;
}
.swiper-outcome{
    height: 461px;
    overflow:hidden;
}
.swiper-outcome .ieswiper-slide{
    position: relative;
}
.swiper-outcome .blank-link, .swiper-outcome .info-container{
    position: absolute;
    top: 0;
    bottom: 0;
}
.swiper-outcome .blank-link{
    left: 0;
    width: 924px;
}
.swiper-outcome .info-container{
    width: 286px;
    right: 0;
    color: white;
    background-color:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
    background-color: rgba(0,0,0,0.8);
}
:root .info-container{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22000000,endColorstr=#22000000)\9;
}
.swiper-outcome .info-container .info{
    margin: 66px 0 0 32px;
}
.swiper-outcome .info-container .info-title{
    width: 141px;
    border-bottom: 1px solid white;
    margin-bottom: 36px;
}
.swiper-outcome .info-container .info-title span{
    border-top: 1px solid white;
    padding: 16px 10px 16px 0;
    font-size: 24px;
    display: inline-block;
}
.swiper-outcome .info-container .info-name{
    font-size: 20px;
    margin-bottom: 20px;
}
.swiper-outcome .info-container .info-budget{
    font-size: 16px;
    margin-bottom: 36px;
}
.swiper-outcome .info-container .btn-design{
    border:1px solid white;
    width: 170px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    border-radius: 0.3em;
    cursor: pointer;
}
