/* 头部 banner */

.zxd_banner {
    height: 475px;
    background: url('https://staticqn.qizuang.com/custom/20200414/FkfC2q64XdexfPtmW9FvzxLzfasS') no-repeat top center;
    overflow: hidden;
}

.banner_form {
    width: 260px;
    margin-top: 50px;
    background: #fff;
    padding: 10px 20px 20px;
    border-radius: 7px;
}

.banner_form .form_title {
    position: relative;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    padding: 20px 0;
    color: #ff8e41;
}

.banner_form .form_title .line {
    background: #ff9b26;
    height: 1px;
    width: 40px;
    position: absolute;
    top: 40px;
}

.banner_form .form_title .line-l {
    left: 0;
}

.banner_form .form_title .line-r {
    right: 0;
}

.banner_form .input {
    margin-bottom: 5px;
    position: relative;
    *zoom: 1;
}
.banner_form .info{
    line-height: 20px;
    color: #c00;
    font-size: 12px;
    height: 20px;
}
#topInfo{
    display: none;
}
.banner_form .input input {
    color: #333333;
    background: #f7f7f7;
    border-radius: 5px;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    width: 240px;
    font-size: 14px
}

.banner_form .banner_form_btn {
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    line-height: 46px;
    background: #ff9b26;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.banner_form .bom_text {
    line-height: 16px;
    color: #999;
}

.banner_form .disclamer-line {
    margin-bottom: 10px;
}

/* 广播 */

.broadcast {
    background: #f5dec1;
    height: 40px;
}

.broadcast_list {
    padding-left: 40px;
    line-height: 40px;
    color: #fd8027;
    font-size: 16px;
    background: url('../img/tongzhi.png') no-repeat 5px 5px;
    background-size: 28px 28px;
    height: 40px;
    overflow: hidden;
}

/* 灰色背景 */

.back-e {
    background: #f0f1f5;
}

/* 栏目 标题 */

.zxd_title {
    margin-top: 65px;
    text-align: center;
}

.zxd_title .top_title {
    display: inline-block;
    font-size: 24px;
    color: #323232;
    line-height: 44px;
    font-weight: 600;
    padding: 0 180px;
    position: relative;
}

.zxd_title .top_title .icon {
    display: inline-block;
    width: 158px;
    height: 20px;
    position: absolute;
    top: 12px;
    background: #333;
}

.zxd_title .top_title .icon-l {
    left: 0;
    background: url('../img/icon-r.png') no-repeat;
}

.zxd_title .top_title .icon-r {
    right: 0;
    background: url('../img/icon-l.png') no-repeat;
}

.zxd_title p {
    margin: 0 auto;
    font-size: 16px;
    color: #999;
    line-height: 24px;
    margin-bottom: 45px;
}

.zxd_title p span {
    color: #425ed9;
}

.zxd_service .service_gl {
    height: 440px;
    background: url('../img/gl-bj.png') no-repeat;
    background-size: 100% 425px;
    background-position: 0 15px;
    margin-bottom: 119px;
    position: relative;
}

.zxd_service .service_gl .gl_title {
    text-align: center;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
}

.zxd_service .service_gl .gl_text {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    position: absolute;
}

.zxd_service .service_gl .gl_text4, .zxd_service .service_gl .gl_text5 {
    text-align: right;
}

.zxd_service .service_gl .gl_text1 {
    top: 100px;
    left: 415px;
}

.zxd_service .service_gl .gl_text2 {
    top: 256px;
    left: 180px;
}

.zxd_service .service_gl .gl_text3 {
    top: 383px;
    left: 139px;
}

.zxd_service .service_gl .gl_text4 {
    top: 210px;
    right: 163px;
}

.zxd_service .service_gl .gl_text5 {
    top: 344px;
    right: 130px;
}

.zxd_service .service_jy {
    height: 389px;
    background: url('../img/jy-bj.png') no-repeat 100% 100%;
    margin-bottom: 124px;
    position: relative;
}

.zxd_service .service_jy .jy_title {
    text-align: center;
    color: #333;
    font-size: 32px;
    line-height: 52px;
}

.zxd_service .service_jy .jy_text {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 24px;
    position: absolute;
}

.zxd_service .service_jy .jy_text1 {
    top: 126px;
    left: 287px;
}

.zxd_service .service_jy .jy_text2 {
    top: 222px;
    left: 123px;
}

.zxd_service .service_jy .jy_text3 {
    top: 315px;
    left: 78px;
    text-align: right;
}

.zxd_service .service_jy .jy_text4 {
    top: 135px;
    right: 150px;
}

.zxd_service .service_jy .jy_text5 {
    top: 272px;
    right: 62px;
}

/* 源于热忱 齐装上阵 */

.zxd_icon_list {
    padding-bottom: 80px;
    overflow: hidden;
}

.icon_list_conent {}

.icon_list_conent ul li {
    width: 175px;
    height: 220px;
    background: url('../img/icon-bg.png') no-repeat;
    background-size: contain;
    text-align: center;
    float: left;
    margin-right: 30px;
    color: #ffffff;
}

.icon_list_conent ul li.last {
    margin-right: 0;
}

.icon_list_conent ul li img {
    width: 70px;
    height: 70px;
    margin: 25px auto 30px;
}

.icon_list_conent ul li h5 {
    font-size: 24px;
}

.icon_list_conent ul li span {
    font-size: 16px;
}

/* 流程 */

.zxd_liuch .zxd_title .top_title span {
    color: #FF6800;
    font-size: 30px;
}

.zxd_liuch .step_main {
    text-align: center;
}

.zxd_liuch .step_main .step {
    margin-bottom: 30px;
}

.zxd_liuch .step_main .step img {
    width: 169px;
    height: 194px;
}

.zxd_liuch .step_main .step p {
    font-size: 24px;
    line-height: 70px;
    color: #333;
}

.zxd_liuch .step_main .arrow {
    width: 257px;
    background: url('../img/jt_bj.png') center bottom no-repeat;
    line-height: 68px;
    color: #D7A161;
    font-size: 18px;
    margin: 30px 40px 0;
}

.zxd_liuch .open_btn {
    margin: 0 auto;
    text-align: left;
    width: 373px;
    height: 62px;
    background: url('../img/btn-bj.png') no-repeat;
    background-size: 100%;
    font-size: 18px;
    color: #ffffff;
    line-height: 55px;
    padding-left: 39px;
    margin-bottom: 56px;
    cursor: pointer;
}

.zxd_liuch .open_btn a {
    color: #fff;
}

/* 问答 */

.zxd_question {
    overflow: hidden;
}

.zxd_question .qa_main {
    width: 580px;
    margin-bottom: 50px;
}

.zxd_question .qa_main h3 {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 600px;
    background: -moz-linear-gradient(to right, #2957CF, #346AD7);
    /*适合 FF3.6+*/
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#2957CF), to(#346AD7));
    /*适合Chrome, Safari4*/
    background: -webkit-linear-gradient(to right, #2957CF, #346AD7);
    /*适合Chrome10+, Safari5.1+*/
    background: -o-linear-gradient(to right, #2957CF, #346AD7);
    /*适合Opera 11.10+*/
    background: -ms-linear-gradient(to right, #2957CF, #346AD7);
    /*适合IE10+*/
    background: linear-gradient(to right, #2957CF, #346AD7);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2957CF', endColorstr='#346AD7', GradientType=1);
    /* IE6-9 */
}

.zxd_question .qa_main p {
    height: 100px;
    background: #fff;
    padding: 10px 20px 0;
    line-height: 30px;
    font-size: 16px;
    color: #3240A3;
}

/* 合作伙伴 */

.zxd_partner {
    background: url('../img/partner-bg.png') no-repeat;
    background-size: cover;
    height: 433px;
}

.partner_content {
    padding: 0 140px;
    line-height: 214px;
}

.partner_content img {
    vertical-align: middle;
}

.partner_content img.middle {
    margin: 0 30px;
}

/* 底部 */

.zxd_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: rgba(0, 0, 0, .6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);    /*IE8支持*/
}

.zxd_bottom .zxd_bottom_img {
    margin-top: -12px;
    float: left;
    line-height: 48px;
}

.zxd_bottom .text {
    float: left;
    color: #FED52C;
    margin: 13px 45px 0 33px;
}

.zxd_bottom .text h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
}

.zxd_bottom .text p {
    font-size: 28px;
    line-height: 36px;
}

.zxd_bottom .form {
    float: right;
}
.zxd_bottom .form .form_input{
    position: relative;
    *zoom: 1;
}
.zxd_bottom .form .close{
    text-align: right;
    height: 22px;
    font-size: 0;
    margin-top: 8px;
}
.zxd_bottom .form .close img{
    cursor: pointer;
}
.zxd_bottom .form input{
    padding:0 10px;
    width: 240px;
    height: 45px;
    background: #fff;
    color: #333333;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 5px;
    line-height: 45px;
}
.zxd_bottom .form .btn{
    display: inline-block;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background-color: #FF9B26;
    margin-right: 30px;
    cursor: pointer;
}
.zxd_bottom .form .error-info{
    display: inline-block;
    padding-left: 10px;
    width: 250px;
    height: 12px;
    line-height: 12px;
    color: #c00;
    font-size: 12px;
}
.zxd_bottom .form .error-info2{
    margin-left: 20px;
}
.bottom_img{
    position: fixed;
    left: 0;
    bottom: 20px;
    cursor: pointer;
    display: none;
}
.disclamer{
    /* text-align: right; */
    height: 20px;
    margin-top: 5px;
}
.disclamer .disclamer-line{
    float: right;
}

.zxd_popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);    /*IE8支持*/
    display: none;
    z-index: 99;
}
.popup_main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 338px;
    margin: -169px 0 0 -160px;
    background: url('../img/popup-bj.png') no-repeat;
    text-align: center;

}
.popup_main #popup_close{
    position: absolute;
    right: 0;
    top: -56px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.popup_main .top_img{
    margin: 33px 0 20px;
}
.popup_main h4{
    font-size: 30px;
    line-height: 46px;
    color: #333;
    font-weight: bold;
}
.popup_main p{
    font-size: 16px;
    line-height: 36px;
    color: #999;
}
