
.main {
    padding: 20rpx 30rpx 35rpx;
}
.main text {
    display: block;
    text-indent: 2em;
    text-align:justify;
    font-size: 32rpx;
}

.main .sub_title {
    text-align:center;
    margin-bottom: 15rpx;
}
