#m-dsg{
  width: 100%;
  font-family: "Microsoft YaHei";
  position: relative;
  background-color: #fff;
overflow:hidden;
  margin:0 auto;
}
#m-dsg .m-dsg-img{
  width: 6em;
  height: 6em;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top:18px;
}
.m-dsg-img img{
  width: 100%;
  height:100%;
  display: block;
  position: relative;
  color: #ffffff
}
.m-dsg-img .morenInfo:after{ width: 100%; height: 100%; border-radius: 50%; background:url("../../../common/img/moren.png") no-repeat center; background-size: 100% 100%; position:absolute;content:"";display:block;top:0;left:0; }
#m-dsg .m-dsg-tit{
  width:94%;
  margin: 8px auto;
}
.m-dsg-tit p{
  width:100%;

  text-align: center;
}
.m-dsg-tit p.dsg-name{
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.m-dsg-tit p.dsg-time{
  font-size: 14px;
}
.m-dsg-tit p.dsg-time span{
  margin:0 16px;
  font-size: 12px;
  color: #999;
}
.tab {
  border-bottom: 1px solid #F5F5F5;
}
.show {
    display: block !important;
}
.tab .w50 {
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.tab .w50 span {
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
}
.tab .w100 {
    width: 100%;
}
.tab .w50.cur span {
  color: #FF575C;
  border-bottom: 2px solid #FF575C;
}
.tab-main .pic-list ul {
  padding: 15px;
  box-sizing: border-box;
}
.tab-main .pic-list ul li {
  width: 48.5%;
  float: left;
  margin-right: 3%;
  margin-bottom: 15px;
}
.tab-main .pic-list ul li:nth-child(2n) {
  margin-right: 0;
}
.tab-main .pic-list ul li img {
  display: block;
  width: 100%;
  height: 1.008rem;
  background: #ccc;
}
.tab-main .pic-list ul li .info .xq-name {
  font-size: 14px;
  color: #333;
  margin: 5px 0;
}
.tab-main .pic-list ul li .info .style {
  color: #999;
  font-size: 12px;
  margin: 5px 0;
}
.tab-main .pic-list ul li .info .style .fr {
  float: right;
}
.tab-main .intro {
  display: none;
  padding: 16px 30px 16px 20px;
}
.tab-main .intro .title {
  color: #333;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}
.tab-main .intro .desc {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}
.load {
  text-align: center;
  margin-bottom: 20px;
}
.load i {
  margin-right: 10px;
}
/*分页*/
#jump-num-box{position: absolute;height:20em; background: white;width:100%;z-index:99;overflow: auto;bottom:-20em;}
.fenye-title{font-size: 17px;border-bottom: 1px solid #ECECEC;padding:10px;}
#jump-num-box ul{padding:0;}
#jump-num-box ul li{padding:10px;border-bottom:  1px solid #ECECEC;float: none;width:100%;margin-bottom:0;}
#jump-num-box ul li:nth-last-child(1){ border:none;}
#jump-num-box ul li span{padding:0px 5px;}
