.m-bread {
  width: 100%;
  height: 0.3rem;
  overflow: hidden;
  padding-left: .85em;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
  box-sizing: border-box;
  line-height: 0.3rem;
  font-size: .8em;
  border-top: 5px solid #eee;
  padding-top: 3px;
}
.main {
  background: #fff;
}
.m-title h1 {
  margin-left: 0.1rem;
  margin-top: 0.05rem;
  text-align: center;
  height: 0.25rem;
  line-height: 0.25rem;
  background: #FF5659;
  color: #fff;
  border-radius: 25px;
  font-size: 15px;
  display: inline-block;
  padding: 0 0.1rem;
}
.m-box ul li {
  overflow: hidden;
  padding: 0.1rem 0.08rem;
  margin: 0.1rem;
  box-shadow: 0px 0px 8px #DEDEDE;
}
.m-box .img-box,.other-article-img {
  width: 1rem;
  float: left;
  height: 0.74rem;
}
.m-box .img-box img {
  display: block;
  width: 100%;
  height: 100%;
}
.other-article-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.other-article-text p {
  margin-left: 1.08rem;
  font-size: 0.12rem;
  color: #666666;
  padding-top: 0.1rem;
}
.list-content {
  margin-left: 1.08rem;
}
.list-content-title{
  min-width:110px;
}
.list-content-body {
  font-size: 0.12rem;
  color: #666666;
  padding-bottom: 0.02rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#calculator, #calculator3 {
  display: none;
}
.list-time{
  position: absolute;
  bottom: 0;
}
/* 分页 */
#jump-num-box{position: absolute;height:20em; background: white;width:100%;z-index:99;overflow: auto;bottom:-20em;}
.fenye-title{font-size: 17px;border-bottom: 1px solid #ECECEC;padding:10px;}
#jump-num-box ul li{padding:10px;border-bottom:  1px solid #ECECEC;}
#jump-num-box ul li:nth-last-child(1){ border:none;}
#jump-num-box ul li span{padding:0px 5px;}