.leftsider {font-family: Microsoft YaHei;width: 872px;float: left;}
.rightsider{float: right;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden}
.clearfix {*+height: 1%;}
.revise{font-size: 12px;color: #333;}/*面包屑修正*/

/*左侧表单*/
.ls-banner{
	width: 1210px;
	height: 102px;
	background: url('/assets/common/img/hl2.jpg');
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 10px 18px;
}
.ls-banner h3{
	    color: #c28559;
    font-size: 26px;
    padding-bottom: 10px;
}
.ls-banner h1 i{
	color: #ff565d;
}
.ls-banner .ls-msg{
	width: 480px;
	height: 90px;
	float: left;
}
.ls-msg ul li{
	float: left;
    margin-bottom: 10px;
}
.ls-banner .ls-msg ul li:nth-child(1),
.ls-banner .ls-msg ul li:nth-child(3){
	margin-right: 20px;
}
.ls-banner .ls-msg ul li input {
    width: 223px;
    height: 28px;
    padding-left: 5px;
    border: 1px solid #dcd8d7;
    margin-top: 12px;
}
.ls-banner .ls-msg ul li .sle-time {
    width: 230px;
    height: 28px;
    border: 1px solid #dcd8d7;
}
.ls-banner .ls-msg ul li .sle {
    width: 110px;
    height: 28px;
    border: 1px solid #dcd8d7;
}
.ls-banner .ls-msg ul li .sle:first-child{
	margin-right: 6px;
}
.ls-banner .btn-cal{
	width: 192px;
	height: 90px;
	float: right;
}
.ls-banner .btn-cal a {
	width: 150px;
    height: 30px;
    margin:0 auto;
    display: block;
    line-height: 30px;
    margin-top: 30px;
    border-radius: 4px;
    background: #FF7A01;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: "Microsoft YaHei";
}
/*左侧详情内容*/
.ls-box{
	width: 870px;
	height: auto;
	border:1px solid #e3e3e3;
	overflow: hidden;
}
.ls-box .ls-box-main{
	width: auto;
	height: auto;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
}
.ls-box .ls-box-main .bk-td-tit{
	font-size: 24px;
	color: #333;
}
.ls-box .ls-box-main .bk-td-msg{
	margin-bottom: 10px;
    height: 30px;
    position: absolute;
    right: 25px;
}
.bk-td-msg .bk-td-sent{
	width: 700px;
	line-height: 28px;
	float: left;
}
.bk-td-msg .bk-td-sent span{
	margin-right: 5px;
}
.bk-td-msg .bk-td-share{
	float: right !important;
}
.bk-td-msg .bk-td-mark{
	float: right;
	width: 48px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border-radius: 5px;
	background: #fec56c;
}
.bk-td-msg .bk-td-mark a{
	width: 48px;
	height: 24px;
	display: block;
	color: #fff;
}
.bk-td-msg .bk-td-mark a i{
	margin-right: 3px;
}
.bk-td-imgtopic{
	width: 900px;
	height: 171px;
	overflow: hidden;
}
.bk-td-imgtopic .td-img{
	width: 200px;
	height: 200px;
	margin-left: 20px;
	float: left;
}
.bk-td-imgtopic img{
    width: 100%;
    height: 150px;
}
.bk-td-imgtopic .description{
    margin-top: 10px;
}
.new_xsc_fadan {
	width: 298px;
	margin-bottom: 20px;
}
.new_xsc_fadan .new_fadan_box {
	background: url('//staticqn.qizuang.com/custom/20200708/FmkmeRoNDeqVK-OB9blH5MBrQztR') no-repeat
}
.new_xsc_fadan .fadan_form {
	padding: 18px 22px 0px;
}
.new_xsc_fadan .disclamer-line a {
	line-height: 18px;
}
.bk-td-imgtopic p{
	margin-left: 14px;
	width: 600px;
	float: left;
	font-size: 14px;
	color: #666;
}
.bk-td-imgtopic .baike-title{font-size: 24px;font-family: "微软雅黑";color: #333;}
.item_wz{display:inline-block;float: right;width:660px;}
.item_wz .item-bottom{ margin-right:20px;float: right;display: block;position: absolute;
bottom: 23px;right: 17px;
}
.bk-td-main{
	margin: 20px 0;
}
.bk-td-main p{
	text-indent: 2em;
	line-height: 25px;
	margin: 10px 0;
}
.bk-td-other{
	margin-top: 20px;
    padding-bottom: 10px;
	padding-left: 30px;
	box-sizing: border-box;
}
.bk-td-other .ls-box-main .bk-td-tit{
	font-size: 20px;
	margin-bottom: 10px;
}

.bk-td-other .ls-box-main ul li{
	float: left;
	overflow: hidden;
	color: #999;
	line-height: 22px;
	margin-right: 18px;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 25px;
}
/*.bk-td-other .ls-box-main ul li::before{
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #666;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
}*/

/*右侧边栏*/
.bk-edit a{
	font-family: "Microsoft YaHei";
	width: 258px;
	height: 40px;
	display: block;
	background: #ff565d;
	text-align: center;
	line-height: 40px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #fff;
}

.bk-edit:hover a{background: #f28787;}
.bk-edit i{font-size: 24px;margin-right: 10px;}
.bk-new-gao{
	margin-top: 20px;
	padding-bottom: 10px;
}
.rightsider .secbox_form {
	float: right;
}
.rightsider .special-img img {
	float: right;
	margin-bottom: 20px;
}
.rightsider .mt15 img {
	float: right;
}
.bk-new-tag{
	width: 300px;
	float: right;
	border: 1px solid #eee;
	margin-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.bk-new-tag .new-tag-name{
	margin:0 10px;
	margin-top: 14px;
	overflow: hidden;
	margin-left: 12px;
}
.bk-new-tag .new-tag-name a{
	height: 22px;
	line-height: 22px;
	color: #666666;
	display: block;
	padding-right: 20px;
	font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}
.bk-new-tag .new-tag-name a:hover{color: red;}
.ls-banner .selet {
    height: 30px;
    float: left;
    margin-right: 20px;
    width: 230px;
}
.ls-banner .butt {
    height: 30px;
    width: 150px;
    float: left;
    cursor: pointer;
    background: #ef914c;
    color: #fff;
    border: 1px solid #f7842f;
    font-weight: bold;
}
.ls-banner input[type=text] {
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    width: 230px;
    float: left;
    margin-right: 20px;
}
.mulu_xq{
    width: 850px;
    padding: 10px;
    height: auto;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    margin-top: 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    line-height: 30px;
}
.lemma-catalog{margin-bottom: 30px;}
.lemma-catalog .block-title{
	display: inline-block;
	float: left;
	font-size: 24px;
	font-family: "微软雅黑";
	width: 63px;
	height: 48px;
	margin: 22px 0 0 40px;
	text-align: center;
	margin-right: 8px;
}

.catalog-list{display: inline-block;width: auto;
     padding-top: 15px;
     border-left: 1px dashed #e6e6e6;
     font-size: 16px;
     font-family: "微软雅黑";
     color: #3587d8;
}
.catalog-list .level1 .index{padding: 0 8px 0 20px;}
.catalog-list .level1 .text a{color: #3587d8;}
.para_title{display: block;border-left: 8px #3587d8 solid;
height: 24px;line-height: 24px;margin-bottom: 15px;
}
.para_title .title_text{display: inline-block;font-size: 18px;font-family: "微软雅黑";color: #333;
margin-left: 13px}
.para_title .suxian_bj{height: 1px; background: #e6e6e6;width: 748px;display: inline-block;
vertical-align: middle;margin-left: 10px;position: relative;top: -1px;
}
.para_title .jiangchagn{height: 1px; background: #e6e6e6;width: 715px;display: inline-block;
vertical-align: middle;margin-left: 10px;position: relative;top: -1px;
}

.para{margin-bottom: 38px;}
.para .para_cont{margin-left: 40px;font-size: 14px;font-family: "微软雅黑";color: #666;line-height: 25px;}
.showt_tup{height: 245px;margin-top: 20px;}
.showt_tup .title_xiaoguo{font-size: 18px;font-family: "微软雅黑";color: #333;margin-left: 20px;margin-top: 20px;
margin-bottom: 10px;}
.ul_showtu{margin-left: 20px;display: inline-block;width: auto;}
.ul_showtu li{display: inline-block;margin-right: 24.8px;}
.ul_showtu li.show_end{}
.dange_tu01{display: inline-block;text-align: center;}
.dange_tu01 img{display: inline-block; width: 200px; height: 150px;}
.dange_tu01 span{display:block;}
.moqu_header img{vertical-align: middle;position: relative;top: -2px;}
.footer{margin-top: 17px;margin-bottom: 15px;}
.search-box button {
    background: url(http://www.qizuang.com/assets/common/img/sear-btn.png) no-repeat;
    width: 42px;
    height: 35px;
    float: left;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.article_menu_box{ border:1px solid #e6e6e6; width:870px; margin-top:20px;}

.article_menu_box .list-head ul{
	overflow: hidden;
	padding: 10px 30px 0px 30px;
	position: relative;
}
.article_menu_box .list-head ul li{
	float: left;
	font-size: 16px;
	margin: 0px 15px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	height: 32px;
	width: 80px;
	box-sizing: border-box
}
.article_menu_box .list-head ul li span{
	display: block;
	text-align: center;
	margin-bottom: -9px;
}

.article_menu_box .gray-back{
	background:#F2F2F2;
	padding:10px 35px;
}
.article_menu_box .gray-back .back_item{display: none;}
.item_active{display: block !important;}
.article_menu_box .gray-back a{font-size: 14px; padding:5px 10px; display: inline-block;}

.article_menu_box .list-head ul li i{
	display: block;
	display: none;
}
.head-active{
	color: #ff5353;
	border-bottom: 2px solid #ff5353;
}
.head-active a{
	color:#ff5353!important;
}
.head-active a:hover{
	color:#ff5353!important;
}
.head-active div{display: block !important;}

.article_menu_box .list-head .head-active i{
	display: block !important;
}
.bk-td-imgtopic h1 {
	margin-left: 14px;
	width: 600px;
	float: left;
	font-size: 14px;
	color: #666;
}
.bk-new-tag > div:first-child{
	font-weight: normal;
	font-size: 16px;
	margin-top: 8px;
	margin-left: 12px;
	color: #333;
}

.bk-new-tag > div:first-child .question {
	font-size: 16px;
	color: #3587d8;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}
.mulu_xq{
	margin-bottom: 10px;
}
.keywords{
	margin-bottom: 15px;
}
.keywords li{
	float: left;
	background: #EDEDED;
	line-height: 20px;
	font-size: 14px;
	padding: 5px 10px;
}
.disclamer-line a {
    line-height: 8px;
}


/*1095 攻略、百科、问答文章右侧及底部添加装修公司推荐模块*/
.company-recommend{
	width: 298px;
	padding: 0 15px;
	box-sizing: border-box;
	background: #ffffff;
	margin-bottom: 20px;
	border:1px solid #E2E2E2;
	margin-left: 30px;
}
.company-recommend .recommend-tit{
	height: 52px;
	border-bottom: 1px solid #E2E2E2;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	line-height: 52px;
}
.company-recommend .company-list{
	height: 150px;
	border-bottom: 1px solid #E2E2E2;
	position: relative;
}
.company-recommend .company-list:last-child{
	border-bottom: none;
}
.company-recommend .company-list .company-top{
	padding-left: 115px;
}
.company-recommend .company-list .company-logo{
	display: block;
	width: 100px;
	height: 74px;
	position: absolute;
	top: 16px;
	left: 0;
	margin: auto;
	border: 1px solid #E2E2E2;
}
.company-recommend .company-list .company-logo img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.company-recommend .company-list .company-name{
	font-size: 14px;
	font-weight: bold;
	padding-top: 12px;
	word-break:break-all;
	word-wrap:break-word;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.company-recommend .company-list .company-common{
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #666;
	margin-bottom: 6px;
}
.company-recommend .company-list .company-common span{
	padding:1px 5px;
	border: 1px solid #E2E2E2;
}
.company-recommend .company-list .company-common span:first-child{
	margin-right: 6px;
}
.company-recommend .company-list .total-num{
	height: 36px;
	word-break:break-all;
	word-wrap:break-word;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.company-recommend .company-list .company-zixun{
	display: block;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #D02825;
	background: #fff;
	color: #D02825;
	border-radius: 4px;
	margin-top:12px;
}
.company-recommend .company-list .company-zixun:hover{
	background: #D02825;
	color: #fff;
}
.company-recommend-left{
	height: 198px;
	padding: 0 17px 32px;
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid #e3e3e3;
}
.company-recommend-left .recommend-left-tit{
	font-size: 24px;
	font-weight: bold;
	color: #333;
	height: 60px;
	line-height: 60px;
	margin-bottom: 12px;
}
.company-recommend-left .recommend-left-box ul li{
	display: block;
	width: 250px;
	padding: 11px;
	height: 100px;
	float: left;
	margin-right: 7px;
	border: 1px solid #E3E3E3;
	position: relative;
}
.company-recommend-left .recommend-left-box ul li:last-child{
	margin-right: 0;
}
.company-recommend-left ul li .recommend-left-top{
	padding-left: 93px;
}
.company-recommend-left ul li .recommend-left-top .company-left-logo{
	width: 82px;
	height: 61px;
	position: absolute;
	left: 11px;
	border: 1px solid #E2E2E2;
}
.company-recommend-left ul li .recommend-left-top .company-left-logo img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.company-recommend-left .recommend-left-top .recommend-left-name{
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	color: #333;
	font-weight: bold;
	word-break:break-all;
	word-wrap:break-word;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.company-recommend-left .recommend-left-top .recommend-left-common{
	font-size: 12px;
	line-height: 24px;
	color: #666;
	word-break:break-all;
	word-wrap:break-word;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.company-recommend-left ul li .zixun-left{
	display: block;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border:1px solid #D02825;
	color: #D02825;
	background: #fff;
	font-size: 12px;
	border-radius: 4px;
	margin-top:8px;
}
.company-recommend-left ul li .zixun-left:hover{
	color: #fff;
	background: #D02825;
}
