.left {
  float: left;
}
.right {
  float: right;
}
.main-left {
  width: 900px;
}
.main-right {
  width: 280px;
}
.mt40 {
  margin-top: 40px;
}
.mt120 {
  margin-top: 120px;
}
.bread h1{display: inline-block}

.list li {
  font-size: 14px;
  float: left;
  text-align: center;
  vertical-align: top;
    overflow: hidden;
    padding: 5px;
}
.list li a {
  color: #666;
  position: relative;
  display: block;
  text-overflow: ellipsis;
  white-space:nowrap;
  width:160px;
  height:30px;
  line-height: 30px;
    overflow: hidden;
}
.list li a .hot {
  display: block;
  width: 24px;
  height: 15px;
  position: absolute;
  top: -10px;
  right: -30px;
  background: url('../images/hot.png');
}

.list li:hover a {
  color: #ff5353;
}

.konw-box {
  border: 1px solid #e6e6e6;
  padding: 20px;
  background: white;
  margin-bottom: 20px;
}
.left-title {
  font-size: 19px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 6px;
  margin-bottom: 15px;
}
.hot-title ul {
  width: 100%;
}
.hot-title a {
  padding: 8px;
  background: #EDEDED;
  display: inline-block;
  margin: 2px;
}


/* 百科专题页css */
.bread {
  font-size: 12px;
  margin-bottom: 5px;
}
.ls-banner{
	width: 1210px;
	height: 102px;
	background: url("/assets/common/img/hl2.jpg");
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 10px 18px;
}
.ls-banner h3{
	    color: #c28559;
    font-size: 26px;
    padding-bottom: 10px;
}
.ls-banner h1 i{
	color: #ff565d;
}
.ls-banner .ls-msg{
	width: 480px;
	height: 90px;
	float: left;
}
.ls-msg ul li{
	float: left;
    margin-bottom: 10px;
}
.ls-banner .ls-msg ul li:nth-child(1),
.ls-banner .ls-msg ul li:nth-child(3){
	margin-right: 20px;
}
.ls-banner .ls-msg ul li input {
    width: 223px;
    height: 28px;
    padding-left: 5px;
    border: 1px solid #dcd8d7;
    margin-top: 12px;
}
.ls-banner .ls-msg ul li .sle-time {
    width: 230px;
    height: 28px;
    border: 1px solid #dcd8d7;
}
.ls-banner .ls-msg ul li .sle {
    width: 110px;
    height: 28px;
    border: 1px solid #dcd8d7;
}
.ls-banner .ls-msg ul li .sle:first-child{
	margin-right: 6px;
}
.ls-banner .btn-cal{
	width: 192px;
	height: 90px;
	float: right;
}
.ls-banner .btn-cal a {
	width: 150px;
    height: 30px;
    margin:0 auto;
    display: block;
    line-height: 30px;
    margin-top: 30px;
    border-radius: 4px;
    background: #FF7A01;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    font-family: "Microsoft YaHei";
}
.ls-banner .disclamer-line a {
  line-height: 6px;
}
.ls-box{
	width: 930px;
	height: auto;
	border:1px solid #e3e3e3;
	overflow: hidden;
}
.ls-box .ls-box-main{
	width: auto;
	height: auto;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
}
.ls-box .ls-box-main .bk-td-tit{
	font-size: 24px;
	color: #333;
}
.ls-box .ls-box-main .bk-td-msg{
	margin-bottom: 10px;
    height: 30px;
    position: absolute;
    right: 25px;
}
.ls-banner .selet {
  height: 30px;
  float: left;
  margin-right: 20px;
  width: 230px;
}
.ls-banner .butt {
  height: 30px;
  width: 150px;
  float: left;
  cursor: pointer;
  background: #ef914c;
  color: #fff;
  border: 1px solid #f7842f;
  font-weight: bold;
}
.ls-banner input[type=text] {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  width: 230px;
  float: left;
  margin-right: 20px;
}
.main-left .title {
  margin: 10px;
  font-weight: 700;
  font-size: 26px;
  margin-top: 0;
}

.bk {
  padding: 0;
}
.bk .left-title {
  padding: 10px;
  margin-bottom: 0;
}
.baikeList-box {
  padding: 20px 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.baikeList-box li {
  width: 100%;
  float:left;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
.baikeList-box li:nth-child(12) {
  border-bottom: none;
}
.baikeList-box li img {
  width:180px;
  height:136px;
  float: left;
  border-radius: 5px;
}
.baikeList-box li .jxbk-title {line-height: 28px;}
.baikeList-box li .jxbk-container {
  margin-left:190px; border:none;
}
.jxbk-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3;
  height: 60px;
  font-size: 14px;
  overflow: hidden;
}

.jxbk-time {
    color: #666;
    font-size: 14px;
    font-family: "Micorsoft yahei";
    text-align: right;
    margin-top: 15px;
}
.jxbk-title,.tuwenbt,.other-item-tit {
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.tupbjsjtk {
  float: left;
  width: 180px;
  height: 136px;
  background: url(/assets/home/baike/images/shejitankz.jpg) no-repeat;
  background-size: 100%;
  border-radius: 5px;
}
.tupbjzxjr {
  float: left;
  width: 180px;
  height: 136px;
  background: url(/assets/home/baike/images/zhuangxiujiri.jpg) no-repeat;
  background-size: 100%;
  border-radius: 5px;
}
.wenzhangms,.other-item-main {
  margin-left: 190px;
}
.other-item-ref {
  margin-top: 40px;
}
.tuwennr {
  font-size: 14px;
}
.new-baike-text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3;
  height: 70px;
  overflow: hidden;
}
.bklist-box{width:180px;height: 136px; overflow: hidden; position: relative; display: block;float: left;}
.bklist-box img{position: absolute; width: 180px;height: 136px; left:50%; margin-left:-90px; top:50%; margin-top: -68px;}
.bklist-box:hover img{width: 200px;height: 150px; margin-top: -75px; margin-left: -100px;
 transition: all 0.7s;
 -moz-transition: all 0.7s;  /* Firefox 4 */
 -webkit-transition: all 0.7s;   /* Safari 和 Chrome */
 -o-transition: all 0.7s;    /* Opera */
}
.main-right .bk ul {
  padding: 10px;
}
.main-right .bk ul li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed #ccc;
}
.main-right .bk ul li .yuan {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}
.windowbg {
  background: rgba(0,0,0,.5);
}



.article_menu_box{ border:1px solid #e6e6e6; width:930px; margin-top:20px;}

.article_menu_box .list-head ul{
    overflow: hidden;
    padding: 10px 15px 0px 15px;
    position: relative;
}
.article_menu_box .list-head ul li{
    float: left;
    font-size: 16px;
    margin: 0px 5px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
    width: 102px;
    text-align: center;
}
.article_menu_box .list-head ul li span{
    display: block;
    text-align: center;
    margin-bottom: -9px;
}

.article_menu_box .gray-back{
    background:#F2F2F2;
    padding:10px 35px;
}
.article_menu_box .gray-back .back_item{display: none;}
.item_active{display: block !important;}
.article_menu_box .gray-back a{/*font-size: 14px;*/ padding:5px 10px; display: inline-block;}

.article_menu_box .list-head ul li i{
    display: block;
    display: none;
}
.head-active{
    color: #ff5353;
    border-bottom: 2px solid #ff5353;
}
.head-active a{
    color:#ff5353!important;
}
.head-active a:hover{
    color:#ff5353!important;
}
.head-active div{display: block !important;}

.article_menu_box .list-head .head-active i{
    display: block !important;
}
.bk-td-imgtopic h1 {
    margin-left: 14px;
    width: 650px;
    float: left;
    font-size: 14px;
    color: #666;
}
.bk-new-tag > div:first-child{
    font-weight: normal;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 12px;
    color: #333;
}

.bk-new-tag > div:first-child .question {
    font-size: 16px;
    color: #3587d8;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.pageContent{
    padding-bottom: 0;
}
.wrap{
    margin-bottom: 20px;
}

.jxbk-container .jxbk-time .labels{ text-decoration: underline; padding:2px 2px;  color: #1F80C7}
.jxbk-content a{color:#0099cc }