/**
 * @file index.css
 * @author swan
 */
  @import '../../styles/public.css';
image{
    display: block;
}
.p-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #3B1E95
}
.p-container .bg-one {
    width:100%;
    margin:0px;
    padding: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}
.bottom-btn {
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
    bottom:150rpx;
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari 和 Chrome */
    -o-transition: all 1s; /* Opera */
}
 
.bottom-btn text{
    font-size: 38rpx;
    color:#ff5353;
}
.center-center{
    position: absolute;
    margin:auto;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
}
.fix-tips{
    position: absolute;
    z-index: 3;
    left: 40rpx;
    top:26%;
    display: block;
    font-size: 28rpx;
    color: #0FEBFF;
}
.fix-tips view{
    margin: 20rpx 0px;
    padding:15rpx 34rpx;
    max-width: 85%;
    min-width: 40%;
    display: inline-block;
    border-radius: 30rpx;
    background: -webkit-radial-gradient(transparent,transparent , #4262DA); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(transparent, transparent, #4262DA); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(transparent, transparent, #4262DA); /* Firefox 3.6 - 15 */
    background: radial-gradient(transparent, transparent, #4262DA); /* 标准的语法 */
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari 和 Chrome */
    -o-transition: all 1s; /* Opera */
}
 
.fadeOut{
    opacity: 0 !important;
}
.fadeIn{
    opacity: 1 !important;
}