<extend name="Common:basic" />
<block name="title">
	<title>公装设计报价 - 靠谱的公装公司推荐 - 齐装网</title>
</block>
<block name="keywords">
	<meta name="keywords" content="公装设计，公装报价，公装公司，公装设计报价" />
</block>
<block name="description">
	<meta name="description"
		content="齐装网公装设计报价栏目提供办公室、写字楼、厂房、商铺、门面房、餐饮、酒店等各类公装案例及报价清单，简单三步即可轻松找到靠谱的公装公司，更可免费领取4份公装设计报价！找公装，来齐装。" />
</block>
<block name="link">
	<link href="/assets/mobile/common/js/swiper/swiper.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css">
	<link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
	<link href="/assets/home/gongzc/css/modile.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />

	{$base_code|htmlspecialchars_decode}

</block>
<block name="top">
	<div class="m-header-his">
		<i class="fa fa-angle-left"></i>
	</div>
	<a href="/" class="m-header-left"></a>
	<div class="m-header-tit"></div>
</block>
<block name="content">
	<div class="wrap">
		<div class="toppic">
		</div>
		<!-- 一键获取 -->
		<a name="top"></a>
		<div class="cont-Pic">
		</div>
		<!-- 发单区 -->
		<div class="inp-box">
			<div class="inp-cont">
				<p>
					量身定制/精准明确/杜绝增项
				</p>
				<p>
				</p>
				<p>
					已有 6326 人获取报价
				</p>
			</div>
			<!-- 城市 -->
			<div class="city-box">
				<button id="showCityPicker2" class="c-zb-city" type="button" style="border-radius: 0.051rem;">
					<i class="map-marker"></i>
					请选择您所在的区域
				</button>
				<input type="hidden" name="hide_city_id" value="">
				<input type="hidden" name="province" data-id="">
				<input type="hidden" name="city" data-id="">
				<input type="hidden" name="area" data-id="">
				<p class="city-warn p-box"></p>
			</div>
			<!--姓名  -->
			<div class="name-box">
				<input class="box-css no-01 name-nz" type="text" placeholder="怎么称呼您" name="name" maxlength="20">
				<p class="name-warn p-box">
				</p>
			</div>
			<!-- 电话号码 -->
			<div class="tel-box">
				<input class="box-css no-01 twl-nz" placeholder="手机号" type="tel" name="tel" maxlength="11">
				<p class="tel-warn p-box"></p>
			</div>
			<!-- 免责 -->
			<div class="ef_box">
				<include file="Common/disclaimer" />
			</div>
			<button class="btn-box">
				<span>立即0元获取</span>
			</button>
		</div>
		<!--展示 -->
		<div class="show-box">
		</div>
		<!-- box01 -->
		<div class="box-one">
			<div class="box-one-box">
				<div class="two-btn-box">
					<button class="btn-box01" data-id="1">
						办公空间
					</button>
					<button class="btn-box02" data-id="1">
						厂房装修
					</button>
				</div>
				<div class="one-box01">
					<ul class="threelis">
						<!-- 1 -->
						<li class="li1">
							<p class="txt-p01">
								办公室
							</p>
							<p class="span-con"></p>
						</li>
						<!-- 2 -->
						<li class="li1">
							<p class="txt-p01">
								写字楼
							</p>
							<p class="span-con"></p>
						</li>
						<!--3  -->
						<li class="li1">
							<p class="txt-p01">
								LOFT
							</p>
							<p class="span-con"></p>
						</li>
					</ul>
					<!-- 图片 -->
					<div class="pic-box-one">
						<div class="swiper-container swiper-one">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="c1">
										<img src="/assets/home/gongzc/img/bangongshi.jpg" alt="">
										<div class="bt-box">
											<p class="pl1">理性 创意</p>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="c1">
										<img src="/assets/home/gongzc/img/xiezilou.jpg" alt="">
										<div class="bt-box">
											<p class="pl1">高端 大方</p>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="c1">
										<img src="/assets/home/gongzc/img/loft.jpg" alt="">
										<div class="bt-box">
											<p class="pl1">时尚 开放</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 2 -->
				<div class="one-box02">
					<ul class="threelis-1">
						<!-- 1 -->
						<li class="li1">
							<p class="txt-p001">
								厂房装修
							</p>
							<p class="span-con1"></p>
						</li>
						<!-- 2 -->
						<li class="li1">
							<p class="txt-p001">
								创意园区
							</p>
							<p class="span-con1"></p>
						</li>
					</ul>
					<!-- 图片 -->
					<div class="pic-box-one">
						<div class="swiper-container swiper-ones">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="c1">
										<img src="/assets/home/gongzc/img/changfang.jpg" alt="">
										<div class="bt-box">
											<p class="pl1">大气 整洁</p>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="c1">
										<img src="/assets/home/gongzc/img/chaungyi.jpg" alt="">
										<div class="bt-box">
											<p class="pl1">特色 现代</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#top"><button class="btn-zeo-box">
						<span>0元获取设计方案</span>
					</button></a>
			</div>
		</div>
	</div>
	</div>
	<!-- 第二个图框 -->
	<div class="box-two">
		<div class="box-two-box">
			<div class="zoom-btn-box">
				<button class="btn-box03" data-id="2">
					店面装修
				</button>
				<button class="btn-box04" data-id="2">
					餐饮装修
				</button>
			</div>
			<!--  -->
			<div class="zooms1">
				<ul class="zoom-01">
					<!-- 1 -->
					<li class="li2">
						<p class="txt-p02">
							便利店
						</p>
						<p class="zoom-span-con"></p>
					</li>
					<!-- 2 -->
					<li class="li2">
						<p class="txt-p02">
							门面房
						</p>
						<p class="zoom-span-con"></p>
					</li>
					<!--3  -->
					<li class="li2">
						<p class="txt-p02">
							专卖店
						</p>
						<p class="zoom-span-con"></p>
					</li>
				</ul>
				<div class="zoomSwiper">
					<div class="swiper-container zoom-swiper">
						<div class="swiper-wrapper zoom-wrapper">
							<div class="swiper-slide">
								<div class="c2">
									<img src="/assets/home/gongzc/img/bianlidian.jpg" alt="">
									<div class="zoom-bt-box">
										<p class="pl2">整齐 便捷</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="c2">
									<img src="/assets/home/gongzc/img/menmiandian.jpg" alt="">
									<div class="zoom-bt-box">
										<p class="pl2">清新 现代</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="c2">
									<img src="/assets/home/gongzc/img/zhuanmaidian.jpg" alt="">
									<div class="zoom-bt-box">
										<p class="pl2">专业 特色</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- --------------- -->
			<div class="zooms">
				<ul class="zoom-01">
					<!-- 1 -->
					<li class="li2s">
						<p class="txt-p002">
							餐厅
						</p>
						<p class="zoom-span-con1"></p>
					</li>
					<!-- 2 -->
					<li class="li2s">
						<p class="txt-p002">
							咖啡厅
						</p>
						<p class="zoom-span-con1"></p>
					</li>
					<!--3  -->
					<li class="li2s">
						<p class="txt-p002">
							茶餐厅
						</p>
						<p class="zoom-span-con1"></p>
					</li>
					<!-- 4  -->
					<li class="li2s">
						<p class="txt-p002">
							奶茶店
						</p>
						<p class="zoom-span-con1"></p>
					</li>
				</ul>
				<div class="zoomSwiper">
					<div class="swiper-container zoom-swipers">
						<div class="swiper-wrapper zoom-wrapper">
							<div class="swiper-slide">
								<div class="c2">
									<img src="/assets/home/gongzc/img/canting.jpg" alt="">
									<div class="zoom-bt-box">
										<p class="pl2">气质 别致</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="c2">
									<img src="/assets/home/gongzc/img/cafeiting.jpg" alt="">
									<div class="zoom-bt-box">
										<p class="pl2">典雅 怡静</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="c2">
									<img src="/assets/home/gongzc/img/chating.jpg" alt="">
									<div class="zoom-bt-box">
										<p class="pl2">快捷 宽松</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="c2">
									<img src="/assets/home/gongzc/img/naichadian.jpg" alt="">
									<div class="zoom-bt-box">
										<p class="pl2">情调 快乐</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#top">
			<button class="btn-zoom-box">
				<span>0元获取设计方案</span>
			</button></a>
	</div>
	<!-- 第三个图框 -->
	<div class="box-three">
		<div class="box-three-box">
			<div class="shop-btn-box">
				<button class="btn-box05" data-id="3">
					娱乐场所
				</button>
				<button class="btn-box06" data-id="3">
					酒店装修
				</button>
			</div>
			<!--  -->
			<div class="shops">
				<ul class="shop-02">
					<!-- 1 -->
					<li class="li3">
						<p class="txt-p03">
							SPA会所
						</p>
						<p class="shop-span-con"></p>
					</li>
					<!-- 2 -->
					<li class="li3">
						<p class="txt-p03">
							K T V
						</p>
						<p class="shop-span-con"></p>
					</li>
					<!--3  -->
					<li class="li3">
						<p class="txt-p03">
							健身房
						</p>
						<p class="shop-span-con"></p>
					</li>
					<!-- 4 -->
					<li class="li3">
						<p class="txt-p03">
							电影院
						</p>
						<p class="shop-span-con"></p>
					</li>
				</ul>
				<div class="shopSwiper">
					<div class="swiper-container shop-swiper">
						<div class="swiper-wrapper shop-wrapper">
							<!--  -->
							<div class="swiper-slide">
								<div class="c3">
									<img src="/assets/home/gongzc/img/spa.jpg" alt="">
									<div class="shop-bt-box">
										<p class="three-txt-p">心旷 神怡</p>
									</div>
								</div>
							</div>
							<!--  -->
							<div class="swiper-slide">
								<div class="c3">
									<img src="/assets/home/gongzc/img/ktv.jpg" alt="">
									<div class="shop-bt-box">
										<p class="three-txt-p">放松 宣泄</p>
									</div>
								</div>
							</div>
							<!--  -->
							<div class="swiper-slide">
								<div class="c3">
									<img src="/assets/home/gongzc/img/jianshenfang.jpg" alt="">
									<div class="shop-bt-box">
										<p class="three-txt-p">健康 活力</p>
									</div>
								</div>
							</div>
							<!--  -->
							<div class="swiper-slide">
								<div class="c3">
									<img src="/assets/home/gongzc/img/move.jpg" alt="">
									<div class="shop-bt-box">
										<p class="three-txt-p">科技 梦幻</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 3333 -->
			<div class="shops1">
				<ul class="shop-01">
					<!-- 1 -->
					<li class="li3s">
						<p class="txt-p003">
							酒店
						</p>
						<p class="shop-span-con1"></p>
					</li>
					<!-- 2 -->
					<li class="li3s">
						<p class="txt-p003">
							宾馆
						</p>
						<p class="shop-span-con1"></p>
					</li>
					<!--3  -->
					<li class="li3s">
						<p class="txt-p003">
							酒店房间
						</p>
						<p class="shop-span-con1"></p>
					</li>
				</ul>
				<div class="shopSwiper">
					<div class="swiper-container shop-swipers">
						<div class="swiper-wrapper shop-wrapper">
							<!--  -->
							<div class="swiper-slide">
								<div class="c3">
									<img src="/assets/home/gongzc/img/jiudian.jpg" alt="">
									<div class="shop-bt-box">
										<p class="three-txt-p">富丽 堂皇</p>
									</div>
								</div>
							</div>
							<!--  -->
							<div class="swiper-slide">
								<div class="c3">
									<img src="/assets/home/gongzc/img/binhuan.jpg" alt="">
									<div class="shop-bt-box">
										<p class="three-txt-p">精致 亮丽</p>
									</div>
								</div>
							</div>
							<!--  -->
							<div class="swiper-slide">
								<div class="c3">
									<img src="/assets/home/gongzc/img/jdhose.jpg" alt="">
									<div class="shop-bt-box">
										<p class="three-txt-p">温馨 舒心</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#top">
			<button class="btn-shop-box">
				<span>0元获取设计方案</span>
			</button></a>
	</div>
	<!-- 做的到 -->
	<div class="doingforyou">
	</div>
	<!-- 底部 -->
	<div class="shili">
	</div>
	<!-- sixpic -->
	<div class="sixpic">
		<p>服务流程</p>
		<ul class="sixlis">
			<!-- 1 -->
			<li class="pictop">
				<img src="/assets/home/gongzc/img/lf.jpg" alt="">
				<p>
					免费量房
				</p>
			</li>
			<!-- 2 -->
			<li class="pictop">
				<img src="/assets/home/gongzc/img/sj.jpg" alt="">
				<p>
					免费设计
				</p>
			</li>
			<!-- 3 -->
			<li class="pictop">
				<img src="/assets/home/gongzc/img/bj.jpg" alt="">
				<p>
					免费报价
				</p>
			</li>
			<!-- 4 -->
			<li class="picbottom">
				<img src="/assets/home/gongzc/img/ht.jpg" alt="">
				<p>
					签订合同
				</p>
			</li>
			<!-- 5 -->
			<li class="picbottom">
				<img src="/assets/home/gongzc/img/sg.jpg" alt="">
				<p>
					进场施工
				</p>
			</li>
			<!-- 6 -->
			<li class="picbottom">
				<img src="/assets/home/gongzc/img/jg.jpg" alt="">
				<p>
					竣工验收
				</p>
			</li>
		</ul>
	</div>
	<div class="Mb">
		<div class="closebtn">
			<div class="ok"></div>
			<p>恭喜您领取成功!</p>
			<p>我们会尽快电话联系您~</p>
			<li class="line">
			</li>
			<div class="chahaobtn">
			</div>
		</div>
	</div>
	</div>
</block>
<block name="script">
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
	<script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
	<script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
	<script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
	<script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
	<script type="text/javascript"
		src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
	<script>
		$(function () {
			$(".one-box02").css("visibility", "hidden");
			$(".li1").click(function () {
				$(".li1").index = $(".c1").index;
			})
		});
		$(".btn-box01").click(function () {
			$(".one-box02").css("visibility", "hidden");
			$(".one-box01").css("visibility", "visible");
			$(".btn-box01").css("background-color", "#E68146");
			$(".btn-box01").css("color", "white");
			$(".btn-box02").css("background-color", "#3C3F61");
			$(".btn-box02").css("color", "#FBCA91");
			mySwiper_2.startAutoplay();
		});
		$(".btn-box02").click(function () {
			$(".one-box01").css("visibility", "hidden");
			$(".one-box02").css("visibility", "visible");
			$(".btn-box02").css("background-color", "#E68146");
			$(".btn-box02").css("color", "white");
			$(".btn-box01").css("background-color", "#3C3F61");
			$(".btn-box01").css("color", "#FBCA91");
			mySwiper_2s.startAutoplay();
		});
		var mySwiper_2 = new Swiper('.swiper-one', {
			autoplay: 3000, //可选选项，自动滑动
			loop: true,
			observer: true,//修改swiper自己或子元素时，自动初始化swiper
			observeParents: true,//修改swiper的父元素时，自动初始化swiper
			autoplayDisableOnInteraction: false,
			onSlideChangeStart: function (swiper) {
				index = swiper.activeIndex - 1;
				if (index == 3) {
					index = 0;
				}
				$(".txt-p01").css("color", "#FBCA91");
				$(".txt-p01:eq(" + index + ")").css("color", "#E68146");
				$(".span-con").hide();
				$(".span-con").eq(index).show();

			},
		});

		var mySwiper_2s = new Swiper('.swiper-ones', {
			autoplay: 3000, //可选选项，自动滑动
			loop: true,
			observer: true,//修改swiper自己或子元素时，自动初始化swiper
			observeParents: true,//修改swiper的父元素时，自动初始化swiper
			autoplayDisableOnInteraction: false,
			onSlideChangeStart: function (swiper) {
				index = swiper.activeIndex - 1;
				if (index == 2) {
					index = 0;
				}
				$(".txt-p001").css("color", "#FBCA91");
				$(".txt-p001:eq(" + index + ")").css("color", "#E68146");
				$(".span-con1").hide();
				$(".span-con1").eq(index).show();
			}
		});
		$(function () {
			$(".zooms").css("visibility", "hidden");
		});
		$(".btn-box03").click(function () {
			$(".zooms").css("visibility", "hidden");
			$(".zooms1").css("visibility", "visible");
			$(".btn-box03").css("background-color", "#E68146");
			$(".btn-box03").css("color", "white");
			$(".btn-box04").css("background-color", "#3C3F61");
			$(".btn-box04").css("color", "#FBCA91");
			mySwiper_2.startAutoplay();
		});
		$(".btn-box04").click(function () {
			$(".zooms1").css("visibility", "hidden");
			$(".zooms").css("visibility", "visible");
			$(".btn-box04").css("background-color", "#E68146");
			$(".btn-box04").css("color", "white");
			$(".btn-box03").css("background-color", "#3C3F61");
			$(".btn-box03").css("color", "#FBCA91");
			$(".zoom-span-con1").eq(0).css("width", "0.236rem");
			mySwiper_2s.startAutoplay();
		});
		// er

		var zoomSwiper = new Swiper('.zoom-swiper', {
			autoplay: 3000, //可选选项，自动滑动
			autoplayDisableOnInteraction: false,
			loop: true,
			observer: true,//修改swiper自己或子元素时，自动初始化swiper
			observeParents: true,//修改swiper的父元素时，自动初始化swiper
			onSlideChangeStart: function (swiper) {
				index = swiper.activeIndex - 1;
				if (index == 3) {
					index = 0;
				}
				$(".txt-p02").css("color", "#FBCA91");
				$(".txt-p02:eq(" + index + ")").css("color", "#E68146");
				$(".zoom-span-con").hide();
				$(".zoom-span-con").eq(index).show();
			}

		});

		var zoomSwiper1 = new Swiper('.zoom-swipers', {
			autoplay: 3000, //可选选项，自动滑动
			autoplayDisableOnInteraction: false,
			loop: true,
			observer: true,//修改swiper自己或子元素时，自动初始化swiper
			observeParents: true,//修改swiper的父元素时，自动初始化swiper
			onSlideChangeStart: function (swiper) {
				index = swiper.activeIndex - 1;
				if (index == 4) {
					index = 0;
				}
				$(".txt-p002").css("color", "#FBCA91");
				$(".txt-p002:eq(" + index + ")").css("color", "#E68146");
				$(".zoom-span-con1").hide();
				$(".zoom-span-con1").eq(index).show();
			}
		});

		// thre
		$(function () {
			$(".shops1").css("visibility", "hidden");
		});
		$(".btn-box05").click(function () {
			$(".shops1").css("visibility", "hidden");
			$(".shops").css("visibility", "visible");
			$(".btn-box05").css("background-color", "#E68146");
			$(".btn-box05").css("color", "white");
			$(".btn-box06").css("background-color", "#3C3F61");
			$(".btn-box06").css("color", "#FBCA91");
			mySwiper_2.startAutoplay();
		});
		$(".btn-box06").click(function () {
			$(".shops").css("visibility", "hidden");
			$(".shops1").css("visibility", "visible");
			$(".btn-box06").css("background-color", "#E68146");
			$(".btn-box06").css("color", "white");
			$(".btn-box05").css("background-color", "#3C3F61");
			$(".btn-box05").css("color", "#FBCA91");
			$(".shop-span-con1").eq(0).css("width", "0.216rem");
			$(".shop-span-con1").eq(1).css("width", "0.216rem");
			$(".shop-span-con1").eq(2).css("width", "0.5rem");
			mySwiper_2s.startAutoplay();
		});
		var shopSwiper = new Swiper('.shop-swiper', {
			autoplay: 3000, //可选选项，自动滑动
			autoplayDisableOnInteraction: false,
			observer: true,//修改swiper自己或子元素时，自动初始化swiper
			observeParents: true,//修改swiper的父元素时，自动初始化swiper
			loop: true,
			onSlideChangeStart: function (swiper) {
				index = swiper.activeIndex - 1;
				if (index == 4) {
					index = 0;
				}
				$(".txt-p03").css("color", "#FBCA91");
				$(".txt-p03:eq(" + index + ")").css("color", "#E68146");
				$(".shop-span-con").hide();
				$(".shop-span-con").eq(index).show();
			}
		});

		var shopSwiper1 = new Swiper('.shop-swipers', {
			autoplay: 3000, //可选选项，自动滑动
			autoplayDisableOnInteraction: false,
			observer: true,//修改swiper自己或子元素时，自动初始化swiper
			observeParents: true,//修改swiper的父元素时，自动初始化swiper
			loop: true,
			onSlideChangeStart: function (swiper) {
				index = swiper.activeIndex - 1;
				if (index == 3) {
					index = 0;
				}
				$(".txt-p003").css("color", "#FBCA91");
				$(".txt-p003:eq(" + index + ")").css("color", "#E68146");
				$(".shop-span-con1").hide();
				$(".shop-span-con1").eq(index).show();
			}
		});
		$(".no-01").on("keyup", function () {
			$(this).val($(this).val().replace(/\s+/g, ""));
		});
		$(function () {
			// 城市选择插件
			selectQz.init({
				province: $("input[name=province]").attr("data-id"),
				city: $("input[name=city]").attr("data-id"),
				area: $("input[name=area]").attr("data-id")
			});
			$('.btn-box').on('click', function () {
				var checked2 = $(".disclamer-check").attr('data-checked');
				$('.city-warn').hide();
				$('.name-warn').hide();
				$('.tel-warn').hide();
				 
				window.order({
					extra: {
						cs: $('input[name=city]').attr('data-id'),
						qx: $('input[name=area]').attr('data-id'),
						name: $('input[name="name"]').val(),
						tel: $('input[name="tel"]').val(),
						source: '19031526',
					},
					submitBtn:{
						className:$(this),
						type:'btn'
					},
					error: function () {
						alert("发生了未知的错误,请稍后再试！");
						 
					},
					success: function (data, status, xhr) {
						 
						if (data.status == 1) {
							{$js_code|htmlspecialchars_decode}

							$(".order-success-mask").fadeIn(0)
							$(".success-box").fadeIn(0)
						} else {
							alert('网络异常，请稍后再试');
						}
					},
					validate: function (item, value, method, info) {
						if (('cs' == item || 'qx' == item) && 'notempty' == method) {
							$('.city-warn').show().html(info);
							return false;
						};
						if ('name' == item && 'notempty' == method) {
							$('.name-warn').show().html(info);
							return false;
						};
						if ('name' == item && 'isword' == method) {
							$('.name-warn').show().html(info);
							return false;
						};
						if ('tel' == item && 'notempty' == method) {
							$('.tel-warn').show().html(info);
							return false;
						};
						if ('tel' == item && 'ismobile' == method) {
							$('.tel-warn').show().html(info);
							return false;
						};
						if ('tel' == item && '' != method) {
							$("input[name=tel]").focus();
							return false;
						};
						if (checked2 == 'false') {
							alert('请勾选我已阅读并同意齐装网的《免责声明》！')
							return false;
						}
						$(".Mb").show();
						$(".no-01").val("");
						 
						return true;
					}
				});
			});
		});
		$(".chahaobtn").click(function () {
			$(".Mb").hide();
		})
	</script>
</block>