<extend name="Common:basic" />
<block name="keywords"><meta name="keywords" content="全屋定制报价，全屋定制，全屋定制设计，全屋定制案例" /></block>
<block name="description"><meta name="description" content="齐装网家具城全屋定制栏目免费为您提供全屋定制报价，让您快速获得全屋家具预算和设计灵感，减少您各种不要的担忧，早定早享受，覆盖全品类家具，流行时尚都有，齐装网家具城让您不多花钱，还能获得质量管控和完整的服务。" /></block>
<block name="title"><title>家具全屋定制报价 - 全屋定制家具设计 – 齐装网家具城</title></block>
<block name="link">
  <link href="/assets/mobile/meitu/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
  <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
  <link href="/assets/mobile/jiaju/css/qwdzbaojia.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
  {$base_code|htmlspecialchars_decode}

</block>
<block name="top">
  <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/{$cityInfo.bm}/" class="m-header-left"></a>
  <div class="m-header-city" style="left: 35%;"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>
</block>
<block name="content">
  <article class="jjbaojia-content">
    <!--banner图片-->
    <div class="m-img-box">
      <img src="/assets/mobile/jiaju/img/1-banner.png" alt="" />
    </div>
    <!--值得拥有-->
    <div class="jjbaojia-hav">
      <img src="/assets/mobile/jiaju/img/have.jpg" alt="" />
    </div>
    <!--0元获取报价-->
    <div class="jjbaojia-getprice">
      <img src="/assets/mobile/jiaju/img/getprice.png" alt="" />
    </div>
    <div style="width:100%;background:#F0D2AC;margin-top: -25px;">
      <div class="box-content">
        <!--form 表单-->
        <div class="form-box box">
          <!--info-->
          <div class="form-once">
            <ul class="m-bj-edit">
              <li class="getbaojia-show">
                <p>已有<span class="red">259688</span>人获得报价</p>
              </li>
              <li id="area">
                <div class="calculator-item">
                  <div class="input-box">
                    <button id="showCityPicker2" class="c-zb-city m-row-int1" type="button">
                      <i class="fa fa-map-marker">
                      </i>
                      <empty name="mapUseInfo">
                        请选择您所在的区域
                        <else />
                        {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                      </empty>
                    </button>
                    <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                    <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                    <input type="hidden" name="area" data-id="{$mapUseInfo.areaid}">
                  </div>
                </div>
              </li>
              <p class="jjcity">请选择所在省份 城市 区域</p>
              <li>
                <input class="m-row-int1 m-bj-edit-list" type="text" name="nickname" placeholder="怎么称呼您" value="">
              </li>
              <p class="jjname">请输入正确的名字，仅支持中文和英文</p>
              <li>
                <input class="m-row-int1 m-bj-edit-list" type="number" name="mianji" placeholder="输入您的房屋面积" value="">
                <span class="dw">㎡</span>
              </li>
              <p class="jjmianji">请输入数字，最多保留小数点一位</p>
              <li>
                <input class="m-row-int1 m-bj-edit-list" type="tel" maxlength="11" name="tel-number" placeholder="您的手机号">
                <input type="hidden" name="fb_type" value="baojia">
              </li>
              <p class="jjtele">请输入11位有效手机号</p>
              <li id="shenming">
                <input type="checkbox" checked="checked" id="mianze">
                <label for="mianze" id="check" class="fa fa-check"></label>
                <span>我已阅读并同意齐装网的</span>
                <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
              </li>
            </ul>
            <!-- 0元获取报价按钮 -->
            <div class="jjbaojia-btn">
              <img src="/assets/mobile/jiaju/img/zeroprice.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div>
        <img src="/assets/mobile/jiaju/img/welfare.png" alt="" />
      </div>
      <div class="mjfl" style="background:#FCEEDC;">
        <ul class="ullist">
          <li class="activity">50-70㎡</li>
          <li>70-90㎡</li>
          <li>90-120㎡</li>
          <li>120㎡以上</li>
        </ul>
        <div>
          <div class="lunbo-box">
            <div class="swiper-container fuli-banner">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="/assets/mobile/jiaju/img/fuli1.jpg" alt="" />
                  <p class="mjfl-p">简约风格 低调有内涵</p>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/mobile/jiaju/img/fuli2.jpg" alt="" />
                  <p class="mjfl-p">美式风格 田园而清晰</p>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/mobile/jiaju/img/fuli3.jpg" alt="" />
                  <p class="mjfl-p">新中式风格 古典而高雅</p>
                </div>
                <div class="swiper-slide">
                  <img src="/assets/mobile/jiaju/img/fuli4.jpg" alt="" />
                  <p class="mjfl-p">北欧风格 高贵而奢华</p>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="sq-btn">
        <img src="/assets/mobile/jiaju/img/sq.png" alt="" />
      </div>
      <div>
        <img src="/assets/mobile/jiaju/img/mjal.png" alt="" />
      </div>
      <div>
        <div class="mjal">
          <ul class="ullist">
            <li class="active">客餐厅</li>
            <li>卧室</li>
            <li>儿童房</li>
            <li>厨房</li>
          </ul>
          <div class="lunbo-box lunbo-des">
            <div class="swiper-container lunbo-banner">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="des-tit">
                    <img src="/assets/mobile/jiaju/img/kt.png" alt="" />
                    <p>简约不失震撼，入门惊艳第一眼</p>
                  </div>
                  <div>
                    <ul>
                      <li>
                        <img src="/assets/mobile/jiaju/img/kt1.jpg" alt="" />
                        <p>组合柜</p>
                      </li>
                      <li>
                        <img src="/assets/mobile/jiaju/img/kt2.jpg" alt="" />
                        <p>电视柜</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="des-tit">
                    <img src="/assets/mobile/jiaju/img/ws.png" alt="" />
                    <p>忙碌一天，温暖舒适第一要义</p>
                  </div>
                  <div>
                    <ul>
                      <li>
                        <img src="/assets/mobile/jiaju/img/ws1.jpg" alt="" />
                        <p>床头柜</p>
                      </li>
                      <li>
                        <img src="/assets/mobile/jiaju/img/ws2.jpg" alt="" />
                        <p>衣柜</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="des-tit">
                    <img src="/assets/mobile/jiaju/img/etf.png" alt="" />
                    <p>释放天真童性，学睡玩全都行</p>
                  </div>
                  <div>
                    <ul>
                      <li>
                        <img src="/assets/mobile/jiaju/img/etf1.jpg" alt="" />
                        <p>儿童床</p>
                      </li>
                      <li>
                        <img src="/assets/mobile/jiaju/img/etf2.jpg" alt="" />
                        <p>儿童衣柜</p>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="des-tit">
                    <img src="/assets/mobile/jiaju/img/cf.png" alt="" />
                    <p>解锁烹煮新姿势，不再限制你的厨艺</p>
                  </div>
                  <div>
                    <ul>
                      <li>
                        <img src="/assets/mobile/jiaju/img/cf1.jpg" alt="" />
                        <p>碗柜</p>
                      </li>
                      <li>
                        <img src="/assets/mobile/jiaju/img/cf2.jpg" alt="" />
                        <p>置物架</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="jjqwdz-btn jjdzqw">
        <img src="/assets/mobile/jiaju/img/dzqw.png" alt="" />
      </div>
      <div style="margin-top:1.8em;">
        <img src="/assets/mobile/jiaju/img/pzmj.png" alt="" />
      </div>
      <div style="width:100%;background:#F0D2AC;">
        <div class="lunbo-box" style="margin:0 11px;">
          <div class="swiper-container mj-banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/assets/mobile/jiaju/img/mj1.png" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="/assets/mobile/jiaju/img/mj2.png" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="/assets/mobile/jiaju/img/mj3.png" alt="" />
              </div>
              <div class="swiper-slide">
                <img src="/assets/mobile/jiaju/img/mj4.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
      <div>
        <img src="/assets/mobile/jiaju/img/all-choose.png" alt="" />
      </div>
      <div>
        <img src="/assets/mobile/jiaju/img/jjqwdz.png" alt="" />
      </div>
      <div class="jjqwdz-btn mjfa">
        <img src="/assets/mobile/jiaju/img/mjfa.png" alt="" />
      </div>
      <div>
        <img src="/assets/mobile/jiaju/img/fuwu.png" alt="" />
      </div>
      <div>
        <img src="/assets/mobile/jiaju/img/all-show.png" alt="" />
      </div>
    </div>
    <div class="bg"></div>
    <div class="jjmodel">
      <p>恭喜领取成功</p>
      <p>我们将尽快为您服务~</p>
      <button type="button" class="jjclose">关闭</button>
    </div>
    <!--geolocation定位-->
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
  </article>
</block>
<block name="script">
  <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
  <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
  <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript">
    // 城市选择插件
    selectQz.init({
      province:$("input[name=province]").attr("data-id"),
      city:$("input[name=city]").attr("data-id"),
      area:$("input[name=area]").attr("data-id")
    });
    //切换免责对勾
    $("#check").click(function(){
      $(this).toggleClass('fa-check');
    });
    $(function () {
      var mySwiper = new Swiper('.fuli-banner', {
        //移动端轮播
        loop : true,
        pagination : '.swiper-pagination',
        autoplayDisableOnInteraction:false,
        autoplay: 3000,
        onSlideChangeStart: function(swiper){
          $(".mjfl .ullist li").removeClass('activity');
          if(swiper.activeIndex == 5){
            $(".mjfl .ullist li").eq(0).addClass("activity");
          }
          $(".mjfl .ullist li").eq(swiper.activeIndex-1).addClass("activity");
        }
      });
      var mySwiper_1 = new Swiper('.mj-banner', {
        //移动端轮播
        loop : true,
        pagination : '.swiper-pagination',
        autoplayDisableOnInteraction : false, // 用户操作swiper之后，是否禁止autoplay。默认为true：停止
        autoplay: 3000,
      });
      var mySwiper_2 = new Swiper('.lunbo-banner', {
        //移动端轮播
        loop : true,
        pagination : '.swiper-pagination',
        autoplayDisableOnInteraction:false,
        autoplay: 3000,
        onSlideChangeStart: function(swiper){
          $(".mjal .ullist li").removeClass('active');
          if(swiper.activeIndex == 5){
            $(".mjal .ullist li").eq(0).addClass("active");
          }
          $(".mjal .ullist li").eq(swiper.activeIndex-1).addClass("active");
        }
      });
      //点击速抢按钮、快来定制你的全屋按钮、领取美家方案按钮返回发单区域
      $(".sq-btn,.jjdzqw,.mjfa").click(function () {
        $('html,body').animate({
          scrollTop:740
        }, 800);
      });
      $(".jjbaojia-btn").click(function () {
        var nickname = $(".m-bj-edit input[name=nickname]").val()
        var mianji = $(".m-bj-edit input[name=mianji]").val();
        var tel= $(".m-bj-edit input[name=tel-number]").val();
        var cs = $("input[name=city]").attr('data-id');
        var qy = $("input[name=area]").attr('data-id');

        //正则表达式
        var jjname = /^[a-zA-Z\u4e00-\u9fa5]+$/;     //名字
        var jjmianji = /^(\d+\.\d{1,1}|\d+)$/;            //面积
        var jjtele = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");   //手机号码
         
        if(cs==''||qy==''){
          $(".jjcity").css("visibility","visible");
          return false;
        }else{
          $(".jjcity").css("visibility","hidden");
        }
        if(jjname == "" || !jjname.test(nickname)){
          $("input[name='nickname']").focus();
          $(".jjname").css("visibility","visible");
          $(".jjname").html("请输入正确的名字，仅支持中文和英文")
          return false;
        }else if(nickname.length > 20){
          $("input[name='nickname']").focus();
          $(".jjname").css("visibility","visible");
          $(".jjname").html("最多只能输入20个字符")
          return false;
        }else{
          $(".jjname").css("visibility","hidden");
        }
        if(mianji=="" || !jjmianji.test(mianji)){
          $("input[name='mianji']").focus();
          $(".jjmianji").css("visibility","visible");
          return false;
        }else if(mianji < 1 || mianji > 1000 || isNaN(mianji)){
          $("input[name='mianji']").focus();
          $(".jjmianji").css("visibility","visible");
          return false;
        }else{
          $(".jjmianji").css("visibility","hidden");
        }
        if(tel=='' || !jjtele.test(tel)){
          $("input[name='tel-number']").focus();
          $(".jjtele").css("visibility","visible");
          return false;
        }else{
          $(".jjtele").css("visibility","hidden");
        }
        if($("#check").hasClass("fa-check") == false){
          alert("请先阅读并同意齐装网的免责声明");
          return false;
        }
        
				 
          window.order({
              extra:{
                  cs:cs,
                  qx:qy,
                  name:nickname,
                  mianji:mianji,
                  tel:tel,
                  source: '19030652',
              },
              submitBtn:{
                className:$(this),
                type:'btn'
              },
              error:function(){
                  alert("发生了未知的错误,请稍后再试！");
                   
              },
              success:function(data, status, xhr){
                 
                  if(data.status == 1) {
                      {$js_code|htmlspecialchars_decode}

                      $(".bg").show();
                      $(".jjmodel").show();
                  }else{
                      alert('网络异常，请稍后再试')
                  }
              },
          });

      })
      $(".jjclose").click(function () {

        $(".bg").hide();
        $(".jjmodel").hide();
      })
    })
  </script>
</block>
