<extend name="Common:basic"/>
<block name="title"><title>{$basic.head.title}</title></block>
<block name="link">
  <link href="/assets/mobile/pageload/channel-p.2.17.18.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
  <link href="//assets.qizuang.com/g-css/animate/animate.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
  {$base_code|htmlspecialchars_decode}

</block>
<block name="top">
  <div class="m-header-his" >
    <i class="fa fa-angle-left"></i>
  </div>
  <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/{$cityInfo.bm}/" class="m-header-left"></a>
  <div class="m-header-city"><a href="/city/">{$cityInfo.name|default="全国"}<i class="fa fa-sort-desc"></i></a></div>

</block>
<block name="content">
  <article>
    <!-- banner图片 -->
    <div class="m-img-box-a">
      <div class="one-banner">
        <img alt="logo" src="/assets/mobile/pageload/img/channel-qz-logo.png" class="channel-qz-logo" onclick="return false">
        <div class="channel-slogan">
          <img src="/assets/mobile/pageload/img/channel-text.png" onclick="return false" style="width: 2.98rem">
        </div>
        <img alt="免费获取报价" src="/assets/mobile/pageload/img/channel-banner.png" onclick="return false">
        <p class="free-slogan fs-one">你想<span>空间0浪费</span>吗？</p>
        <p class="free-slogan fs-two">你想准确知道<br><span>装修预算</span>吗？</p>
        <p class="free-slogan fs-three">你想全屋<br><span>环保无污染</span>吗？</p>
        <p class="free-slogan fs-four">你想装修后和<br><span>效果图100%一样</span>吗？</p>
      </div>
      <div class="four-free">
        <div>
          <img alt="免费获取报价" src="/assets/mobile/pageload/img/channel-b-one.png" onclick="return false">
          <p>免费上门量房</p>
        </div>
        <div>
          <img alt="免费获取报价" src="/assets/mobile/pageload/img/channel-b-two.png" onclick="return false">
          <p>免费预算报价</p>
        </div>
        <div>
          <img alt="免费获取报价" src="/assets/mobile/pageload/img/channel-b-three.png" onclick="return false">
          <p>免费预约设计</p>
        </div>
        <div>
          <img alt="免费获取报价" src="/assets/mobile/pageload/img/channel-b-four.png" onclick="return false">
          <p>尊享六大保障</p>
        </div>
      </div>
    </div>
    <div class="caption-box" id="form-once">
      <p class="top"><span class="red">0</span>元抢装修设计</p>
      <p>今日仅剩<span class="red">86</span>个名额</p>
    </div>
    <!-- from表单填写 -->
    <div class="form-once">
      <ul class="m-bj-edit">
        <li id="area">
          <div>
            <button id="showCityPicker2" class="c-zb-city" type="button">
              <i class="fa fa-map-marker">
              </i>
              <empty name="info.cityarea">
                请选择
                <else />
                {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
              </empty>
            </button>
            <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
            <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
            <input type="hidden" name="area" data-id="{$info.cityarea.id}">
          </div>
          <p class="warn city-warn">* 请填写城市</p>
        </li>
        <!--<li>-->
        <!--<input class="m-row-int1 m-bj-edit-list" type="text" name="name" placeholder="请输入您的称呼" value="{$Think.get.mianji}">-->
        <!--<p class="warn name-warn">* 请填写您的称呼</p>-->
        <!--</li>-->
        <li>
          <input class="m-row-int1 m-bj-edit-list" type="tel" maxlength="11" name="tel-number" placeholder="请输入您的手机号">
          <input type="hidden" name="fb_type" value="baojia">
          <p class="warn tel-warn">* 请填写手机号</p>
        </li>
      </ul>
      <!-- 立即计算报价按钮 -->
      <a href="javascript:void(0)" class="m-b-btn save-submit">
        立即免费获取
      </a>
      <div id="shenming">
        <input type="checkbox" checked="checked" id="mianze">
        <label for="mianze" id="check" class="fa fa-check"></label>
        <span>我已阅读并同意齐装网的</span>
        <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
      </div>
    </div>

    <!-- 客服详情介绍图片 -->
    <div class="kefu-shows">
      <img src="/assets/mobile/pageload/img/channel-space-all.png" onclick="return false">
      <div class="slogan">
        <a href="#form-once">
          <span class="one">立即领取</span>
          <span class="two">></span>
          <span class="three">免费设计 多出5㎡没问题</span>
        </a>
      </div>
    </div>
    <div class="kefu-shows">
      <img src="/assets/mobile/pageload/img/channel-same-img.png" onclick="return false">
      <div class="slogan">
        <a href="#form-once">
          <span class="one">立即领取</span>
          <span class="two">></span>
          <span class="three">免费1对1设计服务</span>
        </a>
      </div>
    </div>
    <div class="kefu-shows">
      <img src="/assets/mobile/pageload/img/channel-previe.png" onclick="return false">
      <div class="slogan">
        <a href="#form-once">
          <span class="one">立即领取</span>
          <span class="two">></span>
          <span class="three">免费计算装修预算</span>
        </a>
      </div>
    </div>
    <div class="kefu-shows">
      <img src="/assets/mobile/pageload/img/channel-envi.png" onclick="return false">
      <div class="slogan">
        <a href="#form-once">
          <span class="one">立即领取</span>
          <span class="two">></span>
          <span class="three">免费领取装修6大保障</span>
        </a>
      </div>
    </div>
    <div class="kefu-shows">
      <img src="/assets/mobile/pageload/img/channel-vs.png" onclick="return false">
    </div>
    <div class="kefu-shows">
      <img src="/assets/mobile/pageload/img/channel-port.png" onclick="return false">
    </div>
    <div class="channel-get">
      <div class="slogan">
        <p class="top"><span class="red">0</span>元抢装修设计</p>
        <p>今日仅剩<span class="red">86</span>个名额</p>
      </div>
      <p class="imidita-get"><a href="#form-once">立即申请</a></p>
    </div>
  </article>
  <div class="order-success">
    <div class="main">
      <span class="close">×</span>
      <div class="sucbox">
        <p class="one">领取成功</p>
        <p class="two">客服稍后将与您联系</p>
      </div>
      <div class="logo">
        <img src="/assets/mobile/pageload/img/channel-logo.png" alt="" onclick="return false">
        <p>齐装</p>
      </div>
      <div class="download">
        <p class="one">{:C('APP_OPEN_TITLE')}，看千万装修案例，听百万业主 分享心得，让你更懂装修</p>
        <p class="two" id="channel-down">立即下载</p>
      </div>
    </div>
  </div>

</block>
<block name="script">
  <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
  <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
  <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
  <script type="text/javascript">

    $('.save-submit').on('click',function() {
      var checked = $("#mianze").is(':checked');
      $('.warn').css('visibility', 'hidden')


      window.order({
        extra:{
          cs:$('input[name=city]').attr('data-id'),
          qx:$('input[name=area]').attr('data-id'),
          // name:$(".m-bj-edit input[name=name]").val(),
          tel:$(".m-bj-edit input[name=tel-number]").val(),
          source: '19070832'
        },
        submitBtn:{
          className:$(this),
          type:'btn'
        },
        error:function(){
          alert("发生了未知的错误,请稍后再试！");

        },
        success:function(data, status, xhr){

          if(data.status == 1){
            {$js_code|htmlspecialchars_decode}

            $(".order-success").fadeIn(0)
            $(".m-bj-edit input[name=name]").val('')
            $(".m-bj-edit input[name=tel-number]").val('')
          }else{
            alert(data.info)
          }
        },
        validate:function(item, value, method, info){
          if (('cs' == item || 'qx' == item) && 'notempty' == method) {
            $('.city-warn').html('* 请选择城市').css('visibility', 'visible');
            return false;
          };

          if ('tel' == item && 'notempty' == method) {
            $('.tel-warn').html('* 请填写手机号').css('visibility', 'visible');
            $(".m-bj-edit input[name=tel-number]").focus();
            return false;
          };
          if ('tel' == item && 'ismobile' == method) {
            $('.tel-warn').html('* 请填写正确的手机号').css('visibility', 'visible');
            $(".m-bj-edit input[name=tel-number]").focus();
            return false;
          };
          if(!checked){
            alert('请勾选我已阅读并同意齐装网的《免责声明》！')
            return false;
          };

          return true;
        }
      });
    });
    //切换免责对勾
    $("#check").click(function(){
      $(this).toggleClass('fa-check');
    });
    $(".order-success .close").on('click', function () {
      $(".order-success").fadeOut(0)
    })

  </script>
  <script type="text/javascript">
    // 城市选择插件
    selectQz.init({
      province:$("input[name=province]").attr("data-id"),
      city:$("input[name=city]").attr("data-id"),
      area:$("input[name=area]").attr("data-id")
    });
    $(function () {
      var mSys = mobileSystem().toLowerCase();
      $("#channel-down").click(function(event) {
        location.href = 'https://a.app.qq.com/o/simple.jsp?pkgname=com.qizuang.qz'
      });
    })
  </script>
</block>
