@import '/templates/topstep/topstep.css';
page{
    height: 100%
}
.p-container{
    height: 100%;
    background: -webkit-linear-gradient(#5D2FAC 10%, #38349B);
    background: -o-linear-gradient(#5D2FAC 10%, #38349B);
    background: -moz-linear-gradient(#5D2FAC 10%, #38349B);
    background: linear-gradient(#5D2FAC 10%, #38349B);
}
.bottom-btn text{
    font-size: 38rpx;
    color:#ff5353;
}
.center-center{
    position: absolute;
    margin:auto;
    left:0px;
    right:0px;
    top:0px;
    bottom: 0px;
}