<html>
<head>
    <link rel="stylesheet" href="/assets/common/css/bootstrap/css/bootstrap.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}">
    <script src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
</head>
<body>

<table class="table">
    <tr>
        <th>坐席号</th>
        <th>电话类型</th>
        <th>绑定号码</th>
        <th>座席状态</th>
        <th>来电接听数</th>
        <th>队列来电接听数</th>
        <th>状态时长</th>
        <th>登录时长</th>
    </tr>
    <tr>
        <td>{$info.cno}</td>
        <td>
            <switch name="info.bindType">
                <case value="1">电话</case>
                <case value="2">分机</case>
                <case value="3">软电话</case>
            </switch>
        </td>
        <td>{$info.bindTel}</td>
        <td>{$info.agentStatus}</td>
        <td>{$info.incomingCallCount}</td>
        <td>{$info.queueIncomingCallCount}</td>
        <td>{$info.stateDuration}</td>
        <td>{$info.loginDuration}</td>
    </tr>
</table>
</body>

</html>