<div class="footer" id="footer_qwdz">
    <div class="line"></div>
    <div class="contact-way">
        <div class="wrap">
            <span class="kf-call">
                客服电话:<em>{:OP("QZ_CONTACT_TEL400")}</em>
            </span>
            <span class="kf-qq">客服QQ: <a href="http://wpa.qq.com/msgrd?v=3&uin={:OP('QZ_CONTACT_QQ1')}&site=qq&menu=yes" rel="nofollow" class="kf1">
                <i class="icon-qq"></i>{:OP('QZ_CONTACT_QQ1')}</a>
                <a href="http://wpa.qq.com/msgrd?v=3&uin={:OP('QZ_CONTACT_QQ2')}&site=qq&menu=yes" rel="nofollow"><i
                        class="icon-qq"></i>{:OP('QZ_CONTACT_QQ2')}</a></span>
            <span class="sw-qq">商务合作: <a href="http://wpa.qq.com/msgrd?v=3&uin={:OP('QZ_CONTACT_QQ4')}&site=qq&menu=yes" rel="nofollow"><i class="icon-qq"></i>{:OP('QZ_CONTACT_QQ4')}</a></span>
        </div>
    </div>
    <div class="wrap">
        <div class="bot">
            <ul class="others clearfix">
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/about" target="_blank" rel="nofollow">齐装网简介</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/contactus" target="_blank" rel="nofollow">联系我们</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/culture" target="_blank" rel="nofollow">企业文化</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/zhaopin" target="_blank" rel="nofollow">诚聘英才</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/koubei" target="_blank" rel="nofollow">业主口碑</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/media" target="_blank" rel="nofollow">媒体报道</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/legal" target="_blank" rel="nofollow">法律声明</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/liansuo" target="_blank" rel="nofollow">战略合作</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/kefu/" target="_blank" rel="nofollow">客服中心</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/city/" target="_blank" rel="nofollow">城市导航</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/sitemap.html" target="_blank" rel="nofollow">网站地图</a></li>
                <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/ruzhu/" target="_blank" rel="nofollow">商家入驻</a></li>
            </ul>
            <p class="mianze">免责声明：任何单位或个人认为本网站转载信息涉及版权或有侵权嫌疑等问题的，敬请立即通知，齐装网将在第一时间予以更改或删除。</p>
            <p class="copyright">版权所有Copyright &copy;{:date('Y')} www.{$SCHEME_HOST.domain} All Rights Reserved
                有房要装，就上齐装！&nbsp;&nbsp;&nbsp;&nbsp;法律顾问：{:OP('QZ_LAWYER1')}</p>
            <p>苏州云网通信息科技有限公司 苏ICP备12045334号 &nbsp;&nbsp;&nbsp;&nbsp;<a class="licence" target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/licence">增值电信业务经营许可证：{:getOPKeySwitchByDomain('QZ_BEIAN_JYX_INFO')}</a></p>
            <div class="icons">
                <span class="safe"><i class="icon-safe"></i></span>
                <span class="jingying"><i class="icon-jingying"></i>经营性网站备案信息</span>
                <span class="gongshang"><i class="icon-gongshang"></i>工商网监 电子标识</span>
                <span class="wxb"><i class="icon-wxb"></i></span>
            </div>
            <div class="down-app">
                <img src="/assets/common/image/qrcode/app-qz-yyb.png" alt="">
                <p>有房要装 就上齐装{:C('APP_OPEN_TITLE')}</p>
            </div>
            <div class="wx-gzh">
                <img src="/assets/common/image/wx-gzh.png" alt="">
                <p>关注微信公众号 装修费用降30%</p>
            </div>
        </div>
    </div>
</div>
<!--百度统计-->
{:OP('baidutongji1')}
<script>
    $('.f-tabs li').on('mouseover',function(){
        var index = $(this).index();
        $(this).addClass('current').siblings('li').removeClass('current');
        $('.tab-main').find('ul').eq(index).show().siblings('ul').hide();
    });
</script>
