<div class="head_601">
    <div class="head-center">
        <div class="head-logo">
            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/" >
                <img src="/assets/home/housecustom/imgs/logo.png" alt="" width="29px" height="31px">
            </a>
        </div>
        <span class="head-text">
            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/" >齐装全屋定制</a>
        </span>
        <ul class="nav" id="menu" data-nav="{$nav_current}">
            <li class="noshow"><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/" target="_blank" <if condition="$nav_current eq 1">  </if>>首页</a></li>
            <li class ="head-zixun"><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/" target="_blank" <if condition="$nav_current eq 2">  </if>>资讯</a></li>
            <li class="noshow"><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/" target="_blank" <if condition="$nav_current eq 3">  </if>>图库</a></li>
            <li class="noshow"><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdzjj/" target="_blank">定制</a></li>
        </ul>
        <div class="kaoright">
            <span class="wyzx">
                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}" target="_blank">我要装修</a>
            </span>
            <span class="shuxian"></span>
            <div class="phone">
                <img src="/assets/home/housecustom/imgs/phone.png" alt="" width="18" height="18">
            </div>
            <span class="phone-qz">手机齐装</span>
            <span class="shuxian"></span>
            <div class="phone">
                <img src="/assets/home/housecustom/imgs/tel.png" alt="" width="18" height="18">
            </div>
            <span class="tel-num">400-6969-336</span>
        </div>
        <div class="ewm">
            <div class="qizuang-ewm">
                <img src="/assets/common/image/qrcode/app-qz-yyb.png" alt="齐装二维码" width="150" height="150">
            </div>
            <p class="wenan">{:C('APP_OPEN_TITLE')} </p>
            <p class="wenan">有房要装，就上齐装</p>
        </div>
    </div>
    <!-- 分类导航 -->
    <div class="fenlei">
        <div class="feilei-fu">
            <div class='parent'>
                <ul class="tab-title">
                    <volist name="header_new_class" id="vo">
                        <if condition="$vo.pid eq $grand_class">
                            <li data-id="{$vo.id}"> <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/{$vo.shortname}/"  target="_blank" >{$vo.classname}</a></li>
                        </if>
                    </volist>
                </ul>

                <div class='son'>
                    <volist name="header_new_class" id="vo">
                        <if condition="$vo.pid neq $grand_class and $vo.pid neq 0">
                        <ul data-pid="{$vo.pid}" class="hinline">
                            <li> <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/{$vo.shortname}/"  target="_blank">{$vo.classname}</a></li>
                        </ul>
                        </if>
                    </volist>
                </div>
            </div>
        </div>
        <div class="feilei-fgx"></div>
    </div>
</div>



<script type="text/javascript">
    // 导航栏
    // var menu = document.getElementById("menu");
    // var as = menu.getElementsByTagName("a");
    // for (var i = 0; i < as.length; i++) {
    //     as[i].onclick = function() {
    //         for (var i = 0; i < as.length; i++) {
    //             as[i].className = "";
    //         }
    //         this.className = "active";
    //     }
    // }
    //鼠标移入二维码显示 反之隐藏
    $('.phone-qz').on('mouseover', function() {
        $('.ewm').show()
    }).mouseout(function() {
        $('.ewm').hide()
    });

    // 分类导航
    $('.head-zixun').mouseenter(function(){
        $('.fenlei').show()  //母子分类显示
        $(this).addClass('head_zixun_cur')
    })
    $('.noshow').mouseenter(function(){
        $('.fenlei').hide() //母子分类都隐藏
        $('.head-zixun').removeClass('head_zixun_cur')
    })
    var dataId = $('.tab-title li').attr('data-id') //母ID
    $('.tab-title li').each(function(){
        $('.tab-title li').mouseenter(function(){
            var dataIds  = $(this).attr('data-id')
            $(this).addClass("active").siblings().removeClass();
            $('.son ul').each(function(){
                var sons = $(this).attr('data-pid') //子pid
                if(dataIds == sons){  //母子相等
                    $(this).show();
                    // $('.son ul:first li').addClass('cur')
                }else{
                    $(this).hide()
                }
            })
        })
        $('.tab-title li:first').addClass('active')
    })
    //初始显示
    $('.son ul').each(function(){
        var son = $(this).attr('data-pid')
        if(dataId == son){
            $(this).show()
        }else{
            $(this).hide()
        }
    })

    $('.son ul li').mouseenter(function() {
        $(this).addClass('cur').parent().siblings().children().removeClass();
    })
    //隐藏分类导航
    $('.fenlei').mouseleave(function(){
        $('.fenlei').hide()
        $('.head-zixun').removeClass('head_zixun_cur')
    })
    // $('.tab-title li').mouseenter(function() {
    //     var fuqin = $(this).attr('data-id')
    //     $('.son ul').each(function(){
    //         var son = $(this).attr('data-pid')
    //         if(fuqin == son){
    //             $(this).show()
    //         }else{
    //             $(this).hide()
    //         }
    //     })
    //     // $(this).addClass("active").siblings().removeClass();
    //     // $(".son > ul").hide().eq($('.tab-title li').index(this)).show();
    // });


</script>
