<div class="pub-top">
    <div class="wrap clearfix">
        <div class="logo">
            <a href="/"><h1><img src="/assets/common/image/logo601.png" alt="齐装网" title="齐装网">齐装全屋定制</h1></a>
        </div>

        <div class="nav">
            <div class="nav-name"><a href="/qwdz">首页</a></div>
            <div class="nav-name"><a href="/qwdz/news">资讯</a></div>
            <div class="nav-name"><a href="/qwdz/tu">图库</a></div>
            <div class="nav-name"><a href="/qwdz">定制</a></div>

        </div>
        <div class="menu">
            <ul class="clearfix">
                <li>
                    <a href="" class="name" target="_blank">我要装修</a>
                </li>
                <li class="line">|</li>
                <li class="down-box">
                    <a href="" class="loginin" target="_blank"><i class="fa fa-mobile   "></i>手机齐装</a>
                    <div class="box">
                        <img src="/assets/common/image/qrcode/app-qz-yyb.png" alt="APP下载">
                        <p>{:C('APP_OPEN_TITLE')}</p>
                        <p>有房要装，就上齐装！</p>
                    </div>
                </li>
                <li class="line">|</li>
                <li>
                    <a href="" class="loginin" target="_blank" >   <i class="fa fa-phone"></i>400-6969-336</a>
                </li>
            </ul>
        </div>
    </div>
</div>
