<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="mobile-agent" content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/" />
    <title>全屋定制攻略 - 全屋定制流程 - 全屋定制品牌 - 齐装网</title>
    <meta name="keywords" content="全屋定制攻略,全屋定制流程,全屋定制品牌" />
    <meta name="description" content="齐装网全屋定制资讯栏目是基于广大业主装修真实经历和心得的家具定制流程和攻略。关于全屋定制家具、品牌、设计、安装等知识。" />
    <include file="HouseCustom:resource_601"/>
    <link type="text/css" rel="styleSheet" href="/assets/home/housecustom/css/head.css?v={:C('STATIC_VERSION')}" />
    <link type="text/css" rel="styleSheet" href="/assets/home/housecustom/css/news.css?v={:C('STATIC_VERSION')}" />
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/news/"/>

    <link rel="stylesheet" href="/assets/common/js/swiper-2.6.7/idangerous.swiper.css?v={:C('STATIC_VERSION')}"/>
	<link rel="stylesheet" href="/assets/home/about/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}">

    <script type="text/javascript" src="/assets/common/js/swiper-2.6.7/idangerous.swiper.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/home/about/js/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>


    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/home/housecustom/css/common.css?v={:C('STATIC_VERSION')}"/>


</head>

<body>
    <!--头部  -->
    <include file="HouseCustom:header"/>

    <!-- 中间内容部分 -->
    <div class="center">
        <div class="toutiao">
            <!-- 轮播 -->
            <div id="container">
                <!-- <ul>
	                <volist name="ad" id="vo">
                    <li class="item">
                        <a href="{$vo.url}" target="_blank" rel="nofollow">
	                        <img src="{$vo.source}-w600h336.jpg" width="600" height="336" rel="nofollow"/>
                        </a>
                        <p class="bg">
                            <a href="{$vo.url}" target="_blank">
                                <span class="line-one-yiban">{$vo.name}</span>
                            </a>
                        </p>
                    </li>
	                </volist>
                </ul>
                <ul id="tabs">
	                <volist name="ad" id="vo">
		                <if condition="$i eq 1">
			                <li class="tab active"></li>
			                <else />
			                <li class="tab"></li>
		                </if>
	                </volist>
                </ul> -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <volist name="ad" id="vo">
                            <div class="swiper-slide">
                                <div class="img-top">
                                    <a href="{$vo.url}" target="_blank" rel="nofollow">
                                        <img src="{$vo.source}-w600h336.jpg" alt="{$vo.name}" width="600" height="336" rel="nofollow">
                                    </a>
                                    <div class="bg">
                                        <span><a href="{$vo.url}" target="_blank" class="line-one-yiban">{$vo.name}</a></span>
                                    </div>
                                </div>

                            </div>
                        </volist>
                    </div>
                    <div class="swiper-pagination hengdian" id="swiper-pagination"></div>
                </div>
            </div>

            <!-- E 今日头条 -->
            <div class="toutiao-news">
                <div class="toutiao-news-title">
                    <h3>今日头条</h3>
                </div>
                <div class="toutiao-news-list">
                    <ul>
	                    <volist name="hot" id="vo">
                        <li>
                            <span class="dian"></span>
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank" class="list-title">
                               <span class="line-two">{$vo.title}</span>
                            </a>
                        </li>
	                    </volist>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 家居设计 -->
        <div class="jiajusheji">
            <div class="jiajusheji-title">
                <h3>家居设计</h3>
                <span class="more">
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/jjsj" target="_blank" >查看更多></a>
                </span>
            </div>
            <div class="jiajusheji-box">
                <div class="jiajusheji-box-left">
	                <if condition="$designer[0]">
                    <div class="jiaju-pic-top">
                        <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$designer[0]['shortname']}/{$designer[0]['id']}.html" target="_blank">
                            <img src="{$designer[0]['imgs']}-w380.jpg" alt="" width="380" height="210">
                        </a>
                        <p class="bg">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$designer[0]['shortname']}/{$designer[0]['id']}.html" target="_blank">
                                <span class="line-one-lang">{$designer[0]['title']}</span>
                            </a>
                        </p>
                    </div>
	                </if>

                    <div class="jiaju-pic-down">
                        <ul>
	                        <volist name="designer" id="vo" offset="1" length="3">
                            <li>
                                <div class="jiaju-pic-down-tu">
                                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
                                        <img src="{$vo.imgs}-w120.jpg" alt="" width="120" height="70">
                                    </a>
                                </div>
                                <p class="lines">
                                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
                                        <span class="line-two-duan">{$vo.title}</span>
                                    </a>

                                </p>
                            </li>
	                        </volist>
                        </ul>
                    </div>
                </div>
                <div class="jiajusheji-box-center">
                    <ul>
	                    <volist name="designer" id="vo" offset="4">
                        <li>
                            <span class="dian"></span>
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
                                <span class="line-one-lang">{$vo.title}</span>
                            </a>
                        </li>
                        </volist>
                    </ul>
                </div>
                <div class="jiajusheji-box-right">
                    <div class="brand-zixun">
                        <div class="brand-zixun-icon">
                            <img src="/assets/home/housecustom/imgs/brand.png" alt="品牌" width="20" height="20">
                        </div>
                        <h3>品牌资讯</h3>
                        <!-- <ul class="small-tit">
                            <li><a href="#">快讯</a></li>
                            <li><a href="#">展会</a></li>
                            <li><a href="#">品牌</a></li>
                            <li><a href="#">加盟</a></li>
                        </ul> -->
                    </div>
                    <div class="brand-zixun-list">
                        <ul>
	                        <volist name="brand" id="vo">
                            <li>
                                <span class="xuhao">{$i}</span>
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank" class="brand-zixun-list-title">
                                    <span class="line-two-duan-right">{$vo.title}</span>
                                </a>
                            </li>
	                        </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 定制攻略 -->
        <div class="jiajusheji">
            <div class="jiajusheji-title">
                <h3>定制攻略</h3>
                <span class="more">
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/dzgl/" target="_blank" >查看更多></a>
                </span>
            </div>
            <div class="jiajusheji-box">
	            <div class="jiajusheji-box-left">
		            <if condition="$strategy[0]">
		            <div class="jiaju-pic-top">
			            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$strategy[0]['shortname']}/{$strategy[0]['id']}.html" target="_blank">
				            <img src="{$strategy[0]['imgs']}-w380.jpg" alt="" width="380" height="210">
			            </a>
			            <p class="bg">
				            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$strategy[0]['shortname']}/{$strategy[0]['id']}.html" target="_blank">
					            <span class="line-one-lang">{$strategy[0]['title']}</span>
				            </a>
			            </p>
		            </div>
		            </if>

		            <div class="jiaju-pic-down">
			            <ul>
				            <volist name="strategy" id="vo" offset="1" length="3">
					            <li>
						            <div class="jiaju-pic-down-tu">
							            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
								            <img src="{$vo.imgs}-w120.jpg" alt="" width="120" height="70">
							            </a>
						            </div>
						            <p class="lines">
							            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
								            <span class="line-two-duan">{$vo.title}</span>
							            </a>
						            </p>
					            </li>
				            </volist>
			            </ul>
		            </div>
	            </div>
	            <div class="jiajusheji-box-center">
		            <ul>
			            <volist name="strategy" id="vo" offset="4">
				            <li>
					            <span class="dian"></span>
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
                                    <span class="line-one-lang">{$vo.title}</span></a>
				            </li>
			            </volist>
		            </ul>
	            </div>
                <div class="jiajusheji-box-right">
                    <div class="baoyang">
                        <div class="by-pic">
                            <img src="/assets/home/housecustom/imgs/baoyang.png" alt="保养" width="20" height="20">
                        </div>
                        <h3>保养护理</h3>
                    </div>

	                <if condition="$maintain[0]">
                    <div class="baoyang-pic">
                        <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$maintain[0]['shortname']}/{$maintain[0]['id']}.html" target="_blank">
                            <img src="{$maintain[0]['imgs']}-w310.jpg" alt="" width="310" height="170">
                        </a>
                        <p class="bg">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$maintain[0]['shortname']}/{$maintain[0]['id']}.html" target="_blank">
                                <span class="line-one-duan">{$maintain[0]['title']}</span>
                            </a>
                        </p>

                    </div>
	                </if>
                    <div class="baoyang-down-pic">
	                    <if condition="$maintain[1]">
                        <div class="zuo">
                            <div class="tu">
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$maintain[1]['shortname']}/{$maintain[1]['id']}.html" target="_blank">
                                    <img src="{$maintain[1]['imgs']}-w150.jpg" alt="" width="150" height="80">
                                </a>
                            </div>
                            <p class="two-line">
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$maintain[1]['shortname']}/{$maintain[1]['id']}.html" target="_blank">
	                                <span class="line-two-duan">{$maintain[1]['title']}</span>
                                </a>
                            </p>
                        </div>
	                    </if>
	                    <if condition="$maintain[2]">

                        <div class="you">
                            <div class="tu">
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$maintain[2]['shortname']}/{$maintain[2]['id']}.html" target="_blank">
                                    <img src="{$maintain[2]['imgs']}-w150.jpg" alt="" width="150" height="80">
                                </a>
                            </div>
                            <p class="two-line">
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$maintain[2]['shortname']}/{$maintain[2]['id']}.html" target="_blank">
	                                <span class="line-two-duan">{$maintain[2]['title']}</span>
                                </a>
                            </p>
                        </div>
	                    </if>
                </div>
                </div>
            </div>
        </div>
    </div>

    <include file="HouseCustom:footer"/>
</body>
</html>

<script src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/home/housecustom/js/tu.js?v={:C('STATIC_VERSION')}"></script>

<script  type="text/javascript">

    $(document).ready(function() {
        var i = 0;
        var timer;
        //用jquery方法设置第一张图片显示，其余隐藏
        $('.item').eq(0).show().siblings('.item').hide();

        //调用showTime()函数（轮播函数）
        showTime();

        //当鼠标经过下面的数字时，触发两个事件（鼠标悬停和鼠标离开）
        $('.tab').hover(function() {
            //获取当前i的值，并显示，同时还要清除定时器
            i = $(this).index();
            Show();
            clearInterval(timer);
        }, function() {
            //
            showTime();
        });

        //创建一个showTime函数
        function showTime() {
            //定时器
            timer = setInterval(function() {
                //调用一个Show()函数
                Show();
                i++;
                //当图片是最后一张的后面时，设置图片为第一张
                if (i == 4) {
                    i = 0;
                }
            }, 3000);
        }
        //创建一个Show函数
        function Show() {
            //在这里可以用其他jquery的动画
            $('.item').eq(i).fadeIn(500).siblings('.item').fadeOut(500);

            //给.tab创建一个新的Class为其添加一个新的样式，并且要在css代码中设置该样式
            $('.tab').eq(i).addClass('active').siblings('.tab').removeClass('active');
        }
    });
    $(function() {
        //限制字符个数  //超出两行显示省略号
        $(".line-two").each(function() {
            var maxwidth = 75;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '…');
            }
        });
        $(".line-two-duan").each(function() {
            var maxwidth = 16;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '…');
            }
        });
        $(".line-two-duan-right").each(function() {
            var maxwidth = 38;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '…');
            }
        });
         // 超出三行显示省略号
        $(".line-three").each(function() {
            var maxwidth = 50;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '…');
            }
        });
        //
        $(".line-one-yiban").each(function() {
            var maxwidth = 34;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html()+"...");
            }
        });
        $(".line-one-duan").each(function() {
            var maxwidth = 12;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html()+"...");
            }
        });
        $(".line-one-zhong").each(function() {
            var maxwidth = 20;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html()+"...");
            }
        });
        $(".line-one-lang").each(function() {
            var maxwidth = 33;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html()+"...");
            }
        });
    });
    function IEVersion() {
        var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
        var isIE = userAgent.indexOf ("compatible") > -1 && userAgent.indexOf ("MSIE") > -1; //判断是否IE<11浏览器
        var isEdge = userAgent.indexOf ("Edge") > -1 && !isIE; //判断是否IE的Edge浏览器
        var isIE11 = userAgent.indexOf ('Trident') > -1 && userAgent.indexOf ("rv:11.0") > -1;
        if (isIE) {
            var reIE = new RegExp ("MSIE (\\d+\\.\\d+);");
            reIE.test (userAgent);
            var fIEVersion = parseFloat (RegExp["$1"]);
            if (fIEVersion == 7) {
                return 7;
            } else if (fIEVersion == 8) {
                return 8;
            } else if (fIEVersion == 9) {
                return 9;
            } else if (fIEVersion == 10) {
                return 10;
            } else {
                return 6;//IE版本<=7
            }
        } else if (isEdge) {
            return 'edge';//edge
        } else if (isIE11) {
            return 11; //IE11
        } else {
            return -1;//不是ie浏览器
        }
    }
</script>
