<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="mobile-agent" content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/" />
    <title>{$category.title}</title>
    <meta name="keywords" content="{$category.keywords}" />
    <meta name="description" content="{$category.description}" />
    <include file="HouseCustom:resource_601"/>
    <link type="text/css" rel="styleSheet" href="/assets/home/housecustom/css/head.css?v={:C('STATIC_VERSION')}" />
    <link type="text/css" rel="styleSheet" href="/assets/home/housecustom/css/newscategory.css?v={:C('STATIC_VERSION')}" />
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/{$category.shortname}/"/>
</head>

<body>
    <!--头部  -->
    <include file="HouseCustom:header"/>
    <!-- 面包屑 -->
    <div class="zixun">
        <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/" target="_blank">全屋定制</a>  ＞
        <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/" target="_blank"> 资讯 </a>
		    ＞
	    <if condition="$category.pid neq $grand_class">
		    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/news/{$category.parent_shortname}" target="_blank"> {$category.parent_name} </a> ＞
	    </if>
		{$category.classname}
    </div>
    <!-- 中间内容列表 -->
    <div class="zixun-center">
        <div class="zixun-list">
	        <volist name="data.list" id="vo">
            <div class="zixun-list-box">
                <div class="left-pic">
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
                        <img src="{$vo.imgs}-w180.jpg" width="180" height="135" />
                    </a>
                </div>
                <div class="right-cont">
                    <h3>
                        <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/{$vo.shortname}/{$vo.id}.html" target="_blank">
                            <span class="line-one">{$vo.title}</span>
                        </a>
                    </h3>
                    <div class='list-content'>

                        <span class="line-two">{$vo.content} </span>
                    </div>
                    <div class="time-laiyuan">{$vo.date}   <span class="laiyuan">来源：齐装全屋定制网</span> <span class="liulan"> 浏览次数：{$vo.pv}</span></div>
                </div>
            </div>
            </volist>
             <!-- S 分页 -->
            <div class="wrap1">{$data.page}</div>
            <!-- E 分页 -->
        </div>

        <div class="zixun-yubaojia">
            <div class="fadan">
                <img src="/assets/home/housecustom/imgs/fadan.png" alt="fadan" width="330" height="161">
            </div>
            <div class="zixun-yubaojia-fadan">
                <h2>免费获取4套设计方案，装修立省30%</h2>
                <div class="box-line">
                    <div style="overflow:hidden">
                        <select id="tab-cs" name="cs" class="edit-city"></select>
                        <select id="tab-qx" name="qx" class="edit-city" style="float: right;"></select>
                    </div>
                    <p class="errorArea-tit"></p>
                </div>
                <div class="box-line">
                    <input class="edit-text" type="text" name="tel" placeholder="请输入您的手机号" maxlength="11">
                    <input type="hidden" name="fb_type" value="sheji">
                    <p class="errorTel-tit"></p>
                </div>
                <div class="box-line">
                    <input class="edit-text" name="name" type="text" placeholder="请输入您的姓名">
                    <p class="errorName-tit"></p>
                </div>

                <!--S-免责声明-->
                <include file="Common@Order/disclamer"/>
                <!--E-免责声明-->
                <button id="btnSave" type="button" class="design-btn">立即预约</button>
            </div>
        </div>
        <!-- 暂无数据 -->
        <empty name="data.list">
            <!-- <div class="zixun-lista "> -->
                <div class="juzhong">
                    暂无数据
                </div>
            <!-- </div> -->
        </empty>
        <div class="clear"></div>
    </div>

     <!-- S 预约成功弹窗 -->
     <div class="mask"></div>
     <div class="success-box">
        <div class="guanbi">
            <img src="/assets/home/housecustom/imgs/guanbi.png" alt="" width="20px" height="20px">
        </div>
        <div class="clear"></div>
        <div class="success-title">
            <div class="duigou">
                <img src="/assets/home/housecustom/imgs/duigou.png" alt="" width="30px" height="30px">
            </div>
            <h3>恭喜您预约成功</h3>
        </div>
        <p class="success-text">我们会尽快电话联系您〜</p>
    </div>
     <!-- E 预约成功弹窗 -->

    <!-- 引入的底部 -->
    <include file="HouseCustom:footer"/>
</body>
</html>

<script src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>

<script  type="text/javascript">
   $(function(){
        var shen = null, shi = null;
        shen = citys["shen"];
        shi = citys["shi"];
        initCity('{$theCityId}');
        function initCity(cityId) {
            App.citys.init("#tab-cs", "#tab-qx", shen, shi, cityId);
        }
        $(".pub-head-nav .nav li").removeClass('active')
        $(".pub-head-nav .nav .nav-list-qwdz").addClass('active')
        $('#btnSave').click(function () {
            var cs = $('[name=cs]').val(),
                qx = $('[name=qx]').val(),
                name = $('[name=name]').val(),
                tel = $('[name=tel]').val();
            if (cs == '' || qx == '') {
                $(".errorArea-tit").html('请选择城市信息');
                return false
            }else{
                $(".errorArea-tit").html('');
            }
            var reg = /^[\u4e00-\u9fa5a-zA-Z]+$/i;
            var regTel = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");

            if (tel == '') {
                $(".errorTel-tit").html('请输入您的手机号码');
                return false
            }else if (tel.length < 11) {
                $(".errorTel-tit").html('请输入11位手机号码');
                return false
            }else if (!regTel.test(tel)) {
                $(".errorTel-tit").html('请填写正确的手机号码');
                return false
            }else{
                $(".errorTel-tit").html('');
            }
            if (name == '') {
                $(".errorName-tit").html('请输入您的名称');
                return false
            }else{
                $(".errorName-tit").html('');
            }

            var reg = /^[\u4e00-\u9fa5a-zA-Z]+$/i;
            var regTel = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");

            if (tel == '') {
                $(".errorTel-tit").html('请输入您的手机号码');
                return false
            }else if (tel.length < 11) {
                $(".errorTel-tit").html('请输入11位手机号码');
                return false
            }else if (!regTel.test(tel)) {
                $(".errorTel-tit").html('请填写正确的手机号码');
                return false
            }else{
                $(".errorTel-tit").html('');
            }
            if (!checkDisclamer(".zixun-yubaojia-fadan")) {
                return false
            }
            window.order({
                extra:{
                    cs: cs,
                    qx: qx,
                    name: name,
                    tel: tel,
                    source: '19122316',
                },
                error:function(){
                    alert('获取报价失败,请刷新页面');
                },
                success:function(data,status,xhr){
                    if(data.status == 1) {
                        $('.mask').show()
                        $('.success-box').delay(500).show()
                        $('[name=name]').val('')
                        $('[name=tel]').val('')
                    }else{
                        alert('未知错位,请重试')
                    }
                },
            });
        })
        $('.mask').click(function () {
            $(this).delay(500).hide()
            $('.success-box').delay(500).hide()
        })
        $('.guanbi').click(function(){
            $('.success-box').delay(500).hide()
            $('.mask').hide().delay(500)
        })
        //兼容IE的input的placeholder的文字显示
        if( !('placeholder' in document.createElement('input')) ){
            $('input[placeholder],textarea[placeholder]').each(function(){
                var that = $(this),
                text= that.attr('placeholder');
                if(that.val()===""){
                    that.val(text).addClass('placeholder');
                }
                that.focus(function(){
                    if(that.val()===text){
                        that.val("").removeClass('placeholder');
                    }
                }).blur(function(){
                    if(that.val()===""){
                        that.val(text).addClass('placeholder');
                    }
                }).closest('form').submit(function(){
                    if(that.val() === text){
                    that.val('');
                    }
                });
            });
        }
         //限制字符个数  //超出两行显示省略号
         $(".line-one").each(function() {
            var maxwidth = 28;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '…');
            }
        });
        // 超出三行显示省略号
        $(".line-two").each(function() {
            var maxwidth = 83;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '…');
            }
        });
   })
</script>
