<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>全屋定制家具 - 全屋定制品牌排行 - 全屋定制价格 - 齐装网全屋定制</title>
    <meta name="applicable-device" content="pc">
    <meta name="keywords" content="全屋定制图,室内全屋定制设计"/>
    <meta name="description" content="齐装网全屋定制图片专区,提供全屋定制的衣柜、橱柜、酒柜等家具图片，丰富时尚家具设计方案以及设计案例供您参考，找全屋定制就上齐装网！"/>
    <link rel="shortcut icon" href="{$static_host}/favicon.ico" type="image/x-icon" />

    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/"/>
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/company/css/animate.min.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/home/housecustom/css/common.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/home/housecustom/css/tu.css?v={:C('STATIC_VERSION')}"/>
    <link rel="styleSheet" type="text/css" href="/assets/home/housecustom/css/head.css?v={:C('STATIC_VERSION')}"/>

    <script type="text/javascript" src="{$static_host}/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/disclamer.js?v={:C('STATIC_VERSION')}"></script>
</head>

<body>
<include file="HouseCustom:header"/>

<div class="xgt-home-header">
    <div class="wrap ofw">
        <div class="xgt-home-nav">
            <dl>
                <dt>局部</dt>
                <dd>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbyigui/" title="衣柜定制" target="_blank">衣柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbtatami/" title="榻榻米定制" target="_blank">榻榻米</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbshugui/" title="书柜定制" target="_blank">书柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbdianshigui/" title="电视柜定制" target="_blank">电视柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbxiegui/" title="鞋柜定制" target="_blank">鞋柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbxuanguangui/" title="玄关柜定制" target="_blank">玄关柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbchugui/" title="橱柜定制" target="_blank">橱柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbchuangtougui/" title="床头柜定制" target="_blank">床头柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbshuzhuangtai/" title="梳妆台定制" target="_blank">梳妆台</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbyimaojian/" title="衣帽间定制" target="_blank">衣帽间</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbyushigui/" title="浴室柜定制" target="_blank">浴室柜</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu-all/" title="更多" target="_blank">更多></a>
                </dd>
            </dl>
            <dl>
                <dt>风格</dt>
                <dd>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgzhongshi/" title="中式风格定制" target="_blank">中式</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgoushi/" title="欧式风格定制" target="_blank">欧式</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgxiandai/" title="现代风格定制" target="_blank">现代</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgmeishi/" title="美式风格定制" target="_blank">美式</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgrishi/" title="日式风格定制" target="_blank">日式</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fggudian/" title="古典风格定制" target="_blank">古典</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fghanshi/" title="韩式风格定制" target="_blank">韩式</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgbeiou/" title="北欧风格定制" target="_blank">北欧</a>
                </dd>
            </dl>
            <dl>
                <dt>空间</dt>
                <dd>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjwoshi/" title="卧室家具定制" target="_blank">卧室</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjketing/" title="客厅家具定制" target="_blank">客厅</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjshufang/" title="书房家具定制" target="_blank">书房</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjyangtai/" title="阳台家具定制" target="_blank">阳台</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjchufang/" title="厨房家具定制" target="_blank">厨房</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjcanting/" title="餐厅家具定制" target="_blank">餐厅</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjweishengjian/" title="卫生间家具定制" target="_blank">卫生间</a>
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjertongfang/" title="儿童房家具定制" target="_blank">儿童房</a>
                </dd>
            </dl>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <volist name="ad" id="vo">
                    <div class="swiper-slide">
                        <div class="img-top">
                            <a href="{$vo.url}" target="_blank" rel="nofollow">
                                <img src="{$vo.source}-w900h400.jpg" alt="{$vo.name}" width="900" height="400" rel="nofollow">
                            </a>
                            <div class="img-text">
                                <h4><a href="{$vo.url}" target="_blank">{$vo.name}</a></h4>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
            <div class="swiper-pagination" id="swiper-pagination"></div>
        </div>
    </div>
</div>

<!--固定分类-->
<div class="xgt-home-body">
    <div class="modal-meitu ofw">
        <div class="wrap jingpin">
            <p class="common-hd">
            </p>
            <div class="common-list-con">
                <div class="common-list zt-resize clearfix">
                    <div class="commom-item">
                        <div class="item-bd">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjketing/"
                               target="_blank">
                                <img src="{$static_host}/assets/home/housecustom/img/kt.png"
                                     alt="{$v.title}" class="placeholder">
                                <div class="mark-zt">
                                    <p class="qz-name">
                                        客厅图库</p>
                                    <p class="qz-slogan">
                                        朋友家人相聚</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="commom-item">
                        <div class="item-bd">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjwoshi/"
                               target="_blank">
                                <img src="{$static_host}/assets/home/housecustom/img/ws.png"
                                     alt="{$v.title}" class="placeholder">
                                <div class="mark-zt">
                                    <p class="qz-name">
                                        卧室图库</p>
                                    <p class="qz-slogan">
                                        温馨的港湾</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="commom-item">
                        <div class="item-bd">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjshufang/"
                               target="_blank">
                                <img src="{$static_host}/assets/home/housecustom/img/shuf.png"
                                     alt="{$v.title}" class="placeholder">
                                <div class="mark-zt">
                                    <p class="qz-name">
                                        书房图库</p>
                                    <p class="qz-slogan">
                                        安静的阅读空间</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="commom-item common-item-last">
                        <div class="item-bd">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu-all/"
                               target="_blank">
                                <img src="{$static_host}/assets/home/housecustom/img/zht.png"
                                     alt="{$v.title}" class="placeholder">
                                <div class="mark-zt">
                                    <p class="qz-name">
                                        整体图库</p>
                                    <p class="qz-slogan">
                                        随心所欲搭配</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--瀑布流图片-->
<div class="wrap" id="main">
    <div class="list-content clearfix">
        <ul id="imgBox" class="wookmark-initialised">
            <volist name="data" id="vo">
                <li class="pic">
                    <div class="item-bd">
                        <div class="img-box">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html" rel="nofollow" target="_blank">
                                <img class="lazy" src="{$vo.image_src}-w290.jpg" alt="{$vo.title}" width="{$vo.image_width}"
                                     height="{$vo.image_height}" rel="nofollow">
                            </a>
                        </div>
                    </div>
                    <div class="item-ft">
                        <div class="item-ft-info">
                            <span class="limit-w" data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html">
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html" target="_blank"
                                   data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html">{$vo.title}</a>
                            </span>
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
    </div>
</div>

<script type="text/javascript" src="{$static_host}/assets/home/housecustom/js/tu.js?v={:C('STATIC_VERSION')}"></script>
<!--模板js-->
<script type="text/javascript" src="{$static_host}/assets/home/housecustom/js/data-for-template.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/home/housecustom/js/template.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$cityfile}"></script>

<!--S图片延迟加载-->
<script src="{$static_host}/assets/common/plugin/lazyload/js/jquery.lazyload.min.js?v={:C('STATIC_VERSION')}"></script>
<!--瀑布流js-->
<script src="{$static_host}/assets/common/plugin/wookmark/js/wookmark.min.js?v={:C('STATIC_VERSION')}"></script>

<!-- 模板 -->
<script id="tmpl" type="text/x-handlebars-template">
    {{each data as value index }}
    <li class="pic">
        <div class="item-bd">
            <div class="img-box">
                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html" rel="nofollow" target="_blank">
                    <img class="lazy" src="{{value.image_src}}-w290.jpg" alt="{$vo.title}" width="{{value.image_width}}"
                         height="{{value.image_height}}" rel="nofollow">
                </a>
            </div>
        </div>
        <div class="item-ft">
            <div class="item-ft-info">
                <p class="lh-50">
                     <span class="limit-w" data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html">
                        <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html" target="_blank"
                           data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html">{{value.title}}</a>
                    </span>
                </p>
            </div>
        </div>
    </li>
    {{/each}}
</script>

<script>
    var page = 1;
    var isScroll = true;
    var isLoad = true

    /**
     * 异步加载施工列表
     * @params cb 回调函数
     **/
    function loadList(page, cb) {
        page = page || 1
        $.ajax({
            url: '/qwdz/tu/getHomeList?p=' + page,
            type: 'get',
        })
            .done(function (res) {
                cb && cb.call(this, res)
            })
            .fail(function (res) {
                alert('网络异常，请稍后再试')
            })
    };

    window.onload = function () {
        var wookmark = new Wookmark('#imgBox', {
            itemWidth: 290,
            offset: 20,
            align: 'left',
            autoResize: false,
            direction: 'left'
        });
    };
    $(document).ready(function () {
        /*异步加载结束后调用瀑布流重新排版*/
        var browser = navigator.appName;
        if (browser == "Microsoft Internet Explorer") {
            var b_version = navigator.appVersion
            var version = b_version.split(";");
            var trim_Version = version[1].replace(/[ ]/g, "");
            if (trim_Version == "MSIE8.0") {
                var lazy_list = $(".lazy");
                for (var i = 0; i < lazy_list.length; i++) {
                    var imgSrc = $(lazy_list[i]).attr("src");
                    $(lazy_list[i]).attr("src", imgSrc);
                }
                setTimeout(wookmarkreset, 1500);
            } else {
                $('img.lazy').lazyload({
                    effect: "fadeIn",
                    load: wookmarkreset
                });
            }
        } else {
            $('img.lazy').lazyload({
                effect: "fadeIn",
                load: wookmarkreset
            });
        }
        function wookmarkreset() {
            var wookmark = new Wookmark('#imgBox', {
                itemWidth: 290,
                offset: 20,
                align: 'left',
                autoResize: false,
                direction: 'left'
            });
        }

        /*滚动加载*/
        $(function () {
            // 滚动事件，施工阶段悬浮/滚动加载数据

            $(document).scroll(function () {
                if (isScroll && isLoad) {
                    if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
                        // 加载数据
                        var page_old = page
                        page++
                        isLoad = false
                        loadList(page, function (res) {
                            var data = JSON.parse(res)
                            if (data.code === 0 && data.list.length>0) {
                                var tempData = {
                                    data: data.list
                                }
                                var tplStr = template("tmpl", tempData);
                                $('#imgBox').append(tplStr);
                                setTimeout(wookmarkreset, 500);
                                if(data.list.length < 40){
                                    setTimeout(endLoad, 500);
                                }else {
                                    isLoad = true;
                                }
                            } else {
                                endLoad()
                                page = page_old
                            }
                        })
                    }
                }
            })

        })
        /*加载end*/
        function endLoad() {
            $('#main').append('<div class="no-data-text">已无更多数据</div>')
            isScroll = false
        }
    })
</script>
</body>
</html>
