<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <title>全屋定制案例 - 全屋定制效果图欣赏 - 全屋定制设计 - 齐装网全屋定制</title>
    <meta name="keywords" content="全屋定制,定制案例,定制效果图"/>
    <meta name="description" content="齐装网全屋定制效果图专区，为您提供2020年流行的全屋定制方案，全屋设计案例，全屋定制效果图"/>
    <meta name="applicable-device" content="pc">
    <link rel="Shortcut Icon" href="{$static_host}/favicon.ico" type="image/x-icon"/>

    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}qwdz/tu-all/"/>
    <link rel="stylesheet" href="{$static_host}/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}" type="text/css"/>
    <script type="text/javascript" src="{$static_host}/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>

    <link type="text/css" rel="styleSheet" href="/assets/home/housecustom/css/common.css?v={:C('STATIC_VERSION')}"/>
    <link type="text/css" rel="styleSheet" href="/assets/home/housecustom/css/head.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/home/housecustom/css/tulist.css?v={:C('STATIC_VERSION')}"/>
</head>
<body>
<include file="HouseCustom:header"/>

<div class="wrap">
    <div class="meitu-bread">
        <ul class="clearfix">
            <li><a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/qwdz/">全屋定制</a> <i class="fa fa-angle-right"></i></li>
            <li>图库</li>
        </ul>
    </div>

    <!--筛选-->
    <div class="classify">

        <div class="classify-box classify-box2 clearfix">
            <div class="classify-title classify-title2">
                <span>局部</span>
            </div>
            <div class="classify-list">
                <div class="reset-with">
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbyigui/">衣柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbtatami/">榻榻米</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbshugui/">书柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbdianshigui/">电视柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbxiegui/">鞋柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbxuanguangui/">玄关柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbchugui/">橱柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbchuangtougui/">床头柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbshuzhuangtai/">梳妆台</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbyimaojian/">衣帽间</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbyushigui/">浴室柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbbigui/">壁柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbjiugui/">酒柜</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbdengju/">灯具</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/jbjiaju/">家具</a></span>
                </div>
            </div>
        </div>

        <div class="classify-box clearfix">
            <div class="classify-title">
                <span>风格</span>
            </div>
            <div class="classify-list">
                <div class="reset-with">
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgzhongshi/">中式</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgoushi/">欧式</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgxiandai/">现代</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgmeishi/">美式</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgrishi/">日式</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fggudian/">古典</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fghanshi/">韩式</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/fgbeiou/">北欧</a></span>
                </div>
            </div>
        </div>

        <div class="classify-box classify-box-last clearfix">
            <div class="classify-title">
                <span>空间</span>
            </div>
            <div class="classify-list">
                <div class="reset-with">
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjwoshi/">卧室</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjketing/">客厅</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjshufang/">书房</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjyangtai/">阳台</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjchufang/">厨房</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjcanting/">餐厅</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjweishengjian/">卫生间</a></span>
                    <span><a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/tu/kjertongfang/">儿童房</a></span>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="wrap">
    <div class="m-title">
        <h1>定制效果图</h1>
    </div>
</div>
<!--图片列表-->
<div class="wrap" id="main" style="min-height: 330px;">

    <div class="list-content clearfix">
        <ul id="imgBox" style="min-height: 200px" class="wookmark-initialised">
            <volist name="data" id="vo">
                <li class="pic">
                    <div class="item-bd">
                        <div class="img-box">
                            <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html" rel="nofollow" target="_blank">
                                <img class="lazy" src="{$vo.image_src}-w290.jpg" alt="{$vo.title}" width="{$vo.image_width}"
                                     height="{$vo.image_height}" rel="nofollow">
                            </a>
                        </div>
                    </div>
                    <div class="item-ft">
                        <div class="item-ft-info">
                            <span class="limit-w" data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html">
                                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html" target="_blank"
                                   data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{$vo.id}.html">{$vo.title}</a>
                            </span>
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
    </div>

    <empty name="data">
        <div class="no-data-text">暂无数据</div>
    </empty>
</div>

<div id="append" class="list-content" style="display: none;"></div>

<include file="HouseCustom:footer"/>

<script src="{$static_host}/assets/common/plugin/lazyload/js/jquery.lazyload.min.js?v={:C('STATIC_VERSION')}"></script>
<script src="{$static_host}/assets/common/plugin/wookmark/js/wookmark.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/home/housecustom/js/data-for-template.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/home/housecustom/js/template.js?v={:C('STATIC_VERSION')}"></script>
<!-- 模板 -->
<script id="tmpl" type="text/x-handlebars-template">
    {{each data as value index }}
    <li class="pic">
        <div class="item-bd">
            <div class="img-box">
                <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html" rel="nofollow" target="_blank">
                    <img class="lazy" src="{{value.image_src}}-w290.jpg" alt="{$vo.title}" width="{{value.image_width}}"
                         height="{{value.image_height}}" rel="nofollow">
                </a>
            </div>
        </div>
        <div class="item-ft">
            <div class="item-ft-info">
                 <span class="limit-w" data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html">
                    <a href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html" target="_blank"
                       data-href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}/qwdz/t{{value.id}}.html">{{value.title}}</a>
                </span>
            </div>
        </div>
    </li>
    {{/each}}
</script>


<script>
    /**
     * 异步加载图片列表
     * @params cb 回调函数
     **/
    function loadList(page, cb) {
        page = page || 1
        $.ajax({
            url: '/qwdz/tu/getHomeList?p=' + page,
            type: 'get',
        })
            .done(function (res) {
                cb && cb.call(this, res)
            })
            .fail(function (res) {
                alert('网络异常，请稍后再试')
            })
    };
    /*必须使用onload函数，不然会出现排版问题*/
    window.onload = function () {
        var wookmark = new Wookmark('#imgBox', {
            itemWidth: 290,
            offset: 20,
            align: 'left',
            autoResize: false,
            direction: 'left'
        });
    };

    $(document).ready(function () {
        var page = 1;
        var isScroll = true;
        var isLoad = true;
        var imgListLenght = $("#imgBox li").length
        if (imgListLenght === 0) {
            isLoad = false;
        }
        /*异步加载结束后调用瀑布流重新排版*/
        var browser = navigator.appName;

        if (browser == "Microsoft Internet Explorer") {
            var b_version = navigator.appVersion
            var version = b_version.split(";");
            var trim_Version = version[1].replace(/[ ]/g, "");
            if (trim_Version == "MSIE8.0") {
                var lazy_list = $(".lazy");
                for (var i = 0; i < lazy_list.length; i++) {
                    var imgSrc = $(lazy_list[i]).attr("src");
                    $(lazy_list[i]).attr("src", imgSrc);
                }
                setTimeout(wookmarkreset, 1500);
            } else {
                $('img.lazy').lazyload({
                    effect: "fadeIn",
                    load: wookmarkreset
                });
            }
        } else {
            $('img.lazy').lazyload({
                effect: "fadeIn",
                load: wookmarkreset
            });
        }

        function wookmarkreset() {
            var wookmark = new Wookmark('#imgBox', {
                itemWidth: 290,
                offset: 20,
                align: 'left',
                autoResize: false,
                direction: 'left'
            });
        }

        /*滚动加载*/
        $(function () {
            // 滚动事件，施工阶段悬浮/滚动加载数据
            $(document).scroll(function () {
                if (isScroll && isLoad) {
                    if ($(window).scrollTop() + $(window).height() >= ($(document).height() - $('#footer_qwdz').height() + 50)) {
                        // 加载数据
                        var page_old = page
                        page++
                        isLoad = false
                        loadList(page, function (res) {
                            var data = JSON.parse(res)
                            if (data.code === 0 && data.list) {
                                var tempData = {
                                    data: data.list
                                }
                                var tplStr = template("tmpl", tempData);
                                $('#imgBox').append(tplStr);
                                setTimeout(wookmarkreset, 500);
                                if(data.list.length < 40){
                                    setTimeout(endLoad, 500);
                                }else {
                                    isLoad = true;
                                }
                            }else {
                                endLoad()
                                page = page_old
                            }
                        })
                    }
                }
            })

        })
        /*加载end*/

        function endLoad() {
            $('#main').append('<div class="no-data-text">已无更多数据</div>')
            isScroll = false
        }
    })
</script>
</body>
</html>
