<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>{$detail.title}</title>
    <meta name="applicable-device" content="pc">
    <meta name="keywords" content="{$detail.keyword}"/>
    <meta name="description" content="{$detail.description}"/>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{:C('QZ_YUMINGWWW')}qwdz/tu/"/>

    <link rel="Shortcut Icon" href="{$static_host}/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}"/>

    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/home/housecustom/css/common.css?v={:C('STATIC_VERSION')}"/>
    <link rel="styleSheet" type="text/css" href="{$static_host}/assets/home/housecustom/css/head.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="{$static_host}/assets/home/housecustom/css/tuinfo.css?v={:C('STATIC_VERSION')}"/>

    <script type="text/javascript" src="{$static_host}/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/App.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/disclamer.js?v={:C('STATIC_VERSION')}"></script>
</head>

<body>
<include file="HouseCustom:header"/>

<div class="meitu-bread">
    <dl class="clearfix">
        <dt><a class="font-s" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/qwdz">全屋定制</a></dt>
        <dd><i class="fa fa-angle-right"></i></dd>
        <dt><a class="font-s" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/qwdz/tu/">图库</a></dt>
        <dd><i class="fa fa-angle-right"></i></dd>
        <dt><h1 id="smallTit" class="font-s">{$detail.title}</h1></dt>
    </dl>
</div>
<!--右侧报价-->
<include file="Home@HouseCustom:terminalsidebar"/>

<div class="right-sider">
    <!--主体内容-->
    <div class="main">
        <!--图片特效内容开始-->
        <div class="piccontext">
            <!--大图展示-->
            <div class="picshow">
                <div class="picshowtop">
                    <div class="imgwrap">
                        <div class="imgsize">
                            <div style="position: relative; height: 700px;" class="i-box">
                                <img alt="{$detail.image_title}" src="{$detail.image_src_total}-h700.jpg" height="700" id="pic1"
                                     curindex="0" data-fulltitle="{$detail.title}-齐装网装修效果图">
                            </div>
                        </div>

                    </div>
                    <a id="preArrow" href="javascript:void(0)" class="contextDiv" title="上一张">
                    </a>
                    <a id="nextArrow" href="javascript:void(0)" class="contextDiv" title="下一张">
                    </a>
                </div>

            </div>
            <div class="picshowlist">
                <!--图库列表-->
                <div class="picshowlist_mid">
                    <div class="picmidleft">
                        <a href="javascript:void(0)" id="preArrow_B"><i class="fa fa-angle-left"></i></a>
                    </div>
                    <div class="picmidmid">
                        <ul>
                            <volist name="data" id="vo">
                                <li class="<if condition=" ($vo.class eq prev)
                                ">prev hide
                                <elseif condition="$vo.class eq next"/>
                                next hide</if>" >
                                <a href="javascript:void(0);">
                                    <img alt="{$vo.image_title}" src="{$vo.image_src_total}-w100.jpg" width="{$vo.image_width}"
                                         height="{$vo.image_height}" bigimg="{$vo.image_src_total}-h700.jpg" data-id="{$vo.id}"
                                         data-meitutitle="{$vo.title}" data-fulltitle="{$vo.title}-齐装网装修效果图" data-time="{$vo.publish_time}" data-type="meitu" rel="nofollow">
                                </a>
                                <div class="img_desc" style="display: none"></div>
                                </li>
                            </volist>
                        </ul>
                    </div>
                    <div class="picmidright">
                        <a href="javascript:void(0)" id="nextArrow_B">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- S 预约成功弹窗 -->
<div class="mask"></div>
<div class="success-box">
    <div class="guanbi">
        <img src="/assets/home/housecustom/imgs/guanbi.png" alt="" width="20px" height="20px">
    </div>
    <div class="clear"></div>
    <div class="success-title">
        <div class="duigou">
            <img src="/assets/home/housecustom/imgs/duigou.png" alt="" width="30px" height="30px">
        </div>
        <h3>恭喜您申请成功</h3>
    </div>
    <p class="success-text">我们会尽快电话联系您〜</p>
</div>
<!-- E 预约成功弹窗 -->
<script type="text/javascript" src="{$static_host}/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/common/js/order.js?v={:C('ORDER_JS_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/home/housecustom/js/tudetail.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$cityfile}"></script>
<script type="text/javascript">

    var shen, shi;
    shen = citys["shen"];
    shi = citys["shi"];
    var ip_cityid = '{$Think.cookie.iplookup}';
    var city_id = '{$theCityId}';
    (city_id == '') ? cityId = ip_cityid : cityId = city_id;
    if (cityId == '') {
        getLocation();
    } else {
        initCity(cityId);
    }

    function initCity(cityId) {
        App.citys.init("#meitu-bj-cs", "#meitu-bj-qy", shen, shi, cityId);
    }

    $('#btnSave').click(function () {
        var cs = $('[name=cs]').val(),
            qx = $('[name=qx]').val(),
            name = $('[name=name]').val(),
            tel = $('[name=tel]').val();
        var reg = /^[\u4e00-\u9fa5a-zA-Z]+$/i; //中英文
        var regTel = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$"); //手机号
        // 城市
        if (cs == '' || qx == '') {
            $(".errorArea-tit").html('请选择城市');
            return false
        } else {
            $(".errorArea-tit").html('');
        }
        //电话
        if (tel == '') {
            $(".errorTel-tit").html('请输入您的手机号码');
            return false
        } else if (tel.length < 11) {
            $(".errorTel-tit").html('请输入11位手机号码');
            return false
        } else if (!regTel.test(tel)) {
            $(".errorTel-tit").html('请填写正确的手机号码');
            return false
        } else {
            $(".errorTel-tit").html('');
        }
        //名称判断
        if (name == '') {
            $(".errorName-tit").html('请输入联系人');
            return false
        } else if (!reg.test(name)) {
            $(".errorName-tit").html('请输入正确的名称，只支持中文和英文');
            return false
        } else {
            $(".errorName-tit").html('');
        }

        var disclamer = $(".disclamer-check").attr("data-checked")


        if (disclamer === 'false') {
            $(".errorMianze-tit").html("请勾选我已阅读并同意齐装网《免责声明》！")
            return false;
        }
        var data = {
            source: 19122316,
            step: 2,
            cs: cs,
            qx: qx,
            name: name,
            tel: tel,
        };

        window.order({
            extra: data,
            error: function () {
                alert("网络发生错误,请稍后重试！");
            },
            success: function (data, status, xhr) {
                if (data.status == 1) {
                    $('.mask').show();
                    $('.success-box').delay(500).show();
                    $(".freeDesign input[name=name]").val('');
                    $(".freeDesign input[name=tel]").val('')
                } else {
                    alert(data.info);
                }
            },
            validate: function (item, value, method, info) {
                return true;
            }
        });

        $('.mask').click(function () {
            $(this).delay(500).hide()
            $('.success-box').delay(500).hide()
            $('.mask').hide().delay(500)
        })
        $('.guanbi').click(function () {
            $('.success-box').delay(500).hide()
            $('.mask').hide().delay(500)
        })
    });


</script>
</body>
</html>
