<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="mobile-agent" content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/"/>
    <title>税费计算器2020 - 二手房税费计算器 - 新房税费计算器 - 齐装网</title>
    <meta name="keywords" content="税费计算器2020、二手房税费计算器、新房税费计算器"/>
    <meta name="description"
          content="税费计算器2020、二手房税费计算器、新房税费计算器大全"/>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/"/>
    <include file="Index:resource_509"/>
    <include file="Common@Common/sentry"/>

    <link rel="stylesheet" href="/assets/common/css/bottom-company-new.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="/assets/common/plugin/bxslider/bxslider.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" type="text/css" href="/assets/home/index/css/index_509.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" href=/assets/home/jsq/css/app.css>
</head>
<body id="body">
<include file="Index:header_509"/>

<div id=app>
    <div>
        <div class="counter main_1000 clearfix">
            <section><p class="banner_top"></p>
                <div class="tab_list">
                    <ul class="clearfix">
                        <li class="">房贷计算器</li>
                        <li class="on">税费计算器</li>
                        <li class="">提前还贷计算器</li>
                        <li class="">公积金贷款额度查询</li>
                        <li class="">购房能力评估</li>
                        <li class="">装修贷款计算器</li>
                    </ul>
                </div>
            </section>
            <table>
                <tr>
                    <td valign="top" class="counter_list counter_list_width3 xfStyle">
                        <ul class="clearfix fl">
                            <li><span>房屋：</span><span class="fangshi"><i class="on"></i>新房</span><span
                                    class="fangshi"><i class=""></i>二手房</span></li>
                            <li><span>房屋面积：</span><input type="text" maxlength="7" pattern="[0-9]*"
                                                         placeholder="请输入房屋面积" name=""><i>平米</i></li>
                            <li><span>房屋单价：</span><input type="text" maxlength="6" pattern="[0-9]*"
                                                         placeholder="请输入房屋单价" name=""><i>元/平米</i></li>
                            <li style="display: none;"><span>房屋总价：</span><input type="text" maxlength="6"
                                                                                pattern="[0-9]*" placeholder="请输入房屋总价"
                                                                                name=""><i>万元</i></li>
                            <li style="display: none;"><span>房屋原价：</span><input type="text" maxlength="6"
                                                                                pattern="[0-9]*" placeholder="请输入房屋原价"
                                                                                name=""><i>万元</i></li>
                            <li style="display: none;"><span>计征方式：</span>
                                <div class="clearfix"><p class="select"><input type="" name=""
                                                                               readonly="readonly"><i></i></p>
                                    <ul class="option" style="display: none;">
                                        <li>总价</li>
                                        <li>差价</li>
                                    </ul>
                                </div>
                            </li>
                            <li style="display: none;"><span>房产性质：</span>
                                <div class="clearfix"><p class="select"><input type="" name=""
                                                                               readonly="readonly"><i></i></p>
                                    <ul class="option" style="display: none;">
                                        <li>普通住宅</li>
                                        <li>非普通住宅</li>
                                        <li>经济适用房</li>
                                    </ul>
                                </div>
                            </li>
                            <li style="display: none;"><span>房产购置满5年：</span><span class="fangshi"><i class="on"></i>满5年</span><span
                                    class="fangshi"><i class=""></i>满2年</span><span class="fangshi"><i class="on"></i>不满两年</span>
                            </li>
                            <li><span>买房家庭首次购房：</span><span class="fangshi"><i class="on"></i>是</span><span
                                    class="fangshi"><i class=""></i>否</span></li>
                            <li style="display: none;"><span>卖方家庭唯一住房：</span><span class="fangshi"><i
                                    class="on"></i>是</span><span class="fangshi"><i class=""></i>否</span></li>
                            <li><span></span><span class="start">开始计算</span><span class="empty">清空重填</span></li>
                        </ul>
                    </td>
                    <td class="counter_center"></td>
                    <td valign="top" class="counter_right counter_right_width3" style="display: none;">
                        <ul>
                            <li class="title"><h2>计算结果</h2></li>
                            <li class="clearfix"><h3>房款总款：</h3><span class="on">0</span><i>元</i></li>
                            <li class="clearfix"><h3>工本费：</h3><span></span><i>元</i></li>
                            <li class="clearfix" style="display: none;"><h3>工本印花税：</h3><span></span><i>元</i></li>
                            <li class="clearfix" style="display: none;"><h3>印花税：</h3><span>0</span><i>元</i></li>
                            <li class="clearfix"><h3>契税：</h3><span>0</span><i>元</i></li>
                            <li class="clearfix" style="display: none;"><h3>个人所得税：</h3><span></span><i>元</i></li>
                            <li class="clearfix" style="display: none;"><h3>增值税：</h3><span></span><i>元</i></li>
                            <li class="clearfix" style="display: none;"><h3>综合地价款：</h3><span></span><i>元</i></li>
                            <li class="clearfix"><h3>权属登记费：</h3><span></span><i>元</i></li>
                            <li class="clearfix"><h3>维修基金：</h3><span></span><i>元</i></li>
                            <li class="clearfix"><h3>合计：</h3><span class="on">0</span><i>元</i></li>
                        </ul>
                        <p class="note">*以上结果仅供参考</p></td>
                    <td class="counter_right2"><p>要买新房，快来算算吧！</p></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<include file="Index:footer_509"/>

<script>
    var url = 'jsq/sf'
</script>
<script type="text/javascript" src="/assets/home/jsq/js/ie8.js"></script>
<script type="text/javascript" src="/assets/home/jsq/js/uvbforpc.js"></script>
<script type=text/javascript src=/assets/home/jsq/js/manifest.js></script>
<script type=text/javascript src=/assets/home/jsq/js/vendor.js></script>
<script type=text/javascript src=/assets/home/jsq/js/app.js></script>

</body>
</html>
