body {
    background: #fff;
}
.main {
    border: 1px solid #e6e6e6;
}
.main .left {
    background: #f5f5f5;
    font-size: 14px;
    margin-right: 0;
    color: #333;
    min-height: 710px;
}
.main .left .help-title {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
}
.left-list ul li {
    padding-left: 30px;
    height: 40px;
    width: 230px;
    line-height: 40px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.left-list ul li:first-child {
    border-top: none;
}
.left-list ul li.cur {
    background: #fff;
    color: #FF5353;
    border-bottom: 1px solid #fff;
}
.left-list ul li.cur .yuan {
    background: #FF5353;
}
.left-list ul li .yuan {
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    background: #333;
    border-radius: 50%;
    margin-top: 17px;
    margin-right: 10px;
}
.left-list ul li span {
    display: block;
    float: left;
}

.main .right .right-title {
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.main .right .qa-div ul li {
    margin-bottom: 30px;
}
.main .right .qa-div .q-title {
    height: 30px;
    line-height: 30px;
}
.main .right .qa-div .q-title .icon-right{
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    background: url(../img/right.png) no-repeat;
    background-size: 100%;
    margin: 8px 5px 0 0;
}
.main .right .qa-div .q-title span {
    display: block;
    font-size: 16px;
    color: #333;
    float: left;
}
.main .right .qa-div .a-msg {
    margin: 0 20px;
    font-size: 14px;
    color: #666;
}
.login {
    display: none;
}
.account {
    display: none;
}
.bind {
    display: none;
}
.others {
    display: none;
}