.top {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
}

.top .t-left {
    float: left;
}

.top .t-left ul li {
    float: left;
    margin-right: 20px;
}

.top .t-left ul li:hover a {
    color: #FF5353;
}

.top .t-right {
    float: right;
}

.top .t-right ul li {
    float: left;
}

.top .t-right ul li span {
    color: #FF9600;
}

.main {
    position: relative;
    height: 693px;
}

.main .bg {
    position: absolute;
    height: 693px;
}

.main .bg img {
    display: block;
    width: 100%;
    height: 100%;
}

.main .wrap {
    position: relative;
}

.main .logo {
    width: 163px;
    height: 58px;
    position: absolute;
    top: 46px;
    left: 40px;
}

.main .logo img {
    display: block;
    width: 100%;
    height: 100%;
}

.main .form {
    width: 310px;
    padding: 30px;
    background: #fff;
    position: absolute;
    top: 77px;
    right: 0;
}

.main .form .change-login-way {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.main .form .change-login-way .imgs {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../common/img/right.png);
    background-size: 100%;
}

.main .form .change-login-way .imgs.computer-icon {
    background: url(../../common/img/right2.png);
    background-size: 100%;
}

.main .form .user-login-box {
    display: none;
}

.main .form .code-login-box .code-title {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 25px;
    font-weight: bold;
}

.main .form .code-login-box .login-code {
    position: relative;
    width: 310px;
    height: 214px;
}

.main .form .code-login-box .login-code .qiz {
    width: 67px;
    height: 67px;
    background: url(../../common/img/qizuang1.png);
    background-size: 100%;
    position: absolute;
    top: 74px;
    left: 122px;
    border-radius: 5px;
}
.main .form .code-login-box .login-code .reflash {
    width: 310px;
    height: 214px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.9);
    display: none;
}
.main .form .code-login-box .login-code .reflash .img-div {
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 57px auto;
    cursor: pointer;
}
.main .form .code-login-box .login-code .reflash .img-div p {
    color: #FF5353;
    text-align: center;
    font-size: 14px;
}
.main .form .code-login-box .login-code .reflash .img-div .text {
    position: absolute;
    bottom: -35px;
    font-size: 16px;
    color: #333;
    margin-bottom: 0px;
    font-weight: bold;
}
.main .form .code-login-box .login-code .reflash img {
    display: block;
    width: 46px;
    height: 46px;
    position: relative;
    top: 20px;
}
.main .form .code-login-box .login-code img {
    display: block;
    width: 214px;
    height: 214px;
    margin: 30px auto;
    display: none;
}
.sweep-in-status {
    display: none;
}
.sweep-in-status .phone-imgs {
    width: 100%;
    height: 185px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.sweep-in-status .phone-imgs img {
    display: block;
    width: 115px;
    height: 185px;
    margin: 0 auto;
}
.sweep-in-status .success-sweep {
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}
.sweep-in-status .phone-sure {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}
.sweep-in-status .go-sweep-status {
    text-align: center;
    color: #FF5353;
    font-size: 14px;
    cursor: pointer;
}
.main .form .code-login-box .info {
    margin-top: 40px;
}
.main .form .code-login-box .info p {
    text-align: center;
    font-size: 14px;
    color: #333;
}

.main .form .code-login-box .info p span {
    color: #FF5353;
}

.main .form .tabs {
    margin: 20px 0;
}

.main .form .tabs div {
    font-size: 18px;
    color: #B3B3B3;
    float: left;
    cursor: pointer;
}

.main .form .tabs .user-login {
    margin-left: 40px;
}

.main .form .tabs .line {
    margin: 0 33px;
}

.main .form .tabs div.active {
    font-size: 18px;
    color: #333;
}

.main .form .code-box {
    display: none;
}

.main .form .form-input {
    margin-bottom: 24px;
    position: relative;
}

.main .form .form-input input {
    width: 298px;
    height: 44px;
    padding-left: 10px;
    border: 1px solid #D9D9D9;
    font-size: 14px;
}
input::-webkit-input-placeholder {
    color: #b2b2b2;
}
input::-moz-input-placeholder {
    color: #b2b2b2;
}
input::-ms-input-placeholder {
    color: #b2b2b2;
}
.main .form .form-input .code-input {
    width: 143px;
    float: left;
}

.main .form .form-input .get-code {
    width: 135px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    float: left;
    margin-left: 20px;
    background: #FF5353;
    cursor: pointer;
}
.main .form .form-input .warn {
    position: absolute;
    bottom: -20px;
    left: 5px;
    color: #FF5353;
}

.main .form .tips a {
    color: #FF5353;
    border-bottom: 1px solid #FF5353;
    cursor: pointer;
}

.main .form .tips .forget {
    float: right;
}

.main .form .login-btn {
    width: 310px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #FF5353;
    margin: 35px 0 25px;
    cursor: pointer;
}
.main .form #code-login {
    display: none;
}
.others-login .social-account {
    font-size: 14px;
    color: #B3AFAD;
    text-align: center;
}

.others-login .others-way {
    margin: 20px auto 0;
}

.others-login .others-way div {
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 40px;
}

.others-login .others-way div.wechat {
    margin-left: 98px;
}

.others-login .others-way div img {
    display: block;
    width: 100%;
    height: 100%;
}

.footer {
    height: 234px;
    background: #333;
}

.footer ul.b-nav-list {
    padding-top: 25px;
    width: 100%;
    margin-left: 225px;
    margin-bottom: 15px;
}

.footer ul li {
    float: left;
    font-size: 14px;
    margin-right: 20px;
    color: #fff;
}

.footer ul li a {
    color: #fff;
}

.footer p {
    color: #999;
    text-align: center;
}

.footer .contact {
    margin-top: 15px;
}

.footer .contact .service-email {
    float: left;
    margin-left: 355px;
}

.footer .contact .kefu-qq {
    float: left;
    position: relative;
    width: 170px;
    margin-right: 20px;
    margin-left: 15px;
    color: #999;
}

.footer .contact .kefu-qq img {
    display: block;
    position: absolute;
    top: 0;
    width: 21px;
    height: 21px;
}

.footer .contact .kefu-qq .kefu1 img {
    right: 25px;
}

.footer .contact .kefu-qq .kefu2 img {
    right: 0;
}

.footer .contact .friend-qq {
    float: left;
    position: relative;
    width: 100px;
    color: #999;
}

.footer .contact .friend-qq img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
}

.footer .wechat-code {
    float: left;
    width: 132px;
    margin-left: 455px;
    margin-top: 20px;
}

.footer .wechat-code img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.footer .wechat-code p {
    margin-top: 5px;
}

.footer .weibo {
    float: left;
    width: 134px;
    margin-top: 20px;
    margin-left: 98px;
}

.footer .weibo img {
    display: block;
    width: 134px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 17px;
}


/* ----------------------------注册----------------------------------- */
.user-register-box .register-title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin: 3px 0 15px;
}
.user-register-box .register-btn {
    width: 310px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #FF5353;
    margin: 10px 0 0;
    cursor: pointer;
}
.user-register-box .tips {
    float: right;
    margin-top: 10px;
}

.legal-line {
    color: #999;
    text-align: left;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 5px;
}

.legal-line span {
    font-size: 12px !important
}

.legal-line a {
    color: #FF5353;
    border-bottom: 1px solid #FF5353;
    display: inline-block;
    width: 125px;
    overflow: hidden;
    position: relative;
    height: 17px;
    top: 3px;
    left: -4px;
}

.legal-line a span {
    width: 132px;
    position: absolute;
    left: -4px !important;
}

.legal-line span.legal-text {
    margin-right: 5px !important
}

.checkbox {
    height: 14px;
    width: 14px;
    display: inline-block;
    background-image: url('../../common/img/uncheck-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: middle;
    margin-top: -4px;
    cursor: pointer;
}
input[type="checkbox"]:checked + .checkbox{
    background-image: url('../../common/img/check-icon.png');
}


/* -------------------------------弹窗样式----------------------------------------- */
.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,.3);
    display: none;
}
.mask .dialog {
    width: 500px;
    min-height: 320px;
    margin: 200px auto;
    background: #fff;
}
.mask .dialog .d-head {
    position: relative;
    height: 57px;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
    background: url(../img/head-bg.png) no-repeat;
    text-align: center;
}
.mask .dialog .d-head .close {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
.mask .dialog .d-main .form-input .code-input {
    width: 218px;
    height: 38px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 68px 20px 62px 60px;
    margin-bottom: 30px;
    font-size: 14px;
}
.mask .dialog .d-main .form-input .verifyImg {
    margin-top: 68px;
    position: relative;
    cursor: pointer;
}
.mask .dialog .d-main .form-input .verifyImg #captcha-verify {
    display: block;
    float: left;
    width: 140px;
    height: 40px;
    background: #ccc;
}
.mask .dialog .d-main .form-input .verifyImg .change-verify {
    position: absolute;
    top: 50px;
    right: 20px;
    color: #FF5353;
    font-size: 14px;
    cursor: pointer;
}
.mask .sure-code {
    width: 380px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background:#FF5353;
    margin-left: 60px;
    margin-top: 40px;
    cursor: pointer;
}
.mask .dialog .d-main .form-input {
    position: relative;
}
.mask .form-input .warn {
    position: absolute;
    bottom: 0;
    left: 70px;
    color: #FF5353;
}
.fl {
    float: left;
}

#sendCode{
    outline: none;
    border: none;
}

/*---------------  极验  ---------------------*/

#embed-captcha {
    width: 300px;
    margin: 0 auto;
}
.show {
    display: block;
}
.hide {
    display: none;
}