.city-select-container{
    position: fixed;
    width: 100%;
    top:0px;
    height:100%;
    z-index: 99999;
    background:rgba(0,0, 0,0.4);
}
.city-select-box{
    width:100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.city-select-content{
    width:70%;
    height: 100%;
    position: absolute;
    top:0px;
    right:0px;
    background:#fff;
}
.select-column{
    height: 100%;
    width:50%;
    float: left;
    overflow-y: auto
}
.select-column-item{
   height: 80rpx;
   padding-left:10rpx;
   font-size:28rpx;
   overflow: hidden;
   line-height: 80rpx;
   border-bottom:1px solid #dedede;
}
.select-column-item:nth-last-child(1){
    border-bottom:0px;
}
.select-column:nth-child(2){
    background:#F3F3F3
}
.select-pro-active{
    color:#ff5353;
    background:#F3F3F3;
}
.select-city-active{
    color:#ff5353;
}