.btn-reset{
  color: #000;
  background-color: #fff;
  border: 1px solid #bbb;
}
.flex{
  display: flex;
  align-items: center;
}
.tips{
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: red;
  border-radius: 50%;
  border: 1px solid red;
  margin-left: 5px;
  cursor: pointer;
}
.leftpoint{
  width: 10px;
  height: 10px;
  border-left: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  transform: rotate(45deg);
  margin: 0 10px 0 20px;
  cursor: pointer;
}
.rightpoint{
  width: 10px;
  height: 10px;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  transform: rotate(-45deg);
  margin: 0 20px 0 10px;
  cursor: pointer;
}
.pagenum{
  width: 40px;
  border-radius: 5px;
  border: 1px solid #aaa;
  outline: none;
  text-align: center;
  margin: 0 5px;
}
.jus-con{
  justify-content: center;
}
.pad{
  padding: 20px 0;
}
/* 弹窗 */
.dialog-tips{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
  display: none;
}
.tips-div{
  position: relative;
  width: 300px;
  height: 200px;
  margin: 300px auto 0 auto;
  background-color: #fff;
  border-radius: 10px;
}
.x{
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}
.tips-title{
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.tips-content{
  margin: 0 20px;
  color: red;
}
.tips-btn{
  position: absolute;
  font-size: 16px;
  bottom: 0;
  border-top: 1px solid #bbb;
  width: 100%;
  height: 50px;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  color: #0099FF;
  cursor: pointer;
}
.dialog-trial{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
  display: none;
}
.trial-div{
  position: relative;
  width: 300px;
  margin: 300px auto 0 auto;
  background-color: #fff;
  border-radius: 10px;
}
.trial-title{
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
.trial-content{
  text-align: center;
  padding: 20px 0;
}
.trial-label{
  margin: 0 10px;
  cursor: pointer;
}
.trial-btn-div{
  font-size: 16px;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  padding: 40px;
}
.trial-btn{
  width: 96px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
.trial-remarks-div{
  text-align: center;
  display: none;
}
.trial-remarks{
  width: 210px;
  height: 40px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0 0 0 10px;
}
.trial-confirm{
  color: #0F9FFF;
  border: 1px solid #0F9FFF;
  cursor: pointer;
}
.trial-cancel{
  color: #999;
  border: 1px solid #999;
  cursor: pointer;
}
.trial{
  cursor: pointer;
}
.btn-query{
  background-color: #409EFF;
  color: #fff;
}