.soft-bar {position: relative; width: 240px; color: #00acd6;}
.soft-bar #softphone-bar{width: 240px; height: auto; padding: 5px;}
.soft-bar #softphone-bar .bar-body{width: 240px;}
.soft-bar #softphone-bar .bar-body div{ display: inline-block; margin-right: 10px; vertical-align: top; text-align: center; font-size: 14px; float: inherit !important; }
.soft-bar #softphone-bar .bar-body .state_time{width: 80px;}
.soft-bar #softphone-bar .bar-header{text-align: center;}
.soft-bar #softphone-bar .bar-body .bar-check{color: #0ab239; font-size: 12px; display: none;}
.soft-bar #softphone-bar .bar-body .bar-times{color: #ff2a00; font-size: 12px; display: none;}