.banner img {
  width: 100%;
}
.main {
  margin: 0.1rem;
}
.main .m-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem; 
}
.video {
  margin-bottom: 0.1rem;
}
.intro ul {
  padding: 0 0.1rem;
}
.intro ul li {
  border-left: 8px solid #ccc;
  padding-left: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 17px;
}