body{
    background-color: #0B2E3D !important;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #CCC;
    font-size: 0.128rem;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CCC;
    font-size: 0.128rem;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CCC;
    font-size: 0.128rem;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #CCC;
    font-size: 0.128rem;
}
button:focus{
    outline: none;
}

.c3{
    color: #333;
}
.c6{
    color: #666;
}
.c-y{
    color: #F1BA4C;
}
.m-wrap img{
    max-width: 100%;
}
.p-apply-btn{
    width: 1.745rem;
    height: 0.409rem;
    margin: 0.2rem auto;
    background: url(../img/apply-btn.png) no-repeat;
    background-size: 100% 100%;
}
.banner{
    position: relative;
}
.banner .apply-btn{
    position: absolute;
    width: 1.745rem;
    height: 0.409rem;
    right: 0;
    left: 0;
    bottom: 0.25rem;
    margin: auto;
    background-size: 100% 100%;
}
.p-title{
    width: 2.436rem;
    height: 0.3455rem;
    line-height: 0.3455rem;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    text-align: center;
    font-size: 0.153rem;
    font-weight: bold;
    color: white;
}
.question-box{
    width: 3.12rem;
    height: 4.103rem;
    margin: 0 auto;
    background: url("//staticqn.qizuang.com/custom/20190325/FoWEURCX35SneODxk_6WwQYm0wUR") no-repeat;
    background-size: 100% auto;
    position: relative;
    padding-top: 0.5rem;
}

.question-box .m-q{
    border-bottom: 1px dashed #8F8F8F;
    width: 2.756rem;
    margin: 0 auto;
    padding: 0.1rem 0;
}
.question-box .m-q-l .img{
    margin-right: 0.1rem;
}
.question-box .m-q-r{
    text-align: right;
}
.question-box .m-q-r .img{
    margin-left: 0.1rem;
}
.question-box .l{
    float: left;
}
.question-box .r{
    float: right;
}
.question-box .img{
    width: 0.605rem;
    height: 0.605rem;
}
.question-box .text{
    width: 2rem;
}

.question-transfer{
    height: 1.6rem;
    background: url('//staticqn.qizuang.com/custom/20190325/FkAHG5OqAYxDnTs4AyBlElt4NGY1') no-repeat center top;
    background-size: 140% auto;
    text-align: center;
    color: white;
    padding-top: 0.15rem;
    margin: 0.18rem 0;
}
.question-transfer .arrow-donw{
    width: 0.324rem;
    height: 0.234rem;
    margin: 0 auto;
}
.question-transfer p{
    line-height: 1.8;
    font-size: 0.128rem;
}
.question-transfer .qz-y{
    color: #23D5EF;
    font-weight: bold;
    font-size: 0.1536rem;
}
.wcf-box{
    width: 3.12rem;
    height: 2.598rem;
    margin: 0 auto;
    background: url('../img/wcf.png')  no-repeat;
    background-size: 100% auto;
    border-top: 1px solid transparent;
}
.wcf-box .title{
    width: 2.402rem;
    height: 0.345rem;
    line-height: 0.345rem;
    margin: 0.05rem auto 0;
    text-align: center;
    font-size: 0.17rem;
    font-weight: bold;
    color: white;
    background: url("../img/title-bg.png") no-repeat;
    background-size: 100% auto;
}
.wcf-box .items-box{
    width: 2.402rem;
    height: 1.95rem;
    position: relative;
    margin: 0 auto;
}
.wcf-box .items-box .item{
    position: absolute;
    width: 0.86rem;
    height: 0.8rem;
    text-align: center;
}
.wcf-box .items-box .item .img{
    width: 0.426rem;
    height: 0.426rem;
    margin: 0 auto;
}
.wcf-box .items-box .item .t{
    color: #054B62;
    font-size: 0.0938rem;
}
.wcf-box .items-box .item .d{
    color: #666;
    font-size: 0.0768rem;
}
.wcf-box .items-box .item .d span{
    display: block;
}
.wcf-box .items-box .i1{
    left: 0;
    top: 0;
}
.wcf-box .items-box .i2{
    left: 0;
    bottom: 0;
}
.wcf-box .items-box .i3{
    right: 0;
    top: 0;
}
.wcf-box .items-box .i4{
    right: 0;
    bottom: 0;
}
.wcf-box .items-box .i5{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.wg-box{
    width: 3.12rem;
    /*height: 4.103rem;*/
    margin: 0 auto;
    background: url('../img/wg.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 0.5rem;
}
.wg-box .item-box{
    width: 2.402rem;
    margin: 0.05rem auto 0;
}
.wg-box .item-box > li{
    border-top: 1px solid #BFBFBF;
    padding: 0.1rem 0;
}
.wg-box .item-box .dot{
    background: url('../img/shape.png') no-repeat;
    background-size: 100% auto;
    width: 0.123rem;
    height: 0.149rem;
    text-align: center;
    display: inline-block;
    color: white;
    margin-right: 0.05rem;
}
.wg-box .item-box .t{
    color: #333;
    margin-bottom: 0.05rem;
}
.wg-box .item-box .b{
    color: #666;
    padding-left: 0.128rem;
}

.choose-box{
    height: 2.95rem;
    background: url('//staticqn.qizuang.com/custom/20190325/FrF921z4HHiMa2_8Eux97qw7DN6p') no-repeat center top;
    background-size: 145% auto;
    text-align: center;
    color: white;
    padding-top: 0.22rem;
}
.choose-box .title{
    font-size: 0.17rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding-top: 0.15rem;
}
.choose-box .six-r{
    color: #F1BA4C;
    font-size: 0.128rem;
    font-weight: 600;
    line-height: 2.5;
}
.choose-box .c-item{
    width: 2.98rem;
    margin: 0 auto;
}
.choose-box .c-item > li{
    width: 0.92rem;
    height: 0.954rem;
    background: url('../img/framework.png') no-repeat;
    background-size: 100% 100%;
    color: #04719F;
    float: left;
    padding-top: 0.02rem;
    padding-bottom: 0.03rem;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}
.choose-box .c-item .img{
    width: 0.34rem;
    font-size: 0.34rem;
    margin: 0 auto;
}
.choose-box .c-item .t{
    font-size: 0.0938rem;
}
.choose-box .c-item .b{
    font-size: 0.0768rem;
}
.choose-box .c-item .b span{
    display: block;
}
.earth-box{
    height: 4.2rem;
    background: url('//staticqn.qizuang.com/custom/20190325/For14gnEZqft_ThEkhC60aUqIcoG') no-repeat;
    background-size: 100% auto;
    text-align: center;
    color: white;
}
.earth-box p{
    line-height: 2;
    font-size: 0.119rem;
}
.earth-box .qzygj{
    width: 2.1845rem;
    height: 0.392rem;
    line-height: 0.392rem;
    margin: 0 auto;
    font-size: 0.1536rem;
    color: white;
    background: url('../img/qzygj.png') no-repeat;
    background-size: 100% auto;
}
.earth-box .footer{
    color: #CCC;
    margin: 0.2rem 0;
}
.earth-box .footer p {
    font-size: 0.102rem;
}
.earth-box .footer-tel{
    color: white;
    margin-bottom: 0.1rem;
 }
.earth-box .footer-tel .hot{
    color: #31DBFF;
    font-size: 0.128rem;
}
.honur{
    width: 2.78rem;
    margin: 0.1rem auto 0;
    padding-left: 0.1rem;
}
.contact{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.588rem;
    background: url('../img/contact.png') no-repeat;
    background-size: 100% auto;
}
.contact .zx{
    width: 1.198rem;
    height: 0.43rem;
    line-height: 0.43rem;
    background: url('../img/rectangle.png') no-repeat;
    background-size: 100% auto;
    text-align: center;
    color: white;
    font-size: 0.1536rem;
    margin-top: 0.12rem;
}
.contact .l{
    float: left;
    margin-left: 0.1rem;
}
.contact .r{
    float: right;
    margin-right: 0.1rem;
}

.order-box{
    position: fixed;
    width: 2.73rem;
    height: 3.37rem;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/order.png') no-repeat;
    background-size: 100% auto;
    z-index: 999;
    display: none;
}
.order-box .close{
    position: absolute;
    right: -0.1rem;
    top: -0.1rem;
    width: 0.226rem;
    height: 0.226rem;
    background: url('../img/icon-close.png') no-repeat;
    background-size: 100% 100%;
}
.order-box .title{
    font-size: 0.17rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
}
.order-box .order-form{
    width: 2.24rem;
    margin: 0 auto;
}
.order-box .order-form .name, .order-box .order-form .phone, .order-box .order-form .company{
    height: 0.6rem;
}
.order-box .order-form input{
    width: 100%;
    height: 0.384rem;
    /*line-height: 0.384rem;*/
    color: #ccc;
    font-size: 0.128rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.29);
    padding-left: 0.1rem;
}
.order-box .order-form input:focus{
    outline: none;
}
.order-box .b-warn{
    color: #E72850;
    font-size: 0.1024rem;
    height: 0.23rem;
    line-height: 0.23rem;
    padding-left: 0.05rem;
    display: none;
}
.order-box .submit{
    width: 2.022rem;
    height: 0.477rem;
    line-height: 0.477rem;
    color: white;
    text-align: center;
    font-size: 0.17rem;
    background: url('../img/submit.png') no-repeat;
    background-size: 100% auto;
    border: none;
    display: block;
    margin: 0.15rem auto 0;
}
.success-box{
    position: fixed;
    width: 2.816rem;
    height: 2.43rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/success.png') no-repeat top right;
    background-size: 100% auto;
    color: white;
    text-align: center;
    display: none;
    z-index: 999;
}
.success-box .one{
    font-size: 0.2048rem;
    font-weight: bold;
    padding-top: 0.7rem;
}
.success-box .two{
    font-size: 0.153rem;
    line-height: 3;
}
.success-box .close{
    width: 2.022rem;
    height: 0.477rem;
    line-height: 0.477rem;
    color: white;
    text-align: center;
    font-size: 0.17rem;
    background: url('../img/close.png') no-repeat;
    background-size: 100% auto;
    border: none;
    display: block;
    margin: 0.15rem auto 0;
}
.order-mask{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    display: none;
}
