.yonghu-chaxun {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin: 15px 10px;
    border-radius: 5px;
    -webkit-padding-start: 0px;
    display: inline-block;
    padding:0;
    vertical-align: top;
    margin-left: 20px;
}
.yonghu-chaxun li{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #dddddd;
    text-decoration: none;
    list-style: none;
    float: left;
    vertical-align: top;
}
.yonghu-chaxun li a{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #dddddd;
    text-decoration: none;
    list-style: none;
    float: left;
    vertical-align: top;
    color: #333;
}
.yonghu-chaxun li a:hover{
   color:#fff;
}
.activity {
    background: #00c0ef;
    color: white;
}
.yonghu-chaxun li:hover{
    background: #00c0ef;
    cursor: pointer;
    color: white;
}
.box-header{
    margin:10px 0;
}
.box-header .col-xs-2 button{
    width:85px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: none;
    margin-top: 18px;
    color:#fff;
    border-radius:5px;
}
.box-header .col-xs-2 button.research-btn{
    background: #169bd5;
    margin-right:18px ;
}
.box-header .col-xs-2 button.daochu-btn{
    background: #008d4c;
}
.fengjin-btn{
    cursor: pointer;
    padding:5px 15px;
    color:#3c8dbc
}

/*封禁弹框*/
.cover,.cover-reset,.cover-yulan{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    display:none;
}
.fengjin-modal,.add-fengjin-modal{
    width: 450px;
    position: relative;
    top:120px;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:#fff;
}
.fengjin-modal-top,.add-fengjin-modal-top{
    height:40px;
    padding-left:15px;
    line-height:40px;
    position: relative;
    border-bottom:1px #ccc solid;
}
.close-btn,.add-close-btn,.yulan-close-btn{
    font-size:30px;
    font-weight:700;
    position: absolute;
    right:10px;
    top:-2px;
    cursor: pointer;
}
.feijin-modal-content{
    padding: 20px;
}
.feijin-modal-content>div{
    margin-bottom:15px;
    overflow: hidden;
}
.feijin-modal-content label{
    display:inline-block;
    width:80px;
    text-align:right;
    font-weight:normal;
    float: left;
}
.feijin-modal-content label.fengjin-reason{
    float: left;
}
.query-btn{
    background: #169bd5;
    width: 85px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}
.txt-edit{
    width: 75%;
    height: 70px;
}
.push-btn{
    cursor: pointer;
    color:#3c8dbc;
}

/*黑名单页面*/
.box-header .col-xs-3 button{
    width:85px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: none;
    margin-top: 18px;
    color:#fff;
    border-radius:5px;
}
.box-header .col-xs-3 button.research-btn{
    background: #169bd5;
    margin-right:18px ;
}
.box-header .col-xs-3 button.add-btn{
    background: #169bd5;
    margin-right:18px ;
}
.box-header .col-xs-3 button.daochu-btn{
    background: #008d4c;
    margin-right: 18px;
}
.yulan-btn{
    cursor: pointer;
    padding:5px 15px;
    color:#3c8dbc
}
.huifu-btn{
    cursor: pointer;
    padding:5px 15px;
    color:#3c8dbc
}
.add-feijin-modal-content{
    padding: 20px;
}
.add-feijin-modal-content>div{
    margin-bottom:15px;
    overflow: hidden;
}
.add-feijin-modal-content label{
    display:inline-block;
    width:80px;
    text-align:right;
    font-weight:normal;
    float: left;
}
.add-feijin-modal-content label.fengjin-reason{
    float: left;
}
.add-feijin-modal-content .form-control{
    width:75%;
}
.height-34{
    height:34px;
    line-height:34px;
}
.add-feijin-modal-content .warn-tit{
    padding-left:80px;
    height:18px;
    line-height:18px;
    margin-top:-15px;
    margin-bottom: 5px;
}
/*恢复弹框*/
.reset-modal{
    width: 300px;
    height: 150px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:#fff;
}
.reset-modal p{
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
}
.reset-modal button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
}
.reset-modal .submit-btn{
    background:red;
    margin-right: 15px;
}
.reset-modal .cancel-btn{
    background:#ccc;
}
/*预览弹框*/
.yulan-modal{
    width:650px;
    background:#fff;
    padding:0 20px 20px 20px;
    position: relative;
    top:150px;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
}
.yulan-modal-top{
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-top:10px;
}
.yulan-content img{
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
