.ml-10{
    margin-left: 10px;
}
.tab-box{
    margin-bottom: 10px;
    font-size: 0;
}
.tab-box > a{
    font-size: 16px;
    display: inline-block;
    padding: 0.5em 1em;
    border:1px solid #D8D8D8;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    background-color: #F3F3F3;
    color: #666;
}
.tab-box > a.active{
    background-color: white;
    color: #3c8dbc;
}

.overview{
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px !important;
}
.overview td{
    font-size: 16px !important;
    width: 11.11% !important;
    padding: 30px 0 !important;
    color: #333 !important;
}
.fix-readonly {
    background-color: white !important;
}
.one-leveltop-active{
    background-color: rgba(22, 155, 213, 0.5);
}
.two-leveltop{
    background-color: rgba(255, 204, 51, 0.3);
}
.box-header{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.popup{
    position: fixed;
    width: 900px;
    max-height: 600px;
    padding: 0 15px;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 999;
    max-height: 600px;
    overflow: auto;
}
.popup > .title{
    font-size: 20px;
    margin-top: 10px;
}
.popup > .close-btn{
    width: 65px;
    background-color: #DDD;
    margin: 0 auto 10px;
    text-align: center;
    line-height: 2;
    cursor: pointer;
}
.repeat{
    color: #3C8DBC;
    cursor: pointer;
}
.one-leveltop td:first-child, .two-leveltop td:first-child, .three-leveltop td:first-child{
    text-align: left;
}
.two-leveltop td:nth-child(1) {
    padding-left: 15px;
}
.three-leveltop td:first-child{
    padding-left: 30px;
}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(127,127,127,0.3);
    position: fixed;
    z-index: 99;
    display: none;
    top: 0;
    left: 0;
}
