.search-box {
    margin: 10px 0;
}

.search-title {
    padding-left: 5px;
}

.little-title {
    margin: 5px 0;
}

.search-title .search-condition {
    border-bottom: 1px solid #d2d6de;
    font-size: 18px;
    margin-top: 0;
    padding: 5px 0 10px 15px;
}

input.end, input.upend, .btn-box {
    margin-top: 27px;
}

.btn-box :nth-child(n+0) {
    margin-right: 10px;
    color: #fff;
    font-size: 15px;
}

#reset {
    background: #f39c12;
}

#search {
    background: #3c8dbc;
}

#export {
    background: #3c8dbc;
}

/*列表*/
#box-body td {
    text-align: center;
    vertical-align: middle;
}

.logo-img img {
    width: 150px;
    vertical-align: middle;
}

.operator-btn {
    display: inline-block;
    padding: 10px;
    color: #3c8dbc;
    cursor: pointer;
}

.statu-item {
    background: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 0 15px;
}

.statu-item h3 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.chose-statu {
    padding: 10px 0 20px 0;
}

.chose-statu label {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.chose-statu input {
    vertical-align: top;
    font-size: 16px;
}

.chose-btns {
    text-align: center;
    margin: 0 auto;
}

.chose-btns button {
    outline: none;
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

.btns-cancel {
    background: #999;
}

.btns-cancel:hover {
    background: #aaa;
}

.btns-sure {
    background: #00a65a;
}

.btns-sure:hover {
    background: rgba(0, 166, 90, 0.71);
}

.result-wrap {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    z-index: 9999;
}

.result-box {
    width: 370px;
    box-sizing: border-box;
    padding: 30px 66px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.result-wrap h3 {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: #333;
    font-weight: 600;
    margin: 0 0 30px;
}
.result-box span{
    font-style: italic;
    font-size: 14px;
    display: block;
    margin: 5px 0;
    word-break: break-all;
    line-height: 24px;
}
.result-box button{
    margin: 40px auto 0;
    background: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    display: block;
}


