.fr {
  float: right;
}
.new {
  color: #fff;
}
.form-group {

}
.control-label {
  text-align: center;
  line-height: 34px;
}
.form-group #edit-template {
  margin-left: 15px;
  width: 31.5%;
}
.form-group .choose-val {
  margin-left: 9.5%;
}
.form-group .y-n {
  line-height: 34px;
}
.form-group .y-n label {
  margin-right: 10px;
  cursor: pointer;
}
.form-group .y-n input {
  margin-right: 5px;
}
.form-group .save {
  margin-left: 9%;
}
.jianchen {
  color: #2e6da4;
  cursor: pointer;
}
.del {
  cursor: pointer;
}
.fa-save {
  margin-right: 5px;
}
.fa-reply {
  margin-right: 5px;
}
/* --------------------------评论发布设置页----------------- */
#city-name {
  width: 100%;
}
.tro {
  margin-top: 170px;
}
.check {
  line-height: 34px;
}
.check label {
  margin-right: 10px;
  margin-left: 15px;
  cursor: pointer;
}
input[type='checkbox']{
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.form-group .start {
  width: 45%;
  float: left;
}
.form-group .end {
  width: 45%;
  float: left;
}
.line {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  color: #ccc;
  line-height: 34px;
}
.jg-time {
  width: 70%;
}
.fl {
  float: left;
}
.fenzhong {
  line-height: 34px;
  margin-left: 10px;
}

.table-condensed {
  width: 200px;
}
.table-condensed thead {
  display: none;
}