
.clearfix:after, .clearfix:before {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.contentBg {
    background: #FAF0EA;
    z-index: 2;
}

.contentBg .fixed-box {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
    transition: all .5s ease;
}

.get-free-title {
    text-align: center;
    font-size: 0.15rem;
    line-height: 40px;
    color: #333333;
    background: #fff;
    padding-top: 10px;
}

.free-title {
    display: inline-block;
    vertical-align: middle;
}

.free-title .number {
    color: #FF8989;
}

.get-free-title .line {
    display: inline-block;
    width: 0.2rem;
    height: 2px;
    background: #333333;
    vertical-align: middle;
}

.m-container {
    position: relative;
}

.get-design-box {
    width: 85%;
    margin: 0 auto;
    background: #fff;
    padding: 0 0.2rem 0.3rem;
}

.get-design-box li.get-free-li {
    border: none;
}

.get-design-box li {
    border: 1px solid #ddd;
    margin: 0.2rem auto;
    height: 48px;
    position: relative;
    border-radius: 10px;
}

.error-tips {
    display: block;
    color: #ff5353;
    margin: 0.03rem 0;
}

.get-design-box li span.span {
    position: absolute;
    right: 10px;
    line-height: 48px;
    color: #848486
}

.get-design-box li button {
    border: none;
    outline: none;
    color: rgb(51, 51, 51);
    border-radius: 10px;
}

.get-design-box li input {
    width: 100%;
    height: 46px;
    font-size: 0.13rem;
    /*padding-left: 5px;*/
    text-indent: 5px;
    border: none;
    outline: none;
    color: rgb(51, 51, 51);
    border-radius: 10px;
}

.get-design-box #shenming > span{
    margin-right: 1px;
}
.get-design-box #shenming >a{
    margin: 0;
}

.get-design-box li a {
    display: block;
    width: 100%;
    height: 48px;
    color: #fff;
}

.m-b-btn {
    margin: 0 !important;
    border-radius: 0.44rem;
    background: #ff5353;
}

.get-enjoy {
    width: 100%;
    background: #fff;
    text-align: center;
    color: #C5591D;
    margin-top: 0.2rem;
    padding: 0.3rem 0.1rem 0.15rem 0.1rem;
    position: relative;
}


.enjoy-box {
    position: relative;
    width: 1.5rem;
    height: 0.35rem;
    line-height: 0.31rem;
    border: 0.02rem solid rgba(197, 89, 29, 1);
    margin: 0 auto;
    margin-bottom: 0.2rem;
    padding-top: 10px;
}

.enjoy-title {
    position: absolute;
    top: 22px;
    left: 1.1rem;
    font-size: 0.2rem;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(197, 89, 29, 1);
    line-height: 0.18rem;
    padding: 5px 10px;
    background: #fff;
    z-index: 1;
}

.servers {
    /*padding-left: 0.1rem;*/
}

.servers li {
    display: inline-block;
    margin: 0 0.1rem;
}

.servers li img {
    width: 0.5rem;
    height: 0.5rem;
}

.servers li span {
    display: block;
    margin: 5px 0;
    color: #3D5263;
}

.get-choise {
    background: #fff;
    padding: 0.2rem 0.1rem;
    margin-top: 0.15rem;
}

.get-choise-title {
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(197, 89, 29, 1);
    line-height: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.bad-choise {
    position: relative;
}

.choise-item {
    float: left;
    width: 48%;
    margin-bottom: 0.13rem;
}

.choise-item-left {
    margin-right: 4%;
}

.choise-item-detail {
    position: relative;
}

.choise-item-detail img {
    width: 100%;
    vertical-align: top;
}

.choise-title {
    position: absolute;
}

.induce {
    top: 0.11rem;
    left: 0.11rem;
}

.spurious {
    top: 0.11rem;
    right: 0.11rem;
    text-align: right;
}

.func {
    bottom: 0.11rem;
    left: 0.11rem;
    text-align: left;
}

.shoddy {
    bottom: 0.11rem;
    right: 0.11rem;
    text-align: right;
}

.choise-title h3 {
    font-size: 22px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.choise-title span {
    font-size: 12px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.bad-warry {
    position: absolute;
    top: 0.33rem;
    left: 0.62rem;
}

.bad-warry img {
    width: 2rem;
}

.get-servers {
    padding: 0.15rem 0.1rem;
}

.server-titel {
    font-size: 0.2rem;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(197, 89, 29, 1);
    line-height: 0.28rem;
    text-align: center;
    padding: 0.1rem 0;
}

.server-titel h3 {
    display: inline-block;
    vertical-align: middle;
}

.server-line {
    display: inline-block;
    width: 0.2rem;
    height: 2px;
    background: #C5591D;
    vertical-align: middle;
}

.quality-control {
    float: left;
    width: 33%;
}

.quality-control dd {
    color: #3D5263;
    background: #fff;
    font-size: 12px;
    line-height: 24px;
    padding: 20px 15px;
    text-align: center;
    margin-bottom: 0.01rem;
}

.quality-control dd span {
    display: block;
    height: 24px;
}

.quality-title {
    width: 100%;
    font-size: 0.16rem;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 0.14rem;
    padding: 0.22rem 0.13rem 0.22rem 0.13rem;
    background: rgba(61, 82, 99, 1);
    box-sizing: border-box;
}

.control-center {
    margin: 0 0.5%;
}

.all-furniture {
    background: #fff;
    padding: 0.2rem 0.1rem;
}

.all-furniture-title {
    font-size: 0.20rem;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(197, 89, 29, 1);
    line-height: 28px;
    text-align: center;
}

.scroll-pic {
    margin-top: 0.1rem;
}

.all-furniture .scroll-pic .swiper-pagination-bullets {
    top: 180px;
}

.scroll-pic .swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    border-radius: 0;
    background: #fff;
    opacity: 1;
}

.scroll-pic .swiper-pagination-bullet-active {
    background: #C5591D;
}

.furnit-pic {
    position: relative;
}

.furnit-pic > h3 {
    position: absolute;
    z-index: 3;
    font-size: 16px;
    padding: 0.1rem 0 0 0.15rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 28px;
}

.furnit-pic > h3 span {
    margin-right: 20px;
}

.furnit-pic > img {
    width: 100%;
    vertical-align: top;
}

.pic-mask {
    width: 100%;
    z-index: 1;
    height: 1.78rem;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
}

/*滚动文字*/
.g-msg {
    width: 100%;
    position: fixed;
    top: 6em;
    left: 0;
    height: 3em;
    z-index: 2;
    font-size: .8em;
}

.g-msg .msg {
    width: 85%;
    position: absolute;
    top: 3em;
    top: 5em;
    background-color: rgba(0, 0, 0, .5);
    height: 3em;
    line-height: 3em;
    margin-left: 10px;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    color: #fff;
    display: none;
}

.msg img {
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin: 0 1.2%;
    margin-top: .9%;
    float: left;
}

.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
    margin-top: -110px;
}


.thumbs {
    margin-top: 15px;
}

.thumbs li {
    float: left;
    width: 32.3%;
    text-align: center;
    /*height: 1.65rem;*/
}

li.thumb-mid {
    margin: 0 1.5%;
}

.thumbs-img {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    height: 1rem;
    padding: 0.1rem 0.09rem 0.1rem 0.09rem;
    border: 1px solid rgba(230, 230, 230, 1);
    box-sizing: border-box;

}

.thumbs-img img {
    width: 100%;
    height: auto;
}

.thumbs-title {
    display: block;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(61, 82, 99, 1);
    line-height: 28px;
}

.case-title {
    font-size: 0.2rem;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(197, 89, 29, 1);
    line-height: 0.28rem;
    text-align: center;
    padding: 0.15rem 0;
}

.case-line {
    display: inline-block;
    width: 0.2rem;
    height: 2px;
    background: #C5591D;
    vertical-align: middle;
}

.case-title h3 {
    display: inline-block;
    vertical-align: middle;
}

.get-case {
    width: 96%;
    margin: 0 auto;
}

.case-box {
    background: #fff;
    padding: 0.15rem;
}

.case-left {
    float: left;
}

.case-left img {
    width: 0.3rem;
    height: 0.3rem;
    vertical-align: middle;
}

.case-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(61, 82, 99, 1);
    line-height: 28px;
}

.case-star {
    display: inline-block;
    vertical-align: middle;
}

.case-star li {
    float: left;
    width: 0.15rem;
    height: 0.15rem;
    background: url("/assets/mobile/qwdz/img/star.png") no-repeat center;
    background-size: 100%;
}

.case-right {
    float: right;
}

.case-right span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 0.1rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 28px;
    margin-top: 3px;
}

.coordinate {
    padding-left: 0.15rem;
    background: url("/assets/mobile/qwdz/img/location.png") no-repeat 0 8px;
    background-size: 0.1rem 0.11rem;
}

.case-down p {
    padding: 0.11rem 0.12rem;
    background: #F5F5F5;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 21px;
}

.case-example {
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 0;
}

.case-example > div {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.case-example .case-before {
    width: 42%;
    margin-right: 2%;
}

.case-example .case-after {
    width: 56%;
}

.case-example img {
    width: 100%;
    height: 2rem;
}

.case-example span {
    position: absolute;
    top: 0;
    padding: 15px;
    background: #C5591D;
    font-size: 15px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 14px;
}

.case-before span {
    right: 0;
}

.case-after span {
    left: 0;
}

.get-case .swiper-pagination-bullet {
    width: 24px;
    height: 4px;
    border-radius: 0;
    background: #fff;
    opacity: 1;
}

.get-case .swiper-pagination-bullet-active {
    background: #C5591D;
}

.free-get {
    width: 100%;
    height: 0.15rem;
    background: #FF5353;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.15rem 0.10rem;
    z-index: 50;
    display: none;
}

.free-logo {
    width: 0.4rem;
    height: 0.5rem;
    position: relative;
    top: -30px;
    left: 0;
}

.free-get p {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    margin: 0 15px 20px;
}

.free-click {
    display: inline-block;
    vertical-align: top;
    width: 0.3rem;
    height: 0.21rem;
}

.get-tips {
    width: 2.5rem;
    height: 1.4rem;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -1.3rem;
    margin-top: -0.7rem;
    text-align: center;
    border-radius: 10px;
    display: none;
    z-index: 20;
}

.get-tips h3 {
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 83, 83, 1);
    line-height: 28px;
    margin: 20px 0 10px;
}

.get-tips p {
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 28px;
    margin-bottom: 15px;
}

.get-tips span {
    display: block;
    width: 1.43rem;
    height: 0.3rem;
    line-height: 38px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 14px;
    color: #FFFFFF;
    background: #ff5353;
    border-radius: 30px;
}
/*隐藏顶部客服和导航按钮*/
#new-kefu-erji{
  display:none;
}
#m-nav-switch{
  display:none;
}
