@import "../../../styles/public.css";
page::after{
 height: 0px !important;
}
.hl_body {
    min-height: 1500rpx;
    background: #ffe8cc;
}
.hl_top {
    background: url("../../../images/bg_body.png") no-repeat;
    background-size: 100%;
    padding-top: 90rpx;
    padding-left: 22rpx;
    padding-right: 22rpx;
}
.hl_content {
    background: #fff;
    border-left: 20rpx solid #feae76;
    border-right: 20rpx solid #feae76;
    height: 800rpx;
}
.hl_bottom {
    height: 160rpx;
    background: url("../../../images/bg_bottom.png") no-repeat;
    background-size: 100%;
}
.sm_one {
    text-align: center;
    color: #fb891f;
    width: 80%;
    margin: 0 auto;
}
.sm_title {
    padding-top: 20rpx;
    padding-bottom: 3px;
    font-size: 40rpx;
    letter-spacing: 3px;
    border-bottom: 1px solid #fb891f;
    margin-bottom: 1px;
}
.sm_title span {
    display: inline-block;
    background: #fb891f;
    color: #fff;
    width: 15rpx;
    height: 31rpx;
    border-radius: 0.15rem;
    line-height: 0.28rem;
    text-align: center;
}
.sm_title span:nth-child(2) {
    margin-left: -3px;
    text-indent: 4px;
}
.sm-by {
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #fb891f;
    padding-top: 5px;
}
.by_nr {
    font-size: 30rpx;
    width: calc(100% - 0.6rem);
    color: #fc9c49;
    line-height: 32rpx;
}
.clound {
    width: 0.3rem;
    height: 0.2rem;
    background: url("../../../images/clound.png") no-repeat;
    background-size: 100%;
}
.sm_two {
    padding: 34rpx 30rpx;
}
.step {
    height: 4rpx;
    background: #d6d6d6;
    width: 25%;
    float: left;
    position: relative;
}
.step_radius {
    width: 44rpx;
    height: 44rpx;
    border-radius: 22rpx;
    background: #d6d6d6;
    position: absolute;
    left: 50%;
    margin-left: -10rpx;
    top: 50%;
    margin-top: -20rpx;
    text-align: center;
    line-height: 44rpx;
    color: #fff;
}
.active {
    background: #fb891f !important;
}
.active .step_radius {
    background: #fb891f !important;
}
.sm-three {
    margin-top: 13rpx;
    text-align: center;
}
.question_title {
    font-size: 36rpx;
}
.question_chose {
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    padding: 20rpx;
    font-size: 0px;
}
.two {
    margin-top: 0;
}

.question_item {
    display: inline-block;
    font-size: 30rpx;
}
.two .question_item {
    text-align: center;
    width: 33.3333%;
    height: 200rpx;
    margin-bottom: 4vh;
}

image {
    border: 0;
    vertical-align: bottom;
}
.question_item image {
    width: 200rpx;
    height: 100%;
    display: inline-block;
}
.question_item .two_img {
    display: none;
}
.one {
    padding-top: 40rpx;
}
.one .question_item {
    text-align: left;
    height: 120rpx;
    width: 40%;
}
.hasChose .two_img {
    display: inline-block !important;
}
.hasChose .one_img {
    display: none !important;
}
.three image {
    width: 80rpx;
}
.three .question_item {
    text-align: center;
    width: 48%;
    height: 100rpx;
    margin-bottom: 6vh;
}

.item_circle {
    width: 28rpx;
    height: 28rpx;
    display: inline-block;
    margin-right: 10rpx;
}
.input_box {
    border: 1px solid #dfdfdf;
    height: 66rpx;
    width: 78%;
    margin: 44rpx auto;
    overflow: hidden;
}

.family {
    overflow: hidden;
    margin-top: -0.05rem;
    margin-bottom: 20rpx;
}
.input_box button,
.input_box input {
    width: 100%;
    height: 100%;
    background: none;
    font-size: 26rpx;
}
.input_box button {
    color: #333;
    text-align: left;
    padding-left: 20rpx;
    outline: none;
}
.input_box input {
    padding-left: 20rpx;
    color: rgb(102, 102, 102);
    outline: none;
}
input {
    text-align: left;
}

.hl_bottom {
    text-align: center;
    padding-top: 48rpx;
}
.hl_bottom .bottom_item {
    font-size: 28rpx;
    display: inline-block;
    width: 120rpx;
    line-height: 80rpx;
    color: #fea34f;
}
.current_page {
    color: #fff !important;
    text-align: center;
    background: #fea34f;
    border-radius: 20rpx;
}
.contain-box {
    /* padding: 5rpx 10rpx; */
    background: #fff;
}
.contain-box .city {
    position: relative;
    z-index: 0;
}
.contain-box .city input {
    text-indent: 45rpx;
}
.city text {
    position: absolute;
    top: 25rpx;
    left: 10rpx;
    z-index: 1;
}
.city .citybtn{
    border:1px solid rgba(232, 232, 232, 1);
    text-align:left;
    padding-left:36rpx;
}
.contain-box {
    padding: 0 40rpx;
    box-sizing: border-box;
}
.contain-box input {
    width: 100%;
    height: 62rpx;
    padding: 10rpx 0;
    text-indent: 15rpx;
    line-height: 62rpx;
    border: 1px solid rgba(232, 232, 232, 1);
    margin-bottom: 10rpx;
}
.contain-box .city {
    position: relative;
}
.contain-box .city input {
    text-indent: 45rpx;
}
.city text {
    position: absolute;
    top: 25rpx;
    left: 10rpx;
}
.item {
    line-height: 40rpx;
    padding: 10rpx 0;
    height: 40rpx;
    font-size: 24rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    text-align: left;
}
.item .sm {
    color: rgba(47, 160, 255, 1);
    text-decoration: none;
    display: inline-block;
}
.btn {
    padding-top: 15rpx;
    padding-bottom: 30rpx;
    cursor: pointer;
}
.btn button {
    width: 90%;
    height: 80rpx;
    line-height: 80rpx;
    background: rgba(255, 81, 86, 1);
    border-radius: 8rpx;
    font-size: 28rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.city,
.phone {
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#resultSet {
    height: 66vh;
    background: #fff;
    border-left: 15rpx solid #fb891f;
    border-right: 15rpx solid #fb891f;
}
.cs_result {
    text-align: center;
    padding: 3vh 0px;
}
.result_container {
    padding: 0px 3vh;
    overflow: hidden;
    text-align: center;
}
.result-date {
    width: 64%;
    background: #fef1e0;
    height: 28vh;
    padding: 3%;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.date-default {
    font-size: 28rpx;
    padding-top: 4vh;
}
.big-num {
    font-size: 66rpx;
    padding-top: 22rpx;
    color: #f72500;
}
.big-han {
    font-size: 32rpx;
    margin-bottom: 20rpx;
    color: #f72500;
}
.suggest {
    font-size: 24rpx;
    line-height: 40rpx;
    text-align: left;
    /* height: 150rpx; */
    overflow: hidden;
    color: #746c61;
    padding-top: 12rpx;
}
.suggest .yi {
    width: 56rpx;
}
.suggest .yi-content {
    width: calc(100% - 56rpx);
}
.result-fen {
    width: 24%;
    background: #ffe6c7;
    height:28vh;
    padding: 3%;
    position: relative;
}
.result-fen-box {
    position: absolute;
    width: 80%;
    height: 100rpx;
    margin: auto;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.result-fen-box text:nth-child(1) {
    font-size: 30rpx;
}
.result-fen-box text:nth-child(2) {
    font-size: 38rpx;
    color: #f72500;
}
.other-jiri {
    text-align: left;
    font-size: 26rpx;
    padding-top: 32rpx;
}
.result_container {
    padding: 0px 30rpx;
    overflow: hidden;
}
.other-list {
    overflow: hidden;
    padding-top: 14rpx;
}
.other-list .pull-left {
    width: 50%;
}
.other-content {
    text-align: center;
    background: #fef6eb;
    padding: 20rpx 0px;
    width: 92%;
}
.other-content text {
    padding-bottom: 0.1rem;
}
.other-content span {
    font-size: 30rpx;
    color: #f72500;
}
.other-content {
    text-align: center;
    background: #fef6eb;
    padding: 20rpx 0px;
    width: 92%;
}
.other-content .sub_content {
    display: block;
    padding-bottom: 10rpx;
}
.other-content .score{
    font-size: 30rpx;
    color: #F72500;
}
.hasChose {
    color: #FCAB60;
}
.inputCheck .swan-radio-wrapper .swan-radio-input-checked .swan-radio-input-border{
    border-color: #FCAB60 !important;
}
.inputCheck .swan-radio-wrapper .swan-radio-input-checked  .swan-radio-input-button{
    background: #FCAB60 !important;
}
