@import "../../../styles/public.css";
view{
    display: block;
}
.company-banner image{
    width: 100%;
    height: 260rpx;
    vertical-align: middle;
}
.company-box .company-list{
    height: auto;
    border-bottom: 20rpx solid #F7F7F7;
    padding: 30rpx;
    position: relative;
    overflow: hidden;
}
.ofw{
    overflow: hidden;
}
.company-list .company-logo{
    width: 160rpx;
    height: 80rpx;
    overflow: hidden;
    float: left;
    margin-right: 20rpx;
}
.company-list .company-logo image{
    width: 100%;
    height: 100%;
    border-radius: 4rpx;
}
.company-list .company-details{
    width: 420rpx;
    height: 120rpx;
    float: left;
}
.company-list .company-details .company-name{
    height: 36rpx;
    font-size: 28rpx;
    line-height: 36rpx;
    font-weight: bold;
    color: #333333;
    position: relative;
    overflow: hidden;
}
.company-list .company-details .company-name view{
    display: inline-block;
    max-width: 240rpx;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-right: 10rpx;
}
.company-list .company-details .company-name image{
    width: 100rpx;
    height: 30rpx;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.company-list .company-details .haoping{
    margin: 10rpx 0 12rpx;
    display: flex;
    align-items: center;
}
.haoping .star{
    display: flex;
    align-items: center;
    margin-right: 16rpx;
}
.haoping .star image{
    display: block;
    width: 23rpx;
    height: 22rpx;
    margin-right: 2rpx;
}
.company-list .company-details .haoping text{
    font-size: 20rpx;
    color: #333;
}
.company-list .company-details .count{
    font-size: 20rpx;
    color: #666;
    align-items: center;
}
.count .item{
    display: inline-block;
    border-right: 1rpx solid #666666;
    height: 24rpx;
    line-height: 24rpx;
    padding-right: 10rpx;
    margin-right: 10rpx;
}
.count .item:last-child{
    border-right: 0;
}
.company-list .company-details .count .yellow{
    color: #FF7A2A;
}
.company-list .company-location{
    height: 40rpx;
    line-height: 40rpx;
    font-size: 24rpx;
    color: #333;
    margin-top:10rpx;
    position: relative;
}
.company-list .company-location image{
    display: inline-block;
    width: 24rpx;
    height: 24rpx;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.company-list .company-location view{
    display: inline-block;
    width: 95%;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-left: 32rpx;
}
.company-list .company-tags{
    margin: 10rpx 0 20rpx;
}
.company-list .company-tags text{
    display: inline-block;
    width: 144rpx;
    height: 36rpx;
    border-radius: 4rpx;
    background: #FFF6F6;
    font-size: 20rpx;
    color: #DB2C2C;
    text-align: center;
    line-height: 36rpx;
    margin-right: 10rpx
}
.company-list .other-company-logo{
    margin-bottom: 20rpx;
}
.company-list .other-company-logo image{
    width: 165rpx;
    height: 92rpx;
    margin-right: 10rpx;
    border-radius: 4px;
}
.company-list .other-company-logo image:last-child{
    margin-right: 0;
}
.company-list .hui{
    border-top: 1px solid #ddd;
}
.company-list .hui-list{
    width: 50%;
    float: left;
    overflow: hidden;
}
.hui-list .mrb10{
    margin-top: 20rpx;
    display: flex;
    align-items: center;
}
.hui-list .tit{
    display: inline-block;
    width: 28rpx;
    height: 28rpx;
    line-height: 28rpx;
    text-align: center;
    color: #fff;
    border-radius: 4rpx;
    font-size: 20rpx;
    margin-right: 14rpx;
}
.hui-list .hui-tit{
    background: #FF7A2A;
}
.hui-list .quan-tit{
    background: #F33535;
}
.hui-list .hui-content{
    font-size: 22rpx;
    color: #333;
    width: 90%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.company-list .check{
    padding: 12rpx 36rpx;
    background: #DB2C2C;
    color: #fff;
    border-radius: 30rpx;
    position: absolute;
    top: 50rpx;
    right: 30rpx;
    font-size: 24rpx;
}
/* tab */
.tab{
   position: relative;
}
.tab .tabContent{
    position: absolute;
    top: 88rpx;
    z-index: 9;
    background: #fff;
    box-shadow: 0rpx 5rpx 10rpx #dbdbdb;
    width: 100%;
    overflow: hidden;
    padding: 20rpx 30rpx;
    box-sizing: border-box;
}
.tab .tabContent .item{
    width: 200rpx;
    height: 50rpx;
    display: block;
    line-height: 50rpx;
    border: 1px solid #eee;
    text-align: center;
    color: #666;
    border-radius: 8rpx;
    font-size: 24rpx;
    margin:12rpx;
    float: left;
}
.tab .tabContent .cur{
    background: #ff5353;
    color: #fff;
}
.tab .company-nav{
    display: flex;
    align-items: center;
}
.tab .company-nav .sx{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 88rpx;
    font-size: 24rpx;
}
.tab .company-nav .sx image{
    width: 28rpx;
    height: 28rpx;
    margin-left: 10rpx;
}
.tab .company-nav .sx .true{
    transform-origin:50% 50%;
    transform: rotate(180deg);
}
.tab .company-nav .sx .act{
    color: #DB2C2C;
}
.tabTop{
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    height: 88rpx;
    z-index: 2;
}
.company-box{
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.btm-nomore{
    display: block;
    width: 100%;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 24rpx;
    color: #999;
    text-align: center;
}
.nototal{
    overflow: hidden;
    padding: 200rpx 0;
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
    text-align: center;
}
.nototal image{
    width: 282rpx;
    height: 203rpx;
    margin:0 auto;
    margin-bottom: 60rpx;
}
/* 骨架 */
.gujia .company-logo{
    border-radius: 8rpx;
    background: #eeeeee;
}
.gujia .company-details{
    border-radius: 8rpx;
    background: #eeeeee;
}
.gujia .check{
    border-radius: 8rpx;
    background: #eeeeee;
    border: 0;
    color:#eeeeee;
}

/* 预约 */
.order-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    z-index: 999;
}
.order-mask .order-box{
    width: 570rpx;
    height: 433rpx;
    padding: 50rpx 30rpx;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #fff;
    border-radius: 8rpx;
}
.order-mask .order-box .close-btn{
    position: absolute;
    top:15rpx;
    right: 15rpx;
}
.close-btn image{
    width: 48rpx;
    height: 48rpx;
}
.order-mask .order-box .tit{
    font-size:36rpx;
    font-weight: bold;
    text-align: center;
    color: #333;
    line-height: 1;
    margin-bottom: 36rpx;
}
.order-box .c-zb-city,.order-box .phone{
    height: 88rpx;
    line-height: 88rpx;
    margin-bottom: 20rpx;
    background: #F7F7F7;
    padding-left: 30rpx;
    border-radius: 8rpx;
    overflow: hidden;
    position: relative;
}
.order-box .phone input{
    height: 88rpx;
    line-height: 88rpx;
    font-size: 28rpx;
}
.order-box .item {
    font-size: 24rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    display: flex;
    align-items: center;
    line-height: 40rpx;
    height: 40rpx;
    margin-bottom: 20rpx;
}
.item .sm {
    color: rgba(47, 160, 255, 1);
    text-decoration: none;
    display: inline-block;
    border-bottom: 1rpx solid rgba(47, 160, 255, 1);
}
.check-box .swan-checkbox-input {
    width: 30rpx;
    height: 30rpx;
    border-radius: 0;
}
.check-box[checked="true"] .swan-checkbox-input:after {
    width: 32rpx;
    height: 32rpx;
    background-color: crimson;
}
.order-box .bjbtn{
    height: 88rpx;
    line-height: 88rpx;
    border: none;
    background: #DB2C2C;
    color: #fff;
}
.success-pic{
    text-align: center;
    margin-top: 40rpx;
}
.success-pic image{
    width: 140rpx;
    height: 140rpx;
}
.order-mask .order-box-success{
    height: 320rpx;
}
.success-title{
    font-weight: bold;
    text-align: center;
    color: #333;
    font-size: 32rpx;
    line-height: 62rpx;
    padding-top: 26rpx;
}
.success-text{
    text-align: center;
    color: #666666;
    font-size: 24rpx;
    line-height: 44rpx;
}
.triangle {
    position: absolute;
    right: 30rpx;
    top: 39rpx;
    width: 0;
    height: 0;
    border: 10rpx solid transparent;
    border-top-color: #999999;
}
.map-icon {
    margin-right: 16rpx;
    float: left;
}
.select-text{
    width: 89%;
    float: left;
    font-size: 24rpx;
}