 @import '../../../styles/public.css';
 @import '../../../templates/bdParse/bdParse.css';
.p-container{
    display: block;
}
.p-title{
    width:100%;
    line-height: 64rpx;
    margin-top:20rpx;
    margin-bottom: 10rpx;
    box-sizing: border-box;
    padding:10rpx 32rpx;
    font-size:48rpx;
    font-weight:bold;
    color:rgba(51,51,51,1);
    overflow: hidden;
}
.p-main{
    width: 100%;
    box-sizing: border-box;
    /* margin-bottom:100rpx; */
}
.p-head{
    height: 68rpx;
    padding:0 32rpx;
    display: flex;
    align-items: center;
}
.logo{
    width: 60rpx;
    height: 60rpx;
}
.h-con{
    height: 100%;
    margin-left:18rpx;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h-con .c-title{
    font-size:28rpx;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.h-con .c-nav{
    font-size:24rpx;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.lf{
    margin-left: 36rpx;
}
.p-content{
    max-width: 100%;
    overflow: hidden;
    padding:20rpx 32rpx 50rpx;
    font-size:38rpx;
    color:rgba(0,0,0,1);
    line-height:56rpx;
}
.rich image{
   max-width:100%; 
}
 img{
display: block;
height: auto;
max-width: 100%;
}
.bdParse-p{
  text-indent: 0 !important;  
  max-width: 100% !important;
  height: auto !important;
}
.bdParse-img{
  width: 100% !important;
}

.bdParse-iframe{
  height: 100%;
  width: 100%;
}

.content image{
  display: block!important;
}

.bdParse-inline{
    display: inline!important;
    margin: 0;
    padding: 0;
}
.bdParse-a{
    color: black !important;
}
.bdParse-p{
    margin-bottom:32rpx;
}