select::-ms-expand{ display: none; }
html, body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;

}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #333;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}



/*顶部*/
.pub-top{
   position: fixed;
    top:0;
    z-index:99;
    width: 100%;
}
.zxbanner{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: url("//staticqn.qizuang.com/custom/20200708/Fgj9qIyu5eLG8i_kFYhnloRhpNl1") no-repeat center center;
}
.fd{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    margin-top:30px;
    background: white;
    overflow: hidden;
}
.fd>.line{
    width:980px;
    height:15px;
    background:rgba(255,188,60,1);
    margin:0 auto;
}
.fd>.fd-main{
    width:100%;
    height: 340px;

}
.fd-main .left{
    float: left;
    width: 490px;
    height: 310px;
    border-right: 2px dotted #E5E5E5;
    margin-top:18px;
    padding-left: 44px;
    padding-right: 84px;
    box-sizing: border-box;
}
.fd-main .left .title{
    font-size:30px;
    font-weight:bold;
    color:#FF6A2F;
    line-height:48px;
}
.fd-main .left .title>span{
    font-size: 24px;
    color: #333333;
}
.order-box .box-line select{
    width:170px;
    height:42px;
    background:#F7F7F7;
    border-radius:2px;
    border:none;
    outline: none;
    padding: 10px 6px;
}
.order-box .box-line select:first-child{
    margin-right: 14px;
}
.order-box .box-line .edit-text{
    width:360px;
    height:40px;
    background:#F7F7F7;
    border-radius:2px;
    outline: none;
    border: none;
    padding-left: 10px;
    margin-top:25px;
}
.disclamer-line{
    margin-top:20px;
}
#btnSave{
    width:360px;
    height:40px;
    background:#FF6A2F;
    border-radius:2px;
    text-align: center;
    line-height: 40px;
    font-size:14px;
    font-weight:bold;
    color:#FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
}
.left .remake{
    width:348px;
    height:31px;
    font-size:12px;
    font-weight:400;
    color:#CCCCCC;
    line-height:18px;
    margin-top:10px;
}
.b-warn {
    color: #DE4349 !important;
    font-size: 12px;
    padding: 2px;
    text-align: left;
}
.fd .right{
    width:354px;
    height:273px;
    background:#F7F7F7;
    margin-top:34px;
    margin-right: 54px;
    float: right;
}
.fd .right>.r-con{
    width:331px;
    height:255px;
    border:2px solid #ffffff;
    margin-top:9px;
    margin-left: 12px;
    padding-top:14px;
    padding-left: 46px;
    font-size:16px;
    font-weight:400;
    color:#1A1A1A;
    line-height:36px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.fd .right>.r-con>.title{
    font-size:24px;
    font-weight:bold;
    color:#FF6A2F;
    line-height:44px;
}
/*分类模块*/
.wrapper{
    width: 1920px;
    margin:0 auto;
    position: relative;
    height: 946px;
    background: url("//staticqn.qizuang.com/custom/20191202/FuxZYMfCWUu4l8ytyWT3oFQm_I7i") no-repeat ;
    background-size: 870px 898px;
    background-position:right 73px ;
    overflow: hidden;
}
.wrap-box{
    width: 980px;
    height: 946px;
    margin:0 auto;
    position: relative;
}
.wrapper .dp-wrap{
    background: url("//staticqn.qizuang.com/custom/20191202/FhyKHNTy3Zc9YyWekT7TVG4Dlc88") no-repeat;
    background-size: 500px 314px;
    background-position: left 0px;
}
.wrap-box .eng{
    font-size:48px;
    font-weight:800;
    color:#EFDBC6;
    line-height:48px;
    text-align: right;
    padding-top:126px;
    font-family:Source Han Serif SC;
}
.wrap-box .tips{
    font-size:60px;
    font-weight:400;
    color:#F7F7F7;
    line-height:48px;
    margin-top:40px;
    text-align: right;
}
.tourl{
    display: block;
    position: absolute;
    top:223px;
    left: 10px;
    width: 275px;
    height: 70px;
    background: url("/assets/home/decoration/img/tourl.png") no-repeat;
    font-size:16px;
    font-weight:bold;
    color:#FFFFFF;
    line-height:56px;
    text-align: center;
    cursor: pointer;
}
.recommend{
    width: 980px;
    margin-top:80px;
    overflow: hidden;
}
.recommend>div:first-child{
    margin-right: 20px;
}
.recommend .left{
    float: left;
    width:760px;
    height:520px;
    background:#ffffff;
    border:5px solid #FFFFFF;
    border-radius:2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.recommend .left>img{
    width: 100%;
    height: 100%;
}
.recommend .right{
    float: left;
    width: 200px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.recommend .right a{
    display: block;
    width:200px;
    height:160px;
    overflow: hidden;
    background:#CCCCCC;
    border:3px solid #FFFFFF;
    border-radius:1px;
    margin-top: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.recommend .right a:first-child{
    margin-top: 0px;
}
.recommend .right a img{
    display: block;
    width: 100%;
    height: 100%;
}
.log-more{
    display: block;
    width: 100%;
    font-size:24px;
    font-weight:400;
    color:#FF6A2F;
    line-height:76px;
    text-align: left;
    cursor: pointer;
}
.log-more:hover{
    color:#FF6A2F;
}
/*复制*/
.cf{
    background: url("//staticqn.qizuang.com/custom/20191202/Fna3g4-LtIpURc3N7Sj5nQucF37J") no-repeat ;
    background-size: 870px 898px;
    background-position:left 73px ;
}
.cf-img{
   position: absolute;
    top:50px;
    right: -442px;
}
.cf .tourl{
    left: 650px;
}
.cf .wrap-box .eng{
    text-align: left;
}
.cf .wrap-box .tips{
    text-align: left;
}
.cf .log-more{
    text-align: right;
}
.cf .wrap-box{
    background:rgba(255,255,255,0);
}
.jd{
    background: url("//staticqn.qizuang.com/custom/20191202/FjtPwqvIfpBuyj138IsUvPDOMVR5") no-repeat ;
    background-size: 870px 898px;
    background-position:right 73px ;
}
.jd .wrap-box{
    background: rgba(255,255,255,0);
}
.jd-img{
    position: absolute;
    top:150px;
    left: -438px;
}
.bg{
    background: url("//staticqn.qizuang.com/custom/20191203/Flrl8uywamdH4uFLUMM_Mnh8TkoG") no-repeat ;
    background-size: 870px 898px;
    background-position:left 73px ;
}
.bg .tourl{
    left: 650px;
}
.bg .wrap-box .eng{
    text-align: left;
}
.bg .wrap-box .tips{
    text-align: left;
}
.bg .log-more{
    text-align: right;
}
.bg .wrap-box{
    background: rgba(255,255,255,0);
}
.bg-img{
    position: absolute;
    top:50px;
    right: -470px;
}
.ct{
    background: url("//staticqn.qizuang.com/custom/20191203/FkZRKGCMT4DGniAUyBCMPjz7v0vX") no-repeat ;
    background-size: 870px 898px;
    background-position:right 73px ;
}
.ct .wrap-box{
    background: rgba(255,255,255,0);
}
.ct-img{
    position: absolute;
    top:50px;
    left: -469px;
}
.xzl{
    background: url("//staticqn.qizuang.com/custom/20191203/FvtG8r3OUPQeItfiZGhdf4u8UkWX") no-repeat ;
    background-size: 870px 898px;
    background-position:left 73px ;
}
.xzl .tourl{
    left: 650px;
}
.xzl .wrap-box .eng{
    text-align: left;
}
.xzl .wrap-box .tips{
    text-align: left;
}
.xzl .log-more{
    text-align: right;
}
.xzl .wrap-box{
    background: rgba(255,255,255,0);
}
.xzl-img{
   position: absolute;
    top:85px;
    right: -465px;
}
/*装修公司*/
.gs-warp{
    width: 1220px;
    margin: 0 auto;
}

.gs-warp>.item-head{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size:24px;
    font-weight:bold;
    color:#FF6A2F;
    padding-top:66px;
}
.gs-warp>.item-head .title{
    float: left;
}
.gs-warp>.item-head .more{
    display: block;
    float: right;
    font-size:14px;
    font-weight:400;
    color:#666666;
}
.gs-warp>.item-head .more .span{
    display: block;
    float: left;
}
.gs-warp>.item-head .more>img{
    display: block;
    float: right;
    margin-top:17px;
    margin-left: 5px;
}
.gs-warp>.item-con{
    width: 100%;
    overflow: hidden;
    border-top:2px solid #FFBC3C;
    padding:20px 18px;
    padding-right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #ffffff;
}
.item-con .module{
    display: block;
    float: left;
    width:220px;
    height:176px;
    background:#FFFFFF;
    border:1px solid #E6E6E6;
    border-radius:2px;
    padding:20px 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-right: 18px;
    margin-bottom: 18px;
}
.item-con .module:hover{
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.module .m-img{
    width:105px;
    height:54px;
    display: block;
    margin: 24px auto;
    margin-top:0;
}
.module .m-name{
    width: 100%;
    height: 36px;
    display: block;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size:16px;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:36px;
    text-align: center;
}
.module .m-num{
    width: 100%;
    overflow: hidden;
}
.m-num .al{
    display: block;
    float: left;
    color: #999999;
    font-size: 12px;
    padding:0 4px;
}
.m-num .pl{
    display: block;
    float: right;
    color: #999999;
    font-size: 12px;
    padding:0 4px;
}
.m-num span{
    color: #D92B2B;
}
.gs-warp .clear{
    height: 174px;
}
.last-footer{
    position: relative;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.swiper-container, .swiper-container1, .swiper-container2, .swiper-container3, .swiper-container4, .swiper-container5{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide a{
}
.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
}
.disclamer-line a{
    height: 18px;
    line-height: 18px;
}
/* .kefu_right_enter .kefu_right_list_enter li:last-child{
    display: none;
} */
.kefu_right_enter .kefu_right_list_enter{
    padding-bottom: 2px !important;
}