*{
    list-style: none;
    font-style: normal;
}
select::-ms-expand{ display: none; }
body{
    background:#F7F7F7;
}
.zxbanner{
    width: 100%;
    height: 570px;
    overflow: hidden;
    background: url("//staticqn.qizuang.com/custom/20191220/FpQ7x0ttLjPi5OAxpEtboFIbXJOx") no-repeat center center;
    background-size: 100% 100%;
}
.fadanbanner{
    width: 100%;
    height: 388px;
    overflow: hidden;
    background: url("//staticqn.qizuang.com/custom/20191220/FtE-jm7HhhSqUOOgKV1QoXaDCkxP") no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    margin-top:-14px;
}
.zxbanner>.mian{
    width: 1220px;
    height: 570px;
    margin: 0 auto;
    position: relative;
}
.mian>.tuone{
    width: 485px;
    height: 199px;
    position: absolute;
    top: 8px;
    left: 36%;
    z-index: 3;
}
.fadanbanner>.main{
    width: 1200px;
    padding-top:42px;
    margin: 0 auto;
    overflow: hidden;
}
.fadanbanner>.main .m-tips{
    width: 261px;
    height: 105px;
background: url("/assets/home/decoration/img/jbleftbtn.png") no-repeat center;
    background-size: 100% 100%;
    float: left;
    margin-left: 52px;
    line-height: 105px;
    text-align: center;
    position: relative;
    font-size:24px;
    font-weight:bold;
    color:#4E3107;
}
.fadanbanner>.main .r-tips{
    background: url("/assets/home/decoration/img/jbrightbth.png") no-repeat center;
}
.fadanbanner>.main .w-tips{
    background: url(/assets/home/decoration/img/jbrightbth.png) no-repeat center;
}
.fadanbanner>.main .m-tips img{
    position: absolute;
    top: 34px;
    left: 28px;
}
.fadanbanner>.main .w-tips img{
    width: 25px;
    height: 36px;
    position: absolute;
    top: 34px;
    left: 64px;
}
.fadanbanner>.main .m-tips:first-child{
    margin-left: 0;
}
.fa-gk{
    display: block;
    width: 950px;
    height: 61px;
    margin:  0 auto;
}
.fadanbanner>.every{
    padding-top: 0;
}
.every .p{
    font-size:36px;
    font-weight:bold;
    color:#ffffff;
    text-align: center;
    line-height: 54px;
    letter-spacing: 6px;
}
.origin-order{
    width: 100%;
    height: 106px;
    line-height: 105px;
    margin-top:18px;
}
.origin-order ul{
    height: 66px;
    overflow: hidden;
}
.origin-order .order-city{
    float: left;
    margin-left: 30px;
}
.order-city .cs, .order-city .qy, .order-name{
    width: 192px;
    height: 66px;
    background: url("/assets/home/decoration/img/jbbjbtn1.png") no-repeat center;
    background-size: 100% 100%;
    padding: 0 30px;
    float: left;
    margin-right: 48px;
    position: relative;
}
.order-city .cs #order-cs, .order-city .qy #order-qy{
    width:200px;
    height: 46px;
    line-height: 46px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight:bold;
    color:#333333;
    position: absolute;
    top:6px;
    left: 28px;
    padding: 10px 6px;
}
.order-name{
    position: relative;
}
.order-name .telephone{
    width: 80%;
    border: none;
    outline: none;
    height: 40px;
    position: absolute;
    top: 8px;
    font-size: 16px;
    font-weight:bold;
    color:#333333;
}
.order-btn{
    width: 243px;
    height: 63px;
    float: left;
    background: url("/assets/home/decoration/img/jbbjbtn2.png") no-repeat center;
    background-size: 100% 100%;
    line-height: 56px;
    text-align: center;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    cursor: pointer;
}
.error-tips{
    height: 40px;
}
.error-tips>div{
    color: white;
    font-size: 12px;
    line-height: 40px;
    height: 40px;
}
.error-city{
    width: 153px;
    margin-left: 68px;
    float: left;
}
.error-area{
    width: 442px;
    float: left;
}
.error-tel{
    width:300px;
    float: left;
}
/*更多装修公司*/
.recommend{
    width: 100%;
    height: 540px;
    overflow: hidden;
    background: url("/assets/home/decoration/img/bjzxback.png") repeat;
}
.zxgs{
    width: 1220px;
    margin: 0 auto;
}
.zxgs> .zxtu{
    display: block;
    margin: 0 auto;
    margin-top:46px;
    margin-bottom: 30px;
}
.zxgs-con{
    width: 100%;
    height: 295px;
}

.zxgs-con .c-item{
     width: 25%;
     height: 295px;
     padding:0 22px;
    box-sizing: border-box;
     background: url("/assets/home/decoration/img/jbgsz.png") no-repeat center;
     background-position: center 0;
    float: left;
 }
.zxgs-con .c-item:nth-child(even){
    background: url("/assets/home/decoration/img/jbgsy.png") no-repeat center;
    background-position: center 0;
}
.zxgs-con .odd{
    background: url("/assets/home/decoration/img/jbgsy.png") no-repeat center;
    background-position: center 0;
}
.c-item>.gs-img{
    display: block;
    width:147px;
    height:74px;
    margin:66px auto 32px;
}
.c-item>.gs-img>img{
    width: 100%;
    height: 100%;
}
.c-item>.gs-dec{
    width:280px;
    height:80px;
    background:#FFC100;
    border:3px solid #1B1B1B;
    box-sizing: border-box;
    border-radius:2px;
    margin:0 auto;
    line-height: 40px;
    overflow: hidden;
}
.c-item>.gs-dec>.name{
    width: 280px;
    padding:0 20px;
    box-sizing: border-box;
    line-height: 40px;
    font-size:18px;
    font-weight:bold;
    color:#333333;
    height: 40px;

}
.c-item>.gs-dec>.name a{
    width: 80%;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left;
}
.c-item>.gs-dec .n-cs{
    font-size:14px;
    font-weight:bold;
    color:#333333;
    display: inline-block;
    float: right;
}
.gs-dec> .num{
    height: 40px;
    width: 280px;
    padding-left: 20px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    overflow: hidden;
}
.gs-dec> .num>div{
    float: left;
    margin-right: 12px;
}
.gs-dec> .num>div>span{
    color: #E84137;
}
/*效果图*/
.effect{
    width: 100%;
    overflow: hidden;
    background: url("/assets/home/decoration/img/effctbk.png") repeat;
    padding-top:44px;
    padding-bottom: 68px;
}
.xgt{
    width: 1220px;
    margin: 0 auto;
}
.xgttu{
    display: block;
    width: 738px;
    height: 182px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.xgt>.xgfl{
    width: 1090px;
    height: 862px;
    background: url("/assets/home/decoration/img/jbxgbk.png") no-repeat;
    background-size: 100% 100%;
    margin:0 auto;
    position: relative;
}
.xgt .jbsz{
    position: absolute;
    top:-6px;
    right: 36px;
}
.xgt .jbyunz{
    position: absolute;
    top:-41px;
    left: -282px;
}
.xgt .jbyuny{
    position: absolute;
    bottom:69px;
    right: -300px;
}
.xgfl>.jbbox{
    padding: 60px 108px 100px 120px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.xgfl>.jbbox ul{
    height: 54px;
    overflow: hidden;
    margin-bottom: 36px;
}
.xgfl>.jbbox ul li{
    float: left;
    margin-left: 28px;
    width: 150px;
    height: 54px;
    background: url("/assets/home/decoration/img/jbxiao.png") no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
}
.xgfl>.jbbox ul .actived{
    background: url("/assets/home/decoration/img/jbxiaoact.png") no-repeat center;
}
.xgfl>.jbbox ul li:first-child{
    margin-left: 0;
}
.xgfl>.jbbox ul li>span{
    display: block;
    float: left;
    font-size:24px;
    font-weight:400;
    color:#FFC100;
    line-height:58px;
    width: 74px;
    text-align: center;
}
.xgfl>.jbbox ul .actived span{
    color:#231815;
}
.xgfl>.jbbox ul li .jb-icon{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top:10px;
}
.xgfl>.jbbox ul li .jb-icon.kt{
    background: url("/assets/home/decoration/img/jbkt1.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul .actived .jb-icon.kt{
    background: url("/assets/home/decoration/img/jbkt.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul li .jb-icon.ws{
    background: url("/assets/home/decoration/img/jbws1.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul .actived .jb-icon.ws{
    background: url("/assets/home/decoration/img/jbws.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul li .jb-icon.wsj{
    background: url("/assets/home/decoration/img/jbwsj1.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul .actived .jb-icon.wsj{
    background: url("/assets/home/decoration/img/jbwsj.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul li .jb-icon.cf{
    background: url("/assets/home/decoration/img/jbcf1.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul .actived .jb-icon.cf{
    background: url("/assets/home/decoration/img/jbcf.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul li .jb-icon.sf{
    background: url("/assets/home/decoration/img/jbsf1.png") no-repeat center;
    background-size: 100% 100%;
}
.xgfl>.jbbox ul .actived .jb-icon.sf{
    background: url("/assets/home/decoration/img/jbsf.png") no-repeat center;
    background-size: 100% 100%;
}
.jbbox .jb-item{
    width: 100%;
    height: 480px;
    display: none;
}
.jbbox .jb-item:first-child{
    display: block;
}
/* .jbbox .jb-item a{
    display: block;
    width:400px;
    height:220px;
    background:#FFC100;
    border:3px solid #333333;
    float: left;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
} */
.jbbox .jb-item .item,.jbbox .jb-item .item1 {
    display: block;
    width:400px;
    background:#FFC100;
    border:3px solid #333333;
    float: left;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 460px;
    margin-right: 28px;
    overflow: hidden;
}
.jbbox .jb-item .item1 {
    height: 220px;
}
.jbbox .jb-item .item .item-img {
    height: 400px;
}
.jb-item .item-img{
    width: 100%;
    height: 174px;
    position: relative;
}

.jb-item .item-img img{
    width: 100%;
    height: 100%;
}
.jb-item .item-img .i-desc{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size:14px;
    font-weight:400;
    color:#ffffff;
    position: absolute;
    bottom: 0;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    word-break:break-all;
    word-wrap:break-word;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.jb-item .item-img .i-desc a {
    color: #fff;
}
.jb-item .i-class{
    overflow: hidden;
}
.jb-item .i-class .c-left{
    float: left;
    font-size:14px;
    font-weight:bold;
    color:#333333;
    line-height:40px;
    width: 300px;
    overflow: hidden;
}
.jb-item .i-class .c-left span{
    padding:0 10px;
}
.jb-item .i-class .c-right{
    float: right;
    line-height: 40px;
    padding:0 16px;
}
.jb-item .i-class .c-right .yan{
    margin-top:12px;
    margin-right: 4px;
}
.jb-item .i-class .c-right span{
    display: block;
    float: left;
    font-size:14px;
    font-weight:400;
    color:#333333;
}
.c-right>.yan{
    width: 21px;
    height: 14px;
    background: url("/assets/home/decoration/img/artyan.png") no-repeat center;
    background-size: 100% 100%;
}
.jbbox .jb-item .item{
    height: 460px;
    margin-right: 28px;
}
.jb-item .item .item-img{
    height: 400px;
}
.jb-item .item .i-class .c-left{
    line-height: 56px;
}
.jb-item .item .i-class .c-right{
    line-height: 56px;
}
.jb-item .item .i-class .c-right .yan{
    margin-top:21px;
}
.jb-more{
    width: 310px;
    height: 82px;
    display: block;
    margin: 25px auto;
    margin-bottom: 0;
    background: url("/assets/home/decoration/img/jbxbmore.png") no-repeat  center;
    background-size: 100% 100%;
    font-size:30px;
    font-weight:400;
    color:#ffffff;
    line-height:68px;
    text-align: center;
}
.jb-more:hover{
    color: white;
}
/*局部装修攻略*/
.local{
    width: 100%;
    overflow: hidden;
    background: url("/assets/home/decoration/img/bjzxback.png") repeat;
    padding-top:40px;
    padding-bottom: 75px;
}
.jubu{
    width: 1220px;
    margin: 0 auto;
}
.jubu>.jubutu{
    width: 662px;
    height: 188px;
    display: block;
    margin:0 auto;
    margin-bottom: 52px;
}
.jubu .jubu-con{
    height: 440px;
}
.jubu .jubu-con .ju-item{
    width:284px;
    height:410px;
    float: left;
    box-sizing: border-box;
    background:#ffffff;
    border:2px solid #333333;
    border-radius:2px 0px 0px 2px;
    margin: 0 10px;
    -webkit-transition: all .2s linear;
    transition: all .3s linear;
    overflow: hidden;
}
.jubu .jubu-con .ju-item:hover{
    width: 300px;
    height: 420px;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-6px,0);
    margin: 0;
}
.ju-herf{
    display: block;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #333333;
    background:#FFC100;
}
.jubu .jubu-con .ju-item .ju-img{
    width: 60px;
    height: 60px;
    margin:0 auto;
    padding-top:10px;
    margin-bottom: 4px;
}
.ju-herf>p{
    font-size:24px;
    font-weight:bold;
    color:#333333;
    text-align: center;
}
.ju-every{
    width: 96%;
    padding:12px 6px;
    overflow: hidden;
}
.ju-every .e-item{
    height: 34px;
    line-height: 34px;
    width: 100%;
    overflow: hidden;
}
.ju-every .e-item>span{
    display: inline-block;
    float: left;
    color: #999999;
}
.ju-every .e-item a{
    color: #333333;
    cursor: pointer;
    width: 74%;
    padding:0 6px;
    box-sizing: border-box;
    height: 34px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    float: left;
}
.e-item>.tips{
width: 64px;
}
.e-item.dot>span{
    width:5px;
    height:5px;
    background:#999999;
    border-radius:50%;
    display: block;
    margin: 16px 0;
    margin-left: 6px;
}
.ju-every .dot a{
    width: 94%;
}
.jubu .jubu-con .ju-item .gl{
    background: url("/assets/home/decoration/img/jbgl1.png") no-repeat center;
}
.jubu .jubu-con .ju-item .wd{
    background: url("/assets/home/decoration/img/jbgl2.png") no-repeat center;
}
.jubu .jubu-con .ju-item .bk{
    background: url("/assets/home/decoration/img/jbgl3.png") no-repeat center;
}
.jubu .jubu-con .ju-item .sp{
    background: url("/assets/home/decoration/img/jbgl4.png") no-repeat center;
}
.jubu .jubu-con .ju-item:hover .ju-img {
    background: url("/assets/home/decoration/img/jbzhix.png") no-repeat center;
}
.ju-every .sp-item{
   width: 270px;
    height: 80px;
    margin-top:10px;
    display: block;
}
.ju-every .sp-item:first-child{
    margin-top: 0;
}
.ju-every .sp-item .sptu{
    width: 120px;
    height: 80px;
    overflow: hidden;
    float: left;
    position: relative;
}
.ju-every .sp-item .sptu img{
    width: 100%;
    height: 100%;
}
.ju-every .sp-item .sptu .spbf{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.ju-every .sp-item .spdec{
    width: 140px;
    height: 80px;
    float: left;
    overflow: hidden;
    margin-left: 8px;
}

.sp-item .spdec p{
    font-size:14px;
    font-weight:400;
    color:#333333;
    line-height:20px;
    height: 40px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding-top:8px;
}
.sp-item .spdec span{
    display: block;
    margin-top: 8px;
    font-size:12px;
    font-weight:400;
    color:#999999;
    line-height:18px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*图片交互*/
.zxbanner .swiper-container{
    width: 618px;
    height: 408px;
    padding-top:124px;
}
.zxbanner .swiper-container img{
    width: 618px;
    height: 408px;
}
.jubu .jubu-con .ju-video:hover .ju-every .sp-item{
    margin-top:14px;
}
.jubu .jubu-con .ju-video:hover .ju-every .sp-item:first-child{
    margin-top:0px;
}