*{
    list-style: none;
    font-style: normal;
}
select::-ms-expand{ display: none; }
body{
    background:#F7F7F7;
}
.zxbanner{
    width: 100%;
    height: 420px;
    overflow: hidden;
    background: url(" //staticqn.qizuang.com/custom/20200708/FuI1SMPPYL_1FnjHrI3slUyyZbl8") no-repeat center center;
}
.zximg{
    height: 420px;
}
.wrap-item{
    margin-top: 30px;
    overflow: hidden;
}
.item-head{
    width:1220px;
    height:50px;
    background:rgba(102,102,102,0);
    line-height: 50px;
}
.item-head>.title{
    font-size:24px;
    font-weight:bold;
    color:#333333;
    float: left;
}
.item-head>.more{
    font-size:14px;
    font-weight:400;
    color:#666666;
    height: 100%;
    display: block;
    float: right;
}
.item-head>.more>span{
    display: block;
    float: left;
}
.item-head>.more>img{
    width: 13px;
    height: 13px;
    margin-left: 6px;
    padding-top:18px;
    display: block;
    float: left;
}
.wrap-item>.item-con{
    width:1220px;
    padding:20px;
    background:#FFFFFF;
    border-top: 2px solid #D92B2B;
    overflow: hidden;
}
/*美图*/
.meitu .left{
    width: 180px;
    overflow: hidden;
    float: left;
}
.meitu .left li{
    width:180px;
    height:140px;
    border-radius:2px;
    overflow: hidden;
    position: relative;
}
.meitu .left li img{
    width: 100%;
    height: 100%;
    display: block;
}
.for_ie_bg{
    display: block;
    position: absolute;
    width: 70px;
    height: 30px;
    transition: all 0.5s ease;
    background: rgba(0,0,0,.6);
    left: 10px;
    top: 10px;
    border-radius: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.meitu .right{
    width: 1000px;
    overflow: hidden;
    float: right;
    margin-right: 20px;
}
.meitu ul li{
    margin-bottom: 20px;
}
.meitu ul li:last-child{
    margin-bottom: 0;
}
.meitu ul li span .fengge-info{ display: none; }
.meitu ul li span .fengge-info .big-tit{
    font-size:16px;
    font-weight:400;
    color:#FFFFFF;
    line-height: 24px;
}
.meitu ul li:hover span{border-radius:0;width: 100%;height: 100%; left: 0;top:0;}
.meitu ul li:hover span i{display: none;}
.meitu ul li:hover span .fengge-info{ display: block }
.meitu ul li:hover span .fengge-info .big-tit{ line-height: 140px;}
.meitu ul li .for_ie_bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meitu ul li .three{
    width: 120px;
}
.meitu ul li .three img{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin:0 5px;
}
.meitu>.right .item{
    display: block;
    width:310px;
    height:220px;
    background:#FFFFFF;
    border:1px solid #E6E6E6;
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius:2px;
    float: left;
}
.meitu>.right .item:first-child{
    width:650px;
    height:460px;
    background:#FFFFFF;
    border:1px solid #E6E6E6;
    border-radius:2px;
    margin-right: 20px;
    box-shadow: none;
}
.meitu>.right .item:first-child img{
    height: 420px;
}
.meitu>.right .item:last-child{
    margin-top: 20px;
}
.meitu>.right .item img{
    width: 100%;
    height: 180px;
    display: block;
}
.meitu>.right .item .item-des{
    width: 100%;
    height: 40px;
    padding:0 10px;
    box-sizing: border-box;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 40px;
    font-size:12px;
    font-weight:400;
    color:#333333;
}
.meitu .right>div{
    display: none;
}
.meitu .right>div:first-child{
    display: block;
}
/*装修案例*/
.al-box{width: 100%;height: 420px;}
.al-box ul li{position:relative;float: left;width: 175px;height: 420px;overflow: hidden;background: rgba(0,0,0,.5);}
.al-box ul li:last-child{border:0;}
.al-box ul li p{width: 100%;height: 100%; display: none; flex-direction: column; align-items: center;}
.al-box ul li .shupai{width:175px;height:100%; cursor: pointer; line-height:420px; background: rgba(0,0,0,.5); position:absolute;left:0;top:0; text-align: center;
    font-size:16px;
    font-weight:400;
    color:#FFFFFF;
}
.al-box .p-bg{position:absolute;left:0;top:0;width: 100%;height: 100%; display: flex; flex-direction: column; align-items: center;}

.al-box ul li.active{width: 480px;}
.al-box ul li.active .shupai{display: none;}
.al-box ul li.active p{width: 100%;height: 100%; display: flex; flex-direction: column; align-items: center;}
.al-box .p-bg .bg-name{
    font-weight:400;
    color:#FFFFFF;
    line-height:36px;
    font-size: 24px;
    margin: 0 auto;
    margin-top:130px;
    display: block;
    text-align: center;

}
.al-box .p-bg .bg-des{
    font-size:12px;
    font-weight:400;
    color:#FFFFFF;
    line-height:18px;
    padding:0 40px;
    margin-top:26px;
    display: block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.al-box .p-bg .bg-btn{
    width:120px;
    height:40px;
    background:rgba(255,255,255,0.5);
    border-radius:2px;
    font-size:16px;
    font-weight:400;
    color:#FFFFFF;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    margin-top:18px;
    display: block;
    cursor: pointer;


}
.al-box .p-bg .bg-more{
    font-size:14px;
    font-weight:400;
    color:#FFFFFF;
    line-height:36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    margin-top:90px;
    display: block;
    text-align: center;
}
.al-box .p-bg .bg-more img{
    width: 20px;
    height: 10px;
}
/*装修公司*/
.gongsi .g-item{
    float: left;
    width:218px;
    height:176px;
    background:#FFFFFF;
    border:1px solid #E6E6E6;
    border-radius:2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-right: 20px;
}
.gongsi .g-item:last-child{
    margin-right: 0;
}
.gongsi .g-item:hover{
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.g-item img{
    width:105px;
    height:53px;
    display: block;
    margin: 26px auto;
}
.g-item>.item-name{
    display: block;
    font-size:16px;
    font-weight:400;
    color:#333333;
    line-height:20px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}
.g-item>.item-shu{
    display: flex;;
    justify-content:center;
    align-items: center;
    font-size:12px;
    font-weight:400;
    color:#999999;
    line-height:36px;
    text-align: center;
}
.g-item>.item-shu p{
    padding: 0 10px;
    display: inline-block;
}
.g-item>.item-shu span{
    color: #D92B2B;
}
/*宝典*/
.book .b-item{
    width:380px;
    border:1px solid #E6E6E6;
    border-radius:2px 0px 0px 2px;
    float: left;
    margin-right: 18px;
}
.book .b-item:last-child{
    margin-right: 0;
}
.book .b-item:hover{
    box-shadow:1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}
.b-item .b-head{
    width: 100%;
    height: 160px;
    background: url("//staticqn.qizuang.com/custom/20191204/FkmlpfOQ9EgYTfuciTEUngwYDtvQ") no-repeat center;
    background-size: 100% 100%;
}
.b-item .two{
    background: url("//staticqn.qizuang.com/custom/20191204/Fn7vv2GX5CK_e6FT9MAyKiqe_ZO7") no-repeat center;
}
.b-item .three{
    background: url("//staticqn.qizuang.com/custom/20191204/FsabClFigpnzPT0M1aYe5Oo51F26") no-repeat center;
}
.b-head>p{
    font-size:24px;
    font-weight:400;
    color:#FFFFFF;
    line-height:36px;
    text-align: center;
    padding-top:40px;
    margin-bottom: 30px;
}
.b-head>.sort{
    padding: 0 65px;
    box-sizing: border-box;
    width: 100%;
}
.b-head>.sort a{
    display: block;
    width:50px;
    height:26px;
    border:1px solid #FFFFFF;
    border-radius:2px;
    line-height: 27px;
    text-align: center;
    font-size:14px;
    font-weight:400;
    color:#FFFFFF;
    float: left;
    margin-left: 46px;
}
.b-head>.sort a:first-child{
    margin-left: 0;
}
.b-item .b-con{
    padding:10px 0 30px;
}
.b-item .c-href{
    width: 100%;
    padding-left: 10px;
    padding-right: 26px;
    box-sizing: border-box;
    font-size:12px;
    font-weight:400;
    color:#999999;
    height: 36px;
    overflow: hidden;
    line-height: 36px;
}
.b-item .c-href .left{
    width: 66px;
    float: left;
}
.b-item .c-href .right>span{
    margin-right: 6px;
}
.b-item .c-href .right a{
    color: #333333;
}
.b-item .c-href .right{
    width: 264px;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    float: left;
}
.last-wrap{
    margin-bottom: 150px;
}
/*报价*/
.wrap-bg{
    width: 1220px;
    overflow: hidden;
    margin:0 auto;
    padding-top:20px;
}
.wrap-bg .bj{
    width:330px;
    height:380px;
    background:#FFFFFF;
    border-radius:2px;
    padding:0 20px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.bj-tone{
    width: 100%;
    text-align: center;
    font-size:24px;
    font-weight:400;
    color:#333333;
    line-height:40px;
    padding-top:26px;
}
.bj-ttwo{
    width:100%;
    font-size:16px;
    font-weight:400;
    color:#333333;
    line-height:20px;
    text-align: center;
}
.bj-ttwo>span{
    color: #D92B2B;
    font-weight: bold;
}
.order-box select{
    outline: none;
    width:135px;
    height:42px;
    background:#F7F7F7;
    border-radius:21px;
    border: none;
    font-size: 14px;
    margin-top:24px;
    padding: 10px 6px;
}
.edit-city{
    margin-right: 14px;
}
.box-line>.edit-text{
    outline: none;
    width:290px;
    height:40px;
    background:#F7F7F7;
    border-radius:20px;
    border: none;
    font-size: 14px;
    padding:0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top:20px;

}
.disclamer-line{
    margin-top:18px;
    font-size: 12px;
}
#btnSave{
    width:290px;
    height:40px;
    background:#D92B2B;
    border-radius:20px;
    text-align: center;
    line-height: 40px;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
    margin-top:10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.help-peo{
    font-size:14px;
    font-weight:400;
    color:#666666;
    line-height:24px;
    margin-top:26px;
}
.help-peo> span{
    font-size:14px;
    font-weight:400;
    text-decoration:underline;
    color:#D92B2B;
    float: right;
}
.b-warn {
    color: #DE4349 !important;
    font-size: 12px;
    padding: 2px;
    text-align: left;
    line-height: 16px;
}
/*二手房*/
.zxbanner{
    width: 100%;
    height: 420px;
    overflow: hidden;
    background: url(" //staticqn.qizuang.com/custom/20200708/Frw2UAKJ31pGfKM3ZU0QIF7uUZTM") no-repeat center center;
}
.for_ie_bg{
    width: 80px;
}
.help-peo> .span {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    color: #D92B2B;
    float: right;
}