.container{
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
}
.container .img{
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.container .title{
    font-size: 24rpx;
    color: #fff;
    padding: 0 30rpx;
    position: fixed;
    bottom: 120rpx;
    height:80rpx;
    line-height:40rpx;
    overflow: hidden;
}
.baojia{
    width: 650rpx;
    height: 88rpx;
    padding-left: 40rpx;
    font-size: 29rpx;
    color: #fff;
    line-height: 88rpx;
    text-align: center;
    background: linear-gradient(90deg, #FF5454 0%, #FF8A5C 100%);
    border-radius: 8rpx 8rpx 9rpx 8rpx;
    position: fixed;
    bottom: 32rpx;
    left: 0;
    right: 0;
    margin: auto;
}
.baojia image{
    width: 30rpx;
    height: 30rpx;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 184rpx;
    margin: auto;
}



/* 发单弹窗 S */
.window-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(0,0,0,0.6);
}
.bottom-order-container {
    width: 84%;
    height: 800rpx;
    position: fixed;
    top:0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    border-radius: 0 0 20rpx 20rpx;
    overflow: hidden;
}
.order-box-header {
    position: relative;
}
.order-header-img {
    width: 100%;
    height: 202rpx;
    vertical-align: middle;
}
.input-list {
    height: 569rpx;
    background: #fff;
    padding: 0px 32rpx 32rpx 32rpx;
    position: relative;
    top:-2px;
}
.input-list .order-title{
    font-size: 42rpx;
    font-weight: bold;
    text-align: center;
}
.input-list .order-des{
    font-size: 22rpx;
    color: #666;
    text-align: center;
    margin: 20rpx 0 30rpx;
}
.input-item {
    height: 88rpx;
    line-height: 88rpx;
    overflow: hidden;
    margin-bottom: 20rpx;
    position: relative;
}
.input-item input,
.input-item button {
    text-align: left;
    font-size: 24rpx;
    height: 88rpx;
    line-height: 88rpx;
    padding: 0px;
    color: #333;
    border: none;
    background: #F7F7F7;
    padding-left: 30rpx;
}
.input-item input.map{
    padding-left: 60rpx;
}
.input-item .map_new{
    width: 26rpx;
    height: 26rpx;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30rpx;
    margin: auto;
    z-index: 99999;
}
.btn-submit {
    background: rgba(219, 44, 44, 1);
    border-radius: 8rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-top: 40rpx;
    height: 88rpx;
    line-height: 88rpx;
}
.btn-submit::after {
    border: none;
}
.area-box {
    position: relative;
}
.area-sup {
    position: absolute;
    width: 30rpx;
    right: 24rpx;
    top: 0;
}
.area-sup > span {
    display: block;
    font-size: 14px;
}
.select-top {
    width: 100%;
    height: 90rpx;
    background: #fbf9fe;
}

.result-design {
    font-size: 14px;
    background: #fff;
    border-top-left-radius: 30rpx;
    border-top-right-radius: 30rpx;
    text-align: center;
    padding: 0 30rpx 30rpx;
    box-sizing: border-box;
    position: relative;
    border-radius:20rpx;
    overflow: hidden;
}
.result-design .close-btn,.order-box .close-btn{
    position: absolute;
    right: 20rpx;
}
.order-box .close-btn{
    top: 120rpx;
    z-index: 999;
}
.result-design .close-btn{
    top: 20rpx;
}
.order-box .close-btn image{
    width: 48rpx;
    height: 48rpx;
}
.result-title-box {
    text-align: center;
    line-height: 40rpx;
    vertical-align: middle;
    padding-top: 40rpx;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-title-box .success-icon {
    margin-right: 10rpx;
    width: 60rpx;
    height: 60rpx;
    border-radius: 50%;
    margin-right: 18rpx;
}
.result-title-box .result-title {
    line-height: 72rpx;
    height: 78rpx;
    font-size: 42rpx;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
}
.result-content {
    padding: 0 20rpx 15rpx;
    text-align: left;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 50rpx;
}
.result-konw-btn {
    padding: 0 20rpx;
}
.result-konw-btn button {
   background: rgba(219, 44, 44, 1);
    border-radius: 8rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    height: 80rpx;
    line-height: 80rpx;
}
.result-konw-btn button::after {
    border: none;
}
.price-detail {
    padding: 30rpx 0rpx;
    border-bottom: 1rpx solid #E8E8E8;
}
.detail-item {
    display: flex;
    justify-content: space-between;
    font-size: 28rpx;
    line-height: 60rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}
.item-name {
    width: 30%;
}
.price-num {
    width: 80%;
    margin-right: 5rpx;
}
.item-price {
    text-align: right;
}
.item-line {
    display: flex;
    flex: 2;
    margin-right: 0rpx;
    overflow: hidden;
}
.price-total {
    display: flex;
    justify-content: space-between;
    padding: 15rpx 0;
    font-size: 32rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.total-num {
    color: rgba(255, 81, 86, 1);
}
.red-star {
    color: rgba(255, 81, 86, 1);
    font-size: 24rpx;
    margin-right: 5rpx;
}
.tip-word {
    font-size: 24rpx;
    font-weight: bold;
    color: rgba(153, 153, 153, 1);
}
/* 发单弹窗 E */