<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<title>{$keys.title}</title>
<meta name="keywords" content="{$keys.keywords}" />
<meta name="description" content="{$keys.description}" />
<link href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/company_about/{$userInfo.user.id}/" rel="canonical" />
<link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/companyhome/css/company-pub.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/companyhome/css/company-about.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="{$static_host}/assets/home/about/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" />
<include file="Companyhome:headerbar" />

<div class="body">
    <div class="c-main">
        <div class="c-bread">
            <a href="/">{$cityinfo.name}装修</a> >
            <a href="/company/">{$cityinfo.name}装修公司</a> >
            <a href="/company_home/{$userInfo.user.id}/"  title="{$userInfo.user.qc}">{$userInfo.user.jc}</a> >
            <span>公司简介</span>
        </div>
        <!-- 简介 -->
        <div class="top-header">
            <div class="shuxian"></div><h1>{$userInfo.user.jc}公司简介</h1>
        </div>
        <div class="jianjie">
            <volist name="userInfo.user.jianjie" id="vo">
            <p>
                {$vo}
            </p>
            </volist>
        </div>
        <!-- 服务 -->
        <div class="top-header">
            <div class="shuxian"></div><div>公司服务</div>
        </div>
        <div class="fuwu">
            <div class="fuwu-a">
                <dl class="fu-b">
                    <dt>服务区域</dt>
                    <dd><p>{$userInfo.user.area|mbestr=0,120,'utf-8'}</p></dd>
                </dl>
                <dl class="fu-b">
                    <dt>专长风格</dt>
                    <dd><p>{$userInfo.user.fg|mbestr=0,120,'utf-8'}</p></dd>
                </dl>
                <dl class="fu-b">
                    <dt>服务类型</dt>
                    <dd><p>{$userInfo.user.fw|mbestr=0,120,'utf-8'}</p></dd>
                </dl>
                <dl class="fu-b">
                    <dt>服务保障</dt>
                    <dd><p>{$userInfo.user.baozhang|mbestr=0,120,'utf-8'}</p></dd>
                </dl>
                <dl>
                    <dt>承接价位</dt>
                    <dd><p>{$userInfo.user.jiawei}万以上</p></dd>
                </dl>
            </div>
        </div>
        <if condition="count($userInfo['user']['pictures']) GT 0">
        <!-- 荣誉 -->
        <div class="top-header">
            <div class="shuxian"></div><h2>公司荣誉</h2>
        </div>

        <div class="rongyu">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <volist name="userInfo.user.pictures" id="vo">
                        <div class="swiper-slide">
                            <div class="zhengshu">
                                <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/{$vo['img_path']}"/>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        </if>
        <notempty name="userInfo.user.map_address">
        <!-- .公司地址 -->
        <div class="top-header">
            <div class="shuxian"></div><div>公司地址</div>
        </div>
        <div class="address">
            <div class="ditu">
                <p>地址：{$userInfo.user.map_address}</p>
                <div id="container">
                </div>
            </div>
        </div>
        </notempty>
    </div>
</div>
<div class="mask"></div>
<!-- 点击大荣誉图 -->
<div class="swiper-container2">
    <div class="swiper-wrapper">
        <volist name="userInfo.user.pictures" id="vo">
            <div class="swiper-slide">
                <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/{$vo.img_path}"/>
            </div>
        </volist>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<include file="footerbar" />
<include file="Index:footer" />
<script type="text/javascript" src="{$static_host}/assets/home/about/js/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4&"></script>
<script type="text/javascript">
    
    $('.swiper-container .swiper-slide').click(function () {
        var index = $(this).index();
        $('.mask').show();
        $('.swiper-container2').show();
        var swiper = new Swiper('.swiper-container2', {
            initialSlide: index,
            slidesPerView: 1,
            prevButton:'.swiper-container2 .swiper-button-prev',
            nextButton:'.swiper-container2 .swiper-button-next',
            watchSlidesProgress: true
        })
    })

    $('.mask').click(function () {
        // $('swiper-container2 .swiper-wrapper').css('transform','translate3d(0px, 0px, 0px)');
        $('.swiper-container2 .swiper-wrapper').removeAttr("style");
        $('.mask').hide();
        $('.swiper-container2').hide();
    })
    // 荣誉轮播图
    $(document).ready(function () {
        var mySwiper = new Swiper('.swiper-container',{
            // loop: true,
            slidesPerView : 4,
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next',
        })
        if ($('.rongyu').length > 0) {
            mySwiper.prevButton.addClass('next-left');
            mySwiper.nextButton.addClass('next-right');
        }
    })

    $(document).ready(function(){
        if ($(".rongyu .swiper-slide").length < 5) {
            $('.rongyu .swiper-button-prev').css('display','none');
            $('.rongyu .swiper-button-next').css('display','none');
        }
    });

    <notempty name="userInfo.user.map_address">
        var map = new BMap.Map("container");
        var point = new BMap.Point({$userInfo.user.lng},{$userInfo.user.lat});
        map.centerAndZoom(point,15);
        map.addControl(new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT}));
        map.addControl(new BMap.NavigationControl());
        map.addControl(new BMap.MapTypeControl({
		mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
        var marker = new BMap.Marker(point);
        map.addOverlay(marker);
        map.enableScrollWheelZoom(true);
        var opts = {
	      width : 200,     // 信息窗口宽度
	      height: 80,     // 信息窗口高度
	      title : "{$userInfo.user.map_info}" , // 信息窗口标题
	    }
        var infoWindow = new BMap.InfoWindow("地址：{$userInfo.user.map_address}", opts);  // 创建信息窗口对象 
        map.openInfoWindow(infoWindow,point);
    </notempty>
</script>
</body>
</html>
