<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<present name="info.mobileagent">
    <meta name="mobile-agent" content="format=html5;url={$info.mobileagent}" />
</present>
<title>{$keys.title}</title>
<link rel="alternate" media="only screen and (max-width: 640px)" href="{$alternate}" >
<meta name="keywords" content="{$keys.keywords}" />
<meta name="description" content="{$keys.description}" />
<link href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/company_case/{$userInfo.user.id}/" rel="canonical" />
<link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/companyhome/css/company-pub.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/companyhome/css/company-imgs.css?v={:C('STATIC_VERSION')}" />
<include file="Companyhome:headerbar" />
<div class="zhengti ofw">
    <div class="c-bread">
        <a href="/">{$cityinfo.name}装修</a> >
        <a href="/company/">{$cityinfo.name}装修公司</a> >
        <a href="/company_home/{$userInfo.user.id}/" title="{$userInfo.user.qc}">{$userInfo.user.jc}</a> >
        <span>案例列表</span>
    </div>
    <div class="anli-list">
        <dl class="di-bor dl-a">
            <dt>家装案例</dt>
            <dd><a rel="nofollow" href="/company_case/{$userInfo.user.id}/?cl=1" <if condition="$choose_menu eq 'cl=1'">class="active"</if>>不限</a></dd>
            <volist name="userInfo.jzTypes" id="vo">
                <dd><a rel="nofollow" href="/company_case/{$userInfo.user.id}/?cl=1&t={$vo.id}" <if condition="$choose_menu eq 'cl=1&t='.$vo['id']">class="active"</if>>{$vo.name}</a></dd>
            </volist>
        </dl>
        <dl class="di-bor dl-b">
            <dt>公装案例</dt>
            <dd><a rel="nofollow" href="/company_case/{$userInfo.user.id}/?cl=2" <if condition="$choose_menu eq 'cl=2'">class="active"</if>>不限</a></dd>
            <volist name="userInfo.gzTypes" id="vo">
                <dd><a rel="nofollow" href="/company_case/{$userInfo.user.id}/?cl=2&t={$vo.id}" <if condition="$choose_menu eq 'cl=2&t='.$vo['id']">class="active"</if>>{$vo.name}</a></dd>
            </volist>
        </dl>
        <dl class="dl-c">
            <dt>在建工地</dt>
            <dd><a rel="nofollow" href="/company_case/{$userInfo.user.id}/?cl=3" <if condition="$choose_menu eq 'cl=3'">class="active"</if>>不限</a></dd>
            <volist name="userInfo.zjTypes" id="vo">
                <dd><a rel="nofollow" href="/company_case/{$userInfo.user.id}/?cl=3&t={$vo.id}" <if condition="$choose_menu eq 'cl=3&t='.$vo['id']">class="active"</if>>{$vo.name}</a></dd>
            </volist>
        </dl>
    </div>

    <if condition="count($userInfo['cases']) GT 0">
        <!-- 优先把这个先改，不然看着样式有问题 -->
        <!-- 有数据显示这个盒子 -->
        <div class="anli-zhan">
            <ul>
                <volist name="userInfo['cases']" id="vo">
                <li>
                    <a class="pichref" href="<if condition="$vo['classid'] == 4">{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/3d-case{$vo.id}.html<else />{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/caseinfo/{$vo.id}.shtml</if>" rel="nofollow" target="_blank" title="{$vo['title']}{$vo['mianji']}㎡{$vo['hx']}{$vo['fg']}装修案例" alt="{$vo['title']}{$vo['mianji']}㎡{$vo['hx']}{$vo['fg']}装修案例">
                        <if condition="$vo['img_host'] == 'qiniu' AND !empty($vo['img'])">
                            <img alt="{$vo.title}" src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/{$vo.img_path}-w240.jpg">
                            <elseif condition="$vo['img_host'] != 'qiniu' AND !empty($vo['img'])  AND $vo.status != '3'"/>
                            <img alt="{$vo.title}" src="{:C('QINIU_SCHEME')}://{:C('STATIC_HOST1')}{$vo.img_path}s_{$vo.img}">
                            <else />
                            <img alt="{$vo.title}"  src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/jjdg/2018/08/041613218a69d8956-w240.jpg">
                        </if>
                    </a>
                    <div class="xinxi">
                        <div class="p-title"><a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/caseinfo/{$vo.id}.shtml" title="{$vo['title']}{$vo['mianji']}㎡{$vo['hx']}{$vo['fg']}装修案例">{$vo['title']}</a></div>
                        <span>
	                        <if condition="$vo['classid'] == 1">家装&nbsp;|&nbsp;{$vo['hx']}
		                        <elseif condition="$vo['classid'] == 2"/>公装&nbsp;|&nbsp;{$vo['lx']}
		                        <elseif condition="$vo['classid'] == 3"/>在建工地&nbsp;|&nbsp;{$vo['hx']}
		                        <elseif condition="$vo['classid'] == 4"/>3D效果图
		                   </if></span>
                        <div class="xinxi-a">{$vo['mianji']}㎡/{$vo['fg']}/{$vo['jiage']}</div>
                        <span class="xunjia">我要询价</span>
                    </div>
                </li>
                </volist>
            </ul>
        </div>
        <!--S 分页-->
        <div class="pagebox">
            {$userInfo.page}
        </div>
        <!--E 分页-->
    <else/>
        <!-- 没数据显示这个盒子 -->
        <div class="no-anli">
            <p>暂时还没有上传案例哦！</p>
        </div>
    </if>
</div>
<div class="mask">
    <div class="fadan">
        <div class="facha"></div>
        <div class="fa-main">
            <p class="biao-top">这样装修要花多少钱？</p>
            <div class="order-box validate">
                <div class="box-line">
                    <select class="edit-city"></select>
                    <select class="edit-quyu"></select>
                </div>
                <div class="box-line">
                    <input class="edit-text" type="text" name="name" placeholder="怎么称呼">
                </div>
                <div class="box-line">
                    <input class="edit-text" type="text" name="tel" placeholder="输入手机号码" maxlength="11">
                    <input type="hidden" name="fb_type" value="sheji">
                </div>
                <!--S-免责声明-->
                    <div class="disclamer-line">
                        <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
                        <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
                        <a rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/disclamer" target="_blank" class="pull-left"><span>《免责声明》</span></a>
                    </div>
                <!--E-免责声明-->
                <button class="box-line" id="btnSave" type="button">立即获取</button>
            </div>
        </div>
    </div>
    <div class="fa-success">
        <div class="cha-s"></div>
        <div class="biao-s">已收到询价申请啦~</div>
        <div class="biao-z">
            客服正快马加鞭的赶来给你致电！</br>
            为你详细解答设计报价问题!
        </div>
    </div>
</div>

<include file="footerbar" />

<script type="text/javascript">
    $(function(){
        $('.dl-a dd').eq(0).css('width','50px');

        $('.dl-b dd').eq(0).css('width','50px');

        $('.dl-c dd').eq(0).css('width','50px');

        $('.anli-list dd').css('display','block');
    });
    $(window).scroll(function(event) {
        var fixHeight = 1200;
        if($(window).scrollTop() >= fixHeight){
            $('.bj-form').css({
                "width":"260px",
                "margin-top":"0",
                "position":"fixed",
                "top":"85px",
                "zIndex":2
            });
        }else{
            $('.bj-form').css({
                "margin-top":"15px",
                "position":"",
                "top":"",
                "zIndex":''
            });
        }
    });

    $(function(){
        $('.facha').click(function() {
            $('.mask').css('display','none');
        })
    });

    $(function(){
        $('.xunjia').click(function() {
            $('.mask').css('display','block');
            $('.fadan').css('display','block');
            $('.fa-success').css('display','none');
        })
    });

    $(function(){
        $('.cha-s').click(function() {
            $('.mask').css('display','none');
        })
    });

    // 之后删除
    // $(function(){
    //     $('#btnSave').click(function() {
    //         $('.fadan').css('display','none');
    //         $('.fa-success').css('display','block');
    //     })
    // });

    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];
    // 我要申请部分的罚单入口城市
    initCity({$cityInfo.id});
    function initCity(cityId){
        App.citys.init(".order-box .edit-city", ".order-box .edit-quyu", shen, shi,cityId);
    }

    $(".fa-main #btnSave").click(function(event) {
        var container = $(".fa-main");
        $(".focus", container).removeClass('focus');
        $(".height_auto", container).removeClass('height_auto');
        $(".valdate-info", container).remove();

        if (!App.validate.run($("input[name=name]", container).val())) {
            $("input[name=name]", container).parent().addClass('height_auto');
            $("input[name=name]", container).addClass('focus').focus();
            var span = $("<i class='valdate-info'></i>");
            span.html("您输入的姓名有误，请重新输入");
            $("input[name=name]", container).parent().append(span);
            return false;
        } else {
            var reg = new RegExp("^[\u4e00-\u9fa5a-zA-Z]+$");
            if (!reg.test($("input[name=name]", container).val())) {
                $("input[name=name]", container).parent().addClass('height_auto');
                $("input[name=name]", container).addClass('focus').focus();
                $("input[name=name]", container).val('');
                var span = $("<i class='valdate-info'></i>");
                span.html("请输入正确的名称，只支持中文和英文");
                $("input[name=name]", container).parent().append(span);
                return false;
            }
        }

        if (!App.validate.run($("input[name=tel]", container).val())) {
            $("input[name=tel]", container).parent().addClass('height_auto');
            $("input[name=tel]", container).addClass('focus').focus();
            var span = $("<i class='valdate-info'></i>");
            span.html("请输入正确的手机号");
            $("input[name=tel]", container).parent().append(span);
            return false;
        } else {
            var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
            if (!reg.test($("input[name=tel]", container).val())) {
                $("input[name=tel]", container).parent().addClass('height_auto');
                $("input[name=tel]", container).addClass('focus').focus();
                $("input[name=tel]", container).val('');
                var span = $("<i class='valdate-info'></i>");
                span.html("请输入正确的手机号");
                $("input[name=tel]", container).parent().append(span);
                return false;
            }
        }

        if (!App.validate.run($(".edit-city", container).val())) {
            $(".edit-city", container).parent().addClass('height_auto');
            $(".edit-city", container).addClass('focus').focus();
            var span = $("<i class='valdate-info'></i>");
            span.html("请输入选择您的城市");
            $(".edit-city", container).parent().append(span);
            return false;
        }
        if(!checkDisclamer(".validate")){
            return false;
        }


        window.order({
            extra:{
                cs: $(".edit-city", container).val(),
                qx: $(".edit-quyu", container).val(),
                name: $("input[name=name]", container).val(),
                tel: $("input[name=tel]", container).val(),
                fb_type: $("input[name=fb_type]", container).val(),
                source: '156',
                step: 1
            },
            error:function(){},
            success:function(data, status, xhr){
                $("#safecode").val(data.data.safecode);
                $("#safekey").val(data.data.safekey);
                if (data.status == 1) {
                    // $("body").append(data.data.tmp);
                    $('.fadan').css('display','none');
                    $('.fa-success').css('display','block');
                } else {
                    if(data.info=="请输入正确的手机号"){
                        $("input[name=tel]", container).parent().addClass('height_auto');
                        $("input[name=tel]", container).addClass('focus').focus();
                        var span = $("<i class='valdate-info'></i>");
                        span.html("请输入正确的手机号");
                        $("input[name=tel]", container).parent().append(span);
                        return false;
                    }
                    $(".edit-city", container).parent().addClass('height_auto');
                    $(".edit-city", container).addClass('focus').focus();
                    var span = $("<i class='valdate-info'></i>");
                    span.html(data.info);
                    $(".edit-city", container).parent().append(span);
                }

            },
            validate:function(item, value, method, info){
                return true;
            }
        });
    });
</script>
<include file="Index:footer" />
</body>
</html>
