<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="mobile-agent" content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/{$cityInfo.bm}/company_message/{$userInfo.user.id}" />
<title>{$keys.title}</title>
<link rel="alternate" media="only screen and (max-width: 640px)" href="{$alternate}" >
<meta name="keywords" content="{$keys.keywords}" />
<meta name="description" content="{$keys.description}" />
<link rel="canonical" href="{$userInfo['canonical']}" />
<link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/companyhome/css/company-pub.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" type="text/css" href="{$static_host}/assets/sub/companyhome/css/company-kn.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="/assets/home/about/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}">
<include file="Companyhome:headerbar" />

<div class="ping-main">
    <div class="c-bread">
        <a href="/">{$cityinfo.name}装修</a> >
        <a href="/company/">{$cityinfo.name}装修公司</a> >
        <a href="/company_home/{$userInfo.user.id}/"  title="{$userInfo.user.qc}">{$userInfo.user.jc}</a> >
        <span>业主评价</span>
    </div>
    <div class="c-right-box">
        <div class="biao-head">
            <h1>{$userInfo.user.qc}口碑</h1><span>{$userInfo.user.jc}怎么样？</span>
            <button type="button" class="comment-btn">我要点评</button>
        </div>
        <div class="c-comment">
        <if condition="$userInfo['comments']">
        <volist name="userInfo.comments" id="vo">
        <div class="c-comment-box">
            <div class="c-user-head"><img src="{$vo.logo}" alt=""/><p>{$vo.name|mbestr=0,8,'utf-8',false}</p></div>
            <div class="c-user-detail">
                <div class="c-user-info">
                    <span><if condition="$vo['lp'] NEQ ''">{$vo.lp|mbestr=0,40,'utf-8',false}<if condition="$vo['mianji']">{$vo.mianji}㎡</if></if></span>
                    <span>{$vo['step']}</span>
                    <ul>
                    <if condition="$vo['totalCount'] EGT 9">
                    <li></li><li></li><li></li><li></li><li></li>
                    <elseif condition="$vo['totalCount'] EGT 8 AND $vo['totalCount'] LT 9" />
                    <li></li><li></li><li></li><li></li><li class="star-empty"></li>
                    <elseif condition="$vo['totalCount'] EGT 4 AND $vo['totalCount'] LT 8" />
                    <li></li><li></li><li></li><li class="star-empty"></li><li class="star-empty"></li>
                    <elseif condition="$vo['totalCount'] EGT 2 AND $vo['totalCount'] LT 4" />
                    <li></li><li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                    <else/>
                    <li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                    </if>
                    </ul>
                    <em>{$vo.time|date="Y-m-d H:i:s",###}</em>
                </div>
                <div class="c-user-mes">{$vo.text}</div>

                <if condition="$vo['comment_countimgs'] gt 0" >
                <div class="comment-box">
                    <div class="c-user-img swiper-container">
                        <ul class="swiper-wrapper">
                            <volist name="vo.comment_imgs" id="v">
                                <li class="swiper-slide"><img src="{$v}" /></li>
        </volist>
                        </ul>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <span class="total_imgnum">共{$vo.comment_countimgs}张</span>
                    </div>
                </div>
                </if>


                <if condition="$vo['rptxt'] NEQ ''"><div class="c-user-reply"><p>回复:</p>{$vo.rptxt}</div></if>
            </div>
        </div>
        </volist>

        <else/>
        暂时还没有评论
        </if>
            <div class="pagebox">{$userInfo.page}</div>
        </div>
        <div class="tuijian">
            <div class="tuijian-a">
                <div class="tui-tip">其他靠谱装修公司推荐</div>
            </div>
            <div class="tui-list">
                <ul>
                    <volist name="userInfo['kaopu']" id="vo">
                        <li data-id="{$vo['id']}"><a href="/company_home/{$vo['id']}/" target="_blank">{$vo['jc']|mbestr=0,16,'utf-8',false}</a></li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-left-box">
        <div class="c-pl-info">
            <p>综合评分<span>{$userInfo.user.evaluation|default=0}分</span></p>
            <p>好评率<span>
             <present name="userInfo.user.haopinglve">
                 {$userInfo.user.haopinglve}%
                 <else />
                 100%
             </present>
            </span></p>
            <div class="c-comment-star">
                <dl><dt>设计水平</dt>
                <dd><ul>
                    <if condition="(($userInfo['user']['avgsj'] NEQ 0 AND $userInfo['user']['avgsj'] EGT 9) OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 9))">
                    <li></li><li></li><li></li><li></li><li></li>
                    <ELSEIF condition="(($userInfo['user']['avgsj'] NEQ 0 AND$userInfo['user']['avgsj'] EGT 8 AND $userInfo['user']['avgsj'] LT 9)OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 8 AND $userInfo['user']['avgcount'] LT 9))" />
                    <li></li><li></li><li></li><li></li><li class="star-empty"></li>
                    <ELSEIF condition="(($userInfo['user']['avgsj'] NEQ 0 AND$userInfo['user']['avgsj'] EGT 4 AND $userInfo['user']['avgsj'] LT 8)OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 4 AND $userInfo['user']['avgcount'] LT 8))" />
                    <li></li><li></li><li></li><li class="star-empty"></li><li class="star-empty"></li>
                    <ELSEIF condition="(($userInfo['user']['avgsj'] NEQ 0 AND$userInfo['user']['avgsj'] EGT 2 AND $userInfo['user']['avgsj'] LT 4)OR($userInfo['user']['avgsj'] EQ 0 AND $userInfo['user']['avgcount'] EGT 2 AND $userInfo['user']['avgcount'] LT 4))" />
                    <li></li><li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                    <ELSE/>
                    <li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                    </if>

                </ul></dd>
                </dl>
                <dl><dt>服务态度</dt>
                <dd><ul>
                <if condition="(($userInfo['user']['avgfw'] NEQ 0 AND $userInfo['user']['avgfw'] EGT 9) OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 9))">
                <li></li><li></li><li></li><li></li><li></li>
                <ELSEIF condition="(($userInfo['user']['avgfw'] NEQ 0 AND$userInfo['user']['avgfw'] EGT 8 AND $userInfo['user']['avgfw'] LT 9)OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 8 AND $userInfo['user']['avgcount'] LT 9))" />
                <li></li><li></li><li></li><li></li><li class="star-empty"></li>
                <ELSEIF condition="(($userInfo['user']['avgfw'] NEQ 0 AND$userInfo['user']['avgfw'] EGT 4 AND $userInfo['user']['avgfw'] LT 8)OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 4 AND $userInfo['user']['avgcount'] LT 8))" />
                <li></li><li></li><li></li><li class="star-empty"></li><li class="star-empty"></li>
                <ELSEIF condition="(($userInfo['user']['avgfw'] NEQ 0 AND$userInfo['user']['avgfw'] EGT 2 AND $userInfo['user']['avgfw'] LT 4)OR($userInfo['user']['avgfw'] EQ 0 AND $userInfo['user']['avgcount'] EGT 2 AND $userInfo['user']['avgcount'] LT 4))" />
                <li></li><li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                <ELSE/>
                <li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                </if>

                </ul></dd>
                </dl>
                <dl><dt>施工质量</dt>
                <dd><ul>
                <if condition="(($userInfo['user']['avgsg'] NEQ 0 AND $userInfo['user']['avgsg'] EGT 9) OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 9))">
                <li></li><li></li><li></li><li></li><li></li>
                <ELSEIF condition="(($userInfo['user']['avgsg'] NEQ 0 AND$userInfo['user']['avgsg'] EGT 8 AND $userInfo['user']['avgsg'] LT 9)OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 8 AND $userInfo['user']['avgcount'] LT 9))" />
                <li></li><li></li><li></li><li></li><li class="star-empty"></li>
                <ELSEIF condition="(($userInfo['user']['avgsg'] NEQ 0 AND$userInfo['user']['avgsg'] EGT 4 AND $userInfo['user']['avgsg'] LT 8)OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 4 AND $userInfo['user']['avgcount'] LT 8))" />
                <li></li><li></li><li></li><li class="star-empty"></li><li class="star-empty"></li>
                <ELSEIF condition="(($userInfo['user']['avgsg'] NEQ 0 AND$userInfo['user']['avgsg'] EGT 2 AND $userInfo['user']['avgsg'] LT 4)OR($userInfo['user']['avgsg'] EQ 0 AND $userInfo['user']['avgcount'] EGT 2 AND $userInfo['user']['avgcount'] LT 4))" />
                <li></li><li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                <ELSE/>
                <li></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li><li class="star-empty"></li>
                </if>

                </ul>
                </dd>
                </dl>
            </div>
        </div>
        <if condition="count($userInfo['hot']) GT 0">
        <div class="reping">
            <dl>
                <dt>最新装饰公司热评</dt>
                <volist name="userInfo['hot']" id="vo" key="k">
                    <dd class="<if condition="count($userInfo['hot']) EQ $k">remove-border</if>" data-id="{$vo['comid']}"><span></span><a href="/company_message/{$vo['comid']}/" target="_blank">{$vo['jc']}</a></dd>
                </volist>
            </dl>
        </div>
        </if>
        <div class="jisuan">
            <div class="bj-form">
                <div class="bj-content">
                    <p class="bj-free-title">8秒估算装修报价</p>
                    <div class="bj-box">
                          <div class="input-select jisuanjg">
                              <span class="shuzi">123456</span>
                              <span class="danweiyuan">元</span>
                          </div>
                          <div class="input-select bord">
                            <input type="text" placeholder="请输入您的房屋面积" name="mianji">
                            <i class="pingfang">m²</i>
                        </div>
                        <p class="b-errorMianji-tit"></p>
                        <div class="input-select">
                            <select id="cs" class="freesj_cs" name="cs"></select>
                            <select id="qy" class="freesj_qy" name="qy"></select>
                        </div>
                        <p class="b-errorArea-tit"></p>
                        <div class="input-select bord">
                            <input type="text" placeholder="您的小区,以便准确计算" name="xiaoqu">
                        </div>
                        <p class="b-errorXiaoqu-tit"></p>
                        <div class="input-select bord">
                            <input type="text" placeholder="输入手机号获取计算结果" name="tel" maxlength="11">
                            <input type="hidden" name="fb_type" value="baojia">
                        </div>
                        <p class="b-errorTel-tit"></p>
                        <div class="input-select">
                            <a class="right-now-btn" href="javascript:;">马上提交看结果</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jisuanjieguo">
                <div class="kuangzi">
                    <div class="zxjgy">我家装修估算结果约</div>
                    <div class="zxjgy2"><span id="total-price">6.8</span>元</div>
                    <div class="xiangxisj">
                        <div class="xiangxisj_biaod"><span class="lf">客厅总价约为:</span><span class="rt"><span id="kt-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">卧室总价约为:</span><span class="rt"><span id="zw-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">厨房总价约为:</span><span class="rt"><span id="cf-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">卫生间总价约为:</span><span class="rt"><span id="wsj-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">水电总价约为:</span><span class="rt"><span id="sd-price"></span><span>元</span></span></div>
                        <div class="xiangxisj_biaod"><span class="lf">其它预算约:</span><span class="rt"><span id="other-price"></span><span>元</span></span></div>
                    </div>
                </div>
                <div class="shuom">*因材料品牌及工程量不同,具体的价格由实际工程为准;稍后齐装网客服会给您提供更多的报价详情</div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
    <!-- 荣誉大轮播 -->
    <div class="mask">

    </div>
    <div class="swiper-container2">
        <ul class="swiper-wrapper">

        </ul>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!--去APP评论-->
    <div class="comment-mask">
        <div class="app-comment">
            <div class="app-comment-tit">
                <p>去APP评价</p>
                <span class="app-comment-close">×</span>
            </div>
            <p class="app-comment-des">为了提升您的体验，请扫描下方二维码<br>下载【齐装】APP对装修公司进行评价吧~</p>
            <div class="app_comment">
                <img src="/assets/common/image/qrcode/app-qz-yyb.png" style="width: 160px; height: 160px;"/>
            </div>
            <p class="app-comment-more">更多精彩内容，尽在齐装</p>
        </div>
    </div>

<include file="footerbar" />
<script type="text/javascript" src="{$static_host}/assets/common/js/raty/jquery.raty.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/common/js/gt.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/home/about/js/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    // 设计报价滚动到2200px 悬浮
    $(window).scroll(function(event) {
        var fixHeight = 750;
        if($(window).scrollTop() >= fixHeight){
            $('.bj-form').css({
                "width":"260px",
                "margin-top":"0",
                "position":"fixed",
                "top":"65px",
                "zIndex":2
            });
        }else{
            $('.bj-form').css({
                "margin-top":"15px",
                "position":"",
                "top":"",
                "zIndex":''
            });
        }
    });

    var shen = null,shi = null;
    shen = citys["shen"];
    shi = citys["shi"];

    // 我要申请部分的罚单入口城市
    initCity({$cityInfo.id});
    function initCity(cityId){
        App.citys.init(".freesj_cs", ".freesj_qy", shen, shi, cityId);
    }

    setInterval(function(){
        var aa=parseInt(Math.random() * 90000+ 30000);
        $('.jisuanjg .shuzi').html(aa);
    },300)



    $(function(){
        $(".right-now-btn").click(function(event) {
            var _this = $(this).parent().parent();

            var mianji = _this.find("input[name=mianji]");
            if (mianji.val() == "") {
                mianji.focus();
                $(".b-errorMianji-tit").html('亲,您还没有填写房屋面积!');
                return false;
            }
            var re = /^[0-9]+(.[0-9]{1,2})?$/gi;
            if (!re.test(mianji.val())) {
                mianji.focus();
                $(".b-errorMianji-tit").html('亲,只能填写纯数字!');
                return false;
            }else{
                $(".b-errorMianji-tit").html('');
            }

            var cs = _this.find("select[name=cs]");

            if (cs.val() == '') {
                $(".b-errorArea-tit").html('您还没有选择所在城市噢 ^_^!');
                cs.focus();
                return false;
            }else{
                $(".b-errorArea-tit").html('');
            }

            var qy = _this.find("select[name=qy]");
            if (qy.val() == '') {
                $(".b-errorArea-tit").html('您还没有选择所在区域噢 ^_');
                qy.focus();
                return false;
            }else{
                $(".b-errorArea-tit").html('');
            }

            var xiaoqu = _this.find("input[name=xiaoqu]");
            if (xiaoqu.val() == "") {
                xiaoqu.focus();
                $(".b-errorXiaoqu-tit").html('亲,您还没有填写小区!');
                return false;
            }else{
                $(".b-errorXiaoqu-tit").html('');
            }



            var tel = _this.find("input[name=tel]");
            if (tel.val() == "" || tel.val().length == 0) {
                tel.focus();
                $(".b-errorTel-tit").html('亲,您还没有填写手机号码!');
                return false;
            } else {
                var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
                if (!tel.val().match(reg)) {
                    tel.focus();
                    $(".b-errorTel-tit").html('请填写正确的手机号码 ^_^!');
                    return false;
                }else{
                    $(".b-errorTel-tit").html('');
                }
            }

            var comid = $("#companyid").val();

            var data = {
                mianji:mianji.val(),
                xiaoqu:xiaoqu.val(),
                tel:tel.val(),
                cs:cs.val(),
                qx:qy.val(),
                source: '188',
                fb_type:$("input[name=fb_type]").val(),
            };

            window.order({
                extra : data,
                error:function(){alert("网络发生错误,请稍后重试！");},
                success:function(data, status, xhr){
                    if (data.status == 1) {
                        $('.bj-form').hide();
                        $('.jisuanjieguo').show()
                        if (data.status == 1) {
                            $.ajax({
                                url: '/getdetailsbyajax/',
                                type: 'GET',
                                dataType: 'JSON'
                            })
                                .done(function (data) {
                                    if (data.status == 1) {
                                        var data = data.data
                                        $('#cf-price').text(data.cf);
                                        $('#kt-price').text(data.kt);
                                        $('#other-price').text(data.other);
                                        $('#sd-price').text(data.sd);
                                        $('#total-price').text(data.total);
                                        $('#wsj-price').text(data.wsj);
                                        $('#zw-price').text(data.zw);
                                    } else {
                                        alert(data.info);
                                    }
                                })
                                .fail(function (xhr) {
                                    alert('获取报价失败,请刷新页面');
                                });
                        }
                    }else{
                        alert("发生错误,请稍后重试！");
                    }
                },
                validate:function(item, value, method, info){
                    return true;
                }
            });
            return false;
        });



    $("#minibj").click(function(event) {
        var _this = $(this);
        var container = $(".c-zb");
        if (!App.validate.run($("input[name=tel]", container).val())) {
            $.pt({
                target: _this,
                content: "请填写正确的手机号码 ^_^!",
                width: 'auto'
            });
            return false;
        } else {
            var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
            if (!reg.test($("input[name=tel]", container).val())) {
                $("input[name=tel]", container).focus();
                $("input[name=tel]", container).val('');
                $.pt({
                    target: _this,
                    content: "请填写正确的手机号码 ^_^!",
                    width: 'auto'
                });
                return false;
            }
        }
        var data = {
            tel:$("input[name=tel]",container).val(),
            cs:"{$cityInfo.id}",
            source: '108',
            step:2
        };

        window.order({
            extra:data,
            error:function(){},
            success:function(data, status, xhr){
                if (data.status == 1) {
                    $("body").append(data.data.tmp);
                } else {
                    $.pt({
                        target: _this,
                        content: data.info,
                        width: 'auto'
                    });
                }
            },
            validate:function(item, value, method, info){
                return true;
            }
        });
    });


    $("#btnLogin").click(function(event) {
        var _this = $(this);
        $.ajax({
            url: '/login/',
            type: 'POST',
            dataType: 'JSON',
            data:{
                ssid:""
            }
        })
        .done(function(data) {
            if(data.status == 1){
                window.location.href="{$SCHEME_HOST.scheme_full}{:C('QZ_PASSPORT_ACCOUNT_DONAMES')}/login?redirect="+window.location.href;
            }
        });
    });

    $(".c-comment-text").bind("input propertychange",function(){
        var length = $(this).val().length;
        if(length > 200){
            var offset = length - 200;
            $('.c-comment-text').val($('.c-comment-text').val().substr(0, 200));
        }else{
            $(".c-comment-word em").html(200 - length);
        }
    });

    $("#btnComment").click(function(event) {
        $(".c-comment-msg").html("");
        if (!App.validate.run($(".c-comment-text").val())) {
            $(".c-comment-text").focus();
            $(".c-comment-msg").html("请输入评论内容哦");
            return false;
        }

        if (!App.validate.run($(".c-comment-floor input[type=text]").val())) {
            $(".c-comment-floor input[type=text]").focus();
            $(".c-comment-msg").html("请输入楼盘名称哦");
            return false;
        }

/*        if (!App.validate.run($(".c-comment-bottom input[type=text]").val())) {
            $(".c-comment-verify input[type=text]").focus();
            $(".c-comment-msg").html("请输入验证码哦");
            return false;
        }*/

        $("#verbtn").click();

        /*var score = [];
        $(".postComment dl dd").each(function(){
            var val =$(this).find(".star input[name=score]").val();
            score.push(val);
        });
        $.ajax({
          url: '/companycomment/',
          type: 'POST',
          dataType: 'JSON',
          data: {
              id: "{$userInfo.user.id}",
              content:$(".c-comment-text").val(),
              cs:"{$cityInfo.id}",
              code:$(".c-comment-bottom input[type=text]").val(),
              sj:score[0],
              fw:score[1],
              sg:score[2],
              lp:$(".c-comment-floor input[type=text]").val(),
              step:$("select[name=step]").val()
          }
        })
        .done(function(data) {
              if(data.status == 1){
                  window.location.href = window.location.href;
              }else{
                $(".c-comment-msg").html(data.info);
              }
        });*/
    });

    $(".star").raty({
        size: 16,
        path: '{$static_host}/assets/common/js/raty/img/',
        half: true,
        starHalf : 'star-half.png',
        starOff  : 'star-off.png',
        starOn   : 'star-on.png',
        hints: ['差评', '一般', '还不错', '挺好的', '好评'],
        score:5,
        precision: false
    });

    $(".c-comment-bottom img").click(function(event) {
        $(this).attr("src","/verify?rand="+Math.random());
    });

    //口碑轮播
    $(function(){
        $(".c-user-img .swiper-button-prev").addClass("hide");
        var mySwiper2 = new Swiper('.c-user-img',{
            // loop: true,
            slidesPerView : 5,
            prevButton:'.swiper-button-prev',
            nextButton:'.swiper-button-next',
            onTouchStart:function(){
                $(".c-user-img .swiper-button-prev").removeClass("hide");
            },
            onSlideChangeEnd:function (swiper) {    //判断是否为最后一张  是：隐藏前进按钮  否：显示前进按钮   >
                if(swiper.isEnd){
                    swiper.nextButton.css('display','none');
                }else{
                    swiper.nextButton.css('display','block');
                }
            },
            onSlideChangeStart:function (swiper) {     //判断是否为第一张  是：隐藏后退按钮  否：显示后退按钮    <
                if(swiper.isBeginning){
                    swiper.prevButton.css('display','none');
                }else{
                    swiper.prevButton.css('display','block');
                }
            }
        });
    });
    //页面初始化小图片等比缩放
    $(function () {
        var img = new Image()
        $(".c-user-img ul li").each(function (index,item) {
            var img_url = $(this).find("img")[0].src;
            img.src = img_url;
            var img_width = img.width;
            var img_height = img.height;
            if(img_height >= img_width){
                $(this).find("img").addClass("im_sheight");
                $(this).find("img").removeClass("im_swidth")
            }else{
                $(this).find("img").addClass("im_swidth");
                $(this).find("img").removeClass("im_sheight")
            }
        })
    });
    //大图
    $("body").on("click",'.swiper-container .swiper-slide',function () {
        var index = $(this).index();
        var kk = $(this).parent().html();
        if($(this).parents("ul").find("li").length == 1){
            $(".swiper-container2 .swiper-button-next").css('display','none');
            $(".swiper-container2 .swiper-button-prev").css('display','none');
        }else{
            $(".swiper-container2 .swiper-button-next").css('display','block');
            $(".swiper-container2 .swiper-button-prev").css('display','block');
        }
        if(index == 0){
            $(".swiper-container2 .swiper-button-prev").css('display','none');
        }else{
            $(".swiper-container2 .swiper-button-prev").css('display','block');
        }
        $('.swiper-container2 ul').html(kk);

        var img = new Image()
        $('.swiper-container2 ul li').each(function (index,item) {
            $('.swiper-container2 ul li').find("img").removeClass("im_swidth");
            $('.swiper-container2 ul li').find("img").removeClass("im_sheight");
            var img_url = $(this).find("img")[0].src;
            img.src = img_url;
            var img_width = img.width;
            var img_height = img.height;
            if(img_height/707 >= img_width/943){
                $(this).find("img").addClass("im_height");
                $(this).find("img").removeClass("im_width")
            }else{
                $(this).find("img").addClass("im_width");
                $(this).find("img").removeClass("im_height")
            }
        });
        $('.mask').show();
        $('.swiper-container2').show();

        var swiper = new Swiper('.swiper-container2', {
            initialSlide: index,
            // loop: true,
            prevButton:'.swiper-container2 .swiper-button-prev',
            nextButton:'.swiper-container2 .swiper-button-next',
            watchSlidesProgress: true,
            onSlideChangeEnd:function (swiper) {    //判断是否为最后一张  是：隐藏前进按钮  否：显示前进按钮   >
                if(swiper.isEnd){
                    swiper.nextButton.css('display','none');
                }else{
                    swiper.nextButton.css('display','block');
                }
            },
            onSlideChangeStart:function (swiper) {     //判断是否为第一张  是：隐藏后退按钮  否：显示后退按钮    <
                if(swiper.isBeginning){
                    swiper.prevButton.css('display','none');
                }else{
                    swiper.prevButton.css('display','block');
                }
            }
        })
    })
    //判断图片<=5时不显示左右箭头
    $(document).ready(function(){
        $(".c-user-img ul").each(function (index,item) {
            if($(this).find("li").length <= 5){
                $(this).next().css('display','none');
                $(this).next().next().css('display','none');
                $(this).next().next().next().hide();
            }else{
                $(this).next().css('display','block');
                $(this).next().next().css('display','block');
                $(this).next().next().next().show();
            }
        })
    });

    //关闭大图
    $("body").on("click",'.mask',function () {
        $('.swiper-container2 .swiper-wrapper').removeAttr("style");
        $('.mask').hide();
        $('.swiper-container2').hide();
    })
    //我要点评
    $(".comment-btn").click(function () {
        $(".comment-mask").show();
    })
    //点击点评弹框的关闭按钮
    $("body").on("click",".app-comment-close",function () {
        $(".comment-mask").hide();
    })
})
</script>
<include file="Index:footer" />
</body>
</html>
