.form-group{
    margin: 0 0 15px 0 !important;
}
.add-table {
    width: 100%;
    table-layout: fixed;
}
.add-table td {
    padding: 8px 10px;
    border-bottom: none !important;
}
.add-table input[type='text'], .add-table textarea, .add-table select, .add-table input[type='password']{
    width: 400px;
}
.add-table label{
    font-weight: normal;
}
.add-table .form-control{
    display: inline-block;
}
.file-input{
    display: inline-block;
}
.btn-area{
    text-align: center;
    padding: 10px 0;
}
#tablelist td{
    vertical-align: middle;
}
.log{
    color: #3c8dbc;
    cursor: pointer;
}
.delete{
    cursor: pointer;
}
