.content-header .nav {
  height: 45px;
  line-height: 45px;
  background: rgb(242, 242, 242);
}
.nav span {
  font-size: 18px;
  font-weight: 700;
  color: #666;
  display: inline-block;
  height: 45px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}
.nav span.cur {
  background: rgba(228, 228, 228);
}
.title {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  background: #f8f8f8;
  color: #333;
  margin-bottom: 20px;
}
.form-group span {
  width: 100px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.form-group .wen {
  position: relative;
  top: 6px;
  left: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid skyblue;
  color: skyblue;
  font-size: 24px;
  cursor: pointer;
}
.form-group .wen:hover .tip{
  display: block;
}
.form-group .wen .tip {
  width: 800px;
  height: 230px;
  position: absolute;
  bottom: 0;
  left: 60px;
  display: none;
}
.form-group .wen .tip p {
  color: #333;
  text-align: left;
  font-size: 14px;
}
.form-group .wen .tip span {
  color: skyblue;
  display: inline;
}
.form-group .select2-container span {
  text-align: left;
}
.form-group select {
  width: 100px;
  height: 32px;
}
.form-group input {
  width: 400px;
  height: 36px;
}
.button {
  margin-left: 40px;
  margin-bottom: 20px;
}
.button .btn {
  background: #26AB5F;
  color: #fff;
}