.form-group .span {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
  }
  
  .form-group .tips {
    display: inline-block;
    width: 45%;
    color: red;
    vertical-align: top;
    margin: 0 0 0 10px;
  }
  #search {
    width: 100%;
    margin-top: 16px;
  }
  
  .form-group .address {
    width: 300px;
  }
  
  .form-group .zuobiao {
    width: 280px;
  }
  
  .form-group .fa-map-marker {
    color: red;
    width: 15px;
    height: 15px;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .edit {
    color: #00c0ef;
    cursor: pointer;
  }
  
  .button {
    float: right;
  }
  
  .form-group .hidden-xs {
    width: 50px;
  }
  
  /*样式改动*/
  .modal-header {
    background: #D7D7D7;
  }
  
  .Answer {
    display: inline-block;
    float: left;
  }
  
  #wrap {
    display: inline-block;
  }
  
  #tit span {
    float: left;
    margin-right: 10px;
    display: block;
    padding: 5px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  #tit span i {
    color: #FF0000;
    font-style: normal;
  }
  
  #tit span.select {
    border: 1px solid #ccc
  }
  
  #con {
    width: 400px;
  }
  
  #con li {
    display: none;
    margin-top: 10px;
  }
  
  #con li label {
    margin-right: 16px;
  }
  
  #tit {
    margin-bottom: 10px;
  }
  
  #wrap {
    width: 426px;
  }
  .fl {
    float: left;
  }
  body .select2-dropdown {
    z-index: 99999999 !important;
  }
  #chongzhi {
    width:100%;
    background:#fff;
    color:#333;
    height: 34px;
    margin-top: 16px;
    border-radius: 3px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #00acd6;
  }