#mainContent {
  width: 1100px;
  margin-left: 30px;
}

.top-menu {
  padding: 10px 0;
}
.cur {
  background: #ccc;
}
#sf-sort {
  display: none;
}
.tablebg {
  background: #F3F3F3;
}

.table .tableth {
  text-align: left;
}

.table .tableCell .input {
  float: left;
  margin: 0 5px;
}

.table .tableCell .input input[type=text] {
  width: 100px;
  height: 30px;
  border: 1px solid #c6c6c6;
  padding-left: 5px;
  border-radius: 3px;
}

.table .tableCell .input input[type=radio] {
  margin-top: 8px;
}

.table .tableCell .input select {
  border: 1px solid #c6c6c6;
  width: 50px;
  padding: 5px;
  border-radius: 3px;
}

.table .rowSpan .tableCell {
  border-top: 0;
}

.table .tableCell .input textarea {
  width: 455px;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding-left: 2px;
  height: 60px;
  resize: none;
}

.table .tableth .span,
.table .tableCell .span {
  font-size: 14px;
  font-weight: bold;
  float: left;
  margin-top: 5px;
  cursor: pointer;
}

.table .tableCell:after {
  content: "";
  clear: both;
  display: block;
}

.table .tableCell .button {
  float: left;
  margin-left: 10px;
  width: 100px;
  padding: 4px 12px;
}

.table .adv_index {
  margin-right: 5px;
}

.table .adv_index:first-child {
  margin-left: 5px;
}

.table .tableCell .adv_citys {
  font-weight: normal;
  font-size: 12px;
  margin-right: 5px;
}

.table .tableCell .adv_input {
  margin: 0;
}

.table .tableCell .adv_input .span:hover {
  color: #ff0000;
}

.table .tableCell .adv_active {
  background: #428BCA;
  color: #ffffff;
}

.advTable {
  width: 100%;
  bottom: 1px solid #DDD;
}

.advTable th,
.advTable td {
  text-align: center;
  border-top: 1px solid #DDD;
  padding: 5px 10px;
  border-left: 1px solid #DDD;
}

.advTable th:first-child,
.advTable td:first-child {
  border-left: 0;
}

.advTable th span,
.advTable td span {
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
}

.advTable img {
  width: 100px;
  height: 60px;
  cursor: pointer;
}

.table .tableCell .adv_current {
  font-weight: bold;
  color: #ff0000;
}

.input .button {
  float: left;
  margin-bottom: 10px;
}

.adv-error {
  color: #ff0000;
  font-weight: bold;
  padding: 5px;
  float: left;
}

#myForm .span {
  float: left;
  margin-top: 5px;
}

#myForm .adv-error {
  margin-top: 3px;
}

textarea {
  resize: none;
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0
}


/*.pyline{overflow: hidden;}*/

.pyline dd dl a,
.sfline dd dl a {
  width: 80px;
  display: inline-block;
  text-align: center;
}

.pyline dd dl,
.sfline dd dl {
  width: 190px;
  float: left;
}

.form-control.ipt-comid {
  display: inline;
  width: 70px
}