.qcc_fl{
    float: left;
}
.qcc_fr{
    float: right;
}
.qcc_mb20{
    margin-bottom: 20px;
}

.qcc-bootom{
    background: #f5f5f5;
    padding: 40px 0 30px;
}
.qcc-bootom ul li{
    float: left;
    width: 290px;
    height: 160px;
    background: #fff;
    margin-right: 20px;
}
.qcc-bootom ul li.last{
    margin-right: 0;
}
.qcc-bootom ul li img{
    width: 81px;
    height: 81px;
    margin: 39px 24px 0 14px;
}
.qcc-bootom .bom-item-r{
    margin-left: 95px;
    margin-top: 40px;
}
.qcc-bootom .bom-item-r h4{
    font-size: 24px;
    color: #333;
    font-weight: normal;
    line-height: 44px;
}
.qcc-bootom .bom-item-r p{
    color: #999999;
    font-size: 16px;
    line-height: 25px;
}

.qcc-footer{
    background: #333;
    color: #999;
    padding-top: 30px;
}
.qcc-footer h5{
    display: inline-block;
    line-height: 30px;
    padding: 0 13px;
    background-color: #666666;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}
.qcc-footer-link ul li{
    float: left;
    margin-right: 20px;
    font-size: 12px;
    line-height: 52px;
}
.qcc-footer-link ul li a{
    color: #999999;
}
.qcc-footer-link ul li a:hover{
    color: #E62E2E;
}