.qcc-banner{
    width: 100%;
    height: 380px;
    overflow: hidden;
    background: url("//staticqn.qizuang.com/custom/20200617/Fn4R4OoQjzVqrTolJQWC5OZGM3g9") no-repeat center center;
}
.qcc-banner-form{
    width: 865px;
    margin: 0 auto;
    padding-top: 206px;
    *zoom: 1;
    position: relative;
}
.qcc-banner-form input{
    width: 765px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    padding-left: 10px;
    border-radius: 3px 0 0 3px;
    border: none;
}
.qcc-banner-form .form-right{
    padding-left: 30px;
    width: 60px;
    height: 45px;
    line-height: 45px;
    background: #3388FF url("/assets/home/qcc/images/search_icon.png") no-repeat  12px 15px;
    background-size: 16px 16px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}

.qcc-banner .hot-company{
    color: #fff;
    margin-left: 178px;
    margin-top: 24px;
    font-size: 14px;
    line-height: 24px;
}
.qcc-banner .hot-company ul li {
    float: left;
    margin-right: 10px;
}
.qcc-banner .hot-company ul li a{
    display: inline-block;
    height: 24px;
    text-align: center;
    padding: 0 10px;
    background-color: #3388FF;
    border-radius: 12px;
    color: #fff;
}

.qcc-icon-list{
    font-size: 16px;
    line-height: 36px;
    color: #333333;
    padding-top: 30px;
    margin-bottom: 20px;
}
.qcc-icon-list .icon-item{
    float: left;
    padding: 0 112px;
    text-align: center;
    position: relative;
}
.qcc-icon-list .icon-item-first{
    padding-left: 0px;
}
.qcc-icon-list .icon-item-list{
    padding-right: 0px;
}
.qcc-icon-list .icon-item .img{
    width: 64px;
    height: 64px;
}
.qcc-icon-list .icon-item .line{
    position: absolute;
    right: 0;
    top: 20px;
    display: inline-block;
    height: 52px;
    width: 1px;
    background-color: #ccc;
}
.qcc-banner-8s{
    background-color: #F5F5F5;
    padding: 30px 0;
}
.qcc-banner-8s img{
    display: block;
}

/* 装修公司列表 */
.qcc-company-list-top{
    text-align: center;
    padding: 20px 0;
}
.qcc-company-list-top h3{
    color: #333;
    font-size: 30px;
    line-height: 50px;
    font-weight: normal;
    display: inline-block;
    padding: 0 15px;
}
.qcc-company-list-top p{
    font-size: 16px;
    line-height: 36px;
    color: #999;
}
.qcc-company-list-top p a{
    color: #FF8C25;
}
.qcc-company-list-top .icon{
    display: inline-block;
    width: 19px;
    height: 24px;
    background-repeat: no-repeat;
    margin-top: 15px;
}
.qcc-company-list-top .icon-l{
    float: left;
    background-image: url(/assets/home/qcc/images/title-icon-r.png);
    margin-right:20px;
}
.qcc-company-list-top .icon-r{
    float: right;
    background-image: url(/assets/home/qcc/images/title-icon-l.png);
    margin-left: 20px;
}

.qcc-company-list-main{
    margin-bottom: 10px;
}
.qcc-company-list-main .list-item{
    width: 288px;
    /* height: 228px; */
    border: 1px solid #E6E6E6;
    margin: 0 7px 20px 8px;
    float: left;
}
.qcc-company-list-main .list-item:hover {
    -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    z-index: 10;
    cursor: pointer;
}
.qcc-company-list-main .list-item .company-logo{
    width: 250px;
    height: 80px;
    margin: 0 auto;
    margin-top: 14px;
    text-align:  center;
}
.qcc-company-list-main .list-item .company-logo img{
    width: 126px;
    height: 63px;
    margin-top: 12px;
}
.qcc-company-list-main .list-item h5{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 12px;
    line-height: 26px;
    width: 256px;
    margin:10px auto 12px;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
}
.qcc-company-list-main .list-item h5 a{
    color: #333;
}

.qcc-company-list-main .list-item .bom-num{
    font-size: 14px;
    color: #666;
    margin: 0 30px 20px;
}
.qcc-company-list-main .list-item .bom-num .good,
.qcc-company-list-main .list-item .bom-num .cases{
    display: inline-block;
    height: 22px;
    color: #FDFDFD;
    padding: 0 5px;
    border-radius: 2px;
}
.qcc-company-list-main .list-item .bom-num .good{
    background-color: #FF8929;
}
.qcc-company-list-main .list-item .bom-num .cases{
    background-color: #3388FF;
}
