body {
    background-color: #f5f5f5;
}

.qcc-info-banner {
    height: 80px;
}

.qcc-info-banner img {
    width: 100%;
    height: 100%;
    display: block;
}

.qcc-search {
    margin: 30px 0;
}

.qcc-search input {
    width: 765px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    padding-left: 10px;
    border-radius: 3px 0 0 3px;
    border: none;
    color: #999;
}

.qcc-search .form-right {
    padding-left: 30px;
    width: 60px;
    height: 45px;
    line-height: 45px;
    background: #3388FF url("/assets/home/qcc/images/search_iconx.png") no-repeat center center;
    background-size: 28px 28px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.qcc-search-left {
    margin-top: 7px;
}

.qcc-search-right {
    margin-right: 30px;
}

.warp-item-l {
    background-color: #ffffff;
    width: 830px;
    padding: 0 20px;
    position: relative;
}

.warp-item-l .none {
    line-height: 50px;
    color: #999;
    font-size: 16px;
    text-align: center;
}

.warp-item-l .item-top {
    line-height: 50px;
    color: #999;
    font-size: 16px;
}

.warp-item-l .item-top-num {
    color: #3388FF;
    font-weight: bold;
}

.warp-item-l .item-top-select select {
    width: 150px;
    height: 30px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("/assets/home/decoration/img/down-ang2.png") no-repeat scroll right 8px center transparent;
    background-color: #fff;
    font-size: 14px;
    color: #999;
    outline: none;
}

.warp-item-l-list {
    margin-bottom: 40px;
    overflow: hidden;
}
.warp-item-l-list ul {
    overflow: hidden;
}
.warp-item-l-list ul li {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.warp-item-l-list ul li h4 {
    color: #333;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 13px;
    margin-bottom: 20px;
}
.warp-item-l-list ul li h4 a{
    color: #333;
}

.warp-item-l-list ul li h4 .top-right {
    display: inline-block;
    border: 1px solid #119D40;
    color: #119D40;
    line-height: 22px;
    padding: 0 10px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 2px;
}

.warp-item-l-list ul li .mid, .warp-item-l-list ul li .bom {
    font-size: 14px;
    line-height: 36px;
    color: #999;
}

.warp-item-l-list ul li .mid .name {
    color: #3388FF;
}

.qcc-down-appcode .l-img{
    text-align: right;
    margin-top: 16px;
    width: 40%;
}
.qcc-down-appcode .l-img img{
    width: 100px;
    height: 100px;
    margin-right: 12px;
}
.qcc-down-appcode .r-text{
    text-align: left;
    margin-top: 18px;
    width: 60%;
}
.qcc-down-appcode .r-text h5{
    margin-left: 12px;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
}
.qcc-down-appcode .r-text h5 span{
    color: #3388FF;
}

.qcc-down-appcode .r-text p{
    margin-left: 12px;
}
.warp-item-openapp{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 870px;
    height: 306px;
    background: url(/assets/home/qcc/images/down-appbj.png) repeat-x 0 0;
    
}
.qcc_h210{
    height: 210px;
}
.warp-item-openapp .l-img,
.warp-item-openapp .r-text{
    width: 50%;
}
.warp-item-openapp .l-img{
    text-align: right;
    margin-top: 156px;
}
.warp-item-openapp .l-img img{
    width: 100px;
    height: 100px;
    margin-right: 12px;
}
.warp-item-openapp .r-text{
    text-align: left;
    margin-top: 148px;
}
.warp-item-openapp .r-text h5{
    margin-left: 12px;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
}
.warp-item-openapp .r-text h5 span{
    color: #3388FF;
}

.warp-item-openapp .r-text p{
    margin-left: 12px;
}

.qcc_col333 {
    color: #333;
}

.qcc_mr40 {
    margin-right: 40px;
}

.warp-item-l-list .look-btn {
    display: inline-block;
    border: 1px solid #3388FF;
    color: #3388FF;
    line-height: 34px;
    padding: 0 12px;
    border-radius: 2px;
}

.wrap-item-r .qzewm-img {
    width: 330px;
}

.wrap-item-r .qzewm-img img {
    width: 100%;
    height: auto;
    display: block;
}

.wrap-item-r .company-list {
    background-color: #fff;
}

.wrap-item-r .company-list-top {
    width: 330px;
    height: 50px;
    background-color: #E69145;
    /* overflow: hidden; */
    line-height: 50px;
    font-size: 16px;
    color: #fff;
}

.wrap-item-r .company-list-top .img {
    float: left;
    width: 26px;
    height: 31px;
    margin: 7px 12px 12px 11px;
}

.wrap-item-r .company-list-top a {
    color: #fff;
    font-size: 14px;
    margin-right: 13px;
}

.wrap-item-r .company-list-item {
    padding-bottom: 20px;
}

.wrap-item-r .company-list-item ul li {
    overflow: hidden;
    border-bottom: 1px solid #E6E6E6;
    margin: 0 10px;
}

.wrap-item-r .company-list-item .img {
    float: left;
    margin: 20px 10px 10px 0;
    position: relative;
}

.wrap-item-r .company-list-item .img .jb {
    position: absolute;
    right: -2px;
    top: -3px;
}

.wrap-item-r .company-list-item .info {
    margin-left: 120px;
}

.wrap-item-r .company-list-item .info h5 {
    margin-top: 18px;
    margin-bottom: 5px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
}
.wrap-item-r .company-list-item .info h5 a{
    color: #333;
}

.wrap-item-r .company-list-item .info .info-bom {
    color: #666;
    font-size: 14px;
}

.wrap-item-r .company-list-item .info .info-bom .ping, .wrap-item-r .company-list-item .info .info-bom .an {
    display: inline-block;
    color: #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
}
.wrap-item-r .company-list-item .info .info-bom{
    width: 86px;
}
.wrap-item-r .company-list-item .info .info-bom .ping {
    background-color: #FF8929;
}

.wrap-item-r .company-list-item .info .info-bom .an {
    background-color: #43B596;
}

.warp-details-l {
    width: 830px;
}

.company-details {
    background-color: #fff;
    padding: 20px 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.company-details h4 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 6px;
}

.company-details h4 .cubxu, .company-details h4 .zym, .company-details h4 .shshi {
    display: inline-block;
    line-height: 22px;
    padding: 0 13px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 10px;
}

.company-details h4 .cubxu {
    border: 1px solid #119D40;
    color: #119D40;
}

.company-details h4 .zym {
    border: 1px solid #FF9D29;
    color: #FF9D29;
}

.company-details h4 .shshi {
    border: 1px solid #DB2C2C;
    color: #DB2C2C;
}

.company-details p {
    font-size: 14px;
    line-height: 28px;
    color: #999;
}

.company-details p span {
    color: #333;
}

.company-info {
    background-color: #fff;
    padding: 0 20px 20px;
}

.company-info-top h5 {
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    line-height: 50px;
    background: url('/assets/home/qcc/images/business-icon.png') no-repeat left center;
    background-size: 18px 18px;
}

.company-info-table {
    width: 100%;
    border-color: #E6E6E6;
    font-size: 14px;
    color: #666;
}

.company-info-table tr th {
    line-height: 50px;
}

.company-info-table tr th.col333 {
    color: #333;
}

.text-l {
    padding-left: 10px;
    text-align: left;
}

.company-info-table tr th.th-w700 {
    width: 650px;
    text-align: left;
    line-height: 16px;
    padding: 20px 10px;
}

