@import "../../../styles/public.css";
.wd {
    width: 92%;
    margin: 0 auto;
    overflow: hidden;
}
.wd-title {
    padding: 10rpx 0;
    font-size: 48rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 70rpx;
}
.wd-label {
    display: inline-block;
    overflow: hidden;
    height: 60rpx;
    line-height: 60rpx;
    text-align: center;
    padding: 0 30rpx;
    background: rgba(255, 227, 227, 1);
    border-radius: 30rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: rgba(255, 95, 97, 1);
}
.wd-con {
    font-size: 34rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 56rpx;
    overflow: hidden;
}
.wd-img image {
    width: 100%;
    overflow: hidden;
    margin-top: 10rpx;
}
.wd-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80rpx;
}
.wd-info .in-left {
    font-size: 25rpx;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}
.wd-info .in-left text {
    color: rgba(255, 95, 97, 1);
}
.wd-info .in-right {
    font-size: 24rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}
.wd-banner {
    width: 100%;
    height: 167rpx;
}
.wd-banner image {
    width: 100%;
    height: 100%;
}
/* 列表 */

.answer {
    width: 92%;
    height: auto;
    padding-top: 20rpx;
    margin: 0 auto;
    background: #ffffff;
    box-sizing: border-box;
    border-bottom: 1rpx solid #f3f3f3;
    overflow: hidden;
}
.answer .an-head {
    height: 80rpx;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.an-head .h-left {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.an-head .h-left .l-avar {
    width: 60rpx;
    height: 60rpx;
    border-radius: 50%;
}
.an-head .h-left .l-name {
    margin-left: 20rpx;
    font-size: 28rpx;
    font-weight: bold;
    color: rgba(102, 102, 102, 1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.an-head .h-right {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0 25rpx;
    height: 50rpx;
    background: rgba(255, 227, 227, 1);
    border-radius: 25rpx;
    font-size: 24rpx;
    font-weight: 500;
    color: rgba(255, 95, 97, 1);
}
.an-con {
    width: 100%;
    height: auto;
    font-size: 28rpx;
    line-height: 48rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.answer .true {
    display: block;
    text-overflow: clip;
    overflow: visible;
}
.an-handle {
    width: 100%;
    height: 60rpx;
    line-height: 60rpx;
    text-align: center;
    font-size: 28rpx;
    font-weight: bold;
    color: rgba(64, 158, 255, 1);
}
.an-info {
    width: 100%;
    height: 80rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24rpx;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}
.an-info .in-right {
    height: 80rpx;
    padding: 0 20rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.in-right image {
    width: 26rpx;
    height: 25rpx;
}
.in-right .r-num {
    margin-left: 14rpx;
    font-size: 22rpx;
}
.an-item {
    padding-bottom: 10rpx;
}
.an-icon {
    width: 100%;
    height: 100rpx;
    display: flex;
    align-items: center;
    font-size: 32rpx;
    font-weight: bold;
    color: #ff5659;
}
.an-icon image {
    width: 42rpx;
    height: 42rpx;
    display: block;
    margin-right: 20rpx;
}
.btm-nomore {
    margin-bottom: 60rpx;
    padding-bottom: 0 !important;
}
.ad-container {
    padding: 20rpx 0 0rpx;
    background: #f1f1f2;
    margin-bottom: 100rpx;
}
.ad-container .ad {
    background: #fff;
}

/* 主体 */
.l-main {
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 100rpx;
}
.btm-nomore{display: block; width: 100%; height: 60rpx; padding-bottom: 100rpx; line-height: 60rpx; font-size: 24rpx; color: #999; text-align: center;}