/* 二维码 */
.bama_s {
	width: 100%;
	padding: 0   0.102rem  0.128rem;
	box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 0.085rem;
    border-bottom-right-radius: 0.085rem;
	
}
.bgc_fff {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.128rem 0.102rem;
	box-sizing: border-box;
}

.bama_img {
    width: 0.623rem;
    height: 0.623rem;
	margin-right: 0.201rem;
}
.bama_img img {
    width: 100%;
    height: 100%;
}
.bama_text {
	color: #333;
	font-size:0.119rem;
    font-weight: bold;
}
.first_bama {
    margin-bottom: 0.1414rem;
 
}

.bama_apn {
	color: #CC3300;
	font-size: 0.119rem;
	font-weight: bold;
}