
.fl {
    float: left;
}

.fr {
    float: right;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.m-fadan-content {
    position: relative;
    /*background:#3C46A6 url("\/\/staticqn.qizuang.com/custom/20181114/FmWlYpt9cbUrOPBjUdsAuE8-ieAZ") repeat-y;*/
}

.m-img-box {
    position: relative;
}

.m-img-box img {
    width: 100%;
    height: auto;
    display: block;
}

.content-box{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sub-box {
    /*width: 2.32rem;*/
    width: 85%;
    margin: 0 auto;
    height: 1.2rem;
    background: url("/assets/mobile/baojia/img/bj2-sub-box.png") no-repeat center;
    background-size: contain;
    position: relative;
  /*  position: absolute;
    top: 0.55rem;
    !*left: 0.45rem;*!
    left: 50%;
    transform: translateX(-50%);*/
}

.sub-box h3 {
    width: 3rem;
    position: absolute;
    top: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.3rem;
    font-family: MicrosoftYaHei;
    font-weight: normal;
    color: rgba(250, 159, 1, 1);
    line-height: 0.28rem;
    letter-spacing: 0.01rem;
}

.sub-box h3 span {
    font-weight: bold;
}

.sub-box .sub-detail {
    /*width: 100%;*/
    width: 4rem;
    position: absolute;
    top: 0.65rem;
    left: 50%;
    transform: translateX(-24%);
    font-size: 0.13rem;
    font-family: MicrosoftYaHei;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 0.26rem;
}

.sub-box .sub-short {
    position: absolute;
    top: 0.85rem;
    left: 50%;
    transform: translateX(-50%);
}

.sub-box .sub-short span {
    font-size: 0.16rem;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 0.33rem;
    vertical-align: middle;
}

.sub-box .sub-short .sub-icon {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    margin: 0 0.1rem;
    background: url("/assets/mobile/baojia/img/bj2-icon-house.png") no-repeat center;
    border-radius: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.content-label {
    width: 100%;
    margin-top: 0.3rem;
/*    position: absolute;
    bottom: 0.2rem;
    left: 50%;
    transform: translateX(-50%);*/
    text-align: center;
}

.content-label li {
    /*float: left;*/
    display: inline-block;
    text-align: center;
}

.content-label li.babel-exact {
    margin: 0 0.3rem;
}

.content-label li span {
    display: inline-block;
    width: 0.45rem;
    height: 0.45rem;
    line-height: 0.45rem;
    background: #E75724;
    border-radius: 50%;
    text-align: center;
    font-size: 0.26rem;
    font-family: MicrosoftYaHei;
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
}

.content-label li p {
    font-size: 0.08rem;
    font-family: MicrosoftYaHei;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 36px;
}
.content-label li:nth-of-type(2) span{
    background: #DC9924;
}
.content-label li:nth-of-type(3) span{
    background: #DE4347;
}


.form-box {
    margin: 0.2rem 0;
    /* border: 1px solid #dedee0; */
    /* border-radius: 10px; */
    /* margin-top: 15px; */
    background: #fff;
    position: relative;
    /* top: -5px; */
    /* box-shadow: 0px 0px 20px rgba(0,0,0,.8); */
}

.form-title .znbj {
    /*width: 0.75rem;*/
    /*width: 30%;*/
    height: 0.3rem;
    margin: 0 auto;
    margin-top: 0.12rem;
    text-align: center;
    font-size: 0.14rem;
    position: relative;
    font-weight: normal;

}

/*.form-title h3:after{
    content: '';
    width: 0.12rem;
    height: 1px;
    background: #666666;
    position: absolute;
    top: 0.10rem;
    right: 0.70rem;
}
.form-title h3:before{
    content: '';
    width: 0.12rem;
    height: 1px;
    background: #666666;
    position: absolute;
    top: 0.10rem;
    left: 0.70rem;
}*/
.money-main {
    background: #D1D1D1;
    height: 0.51rem;
    padding: 0.04rem;
    border-radius: 10px;
}

.money-img {
    margin: 0;
    height: 0.45rem;
    border: 3px solid #000;
    border-radius: 5px;
    background: rgba(209, 209, 209, 1);
}

.money-box {
    border: none;
    margin-top: 0;
    position: relative;
    top: 9px;
}

.money-box span {
    color: #333333;
}

.num {
    width: 24px;
    height: 36px;
    background: url(/assets/mobile/baojia/img/num-pic.png) no-repeat;
    /*background-size: 100%;*/
    float: left;
    margin-right: 2px;
    margin-top: 0;
}

.num-gray {
    background-position: -24px -14px !important;
}

.num-0 {
    background-position: -55px -14px !important;
}

.num-1 {
    background-position: -88px -14px !important;
}

.num-2 {
    background-position: -117px -14px !important;
}

.num-3 {
    background-position: -146px -14px !important;
}

.num-4 {
    background-position: -177px -14px !important;
}

.num-5 {
    background-position: -206px -14px !important;
}

.num-6 {
    background-position: -238px -14px !important;
}

.num-7 {
    background-position: -268px -14px !important;
}

.num-8 {
    background-position: -296px -14px !important;
}

.num-9 {
    background-position: -329px -14px !important;
}


.form-once {
    margin-top: 10px;
    padding: 0 0.22rem;
}

#shenming {
    padding-top: 3px;
}

.m-b-btn {
    margin-left: 10px !important;
    margin-right: 10px !important;
    background: #F53E3E;
    line-height: 0.35rem;
    height: 0.35rem;
}

.m-zxbj-edit li {
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
}

.m-bj-edit {
    margin: 0 10px;
}

.m-bj-edit li .c-zb-city, .m-bj-edit li .m-bj-edit-list {
    /*height: 0.51rem;*/
    height: 0.33rem;
}

.datashow {
    width: 94px;
    margin: 0 auto;
    padding: 1em 0;
}

.services {
    text-align: center;
    margin-top: 0.3rem;
}

.services-title {
    margin: 0.15rem 0;
}

.services-title span, .services-title h3 {
    display: inline-block;
    vertical-align: middle;
    height: 0.27rem;
    line-height: 0.27rem;
}

.services-title h3 {
    font-size: 0.25rem;
    font-weight: normal;
    color: #000;
    letter-spacing: 0.02rem;
}

.services-title span {
    width: 0.28rem;
    height: 0.14rem;
    padding: 0.01rem 0;
    background: url("/assets/mobile/baojia/img/bj2-icon-1.png") no-repeat;
    background-size: contain;
}

.services-box {
    background: url("/assets/mobile/baojia/img/bj2-banner2.png") no-repeat;
    background-size: 100% 100%;
    padding: 0.32rem 0.12rem 0.2rem 0.25rem;
}

.services-box li {
    width: 95%;
    margin-bottom: 0.19rem;
    font-size: 0;
}

.services-box li span, .services-box li p {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.13rem;

}

.services-box li>span {
    /*width: 0.48rem;*/
    width: 15.7%;;
    height: 0.39rem;
    line-height: 0.39rem;
    font-size: 0.25rem;
    text-align: center;
    color: #FFF;
    background: #41ABE7;
}

.services-box li:nth-of-type(2)>span {
    background: #EC6941;
}

.services-box li:nth-of-type(3)>span {
    background: #F39800;
}

.services-box li:nth-of-type(4)>span {
    background: #8FC31F;
}

.services-box li:nth-of-type(5)>span {
    background: #EB6877;
}

.services-box li p {
    /*width: 2.3rem;*/
    width: 84.3%;
    height: 0.39rem;
    font-size: 0.1rem;
    background: #fff;
    box-sizing: border-box;
    padding: 0.06rem 0.05rem 0.03rem 0.1rem;
    color: #555;
    text-align: left;
}
.services-box li p.smart{
    padding-top: 0.1rem;
}
.services-box li p span{
    color: #000;
    font-size: 0.128rem;
}

.styles {
    text-align: center;
    margin-top: 0.3rem;
}

.styles-title span, .styles-title h3 {
    display: inline-block;
    vertical-align: middle;
    height: 0.27rem;
    line-height: 0.27rem;
}

.styles-title h3 {
    font-size: 0.25rem;
    font-weight: normal;
    color: #000;
    letter-spacing: 0.05rem;
}

.styles-title span {
    width: 0.50rem;
    height: 0.15rem;
    padding: 0.01rem 0;
    background: url("/assets/mobile/baojia/img/bj2-icon-2.jpg") no-repeat;
    background-size: contain;
}

.style-banner {
    margin: 0.15rem 0;
}

.banner-left {
    float: left;
    /*width: 0.52rem;*/
    width: 14%;
    height: 0.83rem;
    background: #FA9F01;
    color: #1B1B1B;
    font-size: 0.14rem;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0.02rem 0.15rem 0 0.15rem;
    text-align: center;

}

.banner-right {
    float: right;
    background: #FCB231;
    /*width: 2.55rem;*/
    width: 81%;
    height: 0.83rem;
    padding: 0.15rem 0.05rem;
    box-sizing: border-box;
}

.banner-right li {
    display: inline-block;
    margin: 0 0.01rem;
    padding: 0.05rem;
    font-size: 0.14rem;
    font-style: italic;
    font-family: "DengXian-Regular";
    color: #1B1B1B;
}

.style-box {
    padding: 0 0.08rem;
}

.box-left-img {
    /*width: 1.48rem;*/
    width: 47%;
}

.box-left-img img {
    width: 100%;
    vertical-align: top;
}

.box-right-img {
    /*width: 1.52rem;*/
    width: 50%;
}

.box-right-img img {
    width: 100%;
    vertical-align: top;
}

.box-right-img img:first-child {
    margin-bottom: 0.13rem;
}

.box-bottom {
    text-align: left;
    margin: 0.08rem 0;
}

.box-bottom .left-img {
    /*width: 1.90rem;*/
    width: 61.5%;
}

/*.box-bottom >div{
    height: 2rem;
}*/
.box-bottom .left-img img {
    width: 100%;
    vertical-align: top;
}

.box-bottom .right-img {
    /*width: 1.1rem;*/
    width: 35%;
}

.box-bottom .right-img img {
    width: 100%;
    vertical-align: top;
}

.submitBtn {
    margin: 0.15rem 0.22rem 0.25rem 0.22rem;
    background: #F53E3E;
    text-align: center;
    /*border-radius: 5px;*/
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);*/
}

.baojia-btn {
    display: block;
    height: 0.33rem;
    font-size: 0.14rem;
    font-family: 'PingFang-SC-Medium';
    line-height: 0.33rem;
    color: #ffffff;
}

#showCityPicker2 {
    background: #EBEBEB;
    border-radius: 5px !important;
}

.map-marker {
    width: 0.15rem;
    height: 0.15rem;
    background: url("/assets/mobile/baojia/newbaojia/baojia-map-mark.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.m-bj-edit li .m-row-int1 {
    background: #EBEBEB;
    border-radius: 5px !important;
}

.m-bj-edit li .jz-baojia{
    background: #fff;
    outline: none;
}
.m-bj-edit li span.dw{
    top: -6px;
}
.jz-baojia-btn{
    margin-top: 0.20rem;
}
.save-submit {
    border-radius: 5px;
}

/* #3C46A6*/
/*#footer{
    background:#3C46A6 url("/assets/mobile/baojia/newbaojia/baojia-bg.png") repeat-y; url("/assets/mobile/baojia/newbaojia/footerImg.png") no-repeat center bottom;
    background-size:110% 0.37rem;
    border: none;
    color: #fff;
    position: relative;
    top: -5px;
    background-position-y: 148px;
    padding-bottom: 50px;
}
#footer .hot{
    color:#3dfcfe;
}
#footer .footer-tel .phone-box{
    border: 1.5px solid #3dfcfe;
}*/

#footer {
    display: none;
}

#footer-container {
    text-align: center;
    width: 100%;
    padding: 1em 0;
    font-size: 0.6em;
    color: #999;
    /*background: url("/assets/mobile/baojia/newbaojia/footerImg.png") no-repeat center bottom;*/
    background-size: 110% 0.5rem;
    position: relative;
    background-position-y: 120px;
    padding-bottom: 30px;
    background-color: #eee;
}

#footer-container .footer-tel {
    font-size: 0;
}

#footer-container .footer-tel span, #footer-container .footer-tel a {
    font-size: 0.19rem;
    font-family: SimSun;
    font-weight: 400;
    color: #333;
}
#footer-container .footer-tel a{
    color: #F24040;
}
#footer-container .phone-box {
    margin-left: 0.10rem;
    margin-right: 0.03rem;
}

.hot {
    color: #3DFDFF;
}

.phone-icon {
    display: inline-block;
    vertical-align: middle;
    width: 0.17rem;
    height: 0.18rem;
    background: url("/assets/mobile/baojia/img/bj2-phone-icon.png") no-repeat center;
    background-size: contain;
}

.footer-title {
    font-size: 0.18rem;
    font-family: SimSun;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin: 0.05rem 0 0.1rem 0;
}
