header {
    z-index: 3;
}

footer {
    border-top: 1px solid #eee;
    padding-bottom: 10px;
    /*background:#fff;*/
}

input, button {
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.qb-box {
    background: #F6E5EE;
}

.m-img-box {
    position: relative;
}

.m-img-box img {
    width: 100%;
    height: auto;
}

.arrow {
    width: 8%;
    position: absolute;
    bottom: 0%;
    right: 16%;
}

.arrow img {
    width: 100%;
    animation: arrowdown 0.8s linear 2s infinite alternate;
}

@keyframes arrowdown {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5%);
    }
    50% {
        transform: translateY(10%);
    }
    75% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

.form-once {
    padding-top: 0.1rem;
}

.form-box {
    background: #fff;
    width: 95%;
    padding: 0.02rem 0 0.15rem 0;
    margin: 0 auto;
    box-shadow: 0rem 0.0043rem 0.0853rem 0rem rgba(0, 0, 0, 0.1);
    border-radius: 0.0853rem;
}

.save-submit {
    border-radius: 0.0853rem;
    margin: 0.0427rem 0.1753rem;
    font-size: 0.1536rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.01rem;
}

.carsoule {
    margin: 0 22px; /*修改*/
    margin-top: .8em;
}

.carsoule-box {
    width: 100%;
    height: 50px;
    background: url("/assets/mobile/baojia/img/qb-carsoule.png") no-repeat;
    background-size: 100% 100%;
}

.carsoule-item {
    font-size: 0;
}

.carsoule-item img {
    display: inline-block;
    width: 8%;
    vertical-align: top;
    margin-top: 5%;
    margin-left: 4%;
}

.carsoule-words {
    width: 75%;
    height: 0.25rem;
    display: inline-block;
    overflow: hidden;
    padding-top: 0.04rem;
}

.carsoule-words ul {
    position: relative;
}

.carsoule-words ul li {
    height: 0.25rem;
}

.carsoule-item p {

    vertical-align: top;
    font-size: 0.1109rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(236, 56, 74, 1);
    margin-top: 5%;
    margin-left: 8%;
}

.m-bj-edit {
    margin: 0 22px; /*修改*/
    margin-top: .8em;
}

.m-bj-edit li {
    height: 0.6rem;
    margin-bottom: 0;
}

.m-bj-edit li .m-bj-edit-list {
    height: 0.45rem;
    border: 1px solid rgba(153, 153, 153, 1);
    box-shadow: -1px 0px 1px 0px rgba(17, 17, 17, 0.1);
    border-radius: 0.0427rem;
    padding: 0.0427rem 0.0853rem;
}

.error-tips {
    display: block;
    font-style: normal;
    font-size: 0.1rem;
    color: #F50000;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
}

.map-marker {
    width: 0.15rem;
    height: 0.15rem;
    margin-top: 0.08rem;
    background: url(/assets/mobile/baojia/newbaojia/baojia-map-mark.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.more-chose {
    padding-top: 0.1963rem;
    position: relative;
    /*min-height: 6rem;*/
}

.chose-title {
    width: 100%;
    text-align: center;
    padding: 0.1365rem 0 0.2987rem 0;
    background: url("/assets/mobile/baojia/img/more-banner.png") no-repeat;
    background-size: 100%;
}

.title-box {
    /*width: 2.5rem;*/
    width: 80%;
    padding: 0.0725rem 0 0.09rem 0;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
}

.title-box h3 {
    width: 100%;
    height: 0.2688rem;
    font-size: 0.25rem;
    font-family: PingFang-SC-Bold;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: 0.25rem;
}

.chose-title > p {
    width: 100%;
    margin: 0 auto;
    font-size: 0.1024rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 0.2rem;
    letter-spacing: 0.03rem;
}

.chose-box {
    width: 94%;
    /*height: 200px;*/
    position: relative;
    top: -0.2rem;
    left: -50%;
    transform: translateX(57%);
    z-index: 2;
}

.chose-box .box-item {
    width: 100%;
    border-radius: 0.0853rem;
    background: #fff;
    margin-bottom: 0.128rem;
}

.box-item .item-left {
    width: 64%;
    border-top-left-radius: 0.0853rem;
    border-bottom-left-radius: 0.0853rem;
}

.box-item .item-left img {
    width: 100%;
    vertical-align: top;
    border-top-left-radius: 0.0853rem;
    border-bottom-left-radius: 0.0853rem;
}

.box-item .item-right {
    width: 36%;
    text-align: center;
    box-sizing: border-box;
    padding: 0.0213rem;
    padding-left: 0;
}

.item-right .right-line {
    border: 1px dashed rgba(153, 153, 153, 1);
    border-left: none;
    border-top-right-radius: 0.0853rem;
    border-bottom-right-radius: 0.0853rem;
    padding-top: 0.2rem;
}

.item-title {
    height: 0.1451rem;
    font-size: 0.1536rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 0.0597rem;
}

.item-price {
    height: 0.1835rem;
    font-size: 0.1536rem;
    font-family: Impact;
    font-weight: 400;
    color: #333;
    line-height: 0.0597rem;
    padding: 0.2304rem 0 0.3157rem 0;
}

.item-price span {
    color: #FF5E6E;
    font-family: PingFang-SC-Bold;
    font-weight: 700;
    font-size: 0.2048rem;
}

.item-buy {
    width: 85%;
    height: 0.256rem;
    margin: 0 auto;
    margin-bottom: 0.12rem;
    box-sizing: border-box;
    padding: 0.0512rem 0.1rem 0.0597rem 0.1rem;
    background: #FF5E6E;
    border-top-right-radius: 0.128rem;
    border-bottom-left-radius: 0.128rem;
    font-size: 0.15rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 0.15rem;
}

.promise-box {
    padding: 0 2%;
    margin-bottom: 0.2219rem;
}

.promise-content {
    width: 100%;
    padding: 0.0427rem;
    box-sizing: border-box;
    background: rgba(255, 94, 110, 1);
    border-radius: 0.3669rem;
}

.promise-line {
    /*height: 0.6485rem;*/
    background: rgba(255, 94, 110, 1);
    border: 1px dashed rgba(255, 255, 255, 1);
    border-radius: 0.3243rem;
    padding: 0.0469rem 0.256rem 0.0555rem 0.0939rem;
    box-sizing: border-box;
}

.promise-logo {
    width: 20%;
}

.promise-logo img {
    width: 100%;
    vertical-align: top;
}

.promise-info {
    width: 75%;
    padding: 0.02rem 0.0427rem;
}

.promise-info p {
    font-size: 0.1365rem;
    color: #fff;
    line-height: 0.18rem;
    font-family: PingFang-SC-Medium;
    text-align: center;
    letter-spacing: 0.007rem;
}

.promise-info p span {
    font-size: 0.1536rem;
    color: #FFF02B;
}

.police-box {
    width: 100%;
    padding: 0 2% 0.15rem 2%;
    box-sizing: border-box;
}

.police-item {
    width: 100%;
    background: url("/assets/mobile/baojia/img/qb-police-banner.png") no-repeat;
    background-size: 100% 100%;
    padding: 0.1rem 0.128rem;
    box-sizing: border-box;
}

.police-title {
    width: 100%;
    text-align: center;
}

.police-title h3 {
    width: 55%;
    margin: auto;
    font-size: 0.3072rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 0.4181rem;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    padding: 0rem 0 0.05rem 0;
}

.police-title p {
    font-size: 0.1024rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 0.25rem;
    letter-spacing: 0.05rem;
}

.police-items {
    width: 100%;
    margin-top: 0.08rem;
}

.police-item li {
    margin-bottom: 0.0427rem;
}

.police-item li .police-detail {
    width: 49%;
    background: #fff;
    text-align: center;
    padding: 0.1451rem 0.19rem 0.0853rem 0.19rem;
    box-sizing: border-box;
}

.police-detail .img-box {
    width: 100%;
}

.img-box img {
    width: 100%;
}

.police-detail h3 {
    height: 0.1451rem;
    font-size: 0.1536rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 0.1451rem;
    margin: 0.1109rem 0 0.0768rem 0;
}

.police-detail p {
    font-size: 0.1024rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 0.128rem;
}

.topLeft {
    border-top-left-radius: 0.08rem;
}

.topRight {
    border-top-right-radius: 0.08rem;
}

.bottomRight {
    border-bottom-right-radius: 0.08rem;
}

.bottomLeft {
    border-bottom-left-radius: 0.08rem;
}

.result-box {
    width: 100%;
    box-sizing: border-box;
    padding: 0.1365rem 0.0853rem;
    background: #fff url("/assets/mobile/baojia/img/qb-result-banner.png") no-repeat left top;
    background-size: 20%;
    background-position: 0 15px;
}

.result-title {
    width: 100%;
    text-align: center;
}

.result-title h3 {
    width: 60%;
    margin: auto;
    font-size: 0.25rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 94, 110, 1);
    line-height: 0.4181rem;
    border: 2px solid #FF5E6E;
    border-left: none;
    border-right: none;
    padding: 0rem 0 0.05rem 0;
}

.result-title p {
    font-size: 0.13rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 94, 110, 1);
    line-height: 0.25rem;
    letter-spacing: 0.02rem;
}

.result-items {
    margin-top: 0.1rem;
}

.result-items li {
    margin-bottom: 0.0853rem;
}

.result-items .result-detail {
    width: 49%;
    border-radius: 0.0427rem;
    position: relative;
    /*background:linear-gradient(to bottom right,red,blue);*/
    /*background:linear-gradient(to bottom right,rgba(255,255,255,1),rgba(0,0,0,.39));*/
}

.item-mask {
    width: 100%;
    height: 100%;
    border-radius: 0.0427rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));
    opacity: 0.4;
}

.result-detail img {
    width: 100%;
    border-radius: 0.0427rem;
}

.items-box {
    width: 45%;
    position: absolute;
    color: #fff;
    bottom: 2%;
    left: 5%;
    z-index: 3;
    opacity: 1;
}

.items-box h3 {
    width: 100%;
    text-align: center;
    padding: 0.0555rem 0.03rem 0.0555rem 0.05rem;
    background: url("/assets/mobile/baojia/img/qb-line.png") no-repeat;
    background-size: 100% 100%;
    font-size: 0.128rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.items-box p {
    width: 100%;
    font-size: 0.1024rem;
    text-align: center;
    opacity: 1;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.items-box p .item-name {
    /*margin-right: 13%;*/
    display: inline-block;
}

.safe-box {
    width: 100%;
    position: relative;
    background: #fff;
}

.safe-title {
    width: 100%;
    padding-top: 0.1365rem;
    padding-bottom: 0.15rem;
    background: url("/assets/mobile/baojia/img/qb-safe.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.safe-title-box {
    width: 100%;
    padding: 0 0.4rem 0 0.4rem;
    box-sizing: border-box;
}

.safe-title-box h3 {
    /*width: 100%;*/
    margin: auto;
    font-size: 0.3072rem;
    font-family: PingFang;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    line-height: 0.45rem;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    letter-spacing: 0.02rem;
    padding: 0.01rem 0.02rem 0.06rem 0.02rem;
}

.safe-title-box p {
    font-size: 0.128rem;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 0.2rem;
    letter-spacing: 0.1rem;
    padding: 0.05rem 0 0.15rem 0;

}

.safe-items {
    width: 100%;
    padding: 0.1707rem 0.0811rem;
    padding-bottom: 0.01rem;
    box-sizing: border-box;
    position: relative;
    top: -0.15rem;
    left: 0;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    background: #fff;
}

.safe-line {
    width: 96%;
    position: absolute;
    top: 27%;
    left: 1%;
    height: 0.8235rem;
    border: 2px solid rgba(255, 94, 110, 1);
}

.item-detail {
    width: 100%;
    margin-bottom: 0.1067rem;
    position: relative;
}

.item-detail li {
    width: 32%;
}

.item-box {
    width: 100%;
    padding: 0.0213rem;
    box-sizing: border-box;
    background: url("/assets/mobile/baojia/img/qb-safe-bg.png") no-repeat;
    background-size: 100%;
    color: #fff;
}

.item-line {
    border: 1px dashed rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 0.15rem 0.05rem 0.15rem 0.05rem;
    text-align: center;
    font-family: PingFang-SC-Bold;
}

.item-line h3 {
    font-weight: bold;
    font-size: 0.1536rem;
    line-height: 0.2rem;
}

.item-line p {
    font-size: 0.1195rem;
    line-height: 0.2rem;
    letter-spacing: 0.01rem;
}

.item-space {
    margin: 0 1.5%;
}

.get-btn {
    background: #fff;
    text-align: center;
    margin: auto 0;
    padding: 0 0 0.25rem 0;
}

.get-btn a {
    display: block;
    width: 80%;
    margin: auto;
    padding: 5% 10%;
    box-sizing: border-box;
    background: rgba(255, 78, 96, 1);
    border-radius: 0.0427rem;
    font-size: 0.1836rem;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    line-height: 0.1536rem;
    letter-spacing: 0.04rem;
}

#footer {
    display: none;
}

#footer-container {
    text-align: center;
    width: 100%;
    padding: 1em 0;
    font-size: 0.6em;
    color: #999;
    /*background: url("/assets/mobile/baojia/newbaojia/footerImg.png") no-repeat center bottom;*/
    background-size: 110% 0.5rem;
    position: relative;
    background-position-y: 120px;
    padding-bottom: 30px;
    background: #FEF4FB;
}

#footer-container .footer-tel {
    font-size: 0;
    color: rgba(102, 102, 102, 1)
}

#footer-container .footer-tel span, #footer-container .footer-tel a {
    font-size: 0.15rem;
    font-family: SimSun;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

#footer-container .footer-tel a {
    color: rgba(102, 102, 102, 1)
}

#footer-container .phone-box {
    margin-left: 0.10rem;
    margin-right: 0.03rem;
}

.hot {
    color: #3DFDFF;
}

.phone-icon {
    display: inline-block;
    vertical-align: middle;
    width: 0.17rem;
    height: 0.18rem;
    background: url("/assets/mobile/baojia/img/bj2-phone-icon.png") no-repeat center;
    background-size: contain;
}

.footer-title {
    font-size: 0.15rem;
    font-family: SimSun;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin: 0.05rem 0 0.1rem 0;
}

.footer-webadress a {
    color: #999;
}


/*滚动信息*/
.g-msg {
    width: 100%;
    position: fixed;
    top: 6em;
    left: 0;
    height: 3em;
    z-index: 2;
    font-size: .8em;
}

.g-msg .msg {
    width: 85%;
    position: absolute;
    top: 3em;
    top: 5em;
    background-color: rgba(0, 0, 0, .5);
    height: 3em;
    line-height: 3em;
    margin-left: 10px;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    color: #fff;
    display: none;
}

.msg img {
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin: 0 1.2%;
    margin-top: .9%;
    float: left;
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(4, 4, 4, 0.7);
    display: none;
    z-index: 99;
}

.mask-box {
    position: relative;
    padding: 15% 10%;
    box-sizing: border-box;
}

.mask-img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.mask-img h3 {
    width: 100%;
    height: 0.1451rem;
    font-size: 0.18rem;
    text-align: center;
    font-family: PingFang-SC-Heavy;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    line-height: 0.1365rem;
    position: absolute;
    top: 42%;
    left: 0;
    letter-spacing: 0.04rem;
}

.mask-img p {
    width: 100%;
    height: 0.1237rem;
    font-size: 0.128rem;
    text-align: center;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 252, 2, 1);
    line-height: 0.1365rem;
    position: absolute;
    top: 68%;
    left: 0;
    letter-spacing: 0.01rem;
}

.mask-img img {
    width: 100%;
}

.mask-close {
    position: absolute;
    top: 15%;
    right: 15%;
    width: 8%;
}

.mask-close img {
    width: 100%;
}
