.flex{
  display: flex;
}
.ali-ite{
  align-items: center;
}
.outline-div{
  width: 100%;
  padding: 20px 0 0 20px;
}
.title-div{
  background-color: #fff;
  padding: 40px;
}
.back-btn{
  font-size: 16px;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.page-title{
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.content-div{
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  padding: 30px 0 0 50px;
}
.mar-top{
  margin-top: 15px;
}
.invoice-status{
  color: #FFCC00;
}
.tabwid{
  width: 800px;
}
.tab-td{
  position: relative;
  justify-content: center;
}
.tab-tips{
  text-align: left;
  position: absolute;
  right: -310px;
  width: 300px;
}
.danger{
  color: #FF0000;
}
.clicksee{
  color: #0000FF;
}
.point{
  cursor: pointer;
}
/* 弹窗 */
.dialog-tips{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
  display: none;
}
.tips-div{
  position: relative;
  width: 1200px;
  margin: 300px auto 0 auto;
  background-color: #fff;
  padding: 20px;
}
.tips-title{
  padding: 0 0 20px 0;
  font-size: 18px;
  text-align: center;
}
.tips-tab{
  width: 1160px;
}
.companyname{
  color: #0099FF;
}
.detail-msg{
  border-bottom: 1px dashed #999;
  padding: 15px 0 0 0;
  margin: 0 0 5px 0;
}
.detail-everyline{
  margin: 0 0 20px 0;
}
.detail-must{
  margin: 0 200px 0 0;
}
.mar-bom{
  margin-bottom: 15px;
}
.detail-imgs{
  width: 100%;
  height: 100%;
  
}
.detail-imgs-div{
  width: 250px;
  height: 200px;
  border: 1px solid;
  margin: 0 15px 30px 0;
}
.mb-repair{
  margin: -10px 0 20px 0;
}
.reporter{
  margin: 40px 0 30px 0;
}
.department{
  margin: 0 0 40px 0;
}
.detail-btn{
  width: 110px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
}
.btn-div{
  padding: 50px;
}
.detail-goback-btn{
  margin-right: 20px;
  color: #333;
  border: 1px solid #797979;
}
.detail-trial-btn{
  color: #fff;
  background-color: #FF9900;
}
.x{
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
  right: -10px;
  top: -10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}
.dialog-trial{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
  display: none;
}
.trial-div{
  position: relative;
  width: 300px;
  margin: 300px auto 0 auto;
  background-color: #fff;
  border-radius: 10px;
}
.trial-title{
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #bbb;
}
.trial-content{
  text-align: center;
  padding: 20px 0;
}
.trial-label{
  margin: 0 10px;
  cursor: pointer;
}
.trial-btn-div{
  font-size: 16px;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  padding: 20px 40px;
}
.trial-btn{
  width: 96px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
.trial-remarks-div{
  text-align: center;
  display: none;
}
.trial-remarks{
  width: 210px;
  height: 40px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0 0 0 10px;
}
.trial-confirm{
  color: #0F9FFF;
  border: 1px solid #0F9FFF;
  cursor: pointer;
}
.trial-cancel{
  color: #999;
  border: 1px solid #999;
  cursor: pointer;
}
.trial{
  cursor: pointer;
}