.comment .rate{
    height: 130rpx;
    padding: 40rpx 50rpx;
    overflow: hidden;
    border-bottom: 20rpx solid #F7F7F7;
}
.comment .rate .rate-stars{
    width: 60%;
}
.comment .rate .rate-result{
    width: 40%;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
}
.comment .rate>view{
    float: left;
}
.comment .rate .rate-stars>view{
    margin-bottom: 18rpx;
    line-height: 1;
}
.comment .rate .rate-stars text{
    font-size: 26rpx;
    color: #666;
    margin-right: 20rpx;
}
.rate-stars .rate-score{
    margin-left: 20rpx
}
.comment .rate .rate-stars image{
    display: inline-block;
    width: 26rpx;
    height: 26rpx;
    vertical-align: center;
}
.comment .rate .rate-result view{
    text-align: center;
}
.comment .rate .rate-result view:first-child{
    font-size: 48rpx;
    color: #333;
    font-weight: bold;
    margin: 10rpx auto;
}
.comment .rate .rate-result view:nth-child(2){
    font-size: 24rpx;
    color: #666;

}
.comment .tab-box{
    overflow: hidden;
    border-bottom: 1px solid #DDDDDD;
}
.comment .tab-box .active{
    color: #DB2C2C;
    border-bottom: 4rpx solid #DB2B2B;
}

.scroll-view_H {
    display: flex;
    height: 84rpx;
    line-height: 84rpx;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.scroll-view_H .scroll-view-item_H {
    display: inline-block;
    margin: 0 25rpx;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    font-size: 24rpx;
    font-weight: 500;
    box-sizing: border-box;
}

.scroll-view_H .scroll-view-item_H.active .line {
    width: 40rpx;
    height: 4rpx;
    margin: 0 auto;
    background: #ff5353;
}

.comment-box{
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 315rpx;
    right: 0;
    bottom: 110rpx;
}
.btm-nomore{
    display: block;
    width: 100%;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 24rpx;
    color: #999;
    text-align: center;
}
.comment-content{
    background: #fff;
}
.comment-content .all{
    padding: 40rpx 30rpx 160rpx;
    overflow: hidden;
}
.comment-content .all .dpli{
    overflow: hidden;
    margin-bottom: 30rpx;
}
.comment-content .all .dpli .head{
    width: 80rpx;
    height: 80rpx;
    border-radius: 50%;
    float: left;
}
.comment-content .all .dpli .right{
    width: 590rpx;
    padding-bottom: 30rpx;
    border-bottom: 1rpx solid #DDDDDD;
    overflow: hidden;
    float: right;
}
.comment-content .all .dpli:last-child .right{
    border: none;
    padding-bottom: 0;
}
.dpli .right .heads{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36rpx;
}
.dpli .right .heads .name{
    display: flex;
    align-items: center;
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
}
.dpli .right .heads .name .yh{
    max-width: 300rpx;
    height: 36rpx;
    line-height: 36rpx;
    overflow: hidden;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.dpli .right .heads .name .jd{
    height: 36rpx;
    background: #FFF5F5;
    border-radius: 4rpx;
    padding: 0 12rpx;
    font-size: 22rpx;
    font-weight: 500;
    color: #DB2C2C;
    line-height: 36rpx;
    margin-left: 14rpx;
}
.dpli .right .heads .rq{
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
}
.dpli .right .score{
   height: 50rpx;
   display: flex;
   align-items: center;
    font-size: 24rpx;
    font-weight: 500;
    color: #656565;
    overflow: hidden;
}
.dpli .right .score .xins {
    height: 50rpx;
    display: flex;
    align-items: center;
    margin-left: 10rpx;
}
.dpli .right .score .xins image{
    width: 23rpx;
    height: 21rpx;
    margin-right: 2rpx;
}
.right .pl .des{
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
    line-height: 40rpx;
}
.right .pl .des-new{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.right .pl .open{
    font-size: 24rpx;
    color: #399BFF;
    margin: 10rpx 0;
}
.right .pl .image{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    justify-content: space-between;
    margin-top: 20rpx;
    margin-bottom: 10rpx;
}
.right .pl .image image{
    width: 190rpx;
    height: 190rpx;
    border-radius: 4rpx;
    margin-bottom: 10rpx;
}
.right .pl .image:after{
    content: '';
    width: 190rpx;
 }
 .right .pl .hf{
     width: 100%;
    height: auto;
    overflow: hidden;
    background: #F7F7F7;
    border-radius: 8rpx;
    padding: 0 20rpx 10rpx;
    box-sizing: border-box;
    font-size: 24rpx;
    font-weight: 500;
    color: #333333;
    line-height: 40rpx;
 }
 .right .pl .hf .place{
    height: 56rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24rpx;
    font-weight: 500;
    color: #999999;
 }