<div class="policyup_bg">
    <div class="policyup-content">
        <div class="content-top">
            <span class="policy-detail">查看详情</span>
            <span class="close-policyup">×</span>
        </div>
        <div class="content-box">
            <div class="content-left">
                <div>
                    <label>订单号：</label>
                    <span>{$order.id}</span>
                </div>
                <div>
                    <label>发布时间：</label>
                    <span>{$order.time_real|date="Y-m-d H:i:s",###}</span>
                </div>
                <div>
                    <label>手机号：</label>
                    <span>{$order.tel|default='-'}</span>
                </div>
                <div>
                    <label>微信号：</label>
                    <span>{$order.wx|default='-'}</span>
                </div>
                <div>
                    <label>房屋地址：</label>
                    <span>{$order.dz|default='-'}</span>
                </div>
                <div>
                    <label>联系人：</label>
                    <span>{$order.name|default='-'}</span>
                </div>
                <div>
                    <label>所属区域：</label>
                    <span>{$order.cname|default='-'} {$order.qz_area}</span>
                </div>
                <div>
                    <label>小区：</label>
                    <span>{$order.xiaoqu|default='-'}</span>
                </div>
                <div>
                    <label>装修类型：</label>
                    <span>{$order.lx} {$order.lxs}</span>
                </div>
                <div>
                    <label>户型结构：</label>
                    <span>{$order.huxing|default='-'}</span>
                </div>
                <div>
                    <label>风格：</label>
                    <span>{$order.fengge|default='-'}</span>
                </div>
                <div>
                    <label>开工时间：</label>
                    <span>{$order.start|default='-'}</span>
                </div>
                <div>
                    <label class="special">特殊需求：</label>
                    <span class="textarea">{$order.text|default='-'}</span>
                </div>
                <div>
                    <label>分配公司：</label>
                    <span>{$order.company|default='-'}</span>
                </div>
                <div>
                    <label>量房状态：</label>
                    <span class="red">{$order.liangfang_status|default='-'}</span>
                </div>
                <div>
                    <label class="special">回访记录：</label>
                    <span class="textarea">{$order.review_feedback|default='-'}</span>
                </div>
                <div>
                    <label>签约公司：</label>
                    <span>{$order.qiandan_company|default='-'}</span>
                    <label>签约金额：</label>
                    <span>{$order.qiandan_jine|default='-'}万元</span>
                </div>
                <div>
                    <label>装企申请状态：</label>
                    <span class="red">{$order.qiandan_status|default='-'}</span>
                </div>
            </div>
            <div class="content-right">
                <div>
                    <label>最后操作人：</label>
                    <span>{$info.op_name|default="-"}</span>
                </div>
                <div>
                    <label>申请时间：</label>
                    <span>{$info.created_at|date="Y-m-d H:i:s",###}</span>
                </div>
                <div>
                    <label>申请人：</label>
                    <span>{$info.name}</span>
                </div>
                <div>
                    <label>联系方式：</label>
                    <span>{$info.tel}</span>
                </div>
                <div>
                    <label>工地地址：</label>
                    <span>{$info.address}({$info.xiaoqu_name}{$info.detail_address})</span>
                </div>
                <div>
                    <label>签约装企：</label>
                    <span>{$info.jc|default="-"}</span>
                </div>
                <div>
                    <label>合同金额：</label>
                    <span>{$info.amount|default="-"}元</span>
                </div>
                <div>
                    <label>施工开始时间：</label>
                    <span>{$info.starttime|default="-"}</span>
                </div>
                <div class="hetong-img" id="hetong-img">
                    <label style="float:left;">上传合同：</label>
                    <div class="img-box">
                        <if condition="$info['face_count'] neq 0">
                            <div class="img-position img1" id="img1">
                                <img src="{$info.face_img}" />
                                <div>
                                    <volist name="info.face_imgs" id="vo">
                                        <img src="{$vo}" style="display: none;"/>
                                    </volist>
                                </div>
                                <span>共{$info.face_count}张</span>
                            </div>
                            <p style="font-size: 12px;text-align: center;">合同封面或盖章页面</p>
                        </if>
                    </div>
                    <div class="img-box">
                        <if condition="$info['pay_count'] neq 0">
                            <div class="img-position img2" id="img2">
                                <img src="{$info.pay_img}" />
                                <div>
                                    <volist name="info.pay_imgs" id="vo">
                                        <img src="{$vo}" style="display: none;"/>
                                    </volist>
                                </div>
                                <span>共{$info.pay_count}张</span>
                            </div>
                            <p style="font-size: 12px;text-align: center;">金额页面</p>

                        </if>
                    </div>
                </div>
                <if condition="!empty($info['jc'])">
                <form id="myForm">
                <div class="right-sh">
                    <label>审核状态：</label>
                    <input type="radio" name="sh_status" id="pass" value="1" checked><label class="sh1" for="pass">审核通过</label>
                    <input type="radio" name="sh_status" id="unpass" value="2"><label class="sh1" for="unpass">审核不通过</label>
                </div>
                <div>
                    <textarea placeholder="填写审核不通过原因" name="remark" class="form-control unpass-reason">{$info.fail_cause}</textarea>
                </div>
                <div class="window-btn">
                    <button type="button" class="close-window">关闭</button>
                    <button type="button" class="shenhe">审核</button>
                    <input type="hidden" name="id" value="{$info.id}"/>
                </div>
                </form>
                    <script>
                        $(".shenhe").on("click",function () {
                            if (confirm("确定该审核操作吗？")){
                                $.ajax({
                                    url: '/policy/policyup/',
                                    type: 'POST',
                                    dataType: 'JSON',
                                    data:$("#myForm").serializeArray(),
                                }).done(function(data) {
                                    if (data.error_code === 0) {
                                        alert("操作成功！");
                                    } else {
                                        alert(data.error_msg);
                                    }
                                }).fail(function(xhr) {
                                    alert('网络错误，请重试！');
                                });
                            }
                        });
                    </script>

                </if>
            </div>
        </div>

    </div>
</div>
<script>
    $(function(){
        $("input[name=sh_status]").eq("{$info.audit_status_mark|default=0}").attr("checked","checked");

        // 图片放大效果
        $('.hetong-img .img-position>img').click(function(){
            var data = []
            $(this).next().find('img').each(function (index,item) {
                data.push({
                    'src': $(this).attr("src")
                })
            })
            layer.photos({
                photos: {
                    data: data
                },
                anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });
        });
    });
</script>