.fix_bg_color{ background-color: #F5F5F5;}
.rel{ position: relative; }

/*面包屑*/
.bread{font-family: "Microsoft YaHei";  line-height:40px; height:40px; font-size: 12px;}
.bread a{ display:inline-block; }
.bread a:hover {color:#F25165;}

/**********设计师列表**********/
.compleft{ float:left; width:260px; }
.compright{ float:right; width:930px; background-color: white;}
.designlist li{ padding-bottom:20px; overflow:hidden; border-bottom:1px dotted #f1f1f1; margin-bottom:20px}
.designlist .compdesign{ float:left; width:400px;line-height:20px }
.designlist .compdesign a:hover{ text-decoration:none}
.designlist .compdesign span{ width:80px; display:block; position:relative; height:106px; float:left;line-height:25px}
.designlist .compdesign span img{ text-align: center; width:auto; max-height:80px; max-width: 80px; }
.designlist .compdesign span .compdesign_yy{ display:block; position: absolute; bottom:0; left:0; width:80px; background:#ea3d3d; text-align:center; color:#FFF}.designlist .compdesign span a:hover{ background: #FF5559}.designlist .compdesign h1,.designlist .compdesign p{ float:right; width:300px }
.designlist .compdesign p{ max-height:40px; overflow:hidden; color:#888}
.designlist .compdesign h1{ font-size:14px}
.designlist .compdesign p i{ height:26px; line-height:26px; background:#F90; color:#FFF; display:inline; padding:0 5px}
.designphoto { float:right; width:480px}
.designphoto dd,.designphoto dt{ float: left; margin-right:10px; line-height:106px; color:#888; background:#f7f7f7; height:106px;display:table-cell;  width:150px; text-align:center;vertical-align:middle;}.designphoto dd a{ color:#aaa}
.designphoto dd:hover{ background:#f1f1f1}
.designphoto img{ width:auto; height:auto; max-height:106px;max-width:150px;vertical-align:middle}

.compleft .userhead{ margin: 0 auto; background-color: white; border-top: 1px solid white; border-bottom: 1px solid white; position: relative; }
.compleft .userhead .half-radius{display: block; width: 160px; height: 160px; border-radius: 50%; overflow: hidden; margin: 20px auto; }
.compleft .userhead .half-radius > img{ display: block; width:160px; height: 160px; border-radius: 50%; position: relative; color: #ffffff }
.compleft .userhead .half-radius > .morenInfo:after{ width: 100%; height: 100%; border-radius: 50%; background:url("../../../common/img/moren.png") no-repeat center; background-size: 100% 100%; position:absolute;content:"";display:block;top:0;left:0; }

.compleft .userhead .designer_wt{ display: block; margin: 0 auto 10px; width:120px; height:34px; line-height: 34px; text-align: center; background-color: #FF5353; color: white; font-size: 14px; border-radius: 34px; }
.compleft .userhead .name_info{ text-align: center; margin-bottom: 20px; }
.compleft .userhead .name_info .name{ color: #333; font-size: 18px; font-weight: bold; }
.compleft .userhead .name_info .officer{ border:1px solid #FF952E; color: #FF952E; border-radius: 0.2em; height: 20px; line-height: 20px; display: inline-block; vertical-align: 2px; margin-left: 5px; padding: 0 0.5em; }
.compleft .userhead .renqi{ color: #FF5353; text-align: center; font-size: 14px; margin-bottom: 20px; }
.compleft .userhead .renqi > img{width: 14px; height: 16px;}
.compleft .userhead .renqi > span{ vertical-align: 4px;}
.compleft .userhead .lianjie{ position: absolute; width: 58px; height: 30px; margin: 0; left: 106px; bottom: -20px;}

.compleft .belong_com{ background-color: white; margin-top: 10px; text-align: center; border-top: 1px solid white; border-bottom: 1px solid white; }
.compleft .belong_com .com_logo{ width: 136px; height: 68px; padding: 10px; margin: 20px auto 10px; box-shadow: #ccc 0 0 10px; border-radius: 0.3em;}
.compleft .belong_com .com_logo > img{ width: 100%; height: 100%; }
.compleft .belong_com .com_name{ font-size: 18px; color: #333; margin-bottom: 10px; }
.compleft .belong_com .stars{ margin-bottom: 10px; }
.compleft .belong_com .com_check{ display:block; margin: 0 auto 20px; font-size: 14px; width: 140px; height: 34px; line-height: 34px; text-align: center; color: white; background-color: #FF5353; }

/*******设计师博客*********/
.tab{ padding: 0 20px; }
.designborder .designbolg{ padding: 10px 15px 20px; overflow:hidden;}
.designbolg .designinfo{ float:left; width:600px; line-height:25px; font-size:14px;}
.designbolg .designinfo .extend{ position: absolute; right: 0px; bottom: 0px; cursor: pointer; }
.designbolg .desinger-order{ float:right; width:280px;}
.desinger-order .new_xsc_fadan{ margin-top: 20px; background-color: transparent; border: none; box-shadow: #CCC 0 0 10px; padding: 10px 0; border-radius: 0.5em; overflow: hidden; }
.desinger-order .title-box{ text-align: center; }
.desinger-order .title-box .title_big{ margin-top: 10px; padding: 0;  }
.desinger-order .title-box .title_small{ margin-top: 5px; padding: 0; font-size: 14px; color:#FF5353;}
.desinger-order .title-box .title_small .line{ border: 1px solid #4C5473; position: absolute; width: 180px; left: 50%; margin-left: -90px; top:10px; z-index: 1; }
.desinger-order .title-box .title_small .t{ background-color: white; z-index: 2; position: relative; padding: 0 10px;}
.new_xsc_fadan .fadan_form{padding: 10px 11px 5px;}
.desinger-order .quota{ font-size: 14px; color: #333; position: relative; margin-bottom: 15px; }
.desinger-order .intelligence{ position: absolute; right: 10px; bottom: 2px; }
.desinger-order #tijiao_fadan{ font-size: 14px; font-family: "Microsoft Yahei"; }
.new_xsc_fadan .input_line button{border-radius: 2px;}
.new_xsc_fadan .input_line button:hover{background: #ea2d2d}
.new_xsc_fadan .blog_yu{text-align: center;margin-top:10px;}
.new_xsc_fadan .blog_yu span{margin: 0 5px;}
.designtit{ font-size:18px; font-weight: bold; margin-bottom:20px; border-bottom:1px dashed #E6E6E6; overflow:hidden; padding-bottom:5px}
.designborder{ position:relative; }
.designtit .title{ display:block; float:left; padding:0 10px; height:30px; line-height:30px; border-top:2px solid #fff}
.designerzp .tab-con-item{ display:none}
.designrq { color:#aaa; background:#f7f7f7; border-top:1px dashed #eee; margin-bottom:20px; margin-top:15px}
.designrq li i{ line-height:50px; font-size:24px; padding:0 10px; color:#ea3d3d}

.no-item{height: 300px; width: 100%; font-size: 20px; font-weight: bold;text-align: center; padding:20px 0; color: #e6e6e6;}
.no-item img{ display: block; margin: 0 auto;}
.no-item>p{color: #999999; font-size: 14px; line-height: 40px;}

/**********案例列表***********/
.companli { width:920px}
.companli li{ float:left; width:210px; margin-right:17px; line-height:25px; margin-bottom:30px; transition: all 0.3s;}
.companli li:hover{ box-shadow: #ccc 0 0 10px; }
.companli li .tu{ width:210px; height:150px}
.companli li .tu a{ display: block; width:100%; height:100%; overflow: hidden;}
.companli li .tu img{ min-width:100%; min-height:100%}
.companli li .desc{ border:1px solid #E9E0E0; padding-left: 10px; padding-bottom: 5px; }
.companli li .desc > p{ color: #666; line-height:1.5; }
.companli li .work_name{ font-size: 16px; color: #333; display: block; line-height: 30px; }


.textinput .lp{margin-bottom: 5px; padding:5px 0;}
.textinput .lp span{font-size:14px;}
.textinput .lp input[type=text]{border: 1px solid #CCC; height: 24px; padding-left:5px; width: 150px;}

.other_designer{ font-size: 0; margin-bottom: 20px;}
.other_designer>li{ display: inline-block; width: 25%; font-size: 14px; text-align: center;vertical-align: top;}
.other_designer .designer_avatar{ width: 160px; height: 160px; margin: 0 auto;  position: relative;  }
.other_designer .designer_avatar .avatar_a{ display: block; width: 100%; height: 100%; border-radius: 50%; overflow: hidden;}
.other_designer .designer_avatar .morenInfo{display: block; width:100%; height:100%; border-radius: 50%; position: relative; color: #ffffff}
.other_designer .designer_avatar .morenInfo:after{ width: 100%; height: 100%; border-radius: 50%; background:url("../../../common/img/moren.png") no-repeat center; background-size: 100% 100%; position:absolute;content:"";display:block;top:0;left:0; }
.other_designer .designer_avatar img.gold_medal{ position: absolute; right: 0px; bottom: 0px;}
.other_designer .name_info{ text-align: center; margin:10px auto; }
.other_designer .name_info .name{ color: #333; font-size: 18px; font-weight: bold; }
.other_designer .name_info .officer{ border:1px solid #FF952E; color: #FF952E; border-radius: 0.2em; padding: 0 0.2em; height: 20px; line-height: 20px; display: inline-block; vertical-align: 2px; margin-left: 5px; }
.other_designer .works, .other_designer .job_years, .other_designer .good_at_styles{ color: #666; line-height: 1.6;     white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.other_designer .good_at_styles{ width: 83%; margin: 0 auto; }

/*翻页*/
.page{ padding:20px; line-height:25px; font-family:"Microsoft YaHei"; text-align: center; max-width:1210px; margin:0 auto}
.page a,.page strong {display: inline-block; border: 1px solid #CCC; color: #999; height: 40px; line-height: 40px; vertical-align: middle; margin-left: 10px; padding: 0 17px;}
.page a:hover, .page a.current, .page strong { color: #999 !important; text-decoration: none; background:#F0F0F0; border: 1px solid #CCC; }
.page input{ height:15px; border:1px solid #eee}
.page em{ margin:0 5px}




/********头部样式********/
.wrap { width: 1210px; margin: 0 auto }
.oflow { overflow: hidden }
.comptop { height: 35px; border-bottom: 1px solid #eee; background: #f1f1f1 ; min-width:1210px; line-height:35px;font-family: "Microsoft YaHei";}
.login{ float:right;}
.login li{ float:left; width:auto; padding:0 5px}
.login li a{ color:#888}
.topnav{ float:left}
.topnav li{ float:left; margin-right:20px}
.topnav li a:hover{ text-decoration:none}
.topnav li.active a{ color:#ea3d3d}

/*283 PC端全站提示弹窗样式调整优化及m站全国站首页添加底栏*/
.f_errorArea-tit,.f_errorName-tit,.f_errorTel-tit{
    height:15px;
    color:red;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
}
.new_xsc_fadan .input_line{
    margin-bottom: 0!important;
}






