<extend name="Main:baseTemplate"/>
<block name="title"><title>装修说app</title></block>
<block name="style">
    <link rel="stylesheet" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" href="/assets/home/user/css/qizhuangapp.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content-header">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-header with-border user-titbtn">
                        <h3 class="box-title"><a href="/user/usermanagement">用户管理</a> > 装修说app</h3>
                    </div>
                    <div class="box-body">
                        <form id="searchForm" action="/user/zhuangxiushuoapp" method="get">
                            <div class="row user-condition">
                                <div class="col-xs-4">
                                    <label>首次活跃时间：</label>
                                    <input type="text" name="first_huoyue_start" value="{$getdata.first_huoyue_start}" class="form-control first-time datepicker" autocomplete="off" placeholder="开始时间" />
                                    &nbsp;—&nbsp;
                                    <input type="text" name="first_huoyue_end" value="{$getdata.first_huoyue_end}" class="form-control first-time datepicker" autocomplete="off" placeholder="结束时间" />
                                </div>
                                <div class="col-xs-4">
                                    <label>最后活跃时间：</label>
                                    <input type="text" name="huoyue_start" value="{$getdata.huoyue_start}" class="form-control last-time datepicker" autocomplete="off" placeholder="开始时间" />
                                    &nbsp;—&nbsp;
                                    <input type="text" name="huoyue_end" value="{$getdata.huoyue_end}" class="form-control last-time datepicker" autocomplete="off" placeholder="结束时间" />
                                </div>
                                <div class="col-xs-2">
                                    <label>用户：</label>
                                    <input type="text" name="nickname" value="{$getdata.nickname}" class="form-control" placeholder="用户昵称" />
                                </div>
                                <div class="col-xs-2">
                                    <button type="submit" class="btn btn-primary user-search">搜索</button>
                                    <button type="button" class="btn user-chongzhi">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div style="height: 34px;margin-bottom: 15px;">
                        <div class="col-xs-3" style="height: 34px;line-height: 34px;float: right;text-align: right">帐号总数：{$allcount}，装修说用户数：{$hadcount}</div>
                </div>
                <div class="box">
                    <div class="box-body no-padding tablelist">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>头像</th>
                                <th>用户昵称</th>
                                <th class="paixu">首次活跃时间
                                    <span class="zhuce-time-paixu">
                                        <if condition="$getdata['fttime'] eq 2">
                                            <a href="javascript:void(0)" data-fttime="2" style="position: relative; z-index: 2;"><i class="fa fa-sort-up active"></i></a>
                                            <a href="javascript:void(0)" data-fttime="1" ><i class="fa fa-sort-desc"></i></a>
                                        <elseif condition="$getdata['fttime'] eq 1" />
                                            <a href="javascript:void(0)" data-fttime="2" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-fttime="1" ><i class="fa fa-sort-desc active"></i></a>
                                        <else/>
                                            <a href="javascript:void(0)" data-fttime="2" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-fttime="1" ><i class="fa fa-sort-desc"></i></a>
                                        </if>
                                    </span>
                                </th>
                                <th class="paixu">最后活跃时间
                                    <span class="huoye-time-paixu">
                                        <if condition="$getdata['lttime'] eq 2">
                                            <a href="javascript:void(0)" data-lttime="2" style="position: relative; z-index: 2;"><i class="fa fa-sort-up active"></i></a>
                                            <a href="javascript:void(0)" data-lttime="1" ><i class="fa fa-sort-desc"></i></a>
                                        <elseif condition="$getdata['lttime'] eq 1" />
                                            <a href="javascript:void(0)" data-lttime="2" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-lttime="1" ><i class="fa fa-sort-desc active"></i></a>
                                        <else/>
                                            <a href="javascript:void(0)" data-lttime="2" style="position: relative; z-index: 2;"><i class="fa fa-sort-up"></i></a>
                                            <a href="javascript:void(0)" data-lttime="1"><i class="fa fa-sort-desc" ></i></a>
                                        </if>
                                    </span>
                                </th>
                                <th>绑定三方帐号</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                                <tr>
                                    <td>{$nowpage*20 + $i}</td>
                                    <td>
                                        <if condition="$vo['avatar']">
                                            <img src="{$vo.avatar}" style="width:40px;"/>
                                            <else />
                                            --
                                        </if>
                                    </td>
                                    <td>{$vo.nickname}</td>
                                    <td>
                                        <if condition="$vo['first_actived_at']">
                                            {$vo.first_actived_at|date="Y-m-d H:i:s",###}
                                            <else/>
                                            --
                                        </if>
                                    </td>
                                    <td>
                                        <if condition="$vo['last_actived_at']">
                                            {$vo.last_actived_at|date="Y-m-d H:i:s",###}
                                            <else/>
                                            --
                                        </if>
                                    </td>
                                    <td>
                                        <if condition="$vo['wx_oauth'] eq 1">
                                            <i class="fa fa-weixin weixin"></i>
                                        </if>
                                        <if condition="$vo['qq_oauth'] eq 1">
                                            <img src="/assets/home/img/qq.png" class="icon_qq"/>
                                        </if>
                                        <if condition="$vo['wb_oauth'] eq 1">
                                            <i class="fa fa-weibo weibo"></i>
                                        </if>
                                        <if condition="$vo['wx_oauth'] eq 0 and $vo['wb_oauth'] eq 0 and $vo['qq_oauth'] eq 0">
                                            --
                                        </if>
                                        <!--                                        <i class="fa fa-weixin weixin"></i>-->
                                        <!--                                        <img src="/assets/home/img/qq.png" class="icon_qq"/>-->
                                        <!--                                        <i class="fa fa-weibo weibo"></i>-->
                                    </td>
                                    <td>
                                        <if condition="$vo['status'] eq -1">
                                            拉黑
                                            <elseif condition="$vo['prop_platform']" />
                                            正常
                                            <else />
                                            未使用
                                        </if>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        {$page}
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="/assets/common/js/plugins/daterangepicker/moment.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/plugins/layer/layer.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(function () {
            $(".first-time").datepicker({
                format: "yyyy-mm-dd",
                minViewMode: 0,
                autoclose: true
            }).on("change",function(){
                if(toTimeStamp($("input[name=first_huoyue_start]").val())>toTimeStamp($("input[name=first_huoyue_end]").val())){
                    msg("结束时间必须大于开始时间")
                    $("input[name=first_huoyue_end]").val("");
                }
                var start_year = $("input[name=first_huoyue_start]").val().split("-")[0];
                var start_month = $("input[name=first_huoyue_start]").val().split("-")[1];
                var start_date = $("input[name=first_huoyue_start]").val().split("-")[2];
                var end_year = $("input[name=first_huoyue_end]").val().split("-")[0];
                var end_month = $("input[name=first_huoyue_end]").val().split("-")[1];
                var end_date = $("input[name=first_huoyue_end]").val().split("-")[2];
                timeStep(start_year,end_year,start_month,end_month,start_date,end_date,$("input[name=first_huoyue_end]"))
            });

            $(".last-time").datepicker({
                format: "yyyy-mm-dd",
                minViewMode: 0,
                autoclose: true
            }).on("change",function(){
                if(toTimeStamp($("input[name=huoyue_start]").val())>toTimeStamp($("input[name=huoyue_end]").val())){
                    msg("结束时间必须大于开始时间")
                    $("input[name=huoyue_end]").val("");
                }
                var start_year = $("input[name=huoyue_start]").val().split("-")[0];
                var start_month = $("input[name=huoyue_start]").val().split("-")[1];
                var start_date = $("input[name=huoyue_start]").val().split("-")[2];
                var end_year = $("input[name=huoyue_end]").val().split("-")[0];
                var end_month = $("input[name=huoyue_end]").val().split("-")[1];
                var end_date = $("input[name=huoyue_end]").val().split("-")[2];
                timeStep(start_year,end_year,start_month,end_month,start_date,end_date,$("input[name=huoyue_end]"))
            });
            //重置
            $(".user-chongzhi").click(function () {
                $(".user-condition input").val('');
            });

            var myDate = new Date();
            var year = myDate.getFullYear();    //获取完整的年份(4位,1970-????)
            var month = myDate.getMonth() + 1;       //获取当前月份(0-11,0代表1月)
            var day = myDate.getDate();        //获取当前日(1-31)

            //搜索
            $(".user-search").click(function () {
                var first_huoyue_start = $("input[name=first_huoyue_start]").val();
                var first_huoyue_end = $("input[name=first_huoyue_end]").val();
                var huoyue_start = $("input[name=huoyue_start]").val();
                var huoyue_end = $("input[name=huoyue_end]").val();
                if(first_huoyue_start != '' && first_huoyue_end == ''){
                    $("input[name=first_huoyue_end]").val(year + '-' + month + '-' + day)
                    if(year - first_huoyue_start.split('-')[0] > 1){
                        msg('时间跨度不能超过1年');
                        $("input[name=first_huoyue_end]").val("");
                        return false
                    }else if(year - first_huoyue_start.split('-')[0] == 1){
                        if(first_huoyue_start.split('-')[1] - month < 0){
                            msg('时间跨度不能超过1年');
                            $("input[name=first_huoyue_end]").val("");
                            return false
                        }else if(first_huoyue_start.split('-')[1] - month == 0){
                            if(first_huoyue_start.split('-')[2] - day < 0){
                                msg('时间跨度不能超过1年');
                                $("input[name=first_huoyue_end]").val("");
                                return false
                            }
                        }
                    }else if(year - first_huoyue_start.split('-')[0] == 0){
                        if(first_huoyue_start.split('-')[1] > month){
                            msg('结束时间必须大于开始时间');
                            $("input[name=first_huoyue_end]").val("");
                            return false
                        }else if(first_huoyue_start.split('-')[1] == month && first_huoyue_start.split('-')[2] > day){
                            msg('结束时间必须大于开始时间');
                            $("input[name=first_huoyue_end]").val("");
                            return false
                        }
                    }else if(year - first_huoyue_start.split('-')[0] < 0){
                        msg('结束时间必须大于开始时间');
                        //$("input[name=first_huoyue_start]").val('');
                        //$("input[name=first_huoyue_end]").val(year+ '-' + month + '-' + day);
                        $("input[name=first_huoyue_end]").val("");
                        return false
                    }
                }
                if(huoyue_start != '' && huoyue_end == ''){
                    $("input[name=huoyue_end]").val(year + '-' + month + '-' + day)
                    if(year - huoyue_start.split('-')[0] > 1){
                        msg('时间跨度不能超过1年');
                        $("input[name=huoyue_end]").val("");
                        return false
                    }else if(year - huoyue_start.split('-')[0] == 1){
                        if(huoyue_start.split('-')[1] - month < 0){
                            msg('时间跨度不能超过1年');
                            $("input[name=huoyue_end]").val("");
                            return false
                        }else if(huoyue_start.split('-')[1] - month == 0){
                            if(huoyue_start.split('-')[2] - day < 0){
                                msg('时间跨度不能超过1年');
                                $("input[name=huoyue_end]").val("");
                                return false
                            }
                        }
                    }else if(year - huoyue_start.split('-')[0] == 0){
                        if(huoyue_start.split('-')[1] > month){
                            msg('结束时间必须大于开始时间');
                            $("input[name=huoyue_end]").val("");
                            return false
                        }else if(huoyue_start.split('-')[1] == month && huoyue_start.split('-')[2] > day){
                            msg('结束时间必须大于开始时间');
                            $("input[name=huoyue_end]").val("");
                            return false
                        }
                    }else if(year - huoyue_start.split('-')[0] < 0){
                        msg('结束时间必须大于开始时间');
                        //$("input[name=huoyue_start]").val('');
                        //$("input[name=huoyue_end]").val(year+ '-' + month + '-' + day);
                        $("input[name=huoyue_end]").val("");
                        return false
                    }
                }
            });
            //注册时间排序
            $(".zhuce-time-paixu a").click(function () {
                var fttime = $(this).attr('data-fttime');
                var dataStr = $('#searchForm').serialize();
                window.location = '/user/zhuangxiushuoapp?fttime=' + fttime + '&' + dataStr;
            });
            //最后活跃时间排序
            $(".huoye-time-paixu a").click(function () {
                var lttime = $(this).attr('data-lttime');
                var dataStr = $('#searchForm').serialize();
                window.location = '/user/zhuangxiushuoapp?lttime=' + lttime + '&' + dataStr;
            });
            function toTimeStamp(time){
                if(time!=undefined){
                    var date = time;
                    date = date.substring(0,19);
                    date = date.replace(/-/g,'/');
                    var timestamp = new Date(date).getTime();
                    return timestamp;
                }
            }
            function msg(msg, fn) {
                layer.msg(
                    msg,
                    {time: 2000,},
                    fn || function () {
                    }
                )
            }
            //判断时间跨度
            function timeStep(start_year,end_year,start_month,end_month,start_date,end_date,selector) {
                if(start_year != ''){
                    if(end_year - start_year > 1){
                        msg("时间跨度不能超过1年")
                        selector.val("");
                    }else if(end_year - start_year == 1){
                        if(end_month - start_month > 0){
                            msg("时间跨度不能超过1年")
                            selector.val("");
                        }else if(end_month - start_month == 0){
                            if(end_date > start_date){
                                msg("时间跨度不能超过1年")
                                selector.val("");
                            }
                        }
                    }
                }
            }
        });
    </script>
</block>
