body{
    background-color: #140f2f !important;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #D6A882;
    font-size: 0.126rem;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #D6A882;
    font-size: 0.126rem;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #D6A882;
    font-size: 0.126rem;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #D6A882;
    font-size: 0.126rem;
}

.c-bright-yellow{
    color: #FFFEA2;
}
.m-wrap img{
    max-width: 100%;
}
.banner{
    position: relative;
}
.banner .icon-vr{
    position: absolute;
    bottom: 0.25rem;
    right: 0.01rem;
    width: 0.95rem;
}
.order-box{
    width: 3.1rem;
    height: 4.25rem;
    margin: 0 auto;
    background: url("../img/order.png") no-repeat;
    background-size: 100% auto;
    position: relative;
}
.order-box .free-case{
    text-align: center;
    color: #A00F21;
    font-size: 0.11rem;
    font-weight: bold;
    width: 1.7152rem;
    margin: 0 auto 0.15rem;
    border-top: 1px solid #A00F21;
    line-height: 0;
}
.order-box .free-case .wrap{
    background-color: #f2e1c3;
    letter-spacing: 0.01rem;
    padding: 0 0.04rem;
}
.order-box .free-case .num{
    width: 0.1792rem;
    height: 0.1792rem;
    font-size: 0.11rem;
    padding: 0.01rem;
    background-color: #BD021A;
    color: #FFFEA2;
    border-radius: 50%;
    letter-spacing: 0;
}
.order-box .order-form{
    width: 2.9rem;
    margin: 0 auto;
}
.order-box .b-warn {
    position: absolute;
    bottom: 0.03rem;
    color: #E8111E;
    display: none;
    font-size: 0.0768rem;
}
.order-box .order-form > div{
    height: 0.65rem;
    position: relative;
}
.order-box .order-form input, .order-box .order-form button{
    width: 100%;
    height: 0.48rem;
    box-sizing: border-box;
    border:0.0128rem solid #EBBA92;
    border-radius: 0.5em;
    background-color: #EDE0CA;
    color: #D6A882 !important;
    padding-left: 0.1rem;
}
.order-box .order-form input:focus, .order-box .order-form button:focus{
    outline: none;
}
.order-box .order-form .map-marker{
    position: absolute;
    width: 0.128rem;
    height: 0.128rem;
    right: 0.1rem;
    top: 30%;
    background: url('../img/map-marker.png') no-repeat;
    background-size: 100% 100%;
}
.order-box .order-form .fa-map-marker{
    position: absolute;
    width: 0.128rem;
    height: 0.128rem;
    right: 0.1rem;
    top: 30%;
    background: url('../img/map-marker.png') no-repeat;
    background-size: 100% 100%;
}
.order-box .order-form .fa-map-marker:before{
    content:"";
}
.p-title{
    width: 2.436rem;
    height: 0.3455rem;
    line-height: 0.3455rem;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/title-b.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 0.153rem;
    font-weight: bold;
    color: white;
    letter-spacing: 0.03rem;
}
.slogan-icon-box{
    position: relative;
    width: 2.5rem;
    margin: 0 auto;
    font-size: 0.085rem;
    text-align: center;
    color: #B90F24;
    font-weight: bold;
}
.slogan-icon-box img{
    width: 0.34rem;
    margin-bottom: 0.03rem;
}
.slogan-icon-box .one{
    float: left;
}
.slogan-icon-box .two{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.slogan-icon-box .three{
    float: right;
}

.case-box{
    width: 2.29rem;
    height: 0.213rem;
    margin: 0.15rem auto;
    font-size: 0.093rem;
    background: url('../img/case-bg.png') no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}
.case-box .swiper-case{
    height: 0.215rem;
}
.case-box .swiper-slide{
    height: 0.215rem;
    line-height: 0.225rem;
    background: url('../img/horn.png') no-repeat 0.05rem center;
    background-size: auto 60%;
    padding-left: 0.25rem;
    color: #EFDAB1;
}

.order-form .city-select{

}
.order-form .name{

}
.order-form .phone{

}
.order-form .submit{
    width: 2.099rem;
    height: 0.46rem;
    margin: 0 auto;
    background: url('../img/free-get.png') no-repeat;
    background-size: 100% auto;
}

.three-free-service{
    height: 2.88rem;
    margin: 0.2rem 0;
    background: url('//staticqn.qizuang.com/custom/20190315/Fk_YYvP0iQYi-EN7KV1wJulC73EX') no-repeat;
    background-size: 100% auto;
    border-top: 1px solid transparent;
}
.three-free-service .title{
    background: url('../img/title-b.png') no-repeat;
    background-size: 100% 100%;
    width: 2.436rem;
    text-align: center;
    height: 0.3457rem;
    line-height: 0.3457rem;
    margin: 0.36rem auto 0.1rem;
    color: white;
    font-size: 0.2048rem;
    letter-spacing: 0.1rem;
}
.three-free-service .three-service-item{
    width: 2.09rem;
    height: 1.68rem;
    margin: 0 auto;
    position: relative;
}
.three-free-service .three-service-item > p{
    position: absolute;
    color: white;
    font-size: 0.11rem;
}
.three-free-service .three-service-item .free-one{
    top: 0.7rem;
    left: 50%;
    transform: translateX(-58%);
}
.three-free-service .three-service-item .free-two{}
.three-free-service .three-service-item .free-three{
    right: 0;
}

.qwdz-box{
    width: 3.1rem;
    height: 2.93rem;
    margin: 0.4rem auto 0.2rem;
    background: url('../img/qwdz.png') no-repeat;
    background-size: 100% auto;
}
.qwdz-box .p-title{
    letter-spacing: 0.1rem;
    font-size: 0.2048rem;
}
.qwdz-box .slogan{
    text-align: center;
    font-size: 0.102rem;
    color: #B90F24;
    font-weight: bold;
    letter-spacing: 0.01rem;
}
.qwdz-scroll-box{
    width: 2.87rem;
    overflow: hidden;
    margin: 0rem 0.15rem;
}
.qwdz-scroll{
    width: 9.545rem;
    overflow: hidden;
    margin: 0.07rem 0 0.07rem 0rem;
}
.qwdz-scroll .item{
    width: 2.26rem;
    height: 1.685rem;
    border:0.0128rem solid #F6B37F;
    background-color: #D6A882;
    border-radius: 0.5em;
    overflow: hidden;
    float: left;
    margin-right: 0.1rem;
    position: relative;
}
.qwdz-scroll .item span{
    position: absolute;
    right: 0.1rem;
    bottom: 0.1rem;
    color: white;
    font-size: 0.1024rem;
}
.qwdz-box .yy{
    width: 2.099rem;
    height: 0.46rem;
    margin: 0 auto;
    background: url(../img/yy.png) no-repeat;
    background-size: 100% auto;
}

.hot-sale{
    height: 5.232rem;
    background: url('../img/hot-sale.png') no-repeat;
    background-size: 100% auto;
    border-top: 1px solid transparent;
}
.hot-sale .title{
    width: 2.437rem;
    height: 0.435rem;
    margin: 0.2rem auto 0.1rem;
    background: url('../img/hot-title-sale.png') no-repeat;
    background-size: 100% auto;
}
.hot-sale .tab{
    width: 2.55rem;
    border-top: 1px dashed #D6A882;
    margin: 0.1rem auto 0;
    font-size: 0;
}
.hot-sale .tab > div{
    position: relative;
    display: inline-block;
    width: 25%;
    text-align: center;
    font-size: 0.1024rem;
    line-height: 3;
    color: #D6A882;
}
.hot-sale .tab > div .dot{
    position: absolute;
    width: 0.0938rem;
    height: 0.0938rem;
    padding: 0.034rem;
    transform: translate(-50%, -50%);
    left: 50%;
}
.hot-sale .tab > div .active{
    background: url('../img/circle-bg.png') no-repeat;
    background-size: 100% 100%;
}
.hot-sale .tab > div .dot span{
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    left: 0.027rem;
    top: 0.027rem;
    border-radius: 50%;
    background-color: white;
}
.hot-sale .scroll-box{
    width: 2.944rem;
    margin: 0 auto;
}
.hot-sale .scroll-box .top{
    height: 1.99rem;
    border-radius: 0.5em;
    padding: 0.0213rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.1rem;
    border:1px solid transparent;
    background: -webkit-linear-gradient(to top, #ce0c3a , #ff3552); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(to top, #ce0c3a, #ff3552); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(to top, #ce0c3a, #ff3552); /* Firefox 3.6 - 15 */
    background: linear-gradient(to top, #ce0c3a , #ff3552); /* 标准的语法 */
}
.hot-sale .scroll-box .top .slogan{
    width: 2.095rem;
    height: 0.268rem;
    line-height: 0.268rem;
    font-size: 0.102rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: 0 auto;
    background: url('../img/hot-sale-slogan.png') no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -0.02rem;
    z-index: 99;
    letter-spacing: 0.01rem;
}
.hot-sale .scroll-box .top .fix-overflow{
    height: 100%;
    overflow:hidden;
    border-radius: 0.3em;
}
.hot-sale .scroll-box .top .mask, .hot-sale .scroll-box .bottom .mask{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.hot-sale .scroll-box .bottom > div{
    width: 1.365rem;
    height: 0.853rem;
    border-radius: 0.5em;
    overflow: hidden;
    border:3px solid #F6B37F;
    float: left;
    position: relative;
}
.hot-sale .scroll-box .bottom > .r{
    float: right;
}
.hot-sale .scroll-box .bottom .text{
    position: absolute;
    right: 0.1rem;
    bottom: 0.05rem;
    color: white;
}
.hot-sale .yy-imdetily{
    width: 2.125rem;
    height: 0.46rem;
    margin: 0.25rem auto 0;
    background: url('../img/yy-imdetily.png') no-repeat;
    background-size: 100% auto;
}
.three-boring .title{
    width: 2.66rem;
    height: 0.798rem;
    margin: 0.1rem auto 0.2rem;
}
.three-boring .item{
    width: 98%;
    margin: 0 auto;
    font-size: 0;
}
.three-boring .item img{
    width: 33.33%;
}

.personal-box{
    width: 3.1rem;
    height: 2.93rem;
    margin: 0.4rem auto 0.2rem;
    background: url('../img/qwdz.png') no-repeat;
    background-size: 100% auto;
}
.personal-box .p-title{
    font-size: 0.1877rem;
}
.personal-box .slogan{
    text-align: center;
    font-size: 0.102rem;
    color: #B90F24;
    font-weight: bold;
    letter-spacing: 0.01rem;
}
.personal-box .desginer{
    font-size: 0;
    width: 2.85rem;
    margin: 0.1rem auto;
}
.personal-box .desginer > div{
    display: inline-block;
}
.personal-box .desginer img{
    width: 100%;
    height: 100%;
}
.personal-box .desginer .d1, .personal-box .desginer .d2, .personal-box .desginer .d3{
    width: 0.951rem;
    height: 1.7328rem;
    margin-right: 0.05rem;
}
.personal-box .desginer .d2{
    width: 0.8322rem;
    vertical-align: top;
}
.personal-box .desginer .d3{
    margin-right: 0;
}
.personal-box .desginer .d2 > img{
    width: 0.8322rem;
    height: 0.8322rem;
}
.personal-box .yy{
    width: 2.099rem;
    height: 0.46rem;
    margin: 0 auto;
    background: url(../img/free-get-imedily.png) no-repeat;
    background-size: 100% auto;
}

.service-lience{
    height: 3.46rem;
    background: url(//staticqn.qizuang.com/custom/20190326/FiSHQlJmn0pNVbzMHLZ6GsurjazZ) no-repeat;
    background-size: 100% auto;
    border-top: 1px solid transparent;
}
.service-lience .title{
    background: url(../img/title-b.png) no-repeat;
    background-size: 100% 100%;
    width: 2.436rem;
    text-align: center;
    height: 0.3457rem;
    line-height: 0.3457rem;
    margin: 0.45rem auto 0.2rem;
    color: white;
    font-size: 0.153rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
}
.service-lience .service-process{
    width: 2.338rem;
    height: 2.244rem;
    margin: 0 auto;
}
.disclaimer{
    color: #C39D5C;
}
.disclaimer a{
    color: #369BF0;
    text-decoration: underline;
}
.order-success-mask{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}
.success-box{
    width: 2.26rem;
    height: 2.368rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 999;
    display: none;
}
.success-box .main{
    width: 100%;
    height: 1.96rem;
    background: url('//staticqn.qizuang.com/custom/20190315/Fi6OpvAKLbKvMRKNR-ZCuSK8T2cV') no-repeat;
    background-size: 100% auto;
    color: white;
    text-align: center;
}
.success-box .main .title{
    font-size: 0.1536rem;
    font-weight: bold;
    padding-top: 0.75rem;
}
.success-box .main .c{
    margin-top: 0.35rem;
}
.success-box .close-success-box{
    width: 0.273rem;
    height: 0.405rem;
    margin: 0 auto;
    background: url('../img/close.png') no-repeat;
    background-size: 100% auto;
}
