/**
 * @file index.css
 * @author swan
 * 选择器命名规则：p-xxx (xxx:未小写英文字母)
 */

 /* 阿里图标 */
@import "./iconfont.css";

 /* 页面根节点样式 */
 page{
    height: 100%;
    overflow-y: auto;
    color:#333;
 }
.p-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
}
/* 选中项文字颜色 */
.p-active-color{
    color:#ff5353;
}
/* 阿里图标 */
@font-face {
  font-family: 'iconfont';  /* project id 1203032 */
  src: url('./iconfont.eot');
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont.woff2') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont/#iconfont') format('svg');
}
/* 底部加载 */
.btm-nomore {
    display: block;
    width: 100%;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 24rpx;
    color: #999;
    text-align: center;
}
.p-left{
    float: left
}
.p-right{
    float: right
}
input,textarea{
    color:#333!important;
}
::-webkit-scrollbar{
width: 0;
height: 0;
color: transparent;
}
