<link rel="stylesheet" href="/assets/common/css/cooperation-ad.css?v={:C('STATIC_VERSION')}">

<div class="cooperation_ad_mask"></div>
<div class="cooperation_box">
    <span class="close"></span>
    <a href="#" target="_blank" id="ad-link">
        <div class="ad-area">广告区域</div>
    </a>
</div>
<script>
    $(function () {
        var $cooperationAdMask = $(".cooperation_ad_mask"),
            $cooperationBox = $(".cooperation_box"),
            $closeBtn = $cooperationBox.find(".close");
        $closeBtn.on('click', function () {
            $cooperationAdMask.fadeOut(0)
            $cooperationBox.fadeOut(0)
            $cooperationBox.find("#ad-link").off("click")
        })
    })
    /**
     * 统计异业合作广告点击数
     * @param id
     */
    function countAdPv(id) {
        if(!id){
            id = 0
        }
        $.ajax({
            url: "/addPartneradClick",
            type: 'POST',
            dataType: 'JSON',
            data: {
                id: id,
            }
        }).done(function (res) {})
    }
</script>
