<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超值家装季7800元限量红包</title>
    <meta name="applicable-device" content="mobile" />
    <meta name="keywords" content="装修报价，量房设计，设计师1V1" />
    <meta name="description" content="超值装修季，7800元超值家装福利送不停，装修弄清预算再开搞，免费4套设计方案满足你对家的所有想象。大数据帮您智能评估装修报价，各项装修费用一目了然，让您轻松装修乐无忧。" />
    <link href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/" rel="canonical"/>
    <link href="/assets/mobile/common/css/m-reset.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/css/m-public.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/fonts/font-awesome.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/sepical/css/qzjzj.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
    <link href="//assets.qizuang.com/g-css/animate/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <!-- banner图片 -->
    <div class="m-img-box-a">
        <img src="{$SCHEME_HOST.scheme_full}staticqn.qizuang.com/custom/20190930/FmuuHXdZ8yijeiGqaMbe6aZtfjzr">
        <div class="rules">规则<img src="/assets/mobile/sepical/img/arrow.png" alt=""></div>
    </div>
    <div class="order-box">
      <div id='order-auchor'></div>
      <div class="caption">
        <div class="line"></div>
        <span class="text">你家装修要花多少钱？</span>
      </div>
      <div class="money-main">
          <div class="money-img">
              <div class="" style="float: right;">
                  <div class="num num-gray"></div>
                  <div class="num num-gray"></div>
                  <div class="num num-gray"></div>
                  <div class="num num-gray"></div>
                  <div class="num num-gray"></div>
                  <div id="num-1" class="num num-1"></div>
                  <div id="num-2" class="num num-2"></div>
                  <div id="num-3" class="num num-0"></div>
                  <div id="num-4" class="num num-4"></div>
                  <div id="num-5" class="num num-5"></div>
                  <div id="num-6" class="num num-8"></div>
                  <span> 元</span>
              </div>
          </div>
      </div>
      <!-- from表单填写 -->
      <div class="form-once">
          <ul class="m-bj-edit">
              <li id="area">
                  <div>
                      <button id="showCityPicker2" class="c-zb-city" type="button">
                          <i class="fa fa-map-marker">
                          </i>
                          <empty name="info.cityarea">
                          请选择您所在的区域
                          <else />
                          {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                          </empty>
                      </button>
                      <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                      <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                      <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                  </div>
              </li>
              <li>
                  <input class="m-row-int1 m-bj-edit-list" type="number" name="mianji" placeholder="请输入您的房屋面积" value="{$Think.get.mianji}">
                  <span class="dw">
                      ㎡
                  </span>
              </li>
              <li>
                  <input class="m-row-int1 m-bj-edit-list" type="tel" maxlength="11" name="tel-number" placeholder="输入号码，报价结果将发送到您的手机">
                  <input type="hidden" name="fb_type" value="baojia">
              </li>
              <li id="shenming">
                <input type="checkbox" checked="checked" id="mianze">
                <label for="mianze" id="check" class="fa fa-check"></label>
                <span>我已阅读并同意齐装网的</span>
                <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/about/disclaimer"><span>《免责声明》</span></a>
              </li>
          </ul>
          <!-- 立即计算报价按钮 -->
          <a href="javascript:void(0)" class="m-b-btn save-submit">免费获取装修报价</a>
      </div>
      <!-- from2表单填写 -->
      <div class="form-again hide">
          <ul class="m-bj-edit">
              <li>
                  <input class="m-row-int1 m-bj-edit-list" type="text" name="nametop" maxlength="13" placeholder="请输入您的姓名">
              </li>
              <li>
                  <input class="m-row-int1 m-bj-edit-list" type="text" name="xiaoqu" placeholder="填写小区名称以便准确匹配">
              </li>
          </ul>
          <p class="m-bj-edit">选择喜欢的风格</p>
          <ul class="m-bj-edit choose-style">
            <li><input type="checkbox" value='1' id='s_one'><label for="s_one">中式风格</label></li>
            <li><input type="checkbox" value='2' id='s_two'><label for="s_two">现代简约</label></li>
            <li><input type="checkbox" value='3' id='s_three'><label for="s_three">欧式奢华</label></li>
            <li><input type="checkbox" value='4' id='s_four'><label for="s_four">北欧简约</label></li>
            <li><input type="checkbox" value='5' id='s_five'><label for="s_five">时尚混搭</label></li>
            <li><input type="checkbox" value='6' id='s_six'><label for="s_six">古典风格</label></li>
          </ul>
          <!-- 立即计算报价按钮 -->
          <a class="m-b-btn save-submit-again" href="javascript:void(0)">立即计算</a>
      </div>
      <input type="hidden" name="source" value="{$source}">
    </div>
    <div class="fuli-caption">
      <img src="/assets/mobile/sepical/img/left-c.png" class="fuli-icon">
      <span class="text">三大省钱福利·霸气登场</span>
      <img src="/assets/mobile/sepical/img/right-c.png" class="fuli-icon">
    </div>
    <div class="rang-li">疯狂让利中</div>
    <div class="kefu-shows">
      <div class="item">
        <img src="{$SCHEME_HOST.scheme_full}staticqn.qizuang.com/custom/20190929/FlP5iJxaEAsq5y5eUq4F_Z7JFCjp">
        <div class="desc">
          <div class="title">齐装网-全屋装修报价</div>
          <p class="miandanjia orange">免单价！！</p>
          <p class="miandan-price orange"><span class="big-price">¥0</span><span class="mini-price">¥ 5000</span></p>
          <p class="baoming">已有31人报名 限量<span class="orange">88</span>套</p>
          <div class="get-now-btn"><a href='#order-auchor'>马上抽</a></div>
        </div>
      </div>
      <div class="item">
        <img src="{$SCHEME_HOST.scheme_full}staticqn.qizuang.com/custom/20190929/FsEX6Bq-mGVmtvqXZ-5frRGEG7jw">
        <div class="desc">
          <div class="title">量房设计看新家方案</div>
          <p class="miandanjia orange">免单价！！</p>
          <p class="miandan-price orange"><span class="big-price">¥0</span><span class="mini-price">¥ 1800</span></p>
          <p class="baoming">已有71人报名 限量<span class="orange">188</span>套</p>
          <div class="get-now-btn"><a href='#order-auchor'>马上抽</a></div>
        </div>
      </div>
      <div class="item">
        <img src="{$SCHEME_HOST.scheme_full}staticqn.qizuang.com/custom/20190929/Fuwwl5wGJke4rFXSCe_4D_bLW_x1">
        <div class="desc">
          <div class="title">资深设计师1V1户型咨询</div>
          <p class="miandanjia orange">免单价！！</p>
          <p class="miandan-price orange"><span class="big-price">¥0</span><span class="mini-price">¥ 1000</span></p>
          <p class="baoming">已有398人报名 限量<span class="orange">500</span>套</p>
          <div class="get-now-btn"><a href='#order-auchor'>马上抽</a></div>
        </div>
      </div>
    </div>
    <div class="rules-dia">
      <div class="ruls-content" style="height: 3.445rem;">
        <span class="close"></span>
        <h3 class="caption">活动规则</h3>
        <p>1、本次活动《超值家装季》赠7800元家装红包，红包限定提供全屋装修报价、量房设计新房方案、资深设计师1V1户型咨询的商品服务，市场价值7800元。</p>
        <p>2、全屋装修报价中奖名额限88位，享本地优质装修公司，根据用户房屋所属城市、面积、户型大数据测算详细工程报价。</p>
        <p>3、量房设计新房方案活动中奖名额为限188位，享本地优质装修公司，免费上门量房，提供手绘平面布局图并设计4套装修设计方案。</p>
        <p>4、资深设计师1V1户型咨询活动中奖名额限500位，享本地优质装修公，免费为用户提供户型等形式咨询设计师装修改造/家具布置建议。</p>
        <p>5、全屋装修报价为市场估算报价仅供参考，以上活动福利仅限本页面活动报名用户享有。</p>
      </div>
    </div>
    <input type="hidden" name="hide_city_id" value="{$info.cityarea.id}">
<script type="text/javascript" src="//assets.qizuang.com/g-js/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/common/js/order.js?v=20180119145701"></script>
<script type="text/javascript" src="/assets/common/js/App.js?v="></script>
<script type="text/javascript" src="/assets/mobile/common/js/common.js?v="></script>
<script type="text/javascript" src="/assets/mobile/common/js/fixed.js?v="></script>
<script type="text/javascript" src="/assets/mobile/common/js/disclaimer.js?v="></script>

<script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
<script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/mobile/common/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
 // 获取随机数的方法
 function GetRandomNum(Min,Max){
        var Range = Max - Min;
        var Rand = Math.random();
        return(Min + Math.round(Rand * Range));
    }
    // 随机数
    var timer = setInterval(function(){
        var num = GetRandomNum(30000,120000)+'';
        if(num<99999){
            var num1 = 'num num-gray',
                num2 = 'num num-' + num.charAt(0),
                num3 = 'num num-' + num.charAt(1),
                num4 = 'num num-' + num.charAt(2),
                num5 = 'num num-' + num.charAt(3),
                num6 = 'num num-' + num.charAt(4);
        }else{
            var num1 = 'num num-' + num.charAt(0),
                num2 = 'num num-' + num.charAt(1),
                num3 = 'num num-' + num.charAt(2),
                num4 = 'num num-' + num.charAt(3),
                num5 = 'num num-' + num.charAt(4),
                num6 = 'num num-' + num.charAt(5);
        }
        $('#num-1').removeClass().addClass(num1);
        $('#num-2').removeClass().addClass(num2);
        $('#num-3').removeClass().addClass(num3);
        $('#num-4').removeClass().addClass(num4);
        $('#num-5').removeClass().addClass(num5);
        $('#num-6').removeClass().addClass(num6);

    }, 400);

    $('.save-submit').on('click',function() {
        var checked = $("#mianze").is(':checked');


        window.order({
            extra:{
                cs:$('input[name=city]').attr('data-id'),
                qx:$('input[name=area]').attr('data-id'),
                mianji:$(".m-bj-edit input[name=mianji]").val(),
                tel:$(".m-bj-edit input[name=tel-number]").val(),
                fb_type:$("input[name=fb_type]").val(),
                source: $('input[name=source]').val(),
                save:1,
                clickid:"{$Think.get.clickid}",
                creativeid:"{$Think.get.creativeid}",
                aid:"{$Think.get.adid}",
                creativetype:"{$Think.get.creativetype}",
                source: 19092825
            },
            submitBtn:{
                className:$(this),
                type:'btn'
            },
            error:function(){

                alert("发生了未知的错误,请稍后再试！");
            },
            success:function(data, status, xhr){

                if(data.status == 0){
                    return
                }
                // _taq.push({convert_id:"1598514552443939", event_type:"form"});

                if ($('.form-again').hasClass('hide')) {
                    $('.form-again').fadeIn(300).removeClass('hide');
                    $('.form-once').hide();
                    $('.fuli-caption').fadeOut(0)
                    $('.rang-li').fadeOut(0)
                    $('.kefu-shows').fadeOut(0)
                    $('.order-box .caption').fadeOut(0)
                    $('.order-box .money-main').fadeOut(0)
                }
            },
            validate:function(item, value, method, info){
                if (('cs' == item || 'qx' == item) && 'notempty' == method) {
                    alert(info);
                    return false;
                };
                if ('mianji' == item && '' != method) {
                    alert(info);
                    // $(".m-bj-edit input[name=mianji]").val("");
                    $(".m-bj-edit input[name=mianji]").focus();
                    return false;
                };
                if ('tel' == item && '' != method) {
                    alert(info);
                    $(".m-bj-edit input[name=tel-number]").focus();
                    return false;
                };
                if(!checked){
                    alert('请勾选我已阅读并同意齐装网的《免责声明》！')
                    return false;
                };

                return true;
            }
        });
    });
    //切换免责对勾
    $("#check").click(function(){
        $(this).toggleClass('fa-check');
    });
    // 立即计算报价
    $('.save-submit-again').on('click',function(){
        var style = []
        $('.choose-style input[type="checkbox"]:checked').each(function(index, item) {
          style.push($(item).val())
        })
        var src = "{$src}";
        window.order({
            extra:{
                name:$(".m-bj-edit input[name=nametop]").val(),
                xiaoqu:$(".m-bj-edit input[name=xiaoqu]").val(),
                tel:$("input[name=tel-number]").val(),
                fengge: style.join(','),
                source: 19092825,
                save:1
            },
            submitBtn:{
                className:$(this),
                type:'btn'
            },
            error:function(){
                alert("发生了未知的错误,请稍后再试！");

            },
            success:function(data, status, xhr){

                if(data.status == 1){
                    if(src){
                        window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/czjzj-details?src="+src;
                    }else{
                        window.location.href = "{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/czjzj-details/";
                    }
                }else{
                    alert(data.info);
                }
            },
            validate:function(item, value, method, info){
                if ('name' == item && '' != method) {
                    alert(info);
                    $(".m-bj-edit input[name=nametop]").focus();
                    return false;
                };
                if ('xiaoqu' == item && 'notempty' == method) {
                    alert(info);
                    $(".m-bj-edit input[name=xiaoqu]").focus();
                    return false;
                };

                return true;
            }
        });
    });

</script>
<script type="text/javascript">
    // 城市选择插件
    selectQz.init({
        province:$("input[name=province]").attr("data-id"),
        city:$("input[name=city]").attr("data-id"),
        area:$("input[name=area]").attr("data-id")
    });

    $(function() {
      $('.rules').on('click', function() {
        $('.rules-dia').fadeIn(0)
      })
      $('.rules-dia .close').on('click', function() {
        $('.rules-dia').fadeOut(0)
      })
    })
    $(function() {
      if(navigator.userAgent.indexOf('iPhone') > -1){
        $('.choose-style').addClass('fix-ios-top')
      }
    })

</script>
</body>
</html>
