<extend name="Common:basic"/>
<block name="title"><title>装修优惠券 - 装修礼券 - 装修代金券免费领取 - 齐装网</title></block>
<block name="keywords"><meta name="keywords" content="装修优惠券,装修礼券,装修代金券" /></block>
<block name="description"><meta name="description" content="齐装网礼券中心提供多种装修优惠券，可抵平面设计费用、上门量房费用、预算报价费用！还有更多冰点价格全包套餐限时限量预定！"/></block>
<block name="link">
    <link rel="stylesheet" type="text/css" href="/assets/mobile/special/mthd/css/mthd.css?v={:C('STATIC_VERSION')}"/>
    <link href="/assets/mobile/meitu/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/mobile/common/css/qzCitySelect.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
</block>
<block name="content">
    <article>
        <div class="mthd-content">
            <img src="/assets/mobile/special/mthd/img/top-banner.png" />
            <div class="mthd-yhq">
                <img src="/assets/mobile/special/mthd/img/yhq.png" />
                <div class="top-qiang mthd-btn"></div>
            </div>
            <img src="/assets/mobile/special/mthd/img/low-price.png" class="mthd-tit"/>
            <div class="mthd-taocan">
                <div class="taocan-img">
                    <img src="/assets/mobile/special/mthd/img/jjsh.jpg" />
                </div>
                <div class="taocan-des">
                    <p><strong>经济实惠</strong> 套餐</p>
                    <p class="taocan-price"><strong>599</strong>元/㎡起</p>
                    <div class="qiang-btn mthd-btn">抢</div>
                </div>
            </div>
            <div class="mthd-taocan">
                <div class="taocan-img">
                    <img src="//staticqn.qizuang.com/custom/20190830/Fjrsepu-L-vLTKWt_l2NhUZpXwav" />
                </div>
                <div class="taocan-des">
                    <p><strong>小资风尚</strong> 套餐</p>
                    <p class="taocan-price"><strong>799</strong>元/㎡起</p>
                    <div class="qiang-btn mthd-btn">抢</div>
                    <div class="hot"></div>
                </div>
                <div class="percent"></div>
            </div>
            <div class="mthd-taocan">
                <div class="taocan-img">
                    <img src="//staticqn.qizuang.com/custom/20190830/Ftp1yHft_v84Z7s98PrEl3PU8LYs" />
                </div>
                <div class="taocan-des">
                    <p><strong>尊贵奢华</strong> 套餐</p>
                    <p class="taocan-price"><strong>999</strong>元/㎡起</p>
                    <div class="qiang-btn mthd-btn">抢</div>
                </div>
            </div>
        </div>
        <div class="mthd-second">
            <div class="mthd-second-tit">
                <img src="/assets/mobile/special/mthd/img/zxfg.png" />
            </div>
            <div class="mthd-tab">
                <ul>
                    <li class="active">北欧极简</li>
                    <li>现代简约<span class="hot-list"></span></li>
                    <li>日式风格</li>
                    <li>新中式</li>
                </ul>
            </div>
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/Fir5w4GMiXkbCiOLYvnubtuXOaBd" />
                                <div class="rexiao"></div>
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>108㎡ | 三居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/FijgEqW0z3eXjF-YZ-nGFRdNly6r" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>136㎡ | 四居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/Flbh58lxAlwVXDVt-8S4o4ELznEr" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>89㎡ | 二居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/FusgUArSnMAV2NDI2xJj3r8kEWRK" />
                                <div class="rexiao"></div>
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>102㎡ | 二居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/Fhu2F14tcSSc53Nt7b9jNYZWpmYw" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>106㎡ | 二居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/Fsdis_ltBLIlgdv5o_HqVf7TPzLC" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>128㎡ | 三居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="/assets/mobile/special/mthd/img/rishi1.jpg" />
                                <div class="rexiao"></div>
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>125㎡ | 三居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/FqoeHntGgHDvQqY4TTiH8wke9wCy" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>96㎡ | 二居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/FpWkjPvnZGmwudYHc44vlZ0KFciz" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>128㎡ | 三居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/Fn-iWXr9jHbx3-8AsJ6edz1Ss7wL" />
                                <div class="rexiao"></div>
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>122㎡ | 三居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/Fk9x9CPk3TSkkaBkjtzjmLqBPJOp" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>98㎡ | 二居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/FlMfobrbTyWjGYVxBRmJAL4svrsf" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>128㎡ | 三居室</strong></p>
                                <div class="sheji-btn mthd-btn">预约0元设计</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-choose">
                <img src="/assets/mobile/special/mthd/img/more-choose.png" />
            </div>
            <img src="/assets/mobile/special/mthd/img/more-anli.png" class="more-anli"/>
            <div class="swiper-container swiper-container2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="/assets/mobile/special/mthd/img/bojj.jpg" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>周女士 | 北欧极简</strong></p>
                                <div class="sheji-btn mthd-btn">想要同款设计</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/FnVGB88Rp_DbvfH673Y6v6oOYpIN" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>王女士 | 现代简约</strong></p>
                                <div class="sheji-btn mthd-btn">想要同款设计</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="//staticqn.qizuang.com/custom/20190830/FqSmAMiF2CVhFpR3Cre84vGdMMdQ" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>陆先生 | 日式风格</strong></p>
                                <div class="sheji-btn mthd-btn">想要同款设计</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mthd-taocan">
                            <div class="taocan-img">
                                <img src="/assets/mobile/special/mthd/img/xzs.jpg" />
                            </div>
                            <div class="taocan-des taocanlist">
                                <p><strong>张女士 | 新中式</strong></p>
                                <div class="sheji-btn mthd-btn">想要同款设计</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mthd-third">
            <img src="/assets/mobile/special/mthd/img/about.png" class="about" />
            <img src="/assets/mobile/special/mthd/img/hf.png" style="width:100%;"/>
            <div class="mthd-fen">
                <div class="fen-list">
                    <img src="/assets/mobile/special/mthd/img/yzgs.png" />
                    <p>优质公司</p>
                    <div class="tab_list">五大标准</div>
                </div>
                <div class="fen-list">
                    <img src="/assets/mobile/special/mthd/img/sgwy.png" />
                    <p>施工无忧</p>
                    <div class="tab_list">透明报价</div>
                </div>
                <div class="fen-list">
                    <img src="/assets/mobile/special/mthd/img/hbjk.png" />
                    <p>环保健康</p>
                    <div class="tab_list">正品材料</div>
                </div>
                <div class="fen-list">
                    <img src="/assets/mobile/special/mthd/img/zhwy.png" />
                    <p>装后无忧</p>
                    <div class="tab_list">5年质保</div>
                </div>
                <div class="fen-list">
                    <img src="/assets/mobile/special/mthd/img/wqbz.png" />
                    <p>维权保障</p>
                    <div class="tab_list">专业客服</div>
                </div>
                <div class="fen-list">
                    <img src="/assets/mobile/special/mthd/img/gfjd.png" />
                    <p>官方监督</p>
                    <div class="tab_list">省心省力</div>
                </div>
            </div>
            <div class="mthd-bottom">
                <div class="libao">
                    <img src="/assets/mobile/special/mthd/img/libao.png" />
                </div>
                <div class="bottom-right">
                    <p>装修豪礼大放送</p>
                    <div class="get-btn mthd-btn">立即领取</div>
                </div>
            </div>
        </div>
    </article>
    <div class="meth-mask">
        <div class="mthd-dialog">
            <span class="close-btn">×</span>
            <ul>
                <li id="area">
                    <div>
                        <button id="showCityPicker9" type="button">
                            <i class="map-marker fr">
                            </i>
                            <empty name="info.cityarea">
                                请选择您所在的区域
                                <else />
                                {$mapUseInfo.provincefull} {$mapUseInfo.name} {$info.cityarea.name}
                            </empty>
                        </button>
                        <input type="hidden" name="province" data-id="{$mapUseInfo.pid}">
                        <input type="hidden" name="city" data-id="{$mapUseInfo.id}">
                        <input type="hidden" name="area" data-id="{$info.cityarea.id}">
                    </div>
                </li>
                <li><input class="tel-number" type="tel" maxlength="11" name="tel-number" placeholder="您的手机号"></li>
            </ul>
            <div class="dialog-btn">立即抢</div>
        </div>
    </div>
    <div class="success-mask">
        <div class="success-dialog">
            <img src="/assets/mobile/special/mthd/img/success.png" class="sucess-img"/>
            <p class="get-success">恭喜您领取成功</p>
            <p>之后会有工作人员给您提供电话咨询服务，敬请留意</p>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="{$static_host}/assets/common/js/jquery.scrollLoading-min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=q23cg2dVNxDL71KLzs64mujph1fE6zX4"></script>
    <script type="text/javascript" src="/assets/mobile/common/js/geolocation.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="//{:C('QINIU_DOMAIN')}/{:OP('ALL_REAL_VIP_PCA_JSON')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/jroll.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/mobile/js/qzCitySelect.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        // 城市选择插件
        selectQz.init({
            province: $("input[name=prov]").attr("data-id"),
            city: $("input[name=cs]").attr("data-id"),
            area: $("input[name=qy]").attr("data-id")
        });
        var mySwiper = new Swiper('.swiper-container1', {
            //移动端轮播
            autoplayDisableOnInteraction : false,
            loop : true,
            loopedSlides: 2,
            autoplay: 3000,//可选选项，自动滑动
            initialSlide :0,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true,//修改swiper的父元素时，自动初始化swiper
            onSlideChangeStart:function(swiper){
                index = swiper.activeIndex-2;
                if(index == 4){
                    index = 0;
                }else if(index == 5){
                    index = 1;
                }
                $(".mthd-tab ul li").removeClass("active");
                $(".mthd-tab ul li").eq(index).addClass("active");
            }
        });
        var mySwiper1 = new Swiper('.swiper-container2', {
            //移动端轮播
            autoplayDisableOnInteraction : false,
            loop : true,
            loopedSlides: 4,
            autoplay: 3000,//可选选项，自动滑动
            initialSlide :0,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true,//修改swiper的父元素时，自动初始化swiper
        });
        $(".mthd-tab ul li").click(function () {
            var index = $(this).index();
            $(".mthd-tab ul li").removeClass("active");
            $(this).addClass("active");
            mySwiper.slideTo(index+2, 500, false);
        });
        //点击抢、预约0元设计、想要同款设计、立即领取按钮
        $(".mthd-btn").click(function () {
            $(".meth-mask").show();
            $(".tel-number").val("");
        });
        //关闭弹窗
        $(".close-btn").click(function () {
            $(".meth-mask").hide();
        });

        //点击弹窗立即抢按钮
        $(".dialog-btn").click(function () {
            $('body').css('overflow','auto');
            var phone = $('.tel-number').val(),
                cs = $('input[name=city]').attr('data-id'),
                qy = $('input[name=area]').attr('data-id');
            if (cs == '' || qy == '') {
                alert('请选择所在城市');
                return false
            }
            if (!checkTel(phone)) {
                return false
            }
            window.order({
                extra: {
                    cs: cs,
                    qx: qy,
                    tel: phone,
                    save: 1
                },
                submitBtn:{
                    className:$(this),
                    type:'btn'
                },
                error: function () {
                    alert("发生了未知的错误,请稍后再试！");
                },
                success: function (data, status, xhr) {
                    if (data.status == 1) {
                        $(".meth-mask").hide();
                        $(".success-mask").show();
                        setTimeout(function () {
                            $(".success-mask").hide();
                        },3000)
                    } else {
                        alert(data.info)
                    }
                }
            })
        });
        function checkTel(tel) {
            var reg = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
            if (tel.length == 0) {
                alert('请输入您的手机号码');
                return false
            }
            if (tel.length > 0 && tel.length < 11) {
                alert('请输入11位手机号码');
                return false
            }
            if (!reg.test(tel)) {
                alert('请填写正确的手机号码');
                return false
            } else {
                return true
            }
        }
    </script>
</block>
