<extend name="Common:basic"/>
<block name="link">
    <link rel="stylesheet" type="text/css" href="/assets/mobile/special/yuding/css/yuding.css?v={:C('STATIC_VERSION')}"/>
    <link href="/assets/mobile/meitu/css/swiper-3.3.1.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />



</block>
<block name="top">
    <div class="m-header-his" >
        <i class="fa fa-angle-left"></i>
    </div>
    <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/{$cityInfo.bm}/" class="m-header-left"></a>
</block>
<block name="content">
    <article>
        <div class="yuding-banner">
            <img src="/assets/mobile/special/yuding/img/banner.jpg" style="width:100%;" />
        </div>
        <div class="yuding-content">
            <div class="yuding-status">
                <div style="border-bottom:1px dashed rgba(214,214,214,1);padding-bottom: 0.2rem;">
                    <h1>您的装修进展情况：</h1>
                    <div style="font-size:0.14rem;">
                        <div style="margin-right: 0.2rem;display: inline;" class="zx-status">
                            <label class="cicle-inite item_circle" data-index="1"></label><span>已签定装修公司</span>
                        </div>
                        <div style="display: inline;" class="zx-status">
                            <label class="cicle-inite item_circle" data-index="2"></label><span>未确定装修公司</span>
                        </div>
                        <input type="hidden" class="status-id">
                    </div>
                    <p class="yuding-prompt">请选择装修情况</p>
                    <button type="button" class="receive">立即领取</button>
                </div>
                <div class="status-bottom">
                    <p>—1998元家具礼包，包含三大服务—</p>
                    <div style="margin-bottom:0.15rem;">
                        <dl>
                            <dt><img src="/assets/mobile/special/yuding/img/liangchi.png" /></dt>
                            <dd>上门量尺</dd>
                        </dl>
                        <dl>
                            <dt><img src="/assets/mobile/special/yuding/img/sheji.png" /></dt>
                            <dd>家具软装设计</dd>
                        </dl>
                        <dl>
                            <dt><img src="/assets/mobile/special/yuding/img/baojia.png" /></dt>
                            <dd>全屋家具报价</dd>
                        </dl>
                    </div>

                </div>
            </div>
            <h1>1.上门量尺</h1>
            <p>专业人员精准量尺测距，绘制图纸</p>
            <p>充分利用空间，避免出现尺寸不适</p>
            <div class="liangchi-img">
                <img src="/assets/mobile/special/yuding/img/liangchi.jpg" style="width:100%;"/>
            </div>
            <h1 class="b-color">2.家具软装设计</h1>
            <p>专业设计师一对一服务，提供4套设计方案</p>
            <p>合理挑选家具，巧妙搭配布局</p>
            <div class="sheji-img">
                <div class="swiper-container swiper-container1" style="min-height:2.1rem">
                    <div class="swiper-wrapper">
                        <div class="sheji1-img swiper-slide">
                            <div>
                                <div class="b-fl sheji-left" style="position:relative;">
                                    <img src="/assets/mobile/special/yuding/img/designer1.jpg" style="width:100%;"/>
                                    <p class="yuding-introduce">张盼盼  工作经验：7年</p>
                                </div>
                                <div class="img-list">
                                    <ul>
                                        <li>
                                            <img src="/assets/mobile/special/yuding/img/designer1-1.jpg" />
                                        </li>
                                        <li>
                                            <img src="/assets/mobile/special/yuding/img/designer1-2.jpg" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sheji2-img swiper-slide">
                            <div>
                                <div class="b-fl sheji-left" style="position:relative;">
                                    <img src="/assets/mobile/special/yuding/img/designer2.jpg" style="width:100%;"/>
                                    <p class="yuding-introduce">章其满  工作经验：7年</p>
                                </div>
                                <div class="img-list">
                                    <ul>
                                        <li>
                                            <img src="/assets/mobile/special/yuding/img/designer2-1.jpg" />
                                        </li>
                                        <li>
                                            <img src="/assets/mobile/special/yuding/img/designer2-2.jpg" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sheji3-img swiper-slide">
                            <div>
                                <div class="b-fl sheji-left" style="position:relative;">
                                    <img src="/assets/mobile/special/yuding/img/designer3.jpg" style="width:100%;"/>
                                    <p class="yuding-introduce">田丹妮  工作经验：5年</p>
                                </div>
                                <div class="img-list">
                                    <ul>
                                        <li>
                                            <img src="/assets/mobile/special/yuding/img/designer3-1.jpg" />
                                        </li>
                                        <li>
                                            <img src="/assets/mobile/special/yuding/img/designer3-2.jpg" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-p1" style="position: absolute;bottom:-2px;"></div>
                </div>
            </div>
            <h1 class="b-color">3.全屋家具报价</h1>
            <p>根据户型和需求，列出全屋报价清单</p>
            <p>避免被诱导消费、预算超支</p>
            <div>
                <div class="baojia-img">
                    <div class="swiper-container swiper-container2" style="min-height:2.14rem;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="yuding-rel">
                                    <img src="/assets/mobile/special/yuding/img/baojia1.jpg">
                                    <p class="yuding-introduce baojia-introduce">
                                        <span>二室一厅一卫一厨</span>
                                        <span>53700元</span>
                                    </p>
                                </div>
                                <div class="yuding-area">上海</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="yuding-rel">
                                    <img src="/assets/mobile/special/yuding/img/baojia2.jpg">
                                    <p class="yuding-introduce baojia-introduce">
                                        <span>三室一厅一卫一厨</span>
                                        <span>47520元</span>
                                    </p>
                                </div>
                                <div class="yuding-area">苏州</div>
                            </div>
                            <div class="swiper-slide">
                                <div class="yuding-rel">
                                    <img src="/assets/mobile/special/yuding/img/baojia3.jpg">
                                    <p class="yuding-introduce baojia-introduce">
                                        <span>三室二厅二卫一厨</span>
                                        <span>86500元</span>
                                    </p>
                                </div>
                                <div class="yuding-area">深圳</div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-p2" style="position: absolute;bottom:-2px;"></div>
                    </div>
                </div>
            </div>

            <h1 class="b-color">服务流程</h1>
            <div class="yuding-process">
                <dl>
                    <dt><img src="/assets/mobile/special/yuding/img/process1.png"></dt>
                    <dd>
                        <p>在线预约</p>
                        <p>预定设计师</p>
                    </dd>
                </dl>
                <div class="jiantou" style="left:24%;">
                    <img src="/assets/mobile/special/yuding/img/liucheng.png" />
                </div>
                <dl>
                    <dt><img src="/assets/mobile/special/yuding/img/process2.png"></dt>
                    <dd>
                        <p>上门量尺</p>
                        <p>3天出方案</p>
                    </dd>
                </dl>
                <div class="jiantou" style="left:49%;"><img src="/assets/mobile/special/yuding/img/liucheng.png" /></div>
                <dl>
                    <dt><img src="/assets/mobile/special/yuding/img/process3.png"></dt>
                    <dd>
                        <p>门店看方案</p>
                        <p>签订合同</p>
                    </dd>
                </dl>
                <div class="jiantou" style="left:74%;"><img src="/assets/mobile/special/yuding/img/liucheng.png" /></div>
                <dl>
                    <dt><img src="/assets/mobile/special/yuding/img/process4.png"></dt>
                    <dd>
                        <p>商品验收</p>
                        <p>质量保障</p>
                    </dd>
                </dl>
            </div>
            <p class="yuding-gift">
                <a href="javascript:window.scrollTo('0','0');" class="receive-gift">领取家具大礼包</a>
            </p>
        </div>
        <div class="yuding-dialog">
            <p>恭喜您领取1998元家具大礼包</p>
            <p>为了给您推荐合适的家具商，请保持电话通畅</p>
        </div>
    </article>
</block>

<block name="script">
    <script type="text/javascript" src="/assets/mobile/common/js/swiper/swiper-3.3.1.min.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container2', {
            //移动端轮播
            pagination :'.swiper-p2',
            autoplayDisableOnInteraction : false,
            loop : true,
            loopedSlides: 2,
            //slidesOffsetBefore : 330,
            //slidesOffsetAfter : 3,
            autoplay: 3000,//可选选项，自动滑动
            initialSlide :0,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true//修改swiper的父元素时，自动初始化swiper
        });
        var mySwiper = new Swiper('.swiper-container1', {
            pagination : '.swiper-p1',
            autoplayDisableOnInteraction : false,
            loop : true,
            loopedSlides: 3,
            autoplay: 3000,//可选选项，自动滑动
            initialSlide :0,
            observer:true,//修改swiper自己或子元素时，自动初始化swiper
            observeParents:true//修改swiper的父元素时，自动初始化swiper
        });
        $(".img-list").css("height",$(".sheji-left").height())
        $(".zx-status").click(function(){
            var index = $(this).find("label").attr("data-index");
            console.log(index)
            $(".status-id").val(index);
            if($(this).find("label").hasClass(("hasChose")) == false){
                $(this).find("label").addClass("hasChose");
                $(this).find("label").addClass("check-inite");
                $(this).find("label").removeClass("cicle-inite");
                $(this).siblings().find("label").removeClass("hasChose");
                $(this).siblings().find("label").removeClass("check-inite");
                $(this).siblings().find("label").addClass("cicle-inite");
            }
        });
        var lo = location.href;
        if(lo.indexOf("orderid") != -1){
            var str = lo.split("?")[1];
            var str1 = str.split("=")[1];
            $(".receive").click(function () {
                var data = {};
                data.status = $(".status-id").val()
                data.url = lo;
                data.order_id = str1;
                if($(".status-id").val() == ""){
                    $(".yuding-prompt").css("opacity",1);
                }else{
                    if(data.order_id != "" && $(".status-id").val() == 1){
                        $.ajax({
                            url: '{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/addyuding/',
                            type: 'POST',
                            dataType: 'JSON',
                            data:data
                        }).done(function () {
                            $(".yuding-dialog").show();
                            setTimeout(function () {
                                $(".yuding-dialog").hide();
                            },3000)
                        })
                    }else{
                        $(".yuding-dialog").show();
                        setTimeout(function () {
                            $(".yuding-dialog").hide();
                        },3000)
                    }
                }
            })
        }else{
            $(".receive").click(function () {
                if($(".status-id").val() == ""){
                    $(".yuding-prompt").css("opacity",1);
                }else{
                    $(".yuding-dialog").show();
                    setTimeout(function () {
                        $(".yuding-dialog").hide();
                    },3000)
                }
            })
        }
    </script>
</block>
