<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>增值电信业务经营许可证</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        .management-licence{
            width:100%;
            background-color: rgb(82, 86, 89);
        }
        .management-licence>div.content{

        }
        .management-licence img{
            position: absolute;
            display: block;
            top:60px;
            right: 0;
            left: 0;
            margin:auto;
        }
    </style>
</head>

<body>
<div class="management-licence">
    <div class="content">
        <img src="https://{:C('QINIU_DOMAIN')}/custom/20200523/FnGiq818ERiQ0pW1qxy9hV-E6oOp" />
    </div>
</div>
</body>

</html>
