.m-con{
    width: 92%;
    height: 176rpx;
    margin:0 auto;
    background: #ffffff;
    box-sizing: border-box;
    border-bottom: 1rpx solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .l-main:last-child{
    margin-bottom: 100rpx;
} */
.c-left{
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    padding:26rpx 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.m-con .c-title {
    font-size:32rpx;
    color:rgba(51,51,51,1);
    line-height:36rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.m-con .c-leave{
    display: flex;
    align-items: center;
    font-size:22rpx;
    font-weight:500;
    color:rgba(153,153,153,1);
    line-height:36rpx;
}
.m-con .c-eye{
    width:30rpx;
    height:19rpx;
    margin-right: 12rpx;
}
.c-right{
   width:240rpx;
   height:136rpx;
   border-radius:10rpx;
}
.c-right image{
    width: 100%;
    height: 100%;
}
.no-data {
    background: #fcfcfc;
    margin-bottom: 10px;
}