<!-- <div class="ht-wrap">
    <img src="{$static_host}/assets/user/home/img/qd.jpg" width="1210" height="80"></div> -->
<style>
    a:hover {
        color: #fff;
        text-decoration: none;
    }

    .message-tips {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 999;
        display: none;
    }

    .message-container {
        width: 600px;
        height: 420px;
        background: rgba(255, 255, 255, 1);
        border-radius: 20px;
        position: fixed;
        z-index: 1000;
        margin: auto;
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
    }

    .message-text {
        padding: 135px 50px 40px 50px;
        text-align: center;
    }

    .message-text .text-title {
        padding: 0 50px;
        font-size: 32px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(51, 50, 46, 1);
        line-height: 50px;
        text-align: center;
    }

    .text-tips {
        margin-top: 15px;
        height: 24px;
        font-size: 20px;
        font-family: SourceHanSansCN-Normal;
        font-weight: 400;
        color: rgba(153, 153, 153, 1);
    }

    .text-btn {
        width: 256px;
        display: block;
        height: 60px;
        background: rgba(255, 83, 83, 1);
        border-radius: 30px;
        font-size: 24px;
        line-height: 60px;
        font-family: SourceHanSansCN-Regular;
        font-weight: 400;
        margin: 0 auto;
        margin-top: 35px;
        color: rgba(255, 255, 255, 1);
    }

    .tips-img {
        position: absolute;
        top: -115px;
        left: 100px;
        width: 380px;
        height: 240px;
    }

    .tips-img img {
        width: 100%;
        vertical-align: top;
    }

    .tips-close {
        width: 36px;
        height: 36px;
        position: absolute;
        top: -55px;
        right: 30px;
    }

    .tips-close img {
        width: 100%;
        vertical-align: top;
    }

</style>
<div class="ht-top">
    <div class="ht-wrap clearfix">
        <h2 class="mr20">{$info.user.qc}</h2>
        <ul class="ht-link ht-pull-right">
            <li><a href="{:C('QZ_YUMING_SCHEME')}://{$info.user.bm}.{:C('QZ_YUMING')}/company_home/{$info.user.id}" target="_blank">公司首页</a>
            </li>
            <li><a href="{:C('QZ_YUMING_SCHEME')}://{$info.user.bm}.{:C('QZ_YUMING')}/company_case/{$info.user.id}" target="_blank">公司案例</a>
            </li>
            <!-- <li><a href="http://{$info.user.bm}.{:C('QZ_YUMING')}/company_zixun/{$info.user.id}" target="_blank">公司资讯</a></li> -->
            <li>
                <a class="red" href="/loginout">退出</a>
            </li>
        </ul>
        <div class="info-box"><i class="icon-envelope-alt mr10"></i>消息通知
            <if condition="$info['user']['unreadcount'] NEQ 0 OR $info['user']['unreadsystem'] NEQ 0">
                <span class="ml10 tips">{$info['user']['unreadcount']+$info['user']['unreadsystem']}</span>
            </if>
            <i class="icon-angle-down ml10"></i>
            <div class="info">
                <ul>
                    <li><a href="/orders/"><i class="icon-copy mr10"></i>订单信息
                        <if condition="$info['user']['unreadcount'] NEQ 0">
                            <span class="ml10 tips">{$info['user']['unreadcount']}</span>
                        </if>
                    </a></li>
                    <li><a href="/message/"><i class="icon-bullhorn mr10"></i>系统消息
                        <if condition="$info['user']['unreadsystem'] NEQ 0">
                            <span class="ml10 tips">{$info['user']['unreadsystem']}</span>
                        </if>
                    </a></li>
                </ul>
                <!---暂时没有消息-->
            </div>
        </div>
        <ul class="ht-link">
            <li><a href="{:C('QZ_YUMING_SCHEME')}://{$info.user.bm}.{:C('QZ_YUMING')}/" target="_blank">齐装网首页</a></li>
            <li><a href="{:C('QZ_YUMING_SCHEME')}://{$info.user.bm}.{:C('QZ_YUMING')}/company/" target="_blank">装修公司大全</a></li>
            <li><a href="{:C('QZ_YUMING_SCHEME')}://{$info.user.bm}.{:C('QZ_YUMING')}/xgt/" target="_blank">装修案例</a></li>
        </ul>

        <div class="socket-order-tips" style="display: none;">
            <span class="close">×</span>
            <p class="title">新订单提醒</p>
            <div class="content" id="">
                <a href="/orders/">您有一个新订单，请尽快查看！</a>
            </div>
        </div>
    </div>

    <!-- 新分/赠单提醒 -->
    <!-- <div class="message-tips">
        <div class="message-container">
            <div class="message-text">
                <p class="text-title">亲，您有未查看的新订单，</p>
                <p class="text-title">请及时查看并联系业主！</p>
                <p class="text-tips">越早联系，成功率越大哟~&nbsp;祝您多签单，签大单！</p>
                <a href="/orders/" class="text-btn">立即查看</a>
            </div>
            <div class="tips-img">
                <img src="/assets/common/img/message-tips.png" alt="">
            </div>
            <div class="tips-close">
                <img src="/assets/common/img/message-close.png" alt="">
            </div>
        </div>
    </div> -->
</div>
<div class="ht-tit">用户管理中心</div>

<script type="text/javascript">

    $(function(){
        var timestamp = 0;
        setInterval(function(){
            $.ajax({
                url: "/orders/newnums",
                dataType: "json",
                type: "POST",
                data: {
                    timestamp: timestamp
                },
                success: function(data, textStatus, xhr) {
                    timestamp = 0;
                    if (data.error_code == 0) {
                        timestamp = data["data"]["timestamp"];
                        if (data["data"]["number"] > 0) {
                            $tipElem = $(".socket-order-tips");
                            $tipElem.show();
                        }
                    }
                }
            });
        }, 30000);

        // $(".tips-close").on("click", function () {
        //     $(".message-tips").css({"display": "none"});
        // });
    });

    $(function() {
        // try {
        //     if ('{$_SESSION["u_userInfo"]["classid"]}' == "3" || '{$_SESSION["u_userInfo"]["classid"]}' == "6") {
        //         var url = "{:C('WS_HOST')}/msg/company";
        //         var ws  = new WebSocket(url, ['{$_SESSION["u_userInfo"]["company_token"]}', '{:C("SMS_APP_SLOT")}']);

        //         // ws连接成功
        //         ws.onopen = function () {
        //             console.log(" 连接成功！");
        //         };

        //         // ws连接关闭
        //         ws.onclose = function () {
        //             if (ws) {
        //                 ws.close();
        //                 ws = null;
        //             }
        //             console.log(" 连接关闭！");
        //         };

        //         // ws连接错误
        //         ws.onerror = function () {
        //             if (ws) {
        //                 ws.close();
        //                 ws = null;
        //             }
        //             console.log(" 连接关闭！");
        //         };

        //         // ws数据返回处理
        //         ws.onmessage = function (result) {
        //             var response = JSON.parse(result.data);
        //             if (response.error_code == 0) {
        //                 if (response["data"]["remind_type"] == 2) {
        //                     var info = response["data"]["info"];
        //                     getMsgInfo(info["send_group"]);
        //                 }
        //             }
        //         };

        //         // 获取消息详细内容
        //         function getMsgInfo(send_group){
        //             $.ajax({
        //                 url: "/msgCompany/getMsgInfo",
        //                 dataType: "json",
        //                 type: "GET",
        //                 global: false,
        //                 data: {
        //                     send_group: send_group
        //                 },
        //                 success: function(response, textStatus, xhr) {
        //                     if (response.error_code == 0) {
        //                         var info = response["data"]["info"];
        //                         $tipElem = $(".socket-order-tips");
        //                         $tipElem.find(".title").html(info["title"]);
        //                         $tipElem.find(".content").find("a").html(info["notice"]);

        //                         if (info["link"] == "") {
        //                             $tipElem.find(".content").find("a").attr("href", "javascript:void(0);");
        //                         } else {
        //                             $tipElem.find(".content").find("a").attr("href", info["link_full"]);
        //                         }
                                
        //                         $tipElem.show();
        //                     }
        //                 }
        //             });
        //         }
        //     }
        // } catch (e) {
        //     console.log(e.message);
        // }

        // 消息提示关闭
        $(".socket-order-tips").on("click", ".close", function () {
            $(".socket-order-tips").hide();
        });
    })
</script>
