<div class="mfzx1">
    <a href="/sheji/">免费装修</a>
</div>
<footer class="box-width-css">
    <p>
        <a href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/{$cityInfo.bm}/" class="hot">触屏版</a>&nbsp;|&nbsp;
        <a rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$SCHEME_HOST.host}/action/bm/{$cityInfo.bm}">电脑版</a>
    </p>
    <p>手机齐装网：{$SCHEME_HOST.host}&nbsp;&nbsp;{:getOPKeySwitchByDomain('QZ_BEIAN_INFO')}</p>
    {:OP('baidutongji1','yes')}
    <include file="Common:baidu_js_push"/>
</footer>
<script type="text/javascript">
    $(function(){
        //auto adaptation
            var calculate_size = function () {
                var BASE_FONT_SIZE = 100;
                var docEl = document.documentElement,
                        clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                docEl.style.fontSize = BASE_FONT_SIZE * (clientWidth / 320) + 'px';
            };

            // Abort if browser does not support addEventListener
            if (document.addEventListener) {
                var resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize';
                window.addEventListener(resizeEvt, calculate_size, false);
                document.addEventListener('DOMContentLoaded', calculate_size, false);
                calculate_size();
            }
    });
</script>