<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>提交时间</th>
            <th>合作类型</th>
            <th>倍数/返点</th>
            <th>总合同时间</th>
            <th>本次到账金额</th>
            <th>余额多少</th>
            <th>承诺订单量</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <volist name="data.list" id="item">
            <tr>
                <td>{$item.submit_date}</td>
                <td>{$item.cooperation_type_name}</td>
                <td>
                    <eq name="item.viptype_ratio_show" value="2">
                        {$item.back_ratio}
                    <else />
                        {$item.viptype}
                    </eq>
                </td>
                <td>{$item.contract_start_date} - {$item.contract_end_date}</td>
                <td>{$item.current_contract_amount}</td>
                <td>{$item['lave_amount'] == '-1' ? 0 : $item['lave_amount']}</td>
                <td>
                    <if condition="$item['cooperation_type'] eq 8">
                        {$item.delay_promise_orders}
                    <else />
                        <notempty name="item.promised_orders_fen">
                            <span>总合同 分单：{$item.promised_orders_fen}</span>
                        </notempty>
                        <notempty name="item.promised_orders_zeng">
                            <span>赠单：{$item.promised_orders_zeng} </span><br>
                        </notempty>
                        <notempty name="item.current_promised_orders_fen">
                            <span>本次合同 分单：{$item.current_promised_orders_fen}</span>
                        </notempty>
                        <notempty name="item.current_promised_orders_zeng">
                            <span>赠单：{$item.current_promised_orders_zeng}</span><br>
                        </notempty>
                        <notempty name="item.round_order_amount">
                            <span>轮单费单价：{$item.round_order_amount}</span>
                        </notempty>
                    </if>
                </td>
                <td>
                    <a href="/reportcheck/show?id={$item.id}&cooperation_type={$item.cooperation_type}&admin_user={$admin_user}" target="_blank">查看</a>
                </td>
            </tr>
        </volist>
        <if condition="count($data['list']) == 0">
            <tr>
                <td colspan="8" style="text-align: center;">暂无数据</td>
            </tr>
        </if>
    </tbody>
</table>