<!--查看-erp(通用)-->
<extend name="Main:baseTemplate"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="/assets/common/css/select2_metro.css?v={:C('STATIC_VERSION')}"/>
    <link rel="stylesheet" type="text/css" href="/assets/common/css/Alert.css?v={:C('STATIC_VERSION')}"/>
    <link href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}"rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/home/reportcheck/css/check.css?v={:C('STATIC_VERSION')}">
</block>

<block name="content">
    <section class="content-header">
        <h1>
            <a type="button" class="btn btn-primary" href="{$back_url}">返回</a>
            <span>查看详情</span> 
			<if condition="$admin_user == 2 and $info['open_city_chat_remark']">
                <small class="blue">（{$info.open_city_chat_remark}）</small>
            </if>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li><a href="/reportcheck/index/">会员报备审核</a></li>
        </ol>
    </section>

    <section class="content">
        <div class="row content-box">
            <div class="col-xs-12">
                <div class="box box-default minHeight">
                    <div class="box-body">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="col-xs-6 item-box">
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>1.公司名称：
                                        </div>
                                        <span class="col-xs-8 item-right">{$info.company_name} <notempty name="info.history_modify.count"> <span class="c09f" id="modify_history">（查看历史修改信息）</span></notempty></span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>2.合作类型：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.cooperation_type_name}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>3.城&nbsp;&nbsp;&nbsp;&nbsp;市：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.city_name}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>4.新/老会员：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.is_new_name}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>5.联&nbsp;系&nbsp;人：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.company_contact}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>6.职&nbsp;&nbsp;&nbsp;&nbsp;务：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.company_contact_position|default='——'}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>7.电&nbsp;&nbsp;&nbsp;&nbsp;话：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.company_contact_phone}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>8.微&nbsp;信&nbsp;号：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.company_contact_weixin|default='——'}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>9.合作模式：
                                        </div>
                                        <span  class="col-xs-3 item-right"><if condition="$info.cooperation_mode eq 1">一年<else/>终身模式</if></span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>10.合同时间：
                                        </div>
                                        <span  class="col-xs-4">{$info.contract_start|date='Y/m/d',###} - {$info.contract_end|date='Y/m/d',###}</span>
                                    </div>
                                    <!--<div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>11.本次会员时间：
                                        </div>
                                        <span  class="col-xs-4">{$info.current_contract_start|date='Y/m/d',###} - {$info.current_contract_end|date='Y/m/d',###}</span> <span class="tips">客服注意，请记得按这个上传，销售勿删</span>
                                    </div>-->
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>11.本次款项到账时间：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.current_payment_time|date='Y/m/d',###}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>12.下次付款时间：
                                        </div>
                                        <span  class="col-xs-3 item-right">{:!empty($info['next_payment_time'])?date('Y/m/d',$info['next_payment_time']):'——'}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>13.总合同金额：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.total_contract_amount|default='——'}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>14.本次到账金额：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.current_contract_amount|default='——'}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>15.余&nbsp;款&nbsp;多&nbsp;少：
                                        </div>
                                        <span  class="col-xs-3 item-right">{:($info['lave_amount'] != '-1')?$info['lave_amount']:'——' }</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>16.网&nbsp;店&nbsp;代&nbsp;码：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.company_id|default='——'}</span> <span class="tips">仅老会员填，新会员写新签</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>17.账户登录名称：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.account|default='——'}</span> <span class="tips">报备前让客户设置好账户登录名</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>18.销售备注：
                                        </div>
                                        <span  class="col-xs-3 item-right">{$info.remarke|default='——'}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>19.上&nbsp;传&nbsp;图&nbsp;片：
                                        </div>
                                        <div class="col-xs-9 item-right pr0 upload-img" id="upload-img">
                                            <volist name="info['img_list']" id="vo">
                                                <img src="//{:OP('QINIU_DOMAIN')}/{$vo}" alt="">
                                            </volist>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>20.审核备注：
                                        </div>
                                        <span class="col-xs-3 item-right">{$info.admin_remarke|default='——'}</span>
                                    </div>
                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i>*</i>21.客服备注：
                                        </div>
                                        <span class="col-xs-3 item-right">{$info.service_remarke|default='——'}</span>
                                    </div>
                                    <if condition="$info.upload_img eq 1">
                                        <div class="col-xs-12 item-style">
                                            <div class="col-xs-3 justify">
                                                <i>*</i>22.客服上传图片：
                                            </div>
                                            <div class="col-xs-9 item-right pr0 upload-img" id="kfupload-img">
                                                <input id="imgUpload" type="file" multiple/>
                                                <input type="hidden" name="files" value=""/>
                                            </div>
                                        </div>
                                        <else/>
                                        <div class="col-xs-12 item-style">
                                            <div class="col-xs-3 justify">
                                                <i>*</i>22.客服上传图片：
                                            </div>
                                            <div class="col-xs-9 item-right pr0 upload-img" id="kfupload-img">
                                                <volist name="info['img_list']" id="vo">
                                                    <img src="//{:OP('QINIU_DOMAIN')}/{$vo}" alt="">
                                                </volist>
                                            </div>
                                        </div>
                                    </if>

                                    <div class="col-xs-12 item-style">
                                        <div class="col-xs-3 justify">
                                            <i style="visibility: hidden;">*</i>23.报&nbsp;备&nbsp;人：
                                        </div>
                                        <div class="col-xs-9 item-right pr0">
                                            {$info.saler}
                                        </div>
                                    </div>

                                    <div class="col-xs-12 item-style no-border">
                                        <div class="col-xs-3 justify">
                                            <i style="visibility: hidden;">*</i>24.所属部门：
                                        </div>
                                        <span  class="col-xs-9 item-right">
                                            {$info.top_team_name}
                                        </span>
                                    </div>

                                    <div class="col-xs-12 btns ">
                                        <div class="col-xs-3">
                                            <a class="btn btn-default" href="{$back_url}">返回</a>
                                        </div>
                                        <if condition="$info['check_btn'] eq 1">
                                            <div class="col-xs-3">
                                                <button type="button" class="btn btn-warning button-check">审核</button>
                                            </div>
                                        </if>
                                        <if condition="$info['save_btn'] eq 1">
                                            <div class="col-xs-3">
                                                <button type="button" class="btn btn-warning button-save">保存</button>
                                            </div>
                                        </if>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <if condition="$admin_user eq 1">
                <div class="table-box">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>合作类型</th>
                                    <th>报价类型</th>
                                    <th>合作报价(元)</th>
                                </tr>
                            </thead>

                            <volist name="info['member_quote']" id="vo">
                                <tbody>
                                    <tr>
                                        <td rowspan="{:count($info['member_quote'][$key]) + 1}"><strong>{$key}</strong></td>
                                    </tr>
                                    <volist name="vo" id="v">
                                        <tr>
                                            <td>{$v.quote_type}</td>
                                            <td>{$v.cooperation_price}</td>
                                        </tr>
                                    </volist>
                                </tbody>
                            </volist>
                        </table>
                    </div>
                </div>
            </if>
        </div>
        <div class="mask">
            <div class="tip-box">
                <div class="tip-wrapper">
                    <div class="tip-header">
                        <h2>审核</h2>
                    </div>
                    <div class="tip-body">
                        <ul>
                            <li class="check-box">
                                <span>审核：</span>
                                <label for="pass">
                                    <input type="radio" name="check-result" id="pass" value="1">通过
                                </label>
                                <label for="no-pass">
                                    <input type="radio" name="check-result" id="no-pass" value="2">不通过
                                </label>
                                <if condition="$admin_user eq 2">
                                    <label for="stop">
                                        <input type="radio" name="check-result" id="stop" value="3">客服暂停
                                    </label>
                                </if>
                            </li>
                            <if condition="$admin_user eq 2">
                                <li class="recheck-box">
                                    <span>是否需要重新审核：</span>
                                    <label for="pass">
                                        <input type="radio" name="re-check" id="yes" value="1">是
                                    </label>
                                    <label for="no-pass">
                                        <input type="radio" name="re-check" id="no" value="2">否
                                    </label>
                                </li>
                            </if>
                            <li class="remark-item">
                                <span>备注：</span>
                                <textarea></textarea>
                            </li>
                            <li>
                                <button class="btn btn-primary btn-check btn-confirm">确认</button>
                                <button class="btn btn-default btn-check btn-cancel">取消</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 图片预览 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog " id="fix_dialog_width" style="overflow-y:auto;">
            <div class="modal-content">
                <div class="modal-body"><img src="" id="my-Preview" style="display: block; width: 100%;height: 100%;"></div>
            </div>
        </div>
    </div>

    <!-- 修改历史 -->
    <div id="modifyModal" class="modal fade">
        <div class="modal-dialog" style="width: 880px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="text-align: center;">修改信息</h4>
                </div>
                <div class="modal-body">
                    <p>本次修改数据共{$info.history_modify.count|default=0}处，修改人为：{$info.history_modify.username}，修改时间：{$info.history_modify.date}</p>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>信息名称</th>
                                <th>修改前</th>
                                <th>修改后</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="info.history_modify.list" id="item">
                                <tr>
                                    <td>{$item.keyname}</td>
                                    <eq name="item.last" value="$item.now">
                                    <td colspan="2" class="modal-blue">{$item.now}</td>
                                    <else/>
                                    <td class="modal-red">{$item.last}</td>
                                    <td class="modal-blue">{$item.now}</td>
                                    </eq>
                                </tr>
                            </volist>
                            <if condition="$info['history_modify']['count'] == 0">
                                <tr>
                                    <td colspan="3" style="text-align: center;">暂无数据</td>
                                </tr>
                            </if>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/common/plugins/layer/layer.js?v={:C('STATIC_VERSION')}"></script>
    <script>
        $(function () {
            var checkResult = '',
                isRecheck = '',
                service_remarke = '',
                remark=''
                admin_user = '{$admin_user}',
                check_cooperation_type = '{$info["cooperation_type"]}',
                check_id = '{$info["id"]}';
            $('.button-check').on('click', function () {
                $('.mask').fadeIn()
            })
            $('.btn-cancel').on('click', function () {
                $('.mask').fadeOut()
            })
            $('.check-box input[type=radio]').change(function () {
                checkResult = this.value
                if (this.value == '1') {
                    $('.recheck-box').hide()
                } else if (this.value == '2') {
                    $('.recheck-box').show()
                }
            })
            $('.recheck-box input[type=radio]').change(function () {
                isRecheck = this.value
            })
            $('.btn-confirm').click(function () {
                var admin_remarke = $('.remark-item textarea').val()
                service_remarke = $('.remark-item textarea').val()
                remark = $('.remark-item textarea').val()
                if (checkResult == '1') {
                    isRecheck = ''
                }
                var data = {}
                if(admin_user == 1){
                    data = {
                        checkResult,
                        isRecheck,
                        admin_remarke,
                        remark,
                        admin_user,
                        check_cooperation_type,
                        check_id
                    }
                }else if(admin_user == 2){
                    data = {
                        checkResult,
                        isRecheck,
                        service_remarke,
                        admin_user,
                        remark,
                        check_cooperation_type,
                        check_id
                    }
                }
                $.ajax({
                    url: '/reportcheck/check_report',
                    type: 'POST',
                    dataType: 'json',
                    data: data
                }).done(function (data) {
                    if (data.error_code == 0) {
                        window.location.href = window.location.href
                    }else {
                        alert(data.error_msg);
                    }
                })
            });
            $('.button-save').click(function(){
                var img = $("input[name=files]").data("data");
                img = img.join(',');
                $.ajax({
                    url: '/reportcheck/save_voucher_img',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        id: check_id,
                        cooperation_type: check_cooperation_type,
                        img: img
                    }
                }).done(function (data) {
                    if (data.error_code == 0) {
                        window.location.href = window.location.href
                    }else {
                        alert(data.error_msg);
                    }
                });
            });

            // 修改历史
            $("#modify_history").click(function(){
                $("#modifyModal").modal("show");
            });

            $('.upload-img img').click(function(){
                layer.photos({
                    photos: '#upload-img'
                    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                });
                layer.photos({
                    photos: '#kfupload-img'
                    ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                });
            });
            $("#imgUpload").fileinput({
                language: 'zh', //设置语言,
                uploadUrl:"/upload/uploadimg/",
                showCaption:false,
                browseClass:"btn blue",
                allowedFileExtensions : ['jpg','png','gif'],
                // maxFileCount:1,
                uploadClass:"btn green",
                removeClass:"btn red",
                uploadAsync:true,
                dropZoneEnabled:false,
                previewSettings:{
                    image: {width: "202px", height: "auto"}
                },
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                layoutTemplates:{
                    actionDelete:"",
                    actionUpload:""
                },
                uploadExtraData:{
                    prefix:'sale_report'
                },
                initialPreview:[
                    <volist name="info['kf_voucher_img']" id="vo">
                        "<img src='//{:C('QINIU_DOMAIN')}/{$vo}' alt=''>",
                    </volist>
                ],
            }).on('fileuploaded', function(event, data) {
                if(1 == data.response.status){
                    var Imgs =  $("input[name=files]").data("data");
                    if(typeof Imgs == "undefined"){
                        Imgs = [];
                    }
                    Imgs.push(data.response.data.name);
                    $("input[name=files]").data("data",Imgs);
                }else{
                    alert("上传失败，请重新上传，如多次失败请联系技术部门");
                }
            }).on("fileuploaderror",function(event, data){
                return false;
            }).on("fileclear",function(){
                $("input[name=files]").data("data",'');
            });
        })
    </script>
</block>