<p>本次修改数据共{$data.count|default=0}处，修改人为：{$data.username}，修改时间：{$data.date}</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>信息名称</th>
            <th>修改前</th>
            <th>修改后</th>
        </tr>
    </thead>
    <tbody>
        <volist name="data.list" id="item">
            <tr>
                <td>{$item.keyname}</td>
                <td>{$item.last}</td>
                <td>{$item.now}</td>
            </tr>
        </volist>
        <if condition="$data['count'] == 0">
            <tr>
                <td colspan="3" style="text-align: center;">暂无数据</td>
            </tr>
        </if>
    </tbody>
</table>