
.color-diff-1,.color-diff-2 {
    color: #00FF00;
}

.color-diff-3{
    color: #00FFFF;
}
.color-diff-4{
    color: #FF00FF;
}

.color-diff-5{
    color: #FF0000;
}
#tablelist .you_need{
    background: #FFB2B2;
}



/*.mouse-over{*/
    /*background: #f5f5f5;*/
/*}*/
#search {
    margin-top: 18px;
}

.content-table {
    padding: 0px 15px;
    margin-top: 10px;
}

.content-table-sub {
    background: #fff;
    padding: 15px 5px;
    font-size: 0;
}

.content-table-sub a {
    display: inline-block;
    font-size: 16px;
    color: #333;
    height: 40px;
    line-height: 30px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.content-table-sub .sub-tab-active {
    background: #399AE8;
    color: #fff;
}

.content-table-second {
    margin-left: -1px;
}

#tablelist {
    min-width: 1200px !important;
    font-size: 13px;
}

#tablelist tr td, #tablelist tr th {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.table tbody {
    font-size: 13px;
}

.table tr td {
    position: relative;
}

.table tr td a {
    margin-right: 3px;
}

.operater-table span {
    color: #3c8dbc;
    cursor: pointer;
    line-height:40px;
}

.ol-tab-wrap {
    padding: 0;
    width: 50%;
    height: 40px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-padding-start: 0px;
}

.ol-tab {
    width: 16.666666%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #dddddd;
    text-decoration: none;
    list-style: none;
    float: left;
}

.ol-tab:hover {
    cursor: pointer;
}

.ol-tab:first-of-type {
    border-radius: 5px 0 0 5px;
}

.ol-tab-active {
    background: #aaaaaa;
}

.order-teble-item {
    margin: 0;
}

.order-time-remark , .color-red{
    color: #FF0000;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.common-model .modal-dialog {
    width: auto;
    max-width: 1260px;
}

.my-dialog .modal-dialog {
    width: 1200px;
}

.my-dialog .content {
    padding: 0;
    margin: -15px;
}

.my-dialog input, .my-dialog span, .my-dialog label, .my-dialog textarea, .my-dialog select {
    font-size: 12px !important;
    font-family: "SimSun" !important;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    margin-top: 2px;
    color: #333;
}

.my-dialog div {
    font-size: 12px;
}

.my-dialog p {
    margin-bottom: 0px;
}

.my-dialog label {
    margin-bottom: 0;
}

.my-dialog textarea {
    border: 1px solid #ccc;
}

.my-dialog .box {
    border-top: 0;
    margin-bottom: 0;
}

.my-dialog .modal-header {
    padding: 5px;
}

.my-dialog .bootstrap-dialog-title {
}

.my-dialog .border-r {
    border-right: 1px dashed #ccc;
}

.my-dialog .border-t {
    border-top: 1px dashed #ccc;
}

.my-dialog .border-t input {
    margin-left: 10px;
}

.my-dialog .border-t label {
    line-height: 20px;
}

.my-dialog .dir-check {
    margin-left: 120px;
}

.my-dialog .dir-check label {
    line-height: 20px;
}

.my-dialog .dir-check i {
    font-size: 14px;
}

.my-dialog .padtop10 {
    padding-top: 10px;
}

.my-dialog .width_40 {
    width: 40px;
}

.my-dialog .width_50 {
    width: 50px;
}

.my-dialog .width_60 {
    width: 60px;
}

.my-dialog .width_70 {
    width: 70px;
}

.my-dialog .width_80 {
    width: 80px;
}

.my-dialog .width_90 {
    width: 90px;
}

.my-dialog .width_100 {
    width: 100px;
}

.my-dialog .width_150 {
    width: 150px;
}

.my-dialog .width_80 {
    width: 80px;
}

.my-dialog .width_60 {
    width: 60px;
}

.my-dialog .text-height100 {
    width: 80%;
    height: 100px;
    margin-left: 6px;
    resize: none;
    outline: none;
}

.my-dialog .text-height120 {
    width: 80%;
    height: 120px;
    margin-left: 3px;
    resize: none;
    outline: none;
}

.my-dialog .text-height80 {
    width: 80%;
    height: 80px;
    margin-left: 6px;
    resize: none;
    outline: none;
}

.my-dialog .text-height60 {
    width: 80%;
    height: 120px;
    margin-left: 3px;
    resize: none;
    outline: none;
}

.my-dialog .mt3 {
    margin-top: 3px;
}

.my-dialog .ml132 {
    margin-left: 132px;
}

.my-dialog .padding10 {
    padding: 10px 10px;
}

.my-dialog .padding5 {
    padding: 5px;
}

.my-dialog .bgcolor {
    background: #ff5659;
    color: #fff;
}

.my-dialog .red {
    color: #ff5659;
}

.my-dialog .blue {
    background: blue;
}

.my-dialog .width_size {
    width: 60px;
    text-align: right;
    display: inline-block;
    font-weight: 400;
}

.my-dialog .datepicker {
    border: 1px solid #ccc;
    border-radius: 0;
}

.my-dialog input {
    height: 20px;
    border: 1px solid #ccc;
}

.my-dialog label {
    /*line-height: 18px;*/
    font-weight: normal;
    font-size: 12px;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    margin-right: 0;
    margin-top: 0;
    height: auto;
}

.my-dialog label .my-dialog input[type=checkbox] {
    float: left;
    height: auto;
    margin: 0;
}

.my-dialog select {
    border: 1px solid #ccc;
}

.my-dialog select option {
    font-size: 12px;
}

.my-dialog button {
    font-size: 12px;
    border: 0;
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.my-dialog label .my-dialog span {
    float: left;
    line-height: 12px;
}

.my-dialog .fa-calendar {
    position: absolute;
    left: 140px;
    line-height: 20px;
    font-size: 14px;
    border-left: 1px solid #ccc;
    padding-left: 5px;
    top: 2px;
}

.my-dialog .relation_icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(/assets/home/img/rel_icon.png) no-repeat;
}

.my-dialog .icon_baidu {
    background-position: 0 0px;
}
.my-dialog .icon_eye {
    background-position: 0 -156px;
}

.show_num_item{
    overflow: hidden;
}
.show_num_item .show_num_tit{
    width: 90px;
    text-align: right;
    margin-bottom: 10px;
}

.show_num_footer{
    margin-top: 20px;
    margin-right: 32px;
    float: right;
}

.show_num_footer button{
    margin-left: 10px;
}
.btn-apply-tel{
    border: none;
    background: none;
    text-decoration: underline;
    box-shadow: none;
    -webkit-appearance: none;
}
.btn-apply-tel:focus,.btn-apply-tel:active,.btn-apply-tel:hover{
    outline: none;
    text-decoration: none;
}
.btn-apply-tel[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    text-decoration: none;
}
button.allow{
    color: #3c8dbc;
}
button.deny{
    color: #ff0000;
}

/*.my-dialog .icon_biying{background-position: 0 -26px;}*/
/*.my-dialog .icon_person{background-position: 0 -52px;}*/
.my-dialog .icon_headset {
    background-position: 0 -78px;
}

.my-dialog .icon_list {
    background-position: 0 -104px;
}

.my-dialog .icon_email {
    background-position: 0 -130px;
}


.my-dialog .icon_email_disabled{background-position: -16px -130px;}
/*.my-dialog .icon_email_open{background-position: -32px -130px;}*/
/*.my-dialog .icon_eye{background-position: 0 -156px;}*/
/*.my-dialog .icon_eye_disabled{background-position: -16px -156px;}*/
/*.my-dialog .icon_baidu{background-position: 0 0;}*/
/*.my-dialog .icon_360{background-position: 0 -183px;}*/
/*.my-dialog .icon_sogou{background-position: 0 -287px;}*/
/*.my-dialog .icon_sm{background-position: 0 -313px;}*/
.my-dialog .icon_baidu_disabled {
    background-position: -16px 0;
}

.my-dialog .icon_360_disabled {
    background-position: -16px -183px;
}

.my-dialog .icon_sogou_disabled {
    background-position: -16px -287px;
}

.my-dialog .icon_sm_disabled {
    background-position: -16px -313px;
}

.my-dialog .zhuandan {
    margin-left: 45%;
    padding-left: 40px;
    padding-right: 40px;
}

.my-dialog .check_more {
    margin-left: 35%;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
}

.my-dialog .hide_select {
    display: none;
}

.wx_company_list li {
    float: left;
    margin: 5px 5px;
    cursor: pointer;
    position: relative;
}

.wx_company_list li .color-green {
    color: #00FF00;
}

.wx_company_list .color-red {
    color: #FF0000;
}

.company-tips {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 0;
    background: #d2d6de;
    padding: 5px;
    display: none;
}

.company-tips p {
    font-size: 12px;
    line-height: 20px;
    color: #333;
    width: 150px;
}

.wx_company_list li:hover .company-tips {
    display: block;
}

.lf-sub-title {
    font-size: 15px;
    color: #333;
    line-height: 30px;
}

.lf-reason li {
    /*text-align: center;*/
}

.lf-reason .color-red {
    color: #ff0000;
}

.order-email {
    vertical-align: middle;
    font-size: 14px;
}

.xiaoqu-box {
    min-height: 0;
    width: 100px;
    position: absolute;
    top: 23px;
    left: 63px;
    z-index: 999;
    background: #fff;
    display: none;
    border: 1px #ccc solid;
}


/*通话记录弹窗*/
.table {
    display: table;
}

#box-bg {
    width: 100%;
    height: 100%;
    background-color: rgb(121, 140, 140);
    position: fixed;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 9999;
}

#box {
    width: 400px;
    height: 160px;
    position: relative;
    background-color: #ffffff;
    top: 150px;
    margin: 0 auto;
    z-index: 1000;
}

#box .box-prompt {
    width: 100%;
    height: 30px;
    background-color: rgb(228, 228, 228);
    font-size: 16px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
}

#box .box-prompt input {
    float: right;
    background-color: transparent;
    height: 30px;
    font-size: 30px;
    border: none;
    margin-right: 5px;
    margin-top: -5px;
}

.hidden-record {
    display: none;
}

#box #pic {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 48px;
    text-align: center;
    font-size: 16px;
}

#box button {
    width: 100px;
    height: 26px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    outline: none;
}

.box-btn {
    margin-left: 95px;
}

/*设置*/
.serach-city {
    line-height: 30px;
    margin: 0 5px;
}

.huafen {
    padding-top: 10px;
}


.my-dialog-change .modal-dialog {
    width: 600px;
}

.company-sub-title p {
    font-size: 16px;
    line-height: 30px;
    color: #333;
    padding-top: 5px;
}

.company-all {
    /*text-align: center;*/
    text-indent: 18px;
}

.company-all input {
    vertical-align: middle;
    margin-right: 5px;
}

.company-select li {
    text-align: left;
    margin-left: 35px;
}

.company-select li label, .company-select li input {
    vertical-align: middle;
}

.company-select li input {
    margin-right: 5px;
}
.my-dialog-change .remark-info{
    width: 80%;
    height: 120px;
    margin-left: 3px;
    resize: none;
    outline: none;
    margin-left: 30px;
}
.company-cancel ,.company-cancel:hover,.company-cancel:focus{
    background: #979797;
    color: #fff;
    /*border: 1px solid #868686;*/
}
.company-save{
    color: #fff;
    background-color: #00c0ef;
}
.modal-footer button.close{
    padding: 5px 10px;
    background: #d5d5d5;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    opacity: 1;
}
.form-group #btnSave {
    margin-right: 10px;
}
#nowCompanys .feedback-box{
    width: 100%;
    height: 120px;
    margin-left: 3px;
    resize: none;
    outline: none;
}
.mt10{
    margin-top: 10px;
}

.tract-label{padding:5px;}
.tract-list{margin-bottom: 5px;}
.tract-list dt{padding: 5px; color: #199ed8;}
.tract-list dd.tract-list-item{padding: 5px; position: relative; border-bottom: 1px solid #ccc; }
.tract-list:last-child .tract-list-item:last-child{border: 0;}
.tract-list dd.tract-list-item:after{content: "";display: block; clear: both; }
.tract-list dd.tract-list-item span:last-child{float: right;}
.tract-list dd.tract-list-item div{padding-bottom:5px; }
.tract-list dd.tract-list-item p{padding: 5px 0;}
.checkbox > label{ margin-right: 10px;}
.text-center{ text-align: center;}
.tract-list-item_content{ word-break: break-all; }


.btn {
    float: right;
    margin-right: 15px;
}
.ol-neworder-wrap{
    height: 34px;
    margin: 20px 11px;
    -webkit-padding-start: 0px;
}
.ol-neworder-info{
    padding: 0;
    width: auto;
    line-height: 34px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    -webkit-padding-start: 0px;
    float: left;
}
.ol-neworder-info{
    margin-right: 20px;
}
.ol-neworder-info li{
    float: left;
    list-style: none;
    padding: 0 10px;
}
.ol-neworder-info li:first-child{
    height: 34spx;
    line-height: 34px;
    border-left:1px solid #dddddd;
    background: #dddddd;
}
.ol-neworder-info li:nth-child(2){
    color:red;
    font-weight: bold;
}
.ol-new-order-reset{
    padding: 6px 20px;
}
.new-order-wrap{
    display: block;
}
.ol-obtain-order{
    margin-left: 20px;
    margin-right: 26px;
}
.order-remarks-list, .order-remarks-btn{
    border-radius: 0;
    margin-right: 5px;
    box-shadow: none;
    float: left;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.nav-tabs>li>a{border: 0 !important;color: #555;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{font-size:14px;color: #0DB2D8;font-weight: bold;}