
#logModal .modal-dialog {
    width: 700px;
}

#logModal .modal-title {
    text-align: center;
}

#addModal .modal-dialog {
    width: 380px;
}

#addModal .modal-title {
    text-align: center;
}

#addModal .modal-body .row {
    margin-bottom: 15px;
}

#addModal .modal-body .row label {
    line-height: 34px;
}

#addModal .modal-body #add_citys {
    width: 222px;
}

#addModal .modal-body #add_city_tip {
    display: none;
    color: #cc221a;
}

#addModal .modal-body .add_mianji {
    width: 100px;
    display: inline-block;
}

#addModal .modal-body #btn_add_cancel {
    width: 100%;
}

#addModal .modal-body #btn_add_submit {
    width: 100%;
}

.log_list .empty_tip {
    text-align: center;
}