.designer-box{
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 110rpx;
}
.designer-detail .logo{
    text-align: center;
}
.designer-detail .logo image{
    width: 120rpx;
    height: 120rpx;
    border-radius: 50%;
    margin: 40rpx auto 30rpx;
}
.designer-detail .name{
    font-size: 28rpx;
    color: #333;
    padding: 0 30rpx;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30rpx;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.designer-detail .info{
    font-size: 24rpx;
    color: #999;
    text-align: center;
    margin-bottom: 30rpx;
}
.designer-detail .info text:first-child{
    margin-right: 14rpx;
}
.designer-detail .tab{
    height: 84rpx;
    line-height: 84rpx;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #DDDDDD;
}
.designer-detail .tabTop{
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    height: 84rpx;
    line-height: 84rpx;
    z-index: 2;
}
.designer-detail .tab view{
    font-size: 24rpx;
    color: #333333;
}
.designer-detail .tab view.active{
    color: #DB2C2C;
    border-bottom: 4rpx solid #DB2B2B;
}
.designer-detail .works,.designer-detail .person-info{
    padding: 40rpx 30rpx;
}
.designer-detail .works > view{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.designer-detail .works .works-list{
    width: 335rpx;
    margin-bottom: 30rpx;
}
.designer-detail .works .works-list image{
    width: 335rpx;
    height: 249rpx;
    border-radius: 4rpx;
    vertical-align: middle;
}
.designer-detail .works .works-list .works-name{
    font-size: 28rpx;
    color: #333333;
    margin: 14rpx 0;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.designer-detail .works .works-list .works-detail {
    font-size: 24rpx;
    color: #999;
}
.designer-detail .works .works-list .works-detail text:nth-child(2){
    float: right;
}
.person-info .cate{
    margin-bottom: 30rpx;
    overflow: hidden;
}
.person-info .cate view:first-child{
    width: 120rpx;
    text-align: center;
    float: left;
    font-size: 24rpx;
    color: #999;
}
.person-info .cate view:nth-child(2){
    width: 80%;
    float: left;
    font-size: 24rpx;
    color: #333;
}
.noworks{
    text-align: center;
}
.noworks .no-data{
    width: 100%;
    margin: 106rpx auto 40rpx;
}
.noworks .no-data image{
    display: block;
    width: 376rpx;
    height: 210rpx;
    margin: 0 auto;
}
.noworks view.no-des{
    display: block;
    width: 100%;
    font-size: 24rpx;
    color: #666;
    text-align: center;
}
.btm-nomore{
    display: block;
    width: 100%;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 24rpx;
    color: #999;
    text-align: center;
}