image{
    width: 100%;
    vertical-align: middle;
}
.anli .albanner{
    width: 750rpx;
    height: 420rpx;
    margin-bottom: 10rpx;
}
.anli .albanner .albanner-pic{
    width: 750rpx;
    height: 420rpx;
}
.anli .anli-tit{
    text-align: center;
    line-height: 112rpx;
    font-size: 36rpx;
    color: #343434;
    font-weight: bold;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin: 0 30rpx;
}
.anli .anli-detail{
    margin: 0 30rpx;
    background: #F3F4F8;
}
.anli .anli-detail{
    overflow: hidden;
    border-radius: 8rpx;
    padding-bottom: 46rpx;
    margin-bottom: 50rpx;
}
.anli .anli-detail .detail-list{
    width: 25%;
    float: left;
}
.anli .anli-detail .detail-list view{
    text-align: center;
}
.anli .anli-detail .detail-list view:first-child{
    line-height: 90rpx;
    font-size: 24rpx;
    color: #9A9A9A;
}
.anli .anli-detail .detail-list view:nth-child(2){
    font-size: 29rpx;
    color: #343434;
    font-weight: bold;
}
.anli .imgs{
    margin: 0 30rpx;
}
.anli .imgs .img-tit{
    height: 36rpx;
    margin-bottom: 32rpx;
}
.anli .imgs .img-tit .line{
    display: block;
    float: left;
    width: 8rpx;
    height: 36rpx;
    background: #DC2C2C;
    margin-right: 12rpx;
}
.anli .imgs .img-tit .tit{
    display: block;
    float: left;
    height: 36rpx;
    font-size: 36rpx;
    line-height: 36rpx;
    color: #343434;
    font-weight: bold;
}
.anli .imgs .imgs-list{
    padding-bottom: 100rpx;
}
.anli .imgs .imgs-list image{
    margin-bottom: 20rpx;
    border-radius: 8rpx;
}