<style>
    .xgt-jsq {
        height: 400px;
    }
    .zb-edit-list li input {
        margin-bottom: 20px;
    }
    .zb-edit-list li input[name=tel]{
        margin-bottom: 30px;
    }
    .zb-edit-list .focus {
        border: 1px solid #DE4349 !important;
    }
    .zb-edit-list li .valdate-info {
        position: absolute;
        bottom: 0;
        color: #DE4349;
    }
    .zb-edit-list li .valdate-info.b10 {
        bottom: 10px;
    }
</style>
<div class="left-sider">
    <div class="xgt-jsq">
        <div class="xgt-jsq-top">
            <div class="xgt-jsq-tit">8秒估算装修报价</div>
            <div class="xgt-jsq-fens">
                <div class="input-select jisuanjg">
                    <span class="shuzi">39299</span>
                    <span class="danweiyuan">元</span>
                </div>
            </div>
        </div>
        <ul class="zb-edit-list freeBaojia">
            <li>
                <input type="text" name="mianji" placeholder="请输入房屋面积"><span>m²</span>
                <div class="valdate-info"></div>
            </li>
            <li>
                <select id="meitu-bj-cs" class="half"></select><select id="meitu-bj-qy" class="half"></select>
                <div class="valdate-info"></div>
            </li>
            <li>
                <input type="text" name="name" placeholder="请输入您的称呼">
                <div class="valdate-info"></div>
            </li>
            <li>
                <input type="text" name="tel" placeholder="请输入您的手机号" maxlength="11">
                <div class="valdate-info b10"></div>
                <input type="hidden" name="fb_type" value="baojia">
            </li>

            <!--S-免责声明-->
                <include file="Common@Order/disclamer"/>
            <!--E-免责声明-->

            <li><button type="submit" id="getBaoJia">马上提交看结果</button></li>
        </ul>
    </div>
    <div class="zx-bj">
        <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/zhaobiao/" target="_blank"><img src="/assets/home/v3/meitu/images/sjbj.png"></a>
    </div>

    <div class="right-box mt20">
        <div class="right-tit">图片信息</div>
        <!--根据产品需求增加图片来源和发布时间-->
        <ul class="other-tag clearfix">
            <li><span style="color:#666">图片来源：</span></li>
            <li><span style="color:#666"> 齐装网</span></li>
        </ul>
        <ul class="other-tag clearfix">
            <li><span style="color:#666">发布时间：</span></li>
<!--            <li><span style="color:#666">{$caseInfo['case']['now']['time']|date='Y-m-d H:i:s',###}</span></li>-->
            <li><span style="color:#666" id="pubTime">{$data.publish_time}</span></li>
        </ul>
    </div>
    <if condition="count($relatepic) gt 0">
        <div class="right-box mt20" id="xg-img">
            <div class="right-tit">相关图片</div>
            <ul class="more-xgt">
                <volist name="relatepic" id="v">
                    <li>
                        <a target="_blank" href="{$SCHEME_HOST.scheme_host}/tu/{$v.meitu_type}{$v.id}.html">
                            <img src="{$v.image_src}" width="{$v.img_width}" height="{$v.img_height}"
                                 alt="{$v.title}"/></a>
                    </li>
                </volist>
            </ul>
        </div>
    </if>

    <notempty name="wordsList.like">
        <div class="recommendlist">
            <div class="title">猜你喜欢</div>
            <ul class="content-list">
                <volist name="wordsList.like" id="item">
                    <li><a href="{$SCHEME_HOST.scheme_host}/tu/{$item.id}/">{$item.name}</a></li>
                </volist>
            </ul>
        </div>
    </notempty>
    
    <notempty name="wordsList.hot">
        <div class="recommendlist">
            <div class="title">热门图片</div>
            <ul class="content-list">
                <volist name="wordsList.hot" id="item">
                    <li><a href="{$SCHEME_HOST.scheme_host}/tu/{$item.id}/">{$item.name}</a></li>
                </volist>
            </ul>
        </div>
    </notempty>
    <div style="display: none">
        <input type="hidden" id="scheme_host" value="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/tu/" />
    </div>
</div>