<div class="qc-header">
	订单信息
</div>
<div class="qc-body">
	<div class="qc-inline">
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">订单编号:</label>
				<p class="qc-info">{$info.id}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">编辑人:</label>
				<p class="qc-info">{$info.cus_name|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">订单状态:</label>
				<p class="qc-info">
					<if condition="$info['on'] EQ 4 and $info['type_fw'] EQ 1">
					分
					<elseif condition="$info['on'] EQ 4 and $info['type_fw'] EQ 2"/>
					赠
					<elseif condition="$info['on'] EQ 0 and $info['on_sub'] EQ 9"/>
					次新单 {$info.remarks}
					<elseif condition="$info['on'] EQ 2 "/>
					待定 {$info.remarks}
					<elseif condition="$info['on'] EQ 5 "/>
					无效 {$info.remarks}
					<else/>
					扫单
					</if>
				</p>
				<input type="hidden" value="{$info.on}" name="on" />
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">审核人:</label>
				<p class="qc-info">{$info.chk_name|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">所属区域:</label>
				<p class="qc-info">{$info.cname} {$info.qz_area}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">对接人:</label>
				<p class="qc-info">{$info.fen_name|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				<label class="qc-label">分单会员:</label>
				<p class="qc-info">{$compnays}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">实际发布时间:</label>
				<p class="qc-info">{$info.time_real|date="Y-m-d H:i:s",###}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">修改时间:</label>
				<p class="qc-info">{$info.lasttime|date="Y-m-d H:i:s",###}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">联系人:</label>
				<p class="qc-info">{$info.name|default="-"} {$info.sex}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">联系电话:</label>
				<p class="qc-info">
					{$info.tel|default="-"}
					<if condition="isset($phoneMark)">
					<span class="green phone-repeat-order" data-id="{$info.id}">
                        重{$phoneMark}
                    </span>
					</if>
					<a title="百度搜索" href="/orders/tel_baidusearch?id={$info.id}" class="relation_icon icon_baidu" target="_blank" style="width: 16px; height: 16px; background: url(/assets/home/img/rel_icon.png) no-repeat; background-position: 0 0; display: inline-block;"></a>
                    <a title="360搜索" href="/orders/tel_360search?id={$info.id}" class="relation_icon icon_360"  target="_blank" style="width: 16px; height: 16px; background: url(/assets/home/img/rel_icon.png) no-repeat; background-position:  0 -182px; display: inline-block;"></a>
                    <a id="displayNum" href="javascript:void(0)" class="relation_icon icon_eye" title="申请显号"></a>
                </p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">微信号:</label>
				<p class="qc-info">{$info.wx_show|default="-"}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">备用联系人:</label>
				<p class="qc-info">{$info.standby_user|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">备用联系方式:</label>
				<p class="qc-info">{$info.other_contact|default="-"}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">发布IP:</label>
				<p class="qc-info">
					{$info.ip|default="-"}
					<if condition="isset($ipMark)">
                    <span class="green">
                        重{$ipMark}
                    </span>
                    </if>
                    <a href="http://www.baidu.com/s?wd={$info.ip}&ie=utf-8" class="relation_icon icon_baidu" title="百度搜索" target="_blank" style="width: 16px; height: 16px; background: url(/assets/home/img/rel_icon.png) no-repeat; background-position: 0 0; display: inline-block;"></a>
                    <a href="http://www.so.com/s?q={$info.ip}" class="relation_icon icon_360"  title="360搜索"  target="_blank" style="width: 16px; height: 16px; background: url(/assets/home/img/rel_icon.png) no-repeat; background-position:  0 -182px; display: inline-block;"></a>

				</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				<label class="qc-label">小区:</label>
				<p class="qc-info">{$info.xiaoqu|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				<label class="qc-label">房屋地址:</label>
				<p class="qc-info">{$info.dz|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">装修类型:</label>
				<p class="qc-info">{$info.lx|default="-"} {$info.lxs}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">用途:</label>
				<p class="qc-info">{$info.yt|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">房屋户型:</label>
				<p class="qc-info">{$info.hxname|default="-"}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">面积:</label>
				<p class="qc-info">{$info.mianji|default="-"}㎡</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">风格:</label>
				<p class="qc-info">{$info.fg|default="-"}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">预算:</label>
				<p class="qc-info">{$info.fshi|default="-"}，{$info.ys|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">拿房时间:</label>
				<p class="qc-info">{$info.nf_time|default="-"}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">钥匙:</label>
				<p class="qc-info">
					<if condition="$info['keys'] EQ 1">
					有钥匙
					<elseif condition="$info['keys'] EQ 0"/>
					无钥匙
					<elseif condition="$info['keys'] EQ 3"/>
					其他
					<else/>
					-
					</if>
				</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-6 no-padding">
				<label class="qc-label">开工时间:</label>
				<p class="qc-info">{$info.start|default="-"}</p>
			</div>
			<div class="col-sm-6 no-padding">
				<label class="qc-label">量房时间:</label>
				<p class="qc-info">{$info.lftime|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				<label class="qc-label">特殊需求:</label>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				<textarea style="width: 100%;height: 120px;background: none;font-size: 12px;resize: none;font-family:'Microsoft YaHei'" disabled>{$info.text|default="-"}</textarea>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				<label class="qc-label">回访记录:</label>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				<p class="qc-info">{$info.huifan|default="-"}</p>
			</div>
		</div>
		<div class="qc-group">
			<div class="col-sm-12 no-padding">
				推送订单耗时：{$info.date_diff}
				 <a href="javascript:void(0)" class="btn btn-sm pull-right width_100 cursor modifyrizhi" data-id="{$info.id}">修改日志</a>
			</div>
		</div>
	</div>
	<div class="qc-header">
		录音信息
	</div>
	<if condition="check_user_menu_auth('http://168.qizuang.com/voip/voiprecord/')">
	<div id="video" style="margin-top: 10px; border:0; width: 100%; max-height: 250px; overflow-y: auto; overflow-x: auto;">
	</div>
	</if>
	<input type="hidden" name="fen_id" value="{$info.fen_id}"/>
	<input type="hidden" name="chk_id" value="{$info.chk_id}"/>
</div>
<!-- 申请显号 -->
<div id="displayNumMask" class="numMask">
    <div class="numInner">
        <h5>申请显号</h5>
        <div class="displayNumbox">
            <p>申请人：{:session("uc_userinfo.name")}</p>
            <p>申请订单号：{$info.id|default="-"}</p>
            <p>申请理由：
                <textarea class="reason" maxlength="200" id="reason"></textarea>
                <span class="xing">*</span>
            </p>
        </div>
        <div class="btn_footer">
            <button type="button" class="btn btn-primary btn-sm queding">确定</button>
            <button type="button" class="guanbi">关闭</button>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/assets/common/css/Alert.css?v={:C('STATIC_VERSION')}" />
<style>
    .relation_icon{width: 16px;height: 16px;display: inline-block;background: url(/assets/home/img/rel_icon.png) no-repeat;vertical-align: middle;}
    .icon_eye{background-position: 0 -156px;}
    #displayNum{font-size: 20px;cursor: pointer;}
    .numMask{width:100%;height:100%;background:rgba(0, 0, 0,.5);position: fixed;top:0;left:0;z-index: 999;display: none;}
    .numMask .numInner{width:300px;height:300px;background:#fff;position: absolute;top:50%;left:50%;margin-top:-150px;margin-left:-150px;border-radius: 5px;}
    .numMask .numInner h5{height: 35px;line-height: 35px;text-align: center;}
    .numMask .numInner .displayNumbox{padding:0 20px 20px 20px;}
    .numMask .numInner .reason{width: 160px; height: 100px;border-radius: 5px;vertical-align: top;}
    .numMask .numInner .xing{color:red}
    .numMask .numInner .btn_footer{padding:0 20px;cursor: pointer;}
    .numMask .numInner .btn_footer .rukou{display: inline-block;padding: 5px 10px; background: #2196F3;color: #fff;border-radius: 3px;}
    .numMask .numInner .btn_footer .guanbi{float: right;padding: 5px 20px;border: 1px solid #ccc;border-radius: 4px;margin-right: 10px;}
    .numMask .numInner .btn_footer .queding{float: right; padding: 5px 20px; border-radius: 4px;}
</style>
<block name="script">
<script type="text/javascript" src="/assets/common/js/Alert.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    //点击眼睛 
    $('#displayNum').on('click',function(){
        $('.numMask').show();
    })
    //紧急入口
    $('.rukou').on('click',function(){
        let reason = $('#reason').val()
        if(reason == ''){
            alert('请输入申请理由');
            return false;
        }
        $('.numMask').hide();
    })
    //确定
    $('.queding').on('click',function(){
        let reasonVal = $('#reason').val()
        if(reasonVal == ''){
            alert('请输入申请理由');
            return false;
        }

        $.ajax({
            url: '/qc/applytel',
            type: 'POST',
            dataType: 'JSON',
            data: {
            	id:	"{$info.id}",
				reason:reasonVal
			},
            })
          .done(function(data) {
            $(this).Alert({
                msg:data.info
            })
            $('.numMask').hide();
        });
    })
    //关闭
    $('.guanbi').on('click',function(){
        $('.numMask').hide();
    })

</script>
</block>


