<extend name="Main:baseTemplate"/>
<block name="style">
    <link rel="stylesheet"
          href="/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link href="/assets/home/basicinfo/css/company.css?v={:C('STATIC_VERSION')}" rel="stylesheet"
          type="text/css"/>
</block>

<block name="content">
    <section class="content-header">
        <h1>
            <span>
                会员公司管理
            </span>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <form class="form-horizontal" action="">
                                <div class="col-xs-12">
                                    <div class="col-xs-2 reset-padding">
                                        <div>会员名称：</div>
                                        <input type="text" name="jc" class="form-control clear-target"
                                               placeholder="会员ID/会员简称" value="{$Think.get.jc}">
                                    </div>
                                    <div class="col-xs-2">
                                        <div>城市：</div>
                                        <select id="city" name="city" type="text" class="form-control">
                                            <option value="0">请选择</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <div>区域：</div>
                                        <select id="area" name="area" type="text" class="form-control">
                                            <option value="0">请选择</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1">
                                        <div>经纬度：</div>
                                        <select id="location" name="zuobiao" type="text" class="form-control">
                                            <option value="0">请选择</option>
                                            <option value="1" {$_GET[
                                            'zuobiao']==1?'selected':''}>无</option>
                                            <option value="2" {$_GET[
                                            'zuobiao']==2?'selected':''}>有</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1">
                                        <div>半包/全包：</div>
                                        <select id="type" name="bao" type="text" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="1" {$_GET[
                                            'bao']==1?'selected':''}>半包</option>
                                            <option value="2" {$_GET[
                                            'bao']==2?'selected':''}>全包</option>
                                            <option value="3" {$_GET[
                                            'bao']==3?'selected':''}>半包/全包</option>
                                            <option value="0" {$_GET[
                                            'bao']==='0'?'selected':''}>未填写</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1">
                                        <div>公装/家装：</div>
                                        <select id="style" name="zhuang" type="text" class="form-control">
                                            <option value="">请选择</option>
                                            <option value="1" {$_GET[
                                            'zhuang']==1?'selected':''}>家装</option>
                                            <option value="2" {$_GET[
                                            'zhuang']==2?'selected':''}>公装</option>
                                            <option value="3" {$_GET[
                                            'zhuang']==3?'selected':''}>公装/家装</option>
                                            <option value="0" {$_GET[
                                            'zhuang']==='0'?'selected':''}>未填写</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1">
                                        <div>是否接收赠单：</div>
                                        <select id="get_gift_order" name="get_gift_order" type="text"
                                                class="form-control">
                                            <option value="">请选择</option>
                                            <option value="1" {$_GET[
                                            'get_gift_order']==1?'selected':''}>是</option>
                                            <option value="2" {$_GET[
                                            'get_gift_order']==2?'selected':''}>否</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1">
                                        <button type="submit" id="search" class="btn btn-info">查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">会员公司列表</h3>
                        <div class="button">
                            <div class="btn btn-info" data-toggle="modal" data-target="#modal">批量导入</div>
                            <a href="/basicinfo/dowmmodule/" class="hideLoading">
                                <div class="btn btn-info">模版下载</div>
                            </a>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-hover table-bordered" id="tablelist">
                            <thead>
                            <tr>
                                <th>会员ID</th>
                                <th>会员简称</th>
                                <th>所属城市</th>
                                <th>所在区域</th>
                                <th>详细地址</th>
                                <th>坐标</th>

                                <th>新房/旧房</th>
                                <th>面积</th>

                                <th>半包/全包</th>
                                <th>公装/家装</th>
                                <th>对立公司ID</th>
                                <th>是否接收赠单</th>
                                <th>接单区域</th>
                                <th>所属销售</th>
                                <th>会员状态</th>
                                <th>是否有效</th>
                                <th style="width:60px;">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.jc}</td>
                                    <td>{$vo.cname}</td>
                                    <td>{$vo.qz_area}</td>
                                    <td>{$vo.dz}</td>
                                    <td>
                                        <if condition="($vo['lng'] NEQ '') AND ($vo['lat'] NEQ '')">
                                            {$vo.lng},{$vo.lat}
                                        </if>
                                    </td>
                                    <td>
                                        <?php
                                            if($vo['lxs'] == 1){
                                                echo "新房";
                                            }else if($vo['lxs'] == 2){
                                                echo "旧房";
                                            }else if($vo['lxs'] == 3){
                                                echo "新房/旧房";
                                            }else{
                                                echo "未填写";
                                            }
                                        ?>
                                    </td>
                                    <td>{$vo.mianji}</td>
                                    <td>
                                        <?php
                                            if($vo['contract'] == 1){
                                                echo "半包";
                                            }else if($vo['contract'] == 2){
                                                echo "全包";
                                            }else if($vo['contract'] == 3){
                                                echo "半包/全包";
                                            }else{
                                                echo "未填写";
                                            }
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                         if($vo['lx'] == 1){
                                                echo "家装";
                                            }else if($vo['lx'] == 2){
                                                echo "公装";
                                            }else if($vo['lx'] == 3){
                                                echo "家装/公装";
                                            }else {
                                                echo "未填写";
                                            }
                                        ?>
                                    </td>
                                    <td>{$vo.other_id}</td>
                                    <td>
                                        <if condition="$vo['get_gift_order'] eq 1">是
                                            <else/>
                                            否
                                        </if>
                                    </td>
                                    <td>{$vo.deliver_area_count}</td>
                                    <td>{$vo.saler}</td>
                                    <td>VIP</td>
                                    <td>是</td>
                                    <td>
                                        <div class="edit" data-id="{$vo.id}" data-toggle="modal" data-target="#myModal">
                                            编辑
                                        </div>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12">
                        <div class="page">
                            {$page}
                        </div>
                    </div>
                </div>
            </div>

            <!--编辑模态框-->
            <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <form id="form1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                </button>
                                <h4 class="modal-title">编辑</h4>
                            </div>
                            <div class="modal-body common-model-content">
                                <div class="form-group">
                                    <span class="span">会员ID:</span><span id="vip_id">123456</span>
                                    <input type="hidden" name="id">
                                </div>
                                <div class="form-group">
                                    <span class="span">会员简称:</span><span id="vip_jc">赣州新居缘装饰</span>
                                </div>
                                <div class="form-group">
                                    <span class="span">所属城市/区域:</span>
                                    <select name="model-city" id="model-city" style="width: 150px;">
                                        <option value="0">请选择城市</option>
                                    </select>
                                    <select name="model-area" id="model-area" style="width: 150px;">
                                        <option value="0">请选择区域</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <span class="span">详细地址:</span>
                                    <input type="text" class="address" name="dz">
                                </div>
                                <div class="form-group">
                                    <span class="span">坐标:</span>
                                    <input type="text" class="zuobiao" name="jingwei">
                                    <a href="https://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank"><i
                                            class="fa fa-map-marker"></i></a>
                                </div>

                                <div class="form-group">
                                    <span class="span">新房/旧房:</span>
                                    <label><input name="lxs" type="radio" value="1">新房</label>
                                    <label><input name="lxs" type="radio" value="2">旧房</label>
                                    <label><input name="lxs" type="radio" value="3">新房/旧房</label>
                                </div>

                                <div class="form-group">
                                    <span class="span">面积:</span>
                                    <input type="text" class="acreage" name="mianji" value="不限"
                                           oninput="value=value.replace(/[^\d]/g,'')">
                                </div>

                                <div class="form-group">
                                    <span class="span">半包/全包:</span>
                                    <label><input name="qb" type="radio" value="1">半包</label>
                                    <label><input name="qb" type="radio" value="2">全包</label>
                                    <label><input name="qb" type="radio" value="3">半包/全包</label>
                                </div>
                                <div class="form-group">
                                    <span class="span">公装/家装:</span>
                                    <label><input name="zx" type="radio" value="1">家装</label>
                                    <label><input name="zx" type="radio" value="2">公装</label>
                                    <label><input name="zx" type="radio" value="3">公装/家装</label>
                                </div>
                                <div class="form-group">
                                    <span class="span">对立公司ID:</span>
                                    <input type="text" name="other_id">
                                    <p class="tips">注：如果需要填写多个对立公司ID，请用“,”做区分</p>
                                </div>
                                <div class="form-group">
                                    <span class="span">是否接收赠单:</span>
                                    <label><input name="get_gift_order" class="showArea" type="radio" value="1">是</label>
                                    <label><input name="get_gift_order" class="isArea" type="radio" value="2">否</label>
                                </div>

                                <div class="form-group isBill">
                                    <div class="span Answer">接单区域:</div>
                                    <div id="wrap">
                                        <div id="tit" class="clearfix">

                                        </div>
                                        <ul id="con">

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" id="save" class="btn btn-info">保存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 批量导入模态框 -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">批量导入</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class=" control-label">选择文件:</label>
                                    <div class=" file-group">
                                        <input id="fileUp" name="excel" type="file"/>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <p>注意事项：</p>
                                <p>1.点击右侧模板下载，按规范填写信息</p>
                                <p>2.请上传文件EXCEL格式文档</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="/assets/common/js/plugins/select2/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/Alert.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/plugins/layer/layer.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#fileUp").fileinput({
                language: 'zh', //设置语言,
                allowedFileExtensions: ['xls', 'xlsx'],
                uploadUrl: "/basicinfo/companyUploadExcel/",
                browseClass: "btn btn-primary",
                uploadClass: "btn btn-info",
                removeClass: "btn btn-danger",
                showPreview: false,
                uploadAsync: true,
                showRemove: true,
                showCancel: false,
                showUpload: true,
                maxFileCount: 1,
                dropZoneEnabled: false
            }).on('fileuploaded', function (event, data) {
                if (0 == data.response.status) {
                    msg('导入成功',function () {
                        location.reload();
                    });
                } else {
                    msg('上传失败!');
                }
            });
            $("#tablelist").on('click', '.edit', function () {
                var id = $(this).data('id');
                $('#tit').html('');
                $("#con").html('');
                $.ajax({
                    url: '/basicinfo/getvipcompany/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        id: id
                    }
                }).done(function (data) {
                    if (data.status == 0) {
                        var info = data.data;
                        $("#vip_id").text(info.id);
                        $("input[name=id]").val(info.id);
                        $("#vip_jc").text(info.jc);
                        $("select[name=model-city]").select2("val", info.cs);  // 城市
                        if ($("select[name=model-city]")) {
                            var modelCityId = info.cs;
                            if (modelCityId == 0) {
                                return
                            }
                            var modelArea = [{id: 0, text: "请选择"}];
                            shi[modelCityId].forEach(function (ele, index) {
                                var item = {id: ele.qz_areaid, text: ele.oldName};
                                modelArea.push(item);
                            });
                            $("#model-area").html("");
                            $("#model-area").select2({
                                data: modelArea
                            });
                        }
                        $("select[name=model-area]").select2("val", info.qx); // 区域
                        $(".address").val(info.dz);
                        $(".zuobiao").val(info.zuobiao);
                        $("input[name=lxs][value=" + info.lxs + "]").prop('checked', "checked"); // 旧房
                        if (info.mianji == 0) {
                            $(".acreage").val("不限");//面积
                        } else {
                            $(".acreage").val(info.mianji);//面积
                        }
                        $("input[name=qb][value=" + info.contract + "]").prop('checked', "checked"); // 半包
                        $("input[name=zx][value=" + info.lx + "]").prop('checked', "checked"); // 全包
                        $("input[name=get_gift_order][value=" + info.get_gift_order + "]").prop('checked', "checked"); // 是否接收赠单
                        $("input[name=other_id]").val(info.other_id);
                        var adjacet_citys = info.adjacent_citys;
                        var check = info.deliver_area.split(',');
                        $.each(adjacet_citys, function (index, obj) {
                            $("#con").append("<li class='shower" + index + "'></li>");
                            var num = 0;
                            $.each(obj.area, function (i, o) {
                                $('.shower' + index).append('<div class="fl"><input name="deliver_area[]" id=c' + index + i + ' type="checkbox"  value="' + o.areaid + '"> <label for=c' + index + i + '>' + o.area + '</label></div>')
                                for (var i = 0; i < check.length; i++) {
                                    if (o.areaid == check[i]) {
                                        $("input[value=" + o.areaid + "]").prop("checked", true);
                                        num++;
                                    }
                                }
                            })

                            $('#tit').append("<span class='select' data-id=" + obj.cid + ">" + obj.cname + "(<i class='red'>" + num + "</i>)</span>");

                            $(".select ").eq(0).addClass("place")
                            $('.shower' + index).click(function () {
                                $(this).parent().prev().children(".place").children().text($(this).find(
                                    "input[type='checkbox']:checked").length)
                            })
                        });
                        var $li = $('#tit span');
                        var $ul = $('#con li');
                        $li.click(function () {
                            var $this = $(this);
                            var $t = $this.index();
                            $ul.css('display', 'none');
                            $ul.eq($t).css('display', 'block');
                            $li.removeClass("place")
                            $li.eq($t).addClass("place")
                        })
                    } else {
                        msg(data.info);
                    }
                });
            })
            $("#save").click(function () {
                //验证不为空
                //城市
                var data_city = $.trim($('select[name=model-city]').val());
                if (!data_city || data_city === '0') {
                    msg('城市不能为空');
                    return false;
                }
                //区域
                var data_area = $.trim($('select[name=model-area]').val());
                if (!data_area || data_area === '0') {
                    msg('区域不能为空');
                    return false;
                }
                //地址
                if ($.trim($('input[name=dz]').val()) == '') {
                    msg('地址不能为空');
                    return false;
                }
                //坐标
                if ($.trim($('input[name=jingwei]').val()) == '') {
                    msg('坐标不能为空');
                    return false;
                }
                //面积
                if ($.trim($('input[name=mianji]').val()) == '') {
                    msg('面积不能为空,请输入数字');
                    return false;
                }

                var data = $("#form1").serializeArray();
                $.ajax({
                    url: '/basicinfo/savevipcompany/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: data,
                }).done(function (response) {
                    msg(response.info, function () {
                        if (response.status == 0) {
                            location.reload();
                        }
                    });
                })
            });
            //搜索框城市区域显示
            var citys=JSON.parse('{$citys}');
            var arr = [];
            var shen = null, shi = null;
            shen = citys["shen"];
            shi = citys["shi"];
            shen.forEach( function(element, index) {
                element.text = element.cname;
            });

            //搜索框城市区域显示
            $("#city").val('{$_GET["city"]}');
            $("#area").val('{$_GET["area"]}');

            $("#city").select2({
                data:shen
            });
            $("#city").change(function(){
                var id = $(this).val();
                if (id == 0 || id == null){
                    $(this).val('0')
                    $("#area").val('0')
                    return
                }
                var area = [{id:0,text:"请选择"}];
                shi[id].forEach(function(ele,index){
                    var item = {id:ele.qz_areaid, text:ele.oldName};
                    area.push(item);
                });
                $("#area").html("");
                $("#area").select2({
                    data:area
                });
            })
            initCity(citys);
            function initCity(citys){
                var cityShi='{$_GET["city"]}';
                if(cityShi!="" ){
                    $("#city").select2("val", cityShi);
                    $.each(citys.shi,function(i,value){
                        if(i === cityShi){
                            for(var j = 0; j < value.length; j++){
                                var oPt =  "<option value="+value[j].qz_areaid+">"+value[j].oldName+"</option>"
                                $('select[name=area]').append(oPt);
                            }
                        }
                    })
                    if('{$_GET["area"]}'!='' && '{$_GET["area"]}'!= 0){
                        $("#area").select2("val", '{$_GET["area"]}');
                    }
                }else{
                    $('#area').val('0');
                }
            }




            $("#model-city").select2({
                data: shen
            });

            $("#model-city").change(function () {
                var id = $(this).val();
                var area = [{id: 0, text: "请选择"}];
                if (!id || id === '0') {
                    $("#model-area").html("");
                    $("#model-area").select2({
                        data: area
                    });
                    return false;
                } else {
                    shi[id].forEach(function (ele, index) {
                        var item = {id: ele.qz_areaid, text: ele.oldName};
                        area.push(item);
                    });
                    $("#model-area").html("");
                    $("#model-area").select2({
                        data: area
                    });
                }
            });
            function msg(msg, fn) {
                layer.msg(
                    msg,
                    {time: 1300},
                    fn || function () {
                    }
                )
            }
        })
    </script>
</block>
