.menu-center, .float-menu {
    text-align: center;
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
    position: fixed;
    margin: auto;
    user-select: none;
    z-index: 98
}

.float-menu {
    position: fixed;
    z-index: 9;
    bottom: 1.284rem;
    right: .15rem
}

.center-icon-view {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0
}

.menu-center .sub-menu .menu-icon {
    width: .205rem;
    height: .205rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: .05rem
}

.center-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: .4rem;
    height: .4rem;
    color: white;
    background: url("img/qzgj-icon.png") no-repeat;
    background-size: 100% 100%;
    z-index: 101;
    transition: all .2s;
    left: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.menu-center-icon {
    width: .44rem;
    height: .44rem;
    margin: 0;
    background-position: -.04rem -2rem
}

.sub-menu {
    position: absolute;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .102rem;
    transform: scale(0.1)
}

.menu-item, .menu-item-row {
    transform: scale(0);
    transition: all .2s;
    margin-top: -1.1rem;
    margin-left: -.7rem;
    height: .768rem;
    width: 1.877rem;
    position: absolute;
    z-index: 100;
    font-size: .102rem;
    box-shadow: 0 .08rem .3rem rgba(88, 88, 88, 0.3);
    border: 0.512rem solid #fff;
    border-radius: 1.28rem 0 0 1.28rem;
    -webkit-border-radius: 1.28rem 0 0 1.28rem;
    -moz-border-radius: 1.28rem 0 0 1.28rem;
    -ms-border-radius: 1.28rem 0 0 1.28rem;
    -o-border-radius: 1.28rem 0 0 1.28rem;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.menu-close .menu-item, .menu-close .menu-item-row {
    transform: scale(0);
    transform-origin: 36% 50%;
    -webkit-transform-origin: 36% 50%;
    -o-transform-origin: 36% 50%;
    -ms-transform-origin: 36% 50%
}

.menu-open .menu-item, .menu-open .menu-item-row {
    transform: scale(1);
    transform-origin: 36% 50%;
    -webkit-transform-origin: 36% 50%;
    -o-transform-origin: 36% 50%;
    -ms-transform-origin: 36% 50%;
}

.icon-protection {
    background: url('img/zxbz-icon.png')
}

.icon-listen {
    background: url('img/mfsj-icon.png')
}

.icon-price {
    background: url('img/zxbj-icon.png')
}

.menu-center .sub-menu .icon-home {
    background: url('../images/zn.png') no-repeat;
    background-size: 100% 100%;
    width: .56rem;
    height: .56rem
}

.menu-center-shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    _position: absolute;
    pointer-events: auto;
    z-index: 98;
    /* background-color: rgba(255, 255, 255, .95); */
    display: none;
    overflow: hidden
}

.menu-open.float-menu {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99
}

.menu-open .menu-center {
    right: .15rem;
    transition: right .2s;
    bottom: 1.3rem;
    -webkit-transition: right .2s;
    -moz-transition: right .2s;
    -ms-transition: right .2s;
    -o-transition: right .2s;
}

.menu-open .menu-item-row {
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 .08rem .3rem rgba(88, 88, 88, 0.3) inset
}

.menu-open .sub-menu {
    transform: scale(1)
}

.menu-open .menu-center-shade {
    display: block
}

.menu-open .sub-menu:nth-of-type(1) {
    top: -.45rem;
    left: .15rem
}

.menu-open .sub-menu:nth-of-type(2) {
    top: .2rem;
    left: -.42rem
}

.menu-open .sub-menu:nth-of-type(3) {
    top: .83rem;
    left: .15rem
}

.menu-kewei {
    position: fixed;
    z-index: 9;
    bottom: 0.687rem;
    right: .15rem;
    width: 0.401rem;
    height: 0.401rem;
}
.menu-kewei>img {
    width: 100%;
    height: 100%;
}
.opsi_bgc {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    z-index:8888
}
.imgtu {
    width: 2.133rem;
    height: 1.011rem;
   
}
.imgtu>img {
    width: 100%;
    height: 100%;
    margin-top: -0.158rem;
}
.opsi_opc {
    margin: 1.186rem auto;
}
.opsi_fff {
    width: 2.133rem;
    border-radius: 0.085rem;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.171rem;
}
.erwei_ke {
    width: 1.067rem;
    height: 1.067rem;
    margin: 0 auto;
    margin-bottom: 0.102rem;
}
.erwei_ke>img {
    width: 100%;
    height: 100%;
}
.opsi_fff>p {
    font-size: 0.085rem;
    font-weight: 500;
    color:#999;
}
.biniu {
    width: 0.256rem;
    height: 0.256rem;
    margin: 0.243rem auto;
}
.biniu>img {
    width: 100%;
    height: 100%;
}
.hide_none {
    display: none;
}
