.aboutmain .art-des .a-name{
     width: 100%;
     height: 130px;
     text-align: center;
     line-height: 130px;
     font-size: 24px;
     font-weight: bold;
     color: #333333;
     position: relative;
 }
.aboutmain .art-des .a-name i{
    position: absolute;
    width: 50px;
    height: 2px;
    background: #D64242;left:0;right:0;margin:90px auto 0;
}
.art-des .a-con{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 30px;
    overflow: hidden;
}
.art-des .a-con .c-font{
    float: left;
}
.art-des .a-con .c-font .title{
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}
.art-des .a-con .c-font .title span{
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}
.art-des .a-con .c-img{
    float: right;
}
.art-des li{
    position: relative;
}
.m58{
    width: 58%;
    padding: 25px;
    box-sizing: border-box;
}
.m42{
    width: 42%;
}

/*创始人*/
.m280{
    box-sizing: border-box;
    padding: 40px;
    padding-left: 280px;
    background: #FAFAFA;
    border-radius: 8px;
    width: 96%;
    float: right !important;
}
.art-des li .people{
    position: absolute;
    top: 89px;
}
/*公司优势*/
.mys{
    width: 570px;
}
.mys .kj{
    margin-bottom: 24px;
}
.mys .kj .kj-head{
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
}
.art-des li .map{
    position: absolute;
    right: 0px;
    top: 174px;
    z-index: -1;
}
.art-des .last-li{
    background: #FAFAFA;
    border-radius: 8px;
    margin-bottom: 25px;
    overflow: hidden;
}
.art-des .last-li img{
    display: block;
    margin: 0 auto;
    margin-bottom: 36px;
}