html{overflow-y:scroll}
.aboutnav{ background:#FAFAFA; width:245px;height: 350px; overflow: hidden; float:left;margin-bottom: 30px;}
.aboutnav ul li{ height:70px; text-align:left; font-size:16px;font-weight: bold; position: relative;}
.aboutnav ul li i{position: absolute;width: 4px;height: 29px;background: #D92B2B;top: 20px; display: none;}
.aboutnav ul li a span{ height:70px;text-align:left; font-size:14px; font-weight: 400;}
.aboutnav ul li a{ display:block;color: #666666;  width: 84%; height: 100%; border-bottom: 1px solid #E5E5E5; box-sizing: border-box;padding: 12px 0px; margin: 0px 20px; }
.aboutnav ul .noline a{border-bottom: none;}
.aboutnav ul li.active a{ color:#D92B2B; text-decoration:none}
.aboutnav ul li.active i{display: block;}
.aboutnav .repair{height: 0;overflow: hidden;}

.aboutmain{ width:935px; float:right;font-family:"Microsoft YaHei" ;line-height:25px;}
.abouttit{ border-bottom:1px solid #eee; color:#ccc; height:40px; line-height:40px;  font-size:20px; margin-bottom:20px}.abouttit span{ font-size:16px}
.aboutmain dl{ font-size:14px;  overflow:hidden; padding:20px}
.aboutmain dl dt,.aboutmain dl dd{ float:left; width:380px; margin-right:20px; margin-bottom:50px}
.aboutmain dl dd img{ height:auto; max-width:380px}

.aboutmain .bigimg{
    width: 100%;
    max-width: 780px !important;
}

.dzbox h3{ text-align:center; font-size:18px; margin-top:20px}
.dzbox p{ padding:20px;background:#f7f7f7; margin-bottom:10px; display:block}.dzbox span{ text-align:center; display:block}
.dzbox .aboutcity,.dzbox .citylist{ width:860px; margin:0 auto; overflow:hidden}
.dzbox .aboutcity li{ display:block; float:left; width:78px; margin:2px; text-align:center; height:30px; line-height:30px;}.dzbox .aboutcity li a{ display: block; background:#eee; color:#ed5a6b; font-weight:bold}
.dzbox .aboutcity li a:hover{ background:#f7f7f7; text-decoration:none}
.dzbox .citylist li{ width:234px; float:left ;padding:20px;background:#f7f7f7; margin:5px; height:150px;}

.dzbox .abouttit span{display: inline; font-size: 14px; }
/*招聘信息*/
.allzp a{ font-size:18px; line-height:30px; color:#E80B10; text-decoration:underline}
.zw{ border-top:double 3px #eee; padding:20px 0; margin:20px 0; line-height:30px}
.zhiwei{}/*职位*/
.zptit{ font-size:14px;font-weight: bold; margin-top:10px}/*小标题*/
.zpim{ font-weight: bold;}/*润色字*/


.hezuo-menu{ border-bottom:1px solid #ccc;margin-bottom:20px; height:51px; line-height:30px}
.hezuo-menu li{float:left; border:1px solid #fff; padding:10px 20px; font-size:16px; height:30px; text-align:center; width:100px;border-bottom:0; position:relative}
.hezuo-menu li.active{ border:1px solid #ccc;background:#fff; border-bottom:0; padding-top:11px}
.hezuo-menu li a{ text-decoration:none}

.hzstep{ background:url(/assets/home/about/img/step1.gif) center no-repeat; height:95px; margin:20px 0}

.sqedit { border-top:3px solid #eee}
.sqedit h3{ font-size:24px; line-height:80px; margin-bottom:20px; text-align:center}
.aboutmain .sqedit ul{ float: left;width: 480px;}
.sqedit li { overflow:hidden; margin-bottom:20px; width:422px}
.sqedit li span{ display:block; float:left; width:100px; color: #666; margin-right:20px; text-align:right; font-size:16px; line-height:30px}
.sqedit li input[type=text]{ height:33px; padding-left: 5px; color: #666; border:1px solid #ccc; float:left; width:295px}
.sqedit li textarea{ float:left; resize: none;padding-left: 5px; width:295px; color: #666; height:120px;border:1px solid #ccc;}
.sqedit li input[type="text"].half{width: 150px;}
.sqedit li .jmbtn{ display: inline-block; margin-left:120px; width:100px; cursor:pointer; background:#f84d4d; height:30px; color:#fff; font-size:14px; font-weight:bold}
.hzct{ float:right; width:370px; height:289px; background:url(/assets/home/about/img/hz.jpg)}
.sqedit li .verify{cursor: pointer; margin-left: 5px;}
.sqedit li .err-tips{display: inline-block;}
.sqedit li input[type=text].focus{border: 1px solid #DE4348;}

.aboutmain{ width:935px; float:right;font-family:"Microsoft YaHei" ;line-height:25px;}
.abouttit{ border-bottom:1px solid #eee; color:#ccc; height:40px; line-height:40px;  font-size:20px; margin-bottom:20px}.abouttit span{ font-size:16px}
.aboutmain ul{ width:890px; font-size:14px;  overflow:hidden; padding:20px}
.aboutmain ul li,.aboutmain ul li{ float:left; margin-left:25px; margin-bottom:50px}
.aboutmain ul li img{max-width:380px}
#BMapLib_nav_tab0{width: auto;}
#BMapLib_nav0 ul{ width:auto;}
#BMapLib_tab_tohere0,#BMapLib_tab_fromhere0{width: 33% !important;}

/* 领袖风采 */
.lead .content-title {display: none;}
.fl{float: left;}
.fr{float: right;}
.perhead {width: 100%;height: 300px;margin-bottom: 40px;}
.perhead .content-icon {width: 220px;height: 300px;margin-right: 30px;float: left;border: none;}
.perhead .content-icon img{width: 220px;}
.perhead-a {float: left;width: 585px;padding-top: 20px;box-sizing: border-box;}
.perhead .ju {margin-bottom: 10px;}
.perhead .titlename{font-size: 20px;font-weight: bold;}
.perhead p {color: #333;font-size: 14px;}
.perhead .heng{border-bottom: 1px dashed #D9D9D9;width: 100%;padding: 10px 0;}
.perhead .name{color: #999; width: 60px;display: inline-block;margin-right: 30px;}
.perhead span {width: 150px;display: inline-block;}

.main {margin-bottom: 40px;}
.main .title{position: relative;margin-left: 25px;font-size: 20px;color: #333;font-weight: bold;}
.main .fang{width: 17px;height: 17px;background: url(../img/ju.png)no-repeat;position: absolute;left: -25px;top: 5px;}
.linian{width: 422px;display: inline-block;margin-left: 25px;}
.linian p{font-size: 14px;color: #333;margin-top: 20px;}
.linian-img{margin-top: 28px;}
.linian-img .content-icon{width: 360px;height: 200px;border: none;}
.linian-img .content-icon img{width: 360px;}
.linian-img p{font-size: 14px;color: #333;text-align: center;}

.rongyu{margin-left: 40px; display: inline-block;}
.rongyu dd {font-size: 14px;color: #333;margin-top: 20px;position: relative;}
.rongyu dd .dian{width: 6px;height: 6px;border-radius: 6px;background-color: #666;position: absolute;left: -15px;top: 10px;}
.leadership .content-icon{width: 240px;height: 340px;margin-top: 24px;border: none;}
.leadership .content-icon img{width: 240px;}

.aboutmain .jingli dl{overflow:visible; padding:0;margin-bottom: 60px;margin-left: 10px;}
.aboutmain .jingli dl dt{ float:none; width:100%; margin-bottom:10px;font-size: 16px;font-weight: 600;position: relative;}
.aboutmain .jingli dl dt .yuan{position: absolute;top: 6px;left: -27px; width: 9px;height: 9px;border-radius: 9px;background-color: #fff;border: 1px solid #D9D9D9;}
.aboutmain .jingli dl dd{ float:none; width:100%; margin-bottom:20px;width: 100%;}
.aboutmain .jingli dl dd img{ height:auto; max-width:380px}
.aboutmain .jingli {width: 100%;padding: 0 0 0 20px;margin-top: 20px;position: relative;box-sizing: border-box;}
.shu{width: 1px;height: 1120px;border-left: 1px dashed #D9D9D9;position: absolute;left: 8px;top: 10px;}
.aboutmain .jingli .tu {position: relative;height: 210px;}
.aboutmain .jingli .tu2 {position: relative;height: 320px;}
.aboutmain .jingli .tu dd {width: 50%;}
.aboutmain .jingli .tu2 dd {width: 50%;}
.aboutmain .jingli p {position: absolute;right: 130px;top: 250px;text-align: center;}
.aboutmain .jingli .leaderimg {width: 360px;height: 200px;position: absolute;top: 40px;right: 0;}
.aboutmain .jingli .leaderimg img{width: 360px;}
.jingli .content-icon{border: none;}
.leader4{background: url(../img/leader4.png);}
.leader5{background: url(../img/leader5.png);}

.pingjia{width: 100%;padding: 20px 0 20px 30px;box-sizing: border-box;font-size: 14px;color: #333;}
.pingjia p {margin-bottom: 20px;}

/*g.1.5.27 媒体报道改版*/
.aboutmain .media-list{
    width:100%;
    margin-bottom: 20px;
    margin-left:0;
}
.meida-list-img{
    width:160px;
    height:120px;
    float: left;
    margin-right: 20px;
}
.meida-list-img img{
    width:100%;
}
.media-list-content{
    width:640px;
    float: left;
    margin-top:20px;
}
.media-list-content .meida-time{
    float: right;

}
.media-list-content .media-tit{
    font-size: 20px;
}
.media-content{
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/*企业文化（280 企业文化内容调整）*/
.culture-box{
    width:124px;
    position: absolute;
    top:64px;
    left: 16px;
}
.culture-box .culture{
    width:112px;
    height:112px;
    border-radius:50%;
    border:6px #DE4348 solid;
    text-align: center;
    line-height: 112px;
    color:#DE4348;
    font-size:23px;
    font-weight: bold;
}
.culture-line{
    width:6px;
    height:550px;
    margin:0 auto;
    background: #DE4348;
}
.culture-word{
    position: absolute;
    color: #DE4348;
    transform: rotate(-90deg);
    font-size: 25px;
    font-weight: bold;
    width: 245px;
    top: 242px;
    left: -80px;
}
.culture-word-id{
    position: absolute;
    color: #DE4348;
    transform: rotate(-90deg);
    font-size: 25px;
    font-weight: bold;
    width: 245px;
    top: 875px;
    left: -80px;
}

.about_certlist{ margin: 0; padding: 0 !important; }
.about_certlist > li{float: left; width: 280px; margin: 0 !important;}
.about_certlist > li img{ width: 100% !important; height: auto !important;}

.about_honorlist{ margin: 0; padding: 0 !important; }
.about_honorlist > li{float: left; margin-left: 0 !important; margin-bottom: 0 !important;}
.about_honorlist > li img{ width: 100% !important; height: 206px !important;}
.aboutmain ul li .fixed_url{ height: 384px !important; }
.aboutmain ul li .fixed_tu{ height: 398px !important; }