#LoutiNav{ width: 128px; background: #fff; position: fixed; top: 100px; right: 346px; display: none;z-index: 4;}
#LoutiNav li{ width: 128px; height: 48px; line-height: 48px; text-align: center;font-size: 16px;font-weight: 400;color: #666666;cursor: pointer;}
#LoutiNav span{display: none;}
#LoutiNav .active{background: #D92B2B; color: white;}
#LoutiNav li:hover span{display: block; background: #FAFAFA; color: #666666;}
#LoutiNav .active:hover span{background: #D92B2B; color: white;}
#LoutiNav li:hover i{display: none;}
#xheader{width: 100%;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    position: relative;}
#xheader i{
    position: absolute;
    width: 50px;
    height: 2px;
    background: #D64242;
    left: 0;
    right: 0;
    margin: 90px auto 0;
}
.history-content #main{
    margin-bottom: 100px;
}
.louceng{ height:auto; overflow: hidden; width:100%; font-size: 12px; margin: 0 auto;}
.louceng .tit{
    font-size: 36px;
    font-weight: 400;
    color: #D92B2B;
    line-height: 60px;
    text-align: center;
}
.louceng .con{
    font-size: 14px;
    font-weight: 400;
}
.louceng .con .left{
    width: 442.5px;
    float: left;
    text-align: right;
}
.louceng .con .center{
    width: 50px;
    text-align: center;
    float: left;
}
.louceng .con .center img{
    display: block;
    margin: 0 auto;
}
.louceng .con .right{
    width: 442.5px;
    float: right;
    text-align: left;
}
.louceng .con .m74{
    margin-top: 74px;
}
.louceng .con .m34{
    margin-top: 34px;
}
.louceng .con .m52{
    margin-top: 52px;
}
.louceng .con .m48{
    margin-top: 48px;
}