.koubei-item{
    margin-bottom:50px;
}
.koubei-item>div{
    font-size:20px;
    color:#333333;
    margin-bottom:15px;
}
.koubei-item table{
    width:100%;
    text-align:left;
}
.kb-ry img{
    width:267px;
    height: 190px;
}
.kb-ge p, .kb-ry p{
    text-align: center;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    line-height: 36px;
}

.koubei-item .a-name{
    width: 100%;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    position: relative;
}
.koubei-item .a-name i{
    position: absolute;
    width: 50px;
    height: 2px;
    background: #D64242;left:0;right:0;margin:90px auto 0;
}
.koubei-item .bx-wrapper .bx-prev {
    left: -52px;
    background: url(/assets/home/about/img/anniuleft.png) no-repeat center;
}

.koubei-item .bx-wrapper .bx-next {
    right: -44px;
    background: url(/assets/home/about/img/anniuright.png) no-repeat center;
}
.koubei-item .bx-wrapper .bx-controls-direction a{
    width: 44px;
    height: 44px;
    margin-top: -36px;
}
.koubei-item .bx-wrapper .bx-prev:hover {
    background-position: center;
}
.koubei-item .bx-wrapper .bx-next:hover {
    background-position: center;
}

/*媒体报道*/
.aboutmain .media-list{
    width:862px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom:1px dashed #D5D5D5;
    margin-bottom: 20px;
}
.aboutmain .media-list:last-child{
    border-bottom:0;
}
.meida-list-img{
    width:150px;
    height:112px;
    float: left;
    margin-right: 20px;
}
.meida-list-img img{
    display: block;
    width:150px;
    height:112px;
}
.media-list-content{
    width:687px;
    float: left;
    margin-top:20px;
}
.media-list-content .meida-time{
    float: right;
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}
.media-list-content .media-content{
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: 400;
    color: #999999;
}
.media-list-content p{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}