/*左侧公共样式*/
html{overflow-y:scroll}
.aboutnav{ background:#FAFAFA; width:245px;height: 350px; overflow: hidden; float:left;margin-bottom: 30px;}
.aboutnav ul li{ height:70px; text-align:left; font-size:16px;font-weight: bold; position: relative;}
.aboutnav ul li i{position: absolute;width: 4px;height: 29px;background: #D92B2B;top: 20px; display: none;}
.aboutnav ul li a span{ height:70px;text-align:left; font-size:14px; font-weight: 400;}
.aboutnav ul li a{ display:block;color: #666666;  width: 84%; height: 100%; border-bottom: 1px solid #E5E5E5; box-sizing: border-box;padding: 12px 0px; margin: 0px 20px;  }
.aboutnav ul .noline a{border-bottom: none;}
.aboutnav ul li.active a{ color:#D92B2B; text-decoration:none}
.aboutnav ul li.active i{display: block;}
.aboutnav .repair{height: 0;overflow: hidden;}

.abouttit{width: 100%;  height: 43px; border-bottom: 1px solid #e5e5e5;line-height: 36px;font-size: 16px;font-weight: 400;color: #999999;}
.abouttit span{ font-size: 14px; margin-left: 10px}
/*右侧内容*/
.aboutmain{ width:935px; float:right;line-height:30px;margin-bottom: 20px;}

/*法律条款*/
.abouttits{width: 100%;  height: 43px; margin-bottom: 10px; border-bottom: 1px solid #e5e5e5;line-height: 36px;font-size: 16px;font-weight: 400;color: #999999;}
.abouttits .item{ width: 84px; height: 100%; display: block; float: left; box-sizing: border-box; margin-right:86px;font-size: 16px;font-weight: 400;color: #333333; text-align: center;cursor: pointer; }
.abouttits .active{ color: #D92B2B; border-bottom: 3px solid #D92B2B; }