<extend name="Main:baseTemplate" />
<block name="title">
    <title>编辑</title>

</block>
<block name="style">
    <link rel="stylesheet" href="/assets/home/card/css/editcommon.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/common/js/plugins/fileinput/fileinput.min.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/common/plugins/bootstrap-switch/bootstrap-switch.min.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" type="text/css" href="/assets/common/css/Alert.css?v={:C('STATIC_VERSION')}" />
    <link rel="stylesheet" href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}" />
</block>
<block name="content">
    <section class="content-header">
        <h1><a href="/card/common">通用礼券管理</a> >
            <present name="Think.get.id">
                编辑
                <else/>
                添加
            </present>
        </h1>
    </section>
    <section class="content-header">
        <div class="col-sm-12  content">
            <div class="col-sm-6">
                <form class="form-horizontal" id="myform">
                    <input type="hidden" name="id" value="{$info.id}">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label"><span style="color:red">*</span>礼券名称 :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" maxlength="15" id="name" value="{$info.name}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="decrease" class="col-sm-2 control-label"><span style="color:red">*</span>立减金额 :</label>
                        <div class="col-sm-4">
                            <present name="info.id">
                                <input type="text" class="form-control" maxlength="20" name="decrease" id="decrease" value="{$info.money1|intval}" oninput="if(value>999999)value=999999">
                                <else/>
                                <input type="text" class="form-control" maxlength="20" name="decrease" id="decrease" value="" oninput="if(value>999999)value=999999">
                            </present>
                        </div>
                        <label for="cut" class="col-sm-1 control-label" style="text-align:center">减</label>
                        <div class="col-sm-4">
                            <present name="info.id">
                                <input type="text" class="form-control" name="cut" id="cut"  value="{$info.money2|intval}" oninput="if(value>999999)value=999999">
                                <else/>
                                <input type="text" class="form-control" name="cut" id="cut"  value="" oninput="if(value>999999)value=999999">
                            </present>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rule" class="col-sm-2 control-label">使用规则 :</label>
                        <div class="col-sm-10">
                            <textarea name="rule" id="rule" cols="100" rows="8" placeholder="限300字" onchange="this.value=this.value.substring(0, 300)" onkeydown="this.value=this.value.substring(0, 300)" onkeyup="this.value=this.value.substring(0, 300)">{$info.rule}</textarea>
                        </div>
                    </div>
                  <!--<div class="form-group">-->
                      <!--<label for="number" class="col-sm-2 control-label"><span style="color:red">*</span>发放数量 :</label>-->
                      <!--<div class="col-sm-10">-->
                          <!--<input type="text" class="form-control" name="number">-->
                      <!--</div>-->
                  <!--</div>-->
                    <div class="form-group">
                        <label for="enable" class="col-sm-2 control-label"><span style="color:red">*</span>是否启用 :</label>
                        <div class="col-sm-10">
                            <if condition="$info['enable'] EQ 2">
                                <input type="checkbox" name="enable" />
                                <else/>
                                <input type="checkbox" name="enable"checked />
                            </if>
                            <input type="hidden" name="now_enable" value="{$info.enable|default=1}">
                        </div>
                    </div>
                        <div class="form-group forbidden" style=" display:<if condition="$info['enable'] EQ 2"> block<else/> none</if>">
                            <label for="name" class="col-sm-2 control-label"><span style="color:red">*</span>禁用时间 :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="fb_time" id="disable_time" value="{$info.disable_time|default=''|date='Y-m-d H:i:s',###}">
                            </div>
                        </div>
<!--
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span style="color:red">*</span>礼券图片-移动端 :</label>
                        <div class="col-sm-10">
                            <input id="img" type="file" class="form-control" />
                            <input type="hidden" name="img" value="{$info.img}" />
                        </div>
                    </div>
                    <div class="col-sm-offset-2 remark">注：大小不超过2M 尺寸650*182</div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><span style="color:red">*</span>礼券图片-pc端 :</label>
                        <div class="col-sm-10">
                            <input id="img2" type="file" class="form-control" />
                            <input type="hidden" name="img2" value="{$info.img2}" />
                        </div>
                    </div>
                    <div class="col-sm-offset-2 remark">注：大小不超过2M 尺寸350*96</div> -->

                    <div class="form-group">
                        <div class="col-sm-offset-2">
                            <button type="button" class="btn btn-info" id="btn" style="width:100px">确认</button>
                            <button type="button" class="btn btn-default cancel" style="width:100px;margin-left: 50px">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </section>
</block>
<block name="script">
    <script type="text/javascript" src="/assets/common/js/plugins/fileinput/fileinput.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/plugins/fileinput/fileinput_locale_zh.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/plugins/bootstrap-switch/bootstrap-switch.min.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript" src="/assets/common/js/Alert.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input').attr('autocomplete','off')
            // $("#img").fileinput({
            //     language: 'zh', //设置语言,
            //     uploadUrl: "/upload/uploadimg/",
            //     showCaption: false,
            //     browseClass: "btn btn-primary",
            //     allowedFileExtensions: ['jpg', 'png', 'gif'],
            //     maxFileCount: 1,
            //     uploadClass: "btn btn-info",
            //     removeClass: "btn btn-danger",
            //     uploadAsync: true,
            //     dropZoneEnabled: false,
            //     previewSettings: {
            //         image: {
            //             width: "auto",
            //             height: "200px"
            //         }
            //     },
            //     uploadExtraData: {
            //         prefix: 'card'
            //     },
            //     minImageWidth: "650",
            //     minImageHeight: "182",
            //     maxImageWidth: "650",
            //     maxImageHeight: "182",
            //     initialPreview:'<notempty name="info.img"><img src="//{:C("QINIU_DOMAIN")}/{$info.img}" class="file-preview-image" style="max-width:500px"></notempty>',
            // }).on('fileuploaded', function (event, data) {
            //     if (1 == data.response.status) {
            //         $('input[name=img]').val(data.response.data.name);
            //     } else {
            //         alert(data.response.info);
            //         return false;
            //     }
            // }).on("fileuploaderror", function (event, data) {
            //     var _this = $(this);
            //     _this.Alert({
            //         msg: "图片不符合要求!",
            //         level: 2
            //     });
            //     return false;
            // }).on("fileclear", function () {
            //     $("input[name=img]").val("");
            // });

            // $("#img2").fileinput({
            //     language: 'zh', //设置语言,
            //     uploadUrl: "/upload/uploadimg/",
            //     showCaption: false,
            //     browseClass: "btn btn-primary",
            //     allowedFileExtensions: ['jpg', 'png', 'gif'],
            //     maxFileCount: 1,
            //     uploadClass: "btn btn-info",
            //     removeClass: "btn btn-danger",
            //     uploadAsync: true,
            //     dropZoneEnabled: false,
            //     previewSettings: {
            //         image: {
            //             width: "auto",
            //             height: "200px"
            //         }
            //     },
            //     uploadExtraData: {
            //         prefix: 'card'
            //     },
            //     minImageWidth: "350",
            //     minImageHeight: "96",
            //     maxImageWidth: "350",
            //     maxImageHeight: "96",
            //     initialPreview:'<notempty name="info.img2"><img src="//{:C("QINIU_DOMAIN")}/{$info.img2}" class="file-preview-image" style="max-width:500px"></notempty>',
            // }).on('fileuploaded', function (event, data) {
            //     if (1 == data.response.status) {
            //         $('input[name=img2]').val(data.response.data.name);
            //     } else {
            //         alert(data.response.info);
            //         return false;
            //     }
            // }).on("fileuploaderror", function (event, data) {
            //     var _this = $(this);
            //     _this.Alert({
            //         msg: "图片不符合要求!",
            //         level: 2
            //     });
            //     return false;
            // }).on("fileclear", function () {
            //     $("input[name=img2]").val("");
            // });

            $("#disable_time").datetimepicker({
                format: "yyyy-mm-dd hh:ii:ss",
                autoclose: true,
                minView: 0,
                minuteStep:1
            })

            $("[name='enable']").bootstrapSwitch({
                onText: "启用",
                offText: "禁用",
                onColor: "info",
                offColor: "danger",
                onSwitchChange(e, data) {
                    var $el = $(e.target);
                    if ($el.attr("checked") == "checked") {
                        $("input[name=now_enable]").val(2);
                        var obj = "{$info.id}";
                        if(!(typeof obj == "undefined" || obj == null || obj == "")){
                            $('.forbidden').show();
                        }
                        $el.attr("checked", false);
                    } else {
                        $("input[name=now_enable]").val(1);
                        $('.forbidden').hide();
                        $el.attr("checked", "checked")
                    }
                }
            });
            $('button.cancel').on('click', function () {
                location.href = '/card/common'
            })

            // 确认按钮点击
            $('#btn').on('click', function () {
                if ($('input[name=name]').val().trim() == '') {
                    $(this).Alert({
                        msg: '请填写礼券名称',
                        level: 2
                    })
                    return false;
                }
                var reg = /^\d+$/;
                if ($('input[name=decrease]').val() != "" && !reg.test($('input[name=decrease]').val())) {
                    $(this).Alert({
                        msg: '数字框必须填写数字，且为整数',
                        level: 2
                    })
                    return false;
                }
                if(!checkNumber($('input[name=cut]').val(),['请填写立减金额','数字框必须填写数字，且为整数'])){
                    return false;
                }
//                checkNumber($('input[name=number]').val(),['请输入发放数量','数字框必须填写数字，且为整数'])
                if($('input[name=decrease]').val() && $('input[name=decrease]').val() != 0) {
                    if(Number($('input[name=decrease]').val()) <= Number($('input[name=cut]').val())) {
                        $(this).Alert({
                            msg: '立减金额前面数字必须大于后面数字',
                            level: 2
                        })
                        return false;
                    }
                }
                var obj = "{$info.id}";
                if(!(typeof obj == "undefined" || obj == null || obj == "")){
                    var forbid = true;
                }else{
                    var forbid = false;
                }

                if($('input[name=now_enable]').val() == 2 && $('input[name=fb_time]').val() == '' && forbid){
                    $(this).Alert({
                        msg: '禁用时间不能为空',
                        level: 2
                    })
                    return false;
                }

                // if($('input[name=img]').val() == '') {
                //     $(this).Alert({
                //         msg: '请上传礼券图片',
                //         level: 2
                //     })
                //     return false;
                // }

                // if($('input[name=img2]').val() == '') {
                //     $(this).Alert({
                //         msg: '请上传礼券图片',
                //         level: 2
                //     })
                //     return false;
                // }
                $("#btn").attr("disabled", "disabled");
                var data = $("#myform").serializeArray();
                $.ajax({
                    url: '/card/editcommon/',
                    type: 'POST',
                    dataType: 'JSON',
                    data: data
                })
                        .done(function(data) {

                            if(data.status == 0){
                            window.location.href = '/card/common';
                            }else{
                                $("#btn").removeAttr("disabled");
                                alert(data.info);
                                return false;
                            }
                        })
                        .fail(function(xhr) {
                            alert("网络错误，请稍后重试！");
                        })

            })

            function checkNumber(obj,msg) {
                var reg = /^\d+$/;
                if(obj == '' || obj == 0) {
                    $(this).Alert({
                        msg: msg[0],
                        level: 2
                    })
                    return false;
                }
                if (obj != "" && !reg.test(obj)) {
                    $(this).Alert({
                        msg: msg[1],
                        level: 2
                    })
                    return false;
                }
                return true;
            }
        });
    </script>
</block>
