<div class="icon-img">
    <a rel="nofollow" target="_blank" href="https://v.yunaq.com/certificate?domain=www.qizuang.com"><img src="/assets/home/index/img/safety.png" /></a>
    <a rel="nofollow" href="javascript:void(0)"><img src="/assets/home/index/img/jingying.png" /></a>
    <a rel="nofollow" href="javascript:void(0)"><img src="/assets/home/index/img/gongshang.png" /></a>
    <a rel="nofollow" target="_blank" href="http://www.12377.cn/"><img src="/assets/home/index/img/no.png" /></a>
</div>
