<!doctype html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>{$keys.title} - 齐装网</title>
    <meta name="keywords" content="{$keys.keywords}"/>
    <meta name="description" content="{$keys.description}"/>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{$cityInfo['bm']}.{$SCHEME_HOST.domain}/gzds/" />
    <include file="Home@Index:resource_509"/>
    <link rel="stylesheet" type="text/css" href="/assets/sub/decoration/css/master.css?v={:C('STATIC_VERSION')}">
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="/assets/home/decoration/css/masterie8.css?v={:C('STATIC_VERSION')}"/>
    <![endif]-->
</head>

<body>
<include file="Index:header_509" />
<div class="master">
    <div class="master-banner">
        <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191126/FvDMvg2Z3hDlLCf8Yz980PkQmsHi"/>
    </div>
    <div class="master-left">
        <img src="/assets/home/decoration/img/dec-left.png"/>
    </div>
    <div class="master-right">
        <img src="/assets/home/decoration/img/dec_right.png"/>
    </div>
    <div class="master-zs">
        <img src="/assets/home/decoration/img/zhuangshi.png"/>
    </div>
    <div class="master-des">
        <p>巧妙改造玩转小资生活，方寸之间许你轻松自在。</p>
        <p>用一次改造换取家的365天幸福感。</p>
        <p>不挑户型，不限空间，想怎么改就怎么改！</p>
    </div>
    <!--改造流程 S-->
    <div class="master-gaizao">
        <img src="/assets/home/decoration/img/gaizao.png"/>
    </div>
    <div class="gaizao-liucheng" id="div">
        <div class="gaizao-circle">
            <img src="/assets/home/decoration/img/circle1.png">
            <img src="/assets/home/decoration/img/circle2.png" class="circle2">
            <img src="/assets/home/decoration/img/liucheng_bg.png" class="liucheng-bg"/>
            <div class="item-circle item-circle1">
                <img src="/assets/home/decoration/img/circle3.png"/>
            </div>
            <div class="item-circle item-circle2">
                <img src="/assets/home/decoration/img/circle.png" class="white-circle"/>
                <img src="/assets/home/decoration/img/circle3.png" class="red-circle"/>
            </div>
            <div class="item-circle item-circle3">
                <img src="/assets/home/decoration/img/circle.png" class="white-circle"/>
                <img src="/assets/home/decoration/img/circle3.png" class="red-circle"/>
            </div>
            <div class="item-circle item-circle4">
                <img src="/assets/home/decoration/img/circle.png" class="white-circle"/>
                <img src="/assets/home/decoration/img/circle3.png" class="red-circle"/>
            </div>
            <div class="item-circle item-circle5">
                <img src="/assets/home/decoration/img/circle.png" class="white-circle"/>
                <img src="/assets/home/decoration/img/circle3.png" class="red-circle"/>
            </div>
            <div class="item-circle item-circle6">
                <img src="/assets/home/decoration/img/circle.png" class="white-circle"/>
                <img src="/assets/home/decoration/img/circle3.png" class="red-circle"/>
            </div>
            <div class="cicle-img cicle-img1">
                <img src="/assets/home/decoration/img/yanshou.png"/>
            </div>
            <div class="cicle-img cicle-img2">
                <img src="/assets/home/decoration/img/sheji.png"/>
            </div>
            <div class="cicle-img cicle-img3">
                <img src="/assets/home/decoration/img/chaigai.png"/>
            </div>
            <div class="cicle-img cicle-img4">
                <img src="/assets/home/decoration/img/changguizhuangx.png"/>
            </div>
            <div class="cicle-img cicle-img5">
                <img src="/assets/home/decoration/img/jungong.png"/>
            </div>
        </div>
        <div class="circle-des circle-des1 des-active">1.老房验收</div>
        <div class="circle-des circle-des2">2.设计规划</div>
        <div class="circle-des circle-des3">3.拆改工程</div>
        <div class="circle-des circle-des4">4.隐蔽工程</div>
        <div class="circle-des circle-des5">5.常规装修</div>
        <div class="circle-des circle-des6">6.竣工验收</div>
        <div class="liucheng_dec">
            <p class="liucheng_dec_1">改造之前，一定要对房子的原有情况做一个全面验收，清楚其结构、房龄以及哪些地方需要整改，测量房子的尺寸，做好防水试验，检查原有的水电工程，检查门窗是否损坏、墙面是否开裂等，以便节约后期的装修时间和费用。</p>
            <p class="liucheng_dec_2">
                验收完毕后先对旧房进行整体的量房，再根据量房结果进行设计，确定需要拆改的部分。
            </p>
            <p class="liucheng_dec_3">
                遇到需要拆改的情况，要注意避开墙体承重部分，最好跟邻居和物业打好招呼避免纠纷。拆改废旧、损坏、不要的门窗、墙体、地面，最好找专业有信誉的装修公司。拆改是为了让整体空间布局更合理，不可盲目为了装修而随意拆改。</p>
            <p class="liucheng_dec_4">隐蔽工程主要指水电工程，如果水电有损坏最好立刻重新制作。材料选择、施工工艺、验收等都很重要，重新改造水路和电路时，尽量不走底线。建议多预留一些插座，以便今后添置电器。</p>
            <p class="liucheng_dec_5">
                接下来的常规装修就跟新房装修的步骤类似了，只要拆除和隐蔽工程做到位，常规装修其实就很容易了。
            </p>
            <p class="liucheng_dec_6">
                竣工以后，自然是要对施工情况进行验收了，检查墙面是否平整；所有插座试一遍是否正常供电；卫生间中多冲几次坐便器看看是否通畅，接盆水倒在地上看看地漏是否通畅；地板瓷砖是否整齐舒适，轻击瓷砖有无异响，地板踩踏是否舒适等。
            </p>
        </div>
    </div>
    <!--改造流程 E-->

    <!--改造对比 S-->
    <div class="duibi-img">
        <img src="/assets/home/decoration/img/duibi.png"/>
    </div>
    <div class="master-duibi">
        <img src="/assets/home/decoration/img/bian.png" class="bian-btn"/>
        <div class="duibi-btn">
            <a class="keting-foucs"></a>
            <a class="woshi-foucs"></a>
            <a class="chufang-foucs"></a>
            <a class="wsj-foucs"></a>
        </div>
        <div class="swiper-container swiper-container1 ieswiper-container">
            <div class="design-btn">
                <a target="_blank" href="/sheji/"><img src="/assets/home/decoration/img/sheji-btn.png"></a>
            </div>
            <div class="swiper-wrapper ieswiper-wrapper">
                <div class="swiper-slide ieswiper-slide">
                    <div class="slide-left">
                        <div class="duibi-small">
                            <img src="/assets/home/decoration/img/keting_s.png"/>
                        </div>
                    </div>
                    <div class="slide-right">
                        <img src="/assets/home/decoration/img/keting_b.png"/>
                    </div>
                </div>
                <div class="swiper-slide ieswiper-slide">
                    <div class="slide-left">
                        <div class="duibi-small">
                            <img src="/assets/home/decoration/img/woshi_s.png"/>
                        </div>
                    </div>
                    <div class="slide-right">
                        <img src="/assets/home/decoration/img/woshi_b.png"/>
                    </div>
                </div>
                <div class="swiper-slide ieswiper-slide">
                    <div class="slide-left">
                        <div class="duibi-small">
                            <img src="/assets/home/decoration/img/chufang_s.png"/>
                        </div>
                    </div>
                    <div class="slide-right">
                        <img src="/assets/home/decoration/img/chufang_b.png"/>
                    </div>
                </div>
                <div class="swiper-slide ieswiper-slide">
                    <div class="slide-left">
                        <div class="duibi-small">
                            <img src="/assets/home/decoration/img/wsj_s.png"/>
                        </div>
                    </div>
                    <div class="slide-right">
                        <img src="/assets/home/decoration/img/wsj_b.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--改造对比 E-->

    <!--推荐设计师 S-->
    <if condition="count($designers) gt 0">
    <div class="master-design">
        <img src="/assets/home/decoration/img/design.png"/>
    </div>
    <div class="design-content">
        <div class="swiper-container swiper-container2 ieswiper-container">
            <div class="swiper-wrapper ieswiper-wrapper">
                <div class="swiper-slide ieswiper-slide">
                    <ul class="clearfix">
                        <volist name="designers" id="vi" offset="0" length="3">
                            <li>
                                <if condition="$vi['cooperate_mode'] eq 1">
                                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/" class="design-logo">
                                <else />
                                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/" class="design-logo">
                                </if>
                                    <img src="{$vi.logo}"/>
                                </a>
                                <p class="design-name">
                                    <if condition="$vi['cooperate_mode'] eq 1">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/">{$vi.name}</a>
                                    <else/>
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/">{$vi.name}</a>
                                    </if>
                                </p>
                                <p class="work-time">从业{$vi.jobtime}</p>
                                <p class="yuyue-btn yysj" data-source="19121134" data-id="{$vi.userid}" data-cs="{$vi.cs}" data-cost="{$vi.cost}" data-src="{$vi.logo}" data-name="{$vi.name}" data-jobtime="{$vi.jobtime}" data-zw="{$vi.zw}">预约设计</p>
                                <a target="_blank" href="{$SCHEME_HOST.scheme_host}/caseinfo/{$vi.caseid}.shtml"
                                   class="design-anli">
                                    <eq name="vi.img_host" value="qiniu">
                                        <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vi.img_path}-w280.jpg"/>
                                    <else />
                                        <img src="{$SCHEME_HOST.scheme_full}{:C('STATIC_HOST1')}{$vi.img_path}s_{$vi.img}"/>
                                    </eq>
                                    <p class="anli-detail">
                                        <span>{$vi.title}</span>
                                        <span>{$vi.mianji}㎡</span>
                                        <span>{$vi.fengge}</span>
                                    </p>
                                </a>
                                <if condition="$vi['cooperate_mode'] eq 1">
                                    <a class="more-anli" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/">查看更多案例></a>
                                <else />
                                    <a class="more-anli" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/">查看更多案例></a>
                                </if>
                            </li>
                        </volist>
                    </ul>
                </div>
                <if condition="count($designers) gt 3">
                <div class="swiper-slide ieswiper-slide">
                    <ul class="clearfix">
                        <volist name="designers" id="vi" offset="3" length="3">
                            <li>
                                <if condition="$vi['cooperate_mode'] eq 1">
                                    <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/" class="design-logo">
                                    <else />
                                    <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/" class="design-logo">
                                </if>
                                    <img
                                            src="{$vi.logo}"/>
                                </a>
                                <p class="design-name">
                                    <if condition="$vi['cooperate_mode'] eq 1">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/">{$vi.name}</a>
                                    <else />
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/">{$vi.name}</a>
                                    </if>
                                </p>
                                <p class="work-time">从业{$vi.jobtime}</p>
                                <p class="yuyue-btn yysj" data-source="19121134" data-id="{$vi.userid}" data-cs="{$vi.cs}" data-cost="{$vi.cost}" data-src="{$vi.logo}" data-name="{$vi.name}" data-jobtime="{$vi.jobtime}" data-zw="{$vi.zw}">预约设计</p>
                                <a target="_blank" href="{$SCHEME_HOST.scheme_host}/caseinfo/{$vi.caseid}.shtml"
                                   class="design-anli">
                                    <eq name="vi.img_host" value="qiniu">
                                        <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vi.img_path}-w280.jpg"/>
                                    <else />
                                        <img src="{$SCHEME_HOST.scheme_full}{:C('STATIC_HOST1')}{$vi.img_path}s_{$vi.img}"/>
                                    </eq>
                                    <p class="anli-detail">
                                        <span>{$vi.title}</span>
                                        <span>{$vi.mianji}㎡</span>
                                        <span>{$vi.fengge}</span>
                                    </p>
                                </a>
                                <if condition="$vi['cooperate_mode'] eq 1">
                                    <a class="more-anli" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/">查看更多案例></a>
                                <else />
                                    <a class="more-anli" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/">查看更多案例></a>
                                </if>
                            </li>
                        </volist>
                    </ul>
                </div>
                </if>

                <if condition="count($designers) gt 6">
                <div class="swiper-slide ieswiper-slide">
                    <ul class="clearfix">
                        <volist name="designers" id="vi" offset="6" length="3">
                            <li>
                                <if condition="$vi['cooperate_mode'] eq 1">
                                    <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/" class="design-logo">
                                <else />
                                    <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/" class="design-logo">
                                </if>
                                    <img
                                            src="{$vi.logo}"/>
                                </a>
                                <p class="design-name">
                                    <if condition="$vi['cooperate_mode'] eq 1">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/">{$vi.name}</a>
                                    <else />
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/">{$vi.name}</a>
                                    </if>
                                </p>
                                <p class="work-time">从业{$vi.jobtime}</p>
                                <p class="yuyue-btn yysj" data-source="19121134" data-id="{$vi.userid}" data-cs="{$vi.cs}" data-cost="{$vi.cost}" data-src="{$vi.logo}" data-name="{$vi.name}" data-jobtime="{$vi.jobtime}" data-zw="{$vi.zw}">预约设计</p>
                                <a target="_blank" href="{$SCHEME_HOST.scheme_host}/caseinfo/{$vi.caseid}.shtml"
                                   class="design-anli">
                                    <eq name="vi.img_host" value="qiniu">
                                        <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vi.img_path}-w280.jpg"/>
                                    <else />
                                        <img src="{$SCHEME_HOST.scheme_full}{:C('STATIC_HOST1')}{$vi.img_path}s_{$vi.img}"/>
                                    </eq>
                                    <p class="anli-detail">
                                        <span>{$vi.title}</span>
                                        <span>{$vi.mianji}㎡</span>
                                        <span>{$vi.fengge}</span>
                                    </p>
                                </a>
                                <if condition="$vi['cooperate_mode'] eq 1">
                                    <a class="more-anli" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog/{$vi.userid}/">查看更多案例></a>
                                <else />
                                    <a class="more-anli" rel="nofollow" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.{$SCHEME_HOST.domain}/blog_new/{$vi.userid}/">查看更多案例></a>
                                </if>
                            </li>
                        </volist>
                    </ul>
                </div>
                </if>
            </div>
            <div class="pagination land_pagination"></div>
        </div>
    </div>
    <a target="_blank" href="{$SCHEME_HOST.scheme_host}/designer/" class="more-design">
        <img src="/assets/home/decoration/img/more-design.png">
    </a>
    </if>
    <!--推荐设计师 E-->

    <!--推荐装修公司 S-->
    <div class="master-company">
        <img src="/assets/home/decoration/img/company.png">
    </div>
    <div class="company-content">
        <ul>
            <volist name="koubei" id="vi" offset="0" length="5">
                <li>
                    <div class="company-logo">
                        <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_host}/company_home/{$vi.id}/">
                            <img src="{$vi.logo|default='https://static.qizuang.com/Public/default/images/default_logo.png'}" alt="{$vi.jc}"/>
                        </a>
                    </div>
                    <p class="company-name"><a target="_blank" title="{$vi.qc}" href="{$SCHEME_HOST.scheme_host}/company_home/{$vi.id}/">{$vi.jc}</a></p>
                    <p class="company-detail">
                        <span>案例数</span>
                        <span class="anli-num">{$vi.casesnum}</span>
                        <span>评论数</span>
                        <span class="comment-num">{$vi.ping}</span>
                    </p>
                </li>
            </volist>
        </ul>
    </div>
    <a target="_blank" href="{$SCHEME_HOST.scheme_host}/company/" class="more-company">
        <img src="/assets/home/decoration/img/more-company.png" alt="装修公司">
    </a>
    <!--推荐装修公司 E-->

</div>
<include file="Home@Index:footer_509"/>
<script type="text/javascript" src="/assets/common/js/s-contain.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="/assets/sub/decoration/js/master.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    var tabIndex = "{$tabIndex}"
    $('.pub-top .nav-name').eq(tabIndex).addClass('active').siblings('.nav-name').removeClass('active');
    $('.pub-top .nav-name').removeClass('on');
    $('.pub-top .nav-name').on('mouseout',function(){
        $(this).removeClass('on');
        $('.pub-top .nav-name').eq(tabIndex).addClass('active').siblings('.nav-name').removeClass('active');
        $(this).find('.list-box').hide();
    });
    var shen = null, shi = null;
    shen = citys["shen"];
    shi = citys["shi"];

</script>
</body>

</html>
