<!doctype html>
<html lang="en">
<head>
    <title>{$keys.title} - 齐装网</title>
    <meta name="keywords" content="{$keys.keywords}"/>
    <meta name="description" content="{$keys.description}"/>
    <meta property="og:image" content="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$articleInfo.article.now.face}"/>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{$cityInfo['bm']}.{$SCHEME_HOST.domain}/xfzx/" />
    <notempty name="articleInfo.canonical">
        <link rel="canonical" href="{$articleInfo.canonical}"/>
    </notempty>
    <include file="Index:resource_509"/>
    <link rel="stylesheet" href="{$static_host}/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}"
          type="text/css"/>
    <link rel="stylesheet" href="{$static_host}/assets/sub/decoration/css/new.css?v={:C('STATIC_VERSION')}"
          type="text/css"/>
</head>
<body>
<include file="Index:header_509"/>
<div class="zxbanner">
    <div class="wrap-bg">
        <div class="bj">
            <p class="bj-tone">新房设计与报价</p>
            <p class="bj-ttwo">
                免费获取 <span>4</span>
                套设计方案，装修立省
                <span>30%</span>
            </p>
            <form class="order-box validate">
                <div class="box-line">
                    <select class="edit-city mr5" id="y_cs"></select><i class="angle-down angle-down1"></i>
                    <select class="edit-quyu" id="y_qy"><option value="">请选择</option></select><i class="angle-down angle-down2"></i>
                    <div class="b-warn city-warn"></div>
                </div>
                <div class="box-line">
                    <input class="edit-text edit-place tel" type="text" name="tel" placeholder="请输入您的手机号码" maxlength="11" id="tel" autocomplete="off">
                    <div class="b-warn tel-warn"></div>
                </div>
                <!--S-免责声明-->
                <div class="disclamer-line">
                    <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
                    <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/disclamer"  class="pull-left"><span>《免责声明》</span></a>
                </div>
                <button class="box-line" id="btnSave" type="button">立即申请</button>
            </form>
            <p class="help-peo">累计帮助过2038843位业主  <a target="_blank" class="span" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/zxbj/" >智能报价</a></p>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="wrap-item">
        <div class="item-head">
            <div class="title"><h2>{$cityInfo['cname']}新房装修美图</h2></div>
            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/tu/" class="more">
                <span>更多</span>
                <img src="/assets/home/article/images/artRight.png" alt="">
            </a>
        </div>
        <div class="item-con meitu">
            <ul class="left row-1">
                <li style="opacity: 1;">
                    <a target="_blank" rel="nofollow">
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191207/FtPKaLpVl761sYOnIr6CDWqAHO2W" alt="美式风格">
                        <span class="for_ie_bg">
                                <i>新居</i>
                                <div class="fengge-info">
                                    <p class="big-tit">新居</p>
                                </div>
                            </span>
                    </a>
                </li>
                <li style="opacity: 1;">
                    <a target="_blank" rel="nofollow">
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191207/FscvnboYKjpeTqCw4OIYN8ig_UlY" alt="美式风格">
                        <span class="for_ie_bg">
                                <i>婚房</i>
                                <div class="fengge-info">
                                    <p class="big-tit">婚房</p>
                                </div>
                            </span>
                    </a>
                </li>
                <li style="opacity: 1;">
                    <a target="_blank" rel="nofollow">
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191207/FstXGHO6aTmbpa_s-fk-D8L2l3_-" alt="美式风格">
                        <span class="for_ie_bg three">
                                <img src="/assets/home/decoration/img/xunhuan.png" alt=""><i>3D效果图</i>
                                <div class="fengge-info">
                                    <p class="big-tit">3D效果图</p>
                                </div>
                            </span>
                    </a>
                </li>
            </ul>
            <div class="right">
                <div>
                    <volist name="list.xfzx" id="vi">
                        <a rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/tu/j{$vi.id}.html" target="_blank " class="item">
                            <img src="{$vi.img_src_full}" alt="美式风格">
                            <div class="item-des">{$vi.title}</div>
                        </a>
                    </volist>
                </div>
                <div>
                    <volist name="list.hfzx" id="vi">
                        <a rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/tu/j{$vi.id}.html" target="_blank " class="item">
                            <img src="{$vi.img_src_full}" alt="美式风格">
                            <div class="item-des">{$vi.title}</div>
                        </a>
                    </volist>
                </div>
                <div>
                    <volist name="list.3d" id="vi">
                        <a rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/tu/3d-conten{$vi.id}.html" target="_blank " class="item">
                            <img src="https://{:C('QINIU_DOMAIN')}/{$vi.face}-w660.jpg" alt="美式风格">
                            <div class="item-des">{$vi.title}</div>
                        </a>
                    </volist>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-item">
        <div class="item-head">
            <div class="title"><h2>{$cityInfo['cname']}新房装修案例</h2></div>
            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/xgt/" class="more">
                <span>更多新房案例</span>
                <img src="/assets/home/article/images/artRight.png" alt="">
            </a>
        </div>
        <div class="item-con anli al-box">
            <ul class="al-list">
                <li class="active">
                    <div class="shupai" >客厅</div>
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}hz.qizuang.com/caseinfo/985846.shtml" >
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191206/FhfZop9dvyXg2Voop5cZctPqwa-i"
                             alt="欧式风格，客厅装修案例展示">
                    </a>
                    <div class="p-bg">
                        <p>
                            <span class="bg-name">客厅</span>
                            <span class="bg-des">
                                简约不失震撼,，惊艳入门第一眼。追求时尚与潮，注重居室空间的布局与
                                使用功能的完美结合
                            </span>
                        <span class="bg-btn">免费定制</span>
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/xgt/" class="bg-more">
                                <span>查看更多</span>
                                <img src="/assets/home/index/img/jiantou.png" alt="">
                            </a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="shupai" >卧室</div>
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}bj.qizuang.com/caseinfo/989725.shtml" >
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191206/FnzxHxfmIEmF-sEgmMnOWNYizWZM" alt="地中海风格，卧室案例展示">
                    </a>
                    <div class="p-bg">
                        <p>
                            <span class="bg-name">卧室</span>
                            <span class="bg-des">
                                简约不失震撼,，惊艳入门第一眼。追求时尚与潮，注重居室空间的布局与
                                使用功能的完美结合
                            </span>
                        <span class="bg-btn">免费定制</span>
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/xgt/" class="bg-more">
                                <span>查看更多</span>
                                <img src="/assets/home/index/img/jiantou.png" alt="">
                            </a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="shupai" >厨房</div>
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}bj.qizuang.com/caseinfo/989725.shtml" >
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191206/FrtFm0BUF5htXJ6RjGGKCJWjL7mL" alt="地中海风格，卧室案例展示">
                    </a>
                    <div class="p-bg">
                        <p>
                            <span class="bg-name">厨房</span>
                            <span class="bg-des">
                                简约不失震撼,，惊艳入门第一眼。追求时尚与潮，注重居室空间的布局与
                                使用功能的完美结合
                            </span>
                        <span class="bg-btn">免费定制</span>
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/xgt/" class="bg-more">
                                <span>查看更多</span>
                                <img src="/assets/home/index/img/jiantou.png" alt="">
                            </a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="shupai" >卫生间</div>
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}bj.qizuang.com/caseinfo/989725.shtml" >
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191206/Fr6Hcly2XSm8QD85cu13rubd_FU9" alt="地中海风格，卧室案例展示">
                    </a>
                    <div class="p-bg">
                        <p>
                            <span class="bg-name">卫生间</span>
                            <span class="bg-des">
                                简约不失震撼,，惊艳入门第一眼。追求时尚与潮，注重居室空间的布局与
                                使用功能的完美结合
                            </span>
                        <span class="bg-btn">免费定制</span>
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/xgt/" class="bg-more">
                                <span>查看更多</span>
                                <img src="/assets/home/index/img/jiantou.png" alt="">
                            </a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="shupai" >阳台</div>
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}bj.qizuang.com/caseinfo/989725.shtml" >
                        <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/custom/20191206/FiwkGVdAmsZjTxZjjxQFynEnxSkY" alt="地中海风格，卧室案例展示">
                    </a>
                    <div class="p-bg">
                        <p>
                            <span class="bg-name">阳台</span>
                            <span class="bg-des">
                                简约不失震撼,，惊艳入门第一眼。追求时尚与潮，注重居室空间的布局与
                                使用功能的完美结合
                            </span>
                        <span class="bg-btn">免费定制</span>
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/xgt/" class="bg-more">
                                <span>查看更多</span>
                                <img src="/assets/home/index/img/jiantou.png" alt="">
                            </a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="wrap-item">
        <div class="item-head">
            <div class="title"><h2>{$cityInfo['cname']}新房装修公司</h2></div>
            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_host}/company/" class="more">
                <span>更多装修公司</span>
                <img src="/assets/home/article/images/artRight.png" alt="">
            </a>
        </div>
        <div class="item-con gongsi">
            <volist name="info.koubei" id="vi">
                <div class="g-item">
                    <a target="_blank" rel="nofollow"  href="{$SCHEME_HOST.scheme_host}/company_home/{$vi.id}/">
                        <img src="{$vi.logo|default='https://static.qizuang.com/Public/default/images/default_logo.png'}" alt="{$vi.jc}">
                    </a>
                    <a target="_blank" title="{$vi.qc}"  href="{$SCHEME_HOST.scheme_host}/company_home/{$vi.id}/" class="item-name">{$vi.jc}</a>
                    <div class="item-shu">
                        <p>案例数 <span>{$vi.casesnum}</span></p>
                        <p>评论数 <span>{$vi.ping}</span></p>
                    </div>
                </div>
            </volist>
        </div>
    </div>
    <div class="wrap-item last-wrap">
        <div class="item-head">
            <div class="title"><h2>{$cityInfo['cname']}新房装修宝典</h2></div>
        </div>
        <div class="item-con book">
            <div class="b-item">
                <div class="b-head one">
                    <p>新居</p>
                    <div class="sort">
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/lc/?keyword=新房" >攻略</a>
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/zxkx/baike/?keyword=新房" >百科</a>
                    <a rel="nofollow" target="_blank" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/zxkx/wenda/?keyword=新房" >问答</a>
                    </div>
                </div>
                <ul class="b-con">
                    <volist name="list.zx.xfzx" id="vo">
                        <li class="c-href">
                            <div class="left">
                                <if condition="$vo.module EQ 'gonglue'">装修攻略
                                    <elseif condition="$vo.module EQ 'baike'"/>装修百科
                                    <elseif condition="$vo.module EQ 'wenda'"/>装修问答
                                </if>
                            </div>
                            <div class="right">
                                <span>|</span>
                                <if condition="$vo.module EQ 'gonglue'">
                                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/gonglue/{$vo.three_short_name}/{$vo.id}.html" >{$vo.title}</a>
                                    <elseif condition="$vo.module EQ 'baike'"/>
                                <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/baike/{$vo.id}.html" >{$vo.title}</a>
                                    <elseif condition="$vo.module EQ 'wenda'"/>
                                <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/wenda/x{$vo.id}.html" >{$vo.title}</a>
                                </if>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="b-item">
                <div class="b-head two">
                    <p>婚房</p>
                    <div class="sort">
                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/xfzx/lc/?keyword=婚房" >攻略</a>
                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/zxkx/baike/?keyword=婚房" >百科</a>
                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/zxkx/wenda/?keyword=婚房" >问答</a>
                    </div>
                </div>
                <ul class="b-con">
                    <volist name="list.zx.hfzx" id="vo">
                        <li class="c-href">
                            <div class="left">
                                <if condition="$vo.module EQ 'gonglue'">装修攻略
                                    <elseif condition="$vo.module EQ 'baike'"/>装修百科
                                    <elseif condition="$vo.module EQ 'wenda'"/>装修问答
                                </if>
                            </div>
                            <div class="right">
                                <span>|</span>
                                <if condition="$vo.module EQ 'gonglue'">
                                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/gonglue/{$vo.three_short_name}/{$vo.id}.html" >{$vo.title}</a>
                                    <elseif condition="$vo.module EQ 'baike'"/>
                                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/baike/{$vo.id}.html" >{$vo.title}</a>
                                    <elseif condition="$vo.module EQ 'wenda'"/>
                                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/wenda/x{$vo.id}.html" >{$vo.title}</a>
                                </if>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
            <div class="b-item">
                <div class="b-head three">
                    <p>装修小白</p>
                    <div class="sort">
                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/zxkx/lc/?keyword=装修小白" >攻略</a>
                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/zxkx/baike/?keyword=装修小白" >百科</a>
                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/search/zxkx/wenda/?keyword=装修小白" >问答</a>
                    </div>
                </div>
                <ul class="b-con">
                    <volist name="list.zx.zxxb" id="vo">
                        <li class="c-href">
                            <div class="left">
                                <if condition="$vo.module EQ 'gonglue'">装修攻略
                                    <elseif condition="$vo.module EQ 'baike'"/>装修百科
                                    <elseif condition="$vo.module EQ 'wenda'"/>装修问答
                                </if>
                            </div>
                            <div class="right">
                                <span>|</span>
                                <if condition="$vo.module EQ 'gonglue'">
                                    <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/gonglue/{$vo.three_short_name}/{$vo.id}.html" >{$vo.title}</a>
                                    <elseif condition="$vo.module EQ 'baike'"/>
                                <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/baike/{$vo.id}.html" >{$vo.title}</a>
                                    <elseif condition="$vo.module EQ 'wenda'"/>
                                <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/wenda/x{$vo.id}.html" >{$vo.title}</a>
                                </if>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </div>
</div>
<include file="Index:footer_509"/>
</body>
<script type="text/javascript" src="/assets/sub/decoration/js/new.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    $(function () {
        var tabIndex = "{$tabIndex}"
        $('.pub-top .nav-name').eq(tabIndex).addClass('active').siblings('.nav-name').removeClass('active');
        $('.pub-top .nav-name').removeClass('on');
        $('.pub-top .nav-name').on('mouseout',function(){
            $(this).removeClass('on');
            $('.pub-top .nav-name').eq(tabIndex).addClass('active').siblings('.nav-name').removeClass('active');
            $(this).find('.list-box').hide();
        });
        var shen = null, shi = null;
        shen = citys["shen"];
        shi = citys["shi"];
        initCity('{$theCityId}');

        function initCity(cityId) {
            App.citys.init(".edit-city", ".edit-quyu", shen, shi, cityId);
            App.citys.init(".edit-city-qa", ".edit-quyu-qa", shen, shi, cityId);
        }


    })
</script>
</html>

