<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{$keys.title} - 齐装网</title>
    <meta name="keywords" content="{$keys.keywords}"/>
    <meta name="description" content="{$keys.description}"/>
    <include file="Home@Index:resource_509" />
    <link rel="stylesheet" type="text/css" href="/assets/sub/decoration/css/origin.css?v={:C('STATIC_VERSION')}">
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}{$cityInfo['bm']}.{$SCHEME_HOST.domain}/cysj/" />
</head>
<body>
<include file="Index:header_509" />
<div class="origin">
    <div class="origin-banner">
        <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191123/FmHmDqe6E86SKfoSZCETygtn1QGH" />
        <div class="banner1">
            <img src="/assets/home/decoration/img/banner1.png" />
        </div>
        <div class="banner2">
            <img src="/assets/home/decoration/img/banner2.png" />
        </div>
        <div class="banner3">
            <img src="/assets/home/decoration/img/banner3.png" />
        </div>
    </div>
    <div class="origin-box origin-design" style="margin-bottom: 0;">
        <div class="design-top">
            <span class="top-title">别墅整体全案设计</span>
            <span class="top-des">实现生活需求与艺术设计的完美结合</span>
        </div>
        <img src="/assets/home/decoration/img/design-bg.png" class="design-bg"/>
        <div class="three-image">
            <a target="_blank" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/tu/3d-28">
                <img src="/assets/home/decoration/img/3d.jpg" />
                <p class="three-xiaoguo">3D效果图</p>
            </a>
        </div>
        <p class="three-all">全屋漫游360°无死角</p>
    </div>
    <div class="origin-box ">
        <div class="yuyue-dingzhi">
            <span class="top-title">预约报名定制</span>
            <span class="top-des">齐装为您定制专属私宅方案</span>
        </div>
        <img src="/assets/home/decoration/img/design-bg.png" class="design-bg"/>
        <img src="/assets/home/decoration/img/yuyue.png" class="yuyue"/>
        <div class="origin-order">
            <ul>
                <li class="order-city">
                    <select id="order-cs">

                    </select>
                    <select id="order-qy">

                    </select>
                </li>
                <li class="order-name">
                    <input placeholder="请输入您的手机号码" class="telephone" type="text" maxlength="11">
                </li>
                <li class="order-btn">预约定制</li>
            </ul>
            <div class="error-tips">
                <div class="error-city"></div>
                <div class="error-area"></div>
                <div class="error-tel"></div>
            </div>
        </div>
    </div>
    <div class="origin-box">
        <div class="zhuangxiu-anli">
            <span class="top-title">别墅装修案例</span>
            <span class="top-des">一墅一世界 不凡品味 由此彰显</span>
        </div>
        <img src="/assets/home/decoration/img/design-bg.png" class="design-bg"/>
        <div class="anli-fenlei">
            <div class="anli-left">
                <div class="anli-left1"></div>
                <div class="anli-left2"></div>
                <div class="anli-img-list">
                    <img class="imglist1" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191206/Fkh27HDbtUVrTIfSwGUPaPUL74BJ" />
                    <img class="imglist2" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191206/FlxIBy3N1JMxK-qJDjJCSrTv9pYZ" />
                    <img class="imglist3" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191206/FvdTNfo17R5hpdhzwb_07lBKwOmz" />
                    <img class="imglist4" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/custom/20191206/FnossKnlPryzBPRiOIUq61ErptO5" />
                </div>
            </div>
            <div class="xijie">
                <p class="fenlei-tit">细节</p>
                <p class="fenlei-des">量身定制</p>
            </div>
            <div class="sheji">
                <p class="fenlei-tit" style="width:85%;margin-top:20px;">设计</p>
                <p class="fenlei-des" style="width:85%;">尊重人性</p>
            </div>
            <div class="gongneng">
                <p class="fenlei-tit" style="width:118%;margin-top:20px;">功能</p>
                <p class="fenlei-des" style="width:118%;">合理规划</p>
            </div>
        </div>
        <div class="tit-fenlei">
            <img src="/assets/home/decoration/img/tit-anli.png" class="tit-anli" />
            <ul>
                <li class="active">阳光房</li>
                <li>花园设计</li>
                <li>私人空间</li>
                <li>娱乐空间</li>
            </ul>
        </div>
        <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_host}/xgt?type=1&mj=7" class="more-anli">更多别墅装修案例</a>
    </div>
    <div class="origin-box">
        <div class="baozhang-fuwu">
            <span class="top-title">别墅保障服务</span>
            <span class="top-des">严苛装修过程打造国际别墅装修工艺</span>
        </div>
        <img src="/assets/home/decoration/img/design-bg.png" class="design-bg"/>
        <img src="/assets/home/decoration/img/baozhang.png" class="baozhang"/>
        <div class="baozhang-list">
            <div class="fuwu_bg">
                <img src="/assets/home/decoration/img/fuwu_bg.png" />
            </div>
            <div class="fuwu-list fuwu-list1">
                <p>一级</p>
                <p>项目施工资质</p>
            </div>
            <div class="fuwu-list fuwu-list2">
                <p>全方位</p>
                <p>监控管理系统</p>
            </div>
            <div class="fuwu-list fuwu-list3">
                <p>40项</p>
                <p>安全耐久方案</p>
            </div>
            <div class="fuwu-list fuwu-list4">
                <p>38项</p>
                <p>舒适节能方案</p>
            </div>
            <div class="fuwu-list fuwu-list5">
                <p>32项</p>
                <p>别墅装修工艺</p>
            </div>
            <div class="fuwu-list fuwu-list6">
                <p>10年以上</p>
                <p>团队施工经验</p>
            </div>
        </div>
    </div>
    <div class="recommend-designer">
        <div class="designer-tit">
            <span></span>
            <span></span>
            <div class="designer-bg">推荐设计师</div>
            <p class="designer-stit">创造视觉与心灵空间的典雅归宿</p>
        </div>
        <div class="designer1 wrap">
            <volist name="list.designer" id="vi" offset="0" length="2">
                <if condition="$vi['cooperate_mode'] eq 1">
                    <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog/{$vi.id}/" class="designer-list">
                <else />
                    <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog_new/{$vi.id}/" class="designer-list">
                </if>
                            <img src="{$vi.logo}" alt="{$vi.name}"/>
                            <div class="designer-mask">
                                <p class="designer-name">{$vi.name}</p>
                                <!-- <p class="designer-guanzhu">
                                        <i class="fa fa-plus"></i>
                                        关注
                                    </p> -->
                            </div>
                        </a>
            </volist>

            <button class="designer-btn" type="button">预约设计</button>
            <volist name="list.designer" id="vi" offset="2" length="2">
                    <if condition="$vi['cooperate_mode'] eq 1">
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog/{$vi.id}/" class="designer-list">
                            <else />
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog_new/{$vi.id}/" class="designer-list">
                    </if>

                            <img src="{$vi.logo}" alt="{$vi.name}" />
                            <div class="designer-mask">
                                <p class="designer-name">{$vi.name}</p>
                            </div>
                        </a>
            </volist>
            <div style="clear:both;"></div>
        </div>
        <div class="design2 wrap">
                <volist name="list.designer" id="vi" offset="4" length="6">
                    <if condition="$vi['cooperate_mode'] eq 1">
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog/{$vi.id}/" class="designer-list">
                    <else />
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog_new/{$vi.id}/" class="designer-list">
                    </if>
                                <img src="{$vi.logo}" alt="{$vi.name}"/>
                                <div class="designer-mask">
                                    <p class="designer-name">{$vi.name}</p>
                                    <!-- <p class="designer-guanzhu">
                                        <i class="fa fa-plus"></i>
                                        关注
                                    </p> -->
                                </div>
                            </a>
                </volist>
            <div style="clear:both;"></div>
        </div>
        <div class="design3 wrap">
                <volist name="list.designer" id="vi" offset="10" length="4">
                    <if condition="$vi['cooperate_mode'] eq 1">
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog/{$vi.id}/" class="designer-list">
                    <else />
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog_new/{$vi.id}/" class="designer-list">
                    </if>

                                <img src="{$vi.logo}" alt="{$vi.name}"/>
                                <div class="designer-mask">
                                    <p class="designer-name">{$vi.name}</p>
                                    <!-- <p class="designer-guanzhu">
                                        <i class="fa fa-plus"></i>
                                        关注
                                    </p> -->
                                </div>
                            </a>
                </volist>
            <div style="clear:both;"></div>
        </div>
        <div class="design4 wrap">
                <volist name="list.designer" id="vi" offset="14" length="2">
                    <if condition="$vi['cooperate_mode'] eq 1">
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog/{$vi.id}/" class="designer-list">
                    <else />
                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$vi.bm}.qizuang.com/blog_new/{$vi.id}/" class="designer-list">
                    </if>
                                <img src="{$vi.logo}" alt="{$vi.name}"/>
                                <div class="designer-mask">
                                    <p class="designer-name">{$vi.name}</p>
                                    <!-- <p class="designer-guanzhu">
                                        <i class="fa fa-plus"></i>
                                        关注
                                    </p> -->
                                </div>
                            </a>
                </volist>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="designer-news">
        <div class="news-tit">
            <span></span>
            <span></span>
            <div class="news-bg">设计前沿</div>
            <p class="news-stit">引领高端设计 分享时尚装修</p>
        </div>
        <div class="origin-news-list wrap">
            <volist name="list.article" id="vi">
                <div class="origin-list">
                        <div class="list-left">
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/gonglue/{$vi.shortname}/{$vi.id}.html">
                                <img src="{$SCHEME_HOST.scheme_full}/{$vi.img_path}" alt="{$vi.title}" />
                            </a>
                        </div>
                        <div class="list-right">
                            <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/gonglue/{$vi.shortname}/{$vi.id}.html" class="list-tit">{$vi.title}</a>
                            <div class="list-des">{$vi.description}<a rel="nofollow" target="_blank" class="des-detail" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/gonglue/{$vi.shortname}/{$vi.id}.html">[详情]</a></div>
                            <div class="list-fenlei">
                                <!-- <img src="/assets/home/decoration/img/book.png" />
                                <img src="/assets/home/decoration/img/order.png" /> -->
                                <img src="/assets/home/decoration/img/mark.png" />
                                <span class="fenlei-theme">{$vi.pclassname}-{$vi.classname}</span>
                                <ul>
                                    <volist name="vi.tags" id="vo">
                                            <li>{$vo}</li>
                                    </volist>
                                </ul>
                                <span class="des-num">
                                    <img src="/assets/home/decoration/img/icon-eye.png" style="position: relative;top:-1px;">{$vi.pv}
                                </span>
                                <span class="des-time">{$vi.date}</span>
                            </div>
                        </div>
                    </div>
            </volist>
        </div>
        <a target="_blank" rel="nofollow" href="{$SCHEME_HOST.scheme_full}www.{:C('QZ_YUMING')}/gonglue/" class="more-zixun">更多设计资讯</a>
    </div>
</div>
<include file="Index:footer_509" />
<script type="text/javascript" src="/assets/sub/decoration/js/origin.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    $(function () {
        var tabIndex = "{$tabIndex}"
        $('.pub-top .nav-name').eq(tabIndex).addClass('active').siblings('.nav-name').removeClass('active');
        $('.pub-top .nav-name').removeClass('on');
        $('.pub-top .nav-name').on('mouseout',function(){
            $(this).removeClass('on');
            $('.pub-top .nav-name').eq(tabIndex).addClass('active').siblings('.nav-name').removeClass('active');
            $(this).find('.list-box').hide();
        });
        var shen = null,shi = null;
        shen = citys["shen"];
        shi = citys["shi"];

        initCity('{$theCityId}');
        function initCity(cityId){
            App.citys.init(".order-city #order-cs", ".order-city #order-qy", shen, shi,cityId);
        }
    })
</script>
</body>
</html>
