<!-- type 说明： 1代表需要多少钱，2代表找公司 -->
<link rel="stylesheet" href="/assets/common/css/bottom-fadan-guoqing.css?v={:C('STATIC_VERSION')}">
<div class="bottom-fadan-guoqing-box">
  <div class="bottom-fadan-body">
      <img src="/assets/common/img/bottom_order-guoqing_close_btn.png" alt="" class="bottom_order-guoqing_close_btn">
    <div class="order-position-bottom">
        <div class="order-ele-box"><select class="bottom-fadan-city"></select><div class="fadan-tips-box"></div></div>
        <div class="order-ele-box"><select class="bottom-fadan-area"></select></div>
        <div class="order-ele-box"><input type="text" placeholder="怎么称呼您" class="bottom-fadan-name" maxlength="20"><div class="fadan-tips-box"></div></div>
        <div class="order-ele-box"><input type="text" placeholder="您的手机号" maxlength="11" class="bottom-fadan-tel"><div class="fadan-tips-box"></div></div>
        <div class="order-ele-box"><button class="bottom-fadan-btn" type="button" data-cityid='{$theCityId}'>免费预约</button></div>
        <if condition="[type]==1">
          <input type="hidden" name="source" value="19030507">
        <else/>
          <input type="hidden" name="source" value="19030559">
        </if>
    </div>
    <div class="disclamer-line">
        <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
        <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
        <a href="{$SCHEME_HOST.scheme_host}/about/disclamer" target="_blank" class="pull-left" rel="nofollow"><span>《免责声明》</span></a>
    </div>
  </div>
</div>
<div class="bottom-order-guoqing-success">
  <div class="guoqing-suucess-main">
    <span class="guoqing-suucess-close"><img src='/assets/common/img/guoqing-suucess-close-btn.png' class="bottom-order-success-close-btn"/></span>
    <div class="guoqing-suucess-top"><img src='/assets/common/img/bottom_order-guoqing_gou.png'/> <span>恭喜您预约成功</span></div>
    <div class="guoqing-suucess-bottom">稍后会有专人客服与您联系~ </div>
  </div>
</div>
<img src="/assets/common/img/bottom-order-icon.png" alt="" class="bottom-order-icon">
<script>
   var agl = document.createElement('script');
   agl.type='text/javascript';
   agl.async = true;
   agl.src = '/assets/common/js/bottom-fadan-guoqing.js?v={:C("STATIC_VERSION")}';
   document.body.appendChild(agl);
</script>