<!-- type 说明： 1代表需要多少钱，2代表找公司 -->
<div class="bottom_order"></div>
<script>
  var type = [type]
  if(type == 1){
    $.ajax({
      url: '/poplayer/pop',
      type: 'GET',
      dataType: 'JSON',
      data: {
        type: "bottom_money",
      }
    }).done(function (data) {
      if (data.status == 0) {
        $(".bottom_order").append(data.tmp);
      }
    });
  } else if (type == 2){
    $.ajax({
      url: '/poplayer/pop',
      type: 'GET',
      dataType: 'JSON',
      data: {
        type: "bottom_companys",
      }
    }).done(function (data) {
      if (data.status == 0) {
        $(".bottom_order").append(data.tmp);
      }
    });
  }
</script>