.xgt-box{
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100rpx;
    right: 0;
    bottom: 110rpx;
}
.sify {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.sify .all {
    position: absolute;
    top: 40rpx;
    left: 20rpx;
    height: 60rpx;
    z-index: 3;
    margin: 0 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28rpx;
    color: rgba(51, 51, 51, 1);
    background: #ffffff;
    padding-bottom: 24rpx;
    box-sizing: border-box;
}
.scroll-view_H {
    display: flex;
    height: 66rpx;
    padding: 0rpx 28rpx 0rpx 142rpx;
    margin-top: 34rpx;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sify .scroll-view_H .scroll-view-item_H {
    display: inline-block;
    margin: 0 25rpx;
    height: 56rpx;
    text-align: center;
    font-size: 24rpx;
    font-weight: 500;
}

.xgt .sify .active {
    color: #ff5353;
    border-bottom: 4rpx solid #DB2C2C;
}

.xgt-list{
    padding: 30rpx;
    border-bottom: 20rpx #F7F7F7 solid;
}

.xgt-list image{
    width: 690rpx;
    height: 388rpx;
    border-radius: 8rpx;
    vertical-align: middle;
}
.xgt-list .content{
    overflow: hidden;
    line-height: 1;
    margin-top: 20rpx;
}
.xgt-list .content .location{
    width: 50%;
    float: left;
    font-size: 28rpx;
    font-weight: bold;
    color: #333;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.xgt-list .content .des{
    float: right;
    font-size: 24rpx;
    color: #999;
}
.xgt-list .content .des text{
    padding: 0 4rpx;
    border-right: 1px solid #999;
}
.xgt-list .content .des text:last-child{
    border-right: none;
}
.btm-nomore{
    display: block;
    width: 100%;
    height: 60rpx;
    line-height: 60rpx;
    font-size: 24rpx;
    color: #999;
    text-align: center;
}