<volist name="list" id="vo">
    <li>
        <div class="qiangdan-tit">
            <div class="timer">{$vo.time|date="Y-m-d",###}</div>
            <a href="/robdetail?id={$vo.id}" class="blue">订单详情</a>
        </div>
        <dl>
            <dd>小区名称:{$vo.xiaoqu}</dd>
            <dd>区域:{$vo.cname}{$vo.qz_area}</dd>
            <dd>面积（㎡）:{$vo.mianji}</dd>
            <dd>预算:{$vo.yusuan}</dd>
        </dl>
        <div class="qiangdan">
            <span>剩余时间:</span>
            <span class="red"><?php echo secToTime(($vo['add_time'] + 60*60*3) - time()) ?></span>
            <button class="qiangdan-btn" data-id="{$vo.id}">抢单</button>
        </div>
    </li>
</volist>