.toppic {
  position: relative;
}
.toppic  .wenz {
  position: absolute;
  top: 10%;
  width: 90%;
  left: 5%;
}
.toppic img {
  width: 100%;
}
.main {
  margin: 0 0.1rem;
  position: relative;
  top: -0.9rem;
  background:rgba(255,255,255,1);
}
.box {
  border: 1px solid #dedee0;
  border-radius: 5px;
  padding:0.1rem 0.05rem;
  box-shadow:0px 0px 8px #DEDEDE;
  background: #FFF;
}
.main .money-title {
  text-align: center;
  font-size: 0.144rem;
  color: #000;
  height: 0.13rem;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 0.108rem;
}
.main .money-title span {
  background: #fff;
}
.money-main{
  background: #D1D1D1;
  height: 0.51rem;
  padding: 0.04rem;
  border-radius: 10px;
  margin: 0 8px;
  margin: 10px;
  overflow: hidden;
}
.money-img {
  margin: 0;
  height: 0.45rem;
  border: 3px solid #000;
  border-radius: 5px;
  background:rgba(209,209,209,1);
  box-shadow: 5px 5px 5px #999 inset;
}
.money-box {
  border: none;
  margin-top: 0;
  position: relative;
  top: 9px;
  margin: 0 22px;
  margin-right: 10px;
}
.money-box span {
  color: #333333;
  display: inline-block;
  margin-top: 16px;
  margin-right: 6px;
  margin-left: 2px;
}
.money-img .zongjia {
  float: left;
  height: 0.51rem;
  line-height: 0.5rem;
  font-size: 0.15rem;
  padding-left: 0.1rem;
}
.num{
  width: 24px;
  height: 36px;
  background: url(/assets/mobile/baojia/img/num-pic.png) no-repeat;
  /*background-size: 100%;*/
  float: left;
  margin-right: 2px;
  margin-top: 0;
}
.num-gray{background-position: -24px -14px !important;}
.num-0{background-position: -55px -14px !important;}
.num-1{background-position: -88px -14px !important;}
.num-2{background-position: -117px -14px !important;}
.num-3{background-position: -146px -14px !important;}
.num-4{background-position: -177px -14px !important;}
.num-5{background-position: -206px -14px !important;}
.num-6{background-position: -238px -14px !important;}
.num-7{background-position: -268px -14px !important;}
.num-8{background-position: -296px -14px !important;}
.num-9{background-position: -329px -14px !important;}
.form-once select {
  outline: none;
  border: 1px solid #ddd;
  width: 100%;
  height: 48px;
  color: #999;
  font-size: 1em;
  padding: 5px;
  background: #EDEDED;
}
.m-bj-edit li .c-zb-city {
  color: #333;
}
.m-b-btn {
  background:#476A6A;
  border-radius: 5px;
}
.gonggao {
  padding: 0.03rem;
  padding-left: 0.216rem;
  letter-spacing: 0.2em;
  margin: 0 10px;
  color: #333;
  box-shadow:0 0 5px #666 inset;
  border-radius:0.05rem;
  font-size: 12px;
}
.gonggao .suona {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('../img/icon-suona.png') no-repeat;
  position: relative;
  top: 3px;
  margin-right: 0.3rem;
}
.gonggao .people {
  color: #929D33;
  font-weight: bold;
  margin: 0 6px;
}
.m-bj-edit li .m-bj-edit-list,.c-zb-city {
  background: #EDEDED;
}
.fa-map-marker {
  position: absolute;
  right: 10px;
}
.show-box {
  margin-top: 0.315rem;
  box-shadow: 0px 0px 8px #DEDEDE;
  border-radius: 10px;
  padding-bottom: 0.15rem;
}
.show-box .s-title {
  height: 0.495rem;
  line-height: 0.495rem;
  text-align: center;
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
  background: #476A6A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.show-box .icon {
  display: block;
  float: left;
  width: 0.27rem;
  height: 0.27rem;
  margin-right: 0.126rem;
}
.show-box .icon-jsq {
  margin-top: 0.05rem;
  background: url('../img/icon-jsq.png') no-repeat;
}
.show-box .icon-bj {
  margin-top: -0.05rem;
  background: url('../img/icon-bj.png') no-repeat;
}
.show-box .icon-db {
  margin-top: -0.05rem;
  background: url('../img/icon-db.png') no-repeat;
}
.show-box .p {
  padding-left: 0.18rem;
  padding-top: 0.135rem;
}
.show-box .des {
  float: left;
  width: 80%;
  font-size: 0.144rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px dashed #476A6A;
}
.show-box .no-line {
  border-bottom: none;
}
.box-one {
  margin-top: 0.315rem;
}
.one-box01 {
  background: #98B5B5;
  padding-bottom: 0.13rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box-one .t-title {
  height: 0.495rem;
  line-height: 0.495rem;
  text-align: center;
  font-size: 0.18rem;
  font-weight: bold;
  color: #fff;
  background: #476A6A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box-one .threelis {
  padding-top: 0.099rem;
  margin-bottom: 9px;
}
.box-one .threelis li {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 0.13rem;
  color: #fff;
}
.box-one .threelis li p {
  width: 60%;
  margin: 0 auto;
}
.pic-box-one .c1 {
  padding: 0 0.15rem;
}
.pic-box-one .c1 img {
  display: block;
  width: 97%;
  border: 5px solid #476A6A;
  border-radius: 10px;
}
.btn-right-now {
  border: none;
  width: 94%;
  height: 50px;
  margin: 10px;
  margin-top: 0.5rem;
  background: #476A6A;
  display: block;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
}
.gotop {
  position: absolute;
  width: 100%;
  bottom: -0.7rem;
}
/* ----------------------------报价成功页------------- */
.bg {
  height: 0.1rem;
  width: 100%;
  background: #eee;
}
.con .success-box {
  margin: 20px 10px;
  padding-bottom: 0.2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #DEDEDE;
}
.con .success-box .s {
  color: #FF973A;
  font-size: 24px;
  font-weight: bold;
  margin: 0.15rem 0;
}
.con .success-box .s .gou {
  width: 31.5px;
  height: 31.5px;
  float: left;
  margin-left: 0.9rem;
  margin-right: 0.1rem;
}
.con .success-box .s .gou img {
  width: 100%;
}
.con .success-box .result {
  width: 2.43rem;
  height: 1.62rem;
  margin: 0 auto;
  background: url('../img/border.png');
  background-size: 100%;
}
.con .success-box .result div {
  text-align: center;
  margin: 0.1rem;
}
.con .success-box .result .text1 {
  padding-top: 0.15rem;
  font-size: 0.135rem;
}
.con .success-box .result .text2 {
  font-size: 0.15rem;
  color: #FF973A;
}
.con .success-box .result .text3 {
  font-size: 0.162rem;
  color: #fff;
  background: #FF973A;
  width: 70%;
  margin: 0 auto;
  border-radius: 6px;
  padding: 0.08rem 0;
}
.con .success-box .result .text3 span {
  font-size: 0.351rem;
}
.con .success-box .msg {
  color: #ccc;
  font-size: 0.13rem;
}
.box-weixin {
  padding: 10px;
}
.weixin-img {
  margin-top: 0.1rem;
}
.weixin-img ul {
  position: relative;
}
.weixin-img ul li img {
  display: block;
  width: 100%;
}
.guanzhu-weixin {
  text-align: center;
  margin: 0.1rem 0;
}
.box-weixin .erweima {
  position: absolute;
  top: 0.05rem;
  right: 0.15rem;
  width: 1rem;
}
.guanzhu-weixin span {
  color: #FF5353;
}