*{
  margin: 0;
  padding: 0;
}

.warp{
  width: 100%;
}
.toppic{
  background: url("/assets/home/gongzc/img/banner.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 4.9rem;
}
.cont-Pic{
  width: 100%;
  height: 0.674rem;
  background-image: url("/assets/home/gongzc/img/onehuoqu.jpg");
  background-size: 100%;
  margin-top: -0.009rem;
}

.inp-box {
  height:3.217rem;
  background-color: #211F24;
  padding-top: 0.153rem;
  margin-top: -0.009rem;
}
.inp-cont>p:nth-of-type(1){
height:0.119rem;
font-size:0.119rem;
color:#FBCA91;
text-align: center;
}
.inp-cont>p:nth-of-type(2){
        width: 0rem;
        height: 0rem;
        border-width: 0.038rem 0.038rem 0 0.038rem;
        border-style: solid;
        border-color:#FBCA91 transparent;
        margin: 0.051rem auto;
   }
   .inp-cont>p:nth-of-type(3){
height:0.179rem;
font-size:0.179rem;
font-weight:bold;
color:#ECDAEA;
text-align: center;
margin-top: 0.059rem;
}
.city-box,
.name-box,
.tel-box{
width: 2.7773rem;
height:0.563rem;
margin: 0.051rem auto;
}
.city-box{
  margin-top: 0.128rem;
}
.box-css{
width: 2.63rem;
/* height: 0.365rem; */
line-height: 0.25rem;
/* background: white; */
border-radius: 0.051rem;
padding: 0.08rem 0 0.08rem 0.1rem;
font-size: 0.1rem;
border: none;
/* outline: none; */
}

.p-box{
  height:0.0938rem;
  font-size:0.0938rem;
  color:#FA251E;
  margin-top: 0.025rem;
}
input::-webkit-input-placeholder{ /*WebKit browsers*/
  font-size:0.128rem;
  color:#999999;
  }
.ef_box{
  height: 0.085rem;
  color: white;
  padding-left: 0.213rem;
}
.btn-box{
width:2.773rem;
height:0.375rem;
background:linear-gradient(180deg,rgba(232,166,80,1),rgba(247,195,149,1));
border-radius:0.187rem;
border: none;
margin: 0.213rem;
outline: none;
}

.disclaimer{
  color: white;
  margin-top: 0.013rem;
  padding-left: 0.213rem;
}.disclaimer span{
  color: white;
}
.pl1,.pl2{
  height:0.135rem;
  font-size:0.133rem;
  font-weight:bold;
  text-align: center;
  color:white;
}
.three-txt-p{
  height:0.135rem;
  font-size:0.133rem;
  font-weight:bold;
  text-align: center;
  color:white;
}

.show-box{
  height: 0.678rem;
  background-image: url("/assets/home/gongzc/img/anlizhanshi.jpg");
  background-size: 100%;
  margin-top: -0.009rem;
}

.box-one-box{
  background-image: url("/assets/home/gongzc/img/albc.jpg");
  width: 2.89rem;
  height: 2.892rem;
  background-size: 100%;
  margin: 0 auto;
  padding:0.085rem;
  position: relative;
}

.box-one{
  width: 100%;
  height: 3.86rem;
  background-color: #211F24;
  position: relative;

}
.btn-box span{
height:0.145rem;
font-size:0.153rem;
font-family:MicrosoftYaHei-Bold;
font-weight:bold;
color:#38230C;

}
.two-btn-box{
width: 2.99rem;
height: 0.426rem;
box-sizing: border-box;
padding-left: 0.05rem;
}
.two-btn-box button{
width:1.385rem;
height:0.426rem;
border: 0.004rem solid white;
float: left;
}

.two-btn-box>button:nth-of-type(1){
  background:#E68146;
  color: white;
  font-size:0.17rem;
  }

.two-btn-box>button:nth-of-type(2){
  background:#3C3F61;
  color: #FBCA91;
  font-size: 0.17rem;
}
.cont-box-text{
  width: 2.85rem;
  height: 0.17rem;
}
.threelis li,
.threelis-1 li{
  /* width: 0.404rem !important; */
  height:0.138rem;
  font-size:0.128rem;
  font-weight:400;
  color:#FBCA91;
  float: left;
   padding-bottom: 0.1rem;
}
.threelis >li:nth-of-type(1){
  margin: 0.128rem 0 0.021rem 0.486rem;
}
.threelis >li:nth-of-type(2){
  margin: 0.128rem 0 0.021rem 0.362rem;
}
.threelis >li:nth-of-type(3){
  margin: 0.128rem 0 0.021rem 0.405rem;
}
.threelis-1 >li:nth-of-type(1){
  margin: 0.128rem 0 0.021rem 0.486rem;
}
.threelis-1 >li:nth-of-type(2){
  margin: 0.128rem 0 0.021rem 0.7rem;
}

.span-con{
  width:0.386rem;
height:0.008rem;
background:#E58149;
display: none;
/* float: right; */
}
.span-con1{
  width:0.486rem;
height:0.008rem;
background:#E58149;
display: none;
float: right;
}
.pic-box-one{
  width: 2.6rem;
  height: 1.92rem;
  clear: both;
  margin: 0.393rem 0.128rem;
}

.swiper-two{
  width: 100%;
  height: 100%;
}

.swiper-wrapper_1{
  width: 100%;
  height: 100%;
}


.swiper-container{
  width: 100%;
  height: 100%;
}

.swiper-wrapper{
 width: 100%;
 height: 100%;
}
.swiper-wrapper_1{
  width: 100%;
  height: 100%;
  display: none;
 }
 .bgcf1{
   clear: both;
 }


.swiper-slide{
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-slide img{
width: 100%;
height: 100%;
}
.bt-box{
width:1.02rem;
height:0.213rem;
background-image: url("/assets/home/gongzc/img/alzsbc.jpg");
background-size: 100%;
position: absolute;
bottom: -0.008rem;
left: 0.8rem;
z-index: 1;
}
.one-txt-p{
height:0.11rem;
font-size:0.11rem;
font-weight:400;
color:white;
text-align: center;
padding-top: 0.02rem;
}

/* 第二个 */
.cont-box-text01{
  width: 2.85rem;
  height: 0.17rem;

}

.twolis li{
  height:0.138rem;
  font-size:0.128rem;
  font-weight:400;
  color:#FBCA91;
  float: left;
  padding-bottom: 0.1rem;
}
.twolis >li:nth-of-type(1){
  margin: 0.128rem 0 0.021rem 0.56rem;
}
.twolis >li:nth-of-type(2){
  margin: 0.128rem 0 0.021rem 0.76rem;
}

.span-con01{
  width:0.5rem;
height:0.008rem;
background:#E58149;
display: none;
float: right;
}
.pic-box-two{
  width: 2.6rem;
  height: 1.92rem;
  clear: both;
 margin: 0.493rem 0.183rem;
}
.pic-box-two  .swiper-container{
  width: 100%;
  height: 100%;
}
.twopl{
  width: 100%;
  height: 100%;
}
.twopl img{
width: 100%;
height: 100%;
}


/* 按钮*/
.btn-zoom-box,
.btn-shop-box{
  width:1.792rem;
  height:0.426rem;
  background:linear-gradient(180deg,rgba(232,166,80,1),rgba(247,195,149,1));
  border-radius:0.213rem;
border: none;
margin: 0.128rem 0px;
}
.btn-zeo-box{
  width:1.792rem;
  height:0.426rem;
  background:linear-gradient(180deg,rgba(232,166,80,1),rgba(247,195,149,1));
  border-radius:0.213rem;
border: none;
  position: absolute;
  top: 3.17rem;
  left: 0.68rem;
}

.btn-zeo-box span,
.btn-zoom-box span,
.btn-shop-box span{
height:0.145rem;
font-size:0.153rem;
color:#38230C;
text-align: center;
font-family:MicrosoftYaHei-Bold;
font-weight:bold;
}



.box-two,
.box-three{
  width: 100%;
  height: 3.81rem;
  background-color: #211F24;
  position: relative;
  text-align: center;
}
.box-two-box,
.box-three-box{
  background-image: url("/assets/home/gongzc/img/albc.jpg");
  width: 2.89rem;
  height: 2.892rem;
  background-size: 100%;
  margin: 0 auto;
  padding:0.085rem;
  position: relative;
}

.li1,.li2{
  height:0.178rem;
  font-size:0.128rem;
  font-weight:400;
  color:#FBCA91;
  float: left;
   padding-bottom: 0.1rem;
   margin: 0.128rem 0 0.021rem 0.376rem;
}
.li3s{
  height:0.178rem;
  font-size:0.128rem;
  font-weight:400;
  color:#FBCA91;
  float: left;
   padding-bottom: 0.1rem;
   margin: 0.128rem 0 0.021rem 0.476rem;
}
.li3{
  height:0.178rem;
  font-size:0.128rem;
  font-weight:400;
  color:#FBCA91;
  float: left;
   padding-bottom: 0.1rem;
   margin: 0.128rem 0 0.021rem 0.236rem;
}
.li2s{
  height:0.178rem;
  font-size:0.128rem;
  font-weight:400;
  color:#FBCA91;
  float: left;
  margin: 0.128rem 0 0.021rem 0.266rem;
  padding-bottom: 0.1rem;
}
.shop-02 > li:nth-of-type(2)>p:nth-of-type(1){

  margin-top: 0.02rem;
}
.shop-02 > li:nth-of-type(2)>p:nth-of-type(2){
  width: 0.316rem;
}
.shop-02 > li:nth-of-type(1)>p:nth-of-type(2){
  width: 0.476rem;
}
.threelis >li:nth-of-type(3)>p:nth-of-type(2){
  width: 0.336rem;
}
.shop-01 > li:nth-of-type(2)>p:nth-of-type(1){
 margin-top: -0.005rem;
}

.zoom-01{
  clear: both;
}
.box-two{
  margin-top: -0.07rem;
}

.zoom-01 li>p,
.shop-01 li >p{
 clear: both;
}
.zoom-span-con
{
  width:0.346rem;
height:0.008rem;
background:#E58149;
display: none;
float: right;
}
.zoom-span-con1
{
  width:0.366rem;
height:0.008rem;
background:#E58149;
display: none;
float: right;
}
.shop-span-con{
  width:0.406rem;
  height:0.008rem;
  background:#E58149;
  display: none;
  /* float: right; */
}
.shop-span-con1{
  width:0.406rem;
  height:0.008rem;
  background:#E58149;
  display: none;
}



.zoom-btn-box,
.shop-btn-box{
    width: 2.99rem;
    height: 0.426rem;
    box-sizing: border-box;
    padding-left: 0.05rem;
}



.zoom-btn-box button,
.shop-btn-box button{
  width:1.385rem;
  height:0.426rem;
  border: 0.004rem solid white;
  float: left;
  }
  .zoom-btn-box>button:nth-of-type(1),
  .shop-btn-box>button:nth-of-type(1){
    background:#E68146;
    color: white;
    font-size:0.17rem;
    }

  .zoom-btn-box>button:nth-of-type(2),
  .shop-btn-box>button:nth-of-type(2){
    background:#3C3F61;
    color: #FBCA91;
    font-size: 0.17rem;
  }
.zoomSwiper,
.shopSwiper{
  width: 2.6rem;
  height: 1.92rem;
 margin: 0 0.128rem;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
.swiper-slide{
  width: 100%;
  height: 100%;
}
.swiper-slide img{
width: 100%;
height: 100%;
}

.shop-bt-box,
.zoom-bt-box{
  width:1.02rem;
  height:0.213rem;
  background-image: url("/assets/home/gongzc/img/alzsbc.jpg");
  background-size: 100%;
  position: absolute;
  bottom: -0.03rem;
  left: 0.8rem;
  z-index: 1;
  padding-top: 0.03rem;
  }
  .three-txt-p{
  height:0.11rem;
  font-size:0.11rem;
  font-weight:400;
  color:white;
  text-align: center;
  }

  .doingforyou{
height:2.513rem;
background-size: 100%;
margin-top: -0.004rem;
background-image: url("/assets/home/gongzc/img/singno.jpg")
  }
  .shili{
height:0.563rem;
background-size: 100%;
margin-top: -0.004rem;
background-image: url("/assets/home/gongzc/img/shili.jpg")
  }
  .sixpic{
height:2.24rem;
background-color:#121214;
margin-top: -0.008rem;
  }
  .sixpic >p{
height:0.132rem;
font-size:0.128rem;
font-family:MicrosoftYaHei;
font-weight:400;
color:#FED6A6;
text-align: center;
  }
  .sixlis{
    margin-top: 0.234rem;
  }
  .sixlis li{
  width: 0.537rem;
  height: 0.729rem;
  display: inline-block;
  }
 .sixlis li>img{
   width: 100%;
 }
.sixlis li>p{
  height:0.11rem;
  font-size: 0.11rem;;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color:rgba(230,129,70,1);
  text-align: center;
  padding-top: 0.04rem;
 }
 .pictop{
   margin-left: 0.362rem;
 }
 .picbottom{
   margin: 0.166rem 0 0 0.362rem;
 }
 .Mb{
    width: 100%;
    height: 28rem;
    z-index: 10;
    background-color:rgba(0,0,0,0.5);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
 }
 .closebtn{
  width:2.156rem;
  height:1.28rem;
  background:white;
  border-radius:0.051rem;
  position: fixed;
  top: 1.3rem;
  left:0.5rem;
 }
 .ok{
   background-image: url("/assets/home/gongzc/img/fine.jpg");
   background-size: 100%;
   width: 0.341rem;
   height: 0.341rem;
   display: inline-block;
   margin: 0.2rem 0 0 0.9rem;
 }
 .closebtn p{
  font-family:MicrosoftYaHei-Bold;
  font-weight:bold;
  color:#E68146;
  text-align: center;
 }
.closebtn >p:nth-of-type(1){
  height:0.2005rem;
  font-size:0.204rem;
  margin-top: 0.17rem;
}
.closebtn >p:nth-of-type(2){
height:0.1024rem;
font-size:0.1024rem;
margin-top: 0.085rem;
}
.line{
width: 0.008rem;
height:0.712rem;
border:0.008rem solid rgba(255,255,255,1);
background-color: #ffffff;
margin: 0 0 0.7rem 1.07rem;
list-style: none;
}
.chahaobtn{
  background-image: url("/assets/home/gongzc/img/close.jpg");
  background-size: 100%;
  width: 0.273rem;
  height: 0.273rem;
  margin: -0.7rem auto;
}
.one-box01,.one-box02{
  position: absolute;
  top: 0.521rem;
  left: 0.1rem;
}
.zooms{
  position: absolute;
  top:0.521rem;
  left: 0.1rem;
}
.zooms1{
  position: absolute;
  top:0.521rem;
  left: 0.1rem;
}
.shops{
  position: absolute;
  top:0.521rem;
  left: 0.1rem;
}
.shops1{
  position: absolute;
  top:0.521rem;
  left: 0.1rem;
}