.log{
    margin: 10px;
    background: #fff;
    overflow: hidden;
}
/*左边*/
.log-left{
    height: 88vh;
    overflow-y: auto;
    padding: 0;
}
.log-left .l-header{
    width:100%;
    background:  url(//staticqn.qizuang.com/custom/20201229/FhkyQUiizy2nuUyzFAS2oCgHLswM) center;
    background-size: 100% 100%;
    color:#fff;
    padding: 20px;
    box-sizing: border-box;
}
.log-left .l-header .time{
    font-size:8px;
    color: #86A6C7;
}
.log-left .l-header .name{
    font-size:20px;
    line-height:30px;
    margin-bottom: 20px;
}
.log-left .l-header .name span{
    font-size: 12px;
}
.l-nums{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 30px;
}
.l-nums span{
    font-size:24px;
    font-weight: bold;
}
.log-left .l-content{
    line-height: 40px;
    padding: 20px;
    box-sizing: border-box;
}
.log-left .l-content .item{
    overflow: hidden;
}
.log-left .l-content .item .left{
    float: left;
    width: 120px;
}
.log-left .l-content .item .right{
    float: left
}
.log-left .l-content .item .contacts{
    width: 140px;
    height: 40px;
    overflow: hidden;
    float: left;
}
.log-left .l-content .item .set{
    color: #CCCCCC;
}
.log-left .l-content  .files {
    color: #333;
    font-weight: bold;
    font-size: 16px;
}
/* 让pre里的内容换行 */
.log-left .l-content .ts-card pre {
    white-space:pre-wrap; /* css3.0 */ 
    white-space:-moz-pre-wrap; /* Firefox */ 
    white-space:-pre-wrap; /* Opera 4-6 */ 
    white-space:-o-pre-wrap; /* Opera 7 */ 
    word-wrap:break-word; /* Internet Explorer 5.5+ */ 
}
.ts-card{
    border-radius: 4px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    transition: .3s;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    padding: 20px;
    box-sizing: border-box;
}

.ts-card pre {
    border: 0;
    margin: 0;
    padding: 0;
    background: inherit;
    line-height: 1.75;
    font-size: inherit;
}

/*右边*/
.log-right .header{
    font-size: 16px;
    padding: 20px;
    line-height: 40px;
}
.log-right .header p{
    font-size: 12px;
    color: #999999;
}
.log-right .flex_float {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-tabs {
    border-bottom: none;
}
/* 历史记录录音弹窗 */
.log .music_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
}
.log .sound_record {
    width: 50%;
    height: 60%;
    margin: 10% auto;
    background-color: #fff;
    padding: 0 20px;
}
.log .sound_tit {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px dashed #999;
    margin-bottom: 20px;
}
.sour_audio {
    height: auto;
}
.showhide {
    display: none;
}
.disnone {
    display: none;
}
.log .bgc_head{
    background-color: #eee;
}
.log .pad_ser {
    padding-top: 15px;
}
.log .bods {
    border-bottom: 1px solid #eee;
}

.log .tab-pane table {
    border: 1px solid #eee;
}

#voliceModal .modal-dialog {
    width: 1000px;
    max-width: 100%;
}

.volice_box {
    border: 1px solid #eee;
}

.volice_box .volice_thead {
    background-color: #eee;
}

.volice_box .volice_tr .volice_item {
    line-height: 40px;
}

.volice_box .volice_tr .volice_audio audio {
    outline : none;
    height: 40px;
}

/*解决录音下载按钮位置偏移问题*/
.modal#voliceModal .modal-dialog {
    -webkit-transform: none!important;
      -ms-transform: none!important;
       -o-transform: none!important;
          transform: none!important;
}
