<extend name="Main:baseTemplate"/>
<block name="style">
    <link rel="stylesheet" type="text/css"
          href="/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}"/>
    <link href="/assets/common/js/plugins/datetimepicker/datepicker.css?v={:C('STATIC_VERSION')}"
          rel="stylesheet"/>
    <link rel="stylesheet"
          href="/assets/common/js/plugins/select2/select2.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet"
          href="/assets/common/js/plugins/bootstrap-dialog/bootstrap-dialog.min.css?v={:C('STATIC_VERSION')}">
    <link rel="stylesheet" href="/assets/home/orderreview/css/index.css?v={:C('STATIC_VERSION')}">
</block>
<block name="content">
    <section class="content-header">
        <h1>客服订单回访</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li><a href="/orderreview/">客服订单回访</a></li>
        </ol>
    </section>
    <section class="content-table">
        <div class="content-table-sub">
            <a href="/orderreview/index" class="sub-tab-active">回访列表</a>
            <a href="/orderreview/search" class="content-table-second">订单查询</a>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="col-xs-12">
                                    <div class="col-xs-2 reset-padding">
                                        <div>订单查询：</div>
                                        <input type="text" name="search" class="form-control clear-target" placeholder="订单号、手机号" value="{$params.search}">
                                    </div>
                                    <div class="col-xs-2">
                                        <div>开始时间：</div>
                                        <input type="text" name="start" class="form-control datepicker" placeholder="选择日期" autocomplete="off" value="{$params.start}">
                                    </div>
                                    <div class="col-xs-2">
                                        <div>结束时间：</div>
                                        <input type="text" name="end" class="form-control datepicker" autocomplete="off" placeholder="选择日期" value="{$params.end}">
                                    </div>
                                    <div class="col-xs-2">
                                        <div>回访订单状态：</div>
                                        <select name="type" class="form-control" type="text">
                                            <option value="">全部</option>
                                            <volist name="review_types" id="review_type">
                                            <option value="{$key}" {$params['type']==$key?'selected':''}>{$review_type}</option>
                                            </volist>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <div>订单备注：</div>
                                        <select name="remark" class="form-control">
                                            <option value="">全部</option>
                                            <volist name="review_remarks" id="review_remark">
                                            <option value="{$key}" {$params['remark']==$key?'selected':''}>{$review_remark}</option>
                                            </volist>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <div>城市：</div>
                                        <select id="city" name="cs" class="form-control">
                                            <option value="">全部</option>
                                            <volist name="cities" id="c">
                                            <option value="{$c['cid']}" {$params['cs']==$c['cid']?'selected':''}>{$c.first_abc} {$c.cname}</option>
                                            </volist>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <div>回访归属人：</div>
                                        <select id="kf" name="kf" class="form-control">
                                            <option value="">请选择</option>
                                            <volist name="kflist" id="c">
                                            <option value="{$c['id']}" {$params['kf']==$c['id']?'selected':''}>{$c.first_abc} {$c.name}</option>
                                            </volist>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <div>显号：</div>
                                        <select name="applytel" class="form-control">
                                            <option value="">全部</option>
                                            <option value="2" {$params['applytel']==2?'selected':''}>待审核</option>
                                            <option value="3" {$params['applytel']==3?'selected':''}>已审核通过</option>
                                            <option value="4" {$params['applytel']==4?'selected':''}>已拒绝</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2 reset-padding">
                                        <div>装修公司：</div>
                                        <input type="text" name="company" class="form-control clear-target" placeholder="请输入装修公司ID或简称" value="{$params.company}">
                                    </div>
                                    <div class="col-xs-1">
                                        <button type="submit" id="search" class="btn btn-success col-xs-12">查询
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">回访列表</h3>
                        <div class="sub-title">
                            <ul class="ol-tab-wrap">
                                <volist name="review_types" id="review_type" key="review_type_key">
                                <li class="ol-tab {$params['type']==$review_type_key?'ol-tab-active':''}" data-tab='{$review_type_key}'>{$review_type}</li>
                                </volist>
                                <li class="ol-tab {$params['type']==0?'ol-tab-active':''}" data-tab='0'>订单总览</li>
                            </ul>
                        </div>
                        <div class="new-order-wrap">
                            <button type="button" id="btn-get" class="btn btn-success pull-right ol-obtain-order" >获取新的订单</button>
                            <button id="btn-refresh" type="button" class="btn btn-success ol-new-order-reset">刷新</button>
                            <div class="ol-neworder-wrap">
                                <ul class="ol-neworder-info">
                                    <a href="/orderreview/index?new_order=1">
                                        <li>当前新订单总数</li>
                                        <li id="new-review-count">{$order_count.new_count|default=0}</li>
                                    </a>
                                </ul>
                                <ul class="ol-neworder-info">
                                    <a href="/orderreview/index?no_call_order=1">
                                        <li>当前已抢未拨打新单</li>
                                        <li id="new-no-call-count">{$order_count.no_call_count|default=0}</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body ">
                        <table class="table table-hover table-bordered" id="tablelist">
                            <thead>
                            <tr>
                                <th>入池时间</th>
                                <th>订单备注</th>
                                <th>订单类型</th>
                                <th>城市区县</th>
                                <th>手机号码</th>
                                <th>回访订单状态</th>
                                <th>入池前量房状态</th>
                                <th>反馈人</th>
                                <th>回访归属人</th>
                                <th>回访人</th>
                                <th class="width-210">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="ret.list" id="item">
                                <if condition="$item.is_color eq 1">
                                    <tr class="you_need">
                                        <else/>
                                    <tr>
                                </if>
                                <td class="order-time">{$item.toreview_at}</td>
                                <td class="order-remark-table">
	                                <if condition="$item.review_remark gt 0">
                                        <p class="order-status order-teble-item">{$item.review_remark_name}</p>
                                        <p class="order-time-remark order-teble-item">{$item.review_remark_time}</p>
	                                </if>
                                </td>
                                <td>{$item.state_name}</td>
                                <td>{$item.city}{$item.area}</td>
                                <td>
                                    <p class="order-teble-item">
                                        {$item.tel}
                                        <if condition="$show_apply_tel && !empty($item['apply_tel_status'])">
                                        <if condition="in_array(1, explode(',', $item['apply_tel_status']))">
                                            <a class="apply_tel" href="javascript:void(0)" data-id="{$item.order_id}" >
                                                <span title="请审核显号" class="fa fa-eye-slash text-primary"></span>
                                            </a>
                                            <else/><a class="apply_tel" href="javascript:void(0)" data-id="{$item.order_id}" ><span title="已处理显号审核" class="fa fa-eye text-gray"></span></a>
                                        </if>
                                        </if>
                                    </p>
                                </td>
                                <td class="review-order-status color-diff-{$item.review_type} color-green">
                                    {$item.review_type_name}
	                                <if condition="$item.review_type eq 3">
		                                <p class="order-teble-item color-red">{$item.wait_order_time}</p>
	                                </if>
                                </td>
                                <td>{$item.lf_state_name}</td>
                                <td>{$item.feedbacker|default='-'}</td>
                                <td>{$item.vest_in_name|default=''}</td>
                                <td>{$item.review_name}</td>
                                <td class="operater-table">
                                    <span class="operater-edit" data-id="{$item.order_id}">编辑</span>
                                    <span class="operater-record" data-id="{$item.order_id}">呼叫记录（{$item.tel_log_count|default=0}）</span>
                                </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12">
                        {$ret.page}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--公用记录模态框-->
    <div class="modal fade common-model in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title">记录列表</h4>
                </div>
                <div class="modal-body common-model-content">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--编辑订单模态框-->
    <div class="modal fade my-dialog in" id="operate" tabindex="-1" style="display: none;" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="false" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-gray">
                    <em class="close" aria-hidden="true" style="font-style: normal;">×
                    </em>
                    <span> </span>
                </div>
                <div class="modal-body modal-edit-box">
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog" >
        <div class="modal-dialog modal-lg" role="document" style="width: 1200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">历史回访记录</h4>
                </div>
                <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="100">回访时间</th>
                            <th width="150">要求回访的装修公司</th>
                            <th  width="80">回访阶段</th>
                            <th width="210">需要回访内容</th>
                            <th width="210">装企反馈情况</th>
                            <th  width="80">回访状态</th>
                            <th >回访反馈</th>
                            <th  width="150">同步装修公司</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</block>
<block name="script">
    <script src="/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/datetimepicker/bootstrap-datepicker.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/select2/select2.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/bootstrap-dialog/bootstrap-dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/zeroclipboard/ZeroClipboard.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/plugins/layer/layer.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/home/orderreview/js/index.js?v={:C('STATIC_VERSION')}"></script>
</block>
