html {
    -webkit-text-size-adjust: none
}
html{font-size: 100px;}/*iphone 4/5*/
body{font-size: 0.126rem /*实际相当于14px*/}
/*Galaxy S5*/
@media (min-device-width : 360px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 112.5px;}
}
/*iphone 6*/
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 117.1875px;}
}
@media (min-device-width : 411px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 129.06px;}
}
/*iphone6 plus*/
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 129.375px;}
}
/*Nexus 5X Nexus 6P*/
@media (min-device-width : 412px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 128.75px;}
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a9a9a9;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a9a9a9;
}

input:-ms-input-placeholder{
    color: #a9a9a9;
}

input::-webkit-input-placeholder{
    color: #a9a9a9;
}
img{
    width: 100%;
}

.activity-box .activity-content{
    background: #C61F2D;
}
/*发单样式*/
.activity-box .activity-fadan{
    width: 3.098rem;
    height: 3.405rem;
    margin: 0 auto;
    background: url(/assets/mobile/zt/images/bg_11.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -0.102rem;
    padding: 1.318rem 0.205rem 0;
}
.activity-fadan ul li{
    display: block;
    height: 0.384rem;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 0.192rem;
    position: relative;
}
.activity-fadan ul li:nth-child(2){
    margin-bottom: 0.15rem;
}
.activity-fadan ul li button,.activity-fadan ul li input{
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    border: none;
    outline: none;
    padding-left: 0.128rem;
    padding-right: 0.128rem;
    font-size: 0.128rem;
    text-align: left;
    display: block;
    border-radius: 3px;
}
#new-shenming,#new-shenming2,#new-shenming3 {
    text-align: left;
    border:none;
    font-size: 0.1rem;
    height: 20px;
    box-sizing: border-box;
    margin-bottom: 0.06rem;
}
#new-shenming3{
    margin-top:5px;
}
#new-shenming a,#new-shenming2 a,#new-shenming3 a {
    color: #fff;
    border-bottom: 1px solid #fff;
    display: inline-block;
    margin-left: -2px;
    line-height: 13px;
    width: 5em;
    height: 14px;
}
#new-shenming a span,#new-shenming2 a span,#new-shenming3 a span {
    width: 6em;
    text-indent: -0.5em;
    color: #fff;
}
#new-shenming span {
    display: inline-block;
    color: #f7f7f7;
}
#new-shenming2 span,#new-shenming3 span {
    display: inline-block;
    color: #ccc;
}
#new-mianze,#new-mianze2,#new-mianze3 {
    display: none;
}
#new-mianze + label,#new-mianze2 + label,#new-mianze3 + label {
    width: 13px;
    height:13px;
    background: none;
    border:1px solid #E6E6E6;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 13px;
    box-sizing: border-box;
    font-size: 10px;
    position: relative;
    top: -2px;
    color:#fff;
}
#new-mianze:checked + label,#new-mianze2:checked + label,#new-mianze3:checked + label {
    color:#fff;
}
.activity-fadan .lingqu{
    width: 100%;
    height: 0.41rem;
    line-height: 0.36rem;
    margin-bottom: 0.07rem;
}
.activity-fadan .lingqu button{
    display: block;
    width: 100%;
    height: 100%;
    background: url("/assets/mobile/zt/images/xlingqu.png") no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: none;
    font-size: 0.179rem;
    font-weight: 500;
    color: #D21E12;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    padding-bottom: 0.04rem;
}
.activity-fadan .rule{
    text-align: center;
    cursor: pointer;
}
.activity-fadan .rule span{
    padding-bottom: 5px;
    border-bottom: 1px solid #FFEABB;
    color: #FFEABB;
}
.activity-box .line1{
    width: 92%;
    height: 1px;
    background:rgba(146, 23, 34, 0.8);
    margin: 0 auto;
}
.activity-box .line2{
    width: 92%;
    height: 1px;
    background: #DD2131;
    margin: 0 auto 0.213rem;
}
.activity-content .xydzp .dzp-tit{
    width: 62%;
    margin: 0 auto;
}
.activity-content .xydzp .dzp-nums{
    width: 90%;
    height: 0.410rem;
    line-height: 0.38rem;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    font-size: 0.137rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #C61F2D;
}
.activity-content .xydzp .dzp{
    width: 2.953rem;
    height: 2.953rem;
    position: relative;
    margin: 0 auto 0.145rem;
}
.activity-content .xydzp .dzp #dzp-box{
    display: block;
    position: absolute;
    top: 0px;
}
.activity-content .xydzp .dzp .dzp-btn{
    display: block;
    background: url("/assets/mobile/zt/images/dzp-btn.png") no-repeat;
    background-size: 100% 100%;
    width: 0.738rem;
    height: 0.806rem;
    text-align: center;
    font-size: 0.115rem;
    padding-top: 0.275rem;
    color: #D83E4A;
    font-weight: 800;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 9;
}
.activity-content .xydzp .dzp .to-rule{
    position: absolute;
    right: 0.119rem;
    top:0;
    color: #FFE3B1;
}
.activity-content .xydzp .dzp .to-rule img{
    width: 0.107rem;
    height: 0.107rem;
    position: absolute;
    right: -0.119rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.activity-box .xydzp .zdp-notice{
    font-size: 0.102rem;
    color: #CD9037;
    text-align: center;
    margin-bottom: 0.324rem;
}
.activity-content .jxzq{
    position: relative;
}
.activity-content .jxzq .jxzq-tit{
    width: 68%;
    margin: 0 auto 0.363rem ;
}
.activity-content .jxzq .activity-city{
    width: 0.64rem;
    height: 1.024rem;
    position: absolute;
    right: 4%;
    top: 0.265rem;
    z-index: 8;
}
.activity-content .jxzq .activity-city p{
    /*width: 100%;*/
    /*height: 0.192rem;*/
    /*line-height: 0.192rem;*/
    padding: 5px 10px;
    border-radius: 0.098rem;
    background: #FFE3B1;
    font-size: 0.102rem;
    color: #B2162C;
    position: relative;
    padding-left: 0.064rem;
    z-index: 9;
}
.activity-content .jxzq .activity-city p img{
    width: 0.107rem;
    height: 0.107rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.038rem;
    margin: auto;
}
.activity-content .jxzq .activity-city ul{
    width: 100%;
    height: 0.926rem;
    background: #fff;
    border-radius: 0 0 0.102rem 0.102rem;
    position: relative;
    top: -0.094rem;
    box-shadow:0px 1px 20px 0px rgba(4,0,0,0.3);
    padding-top: 0.18rem;
    overflow: hidden;
}
.activity-content .jxzq .activity-city ul.show{
    display: none;
}
.activity-content .jxzq .activity-city ul li{
    display: block;
    height: 0.235rem;
    line-height: 0.235rem;
    font-size: 0.128rem;
    color: #333;
    text-align: center;
}
.activity-content .jxzq .activity-city p.center{
    padding-left: 0.2rem;
}
.activity-content .jxzq .jxzq-box{
    width: 92%;
    margin: 0 auto 0.35rem;
    border-radius: 0.128rem;
    padding: 0.128rem 0.107rem 0.192rem;
    background: #fff;
    overflow: scroll;
}
.activity-content .jxzq .jxzq-box .jxzq-height{
    max-height: 4.8rem;
    overflow-y: auto;
    margin-bottom: 0.128rem;
}
.jxzq .jxzq-box .jxzq-list{
    width: 100%;
    height: 0.683rem;
    position: relative;
    padding-left: 0.939rem;
    overflow: hidden;
    margin-bottom: 0.282rem;
}
.jxzq .jxzq-box .jxzq-list:last-child{
    margin-bottom: 0.05rem;
}
.jxzq .jxzq-box .jxzq-list div{
    display: block;
    width: 0.853rem;
    height: 0.683rem;
    position: absolute;
    top: 0;
    left: 0;
}
.jxzq .jxzq-box .jxzq-list div img{
    height: 100%;
    border-radius: 0.043rem;
}
.jxzq-box .jxzq-list .company-name{
    font-size: 0.128rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.195rem;
}
.jxzq-box .jxzq-list .yuyue{
    width: 0.597rem;
    height: 0.196rem;
    line-height: 0.196rem;
    text-align: center;
    border-radius: 0.098rem;
    color: #B2162C;
    font-size: 0.102rem;
    border: none;
    outline: none;
    background: linear-gradient(0deg,rgba(255,183,83,1),rgba(254,230,165,1));
    position: absolute;
    right: 0;
    top: 0.16rem;
}
.jxzq-box .jxzq-list .jzxq-details{
    height: 0.119rem;
    line-height: 0.119rem;
    margin-bottom: 0.043rem;
}
.jxzq-list span{
    display: inline-block;
    color: #666;
    font-size: 0.085rem;
}
.jxzq-list span:first-child{
    padding: 0 1px;
    border-radius: 3px;
    position: relative;
    top:-3px;
}
.jxzq-list span.cu{
    color: #644FFF;
    border: 1px solid #644FFF;
}
.jxzq-list span.li{
    color: #FE4D35;
    border: 1px solid #FE4D35;
}
.jxzq-list span:nth-child(2){
    width: 85%;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.jxzq-box .more-company{
    display: block;
    width: 2.641rem;
    height: 0.35rem;
    border: 1px solid #F2B45F;
    color: #F2B45F;
    text-align: center;
    line-height: 0.35rem;
    font-size: 0.154rem;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 0.175rem;;
}
.jxzq-box .more-company img{
    width: 0.107rem;
    height: 0.107rem;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0.546rem;
    margin: auto;
}
.choose-qzw .choose-tit{
    width: 77%;
    margin: 0 auto 0.213rem;
}
.choose-qzw .choose-content{
    width: 92%;
    margin: 0 auto 0.35rem;
    border-radius: 0.128rem;
    padding: 0.299rem 0.132rem;
    background: #fff;
}
.choose-qzw .choose-contents{
    width: 92%;
    margin: 0 auto 0.35rem;
    border-radius: 0.128rem;
    background: #fff;
}
.choose-qzw .choose-nei{
    width: 92%;
    margin: 0 auto 0.35rem;
    border-radius: 0.128rem;
    background: #fff;
    font-size: 0.102rem;
    font-weight: 500;
    color: #C61F2D;
    line-height:0.200rem;
    padding: 0.213rem 0.188rem;
}

.choose-qzw .choose-xcontent{
    width: 92%;
    margin: 0 auto 0.35rem;
    border-radius: 0.128rem;
}
/*发单领取成功弹窗*/
.success-dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    background: rgba(0,0,0,0.6);
    z-index: 99;
}
.lqsuccess-dialog{
    display: none;
}
.success-dialog .close-btn{
    display: block;
    width: 0.256rem;
    height: 0.256rem;
    position: absolute;
    right: 0;
    top: -0.384rem;
    cursor: pointer;
}
.lqsuccess-dialog .lqsuccess-box{
    width: 2.688rem;
    height: 1.152rem;
    background: #fff;
    border-radius: 0.043rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.success-dialog .success-top{
    height: 0.461rem;
    background: url("/assets/mobile/zt/images/success-top.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 0.461rem;
    font-size: 0.179rem;
    color: #fff;
    font-weight: bold;
}
.lqsuccess-box .lqsuccess-content{
    width: 0.998rem;
    height: 0.956rem;
    margin: 0.213rem auto 0.128rem;
}
.lqsuccess-box p{
    font-size: 0.102rem;
    color: #666;
    text-align: center;
    margin-bottom: 0.06rem;
}
.fadan-btn{
    width: 2.432rem;
    height: 0.341rem;
    margin: 0 auto;
    line-height: 0.341rem;
    text-align: center;
    font-size: 0.128rem;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    background: #F2203E;
}
/*使用规则弹窗*/
.rule-dialog{
    display: none;
}
.rule-dialog .rule-box{
    width: 2.688rem;
    height: 2.193rem;
    background: #fff;
    border-radius: 0.043rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.rule-dialog .rule-content{
    padding: 0.192rem;
}
.rule-dialog .rule-content p{
    font-size: 0.102rem;
    color: #666;
    margin-bottom: 0.05rem;
}
/*预约到店弹窗*/
.yuyue-dialog{
    display: none;
}
.yuyue-dialog .yuyue-box{
    width: 2.688rem;
    height: 2.291rem;
    background: #fff;
    border-radius: 0.043rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.yuyue-dialog .yuyue-content{
    padding: 0.171rem 0.128rem;
}
.yuyue-dialog .yuyue-content ul li{
    display: block;
    height: 0.341rem;
    margin-bottom: 0.128rem;
    border-radius: 3px;
}
.yuyue-dialog .yuyue-content ul li button,.yuyue-dialog .yuyue-content ul li input{
    display: block;
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    border: none;
    outline: none;
    text-align: left;
    padding-left: 0.1rem;
}
.yuyue-box .yuyue-success-content{
    display: none;
}
.yuyue-box .yuyue-success-content .gift-img{
    width: 0.631rem;
    height: 0.73rem;
    margin: 0.08rem auto;
}
.yuyue-box .yuyue-success-content p{
    font-size: 0.119rem;
    color: #666;
    text-align: center;
}
.yuyue-box .yuyue-success-content p:first-child{
    margin-top: 0.1rem;
}
.yuyue-box .yuyue-success-content p.more{
    font-size: 0.107rem;
    color: #999;
    margin-bottom: 0.06rem;
}
/*转盘抽奖弹窗*/
.dzp-dialog{
    display: none;
}
.dzp-dialog .dzp-box{
    width: 2.688rem;
    height: 1.152rem;
    background: #fff;
    border-radius: 0.043rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.dzp-dialog .dzp-box .cjms{
    font-size: 0.137rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.640rem;
    text-align: center;
}
.dzp-dialog .dzp-box .cjmore{
    width: 2.005rem;
    height: 0.341rem;
    background: #FF5353;
    border-radius: 0.171rem;
    margin: 0 auto;
    font-size: 0.128rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height:0.341rem;
    text-align: center;

}

.lqsuccess-dialog .lqsuccess-box .xcjms{
    font-size: 0.137rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.640rem;
    text-align: center;
}
.lqsuccess-dialog .lqsuccess-box .xcjmore{
    width: 2.005rem;
    height: 0.341rem;
    background: #FF5353;
    border-radius: 0.171rem;
    margin: 0 auto;
    font-size: 0.128rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height:0.341rem;
    text-align: center;

}


.no-dialog{
    display: none;
}
.no-dialog .no-box{
    width: 2.688rem;
    height: 1.152rem;
    background: #fff;
    border-radius: 0.043rem;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.no-dialog .no-box .nocjms{
    font-size: 0.137rem;
    font-weight: bold;
    color: #333333;
    line-height: 0.640rem;
    text-align: center;
}
.no-dialog .no-box .nocjmore{
    width: 2.005rem;
    height: 0.341rem;
    background: #FF5353;
    border-radius: 0.171rem;
    margin: 0 auto;
    font-size: 0.128rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height:0.341rem;
    text-align: center;

}

.dzp-dialog .dzp-box .dzp-content .dzp-tips{
    font-size: 0.102rem;
    color: #999;
    text-align: center;
    margin: 0.1rem 0;
}
.dzp-content .dzp-before,.dzp-content .dzp-success,.dzp-content .dzp-unsuccess{
    padding: 0 0.128rem;
}
.dzp-content .dzp-success,.dzp-content .dzp-unsuccess{
    display: none;
}
.dzp-content .dzp-before ul li{
    display: block;
    height: 0.341rem;
    margin-bottom: 0.128rem;
    overflow: hidden;
}
.dzp-content .dzp-before ul li input{
    display: block;
    width: 100%;
    height: 100%;
    background: #F7F7F7;
    padding-left: 0.085rem;
    font-size: 0.119rem;
}
.dzp-content .dzp-before ul li input.dzp-yzm{
    width: 1.365rem;
    float: left;
}
.dzp-content .dzp-before ul li button{
    width: 0.981rem;
    height: 100%;
    float: right;
    border: none;
    outline: none;
    background: #F2203E;
    border-radius: 3px;
    font-size: 0.119rem;
    color: #fff;
}
.dzp-dialog .dzp-box .dzp-success .dzp-success-img{
    height: 1.28rem;
    position: relative;
}
.dzp-dialog .dzp-box .dzp-success .dzp-success-img img{
    width: 45%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.dzp-dialog .dzp-box .dzp-unsuccess .dzp-unsuccess-img{
    width: 0.725rem;
    height: 0.687rem;
    margin: 0.384rem auto 0.256rem;
}

/*底部公共*/
footer{
    text-align:center;
    width:100%;
    background:#333;
    color: #999;
    padding: 0.205rem 0;
    font-size: 0.102rem;
}
footer .footer-tel{
    font-size: 0.128rem;
    color: #fff;
}
footer .footer-tel a{
    color: #fff;
}
footer .footer-tel .phone-box img{
    width: 0.119rem;
    height: 0.128rem;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
footer .footer-title{
    margin: 0.124rem 0 0.19rem;
}
footer .footer-app-download{
    text-align: center;
    margin-bottom: 0.06rem;
}
footer .footer-app-download > p{
    width: 1.349rem;
    height: 0.273rem;
    margin: 0 auto;
    background: #DB2C2C;
    color: #fff;
    line-height: 0.273rem;
    padding-left: 0.23rem;
    border-radius: 0.137rem;
    position: relative;
}
.footer-app-download p img{
    width: 0.188rem;
    height: 0.188rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0.107rem;
    margin: auto;
}
footer .footer-webadress{
    font-size: 0.077rem;
    line-height: 0.3rem;
}
.foot-discliamer{
    font-size: 10px;
    color: #999;
    line-height: 0.3rem
}


.activity-rule{
    background: #B2162C;
    padding: .128rem .128rem .307rem;
}

.activity-rule-main{
    background-color: #fff;
    border-radius: .128rem;
    -webkit-border-radius: .128rem;
    -moz-border-radius: .128rem;
    -ms-border-radius: .128rem;
    -o-border-radius: .128rem;
    padding: 0 .085rem .427rem;

}
.activity-rule-text{
    margin-bottom: .1rem;
}
.activity-rule-text h5{
    color: #333;
    font-size: .128rem;
    line-height: .3rem;
}
.activity-rule-text p{
    color: #666;
    font-size: .102rem;
    line-height: 1.5;
    margin-bottom: .085rem;
}
/*极验证样式优化*/
.geetest_holder.geetest_wind{
    width: 80%!important;
    min-width: 240px!important;
}
/*底部样式兼容*/
footer .footer-app-download > p{
    width: 1.6rem!important;
}
footer .footer-tel .phone-box img{
    bottom: -1px!important;
}

.fa-map-marker{
    display:none!important;
}
.new-fadan .glide{
    display: inline-block;
    width: 0.094rem;
    height: 0.068rem;
    background: url("/assets/mobile/zt/images/slign.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.162rem;
    right: 0.128rem;
}
.to-jintie{
    width: 100%;
    height: 0.418rem;
    line-height: 0.418rem;
    text-align: center;
    font-size: 0.154rem;
    font-weight: bold;
    color: #C61F2D;
    background: url("/assets/mobile/zt/images/ljcj.png") no-repeat;
    background-size: 100% 100%;
}
.xcjmore{
    cursor: pointer;
}
.cjmore{
    cursor: pointer;
}
.nocjmore{
    cursor: pointer;
}