*{
    margin:0;
    padding:0;
}
.hdzt-content{
    padding:0 0.128rem;
    width:calc(100%-0.46rem);
}
.hdzt-content .list-ul li{
    height: 0.832rem;
    position: relative;
    border-bottom: 1px #E5E5E5 solid;
}
.hdzt-list-img{
    width: 1.01rem;
    height: 0.585rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    margin:auto;
    border:1px #E5E5E5 solid;
}
.hdzt-list-img img{
    width:100%;
}
.hdzt-list-content{
    margin-left: 1.13rem;
}
.hdzt-content div p.hdzt-gift{
    font-size:13px;
    font-weight:500;
    color:#333333;
    margin-bottom: 0.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hdzt-content div p.hdzt-tit{
    font-size:0.128rem;
    font-weight:bold;
    padding: 0.13rem 0 0.07rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hdzt-content div .hdzt-list-quyu{
    display: inline-block;
    padding:0 0.06rem;
    height: 0.158rem;
    background: #FFD8D4;
    border-radius: 2px;
    color: #FF4141;
    font-size: 11px;
    line-height:0.158rem;
}
.join-btn{
    display: block;
    width: 0.56rem;
    height: 0.202rem;
    line-height: 0.202rem;;
    background: #FF4141;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0.08rem;
    text-align: center;
}
/*新增*/
.m-img-box-a{
    position: relative;
}
.m-img-box-a .m-dingw{
    width:0.64rem;
    height:0.25rem;
    background:rgba(0,0,0,0.5);
    border-radius:0.125rem;
    position: absolute;
    right: 0.15rem;
    bottom: 0.06rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.12rem;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.m-dingw .d-icon {
    width: 0.11rem;
    height: 0.15rem;
    background: url("../images/dingw.png") no-repeat center;
    background-size: 100% 100%;
    margin-right: 0.07rem;
}
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(4, 4, 4, 0.5);
    display: none;
    z-index: 99;
}
.order-box{
    width: 80%;
    max-width: 4.6rem;
    margin:1.5rem auto 0px auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 10px #dedede;
    padding: 0.2rem 0.1rem;
    padding-top: 0.10rem;
    position: fixed;
    top: 0.02rem;
    left: 0;
    right: 0;
    display: none;
    z-index: 100
}
.order-box .m-bj-edit li{
    margin-bottom:18px;
}
.order-head-title{
    text-align: center;
    border-bottom:1px solid #313131;
    height: 18px;
    width:56%;
    margin:0px auto;
    line-height: 35px;
}
.order-head-title span{
    background:#fff;
    padding:10px 15px;
    font-weight: bold;
    font-size: 0.16rem;
}
.border-body{
    margin-top:0.2rem;
}
.m-b-btn{
    background: #FF5353;
    border-radius: 5px;
    text-align: center;
    margin:0px
}

.m-bj-edit li input,.m-bj-edit li button{
    height: 46px;
    width: 100%;
    font-size: 0.13rem;
    padding-left: 5px;
    border: none;
    outline: none;
    color: rgb(51,51,51);
    background:#F7F7F7;
    border-radius: 5px;
}
#showCityPicker2 i{
    padding-right:5px;
}
.result-box{
    position: fixed;
    margin: auto;
    left:0px;
    right: 0px;
    top:30px;
    bottom: 0px;
    width: 88%;
    height: 2.72rem;
    z-index: 999;
    background:white;
    border-radius: 5px;
    display: none;
    text-align:center;
}
.result-box .header{
    color:#fff;
    font-size: 0.18rem;
    letter-spacing: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:0.18rem 0px;
    background: -moz-linear-gradient(top, #FF735C 0%, #F12437 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF735C), color-stop(100%,#F12437));
    background: -webkit-linear-gradient(top, #FF735C 0%,#F12437 100%);
    background: -o-linear-gradient(top, #FF735C 0%,#F12437 100%);
    background: -ms-linear-gradient(top, #FF735C 0%,#F12437 0 100%);
    background: linear-gradient(to bottom, #FF735C 0%,#F12437 100%);
}
.neck-line{border:1px solid #F12437; margin-top:3px;}
.xq-title{
    font-size: 0.13rem;
    padding:0.1rem 0px;
}
.xq-title span{color:#FF9E13}
.xq-text{color:#999;line-height:0.18rem; font-size: 0.10rem}
.result-box .close{
    position: absolute;
    right:0px;
    top:-0.4rem;
    z-index: 9999;
    width:25px;
    height:25px;
    background:url("../images/close.png") center center;
    background-size: 100%
}
/* 分页 */
#jump-num-box{position: absolute;height:20em; background: white;width:100%;z-index:99;overflow: auto;bottom:0!important;}
.fenye-title{font-size: 17px;border-bottom: 1px solid #ECECEC;padding:10px;}
#jump-num-box ul li{padding:10px;border-bottom:  1px solid #ECECEC;}
#jump-num-box ul li:nth-last-child(1){ border:none;}
#jump-num-box ul li span{padding:0px 5px;}
.order-box .closeOne{
    position: absolute;
    right:0px;
    top:-0.4rem;
    z-index: 9999;
    width:25px;
    height:25px;
    background:url("../images/close.png") center center;
    background-size: 100%
}