/*隐藏客服挂件*/
.kefu_right{
    display: none;
}
*{
    margin:0;
    padding:0;
}
img{
    width:100%;
    vertical-align: middle;
}
.bao-content{
    background: #fff;
}
.bao-content .bao-tit{
    font-size: 32px;
    color:#333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 22px;
    padding-top: 72px;
}
.bao-content .bao-line{
    width:40px;
    height:3px;
    background: #FA9227;
    margin:0 auto;
    margin-bottom: 50px;
}
.bao-content .bao-des{
    font-size: 16px;
    color:#666;
    text-indent:32px;
    line-height: 30px;
    margin-bottom: 55px;
}
.tixi{
    margin-bottom: 70px;
}
.bao-content .apply-btn{
    width:260px;
    height:60px;
    margin:0 auto;
    cursor: pointer;
    margin-bottom: 80px;
}
.bao-baozhang{
    background: #F6F7FB;
    padding-bottom: 74px;
}
.bao-weiquan{
    width:100%;
    height: 588px;
    position: relative;
}
.bao-weiquan .wrap{
    position: relative;
    z-index: 11;
}
.bao-weiquan .bao-tit,.bao-weiquan .bao-des{
    color: #fff;
    text-align: center;
}
.bao-weiquan .bao-tit{
    margin-bottom: 12px;
}
.bao-weiquan .bao-des{
    margin-bottom: 22px;
}
.bao-weiquan img{
    width:100%;
    position: absolute;
    top:0;
}
.bao-liucheng{
    padding-bottom: 80px;
}
.bao-xieyi{
    background:#F6F7FB;
    padding-bottom: 80px;
}
.xieyi-content{
    width:1180px;
    margin:0 auto;
    background: #fff;
    height: 560px;
    overflow-y: auto;
    padding:20px;
    margin-bottom: 60px;
    color:#999;
}
.xieyi-content p{
    font-size: 14px;
    line-height: 24px;
}
.xieyi-content p.weight{
    font-weight: bold;
    font-size: 16px;
}
.bao-xieyi .baozhangjin-btn{
    margin-bottom: 0;
}
.bao-fuwu{
    padding-bottom: 36px;
}
.bao-content .bao-fuwu .bao-tit{
    margin-bottom: 12px;
}
.bao-content .bao-fuwu .bao-des{
    text-align: center;
    margin-bottom: 30px;
}
.fuwu-list{
    overflow: hidden;
}
.fuwu-list li{
    display: inline-block;
    width:348px;
    height: 148px;
    float: left;
    margin-right: 85px;
    border: 1px solid #E4E4E4;
    position: relative;
}
.fuwu-list li:first-child+li+li{
    margin-right: 0;
}
.fuwu-list li a{
    display: inline-block;
    height: 148px;
    width: 348px;
}

.fuwu-list li img{
    width:56px;
    height: 60px;
    position: absolute;
    top:0;
    bottom: 0;
    margin:auto;
    left:86px;
}
.fuwu-list li.qwdz img{
    width:60px;
    left: 58px;
}
.fuwu-list li.xiazai_app img{
    width:92px;
    height: 92px;
    left: 45px;
}
.fuwu-right{
    margin-left: 160px;
}
li.qwdz .fuwu-right{
    margin-left: 138px;
}
li.xiazai_app .fuwu-right{
    margin-left: 152px;
}
.fuwu-right .fuwu-tit{
    font-size:24px;
    font-weight: bold;
    margin-top:35px;
}
.fuwu-right .fuwu-des{
    font-size:14px;
    color:#999;
}
/*发单弹窗*/
.dialog-baowindow{
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    display: none;
}
.dia-baobox{
    width:336px;
    height:410px;
    position: absolute;
    bottom: 0;
    top:0;
    right: 0;
    left: 0;
    margin: auto;
    background:#fff;
    border-radius:10px;
    padding:0 30px;
}
.close-dia{
    width:24px;
    height: 24px;
    position: absolute;
    right: -24px;
    top: -24px;
    cursor: pointer;
}
.dia-tit{
    color:#FA9227;
    text-align: center;
    font-size:20px;
    margin: 20px 0 10px;
}
.dia-stit{
    text-align: center;
    margin-bottom: 16px;
}
.dia-stit span.dia-line{
    display: inline-block;
    width:45px;
    height:1px;
    background:#E4E4E4;
    position: relative;
    top: -5px;
}
.dia-stit span:first-child+span{
    font-size: 16px;
    color:#333;
    margin:0 10px;
}
.dia-fadan .fadan-box{
    width:100%;
    height: 40px;
}
.dia-fadan .warn{
    height: 15px;
    visibility: visible;
    font-size: 12px;
    line-height: 15px;
    color: red;
    padding-left: 20px;
}
.fadan-box select{
    width:158px;
    height: 40px;
    padding-left: 20px;
    background: #F7F7F7;
    border-radius:20px;
    border:none;
    outline: none;
    font-size:14px;
}
.fadan-box input{
    width: 316px;
    height: 40px;
    border:none;
    outline: none;
    background: #F7F7F7;
    border-radius:20px;
    padding-left: 20px;
    font-size: 14px;
}
.fadan-box select.edit-city{
    margin-right: 16px;
}
.disclamer-line .disclamer-check i.fa-check{
    color:#FA9227;
    left: -2px;
}
.apply-free{
    width:100%;
    height:40px;
    background:#FA9227;
    border-radius:20px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 18px;
    border:none;
    outline: none;
    cursor: pointer;
}
.instruction{
    font-size: 12px;
    color:#999;
}

/*发单成功弹窗*/
.fadan-success{
    width:396px;
    height: 405px;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    background: #fff;
    border-radius:10px;
    display: none;
}
.qz-app{
    text-align: center;
    margin-bottom: 20px;
    margin-top:30px;
}
.qz-app img{
    width:120px;
    height: 120px;
}
.fadan-success p.app-tips{
    text-align: center;
    color:#999;
    font-size: 16px;
}









