*{
    margin:0;
    padding:0;
}
img{
    vertical-align: middle;
}
.hdzt-content{
    width:100%;
    margin-bottom: 30px;
}
.hdzt-banner{
    margin-bottom: 26px;
}
.hdzt-banner img{
    width:100%;
}
.hdzt-list{
    width:1140px;
    min-height:500px;
    border:1px #E5E5E5 solid;
    padding:0 34px;
}
.hdzt-act-list{
    height:60px;
    line-height: 60px;
    font-size: 20px;
    color:#333;
    font-weight: bold;
    border-bottom:1px #E5E5E5 solid;
}
.hdzt-location{
    display: inline-block;
    position: relative;
    right: 20px;
    float: right;
    font-weight: normal;
    font-size:16px;
}
.hdzt-toggle{
    cursor: pointer;
    color: red;
}
.act-list-info li{
    height:174px;
    position: relative;
    border-bottom:1px #E5E5E5 solid;
}
.list-info-img{
    width:240px;
    height: 135px;
    border:1px #E5E5E5 solid;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    margin:auto;
    overflow: hidden;
}
.list-info-img img{
    width:100%;
}
.list-info-content{
    margin-left:282px;
}
.list-info-content p{
    font-size:16px;
    font-weight:400;
    color:#333;
}
.list-info-content .list-info-tit{
    font-size:20px;
    font-weight:bold;
    padding-top: 20px;
    margin-bottom: 10px;
}
.hdzt-quyu{
    display: inline-block;
    height:24px;
    background:#FFD8D4;
    border-radius:4px;
    font-size:14px;
    font-weight:400;
    color:#FF4141;
    margin-right: 10px;
    position: relative;
    top: -3px;
    padding:0 10px;
    margin-left: 10px;
}
.join-btn{
    display: block;
    width:136px;
    height:50px;
    text-align: center;
    line-height: 50px;
    background:#FF4141;
    border-radius:8px;
    position: absolute;
    right: 0;
    top:23px;
    font-size:18px;
    font-weight:400;
    color:#fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.jiangpin{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*弹框样式*/
.hdzt-mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    background:rgba(0,0,0,0.5);
    z-index:99999;
    display: none;
}
.city-content{
    width:1000px;
    height: 560px;
    background:#fff;
    border-radius: 5px;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    padding:30px;
    font-size: 16px;
    display: none;
}
.hdzt-close{
    font-size: 30px;
    position: absolute;
    top:5px;
    right: 15px;
    cursor: pointer;
}
.city-name{
    width:380px;
    height: 38px;
    padding-left:10px;
    border:1px #F7F7F7 solid;
    background:rgba(247,247,247,1);
    font-size:16px;
}
.hotCity-list{
    height: 56px;
    line-height: 56px;
    overflow:hidden;
}
.hotCity-list label{
    float: left;
    width:80px;
}
.hotCity-list ul{
    float: left;
}
.hotCity-list ul li{
    color:red;
    display: inline-block;
    padding:0 10px;
}
.all-city ul li{
    display: inline-block;
    width:78px;
    height: 30px;
    border:1px #E5E5E5 solid;
    margin-right: 20px;
    border-radius:4px;
    text-align: center;
    line-height: 30px;
    color:#666666;
    cursor: pointer;
}
.all-city ul li.active{
    background:#FF4141;
    border:1px #FF4141 solid;
    color:#FFFFFF;
}
.city-fen{
    margin-top:20px;
    overflow: hidden;
}
.first-word{
    display: inline-block;
    width:80px;
    height: 32px;
    line-height: 32px;
    background:#E5E5E5;
    color:#FF4141;
    text-align: center;
    border-radius:4px;
    float: left;
    margin-right: 17px;
}
.city-fen ul{
    float: left;
    width:88%;
}
.city-fen ul li{
    display: inline-block;
    padding:0 10px;
}
/*立即参与*/
.activity-content{
    width: 254px;
    height: 285px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    padding: 30px 40px;
    display: none;
}
.activity-content h2{
    font-size:24px;
    text-align: center;
    color:#333;
    height:24px;
    line-height: 24px;
    margin-bottom: 21px;
}
.box-line{
    margin-bottom: 16px;
}
.edit-city,.edit-quyu{
    width: 49%;
    height: 35px;
    border: 1px solid #dcd8d9;
}
.edit-text{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #dcd8d9;
    padding-left: 20px;
    display: block;
}
#btnSave{
    width: 100%;
    height: 44px;
    background: #ff5353;
    color: #fff;
    padding: 0;
    border: 0;
    cursor: pointer;
    margin-top: 24px;
    font-size:18px;
    border-radius:4px;
    border:none;
    outline: none;
}
.disclamer-line{
    margin-top:-5px;
}
.errorArea-tit,.errorName-tit,.errorTele-tit,.errorMianze-tit{
    color:red
}
/*预约成功弹窗*/
.yuyue-success{
    width:396px;
    height:343px;
    background:#fff;
    border-radius: 10px;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    position: absolute;
    display: none;
}
.yueyue-top{
    width:100%;
    height: 79px;
    background: url("/assets/home/zt/images/yuyue-success.png") no-repeat;
    text-align: center;
    line-height: 79px;
    font-size:28px;
    font-weight:bold;
    color:#FFFFFF;
}
.hdzt-contact{
    font-size:18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin:20px 0;
}
.hdzt-contact span{
    color:#FF9E13;
    margin-right: 5px;
}
.hdzt-saoma{
    font-size:16px;
    font-weight:400;
    color:#999;
    text-align: center;
    margin-top:20px;
}
#closeBtn{
    position: absolute;
    right: -35px;
    top: -55px;
}
