*{
    margin:0;
    padding:0;
}
img{
    vertical-align: middle;
}
.hdzt-bread{
    margin-bottom:15px;
}
.d-tit{
    padding:35px;
    border:1px #E5E5E5 solid;
}
.d-tit h2{
    font-size:34px;
    color:#333;
    width:85%;
    word-break: break-all;
}
.join-btn{
    display: block;
    width:136px;
    height:50px;
    text-align: center;
    line-height: 50px;
    background:#FF4141;
    border-radius:8px;
    position: absolute;
    right: 50px;
    top:70px;
    font-size:18px;
    font-weight:400;
    color:#fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.company-img{
    width:240px;
    height: 135px;
    border:1px #E5E5E5 solid;
    overflow: hidden;
    margin-top:10px;
    margin-bottom: 20px;
}
.company-img img{
    width:100%;
}
.detail-activity{
    font-size: 18px;
    line-height: 2;
    margin-bottom: 60px;
}
.details{
    width:892px;
    min-height:708px;
    margin:0 auto;
    position: relative;
    border:4px solid #FF4141
}
.details-top{
    width:250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    top: -50px;
    left: 50%;
    margin-left: -125px;
    display: inline-block;
    background: url("/assets/home/zt/images/detail.png") #FF2A2A;
    border-radius: 20px;
    z-index: 10;
    font-size:18px;
    color:#fff;
    font-weight: bold;
}
.details-center{
    position: relative;
    top: -72px;
    left: -5px;
}
.details-content{
    width: 705px;
    min-height: 660px;
    margin:0 auto;
    margin-top:-40px;
}
.join-btn1{
    display: block;
    width:136px;
    height:50px;
    line-height: 50px;
    background:#FF4141;
    border-radius:8px;
    font-size:18px;
    font-weight:400;
    color:#fff;
    border: none;
    outline: none;
    margin:0 auto;
    cursor: pointer;
    margin-top:30px;
}
/*立即参与弹窗*/
.hdzt-mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    background:rgba(0,0,0,0.5);
    z-index:99999;
    display: none;
}
.hdzt-close{
    font-size: 30px;
    position: absolute;
    top:5px;
    right: 15px;
    cursor: pointer;
}
.activity-content{
    width: 254px;
    height: 285px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    padding: 30px 40px;
    display: none;
}
.activity-content h2{
    font-size:24px;
    text-align: center;
    color:#333;
    height:24px;
    line-height: 24px;
    margin-bottom: 20px;
}
.box-line{
    margin-bottom: 15px;
}
.edit-city,.edit-quyu{
    width: 49%;
    height: 35px;
    border: 1px solid #dcd8d9;
}
.edit-text{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #dcd8d9;
    padding-left: 20px;
    display: block;
}
#btnSave{
    width: 100%;
    height: 35px;
    background: #ff5353;
    color: #fff;
    padding: 0;
    border: 0;
    cursor: pointer;
    margin-top: 24px;
    font-size:18px;
    border-radius:4px;
    border:none;
    outline: none;
}
.disclamer-line{
    margin-top:-5px;
}
.errorArea-tit,.errorName-tit,.errorTele-tit,.errorMianze-tit{
    color:red
}
/*预约成功弹窗*/
.yuyue-success{
    width:396px;
    height:343px;
    background:#fff;
    border-radius: 10px;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    position: absolute;
    display: none;
}
.yueyue-top{
    width:100%;
    height: 79px;
    background: url("/assets/home/zt/images/yuyue-success.png") no-repeat;
    text-align: center;
    line-height: 79px;
    font-size:28px;
    font-weight:bold;
    color:#FFFFFF;
}
.hdzt-contact{
    font-size:18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin:20px 0;
}
.hdzt-contact span{
    color:#FF9E13;
    margin-right: 5px;
}
.hdzt-saoma{
    font-size:16px;
    font-weight:400;
    color:#999;
    text-align: center;
    margin-top:20px;
}
#closeBtn{
    position: absolute;
    right: -35px;
    top: -55px;
}


