/* banner */
input::placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-ms-input-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999 !important;
}
.jzj-banner {
    background: url('//staticqn.qizuang.com/custom/20200801/Fjz0B3GON1CjZGM4WdKVSwCSE3Rh') no-repeat center center;
    height: 900px;
    width: 100%;
    background-size: cover;
}

.banner-li-list {
    margin: 0 60px;
}

.banner-li-list ul li {
    float: left;
    margin: 680px 30px 0;
}

.banner-li-list ul li img {
    width: 306px;
    height: 141px;
    cursor: pointer;
}

/* 中间区域 */

.jzj-main {
    width: 100%;
    background: #C61F2D;
    padding-top: 50px;
}

.jzj-main .fl {
    float: left;
}

.jzj-main .fr {
    float: right;
}

.jsz-main-line {
    width: 1220px;
    margin: 0 auto;
    border-top: 3px solid #921722;
    border-bottom: 3px solid #FF4857;
}

.jzj-main .jzj-warp {
    /* min-height: 2905px; */
    background: url(../images/platformactivity/main-bj.png) no-repeat center 0;
    background-size: 100% 100%;
}

.jzj-main-item {
    padding-bottom: 50px;
    position: relative;
}

.jzj-main-item .item-title {
    width: 496px;
    height: 52px;
    margin: 50px auto;
    position: relative;
}

.jzj-main-item .item-title img {
    width: 100%;
    height: 100%;
}

.jzj-city{
    position: absolute;
    right: 50%;
    top: 30px;
    margin-right: -500px;
    width: 100px;
    font-size: 18px;
    z-index: 99;
}
.jzj-city-name{
    color: #FFD88E;
    line-height: 1.5;
    cursor: pointer;
    padding-left: 24px;
    background: url(../images/platformactivity/jzj-city-icon.png) no-repeat 0 center;
    background-size: 18px 20px;
}
.jzj-city-select{
    display: none;
    padding-top: 10px;
    margin-left: 15px;
    width: 81px;
    height: 100px;
    background: url(../images/platformactivity/jzj-city-bj.png) no-repeat center center;
    background-size: 81px 110px;
}
.jzj-city-select li{
    line-height: 32px;
    color: #333;
    text-align: center;
    cursor: pointer;
}
.jzj-city-select li.jzj-city-acitve{
    color: #C61F2D;
}
/* 轮播图 */
.item-activity {
    width: 1220px;
    margin: 0 auto 50px;
    position: relative;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.item-activity .swiper-container {
    width: 1220px;
    position: relative;
}

.item-activity #swiper .swiper-wrapper {
    margin-left: 10px;
}
.item-activity .swiper-button-prev,
.item-activity .swiper-button-next{
    display: block;
    opacity:0;
    width: 40px;
    height: 100px;
    position: absolute;
    top:50%;
    background-size: 24px 42px;
    margin-top: -50px;
    z-index: 9;
    cursor: pointer;
}
.item-activity .swiper-button-prev {
    background: rgba(0, 0, 0, .2) url(../images/platformactivity/jzj-left-icon.png) no-repeat center center;
    left:15px;
}

.item-activity .swiper-button-next {
    background: rgba(0, 0, 0, .2) url(../images/platformactivity/jzj-right-icon.png) no-repeat center center;
    right:15px;
}
.item-activity:hover .swiper-button-prev,.item-activity:hover .swiper-button-next{
    opacity: 1;
}
.item-activity #swiper .swiper-slide {
    /* text-align: center; */
    z-index: 9;
}

.jzj-activity-item {
    width: 282.5px;
    position: relative;
    padding-top: 10px;
    float: left;
}

.jzj-activity-item .horn-icon {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 40px;
    height: 45px;
    padding: 3px 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: url(../images/platformactivity/jzj-ddyl-icon.png) no-repeat center center;
    background-size: 100%;
    z-index: 9;
}

.jzj-activity-item .icon-cxhd {
    background-image: url(../images/platformactivity/jzj-cxhd-icon.png);
}

.jzj-activity-item .top-pic {
    position: relative;
}

.jzj-activity-item .top-pic .img {
    display: block;
    width: 282.5px;
    height: 360px;
    border-radius: 15px 15px 0 0;
}
.jzj-activity-item .top-pic .ljyy-btn{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 282px;
    height: 306px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    line-height: 306px;
    font-size: 18px;
    color: #C61F2D;
    font-weight: 600;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
}
.jzj-activity-item .top-pic .ljyy-btn-name{
    background-color: #FFD88E;
    width: 120px;
    height: 40px;
    margin: 150px auto 0;
    line-height: 40px;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.jzj-activity-item .top-pic:hover .ljyy-btn{
    opacity: 1;
}

.jzj-activity-item .bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    width: 282px;
    display: table;
}

.jzj-activity-item .bottom-text-pic {
    float: left;
    width: 39px;
    height: 35px;
    margin: 7px 10px 0px;
}

.jzj-activity-item .bottom-text-pic2 {
    float: left;
    width: 37px;
    height: 37px;
    margin: 8px 10px 0px;
}

.jzj-activity-item .bottom-text h5 {
    padding: 5px 0;
    margin-left: 60px;
    width: 220px;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    height: 44px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: table-cell;
    vertical-align: middle;
}

.jzj-activity-item .bom-name {
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
    width: 242px;
    padding: 20px 20px;
}

.jzj-activity-item .bom-name .comy-logo {
    float: left;
    width: 65px;
    height: 30px;
}

.jzj-activity-item .bom-name .comy-logo img {
    width: 100%;
    height: 100%;
}

.jzj-activity-item .bom-name h4 {
    margin-left: 75px;
    font-size: 16px;
    color: #333;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

.item-title-turntable {
    margin-bottom: 50px;
}

.item-title-turntable .turntable-l {
    margin-top: 50px;
    position: relative;
}

.item-title-turntable .turntable-l .pic-bj {
    width: 620px;
    height: 620px;
    background: url(../images/platformactivity/jzj-cj-bj.png) no-repeat center center;
    background-size: 100% 100%;
    overflow: hidden;
}

.item-title-turntable .turntable-l .pic-bj img {
    display: block;
    width: 620px;
    height: 620px;
    transition: transform 1.5s ease;
    -webkit-transition: transform 1.5s ease;
    -moz-transition: transform 1.5s ease;
    -ms-transition: transform 1.5s ease;
    -o-transition: transform 1.5s ease;
}

.item-title-turntable .turntable-l .jzj-djcj {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -92px;
    margin-left: -78px;
    width: 156px;
    height: 170px;
    background-size: 100%;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.item-title-turntable .turntable-l .jzj-djcj-y {
    background: url(../images/platformactivity/jzj-djcj.png) no-repeat center center;
    color: #B2162C;
}

.item-title-turntable .turntable-l .jzj-djcj-n {
    background: url(../images/platformactivity/jzj-djcj-no.png) no-repeat center center;
    color: #333;
}

.item-title-turntable .turntable-l .jzj-djcj span {
    display: inline-block;
    margin-top: 60px;
    margin-left: 55px;
}

.item-title-turntable .turntable-r {
    width: 520px;
}

.turntable-r-item {
    margin-bottom: 30px;
}

.turntable-r-title {
    display: inline-block;
    background: #FFE3B1;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    font-size: 24px;
    color: #B2162C;
    margin-bottom: 20px;
    font-weight: normal;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.turntable-r-item .title-wh {
    position: relative;
    padding-right: 46px;
}

.turntable-r-item img {
    position: absolute;
    right: 16px;
    top: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.turntable-r-item p {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
}

.jzj-main-item .item-banner {
    width: 1220px;
    height: 150px;
    margin: 0 auto;
}

.jzj-main-item .item-banner img {
    width: 100%;
    height: 100%;
}

.jzj-gift-list {
    /* margin: 0 233px; */
}

.jzj-gift-list ul li {
    float: left;
    width: 282px;
    height: 350px;
    margin: 15px 30px 15px 0;
    position: relative;
}

.jzj-gift-list ul li.mr0 {
    margin-right: 0;
}

.jzj-gift-list ul li.hand {
    cursor: pointer;
}

.jzj-gift-list ul li.hand a {
    display: block;
}

.jzj-gift-list ul li:hover {}

.jzj-gift-list ul li:hover .text {
    opacity: 1;
}

.jzj-gift-list ul li .text {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 282px;
    height: 100px;
    color: #fff;
    /*background: url(../images/platformactivity/jzj-jb.png) no-repeat center center;
    */
    /*background-size: 100% 100%;
    */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}

.jzj-gift-list ul li .text p {
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    bottom: 16px;
    left: 10px;
    width: 262px;
    text-align: center;
}

.jzj-gift-list ul li .text p span {
    display: inline-block;
    text-align: left;
}

.jzj-gift-list ul li img {
    width: 100%;
    height: 100%;
}

.jzj-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.jzj-popup .popup-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}

.jzj-popup .popup-box-form {
    width: 390px;
    margin-top: -150px;
    margin-left: -200px;
}

.jzj-popup .popup-box-success {
    width: 547px;
    margin-top: -200px;
    margin-left: -273px;
}

.jzj-popup .popup-box-rule {
    width: 890px;
    margin-top: -320px;
    margin-left: -445px;
}

.jzj-popup .popup-close {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.jzj-popup .popup-close img {
    width: 100%;
    height: 100%;
}

.jzj-popup .popup-main {}

.jzj-popup .popup-title {
    height: 64px;
    background: url(../images/platformactivity/pop-title-bj.png) repeat-x;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.jzj-popup .success-app {
    float: right;
    width: 50%;
    text-align: center;
    padding-bottom: 40px;
}

.jzj-popup .success-app-pic {
    margin: 50px auto 5px;
    width: 160px;
    height: 160px;
}

.jzj-popup .success-app-pic img {
    width: 100%;
    height: 100%;
}

.jzj-popup .success-app .success-app-title {
    font-size: 16px;
    color: #333;
    line-height: 32px;
    font-weight: normal;
}

.jzj-popup .success-app .success-app-text {
    font-size: 14px;
    line-height: 24px;
    color: #999;
}

.success-l {
    float: left;
    width: 50%;
}

.jzj-popup .success-lq-l {
    text-align: right;
}

.jzj-popup .success-lq-l img {
    height: 273px;
    width: 226px;
    margin: 30px 10px 30px 0;
}

.jzj-popup .success-cydd-l {
    text-align: center;
}

.jzj-popup .success-l-text {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.jzj-popup .success-cydd-l img {
    width: 200px;
    height: 130px;
    margin: 60px auto 40px;
}

.jzj-popup .pop-rule {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 0 40px;
    height: 480px;
    overflow-y: auto;
}

.jzj-popup .popup-main {}

.jzj-popup .pop-rule-title {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.jzj-popup .pop-rule-text {
    font-size: 14px;
    color: #666;
    line-height: 2;
}

.jzj-popup .popup-box {
    display: none;
}

.jzj-popup .popup-box-form .form {
    padding: 30px 20px;
}

.jzj-popup .popup-box-form .form-item {
    font-size: 14px;
}

.jzj-popup .popup-box-form input {
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    background: #F2F2F2;
    /* color: #333; */
    border: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.jzj-popup .popup-box-form button {
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: pointer;
    background-color: #F2203E;
    color: #fff;
}

.jzj-popup .popup-box-form button:focus {
    outline: none;
}

.jzj-popup .form-zpcj-text {
    display: none;
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

.jzj-popup .form-item-mark {
    height: 26px;
    line-height: 26px;
    color: #F2203E;
    font-size: 12px;
    padding-left: 10px;
}

.jzj-popup .popup-box-form .btn-code {
    width: 130px;
    float: right;
}

.jzj-popup .popup-box-form .code-text {
    width: 130px;
    float: right;
    background-color: #E2E2E2;
    color: #666666;
    cursor: auto;
    display: none;
}

.jzj-popup .popup-box-form .btn-lq {
    width: 100%;
    margin-top: 10px;
}



.jzj-popup .popup-box-form input:focus {
    outline: none;
}

.jzj-popup .popup-box-form .input-tel {
    width: 310px;
}