body {
    overflow-x: hidden;
}

.zxfw .banner {
    font-size: 0;
    text-align: center;
}

.zxfw .banner img {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1220px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 48px;
    line-height: 68px;
    font-weight: bold;
    color: #333333;
}

.title h2 span {
    font-weight: 100;
    margin: 0 20px;
}

.title h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    font-weight: 100;
    color: #CCCCCC;
    letter-spacing: 5px;
}


.brand {
    background: #ECECEC;
    padding: 70px 0 125px;
    overflow: hidden;
}

.cctv {
    margin-top: 80px;
}

.cctv-wz {
    width: 520px;
    height: 380px;
    background: #CFA670;
    padding: 65px 0 0 79px;
    position: relative;
    float: left;
    margin-top: 35px;
    box-sizing: border-box;
}

.cctv-wz:before {
    content: '';
    position: absolute;
    width: 300px;
    height: 35px;
    top: -35px;
    right: 0;
    background: #fff;
}

.cctv-wz:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 35px;
    bottom: -35px;
    right: 0;
    background: #fff;

}

.cctv-wz > img {
    position: absolute;
    bottom: -88px;
    left: -66px;
}

.cctv-title {
    position: relative;
    margin-bottom: 45px;
}

.cctv-title i {
    display: block;
    position: absolute;
    left: -64px;
    top: -36px;
    font-size: 0;
    color: #fff;
}

.cctv-title h3 {
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.cctv-wz p {
    font-size: 24px;
    line-height: 40px;
    color: #fff;
}


.cctv-video {
    width: 700px;
    height: 450px;
    float: right;
    position: relative;
}

.cctv-video img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}


.cctv-video video {
    width: 700px;
    height: 450px;
    outline: none;
}

.number {
    overflow: hidden;
}

.number .number-left {
    position: relative;
    width: 511px;
    float: left;
    padding: 80px 0 90px;
}

.number .number-left img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.number-left h1, .number-left h2 {
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
}

.number-left i {
    display: block;
    width: 120px;
    height: 12px;
    background: #CFA670;
    margin-top: 67px;
}

.number .number-right {
    position: relative;
    width: 689px;
    float: right;
    padding: 92px 0 0 50px;
    box-sizing: border-box;

}

.number .number-right > img {
    position: absolute;
    left: -54px;
    top: 50px;
    z-index: -1;
}

.number .number-right ul:first-of-type {
    margin-bottom: 30px;
}

.number .number-right li {
    float: left;
}


.number .number-right ul:first-of-type li:first-of-type {
    margin-right: 158px;
}

.number .number-right ul:nth-of-type(2) li:first-of-type {
    margin-right: 125px;
}

.number .number-right ul:nth-of-type(2) li:nth-of-type(2) {
    margin-right: 152px;
}

.number .number-right li p {
    font-size: 24px;
    color: #fff;
}

.number .number-right ul li p strong {
    font-size: 36px;
}

.guarantee {
    overflow: hidden;
    position: relative;
    padding: 70px 0 246px;
}

.guarantee > img {
    position: absolute;
    z-index: -1;
}

.guarantee > img:first-of-type {
    top: 0;
    right: 0;
}

.guarantee > img:last-of-type {
    top: 228px;
    left: 0;
}

.guarantee-why {
    float: right;
    padding-right: 80px;
}

.guarantee-why p {
    font-size: 30px;
    color: #fff;
}

.guarantee-why p:after {
    content: '';
    display: block;
    width: 120px;
    height: 12px;
    background: #CFA670;
    margin-top: 15px;
}

.guarantee-list {
    margin-top: 52px;
}

.guarantee-list li {
    width: 380px;
    float: left;
    margin-right: 40px;
}

.guarantee-list li:nth-child(3n) {
    margin-right: 0;
}

.guarantee-list li .guarantee-con-tit-box {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.guarantee-list li .guarantee-con-tit {
    text-align: center;
    width: 100%;
    height: 90px;
    background: -moz-linear-gradient(-30deg, rgba(38, 31, 28, 1) 0%, rgba(97, 84, 68, 1) 100%);
    background: -ms-linear-gradient(-30deg, rgba(38, 31, 28, 1) 0%, rgba(97, 84, 68, 1) 100%);
    background: -webkit-linear-gradient(-30deg, rgba(38, 31, 28, 1) 0%, rgba(97, 84, 68, 1) 100%);
    background: linear-gradient(-30deg, rgb(38, 31, 28) 0%, rgb(97, 84, 68) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorstr="#FF615444", endColorstr="#FF261F1C");
    padding-top: 15px;
}

.guarantee-list li:nth-of-type(2) .guarantee-con-tit {
    background: linear-gradient(-30deg, rgba(236, 186, 136, 1) 0%, rgba(165, 127, 88, 1) 100%);
    background: -moz-linear-gradient(-30deg, rgb(236, 186, 136) 0%, rgba(165, 127, 88, 1) 100%);
    background: -ms-linear-gradient(-30deg, rgba(236, 186, 136, 1) 0%, rgb(165, 127, 88) 100%);
    background: -webkit-linear-gradient(-30deg, rgba(236, 186, 136, 1) 0%, rgba(165, 127, 88, 1) 100%);
    background: linear-gradient(-30deg, rgba(236, 186, 136, 1) 0%, rgba(165, 127, 88, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorstr="#FFECBA88", endColorstr="#FFA57F58");
}

.guarantee-list li:nth-of-type(3) .guarantee-con-tit {
    background: -moz-linear-gradient(-30deg, rgba(43, 47, 48, 1) 0%, rgba(90, 97, 105, 1) 100%);
    background: -ms-linear-gradient(-30deg, rgba(43, 47, 48, 1) 0%, rgba(90, 97, 105, 1) 100%);
    background: -webkit-linear-gradient(-30deg, rgba(43, 47, 48, 1) 0%, rgba(90, 97, 105, 1) 100%);
    background: linear-gradient(-30deg, rgb(43, 47, 48) 0%, rgb(90, 97, 105) 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=1, startColorstr="#FF5A6169", endColorstr="#FF2B2F30");
}

.guarantee-list li .guarantee-con-tit h2 {
    color: #FFC992;
    font-size: 24px;
}

.guarantee-list li .guarantee-con-tit h3 {
    font-weight: 100;
    font-size: 18px;
    color: #FFC992;
    letter-spacing: 1px;
}


.guarantee-list li:nth-of-type(2) .guarantee-con-tit h2 {
    color: #fff;
}

.guarantee-list li:nth-of-type(2) .guarantee-con-tit h3 {
    color: #fff;
}

.guarantee-list li:nth-of-type(3) .guarantee-con-tit h2 {
    color: #F5C18C;
}

.guarantee-list li:nth-of-type(3) .guarantee-con-tit h3 {
    color: #F5C18C;
}


.guarantee-list li .guarantee-con-img {
    margin-top: 10px;
    font-size: 0;
    position: relative;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.guarantee-list li .guarantee-con-img .guarantee-con-img-layer {
    opacity: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
    background: -ms-linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorstr="#1A000000", endColorstr="#CC000000");
    border-radius: 0px 0px 10px 10px;
    transition: all .3s;
}

.guarantee-list li .guarantee-con-img .guarantee-con-img-layer .layer-con {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.guarantee-list li .guarantee-con-img .guarantee-con-img-layer p {
    font-size: 18px;
    font-family: "Source Han Sans CN";
    font-weight: 400;
    color: #fff;
    margin: 10px 0;
}

.guarantee-list li .guarantee-con-img .guarantee-con-img-layer a {
    position: absolute;
    bottom: 43px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #ECBA88;
    border-radius: 18px;
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}


.guarantee-list li img {
    width: 100%;
}

.guarantee-list li .guarantee-con-img:hover .guarantee-con-img-layer {
    opacity: 1;
    bottom: 0;
}

.server {
    padding: 50px 0 65px;
    background-color: rgb(238, 235, 234);
    background-repeat: no-repeat;
    background-position: top center;
    overflow: hidden;
}

.service-wrap {
    margin-top: 80px;
}

.service-wrap li {
    margin-bottom: 110px;
}

.service-wrap li:last-child {
    margin-bottom: 0px;
}

.service-wrap li .service-con {
    float: left;
}

.service-wrap li .service-con .service-title .service-title-img {
    float: left;
}

.service-wrap li .service-con .service-title .service-title-info {
    float: left;
    margin-left: 17px;
}

.service-wrap li .service-con .service-title .service-title-info strong {
    color: #fff;
    font-size: 30px;
    display: block;
    font-weight: normal;
}

.service-wrap li .service-con .service-title .service-title-info span {
    color: #fff;
    opacity: .5;
    font-size: 24px;
    display: block;
    font-weight: normal;
    font-style: italic;
    margin-top: 15px;
    font-weight: 600;
}


.service-wrap li .service-con .service-con-list {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}

.service-wrap li .service-con .service-con-list p:first-of-type {
    margin-top: 0;
}

.service-wrap li .service-con .service-con-list p {
    margin-top: 40px;
}

.service-wrap li .service-img {
    float: right;
}

.service-wrap li:nth-child(2n) .service-con {
    float: right;
}

.service-wrap li:nth-child(2n) .service-img {
    float: left;
}

.service-wrap li:nth-child(2n) .service-con .service-title .service-title-img {
    float: right;
}

.service-wrap li:nth-child(2n) .service-con .service-title .service-title-info {
    float: right;
    text-align: right;
    margin-right: 17px;
    margin-left: 0;
}


.service-wrap li:nth-child(2n) .service-con .service-con-list {
    text-align: right;
}


.service-img {
    overflow: hidden;
    width: 700px;
    height: 450px;
    position: relative;
}

.service-img img {
    width: 100%;
    height: 100%;
    transition: all .3s;

}

.service-wrap li .service-img .service-img-layer {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, .5);
    text-align: center;
    transition: all .3s;
}

.service-wrap li .service-img .service-img-layer a {
    display: block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #333333;
    background: #ECBA88;
    border-radius: 18px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.service-wrap li .service-img:hover img {
    transform: scale(1.1);
}

.service-wrap li .service-img:hover .service-img-layer {
    opacity: 1;
}

.welfare {
    position: relative;
    margin-top: 35px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    overflow: hidden;
}

.welfare-bg1 {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

.welfare-bg2 {
    position: absolute;
    right: 0;
    top: 195px;
    z-index: -1;
}

.welfare-title h2 {
    font-size: 30px;
    line-height: 60px;
    color: #fff;
    font-weight: normal;
}


.welfare-title:after {
    content: '';
    display: block;
    width: 120px;
    height: 12px;
    background: #CFA670;
    margin-top: 15px;
}

.welfare-wrap {
    padding-left: 188px;
}

.welfare-wrap .left {
    float: left;
    width: 650px;
    font-size: 0;
}


.welfare-wrap .right {
    float: right;
    width: 350px;
    position: relative;
    font-size: 0;
}

.welfare-wrap .left img:nth-of-type(2) {
    margin-top: 19px;
}

.welfare-wrap .right .welfare-ewm {
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.welfare-wrap .right .welfare-ewm img {
    width: 164px;
    height: 164px;
    border-radius: 5px;
}


.welfare-wrap .right .welfare-text {
    width: 100%;
    padding: 0 66px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 156px;
    box-sizing: border-box;
}

.welfare-wrap .right .welfare-text strong {
    font-size: 24px;
    color: #603613;
    display: block;
}

.welfare-wrap .right .welfare-text span {
    font-size: 18px;
    color: #603613;
    display: block;
    margin-top: 10px;
}

.welfare-wrap .right .welfare-ewm span {
    display: block;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;

}

.kefu_right {
    display: none;
}

.fixed {
    position: fixed;
    height: 339px;
    width: 111px;
    right: -120px;
    top: 50%;
    margin-top: -169.5px;
    z-index: 1;
    background: url("../images/zxfw-fixed.png") no-repeat center;
    padding-top: 98px;
    box-sizing: border-box;
}


.zxfw-link {
    position: relative;
    z-index: 1;
    padding: 0 6px 0 5px;
}


.zxfw-link a {
    box-sizing: border-box;
    display: block;
    line-height: 43px;
    margin-top: -3px;
    font-size: 14px;
    font-weight: 600;
    color: #513E25;
    /*border-bottom: 1px solid #9B7C52;*/
    text-align: center;
}

.zxfw-link a:hover {
    color: #fff;
    background: #AF926A;
}

.zxfw-link a:last-child:hover {
    color: #513E25;
    background: none;
}

.zxfw-link a img {
    width: 22px;
    height: 22px;
    margin-top: 10px;
}


#wyzx {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
}


#wyzx .mask {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    height: 100%;
    width: 100%;
}

.wyzx-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.wyzx-form {
    background: #fff;
    width: 370px;
    height: 400px;
    box-sizing: border-box;
    padding: 20px 33px 0;
    position: relative;
    z-index: 0;
}

.closeBtn {
    position: absolute;
    right: -13px;
    top: -14px;
}

.closeBtn:hover {
    cursor: pointer;
}

.wyzx-form .fix-title {
    text-align: center;
}

.wyzx-form .fix-title h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 600;
}

.wyzx-form .fix-title h3 {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 1px;
}

.wyzx-form .fix-title h3 span {
    font-size: 16px;
    font-weight: 600;
    color: #D92B2B;
}

.city-box {
    float: left;
}

.area-box {
    float: right;
}

.city-box {
    margin-right: 15px;
}

.city-box .edit-city, .area-box .edit-quyu {
    width: 135px;
    height: 42px;
    border-radius: 21px;
    outline: none;
    font-size: 14px;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #F7F7F7 url("../images/wyzx-select-arrow.png") no-repeat 94% center;
    margin-top: 20px;
}

select::-ms-expand {
    display: none;
}

.wyzx-form input {
    width: 100%;
    font-size: 14px;
    background: #F7F7F7;
    height: 40px;
    line-height: 40px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    color: rgb(153, 153, 153) !important
}


.btn-box .box-line {
    width: 100%;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline: none;
    background: #D92B2B;
    border-radius: 20px;
    margin-top: 10px;
}


.f_name-warn, .f_tel-warn, .f_city-warn {
    height: 20px;
    line-height: 20px;
    visibility: visible;
    color: red;
    text-align: left;
}


.wyzx-reslut {
    display: none;
    background: #fff;
    width: 420px;
    height: 380px;
    padding: 39px 53px 0;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

.reslut-title strong {
    font-size: 24px;
    color: #333333;
    vertical-align: top;
    margin-left: 15px;
}

.reslut-info {
    margin-top: 15px;
}

.reslut-info strong {
    font-size: 14px;
    color: #333333;
    display: block;
}

.reslut-info span {
    display: block;
    font-size: 14px;
    color: #999999;
    margin-top: 5px;
}

.reslut-ewm {
    display: table;
    margin: 30px auto 0;
}

.ewm-box {
    float: left;
    margin-right: 73px;
}

.ewm-box img {
    width: 108px;
    height: 108px;
}

.ewm-box:last-child {
    margin-right: 0;
}

.ewm-box img {
    border: 1px dashed #b7b7b7;
}

.ewm-box p {
    font-size: 14px;
    color: #333333;
}

.ewm-box p span {
    color: red;
}
