/* 通用 */
.left {
    float: left;
}
.right {
    float: right;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}

/* 面包屑 */
.bread {
    font-size: 12px;
}
.bread a {
    font-size: 12px;
}

/* 主体 */
.main {
    margin-bottom: 10px;
}
.main-left {
  width: 900px;
}
.main-right {
  width: 280px;
}
.main-left h1 {
    font-size: 18px;
    margin-left: 16px;
}
.left-title {
    width: auto;
    height: 100%;
    margin-top: 17px;
    margin-bottom: 59px;
    padding: 0 18px 0 17px;
    border:1px solid rgba(234,234,234,1);
}
.left-title li {
    width: 100%;
    height: 104px;
    border-bottom: 2px dashed rgba(234,234,234,1);
    box-sizing: border-box;
}
.left-title li:nth-last-of-type(1) {
    border: none;
}

/* 文章段落设置 */
.left-title li>a {
    display: block;
    width: 100%;
    height: 14px;
    font-size: 16px;
    font-family:MicrosoftYaHei-Bold;
    color:rgba(51,51,51,1);
    margin: 10px 0;
}
.left-title li>a:hover {
    color: #FF5353;
}
.left-title li .duan {
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    color:#333;
    width: 100%;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.duan a {
    font-size: 14px;
}
.answer {
    margin-top: 4px; 
}
.answerNum {
    color: #FF5353;
    padding: 0 4px;
}
.answerTime {
    margin-left: 10px;
}

/* tab栏 */
.content-list{
    border:1px #F5F5F5 solid;
    margin-top:40px;
}
.label-list{
    overflow: hidden;
    height:40px;
}
.label-list li{
    display: inline-block;
    float: left;
    width:12.5%;
    line-height:40px;
    cursor: pointer;
    text-align: center;
    font-size:16px;
}
.label-list-content ul{
    overflow: hidden;
    padding:0px 45px 18px 45px;
    background: #EAEAEA;
    display:none;
}
.label-list-content ul a{
    display: inline-block;
    margin-right:30px;
    margin-top:18px;
    font-size:14px;
}
.current-list{
    background: url('../images/tab.png') no-repeat;
    background-size:100%;
    background-position:bottom;
}
.item_active {
    display: block !important;
}

/* 右侧相关知识 */
.relted-know,
.new-know {
    width: 280px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.know-title {
    display: block;
    width: 280px;
    height: 46px;
    padding: 10px 0 0 15px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.know-title span {
    display: inline-block;
    font-size: 18px;
    color: #45B877;
    padding: 2px 0;
    border-bottom: 1px solid #45B877;
}
.main-right dd {
    color: #666;
    height: 29px;
    font-size: 12px;
    line-height: 29px;
    padding-left: 15px; 
    border-bottom: 1px dashed #ccc; 
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
.main-right dd:nth-last-of-type(1) {
    border: none;
}
.circle_point {
    display: inline-block;
    width: 4px;height: 4px;
    background: #cacaca;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 2px;
}


