.prev{
    top: auto;
    right: auto;
    position: relative;
}
.modal .group {
    margin-bottom: 20px;
}
.modal .group>span:first-child {
    margin-left: 90px;
}
.modal .group .form-control {
    width: 50%;
    display: inline-block;
    margin-left: 10px;
}
.modal .group .switch {
    display: inline-block;
    margin-left: 10px;
}
.modal .modal-footer {
    text-align: center;
}
.modal .file-group {
    display: inline-block;
}
.modal .group .select2-container{
    width: 285px!important;
    margin-left: 10px;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #d2d6de;
}