<link rel="stylesheet" href="/assets/common/css/bootstrap/css/bootstrap.min.css?v=">
<link rel="stylesheet" href="/assets/common/css/global.css?v={:C('STATIC_VERSION')}">
<style>
    .item-span{ display:inline-block;cursor: pointer; background-color: #0099FF; color: #fff; font-size: 12px;margin: 2px 3px; padding: 2px 4px; border-radius: 3px; }
</style>
<div class="col-xs-12">
    <table class="table table-hover table-bordered">
        <tr>
            <th style="width:12.5%">考核人员</th>
            <th>变更渠道</th>
            <th style="width:12.5%">操作类型</th>
            <th style="width:25%">操作时间</th>
        </tr>
        <volist name='list' id='vo'>
            <tr>
                <td>{$vo.content.assess_admin_name}</td>
                <td><volist name="vo.content.src_list" id="v1"><span class="item-span">{$v1.name}</span></volist></td>
                <td>{$vo.action}</td>
                <td>{$vo.create_time}</td>
            </tr>
        </volist>
    </table>
    {$page}
</div>
<script src="/assets/common/js/jquery.min.js?v="></script>