.worksite-detail{
    padding-bottom: 110rpx;
}
.worksite-detail .worksite-info{
    padding: 30rpx;
    border-bottom: 20rpx solid #F7F7F7;
}
.worksite-info .detail-title{
    height: 48rpx;
    line-height: 36rpx;;
    font-size: 36rpx;
    font-weight: bold;
    color: #333;
    margin-bottom: 36rpx;;
}
.worksite-info .detail-title text{
    display: inline-block;
    width: 8rpx;
    height: 36rpx;
    background: #DB2C2C;
    margin-right: 12rpx;
    position: relative;
    top:6rpx;
}
.worksite-detail .info-list{
    overflow: hidden;
}
.worksite-detail .info-list view{
    width: 25%;
    float: left;;
}
.worksite-detail .info-list view text{
    display: block;
    text-align: center;
}
.worksite-detail .info-list view text:first-child{
    font-size: 24rpx;
    color: #666;
    margin-bottom: 34rpx;
}
.worksite-detail .info-list view text:nth-child(2){
    font-size: 28rpx;
    color: #333;
}

.scroll-view_H {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
  }
  
  .scroll-view_H .scroll-view-item_H {
    display: inline-block;
    width: 161rpx;
    padding: 0 25rpx 32rpx;
    height: 104rpx;
    text-align: center;
    font-size: 22rpx;
    color: #999;
    font-weight: 500;
    box-sizing: border-box;
  }

  .scroll-view_H .scroll-view-item_H.active{
      font-size: 28rpx;
      color: #333;
      font-weight: bold;
  }
  
  .scroll-view_H .line {
    position: absolute;
    top: 70rpx;
    left: 72rpx;
    height: 16rpx;
    display: flex;
    align-items: center;
    background: #fff;
  }
  
  .scroll-view_H .line .l-item {
    display: flex;
    align-items: center;
  }
  
  .scroll-view_H .line .l-item .yuan {
    width: 16rpx;
    height: 16rpx;
    box-sizing: border-box;
    background: #f5f5f5;
    border-radius: 50%;
    border: 4rpx solid #FF5353;
  }
  
  .scroll-view_H .line .l-item .xian {
    width: 145rpx;
    height: 4rpx;
    background: #f5f5f5;
  }
  
  .scroll-view_H .line .red .yuan {
    background: #ff5353;
  }
  
  .scroll-view_H .line .l-item:first-child .xian {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
  }


.worksite-info .gongcheng-list{
    border-bottom: 2rpx solid #E8E8E8;
    padding-bottom: 30rpx;
}
.worksite-info .gongcheng-list:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.worksite-tit{
    height: 36rpx;
    line-height: 36rpx;
    font-size: 28rpx;
    color: #000;
    font-weight: 500;
    padding-top: 20rpx;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.worksite-tit .worksite-tag{
    display: inline-block;
    height: 36rpx;
    line-height: 36rpx;
    padding: 0 10rpx;
    background: #FFF6F6;
    border-radius: 4rpx;
    color: #DB2C2C;
    font-size: 22rpx;
    text-align: center;
    margin-left: 16rpx;
    position: relative;
    bottom: 2rpx;;
}
 .worksite-des{
    font-size: 22rpx;
    color: #666;
    margin: 18rpx 0;
    overflow: hidden;
}
.worksite-content{
    font-size: 24rpx;
    margin-bottom: 20rpx;
    color: #343434;
    word-break: break-all;
}
.worksite-des text{
    float: right;
}
.worksite-img image{
    width: 220rpx;
    height: 220rpx;
    margin-right: 15rpx;
    border-radius: 8rpx;
}
.worksite-img image:last-child{
    margin-right: 0;
}
.worksite-img video{
    width: 392rpx;
    height: 220rpx;;
    margin: 0;
    border-radius: 8rpx;
}
.zx-baike-list{
    height: 178rpx;
    border-bottom: 2rpx solid #ddd;
    position: relative;
}
.zx-baike-list:last-child{
    border-bottom: none;
}
.zx-baike-list image{
    width: 176rpx;
    height: 118rpx;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 8rpx;
}
.zx-baike-list view{
    font-size: 28rpx;
    color: #333;
    margin-left: 197rpx;
    padding-top: 40rpx;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.no-data{
    padding: 50rpx 0;
}
.no-data .nodata-img{
    width: 376rpx;
    height: 210rpx;
    margin: 0 auto;
}
.no-data image{
    width: 100%;
    height: 100%;
}
.no-data .no-message{
    font-size: 24rpx;
    color: #666;
    text-align: center;
}