.remark{
  padding: 15px;
  color: orange;
}

p{
  margin: 0;
  /* padding: 0 !important; */
}
.img p{
  padding: 0 !important;
}

div.content {
  background-color: #fff;
}

textarea {
  border-color: #d2d6de;
  padding: 6px 12px;
}

.form-group p{
  padding-top: 7px; 
}

.img{
  display: table;
  min-width: 350px;
  height: 100px;
  color: #fff;
  font-family: '微软雅黑';
  background: linear-gradient(to right, orange , red); /* 标准的语法 */
  background: -webkit-linear-gradient(left, orange , red); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, orange, red); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, orange, red); /* Firefox 3.6 - 15 */
  border-radius: 8px;
}

.img.second{
  background: linear-gradient(to right, red 30% , rgba(229,29,124) 70%); /* 标准的语法 */
  background: -webkit-linear-gradient(left, red 30% , rgba(229,29,124) 70%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, red 30%, rgba(229,29,124)) 70%; /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, red 30%, rgba(229,29,124)) 70%; /* Firefox 3.6 - 15 */
}

.img .left{
  position: relative;
  min-width: 310px;
  height: 100px;
  border-right: 1px dashed;
  color: #fff;
  float: left;
  padding-top: 5px;
  padding-left: 30px;
}

.img .left::before{
  content: '';
  position: absolute;
  right: -4px;
  width: 8px;
  height: 4px;
  background: #fff;
  z-index: 0;
  top: 0;
  border-radius: 0 0 8px 8px;
}
 
.img .left::after{
  content: '';
  position: absolute;
  right: -4px;
  width: 8px;
  height: 4px;
  background: #fff;
  z-index: 0;
  bottom: 0;
  border-radius: 8px 8px 0 0;
}

.img .top{
  overflow: hidden;
}

.img .top .letext{
  font-size: 18px;
  display: inline-block;
  float: left;
  height: 63px;
  line-height: 63px;
}

.img .top .ritext{
  width: 110px;
  font-size: 16px;
  height: 63px;
  margin-left: 20px;
  display: table;
  float: left;
}

.img .top .ritext p{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.img .bottom{
  font-size: 15px;
}

.img .right{
  width: 40px;
  height: 100px;
  float: left;
}

#card_money2{
  font-size: 42px;
  font-weight: bolder;
}

.img2{
  width: 416px;
  height: 96px;
  background: url('/assets/common/img/discount.png') no-repeat;
  background-size: 100% 100%;
  padding-top: 15px;
  padding-left: 15px;
  color: #fff;
}

.img2 .top{
  overflow: hidden;
  display: inline-block;
}

.img2 .top .left {
  margin-left: 23px;
  margin-top:10px;
  font-size: 18px;
  float: left;
}

.img2 .top .left span {
  font-size: 42px;
  font-weight: bolder;
}
.img2 .top .right {
  float: left;
  margin-left: 16px;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
}

.img2 .top .right span{
  display: inline-block;
  white-space: normal;
  line-height: 20px;
  width: 82px;
}

.img2 .bottom{
  margin-top: 15px;
  margin-left:20px;
  word-spacing: 3px;
  display: inline-block;
}

.img2 .lingqu{
  float: right;
  font-weight: bolder;
  font-size: 23px;
  width: 67px;
  display: inline-block;  
  line-height: 32px;
  margin-right: 8px;
}

.pcmobileimg{
  padding-top: 10px !important; 
}

.pcmobileimg>span{
  color: black;
}

.img{
  margin: 10px 0;
}

.img2{
  margin-top: 10px;
}