
button{
  padding:0px;margin:0px;
}
.button-box{
  height: 35px; border-radius: 4px; font-size:13px; overflow: hidden;margin-bottom: 6px;float: left;
}
.button-box button{
  border:none; height: 35px;background-color:rgba(242,242,242,1);
  outline: none; text-align: center; width:80px;
}
.button{
  border:none; height: 35px;background-color:rgba(242,242,242,1);
  outline: none; text-align: center; width:80px;float: left;line-height: 35px; cursor: pointer;
}
.button:hover{
  opacity: 0.8
}
.button-box button:hover{
  opacity: 0.8
}
.button-active{
  background-color:rgba(0, 192, 239, 1) !important; color: white;
}
.fl{
  float:left;
}
.fr{
  float: right;
}
.bottom-border{
  border-bottom: 1px solid #f4f4f4;
}
.edit{
  color:orange; padding-right: 10px; cursor: pointer;
}
.details{
  color: green;padding-left: 10px; padding-right: 20px; cursor: pointer;
}

textarea{
  display: block;
}

#submit{
  width: 200px;
}

.modal-footer.submit{
  text-align: center;
}

.daterangepicker .calendar-time {
  display: none;
}