.about{
    padding-bottom: 120rpx;
}
.about .company-info{
    padding: 0 30rpx 30rpx;
    overflow: hidden;
}
.about .company-info .company-logo{
    width: 160rpx;
    height: 80rpx;
    float: left;
    margin-right: 20rpx;
    margin-top: 30rpx;
}
.about .company-info .company-logo image{
    width: 100%;
    height: 100%;
}
.ml96{
    margin-left: 176rpx;
}
.about .company-info .company-detail{
    padding-bottom: 40rpx;
    border-bottom: 2rpx solid #DEDEDE;
}
.about .company-info .company-detail .company-name{
    margin-top: 26rpx;
    line-height: 36rpx;
    font-size: 28rpx;
    color: #343434;
    font-weight: bold;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.about .company-info .company-bzj image{
    width: 165rpx;
    height: 36rpx;
    vertical-align: middle;
    margin-top:10rpx;
}
.about .company-info .haoping{
    display: flex;
    align-items: center;
    margin-top: 10rpx;
}
.haoping .star{
    display: flex;
    align-items: center;
}
.haoping .star image{
    display: block;
    width: 23rpx;
    height: 22rpx;
    margin-right: 2rpx;
}
.haoping text{
    font-size: 20rpx;
    color: #333;
    margin-left: 16rpx;
}
.about .common{
    overflow: hidden;
    padding: 30rpx;
    border-bottom: 20rpx solid #F7F7F7;
}
.about .common .common-tit{
    font-size: 36rpx;
    margin-bottom: 28rpx;
    padding-left: 14rpx;
    border-left: 8rpx solid #DC2C2C;
    line-height: 1;
    color: #343434;
    font-weight: bold;
}
.about .company-fuwu .fuwu-content .list {
    overflow: hidden;
    margin-bottom: 30rpx;
}
.about .company-fuwu .fuwu-content .list view{
    float: left;
}
.about .company-fuwu .fuwu-content .list view:first-child{
    font-size: 24rpx;
    color: #999999;

}
.about .company-fuwu .fuwu-content .list view:nth-child(2){
    width: 78%;
    font-size: 24rpx;
    color: #333;
}
.about .company-rongyu .imglist{
    height: 170rpx;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.about .company-rongyu .imglist image{
    width: 240rpx;
    height: 170rpx;
    margin-right: 14rpx;
    border-radius: 8rpx;
}
::-webkit-scrollbar {display:none}
.about .company-intro{
    border-bottom: none;
}
.about .company-intro .intro-content{
    font-size: 24rpx;
    color: #656565;
    line-height: 2;
    text-indent: 48rpx;
    word-break: break-all;
}