.search_div {
    position: relative;
    background:#fff;
    height: 50px;
}
.search_div .search-icon {
    display: block;
    width: 25px;
    height: 25px;
    background: url(/assets/mobile/common/img/search.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 12px;
    left: 20px;
}
.search_div input {
    margin-left: 15px;
    width: 80%;
    height: 30px;
    margin-top: 10px;
    background:rgba(242,242,242,1);
    border-radius: 15px;
    text-indent: 2.5em;
    outline: none;
    border: none;
}
.search_div .cancel {
    float: right;
    margin-right: 3%;
    margin-top: 15px;
    color: #FF5353;
}
.gbg {
    width: 100%;
    height: 10px;
    background:rgba(242,242,242,1);
}
.hot_history {
    padding-left: 15px;
    box-sizing: border-box;
}
.hot_history .h_title {
    color: #999;
    margin: 15px 0;
    position: relative;
}
.hot_history .h_title .trash-icon {
    display: block;
    width: 25px;
    height: 25px;
    background: url(/assets/mobile/common/img/trash.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 2%;
}
.hot_history .h_list {
    margin: 0.2rem 0;
}
.hot_history .h_list a {
    padding: 11px 13.5px;
    background: rgba(242,242,242,1);
    color: #333;
    margin-right: 0.18rem;
}
.history .history_ul {
    padding-right: 3%;
}
.history .history_ul li {
    min-height: 0.35rem;
    line-height: 0.35rem;
    color: #333;
    border-bottom:1px solid rgba(242,242,242,1);
}
.history .history_ul li:nth-child(n+11){
    display: none;
}
.mask {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.mask .del_box {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 160px;
    width: 270px;
    background: #fff;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    border-radius: 10px;
}
.mask .del_box .del_info {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #333;
    font-size: 17px;
}
.mask .del_box .cancel_sure div {
    border-top: 1px solid rgba(230,230,230,1);
    width: 134px;
    height: 59px;
    line-height: 59px;
    color: #FF5353;
    float: left;
    text-align: center;
}
.mask .del_box .cancel_sure .del_cancel {
    color: #999;
    border-right: 1px solid rgba(230,230,230,1);
}
/* ------------------ 搜索结果 ---------------- */
.search_main {
    /* display: none; */
}
.search_main .search_main_title {
    padding: 15px 15px 0;
    border-bottom: 1px solid rgba(230,230,230,1);
    box-sizing: border-box;
}
.search_main .search_main_title ul {
    /* display: flex; */
}
.search_main .search_main_title ul li {
    float: left;
    padding-bottom: 12px;
    margin-right: 5%;
    /* flex: 1; */
}
.search_main .search_main_title ul li.active {
    border-bottom: 3px solid #FF5353;
    color: #FF5353;
}
.search_main .search_main_list {
    padding: 15px 15px 0;
}
.search_main .search_main_list .list_title span {
    font-size: 17px;
}
.search_main .search_main_list .search_word {
    color: #FF5353;
}
.search_main .search_main_list a.more {
    color: #333;
    font-size: 13px;
    float: right;
}
.zx_ul .item {
    border-bottom: 1px solid rgba(230,230,230,1);
    padding: 0.1rem 0;
    height: 100%;
    box-sizing: border-box;
}
.zx_ul .item:nth-child(10n) {
    border-bottom: none;
}
.zx_ul .thumb-pic {
    float: left;
    width: 1rem;
    height: 0.73rem;
    margin-right: 0.1rem;
}
.zx_ul .thumb-pic img {
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
}
.zx_ul .item-main {
    float: left;
    width: calc(100% - 1.1rem);
    height: 100%;
    position: relative;
    min-height: 0.7rem;
}
.zx_ul .item-main .title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
}
.zx_ul .item-main .desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #808080;
    font-size: 12px;
    margin-bottom: 10px;
}
.zx_ul .item-main .action {
    font-size: 12px;
    color: #ccc;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.zx_ul .item-main .eye-time{
    float: right;
    margin-right: 3%;

}

.search_main_list .mt15 {
    margin-top: 15px;
}
.search_main_list .ul .zhuynr {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.search_main_list .zhuynr .imgs-box {
    width: 100%;
    height: 211px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}
.search_main_list .zhuynr .imgs-box img {
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
}
.search_main_list .zhuynr .wenzi {
    margin-top: 12px;
    color: #333;
}
.search_main_list .zhuynr .wenzi2 {
    color: #999;
    height: 45px;
    line-height: 45px;
}
.search_main_list .zhuynr .wenzi2 .xian {
    margin:0 8px;
    display:inline-block;
    text-align:center;
    width:15px;
}
.search_main_list .zhuynr .wenzi2 .rtsp {
    float:right;
}

.wenda-item {
    width: 100%;
    padding-top: .15rem;
    padding-bottom: .1rem;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
.wenda-item:nth-child(10n){
    border-bottom: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.item-content {
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
}
.oflow {
    overflow: hidden;
}
.wenda-item .item-top .user-img {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: .1rem;
}
.wenda-item .item-top .user-img img {
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
}
.wenda-item .item-top .user-name {
    line-height: .3rem;
    font-size: .14rem;
    color: #999;
}
.item-body {
    text-align: justify;
    font-size: .16rem;
    margin-top: .15rem;
}
.item-foot {
    color: #999;
    font-size: .14rem;
    line-height: .14rem;
    margin-top: .2rem;
    overflow: hidden;
}
.item-foot span a {
    color: #ff5659;
    font-size: .14rem;
    margin-right: .1rem;
    float: left;
}
.item-foot span i {
    color: #ff5659;
    float: left;
}
.item-foot span i.leixing {
    margin-right: 0.1rem;
}
.sm-line-y {
    width: 1px;
    height: .13rem;
    background-color: #b8b8b8;
    display: block;
    margin-right: 0.1rem;
}
.company_item {
    padding: 0.2rem 0;
    overflow: hidden;
    background: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
}
.company_item .tupiankz {
    height: 100%;
    float: left;
    vertical-align: middle;
    display: flex;
    flex: 1;
}
.company_item .tupiankz img {
    width: 1.1rem;
    height: 0.95rem;
    vertical-align: middle;
    display: inline-block;
    background: #ccc;
}
.company_item .wenzims {
    overflow: hidden;
    float: left;
    margin-left: 0.1rem;
    width: calc(100% - 1.2rem);
    height: 100%;
    display: flex;
    flex: 2;
}
.company_item .wenzims a {
    width: 100%;
}
.company_item .wenzims .title_bt {
    color: #333;
    font-size: 0.16rem;
    float: left;
    height: 20px;
    margin-right: 5px;
}
.comments {
    line-height: 25px;
    margin-top: 10px;
}
.comments p.stars {
    margin-right: 2px;
}
.comments p .star {
    display: inline-block;
    width: 13px;
    height: 13px;
    text-align: center;
    margin-right: 2px;
    line-height: 13px;
    background: url(/assets/mobile/company/img/star.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100% 100%;
}
.slogan {
    margin: 5px 0;
}
.slogan p {
    width: 100%;
    height: 24px;
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153,153,153,1);
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cases span {
    display: inline-block;
    height: 18px;
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 400;
    background: rgba(255,227,227,1);
    border-radius: 4px;
    color: rgba(255,43,43,1);
    line-height: 18px;
    padding: 2px 3px;
    margin-right: 1px;
    margin-top: 3px;
}
/* -------------- 无数据显示 -------------- */
.nodata {
    padding-top: 0.25rem;
}
.nodata .img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.nodata .img img {
    display: block;
    width: 100%;
    height: 100%;
}
.nodata .zanwu {
    text-align: center;
    color: #ccc;
    font-size: 12px;
    margin-bottom: 0.4rem;
}
.getMore {
    font-size: 13px;
    color: #FF5353;
    text-align: center;
    padding: 25px;
    margin: 0;
    border: 0;
    width: 100%;
    display: block;
    text-align: center;
    background: inherit;
    outline: none;
}

.search_main .list_title {display: none}
.all_search_main .list_title {display: block}
.all_search_main .getMore{display: none;}