.t-box table {
  margin-left: 30px;
  width: 98%;
  position: relative;
}
.t-box table tfoot {
  background: #eee;
}
.daochu {
  float: right;
}
.jisuan {
  text-align: right;
  padding-right: 2%;
  margin-bottom: 10px;
}
.list-form {
  padding-bottom: 50px;
}
.scroll-y {
  width: 99%;
  height: 700px;
  overflow-y: auto;
}
.shuoming {
  padding-left: 20px;
}
table.dataTable {
  margin-top: 0!important;
}