#searchform .col-xs-3{
    padding-right: 0;
}
#searchform .start-time{
    margin-right: 10px;
}
.start-time,.end-time{
    display: inline-block;
    width:48%;
}
.form-btn{
    float: right;
}
.form-btn button{
    width:80px;
    height: 34px;
    border:none;
    outline: none;
    border-radius: 5px;
    margin-top: 18px;
}
.form-btn .search{
    background:#008d4c;
    color: #fff;
}
.ploicy-tips{
    color:red;
    font-size: 12px;
    margin:15px 0;
}
.shenhebtn{
    cursor: pointer;
    color:#3c8dbc;
}