.policyup_bg{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 10000;
}
.policyup-content{
    width: 70%;
    min-height: 560px;
    background: #fff;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 15px;
}
.policyup-content .content-top{
    height: 40px;
    line-height: 40px;
    position: relative;
}
.content-top span{
    display: inline-block;
}
.policy-detail{
    font-size: 18px;
}
.close-policyup{
    display: block;
    position: absolute;
    font-size:36px;
    font-weight: bold;
    right: 0;
    top: -15px;
    cursor: pointer;
}
.content-box{
    overflow: hidden;
}
.policyup-content .content-left,.policyup-content .content-right{
    width:50%;
    float: left;
    height: 100%;
}
.policyup-content .content-left{
    border-right: 1px dashed #ccc;
}
.content-left>div,.content-right>div{
    overflow: hidden;
}
.content-box label{
    width:120px;
    text-align: right;
}
.content-left .special{
    float: left;
}
.content-left .textarea{
    width:70%;
    float: left;
    margin-left: 5px;
}
.right-sh label.sh1{
    font-weight: normal;
    text-align: left;
    width:80px;
}
.right-sh input{
    position: relative;
    top:3px;
}
.content-right>div{
    margin-bottom: 15px;
}
.unpass-reason{
    width: 75%;
    margin: 15px 0;
    margin-left: 125px;
}
.window-btn{
    text-align: center;
}
.window-btn button{
    width:100px;
    height: 40px;
    outline: none;
    border-radius:8px;
    border: 1px solid #ccc;
}
.window-btn .close-window{
    background: none;
    margin-right: 15px;
}
.hetong-img img{
    display: inline-block;
    width:120px;
    margin-right: 2px;
    cursor: pointer;
}
.hetong-img .img-box{
    width:120px;
    float:left;
    margin-right: 15px;
}
.img-box .img-position{
    position: relative;
    margin-bottom: 8px;
}
.img-position span{
    position: absolute;
    bottom:5px;
    right:5px;
    padding:4px 8px;
    background: rgba(0,0,0,0.6);
    color:#fff;
    border-radius:12px;
}
.layui-layer-shade{
    opacity: 0.5!important;
}