.fl{
    float: left;
}

.hidden {
    display: none;
}

/*加款弹窗 S*/
.recharge_details{
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
    padding:15px 0;
}
.recharge_details .recharge-tab ul li{
    display: inline-block;
    padding:8px 10px;
    margin-right: 15px;
    border:1px solid #cccc;
    border-radius:5px;
    cursor: pointer;
}
.recharge_details .recharge-tab ul li.active{
    background: #e6f5ff;
    color:#0099ff;
    border:1px solid #0099ff;
}
.recharge_details .recharge-tab ul li:hover{
    background: #e6f5ff;
    color:#0099ff;
    border:1px solid #0099ff;
}
.recharge_details .tablist-detail .common-list{
    margin-top:15px;
}
.recharge_details .tablist-detail .common-list label{
    display: inline-block;
    width:80px;
    text-align: right;
    height: 34px;
    line-height: 34px;
    margin-bottom: 0;
    font-weight: normal;
}
.recharge_details .tablist-detail .common-list span{
    display: inline-block;
    height: 34px;
    line-height: 34px;
}
.recharge_details .tablist-detail .common-list .form-control{
    width:35%;
    display: inline-block;
    border-radius:5px;
    margin-right: 15px;
}
.recharge_details .tablist-detail .common-list textarea{
    width:82%;
}
.recharge_details .common-total{
    text-align: right;
    margin: 15px 22px 10px;
    font-size: 16px;
}
.recharge_details .common-total .jine-color{
    color:red
}

.recharge_details .tablist-detail .common-list .trade_label {
    width: auto;
    margin-right: 10px;
}
.recharge_details .tablist-detail .common-list input {
    position: relative;
    top: 2px;
}

.account-btn{
    text-align: right;
    margin-top:15px;
}
.account-btn .btn{
    width:80px;
    height: 34px;
    border-radius:5px;
    outline: none;
}
.account-btn .btn_recharge{
    background: #23c0fa;
    border:1px solid #23c0fa;
    color:#fff;
}
.account-btn .btn_cancel{
    background: none;
    border:1px solid #ccc;
    color:#333;
    margin-right: 15px;
}
.rechargetable2,.rechargetable3{
    display: none;
}
.rechargetable3{
    margin-bottom: 100px;
}
/*加款弹窗 E*/


/*扣款弹窗 S*/
.deduction-top span{
    display: inline-block;
    width:49%;
}
.deduction-top span label{
    color:red;
}
.deduction_details{
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
    padding:15px 0;
}
.deduction_details .deduction-tab ul li{
    display: inline-block;
    padding:8px 10px;
    margin-right: 15px;
    border:1px solid #cccc;
    border-radius:5px;
    cursor: pointer;
}
.deduction_details .deduction-tab ul li.active{
    background: #e6f5ff;
    color:#0099ff;
    border:1px solid #0099ff;
}
.deduction_details .deduction-tab ul li:hover{
    background: #e6f5ff;
    color:#0099ff;
    border:1px solid #0099ff;
}
.deduction_details .tablist-detail .common-list{
    margin-top:15px;
}
.deduction_details .tablist-detail .common-list label{
    display: inline-block;
    width:80px;
    text-align: right;
    height: 34px;
    line-height: 34px;
    margin-bottom: 0;
    font-weight: normal;
}
#koukuan1,#koukuan2,#koukuan3{
    position: relative;
    top:1px;
}
.deduction_details .tablist-detail .common-list label.deduction_reason{
    width: initial;
    text-align: right;
    margin-right: 15px;
}
.deduction_details .tablist-detail .common-list .form-control{
    width:35%;
    display: inline-block;
    border-radius:5px;
    margin-right: 15px;
}
.deduction_details .tablist-detail .common-list textarea{
    width:82%;
}
.deductiontable2{
    display: none;
}
.account-btn .btn_deduction{
    background: #23c0fa;
    border:1px solid #23c0fa;
    color:#fff;
}

/*扣款弹窗 E*/
.modal-dialog{
    margin: 200px auto !important;
}
.liner{
    line-height: 30px;
    text-align: center;
}
.layui-layer-title{
    font-size: 16px !important;
}
.layui-layer-btn .layui-layer-btn0{
    float: right !important;
}