
.operate{
    /*font-size: 14px;*/
    /*line-height: 40px;*/
    display: inline-block;
    padding: 0 5px;
}
.p_domask {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2000;
}
.p_domask .my-dialog{
    width: 50%;
    position: fixed;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.btn-sh{
    height: 50px;
    margin-left: 100px;
    color: #fff;
    background: rgba(16, 142, 233, 1);
}
.btn-sh:hover,.btn-sh:active{
    height: 50px;
    margin-left: 100px;
    color: #fff;
    background: rgba(16, 142, 233, 1);
}


#tablelist tr td.order-num {
    color: #3c8dbc;
}
.modal-header .logo {
    position: relative;
}
.modal-header .logo img {
    margin-right: 10px;
}
.modal-header .logo .order-text {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 30px;
}
.modal-header .close {
    margin-top: -60px;
    font-size: 30px;
}
.modal-body .group {
    height: 40px;
}
.modal-body .group .w50 {
    float: left;
    width: 50%;
}
.modal-body .group .w50 span {
    display: inline-block;
    width: 70px;
    text-align: right;
}
.modal-body .group .w50 input {
    width: 170px;
    height: 28px;
    padding-left: 5px;
}
.modal-body .group .w50.yusuan {
    position: relative;
    z-index: 1;
}
.modal-body .group .w50 input.fabu-time {
    color: green;
}
.modal-body .group .w50 input.order-status {
    color: #FF0000;
}
.modal-body .desc {
    margin-bottom: 10px;
}
.modal-body .desc span {
    float: left;
}
.modal-body .desc textarea {
    float: left;
    width: 78.5%;
    margin-left: 5px;
}
.modal-body .status {
    position: absolute;
    bottom: 5px;
    right: 40px;
    width: 330px;
    height: 325px;
}
.modal-body .status img {
    display: block;
    width: 100%;
    height: 100%;
}

.modal-body:after{clear: both; display: block; content: ""}
#tablelist tr td{
    vertical-align: middle;
}

.company_form input {
    margin-top: 3px;
}

.company_form label {
    line-height: 18px;
}

.company_form .company_tag {
    margin-top: 0;
    color: #367fa9;
}

.company_form .status_name {
    margin-top: 0;
    color: #FF6868;
}

a.fa-info-circle {
    color: inherit;
    font-size: 16px;
    position:relative;
    top: 3px;
}
/*1089新增*/
.ol-tab-list{
    margin: 20px 10px;
    border-bottom: 1px solid #e6e6e6;
}
.ol-tab-list li{
    width: 110px;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.ol-tab-list .ol-tab-active{
    color: #02A7F0;
    border-bottom: 2px solid #02A7F0;
}
/* 升序降序样式 */
.wzd_orrder:hover,
.wzd_orrder2:hover{
    cursor: pointer;
}
.wzd_orrder span i,
.wzd_orrder2 span i{
    font-size: 12px;
    color: #ccc;
}
.order-nums a{
    display: inline-block;
    margin-right: 30px;
    border: 1px solid #D9D9D9;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-nums a .name{
    width: 134px;
    float: left;
    background: #D9D9D9;
    color: #169BD5;
    padding: 10px;
    box-sizing: border-box;
}
.order-nums a .num{
    float: left;
    width: auto;
    color: #F7436D;
    padding: 10px;
    box-sizing: border-box;
}