<!doctype html>
<html lang="en">
<head>
    <title>{$keys.title}-{$title}</title>
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{$alternate}">
    <meta name="keywords" content="{$keys.keywords}"/>
    <meta name="description" content="{$keys.description}"/>
    <meta property="og:image" content="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$articleInfo.article.now.face}"/>
    <notempty name="articleInfo.canonical">
        <link rel="canonical" href="{$articleInfo.canonical}"/>
    </notempty>
    <meta name="mobile-agent"
          content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/gonglue/{$articleInfo.article.now.shortname}/{$articleInfo.article.now.id}.html"/>
    <include file="Index:resource_509"/>
    <link rel="stylesheet" href="{$static_host}/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/assets/home/article/css/default.css?v={:C('STATIC_VERSION')}"/>
</head>
<body>
<include file="Index:header_509"/>
<div class="wrap">
    <!-- 面包屑导航 -->
    <div class="bread">
        <div class="b-tltle">当前位置：</div>
        <div class="b-place">
            <a href="/">{$cityInfo.name}装修</a> > <a href="/zxinfo/">装修资讯</a> > <a href="/zxinfo/{$articleInfo.article.now.shortname}/">{$articleInfo.article.now.classname}</a> > 正文
        </div>
    </div>
    <div class="all-body">
        <div class="atl-body">
            <!-- 中间部分模块 -->
            <div class="atl-left">
                <div class="banner">
                    <a class="b-item" href="/zxbj/">
                        <div class="name">我家装修需要多少钱？</div>
                        <img alt="" src="/assets/home/article/images/artone.png?v={:C('STATIC_VERSION')}">
                    </a>
                    <a class="b-item" href="javascript:void(0);">
                        <div class="name">
                            {:C('APP_OPEN_TITLE')}了解装
                        </div>
                        <img alt="" src="/assets/home/article/images/arttwo.png?v={:C('STATIC_VERSION')}">
                    </a>
                    <a class="b-item last-jiri" href="/hl/">
                        <div class="name">开工吉日你知道吗？
                        </div>
                        <img alt="" src="/assets/home/article/images/artthree.png?v={:C('STATIC_VERSION')}">
                    </a>
                </div>
                <div class="artmain atl-main">
                    <h1 class="art-title">{$articleInfo.article.now.title}</h1>
                    <div class="art-time  gl_tm">
                        <div class="t-left">
                            <div class="time">{$articleInfo.article.now.addtime|date="Y-m-d H:i:s",###}</div>
                            <div class="com">来源：齐装网</div>
                        </div>
                        <div class="text-right gl_d">
                            <div class="collect">
                                <if condition="$Think.session.u_userInfo.classid NEQ 3">
                                    <if condition="$articleInfo['collect']">
                                        <img class="gl_sc active" data-on="1"
                                             src="/assets/home/article/images/artsc_active.png" alt="">
                                        <span>收藏</span>
                                        <else/>
                                        <img class="gl_sc" data-on="0" src="/assets/home/article/images/artsc.png"
                                             alt="">
                                        <span>收藏</span>
                                    </if>
                                </if>
                            </div>
                            <div class="gl_xh collect" data-id="{$articleInfo.article.now.id}">
                                <img class="imgon" style="display: block"
                                     src="/assets/home/article/images/artshou.png" alt="">
                                <img class="imgoff" style="display: none"
                                     src="/assets/home/article/images/artshou_active.png" alt="">
                                <em>{$articleInfo.article.now.likes}</em>
                            </div>
                            <div class="collect">
                                <img src="/assets/home/article/images/artyan.png" alt="">
                                <span>{$articleInfo.article.now.pv}</span>
                            </div>
                        </div>
                    </div>
                    <div class="gl_works">
                        <div class="works_p">
                            {$articleInfo.article.now.content}
                        </div>
                    </div>
                    <div class="art-sheji">
                        <div class="tab">
                            <div>想要获取专业设计师免费量房设计？</div>
                            <img src="/assets/home/article/images/artyj.png" alt="">
                            <a href="/zhaobiao/">点我</a>
                        </div>
                        <div class="shen">
                            声明：所有来源为“齐装网”的内容信息，未经本网许可，不得转载！本网转载的其他文字、图片、音视频等信息，内容均来源于网
                            络，并不代表本网观点，其版权归原作者所有，如果您发现本网转载信息侵害了您的权益，请与我们联系，我们将及时核实处理。
                        </div>
                        <div class="tips">
                            文章标签：
                            <volist name="keywords" id="vo">
                                <a href="/zhishi/{$vo.id}/" target="_blank">{$vo.name}</a>
                            </volist>
                        </div>
                    </div>
                </div>
                <div class="gonglue">
                    <div class="g-title">
                        <div class="title">相关攻略</div>
                        <a href="/gonglue/{$cate.parent.shortname}/" class="more">
                            <span>更多</span>
                            <img src="/assets/home/article/images/artRight.png" alt="">
                        </a>
                    </div>
                    <div class="g-con">
                        <volist name="articleInfo.about" id="vo">
                            <div href="/gonglue/{$vo.shortname}/{$vo.id}.html" class="citem">
                                <img class="c-img"
                                     src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$vo.face}" alt="{$vo.title}">
                                <a href="/gonglue/{$vo.shortname}/{$vo.id}.html" class="c-main">
                                    <div class="m-title">
                                        {$vo.title}
                                    </div>
                                    <div class="m-guild">
                                        <span>了解详情</span>
                                        <img src="/assets/home/article/images/artzxy.png?v={:C('STATIC_VERSION')}"
                                             alt="">
                                    </div>
                                </a>
                            </div>
                        </volist>
                    </div>
                </div>
                <div class="guanggao">
                    <a rel="nofollow" href="/zhaobiao/" target="_blank">
                        <img src="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/assets/home/zixun/img/hf3.png" alt="招标与设计"
                             class="baiduab-beha">
                    </a>
                </div>
                <if condition="count($articleInfo['recommendArticles']) GT 1">
                <div class="morepeo">
                    <div class="g-title">
                        <div class="title">90%的人还看了</div>
                    </div>
                    <div class="atl-other m-con">
                        <div class="atl-other-box">
                            <volist name="articleInfo.recommendArticles" id="vi">
                                <div class="atl-other-item">
                                    <div class="other-item-img">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html" title="{$vi.title}">
                                            <img alt="{$vi.title}" src="{$vi.face}-w240.jpg" class="baiduab-beha">
                                        </a>
                                    </div>
                                    <div class="other-item-main">
                                        <p class="other-item-tit">
                                            <a target="_blank" title="{$vi.title}" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html">
                                                {$vi['title']}
                                            </a>
                                        </p>
                                        <p class="other-item-info">{:mbstr(mytrim($vi['description']),0,75)}</p>
                                        <div class="other-item-ref r-icon">
                                            <div class="see">
                                                <img src="/assets/home/article/images/artyan.png?v={:C('STATIC_VERSION')}"
                                                     alt="">
                                                <span class="poiner">{$vi.pv}</span>
                                            </div>
                                            <span class="time">{$vi.addtime|date="Y-m-d",###}</span>
                                        </div>
                                    </div>
                                </div>
                                <if condition="$key eq 0">
                                    <div class="atl-other-item" id="to-baojia">
                                        <div class="other-item-img">
                                            <img alt="报价发单" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20180327/Fip5sNLwG0aG9vWR2v-H153PfTXu.png" class="to-baojia baiduab-beha" style="cursor:pointer;">
                                        </div>
                                        <div class="other-item-main">
                                            <p class="other-item-tit">
                                                <a class="to-baojia" href="javascript:void(0);" title="一名业主晒出的记手账,详细记录各项装修费用,原来能省这么多钱">
                                                    一名业主晒出的记手账,详细记录各项装修费用,原来能省这么多钱
                                                </a>
                                            </p>
                                            <p class="other-item-info"></p>
                                            <div class="other-item-ref r-icon">
                                                <div class="see">
                                                    <img src="/assets/home/article/images/artyan.png?v={:C('STATIC_VERSION')}"
                                                         alt="">
                                                    <span class="poiner">3580</span>
                                                </div>
                                                <span class="time"></span>
                                            </div>
                                        </div>
                                    </div>
                                </if>
                                <if condition="$key eq 1">
                                    <div class="atl-other-item" id="to-design">
                                        <div class="other-item-img">
                                            <img alt="设计发单" src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/file/20180327/FgXi8ONzH8AeQXqYUnwDMVs1jzmN.png" class="to-design baiduab-beha" style="cursor:pointer;">
                                        </div>
                                        <div class="other-item-main">
                                            <p class="other-item-tit">
                                                <a class="to-design" href="javascript:void(0);" title="天呐,4套装修效果图册、设计方案免费拿,欲领从速">
                                                    天呐,4套装修效果图册、设计方案免费拿,欲领从速
                                                </a>
                                            </p>
                                            <p class="other-item-info"></p>
                                            <div class="other-item-ref r-icon">
                                                <div class="see">
                                                    <img src="/assets/home/article/images/artyan.png?v={:C('STATIC_VERSION')}"
                                                         alt="">
                                                    <span class="poiner">2988</span>
                                                </div>
                                                <span class="time"></span>
                                            </div>
                                        </div>
                                    </div>
                                </if>
                            </volist>
                        </div>
                    </div>
                </div>
                </if>
                <div class="guanggao">
                    <a rel="nofollow" href="/zhaobiao/" target="_blank">
                        <img src="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/assets/home/zixun/img/hf3.png" alt="招标与设计"
                             class="baiduab-beha">
                    </a>
                </div>
            </div>
            <!-- 右边部分模块 -->
            <div class="atl-right">
                <div class="headline">
                    <h1 class="h-title">装修省钱窍门装修省钱</h1>
                </div>
                <div class="koubei quest">
                    <div class="right-tit header">装修公司口碑榜</div>
                    <ul class="rank_credit">
                        <volist name="recomcompany" id="v">
                            <li >
                                <span class="paihang" style="display: block;float:left;width:16px;height:47px;line-height:47px;font-size:20px;color:#bbb;">{$i}</span>
                                <a href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/company_home/{$v.id}/" target="_blank"  class="logo"><img src="<if condition="$v['logo'] NEQ ''">{$v.logo}<else/>http://{:C('QINIU_DOMAIN')}/{:OP('DEFAULT_COMPANY_LOGO')}</if>" alt="{$v.jc}" width="84" height="42" class="lazy1" title="{$v.jc}"></a>
                                <div class="box">
                                    <a href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/company_home/{$v.id}/" target="_blank" title="{$v.jc}">{$v.jc}</a>
                                    <p><span class="scroe">综合评分：10分</span></p>
                                </div>
                            </li>
                        </volist>
                    </ul>
                </div>
                <div class="quest">
                    <div class="header">
                        <div>大家都在问</div>
                        <a href="/wenda/" class="more">
                            <span>更多</span>
                            <img src="/assets/home/article/images/artRight.png" alt="">
                        </a>
                    </div>
                    <volist name="info.ask" id="ask">
                        <div class="h-item">
                            <a href="/wenda/x{$ask.id}.html" class="i-left">{$ask.title}</a>
                            <div class="i-right">{$ask.anwsers}个回答</div>
                        </div>
                    </volist>
                </div>
                <div class="atl-new">
                    <div class="atl-new-head"><p>新文章</p></div>
                    <div class="atl-new-list">
                        <volist name="articleInfo.newarticles" id="vi">
                            <eq name='key' value='0'>
                                <div class="atl-new-item">
                                    <div class="mark actived"><span class="fa fa-bookmark"><i>{$key+1}</i></span></div>
                                    <div class="new-item-long hide"><p>{$vi.title|mbstr=0,14}</p></div>
                                    <div class="atl-new-img current">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html"  title="{$vi.title}">
                                            <img src="{$vi.face}-w240.jpg" alt="{$vi.title}" class="baiduab-beha">
                                        </a>
                                    </div>
                                    <div class="atl-new-main current">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html"title="{$vi.title}">
                                            {$vi.title|mbstr=0,8}
                                        </a>
                                        <div class="atl-new-info">
                                            <p title="{$vi.subtitle}">
                                                {:mbstr(mytrim($vi['description']),0,17)}
                                                <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html" rel="nofollow">[详细]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <else />
                                <div class="atl-new-item">
                                    <div class="mark"><span class="fa fa-bookmark"><i>{$key+1}</i></span></div>
                                    <div class="new-item-long"><p>{$vi.title|mbstr=0,16}</p></div>
                                    <div class="atl-new-img">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html" title="{$vi.title}">
                                            <img src="{$vi.face}-w240.jpg" alt="" class="baiduab-beha">
                                        </a>
                                    </div>
                                    <div class="atl-new-main">
                                        <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html" title="{$vi.title}">
                                            {$vi.title|mbstr=0,8}
                                        </a>
                                        <div class="atl-new-info">
                                            <p title="{$vi.subtitle}">
                                                {:mbstr(mytrim($vi['description']),0,17)}
                                                <a target="_blank" href="{$SCHEME_HOST.scheme_full}{$cityInfo.bm}.{$SCHEME_HOST.domain}/zxinfo/{$vi.id}.html"  rel="nofollow">[详细]</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </eq>
                        </volist>
                    </div>
                </div>
                <div class="bjia">
                    <div class="bj_img">
                        <img class="banner" src="/assets/home/article/images/artbjia.png?v={:C('STATIC_VERSION')}"
                             alt="">
                        <p>我家装修要花多少钱？</p>
                        <div class="b-tit">
                            <span>一</span>
                            <span>挤干水分 报价更准确</span>
                            <span>一</span>
                        </div>
                    </div>
                    <form class="order-box validate">
                        <div class="box-line">
                            <select class="edit-city mr5" id="y_cs"></select><i class="angle-down angle-down1"></i>
                            <select class="edit-quyu" id="y_qy">
                                <option value="">请选择</option>
                            </select><i class="angle-down angle-down2"></i>
                            <div class="b-warn city-warn"></div>
                        </div>
                        <div class="box-line">
                            <input class="edit-text" type="text" name="name" placeholder="怎么称呼您" maxlength="10"
                                   autocomplete="off">
                            <div class="b-warn name-warn"></div>
                        </div>
                        <div class="box-line">
                            <input class="edit-text" type="text" name="tel" placeholder="输入手机号立即获取四套设计报价方案"
                                   maxlength="11" id="tel" autocomplete="off">
                            <div class="b-warn tel-warn"></div>
                        </div>
                        <!--S-免责声明-->
                        <div class="disclamer-line">
                            <span class="disclamer-check pull-left" data-checked="true"><i class="fa fa-check"></i></span>
                            <span class="disclamer-text pull-left">我已阅读并同意齐装网的</span>
                            <a href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/about/disclamer"
                               target="_blank" class="pull-left"><span>《免责声明》</span></a>
                        </div>
                    </form>
                    <button class="box-line" id="btnSave" type="button">立即获取</button>
                </div>
                <div class="activity-box quest">
                    <div class="activity-head header">苏州装修公司活跃榜</div>
                    <div>
                        <volist name="activitycompanylist" id="vo">
                            <div class="activity-list">
                                <if condition="$key eq 0">
                                    <span class="activity-list-first">{$key+1}</span>
                                    <elseif condition="$key eq 1"/>
                                    <span class="activity-list-second">{$key+1}</span>
                                    <elseif condition="$key eq 2"/>
                                    <span class="activity-list-third">{$key+1}</span>
                                    <else/>
                                    <span class="activity-list-normal">{$key+1}</span>
                                </if>
                                <span><a href="//{$vo.bm}.{:C('QZ_YUMING')}/company_home/{$vo.company_id}/" target="_blank">{$vo.jc}</a></span>
                            </div>
                        </volist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="article-hover-box">
    <!-- 左边触摸模块 -->
    <div class="article-hover_nav">
        <div class="box box1  gl_sc" data-id="1"><img src="/assets/home/article/img/shoucang.png" alt=""></div>
        <div class="box box2" data-id="2"><img src="/assets/home/article/img/fenxiang.png" alt=""></div>
        <div class="box box3" data-id="3"><img src="/assets/home/article/img/shouji.png" alt=""></div>
        <div class="box box4" data-id="4"><img src="/assets/home/article/img/qrcode.png" alt=""></div>
    </div>
    <!-- 滑动的div -->
    <div class="article-animate">
        <div class="box_div1" data-id="{$articleInfo.article.now.id}">收藏</div>
        <div class="box_div2 bdsharebuttonbox gl_fx bdshare-button-style0-16">
            <img src="/assets/home/article/img/weixin.png" alt="" class="bds_weixin" data-cmd="weixin">
            <img src="/assets/home/article/img/weibo.png" alt="" class="bds_tsina" data-cmd="tsina">
            <img src="/assets/home/article/img/QQkongjian.png" alt="" class="bds_qzone" data-cmd="qzone"></br>
            <span>微信</span>
            <span>微博</span>
            <span style="margin-left:25px">QQ</span>
        </div>
        <div class="box_div3">
            <img data-on="false" id="weixinerweima1" src="" alt="文章微信二维码" class="baiduab-beha">
            <p>手机<span style="color:#FF5353 ;">扫一扫</span> 微信看文本</p>
            <p style="color:#333 ;">更多装修流程、装修分水</p>
            <p style="color:#333 ;">及时看</p>
        </div>
        <div class="box_div4">
            <div>
                <img src="/assets/common/image/qrcode/app-qz-yyb.png" alt="">
                <p style="color: #FF5353;">{:C('APP_OPEN_TITLE')}</p>
                <p style="color: #333; ">有房要装,就上齐装!</p>
            </div>
            <div>
                <img src="/assets/home/article/img/qizhuangApp.png" alt="">
                <p style="color: #FF5353;">关注小程序</p>
                <p style="color: #333;">更多装修攻略</p>
                <p style="color: #333;">扫码获知</p>
            </div>
            <div>
                <img src="/assets/home/article/img/wxgzh.jpg" alt="">
                <p style="color: #FF5353;">关注微信</p>
                <p style="color: #333;">10000套效果图抢先看</p>
            </div>
        </div>
    </div>
</div>
<include file="Index:footer_509"/>
</body>
<script type="text/javascript" src="{$static_host}/assets/common/js/countUp.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript" src="{$static_host}/assets/common/js/alert.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript"
        src="{$static_host}/assets/common/js/initcomment.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    $(function () {
        //  装修手册
        $('.shoufengq .defaicon').first().addClass('iconbj');
        $('.shoufengq li .lititle').eq($('.shoufengq li .lititle').length - 1).css('border', "none")
        $('.shoufengq li .lititle').click(function (event) {
            var that = this;
            if ($(this).next(".zhanshishow").hasClass('xianshi')) {
                $(this).children('.defaicon').removeClass('iconbj')

                $(this).next(".zhanshishow").stop().animate({height: "hide"}, 500, function () {
                    $(that).next(".zhanshishow").removeClass('xianshi');
                });

            } else {

                $(this).children('.defaicon').addClass('iconbj')
                $(this).siblings().find(".defaicon").removeClass('iconbj');

                $(this).next(".zhanshishow").stop().animate({height: "show"}, 500);
                $(this).next(".zhanshishow").siblings(".zhanshishow").hide();

                $(this).next(".zhanshishow").addClass('xianshi');
                $(this).next(".zhanshishow").siblings(".zhanshishow").removeClass('xianshi');


                $(this).parent().removeClass('heightauto');
                $(this).parent().siblings().addClass("heightauto");
            }
        });

        //默认选中效果
        $(".article_menu_box li:eq(0)").addClass('head-active');
        $(".gray-back .back_item:eq(0)").addClass('item_active');
        $(".sub_tag").on('mouseover', function () {
            $(this).attr('style', 'color:#ff5353 !important;');
        }).on('mouseout', function () {
            $(this).attr('style', 'color:#333 !important;');
        })
    });
    $(".box").mouseover(function () {
        var id = $(this).attr("data-id");
        if (id == 1) {
            $(".box_div1").stop().animate({'left': -1, 'top': 0}, 200);
        } else if (id == 2) {
            $(".box_div2").stop().animate({'left': -1, 'top': 51}, 200);
        } else if (id == 3) {
            $(".box_div3").stop().animate({'left': 0, 'top': 102}, 200);

            var on = $("#weixinerweima1").attr('data-on');
            if (on == 'false') {
                $.ajax({
                    url: '/article/getwwwarticleerweima/',
                    type: 'GET',
                    dataType: 'JSON',
                    data: {
                        id: '{$articleInfo.article.now.id}',
                    }
                })
                    .done(function (data) {
                        console.log('data', data);
                        $("#weixinerweima1").attr('data-on', 'true');
                        if (data.status == 1) {
                            $("#weixinerweima1").attr('src', data.data);
                        } else {
                            $("#weixinerweima1").attr('src', "{:OP('WX_CONFIG_ZGZX_ERWEIMA')}");
                        }
                    })
                    .fail(function (xhr) {
                        $("#weixinerweima1").attr('data-on', 'true');
                        $("#weixinerweima1").attr('src', "{:OP('WX_CONFIG_ZGZX_ERWEIMA')}");
                    });
            }
            ;
        } else if (id == 4) {
            $(".box_div4").stop().animate({'left': 0, 'top': 0}, 200);
        }
    })
    $(".box").mouseout(function () {
        var id = $(this).attr("data-id");
        if (id == 1) {
            $(".box_div1").stop().animate({'left': -88, 'top': 0}, 200);
        } else if (id == 2) {
            $(".box_div2").stop().animate({'left': -168, 'top': 51}, 200);
        } else if (id == 3) {
            $(".box_div3").stop().animate({'left': -189, 'top': 102}, 200);
        } else if (id == 4) {
            $(".box_div4").stop().animate({'left': -121, 'top': 0}, 200);
        }
    })
    $('.article-animate .box_div1').mouseover(function () {
        $(".box_div1").stop().css({'left': -1, 'top': 0});
    })
    $('.article-animate .box_div1').mouseout(function () {
        $(".box_div1").stop().animate({'left': -88, 'top': 0}, 200);
    })
    $('.article-animate .box_div2').mouseover(function () {
        $(".box_div2").stop().css({'left': -1, 'top': 51});
    })
    $('.article-animate .box_div2').mouseout(function () {
        $(".box_div2").stop().animate({'left': -168, 'top': 51}, 200);
    })
    $('.article-animate .box_div3').mouseover(function () {
        $(".box_div3").stop().css({'left': 0, 'top': 102});
    })
    $('.article-animate .box_div3').mouseout(function () {
        $(".box_div3").stop().animate({'left': -189, 'top': 102}, 200);
    })
    $('.article-animate .box_div4').mouseover(function () {
        $(".box_div4").stop().css({'left': 0, 'top': 0});
    })
    $('.article-animate .box_div4').mouseout(function () {
        $(".box_div4").stop().animate({'left': -121, 'top': 0}, 200);
    })
    //点赞
    $(".gl_xh, .article-animate .box_div1").click(function (event) {
        var _this = $(this);
        $.ajax({
            url: '/dolike/',
            type: 'POST',
            dataType: 'JSON',
            data: {
                id: _this.attr("data-id")
            }
        })
            .done(function (data) {
                if (data.status == 1) {
                    if (_this.hasClass('box_div1')) {
                        _this.text('已收藏')
                        return
                    }
                    $(".collect> .imgon").hide()
                    $(".collect> .imgoff").show()
                    _this.unbind("click");
                    var i = _this.find("em").text();
                    i = parseInt(i) + 1;
                    _this.find("em").html(i);
                }
            });
    });
    // 最新文章
    $('.atl-new-item').each(function (index, el) {
        $(el).on('mouseenter', function () {
            $(this).find('.mark').addClass('actived');
            $(this).find('.new-item-long').addClass('hide');
            $(this).find('.atl-new-img').addClass('current');
            $(this).find('.atl-new-main').addClass('current');
            $(this).siblings().find('.mark').removeClass('actived');
            $(this).siblings().find('.new-item-long').removeClass('hide');
            $(this).siblings().find('.atl-new-img').removeClass('current');
            $(this).siblings().find('.atl-new-main').removeClass('current');
        });
    });
</script>
<!--收藏文章-->
<if condition="!session('u_userInfo')">
    <script type="text/javascript">
        $(".gl_sc").click(function (event) {
            $.ajax({
                url: '/login/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    ssid: "{$ssid}"
                }
            })
                .done(function (data) {
                    if (data.status == 1) {
                        window.location.href="{$SCHEME_HOST.scheme_full}{:C('QZ_PASSPORT_ACCOUNT_DONAMES')}/login?redirect="+window.location.href;
                    }
                });
        });
    </script>
    <else/>
    <script type="text/javascript">
        $(".gl_sc").click(function (event) {
            var id = "{$articleInfo.article.now.id}";
            var _this = $(this);
            if (_this.attr("data-on") == 1) {
                _this.Alert({
                    css: {
                        "width": "200px",
                        "height": "60px",
                        "background": "#E76363",
                        "margin-left": "-100px",
                        "margin-top": "-30px",
                        "font-size": "20px",
                        "line-height": "60px"
                    },
                    text: "您已经收藏过了"
                });
                return false;
            }
            $.ajax({
                url: '/collect/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    classtype: "1",
                    classid: id,
                    ssid: "{$ssid}"
                }
            })
                .done(function (data) {
                    if (data.status == 1) {
                        _this.attr("data-on", 1).addClass('active').Alert({
                            css: {
                                "width": "200px",
                                "height": "60px",
                                "background": "#E76363",
                                "margin-left": "-100px",
                                "margin-top": "-30px",
                                "font-size": "20px",
                                "line-height": "60px"
                            },
                            text: "收藏成功 +1"
                        });
                    } else {
                        _this.Alert({
                            css: {
                                "width": "200px",
                                "height": "60px",
                                "background": "#E76363",
                                "margin-left": "-100px",
                                "margin-top": "-30px",
                                "font-size": "20px",
                                "line-height": "60px"
                            },
                            text: "收藏失败！"
                        });
                    }
                });
        });


    </script>
</if>
<script type="text/javascript">
    var module = "wwwarticle";
    $("body").forbidmenu({copy:false});

    $(function () {
        var shen = null, shi = null;
        shen = citys["shen"];
        shi = citys["shi"];
        initCity('{$theCityId}');

        function initCity(cityId) {
            App.citys.init(".edit-city", ".edit-quyu", shen, shi, cityId);
            App.citys.init(".edit-city-qa", ".edit-quyu-qa", shen, shi, cityId);
        }

        function fixIEColor() {
            var $inputs = $("input");
            var $select = $("select");
            // input框文本颜色监控修改
            for (var i = 0; i < $inputs.length; i++) {
                $inputs.eq(i).css("color", "#999");
            }
            $("html,body").on("keyup", "input", function () {
                if ($(this).val().length > 0) {
                    $(this).css('color', "#333");
                } else {
                    $(this).css('color', "#999");
                }
            });
            // select文本颜色监听修改
            $("html,body").on("change", "select", function () {
                var $parentEle = $(this).closest("table").length > 0 ? $(this).closest("table") : $(this).closest("div");
                if ($(this).val()) {
                    $parentEle.find("select").css('color', "#333");
                } else {
                    $parentEle.find("select").css('color', "#999");
                }
            })
        }

        // 头部发单
        +function () {
            $("#btnSave").click(function (event) {
                var cs = $('#y_cs').val();
                var qy = $('#y_qy').val();
                var name = $('input[name=name]').val();
                var tel = $('#tel').val();
                $('.city-warn').hide();
                $('.name-warn').hide();
                $('.tel-warn').hide();
                window.order({
                    extra: {
                        cs: cs,
                        qx: qy,
                        name: name,
                        tel: tel,
                        source: 19040336,
                    },
                    success: function (data, status, xhr) {
                        if (data.status == 1) {
                            $(".order-box")[0].reset();
                            $('.mask').fadeIn(0);
                            $('.success-box').fadeIn(0);
                            fixIEColor();
                        }
                    },
                    validate: function (item, value, method, info) {
                        if ('cs' == item && 'notempty' == method) {
                            $('.city-warn').show().html("请选择您所在的省份，城市，区域〜");
                            return false;
                        }
                        ;
                        if ('qx' == item && 'notempty' == method) {
                            $('.city-warn').show().html("请选择您所在的省份，城市，区域〜");
                            return false;
                        }
                        ;
                        if ('name' == item && 'notempty' == method) {
                            $('.name-warn').show().html("为更好的为您服务，请输入您的姓名〜");
                            return false;
                        }
                        ;
                        if ('name' == item && 'isword' == method) {
                            $('.name-warn').show().html(info);
                            return false;
                        }
                        ;
                        if ('tel' == item && 'notempty' == method) {
                            $('.tel-warn').show().html('手机号别忘了哦〜');
                            return false;
                        }
                        ;
                        if ('tel' == item && 'ismobile' == method) {
                            $('.tel-warn').show().html(info);
                            return false;
                        }
                        ;
                        if (!checkDisclamer(".order-box")) {
                            return false;
                        }
                        ;
                        return true;
                    }
                })
            });
            $('.success-box').find(".close").on("click", function () {
                $('.mask').fadeOut(0);
                $('.success-box').fadeOut(0);
            })
        }()
    })
</script>
</html>




