 @import '../../styles/public.css';
.fenye-container{
    border:1px solid #E8E8E8;
    border-radius: 10rpx;
    width: 99%;
    margin:0px auto;
    height: 72rpx;
    text-align: center;
    display: table;
}
.fenye-container .prev,.fenye-container .center,.fenye-container .next{
   display: table-cell;vertical-align: middle;
}
.prev,.next{
    color:#ff5353;
}
.fenye-container .center{
    border-left:1px solid #E8E8E8;
    border-right:1px solid #E8E8E8;
    width:35%;
}
.page-selector-mask{
    width:100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    background: rgba(0, 0, 0, 0.7)
}
.page-selector-content{
    width:100%;
    height: 100%;
    position: relative
}
.page-selector{
    width:100%;
    height: 45%;
    background: #fff;
    position: absolute;
    left:0px;
    bottom:0px;
    padding-bottom:20rpx;
}
.page-selector-title{
    line-height:50rpx;
    color:#333;
    font-size:34rpx;
    font-weight: bold;
    padding: 10rpx 25rpx;
}
.scroll-views{
    height: calc(100% - 160rpx);
    font-size: 28rpx;
    overflow: auto;
}
.page-selector-pages{
    border-top:1px solid #E8E8E8;
    padding: 20rpx 10rpx;
    margin:0px 20rpx;
}
.disableButton{
    color:#999 !important;
    pointer-events: none;
}