<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="mobile-agent" content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/" />
    <title>2019齐装网装修颂-{$cityname}齐装网</title>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/"/>
    <include file="Index:resource" />
    <link rel="stylesheet" type="text/css" href="/assets/home/zt/css/hdzt.css?v={:C('STATIC_VERSION')}" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{$alternate}" >
</head>
<body>
<include file="Index:header" />
<div class="hdzt-content">
    <if condition="$bannerinfo['pc_url']">
        <div class="hdzt-banner wrap">
            <img src="{$SCHEME_HOST.scheme_full}{:C('QINIU_DOMAIN')}/{$bannerinfo.pc_url}" />
        </div>
    </if>
    <div class="wrap">
        <div class="hdzt-list">
            <div class="hdzt-act-list">
                <p style="display: inline">活动列表</p>
                <div class="hdzt-location">
                    <i class="fa fa-map-marker"></i>{$cityname}
                    <span class="hdzt-toggle">【切换】</span>
                </div>
            </div>
            <ul class="act-list-info">
                <volist name="list" id="vo">
                    <li>
                        <div class="list-info-img">
                            <a rel="nofollow" target="_blank" href="/hdzt/{$vo.id}.html"><img src="//{:C('QINIU_DOMAIN')}/{$vo.business_logo}" /></a>
                        </div>
                        <div class="list-info-content">
                            <p class="list-info-tit"><a rel="nofollow" target="_blank" href="/hdzt/{$vo.id}.html">{$vo.name}</a><span class="hdzt-quyu">{$vo.citynames}</span></p>
                            <p>活动奖品：</p>
                            <p class="jiangpin">{$vo.prize}</p>
                            <if condition="$vo['add_num'] GT 0">
                                <p>参与数量：{$vo.add_num}</p>
                            </if>
                            <p>活动时间：{$vo.start_at|date="Y年m月d日",###} - {$vo.end_at|date="Y年m月d日",###}</p>
                        </div>
                        <button class="join-btn">立即参与</button>
                    </li>
                </volist>
            </ul>
            <div class="content pageContent">
                {$page}
            </div>
        </div>
        <!--弹框-->
        <div class="hdzt-mask">
            <div class="city-content">
                <span class="hdzt-close">×</span>
                <div class="hotCity-list">
                    <label>热门城市：</label>
                    <ul class="hot-city">
                        <a href="/hdzt"><li>全国</li></a>
                        <a href="/hdzt?bm=sz"><li>苏州</li></a>
                        <a href="/hdzt?bm=bj"><li>北京</li></a>
                        <a href="/hdzt?bm=sh"><li>上海</li></a>
                        <a href="/hdzt?bm=gz"><li>广州</li></a>
                        <a href="/hdzt?bm=shenz"><li>深圳</li></a>
                        <a href="/hdzt?bm=tj"><li>天津</li></a>
                        <a href="/hdzt?bm=nj"><li>南京</li></a>
                    </ul>
                </div>
                <div class="hotCity-list">
                    <label>&nbsp;</label>
                    <ul class="hot-city">
                        <a href="/hdzt?bm=hz"><li>杭州</li></a>
                        <a href="/hdzt?bm=wh"><li>武汉</li></a>
                        <a href="/hdzt?bm=cq"><li>重庆</li></a>
                        <a href="/hdzt?bm=cd"><li>成都</li></a>
                        <a href="/hdzt?bm=hf"><li>合肥</li></a>
                        <a href="/hdzt?bm=fz"><li>福州</li></a>
                        <a href="/hdzt?bm=qd"><li>青岛</li></a>
                        <a href="/hdzt?bm=xa"><li>西安</li></a>
                    </ul>
                </div>
                <div class="all-city">
                    <ul>
                        <li class="active">全部</li>
                        <li>ABC</li>
                        <li>DEF</li>
                        <li>GHJ</li>
                        <li>KLM</li>
                        <li>NPQ</li>
                        <li>RST</li>
                        <li>WXYZ</li>
                    </ul>
                </div>
                <div style="overflow-y: auto;height: 375px;">
                    <volist name="citylist" id="vo">
                        <div class="city-fen">
                            <span class="first-word">{$vo.pname}</span>
                            <ul>
                                <volist name="vo['child']" id="v">
                                    <if condition="$v['mark_red'] eq 1">
                                        <a href="/hdzt?bm={$v.bm}"><li style="color: red">{$v.cname}</li></a>
                                    <else />
                                        <a href="/hdzt?bm={$v.bm}"><li>{$v.cname}</li></a>
                                    </if>
                                </volist>
                            </ul>
                        </div>
                    </volist>
                </div>
            </div>
            <div class="activity-content">
                <span class="hdzt-close">×</span>
                <h2>立即预约</h2>
                <div class="box-line">
                    <select class="edit-city"></select>
                    <select class="edit-quyu"></select>
                    <p class="errorArea-tit"></p>
                </div>
                <div class="box-line">
                    <input class="edit-text" type="text" name="name" placeholder="怎么称呼您">
                    <p class="errorName-tit"></p>
                </div>
                <div class="box-line">
                    <input class="edit-text" type="text" name="tel" placeholder="输入手机号即可预约" maxlength="11" id="tel">
                    <p class="errorTele-tit"></p>
                </div>
                <!--S-免责声明-->
                <include file="Common@Order/disclamer"/>
                <!--E-免责声明-->
                <p class="errorMianze-tit"></p>
                <button class="box-line" id="btnSave" type="button">免费预约</button>
            </div>
            <div class="yuyue-success">
                <div class="hdzt-close" id="closeBtn">
                    <img src="/assets/home/zt/images/closebtn.png" />
                </div>
                <div class="yueyue-top">恭喜您预约成功</div>
                <p class="hdzt-contact">详情咨询：<span>{:OP("QZ_CONTACT_TEL400")}</span>齐装客服热线</p>
                <div style="text-align: center">
                    <img src="/assets/home/zt/images/hdzt-ewm.png" style="width:120px;"/>
                </div>
                <p class="hdzt-saoma">扫一扫，下载官方APP<br>有房要装，就上齐装</p>
            </div>
        </div>
    </div>
</div>
<include file="Common@Friendlink/index" />
<include file="Common@CooperationAd/index" />
<include file="Index/footer" />
<include file="Common@Order/bottom_fadan" type="2" />
<script src="/assets/home/index/js/jquery.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    $(function () {
        var shen = null,
            shi = null;
        shen = citys["shen"];
        shi = citys["shi"];

        initCity('{$theCityId}');
        function initCity(cityId){
            App.citys.init(".edit-city", ".edit-quyu", shen, shi,cityId);
            App.citys.init(".edit-city-qa", ".edit-quyu-qa", shen, shi,cityId);
            App.citys.init(".edit-city-ds", ".edit-quyu-ds", shen, shi,cityId);
        }

        //城市切换
        $(".hdzt-toggle").click(function () {
            $(".hdzt-mask").show();
            $(".city-content").show();
            $(".activity-content").hide();
            $(".yuyue-success").hide();
            $("body").css({"overflow":"hidden","height":"100%"})
        });
        //立即参与
        $(".join-btn").click(function () {
            $(".hdzt-mask").show();
            $(".city-content").hide();
            $(".activity-content").show();
            $(".yuyue-success").hide();
            $("body").css({"overflow":"hidden","height":"100%"})
        });
        //关闭弹窗
        $(".hdzt-close").click(function () {
            $(".hdzt-mask").hide();
            $("input[name=name]").val('');
            $("input[name=tel]").val('');
            $("body").css({"overflow":"inherit","height":"100%"})
        });
        //城市选项切换
        $("body").on("click",".all-city ul li",function () {
            $(".all-city ul li").removeClass("active");
            $(this).addClass("active");
            if($(this).html() != '全部'){
                var str = $(this).html()
                var arr = []
                $(".city-fen").hide();
                for(var i in str){
                    arr.push(str[i])
                }
                $(".city-fen").each(function (index,item) {
                    var _this = this
                    $.each(arr,function (index,val) {
                        if($(_this).find(".first-word").html() == val){
                            $(_this).show()
                        }
                    })
                })
            }else{
                $(".city-fen").show();
            }
        })
        //免费预约
        $("body").on("click","#btnSave",function () {
            $(".errorArea-tit").html('');
            $(".errorName-tit").html('');
            $(".errorTele-tit").html('');
            $(".errorMianze-tit").html('');
            var edit_city = $(".edit-city").val();
            var edit_quyu = $(".edit-quyu").val();
            var name = $("input[name=name]").val();
            var tele = $("#tel").val();
            var reg_tel = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
            var reg_name = /^[\u4E00-\u9FA5A-Za-z]+$/
            if(edit_city == '' || edit_quyu == ''){
                $(".errorArea-tit").html('请选择地区');
                return false
            }
            if(name == ''){
                $(".errorName-tit").html('请输入您的称呼');
                return false
            }else if(!reg_name.test(name)){
                $(".errorName-tit").html('请输入正确的称呼，只支持中文和英文');
                return false
            }
            if(tele == ''){
                $(".errorTele-tit").html('请输入您的手机号码');
                return false
            }else if(!reg_tel.test(tele)){
                $(".errorTele-tit").html('请填写正确的手机号');
                return false
            }
            if($(".disclamer-check").attr("data-checked") === 'false'){
                $(".errorMianze-tit").html("请勾选我已阅读并同意齐装网《免责声明》！")
                return false;
            }
            $.ajax({
                url: '/fb_order/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    cs: edit_city,
                    qx: edit_quyu,
                    name: name,
                    tel: tele,
                    source: 19091025,
                }
            })
                .done(function (data) {
                    if(data.status == 1){
                        $(".hdzt-mask").show();
                        $(".city-content").hide();
                        $(".activity-content").hide();
                        $(".yuyue-success").show();
                    }else{
                        alert(data.info)
                    }
                })
        })
    })
</script>
</body>
</html>
