<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="mobile-agent" content="format=html5;url={$SCHEME_HOST.scheme_full}m.{$SCHEME_HOST.domain}/" />
    <title>2019齐装网装修颂-全国齐装网</title>
    <link rel="canonical" href="{$SCHEME_HOST.scheme_full}www.{$SCHEME_HOST.domain}/"/>
    <include file="Index:resource" />
    <link rel="stylesheet" type="text/css" href="/assets/home/zt/css/hdzt-detail.css?v={:C('STATIC_VERSION')}" />
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{$alternate}" >
</head>
<body>
<include file="Index:header" />
<div class="hdzt-content">
    <div class="wrap">
        <div class="hdzt-bread">
            <a href="/hdzt/" target="_blank">活动列表</a> > 活动详情
        </div>
        <div class="d-tit">
            <h2>{$info.name}</h2>
            <button class="join-btn joinBtn">立即参与</button>
            <div class="company-img">
                <img src="{:C('QINIU_SCHEME')}://{:C('QINIU_DOMAIN')}/{$info.business_logo}" />
            </div>
            <div class="detail-activity">
                <div>
                    <span>活动商家：</span>
                    <span>{$info.business_name}</span>
                </div>
                <if condition="$info['add_num'] gt 0">
                    <div>
                        <span>参与数量：</span>
                        <span>{$info.add_num}</span>
                    </div>
                </if>
                <div>
                    <span>活动时间：</span>
                    <span>{$info.start_at|date="Y年m月d日",###} 至 {$info.end_at|date="Y年m月d日",###}</span>
                </div>
            </div>
            <div class="details">
                <div class="details-top">
                    活动详情
                </div>
                <div class="details-center">
                    <img src="/assets/home/zt/images/detail2.png" />
                </div>
                <div class="details-content">
                    {$info.detail}
                </div>
            </div>
            <button class="join-btn1 joinBtn">立即参与</button>
        </div>
    </div>
    <div class="hdzt-mask">
        <div class="activity-content">
            <span class="hdzt-close">×</span>
            <h2>立即预约</h2>
            <div class="box-line">
                <select class="edit-city"></select>
                <select class="edit-quyu"></select>
                <p class="errorArea-tit"></p>
            </div>
            <div class="box-line">
                <input class="edit-text" type="text" name="name" placeholder="怎么称呼您">
                <p class="errorName-tit"></p>
            </div>
            <div class="box-line">
                <input class="edit-text" type="text" name="tel" placeholder="输入手机号即可预约" maxlength="11" id="tel">
                <p class="errorTele-tit"></p>
            </div>
            <!--S-免责声明-->
            <include file="Common@Order/disclamer"/>
            <!--E-免责声明-->
            <p class="errorMianze-tit"></p>
            <button class="box-line" id="btnSave" type="button">免费预约</button>
        </div>
        <div class="yuyue-success">
            <div class="hdzt-close" id="closeBtn">
                <img src="/assets/home/zt/images/closebtn.png" />
            </div>
            <div class="yueyue-top">恭喜您预约成功</div>
            <p class="hdzt-contact">详情咨询：<span>{:OP("QZ_CONTACT_TEL400")}</span>齐装客服热线</p>
            <div style="text-align: center">
                <img src="/assets/home/zt/images/hdzt-ewm.png" style="width:120px;"/>
            </div>
            <p class="hdzt-saoma">扫一扫，下载官方APP<br>有房要装，就上齐装</p>
        </div>
    </div>
</div>
<include file="Common@Friendlink/index" />
<include file="Common@CooperationAd/index" />
<include file="Index/footer" />
<include file="Common@Order/bottom_fadan" type="2" />
<script src="/assets/home/index/js/jquery.js?v={:C('STATIC_VERSION')}"></script>
<script type="text/javascript">
    $(function () {
        var shen = null,
            shi = null;
        shen = citys["shen"];
        shi = citys["shi"];

        initCity('{$theCityId}');
        function initCity(cityId){
            App.citys.init(".edit-city", ".edit-quyu", shen, shi,cityId);
            App.citys.init(".edit-city-qa", ".edit-quyu-qa", shen, shi,cityId);
            App.citys.init(".edit-city-ds", ".edit-quyu-ds", shen, shi,cityId);
        }
        $('.pub-head-nav .nav li').removeClass('active');
        $('.pub-head-nav .nav').find('.nav-list-more').addClass('active');
        //立即参与
        $(".joinBtn").click(function () {
            $(".hdzt-mask").show();
            $(".activity-content").show();
            $(".yuyue-success").hide();
            $("input[name=name]").val('');
            $("input[name=tel]").val('');
            $(".errorArea-tit").html('');
            $(".errorName-tit").html('');
            $(".errorTele-tit").html('');
            $("body").css({"overflow":"hidden","height":"100%"})
        });
        //关闭弹窗
        $(".hdzt-close").click(function () {
            $(".hdzt-mask").hide();
            $("body").css({"overflow":"inherit","height":"100%"});
        });
        //免费预约
        $("body").on("click","#btnSave",function () {
            $(".errorArea-tit").html('');
            $(".errorName-tit").html('');
            $(".errorTele-tit").html('');
            $(".errorMianze-tit").html('');
            var edit_city = $(".edit-city").val();
            var edit_quyu = $(".edit-quyu").val();
            var name = $("input[name=name]").val();
            var tele = $("#tel").val();
            var reg_tel = new RegExp("^(13|14|15|16|17|18|19)[0-9]{9}$");
            var reg_name = /^[\u4E00-\u9FA5A-Za-z]+$/
            if(edit_city == '' || edit_quyu == ''){
                $(".errorArea-tit").html('请选择地区');
                return false
            }
            if(name == ''){
                $(".errorName-tit").html('请输入您的称呼');
                return false
            }else if(!reg_name.test(name)){
                $(".errorName-tit").html('请输入正确的称呼，只支持中文和英文');
                return false
            }
            if(tele == ''){
                $(".errorTele-tit").html('请输入您的手机号码');
                return false
            }else if(!reg_tel.test(tele)){
                $(".errorTele-tit").html('请填写正确的手机号');
                return false
            }
            if($(".disclamer-check").attr("data-checked") === 'false'){
                $(".errorMianze-tit").html("请勾选我已阅读并同意齐装网《免责声明》！")
                return false;
            }
            $.ajax({
                url: '/fb_order/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    cs: edit_city,
                    qx: edit_quyu,
                    name: name,
                    tel: tele,
                    source: 19091025,
                }
            })
                .done(function (data) {
                    if(data.status == 1){
                        $(".hdzt-mask").show();
                        $(".city-content").hide();
                        $(".activity-content").hide();
                        $(".yuyue-success").show();
                    }else{
                        alert(data.info)
                    }
                })
        })
    })
</script>
</body>
</html>
