web/php_errors.log
web/upload/
web/xhprof_html
web/xhprof_lib
web/xhprof.io/
Application/Runtime
Application/Home
web/phpssdbadmin/
.idea
.project
web/indexdev.php
VERSION
web/assets/home/diary/images/icons/Thumbs.db
/.env
