.search{
    margin-top: 35px;
    height: 34px;
    background: #3c8dbc;
    color: #fff;
    border: none;
    padding: 0 15px;
    border-radius: 5px;
}
.add-media{
    color: #fff;
    display: block;
    width: 75px;
    background: #00a65a;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    bottom: 30px;
}
.add-media:hover{
    color:#fff;
    text-underline: none;
}
.media-content{
    width:24%;
    float: left;
    border:1px #ccc solid;
    margin-right: 1%;
    margin-bottom: 20px;
}
.media-content img{
    max-width:100%;
}
.media-operate{
    height:40px;
    line-height: 40px;
    border-top:1px #ccc solid;
}
.media-operate>span{
    display: inline-block;
    width:49%;
    height:24px;
    text-align: center;
    line-height: 24px;
}
.media-url{
    word-break:break-all;
    word-wrap:break-word;
    color:#3c8dbc;
    margin:10px;
}
.media-operate span:first-child{
    border-right:1px #ccc solid;
}
.media-operate span button,.media-operate span a{
    border:none;
    background:none;
    outline:none;
    color:#666;
    display: block;
    height:24px;
    line-height: 24px;
    cursor: pointer;
    margin: 0 auto;
}
.media-time{
    font-size:12px;
    margin-bottom: 5px;
    margin-left:10px;
}
.media-edit i,.media-delete i{
    margin-right:5px;
}
.media-img{
    width:200px;
    height: 150px;
    margin-left: 10px;
    overflow: hidden;
}
.media-img img{
    max-width:100%;
}
.media-tit{
    margin: 5px 10px;
    font-size: 16px;
    height: 40px;
    line-height: 20px;
}

/*媒体报道详情页*/
#post_form input, textarea {
    width: 35% !important;
}

.detail-btn {
    margin-left: 85px;
}

.detail-btn button {
    outline: none;
}

.detail-save {
    margin-right: 15px;
}

.file-input {
    width: 40%;
    margin-left: 85px;
}

.detail-return a {
    color: #333;
}
.form-group label{
    float: left;
    height: 34px;
    line-height: 34px;
    width: 85px;
    text-align: right;
}