@import "../../../styles/public.css";
@import "../../../templates/bdParse/bdParse.css";
.p-container{display: block;}
.p-title{width: 100%; line-height: 64rpx; margin-top: 20rpx; margin-bottom: 10rpx; box-sizing: border-box; padding: 10rpx 34rpx; font-size: 48rpx; font-weight: bold; color: rgba(51, 51, 51, 1); text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical;}
.p-main{width: 100%; box-sizing: border-box;border-bottom: 20rpx solid #f7f7f7;}
.p-head{height: 60rpx; padding: 0 36rpx; display: flex; align-items: center; font-size:28rpx;font-weight:500;color:rgba(153,153,153,1);}
.logo{width: 60rpx; height: 60rpx;}
.h-con{height: 100%; margin-left: 18rpx; display: flex; flex-direction: column; justify-content: space-between;}
.h-con .c-title{font-size: 28rpx; font-weight: 500; color: rgba(102, 102, 102, 1);}
.h-con .c-nav{font-size: 24rpx; font-weight: 500; color: rgba(153, 153, 153, 1);}
.lf{margin-left: 36rpx;}
.p-content{max-width: 100%; overflow: hidden; padding: 20rpx 34rpx 100rpx; font-size: 34rpx; color: rgba(0, 0, 0, 1); line-height: 56rpx; padding-bottom: 0;}
.rich image{max-width: 100%;}
img{display: block; height: auto; max-width: 100%;}
.bdParse-p{text-indent: 0em !important; margin-bottom: 32rpx; max-width: 100% !important; height: auto !important;}
.bdParse-img{width: 100% !important;}
.bdParse-iframe{height: 100%; width: 100%;}
.content image{display: block !important;}
.bdParse-inline{display: inline !important; margin: 0; padding: 0;}
.bdParse-a{color: black !important; font-weight: normal !important;}
.no-data{background: #f4f4f4; margin: 40rpx auto; border-radius: 10rpx; width: 90%;}
.clearHeight{height: 120rpx;}
.l-header {
    width: 100%;
    height: 90rpx;
    padding-top: 10rpx;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.l-header icon {
    margin-left: 30rpx;
    display: block;
    width: 8rpx;
    height: 40rpx;
    background: rgba(255, 81, 86, 1);
}
.l-header text {
    margin-left: 12rpx;
    font-size: 42rpx;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}
.none{
    display: none;
}
.block{
    display: block;
}

/* 免责声明checkbox样式 S */
.check-box .swan-checkbox-input {
    width: 30rpx;
    height: 30rpx;
    border-radius: 0;
}
.check-box[checked="true"] .swan-checkbox-input:after {
    width: 32rpx;
    height: 32rpx;
    background-color: crimson;
}
/* 免责声明checkbox样式 E */

/* 新增装修公司模块 S */
.company{
    border-bottom: 20rpx solid #f7f7f7;
}
.company-list{
    border-bottom: 2rpx solid #F7F7F7;
    margin: 30rpx;
    position: relative;
    padding-bottom: 20rpx;
}
.company-list:last-child{
    border-bottom: none;
}
.ofw{
    overflow: hidden;
}
.company-list .company-logo{
    width: 160rpx;
    height: 80rpx;
    overflow: hidden;
    float: left;
    margin-right: 20rpx;
    margin-top: 14rpx;
}
.company-list .company-logo image{
    width: 100%;
    height: 100%;
    border-radius: 4rpx;
}
.company-list .company-details{
    width: 460rpx;
    float: left;
}
.company-list .company-details .company-name{
    height: 36rpx;
    font-size: 28rpx;
    line-height: 36rpx;
    font-weight: bold;
    color: #333333;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.company-list .company-details .haoping{
    margin: 10rpx 0 12rpx;
    display: flex;
    align-items: center;
}
.haoping .star{
    display: flex;
    align-items: center;
}
.haoping .star image{
    display: block;
    width: 23rpx;
    height: 22rpx;
    margin-right: 2rpx;
}
.company-list .company-details .haoping text{
    font-size: 20rpx;
    color: #333;
    margin-left: 16rpx;
}
.company-list .company-details .count{
    font-size: 20rpx;
    color: #666;
    display: flex;
    align-items: center;
}
.company-list .company-details .count .item{
    display: inline-block;
    border-right: 1rpx solid #666666;
    height: 24rpx;
    line-height: 24rpx;
    padding-right: 10rpx;
    margin-right: 10rpx;
}
.company-list .company-details .count .item:last-child{
    border-right: 0;
}
.company-list .company-details .count .yellow{
    margin-right: 10rpx;;
}
.hui .hui-tit,.hui .hui-quan{
    margin-top: 10rpx;
}
.company-list .company-details .hui text{
    font-size: 22rpx;
    color: #343434;
}
.company-list .company-details .hui text:nth-child(2){
    display: inline-block;
    width: 90%;
    height: 28rpx;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    position:relative;
    top:4rpx;
}
.company-details .hui text.youhui,.company-details .hui text.quan{
    display: inline-block;
    width: 29rpx;
    height: 28rpx;
    text-align: center;
    line-height: 28rpx;
    color: #fff;
    margin-right: 15rpx;
    border-radius: 4rpx;
}
.company-details .hui text.youhui{
    background: #FF7A2A;
}
.company-details .hui text.quan{
    background: #F33636;
}
/* 新增装修公司模块 E */

/* 新增效果图 S*/
.tab-box{
    height: 84rpx;
    display: flex;
    justify-content: space-around;
}
.tab-box view{
    line-height: 84rpx;
    font-size: 24rpx;
    color: #333333;
    box-sizing: border-box;
}
.tab-box view.active{
    border-bottom: 4rpx solid #DB2C2C;
    color: #DB2C2C;
}
.xgt-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40rpx 30rpx 20rpx;
}
.xgt-list{
    width: 335rpx;
}
.xgt-list image{
    width: 100%;
    height: 250rpx;
    border-radius: 4rpx;
    vertical-align: middle;
}
.xgt-list .tags{
    width: 100%;
    height: 42rpx;
    line-height: 42rpx;
    margin-bottom: 10rpx;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.xgt-list .tags view{
    display: inline;
    font-size: 24rpx;
    color: #666;
    margin-right: 10rpx;
}
.xgt-list .tags view:last-child{
    margin-right: 0;
}
.xgt-list .xiaoqu{
    height: 60rpx;
    line-height: 60rpx;
    font-size: 28rpx;
    color: #333;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
/* 新增效果图 E*/