<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><![endif]-->
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>基本资料-用户中心</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/assets/common/css/bootstrap.min.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/bootstrap-responsive.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/style-metro.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/home/css/main.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <script src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
</head>
<body>
    <include file="Main:header" />
    <div class="container mt10 inner-box basic-box">
        <div class="row">
            <include file="Main:navleft" />
            <div class="col-sm-9 basic-right">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="basic-setting-title">
                            <h3>网络电话(VOIP电话)绑定</h3>
                        </div>
                        <form class="form-horizontal basic-form mt10 hmin600">
                            <div class="form-group">
                                <label  class="col-sm-3 control-label visible-ie8 visible-ie9">电话呼叫系统提供商:</label>
                                <div class="col-sm-5 input-icon">
                                    <input type="hidden" class="form-control required" placeholder="" value="{$userInfo.TelCenter_Channel}"
                                           name="TelCenter_Channel">
                                    <input type="text" class="form-control required" placeholder="" value="{$userInfo.TelCenter_Channel_name}"
                                           name="TelCenter_Channel_name" disabled="disabled">
                                </div>
                            </div>
                            <if condition="$userInfo.TelCenter_Channel EQ 'ytx'">
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label visible-ie8 visible-ie9">提示:</label>
                                <div class="col-sm-5 input-icon">
                                    请到老后台设置我的电话
                                </div>
                                </div>
                            </if>
                            <!--联通云总机-->
                            <if condition="$userInfo.TelCenter_Channel EQ 'cuct'">
                            <div class="form-group">
                                <label  class="col-sm-3 control-label visible-ie8 visible-ie9">昵称:</label>
                                <div class="col-sm-5 input-icon">
                                  <input type="text" class="form-control required" placeholder="显示昵称" value="{$userInfo.cuct_displayName}" name="cuct_displayName" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-3 control-label visible-ie8 visible-ie9">IP电话:</label>
                                <div class="col-sm-5">
                                  <input type="text" class="form-control" placeholder="VOIP电话(用户分机号)" value="{$userInfo.cuct_number}" name="cuct_number" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-3 control-label visible-ie8 visible-ie9">绑定手机号*:</label>
                                <div class="col-sm-5">
                                  <input type="text" class="form-control" placeholder="无线固话号码 或者 自己手机号" value="{$userInfo.cuct_tel}" name="cuct_tel">
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-3 control-label visible-ie8 visible-ie9">对外显号*:</label>
                                <div class="col-sm-5">
                                  <input type="text" class="form-control" placeholder="对外显号,输入任意数字进行选号" value="{$userInfo.cuct_directNumber}" name="cuct_directNumber">
                                </div>
                            </div>
                            <notempty name="userInfo.user.mynumber">
                            <div class="form-group">
                                <label  class="col-sm-3 control-label visible-ie8 visible-ie9">设置参数:</label>
                                <div class="col-sm-5">
                                <div class="panel panel-success">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">请在软电话客户端上设置</h3>
                                  </div>
                                  <div class="panel-body">
                                    <span>总机号码: {$userInfo.CUCT_Masternumber}</span><br>
                                    <span>分机号码: {$userInfo.user.mynumber}</span><br>
                                    <span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码: {$userInfo.user.voippwd}</span>
                                  </div>
                                </div>
                                </div>
                            </div>
                            </notempty>
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-2">
                                        <button id="btnSave" type="sbumit" class="btn btn-block blue"><i class="icon-headphones"></i> 绑  定</button>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-2">
                                        <button id="btnSave-unbind" type="sbumit" class="btn btn-block blue"><i class="icon-unlock"></i> 解  绑</button>
                                    </div>
                                </div>
                                {/*
                                <div class="form-group">
                                    <div class="col-sm-2 col-sm-offset-2">
                                        <a class="btn btn-block blue" href="http://yzj.10010js.com/pc_download.php" target="_blank"><i class="icon-download"></i> 电话PC端下载</a>
                                    </div>
                                </div>
                                */ }


                            </if>
                             <div class="form-group">
                                 <div class="col-sm-8 col-sm-offset-2 alert alert-info text-center hide">
                                     <button class="close" data-dismiss="alert"></button>
                                     <span></span>
                                 </div>
                                <div class="col-sm-8 col-sm-offset-2 alert alert-danger text-center hide">
                                    <button class="close" data-dismiss="alert"></button>
                                    <span></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/common/js/jquery-migrate-1.2.1.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/bootstrap.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/placeholders.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/jquery.validate.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/bootstrap.autocomplete.js?v={:C('STATIC_VERSION')}"></script>
<script src="/assets/home/js/basic.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {

    var TelCenter_Channel = '{$userInfo.TelCenter_Channel}'; //电话呼叫提供商
    var cuct_tel          = '{$userInfo.cuct_tel}';
    var cuct_directNumber = '{$userInfo.cuct_directNumber}';
    var mynumber          = '{$userInfo.user.mynumber}';
    if ('cuct' == TelCenter_Channel) {
        if (mynumber != '') {
            $('[name=cuct_tel],[name=cuct_directNumber]').attr("disabled","disabled");
        }
    }

    Basic.init();
    //$("button[id=btnSave-unbind]").css('display','none');
    $("input[name=cuct_number]").val('{$userInfo.user.voipaccount}');
    $("input[name=cuct_tel]").val('{$userInfo.user.tel_work1}');
    $("input[name=cuct_directNumber]").val('{$userInfo.user.tel_customer_ser_num}');
    //绑定
    $("#btnSave").click(function(event) {
        var vapass = true;
        var jq_cuct_tel = $("input[name=cuct_tel]");
        var cuct_tel = jq_cuct_tel.val();
        var tel_regx = /^1[3456789]\d{9}$/;
        if (!tel_regx.test(cuct_tel)) {
            alert("绑定手机号码格式错误，请确认号码正确，且不包含空格");
            jq_cuct_tel.focus();
            return false;
        }

        var jq_cuct_directNumber = $("input[name=cuct_directNumber]");
        var cuct_directNumber = jq_cuct_directNumber.val();
        var cuct_directNumber_regx = /^(0\d{2,3}-?\d{7,8})$/;
        if (!cuct_directNumber_regx.test(cuct_directNumber)) {
            alert("对外显号号码格式错误，请重新选号！");
            jq_cuct_directNumber.focus();
            return false;
        }

        if (vapass) {
            $.ajax({
                url: '/mytelset',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    TelCenter_Channel:$("input[name=TelCenter_Channel]").val(),
                    cuct_tel : cuct_tel,
                    cuct_number :$("input[name=cuct_number]").val(),
                    cuct_displayName :$("input[name=cuct_displayName]").val(),
                    cuct_directNumber:$("input[name=cuct_directNumber]").val()
                }
            })
            .done(function(data) {
                 if (data.status == 1) {
                     $(".alert-danger").addClass('hide');
                     $(".alert-info").removeClass('hide').find("span").html(data.info);
                     $("input[name=cuct_number]").val(data.data.number);
                     $("input[name=cuct_directNumber]").val(data.data.cuct_directNumber);
                     window.location.reload();
                 } else {
                     $(".alert-info").addClass('hide');
                     $(".alert-danger").removeClass('hide').find("span").html(data.info);
                 }
            })
            .fail(function(xhr) {
               $(".alert-error").html("系统异常,请联系技术部门！");
            });
        }
        return false;
    });
    $("#buttonid").ajaxStart(function(){
        $("#buttonid").attr("disabled", "disabled");
    });
    $("#buttonid").ajaxComplete(function(){
        $("#buttonid").css("display","none");
    });
    //解绑
    $("#btnSave-unbind").click(function(event) {
        var vapass = true;
        var cuct_tel = $("input[name=cuct_tel]").val();
        if (cuct_tel == '') {
            alert("都没绑定怎么解绑呢?");
            return false;
        }
        if (vapass) {
            $.ajax({
                url: '/mytelset',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    actiontype : 'unbind',
                    TelCenter_Channel:$("input[name=TelCenter_Channel]").val(),
                    cuct_tel : cuct_tel,
                    cuct_number :$("input[name=cuct_number]").val(),
                    cuct_displayName :$("input[name=cuct_displayName]").val(),
                    cuct_directNumber:$("input[name=cuct_directNumber]").val()
                }
            })
            .done(function(data) {
                 if (data.status == 1) {
                     $(".alert-danger").addClass('hide');
                     $(".alert-info").removeClass('hide').find("span").html(data.info);
                     $("input[name=cuct_number]").val('');
                     $("input[name=cuct_tel]").val('');
                     $("input[name=cuct_directNumber]").val('');
                     window.location.reload();
                 } else {
                     $(".alert-info").addClass('hide');
                     $(".alert-danger").removeClass('hide').find("span").html(data.info);
                 }
            })
            .fail(function(xhr) {
               $(".alert-error").html("系统异常,请联系技术部门！");
            });
        }
        return false;
    });

});
</script>
</html>