<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->
<!--[if !IE]><![endif]-->
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>基本资料-用户中心</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/assets/common/css/bootstrap.min.new.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/bootstrap-responsive.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/font-awesome.min.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/common/css/style-metro.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link href="/assets/home/css/main.css?v={:C('STATIC_VERSION')}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <script src="/assets/common/js/jquery.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
</head>
<body>
<include file="Main:header" />
<div class="container mt10 inner-box basic-box">
    <div class="row">
        <include file="Main:navleft" />
        <div class="col-sm-9 basic-right">
            <div class="row">
                <div class="col-sm-12">
                    <div class="basic-setting-title">
                        <h3>网络电话(VOIP电话)绑定</h3>
                    </div>
                    <form class="form-horizontal basic-form mt10 hmin600">
                        <div class="form-group">
                            <label  class="col-sm-3 control-label visible-ie8 visible-ie9">电话呼叫系统提供商:</label>
                            <div class="col-sm-5 input-icon">
                                <input type="hidden" class="form-control required" placeholder="" value="{$userInfo.TelCenter_Channel}"
                                       name="TelCenter_Channel">
                                <input type="text" class="form-control required" placeholder="" value="{$userInfo.TelCenter_Channel_name}"
                                       name="TelCenter_Channel_name" disabled="disabled">
                            </div>
                        </div>
                        <!--holly-->
                        <if condition="$userInfo.TelCenter_Channel EQ 'holly'">
                            <div class="form-group">
                                <label  class="col-sm-3 control-label visible-ie8 visible-ie9">坐席号(工号):</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="例如8002 或 8002@qizuang" value="{$userInfo.user.voipaccount}" name="holly_number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-2">
                                    <button id="btnSave-holly"  class="btn btn-block blue"><i class="icon-headphones"></i> 绑  定</button>
                                </div>
                                <div class="col-sm-2 col-sm-offset-2">
                                    <button id="btnSave-unbind-holly"  class="btn btn-block blue"><i class="icon-unlock"></i> 解  绑</button>
                                </div>
                            </div>
                            <notempty name="userInfo.user.voipaccount">
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label visible-ie8 visible-ie9">设置参数:</label>
                                    <div class="col-sm-5">
                                        <div class="panel panel-success">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">请在软电话客户端上设置</h3>
                                            </div>
                                            <div class="panel-body">
                                                <span>登录名: {$userInfo.user.voipaccount}@qizuang</span><br>
                                                <span>密&nbsp;&nbsp;&nbsp;码: {$userInfo.user.voippwd}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </notempty>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <a class="btn btn-block blue" href="http://a6.7x24cc.com/staticFileDownload/hollyphone.zip" target="_blank"><i class="icon-download"></i>软电话PC端下载</a>
                                    <a class="btn btn-block blue" href="http://staticqn.qizuang.com/soft/hollyphone_win_A1.zip" target="_blank"><i class="icon-download"></i>耗硬件少版PC端</a>
                                </div>
                            </div>
                        </if>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2 alert alert-info text-center hide">
                                <button class="close" data-dismiss="alert"></button>
                                <span></span>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2 alert alert-danger text-center hide">
                                <button class="close" data-dismiss="alert"></button>
                                <span></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/assets/common/js/jquery-migrate-1.2.1.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/bootstrap.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/placeholders.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/jquery.validate.min.js?v={:C('STATIC_VERSION')}" type="text/javascript"></script>
<script src="/assets/common/js/bootstrap.autocomplete.js?v={:C('STATIC_VERSION')}"></script>

<script type="text/javascript">
    $(document).ready(function() {

        var TelCenter_Channel = '{$userInfo.TelCenter_Channel}'; //电话呼叫提供商
        var voipaccount = '{$userInfo.user.voipaccount}'; //坐席号码/voip号码

        if (voipaccount != '') {
            // 如果有绑定 那么禁用输入, 禁用绑定
            $("input[name=holly_number]").attr('disabled','disabled');
            $("#btnSave-holly").attr('disabled','disabled');
        } else {
            // 如果没绑定 不显示解绑
            $("#btnSave-unbind-holly").css('display','none');
        }


        //$("button[id=btnSave-unbind]").css('display','none');
        $("input[name=cuct_number]").val('{$userInfo.user.voipaccount}');
        $("input[name=cuct_tel]").val('{$userInfo.user.tel_work1}');
        $("input[name=cuct_directNumber]").val('{$userInfo.user.tel_customer_ser_num}');


        // holly绑定
        $("#btnSave-holly").click(function(event) {
            var vapass = true;
            var jq_holly_number = $("input[name=holly_number]");
            var holly_number = jq_holly_number.val();
            console.log(holly_number);
            if (holly_number == '') {
                alert("请先输入坐席号(工号)");
                vapass = false;
                return false;
            }

            if (vapass) {
                $.ajax({
                    url: '/mytelset',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        actiontype : 'bind',
                        TelCenter_Channel:$("input[name=TelCenter_Channel]").val(),
                        holly_number : holly_number,
                    }
                }).done(function(data) {
                    if (data.status == 0) {
                        alert('成功!');
                        window.location.reload();
                    } else if (data.status == -1) {
                        alert(data.info);
                    } else {
                        $(".alert-info").addClass('hide');
                        $(".alert-danger").removeClass('hide').find("span").html(data.info);
                    }
                }).fail(function(xhr) {
                    $(".alert-error").html("系统异常,请联系技术部门！");
                });
            }
            return false;
        });

        // holly解绑
        $("#btnSave-unbind-holly").click(function(event) {
            var vapass = true;
            var cuct_tel = $("input[name=cuct_tel]").val();
            if (cuct_tel == '') {
                alert("都没绑定怎么解绑呢?");
                return false;
            }
            if (vapass) {
                $.ajax({
                    url: '/mytelset',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {
                        actiontype : 'unbind',
                        TelCenter_Channel:$("input[name=TelCenter_Channel]").val(),
                    }
                })
                    .done(function(data) {
                        if (data.status == 0) {
                            $(".alert-danger").addClass('hide');
                            $(".alert-info").removeClass('hide').find("span").html(data.info);
                            window.location.reload();
                        } else {
                            $(".alert-info").addClass('hide');
                            $(".alert-danger").removeClass('hide').find("span").html(data.info);
                        }
                    })
                    .fail(function(xhr) {
                        $(".alert-error").html("系统异常,请联系技术部门！");
                    });
            }
            return false;
        });


    });
</script>
</html>