*{
    margin:0;
    padding:0;
}
img{
    width:100%;
    vertical-align: middle;
}
.bao-box{
    background: #F5F7FA;
    padding-bottom: 0.08rem;
}
.bao-fadanbox{
    width:100%;
}
.bao-fadan{
    width:92%;
    margin:0 auto;
    background: #fff;
    border-radius:9px;
    padding-bottom: 0.14rem;
    position: relative;
    top: -0.5rem;
}
.bao-fadan p{
    color: #FA9227;
    text-align: center;
}
.bao-fadan p.fadan-tit{
    font-size: 0.12rem;
    padding-top:0.12rem;
    margin-bottom: 0.05rem;
}
.bao-fadan p.fadan-stit{
    margin-bottom: 0.12rem;
}
.bao-fadan p.fadan-stit .line{
    display: inline-block;
    width:0.2rem;
    height: 1px;
    background: #E4E4E4;
    position: relative;
    top: -4px;
}
.bao-fadan p.fadan-stit span:nth-child(2){
    color: #FA9227;
    font-size: 12px;
    margin:0 0.08rem;
}
.bao-fadan .m-bj-edit{
    margin:0 0.14rem;
}
.bao-fadan .m-bj-edit li .c-zb-city,.bao-fadan .m-bj-edit li .m-bj-edit-list{
    background: #EEF1F4;
    border:none;
    border-radius:3px;
    outline: none;
    padding-left: 0.12rem;
}
.bao-fadan .m-bj-edit li .c-zb-city{
    color: rgb(102, 102, 102);
}
#mianze:checked + label,#shenming a span{
    color:#FA9227;
}
#mianze:checked + label{
    top:-1px;
}
#shenming a{
    border-bottom: 1px solid #FA9227;
}
.bao-baozhang{
    background:#fff;
    padding:0.16rem;
    margin-top:-0.35rem;
    margin-bottom: 0.08rem;
}
.baozhang-tit{
    text-align: center;
    margin-bottom: 0.16rem;
}
.baozhang-tit img{
    width:57%;
}
.baozhang-des{
    text-indent: 0.24rem;
    font-size:0.12rem;
    color:#666;
    line-height: 0.16rem;
    word-break:break-all;
    word-wrap:break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.baozhang-desall{
    text-indent: 0.24rem;
    font-size:0.12rem;
    color:#666;
    line-height: 0.16rem;
}
.baozhang-desall .xieyi{
    color: #FA9227;
    text-decoration: underline;
}
.bao-more{
    text-align: center;
    margin-top:0.16rem;
}
.bao-more img{
    width:14px;
    height: 12px;
}
.bao-more img.top{
    display: none;
}
.bao-problem{
    background:#fff;
    margin-bottom: 0.08rem;
}
.bao-process{
    margin-bottom: 0.08rem;
}
.bao-fuwu{
    background: #fff;
    padding:0.16rem 0.15rem;
    margin-bottom: 0.08rem;
}
.bao-fuwu .fuwu-tit{
    text-align: center;
    margin-bottom: 0.162rem;
}
.bao-fuwu .fuwu-tit img{
    width:47%;
}
.fuwu-list ul{
    overflow: hidden;
}
.fuwu-list ul li{
    width: 1.4rem;
    height: 0.63rem;
    float: left;
    border:1px solid #E4E4E4;
    border-radius: 1px;
    position: relative;
}
.fuwu-list ul li:nth-child(2){
    float: right;
}
.fuwu-list ul li img{
    width:0.365rem;
    height: 0.365rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0.08rem;
    margin:auto;
}
.fuwu-list .fuwu-des{
    position: absolute;
    top: 0.13rem;
    left: 0.5rem;
    margin: auto;
}
.fuwu-list .fuwu-des p:first-child{
    font-weight: bold;
    color: #333;
    font-size: 0.11rem;
}
.fuwu-list .fuwu-des p:nth-child(2){
    color: #999;
    font-size: 10px;
    padding-right: 10px;
}
.bao-pingtai{
    margin-bottom: 0.08rem;
}
.apply-btn{
    display: block;
    width:92%;
    height: 0.373rem;
    text-align: center;
    line-height: 0.373rem;
    background:linear-gradient(90deg,rgba(216,194,152,1) 0%,rgba(197,167,113,1) 100%);
    border-radius:3px;
    font-size:20px;
    font-weight:500;
    color:#fff;
    border:none;
    outline: none;
    margin:0 auto;
}

/*发单成功弹窗*/
.dialog-baowindow{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    display: none;
}
.success-box{
    width: 84%;
    height: 2.25rem;
    background: #fff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    display: none;
}
.dia-success-img{
    text-align: center;
    padding-top:0.16rem;
    margin-bottom: 0.08rem;
}
.dia-success-img img{
    width: 0.58rem;
    height: 0.58rem;
}
.success-box p{
    text-align: center;
}
.mbt10{
    margin-bottom: 10px;
}
.grey{
    color:#999;
    font-size: 15px;
}
.dia-success-tit{
    font-weight: bold;
    font-size: 0.16rem;
}
.to-app{
    display: block;
    width:83%;
    height:0.34rem;
    margin:0 auto;
    background: #FA9227;
    border-radius:0.165rem;
    border:none;
    outline: none;
    font-size:20px;
    font-weight:500;
    color: #fff;
    margin-top:0.166rem;
    text-align: center;
    line-height: 0.34rem;
}
.dialog-baowindow .close-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top:2.7rem;
    left: 0;
    right: 0;
    margin:auto;
}
.dialog-baowindow .xieyi-content .close-btn{
    top:3.4rem;
}
/*协议内容弹窗*/
.xieyi-content{
    width:84%;
    height: 3.2rem;
    background: #fff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin:auto;
    display: none;
}
.xieyi-content>div p.tit{
    text-align: center;
    color: #333;
    font-weight: bold;
}
.xieyi-content .tit-content{
    padding-top:0.162rem;
}
.xieyi-content .xieyi-tit{
    width:110px;
    height:11px;
    margin: 0 auto;
    text-align: center;
    white-space:nowrap;
    background:rgba(231,217,196,0.6);
    border:0px solid rgba(92,95,102,1);
    position: relative;
    top:-10px;
}
.xieyi-content .xieyi-detail{
    font-size: 0.11rem;
    height: 2.48rem;
    padding:0.1rem;
    overflow-y: auto;
}
.weight{
    font-weight: bold;
}
.fuwu-list .p-inner-appentry{
    margin-top: 0;
    background: none;
    padding: 0;
}
.success-box .p-inner-appentry{
    padding: 0;
}