*{ padding: 0;margin: 0; }
a {text-decoration: none;}
ul,ol {list-style:none;}
header{
    display: none;
}
.jisuanqi {
    border-radius: 0.043rem;
    background: #d3d3cb;
    margin: 0.213rem 0.171rem 0;
    overflow: hidden;
}

.jisuanqi-hd {
    height: 0.341rem;
    margin: 0.085rem 0.043rem 0;
    border: 2px solid #363636;
    border-radius: 0.043rem;
    background: #d3d3cb;
}

.num {
    font-size: 0.213rem;
    color: #333;
    font-weight: bold;
    text-align: right;
    margin-right: 0.128rem;
    line-height: 0.341rem;
}

.num-gray {
    color: #d3d3cb;
}

.num-unit {
    font-size: 0.128rem;
}

.jisuanqi-bd {
    margin: 0.085rem;
    overflow: hidden;
}

.jisuanqi-bd text {
    width: 33.3%;
    display: block;
    float: left;
    font-size: 0.145rem;
    line-height: 0.299rem;
}

.jisuanqi-bd text:nth-child(3), .jisuanqi-bd text:nth-child(6) {
    text-align: right;
}

.jisuanqi-bd text:nth-child(2), .jisuanqi-bd text:nth-child(5) {
    text-align: center;
}

.formbd {
    margin: 0 0.171rem;
    height: auto;
    padding-top: 0.128rem;
}

.c-zb-city {
    padding: 0 0.128rem;
    box-sizing: border-box;
    height: 0.341rem;
    line-height: 0.341rem;
    width: 100%;
    text-align: left;
    background: rgba(243, 243, 243, 1);
    font-size: 0.119rem;
    color: #333;
    border-radius: 0.034rem;
    margin-bottom: 0.128rem;
}

.select-con {
    height: 0.341rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.select-con img {
    width: 0.094rem;
    height: 0.119rem;
    margin-right: 0.085rem;
}

button::after {
    border: 0;
    -webkit-border: 0;
}

.mianjizk {
    width: 100%;
    position: relative;
}

.mianji, .jzbj {
    width: 100%;
    height: 0.341rem;
    line-height: 0.341rem;
    background: rgba(243, 243, 243, 1);
    border-radius: 0.034rem;
    margin-bottom: 0.128rem;
    box-sizing: border-box;
    padding: 0 0.128rem;
    font-size: 0.119rem;
    border: none;
    outline: none;
    color: #333;
}

.pingf {
    position: absolute;
    line-height: 0.341rem;
    top: 0;
    right: 0.128rem;
    z-index: 9;
    font-size: 0.119rem;
    display: inline-block;
    color: #999;
}

.checkButton {
    width: 100%;
    padding: 0 0.171rem;
    margin-top: 0.128rem;
    margin-bottom: 0.171rem;
    height: 0.384rem;
    line-height: 0.384rem;
    text-align: center;
    background: rgba(240, 62, 72, 1);
    border-radius: 0.034rem;
    box-sizing: border-box;
    font-size: 0.137rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

/* 样式 */

.back {
    width: 100%;
    height: 2.022rem;
    overflow: hidden;
}

.back img {
    display: block;
    width: 100%;
    height: 2.022rem;
}

.contain {
    width: 2.944rem;
    margin: -0.213rem auto 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0.085rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.128rem;
    z-index: 999;
    position: relative;
}

.backone {
    width: 100%;
    margin: 0.171rem auto;
    height: 1.899rem;
    background: #fbe3a0;
    padding: 0.171rem 0.128rem 0.213rem;
    box-sizing: border-box;
}

.backone img {
    width: 100%;
    height: 1.536rem;
}

.backtwo {
    margin-bottom: 0.213rem;
}

.backtwo .title {
    width: 100%;
    height: 0.316rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.205rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.backtwo .title img {
    display: block;
    width: 0.282rem;
    height: 0.141rem;
    padding: 0 0.085rem;
}

.backtwo .tips {
    position: relative;
    width: 1.237rem;
    height: 0.213rem;
    line-height: 0.213rem;
    text-align: center;
    margin: 0.085rem auto 0.213rem;
    font-size: 0.119rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.backtwo .tips img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.backtwo img {
    width: 2.944rem;
    height: 1.28rem;
    display: block;
}

.backthree {
    width: 100%;
    background: #fbe3a0;
    margin-bottom: 0.128rem;
    padding-top: 0.213rem;
}

.backthree .title {
    width: 100%;
    height: 0.316rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.205rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.backthree .title img {
    display: block;
    width: 0.282rem;
    height: 0.141rem;
    padding: 0 0.085rem;
}

.backthree .tips {
    position: relative;
    width: 1.084rem;
    height: 0.213rem;
    line-height: 0.222rem;
    text-align: center;
    margin: 0.085rem auto 0.213rem;
    font-size: 0.119rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.backthree .tips text {
    color: #ff6c00;
}

.backthree .tips img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.backthree .imgs {
    width: 2.893rem;
    height: 1.301rem;
    margin: 0 auto;
    display: block;
}

.login {
    width: 92%;
    height: 0.384rem;
    background: rgba(240, 62, 72, 1);
    border-radius: 0.034rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.137rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto 0.128rem;
}
/*免责声明*/

/*添加滚动数字 S*/
.money-img{
    height: 0.512rem;
    background: url("/assets/mobile/luodiye/img/jisuanqi.png");
    background-size: 100% 100%;
}
.money-img span{
    display: inline-block;
    color: #1A1A1A;
    margin-top: 28px;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 12px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(../img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num{
    width: 22px;
    height: 38px;
    background: url(../img/num.png) no-repeat;
    background-size: 1250%;
    float: left;
    margin-right: 4px;
    margin-top: 0.13rem;
}
.num-gray{background-position: 39px 0 !important;}
.num-0{background-position: 0px 0 !important;}
.num-1{background-position: -27px 0 !important;}
.num-2{background-position: -58px 0 !important;}
.num-3{background-position: -87px 0 !important;}
.num-4{background-position: -114px 0 !important;}
.num-5{background-position: -140px 0 !important;}
.num-6{background-position: -169px 0 !important;}
.num-7{background-position: -199px 0 !important;}
.num-8{background-position: -224px 0 !important;}
.num-9{background-position: -255px 0 !important;}

/*添加滚动数字 E*/

