*{ padding: 0;margin: 0; }
a {text-decoration: none;}
ul,ol {list-style:none;}
#numberID{text-align: center;height: 25px;}
.box {height:50px;position:relative;width:92%;margin:0 auto;border-radius: 25px;overflow: hidden;transform: rotate(0deg);}
.wrap{min-width: 320px;max-width:768px;margin:0 auto;overflow:hidden;position:relative;}
.wrapper {position:relative;height:48px;line-height:50px;overflow: hidden;margin:0 auto;border:1px solid #ccc;border-radius:25px;}
.wrapper .scroller {position:absolute;padding:0 48% 0 50%;}
.wrapper .scroller li {float: left;width:50px;height:13px;line-height:13px;text-align: center;font-style: none;margin: 0 20px; padding:30px 0 10px;position:relative;}
.wrapper .scroller li>span{display:block;border-left:1px solid #ccc;width:100%;height:100%;}
.wrapper .scroller li span i {display:inline-block;font-size:12px; font-style:normal;position:absolute;top:7px;left:-10px;}
.wrapper .scroller li.ml5 span i{left:-5px;}
.pillar {display:inline-block;width:6px;height:100%;border-radius:10px;background:red;position:absolute;z-index:2;left:50%;margin-left:-3px;}

.scroller ul li span span{
    display: block;
    float: left;
    width:4px;
    height: 6px;
    border-right: 1px solid #ccc;
    margin-top:6px;
}
.scroller ul li span span:nth-child(6){
    height: 9px;
    margin-top:3px;
}
#wrapper1 .scroller ul li:last-child>span span{
    display: none;
}

img{
    width:100%;
}
header{
    display: none;
}
.jisuanqi-banner{
    width:100%;
}
.jisuanqi-banner img{
    width:100%;
}
.jisuanqi-fandan{
    background:#fff;
    padding:0 0.12rem;
}
.jisuanqi-form{
    background:#fff;
    box-shadow:0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    border-radius:16px;
    padding: 0.3rem 0 0.15rem;
    position: relative;
    top:-0.15rem;
}
.jisuanqi-form .form-tit{
    font-weight: bold;
    text-align:center;
    margin-bottom:0.15rem;
}
.red{
    color:red;
}
.jisuanqi-form .mianji-tips{
    font-size:13px;
    font-weight:bold;
    color:#999;
    margin: 0 10px 10px;
}
.mianji-warn{
    margin:0 10px;
}
.city-warn,.tel-warn,.mianji-warn,.city-warn1,.tel-warn1{
    font-size:0.1rem;
    visibility: hidden;
}
.m-bj-edit li{
    margin-bottom: 0;
}
#shenming{
    margin:0 10px;
}
.m-bj-edit .jsq-city,.m-bj-edit li .jsq-tele,.m-bj-edit .jsq-city1,.m-bj-edit li .jsq-tele1{
    height:0.342rem;
    background: #F3F3F3;
    border-radius:4px;
    border: none;
    outline: none;
}
.jisuanqi-form .save-submit{
    font-size: 0.12rem;;
    height: 48px;
    line-height: 48px;
    font-weight:800;
    color:#fff;
    background: #DB2B2B;
    border-radius:4px;
}
.worry-tit{
    margin:0 auto;
    width:75%;
}
.worry-result{
    font-size:0.12rem;
    font-weight:bold;
    color:#000;
    text-align: center;
    margin:0.08rem 0 0.16rem 0;
}
.resolve-imgs{
    margin-bottom: 0.17rem;
}
.resolve-imgs ul{
    white-space:nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {display:none}
.resolve-imgs ul li{
    display: inline-block;
    width:116px;
    height: 166px;
    margin-right: 10px;
}
.resolve-imgs ul li:first-child{
    margin-left: 4%;
}
.worry,.zixun{
    width:92%;
    margin:0 auto;
}
.review-fangan{
    font-size:0.16rem;
    font-weight:bold;
    color:#000;
    text-align: center;
    margin:0.2rem 0 0.16rem 0;
}
.zero-sheji{
    display: block;
    width:92%;
    margin:0 auto;
    height:0.374rem;
    background:#DB2B2B;
    border-radius:4px;
    border:none;
    outline: none;
    font-size: 0.12rem;
    color:#fff;
    font-weight: bold;
    margin-bottom: 0.16rem;
}
.zx-resolve{
    width:100%;
    background: url("/assets/mobile/luodiye/img/resolve_bg.png") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0.14rem;
}
.zx-resolve .resolve{
    width:33%;
    margin:0 auto;
    padding-top:0.18rem;
}
.jisuanqi-track{
    background: #F8F8F8;
    padding-bottom: 0.08rem;
}
.jisuanqi-track .track{
    width:33%;
    margin:0 auto;
    padding-top:0.21rem;
}
.track-tit{
    font-size:0.12rem;
    font-weight:bold;
    color:#000;
    text-align: center;
    margin:0.08rem 0 0.16rem 0;
}
.track-one{
    position: relative;
    height: 1.01rem;
    margin: 0 0.08rem 2px 0.08rem;
}
.track-left{
    width: 1.48rem;
    height: 1.01rem;
    position: relative;
    top:0;
    left: 0;
    background: url("/assets/mobile/luodiye/img/left_bg.png") no-repeat;
    background-size:100% 100%;
}
.track-left p,.track-left button{
    margin-left: 0.1rem;
}
.track-left-tit{
    font-size: 18px;
    font-weight: 800;
    color: #000;
    padding-top: 0.13rem;
    margin-bottom: 0.03rem;
}
.track-left-des{
    font-size: 12px;
    color: #999999;
    margin-bottom: 0.155rem;
}
.track-btn{
    width:75px;
    height:26px;
    background:#DB2C2C;
    border-radius:13px;
    font-size:13px;
    font-weight:800;
    color:#fff;
    border:none;
    outline: none;
}
.track-right{
    width:1.87rem;;
    height: 1.01rem;
    position: absolute;
    top:0;
    right:0;
}
.track-left2{
    width:1.87rem;;
    height: 1.01rem;
    position: relative;
    top:0;
    left: 0;
}
.track-right2{
    width: 1.48rem;
    height: 1.01rem;
    position: absolute;
    top:0;
    right: 0;
    background: url("/assets/mobile/luodiye/img/right_bg.png") no-repeat;
    background-size:100% 100%;
}
.track-right2 .alright{
    text-align: right;
    margin-right: 0.1rem;
}
.track-right2 .nombt{
    margin-bottom: 0;
}
.lijiget{
    width:75px;
    height:26px;
    background:#DB2C2C;
    border-radius:13px;
    font-size:13px;
    font-weight:800;
    color:#fff;
    border:none;
    outline: none;
}
.fuwu-liucheng{
    background: #fff;
    padding-bottom: 0.12rem;
}
.liucheng-img{
    width:26%;
    margin:0.16rem auto 0.24rem;
}
.fuwu-liucheng ul{
    overflow: hidden;
    position: relative;
}
.fuwu-liucheng ul li{
    width:25%;
    float: left;
}
.fuwu-liucheng ul li div{
    text-align: center;
    margin-bottom: 0.1rem;
}
.fuwu-liucheng ul li img{
    width: 0.513rem;
    height: 0.513rem;
}
.fuwu-liucheng ul li p{
    font-size:13px;
    font-weight:500;
    color:#000;
    text-align: center;
}
.fuwu-liucheng ul img.jiantou{
    width:7px;
    height: 10px;
    position: absolute;
    top: 0.22rem;
}

/*彈窗內容*/
.jisuanqi-window{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    background:rgba(0,0,0,0.5);
    z-index: 99999;
    display: none;
}
.dialog-content{
    width:92%;
    height: 2.28rem;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background: #fff;
    border-radius:17px;
}
.dialog-tit{
    padding:0.17rem;
    font-size:0.16rem;
    color:#333;
    font-weight: bold;
}
.dialog-tit .close-dia{
    font-size: 0.2rem;
    position: absolute;
    right: 0.17rem;
    cursor: pointer;
}
.dialog-content .m-bj-edit{
    margin:0 0.17rem;
}
#shenming2{
    margin:0 0.17rem;
}
.jisuanqi-window .dia-save-submit{
    margin:0.07rem 0.17rem;
    background: #DB2C2C;
    font-size: 0.12rem;
    font-weight: bold;
    border-radius:4px;
    height: 0.389rem;
    display: block;
    color: #fff;
    line-height: 0.389rem;
    text-align: center;
}
