*{
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ul,ol {
    list-style:none;
}
img{
    width: 100%;
}
/*头部*/
.header-company{
    font-size: 19px;
    font-weight: bold;
    margin-left: 0.35rem;
}
#m-header-tit{
    position: absolute;
    width: 100%;
    top: 0;
    margin-left: -5px;
    font-size: 16px;
}
.new-kefu-erji{
    display: none;
}
#m-nav-switch{
    display: none;
}
.sheji-bg{
    background: #F3F3F3;
    padding: 0.14rem;
}
.sheji-box{
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.sheji-box .success-tit{
    text-align: center;
    padding-top: 0.16rem;
    margin-bottom: 0.24rem;
}
.sheji-box .success-tit img{
    width: 0.303rem;
    height: 0.303rem;
    margin-right: 5px;
}
.sheji-box .success-tit .get-success{
    font-size: 0.2rem;
    font-weight: bold;
    display: inline-block;
    height: 0.303rem;
    line-height: 0.303rem;
}
.sheji-bg .heavy{
    font-weight: bold;
}
.sheji-box .success-des{
    font-size: 0.116rem;
    text-align: left;
    padding: 0 0.24rem;
    padding-bottom: 0.35rem;
}
.success-des .tele{
    color: #FF7D00;
}
.jsqsuccess-thanks{
    padding:0.2rem 0;
    background: #fff;
    border-radius: 6px;
}
.thanks-tit{
    font-weight: bold;
    color:#333;
    text-align: center;
    font-size:0.16rem;
    margin-bottom: 0.08rem;
}
.thanks-des{
    font-size:0.13rem;
    text-align: center;
    margin-bottom: 0.14rem;
}
.jsqsuccess-checked{
    overflow: hidden;
    margin-bottom: 0.06rem;
}
.jsqsuccess-checked li{
    width: 35%;
    float: left;
    margin-left: 10%;
    margin-bottom: 0.14rem;
}
.jsqsuccess-checked li img{
    width:13px;
    height: 13px;
    position: relative;
    top: -3px;
}
.jsqsuccess-checked li span{
    font-size: 13px;
}
