*{ padding: 0;margin: 0; }
a {text-decoration: none;}
ul,ol {list-style:none;}
#numberID{text-align: center;height: 25px;font-size: 0.179rem;margin-bottom: 0.171rem;}
.box {height:50px;position:relative;width:92%;margin:0 auto;border-radius: 25px;overflow: hidden;transform: rotate(0deg);}
.wrap{min-width: 320px;max-width:768px;margin:0 auto;overflow:hidden;position:relative;}
.wrapper {position:relative;height:48px;line-height:50px;overflow: hidden;margin:0 auto;border:1px solid #ccc;border-radius:25px;}
.wrapper .scroller {position:absolute;padding:0 48% 0 50%;}
.wrapper .scroller li {float: left;width:50px;height:13px;line-height:13px;text-align: center;font-style: none;margin: 0 20px; padding:30px 0 10px;position:relative;}
.wrapper .scroller li>span{display:block;border-left:1px solid #ccc;width:100%;height:100%;}
.wrapper .scroller li span i {display:inline-block;font-size:12px; font-style:normal;position:absolute;top:7px;left:-10px;}
.wrapper .scroller li.ml5 span i{left:-5px;}
.pillar {display:inline-block;width:6px;height:100%;border-radius:10px;background:red;position:absolute;z-index:2;left:50%;margin-left:-3px;}

.scroller ul li span span{
    display: block;
    float: left;
    width:4px;
    height: 6px;
    border-right: 1px solid #ccc;
    margin-top:6px;
}
.scroller ul li span span:nth-child(6){
    height: 9px;
    margin-top:3px;
}
#wrapper1 .scroller ul li:last-child>span span{
    display: none;
}
header{
    display: none;
}
.new-kefu-erji,.m-header-right{
    display: none;
}
img{
    width:100%;
}
header .m-header-tit{
    padding-left: 0.135rem;
}
.jisuanqi-banner{
    width:100%;
}
.jisuanqi-banner img{
    width:100%;
}
.jisuanqi-fandan{
    background:#fff;
    padding:0 0.12rem;
}
.jisuanqi-form{
    background:#fff;
    box-shadow:0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    border-radius:16px;
    padding: 0.171rem 0 0.1rem;
    position: relative;
    top:-0.2rem;
}
.jisuanqi-form .form-tit{
    font-weight: bold;
    text-align:center;
    font-size: 0.154rem;
    margin-bottom:0.15rem;
}
.red{
    color:red;
}
/*xbaojia2添加滚动数字 S*/
.money-img{
    height: 0.512rem;
    margin: 0.085rem 0.171rem 0.128rem;
    background: url("/assets/mobile/luodiye/img/jisuanqi.png");
    background-size: 100% 100%;
}
.money-img span{
    display: inline-block;
    color: #1A1A1A;
    margin-top: 28px;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 12px;
}
.num{
    width: 16px;
    height: 28px;
    background: url(../img/num.png) no-repeat;
    background-size: 1400%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 5px;
}
.num{
    width: 22px;
    height: 38px;
    background: url(../img/num.png) no-repeat;
    background-size: 1250%;
    float: left;
    margin-right: 4px;
    /*background-position: -63px 0;*/
    margin-top: 0.13rem;
}
.num-gray{background-position: 39px 0 !important;}
.num-0{background-position: 0px 0 !important;}
.num-1{background-position: -27px 0 !important;}
.num-2{background-position: -58px 0 !important;}
.num-3{background-position: -87px 0 !important;}
.num-4{background-position: -114px 0 !important;}
.num-5{background-position: -140px 0 !important;}
.num-6{background-position: -169px 0 !important;}
.num-7{background-position: -199px 0 !important;}
.num-8{background-position: -224px 0 !important;}
.num-9{background-position: -255px 0 !important;}

/*xbaojia2添加滚动数字 E*/
.jisuanqi-form .mianji-tips{
    font-size:13px;
    font-weight:bold;
    color:#999;
    margin: 0 10px 10px;
}
.mianji-warn{
    margin:0 10px;
}
.city-warn,.tel-warn,.mianji-warn,.city-warn1,.tel-warn1{
    font-size:0.095rem;
    visibility: hidden;
}
.m-bj-edit{
    margin: 0 0.171rem;
}
.m-bj-edit li{
    margin-bottom: 0;
}
#shenming{
    margin:0 0.171rem;
}
.fa-map-marker{
    display: none;
}
.m-bj-edit .map{
    display: block;
    width: 0.125rem;
    height: 0.125rem;
    position: absolute;
    top: 0.129rem;
    left: 10px;
    z-index: 99;
}
.m-bj-edit .jsq-city,.m-bj-edit li .jsq-tele,.m-bj-edit .jsq-city1,.m-bj-edit li .jsq-tele1,.m-bj-edit li .jsq-mianji{
    height:0.389rem;
    color: #333;
    background: #F3F3F3;
    border-radius:4px;
    font-size: 0.115rem;
    border: none;
    outline: none;
    padding-left: 10px;
}
.jisuanqi-form .save-submit{
    border-radius:4px;
    display: block;
    margin:10px 0.171rem;
}
.total-num{
    text-align: center;
    font-size: 0.119rem;
    color: #666666;
}
.jisuanqi-worry{
    margin-top:0.069rem;
    padding-bottom: 0.27rem;
}
.worry-tit{
    margin:0 auto;
    width:75%;
}
.worry-result{
    font-size:0.128rem;
    color:#000;
    text-align: center;
    margin:0.08rem 0 0.16rem 0;
}
.resolve-imgs{
    margin-bottom: 0.1rem;
}
.resolve-imgs ul{
    white-space:nowrap;
    overflow-x: auto;
}
::-webkit-scrollbar {display:none}
.resolve-imgs ul li{
    display: inline-block;
    width:116px;
    height: 166px;
    margin-right: 10px;
}
.resolve-imgs ul li:first-child{
    margin-left: 4%;
}
.worry{
    width:92%;
    margin:0 auto;
}
.review-fangan{
    font-size:0.16rem;
    font-weight:bold;
    color:#000;
    text-align: center;
    margin:0.2rem 0 0.16rem 0;
}
.zero-sheji{
    display: block;
    width:92%;
    margin:0 auto;
    height:0.384rem;
    background:#F3BC5A;
    border-radius:4px;
    border:none;
    outline: none;
    font-size: 0.154rem;
    color:#714113;
    font-weight: bold;
    margin-bottom: 0.16rem;
}
.zx-resolve{
    width:100%;
    background: url("/assets/mobile/luodiye/img/resolve_bg.png") no-repeat;
    background-size: 100% 100%;
    padding-bottom: 0.14rem;
}
.zx-resolve .resolve{
    width:33%;
    margin:0 auto;
    padding-top:0.18rem;
}
.jisuanqi-track{
    background: #F8F8F8;
    padding-bottom: 0.145rem;
}
.jisuanqi-track .track{
    width:33%;
    margin:0 auto;
    padding-top:0.21rem;
}
.track-tit{
    font-size:0.128rem;
    color:#000;
    text-align: center;
    margin-top:0.08rem;
}
.fanji{
    width: 92%;
    margin: 0.1rem auto 0;
}
.fuwu-liucheng{
    background: #fff;
    padding-bottom: 0.273rem;
}
.liucheng-img{
    width:26%;
    margin:0.16rem auto 0.24rem;
}
.fuwu-liucheng ul{
    overflow: hidden;
    position: relative;
}
.fuwu-liucheng ul li{
    width:25%;
    float: left;
}
.fuwu-liucheng ul li div{
    text-align: center;
    margin-bottom: 0.1rem;
}
.fuwu-liucheng ul li img{
    width: 0.513rem;
    height: 0.513rem;
}
.fuwu-liucheng ul li p{
    font-size:13px;
    font-weight:500;
    color:#000;
    text-align: center;
}
.fuwu-liucheng ul img.jiantou{
    width:7px;
    height: 10px;
    position: absolute;
    top: 0.22rem;
}

/*滚动信息*/
.g-msg {
    width: 100%;
    position: fixed;
    top: 6em;
    left: 0;
    height: 3em;
    z-index: 2;
    font-size: .8em;
}
.g-msg .msg {
    width: 85%;
    position: absolute;
    top: 3em;
    top: 5em;
    background-color: rgba(0,0,0,.5);
    height: 3em;
    line-height: 3em;
    margin-left: 10px;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    color: #fff;
    display: none;
}
.msg img{
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    overflow: hidden;
    margin:0 1.2%;
    margin-top: .9%;
    float: left;
}
