*{
    margin:0;
    padding:0;
}
.new-kefu-erji,.m-header-right{
    display: none;
}
.jsqsuccess{
    border-bottom: 0.13rem solid #F8F8F8;
    padding-bottom: 0.2rem;
}
.jsqsuccess-tit{
    margin-top:0.2rem;
    text-align: center;
    font-size: 0.16rem;
}
.jsqsuccess-tit span{
    font-weight: bold;
}
.red{
    color:red;
}
.jsqsuccess-result{
    text-align: center;
    position: relative;
}
.jsqsuccess-result img{
    width:84%;
    margin-top:0.625rem;
}
.jsqsuccess-result>div{
    position:absolute;
    font-size: 0.1rem;
    font-weight: bold;
}
.jsqsuccess-result .wsj{
    top: 0.28rem;
    left: 0.66rem
}
.jsqsuccess-result .cf{
    top: 0.35rem;
    right: 0.82rem;
}
.jsqsuccess-result .kt{
    top: 0.8rem;
    right: 0.3rem;
}
.jsqsuccess-result .sd{
    top: 1.43rem;
    right: 0.45rem;
}
.jsqsuccess-result .ws{
    top: 1.5rem;
    left: 0.6rem;
}
.jsqsuccess-result .qt{
    top: 0.9rem;
    left: 0.3rem;
}
.jsqsuccess-tips{
    font-size: 13px;
    color:#999;
    margin-top:0.19rem;
    padding-left: 0.18rem;
}
.jsqsuccess-thanks{
    padding:0.2rem 0;
}
.thanks-tit{
    font-weight: bold;
    color:#333;
    text-align: center;
    font-size:0.16rem;
    margin-bottom: 0.08rem;
}
.thanks-des{
    font-size:0.13rem;
    text-align: center;
    margin-bottom: 0.14rem;
}
.jsqsuccess-checked{
    overflow: hidden;
    margin-bottom: 0.06rem;
}
.jsqsuccess-checked li{
    width: 35%;
    float: left;
    margin-left: 10%;
    margin-bottom: 0.14rem;
}
.jsqsuccess-checked li img{
    width:13px;
    height: 13px;
    position: relative;
    top: -3px;
}
.jsqsuccess-checked li span{
    font-size: 13px;
}
/*隐藏底部app*/
.footer-app-download{
    display: none;
}
