*{ padding: 0;margin: 0; }
a {text-decoration: none;}
ul,ol {list-style:none;}
#wrapper1 .scroller ul li:last-child>span span{
    display: none;
}
img{
    width:100%;
}
.zxfw-banner{
    position: relative;
}
.zxfw-banner>div{
    width: 100%;
    position: absolute;
    bottom: -4px;
}
.zxfw-box .zxfw-tit{
    width: 48%;
    height: 0.205rem;
    line-height: 0.205rem;
    background: url("/assets/mobile/luodiye/img/tit_bg.png") no-repeat center center;
    background-size: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.205rem;
    color: #A37932;
    font-weight: bold;
    font-style:italic;
    margin-bottom: 0.05rem;
}
.zxfw-box #zxfuli{
    color: #EAB56C;
    background: url("/assets/mobile/luodiye/img/fuli_bg.png") no-repeat center center;
    background-size: 100%;
}
.zxfw-banner .zxfw-cctv{
    text-align: center;
    position: relative;
}
.zxfw-banner .zxfw-cctv img{
    width: 0.077rem;
    height: 0.077rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.zxfw-banner .zxfw-cctv span{
    font-size: 0.137rem;
    color: #A37932;
    margin: 0 0.081rem 0 0.15rem;
}
.zxfw-vedio{
    width: 92%;
    overflow: hidden;
    margin: 0.171rem auto;
}
.zxfw-pingtai{
    height: 1.485rem;
    position: relative;
    background: url("/assets/mobile/luodiye/img/pingtai-bg.png");
    background-size: 100% 100%;
}
.zxfw-pingtai p{
    text-align: center;
    color: #fff;
}
.zxfw-pingtai .pingtai-tit{
    font-size: 0.171rem;
    padding-top: 0.25rem;
    margin-bottom: 0.064rem;
}
.zxfw-pingtai .pingtai-des{
    font-size: 0.119rem;
}
.zxfw-pingtai .line{
    width: 0.529rem;
    height: 0.026rem;
    background: #CFA670;
    margin: 0.12rem auto 0;
}
.zxfw-pingtai .pingtai-icon{
    width: 92%;
    height: 0.922rem;
    background: url("/assets/mobile/luodiye/img/icons-bg.png");
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 1.033rem;
    margin: auto;
}
.pingtai-icon ul{
    height: 100%;
}
.pingtai-icon ul li{
    display: inline-block;
    width: 25%;
    float: left;
}
.pingtai-icon ul li div{
    width: 0.589rem;
    height: 0.589rem;
    background: url("/assets/mobile/luodiye/img/icon-bg.png");
    background-size: 100% 100%;
    margin-top: 0.171rem;
    margin-left: 0.07rem;
}
.pingtai-icon ul li p{
    font-size: 0.081rem;
    color:rgba(255,255,255,1);
    background:linear-gradient(0deg,rgba(107,76,44,1) 0%, rgba(78,44,16,1) 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.pingtai-icon ul li p:nth-child(1){
    padding-top: 0.11rem;
}
.pingtai-icon ul li p .heavy{
    font-size: 0.183rem;
    font-weight: bold;
}
.zxfw-baozhang{
    margin-top: 0.469rem;
    padding-top: 0.299rem;
    position: relative;
}
.baozhang-list{
    width: 92%;
    height: 1.212rem;
    margin: 0 auto;
    margin-top: 0.171rem;
    position: relative;
    background: url("/assets/mobile/luodiye/img/bzbg1.png");
    background-size: 100% 100%;
    box-shadow: rgba(0,0,0,0.1)  0px 0px 10px;
}
.zxfw-baozhang .bz-bg{
    background: url("/assets/mobile/luodiye/img/bzbg2.png");
    background-size: 100% 100%;
}
.baozhang-list .bz-img{
    width: 0.93rem;
    height: 0.93rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.141rem;
    margin: auto;
}
.baozhang-list .bz-right{
    padding-left: 1.156rem;
    padding-top: 0.15rem;
}
.bz-right .bz-tit{
    font-size: 0.154rem;
    color: #4F2D11;
    font-weight: bold;
    text-align: left;
}
.bz-right .bz-des{
    font-size: 0.102rem;
    color: #A57F58;
    margin-bottom: 0.04rem;
}
.bz-list ul li{
    display: inline-block;
    width: 38%;
    padding-left: 0.094rem;
    position: relative;
}
.bz-list ul li img{
    width: 0.068rem;
    height: 0.068rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.bz-list ul li span{
    font-size: 0.102rem;
    color: #666;
}
.bz-list ul.koubei li{
    width: 55%;
}
.zxfw-baozhang .baozhang-bg1{
    width: 1.293rem;
    height: 1.31rem;
    position: absolute;
    left: 0;
    top: -5px;
}
.zxfw-baozhang .baozhang-bg2{
    width: 1.225rem;
    height: 1.169rem;
    position: absolute;
    right: 0;
    top: 2.321rem;
}
.zxfw-fuwu,.zxfw-fuli{
    position: relative;
}
.zxfw-fuwu .position{
    position: absolute;
    top: 0.853rem;
    left: 0;
    right: 0;
}
.zxfw-fuwu a,.zxfw-fuwu span{
    width: 0.8rem;
    height: 0.3rem;
    position: absolute;
}
.zxfw-fuwu a.more{
    top: 2.405rem;
    left: 0.4rem;
}
.zxfw-fuwu span.worksite{
    bottom: 0.185rem;
    right: 0.533rem;
    z-index: 999;
    cursor: pointer;
}
.zxfw-fuli .position{
    position: absolute;
    top: 0.414rem;
    left: 0;
    right: 0;
}
.zxfw-fuli .open-app{
    width: 0.909rem;
    height: 0.213rem;
    position: absolute;
    bottom: 0.299rem;
    right: 0.179rem;
    z-index: 999;
    cursor: pointer;
}
.sheji-free{
    width: 0.589rem;
    height: 0.657rem;
    position: fixed;
    z-index: 9999;
    top: 3.95rem;
    right: 0;
    animation: rotate 1s linear infinite;
}
@keyframes rotate{
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(10deg)
    }
    50% {
        transform: rotate(0deg)
    }
    75% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
/*弹窗*/
.zxfw-dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(0,0,0,0.6);
    display: none;
}
.zxfw-dialog .zxfw-content{
    width: 2.688rem;
    height: 2.368rem;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.zxfw-content .dia-tit{
    width: 1.933rem;
    height: 0.316rem;
    margin: 0 auto;
    position: relative;
    top: -0.064rem;
}
.zxfw-fadan{
    margin-top: 0.107rem;
}
.m-bj-edit{
    margin:0 0.128rem;
}
.m-bj-edit li{
    margin-bottom: 0.128rem;
}
.m-bj-edit button{
    color: #333 !important;
}
.m-bj-edit li .c-zb-city,.m-bj-edit li .m-row-int1{
    height: 0.384rem;
    border: none;
    outline: none;
    background: #EDF1F3;
    border-radius: 6px;
}
.sheji-btn{
   display: block;
    width: 100%;
    height: 0.384rem;
    border-radius: 6px;
    background: #C5A771;
    border: none;
    outline: none;
    font-size: 0.154rem;
    color: #fff;
}
.close-btn{
    width: 0.316rem;
    height: 0.316rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 2.624rem;
    margin: auto;
}
.fadan-success{
    width: 0.922rem;
    height: 0.341rem;
    text-align: center;
    line-height: 0.341rem;
    border-radius: 0.034rem;
    color: #fff;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: none;
}








