<extend name="Main:baseTemplate" />
<block name="title">
    <title>齐装网后台 - 控制台</title>
</block>
<block name="style">
<link rel="stylesheet" href="/assets/common/js/plugins/artdialog/ui-dialog.css?v={:C('STATIC_VERSION')}" />
<link rel="stylesheet" href="/assets/common/js/plugins/validation/css/validationEngine.jquery.css?v={:C('STATIC_VERSION')}">
</block>

<block name="content">
    <section class="content-header">
        <h1>主站-标签页管理 > <eq name="info.info.id" value="">新增<else/>编辑</eq>标签</h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 控制面板</a></li>
            <li><a href="/thematic/">主站-标签页管理 ><eq name="info.info.id" value="">新增<else/>编辑</eq>标签</h1></a></li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-default color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-tag"></i> 主站-标签页管理 > <eq name="info.info.id" value="">新增<else/>编辑</eq>标签</h1></h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <form id="form" action="javascript:void(0)" method="POST">
                            <div class="tab-content">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label><span class="red">*</span>标签名称</label>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <input type="input" class="form-control validate[required]" name="name" placeholder="请输入标签名称" maxlength="20" id="name" value="{$info.info.name}" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span class="red">*</span>标签栏目</label>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <select name="module" id="keyword_module" class="form-control" >
                                                    <option value="">请选择</option>
                                                    <option value="1">装修攻略</option>
                                                    <option value="2">装修百科</option>
                                                    <option value="3">装修问答</option>
                                                    <option value="4">分站咨询</option>
                                                    <option value="5">家装美图</option>
                                                    <option value="6">工装美图</option>
                                                    <option value="7">案例效果图</option>
                                                    <option value="99">其他</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><span class="red">*</span>标签类型</label>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <select name="type" id="type" class="form-control" >
                                                    <option value="">请选择</option>
                                                    <option value="1">图文</option>
                                                    <option value="2">图片</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>标题Title：</label>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <input type="input" class="form-control" name="title" placeholder="请输入标题Title" maxlength="90" id="title" value="{$info.info.title}" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>关键词Keywords：</label>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <input type="input" class="form-control" name="keywords" placeholder="请输入关键词Keywords" maxlength="180" id="keywords" value="{$info.info.keywords}" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>描述Description：</label>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <textarea class="form-control" name="description" placeholder="请输入描述Description" maxlength="540" id="description">{$info.info.description}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>是否推荐至热门知识：</label>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <select name="is_hot" id="is_hot" class="form-control" >
                                                    <option value="0">否</option>
                                                    <option value="1">是</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <button type="button" class="btn btn-primary btn-save">保存</button>
                                    <button type="button" class="btn btn-default back">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="script">
    <script src="/assets/common/js/plugins/artdialog/dialog.min.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/validation/js/jquery.validationEngine_zh_CN.js?v={:C('STATIC_VERSION')}"></script>
    <script src="/assets/common/js/plugins/validation/js/jquery.validationEngine.js?v={:C('STATIC_VERSION')}"></script>
    <script type="text/javascript">
        $('.back').click(function(){
            window.location.href = '/thematic/'
        });
        $('select[name=module]').val('{$info.info.module|default=""}');
        $('select[name=isxiongzhang]').val('{$info.info.isxiongzhang|default="0"}');
        $('select[name=is_hot]').val('{$info.info.is_hot|default="0"}');
        $('select[name=type]').val('{$info.info.type|default=""}');

        if ('' != '{$info.info.id}') {
            $('select[name=keyword_module]').attr('disabled', 'disabled');
            $('select[name=isxiongzhang]').attr('disabled', 'disabled');
            $('input[name=href]').attr('disabled', 'disabled');
            $('select[name=type]').attr('disabled', 'disabled');
        };

        // 自定义参数调用
        $('#form').validationEngine('attach', {
            promptPosition: 'centerRight',
            autoHidePrompt: true,
            autoHideDelay: '2000',
            scroll: true
        });


        $('.btn-save').click(function(){
            if(! $('#form').validationEngine('validate')){
                return false;
            }
            var id = '{$Think.get.id}';
            $.ajax({
                url: '/thematic/operate/',
                type: 'POST',
                dataType: 'JSON',
                data: {
                    id:id,
                    module:$('select[name=module]').val(),
                    type:$('select[name=type]').val(),
                    name:$('#name').val(),
                    title:$('#title').val(),
                    keywords:$('#keywords').val(),
                    description:$('#description').val(),
                    isxiongzhang:$('#isxiongzhang').val(),
                    is_hot:$('#is_hot').val(),
                }
            })
            .done(function(data) {
                if(data.status == '1'){
                    var e = dialog({
                        title: '消息',
                        content: data.info,
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {
                            window.location.href = '/thematic';
                        }
                    });
                    e.show();
                }else{
                    var e = dialog({
                        title: '消息',
                        content: data.info,
                        okValue: '确 定',
                        quickClose: true,
                        ok: function () {}
                    });
                    e.show();
                }
            })
            .fail(function(xhr) {
                var e = dialog({
                    title: '消息',
                    content: '操作失败,请联系技术部门！',
                    okValue: '确 定',
                    quickClose: true,
                    ok: function () {}
                });
                e.show();
            })
        })


        $("input[name=name]").blur(function () {
            setTdk();
        });

        $("#type").change(function(){
            if ($(this).val() != "") {
                setTdk();
            }
        });

        function setTdk(){
            var replace_name = $("input[name=name]").val();
            var title = replace_name;
            var keyword = replace_name

            if ($("#type").val() == "2") {
                var description = "齐装网"+replace_name+"专区,收集整理精美的"+replace_name+"图片大全,供广大业主装修时参考,更多的"+replace_name+"尽在齐装网装修效果图栏目。";
            } else {
                var description = "齐装网"+replace_name+"专区,提供"+replace_name+"相关的资讯，供广大业主装修时参考,更多的"+replace_name+"尽在齐装网栏目。";
            }

            $("input[name=title]").val(title);
            $("input[name=keywords]").val(keyword);
            $("[name=description]").val(description);
        }
    </script>
</block>
