.box-body h4{
    font-weight: 700;
}
.info-tab{
    margin:15px;
    border-bottom: 1px #ccc solid;
    height: 30px;
    position: relative;
}
.info-tab span,.info-tab a{
    position: absolute;
    top: 1px;
    left: 10px;
    z-index: 5;
    background: #fff;
    display: inline-block;
    padding:5px 10px;
    border: 1px #ccc solid;
    border-bottom: none;
    cursor: pointer;
    color:#666;
}
.info-tab .navRight{
    position: absolute;
    top:0px;
    left: 180px;
    border-bottom: 1px #ccc solid;
}
.info-tab a{
    margin:0 10px;
}
.info-tab span.active{
    color:#3c8dbc;
    margin-left: 10px;
}
.w30{
    width:30%;
    margin-bottom: 15px;
}
.w50{
    width:50%;
    margin-bottom: 15px;
}
.yes{
    margin-right: 15px;
}
.info-btn a{
    margin-top: 18px;
    padding: 6px 24px;
    outline:none;
    display: inline-block;
}
.info-btn a:first-child{
    margin-right: 10px;
}
.info-btn a.cancel-btn{
    background:#fff;
    border: 1px #ccc solid;
    color:#666;
}


