.box-body h4{
    font-weight: 700;
}
.tit-btn button{
    margin-right: 10px;
}
#biaodantj .btn {
    margin-top: 18px;
    margin-right: 10px;
    padding: 6px 24px;
}
.table-tit{
    margin-top:15px;
    margin-left:15px;
    margin-bottom:15px;
}
.table-tit button{
    padding: 6px 15px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px #ccc solid;
    background: #fff;
}
.table th input,.table th label{
    margin:0;
}
.edit{
    color:#3c8dbc;
    margin-right:10px;
    cursor: pointer;
}
.delete{
    color:red;
    margin-left:10px;
    cursor: pointer;
}
